<template>        
    <template if:true={typeSuccess}>     
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1"  class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <div style="height:4rem">
                    <div class="slds-notify_container slds-is-relative">
                        <div class="slds-notify slds-notify_toast slds-theme_success" role="status">
                            <span class="slds-assistive-text">success</span>
                            <span class="slds-icon_container slds-icon-utility-success slds-m-right_small slds-no-flex slds-align-top">
                                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                    <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#success"></use>
                                </svg>
                            </span>
                            <div class="slds-notify__content">
                                <h2 class="slds-text-heading_small">{message}</h2>
                            </div>
                            <div class="slds-notify__close">
                                <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close" onclick={handleClose}>
                                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                        <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div> 
    </template>
    <template if:true={typeError}>     
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container"> 
                <div class="demo-only" style="height:4rem">
                    <div class="slds-notify_container slds-is-relative">
                        <div class="slds-notify slds-notify_toast slds-theme_error" role="status">
                            <span class="slds-assistive-text">error</span>
                            <span class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top">
                                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                    <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#error"></use>
                                </svg>
                            </span>
                            <div class="slds-notify__content">
                                <h2 class="slds-text-heading_small">{message}</h2>
                            </div>
                            <div class="slds-notify__close">
                                <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close" onclick={handleClose}>
                                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                        <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div> 
    </template>
    <template if:true={typeWarning}>     
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container"> 
                <div style="height:4rem">
                    <div class="slds-notify_container slds-is-relative">
                        <div class="slds-notify slds-notify_toast slds-theme_warning" role="status">
                            <span class="slds-assistive-text">warning</span>
                            <span class="slds-icon_container slds-icon-utility-warning slds-m-right_small slds-no-flex slds-align-top">
                                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                    <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#warning"></use>
                                </svg>
                            </span>
                            <div class="slds-notify__content">
                                <h2 class="slds-text-heading_small">{message}</h2>
                            </div>
                            <div class="slds-notify__close">
                                <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close" onclick={handleClose}>
                                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                        <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div> 
    </template>
    <template if:true={typeInfo}>         
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container"> 
                <div style="height:4rem">
                    <div class="slds-notify_container slds-is-relative">
                        <div class="slds-notify slds-notify_toast slds-theme_info" role="status">
                            <span class="slds-assistive-text">info</span>
                            <span class="slds-icon_container slds-icon-utility-info slds-m-right_small slds-no-flex slds-align-top">
                                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                    <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#info"></use>
                                </svg>
                            </span>
                            <div class="slds-notify__content">
                                <h2 class="slds-text-heading_small">{message}</h2>
                            </div>
                            <div class="slds-notify__close">
                                <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close" onclick={handleClose}>
                                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                        <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div> 
    </template> 
</template>