<!--  Queue List Front Desk --> 
 <template>
    <lightning-card title="Queue">
        <lightning-datatable                
            hide-checkbox-column="true"
            data={record}
            columns={tblRecColumns}
            key-field="id"                                
            onrowaction={handleQueueRowAction}
            >
        </lightning-datatable>
    </lightning-card>
</template>
<!--  Queue List Front Desk -->