<template>
    <template if:true={toast}>               
        <c-toast-message vmsg={msgToast} vtype={typeToast} onclose={handleClose} ></c-toast-message>                   
    </template>
    <lightning-card title="Information To Merge" icon-name="standard:merge">
        <div class="slds-clearfix slds-m-bottom_x-large" >  
            <div class="slds-align_absolute-center">                  
                <button class="slds-button slds-button_neutral" title="Refresh the Queue" onclick={handleRefresh}>
                    <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                        <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#refresh"></use>
                    </svg>Refresh
                </button>
            </div>
        </div>        
        <!-- {agency} -->
        <div class="slds-m-around_medium slds-align_absolute-center">                                
            <lightning-datatable                           
                max-row-selection=1
                data={wiredPosQueue.data}
                columns={contactColumns}                 
                key-field="id"
                resize-column-disabled                
                style="min-width: 800px;  width: 100% !important"
                selected-rows={preSelectedRows}               
                onrowselection={handleRowSelection}>
            </lightning-datatable>                                                               
        </div> 
        <div class="slds-m-around_medium slds-align_absolute-center" if:true={isToMerge}>
            <table class="slds-table slds-table_cell-buffer slds-table_bordered" style="max-width: 1100px;">                      
                <thead>
                    <tr class="slds-line-height_reset">
                        <th scope="col">
                            <div class="slds-truncate" >                                  
                                Campus                                    
                            </div>                                    
                        </th>
                        <th scope="col">
                                <div class="slds-truncate" >                                  
                                New Value                                    
                            </div>                                    
                        </th>
                        <th scope="col">
                                <div class="slds-truncate" >                                
                                Select                                   
                            </div>                                    
                        </th>
                        <th scope="col">
                                <div class="slds-truncate" >                            
                                Current Value                                    
                            </div>                                    
                        </th>    
                    </tr>                        
                </thead>                   
                <tbody>
                    <tr class="slds-hint-parent" for:each={wiredNew} for:item="n" key={n.jsonValue}>
                        <th scope="row">
                            <div class="slds-truncate">
                                <span>{n.jsonLabel}</span>                            
                            </div>                                                    
                        </th> 
                        <th scope="row">                            
                            <div if:true={n.fieldDisable}>
                                <span>{n.jsonValue}</span>
                            </div>
                            <div if:false={n.fieldDisable}>
                                <div if:true={n.dateType}>
                                    <lightning-input type="date" class="iptLine" name={n.jsonValue} value={n.jsonValue} data-item={n.objName}></lightning-input>   
                                </div>
                                <div if:true={n.picklistNati}>  
                                    <lightning-input name={n.jsonValue} autocomplete="off" onmouseover={handleExit} type="search" value={nationalitySelected} 
                                                    onchange={handleNationalityChange} onfocus={handleNationalityFocus}
                                                    data-item={nationalitySelected} class="iptLine slds-m-bottom_small"></lightning-input>
                                    <template if:true={isNat}>
                                        <lightning-layout class="cls-layout">            
                                            <lightning-layout-item padding="around-medium"> 
                                                <div class="slds-m-around_medium">
                                                    <div class="container-parents" onmouseleave={handleExit}>
                                                        <div for:each={crsNationality} key={naa} for:item="naa" class="itemParent">                            
                                                            <div key={naa} data-item={naa} class="itemVl cls-parent" onclick={handleNationalityClicked}>{naa}</div>                                                            
                                                        </div>   
                                                    </div>
                                                </div>                   
                                            </lightning-layout-item> 
                                        </lightning-layout>
                                    </template>  
                                </div>                                    
                                <div if:true={n.picklistVisa}>
                                    <lightning-input type="search" onchange={handleVisaTypeChange} name={n.jsonValue} onmouseover={handleExit}
                                    value={typeVisaSelected} data-item={typeVisaSelected} onfocus={handleTypeVisaFocus}  class="iptLine slds-m-bottom_small"></lightning-input>
                                    <template if:true={isVisa}>
                                        <lightning-layout class="cls-layout">            
                                            <lightning-layout-item padding="around-medium"> 
                                                <div class="slds-m-around_medium">
                                                    <div class="container-parents" onmouseleave={handleExit}>
                                                        <div for:each={crsTypeVisa} key={naa} for:item="naa" class="itemParent">                            
                                                            <div key={naa} data-item={naa} class="itemVl cls-parent" onclick={handleVisaTypeClicked}>{naa}</div>                                                            
                                                        </div>   
                                                    </div>
                                                </div>                   
                                            </lightning-layout-item> 
                                        </lightning-layout>
                                    </template>
                                </div>
                                <div if:true={n.picklistLead}>                                        
                                    <lightning-input type="search" autocomplete="off" onchange={handleLeadChange} name={n.jsonValue} value={leadSelected} onmouseover={handleExit}
                                    onfocus={handleChannelFocus} data-item={leadSelected} class="iptLine slds-m-bottom_small"></lightning-input>
                                    <template if:true={isLead}>
                                        <lightning-layout class="cls-layout">            
                                            <lightning-layout-item padding="around-medium"> 
                                                <div class="slds-m-around_medium">
                                                    <div class="container-parents" onmouseleave={handleExit}>
                                                        <div for:each={crsLead} key={naa} for:item="naa" class="itemParent">                            
                                                            <div key={naa} data-item={naa} class="itemVl cls-parent" onclick={handleLeadClicked}>{naa}</div>                                                            
                                                        </div>   
                                                    </div>
                                                </div>                   
                                            </lightning-layout-item> 
                                        </lightning-layout>
                                    </template>  
                                </div>
                                <div if:true={n.picklistLeadSpec}>
                                    <lightning-input type="search" autocomplete="off" onchange={handleLeadSpecificChange} name={n.jsonValue} value={leadSpecificSelected} 
                                    onfocus={handlelsSpecificFocus} onmouseover={handleExit} data-item={leadSpecificSelected} class="iptLine slds-m-bottom_small"></lightning-input>
                                    <template if:true={isLeadSpecific}>
                                        <lightning-layout class="cls-layout">            
                                            <lightning-layout-item padding="around-medium"> 
                                                <div class="slds-m-around_medium">
                                                    <div class="container-parents" onmouseleave={handleExit}>
                                                        <div for:each={crsLeadSpecific} key={naa} for:item="naa" class="itemParent">                            
                                                            <div key={naa.value} data-item={naa.value} class="itemVl cls-parent" onclick={handleLeadSpecificClicked}>{naa.value}</div>                                                            
                                                        </div>   
                                                    </div>
                                                </div>                   
                                            </lightning-layout-item> 
                                        </lightning-layout>
                                    </template>
                                </div>
                                <div if:true={n.textType}>
                                    <lightning-input class="iptLine" name={n.jsonValue} value={n.jsonValue} data-item={n.objName} ></lightning-input>
                                </div>                                          
                            </div>                                  
                        </th> 								
                        <th scope="row">
                            <div class="slds-truncate">
                                <span><lightning-input type="checkbox" class="chkLine"  name={n.jsonLabel}  value={n.jsonValue} data-item={n.objName} disabled={n.fieldDisable}></lightning-input></span>
                            </div>                                                     
                        </th> 
                        <th scope="row">
                            <div class="slds-truncate">
                                <span>{n.curValue}</span>
                            </div>                                                   
                        </th> 
                    </tr>
                </tbody>
            </table>                    
        </div>          
        <div class="slds-m-around_medium slds-align_absolute-center" if:true={isToMerge} >
            <lightning-button label="Update" variant="brand" icon-name="utility:save" title="Update Contact" class="slds-button" onclick={handleSubmit}></lightning-button> 
        </div>    
    </lightning-card>
</template>