@charset "utf-8";
/* CSS Document */

body {margin:0px; padding:0px; font-family:Arial,Helvetica,sans-serif; font-size:0.9em; color:#666;}

#PageWrapper {width:99%; margin:5px auto;  overflow:hidden; position:relative;border:thin solid #DDD;}

/* COLUMNS */
#LeftCol 		{float:left; padding:5px; width:190px;}
#ContentCol 	{padding:5px; margin-left:200px;}
.ContentRow 	{padding:3px 5px; margin:2px 0px;}
.ContentFull	{ padding:3px;}
.ContentCol1 	{padding:0px 5px; margin-right:200px;}
.ContentCol2 	{float:right; padding:0px 5px; width:190px;}


/* THEMES */
.ThemeWrapper{ margin:0.5em 0px;}
.ThemeWrapper a {text-decoration:underline;}
.ThemeWrapper a:hover {text-decoration:underline;}
.ThemeWrapper strong, .ThemeWrapper b {font-weight:bold;}
.ThemeTitle{display:block; font-weight:bold; font-size:1em; margin-bottom:0.5em;}
.ThemeSubTitle{display:block; font-weight:bold; font-size:0.9em; margin-bottom:0.5em;}
.ThemePara{display:block; font-weight:normal; font-size:0.8em; line-height:1.5em; margin-bottom:0.5em;}

/* THEMES TABLES */
.ThemeTable { font-size:0.8em;line-height:1.5em;}
.ThemeTable th {font-weight:bold; font-size:1em; margin-bottom:0.5em;text-align:left;}
.ThemeTable th, .ThemeTable td {padding:0.1em;}

/* THEMES COLOURS */
/* THEMES ORANGE */
.ThemeOrange strong,
.ThemeOrange b,
.ThemeOrange .ThemeTable th,
.ThemeOrange .ThemeTitle,
.ThemeOrange .ThemeSubTitle{color:#f59328;}
.ThemeOrange .ThemePara,
.ThemeOrange a,
.ThemeOrange a:hover {color:#666;}
.ThemeOrange .ThemeTable tr.even {}
.ThemeOrange .ThemeTable thead tr, 
.ThemeOrange .ThemeTable tr.odd {background-color:#fff1e6;}

/* THEMES LIGHT BLUE */
.ThemeLightBlue strong,
.ThemeLightBlue b,
.ThemeLightBlue .ThemeTable th,
.ThemeLightBlue .ThemeTitle,
.ThemeLightBlue .ThemeSubTitle{color:#7cb9d6;}
.ThemeLightBlue .ThemePara,
.ThemeLightBlue a,
.ThemeLightBlue a:hover { color:#666;}
.ThemeLightBlue .ThemeTable tr.even {}
.ThemeLightBlue .ThemeTable thead tr,
.ThemeLightBlue .ThemeTable tr.odd {background-color:#f8fcfd;}

/* THEMES BLUE */
.ThemeBlue strong,
.ThemeBlue b,
.ThemeBlue .ThemeTable th,
.ThemeBlue .ThemeTitle,
.ThemeBlue .ThemeSubTitle{color:#005796;}
.ThemeBlue .ThemePara,
.ThemeBlue a,
.ThemeBlue a:hover { color:#666;}
.ThemeBlue .ThemeTable tr.even {}
.ThemeBlue .ThemeTable thead tr,
.ThemeBlue .ThemeTable tr.odd {background-color:#f0f8fb;}

/* THEMES GREEN */
.ThemeGreen strong,
.ThemeGreen b,
.ThemeGreen .ThemeTable th,
.ThemeGreen .ThemeTitle,
.ThemeGreen .ThemeSubTitle{color:#38ab4e;}
.ThemeGreen .ThemePara,
.ThemeGreen a,
.ThemeGreen a:hover { color:#666;}
.ThemeGreen .ThemeTable tr.even {}
.ThemeGreen .ThemeTable thead tr,
.ThemeGreen .ThemeTable tr.odd {background-color:#eaf2da;}

/* THEMES GREY */
.ThemeGrey strong,
.ThemeGrey b,
.ThemeGrey .ThemeTable th,
.ThemeGrey .ThemeTitle,
.ThemeGrey .ThemeSubTitle{color:#737373;}
.ThemeGrey .ThemePara,
.ThemeGrey a,
.ThemeGrey a:hover { color:#666;}
.ThemeGrey .ThemeTable tr.even {}
.ThemeGrey .ThemeTable thead tr,
.ThemeGrey .ThemeTable tr.odd {background-color:#f1f3f2;}




/* SHADOWS and GRADIENTS CSS3 ONLY*/
.shadowGrey {
  -moz-box-shadow: 3px 3px 3px #DDD;
  -webkit-box-shadow: 3px 3px 3px #DDD;
  box-shadow: 3px 3px 3px #DDD;
}

.bgGradGrey{
	background-image: -moz-linear-gradient(
		center bottom,
		#DDD 2%,
		#FFF 45%);
	background-image: -webkit-gradient(
		linear,left bottom,left top,
		color-stop(0.02, #DDD),
		color-stop(0.45, #FFF)	);
}


/* CORNERS */
.ThinGreyCorner,.ThinGreyBorder {border:thin solid #DDD;}


/* FIXES */
.clearer{}
.bgWhite{ background-color:#FFF !important;}
