<template>
    <lightning-card title={title} icon-name="custom:custom15">
        <div class="chartjs-wrapper">
            <div if:true={showNoResult} class="slds-text-color_destructive slds-align_absolute-center">
                No result found
            </div>  
            <canvas class="tar" lwc:dom="manual"></canvas>
        </div>
    </lightning-card>    
</template>