<template>
    <div class="droppable drop-container" ondragover={handleDragOver} ondrop={handleDrop} >   
        <div class="task-header">{element}</div>
        <template for:each={tasklist} for:item="task">
            <c-lwc-dashboard-item key={task.id} task={task}
            r-filter={filterData} has-element={hasEl} r-apply={applyData}
            onitemdrag={handleItemDrag} onitemapply={handleItemApply}></c-lwc-dashboard-item>            
        </template>
    </div>    
</template>