<template>
    <div class="draggable" draggable="true" ondragstart={itemDragStart}>        
        <div class="horizontalList" if:false={hasElement}>            
            {task.name}
        </div>              
        
        <div if:true={hasElement1} >
           <!-- <c-lwc-total-contact-rep cr-data={rFilterEl1} title={settingFilter1}></c-lwc-total-contact-rep> -->
           <c-lwc-sales-rep cr-data={rFilterEl1} title={settingFilter1}></c-lwc-sales-rep>
        </div>     
        
        <div if:true={hasElement2}>
            <c-lwc-stage-status-total-rep cr-data={rFilterEl2} title={settingFilter2} ></c-lwc-stage-status-total-rep>
        </div>
         
        <div if:true={hasElement3}>  
            <c-lwc-total-tasks-rep cr-data-n={rFilterEl3} title-n={settingFilter3} cr-data-p={rFilterEl4}  title-p={settingFilter4} 
                                   cr-data-s={rFilterEl5} title-s={settingFilter5} ></c-lwc-total-tasks-rep>
        </div>        
        <div if:true={hasElement4} >
            <c-lwc-sales-rep cr-data={rFilterEl6} title={settingFilter6}></c-lwc-sales-rep>
        </div>  

        <div if:true={hasElement5} >
            <c-lwc-sales-rep cr-data={rFilterEl7} title={settingFilter7}></c-lwc-sales-rep>
        </div>  

        <div if:true={hasElement6} >
            <c-lwc-sales-rep cr-data={rFilterEl8} title={settingFilter8}></c-lwc-sales-rep>
        </div>  
        
        <div if:true={hasElement7} >
            <c-lwc-sales-rep cr-data={rFilterEl9} title={settingFilter9}></c-lwc-sales-rep>
        </div> 

        <div if:true={hasElement8} >
            <c-lwc-sales-target-rep cr-data={rFilterEl10} title={settingFilter10}></c-lwc-sales-target-rep>
        </div> 

        <div if:true={hasElement9}>
            <c-lwc-stage-status-total-rep cr-data={rFilterEl11} title={settingFilter11} ></c-lwc-stage-status-total-rep>          
        </div>   

        <div if:true={hasElement10}>
            <c-lwc-sales-rep cr-data={rFilterEl12} title={settingFilter12} ></c-lwc-sales-rep>          
        </div>    
        
        <div if:true={hasElement11} >
            <c-lwc-sales-rep cr-data={rFilterEl13} title={settingFilter13}></c-lwc-sales-rep>
        </div> 

        <div if:true={hasElement12}>
            <c-lwc-stage-status-total-rep cr-data={rFilterEl14} title={settingFilter14} ></c-lwc-stage-status-total-rep>          
        </div> 

        <div if:true={hasElement13}>
            <c-lwc-sales-rep cr-data={rFilterEl15} title={settingFilter15} ></c-lwc-sales-rep>          
        </div> 

        <div if:true={hasElement14}>
            <c-lwc-stage-status-total-rep cr-data={rFilterEl16} title={settingFilter16} ></c-lwc-stage-status-total-rep>          
        </div> 

        <div if:true={hasElement15}>
            <c-lwc-stage-status-total-rep cr-data={rFilterEl17} title={settingFilter17} ></c-lwc-stage-status-total-rep>          
        </div> 

        <div if:true={hasElement16}>
            <c-lwc-stage-status-total-rep cr-data={rFilterEl18} title={settingFilter18} ></c-lwc-stage-status-total-rep>          
        </div> 

        <div if:true={hasElement17}>
            <c-lwc-stage-status-total-rep cr-data={rFilterEl19} title={settingFilter19} ></c-lwc-stage-status-total-rep>          
        </div> 
        <div if:true={hasElement18}>
            <c-lwc-stage-status-total-rep cr-data={rFilterEl20} title={settingFilter20} ></c-lwc-stage-status-total-rep>          
        </div> 
        <div if:true={hasElement19}>
            <c-lwc-stage-status-total-rep cr-data={rFilterEl21} title={settingFilter21} ></c-lwc-stage-status-total-rep>          
        </div> 
    </div>
</template>