<template>
    <div class="slds-notification-container" if:true={hasNewMessage}>
        <section class="slds-notification" role="dialog" aria-labelledby="noti52" aria-describedby="dialog-body-id-43">
            <div class="slds-notification__body" id="dialog-body-id-43">
                <a class="slds-notification__target slds-media" href="javascript:void(0);" onclick={dismissNotification}>
                    <span class="slds-icon_container slds-icon-standard-event slds-media__figure" title="event">
                        <svg class="slds-icon slds-icon_small" aria-hidden="true">
                            <use xlink:href="/_slds/icons/standard-sprite/svg/symbols.svg#event"></use>
                        </svg>
                    </span>
                    <div class="slds-media__body">
                        <h2 class="slds-text-heading_small slds-m-bottom_xx-small" id="noti52" style="color: #D81921;">
                            A new message just arrived.
                        </h2>
                    </div>
                </a>
                <button class="slds-button slds-button_icon slds-button_icon-container slds-notification__close" title="Dismiss Tesla - Renewal meeting notification" onclick={dismissNotification}>
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Dismiss Tesla - Renewal meeting notification</span>
                </button>
            </div>
        </section>
    </div>
    <table class="container-chats">
        <tr>
            <td class="td-latest-messages" if:true={latestMessagesOpen} style="height: 100%; width: 25%;">
                <div if:true={hasLatestMessages}>
                    <div class="container-header slds-clearfix">
                        <h1>{totalLatestMessages} Chats</h1>
                    </div>
                    <div class="wrapper-container-message" for:each={latestMessages} for:item="contact" key={contact.id} style="border-bottom: 1px solid #c5c5c5;">
                        <div class="container-message" data-key={contact.id} onclick={retrieveClientChat}>
                            <table>
                                <tr>
                                    <td style="width: 1px;">
                                        <img class="contact-photo" src={contact.photo}/>
                                    </td>
                                    <td>
                                        <table class="message-infos" style="margin-left: 5px;">
                                            <tr>
                                                <td>
                                                    <a style="font-weight: bold;">{contact.name}</a>
                                                </td>
                                                <td style="text-align: right; font-size: .7rem; color: #7b7b7b;">
                                                    {contact.lastMessage.createdDate}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="container-latest-message">
                                                        {contact.lastMessage.message}
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="text-align: center; margin-bottom: 5px;">
                            <button data-key={contact.id} onclick={markMessageAsRead} class="slds-button slds-button_text-destructive button-xsmall">Mark as Read</button>
                        </div>
                    </div>
                    <!-- <table>
                        <tr for:each={latestMessages} for:item="contact" key={contact.id} data-key={contact.id} onclick={openClientChat}>
                            <td>
                                <div class="container-message">
                                    <table>
                                        <tr>
                                            <td style="width: 1px;">
                                                <img class="contact-photo" src={contact.photo}/>
                                            </td>
                                            <td>
                                                <table class="message-infos" style="margin-left: 5px;">
                                                    <tr>
                                                        <td>
                                                            <a style="font-weight: bold;">{contact.name}</a>
                                                        </td>
                                                        <td style="text-align: right; font-size: .7rem; color: #7b7b7b;">
                                                            {contact.lastMessage.createdDate}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <div class="container-latest-message">
                                                                {contact.lastMessage.message}
                                                            </div>
                                                            <div style="text-align: center;">
                                                                <button onclick={markMessageAsRead} class="slds-button slds-button_text-destructive button-xsmall">Mark as Read</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table> -->
                </div>
                <div if:false={hasLatestMessages} style="text-align: center;">
                    <b>NO NEW MESSAGES.</b>
                </div>
            </td>
            <td style="height: 100%;">
                <div id="whatsapp-chat" if:true={chatOpen} class="whatsapp-chat">
                    <div class="chat-header" style="clear: both">
                        <div style="padding-right: 10px; float: left;">
                            <img class="contact-photo" src={contactChat.photo}/>
                        </div>
                        <div style="float: left;">
                            <div><b>{contactChat.name}</b> ({contactChat.phone})</div>
                            <div if:true={chatHasLastMessage} style="color: #9c9c9c;">Last message on {lastMessage}</div>
                        </div> 
                    </div>
                    <div id="chat-messages" class="chat-messages">
                        <div class="load-older-messages" onclick={loadOlderMessages} if:true={showLoadMore}>
                            Load older messages
                        </div>
                        <ul class="slds-chat-list">
                            <li id={message.id} for:each={chatMessages} for:item="message" key={message.id} class={message.liClass}>
                                <div class="slds-chat-message">
                                    <span if:true={message.showAvatar} aria-hidden="true" class="slds-avatar slds-avatar_circle slds-chat-avatar">
                                        <abbr class="slds-avatar__initials slds-avatar__initials_inverse" style="text-transform: uppercase;">{contactChat.initials}</abbr>
                                    </span>
                                    <div class="slds-chat-message__body">
                                        <div class={message.messageBodyClass}>
                                            <svg if:true={message.messageFailed} class="slds-icon slds-icon_x-small slds-icon-text-default slds-icon-text-default" aria-hidden="true">
                                                <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#error"></use>
                                            </svg>&nbsp;
                                            <span if:true={message.isText}>{message.message}</span>
                                            <video if:true={message.isAudio} width="320" height="20" controls name="media">
                                                <source src={message.mediaUrl} type="audio/ogg">
                                            </video>
                                            <a if:true={message.isImage} href={message.mediaUrl} target="popup" class="openLinkNewTab">
                                                <img src={message.mediaUrl} style="width: 320px; height: auto;"></img>
                                            </a>
                                            <a if:true={message.isFile} href={message.mediaUrl} target="popup" class="openLinkNewTab">
                                                <embed src={message.mediaUrl} style="width: 320px; height: 200px;"/>
                                                <div>
                                                    {message.message} - Open in another tab 
                                                </div>
                                            </a>
                                            <a if:true={message.isLocation} href={message.mediaUrl} target="popup" class="openLinkNewTab">
                                                <embed src={message.mediaUrl} style="width: 320px; height: 200px;"/>
                                                <div>
                                                    Location - Open in another tab 
                                                </div>
                                                <!-- <svg class="slds-icon slds-icon_large slds-icon-text-default slds-icon-text-default" aria-hidden="true">
                                                    <use xlink:href="/_slds/icons/standard-sprite/svg/symbols.svg#location"></use>
                                                </svg> -->
                                            </a>
                                            <a if:true={message.isVideo} href={message.mediaUrl} target="popup" class="openLinkNewTab">
                                                <embed src={message.mediaUrl} style="width: 320px; height: auto;"/>
                                                <div>
                                                    Video - Open in another tab 
                                                </div>
                                            </a>
                                        </div>
                                        <div class={message.metaclass}>
                                            <div style="color: #D81921 !important;" if:true={message.messageFailed}>This message could not be delivered.</div>
                                            <div if:true={message.showCreatedBy}>
                                                <span>{message.createdBy} {message.createdByAgency} •</span> {message.createdDate}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat-input">
                        <table class="table-chat-input">
                            <tbody>
                                <tr>
                                    <td colspan="2" style="padding-left: 10px; padding-top: 2px;">
                                        <div style="margin-top: 10px;">
                                            <button onclick={openCloseAttach} class="slds-button slds-button_outline-brand button-small button-attach-document" if:true={hasDocuments}>
                                                <svg class="slds-button__icon_stateful slds-button__icon_left" aria-hidden="true">
                                                    <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#attach"></use>
                                                </svg>
                                                Attach a Document
                                            </button>
                                            <button onclick={openCloseTemplate} class="slds-button slds-button_outline-brand button-small button-attach-document" if:true={hasTemplates}>
                                                <svg class="slds-button__icon_stateful slds-button__icon_left" aria-hidden="true">
                                                    <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#page"></use>
                                                </svg>
                                                Send from Template
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- <td style="width: 1%; vertical-align: middle; padding: 0px; padding-left: 10px;">
                                        <a class="open-whatsapp-emojis" onclick={openWhatsappEmojis}>
                                            <svg class="slds-icon slds-icon-text-default slds-icon_small" aria-hidden="true" style="fill: #f2cf5b;">    
                                                <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#smiley_and_people"></use>
                                            </svg>
                                        </a>
                                    </td> -->
                                    <td style="vertical-align: middle; padding: 0px 10px;">
                                        <lightning-textarea class="textarea-input-message" id="inputMessage" name="inputMessage" placeholder="Type here your message." value={newMessage} onchange={handleChange}></lightning-textarea>
                                        <!-- <textarea value={newMessage} onchange={handleChange} class="inputMesage slds-textarea" placeholder="Type here your message. Press windows + period (.) to open the emoji keyboard." ></textarea> -->
                                    </td>
                                    <td style="width: 1%; vertical-align: middle; padding: 0px; padding-right: 10px;">
                                        <button onclick={sendMessageToClient} title="Click here to send your message." class="slds-button slds-button_icon slds-input__icon slds-input__icon_right">
                                            <svg class="slds-icon slds-icon-text-default" aria-hidden="true" style="fill: rgb(0, 109, 204);">    
                                                <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#send"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Click here to send your message.</span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div id="attach-a-document" class="demo-only" if:true={showAttachModal}>
        <section class="slds-modal slds-fade-in-open" role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container" style="width: 55%; max-width: 40rem; min-width: 20rem;">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={openCloseAttach}>
                        <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                            <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                        </svg>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Attach a document</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <div class="slds-grid slds-wrap">
                        <div id="container-attachments" class="slds-col slds-size_1-of-1 slds-large-size_1-of-1">
                            <p>Click in one of the options below to attach a link to the document in the message:</p>
                            <hr style="margin: .5rem 0 1rem 0;"></hr>
                            <lightning-accordion allow-multiple-sections-open>
                                <lightning-accordion-section for:each={chatDocuments} for:item="documents" for:index="index" name={documents.name} key={documents.name} label={documents.name}>
                                    <ul class="attachment-documents">
                                        <li for:each={documents.docs} for:item="document" for:index="index2" key={document.name} onclick={attachDocument} data-parentindex={index} data-index={index2}>
                                            {document.name}
                                            <div if:true={document.hasQuotation} class="doc-sub-infos" style="margin-bottom: 10px;">
                                                <div for:each={document.quotationCourses} for:item="quotation" key={quotation.id}>
                                                    <div><b>{quotation.course} - {quotation.campus}</b></div>
                                                    <div>{quotation.city}, {quotation.country}</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </lightning-accordion-section>    
                            </lightning-accordion>
                        </div>
                    </div>
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={openCloseAttach}>Cancel</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
    <div id="whatsapp-templates" class="demo-only" if:true={showTemplateModal}>
        <section class="slds-modal slds-fade-in-open" role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container" style="width: 55%; max-width: 40rem; min-width: 20rem;">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={openCloseTemplate}>
                        <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                            <use  xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                        </svg>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 class="slds-text-heading_medium slds-hyphenate">Choose a template</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium">
                    <lightning-accordion allow-multiple-sections-open>
                        <lightning-accordion-section for:each={chatTemplates} for:item="template" for:index="index" name={template.name} key={template.name} label={template.name}>
                            <div class="container-template" style="clear: both;">
                                <div style="float: left">
                                    <div><b>Description: </b>{template.description}</div>
                                    <div><b>Content:</b></div>
                                </div>
                                <div style="float: right;">
                                    <button class="slds-button slds-button_outline-brand button-small" title="Send this template" onclick={sendTemplate} data-index={index}>
                                        Send Template
                                    </button>
                                </div>
                                <textarea class="slds-textarea" disabled="disabled" rows="5">{template.template}</textarea>
                                <!-- <div class="template-content"></div> -->
                            </div>
                        </lightning-accordion-section>    
                    </lightning-accordion>
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={openCloseTemplate}>Cancel</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</template>