.container-chats, .whatsapp-chat{
    height: 100% !important;
}
.whatsapp-chat{
    background-color: #eee;
}
.chat-header{
    height: 60px;
    padding: 10px;
    background-color: #eee;
    border-bottom: 1px solid #d2d2d2;
}
.chat-input textarea{
    padding-left: 20px;
}
.chat-header .contact-photo{
    width: 40px !important;
    height: 40px !important;
    max-width: 40px !important;
    border-radius: 42px !important;
}
.slds-scope .slds-textarea{
    background-color: yellow !important;
}
.slds-scope .slds-textarea:focus{
    background-color: blue !important;
}
.chat-messages{
    height: calc(76vh - 141px);
    max-height: calc(76vh - 141px);
    overflow: hidden;
    overflow-y: auto;
    /*padding: 10px 5px;
    padding-top: 0px;*/
    padding-bottom: 10px;
    background-color: white !important;
    border-bottom: 1px solid #d2d2d2;
}
.load-older-messages{
    text-align: center;
    padding: 7px;
    background-color: #eff4ff;
    cursor: pointer;
    border-bottom: 1px solid #b6ccfa;
}
.load-older-messages:hover{
    background-color: #e9eef8;
    font-weight: bold;
}
.chat-input{
    background-color: #eee;
}
.slds-chat-message__text_outbound, .slds-chat-message__text_inbound{
    color: black !important;
}
.slds-chat-message__text{
    -webkit-box-shadow: 0px 0px 2px 0px rgba(119,119,120,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(119,119,120,1);
    box-shadow: 0px 0px 2px 0px rgba(119,119,120,1);
}
.slds-avatar__initials{
    font-weight: bold !important;
}
.slds-chat-message__text_delivery-failure{
    color: #D81921 !important;
}
.slds-chat-message__text_delivery-failure svg{
    fill: #D81921 !important;
}
.slds-chat-message__text_outbound {
    margin-left: auto;
    background-color: #c7ff9b !important;
}

.container-chats .button-small{
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    /*margin: 5px 0px 2px 0px !important;*/
    line-height: 1.5rem !important;
}

.attachment-header{
    cursor: pointer;
    text-transform: uppercase;
    /*text-align: center;*/
    font-weight: bold;
    background-color: #dcdcdc;
    padding: 2px 0px;
    padding-left: 10px;
    margin-top: 10px;
}
.attachment-documents li{
    padding: 2px 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #005fb2;
    cursor: pointer;
}
.attachment-documents li:hover{
    background-color: #eee;
}

.button-attach-document{
    margin-right: 10px !important;
}

.container-header{
    border-bottom: 1px solid rgb(21, 137, 238);
}

.container-header h1{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-bottom: 5px;
    letter-spacing: .0625em;
}
.whatsapp-message{
    font-size: .75rem;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.template-content{
    background-color: #eee;
    padding: 10px 5px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;   
}

.container-message{
    padding: 10px 5px 0px 5px;
    clear: both;
}

.container-message:hover{
    background-color: #eee;
    cursor: pointer;
}

.container-latest-message{
    margin-top: 3px;
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-small{
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    line-height: 1.5rem !important;
}

.td-latest-messages > div{
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    border-right: 1px solid rgb(217, 219, 221);
}

.contact-photo{
    width: 60px !important;
    height: 60px !important;
    max-width: 60px !important;
    border-radius: 42px !important;
}
.container-message > .contact-photo{
    width: 50px !important;
    height: 50px !important;
    max-width: 50px !important;  
}
.button-xsmall{
    padding-left: .25rem !important;
    padding-right: .25rem !important;
    line-height: 1rem !important;
}

/*
.button-send{
    padding: 10px !important; 
    border-radius: 32px !important;
}
.button-send-disabled{
    background-color: rgb(195, 195, 195); 
}
.button-send-whatsapp{
    cursor: pointer;
    background-color: rgb(0, 95, 178); 
}
.button-send-whatsapp:hover{
    background-color: rgb(3, 65, 119);
}
.message-failed{
    background-color: #D81921 !important;
}

.chat-messages{
    height: 100%;
}
.contact-chat-name{
    text-align: center;
    font-weight: bold !important;
    font-size: 1.2em !important;
    margin: 10px 0px !important;
}
.container-header{
    border-bottom: 1px solid rgb(21, 137, 238);
    margin-bottom: 10px;
}
.container-message{
    padding-top: 10px;
    padding-left: 10px;
}
.contact-photo{
    width: 60px !important;
    height: 60px !important;
    max-width: 60px !important;
    border-radius: 42px !important;
}
.contact-name{
    font-size: .825rem;
}
.message{
    padding-top: 5px;
}
.whatsapp-message{
    font-size: .75rem;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}
.message-read{
    color: rgb(21, 137, 238);
}
.chat-opened td{
    background-color: #e8f1ff;
}
.row-message{
    cursor: pointer;
}
.row-message:hover{
    background-color: #eee;
}
.new-message{
    font-weight: bold;
}
.alert-new-message{
    text-align: center;
    margin-top: 5px;
}
.message-sent-time{
    text-align: right;
}
.message-received-time{
    text-align: left;
}
/*.button-small{
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    margin: 5px 0px 2px 0px !important;
    line-height: 1.5rem !important;
}
.attachment-header{
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #dcdcdc;
    padding: 2px 0px;
    padding-left: 10px;
    margin-top: 10px;
}
.attachment-documents li{
    padding: 2px 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #005fb2;
    cursor: pointer;
}
.attachment-documents li:hover{
    background-color: #eee;
}
.container-template-details{
    padding: 2px;
}*/