<apex:component controller="ccCalendar_ryniere" >

	<apex:stylesheet value="{!URLFOR($Resource.ipstyles,'ipstyles/calendar.css')}"/>

	<apex:includeScript value="{!URLFOR($Resource.ipscripts,'ipscripts/2.8.0r4/utilities.js')}" />	
	<apex:includeScript value="{!URLFOR($Resource.ipscripts,'ipscripts/2.8.0r4/yahoo-dom-event.js')}" />		
	<apex:includeScript value="{!URLFOR($Resource.ipscripts,'ipscripts/2.8.0r4/calendar-min.js')}" />	
	
	<apex:includeScript value="{!$Resource.jquery}"/> 
	<apex:includeScript value="{!$Resource.jqueryBlockUI}" />
	<script src="https://code.jquery.com/ui/1.8.24/jquery-ui.js"></script>
  
	<apex:attribute name="SelectedDatesList"
		type="string"
		required="true"
	description="Return the list of selected dates"/>
	
	<apex:attribute name="dateCSV"
		type="string"
		description="Receive a list of dates in comma spareted values in the format YYYY/MM/DD to render in the Calendar"
	assignTo="{!inStringDateListCSV}" />


	<apex:attribute name="From"
		type="Date"
		required="false"
		description="From date "
	 />
	
	<apex:attribute name="aAccountID"
		type="string"
		required="false"
		description="AccountID"
	assignTo="{!AccountID}" />	
	
	<apex:attribute name="To"
		type="Date"
		required="false"
		description="To date "
	assignTo="{!ToDate}" />	
	
	<apex:attribute name="ShowMonthsNavigation"
		type="boolean"
		required="false"
		description="Show navigation Arrows"
	default="false"/>	
	
	<apex:attribute name="aSelectPastDates"
		type="boolean"
		required="false"
		description="Let select past dates"
		default="false"
	assignTo="{!SelectPastDates}" />
	
	<apex:attribute name="ShowMenuSelectDateRange"
		type="boolean"
		required="false"
		description="Show navigation Arrows"
	default="true"/>
	  
	<apex:attribute name="year"
		type="string"
		required="false"
		description="Year of calendar"
	/>
	
	
	<style>
		.calInactive {color:#999;}
		.calToday {color:#99F;}
		.calActive {color:#333;}
		.calSelected {background-color:blue; color:white;}
		.calnavright{display:{!IF(ShowMonthsNavigation,'block','none')}; }
		.calnavleft{display:{!IF(ShowMonthsNavigation,'block','none')}; }

		
		.yui-skin-sam .yui-calendar td.calcell.restricted  {
		background-color:#faa !important; 
		font-weight:bold;
		}
	</style>
	
	
	
	<apex:actionRegion id="dateSelection">
		<apex:outputPanel rendered="{!ShowMenuSelectDateRange}" >
			Select &nbsp;
			<apex:selectList id="weekDay" value="{!inWeekday}" size="1" tabindex="0">
				<apex:selectOptions value="{!WeekdayNamesSelectOption}" />
			</apex:selectList>
			&nbsp; every &nbsp;
			<apex:selectList value="{!WeekFrequency}" size="1">
				<apex:selectOptions value="{!WeekFrequencySelectOption}" />
			</apex:selectList>
			&nbsp; week &nbsp; from &nbsp;
		
			<apex:inputField value="{!auxDate.Price_valid_from__c}" id="valid_from" styleClass="date-mask"  />
			&nbsp; to &nbsp;
			<apex:inputField value="{!auxDate.Price_valid_until__c}" id="valid_to" styleClass="date-mask" />
		
			<apex:commandButton value="Ok" onclick="javascript:if(document.getElementById('{!$Component.valid_from}').value=='' || document.getElementById('{!$Component.valid_to}').value==''){alert('You need to select a start date and a finish date'); return false;}" 
			rerender="scriptSelectDate,dateSelection,selectedDatesArray" action="{!getDaysAndRecur}" status="ipStatus"/>
				
			<script>	
				jQuery(document).ready(function() 
				{	
		
				jQuery(".date-mask").each(function(){
				var d = jQuery(this).val().split('/');
				if(d[0].length==1)
				jQuery(this).val('0' + jQuery(this).val());
				});	
		
		
				jQuery(".date-mask").mask("99/99/9999");
			
				});
				
			j$ = jQuery.noConflict();	
			function showLoading(msg) { 
	        jQuery.blockUI({ 
				message: '<H1>'+msg+'</H1>',
				css: { 
	            border: 'none', 
	            padding: '15px', 
	            backgroundColor: '#000', 
	            '-webkit-border-radius': '10px', 
	            '-moz-border-radius': '10px', 
	            opacity: .5, 
	            color: '#fff' 
	        } }); 
	 
	     }
		
		function hideLoading(){
			jQuery.unblockUI();
		}		
				
			</script>
	
		</apex:outputPanel>		
		
				
	</apex:actionRegion>
	<script>
	
				
</script>
	<div class="yui-skin-sam">
		<apex:commandLink title="Previous year"  action="{!removeYear}" style=" z-index:500; ; " onclick="removeYear()"   status="statusLoad" rerender="scriptSelectDate,instalmentPaymentDatesList">
			<apex:image url="{!URLFOR($Resource.icons,'icons/commons/arrow-left.png')}" />
		</apex:commandLink>
		<apex:commandLink title="Next year"  action="{!addYear}" style="float:right; z-index:500;" onclick="addYear()"  status="statusLoad" rerender="scriptSelectDate,instalmentPaymentDatesList">
			<apex:image url="{!URLFOR($Resource.icons,'icons/commons/arrow-right.png')}" />
		</apex:commandLink>
		<apex:outputPanel id="cal1Container" layout="block"></apex:outputPanel>
	</div>
	<apex:actionRegion >
		<!--	<apex:inputHidden id="selectedDatesArray" value="{!selectedDates}"/>-->
		
		<apex:outputPanel id="scriptSelectDate">
			
			
		
			<apex:inputhidden id="selectedDatesArray" value="{!SelectedDatesList}"  />
			<apex:inputhidden id="year" value="{!year}"  />
			<apex:inputhidden id="inStringDateListCSV" value="{!inStringDateListCSV}"  />
			
			
			<script type="text/javascript">
				
				
				
				YAHOO.namespace("CC.calendar"); 
			 
				YAHOO.CC.calendar.renderHoliday = function(workingDate, cell) {
					YAHOO.util.Dom.addClass(cell, "holiday");
				}
				
				YAHOO.CC.calendar.init = function() { 
					setYUICalendar();
				}
				
				YAHOO.util.Event.onDOMReady(YAHOO.CC.calendar.init); 		 
			
				function setYUICalendar(){
					YAHOO.CC.calendar.cal1 = new YAHOO.widget.CalendarGroup("cal1","{!$Component.cal1Container}",{ MULTI_SELECT:true, PAGES:{!12}}); 
					YAHOO.CC.calendar.cal1.selectEvent.subscribe(mySelectorHandler, YAHOO.CC.calendar.cal1, true); 
					YAHOO.CC.calendar.cal1.deselectEvent.subscribe(mySelectorHandler, YAHOO.CC.calendar.cal1, true); 
					
				
					
					YAHOO.CC.calendar.cal1.cfg.setProperty("DATE_FIELD_DELIMITER", "/"); 
					YAHOO.CC.calendar.cal1.cfg.setProperty("MDY_DAY_POSITION", 3); 
					YAHOO.CC.calendar.cal1.cfg.setProperty("MDY_MONTH_POSITION", 2); 
					YAHOO.CC.calendar.cal1.cfg.setProperty("MDY_YEAR_POSITION", 1); 
				
							
					
					<apex:repeat value="{!selectedDatesStrList}" var="m">
						YAHOO.CC.calendar.cal1.select("{!m}");
					</apex:repeat> 
					
					<apex:repeat value="{!holidayList}" var="h">
						YAHOO.CC.calendar.cal1.addRenderer("{!h}", YAHOO.CC.calendar.cal1.renderBodyCellRestricted);
					</apex:repeat>
					
				
	
					YAHOO.CC.calendar.cal1.setMonth({!FromMonthIndex});
					YAHOO.CC.calendar.cal1.setYear({!FromYear});
					{!FromDateOutOfBounds} 	
					{!ToDateOutOfBounds} 	
	
					
					YAHOO.CC.calendar.cal1.render();
				}
			
			
				var noWeekendsRenderer = function(workingDate, cell) { 
					YAHOO.util.Dom.addClass(cell, "sunday"); 
					return YAHOO.widget.Calendar.STOP_RENDER; 
				} 
		
				function dateToLocaleString(dt) { 
					var dStr = dt.getDate(); 
					var mStr = dt.getMonth()+1; 
					var yStr = dt.getFullYear(); 
					return (yStr + "/" + mStr + "/" + dStr); 
				} 
		
		
				function mySelectorHandler(type,args,obj) { 
					var listStr = '';
					var arrDates = YAHOO.CC.calendar.cal1.getSelectedDates();
				
					for (var i = 0; i < arrDates.length; ++i) {
						var date = arrDates[i];
						if(listStr.length > 0)
						listStr += ",";
						if(dateToLocaleString(date) != 'NaN/NaN/NaN')
						listStr += dateToLocaleString(date);
					}
					
					document.getElementById('{!$Component.selectedDatesArray}').value =  listStr;

				}					
			
					function addYear()
					{
						document.getElementById('{!$Component.year}').value++;
						YAHOO.CC.calendar.cal1.addYears(1);	
					}
					
					function removeYear()
					{
						document.getElementById('{!$Component.year}').value--;
						YAHOO.CC.calendar.cal1.addYears(-1);
					}	
			</script>
		</apex:outputPanel>
		<!--	<apex:repeat value="{!holidayList}" var="h">
		{!h}<br />
		</apex:repeat> -->
	</apex:actionRegion>
</apex:component>