<apex:component controller="ClientStageUpdate" allowDML="true">

<apex:attribute name="idContact" description="" type="String" assignTo="{!contactId}" required="true" />
<apex:attribute name="Leads" description="" type="Boolean" assignTo="{!isLead}" required="false" default="false"/>

<apex:includeScript value="{!$Resource.JQuery_v1_11_1}" />    
  <apex:includeScript value="{!$Resource.jqueryBlockUI}" />

<style>
	
		.bPageBlock .requiredInput .requiredBlock {
		//	background-color: #FCE780 !important;
		}
		
		
		popup summary
				.lookupHoverDetail {
			font-size: 0.7em !important;
			left: 0px !important;
		}
		
		.box-searh input,.box-searh select,.SearchFooter {
			margin-left: 10px;
		}
		
		.box-searh,.box-searh {
			background-color: #F3F3F3;
			border: 1px solid #999999 !important;
			border-radius: 5px 5px 5px 5px;
			box-shadow: 0 0 0 #CCCCCC;
			display: block;
			padding: 1px;
			min-width: 245px;
		}
		
		
		.bPageBlock .requiredInput .requiredBlock {
			height: 98%;
			left: -2px;
		}
		
		.bPageBlock .requiredInput {
			width: 100%;
		}
		
		.requiredInputleft {
			width: 190px !important;
			float: left;
		}
		
		body .bPageBlock {
			border: none;
			width: 100%
		}
		
		.rich-tabpanel-content {
			background-color: #FFFFFF;
			font-size: 1em;
			padding: 0;
		}
		
		.rich-tab-active { //
			background-image: -webkit-gradient(linear, top, bottom, from(#108CC0),
				to(#EDEDED) );
			background-image: -moz-linear-gradient(top center, #81D7F9, #FFFFFF);
		}
		
		.rich-tab-inactive {
			background-color: #EDEDED;
			background-image: none;
		}
		
		.apexp .bPageBlock.apexDefaultPageBlock .pbBody {
			margin: 0px;
		}
		
		table.recurrenceTable div.periodElementGroup {
			border: 1px solid grey;
			margin-left: 0px;
			padding: 3px;
			border-radius: 3px 3px 3px 3px;
		}
		
		table.recurrenceTable div div label {
			margin-right: 0px;
		}
		
		.bPageBlock .detailList th,.bPageBlock .detailList td {
			min-width: 30px;
		}
		
		.dayofWeek {
			text-align: center;
		}
		
		.box-searh input,.box-searh select,.SearchFooter {
			margin-left: 0px;
		}
		
		.label-color{
			color: #108CC0;
		}
		
		
		.grayBox{
		background-color: #F3F3F3;
	    border: 1px solid #999999;
	    border-radius: 3px 3px 3px 3px;
	  //  color: #2BABD6;
	    font-family: arial;
	    font-weight: bold;
	    padding: 0px !important;
		}
		.colClass{
		    display: block;
			width:240px;
		//	float:left;
			padding: 5px;
			font-size: 0.9em;
			color: #000;
		}
		
		.title { margin-left: 5px; }
	</style>

<script>
var hasReason;
	function setChanged(p){
		//jQuery 1.6+
		//jQuery(document.getElementById(p))prop("checked", true);
	
		//jQuery 1.5 and below
		jQuery(document.getElementById(p)).attr('checked','checked');

	}
	
	jQuery(document).ready(function(){
        setLeadStudyArea();
        
        jQuery('.statusListCkBox').each(function() {
			if((jQuery(this).attr('value') == 'LEAD - Not Interested')){
				jQuery('#interestMessage').css('display','');
				jQuery('.reasonBlock').css('display','');
				hasReason = true;
			}else{
				jQuery('#interestMessage').css('display','none');
				jQuery('.reasonBlock').css('display','none');
				hasReason = false;
			}	
		});
        
     });
	
	function openDocuments(){
		jQuery('.documentsLink')[0].click();
		return false;
	}
	
	function setFocusOnLoad() {}
	
	function refreshChecklistComp(){
		updateChecklistComponent();
	}
	
	function refreshCycleComp(){
		updateCycleComponent();
	}
	
	function setChangedUpdate(){      
        jQuery('.saveBarUpdate').css('display','');
        jQuery('.saveBarUpdate').css('width','99%');
        jQuery('.saveBarUpdate').css('display','block');
       }
       
    function setChangedStage(){      
        jQuery('.saveBarStage').css('display','');
        jQuery('.saveBarStage').css('width','99%');
        jQuery('.saveBarStage').css('display','block');
       }
		
	function setLeadStudyArea(){
		var studyArea = false;
		jQuery('.productType input[type=checkbox]').each(function() {
			if((jQuery(this).attr('value') == 'Study' || jQuery(this).attr('value') == 'Study & Work') && this.checked )
				studyArea = true;
		});
		
		if(studyArea == true){
			jQuery('#studyDiv').css('display', '');
			jQuery('.leadStudyArea input[type=checkbox]').removeAttr('disabled');
			}
		else {
			jQuery('#studyDiv').css('display', 'none');
			jQuery('.leadStudyArea input[type=checkbox]').each(function(){
				this.checked = false;
				this.disabled = true;
			});
		}
	
		
	}
			
	function emptyReason(){
				
		if(jQuery('.leadStatus').val() == 'LEAD - Not Interested' && jQuery('.statusReason').val() == ''){
			alert('Please select a reason');
			return true
		} else return false;
	}
	
	function setNotInterested(status, opt){
		if(opt == 'LEAD - Not Interested' && status == true){
			jQuery('#interestMessage').css('display','');
			jQuery('.reasonBlock').css('display','');
			
		} else {
			if(!hasReason){
				jQuery('#interestMessage').css('display','none');
				jQuery('.reasonBlock').css('display','none');
			}
		}
	}
	
	function showLoading(msg) { 
       jQuery.blockUI({ 
		message: '<H1>'+msg+'</H1>',
		css: { 
           border: 'none', 
           padding: '15px', 
           backgroundColor: '#000', 
           '-webkit-border-radius': '10px', 
           '-moz-border-radius': '10px', 
           opacity: .5, 
           color: '#fff' 
       } }); 

    }
	
	function hideLoading(){
		jQuery.unblockUI();
	}
	
</script>
	
	<!-- LEADS ONLY -->
	<!-- <apex:outputpanel rendered="{!isLead}">
		<apex:form id="leadInfo">
			<apex:actionregion >
			<div style="clear: both; height:3px;" />
			<div class="grayBox" style="{!IF($CurrentPage.parameters.pop != null,'','display:none;')}">
				<h3 class="title"><apex:outputText value="Lead Name: " /></h3>
				<apex:outputText value="{!acco.Name}" style="font-weight: bold;" />
			</div>
			<div style="clear: both; height:14px;" />
			<div class="grayBox">	
				<h3 class="title" style="font-size: large;margin-left:5px !important;">Edit / Update</h3>
				<div style="clear: both; display:block;" />
				
				<apex:outputPanel rendered="{!$CurrentPage.parameters.pop == 'pop'}">
					<div class="colClass">
						<apex:outputlabel value="Country Destination: "/><span style="font-weight: normal;"><apex:outputtext value="{!IF(acco.Destination_Country__c!=null, acco.Destination_Country__c, '-')}" /></span>

						<div style="clear: both; height:5px; display:block;" />
						
						<apex:outputlabel value="City Destination: "/><span style="font-weight: normal;"><apex:outputtext value="{!IF(acco.Destination_City__c!=null, acco.Destination_City__c, '-')}" /></span>
					</div>
				
					<div class="colClass" style="width:180px;">
						
						<apex:inputField value="{!acco.Lead_Level_of_Interest__c}" style="width:190px;float:left;" onchange="setChangedUpdate()" onkeydown="setChangedUpdate()" styleClass="levelOfInterest"  />
						<div style="clear: both;" />
						<apex:outputText value="Level of Interest" styleClass="interestLabel" style="font-size:0.8em;" />
					</div>
				</apex:outputPanel>
				<div style="clear: both; display:block;" />
				
				<div class="colClass">								
					<div style="height:100px;overflow-y:auto;overflow-x:hidden;width:190px;">
						<apex:selectCheckboxes styleClass="productType" value="{!selectedLeadProduct}" layout="pageDirection" style="float:left;width:190px;font-weight:normal;background-color:white;" onchange="setChangedUpdate();setLeadStudyArea();return false;" >
							<apex:SelectOptions value="{!leadProductOptions}"  />
						</apex:selectCheckboxes>
					</div>
					<div style="clear: both;" />
					<apex:outputText value="Products" style="font-size:0.8em;" />
					
				</div>
				
				<div class="colClass" style="width:180px;" id="studyDiv">
					<div style="height:100px;overflow-y:auto;overflow-x:hidden;width:190px;">
						<apex:selectCheckboxes styleClass="leadStudyArea" value="{!selectedLeadStudyArea}" layout="pageDirection"  style="float:left;width:190px;font-weight:normal;background-color:white;" onchange="setChangedUpdate()" > disabled="{!IF(isStudyArea,'false','true')}"
							<apex:SelectOptions value="{!leadStudyAreaOptions}" />
						</apex:selectCheckboxes>
					</div>
					<script>
						if(!{!isStudyArea})
							jQuery('.leadStudyArea input[type=checkbox]').attr('disabled','true');
					</script>
					
					<div style="clear: both;" />
					<apex:outputText value="Study Area" style="font-size:0.8em;" />	
					
				</div>					
				
				<div class="colClass saveBarUpdate" style="text-align: center; width: 100%;display:none;" >
					
					<apex:commandButton styleClass="agencyButton" value="Cancel" onclick="window.location.href = window.location.href;" id="Cancel" status="ipStatus" reRender="leadInfo" >
						<apex:param name="closewindow" value="false" />&nbsp;&nbsp;
					</apex:commandButton> 
					
					<apex:commandButton styleClass="agencyButton" value="Save" onClick="showLoading('Loading...');" action="{!saveClientUpdate}"  id="addGeneral" reRender="leadInfo" oncomplete="{!IF($CurrentPage.parameters.pop != null, 'hideLoading()', 'update()')}"  >
						<apex:param name="closewindow" value="false" />
					</apex:commandButton> 
					<apex:commandButton styleClass="agencyButton" value="Save & Close" onClick="showLoading('Loading...');" action="{!saveClientUpdate}" id="addGeneralClose" status="ipStatus" reRender="leadInfo"
						oncomplete="parent.closemodal(); " rendered="{!$CurrentPage.parameters.pop != null}">
						<apex:param name="closewindow" value="true" />
					</apex:commandButton> 
				</div>
				<div style="clear: both; display:block;" />

			</div>
			</apex:actionregion>
		</apex:form>
	</apex:outputpanel> -->
	
	<!-- CLIENTS & LEADS -->
	<apex:outputpanel >
		<apex:form id="compChecklist">
			<apex:actionregion >
			<apex:actionFunction name="updateChecklistComponent" action="{!updateList}" rerender="compChecklist" onComplete="hideLoading();" />
			<apex:actionFunction name="updateCycleComponent" action="{!refreshCycle}" rerender="compChecklist" onComplete="hideLoading();" />
			<div id="clientStatusBox">
			
				<div class="grayBox" style="{!IF($CurrentPage.parameters.pop != null,'','display:none;')}">
					<h1 class="title" style="font-size: 1.5em;"><apex:outputText value="Lead Name: " /></h1>
					<apex:outputText value="{!acco.Name}" style="font-weight: bold;font-size: 1.5em;" />
				</div>
				
			
				<apex:actionRegion >
					<apex:outputPanel id="clientInfo"  rendered="{!$CurrentPage.parameters.editInfo}" >
						
						<div style="clear: both; height:14px;" />
						<div class="grayBox">
							<h3 class="title" style="font-size: large;margin-left:5px !important;display:block;">{!acco.RecordType.Name} Info</h3>
							
							<div class="colClass" style="margin-bottom: 2px;">
								<apex:outputtext value="Destination Country: " style="font-weight:normal"/><apex:outputtext value="{!IF(acco.Destination_Country__c!=null, acco.Destination_Country__c, '-')}" />
				
								<div style="clear: both; height:5px; display:block;" />
								
								<apex:outputtext value="Destination City: " style="font-weight:normal"/><apex:outputtext value="{!IF(acco.Destination_City__c!=null, acco.Destination_City__c, '-')}" />
								
								<div style="clear: both; height:5px; display:block;" />
								
								<apex:outputtext value="Visa Expiry Date: "  style="font-weight:normal"/>
								<apex:outputpanel rendered="{!NOT(ISBLANK(acco.Visa_Expiry_Date__c))}">
									<apex:outputText value="{0,date, dd/MM/yyyy}">
					                   	<apex:param value="{!acco.Visa_Expiry_Date__c}" />
				              		</apex:outputText>
								</apex:outputpanel>
			              		<apex:outputtext value="-" rendered="{!ISBLANK(acco.Visa_Expiry_Date__c)}" />
 			              		
							</div>
							
							<apex:outputpanel layout="block" styleclass="colClass" style="width:180px;" rendered="{!acco.recordType.Name == 'Client' || (acco.recordType.Name == 'Lead' && acco.Lead_State__c == 'Accepted')}">
											
								<apex:inputField value="{!dTracking.Expected_Travel_date__c}" style="float:left;margin-right:5px;" styleClass="etd" onchange="setChangedStage()" onkeydown="setChangedStage()" rendered="{!NOT(ISNULL(dTracking))}" />
								
								<div style="clear: both;" />
								<apex:outputText value="Expected Travel Date" style="font-size:0.8em;padding-left:1px;" rendered="{!NOT(ISNULL(dTracking))}" />
								
								<!-- <apex:outputField rendered="{!hasVisa}" value="{!visa.Expire_date__c}" style="float:left;margin-right:5px;" />
								<apex:outputText value="&nbsp;" escape="false" rendered="{!hasVisa}" />										
								<apex:outputLink onclick="return openDocuments();" >Add/Edit Visas</apex:outputLink>
								
								<div style="clear: both;" />
								<apex:outputText value="Visa Expiry Date" style="font-size:0.8em;padding-left:1px;" /> -->
							</apex:outputpanel>
							
							<apex:outputPanel layout="block" styleClass="colClass" style="width:180px;" rendered="{!acco.RecordType.Name == 'Lead'}">								
								<apex:inputField value="{!acco.Lead_Level_of_Interest__c}" style="width:185px;float:left;" onchange="setChangedStage()" onkeydown="setChangedStage()" styleClass="levelOfInterest"  rendered="{!acco.Lead_State__c == 'Accepted'}"/>
								<apex:outputtext value="{!IF(acco.Lead_Level_of_Interest__c!=null, acco.Lead_Level_of_Interest__c, '[not defined]')}" style="width:185px;float:left;" styleClass="levelOfInterest"  rendered="{!acco.Lead_State__c != 'Accepted'}" />
								<div style="clear: both;" />
								<apex:outputText value="Level of Interest" styleClass="interestLabel" style="font-size:0.8em;" />
							</apex:outputPanel>
							
							
							<div style="clear: both; display:block;" />
									
									<apex:outputPanel rendered="{!acco.recordType.Name == 'Client' || (acco.recordType.Name == 'Lead' && acco.Lead_State__c == 'Accepted')}">
										<apex:outputPanel rendered="{!NOT(ISNULL(dTracking))}" >
											<div class="colClass">										
												<apex:selectList value="{!stage}" size="1" style="width:185px;" >
													<apex:SelectOptions value="{!stageOptions}" />
													<apex:actionSupport event="onchange" action="{!refreshStatusOptions}" status="ipStatus" reRender="clientStatus" />
												</apex:selectList>
												<div style="clear: both;" />
												<apex:outputText value="{!acco.RecordType.Name} Stage" style="font-size:0.8em;padding-left:1px;" />
	
												<div style="clear: both; height:15px; display:block;" />
												
												<div class="colClass" style="width:180px;">
													<div style="height:160px;overflow-y:auto;overflow-x:hidden;background-color:white;">
														<apex:outputPanel id="clientStatus" >
															<table>
																<apex:repeat value="{!statusList}" var="so">
																	
																		<tr>
																			<td style="{!IF(CONTAINS(LOWER(so.status),'xxx'),'padding:5px 0; color:#4A4A56; text-align: left;','')}">
																				<apex:outputPanel style="border-top:0.5px solid #D2D2D2; width: 97%; display: block;" rendered="{!CONTAINS(LOWER(so.status),'xxx')}" />
																				<apex:outputPanel rendered="{!NOT(CONTAINS(LOWER(so.status),'xxx'))}" >
																					<apex:inputCheckbox styleclass="statusListCkBox" value="{!so.selected}" disabled="{!so.selected && NOT(errorMessage)}" onclick="setNotInterested(this.checked,'{!so.status}'),setChangedStage()" />
																					<apex:outputText value="{!so.status}" style="font-size:1.0em; margin-left: 3px; position: relative; top: -2px;" />
																				</apex:outputPanel>
																			</td>
																		</tr>
																	
																</apex:repeat>
															</table>
														</apex:outputPanel>
													</div>											
												</div>	
												<div style="clear: both;" />
												<apex:outputText value="{!acco.RecordType.Name} Status" style="font-size:0.8em;padding-left:1px;" />	
												
												
											</div>
										</apex:outputPanel>
										
										<apex:outputpanel layout="block" styleclass="colClass" style="width:180px;">
											<div style="clear: both; display:block;" />
											<div class="requiredInput reasonBlock" style="width:190px; display:none" >
												<div class="requiredBlock" style="float:left;background-color:#CC0000;width:3px;height:20px;">&nbsp;</div>
												<apex:inputField value="{!acco.Lead_Status_Reason__c}" style="width:185px;float:left;" onchange="setChangedStage()" onkeydown="setChangedStage()" styleClass="statusReason"  />
											</div>
											
											<div style="clear: both; display:block;" />
											<apex:messages id="errorMessage" style="color:red"/>
											<div style="clear: both; display:block;" />
											<span id="interestMessage" style="display:none;">
												<span>
													<div class="message errorM3">
														<table cellspacing="0" cellpadding="0" border="0" style="padding:0px;margin:0px;font-size:0.85em" class="messageTable">
															<tbody>
																<tr valign="top">
																	<td><img title="WARNING" src="/s.gif" class="msgIcon" alt="ERROR" /></td>
																	<td class="messageCell">
																		<div class="messageText" >
																			<span style="color:#cc0000"><h4>Please note:</h4></span>
																			Changing the lead Status to "LEAD - Not Interested" will make the lead disappear from the list "Leads in Progress"<br/>																
																		</div>
																	</td>
																</tr>
																<tr><td></td><td></td></tr>
															</tbody>
														</table>
													</div>
												</span>
											</span>
										</apex:outputpanel>
										
									</apex:outputPanel>
									
									<div style="clear: both; display:block;" />
									
								
									<div class="colClass saveBarStage" style="text-align: center; width: 90%;display:none;" >
										
										
										<apex:commandButton styleClass="agencyButton" value="Save" action="{!saveClientStatus}"  id="saveClient" onClick="showLoading('Loading...')" reRender="compChecklist" oncomplete="checkActions();"  > <!---->
											<apex:param name="closewindow" value="false" />
										</apex:commandButton> 
										
										<apex:commandButton styleClass="agencyButton" value="Cancel" action="{!cancelClientStatus}" id="cancelClient" status="ipStatus" reRender="clientInfo" > <!---->
											<apex:param name="closewindow" value="false" />&nbsp;&nbsp;
										</apex:commandButton> 
										
										<apex:commandButton styleClass="agencyButton" value="Save & Create Task" action="{!saveClientStatus}" onClick="showLoading('Loading...')" reRender="compChecklist" oncomplete="checkActions();" rendered="{!$CurrentPage.parameters.pop != null}"  > <!---->
											<apex:param name="closewindow" value="false" />
											<apex:param name="createTask" value="true" />
										</apex:commandButton> 
										
										<!--<apex:commandButton styleClass="agencyButton" value="Save & Close" onclick="if(emptyReason()){return};" action="{!saveLeadInformation}" id="addGeneralClose" status="ipStatus" reRender="leadInfo"
											oncomplete="window.close(); refreshEnquiries(); UpdateParent(); UpdateActivity(); UpdateOpener();UpdateCart();" rendered="{!$CurrentPage.parameters.pop != null}">
											<apex:param name="closewindow" value="true" />
										</apex:commandButton> -->
									</div>
									<div style="clear: both; display:block;" />
									
									<script>
										jQuery('.etd').next().css('display','none');
										
										function checkActions(){
											if({!errorMessage}){
												setChangedStage();
												jQuery('#interestMessage').css('display','');
												jQuery('.reasonBlock').css('display','');
												hideLoading();
											}else{
												if({!$CurrentPage.parameters.pop != null}){
													parent.closeModalAndRefresh(); 
													}
												else{
													hideLoading();
													refreshCycle();
													refHead();												
												}
											}
										}
										
									</script>
	
						</div>
						
					</apex:outputPanel>
				</apex:actionRegion>
			</div>
			</apex:actionregion>
		</apex:form>
		</apex:outputpanel>
		
		
		
		
		
	
	
</apex:component>