<apex:component controller="TaskController" allowDML="true" id="compListTask">
<apex:attribute name="cListAction" description="Actions" type="String" assignTo="{!cAction}" required="true" />
<apex:attribute name="cClientId" description="Client ID" type="String" assignTo="{!idClient}"/>
<apex:attribute name="cLsize" description="List size result" type="Integer" assignTo="{!cListSize}"/>
<head>
    <meta charset="utf-8"/>
    <apex:include pageName="xCourseSearchStyle" />
    <apex:includeScript value="{!$Resource.jquery}"/> 
    <apex:includeScript value="{!$Resource.jqueryBlockUI}" />
    <script src="https://code.jquery.com/ui/1.8.24/jquery-ui.js"></script>
    <apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}"/> 
    <apex:includeScript value="{!URLFOR($Resource.assets,'modalfiles/modal.js')}" />
                        <!-- Toast Messages -->
    <apex:includeScript value="{!$Resource.toastmessages}" />
    <apex:includeScript value="{!URLFOR($Resource.toastmessages,'javascript/jquery.toastmessage.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.toastmessages,'resources/css/jquery.toastmessage.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.toastmessages,'resources/images/')}" />


    
</head>
    <style>
        html .brandSecondaryBrd {
            border: none !important;
        }
         .circle{
            width:17px;
            height:17px;
            -moz-border-radius:17px;
            background-image: -moz-linear-gradient(center bottom , #e9e938 1%, #ffffad 65%);
            text-align:center;
            font-weight: bold; 
            font-family: Georgia;
            display: block;
            float:left;
            margin-right: 3px;
        }
    
        iFrame{
            border:none;
        }
        .customPopup {
            background-color: white;
            border-style: solid;
            border-width: 2px;
            left: 50%;
            padding: 10px;
            position: absolute;
            z-index: 9999;
            width: 500px;
            margin-left: -250px;
            top: 100px;
        }
              
          .table th, .table td{
            border:none !important ;
          }
    
        .ui-tabs-hide { display: none !important; }
        .ui-widget-content { border: 0px !important; }
        .tabs { font-size: 0.9em !important; }
        
        .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
            top: 1px !important;
        }
        
        .pagination { font-size: 0.8em; }
        .pagination ul li a {
            line-height: 25px;
            padding: 0 10px;
        }
        
        .dateFormat{
            display: none;
        }
        
        .requiredBlock{
            background-color: #FF0000;
            float: left;
            height: 28px;
            left: 0;
            position: relative;
            width: 3px;
        }
        
        table tr.visaRow .requiredInput .visaFields{
            width: 95%;
        }
        
        table tr.visaRow select{
            width: 95%;
        }
        
        .errorMsg{
            color: red;
        }
        
         .dateSearch {
            width: 80px;
        }
        
        
        .linkNew{
            float: right;
            margin-right: 5px;
        }
        
        
        .Minimize {
            display: none;
        }
        
        .dhtmlwindow {
            border: 1px solid #999;
            border-radius: 10px 10px 4px 4px;
        }

       

        .drag-handle .drag-controls {
            top: 3px;
            right: 3px;
        }

        .drag-statusarea {
            border-radius: 0 0 5px 5px !important;
        }
        .even{
            background-color: #eee;
        }
        .odd{
            background-color: #fff;
        }
        
        .accountType label{
            display: inline-table;
            margin-left: 4px;
            position: relative;
            top: 4px;
        }
        
        .table-striped ul {
            list-style-type: none;
        }
        
         #interVeil{
            z-index: 100;
        }
        
        .filter{
            margin-right:10px;
            padding: 2px;
        }
        
        .filterSpan{
            font-size: 0.9em; 
            color:#4A4A56;
            font-style: italic;
        }
        
        .icon{
            border:none;
            padding:2px;
        }
        
        
        .priorityLow {
            background: none repeat scroll 0 0 #827632;
            border: 1px solid #827632;
            border-radius: 3px;
            box-shadow: 1px 1px 3px #b5b5b5;
            color: #fff;
            font-size: 0.9em;
            font-weight: bold;
            padding: 2px;
            text-align: center;  
        }
        
        .priorityMedium {
            background: none repeat scroll 0 0 #f59711;
            border: 1px solid #f59711;
            border-radius: 3px;
            box-shadow: 1px 1px 3px #b5b5b5;
            color: #fff;
            font-size: 0.9em;
            font-weight: bold;
            padding: 2px;
            text-align: center;    
        }
        
        .priorityHigh {
            background: none repeat scroll 0 0 #d71921;
            border: 1px solid #d71921;
            border-radius: 3px;
            box-shadow: 1px 1px 3px #b5b5b5;
            color: #fff;
            font-size: 0.9em;
            font-weight: bold;
            padding: 2px;
            text-align: center;
        }
        
    </style>
    <script type="text/javascript">
    
        $ = jQuery.noConflict();
         var modalWind;
         var selectedClientList;
        $(document).ready(function() {
        
            jQuery('.listTaksChosen').chosen();
            
            $().toastmessage({
                sticky   : false,
                position : 'top-right',
                type     : 'success',   
                stayTime : 10000       
            });
            
            
         });
        
        function showTaskSuccess(action){       
            if(action=='transfer'){
                $().toastmessage('showSuccessToast', 'Tasks transfered successfully!');
            }
            else if(action=='complete'){
                $().toastmessage('showSuccessToast', 'Tasks completed successfully!');
            }
            else if(action=='edit'){
                $().toastmessage('showSuccessToast', 'Task edited successfully!');
            }
            else if(action=='create'){
                $().toastmessage('showSuccessToast', 'Note/Task created successfully!');
            }
            else if(action=='createTask'){
                $().toastmessage('showSuccessToast', 'Task created successfully!');
            }
            else if(action=='inProgress'){
                $().toastmessage('showSuccessToast', 'Tasks set as In Progress successfully!');
            }
        }
        
        function newTask(){
               modalWind = dhtmlmodal.open('createTask', 'iframe', 'createTask?pop=modal&idClient={!idClient}&visits=false', 'Task & Note', 'width=800px,height=600px,resize=1,center=1,scrolling=0');
               setCloseModal();
            } 
        
        function editTask(idTask){
               modalWind = dhtmlmodal.open('editTask', 'iframe', 'editTask?visits=false&task='+idTask, 'Edit Task', 'width=800px,height=650px,resize=1,center=1,scrolling=0');
               setCloseModal();
            } 
        function viewContact(idContact){
           var w = 915;
           var h = 800;
           var left = (screen.width/2)-(w/2);
           var top = (screen.height/2)-(h/2);

           redirectNewPage = '{!redirectNewContactPage}';
           if(redirectNewPage == 'true'){
                page = 'contact_new_activity_log';
           }else{
                page = 'activity_log';
           }
           window.open(page+'?id='+idContact,null, 'height='+h+',width='+w+',toolbar=no,directories=no,status=no,menubar=no,resizable=no,modal=yes, top='+top+', left='+left);
        } 
            
        function selectAll(value,ischecked){        
              jQuery('.'+value).each(function(){
                  this.checked = ischecked;
              });
          } 
        
        function selectAction(p){
             if(p == 'complete')
                 confirmComplete();
             else if(p == 'transfer')
                 transferTasks();     
             else if(p == 'inProgress')
                 confirmInProgress();          
                 
                 
          } 
            
        function confirmComplete() {
           var answer = confirm('Are you sure you want to complete the selected tasks?');
           if (answer){
               completeSelectedTasks();
               return false;
           } else {                    
               return false;
           }
           }
           
          function confirmInProgress() {
           var answer = confirm('Are you sure you want to set this tasks as In Progress?');
           if (answer){
               inProgressSelectedTasks();
               return false;
           } else {                    
               return false;
           }
           }
         
          function transferTasksWindow(selectedTasks){
                modalWind = dhtmlmodal.open('transferTasks', 'iframe', 'transferTasks?visits=false&tk='+selectedTasks, 'Transfer Tasks', 'width=600px,height=600px,resize=1,center=1,scrolling=0');           
                setCloseModal();
            }   
            
          function showLoading(msg) { 
            jQuery.blockUI({ 
            message: '<H1>'+msg+'</H1>',
            css: { 
               border: 'none', 
               padding: '15px', 
               backgroundColor: '#000', 
               '-webkit-border-radius': '10px', 
               '-moz-border-radius': '10px', 
               opacity: .5, 
               color: '#fff' 
           } }); 
    
        }
    
         function hideLoading(){
            jQuery.unblockUI();
        }       
        
        
        function closeModalWind(actionClicked){
            if(actionClicked=='close'){
              jQuery('#interVeil').css('display','none');
               modalWind.close();
            }else{
               jQuery('#interVeil').css('display','none');
               modalWind.close(); 
               searchT();
               }      
           }
        
        function setCloseModal(){
            jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
            jQuery('.Close').unbind('click'); 
            jQuery('.Close').click(function() {closemodal();});
            
        }
        
        function closemodal(){
            jQuery('#interVeil').css('display','none'); 
            if(selectedClientList!=null)            
                selectedClientList.close();
        }
        
        function completeTaskEdition(){
            jQuery('#interVeil').css('display','none');
            modalWind.close();
            completeEdition();
        }
        
        function completeCreateTask(){
            jQuery('#interVeil').css('display','none');
            if(modalWind!=null)
                modalWind.close();
            if(selectedClientList!=null)            
                selectedClientList.close();
            createTask();
        }
        
        function closeTaskModal(){
            jQuery('#interVeil').css('display','none');
            modalWind.close();  
        }
        
        function closeTaskModalRefresh(){
            jQuery('#interVeil').css('display','none');
            modalWind.close();  
        }
        
        
        function verifyKeyWord(){
            
            if(jQuery('.keyword').val() != '' && jQuery('.keyword').val().length<2){
                alert('Search term must be longer than one character.');
                return false;
            }else
                return true;
        }
        
        
        
        
    </script>
    
    <apex:outputpanel layout="block">
    <Script>
        function getTasks(){
            showLoading('Loading...');
            refreshTask();
        }
    
    </Script>
    
    </apex:outputpanel>
    
    <apex:form id="formListTask">
    
    <apex:actionStatus id="ipStatus" onstart="showLoading('Please wait...');" onstop="hideLoading();" />
    <!-- <apex:actionfunction action="{!listTasks}" name="getTasks" status="statusUpdate" rerender="listTasks"/>     -->

    <apex:outputPanel id="transfer" >   
        <apex:outputPanel rendered="{!SelectedTasks.size > 0 && actionSelected == 'transfer'}" >            
            <script>            
                transferTasksWindow('{!SelectedTasks}')
            </script>
        </apex:outputPanel>
    </apex:outputPanel>
    
    
    <apex:actionFunction name="refreshTaskCompListTask" action="{!searchTasks}" reRender="compListTask:formListTask" oncomplete="hideLoading()"/>
    <apex:actionFunction name="transferTasks" reRender="transfer" status="ipStatus"/>
    <apex:actionFunction name="refreshTask" action="{!searchTasks}" reRender="ctPage:ctBody, compListTask:formListTask" oncomplete="hideLoading();showTaskSuccess('createTask');"/>
    <apex:actionFunction name="searchT" action="{!searchTasks}" reRender="listTasks, totals" status="ipStatus" onComplete="showTaskSuccess('transfer'); jQuery('.selectallcheck').prop('checked', false); jQuery('.fActionSelect').val('noAction');jQuery('.listTaksChosen').chosen();"/>
    <apex:actionFunction name="completeEdition" action="{!searchTasks}" reRender="listTasks, totals" status="ipStatus" onComplete="showTaskSuccess('edit');jQuery('.listTaksChosen').chosen();"/>
    <apex:actionFunction name="createTask" action="{!searchTasks}" reRender="listTasks, totals" status="ipStatus" onComplete="showTaskSuccess('create');jQuery('.listTaksChosen').chosen();"/>
    <apex:actionfunction action="{!completeSelectedTasks}" name="completeSelectedTasks" status="ipStatus" rerender="listTasks, totals" oncomplete="javascript:showTaskSuccess('complete'); jQuery('.selectallcheck').prop('checked', false);jQuery('.listTaksChosen').chosen();"/>
    <apex:actionfunction action="{!setTasksInProgress}" name="inProgressSelectedTasks" status="ipStatus" rerender="listTasks, totals" oncomplete="javascript:showTaskSuccess('inProgress');  jQuery('.selectallcheck').prop('checked', false);jQuery('.listTaksChosen').chosen();"/>    
    <apex:pageBlock id="listTasks" >

        <div style="display:block; margin-bottom: 30px">
            <apex:outputpanel id="filter" rendered="{!ISNULL(idClient)}" styleclass="float:left">
                    <apex:actionRegion >
                        <apex:outputPanel rendered="{!OR($ObjectType.Contact.fields.allowManageTasks__c.updateable, NOT(ISNULL(user.Aditional_Agency_Managment__c)))}" >    
                            <div style="float:left;min-width: 150px;" class="filter">
                                
                                <apex:selectList size="1" value="{!sAssignedAgency}" id="filterAssignedAgency" style="width:100%;" styleclass="listTaksChosen">                         
                                    <apex:selectOptions value="{!AssignedAgency}" />                            
                                    <apex:actionSupport event="onchange" action="{!filterAssignedByAgency}" status="ipStatus" rerender="filterAssignedTo,listTasks, totals" onComplete="jQuery('.listTaksChosen').chosen();" />
                                </apex:selectList><br/>
                                <apex:outputText value="Agency" style="font-size:1em; font-weight: bold;"/>             
                            </div>
                        </apex:outputPanel>
                        
                        <apex:outputPanel id="filterAssignedTo" style="float:left;min-width: 150px;" styleClass="filter" rendered="{!OR($ObjectType.Contact.fields.allowManageTasks__c.accessible, NOT(ISNULL(user.Aditional_Agency_Managment__c)))}">
                            <apex:pagemessages />
                            <apex:selectList size="1" value="{!sAssignedTo}" style="width:100%;" styleclass="listTaksChosen"> 
                                    <apex:selectOptions value="{!AssignedTo}" />        
                                    <apex:actionSupport event="onchange" action="{!resetSearch}" reRender="listTasks, totals"  status="ipStatus" onComplete="jQuery('.listTaksChosen').chosen();"/>                 
                            </apex:selectList><br/>
                            <apex:outputText value="Assigned To"  style="font-size:1em; font-weight: bold;"/>               
                        </apex:outputPanel>
                        
                    </apex:actionRegion>
                
                <!-- SEARCH KEY -->
                <!-- <apex:outputpanel id="keySearch" style="float:right">
                    <apex:inputtext value="{!searchKey}" style="height:20px; width:250px;" styleclass="keyword"/>
                    <apex:commandLink style="float:right; margin-left: 5px; position:relative; top:1px;" styleclass="agencyBackground"  status="ipStatus" onClick="if(!verifyKeyWord()) return false;" action="{!searchTasks}" title="Search Task" reRender="listTasks,totals" onComplete="jQuery('.listTaksChosen').chosen();" >
                        <apex:image value="{!URLFOR($Resource.HomePageIcons,'/Archive/search_icon_lens.png')}" />
                    </apex:commandLink>         
                    <div class="filterSpan">
                        <span >Keywords</span>
                    </div>
                </apex:outputpanel> -->             
                <!-- END SEARCH KEY -->
            
                 <!-- <apex:outputpanel style="float:left">
                    <div>
                        <apex:selectList size="1" value="{!sAssignedTo}" id="filterAssignedTo" styleclass="filter"  >
                            <apex:selectOptions value="{!AssignedTo}" />    
                            <apex:actionSupport event="onchange" action="{!resetSearch}" reRender="listTasks" status="ipStatus"/>                       
                        </apex:selectList>      
                    </div>
                    <div>
                        <span class="filterSpan">Assigned To</span>
                    </div>
                </apex:outputpanel>  -->
                 
                 
                 <apex:outputpanel style="float:left; margin-right:5px !important;" rendered="{!AND(NOT($ObjectType.Contact.fields.allowManageTasks__c.accessible), user.Contact.Allow_Manage_Dept_Users_Tasks__c)}">
                    <div>
                         <apex:selectList value="{!sAssignedTo}" size="1" styleclass="filter listTaksChosen" >
                            <apex:SelectOptions value="{!deptUsers}" />
                            <apex:actionSupport event="onchange" action="{!resetSearch}" reRender="listTasks, totals" status="ipStatus" onComplete="jQuery('.listTaksChosen').chosen();"/>
                        </apex:selectList>          
                    </div>
                    <div>
                        <span class="filterSpan">Users</span>
                    </div>
                </apex:outputpanel> 


                 <apex:outputpanel style="float:left; margin-right:5px !important;">
                    <div>
                         <apex:selectList value="{!SfilterTasks}" size="1" styleclass="filter listTaksChosen" >
                            <apex:SelectOptions value="{!filterTasks}" />
                            <apex:actionSupport event="onchange" action="{!resetSearch}" reRender="listTasks, totals" status="ipStatus" onComplete="jQuery('.listTaksChosen').chosen();"/>
                        </apex:selectList>          
                    </div>
                    <div>
                        <span class="filterSpan">Tasks</span>
                    </div>
                </apex:outputpanel> 
                
                 <apex:outputpanel style="float:left;margin-right:5px !important;">
                    <div>
                         <apex:selectList value="{!SfilterRelated}" size="1" styleclass="filter listTaksChosen" style="width:150px">
                            <apex:SelectOptions value="{!filterRelated}" />
                            <apex:actionSupport event="onchange" action="{!resetSearch}" reRender="listTasks, totals" status="ipStatus" onComplete="jQuery('.listTaksChosen').chosen();"/>
                        </apex:selectList>          
                    </div>
                    <div>
                        <span class="filterSpan">Related To</span>
                    </div>
                </apex:outputpanel>
                
                <apex:outputpanel style="float:left;margin-right:5px !important;">
                    <div>
                         <apex:selectList value="{!SfilterPriority}" size="1" styleclass="filter listTaksChosen"   style="width:120px;">
                            <apex:SelectOptions value="{!priorityFilter}" />
                            <apex:actionSupport event="onchange" action="{!resetSearch}" reRender="listTasks, totals"  status="ipStatus" onComplete="jQuery('.listTaksChosen').chosen();"/>
                        </apex:selectList>          
                    </div>
                    <div>
                        <span class="filterSpan">Task Priority</span>
                    </div>
                </apex:outputpanel> 
                
                <apex:outputpanel style="float:left;margin-right:5px !important;">
                    <div>
                         <apex:selectList value="{!SfilterSubject}" size="1" styleclass="filter listTaksChosen" >
                            <apex:SelectOptions value="{!subjects}" />
                            <apex:actionSupport event="onchange" action="{!resetSearch}" reRender="listTasks, totals"  status="ipStatus" onComplete="jQuery('.listTaksChosen').chosen();"/>
                        </apex:selectList>          
                    </div>
                    <div>
                        <span class="filterSpan">Task Subject</span>
                    </div>
                </apex:outputpanel> 
                
                <apex:outputpanel style="float:left;margin-right:5px !important;">
                    <div>
                        <apex:selectList value="{!SfilterDueDate}" size="1" styleclass="filter listTaksChosen" style="width:100px;">
                            <apex:SelectOptions value="{!filterDueDate}" />
                            <apex:actionSupport event="onchange" action="{!resetSearch}" reRender="listTasks, totals" status="ipStatus" onComplete="jQuery('.listTaksChosen').chosen();"/>
                        </apex:selectList>      
                    </div>
                    <div>
                        <span class="filterSpan">Due Date</span>
                    </div>
               </apex:outputpanel> 
            </apex:outputpanel>
            <apex:outputpanel rendered="{!ISBLANK(idClient)}" >
                <apex:commandButton value="New Task & Note" styleclass="agencyButton" onclick="newTask(); return false;"/>
            </apex:outputpanel>
        </div>
        <div style="display:block; margin-bottom: 15px">
            <apex:outputpanel style="float:left;margin-right:5px !important;">
                <div>
                    <apex:selectList value="{!SfilterVisaExpiry}" size="1" styleclass="filter listTaksChosen" style="width:100px;">
                        <apex:SelectOptions value="{!filterVisaExpiry}" />
                        <apex:actionSupport event="onchange" action="{!resetSearch}" reRender="listTasks, totals" status="ipStatus" onComplete="jQuery('.listTaksChosen').chosen();"/>
                    </apex:selectList>      
                </div>
                <div>
                    <span class="filterSpan">Visa Expiry</span>
                </div>
            </apex:outputpanel> 
        </div>
        
        <apex:outputpanel layout="block" style="float: left; margin-top: 10px; width: 100%;margin-bottom: 5px;">
            <style>
                .chosen-container{width:230px !important}
            </style>
            <apex:outputpanel id="contactFilterSubject" style="float:left" rendered="{!NOT(ISBLANK(idClient))}">
                 <apex:outputpanel style="float:left;margin-right:5px !important;">
                    <div>
                         <apex:selectList value="{!sfilterDueDate}" size="1" styleclass="listTaksChosen" style="width:300px !important;" >
                            <apex:SelectOptions value="{!filterDueDate}" />
                            <apex:actionSupport event="onchange" action="{!resetSearch}" reRender="btasks, totals"  status="statusLoad" />
                        </apex:selectList>          
                    </div>
                    <div>
                        <span class="filterSpan">Due Date</span>
                    </div>
                 </apex:outputpanel> 
                
                 <apex:outputpanel style="float:left;margin-right:5px !important;">
                    <div>
                         <apex:selectList value="{!SfilterSubject}" size="1" styleclass="listTaksChosen" style="width:300px !important;" >
                            <apex:SelectOptions value="{!subjects}" />
                            <apex:actionSupport event="onchange" action="{!resetSearch}" reRender="btasks, totals"  status="statusLoad" />
                        </apex:selectList>          
                    </div>
                    <div>
                        <span class="filterSpan">Task Subject</span>
                    </div>
                </apex:outputpanel> 
                
                <!-- SEARCH KEY -->
                <!-- <apex:outputpanel id="keySearchContactList" style="float:left">
                    <apex:inputtext value="{!searchKey}" style="height:23px;" />
                    <apex:commandLink style="float:right; margin-left: 5px; position:relative; top:2px;" styleclass="agencyBackground"  status="ipStatus" action="{!searchTasks}" title="Search Task" reRender="listTasks,totals" >
                        <apex:image value="{!URLFOR($Resource.HomePageIcons,'/Archive/search_icon_lens.png')}" />
                    </apex:commandLink>             
                </apex:outputpanel> -->             
                <!-- END SEARCH KEY -->
            </apex:outputpanel>
            
            <apex:outputpanel id="totals" style="float:right">
            
                <apex:outputpanel layout="block" style="float:right;margin-right:5px">
                    <span class="title" style="color:black !important;float:left;font-weight:bold;">Overdue:</span>
                    <apex:outputpanel layout="block" styleclass="counterBlack"  style="margin-left:5px;">
                        {!totalTasks['overdue']}
                    </apex:outputpanel>
                </apex:outputpanel>
                
                <apex:outputpanel layout="block" style="float:right;margin-right:5px">
                    <span class="title" style="color:black !important;float:left;font-weight:bold;">Due Today:</span>
                    <apex:outputpanel layout="block" styleclass="counterBlack"  style="margin-left:5px;">
                        {!totalTasks['today']}
                    </apex:outputpanel>         
                </apex:outputpanel>
                
                <apex:outputpanel layout="block" style="float:right;margin-right:5px">
                    <span class="title" style="color:black !important;float:left;font-weight:bold;">Total:</span>
                    <apex:outputpanel layout="block" styleclass="counterBlack" style="margin-left:5px;">
                        {!totalTasks['total']}
                    </apex:outputpanel>
                </apex:outputpanel>
                
            </apex:outputpanel>
            
            
        
        </apex:outputpanel>
    
        <apex:outputPanel rendered="{!ISBLANK(idClient)}" layout="none">
           <apex:pageBlockTable var="t" value="{!listTasks}" width="50%" id="listTasks"> 
                <apex:column width="1%">                    
                    <apex:facet name="header">                      
                            <apex:inputCheckbox onclick="selectAll('selectTask',this.checked);" styleclass="selectallcheck" title="Select all"/>                
                    </apex:facet>
                    <apex:inputField styleclass="selectTask" value="{!t.Selected__c}"/>
                </apex:column>
                <apex:column width="5%" >
                    <apex:facet name="header">                      
                         <apex:selectList id="action" styleclass="fActionSelect" value="{!actionSelected}" onchange="selectAction(this.value);" size="1">
                            <apex:selectOption itemValue="noAction" itemLabel="Actions"/>
                            <apex:selectOption itemValue="complete" itemLabel="Complete"/>
                            <apex:selectOption itemValue="transfer" itemLabel="Transfer"/>
                            <apex:selectOption itemValue="inProgress" itemLabel="In Progress"/>
                        </apex:selectList> 
                    </apex:facet>
                    <apex:image styleclass="icon" value="{!URLFOR($Resource.icons,'/icons/commons/urgent-red.png')}" rendered="{!NOT(ISNULL(t.Due_Date__c)) && t.Due_Date__c = today()}" title="Today is the due date" /> 
                    <apex:image styleclass="icon" value="{!URLFOR($Resource.icons,'/icons/commons/overdue.png')}" rendered="{!NOT(ISNULL(t.Due_Date__c)) && t.Due_Date__c < today() && t.Status__c!='Completed'}" title="Overdue"/> 
                    <apex:image styleclass="icon" value="{!URLFOR($Resource.icons,'/icons/commons/completed.png')}" rendered="{!t.Status__c=='Completed'}" title="Task Completed"/>                  
                    <apex:image styleclass="icon" value="{!URLFOR($Resource.icons,'/icons/commons/assigned-from-gr.png')}" rendered="{!t.AssignedBy__c != $User.Id}" title="Assigned to {!t.Assign_To__r.Name} by {!t.AssignedBy__r.Name}"/> 
                    <apex:image styleclass="icon" value="{!URLFOR($Resource.icons,'/icons/commons/assigned-to-gr.png')}" rendered="{!t.AssignedBy__c = $User.Id && t.Assign_To__c != $User.Id}" title="Assigned to {!t.Assign_To__r.Name}"/>
                    <br/><apex:outputpanel rendered="{!SfilterTasks=='fromMeAll' || SfilterTasks=='fromMeInProgress' || SfilterTasks=='fromMeCompleted' }">
                        <span style="font-size:0.9em;color:gray;">{!t.Assign_To__r.Name}</span>
                    
                    </apex:outputpanel> 
                    
                    
                </apex:column>  
                
                <apex:column width="4%" headerValue="Priority">
                    <div class="priority{!RIGHT(t.Priority__c, LEN(t.Priority__c)-4)}">
                        <apex:outputtext value="{!RIGHT(t.Priority__c, LEN(t.Priority__c)-3)}" />
                    </div>
                </apex:column>
                        
                <apex:column headerValue="Related To" width="13%">          
                    <apex:outputpanel rendered="{!ISNULL(t.Related_To_Quote__r.Name)}">
                        <a href="{!IF(NOT(redirectNewContactPage),'activity_log','contact_new_activity_log')}?id={!t.Related_Contact__c}" target="_top">{!t.Related_Contact__r.Name}</a>
                        <span style="display:block; color:#999; font-size:0.8em;">{!t.Related_Contact__r.RecordType.Name}</span> 
                        <apex:outputpanel rendered="{!t.Related_Contact__r.RecordType.Name == 'Lead'}">
                            <span style="display:block; color:#999;font-size:0.8em;">{!t.Related_Contact__r.Lead_Level_of_Interest__c}</span> 
                        </apex:outputpanel>
                    </apex:outputPanel>
                    <apex:outputpanel rendered="{!NOT(ISNULL(t.Related_To_Quote__r.Name))}">
                        <a href="{!IF(NOT(redirectNewContactPage),'activity_log','contact_new_activity_log')}?id={!t.Related_To_Quote__r.Client__c}" target="_top">{!t.Related_To_Quote__r.Client__r.Name}</a>  
                        <span style="display:block; color:#999; font-size:0.8em;">{!t.Related_Contact__r.RecordType.Name}</span> 
                        <apex:outputpanel rendered="{!t.Related_Contact__r.RecordType.Name == 'Lead'}">
                            <span style="display:block; color:#999;font-size:0.8em;">{!t.Related_Contact__r.Lead_Level_of_Interest__c}</span> 
                        </apex:outputpanel>
                    </apex:outputPanel>
                </apex:column>
                <apex:column headerValue="Subject" width="20%">                 
                    <apex:commandLink value="{!t.Subject__c}" onclick="editTask('{!t.id}'); return false;" /><br/>
                    
                    <apex:outputText value="Assigned by: " style="font-size:0.8em; color:gray;"/>
                    <apex:outputLabel value="{!t.AssignedBy__r.Name}" style="font-size:0.8em;color:gray;margin-left:3px;text-decoration:underline;cursor:pointer;"/>
                    <span style="font-size:0.8em;color:gray;">
                        <apex:outputText value=" on "  />
                        <apex:outputField value="{!t.AssignedOn__c}" />
                    </span>                <br/>
                    <apex:outputpanel rendered="{!t.LastModifiedBy !=null && t.AssignedOn__c != t.LastModifiedDate}">
                        <apex:outputText value="Modified by: " style="font-size:0.8em; color:gray;" />
                        <apex:outputLabel value="{!t.LastModifiedBy.Name}" style="font-size:0.8em;color:gray;margin-left:3px;text-decoration:underline;cursor:pointer;"/>
                        <span style="font-size:0.8em;color:gray;">
                            <apex:outputText value=" on "  />
                            <apex:outputField value="{!t.LastModifiedDate}" />
                        </span>
                        
                   </apex:outputpanel>                
                </apex:column>
                <apex:column headerValue="Description" width="20%">                 
                    <apex:outputPanel style="padding-top:3px;display:block;" rendered="{!NOT(ISNULL(t.Related_To_Quote__r.Name))}">
                        <a href="xCourseSearchQuotation?id={!t.Related_To_Quote__c}" target="_blank">{!t.Related_To_Quote__r.Name}</a>   
                        <apex:outputtext value=" - " /> 
                        <span style="{!IF(t.Related_To_Quote__r.Status__c = 'Expired', 'color:#FF5F49','color:#4F8AFF')};font-size:0.75em;"> {!t.Related_To_Quote__r.Status__c}</span>
                    </apex:outputPanel>
                    <apex:outputText value="{!t.Comments__c}" style="font-size:0.9em; color:gray;cursor:help;display:block;" title="{!t.Comments__c}" /><!-- rendered="{!ISNULL(t.Related_To_Quote__r.Name)}"      -->          
                </apex:column>
                <apex:column headerValue="Due Date" width="6%">     
                    <apex:outputpanel rendered="{!t.Status__c=='Completed'}">
                        <apex:outputText value="{0,date, dd/MM/yyyy}">
                            <apex:param value="{!t.Due_Date__c}" />
                        </apex:outputText>
                        <br/>
                        <apex:outputText value="Completed" style="color:#005C18;font-weight:600;"/><br/>
                        <apex:outputText value="{!t.LastModifiedBy.Name}" style="color:grey; font-size:0.8em;" /><br/>                      
                        <apex:outputText value="{0,date, dd/MM/yyyy}" style="color:grey; font-size:0.8em;">
                            <apex:param value="{!t.LastModifiedDate}" />
                        </apex:outputText>
                    </apex:outputpanel>
                    <apex:outputpanel rendered="{!t.Status__c!='Completed'}">           
                        <apex:outputText value="{0,date, dd/MM/yyyy}">
                            <apex:param value="{!t.Due_Date__c}" />
                        </apex:outputText>
                            <br/>
                        <apex:outputText value="{!today() - t.Due_Date__c} days overdue" rendered="{!NOT(ISNULL(t.Due_Date__c)) && t.Due_Date__c < today()}" style="color:#FF8484; font-size:0.8em;" />
                        <apex:outputText value="Today" rendered="{!NOT(ISNULL(t.Due_Date__c)) && t.Due_Date__c = today()}" style="color:grey; font-size:0.8em;" />
                        <apex:outputText value="Tomorrow" rendered="{!NOT(ISNULL(t.Due_Date__c)) && t.Due_Date__c = today()+1}" style="color:grey; font-size:0.8em;" />
                        <apex:outputText value="in {!t.Due_Date__c - today()} days" rendered="{!NOT(ISNULL(t.Due_Date__c)) && t.Due_Date__c > today()+1}" style="color:grey; font-size:0.8em;" />
                    </apex:outputpanel> 
                </apex:column>
                
                <apex:column headerValue="Status" width="7%">           
                    <apex:outputpanel rendered="{!ISNULL(t.Related_To_Quote__r.Name)}">
                        {!t.Related_Contact__r.Status__c}                       
                    </apex:outputPanel>
                    <apex:outputpanel rendered="{!NOT(ISNULL(t.Related_To_Quote__r.Name))}">
                        {!t.Related_To_Quote__r.Client__r.Status__c}    
                    </apex:outputPanel>
                </apex:column>
                
                <apex:column width="7%">    
                    <apex:facet name="header">
                        <apex:actionRegion >
                            Travel Date<br />
                            <apex:outputText value="(To Destination)" style="font-size:0.8em; font-family: arial;" />
                        </apex:actionRegion>
                    </apex:facet>       
                    <apex:outputpanel rendered="{!ISNULL(t.Related_To_Quote__r.Name)}">
                        <apex:outputText value="{0,date, dd/MM/yyyy}">
                            <apex:param value="{!t.Related_Contact__r.Expected_Travel_Date__c}" />
                        </apex:outputText>
                        <br />
                        <apex:outputText value="{!t.Related_Contact__r.Expected_Travel_Date__c - today()} days to go" rendered="{!NOT(ISNULL(t.Related_Contact__r.Expected_Travel_Date__c)) && t.Related_Contact__r.Expected_Travel_Date__c - today() >= 0}" style="color:grey; font-size:0.8em;" />
                        <apex:outputText value="went {!today() - t.Related_Contact__r.Expected_Travel_Date__c} day(s) ago" rendered="{!NOT(ISNULL(t.Related_Contact__r.Expected_Travel_Date__c)) && t.Related_Contact__r.Expected_Travel_Date__c - today() < 0}" style="color:grey; font-size:0.8em;"  />
                        <br />
                        <apex:outputText value="to {!t.Related_Contact__r.Destination_Country__c}" rendered="{!NOT(ISNULL(t.Related_Contact__r.Expected_Travel_Date__c))}" style="color:grey; font-size:0.8em;" />
                    </apex:outputPanel>
                    <apex:outputpanel rendered="{!NOT(ISNULL(t.Related_To_Quote__r.Name))}">
                        <apex:outputText value="{0,date, dd/MM/yyyy}">
                            <apex:param value="{!t.Related_To_Quote__r.Client__r.Expected_Travel_Date__c}" />
                        </apex:outputText>
                        <br />
                        <apex:outputText value="{!t.Related_To_Quote__r.Client__r.Expected_Travel_Date__c - today()} days to go" rendered="{!NOT(ISNULL(t.Related_To_Quote__r.Client__r.Expected_Travel_Date__c)) && t.Related_To_Quote__r.Client__r.Expected_Travel_Date__c - today() >= 0}" style="color:grey; font-size:0.8em;" />
                        <apex:outputText value="went {!today() - t.Related_To_Quote__r.Client__r.Expected_Travel_Date__c} day(s) ago" rendered="{!NOT(ISNULL(t.Related_To_Quote__r.Client__r.Expected_Travel_Date__c)) && t.Related_To_Quote__r.Client__r.Expected_Travel_Date__c - today() < 0}" style="color:grey; font-size:0.8em;"  />
                        <br />
                        <apex:outputText value="to {!t.Related_To_Quote__r.Client__r.Destination_Country__c}" rendered="{!NOT(ISNULL(t.Related_To_Quote__r.Client__r.Expected_Travel_Date__c))}" style="color:grey; font-size:0.8em;" />
                    </apex:outputPanel>
                </apex:column>
                <apex:column width="5%">            
                     <apex:facet name="header">
                        <apex:actionRegion >
                            Visa Expiry<br />
                            <apex:outputText value="(At Destination)" style="font-size:0.8em; font-family: arial;" />
                        </apex:actionRegion>
                    </apex:facet>
                    <apex:outputpanel rendered="{!NOT(ISNULL(t.Related_Contact__c))}">
                        <apex:outputText value="{0,date, dd/MM/yyyy}">
                            <apex:param value="{!clientDestinationVisa[t.Related_Contact__c].Expected_Travel_Date__c}" />
                        </apex:outputText><br/>
                        <apex:outputText value="{!clientDestinationVisa[t.Related_Contact__c].Expected_Travel_Date__c - today()} days to expire" rendered="{!NOT(ISNULL(clientDestinationVisa[t.Related_Contact__c].Expected_Travel_Date__c)) && clientDestinationVisa[t.Related_Contact__c].Expected_Travel_Date__c > today()-2}" style="color:grey; font-size:0.8em;" />
                        <apex:outputText value="Today" rendered="{!NOT(ISNULL(clientDestinationVisa[t.Related_Contact__c].Expected_Travel_Date__c)) && clientDestinationVisa[t.Related_Contact__c].Expected_Travel_Date__c = today()}" style="color:grey; font-size:0.8em;" />
                        <apex:outputText value="Tomorrow" rendered="{!NOT(ISNULL(clientDestinationVisa[t.Related_Contact__c].Expected_Travel_Date__c)) && clientDestinationVisa[t.Related_Contact__c].Expected_Travel_Date__c = today()+1}" style="color:grey; font-size:0.8em;" />
                    </apex:outputPanel>
                    <apex:outputpanel rendered="{!ISNULL(t.Related_Contact__c) && NOT(ISNULL(t.Related_To_Quote__r.Name))}">
                        <apex:outputText value="{0,date, dd/MM/yyyy}">
                            <apex:param value="{!clientDestinationVisa[t.Related_To_Quote__r.Client__c].Expected_Travel_Date__c}" />
                        </apex:outputText><br/>                     
                        <apex:outputText value="{!clientDestinationVisa[t.Related_To_Quote__r.Client__c].Expected_Travel_Date__c - today()} days to expire" rendered="{!NOT(ISNULL(clientDestinationVisa[t.Related_To_Quote__r.Client__c].Expected_Travel_Date__c)) && clientDestinationVisa[t.Related_To_Quote__r.Client__c].Expected_Travel_Date__c > today()-2}" style="color:grey; font-size:0.8em;" />
                        <apex:outputText value="Today" rendered="{!NOT(ISNULL(clientDestinationVisa[t.Related_To_Quote__r.Client__c].Expected_Travel_Date__c)) && clientDestinationVisa[t.Related_To_Quote__r.Client__c].Expected_Travel_Date__c = today()}" style="color:grey; font-size:0.8em;" />
                        <apex:outputText value="Tomorrow" rendered="{!NOT(ISNULL(clientDestinationVisa[t.Related_To_Quote__r.Client__c].Expected_Travel_Date__c)) && clientDestinationVisa[t.Related_To_Quote__r.Client__c].Expected_Travel_Date__c = today()+1}" style="color:grey; font-size:0.8em;" />
                    </apex:outputPanel>
                </apex:column>
            </apex:pageBlockTable> 
            
            <apex:outputPanel id="myButtons" style="display:block; text-align: center; padding: 7px;" >
                
                <apex:outputPanel style="float:right;color:gray;padding-top:5px;">Page {!pageNumber} of {!totalPages}</apex:outputPanel>
                
                <apex:commandButton action="{!Beginning}" title="Beginning" value="<<" disabled="{!disablePrevious}" reRender="myButtons, listTasks " status="ipStatus" onComplete="jQuery('.listTaksChosen').chosen();" />
                <apex:commandButton action="{!Previous}" title="Previous" value="<" disabled="{!disablePrevious}" reRender="myButtons, listTasks " status="ipStatus"  onComplete="jQuery('.listTaksChosen').chosen();" />
                <apex:commandButton action="{!Next}" title="Next" value=">" disabled="{!disableNext}" reRender="myButtons, listTasks " status="ipStatus"  onComplete="jQuery('.listTaksChosen').chosen();" />
                <apex:commandButton action="{!End}" title="End" value=">>" disabled="{!disableNext}" reRender="myButtons, listTasks " status="ipStatus"  onComplete="jQuery('.listTaksChosen').chosen();" />
                
            </apex:outputPanel>
        </apex:outputPanel>
        
        
        
        
        
        <apex:outputPanel rendered="{!NOT(ISBLANK(idClient))}" layout="none">
        
            <div class="content">
                <div class="divHeader">
                    <apex:commandLink status="statusLoad" onClick="toggle('{!$Component.btasks}'); toggle('{!$Component.taskbuttonMax}'); toggle('{!$Component.taskbuttonMin}'); return false;" immediate="true">
                        <apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" id="taskbuttonMax" styleclass="arrow" style="display:none; position:relative;top:3px;" />
                        <apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" id="taskbuttonMin" styleclass="arrow" style="position:relative;top:3px;"/>
                    </apex:commandLink>
                    Tasks
                </div>
                
                <apex:outputpanel layout="block" styleclass="divContent" id="btasks" style="display:yes">
                    
                    <apex:outputPanel id="clientListTasks">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0" class="grey-zebra noArrow quotationsTable">
                            <thead>
                                <tr>                                                
                                    <th>Subject</th>                                    
                                    <th>Description</th>                                    
                                    <th>Due Date</th>
                                    <th>Task Details</th>                                   
                                </tr>
                            </thead>
                            
                            <apex:repeat value="{!listTasks}" var="t">
                                <tr>
                                    <td style="width:20%;">
                                        <apex:outputLink onclick="editTask('{!t.id}'); return false;" style="color: #0088cc;">
                                            {!t.Subject__c}
                                        </apex:outputLink>
                                    </td>                                   
                                    <td style="width:40%;">
                                        <apex:outputText value="{!LEFT(t.Comments__c,250)}" styleClass="mini" title="{!t.Comments__c}" escape="false" />
                                        <apex:outputText value="..." rendered="{!LEN(t.Comments__c) > 250}" styleClass="mini" title="{!t.Comments__c}" />
                                        
                                        <!--apex:outputText value="{!t.Comments__c}" style="font-size:0.9em; color:gray;cursor:help;display:block;" title="{!t.Comments__c}" rendered="{!ISNULL(t.Related_To_Quote__r.Name)}"/-->
                                        <apex:outputPanel style="padding-top:3px;display:block;" rendered="{!NOT(ISNULL(t.Related_To_Quote__r.Name))}">
                                            <a href="xCourseSearchQuotation?id={!t.Related_To_Quote__c}" target="_blank">{!t.Related_To_Quote__r.Name}</a>   
                                            <apex:outputtext value=" - " /> 
                                            <span style="{!IF(t.Related_To_Quote__r.Status__c = 'Expired', 'color:#FF5F49','color:#4F8AFF')};font-size:0.75em;"> {!t.Related_To_Quote__r.Status__c}</span>
                                        </apex:outputPanel>
                                    </td>
                                    <td style="width:10%;">
                                        <apex:outputpanel rendered="{!t.Status__c=='Completed'}">
                                            <apex:outputText value="{0,date, dd/MM/yyyy}">
                                            <apex:param value="{!t.Due_Date__c}" />
                                        </apex:outputText>
                                        <br/>
                                            <apex:outputText value="Completed" style="color:#005C18;font-weight:600;"/><br/>
                                            <!-- <apex:outputText value="{!t.LastModifiedBy.Name}" style="color:grey; font-size:0.8em;" />
                                            <apex:outputText value=" on" style="color:grey; font-size:0.8em;" />
                                            <apex:outputText value="{0,date, dd/MM/yyyy}" style="color:grey; font-size:0.8em;">
                                                <apex:param value="{!t.LastModifiedDate}" />
                                            </apex:outputText> -->
                                        </apex:outputpanel>
                                        <apex:outputpanel rendered="{!t.Status__c!='Completed'}">           
                                            <apex:outputText value="{0,date, dd/MM/yyyy}">
                                                <apex:param value="{!t.Due_Date__c}" />
                                            </apex:outputText>
                                                <br/>
                                            <apex:outputText value="{!today() - t.Due_Date__c} days overdue" rendered="{!NOT(ISNULL(t.Due_Date__c)) && t.Due_Date__c < today()}" style="color:#FF8484; font-size:0.8em;" />
                                            <apex:outputText value="Today" rendered="{!NOT(ISNULL(t.Due_Date__c)) && t.Due_Date__c = today()}" style="color:grey; font-size:0.8em;" />
                                            <apex:outputText value="Tomorrow" rendered="{!NOT(ISNULL(t.Due_Date__c)) && t.Due_Date__c = today()+1}" style="color:grey; font-size:0.8em;" />
                                            <apex:outputText value="in {!t.Due_Date__c - today()} days" rendered="{!NOT(ISNULL(t.Due_Date__c)) && t.Due_Date__c > today()+1}" style="color:grey; font-size:0.8em;" />
                                        </apex:outputpanel> 
                                    </td>                                                               
                                    <td style="width:30%;">
                                        <apex:outputLabel value="Created by:" style="font-weight:bold;" /> <apex:outputLabel value="{!t.CreatedBy.Name}" />
                                        <apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
                                        <span style="color:grey; font-size:0.8em;">
                                            <apex:outputField value="{!t.createdDate}" />
                                        </span><br/>
                                        
                                        <apex:outputLabel value="Assigned to:" style="font-weight:bold;" /> <apex:outputLabel value="{!t.Assign_To__r.Name}" />
                                        <apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
                                        <span style="color:grey; font-size:0.8em;">
                                            <apex:outputField value="{!t.AssignedOn__c}" />
                                        </span><br/>
                                        
                                        <apex:outputLabel value="Last modified:" style="font-weight:bold;" /> <apex:outputLabel value="{!t.LastModifiedBy.Name}" />
                                        <apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
                                        <span style="color:grey; font-size:0.8em;">
                                            <apex:outputField value="{!t.LastModifiedDate}" />
                                        </span>
                                        
                                    </td>
                                </tr>
                            </apex:repeat>
                            
                        </table>
                        
                        
                        <div style="height: 10px; padding: 10px;" >
                            <div style="float: left;">                          
                                <apex:outputLink styleClass="contactLink" value="contact_tasks?id={!idClient}" rendered="{!NOT(ISBLANK(cListSize)) && cListSize != 0}"  >
                                    + Check the list of all tasks 
                                </apex:outputLink>
                            </div>                          
                        </div>
                        
                        <!-- <apex:outputPanel style="display:block; text-align: center; padding: 7px;" >
                
                            <apex:outputPanel style="float:right;color:gray;padding-top:5px;">Page {!pageNumber} of {!totalPages}</apex:outputPanel>
                            
                            <apex:commandButton action="{!Beginning}" title="Beginning" value="<<" disabled="{!disablePrevious}" reRender="myButtons, listTasks " status="ipStatus" />
                            <apex:commandButton action="{!Previous}" title="Previous" value="<" disabled="{!disablePrevious}" reRender="myButtons, listTasks " status="ipStatus" />
                            <apex:commandButton action="{!Next}" title="Next" value=">" disabled="{!disableNext}" reRender="myButtons, listTasks " status="ipStatus"  />
                            <apex:commandButton action="{!End}" title="End" value=">>" disabled="{!disableNext}" reRender="myButtons, listTasks " status="ipStatus"  />
                            
                        </apex:outputPanel> -->
                      
                    </apex:outputPanel>
                
                </apex:outputpanel>
            </div>
            
        
        </apex:outputPanel>

    </apex:pageBlock>
    
    </apex:form>
    
</apex:component>