<apex:component controller="contact_visits" allowDML="true" >

	<apex:attribute name="ContactID" description="The id of the contact" type="String" assignTo="{!ctid}" required="true" />	
	<apex:attribute name="size" description="The number os quotations to display" type="Integer" assignTo="{!limitVisits}" required="false" default="0" />
	
	<script>
		function completeCreateTask(){
			hideLoading();
			jQuery('#interVeil').css('display','none');
			if(selectedClientList!=null)
				selectedClientList.close();
		}
	</script>
	<div class="divHeader" style="margin-top:10px;">
		Previous Visits
	</div>
	
	<div class="divContent">
		<apex:pageBlock >
			<apex:pageBlockTable value="{!clientVisits}" var="v" >
				<apex:column value="{!v.CreatedDate}" />
				<apex:column value="{!v.Service__c}" />
				<apex:column headerValue="Department">
					<apex:outputText value="{!v.Department__r.Name}" />
				</apex:column>
				<apex:column headerValue="Staff Requested">
					<apex:outputText value="{!v.staff__c}" />
				</apex:column>
				<apex:column value="{!v.Status__c}" />
				<apex:column headerValue="Completed By">
					<apex:outputText value="{!v.Closed_By__r.Name}" />
				</apex:column>
				<apex:column headerValue="Completed Date">
					<apex:outputfield value="{!v.Close_Date__c}" />
				</apex:column>
				<apex:column value="{!v.Comments__c}" />			
			</apex:pageBlockTable>
		</apex:pageBlock>
	</div>

</apex:component>