<apex:component controller="ctrCpGoogleMap" >
    
    <apex:attribute name="styleClass"
        type="String"
        description="CSS Style Class for the iFrame that holds the map" 
        required="false" />
    
    <apex:attribute name="width"
        default="150"
        type="integer"
        description="iFrame width that holds the map" 
    required="false" />
    
    <apex:attribute name="posfixWidth"
        type="string"
        description="" 
        required="false"
    />
        
    <apex:attribute name="height"
        default="150" 
        type="integer"
        description="iFrame height that holds the map" 
        required="false" /> 
    
    <apex:attribute name="postfixHeight"
        type="string"
        description="" 
        required="false"
    />
    
    <apex:attribute name="Address"
        type="String"
        description="" 
        required="false"
        assignTo="{!StrAddress}" /> 

    <apex:attribute name="oAddress"
        type="Address__c"
        description="" 
        required="false"
        assignTo="{!ObjAddress}" /> 
        
    <apex:attribute name="zoom"
        default="15" 
        type="integer"
        description="15 For close, 25 for far" 
        required="false" /> 

    
            
    
    <iframe  class="{!styleClass}" width="{!width}{!posfixWidth}" height="{!height}{!postfixHeight}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
        src="https://maps.google.com/maps?f=q&source=s_q&hl=en&q={!inAddress}&size={!width}x{!height}&z={!zoom}&iwloc=near&output=embed"></iframe>
    
    
</apex:component>