<apex:component controller="menuAgency">

	<apex:attribute name="selectedItem" description="menu item"	type="String" assignTo="{!currTab}" required="true" />
		
	<script>
		
		function initMenu() {
			
			jQuery('#ipMenu li ul').hide();
			jQuery('#ipMenu li:has(ul)').addClass("ipMenufull");
			jQuery("#ipMenu li:has(ul) [href='#']").click(			
				function() {
				
					jQuery(this).next().slideToggle('slow');    
					jQuery(this).parent("li").toggleClass("ipMenufullOpen");
		
				return false;
				}
			);

			jQuery("a.ipMenuLink").click(

				function() {
					
					jQuery('a.selected').removeClass("selected");
					jQuery(this).addClass("selected");
					jQuery(this).blur();
				
					return false;
				}		
		
			);
		
		}
			
		function initMenuClass() {
			
			jQuery('.ipMenu li ul').hide();
			jQuery('.ipMenu li:has(ul)').addClass("ipMenufull");
			jQuery(".ipMenu li:has(ul) [href='#']").click(
			
			function() {
						
				jQuery(this).next().slideToggle('slow');    
				jQuery(this).parent("li").toggleClass("ipMenufullOpen");
					
				return false;
				}
			);

			jQuery("a.ipMenuLink").click(

				function() {
							
					jQuery('a.selected').removeClass("selected");
					jQuery(this).addClass("selected");
					jQuery(this).blur();
							
					return false;
				}		
		
			);
		
		}
	</script>

	<style>
		ul#ipMenu,ul#ipMenu ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			//width: 180px;
		}
		
		ul#ipMenu a {
			display: block;
			text-decoration: none;
		}
		
		ul#ipMenu li {
			margin: 1px 0px 2px;
		}
		
		ul#ipMenu li a {
			//background: #E8E8E8;
			//color: #333;
			padding: 0.5em;
			padding: 5px 0px 5px 25px;
		}
		
		ul#ipMenu li a.selected {
			//background: #666;
			//text-decoration: underline;
			color: white;
		}
		
		.selectedItem {
			height: 25px;
		}
		
		ul#ipMenu li a:hover {
			//background: #666;
			padding: 5px 0px 5px 25px;
			color: white;
		}
		
		ul#ipMenu li ul li a {
			//background: #ddd;
			color: #000;
		}
		
		ul#ipMenu a.red {
			//background: #ddd;
			color: red;
		}
		
		ul#ipMenu li ul li a:hover {
			//background: #aaa;
		}
		
		ul#ipMenu li.ipMenufull a {
			background-image: url('{!URLFOR($Resource.icons,' icons/ home_page/ arrow_white.png ')}');
			background-position: 2% 50%;
			background-repeat: no-repeat;
		}
		
		ul#ipMenu li.ipMenufullOpen a {
			background-image: url('{!URLFOR($Resource.icons,' icons/ home_page/ arrow_white_down.png
				')}');
			background-position: 2% 50%;
			background-repeat: no-repeat;
		}
		
		ul#ipMenu li.ipMenufullOpen ul li a,ul#ipMenu li.ipMenufull ul li a {
			background-image: none;
		}
		
		.ipTabsLinks {
			display: block;
			padding-top: 10px;
		}
		
		.menuSubHeader {
			//background: #DC2628 !important;
			color: white !important;
			font-weight: bold !important;			
		}
		
		.chatter-photo {
			width: 180px !important;
		}
		
		.chatter-upload-avatar {
			border: 0 none !important;
		}
		
		 .menuSubHeader {
        	background: #999;
            color: white !important;
            font-weight: bold !important;            
            width: 180px;
        }
        
        .menuSubHeader a {
        	margin-top: 15px;
        	color: white;        	
        }
        
        .menuSubHeader a:hover {
        	cursor: default !important;
        }
		
		.item {
        	background: #ddd;        
        }
        
	</style>
	
	
	<apex:form >
	
		<apex:image id="customer-photo" value="{!fileURL}" width="180" style="cursor: pointer;" />
		
		<apex:outputPanel styleClass="ipTabsLinks" id="menu">
			<ul id="ipMenu">	
			
				<!-- Schools Commission -->
		        <apex:outputPanel rendered="{!$ObjectType.Commission__c.accessible}" layout="none" >
		            <li class="menuSubHeader">
			       		<a href="#"  onclick="return false;">Global School Set Up</a>
			        </li>
			        
			        <apex:outputpanel layout="none" rendered="{!$ObjectType.User.fields.CommissionsMenu_SchoolCommissions__c.Accessible}">
	                  	<li class="{!IF(currTab='commissions','selectedItem','item')}">
	                      <apex:outputLink value="commissions" target="_top" styleClass="ipMenuLink">
	                          School Commissions
	                      </apex:outputLink>
	                  	</li>
                 	</apex:outputpanel>
                 	
                 	<apex:outputpanel layout="none" rendered="{!$ObjectType.User.fields.CommissionsMenu_CommissionsReport__c.Accessible}">
	                  	<li class="{!IF(currTab='commissionsRep','selectedItem','item')}">
	                      <apex:outputLink value="commissions_report" target="_top" styleClass="ipMenuLink">
	                          Available Commissions
	                      </apex:outputLink>
	                  	</li>
                  	</apex:outputpanel>
                  	
                  	<apex:outputpanel layout="none" rendered="{!$ObjectType.User.fields.CommissionsMenu_PFSSchools__c.Accessible}">
	                	<li class="{!IF(currTab='pfs','selectedItem','item')}">
	                      <apex:outputLink value="pfs_schools" target="_top" styleClass="ipMenuLink">
	                          Schools Setup
	                      </apex:outputLink>
	                  	</li>
                  	</apex:outputpanel>
                  	
                </apex:outputPanel>
				
				<li class="menuSubHeader">
		       		<a href="#"  onclick="return false;">Taxes</a>
		        </li>
		        
		        <apex:outputpanel layout="none" rendered="{!$ObjectType.User.fields.CommissionsMenu_TaxControlCity__c.Accessible}">
					<li class="{!IF(currTab='taxControl','selectedItem','item')}">
						<apex:outputLink value="tax_control" target="_top" styleClass="ipMenuLink" >
		                	Tax Control per City
		                </apex:outputLink>
		            </li>
	            </apex:outputpanel>
				
			</ul>
		</apex:outputPanel>
	</apex:form>
	
	
</apex:component>