<apex:component controller="menuEnrolment">

	<apex:attribute name="selectedItem" description="menu item"	type="String" assignTo="{!currTab}" required="true" />

	<script>

		function initMenu() {

			jQuery('#ipMenu li ul').hide();
			jQuery('#ipMenu li:has(ul)').addClass("ipMenufull");
			jQuery("#ipMenu li:has(ul) [href='#']").click(
				function() {

					jQuery(this).next().slideToggle('slow');
					jQuery(this).parent("li").toggleClass("ipMenufullOpen");

				return false;
				}
			);

			jQuery("a.ipMenuLink").click(

				function() {

					jQuery('a.selected').removeClass("selected");
					jQuery(this).addClass("selected");
					jQuery(this).blur();

					return false;
				}

			);

		}

		function initMenuClass() {

			jQuery('.ipMenu li ul').hide();
			jQuery('.ipMenu li:has(ul)').addClass("ipMenufull");
			jQuery(".ipMenu li:has(ul) [href='#']").click(

			function() {

				jQuery(this).next().slideToggle('slow');
				jQuery(this).parent("li").toggleClass("ipMenufullOpen");

				return false;
				}
			);

			jQuery("a.ipMenuLink").click(

				function() {

					jQuery('a.selected').removeClass("selected");
					jQuery(this).addClass("selected");
					jQuery(this).blur();

					return false;
				}

			);

		}
	</script>

	<style>
		ul#ipMenu,ul#ipMenu ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			//width: 180px;
		}

		ul#ipMenu a {
			display: block;
			text-decoration: none;
		}

		ul#ipMenu li {
			margin: 1px 0px 2px;
		}

		ul#ipMenu li a {
			//background: #E8E8E8;
			//color: #333;
			padding: 0.5em;
			padding: 5px 0px 5px 25px;
			height: 15px;
		}

		ul#ipMenu li a.selected {
			//background: #666;
			//text-decoration: underline;
			color: white;
		}

		ul#ipMenu li a:hover {
			//background: #666;
			padding: 5px 0px 5px 25px;
			color: white;
		}

		ul#ipMenu li ul li a {
			//background: #ddd;
			color: #000;
		}

		ul#ipMenu a.red {
			//background: #ddd;
			color: red;
		}

		ul#ipMenu li ul li a:hover {
			//background: #aaa;
		}

		ul#ipMenu li.ipMenufull a {
			background-image: url('{!URLFOR($Resource.icons,' icons/ home_page/ arrow_white.png ')}');
			background-position: 2% 50%;
			background-repeat: no-repeat;
		}

		ul#ipMenu li.ipMenufullOpen a {
			background-image: url('{!URLFOR($Resource.icons,' icons/ home_page/ arrow_white_down.png
				')}');
			background-position: 2% 50%;
			background-repeat: no-repeat;
		}

		ul#ipMenu li.ipMenufullOpen ul li a,ul#ipMenu li.ipMenufull ul li a {
			background-image: none;
		}

		.ipTabsLinks {
			display: block;
			padding-top: 10px;
		}

		.menuSubHeader {
			//background: #DC2628 !important;
			color: white !important;
			font-weight: bold !important;
		}

		.chatter-photo {
			width: 180px !important;
		}

		.chatter-upload-avatar {
			border: 0 none !important;
		}

		 .menuSubHeader {
        	background: #999;
            color: white !important;
            font-weight: bold !important;
            width: 180px;
        }

        .menuSubHeader a {
        	margin-top: 15px;
        	color: white;
        }

        .menuSubHeader a:hover {
        	cursor: default !important;
        }

		.item {
        	background: #ddd;
        }

		.selectedItem, .item, .menuSubHeader {
		    height: 25px;
		}

		.counterMenu {
			float: right;
			position: relative;
			top: -2px;
			margin-right: 5px;
			font-size: 11px;
			background-color: transparent !important;
		}


		.selectedItem .counterMenu {
			margin-right: 25px !important;
		}

	</style>


	<apex:form >

		<apex:image id="customer-photo" value="{!fileURL}" width="180" style="cursor: pointer;" />

		<apex:outputPanel styleClass="ipTabsLinks" id="menu">
			<ul id="ipMenu">


				<li class="menuSubHeader">
		       		<a href="#" onclick="return false;">Enrolment</a>
		        </li>

                <li class="{!IF( OR(currTab == TYPE_DRAFT, currTab == TYPE_LOO_REQUESTED, currTab == TYPE_LOO_CONFIRM_SIGNED, currTab == TYPE_AWAITING_PAYMENT, currTab == TYPE_COE_REQUESTED, currTab == TYPE_VISA, currTab == TYPE_ENROLLED),'selectedItem','item')}">
					<apex:outputLink value="enrolments?type={!TYPE_DRAFT}" styleClass="ipMenuLink" >
	                	In Progress
						<span class="counterTab counterMenu counter-inProgress"></span>
	                </apex:outputLink>
	            </li>

				<li class="{!IF(currTab='cancelled','selectedItem','item')}">
					<apex:outputLink value="enrolments?type={!TYPE_CANCELLED}" styleClass="ipMenuLink" >
						Cancelled
						<span class="counterTab counterMenu counter-cancelled"></span>
					</apex:outputLink>
				</li>


				<li class="menuSubHeader">
					<a href="#" onclick="return false;">Urgent</a>
                </li>

				<li class="{!IF(currTab=TYPE_URGENT,'selectedItem','item')}">
					<apex:outputLink value="enrolments?type={!TYPE_URGENT}" styleClass="ipMenuLink" >
						Urgent Enrolments
						<span class="counterTab counterMenu counter-urgent"></span>
					</apex:outputLink>
				</li>

				<li class="{!IF(currTab=TYPE_MISSING_INFORMATION,'selectedItem','item')}">
					<apex:outputLink value="enrolments?type={!TYPE_MISSING_INFORMATION}" styleClass="ipMenuLink" >
						Missing Information
						<span class="counterTab counterMenu counter-missingInformation"></span>
					</apex:outputLink>
				</li>

				<li class="{!IF(currTab=TYPE_VISA_EXPIRING,'selectedItem','item')}">
					<apex:outputLink value="enrolments?type={!TYPE_VISA_EXPIRING}" styleClass="ipMenuLink" >
						Visa expiring in 7 days
						<span class="counterTab counterMenu counter-visaExpiring"></span>
					</apex:outputLink>
				</li>

				<li class="{!IF(currTab=TYPE_TRAVEL_DATE,'selectedItem','item')}">
					<apex:outputLink value="enrolments?type={!TYPE_TRAVEL_DATE}" styleClass="ipMenuLink" >
						Travel Date in 30 days
						<span class="counterTab counterMenu counter-travelDate"></span>
					</apex:outputLink>
				</li>

				<li class="{!IF(currTab=TYPE_LOO_RECEIVED,'selectedItem','item')}">
					<apex:outputLink value="enrolments?type={!TYPE_LOO_RECEIVED}" styleClass="ipMenuLink" >
						Received LOO
						<span class="counterTab counterMenu counter-receivedLOO"></span>
					</apex:outputLink>
				</li>

				<li class="{!IF(currTab=TYPE_COE_RECEIVED,'selectedItem','item')}">
					<apex:outputLink value="enrolments?type={!TYPE_COE_RECEIVED}" styleClass="ipMenuLink" >
						Received COE
						<span class="counterTab counterMenu counter-receivedCOE"></span>
					</apex:outputLink>
				</li>
				<li class="{!IF(currTab='onHold','selectedItem','item')}">
					<apex:outputLink value="enrolments?type=onHold" styleClass="ipMenuLink" >
						On Hold
						<span class="counterTab counterMenu counter-onHold"></span>
					</apex:outputLink>
				</li>





                <li class="menuSubHeader">
                    <a href="#" onclick="return false;">Payments</a>
                </li>

				<li class="{!IF(currTab=TYPE_WAITING_CLI_PAYMENT,'selectedItem','item')}">
					<apex:outputLink value="enrolments?type={!TYPE_WAITING_CLI_PAYMENT}" styleClass="ipMenuLink" >
		             	Waiting STU 1st Pay
						<span class="counterTab counterMenu counter-waitingPayment"></span>
	                </apex:outputLink>
	            </li>
				<li class="{!IF(currTab=TYPE_PAID_BY_CLIENT,'selectedItem','item')}">
					<apex:outputLink value="enrolments?type={!TYPE_PAID_BY_CLIENT}" styleClass="ipMenuLink" >
	                	Paid by Student
						<span class="counterTab counterMenu counter-paid"></span>
	                </apex:outputLink>
	            </li>
                <li class="{!IF(currTab='pendingInstalments','selectedItem','item')}">
					<apex:outputLink value="client_course_instalments_view" styleClass="ipMenuLink" >
	                	Pending Instalments
						<span class="counterTab counterMenu counter-pendingInstalments"></span>
	                </apex:outputLink>
	            </li>
				<!-- <li class="{!IF(currTab='refund','selectedItem','item')}">
					<apex:outputLink value="client_course_refunds" styleClass="ipMenuLink" >
	                	Refund
						<span class="counterTab counterMenu counter-refund"></span>
	                </apex:outputLink>
	            </li>
				<li class="{!IF(currTab='courseTransfer','selectedItem','item')}">
					<apex:outputLink value="client_course_credits" styleClass="ipMenuLink" >
	                	Course Transfer
						<span class="counterTab counterMenu counter-courseTransfer"></span>
	                </apex:outputLink>
	            </li> -->
				<li class="{!IF(currTab='product','selectedItem','item')}">
					<apex:outputLink value="client_course_products" styleClass="ipMenuLink" >
	                	Product
						<span class="counterTab counterMenu counter-products"></span>
	                </apex:outputLink>
	            </li>
				<li class="{!IF(currTab='courseCancel','selectedItem','item')}">
					<apex:outputLink value="client_course_cancel_followup" styleClass="ipMenuLink" >
	                	Cancel Requests
						<span class="counterTab counterMenu counter-cancel"></span>
	                </apex:outputLink>
	            </li>
				<li class="{!IF(currTab='paymentPlan','selectedItem','item')}">
					<apex:outputLink value="payment_plan_ep" styleClass="ipMenuLink" >
	                	Clients Payment Plan
						<span class="counterTab counterMenu counter-payment-plan"></span>
	                </apex:outputLink>
	            </li>

			</ul>
		</apex:outputPanel>
	</apex:form>

	<script>
		function getTotals(){
			Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.menuEnrolment.getMenuTotals}',
				function(result, event) {
					if(event.type != 'exception') {
						if(event.status) {
							if (result) {
								var json = JSON.parse(result.replace(/(&amp\;)/g, "&").replace(/(&quot\;)/g,"\""));
								console.log(json);

								jQuery('.counter-inProgress').html(json.inProgress);
								jQuery('.counter-cancelled').html(json.cancelled);
								jQuery('.counter-visaExpiring').html(json.visaExpiring);
								jQuery('.counter-travelDate').html(json.travelDate);
								jQuery('.counter-receivedLOO').html(json.receivedLOO);
								jQuery('.counter-receivedCOE').html(json.receivedCOE);
								jQuery('.counter-urgent').html(json.urgent);
								jQuery('.counter-missingInformation').html(json.missingInformation);
								jQuery('.counter-waitingPayment').html(json.waitingPayment);
								jQuery('.counter-paid').html(json.paid);
								jQuery('.counter-pendingInstalments').html(json.pendingInstalments);
								jQuery('.counter-refund').html(json.refund);
								jQuery('.counter-courseTransfer').html(json.courseTransfer);
								jQuery('.counter-products').html(json.products);
								jQuery('.counter-cancel').html(json.cancelRequests);
								jQuery('.counter-payment-plan').html(json.paymentPlan);
								jQuery('.counter-onHold').html(json.onHold);


							}
						}
					}
				},
				{buffer: true, escape: true, timeout: 120000}
			);
		}
		getTotals();
		setInterval(getTotals, 30000);

	</script>


</apex:component>