<apex:component controller="school_page_documents" allowDML="true">    
    
    <apex:attribute name="school" assignTo="{!idAccount}" type="String" required="true" description="The School Account ID" />
    <apex:attribute name="readOnly" assignTo="{!openForReadingOnly}" type="Boolean" required="true" description="If opening just for reading" />
    <style>
        .slds-breadcrumb > li:first-child > a{
            color: #D81921 !important;
        }
        .slds-scope .slds-table thead th {
            background-color: #f2f3f3;
            color: black;
        }
        .slds-scope .slds-breadcrumb .slds-list__item:before, .slds-scope .slds-breadcrumb__item:before {
            top: -2px;
        }
        .button-disabled{
            color: rgb(221, 219, 218) !important;
            border-color: rgb(221, 219, 218) !important;
        }
        .button-destroy{
            border-color: rgb(194, 57, 52) !important;  
            color: rgb(194, 57, 52) !important;  
        }
        .button-destroy:hover{
            background-color: #f2f3f3 !important;
            cursor: pointer !important;
        }
        .button-disabled:hover{
            cursor: default !important;
        }
        .old-file td, .old-file td a{
            color: red !important;
        }
        .button_small{
            padding: 0 0.3rem !important;
            line-height: 1.6rem !important;
            font-size: 12px;
        }
        .button_small svg{
            margin-right: 0 !important;
        }
        #fileUpload #deleteButton{
            display: none !important;
        }
    </style>
    <script>
        var confirmDeleteFileItem = {
            confirmAction : function(response){
                if(response){
                    //showModalLoading(true);
                    beginAjaxRequest();
                    deleteItem(confirmDeleteFileItem.id, confirmDeleteFileItem.type);
                }
            } 
        };
        var confirmDeleteSelected = {
            confirmAction : function(response){
                if(response){
                    //showModalLoading(true);
                    beginAjaxRequest();
                    deleteAllSelected();
                }
            } 
        };
        var confirmMoveSelected = {
            confirmAction : function(response){
                if(response){
                    //showModalLoading(true);
                    beginAjaxRequest();
                    moveAllSelected();
                }
            } 
        };
        var confirmLoadFolder = {
            confirmAction : function(response){
                if(response){
                    //showModalLoading(true);
                    beginAjaxRequest();
                    loadFolder();
                }
            } 
        };
        $(document).ready(function(){
            beginAjaxRequest();
            init();
            $(document).on("click","#check-all", function(){
                var checked = $(this).is(":checked");
                $(".checkbox-select").attr("checked", checked);
                $(".checkbox-select").prop("checked", checked);
                if(checked){
                    $("#btn-delete-selected").removeClass("button-disabled").addClass("button-destroy");
                    $("#btn-move-selected").removeClass("button-disabled").addClass("slds-button_outline-brand");
                }else{
                    $("#btn-delete-selected").removeClass("button-destroy").addClass("button-disabled");
                    $("#btn-move-selected").removeClass("slds-button_outline-brand").addClass("button-disabled");
                }
            });
            $(document).on("click",".checkbox-select", function(){
                var selected = $("input[class='checkbox-select']:checked").length;
                if(selected > 0){
                    $("#btn-delete-selected").removeClass("button-disabled").addClass("button-destroy");
                    $("#btn-move-selected").removeClass("button-disabled").addClass("slds-button_outline-brand");
                }else{
                    $("#btn-delete-selected").removeClass("button-destroy").addClass("button-disabled");
                    $("#btn-move-selected").removeClass("slds-button_outline-brand").addClass("button-disabled");
                }
            });
            $(document).on("click","#btn-move-selected", function(){
                if(!$(this).hasClass("button-disabled")){
                    beginAjaxRequest();
                    openModalMovingFiles();  
                }
            });
            $(document).on("click","#btn-delete-selected", function(){
                if($(this).hasClass("button-destroy")){
                    var confirmDialog = new Object();
                    confirmDialog.hideConfirmButton = false;
                    confirmDialog.hideCancelButton = false;
                    confirmDialog.autoDestroy = false;
                    confirmDialog.textHeader = 'Delete Selected Files ';
                    confirmDialog.textBody = 'Are you sure you want to delete all the selected files/folders? You cannot undo this action. <br/>If you are deleting a folder all the documents and files inside this folder are going to be deleted as well. In this case, this operation may take a few seconds.';

                    openModalConfirmation(confirmDialog, confirmDeleteSelected);
                }
            });
        });
        function showLoading(msg){
            beginAjaxRequest();
        }
        function hideLoading(){
            completeAjaxRequest();
        }
        function finishUpload(){
            beginAjaxRequest();
            setTimeout(function () {
                closeModalFileUpload();
            }, 4000);
        }
        function loadDateInput(){
            $('.dateInput').datepicker({dateFormat:'dd/mm/yy'});
        }
        function verifyResultMoving(){
            var errorMovingFile = $("#errorMovingFile").val() == "true";
            if(errorMovingFile){
                completeAjaxRequest();
                var confirmDialog = new Object();
                confirmDialog.hideConfirmButton = false;
                confirmDialog.hideCancelButton = true;
                confirmDialog.autoDestroy = false;
                confirmDialog.textHeader = 'Invalid Action';
                confirmDialog.textBody = $("#errorDescriptionMovingFile").val();

                openModalConfirmation(confirmDialog, confirmLoadFolder);
            }else{
                changeCurrentFolder();
            }
        }
    </script>
    <apex:outputPanel id="container-school-documents" layout="block">
        <input id="errorMovingFile" type="hidden" value="{!errorMovingFile}"/>
        <input id="errorDescriptionMovingFile" type="hidden" value="{!errorDescriptionMovingFile}"/>
        <h1 class="header-page">
            {!accSelected.RecordType.Name} Documents
        </h1>
        <apex:form id="form-documents">
            <apex:actionStatus id="showModalLoadingFolder" onstart="beginAjaxRequest();" onstop="loadFolder();" />
            <apex:actionFunction name="init" action="{!init}" rerender="container-school-documents" oncomplete="completeAjaxRequest();"/>
            <apex:actionFunction name="loadFolder" action="{!loadFolder}" rerender="container-school-documents" oncomplete="completeAjaxRequest();"/>
            <apex:actionFunction name="changeCurrentFolder" action="{!openFolder}" rerender="container-school-documents" oncomplete="completeAjaxRequest();"/>
            <apex:actionFunction name="closeModalFileUpload" action="{!closeModalAfterUpload}" oncomplete="loadFolder();"/>
            <apex:actionFunction name="deleteAllSelected" action="{!deleteSelectedFiles}" oncomplete="loadFolder();"/>
            <apex:actionFunction name="openModalMovingFiles" action="{!openModalMovingFiles}" oncomplete="completeAjaxRequest();" rerender="container-school-documents"/>
            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size_1-of-2 slds-large-size_1-of-2" style="margin-bottom: 5px;">
                    <apex:commandLink action="{!openCloseModalUploadFile}" rendered="{!NOT(editMultiple)}" status="showModalLoading" styleClass="slds-button slds-button_stateful slds-button_outline-brand button_small" rerender="container-school-documents" style="margin-right: 5px">
                        <span class="slds-text-not-selected">
                        <svg class="slds-button__icon_stateful slds-button__icon_left" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#upload')}" />
                        </svg>
                            Upload Files
                        </span>
                    </apex:commandLink>
                    <apex:commandLink action="{!openCloseModalNewFolder}" rendered="{!NOT(editMultiple)}" status="showModalLoading" styleClass="slds-button slds-button_stateful slds-button_outline-brand button_small" rerender="container-school-documents" style="margin-right: 5px">
                        <span class="slds-text-not-selected">
                        <svg class="slds-button__icon_stateful slds-button__icon_left" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#add')}" />
                        </svg>
                            New Folder
                        </span>
                    </apex:commandLink>
                    <apex:commandLink action="{!openCloseModalNewLink}" rendered="{!NOT(editMultiple)}" status="showModalLoading" styleClass="slds-button slds-button_stateful slds-button_outline-brand button_small" rerender="container-school-documents" style="margin-right: 5px">
                        <span class="slds-text-not-selected">
                        <svg class="slds-button__icon_stateful slds-button__icon_left" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#internal_share')}" />
                        </svg>
                            New Link
                        </span>
                    </apex:commandLink>
                </div>
                <div class="slds-col slds-size_1-of-2 slds-large-size_1-of-2" style="margin-bottom: 5px; text-align: right;">
                    <apex:commandLink action="{!saveEdition}" rendered="{!editMultiple}" styleClass="slds-button slds-button_stateful slds-button_outline-brand button_small" onclick="beginAjaxRequest();" oncomplete="beginAjaxRequest();loadFolder();" style="margin-right: 5px">
                        <span class="slds-text-not-selected">
                        <svg class="slds-button__icon_stateful slds-button__icon_left" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#save
                            ')}" />
                        </svg>
                            Save All
                        </span>
                    </apex:commandLink>
                    <apex:commandLink action="{!openCloseEdit}" status="showModalLoading" styleClass="slds-button {!IF(editMultiple, 'slds-button_text-destructive', 'slds-button_stateful slds-button_outline-brand')} button_small" rerender="container-school-documents" style="margin-right: 5px" oncomplete="loadDateInput();">
                        <span class="slds-text-not-selected">
                        <svg class="slds-button__icon_stateful slds-button__icon_left" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#edit')}" />
                        </svg>&nbsp;
                            <apex:outputText value="Open Edit" rendered="{!NOT(editMultiple)}"/>
                            <apex:outputText value="Close Edit" rendered="{!editMultiple}"/>
                        </span>
                    </apex:commandLink>
                    <apex:outputPanel layout="none" rendered="{!NOT(editMultiple)}">
                        <a id="btn-move-selected" class="slds-button button-disabled button_small">
                            <span class="slds-text-not-selected">
                            <svg class="slds-button__icon_stateful slds-button__icon_left" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#level_down')}" />
                            </svg>
                                Move All
                            </span>
                        </a>
                    </apex:outputPanel>
                    <apex:outputPanel layout="none" rendered="{!NOT(editMultiple)}">
                        <a id="btn-delete-selected" class="slds-button button-disabled button_small">
                            <span class="slds-text-not-selected">
                            <svg class="slds-button__icon_stateful slds-button__icon_left" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#close')}" />
                            </svg>
                                Delete All
                            </span>
                        </a>
                    </apex:outputPanel>
                </div>
                <apex:outputPanel layout="block" styleClass="slds-col slds-size_1-of-1 slds-large-size_1-of-1" style="margin-top: 20px; margin-bottom: 20px;" rendered="{!filesOldPage != null && NOT(filesOldPage.empty)}">
                    <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert">
                        <span class="slds-assistive-text">error</span>
                        <span class="slds-icon_container slds-icon-utility-error slds-m-right_x-small" title="Description of icon when needed">
                            <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#error')}" />
                            </svg>
                        </span>
                        <h2 style="font-weight: bold;">
                            The files in red are files from the old page. Since they are saved in an old folder and in an old format, it is not possible to automatically migrate them. Therefore it is advisable to delete/upload these files again. 
                        </h2>
                    </div>
                </apex:outputPanel>
                <apex:outputPanel id="containerFolders" layout="block" styleClass="slds-col slds-size_1-of-1 slds-large-size_1-of-1">
                    <div style="border-top: 1px solid #eee; margin-top: 5px;">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1">
                                <nav role="navigation" aria-label="Breadcrumbs" style="margin: 10px 0px;">
                                    <ol class="slds-breadcrumb slds-list_horizontal slds-wrap">
                                        <apex:repeat var="bc" value="{!breadcrumb}">
                                            <li class="slds-breadcrumb__item slds-text-title_caps">
                                                <apex:commandLink value="{!bc.name}" action="{!openFolder}" status="showModalLoading" rerender="containerFolders" title="Open folder {!bc.name}.">
                                                    <apex:param name="idFolder" value="{!bc.ID}"/>
                                                </apex:commandLink>
                                            </li>
                                        </apex:repeat>
                                    </ol>
                                </nav>
                            </div>
                            <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1">
                                <table aria-multiselectable="true" class="slds-table slds-table_bordered slds-table_fixed-layout slds-table_col-bordered" role="grid">
                                    <thead>
                                        <tr class="slds-line-height_reset">
                                            <apex:outputPanel layout="none" rendered="{!NOT(editMultiple)}">
                                                <th class="slds-text-title_caps" scope="col" style="width: 3%;">
                                                    <div class="slds-truncate" title="Opportunity Name">
                                                        <div class="slds-truncate" title="Click here to select this old file." style="text-align: center">
                                                            <input id="check-all" type="checkbox" class="check-all"/>
                                                        </div>
                                                    </div>
                                                </th>
                                            </apex:outputPanel>
                                            <th class="slds-text-title_caps" scope="col" style="width: 4%;">
                                                <div class="slds-truncate" title="Close Date" style="text-align: center">Type</div>
                                            </th>
                                            <th class="slds-text-title_caps" scope="col">
                                                <div class="slds-truncate" title="Stage">
                                                    Name
                                                </div>
                                            </th>
                                            <apex:outputPanel layout="none" rendered="{!editMultiple}">
                                                <th class="slds-text-title_caps" scope="col">
                                                    <div class="slds-truncate" title="Opportunity Name">Link URL</div>
                                                </th>
                                            </apex:outputPanel>
                                            <th class="slds-text-title_caps" scope="col">
                                                <div class="slds-truncate" title="Contact">Description</div>
                                            </th>
                                            <th class="slds-text-title_caps" scope="col" style="width: 10%;">
                                                <div class="slds-truncate" title="Contact">File Size</div>
                                            </th>
                                            <th class="slds-text-title_caps" scope="col">
                                                <div class="slds-truncate" title="Amount">Expiry Date</div>
                                            </th>
                                            <th class="slds-text-title_caps" scope="col">
                                                <div class="slds-truncate" title="Confidence">Last Modified BY</div>
                                            </th>
                                            <!-- <th class="slds-text-title_caps" scope="col">
                                                <div class="slds-truncate" title="Amount">Created By</div>
                                            </th> -->
                                            
                                            <apex:outputPanel layout="none" rendered="{!NOT(editMultiple)}">
                                                <th class="slds-text-title_caps" scope="col" style="width: 10%;">
                                                    <div class="slds-truncate" title="Amount"></div>
                                                </th>
                                            </apex:outputPanel>
                                        </tr>  
                                    </thead>
                                    <tbody>
                                        <apex:repeat var="file" value="{!files}" rendered="{!NOT(files.empty)}">
                                            <tr id="{!file.id}" class="slds-hint-parent">
                                                <apex:outputPanel layout="none" rendered="{!NOT(editMultiple)}">
                                                    <th data-label="Opportunity Name" scope="row">
                                                        <div class="slds-truncate" title="Click here to select this {!file.type}." style="text-align: center">
                                                            <apex:inputCheckbox value="{!file.isSelected}" styleClass="checkbox-select"/>
                                                        </div>
                                                    </th>
                                                </apex:outputPanel>
                                                <td data-label="Account Name">
                                                    <div style="text-align: center;">
                                                        <apex:commandLink action="{!openFolder}" rendered="{!file.type == 'Folder'}" type="image/png" rerender="containerFolders" status="showModalLoading" title="Click here to open the folder {!file.name}.">
                                                            <apex:image title="Folder" url="{!URLFOR($Resource.cg__SDriveFileIcons,'Folder.png')}" />
                                                            <apex:param name="idFolder" value="{!file.ID}"/>
                                                        </apex:commandlink>
                                                        <apex:outputLink value="{!file.url}" target="_blank" rendered="{!file.type == 'Link'}">
                                                            <apex:image title="Click here to open the link to {!file.name}." url="{!URLFOR($Resource.cg__SDriveFileIcons,'text_html.png')}"/>
                                                        </apex:outputLink>
                                                        <apex:outputLink value="{!file.downloadUrl}" target="_blank" rendered="{!file.type == 'File'}" title="Click here to download the file {!file.name}." styleClass="linkToDownloadFile">
                                                            <apex:image title="Click here to download the file {!file.name}." url="{!URLFOR($Resource.cg__SDriveFileIcons,'text_plain.png')}" />
                                                        </apex:outputLink>
                                                    </div>
                                                </td>
                                                <td class="slds-cell-wrap" data-label="Close Date">
                                                    <apex:outputPanel layout="block" rendered="{!NOT(editMultiple)}">
                                                        <apex:outputPanel layout="none" rendered="{!file.type == 'Folder'}">
                                                            <apex:commandLink value="{!file.name}" action="{!openFolder}" rerender="containerFolders" status="showModalLoading" title="Open folder {!file.name}.">
                                                                <apex:param name="idFolder" value="{!file.ID}"/>
                                                            </apex:commandlink>&nbsp;
                                                            <apex:outputPanel layout="none" rendered="{!file.isEmptyFolder}">
                                                                <i>(Empty)</i>
                                                            </apex:outputPanel>
                                                        </apex:outputPanel>

                                                        <apex:outputLink value="{!file.url}" target="_blank" rendered="{!file.type == 'Link' || file.type == 'File'}" title="Open {!file.name}">
                                                            {!file.name}
                                                        </apex:outputLink>
                                                    </apex:outputPanel>
                                                    <apex:outputPanel layout="block" rendered="{!editMultiple}" styleClass="slds-truncate" style="text-align: center;">
                                                        <apex:inputText rendered="{!file.type != 'File'}" value="{!file.name}"/>
                                                        <apex:outputText rendered="{!file.type == 'File'}" value="{!file.name}"/>
                                                    </apex:outputPanel>
                                                </td>
                                                <apex:outputPanel layout="none" rendered="{!editMultiple}">
                                                    <td data-label="Prospecting">
                                                        <div class="slds-truncate">
                                                            <apex:inputText rendered="{!file.type == 'Link'}" value="{!file.url}"/>
                                                        </div>
                                                    </td>
                                                </apex:outputPanel>
                                                <td data-label="Prospecting">
                                                    <div class="slds-cell-wrap" title="{!file.description}">
                                                        <apex:inputTextarea rendered="{!editMultiple}" value="{!file.description}"/>
                                                        <apex:outputText rendered="{!NOT(editMultiple)}" value="{!file.description}"/>
                                                    </div>
                                                </td>
                                                <td data-label="Prospecting" style="text-align: center;">
                                                    <div class="slds-cell-wrap" title="{!file.fileSize}">
                                                        <apex:outputText value="{!file.fileSize}"/>
                                                    </div>
                                                </td>
                                                <td data-label="Contact">
                                                    <div class="slds-truncate">
                                                        <apex:outputText value="{!file.expiryDate}" rendered="{!NOT(editMultiple)}" style="{!IF(file.isExpired,'color: red;','')}"/>
                                                        <apex:inputText value="{!file.expiryDate}" rendered="{!editMultiple && file.type == 'File'}" styleClass="inputField dateInput" style="width: 100%"/>
                                                    </div>
                                                </td>
                                                <td class="slds-cell-wrap" data-label="Confidence">
                                                    <apex:outputPanel rendered="{!file.lastModifiedBy != null}" title="Last modified on {!file.lastModifiedDate} by {!file.lastModifiedBy}">
                                                        <apex:outputText value="{!file.lastModifiedBy}"/> - <apex:outputText value=" {!file.lastModifiedDate}"/>
                                                    </apex:outputPanel>
                                                    <apex:outputPanel rendered="{!file.lastModifiedBy == null}" title="Last modified on {!file.lastModifiedDate} by {!file.lastModifiedBy}">
                                                        <apex:outputText value="{!file.createdBy}"/> - <apex:outputText value=" {!file.createdDate}"/>
                                                    </apex:outputPanel>
                                                </td>
                                                
                                                <apex:outputPanel layout="none" rendered="{!NOT(editMultiple)}">
                                                    <td data-label="Contact">
                                                        <apex:outputPanel layout="block" styleClass="slds-truncate" rendered="{!file.type == 'File'}" style="text-align: center;">
                                                            <apex:outputLink value="{!file.downloadUrl}" target="_blank" rendered="{!file.type == 'File'}" title="Click here to download the file {!file.name}." styleClass="linkToDownloadFile">
                                                                Download
                                                            </apex:outputLink>
                                                        </apex:outputPanel>
                                                    </td>
                                                </apex:outputPanel>
                                            </tr>
                                        </apex:repeat>
                                        <apex:repeat var="file" value="{!filesOldPage}" rendered="{!NOT(filesOldPage.empty)}">
                                            <tr id="{!file.id}" class="slds-hint-parent old-file">
                                                <apex:outputPanel layout="none" rendered="{!NOT(editMultiple)}">
                                                    <th data-label="Opportunity Name" scope="row">
                                                        <div class="slds-truncate" title="Click here to select this old file." style="text-align: center">
                                                            <apex:inputCheckbox value="{!file.isSelected}" styleClass="checkbox-select"/>
                                                        </div>
                                                    </th>
                                                </apex:outputPanel>
                                                <td data-label="Account Name">
                                                    <div style="text-align: center;">
                                                        <apex:outputLink value="{!file.url}" target="_blank">
                                                            <apex:image title="Click here to open the link to {!file.name}." url="{!URLFOR($Resource.cg__SDriveFileIcons,'text_plain.png')}"/>
                                                        </apex:outputLink>
                                                    </div>
                                                </td>
                                                <td data-label="Account Name" class="slds-cell-wrap">
                                                    <div>
                                                        <apex:outputLink value="{!file.url}" target="_blank" title="Open {!file.name}">
                                                            {!file.name}
                                                        </apex:outputLink>
                                                    </div>
                                                </td>
                                                <td data-label="Account Name" class="slds-cell-wrap">
                                                    <div>
                                                        <apex:outputText value="{!file.description}"/>
                                                    </div>
                                                </td>
                                                <td data-label="Account Name" class="slds-cell-wrap">
                                                    <div style="text-align: center;">
                                                        <apex:outputText value="{!file.fileSize}"/>
                                                    </div>
                                                </td>
                                                <td>
                                                    Campus {!file.metadataType}
                                                </td>
                                                <td data-label="Account Name">
                                                    <div>
                                                        <div class="slds-truncate" title="Created on {!file.createdDate} by {!file.createdBy}">
                                                            <apex:outputText value="{!file.createdBy}"/> - <apex:outputText value=" {!file.createdDate}"/>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td></td>
                                            </tr>
                                        </apex:repeat>
                                        <apex:outputPanel layout="none" rendered="{!files.empty && filesOldPage.empty}">
                                            <tr class="slds-hint-parent">
                                                <td data-label="Account Name" colspan="7">
                                                    <div class="slds-truncate">
                                                        <b>This folder is empty.</b>
                                                    </div>
                                                </td>
                                            </tr>
                                        </apex:outputPanel>
                                    </tbody>
                                </table> 
                            </div>
                        </div>
                    </div>
                </apex:outputPanel>
            </div>
        </apex:form>
        <apex:outputPanel id="modal-new-folder" rendered="{!showModalNewFolder}" layout="block" styleClass="demo-only">
            <apex:form >
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container" style="width: 25%;">
                        <header class="slds-modal__header">
                            <apex:commandLink action="{!openCloseModalNewFolder}" immediate="true" reRender="container-school-documents" status="showModalLoading" styleClass="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"> 
                                <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#close')}" />
                                </svg>
                                <span class="slds-assistive-text">Close</span>
                            </apex:commandLink>
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                                <apex:outputText rendered="{!NOT(editing)}" value="Create New Folder" />
                                <apex:outputText rendered="{!editing}" value="Edit Folder" />
                            </h2>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1">
                                    <div style="text-align: right">
                                        Parent Folder: <b style="color: rgba(0, 68, 135, 1.0)">{!currentOpenFolder.File_Name__c}</b>
                                    </div>
                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                            <div class="test-id__field-label-container">
                                                <span class="test-id__field-label slds-form-element__label" style="color: black">
                                                    Folder Name
                                                </span>
                                            </div>
                                            <div class="slds-form-element__control slds-grid itemBody">
                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                    <span class="uiOutputText">
                                                        <apex:inputText value="{!newFolder.File_Name__c}" styleClass="inputField requiredField" required="true" style="width: 100%;"/>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView" style="margin-top: 15px;">
                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                            <div class="test-id__field-label-container">
                                                <span class="test-id__field-label slds-form-element__label" style="color: black">
                                                    Description
                                                </span>
                                            </div>
                                            <div class="slds-form-element__control slds-grid itemBody">
                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                    <span class="uiOutputText">
                                                        <apex:inputTextarea value="{!newFolder.Description__c}" styleClass="inputField" style="width: 100%; resize: none" rows="3"/>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="slds-modal__footer">
                            <apex:commandLink action="{!openCloseModalNewFolder}" immediate="true" reRender="container-school-documents" styleClass="slds-button slds-button_neutral" value="Cancel" style="margin-right: 10px"/>
                            <apex:commandButton action="{!saveNewFolder}" reRender="container-school-documents" status="showModalLoadingFolder" styleClass="slds-button slds-button_brand" value="Save"/>
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </apex:form>
        </apex:outputPanel>
        <apex:outputPanel id="modal-move-files" rendered="{!showModalMoveFolder}" layout="block" styleClass="demo-only">
            <apex:form >
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container" style="width: 25%;">
                        <header class="slds-modal__header">
                            <apex:commandLink action="{!closeModalMovingFiles}" immediate="true" reRender="container-school-documents" status="showModalLoading" styleClass="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"> 
                                <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#close')}" />
                                </svg>
                                <span class="slds-assistive-text">Close</span>
                            </apex:commandLink>
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                                Move files
                            </h2>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1">
                                    <div style="text-align: right">
                                        Current Folder: <b style="color: rgba(0, 68, 135, 1.0)">{!currentOpenFolder.File_Name__c}</b>
                                    </div>
                                    <div style="margin: 20px 0px;">
                                        <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning" role="alert">
                                            <span class="slds-assistive-text">warning</span>
                                            <span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small" title="Description of icon when needed">
                                                <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#warning')}" />
                                                </svg>
                                            </span>
                                            <h2>Be aware that this action may take several minutes if you are moving folders with many files inside or large files. In these cases it's advisable to delete and upload everything again. 
                                            <br/><br/>
                                            It is not possible to move a folder into its own folder or one of its subfolders. If you attempt to perform this action the whole operation will be aborted. 
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                            <div class="test-id__field-label-container">
                                                <span class="test-id__field-label slds-form-element__label" style="color: black">
                                                    Please choose the destination folder:
                                                </span>
                                            </div>
                                            <div class="slds-form-element__control slds-grid itemBody">
                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                    <span class="uiOutputText">
                                                        <apex:selectList value="{!idFolderToMove}" styleClass="slds-select" size="1" required="true">
                                                            <apex:selectOptions value="{!foldersToMove}"/>
                                                        </apex:selectList>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="slds-modal__footer">
                            <apex:commandLink action="{!closeModalMovingFiles}" status="showModalLoading" immediate="true" reRender="container-school-documents" styleClass="slds-button slds-button_neutral" value="Cancel" style="margin-right: 10px"/>
                            <apex:commandButton action="{!moveIntoFolder}" onclick="beginAjaxRequest();" reRender="container-school-documents" oncomplete="verifyResultMoving();" styleClass="slds-button slds-button_brand" value="Move"/>
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </apex:form>
        </apex:outputPanel>
        <apex:outputPanel id="modal-new-link" rendered="{!showModalNewLink}" layout="block" styleClass="demo-only">
            <apex:form >
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">
                        <header class="slds-modal__header">
                            <apex:commandLink action="{!openCloseModalNewLink}" immediate="true" reRender="container-school-documents" status="showModalLoading" styleClass="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"> 
                                <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#close')}" />
                                </svg>
                                <span class="slds-assistive-text">Close</span>
                            </apex:commandLink>
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                                <apex:outputText rendered="{!NOT(editing)}" value="Create New Link" />
                                <apex:outputText rendered="{!editing}" value="Edit Link" />
                            </h2>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1">
                                    <div style="text-align: right">
                                        Parent Folder: <b style="color: rgba(0, 68, 135, 1.0)">{!currentOpenFolder.File_Name__c}</b>
                                    </div>
                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                            <div class="test-id__field-label-container">
                                                <span class="test-id__field-label slds-form-element__label" style="color: black">
                                                    Link Name
                                                </span>
                                            </div>
                                            <div class="slds-form-element__control slds-grid itemBody">
                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                    <span class="uiOutputText">
                                                        <apex:inputText value="{!newExternalLink.name}" styleClass="inputField requiredField" required="true" style="width: 100%;"/>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView" style="margin-top: 15px;">
                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                            <div class="test-id__field-label-container">
                                                <span class="test-id__field-label slds-form-element__label" style="color: black">
                                                    Link URL (<span style="color: rgb(194, 57, 52);">Make sure to insert http:// or https:// at the beggining of the link.</span>)
                                                </span>
                                            </div>
                                            <div class="slds-form-element__control slds-grid itemBody">
                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                    <span class="uiOutputText">
                                                        <apex:inputText value="{!newExternalLink.url}" styleClass="inputField requiredField" required="true" style="width: 100%;"/>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView" style="margin-top: 15px;">
                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                            <div class="test-id__field-label-container">
                                                <span class="test-id__field-label slds-form-element__label" style="color: black">
                                                    Description
                                                </span>
                                            </div>
                                            <div class="slds-form-element__control slds-grid itemBody">
                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                    <span class="uiOutputText">
                                                        <apex:inputTextarea value="{!newExternalLink.description}" styleClass="inputField" style="width: 100%; resize: none" rows="3"/>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="slds-modal__footer">
                            <apex:commandLink action="{!openCloseModalNewLink}" immediate="true" reRender="container-school-documents" status="showModalLoading" styleClass="slds-button slds-button_neutral" value="Cancel" style="margin-right: 10px;"/>
                            <apex:commandButton action="{!saveNewLink}" reRender="container-school-documents" status="showModalLoadingFolder" styleClass="slds-button slds-button_brand" value="Save"/>
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </apex:form>
        </apex:outputPanel>
        <apex:outputPanel id="modal-new-file-upload" rendered="{!showModalUploadFile}" layout="block" styleClass="demo-only">
            <apex:form >
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
                    <div class="slds-modal__container">
                        <header class="slds-modal__header">
                            <apex:commandLink action="{!openCloseModalUploadFile}" immediate="true" reRender="container-school-documents" status="showModalLoading" styleClass="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"> 
                                <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#close')}" />
                                </svg>
                                <span class="slds-assistive-text">Close</span>
                            </apex:commandLink>
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Upload File</h2>
                        </header>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <div class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1">
                                    <div style="text-align: right">
                                        Parent Folder: <b style="color: rgba(0, 68, 135, 1.0)">{!currentOpenFolder.File_Name__c}</b>
                                    </div>
                                    <div>
                                        <c:FileUpload bucket="{!bucketName}" folder="{!currentOpenFolder.S3_Folder_Tree__c}" oid="{!currentOpenFolder.ID}" field="Preview_Link__c" callNewLoading="true" callback="finishUpload"  useNativeJQueryLibrary="false" limitFilesToFolder="true" callUpdatePMCFiles="true"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <footer class="slds-modal__footer">
                            <apex:commandLink action="{!openCloseModalUploadFile}" immediate="true" reRender="container-school-documents" status="showModalLoading" styleClass="slds-button slds-button_neutral" value="Cancel" style="margin-right: 10px;"/>
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </apex:form>
        </apex:outputPanel>
    </apex:outputPanel>
</apex:component>