<apex:component layout="block">
    <apex:includeLightning />
    <apex:slds /> 
    <apex:includeScript value="{!$Resource.up_jQuery}" />
    <apex:includeScript value="{!URLFOR($Resource.emojionearea,'emojione.js')}" />
    <apex:styleSheet value="{!URLFOR($Resource.emojionearea,'emojione.css')}" />

    <script>
        $(document).ready(function(){
            $(document).on("click",".openLinkNewTab",function(){
                var url = $(this).attr("href");
                window.open(url,"popup","width=1024,height=768");
            });
            /*$(document).on("click",".open-whatsapp-emojis", function(){
                alert("Clicou");
                $("textarea[name='inputMessage']").focus();
            });*/
        });
        function openWhatsappMessages(clientID){
            showModalLoading(true);
            $Lightning.use("c:lwcWhatsappMessagesApp", function() {
                $Lightning.createComponent("c:lwcWhatsappMessages", {"idClient" : clientID}, "whatsappMessages", function(cmp) {
                    showModalLoading(false);
                    $("#modal-whatsapp").toggle();
                    setTimeout(function(){
                        //alert("aqui");
                        //console.log($("textarea[name='inputMessage']"));
                    }, 3000);
                });
            });
        }
        function closeWhatsappModal(){
            clearInterval(scroll);
            $("#modal-whatsapp").toggle();
            $("#whatsappMessages").empty();
        }
    </script>

    <div id="modal-whatsapp" class="demo-only" style="display: none;">
        <section class="slds-modal slds-fade-in-open slds-modal_large" role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-whatsapp-content">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick="closeWhatsappModal();">
                        <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#close')}"/>
                        </svg>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">WhatsApp Messages</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-whatsapp-content" style="padding: 0 !important; height: 90vh;">
                    <div id="whatsappMessages" style="height: 100%;"/>
                </div>
                <!-- <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick="closeWhatsappModal();">Close</button>
                </footer> -->
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</apex:component>