.container { 
    background-image: linear-gradient(to bottom, #a5c5f6, #b8d0f7, #cadbf9, #dce7fa, #edf2fb) !important;
    overflow-y: auto;    
}

.divres{
    padding-bottom: 6px;
}

.spotsCol1 div:hover {
    background:rgb(45, 43, 182);  
}

.spotsCol2 div:hover {    
    background: rgb(45, 43, 182);  
} 

.spotsCol1 {
    cursor: pointer;
    position: relative;    
    width: calc(50% - 5px);
    height: auto;
    min-width: 10%;        
    min-height: 10%;
    float: left; 
    margin: 0.1% 0.1% 0px 0.1%;  
    resize: both; 
    overflow: auto;  
}

.spotsCol2 {
    cursor: pointer; 
    min-width: 10%;        
    min-height: 10%;
    position: relative;    
    width: calc(50% - 5px);
    height: auto;
    float: right;
    resize: both; 
    overflow: auto;
    margin: 0.1% 0.1% 0px 0.1%; 
}

.cls-city{
    color:#888;
}

.cls-campus{
    color:#ED891E;
}

.remainingInstalments{
    color: #ED891E !important;
    display: block !important;
    font-size: 0.8em !important;
    margin: 0 0 8px 0;
}

.isoCode {
    color: #999;
    font-size: 0.8em;    
}

.searching{
    color:red !important;
    display: block !important;
    font-size: 1.2em !important;
    text-align: right !important;    
}

.itemVl:hover{    
    font-weight: bolder;
    cursor: pointer;
    color: #666;
}

.container-parentsTab{
    -webkit-box-shadow: -1px 2px 2px 1px rgba(0,0,0,0.29);
    -moz-box-shadow: -1px 2px 2px 1px rgba(0,0,0,0.29);
    box-shadow: -1px 2px 2px 1px rgba(0,0,0,0.29);
    left: 0; top: -11px; background: white; z-index: 99; padding: 10px; border: 1px solid #eee; width: 100%; border-radius: 5px;
    overflow-y: auto;
}

.container-parentsTab .itemParentTab{
    margin-top: 5px;
}

.container-parentsTab .itemParentTab:first-child{
    margin-top: 0px;
}

.container-parents{
    -webkit-box-shadow: -1px 2px 2px 1px rgba(0,0,0,0.29);
    -moz-box-shadow: -1px 2px 2px 1px rgba(0,0,0,0.29);
    box-shadow: -1px 2px 2px 1px rgba(0,0,0,0.29);
    position: absolute; 
    left: 0; 
    top: -11px; 
    background: white; 
    z-index: 99; 
    padding: 2px; 
    border: 1px solid #eee; 
    width: 100%; 
    border-radius: 5px;    
    max-height: 75px;
    overflow-y: auto;
}

.container-parents .itemParent{
    margin-top: 10px;
}

.container-parents .itemParent:first-child{
    margin-top: 0px;
}

.cls-parent{
    font-weight: bold;
    color:#383535;
}

.cls-child{
    padding-left: 20px;
}

.cls-layout{
    width: 100% !important; 
    position: relative;
    vertical-align: center !important;  
}

.cls-border-table{
    border-top: 1px solid black !important;
    width: 100% !important; 
    
}

.caption-th {    
    font-weight: bold !important;
    color: #8b8888 !important;  
    width: 60% !important;
}

.caption-th-label {        
    font-weight: bold !important;
    color:#383535 !important;
    width: 10% !important;
}

.caption-th-button {            
    font-weight: bold !important;
    color: #8b8888 !important;  
    width: 30% !important;
}

.spinnerHolder{
    position: relative;
    display: inline-block;  
    width: 100%;
    height: 80px;
    background-color: transparent;
}

.spinnerHolder1{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: transparent;
}

.chartjs-render-monitor{
    width: -webkit-fill-available !important;
    width: fit-content !important;
    height: fit-content !important;
    height: -webkit-fill-available !important;
}

.listSpot {      
     
    -webkit-box-shadow: -1px 2px 2px 1px rgba(0,0,0,0.29);
    -moz-box-shadow: -1px 2px 2px 1px rgba(0,0,0,0.29);
    box-shadow: -1px 2px 2px 1px rgba(0,0,0,0.29);      
    border: 1px solid #eee; 
    background: white;
    width: 100%; 
    z-index: 99;
    border-radius: 5px; 
    padding: 2px;     
    height: 100%;        
    position: sticky;
    top: 0;   
}

.accordion {    
    color: navy;
    background: #6295E1;
    font-weight: bold;
    cursor: pointer;
    padding: 1px;
    width: 100%; 
    border-radius: 5px;   
    margin-bottom: 5px; 
}

.btnaccordion {       
    color: navy;    
    font-weight: bold;
    cursor: pointer;
    padding: 1px;    
    width: 5%;
    border-radius: 5px;
    margin-left: 3px;    
}

.divaccordion{        
    border-bottom: 1px solid #8b8888;
    border-left: 1px solid #8b8888;
    border-right: 1px solid #8b8888;
    border-radius: 5px; 
    padding: 5px;  
}