<template>    
    <template if:true={toast}>               
        <c-toast-message vmsg={msgToast} vtype={typeToast} onclose={handleClose}></c-toast-message>                   
    </template>
    <lightning-card title="Filter" icon-name="standard:filter">        
        <div class="slds-m-around_medium">
            <div class="slds-grid slds-gutters"> 
                <div class="slds-col" >                    
                    <lightning-input type="search" label="Agency Group" autocomplete="off" class="slds-m-bottom_small"
                    onmouseover={handleExit} required={reqGroup}  
                    onfocus={handleGroupFocus} onblur={handleGroupBlur} 
                    onchange={handleGroupChange} value={groupSelected} ></lightning-input>
                    <template if:true={isGroup} >             
                        <lightning-layout class="cls-layout" >            
                            <lightning-layout-item padding="around-medium"> 
                                <div class="slds-m-around_medium" >
                                    <div class="container-parents" onmouseleave={handleExit}>
                                        <div for:each={crsGroup} key={naa.label} for:item="naa" class="itemParent">                            
                                            <div key={naa.label} data-item={naa.value} data-value={naa.label} class="itemVl cls-parent" onclick={handleGroupClicked}>{naa.value}</div>                                                            
                                        </div>   
                                    </div>
                                </div>                   
                            </lightning-layout-item> 
                        </lightning-layout>                                   
                    </template>                     
                </div>    
                <div class="slds-col">    
                    <lightning-input type="search" label="Agency" autocomplete="off"  class="slds-m-bottom_small"
                    onmouseover={handleExit} required={reqAgency} 
                    onblur={handleAgencyBlur} onfocus={handleAgencyFocus}  
                    onchange={handleAgencyChange} value={agencySelected} ></lightning-input>
                    <template if:true={isAgency} >             
                        <lightning-layout class="cls-layout">            
                            <lightning-layout-item padding="around-medium"> 
                                <div class="slds-m-around_medium">
                                    <div class="container-parents" onmouseleave={handleExit}>                                       
                                        <div for:each={crsAgency} key={naa.label} for:item="naa" class="itemParent">                            
                                            <div key={naa.label} data-item={naa.value} data-value={naa.label} class="itemVl cls-parent" onclick={handleAgencyClicked}>{naa.value}</div>                                                            
                                        </div> 
                                    </div>
                                </div>                   
                            </lightning-layout-item> 
                        </lightning-layout>                                      
                    </template>                                            
                </div>
                <div class="slds-col">                                       
                    <lightning-input type="search" label="Department" autocomplete="off"  class="slds-m-bottom_small"
                    onmouseover={handleExit} onfocus={handleDepartmentFocus}  
                    onchange={handleDepartmentChange} value={departmentSelected} ></lightning-input>
                    <template if:true={isDepartment} >             
                        <lightning-layout class="cls-layout">            
                            <lightning-layout-item padding="around-medium"> 
                                <div class="slds-m-around_medium">
                                    <div class="container-parents" onmouseleave={handleExit}>                                       
                                        <div for:each={crsDepartment} key={naa.label} for:item="naa" class="itemParent">                            
                                            <div key={naa.label} data-item={naa.value} data-value={naa.label} class="itemVl cls-parent" onclick={handleDepartmentClicked}>{naa.value}</div>                                                            
                                        </div> 
                                    </div>
                                </div>                   
                            </lightning-layout-item> 
                        </lightning-layout>                                      
                    </template>                           
                </div>            
                <div class="slds-col">                        
                    <lightning-input type="search" autocomplete="off" label="Users" class="slds-m-bottom_small"
                    onmouseover={handleExit} onchange={handleUsersChange} 
                    onfocus={handleUsersFocus} value={usersSelected} ></lightning-input>
                    <template if:true={isUsers}>
                        <lightning-layout class="cls-layout">            
                            <lightning-layout-item padding="around-medium"> 
                                <div class="slds-m-around_medium">
                                    <div class="container-parents" onmouseleave={handleExit}> 
                                        <div for:each={crsUsers} key={naa.label} for:item="naa" class="itemParent">                            
                                            <div key={naa.label} data-item={naa.value} data-value={naa.label} class="itemVl cls-parent" onclick={handleUsersClicked}>{naa.value}</div>                                                            
                                        </div> 
                                    </div>
                                </div>                   
                            </lightning-layout-item> 
                        </lightning-layout>
                    </template>  
                </div>  
                <div class="slds-col slds-align_absolute-center"> 
                    <lightning-button label="Apply" variant="brand" icon-name="utility:filter" title="Apply Filter" class="slds-button" onclick={handleApplyFilter}></lightning-button>     
                    <div if:true={showSpinner} class="spinnerHolder1">
                        <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
                    </div>                
                </div>
            </div>                          
        </div>      
    </lightning-card>
    <div class="listSpot">
        <button class="accordion" onclick={handleReportClick}>REPORTS     +</button>
        <div if:true={isClicked}>   
            <div class="slds-grid slds-gutters"> 
                <div class="slds-col" ondrop={dropped}>   
                    <lightning-tabset variant="scoped" active-tab-value="0">
                        <template for:each={tabs} for:item="tab">
                            <lightning-tab label={tab.label} key={tab.value} value={tab.value} onactive={handleActive} style="cursor: pointer;">
                                <c-lwc-dashboard-list tasklist={spotListAux} category="LIST" onlistitemdrag={handleListItemDrag} onitemdrop={handleItemDrop}></c-lwc-dashboard-list>            
                            </lightning-tab>
                        </template>
                    </lightning-tabset> 
                </div>                
            </div> 
        </div>        
    </div>  
    <lightning-card if:true={isChange}>
        <div class="slds-align_absolute-center">     
            <lightning-button label="Cancel" variant="brand" title="Cancel" class="slds-button" onclick={handleCancelSettings}></lightning-button> 
            <lightning-button label="Save" variant="brand" icon-name="utility:save" title="Save" class="slds-button" onclick={handleSubmit}></lightning-button> 
        </div>   
    </lightning-card>  
    <section class="container">          
        <div class="spotsCol1 lSpot1" ondragover={handleover} ondrop={dropped} id={index}>              
            <div if:true={showSpinner1} class="spinnerHolder slds-align_absolute-center">
                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
            </div>     
            <div class="divres">                    
                <c-lwc-dashboard-list  tasklist={spotOne} has-el={draggingEl} category="ONE"  filter-data={resultFilter} 
                apply-data={applyClick} onlistapplyreturn={handleListApplyReturn} onlistitemdrag={handleListItemDrag} 
                onitemdrop={handleItemDrop}></c-lwc-dashboard-list>
            </div>
        </div>
        <div class="spotsCol2 lSpot2" ondragover={handleover} ondrop={dropped} id={index}>      
            <div if:true={showSpinner2} class="spinnerHolder slds-align_absolute-center">                 
                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
            </div>         
            <div class="divres">                     
                <c-lwc-dashboard-list tasklist={spotTwo} has-el={draggingEl} category="TWO"  filter-data={resultFilter} apply-data={applyClick}  onlistapplyreturn={handleListApplyReturn} onlistitemdrag={handleListItemDrag} onitemdrop={handleItemDrop}></c-lwc-dashboard-list>
            </div>
        </div>
        <div class="spotsCol1 lSpot3" ondragover={handleover} ondrop={dropped} id={index}>             
            <div if:true={showSpinner3}  class="spinnerHolder slds-align_absolute-center">                 
                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
            </div>          
            <div class="divres">           
                <c-lwc-dashboard-list  tasklist={spotThree} has-el={draggingEl} category="THREE" filter-data={resultFilter}  
                apply-data={applyClick} onlistapplyreturn={handleListApplyReturn} onlistitemdrag={handleListItemDrag} onitemdrop={handleItemDrop}></c-lwc-dashboard-list>
             </div> 
         </div> 
        <div class="spotsCol2 lSpot4" ondragover={handleover}  ondrop={dropped}> 
            <div if:true={showSpinner4} class="spinnerHolder slds-align_absolute-center">
                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
            </div> 
            <div class="divres">               
                <c-lwc-dashboard-list tasklist={spotFour} has-el={draggingEl} category="FOUR"  filter-data={resultFilter} apply-data={applyClick} onlistapplyreturn={handleListApplyReturn} onlistitemdrag={handleListItemDrag} onitemdrop={handleItemDrop}></c-lwc-dashboard-list>
            </div>                         
        </div>
        <div class="spotsCol1 lSpot5" ondragover={handleover} ondrop={dropped}>
            <div if:true={showSpinner5} class="spinnerHolder slds-align_absolute-center">
                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
            </div>           
            <div class="divres">           
                <c-lwc-dashboard-list  tasklist={spotFive} has-el={draggingEl} category="FIVE"  filter-data={resultFilter} apply-data={applyClick} onlistapplyreturn={handleListApplyReturn} onlistitemdrag={handleListItemDrag} onitemdrop={handleItemDrop}></c-lwc-dashboard-list>
            </div> 
        </div> 
        <div class="spotsCol2 lSpot6" ondragover={handleover} ondrop={dropped}>  
            <div if:true={showSpinner6} class="spinnerHolder slds-align_absolute-center">
                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
            </div>           
            <div class="divres">           
                <c-lwc-dashboard-list  tasklist={spotSix} has-el={draggingEl} category="SIX"  filter-data={resultFilter} apply-data={applyClick} onlistapplyreturn={handleListApplyReturn} onlistitemdrag={handleListItemDrag} onitemdrop={handleItemDrop}></c-lwc-dashboard-list>
            </div>  
        </div> 
        <div class="spotsCol1 lSpot7" ondragover={handleover} ondrop={dropped}>  
            <div if:true={showSpinner7} class="spinnerHolder slds-align_absolute-center">
                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
            </div>             
            <div class="divres">         
                <c-lwc-dashboard-list  tasklist={spotSeven} has-el={draggingEl} category="SEVEN"  filter-data={resultFilter} apply-data={applyClick} onlistapplyreturn={handleListApplyReturn} onlistitemdrag={handleListItemDrag} onitemdrop={handleItemDrop}></c-lwc-dashboard-list>
            </div>
        </div>
        <div class="spotsCol2 lSpot8" ondragover={handleover} ondrop={dropped}>  
            <div if:true={showSpinner8} class="spinnerHolder slds-align_absolute-center">
                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
            </div>            
            <div class="divres">            
                <c-lwc-dashboard-list  tasklist={spotEight} has-el={draggingEl} category="EIGHT"  filter-data={resultFilter} apply-data={applyClick} onlistapplyreturn={handleListApplyReturn} onlistitemdrag={handleListItemDrag} onitemdrop={handleItemDrop}></c-lwc-dashboard-list>
            </div> 
        </div> 
        <div class="spotsCol1 lSpot9" ondragover={handleover} ondrop={dropped}>  
            <div if:true={showSpinner9} class="spinnerHolder slds-align_absolute-center">
                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
            </div>   
            <div class="divres">                   
                <c-lwc-dashboard-list  tasklist={spotNine} has-el={draggingEl} category="NINE"  filter-data={resultFilter} apply-data={applyClick} onlistapplyreturn={handleListApplyReturn} onlistitemdrag={handleListItemDrag} onitemdrop={handleItemDrop}></c-lwc-dashboard-list>
            </div> 
        </div> 
        <div class="spotsCol2 lSpot10" ondragover={handleover} ondrop={dropped}> 
            <div if:true={showSpinner10} class="spinnerHolder slds-align_absolute-center">
                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
            </div>      
            <div class="divres">                  
                <c-lwc-dashboard-list  tasklist={spotTen} has-el={draggingEl} category="TEN"  filter-data={resultFilter} apply-data={applyClick} onlistapplyreturn={handleListApplyReturn} onlistitemdrag={handleListItemDrag} onitemdrop={handleItemDrop}></c-lwc-dashboard-list>
            </div> 
        </div> 
        <div class="spotsCol1 lSpot11" ondragover={handleover} ondrop={dropped}>  
            <div if:true={showSpinner11} class="spinnerHolder slds-align_absolute-center">
                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
            </div>         
            <div class="divres">           
                <c-lwc-dashboard-list  tasklist={spotEleven} has-el={draggingEl} category="ELEVEN"  filter-data={resultFilter} apply-data={applyClick} onlistapplyreturn={handleListApplyReturn} onlistitemdrag={handleListItemDrag} onitemdrop={handleItemDrop}></c-lwc-dashboard-list>
            </div>
        </div> 
        <div class="spotsCol2 lSpot12" ondragover={handleover} ondrop={dropped}> 
            <div if:true={showSpinner12} class="spinnerHolder slds-align_absolute-center">
                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
            </div>                
            <div class="divres">         
                <c-lwc-dashboard-list  tasklist={spotTwelve} has-el={draggingEl} category="TWELVE"  filter-data={resultFilter} apply-data={applyClick} onlistapplyreturn={handleListApplyReturn} onlistitemdrag={handleListItemDrag} onitemdrop={handleItemDrop}></c-lwc-dashboard-list>
            </div>
        </div> 
        <div class="spotsCol1 lSpot13" ondragover={handleover} ondrop={dropped}> 
            <div if:true={showSpinner13} class="spinnerHolder slds-align_absolute-center">
                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
            </div>  
            <div class="divres">
                <c-lwc-dashboard-list  tasklist={spotThirteen} has-el={draggingEl} category="THIRTEEN"  filter-data={resultFilter} apply-data={applyClick} onlistapplyreturn={handleListApplyReturn} onlistitemdrag={handleListItemDrag} onitemdrop={handleItemDrop}></c-lwc-dashboard-list>
            </div> 
        </div>                    
        <div class="spotsCol2 lSpot14" ondragover={handleover} ondrop={dropped}>   
            <div if:true={showSpinner14} class="spinnerHolder slds-align_absolute-center">
                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
            </div>        
            <div class="divres">               
                <c-lwc-dashboard-list  tasklist={spotFourteen} has-el={draggingEl} category="FOURTEEN"  filter-data={resultFilter} apply-data={applyClick} onlistapplyreturn={handleListApplyReturn} onlistitemdrag={handleListItemDrag} onitemdrop={handleItemDrop}></c-lwc-dashboard-list>
            </div>  
        </div>
        <div class="spotsCol1 lSpot15" ondragover={handleover} ondrop={dropped}>   
            <div if:true={showSpinner15} class="spinnerHolder slds-align_absolute-center">
                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
            </div>     
            <div class="divres">               
                <c-lwc-dashboard-list  tasklist={spotFifteen} has-el={draggingEl} category="FIFTEEN"  filter-data={resultFilter} apply-data={applyClick} onlistapplyreturn={handleListApplyReturn} onlistitemdrag={handleListItemDrag} onitemdrop={handleItemDrop}></c-lwc-dashboard-list>
            </div> 
        </div>
        <div class="spotsCol2 lSpot16" ondragover={handleover} ondrop={dropped}>   
            <div if:true={showSpinner16} class="spinnerHolder slds-align_absolute-center">
                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
            </div> 
            <div class="divres">                    
                <c-lwc-dashboard-list  tasklist={spotSixteen} has-el={draggingEl} category="SIXTEEN"  filter-data={resultFilter} apply-data={applyClick} onlistapplyreturn={handleListApplyReturn} onlistitemdrag={handleListItemDrag} onitemdrop={handleItemDrop}></c-lwc-dashboard-list>
            </div> 
        </div> 
        <div class="spotsCol1 lSpot17" ondragover={handleover} ondrop={dropped}>   
            <div if:true={showSpinner17} class="spinnerHolder slds-align_absolute-center">
                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
            </div>     
            <div class="divres">            
                <c-lwc-dashboard-list  tasklist={spotSeventeen} has-el={draggingEl} category="SEVENTEEN"  filter-data={resultFilter} apply-data={applyClick} onlistapplyreturn={handleListApplyReturn} onlistitemdrag={handleListItemDrag} onitemdrop={handleItemDrop}></c-lwc-dashboard-list>
            </div>
        </div>
        <div class="spotsCol1 lSpot18" ondragover={handleover} ondrop={dropped}>   
            <div if:true={showSpinner18} class="spinnerHolder slds-align_absolute-center">
                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
            </div>     
            <div class="divres">            
                <c-lwc-dashboard-list  tasklist={spotEighteen} has-el={draggingEl} category="EIGHTEEN"  filter-data={resultFilter} apply-data={applyClick} onlistapplyreturn={handleListApplyReturn} onlistitemdrag={handleListItemDrag} onitemdrop={handleItemDrop}></c-lwc-dashboard-list>
            </div>
        </div>
        <div class="spotsCol1 lSpot19" ondragover={handleover} ondrop={dropped}>   
            <div if:true={showSpinner19} class="spinnerHolder slds-align_absolute-center">
                <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
            </div>     
            <div class="divres">            
                <c-lwc-dashboard-list  tasklist={spotNineteen} has-el={draggingEl} category="NINETEEN"  filter-data={resultFilter} apply-data={applyClick} onlistapplyreturn={handleListApplyReturn} onlistitemdrag={handleListItemDrag} onitemdrop={handleItemDrop}></c-lwc-dashboard-list>
            </div>
        </div>   
    </section>     
    <lightning-card if:true={isChange}>
        <div class="slds-align_absolute-center">     
            <lightning-button label="Cancel" variant="brand" title="Cancel" class="slds-button" onclick={handleCancelSettings}></lightning-button> 
            <lightning-button label="Save" variant="brand" icon-name="utility:save" title="Save" class="slds-button" onclick={handleSubmit}></lightning-button> 
        </div>   
    </lightning-card>    
</template>