@charset "utf-8";
/* CSS Document */

#ip-canvas, #ip-canvas table, #ip-canvas th, #ip-canvas td {font-family:Tahoma, Arial, sans-serif; font-size:1em; color:#666}
#ip-canvas {width:1024px; margin:10px auto; text-align:left;}

#ip-canvas a {color:#069; text-decoration:none;}
#ip-canvas a:hover {color:#09F; text-decoration:underline;}


#ip-tabs-holder {}
#ip-tabs-holder .ip-tab { float:left; color:#999; border-left:2px solid #666; border-top:1px solid #999; border-right:1px solid #999; margin:0px; margin-right:3px; padding:2px 5px; }
#ip-tabs-holder .ip-tab:hover {	color:#000;border-left:2px solid #999; border-top:2px solid #999; border-right:3px solid #666; padding:1px 5px 2px 5px;margin-right:1px; background-color:#CCC;}
#ip-tabs-holder .selected {color:#000;border-left:2px solid #999; border-top:2px solid #999; border-right:3px solid #666; padding:1px 5px 2px 5px;}
#ip-tabs-holder .selected:hover {margin-right:3px;}


#ip-contents {border:1px solid #666; border-right:3px solid #999; border-bottom:3px solid #999; padding:10px;}

#ip-left-column {width:180px; float:left; font-size:1em; padding:0px 10px;}
#ip-left-column #ip-customer-photo {text-align:center; margin:5px;}

#ip-left-column .ip-button-action,
#ip-left-column .ip-button-link {width:180px; margin:2px 0px;}

#ip-main-content {margin-left:210px;}


#ip-main-content h1, #ip-main-content h2, #ip-main-content h3 {margin:1px;}
#ip-main-content h1 {font-size:1.2em;}
#ip-main-content h2 {font-size:1.1em;}
#ip-main-content h3 {font-size:1em;}
#ip-main-content p {margin:3px;}


#ip-main-content .smaller {font-size:0.8em;}

#ip-main-content table.list {margin-bottom:10px; font-size:0.8em; width:400px;border-collapse: collapse;}
#ip-main-content table.list td {border:1px solid #999; margin:0px; padding:2px; background-color:#FFF;}
#ip-main-content table.list td:hover {color:#000; background-color:#CCC;}

.clear {clear:both; height:0px; font-size:0px;}