@charset "utf-8";
/* CSS Document */

		body {
			height:100%;
			margin:0;
			padding:0;
		}
		

.ip-canvas, .ip-canvas table, .ip-canvas th, .ip-canvas td {font-family:Tahoma, Arial, sans-serif; font-size:1em; color:#666; background-color:#FFF;}
.ip-canvas {margin:10px; text-align:left;}

.ip-canvas a {color:#069; text-decoration:none;}
.ip-canvas a:hover {color:#09F; text-decoration:underline;}

.ip-contents {border:1px solid #666; border-right:3px solid #999; border-bottom:3px solid #999; padding:10px; min-height:450px;}


ul.ipTabs {margin:0px; padding:0px}
.ipTabs li {list-style-type:none; display:inline-block; border:2px solid #666;border-bottom:0px solid #666;margin:0px; padding:0px}
.ipTabs li a {display:block; padding:2px 10px; solid; color:#666;}
.ipTabs li.selected  {color:#000; border:2px solid #666;border-bottom:0px solid #666;}
.ipTabs li.selected a {color:#000;}
.ipTabs li.disabled  {color:#999; cursor:default; border:2px solid #999;border-bottom:0px solid #666;}
.ipTabs li.disabled a {color:#999; cursor:default;}



.ip-left-column, .ip-right-column  {width:180px; font-size:1em; padding:0px 10px;}
.ip-left-column {float:left;}
.ip-right-column {float:right;}
.ip-left-column .ip-customer-photo {text-align:center; margin:5px;}

.ip-left-column .ip-button-action,
.ip-left-column .ip-button-link {width:180px; margin:2px 0px;}

.ip-main-content {margin:0px 210px;}


.ip-main-content h1, .ip-main-content h2, .ip-main-content h3 {margin:1px;}
.ip-main-content h1 {font-size:1.2em;}
.ip-main-content h2 {font-size:1.1em;}
.ip-main-content h3 {font-size:1em;}
.ip-main-content p {margin:3px;}


.smaller {font-size:0.8em;}

.ip-main-content table.list {margin-bottom:10px; font-size:0.8em; width:400px;border-collapse: collapse;}
.ip-main-content table.list td {border:1px solid .999; margin:0px; padding:2px; background-color:#FFF;}
.ip-main-content table.list td:hover {color:.000; background-color:#CCC;}

.clear {clear:both; height:0px; font-size:0px;}




.popup {position:absolute; left:0; top:0;border-style:solid;border-width:1;border-color:#c0c0c0;background-color:white;padding:5px;z-index:999;display:none;padding:10px;}
		

.boxit {background-color:#FFF; padding:10px;border-top:1px solid #666;}
.colapsible-list {border-top:1px solid #666;}
.colapsible-list .boxit {background-color:#FFF; padding:2px;border-top:0px solid #fff;}
.evenRow {background-color:#FFF; padding:10px;border-top:1px solid #666;}
.oddRow  {background-color:#DDD; padding:10px;border-top:1px solid #666;}


.flatButton {display:block;border:1px solid #999; background-color:#fafafa; padding:3px; margin:3px 0px;cursor:pointer;clear:both; font-weight:bold; color:black;}
.flatButton:hover {border:1px solid #666; background-color:rgb(210,228,251);}
a.flatButton {color:black !important; text-decoration:none !important; margin:0px;}
a.flatButton:hover {color:black !important; text-decoration:none !important;}

.ip-sidebar-note{display:none;border:1px solid #999; padding:2px;}

.w150 input, .w150 textarea, .w150 select,
.ip-sidebar-note input, .ip-sidebar-note textarea, .ip-sidebar-note select,
#addNewNotePopUp input, #addNewNotePopUp textarea, #addNewNotePopUp select
{width:150px !important;margin-left:0px;}

/*table.grey-zebra */

table.grey-zebra input, table.grey-zebra textarea, table.grey-zebra select {width:200px; margin-bottom:3px; margin-left:6px; border:#1px solid #666;}
table.grey-zebra input.btn { margin-left:6px;}
table.grey-zebra input[type="checkbox"] {width:20px;}
table.grey-zebra select {width:202px;}

table.grey-zebra .requiredInput input, table.grey-zebra .requiredInput textarea, table.grey-zebra .requiredInput select {margin-left:0px;}

table.grey-zebra {border:1px solid #666;width:100%; margin:5px 2px;}
table.grey-zebra tr.even td	{background-color: #eee;}
table.grey-zebra tr.odd td	{background-color: #fff;}
    	
table.grey-zebra tr:hover td {background-color: #9CF; color:white;}
    	
table.grey-zebra td {padding:5px;}
table.grey-zebra  td.label {font-weight:bold;}

table.grey-zebra a.item  {background-color: #eee;font-weight:bold;color:#636466;display:inline-block;width:168px;padding:2px 5px;}
table.grey-zebra a:hover.item {text-decoration:none;background-color: #9CF; color:white;}
table.grey-zebra td.label {max-width:120px; vertical-align:top;}
table.grey-zebra td.value {}
table.grey-zebra td.value-right {text-align:right;}


table.two-columns {width:100%;}
table.two-columns tr td.button,table.two-columns tr:hover td.actions {background-color:#fff;}
table.two-columns td.actions {text-align:center;}

table.grey-zebra  td.actions a.btn ,a.ipflatbtn 
{margin-left:6px;width:200px;display:inline-block; text-align:center;}
table.grey-zebra  td.actions input.btn, table.grey-zebra td.actions a.btn,
table.grey-zebra  td.actions input.button, input.ipflatbtn, a.ipflatbtn
{background-image:url('skin02img/degrade_menu_1.jpg');background-repeat:repeat-x;background-position:bottom;background-color: #eee;color:#636466;border:1px solid #636466;}
table.grey-zebra  td.actions input:hover.btn, table.grey-zebra  td.actions a:hover.btn,table.grey-zebra  td.actions input:hover.button,input:hover.ipflatbtn, a:hover.ipflatbtn
{color:#00286E;background-position:top;}

table.no-borders {border:0px solid; padding:0px;}

.no-borders .boxit {background-color:transparent; padding:0px;}
.evenRow-no-borders {background-color:#FFF;padding:2px 10px;}
.oddRow-no-borders  {background-color:#DDD;padding:2px 10px;}
.no-borders td {margin:0px;}

/* IP TABS */
.ipTabHide, .ipTabShow {border:1px solid #999; background-color:#FFF; margin:5px; padding:5px;min-width:550px;}
.ipTabHide {display:none;}
.ipTabShow {display:block; float:left;}
.ipTabGroup {}
.ipTabMenu {padding:0px;margin:10px 0px;}
.ipTabMenu ul, .ipTabMenu li {padding:0px;margin:0px; list-style-type:none;}
.ipTabMenu ul {border:1px solid #636466; border-bottom:0px solid #fff;}
.ipTabMenu li {border-bottom:1px solid #636466;}
.ipTabMenu li a  {background-color: #eee;font-weight:bold;color:#636466;display:inline-block;width:168px;padding:2px 5px;}
.ipTabMenu li a:hover{text-decoration:none;background-color: #9CF; color:white;}


/* OVERWRITE SF Standard */
.requiredInput {border-left:4px solid red; display:inline-block; padding-left:2px;}
.killMyButton img {display:none;} /*overwriting search buttonin lookup fields*/


/* MODAL */
.overlay {
		visibility: visible;
		position: absolute;
		left: 0px;
		top: 0px;
		width:100%;
		height:100%;
		text-align:center;
		z-index: 1000;
		background-image:url('skin02img/bg-20black.png');
	}
		
.ipModalBox {
		max-width:800px;
		margin: 100px auto;
		background-color: #fff;
		border:1px solid #000;
		padding:15px;
		text-align:center;
	}


	
	
	