<template>    
    <template if:true={toast}>               
        <c-toast-message vmsg={msgToast} vtype={typeToast} onclose={handleClose}></c-toast-message>                   
    </template>
    
    <div class="slds-m-around_medium slds-align_absolute-center oimedia">
        <lightning-input type="search" placeholder="Search by Name" autocomplete="off" 
        onchange={handleSearchNameChange} value={searchName} 
        class="slds-m-bottom_small" ></lightning-input>           
    </div>  

    <div class="slds-m-around_medium slds-scrollable oimedia oimedia1">                    
        <table class="slds-table">    
            <thead class="slds-m-around_medium">
                <tr> 
                    <th>                            
                        <span>User</span>                                                                                                             
                    </th>                         
                    <th for:each={reports} for:item="c" key={c.label}>                                                         
                        {c.value}
                    </th>
                </tr>
            </thead>                           
            <tbody>
                <tr>
                    <td>                            
                        <span style="padding-left: 8px;">All Users</span>                                                                                                             
                    </td>                         
                    <td for:each={reports} for:item="c" key={c.label}>                                                         
                        <c-lwc-dash-set-comp onitemchange={handleItemChange}  
                        rep-id={c.label} rep-name={c.value} reports={reports} ></c-lwc-dash-set-comp>                                                                                                               
                    </td> 
                </tr>                
                <tr for:each={emplooyes} for:item="n" key={n.id} >    
                    <td key={n.id}>
                        <span style="font-weight: bolder; font-size: 15px;" >{n.depName}</span><br>
                        <span style="padding-left: 8px;">{n.name}</span>  
                    </td>
                    <td for:each={reports} for:item="c" key={c.label} style="top: 10px;" >                                                         
                        <c-lwc-dash-set-comp onitemchange={handleItemChange} onitemretrieved={handleItemRetrieved}  
                        rep-id={c.label} rep-name={c.value} emp-id={n.id} emp-name={n.name} reports={reports} emp-reports={n.reports} ></c-lwc-dash-set-comp>                                                                                                               
                    </td>
                </tr>                         
            </tbody> 
        </table>                      
    </div>           
    
    <div class="slds-m-around_medium slds-align_absolute-center oimedia" if:true={isToSave}>
        <lightning-button label="Update" variant="brand" icon-name="utility:save" title="Update Contact" class="slds-button" onclick={handleSubmit}></lightning-button> 
    </div> 

</template>