table{
  position: relative;     
}

table thead th{
  background: rgb(146, 145, 145);  
  color: white; 
  font-weight: bolder;  
  min-width: 220px;
  position: sticky; 
  top: 0; 
  z-index: 99;  
}

table tbody td{
  min-width: 220px;
}

div.oimedia {
  max-width:80vw;
}

div.oimedia1 {
  min-height: 654px;
  max-height: 25vw;
}