<template>
    <template if:true={toast}>               
        <c-toast-message vmsg={msgToast} vtype={typeToast} onclose={handleClose} ></c-toast-message>                   
    </template>
    <lightning-card>
        <!-- <div class="slds-align_absolute-center">
            <h1 class="header-page">{currentAgency}</h1> 
        </div>   -->
        <div class="slds-m-around_medium slds-align_absolute-center" if:true={isToSave} >
            <lightning-button label="Update" variant="brand" icon-name="utility:save" title="Update Contact" class="slds-button" onclick={handleSubmit}></lightning-button> 
        </div>   
        <div class="slds-m-around_medium slds-align_absolute-center">                    
            <table class="slds-table slds-table_cell-buffer slds-table_bordered" style="max-width: 500px;"> 
                <thead>
                    <tr class="slds-line-height_reset">
                        <th scope="col">
                            <div class="slds-truncate" >                                  
                               Department
                            </div>                                    
                        </th>
                        <th scope="col" >
                            <div class="slds-truncate" >                                  
                                A$
                            </div>                                    
                        </th>                        
                    </tr>                        
                </thead>                   
                <tbody>
                    <tr for:each={crsDepartment} for:item="n" key={n.Id} >
                        <th scope="row">                            
                            <span>{n.Name}</span>                                                                                                           
                        </th>                         
                        <th scope="row" >                                                         
                            <lightning-input type="number" min="0" step="0.01" onchange={handleChange} maxlength="18" data-item={n.Id} value={n.Department_Sales_Target__c}></lightning-input>                                                                                                             
                        </th>	                       
                    </tr>
                </tbody> 
            </table>                    
        </div>          
        <div class="slds-m-around_medium slds-align_absolute-center" if:true={isToSave} >
            <lightning-button label="Update" variant="brand" icon-name="utility:save" title="Update Contact" class="slds-button" onclick={handleSubmit}></lightning-button> 
        </div> 
    </lightning-card>  
</template>