.header-page{
    font-weight: 700 !important ;
    color: rgb(0, 112, 210);
    text-transform: uppercase;
    font-size: .925rem !important ;
    letter-spacing: .0625em;
    line-height: 1.25;
    padding-bottom: 20px !important ;
    margin: 5px 0px 20px 0px !important;
    border-bottom: 1px solid #e6e6e6;
}