#right-arrow{width:35px;}
#right-arrow{background:url('../images/transparent/arrowssprite.png') 70px;}
#right-arrow:hover{background: url('../images/transparent/arrowssprite.png') -1px;}

#left-arrow{width:35px;}
#left-arrow{background:url('../images/transparent/arrowssprite.png') 36px;}
#left-arrow:hover{background: url('../images/transparent/arrowssprite.png') 105px;}