 /* Table Of Content:-->
              1--> Global Typography 
              2--> Styling Header Section
              3--> Styling Footer Section
  -------------------------------------------------*/
/*1--> Global Typography Start Here*/
/*Font Face Rule Here*/
@font-face {
    font-family: 'pt_sansregular';
    src: url('../fonts/pt_sans.eot');
    src: url('../fonts/pt_sans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans.woff') format('woff'),
         url('../fonts/pt_sans.ttf') format('truetype'),
         url('../fonts/pt_sans.svg#pt_sansregular') format('svg');
}

@font-face {
    font-family: 'pt_sansbold';
    src: url('../fonts/pt_sans_bold.eot');
    src: url('../fonts/pt_sans_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans_bold.woff') format('woff'),
         url('../fonts/pt_sans_bold.ttf') format('truetype'),
         url('../fonts/pt_sans_bold.svg#pt_sansbold') format('svg');
}

body{
	 font-family: 'pt_sansbold';
	 font-size: 62.5%;
	 color: rgb(77,77,77);
}
#wrapper{
	width: 100%;
}

h1,h2{
	font-size: 2.26em;
    color: rgb(255,255,255);
}
h3{
	font-size: 1.6em;
	line-height:1;
	color:rgb(102,102,102);
}
h4{
	font-size: 1.32em;
	color: rgb(24,76,107);
}
h5{
	color: #184C6B;
    font-size: 1.4em;
    line-height: 1.2;
}
p{
	font-size: 1.0em;
	color: rgb(255,255,255);
}
.page{
	width: 1080px;
	margin: 0px auto;
}
i{
	display: block;
}
b{
	display: block;
}
li{
	float: left;
}
select {
    border: 1px solid rgb(220,220,220);
    border-radius: 3px 3px 3px 3px;
     font-size: 1.0em;
     padding: 3px;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.nav i, .head-part i, .head-part a.link-one, .head-part a.link-two, .slide-content i, .slide-content b, .slides button, .refine ul.expandible li i, 
.review a.star, .deal  a.star, .deal i, .tab-content i, .save-compare li b{
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
}
.select-course .la-cus .l-cou,.la-cus select, .open-ac form input[type="text"], .open-ac form select, .login-form input[type="text"],
 .login-form input[type="password"], .open-ac form input[type="password"], #footer ul.copy-right{
	behavior: url(PIE.htc); position: relative;}
/*1--> Global Typography End Here
 --------------------------------------------------------*/
/*2--> Styling Header Section Start Here*/
.primary-head{
	padding-bottom: 30px;
} 
.logo{
	float: left;
	margin: 10px 0px 0px 28px;
}
.login-form{
	float: right;
	padding: 12px 9px 0px 0px;
	width: 113px;
}
.login-form a, .login-form input[type="text"], .login-form input[type="submit"]{
	display: block;
	line-height: 1;
}

.login-form a{
	color: rgb(231,90,36);
	font-size: 1.08em;
	background-color: rgb(235,235,235);
	border: 1px solid rgb(220,220,220);
    height: 9px;
    margin-bottom: 3px;
    padding: 4px 3px;
    width: 106px;
}
.login-form input[type="text"], .login-form input[type="password"]{
	border: 1px solid rgb(143,143,143);
	font-size: 9px;
	color: rgb(102,102,102);
    height: 14px;
    line-height: 1.3;
    width: 112px;
    border-radius: 2px;
}
.login-form input[type="submit"]{
	float: right;
	background: url(../images/go.png) no-repeat 18px center;
	background-color: rgb(237,137,30);
	color: rgb(255,255,255);
	 float: right;
    font-size: 0.67em;
    margin-top: 5px;
    padding: 1px 10px 1px 2px;
    border: none;
    cursor: pointer;
     width: 27px;
}
.border{
	 clear: both;
    padding: 8px 77px 0 32px;
}
.border span{
	border-top: 1px solid rgb(194,194,194);
	height: 0px;
	display: block;
}
.nav{
	margin-bottom: 32px;
}
.nav i{
    height: 35px;
    width: 53px;
	background-position: 0px 0px;
	float: left;
}
.nav ul{
	background: url(../images/nav-repet.png) repeat-x;
	padding: 1px 0px;
	float: left;
    width: 95%;
}
.nav li a.none{
	border-right:none;
}
.nav li a{
	border-right: 1px solid #FFFFFF;
    color: #333333;
    display: block;
    font-size: 1.4em;
    line-height: 1;
    width:166px;
    text-align: center;
     padding: 10px 0px 9px;
}
.nav li a.first{
	  padding: 10px 0px 9px 10px;
    text-align: left;
    width: 137px;
}
.nav li a:hover, .nav li a.first:hover {
	 background: none repeat scroll 0 0 #FEFEFE;
    border: 1px solid #DCDCDC;
    color: #ED891E;
    margin-left: -1px;
    position: relative;
    padding: 9px 0px 8px;
}
.nav li a.first:hover {
	 padding: 9px 0px 8px 10px;
}
/*2--> Styling Header Section End Here
 ---------------------------------------------------------*/
/*3--> Styling Footer Section Start Here*/

/*3--> Sttyling Footer Section End Here
 ---------------------------------------------*/