.cls-city{
    color:#888;
}

.cls-campus{
    color:#ED891E;
}

.remainingInstalments{
    color: #ED891E !important;
    display: block !important;
    font-size: 0.8em !important;
    margin: 0 0 8px 0;
}

.isoCode {
    color: #999;
    font-size: 0.8em;    
}

.searching{
    color:red !important;
    display: block !important;
    font-size: 1.2em !important;
    text-align: right !important;    
}

.itemVl:hover{    
    font-weight: bolder;
    cursor: pointer;
    color: #666;
}
.container-parents{
    -webkit-box-shadow: -1px 2px 2px 1px rgba(0,0,0,0.29);
    -moz-box-shadow: -1px 2px 2px 1px rgba(0,0,0,0.29);
    box-shadow: -1px 2px 2px 1px rgba(0,0,0,0.29);
    position: absolute; left: 0; top: -11px; background: white; z-index: 99; padding: 10px; border: 1px solid #eee; width: 100%; border-radius: 5px;
    max-height: 50vh;
    overflow-y: auto;
}
.container-parents .itemParent{
    margin-top: 10px;
}

.container-parents .itemParent:first-child{
    margin-top: 0px;
}

.cls-parent{
    font-weight: bold;
    color:#383535;
}

.cls-child{
    padding-left: 20px;
}

.cls-layout{
    position: relative;
    vertical-align: center !important; 
}