<template>    
    <template if:true={toast}>               
        <c-toast-message vmsg={msgToast} vtype={typeToast} onclose={handleClose}></c-toast-message>                   
    </template>
    <template if:true={isInicial}>             
        <lightning-card title="Information (same as passport)" icon-name="standard:record">
            <div class="slds-m-around_medium">                    
                <div class="slds-grid slds-wrap">                    
                    <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <lightning-input name="txtFstName" label="First name" value={firstNameSelected} onchange={handleFieldsChange} 
                        message-when-bad-input="Your entry must be at least 200 characters."
                        maxlength="200" required class="slds-m-bottom_x-small"></lightning-input> 
                    </div>
                    <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <lightning-input name="txtLstName"  label="Last name" value={lastNameSelected} onchange={handleFieldsChange} 
                        message-when-bad-input="Your entry must be at least 200 characters."
                        maxlength="200" required class="slds-m-bottom_x-small"></lightning-input>             
                    </div>
                </div>              
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">                                        
                      
                        <lightning-input name="schNationality" autocomplete="off" type="search" label="Nationality" onmouseover={handleExit} required={reqNat} onchange={handleFieldsChange}
                        onblur={handleNationalityBlur} class="slds-m-bottom_small" onfocus={handleNationalityFocus} value={nationalitySelected} ></lightning-input>
                        <template if:true={isNat}>
                            <lightning-layout class="cls-layout">            
                                <lightning-layout-item padding="around-medium"> 
                                    <div class="slds-m-around_medium">
                                        <div class="container-parents" onmouseleave={handleExit}>
                                            <div for:each={crsNationality} key={naa} for:item="naa" class="itemParent">                            
                                                <div key={naa} data-item={naa} class="itemVl cls-parent" onclick={handleNationalityClicked}>{naa}</div>                                                            
                                            </div>   
                                        </div>
                                    </div>                   
                                </lightning-layout-item> 
                            </lightning-layout>
                        </template>  
                    </div>
                    <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <lightning-input name="dtpDtBirth" label="Date of birth" required type="date" value={dtBirthSelected}  onfocus={handleBirthFocus} onchange={handleFieldsChange}></lightning-input>   
                    </div>
                </div>              
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">   
                        <div class="slds-form-element slds-text-align_left">                                                        
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">                                                                                                  
                                <lightning-input autocomplete="off" name="txtEmail" label="Email" type="email" required={reqEmail} 
                                onfocus={handleEmailFocus} value={emailSelected}  onchange={handleFieldsChange}></lightning-input>                    
                                <button style="margin-top: 0.1rem; position:absolute !important;" class="slds-button slds-button_icon slds-input__icon slds-input__icon_right" value={emailSelected} onclick={handleAddEmail} title="Add Email">
                                    <svg class="slds-button__icon slds-icon-text-light" aria-hidden="true">
                                        <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#new"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Add Email</span>                                
                                </button>
                            </div>                            
                        </div>       
                        <template if:true={hasEmails}>
                            <template for:each={listEmail} for:item="email">
                                <tr key={email}>
                                    <td>
                                        <div>{email}</div>
                                    </td>
                                    <td>                                    
                                        <div>                                           
                                            <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right" value={email} onclick={handleDeleteEmail} title="Delete Email">
                                                <svg class="slds-button__icon slds-icon-text-light" aria-hidden="true">
                                                    <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#ban"></use>
                                                </svg>
                                                <span class="slds-assistive-text">Delete Email</span>                                
                                            </button>
                                        </div>                                    
                                    </td>
                                </tr>                                
                            </template>                                 
                        </template>
                    </div>
                    <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">                         
                        <div class="slds-form-element slds-text-align_left">                                                                                 
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">                                                                                                  
                                <lightning-input autocomplete="off" name="txtMobileNro" label="Mobile (in Australia) +61" type="tel" required={reqPhone} value={mobileSelected} 
                                placeholder="000000000" pattern="[0-9]+" onchange={handleFieldsChange} maxlength="9"></lightning-input>                    
                                <button style="margin-top: 0.1rem; position:absolute !important;" class="slds-button slds-button_icon slds-input__icon slds-input__icon_right" value={mobileSelected} onclick={handleAddPhone} title="Add Mobile">
                                    <svg class="slds-button__icon slds-icon-text-light" aria-hidden="true">
                                        <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#new"></use>
                                    </svg>
                                    <span class="slds-assistive-text">Add Mobile</span>                                
                                </button>
                            </div>                                                       
                        </div>
                        <template if:true={hasPhones} >                               
                            <template for:each={listPhone} for:item="phone">                            
                                <tr key={phone}>                                
                                    <td >
                                        <div>{phone}</div>
                                    </td>
                                    <td>
                                        <div>
                                            <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right" value={phone} onclick={handleDeletePhone} title="Delete Phone">
                                                <svg class="slds-button__icon slds-icon-text-light" aria-hidden="true">
                                                    <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#ban"></use>
                                                </svg>
                                                <span class="slds-assistive-text">Delete phone</span>                                
                                            </button>
                                        </div>
                                    </td>                                   
                                </tr>
                            </template>                                                            
                        </template>
                    </div>
                </div>              
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">   
                        <div class="slds-float_left" if:false={disInstagram}>
                            <div class="slds-form-element__help slds-text-color_destructive">* </div>
                        </div>                                      
                        <lightning-input name="txtInstagram" label="Instagram" disabled={disInstagram} onblur={handleInsEndFocus} value={instagramSelected} onchange={handleFieldsChange}>                       
                        </lightning-input> 
                        <div class="slds-form-element__help slds-text-color_destructive" if:true={reqInstagram}>Complete this field.</div>
                        <lightning-input name="chkInstagram" type="checkbox" label="I do not have Instagram" checked={isInstagramChecked} onchange={handleFieldsChange}></lightning-input>                        
                    </div>
                    <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <div class="slds-float_left" if:false={disFacebook}>
                            <div class="slds-form-element__help slds-text-color_destructive">* </div>
                        </div>  
                        <lightning-input name="txtFacebook" disabled={disFacebook} label="Facebook" value={facebookSelected} onblur={handleFaceEndFocus}  onchange={handleFieldsChange}></lightning-input>                
                        <div class="slds-form-element__help slds-text-color_destructive" if:true={reqFacebook}>Complete this field.</div>
                        <lightning-input name="chkFacebook" type="checkbox" label="I do not have Facebook" checked={isFacebookChecked} onchange={handleFieldsChange}></lightning-input> 
                    </div>                   
                </div>  
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-m-top_small slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <lightning-input name="chkDiffWhatAppNro" type="checkbox" label="Is whatsApp number different from mobile number?" checked={isDiffChecked} onchange={handleFieldsChange}></lightning-input> 
                    </div>
                    <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <template if:true={isDiffChecked}>
                            <lightning-input name="txtWhatsAppFone" label="WhatsApp" type="tel" required={reqWhatsApp} value={whatsAppSelected} placeholder="0000000000" pattern="[0-9]+" onchange={handleFieldsChange}></lightning-input>                                                                                                                                                   
                        </template>
                    </div>
                </div>                       
            </div>
        </lightning-card>                
        <lightning-card title="General Information" icon-name="standard:record">
            <div class="slds-m-around_medium">
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">                        
                        <lightning-input name="schVisa" autocomplete="off" onmouseover={handleExit} type="search" label="Visa type" required={reqVisa} onchange={handleFieldsChange}  onblur={handleTypeVisaBlur}
                        onfocus={handleTypeVisaFocus} value={typeVisaSelected} class="slds-m-bottom_small"></lightning-input>
                        <template if:true={isVisa}>
                            <lightning-layout class="cls-layout">            
                                <lightning-layout-item padding="around-medium"> 
                                    <div class="slds-m-around_medium">
                                        <div class="container-parents" onmouseleave={handleExit}>
                                            <div for:each={crsTypeVisa} key={naa} for:item="naa" class="itemParent">                            
                                                <div key={naa} data-item={naa} class="itemVl cls-parent" onclick={handleVisaTypeClicked}>{naa}</div>                                                            
                                            </div>   
                                        </div>
                                    </div>                   
                                </lightning-layout-item> 
                            </lightning-layout>
                        </template>  
                    </div>
                    <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <lightning-input name="dtpVisaExpiry" label="Visa expiry date" required type="date" value={dtVisaExpirySelected} onfocus={handleDtVisaExpiryFocus} onchange={handleFieldsChange}></lightning-input>
                    </div>
                </div> 
                
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                        <lightning-radio-group name="rdbPrefGroup" label="Contact preference" options={optPref} value={optPreferenceSelected} required onchange={handleFieldsChange}
                        type="button"></lightning-radio-group>                   
                    </div>            
                    <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">                               
                        <lightning-radio-group  name="rdbByGroup" label="Contact by" options={optBy} value={optConBySelected} required onchange={handleFieldsChange}
                        type="button"></lightning-radio-group>
                    </div>
                </div> 
                
                <template if:true={isnewstudent}>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                            <lightning-input name="chkSchool" label="School" value={schoolSelected} onfocus={handleImgUsageFocus} onchange={handleFieldsChange} class="slds-m-bottom_x-small"></lightning-input>
                        </div>
                        <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                            <lightning-input name="chkCourse" label="Course" value={courseSelected} onfocus={handleImgUsageFocus} onchange={handleFieldsChange} class="slds-m-bottom_x-small"></lightning-input>
                        </div>
                    </div>                 
                </template>            
            </div>
        </lightning-card>     
        <lightning-card title="How did you hear about Information Planet?" icon-name="standard:record"  if:true={isnewstudent}>
            <div class="slds-m-around_medium">
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">                        
                        <lightning-input name="schChannels" autocomplete="off" onmouseover={handleExit} type="search" label="Channel" required={reqChannel} onchange={handleFieldsChange}  
                        onfocus={handleChannelFocus} value={channelSelected}  onblur={handleChannelBlur} class="slds-m-bottom_small"></lightning-input>
                        <template if:true={isChannel}>
                            <lightning-layout class="cls-layout">            
                                <lightning-layout-item padding="around-medium"> 
                                    <div class="slds-m-around_medium">
                                        <div class="container-parents" onmouseleave={handleExit}>
                                            <div for:each={crsChannel} key={naa} for:item="naa" class="itemParent">                            
                                                <div key={naa} data-item={naa} class="itemVl cls-parent" onclick={handleChannelClicked}>{naa}</div>                                                            
                                            </div>   
                                        </div>
                                    </div>                   
                                </lightning-layout-item> 
                            </lightning-layout>
                        </template>
                    </div> 
                    <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">                        
                        <lightning-input name="schlsSpecifics" autocomplete="off" onmouseover={handleExit}  
                        label="Specific Channel" onchange={handleFieldsChange}  type="search"
                        onfocus={handlelsSpecificFocus} value={lsSpecificSelected}  disabled={disLsSpecific}  
                        required={reqlsSpecific}  onblur={handleSpecificBlur} class="slds-m-bottom_small"></lightning-input>
                        <template if:true={islsSpecific}>
                            <lightning-layout class="cls-layout">            
                                <lightning-layout-item padding="around-medium"> 
                                    <div class="slds-m-around_medium">
                                        <div class="container-parents" onmouseleave={handleExit}>
                                            <div for:each={crsLsSpecific} key={naa.label} for:item="naa" class="itemParent">                            
                                                <div key={naa.label} data-item={naa.value} class="itemVl cls-parent" onclick={handlelsSpecificClicked}>{naa.value}</div>                                                            
                                            </div>   
                                        </div>
                                    </div>                   
                                </lightning-layout-item> 
                            </lightning-layout>
                        </template>
                    </div>                                    
                </div>
            </div>    
        </lightning-card>     
        <lightning-card title="Image Usage Agreement" icon-name="standard:record" >                        
            <div class="slds-m-around_medium">
                <div class="slds-grid">
                    <div class="slds-col slds-grow-none" style="min-width: 40px;">
                        <div class="slds-clearfix">
                             <div class="slds-float_left">
                                <div class="slds-form-element__help slds-text-color_destructive">*</div>
                            </div>
                            <div class="slds-float_right">
                            <lightning-input type="checkbox" name="chkImageUsage" checked={imgUsageChecked}  onfocus={handleImgUsageFocus} onchange={handleFieldsChange}></lightning-input> 
                            </div>
                        </div> 
                    </div>
                    <div class="slds-large-size_11-of-12">
                        <lightning-formatted-rich-text value={imgUsageAgree}></lightning-formatted-rich-text>  
                        <div class="slds-form-element__help slds-text-color_destructive" if:true={reqImageUsage}>Complete this field.</div>                                      
                    </div>
                </div>            
            </div>  
            <div slot="footer" class="slds-align_absolute-center slds-m-bottom_xx-large">
                <lightning-button label="Cancel" variant="brand" title="Cancel" class="slds-button" onclick={handleCancelForm}></lightning-button> 
                <lightning-button label="Save" variant="brand" icon-name="utility:save" title="Save" disabled={isSubmited} class="slds-button" onclick={handleSubmit}></lightning-button> 
            </div>
        </lightning-card>    
    </template>
    <template if:true={isFinish}>                       
        <lightning-card title={titleForm} icon-name={titleIcon}>
            <div class="slds-align_absolute-center" >
                <img src={img} style="max-height: 500px !important;" /> 
            </div>                           
            <div if:true={isTime}>                                                  
                <div if:true={isCanceled}>
                    <div class="slds-align_absolute-center">
                        <div>
                            <h4 style="color: red; font-weight: bold;">Form has been Cancelled.</h4>
                        </div>      
                    </div>
                    <div if:false={isnewstudent} class="slds-align_absolute-center">
                        <div>
                            <h4 style="color: red; font-weight: bold;">Client: {studentName}</h4>                        
                        </div>               
                    </div>               
                </div>
                <div class="slds-align_absolute-center">                        
                    <div>
                        <lightning-input name="txtPassword" label="Password" type="password" value={password} onchange={handleFieldsChange} required></lightning-input>
                    </div>
                </div>
                <div class="slds-align_absolute-center  slds-m-bottom_xx-large">                    
                    <lightning-button label="Queue" variant="brand" title="Submit" class="slds-button" onclick={handleQueue}></lightning-button> 
                </div>
            </div>                                                           
        </lightning-card>                
    </template>     
    <template if:true={viewQueue}>                   
        <c-front-desk-queue ></c-front-desk-queue>    
    </template>
    <template if:true={bShowModal} >        
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">                        
                    <h2 id="modal-heading-01" class="slds-text-heading_small slds-hyphenate">Cancel Form</h2>
                </header>
                <div class="slds-modal__content slds-p-around_small" id="modal-content-id-1">
                    <p style="font-weight: bolder; font-size: small" >Are you sure you want to cancel?</p>  
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal}>Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={confirmModal}>Confirm</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>       
    </template> 
</template>