<template>               
    <div class="slds-clearfix" style="resize: both;" onmouseleave={handleResize} onmouseout={handleResize} onmousemove={handleResize} onmouseover={handleResize}> 
        <div class="slds-float_left" style="width: calc(100% / 3);" >          
            <lightning-card title={titleN}>
                <div class="slds-m-around_medium">  
                    <div if:true={showNoResultS} class="slds-text-color_destructive slds-align_absolute-center">
                        No result found
                    </div>                
                    <div if:false={showNoResultS}>
                        <canvas class="dochNext7" lwc:dom="manual" ></canvas>  
                    </div>    
                </div>                                      
            </lightning-card>         
        </div>
        <div class="slds-float_left " style="width: calc(100% / 3); " >
            <lightning-card title={titleS} onresize={handleResize}>
                <div class="slds-m-around_medium"> 
                    <div if:false={showNoResultT} class="slds-text-color_destructive slds-align_absolute-center">
                        No result found
                    </div>                    
                    <div if:true={showNoResultT}  class="divT">
                        <lightning-datatable 
                            key-field="id"  
                            hide-checkbox-column="true"
                            data={dataSubject}                        
                            columns={columns}> 
                        </lightning-datatable>   
                    </div>  
                </div>
            </lightning-card>             
        </div>
        <div class="slds-float_left" style="width: calc(100% / 3);">  
            <lightning-card title={titleP}>
                <div class="slds-m-around_medium" >   
                    <div if:true={showNoResultP} class="slds-text-color_destructive slds-align_absolute-center">
                        No result found
                    </div>          
                    <div if:false={showNoResultP} >                         
                        <canvas class="dochPriority" lwc:dom="manual"></canvas>
                    </div> 
                </div>                                      
            </lightning-card>
        </div>
    </div>            
</template>