<apex:page controller="account_balance_summary" action="{!searchExcel}" contentType="txt/xml#AccountBalanceSummary.xls" cache="true">
<apex:outputText value="{!xlsHeader}"/>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <Styles>
 <Style ss:ID="s1">
 <Alignment/>
 <Borders/>
 <Font ss:Bold="1"/>
 <Interior/>
 <NumberFormat/>
 <Protection/>
 </Style>
 </Styles>


 <Worksheet ss:Name="Clients_Payments">
	 <Table x:FullColumns="1" x:FullRows="1">
		 <Column ss:Width="100"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="100"/>
		 <Column ss:Width="100"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="100"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="130"/>
		 <Row>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Payment Type</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Type</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Client</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Paid On</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Received By</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Received Agency</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Value</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Value in {!agencyCurrency}</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed By</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed On</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >
		 		<div style="display:none">
			 		<apex:outputField value="{!dateFilter.Discounted_On__c}" />
			 	</div>
		 	</Data></Cell>


		 </Row>
		 <apex:repeat value="{!orderedListPayments}" var="mp">
		 	<apex:repeat value="{!mapPayments[mp].listPayments}" var="pt">
				 <Row>

				 	<Cell><Data ss:Type="String">{!mp}</Data></Cell>

				 	<Cell><Data ss:Type="String">

						<apex:outputText value="Product" rendered="{!NOT(ISNULL(pt.client_product_service__c))}" />
						<apex:outputText value="Installment" rendered="{!NOT(ISNULL(pt.client_course_instalment__c))}" />
						<apex:outputText value="Invoice" rendered="{!NOT(ISNULL(pt.Invoice__c))}" />
						<apex:outputText value="Deposit" rendered="{!NOT(ISNULL(pt.Deposit__c))}" />
					</Data></Cell>

				 	<Cell><Data ss:Type="String">{!pt.Client__r.name}</Data></Cell>

				 	<Cell><Data ss:Type="String">
				 		<apex:outputField value="{!pt.Bank_Deposit__r.Deposit_Date__c}" rendered="{!NOT(ISNULL(pt.Bank_Deposit__c))}" />
						<apex:outputField value="{!pt.Date_Paid__c}" rendered="{!ISNULL(pt.Bank_Deposit__c)}" />
				 	</Data></Cell>

				 	<Cell><Data ss:Type="String">
				 		<apex:outputField value="{!pt.Bank_Deposit__r.CreatedBy.name}" rendered="{!NOT(ISNULL(pt.Bank_Deposit__c))}" />
						<apex:outputField value="{!pt.Received_By__r.name}" rendered="{!ISNULL(pt.Bank_Deposit__c)}" />
					</Data></Cell>

				 	<Cell><Data ss:Type="String">
						<apex:outputField value="{!pt.Bank_Deposit__r.Deposited_By_Agency__r.Name}" rendered="{!NOT(ISNULL(pt.Bank_Deposit__c))}" />
						<apex:outputField value="{!pt.Received_By_Agency__R.name}" rendered="{!ISNULL(pt.Bank_Deposit__c)}" />
					</Data></Cell>

				 	<Cell><Data ss:Type="String">
						<apex:outputtext value="{!pt.Value__c}" />
					</Data></Cell>

				 	<Cell><Data ss:Type="String">
						<apex:outputtext value="{!pt.Agency_Currency_Value__c}" />
					</Data></Cell>

				 	<Cell><Data ss:Type="String">
						<apex:outputField value="{!pt.Booking_Closed_By__r.name}" />
					</Data></Cell>

				 	<Cell><Data ss:Type="String"><apex:outputField value="{!pt.Booking_Closed_On__c}" /></Data></Cell>
				 </Row>
			 </apex:repeat>
		 </apex:repeat>

	 </Table>
 </Worksheet>
 <Worksheet ss:Name="First Payments Paid to School">
	 <Table x:FullColumns="1" x:FullRows="1">
	 <Column ss:Width="130"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="160"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="130"/>
	 <Column ss:Width="130"/>

	 <Row>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Client</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Paid On</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >School</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Course</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Paid By</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Instalment Value</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Total Paid to School</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Total Paid to School ({!agencyCurrency})</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed By</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed On</Data></Cell>
	 </Row>

	 <apex:repeat value="{!SchoolFirstPayments}" var="sp">
	 	<apex:repeat value="{!sp.listPayments}" var="spt">
			 <Row>
			 <Cell><Data ss:Type="String">{!spt.client_course__r.Client__r.name}</Data></Cell>
			 <Cell><Data ss:Type="String"><apex:outputField value="{!spt.Paid_To_School_On__c}" /></Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.client_course__r.Campus_Name__c}</Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.client_course__r.Course_Name__c}</Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.Paid_To_School_By__r.Name}</Data></Cell>
			 <Cell><Data ss:Type="String">
			 	<apex:outputText value="{0, number, currency}" >
					<apex:param value="{!spt.Instalment_Value__c}" />
				</apex:outputText>
			 </Data></Cell>
			 <Cell><Data ss:Type="String">
			 	<apex:outputText value="{0, number, currency}" >
					<apex:param value="{!spt.Total_School_Payment__c}" />
				</apex:outputText>
			 </Data></Cell>
			 <Cell><Data ss:Type="String">
			 	<apex:outputText value="{0, number, currency}" >
					<apex:param value="{!spt.Agency_Currency_Value__c}" />
				</apex:outputText>
			 </Data></Cell>
			 <Cell><Data ss:Type="String"><apex:outputField value="{!spt.Booking_Paid_School_Closed_By__r.name}" /> </Data></Cell>
			 <Cell><Data ss:Type="String"><apex:outputField value="{!spt.Booking_Paid_School_Closed_On__c}" /></Data></Cell>
			 </Row>
	 	</apex:repeat>
	 </apex:repeat>
	 </Table>
 </Worksheet>

 <Worksheet ss:Name="Repayments">
	 <Table x:FullColumns="1" x:FullRows="1">
	 <Column ss:Width="130"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="160"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="130"/>
	 <Column ss:Width="130"/>

	 <Row>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Client</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Paid On</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >School</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Course</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Paid By</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Instalment Value</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Total Paid to School</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed By</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed On</Data></Cell>
	 </Row>

	 <apex:repeat value="{!SchoolRepaymentsOld}" var="sp">
	 	<apex:repeat value="{!sp.listPayments}" var="spt">
			 <Row>
			 <Cell><Data ss:Type="String">{!spt.client_course__r.Client__r.name}</Data></Cell>
			 <Cell><Data ss:Type="String"><apex:outputField value="{!spt.Paid_To_School_On__c}" /></Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.client_course__r.Campus_Name__c}</Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.client_course__r.Course_Name__c}</Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.Paid_To_School_By__r.Name}</Data></Cell>
			 <Cell><Data ss:Type="String">
			 	<apex:outputText value="{0, number, currency}" >
					<apex:param value="{!spt.Instalment_Value__c}" />
				</apex:outputText>
			 </Data></Cell>
			 <Cell><Data ss:Type="String">
			 	<apex:outputText value="{0, number, currency}" >
					<apex:param value="{!spt.Total_School_Payment__c}" />
				</apex:outputText>
			 </Data></Cell>
			 <Cell><Data ss:Type="String"><apex:outputField value="{!spt.Booking_Paid_School_Closed_By__r.name}" /> </Data></Cell>
			 <Cell><Data ss:Type="String"><apex:outputField value="{!spt.Booking_Paid_School_Closed_On__c}" /></Data></Cell>
			 </Row>
	 	</apex:repeat>
	 </apex:repeat>
	 </Table>
 </Worksheet>

 <Worksheet ss:Name="Repayments Paid to School">
	 <Table x:FullColumns="1" x:FullRows="1">
	 <Column ss:Width="130"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="130"/>
	 <Column ss:Width="130"/>

	 <Row>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Payment Number</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Tot. Instalments</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Paid On</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >School</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Paid By</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Transfer Fee ({!agencyCurrency})</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Total Paid to School</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Total Paid to School ({!agencyCurrency})</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed By</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed On</Data></Cell>
	 </Row>

	 <apex:repeat value="{!SchoolRepayments}" var="sp">
	 	<apex:repeat value="{!sp.listInvPayments}" var="spt">
			 <Row>
			 <Cell><Data ss:Type="String">{!spt.School_Payment_Number__c}</Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.client_course_instalments_sch_invoice__r.size}</Data></Cell>
			 <Cell><Data ss:Type="String"><apex:outputField value="{!spt.Paid_On__c}" /></Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.campus_name__c}</Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.Paid_By__r.Name}</Data></Cell>
			 <Cell><Data ss:Type="String">
			 	<apex:outputText value="{0, number, currency}" >
					<apex:param value="{!spt.Transfer_Send_Fee__c}" />
				</apex:outputText>
			 </Data></Cell>
			 <Cell><Data ss:Type="String">
			 	<apex:outputText value="{0, number, currency}" >
					<apex:param value="{!spt.Total_Value__c}" />
				</apex:outputText>
			 </Data></Cell>
			 <Cell><Data ss:Type="String">
			 	<apex:outputText value="{0, number, currency}" >
					<apex:param value="{!spt.Agency_Currency_Value__c}" />
				</apex:outputText>
			 </Data></Cell>
			 <Cell><Data ss:Type="String"><apex:outputField value="{!spt.Booking_Paid_School_Closed_By__r.name}" /> </Data></Cell>
			 <Cell><Data ss:Type="String"><apex:outputField value="{!spt.Booking_Paid_School_Closed_On__c}" /></Data></Cell>
			 </Row>
	 	</apex:repeat>
	 </apex:repeat>
	 </Table>
 </Worksheet>

 <Worksheet ss:Name="Instalments Discount">
	 <Table x:FullColumns="1" x:FullRows="1">
	 <Column ss:Width="130"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="160"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="130"/>
	 <Column ss:Width="130"/>

	 <Row>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Client</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Nationality</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >School</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Course</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Discounted By</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Instalment Value</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Discount Value</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Value in {!agencyCurrency}</Data></Cell>
	 </Row>
	 <apex:repeat value="{!instalmentsDiscount}" var="sp">
	 	<apex:repeat value="{!sp.listPayments}" var="spt">
			 <Row>
			 <Cell><Data ss:Type="String">{!spt.client_course__r.Client__r.name}</Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.client_course__r.Client__r.Nationality__c}</Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.client_course__r.Campus_Name__c}</Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.client_course__r.Course_Name__c}</Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.Discounted_By__r.name}</Data></Cell>
			 <Cell><Data ss:Type="String">
			 	<apex:outputText value="{0, number, currency}" >
					<apex:param value="{!spt.Instalment_Value__c}" />
				</apex:outputText>
			 </Data></Cell>
			 <Cell><Data ss:Type="String">
			 	<apex:outputText value="{0, number, currency}" >
					<apex:param value="{!spt.Discount__c}" />
				</apex:outputText>
			 </Data></Cell>
			 <Cell><Data ss:Type="String">
			 	<apex:outputText value="{0, number, currency}" >
					<apex:param value="{!spt.Discount__c * spt.Agency_Currency_Rate__c}" />
				</apex:outputText>
			 </Data></Cell>
			 </Row>
	 	</apex:repeat>
	 </apex:repeat>
  	 </Table>
 </Worksheet>

 <Worksheet ss:Name="Covered by Agency">
  <Table x:FullColumns="1" x:FullRows="1">
  <Column ss:Width="130"/>
  <Column ss:Width="100"/>
  <Column ss:Width="100"/>
  <Column ss:Width="160"/>
  <Column ss:Width="100"/>
  <Column ss:Width="100"/>
  <Column ss:Width="100"/>
  <Column ss:Width="130"/>
  <Column ss:Width="130"/>

  <Row>
   <Cell ss:StyleID="s1"><Data ss:Type="String" >Type</Data></Cell>
   <Cell ss:StyleID="s1"><Data ss:Type="String" >Client</Data></Cell>
   <Cell ss:StyleID="s1"><Data ss:Type="String" >Paid On</Data></Cell>
   <Cell ss:StyleID="s1"><Data ss:Type="String" >Received By</Data></Cell>
   <Cell ss:StyleID="s1"><Data ss:Type="String" >Received Agency By</Data></Cell>
   <Cell ss:StyleID="s1"><Data ss:Type="String" >Value Value</Data></Cell>
   <Cell ss:StyleID="s1"><Data ss:Type="String" >Value in {!agencyCurrency}</Data></Cell>
  </Row>
  <apex:repeat value="{!orderedListCoverByAgency}" var="mpc">
   <apex:repeat value="{!mapPaymentsCovered[mpc].listPayments}" var="pt">
      <Row>
      <Cell>
        <Data ss:Type="String">
          <apex:outputText value="Product" rendered="{!NOT(ISNULL(pt.client_product_service__c))}" />
          <apex:outputText value="Installment" rendered="{!NOT(ISNULL(pt.client_course_instalment__c))}" />
          <apex:outputText value="Invoice" rendered="{!NOT(ISNULL(pt.Invoice__c))}" />
          <apex:outputText value="Deposit" rendered="{!NOT(ISNULL(pt.Deposit__c))}" />
        </Data>
      </Cell>

      <Cell>
        <Data ss:Type="String">
          <apex:outputtext value="{!pt.client__r.name}" />
        </Data>
      </Cell>

      <Cell>
        <Data ss:Type="String">
          <apex:outputField value="{!pt.Bank_Deposit__r.Deposit_Date__c}" rendered="{!NOT(ISNULL(pt.Bank_Deposit__c))}" />
          <apex:outputField value="{!pt.Date_Paid__c}" rendered="{!ISNULL(pt.Bank_Deposit__c)}" />
        </Data>
      </Cell>

      <Cell>
        <Data ss:Type="String">
          <apex:outputField value="{!pt.Bank_Deposit__r.CreatedBy.name}" rendered="{!NOT(ISNULL(pt.Bank_Deposit__c))}" />
          <apex:outputField value="{!pt.Received_By__r.name}" rendered="{!ISNULL(pt.Bank_Deposit__c)}" />
        </Data>
      </Cell>

      <Cell>
        <Data ss:Type="String">
          <apex:outputField value="{!pt.Bank_Deposit__r.Deposited_By_Agency__r.Name}" rendered="{!NOT(ISNULL(pt.Bank_Deposit__c))}" />
          <apex:outputField value="{!pt.Received_By_Agency__R.name}" rendered="{!ISNULL(pt.Bank_Deposit__c)}" />
        </Data>
      </Cell>

      <Cell>
        <Data ss:Type="String">
          <apex:outputText value="{0, number, currency}" >
            <apex:param value="{!pt.Value__c}" />
          </apex:outputText>
        </Data>
      </Cell>

      <Cell>
        <Data ss:Type="String">
          <apex:outputText value="{0, number, currency}" >
            <apex:param value="{!pt.Agency_Currency_Value__c}" />
          </apex:outputText>
        </Data>
      </Cell>

    </Row>
   </apex:repeat>
  </apex:repeat>
    </Table>
 </Worksheet>



 <!-- <Worksheet ss:Name="Received_PDS_PFS">
	 <Table x:FullColumns="1" x:FullRows="1">
	 <Column ss:Width="100"/>
	 <Column ss:Width="130"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="160"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="100"/>
	 <Column ss:Width="130"/>
	 <Column ss:Width="130"/>
	 <Column ss:Width="130"/>
	 <Column ss:Width="130"/>
	 <Row>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Type</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Client</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Confirmed On</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Confirmed By</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >School</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Course</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Instalment Value</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Commission</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Commission Tax</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Commission + Tax</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed By</Data></Cell>
	 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed On</Data></Cell>
	 </Row>
 	 <apex:repeat value="{!receivedPds}" var="pds">
 	 	<apex:repeat value="{!pds.listPayments}" var="spt">
			 <Row>
			 <Cell><Data ss:Type="String">Received PDS</Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.client_course__r.Client__r.name}</Data></Cell>
			 <Cell><Data ss:Type="String"><apex:outputField value="{!spt.Commission_Confirmed_On__c}" /></Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.Commission_Confirmed_By__r.name}</Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.client_course__r.Campus_Name__c}</Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.client_course__r.Course_Name__c}</Data></Cell>
			 <Cell><Data ss:Type="String">
			 	<apex:outputText value="{0, number, currency}" >
					<apex:param value="{!spt.Instalment_Value__c}" />
				</apex:outputText>
			 </Data></Cell>

			 <Cell><Data ss:Type="String">
			 	<apex:outputText value="{0, number, currency}" >
					<apex:param value="{!spt.Commission_Value__c}" />
				</apex:outputText>
			 </Data></Cell>

			 <Cell><Data ss:Type="String">
			 	<apex:outputText value="{0, number, currency}" >
					<apex:param value="{!spt.Commission_Tax_Value__c}" />
				</apex:outputText>
			 </Data></Cell>

			 <Cell><Data ss:Type="String">
			 	<apex:outputText value="{0, number, currency}" >
					<apex:param value="{!spt.Commission_Value__c + spt.Commission_Tax_Value__c}" />
				</apex:outputText>
			 </Data></Cell>
			 <Cell><Data ss:Type="String"><apex:outputField value="{!spt.Booking_Closed_By__r.name}" /> </Data></Cell>
			 <Cell><Data ss:Type="String"><apex:outputField value="{!spt.Booking_Closed_On__c}" /></Data></Cell>
			 </Row>
		 </apex:repeat>
 	 </apex:repeat>

 	 <apex:repeat value="{!receivedPfs}" var="pfs">
 	 	<apex:repeat value="{!pfs.listPayments}" var="spt">
			 <Row>
			 <Cell><Data ss:Type="String">Received PFS</Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.client_course__r.Client__r.name}</Data></Cell>
			 <Cell><Data ss:Type="String"><apex:outputField value="{!spt.Commission_Confirmed_On__c}" /></Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.Commission_Confirmed_By__r.name}</Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.client_course__r.Campus_Name__c}</Data></Cell>
			 <Cell><Data ss:Type="String">{!spt.client_course__r.Course_Name__c}</Data></Cell>
			 <Cell><Data ss:Type="String">
			 	<apex:outputText value="{0, number, currency}" >
					<apex:param value="{!spt.Instalment_Value__c}" />
				</apex:outputText>
			 </Data></Cell>

			 <Cell><Data ss:Type="String">
			 	<apex:outputText value="{0, number, currency}" >
					<apex:param value="{!spt.Commission_Value__c}" />
				</apex:outputText>
			 </Data></Cell>

			 <Cell><Data ss:Type="String">
			 	<apex:outputText value="{0, number, currency}" >
					<apex:param value="{!spt.Commission_Tax_Value__c}" />
				</apex:outputText>
			 </Data></Cell>

			 <Cell><Data ss:Type="String">
			 	<apex:outputText value="{0, number, currency}" >
					<apex:param value="{!spt.Commission_Value__c + spt.Commission_Tax_Value__c}" />
				</apex:outputText>
			 </Data></Cell>
			 <Cell><Data ss:Type="String"><apex:outputField value="{!spt.Booking_Closed_By__r.name}" /> </Data></Cell>
			 <Cell><Data ss:Type="String"><apex:outputField value="{!spt.Booking_Closed_On__c}" /></Data></Cell>
			 </Row>
		 </apex:repeat>
 	 </apex:repeat>
	 </Table>
 </Worksheet> -->

  <Worksheet ss:Name="Paid to Client">
  	<Table x:FullColumns="1" x:FullRows="1">
		 <Column ss:Width="100"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="100"/>
		 <Column ss:Width="100"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="100"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="130"/>
		 <Row>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Payment Type</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Client</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Paid On</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Paid By</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Paid By Agency</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Value</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Transfer Fee {!agencyCurrency}</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Value In {!agencyCurrency}</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Payment Type</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed By</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed On</Data></Cell>
		 </Row>

  		<apex:repeat value="{!clientRefund.payments}" var="rc">
  			 <Row>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Deposit Refund</Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" >{!rc.Client__r.name}</Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputField value="{!rc.Date_Paid__c}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputField value="{!rc.Paid_to_Client_By__r.name}"  /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputField value="{!rc.Paid_to_Client_By_Agency__r.name}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" >
					<apex:outputText value="{0, number, currency}" >
						<apex:param value="{!rc.Value__c}" />
					</apex:outputText>
				</Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" >
					<apex:outputText value="{0, number, currency}" >
						<apex:param value="{!rc.Transfer_Send_Fee__c}" />
					</apex:outputText>
				</Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" >
					<apex:outputText value="{0, number, currency}" >
						<apex:param value="{!rc.Agency_Currency_Value__c}" />
					</apex:outputText>
				</Data></Cell>
		 		<Cell ss:StyleID="s1"><Data ss:Type="String" >{!rc.Payment_Type__c}</Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputField value="{!rc.Booking_Closed_By__r.name}" /> </Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputField value="{!rc.Booking_Closed_On__c}" /></Data></Cell>
			 </Row>
  		</apex:repeat>
	</Table>
 </Worksheet>

 <Worksheet ss:Name="Refund_Received_From_School">
  	<Table x:FullColumns="1" x:FullRows="1">
		 <Column ss:Width="100"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="100"/>
		 <Column ss:Width="100"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="100"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="130"/>
		 <Row>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Client</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Received On</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >School</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Course</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Amount Received</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Transfer Fee {!agencyCurrency}</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Amount in {!agencyCurrency}</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Confirmed By</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed By</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed On</Data></Cell>
		 </Row>

  		<apex:repeat value="{!schoolRefund.listPayments}" var="r">
  			<Row>
	  			<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputfield value="{!r.client_course__r.Client__r.name}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputfield value="{!r.Commission_Paid_Date__c}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputfield value="{!r.client_course__r.Campus_Name__c}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputfield value="{!r.client_course__r.Course_Name__c}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" >
					<apex:outputText value="{0, number, currency}" >
						<apex:param value="{!r.Amendment_Receive_From_School__c}" />
					</apex:outputText>
				</Data></Cell>
				<Cell ss:StyleID="s1"><Data ss:Type="String" >
				 	<apex:outputText value="{0, number, currency}"  style="font-weight:bold;">
						<apex:param value="{!r.Transfer_Receive_Fee__c}" />
					</apex:outputText>
				</Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" >
				 	<apex:outputText value="{0, number, currency}"  style="font-weight:bold;">
						<apex:param value="{!r.Agency_Currency_Value__c}" />
					</apex:outputText>
				</Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputfield value="{!r.Commission_Confirmed_By__r.Name}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputField value="{!r.Booking_Closed_By__r.name}" /> </Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputField value="{!r.Booking_Closed_On__c}" /></Data></Cell>
	 	 	</Row>
  		</apex:repeat>
	</Table>
 </Worksheet>


 <Worksheet ss:Name="Commission_Amendment_From_School">
  	<Table x:FullColumns="1" x:FullRows="1">
		 <Column ss:Width="100"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="100"/>
		 <Column ss:Width="100"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="100"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="130"/>
		 <Row>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Client</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Received On</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >School</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Course</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Amount Received</Data></Cell>
			<Cell ss:StyleID="s1"><Data ss:Type="String" >Transfer Fee {!agencyCurrency}</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Amount in {!agencyCurrency}</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Received By</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed By</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed On</Data></Cell>
		 </Row>

  		<apex:repeat value="{!commissionAmend.listPayments}" var="r">
  			<Row>
	  			<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputfield value="{!r.client_course__r.Client__r.name}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputfield value="{!r.Commission_Paid_Date__c}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputfield value="{!r.client_course__r.Campus_Name__c}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputfield value="{!r.client_course__r.Course_Name__c}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" >
					<apex:outputText value="{0, number, currency}" >
						<apex:param value="{!r.Amendment_Receive_From_School__c}" />
					</apex:outputText>
				</Data></Cell>
				<Cell ss:StyleID="s1"><Data ss:Type="String" >
				 	<apex:outputText value="{0, number, currency}"  style="font-weight:bold;">
						<apex:param value="{!r.Transfer_Receive_Fee__c}" />
					</apex:outputText>
				</Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" >
				 	<apex:outputText value="{0, number, currency}"  style="font-weight:bold;">
						<apex:param value="{!r.Agency_Currency_Value__c}" />
					</apex:outputText>
				</Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputfield value="{!r.Amendment_Adjustment_Confirmed_By__r.Name}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputField value="{!r.Booking_Closed_By__r.name}" /> </Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputField value="{!r.Booking_Closed_On__c}" /></Data></Cell>
	 	 	</Row>
  		</apex:repeat>
	</Table>
 </Worksheet>


 <Worksheet ss:Name="School Course Refund">
  	<Table x:FullColumns="1" x:FullRows="1">
		 <Column ss:Width="100"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="100"/>
		 <Column ss:Width="100"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="130"/>
		 <Row>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Client</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Received On</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >School</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Course</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Amount Received</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed By</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed On</Data></Cell>
		 </Row>

  		<apex:repeat value="{!courseCreditReceived}" var="r">
  			<Row>
	  			<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputfield value="{!r.client__r.name}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputfield value="{!r.Credit_Received_On__c}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputfield value="{!r.Campus_Name__c}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputfield value="{!r.Course_Name__c}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" >
					<apex:outputText value="{0, number, currency}" >
						<apex:param value="{!r.Credit_Value__c}" />
					</apex:outputText>
				</Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputField value="{!r.Course_Credit_Closed_By__r.name}" /> </Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputField value="{!r.Course_Credit_Closed_On__c}" /></Data></Cell>
	 	 	</Row>
  		</apex:repeat>
	</Table>
 </Worksheet>

 <Worksheet ss:Name="Client Course Refund ">
  	<Table x:FullColumns="1" x:FullRows="1">
		 <Column ss:Width="100"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="100"/>
		 <Column ss:Width="100"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="130"/>
		 <Column ss:Width="130"/>
		 <Row>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Client</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Paid On On</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >School</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Course</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Amount Paid</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed By</Data></Cell>
		 	<Cell ss:StyleID="s1"><Data ss:Type="String" >Booking Closed On</Data></Cell>
		 </Row>

  		<apex:repeat value="{!courseRefundPaid}" var="r">
  			<Row>
	  			<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputfield value="{!r.client__r.name}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputfield value="{!r.Refund_Paid_On__c}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputfield value="{!r.Campus_Name__c}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputfield value="{!r.Course_Name__c}" /></Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" >
					<apex:outputText value="{0, number, currency}" >
						<apex:param value="{!r.Refund_Value__c}" />
					</apex:outputText>
				</Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputField value="{!r.Course_Refund_Closed_By__r.name}" /> </Data></Cell>
			 	<Cell ss:StyleID="s1"><Data ss:Type="String" ><apex:outputField value="{!r.Course_Refund_Closed_On__c}" /></Data></Cell>
	 	 	</Row>
  		</apex:repeat>
	</Table>
 </Worksheet>


</Workbook>
</apex:page>