<apex:page controller="SendMassEmail" showHeader="false" sidebar="false" action="{!getToEmails}" >
	<apex:include pageName="xStylePage" />
	<apex:include pageName="xCourseSearchStyle" />
	<style>
		.pbSubheader, table.list tr.headerRow th {
			background: lightgrey !important;	
		}
	
		
		td.pbTitle, td.pbButtonb {
			background: none !important;
		}
		
	</style>
	
	
	<apex:outputPanel id="listClientEmail" >
		<apex:form >
			<apex:pageBlock >
			<apex:pageBlockSection collapsible="false" title="Select Recipients"></apex:pageBlockSection>
			
			<apex:pageMessage summary="You can only add leads and clients that exist in the system. <br/>You can use fields 'cc' and 'bcc' for any other contact types." severity="warning" strength="2" escape="false"  />
			
			</apex:pageBlock>
			<apex:inputText value="{!accountEmail}" style="width:440px;margin-left:20px;" id="FirstName"/>
			<apex:inputHidden value="{!accountId}"  id="clientId"/>
			<apex:inputHidden value="{!accountName}" id="FirstName_lkold"/>
			<c:autoComplete objectname="Contact" toShow="Email" toSelect="Email" toSelectExtra="Id" showOnly="Email" additionalfield="Email" autocomplete_textbox="{!$Component.firstName}" autocomplete_textboxExtra="{!$Component.clientId}"/>
			<apex:commandLink value="Add" action="{!addAddress}" reRender="listClientEmail" styleClass="agencyButton" />
		
			<br /><br />
			<apex:pageBlock id="theBlock">
				<apex:pageBlockTable value="{!listClientEmail}" var="emails" >
					<apex:column >
						<apex:commandLink action="{!removeEmail}" rerender="listClientEmail" >
							<apex:param name="emailID" value="{!listClientEmail[emails].clientID}" />
							<apex:image url="{!URLFOR($Resource.icons,'icons/commons/delete.png')}" />
						</apex:commandLink>
					</apex:column>
					<apex:column >
				        <apex:facet name="header">Name</apex:facet>
						<apex:outputText value="{!listClientEmail[emails].clientName}" />
					</apex:column>
					<apex:column >
				        <apex:facet name="header">Email</apex:facet>
						<apex:outputText value="{!listClientEmail[emails].clientEmail}" />
					</apex:column>
				</apex:pageBlockTable>
			
				<apex:pageBlockButtons location="bottom">
					<apex:commandButton onclick="opener.loadEmails('{!clientEmailIDs}');window.close();return false;" rendered="{!showButton && mapSize > 0 }" value="Confirm Selection"  />
				</apex:pageBlockButtons>
			
			</apex:pageBlock>
		</apex:form>
		
	</apex:outputPanel>	
</apex:page>