<apex:page controller="AgencyBankAccounts" action="{!invoices}" tabStyle="settings__tab" >

<apex:include pageName="xStylePageV2" />
<apex:include pageName="xCourseSearchStyle" />

<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />    
<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />

<style>
    
    .invoicesTable{
        //width:100%;
    }
    
    .invoicesTable .header{
        font-weight:bold;
        text-align: right;
    }
    
    .agencyFields{
        width:150px;
    }
    
</style>

<table class="tbl_Details">
    <tr>
        <td rowspan="3" class="sidesColumn">
            <c:menuAgency account="{!agency.id}" selectedItem="setInvoices" />  
        </td>
        <td class="middleColumn">
            <div class="boxHeader">
                <c:cpPageHeader PageType="agency" AccountID="{!agency.id}" />
            </div>
        </td>
        <td rowspan="3" class="rightColumn sidesColumn"></td>
    </tr>
    
    <tr>
        <td class="middleColumn bodyColumn">        
            <apex:form id="wholePage">
                <div class="divHeader">
                    Agency Invoices
                </div>
                
                <div class="divContent">
                    <table class="invoicesTable" cellspacing="5px" cellpadding="2px" >
                        <tr>
                            <td class="header">Bank Account for School Invoices</td>
                            <td> 
                                <apex:selectList value="{!agency.Bank_School_Invoice__c}" styleClass="agencyFields" size="1" onchange="showButtons();">
                                    <apex:selectOptions value="{!bankOptions}" />
                                </apex:selectList>
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="header">Bank Account for Client Invoices</td>
                            <td> 
                                <apex:selectList value="{!agency.Bank_Client_Invoice__c}" styleClass="agencyFields" size="1" onchange="showButtons();">
                                    <apex:selectOptions value="{!bankOptions}" />
                                </apex:selectList>
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="header">Bank Account for PDS/PFS Invoices</td>
                            <td> 
                                <apex:selectList value="{!agency.Bank_PDS_PFS_Invoice__c}" styleClass="agencyFields" size="1" onchange="showButtons();">
                                    <apex:selectOptions value="{!bankOptions}" />
                                </apex:selectList>
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="header">Bank Account for Receive Share Commission</td>
                            <td> 
                                <apex:selectList value="{!agency.Bank_Receive_Share_Comm__c}" styleClass="agencyFields" size="1" onchange="showButtons();">
                                    <apex:selectOptions value="{!bankOptions}" />
                                </apex:selectList>
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="header">Bank Account for Sub Agencies Invoices</td>
                            <td> 
                                <apex:selectList value="{!agency.Bank_Sub_Agency__c}" styleClass="agencyFields" size="1" onchange="showButtons();">
                                    <apex:selectOptions value="{!bankOptions}" />
                                </apex:selectList>
                            </td>
                        </tr>
                    </table>
                    
                    <div class="buttons" style=" text-align: center;display:none;">
                        <apex:commandButton value="Cancel" action="{!agencyDetails}" status="statusLoad" styleClass="agencyButton" reRender="wholePage" oncomplete="jQuery('.agencyFields').chosen();"/>
                        <apex:commandButton styleClass="agencyButton" value="Save" action="{!saveSetInvoices}" status="statusLoad" reRender="wholePage" oncomplete="jQuery('.agencyFields').chosen();" />
                    </div>
                </div>

            </apex:form>
        </td>
    </tr>
</table>

<script>
    jQuery(document).ready(function() {
        
        jQuery('.agencyFields').chosen();
            
    }); 
    
    
    function showButtons(){
        jQuery('.buttons').show();
    }

</script>

</apex:page>