<apex:page standardController="Account" extensions="extProductsServices" standardStylesheets="false" sidebar="true" tabStyle="settings__tab" >
	<apex:include pageName="xStylePage" />
	<apex:include pageName="xCourseSearchStyle" />
	<apex:includeScript value="{!$Resource.jquerytooltip}"/>
	<style>
		.btnRed{
			top: -8px;
		}
		
		a.tooltip:hover{
	        background:#ffffff; /*BG color is a must for IE6*/
	        text-decoration: none;
	        cursor: help;
	     }

	    a.tooltip span {
	        display:none; 
	        padding:2px 3px; 
	        //margin-left:8px; 
	        width:220px;		
	    }
	    a.tooltip:hover span{
	        display:table; 
	        position:absolute; 
	        //background-color: #C00000;
	        color: #FFFFFF;
	        font-weight: normal;
	        font-size: 13px;
	        font-family: "Trebuchet MS";
	        width: 220px;
	        border-radius: 3px;
	        padding: 4px;
	        text-align: left;
	        z-index: 1000;
	        -moz-border-radius: 10px 0 10px 10px;
	        filter: progid: DXImageTransform.Microsoft.Alpha(opacity=87);
	        //-moz-opacity: .87;
	        //-khtml-opacity: .87;
	        //opacity: .87;
	    }
	</style>
	
	<script>
		function refreshCart(){
            jQuery('#interVeil').css('display','none');
            coursewin.close();
            refreshProduct();
        }

		jQuery(".infoTitle").tooltip({tooltipcontentclass:"infocontent", track: true});
		
		function setCloseModal(){
			jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
			jQuery('.Close').unbind('click'); 
			jQuery('.Close').click(function() {closemodal();});
			
		}

		function closeModalFromButton(){
			jQuery(".dhtmlwindow").css('display','none');
            jQuery("#interVeil").css('display','none');
		}
		
		function closemodal(){
			jQuery('#interVeil').css('display','none');				
		}
		
		jQuery(document).ready(function(){
            jQuery(".infoTitle").tooltip({
                tooltipcontentclass:"infocontent",
                track: true
            });

        });
		
	</script>
	
	
		<apex:actionStatus id="statusUpdate" onstart="showLoading('Please wait...');" onstop="hideLoading();" />
		<table class="tbl_Details">
			<tr>
				<td rowspan="3" class="sidesColumn">
					
					<c:menuAgency account="{!agency.id}" selectedItem="products"/>
					
					
				</td>
				<td class="middleColumn"> 
					<div class="boxHeader">
						<c:cpPageHeader PageType="agency" AccountID="{!agency.id}" />
					</div>	
				</td>
				<td rowspan="3" class="rightColumn sidesColumn">
					
				</td>
			</tr>
			<tr class="titleRow">

				<td>
				
					<div class="divHeader">
						Products/Services

						<!-- <apex:outputLink value="/help_link?fl=agency_products_services" target="_blank" style="float:right;font-weight: bold;text-decoration: none; color: white; font-size: 0.8em; margin-right: 0.2cm;">
							<apex:image value="{!urlfor($Resource.icons,'icons/commons/help.png')}" style="height: 16px; width: 16px; position: relative; top: 3px; " />
							Help     
						</apex:outputLink> -->

					</div>
				</td>
			</tr>

			<tr> 
				<td class="middleColumn bodyColumn">
					<apex:form id="products"> 

						<!-- <apex:commandLink value="Agency" styleclass="divTabs {!IF(AccoId == Agency.id,'divTabSelected',IF(AccoId == Agency.parentId,'', 'divTabSelected'))}" 
							action="{!searchProduct}" reRender="products" status="statusUpdate" id="tabAgency" style="text-decoration: none"> 
							<apex:param value="{!Agency.id}" name="AgencyId" />
						</apex:commandLink> 
						<apex:commandLink value="Agency Group" styleclass="divTabs {!IF(AccoId == Agency.parentId,'divTabSelected','')}" 
							action="{!searchProduct}" reRender="products" status="statusUpdate" id="tabAgencyGroup" style="text-decoration: none">
							<apex:param value="{!Agency.parentId}" name="AgencyId" />
						</apex:commandLink> -->

						<apex:actionFunction name="refreshProduct" action="{!refreshProducts}" reRender="products" status="statusUpdate" />
						<div class="content">
							<div style="display: block;font-size: 1.3em;font-weight: bold;padding: 10px 5px 10px 10px;text-align: right;">
								<apex:commandLink value="Add New Product" 
								onClick="coursewin=dhtmlmodal.open('prices', 'iframe', 'products_services_edit?id={!Agency.Id}' , 'Add New Product/Service', 'width=1000px,height=700px,resize=0,center=1,scrolling=1'); setCloseModal(); return false;" styleClass="agencyButton" id="newprices" style="border-radius: 3px;cursor: pointer;font-size: 0.8em;padding: 5px 20px;	position: relative;	text-decoration: none; top: -3px;margin: 5px;"/>
							</div>
								
							<apex:pageBlock >				
								<apex:repeat value="{!listProducts}" var="p" >
									<div class="divHeader"> 
										<span style="">{!p}</span> 
										<apex:commandLink value="Delete Selected" action="{!deleteProduct}" styleClass="agencyButton" style="float: right; font-size: 12px; height: 26px; padding: 0 5px; position: relative; top: 2px;" onclick="if(!confirm('Confirm Product(s) Deletion?'))return false;" reRender="products" status="statusUpdate">
											<apex:param name="category" value="{!p}" />
										</apex:commandLink>
									</div>
									
									<apex:pageBlockTable value="{!agencyProducts[p]}" var="product" id="otherFees" styleClass="tablePrices">
									
										<apex:column width="10px" >
											<apex:facet name="header"><apex:inputCheckBox onclick="checkValues(this.checked, 'prod_{!SUBSTITUTE(p,' ','')}')" /></apex:facet>
											<apex:inputField value="{!product.Selected__c}" styleClass="prod_{!SUBSTITUTE(p,' ','')}"  />
										</apex:column>
										
										<apex:column width="10px">
											<div class="btnToggle">
												<apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" id="btnMax" styleClass="relatedMax-{!product.id}" onclick="toggleClass('relatedMax-{!product.id}', 'relatedMin-{!product.id}', 'listProd-{!product.id}')" rendered="{!product.Quotation_list_products__r.size > 0}"/>
												<apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" id="btnMin" styleClass="relatedMin-{!product.id}" style="display:none;" onclick="toggleClass('relatedMin-{!product.id}', 'relatedMax-{!product.id}', 'listProd-{!product.id}')" rendered="{!product.Quotation_list_products__r.size > 0}"/>
											</div>
										</apex:column>
										<apex:column width="20px">
											<apex:commandLink value="Edit" onClick="coursewin=dhtmlmodal.open('prices', 'iframe', 'products_services_edit?id={!product.agency__c}&prodId={!product.id}&agId={!Agency.Id}', 'Product', 'width=1000px,height=600px,resize=0,center=1,scrolling=1'); setCloseModal(); return false;" styleClass="editLink" id="prices" />
										</apex:column>
										
										<apex:column width="10px">
											<apex:facet name="header">
												
												<apex:commandLink styleclass="tooltip" onclick="return false;">
													<apex:image url="{!URLFOR($Resource.assets,'images/i_11x11_Grey.png')}" width="11px" height="11px" />
													<span class="agencyBackground"><apex:outputText value="Products not included in the agency instalment amounts on quotation." escape="false" /></span>
												</apex:commandLink>
												
											</apex:facet>
											<apex:outputField value="{!product.Group_Other__c}" />
										</apex:column>
										
										<apex:column headerValue="Name" width="30%" >
											
											<apex:outputField value="{!product.Product_Name__c}" />
										</apex:column>
										
										<apex:column headerValue="Quantity" width="7%">	
											<apex:outputField value="{!product.Quantity__c}"  />
											<!--apex:selectList value="{!product.Quantity__c}" size="1" style="width:60px;"  >
												<apex:selectOptions value="{!prodQtdList[product.id]}" />
											</apex:selectList>
											
											<apex:selectList value="{!product.Quantity__c}" size="1" style="width:60px;"  >
												<apex:selectOptions value="{!UnitsRange}"/>
											</apex:selectList-->
										</apex:column>
										
										<apex:column headerValue="Price" width="10%" >
											<apex:outputPanel id="price">
												<apex:outputField value="{!product.Price__c}" style="width:50px;height: 18px;" />
											</apex:outputPanel>									
										</apex:column>

										<apex:column headerValue="Currency" width="10%" >
											<apex:outputField value="{!product.Currency__c}" style="width:50px;height: 18px;" />
											<!--apex:selectList value="{!product.Currency__c}" size="1" style="width:180px;margin-right: 10px;">
												<apex:selectOptions value="{!Currencies}"/>
											</apex:selectList-->
										</apex:column>
										
										<apex:column headerValue="Commission Type" width="10%" style="text-align:center;">										
											<apex:outputText value="{!IF(product.Commission_Type__c==1,'Cash','%')}" />
										</apex:column>
										
										<apex:column headerValue="Commission"  width="10%" >										
											<apex:outputField value="{!product.Commission__c}" />
										</apex:column>
										
										
										
										<apex:column headerValue="Unit Desc." value="{!product.Unit_description__c}" width="7%" />
										
										<apex:column headerValue="Description" width="40%">
											<apex:outputField value="{!product.Description__c}" styleClass="productDescription" />
										</apex:column>
										
										<apex:column breakbefore="true" colspan="10" style="padding: 0px; {!IF(product.Quotation_list_products__r.size > 0,'','display:none;')}" >
											
											<apex:outputPanel rendered="{!product.Quotation_list_products__r.size > 0}" id="listProd">
												
												<div style="display:none;" class="listProd-{!product.id}">
													<div class="listPriceHeader">
														<apex:outputText value="List Price" styleClass="labelPriceHeader" />
														<apex:commandLink value="Delete Selected" styleClass="agencyButton" action="{!deleteProdItems}" onclick="if(!confirm('Confirm Price(s) Deletion?'))return false;" style="float: right; margin-right: 5px; top: -2px; padding: 2px 20px;" status="statusUpdate" reRender="products" >
															<apex:param name="prodId" value="{!product.id}" />
															<apex:param name="category" value="{!p}" />
														</apex:commandLink>
													</div>
													<apex:variable value="{!0}" var="tablepos" />
													<apex:variable value="{!0}" var="tablerow" />
													<!--table>
														<tr>
															<apex:repeat value="{!tablePrices}" var="tp">
																<apex:outputPanel layout="none" rendered="{!product.Quotation_list_products__r.size > tablepos}">
																	<td style="vertical-align: top;">
																		<table class="tableListPrice">
																			<tr>
																				<th><apex:inputCheckBox onclick="checkValues(this.checked, 'item_{!product.id}_{!tablepos}')" /></th>
																				<th>Quantity</th>
																				<th>Value</th>
																			</tr>
																			<apex:repeat value="{!product.Quotation_list_products__r}" var="lp" first="{!tablepos}" rows="15" >
																				<tr>
																					<td style="font-weight:bold;">
																						<apex:inputCheckBox value="{!lp.isSelected__c}" styleClass="item_{!product.id}_{!tablepos}"  />
																					</td>
																					<td style="font-weight:bold;">
																						<apex:outputField value="{!lp.Quantity__c}"  />
																					</td>
																					<td style="text-align:right;">
																						<apex:outputField value="{!lp.Value__c}" />
																					</td>
																				</tr>
																			</apex:repeat>
																		</table>
																		<apex:variable value="{!tablepos+15}" var="tablepos" />
																	</td>
																</apex:outputPanel>
															</apex:repeat>
														</tr>
													</table-->
													
													<table>
														<tr>
															<apex:repeat value="{!product.Quotation_list_products__r}" var="lp" >
																<apex:outputPanel layout="none" rendered="{!tablepos == 0}">
																	<apex:variable value="{!tablerow+1}" var="tablerow" />
																	<apex:outputText value="<td" escape="false" />
																	<apex:outputText value=" style='vertical-align: top; width: 150px;'" escape="false" />
																	<apex:outputText value=">" escape="false" />
																</apex:outputPanel>	
															
																		<table>
																			<apex:outputPanel layout="none" rendered="{!tablepos == 0}">
																				<tr>
																					<th style="font-weight:bold; width: 15px; background-color:#F2F3F3;"><apex:inputCheckBox onclick="checkValues(this.checked, 'item_{!tablerow}')" /></th>
																					<th style="font-weight:bold; width: 60px; background-color:#F2F3F3;">Quantity</th>
																					<th style="font-weight:bold; width: 100px; background-color:#F2F3F3;">Value</th>
																				</tr>
																				
																			</apex:outputPanel>	
																				<tr>
																					<td style="font-weight:bold; width: 15px;">
																						<apex:inputCheckBox value="{!lp.isSelected__c}" styleClass="item_{!tablerow}"  />
																					</td>
																					<td style="font-weight:bold; width: 60px;">
																						<apex:outputField value="{!lp.Quantity__c}"  />
																					</td>
																					<td style="text-align:right; width: 100px;">
																						<apex:outputField value="{!lp.Value__c}" />
																					</td>
																				</tr>
																			
																		</table>
																	
																<apex:outputPanel layout="none" rendered="{!tablepos == 14}">
																	<apex:outputText value="<td>" escape="false" />
																	<apex:variable value="{!-1}" var="tablepos" />
																</apex:outputPanel>	
																	
																<apex:variable value="{!tablepos+1}" var="tablepos" />
															</apex:repeat>
														</tr>
													</table>
												</div>
												
											</apex:outputPanel>
												
										</apex:column>
										
									</apex:pageBlockTable>
									<br/>
								</apex:repeat>
							</apex:pageBlock>
						</div>
					</apex:form>
				</td>
			</tr>
		</table>
	
</apex:page>