<apex:page controller="AgenciesAgreementController" action="{!setUpSearchPage}" sidebar="false" >
<apex:include pageName="xCourseSearchStyle" />
<apex:includeScript value="{!$Resource.jquery}"/> 
<apex:includeScript value="{!$Resource.jqueryBlockUI}" />
<apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.assets,'modalfiles/modal.js')}" />
<apex:stylesheet value="{!URLFOR($Resource.assets,'modalfiles/modal.css')}" />
<style>
    .arrow-e{
	    border-style: dashed;
	    border-color: transparent;
	    border-width: 0.53em;
	    display: -moz-inline-box;
	    display: inline-block;
	    /* Use font-size to control the size of the arrow. */
	    font-size: 0.7em !important;
	    height: 0;
	    line-height: 0;
	    position: relative;
	    vertical-align: middle;
	    width: 0;
	    border-left-width: 1em;
	    border-left-style: solid;
	    border-left-color: orange;
	    left: 0.25em;
	    float:left;
	    top: 5px;
	    padding-right:3px;
    }
    
    iFrame {border:none;}
  	
	.tdBorder td{
		background-color: white;
	 	border-bottom: 1px solid #f1f1f1;
	}
	
	.tdBorderEven td{
		background-color: #f1f1f1;
	 	border-bottom: 1px solid white;
	}
  	
  	.validAgree {		
		background: #338900; 
	    color: white !important;
	    cursor: pointer;
		padding: 5px 20px;
		font-size: 1em;
		font-weight: bold;
		text-decoration: none;
		position: relative;
		margin: 0 3px;
		text-transform: none;
		border-radius: 3px;
	}
	
	.expiredAgree {		
		background: #dc2628; 
	    color: white !important;
	    cursor: pointer;
		padding: 5px 20px;
		font-size: 1em;
		font-weight: bold;
		text-decoration: none;
		position: relative;
		margin: 0 3px;
		text-transform: none;
		border-radius: 3px;
	}
	
	.divBox{
		border: solid gray 1px; 
		float: left; 
		padding: 10px; 
		margin: 0 3px 0 0;
		min-height: 57px;
	}
	
	.filters{
		margin: 15px 0;
		display: block;
	}
	
	.dateFormat{
		display:none;
	}
  
  	
</style>

<script>
	$ = jQuery.noConflict();
	$(document).ready(function() {
	
		 var modalWind;
     });
     
	function newAgreement(groupAgency){
    	modalWind = dhtmlmodal.open('newAgreement', 'iframe', 'offer_agreement?ag='+groupAgency, 'Offer Agreement', 'width=800px,height=620px,resize=1,center=1,scrolling=0');
        setCloseModal();
    } 
    
    function editAgreement(agreeId){
    	modalWind = dhtmlmodal.open('newAgreement', 'iframe', 'offer_agreement?agriD='+agreeId, 'Edit Agreement', 'width=800px,height=620px,resize=1,center=1,scrolling=0');
        setCloseModal();
    }     
    
    function setCloseModal(){
		jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
		jQuery('.Close').unbind('click'); 
		jQuery('.Close').click(function() {closemodal();});
		
	}
	
	function closeAndUpdate(){
		closemodal();
		research();
	}
	
	function closemodal(){
		jQuery('#interVeil').css('display','none');
		 modalWind.close();					
	}
	
	function showLoading() { 
        jQuery.blockUI({ css: { 
            border: 'none', 
            padding: '15px', 
            backgroundColor: '#000', 
            '-webkit-border-radius': '10px', 
            '-moz-border-radius': '10px', 
            opacity: .5, 
            color: '#fff' 
        } }); 
 
        //setTimeout(jQuery.unblockUI, 2000); 
      }
    
    function hideLoading(){
        jQuery.unblockUI();
    }
    
    function enterKey(e){
	    if(e.keyCode == 13 || e.keyCode == 48)
			{
			    research();
			}
    
    }
   
</script>

<apex:form >
	<apex:actionStatus id="ipStatus" onstart="showLoading();" onstop="hideLoading();" />
	<apex:actionFunction name="research" action="{!searchAgencies}" reRender="blockResult, result" status="ipStatus"/>
	<table style="width: 100%">
		<tr>
			<td>
				 <span class="arrow-e" style="font-size:1em;"></span>
			      <label style="font-size:16px;font-weight:bold;" class="title">Agencies</label>
				  <apex:commandLink style="margin-left:15px;font-size:1.0em;" value="Agencies Geolocation" action="/apex/agencyMap" target="_blank" />
			      <br /><br />
				<!-- Filters -->
				<apex:outputpanel id="filters" styleClass="filters">
			      <apex:pageMessages id="showmsg"></apex:pageMessages>
						<br />			
						
					<div class="divBox">
						<apex:outputText value="Search By" style="background-color: #fff; padding: 0 3px; top: -19px; ; position: relative;  font-weight: bold" />
						<table>
							<tr>
								<td>
									<div>
										<apex:selectList value="{!sCountryFilter}" disabled="{!IF(sregionFilter!='all', true, false)}" size="1" id="countryFilter" style="width:150px;margin-right:15px" >
								       	    <apex:selectOptions value="{!countryFilter}"/>		  
								       	    <apex:actionSupport event="onchange" action="{!setCityFilter}" reRender="regionFilter, cityFilter" status="ipStatus"/>     	    
							   	   		</apex:selectList>
									</div>
									<div>	
										<span class="SearchLabel">Country</span>
									</div>
								</td>
								<td>
									<apex:selectList value="{!sCityFilter}"  disabled="{!IF(sregionFilter!='all', true, false)}"  size="1" id="cityFilter" style="width:150px;margin-right:15px" >
							       	    <apex:selectOptions value="{!cityFilter}"/>		       	    
						   	   		</apex:selectList>
									<div>	
										<span class="SearchLabel">City</span>
									</div>
								</td>
							</tr>	
						</table>
					</div>	
					<div  class="divBox">
						<apex:outputText value="Or By" style="background-color: #fff; padding: 0 3px; top: -19px; position: relative; font-weight: bold" />
					
						<div>
							<apex:selectList value="{!sregionFilter}" size="1"  disabled="{!IF(sCountryFilter!='all', true, false)}"  id="regionFilter" style="width:150px;margin-right:15px;" >
					       	    <apex:selectOptions value="{!regionFilter}"/>	
					       	    <apex:actionSupport event="onchange" reRender="countryFilter, cityFilter" status="ipStatus"/>     	    	       	    
					  	   	</apex:selectList>
						</div>
						<div>	
							<span class="SearchLabel" >Region by School Price</span>		
						</div>
					</div>
						
			
					
					<div  class="divBox">
						<apex:outputText value="Aditional Filters" style="background-color: #fff; padding: 0 3px; top: -19px; ; position: relative; font-weight: bold" />
						<table>
							<tr>
								<td>
									<div>
										<apex:selectList value="{!sShow}" multiselect="false" size="1" style="width:150px;margin-right:5px;">
							                <apex:selectOption itemValue="all" itemLabel="All Agencies"/>
							                <apex:selectOption itemValue="agreement" itemLabel="With Agreement"/>
							                <apex:selectOption itemValue="without" itemLabel="Without Agreement"/>
							                <apex:selectOption itemValue="valid" itemLabel="Valid Agreements"/>
							                <apex:selectOption itemValue="expired" itemLabel="Expired Agreements"/>
							                <apex:selectOption itemValue="expiredin" itemLabel="Agreements Expiring"/>
							                <apex:actionsupport event="onchange" rerender="filters" status="ipStatus" />
						          		</apex:selectList>			
									</div>
									<div>	
										<span class="SearchLabel">Show</span>
									</div>
								</td>
								
									<td>
		    						<apex:outputpanel id="sshowPeriods" style="{!IF(sShow='expiredin', 'display:yes','display:none')};">
										<apex:outputpanel style="float:left">
											<div>
												<apex:inputfield value="{!periodIni.Valid_till__c}" />							
											</div>
											<div class="SearchFooter">
						                       <span class="SearchLabel">From</span>
						                    </div>
										</apex:outputpanel>
										
										<apex:outputpanel style="float:left; margin-left:5px">
											<div>
												<apex:inputfield value="{!periodFin.Valid_till__c}" />			
											</div>
											<div class="SearchFooter">
						                       <span class="SearchLabel">To</span>
						                    </div>
										</apex:outputpanel>						
				                   </apex:outputpanel>
									</td>
								
								
								<td>
									<div>
										<apex:inputtext value="{!searchField}" style="width:300px;margin-right:15px" onkeypress="enterKey(event)" />
									</div>
									<div>	
										<span class="SearchLabel">Search</span>
									</div>
								</td>
							</tr>
						</table>
					</div>
					
					<apex:outputpanel style="float:left">
                      <apex:commandLink style="float:right; background: {!agencyStyle.communityPrimaryColor}; margin-left: 5px;"  status="ipStatus" action="{!getAgencies}" title="Search!" reRender="blockResult,filters" >
                        <apex:image value="{!URLFOR($Resource.HomePageIcons,'/Archive/search_icon_lens.png')}" />
                      </apex:commandLink>
						<!-- <apex:commandbutton value="Search" action="{!searchAgencies}" status="ipStatus" rerender="blockResult" style="font-size:1em;" /> -->
					</apex:outputpanel>
				</apex:outputpanel>
				<!-- End Filters -->
			</td>
		</tr>
		<tr>
			<td>
				<!-- ResultList -->
				<apex:outputpanel id="blockResult">
					<apex:outputpanel rendered="{!NOT(ISNULL(total_size)) && total_size <1}" style="display:block;text-align: center">
						<br/><br/><span style="color: #dc2628; font-size: larger; font-style: normal; font-variant: inherit; font-weight: bold;">No result found.</span>
					</apex:outputpanel>
					<apex:outputpanel id="result" rendered="{!NOT(ISNULL(total_size )) && total_size >0}">
						<table cellpadding="5px" style="width:100%; border-spacing:0;" >
						<thead class="agencyBackground" style="color:white">
							<!-- th style="text-align:center"><span>Favourite</span></th -->
							<th style="text-align:center"><span>Agency Group ({!total_size})</span></th>
							<th style="text-align:center"><span>Nº of Staff</span></th>
							<th style="text-align:center"><span>Agencies ({!totAgencies})</span></th>
							<th style="text-align:center"><span>Agencies Located in (City/Country)</span></th>
							<th style="text-align:center"><span>Website</span></th>
							<th style="text-align:center"><span>Agreement</span></th>
						</thead>
						<tbody class="startDateTable">
						<apex:variable var="trCounter" value="{!0}"/>
						<apex:repeat value="{!resultMapOrdered}" var="r">
							<apex:variable var="resetRow" value="{!0}" />
						<apex:variable var="trCounter" value="{!trCounter+1}"/>
							<apex:repeat value="{!resultMap[r].gAgencies}" var="ga">
							<tr class="{!IF(mod(trCounter,2)=0, 'tdBorderEven', 'tdBorder')}">
								<apex:outputpanel rendered="{!resetRow=0}" layout="none">
									<!-- td rowspan="{!resultMap[r].gAgencies.size}" style="width:5%; text-align:center;"><apex:inputCheckbox styleclass="fav{!resultMap[r].gId}" onclick="favouriteClick('{!resultMap[r].gName}','{!resultMap[r].gId}')" title="Favourite"/></td-->
									<td rowspan="{!resultMap[r].gAgencies.size}" style="width:20%">
										<apex:outputLink value="showCaseGroupAgency?id={!resultMap[r].gId}&of={!resultMap[r].gAgencies.size}&noheader=true" target="_blank">{!resultMap[r].gName}</apex:outputLink>  (<apex:outputtext value="{!resultMap[r].gAgencies.size}" />) <br />
									<span style="color:grey; margin-left: 15px;" >{!resultMap[r].gType}</span> 
									</td>
									<td rowspan="{!resultMap[r].gAgencies.size}" style="width:5%; text-align:center">
										<apex:outputtext value="{!resultMap[r].gNumStaff}" />
										<apex:outputtext value="-" rendered="{!ISNULL(resultMap[r].gNumStaff)}"/>
									</td>
								</apex:outputpanel>
								<td style="width:20%;text-indent: 15px;">
									<apex:outputtext value="{!ga.aName}" />  <br />
									<span style="color:grey; margin-left: 15px;" >{!ga.aType}</span> 
								</td>
								<td style="width:10%;text-indent: 15px;">
										<apex:outputtext value="{!ga.aCity}" />(<apex:outputtext value="{!ga.aCountry}" />)
								</td>
								<td style="width:15%;text-indent: 15px;">
									<apex:outputLink value="http://{!ga.aWebsite}" target="_blank">{!ga.aWebsite}</apex:outputLink>
									<apex:outputtext value="-" rendered="{!ISNULL(ga.aWebsite)}"/>		
								</td>
								<apex:outputpanel rendered="{!resetRow=0}" layout="none">
									<td rowspan="{!resultMap[r].gAgencies.size}" style="text-align:center; width:20px">
										<apex:outputpanel rendered="{!ISNULL(resultMap[r].gLastAgree)}">
											<apex:commandLink value="Add Agreement" onclick="newAgreement('{!resultMap[r].gId}'); return false;" />
										</apex:outputpanel>
										<apex:outputpanel rendered="{!NOT(ISNULL(resultMap[r].gLastAgree))}">
											<apex:commandLink styleclass="{!IF(resultMap[r].gLastAgreeValid < Today(),'expiredAgree', 'validAgree')}" value="Agreement" onclick="editAgreement('{!resultMap[r].gLastAgree}'); return false;" /><br />
											<br />
											<apex:outputText value="Expired on: {0,date,dd'/'MM'/'yyyy}" rendered="{!resultMap[r].gLastAgreeValid < Today()}">
											    <apex:param value="{!resultMap[r].gLastAgreeValid}" /> 
											</apex:outputText>
											<apex:outputText value="Expire date: {0,date,dd'/'MM'/'yyyy}" rendered="{!resultMap[r].gLastAgreeValid >= Today()}">
											    <apex:param value="{!resultMap[r].gLastAgreeValid}" /> 
											</apex:outputText>
										</apex:outputpanel>
									</td>
									<apex:variable var="resetRow" value="{!1}" />		
								</apex:outputpanel>
								</tr>
							</apex:repeat>
							</apex:repeat>
							</tbody>
						</table>
						<apex:outputPanel id="myButtons" style="display:block; text-align: center; padding: 7px;" >
							<apex:outputPanel style="float:right;color:gray;padding-top:5px;">Page {!pageNumber} of {!totalPages}</apex:outputPanel>
							<apex:commandButton action="{!Beginning}" title="Beginning" value="<<" disabled="{!disablePrevious}" reRender="myButtons, blockResult " status="ipStatus" />
					       	<apex:commandButton action="{!Previous}" title="Previous" value="<" disabled="{!disablePrevious}" reRender="myButtons, blockResult " status="ipStatus" />
					       	<apex:commandButton action="{!Next}" title="Next" value=">" disabled="{!disableNext}" reRender="myButtons, blockResult " status="ipStatus"  />
							<apex:commandButton action="{!End}" title="End" value=">>" disabled="{!disableNext}" reRender="myButtons, blockResult " status="ipStatus"  />
						</apex:outputPanel>
					</apex:outputpanel>	
				<!-- End ResultList -->
			
				</apex:outputpanel>
			</td>
		</tr>
	</table>

</apex:form>
</apex:page>