<apex:page sidebar="false" controller="agreement_details" showHeader="true" lightningStyleSheets="true" standardStylesheets="false" applyBodyTag="false" docType="html-5.0">
<c:modalLoadingLightning />
<html xmlns:ng="http://angularjs.org" lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <head>
        <apex:slds /> 
        <!-- <base href="/ip/apex/agreements_new" /> -->
    </head>

    <style>

        .slds-scope .slds-text-heading--large, .slds-scope .slds-text-heading_large{
            font-size: 1.5em;
        }

        .lbl{
            //font-style:italic;
            font-weight: bold;
            font-size: 0.9em;   
        }
        .result{
            font-size: 1.1em;
        }

        .agColorBg {
            background-color: #f9f9f9;
            padding: 10px;
            border: 1px solid #f1f1f1;
            border-radius: 5px;
            margin-bottom: 5px;
        }

        .slds-scope .slds-tabs--default__item, .slds-scope .slds-tabs_default__item{
            padding: 10px;
        }

        .slds-scope .slds-tabs--default__item.slds-active, .slds-scope .slds-tabs--default__item.slds-is-active, .slds-scope .slds-tabs_default__item.slds-active, .slds-scope .slds-tabs_default__item.slds-is-active{
            //background-color: #f8f4f4;
            font-weight: bold;
        }

        .detailsBox{
            padding: 10px !important;
            background-color: #fefefe;
            border-left: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }

        .slds-scope .slds-text-title{
            font-size: 1em;
        }

        .schDetails{
            margin-left: 20px; 
            background-color: #fff; 
            padding: 10px;
        }

        .openModal {
            opacity:1 !important;
            pointer-events: auto !important;
        }

        .modalWindowAgreement > div {
            width: 500px;
            position: relative;
            margin: 10% auto;
            margin-top: 10%;
            background: #fff;
            min-height: 200px;
            box-shadow: 3px 3px #3c3c3c;
            padding: 10px;
        }

        .modalWindowAgreement {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.7);
            z-index: 99999;
            opacity:0;
            pointer-events: none;
            text-align:center;
        }

        .requiredField{
            padding: 5px 10px; 
            background-color: #ffe9e9; 
            color:red;
            font-size: 0.9em;
        }

        .cpBlock{
            /* margin-left: 10px; */
            margin-top: 7px;
            padding: 10px;
            background-color: #f9f9f9;
            border-radius: 5px;
        }

        .ctBlock{
            padding: 0px 10px;
            border-radius: 5px;
        }

        .courseBlock{
            margin-top: 5px;
            margin-bottom: 5px;
            background-color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
        }

        .slds-button{
            cursor:pointer !important;
        }
        .slds-scope .slds-button_outline-brand {
            padding-left: 1rem;
            padding-right: 1rem;
            text-align: center;
            vertical-align: middle;
            border: 1px solid rgb(221, 219, 218);
            transition: border .15s linear;
            border-color: rgb(221, 219, 218);
            background-color: rgb(255, 255, 255);
            border-color: rgba(27, 82, 151, 1);
        }
        .toggle-documents:hover{
            cursor: pointer;
        }
    </style>
    
    <apex:include pageName="xCourseSearchStyle" />
    <apex:includeScript value="{!$Resource.up_jQuery}" />
    <apex:includeScript value="{!URLFOR($Resource.JQuery_ui_1_11_2,'jquery-ui.min.js')}"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <apex:stylesheet value="{!URLFOR($Resource.jQueryUI,'jquery-ui.css')}" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"/>
    <apex:includeScript value="https://code.angularjs.org/1.2.5/i18n/angular-locale_da-dk.js"/>
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"/>
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone.js"/>
    <apex:includeScript value="{!$Resource.angularFilter}" />
    <apex:styleSheet value="{!URLFOR($Resource.up_chosen,'chosen.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.up_chosen,'chosen.jquery.js')}" />

    <apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}"/>

    <apex:includeScript value="{!URLFOR($Resource.assets,'modalfiles/modal.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.assets,'modalfiles/modal.css')}" />

    
    <div  id="scope-container" class="slds-scope" ng-app="hello" ng-controller="agreement">
        <!-- HEADER -->
         <div style="display:table;width:100%;">
            <apex:outputLink value="/help_link?fl=agreement_details" target="_blank" style="float:right;font-weight: normal;text-decoration: none; color: #777777;">
                <apex:image value="{!urlfor($Resource.icons,'icons/commons/help.png')}" style="height: 16px; width: 16px; position: relative; top: -1px;" />
                Help
            </apex:outputLink>
        </div> 
        <div class="slds-page-header">
            <div class="slds-grid">
                <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media slds-no-space slds-grow">
                    <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-custom-custom18 slds-icon_container--circle" title="Agreement" style="padding: 0px !important;">
                        <svg class="slds-icon slds-icon_large " aria-hidden="true">
                            <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/custom-sprite/svg/symbols.svg#custom18')}"></use>
                        </svg>
                    </span>
                    
                    </div>
                    <div class="slds-media__body">
                        <nav>
                            <ol class="slds-breadcrumb slds-line-height_reset">
                            <li class="slds-breadcrumb__item">
                                <span>Agreement</span>
                            </li>
                            </ol>
                        </nav>
                        <h1 class="slds-page-header__title slds-m-right_small slds-align-middle slds-truncate" title="{{agree.agreement.Agreement_Name__c}}">{{agree.agreement.Agreement_Name__c}}</h1>

                    </div>
                </div>
                </div>
                <div class="slds-col slds-no-flex slds-grid slds-align-top" ng-if="allowCreate === 'true'">
                    <div class="slds-button-group" role="group" ng-show="!agree.agreement.isCancelled__c">
                        <!-- Edit Agreement -->
                        <apex:outputLink value="agreements_new?id={!$CurrentPage.parameters.id}" target="_top" styleClass="slds-button slds-button_neutral" >
                            Edit Details
                        </apex:outputLink>

                        <div class="slds-dropdown-trigger slds-dropdown-trigger_click slds-button_last" ng-class="{'slds-is-open': openOpt}" ng-click="openOpt = !openOpt">
                            <button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" title="Show More">
                                <svg class="slds-button__icon" aria-hidden="true">
                                <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#down')}" xmlns:xlink="http://www.w3.org/1999/xlink" />
                                </svg>
                                <span class="slds-assistive-text">Show More</span>
                            </button>
                            <div class="slds-dropdown slds-dropdown_right slds-dropdown_actions">
                                <ul class="slds-dropdown__list" role="menu">
                                     <!-- Cancel Agreement -->
                                    <li class="slds-dropdown__item" role="presentation" ng-if="agree.agreement.Status_formula__c != 'Draft'">
                                        <a href="javascript:void(0);" role="menuitem" tabindex="0" ng-click="openModal();">
                                            <span class="slds-truncate" title="Cancel Agreement">Cancel Agreement</span>
                                        </a>
                                    </li>
                                     <!-- Delete Agreement -->
                                    <li class="slds-dropdown__item" role="presentation">
                                        <a href="javascript:void(0);" role="menuitem" tabindex="2" ng-click="openDelete()">
                                            <span class="slds-truncate" title="Cancel Agreement">Delete Agreement</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                   
            </div>
            <ul class="slds-grid slds-page-header__detail-row" style="border-top: 1px solid #ddd;">
                <li class="slds-page-header__detail-block">
                    <p class="slds-text-title slds-truncate slds-m-bottom_xx-small" title="Status">Status</p>
                    <div class="slds-text-body_regular slds-truncate" ng-class="{isDraft: agree.agreement.Status_formula__c === 'Draft', isOnGoing: agree.agreement.Status_formula__c === 'Valid', isExpired : agree.agreement.Status_formula__c === 'Expired', isCancelled : agree.agreement.Status_formula__c === 'Cancelled'}" style="width:100px;">
                        {{agree.agreement.Status_formula__c}} 
                    </div>
                </li>
                <li class="slds-page-header__detail-block">
                    <p class="slds-text-title slds-truncate slds-m-bottom_xx-small" title="Status">Provider</p>
                    <div class="slds-text-body_regular slds-truncate">
                        {{agree.agreement.Provider_Type__c}} 
                    </div>
                </li>
                <li class="slds-page-header__detail-block">
                    <p class="slds-text-title slds-truncate slds-m-bottom_xx-small" title="Status">Agreement Type</p>
                    <div class="slds-text-body_regular slds-truncate">
                        {{agree.agreement.Agreement_Type__c}} 
                    </div>
                </li>
                <li class="slds-page-header__detail-block" ng-if="allowView === 'true' && agree.agreement.School_not_Sign__c === false">
                    <p class="slds-text-title slds-truncate slds-m-bottom_xx-small" title="Status">Valid From</p>
                    <div class="slds-text-body_regular slds-truncate"  ng-if="agree.agreement.Start_Date__c != null">
                        {{ agree.agreement.Start_Date__c | moment:'ll'}}
                    </div>
                </li>
                
                <li class="slds-page-header__detail-block" ng-if="allowView === 'true' && agree.agreement.School_not_Sign__c === false">
                    <p class="slds-text-title slds-truncate slds-m-bottom_xx-small" title="Status">Valid Until</p>
                    <div class="slds-text-body_regular slds-truncate">
                        <div ng-if="agree.agreement.End_Date__c != null" style="display:table;width:100%">
                            {{ agree.agreement.End_Date__c | moment:'ll'}}

                            <div style="display:block;font-style:italic; font-size:0.9em; color:red" ng-if="agree.agreement.Status_formula__c != 'Cancelled'">
                                {{agree.agreement.Expire_in_days__c}}
                            </div>
                        </div>
                        <div ng-if="agree.agreement.Until_Terminated__c" class="isUntilTerm" style="display:table;width:100%;font-style: italic;">
                                Until terminated
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- DETAILS -->
        <div class="slds-tabs_default" ng-init="tabs = 'generalInfo'" style="margin: 10px 0 2px;">
            <ul class="slds-tabs_default__nav" role="tablist">
                <li class="slds-tabs_default__item slds-border_right" style="cursor:pointer;" ng-class="{'slds-is-active': tabs === 'generalInfo'}" ng-click="tabs = 'generalInfo';" >General Information</li>
                <li class="slds-tabs_default__item slds-border_right" style="cursor:pointer;" ng-class="{'slds-is-active': tabs === 'providers'}" ng-click="tabs = 'providers';" >Commission</li> 
                <li class="slds-tabs_default__item slds-border_right" style="cursor:pointer;" ng-class="{'slds-is-active': tabs === 'documents'}" ng-click="tabs = 'documents';" >School Documents</li> 
                <li class="slds-tabs_default__item slds-border_right" style="cursor:pointer;" ng-class="{'slds-is-active': tabs === 'external_links'}" ng-click="tabs = 'external_links';" >School Login Details</li> 
                <li class="slds-tabs_default__item slds-border_right" style="cursor:pointer;" ng-class="{'slds-is-active': tabs === 'logs'}" ng-click="tabs = 'logs';" ng-show="allowView === 'true'">Logs</li> 
                <li class="slds-tabs_default__item slds-border_right" style="cursor:pointer;" ng-class="{'slds-is-active': tabs === 'notes'}" ng-click="tabs = 'notes';" ng-show="allowView === 'true'">Notes</li> 
            </ul>   
        </div>

        <!-- CANCEL MODAL -->
        <div id="openModal" class="modalWindowAgreement" ng-class="{openModal: showModal}">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container showMoreModal">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                        <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">  
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" xmlns:xlink="http://www.w3.org/1999/xlink" />
                        </svg>
                        <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate" style="font-weight: bold;">Cancel Agreement</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1" style="text-align: left;">
                        <p style="font-size:1.1em;">Please, inform the reason: <span style="color:red">*</span></p>
                        <textarea style="width: 100%;min-height: 120px;" class="slds-input" ng-model="cancelReason"></textarea>
                        <div ng-class="{ requiredField : cancelError}" ng-show="cancelError">
                            You must inform the reason to cancel the agreement.
                        </div>
                    </div>
                    <footer class="slds-modal__footer" style="text-align:center;">
                        <button class="slds-button slds-button_brand" ng-click="showModal = false">Close</button>
                        <button class="slds-button slds-button_destructive" ng-click="cancelAgreement()">Cancel Agreement</button>
                    </footer>
                </div>
            </section>
        </div>
        <!-- END -- CANCEL modal -->

        <!-- DELETE MODAL -->
        <div id="openModalDup" class="modalWindowAgreement" ng-class="{openModal: showDelete}" >
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container showMoreModal">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                        <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">  
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" xmlns:xlink="http://www.w3.org/1999/xlink" />
                        </svg>
                        <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate" style="font-weight: bold;color:#dc2628 !important;">Delete Agreement</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1" style="text-align: left;color:#dc2628 !important;">
                        <p style="font-size:1.1em;">The agreement and its commissions will be deleted from the system and this action <b>cannot be undone</b>.</p>
                    </div>
                    <footer class="slds-modal__footer" style="text-align:center;">
                        <button class="slds-button slds-button_brand" ng-click="showDelete = false">Cancel</button>
                        <button class="slds-button slds-button_destructive" ng-click="deleteAgreement()">Confirm Delete</button>
                    </footer>
                </div>
            </section>
        </div>
        <!-- END -- CANCEL modal -->

        <div ng-show="tabs === 'generalInfo'">
            <div class="slds-form slds-form_stacked agColorBg" style="border: 1px solid #ffc9c9;background-color: #fffcfc;margin-top: 10px;" ng-if="agree.agreement.isCancelled__c">
                <div class="slds-form-element">
                    <div class="slds-form slds-form_compound">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-2" style="min-width:150px;max-width:200px;" >
                                <span class="lbl">Cancelled by</span>
                                <div class="slds-form-element__control result">
                                    {{agree.agreement.Cancelled_by__r.Name}}
                                </div>
                            </div> <!-- Column -->
                            <div class="slds-size_1-of-2" style="" >
                                <span class="lbl">Cancelled On</span>
                                <div class="slds-form-element__control result">
                                    {{agree.agreement.Cancelled_On__c | moment: 'll'}}
                                </div>
                            </div> <!-- Column -->
                        </div> <!-- Row -->
                    </div>
                </div>
                <div class="slds-form-element">
                    <span class="lbl">Cancel Reason</span>
                    <div class="slds-form-element__control result">
                        {{agree.agreement.Cancel_Reason__c}}
                    </div>
                </div>
            </div>

            <div class="slds-form slds-form_stacked agColorBg" style="margin-top: 10px;">
                <div class="slds-form-element">
                    <div class="slds-form slds-form_compound" ng-if="allowView === 'true' && agree.agreement.School_not_Sign__c === false">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-3" style="width:150px; margin-right:20px;" >
                                <span class="lbl">Signed On</span>
                                <div class="slds-form-element__control result" ng-if="agree.agreement.Signed_Date__c != null">
                                    {{agree.agreement.Signed_Date__c | moment: 'll'}}
                                </div>
                            </div> <!-- Column -->
                            <div class="slds-size_1-of-3" style="width: 200px;" >
                                <span class="lbl">Signed By Agency</span>
                                <div class="slds-form-element__control result">
                                    {{agree.agreement.Signed_by_Agency__r.Name}}
                                </div>
                            </div> <!-- Column -->
                            <div class="slds-size_1-of-3"  style="margin-left:10px;">
                                <span class="lbl">Signed by</span>
                                <fieldset class="slds-form-element">
                                    <div class="slds-form-element__control result">
                                        {{agree.agreement.Signed_by_User__c}}
                                    </div>
                                </fieldset>
                            </div> <!-- Column -->
                        </div> <!-- Row -->
                    </div>
                    <div class="slds-form-element" ng-if="allowView === 'true' && agree.agreement.School_not_Sign__c === true">
                        <div class="slds-form slds-form_compound">
                            <div class="slds-form-element__row">
                                <div style="border:1px solid #dc2628; padding:5px; background-color: #fff8c6; font-size:0.9em">
                                    This school does not sign agreement.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="slds-form-element" ng-if="agree.agreement.Agency_Regions__c != null">
                    <div class="slds-form slds-form_compound">
                        <div class="slds-form-element__row">
                            <div class="slds-size_1-of-2" style="width:350px; margin-right:20px;">
                                <span class="lbl">Valid for regions</span>
                                <div class="slds-form-element__control result">
                                   {{agree.agreement.Agency_Regions__c}}
                                </div>
                            </div>
                            <div class="slds-size_1-of-2" ng-if="agree.agreement.Agency_Exc_Countries__c != null">
                                <span class="lbl">Excluded countries</span>
                                <div class="slds-form-element__control result">
                                   {{agree.agreement.Agency_Exc_Countries__c}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-form-element" ng-if="agree.agreement.Include_Countries__c">
                    <span class="lbl">Valid only for countries</span>
                    <div class="slds-form-element__control result">
                        {{agree.agreement.Include_Countries__c}}
                    </div>
                </div>
                
                <div class="slds-form-element">
                    <span class="lbl">Allow Assignment and Sub-Representatives</span>
                    <div class="slds-form-element__control result">
                        <div ng-if="agree.agreement.Allow_Sub_Representatives__c === true">
                            Yes
                        </div>
                        <div ng-if="agree.agreement.Allow_Sub_Representatives__c === false">
                            No
                        </div>
                    </div>
                </div>
            </div>

            <!-- EXPIRED OPTIONS -->
            <div class="agColorBg" style="margin-bottom:8px;background-color: #ffc;" ng-show="agree.agreement.Status_formula__c == 'Expired'">
                <span class="lbl">Expired Agreement Details</span>
                <div class="slds-form-element__row"  style="margin-top:5px"> 
                    <div class="slds-size_1-of-1 ">
                        <div>
                            <div ng-if="agree.agreement.Renew_in_progress__c" style="font-style: italic; margin-top: 5px;">
                                Renew in progress
                            </div>
                            <div ng-if="agree.agreement.Renew_upon_request__c" style="font-style: italic; margin-top: 5px;">
                                Renew only upon request
                            </div>
                        </div>
                    </div> <!-- row -->
                </div>
                 <div class="slds-form-element__row" style="margin-top: 10px;" ng-if="allowCreate === 'true'"> 
                    <div class="slds-size_1-of-1 ">
                        <div>
                            <div class="slds-form-element__control">
                                {{agree.agreement.Expired_Notes__c}}
                            </div>
                        </div>
                    </div> <!-- row -->
                </div>
            </div>
            <!-- END -- EXPIRED OPTIONS -->

            <div class="slds-form slds-form_stacked agColorBg">
                <div class="slds-form-element">
                    <span class="lbl">Related Agencies</span>
                    <div class="slds-form-element__control" style="margin-top: 5px;">
                        <div class="showMoreItems" ng-repeat="(key, item) in agree.agencies | groupBy: 'Account__r.Parent.Name'">
                            <div style="display:inline-block">
                                <div class="slds-icon_small" style="float: left;font-size: 0.8em;color: red; cursor:pointer;" ng-click="toggle[$index] = !toggle[$index];">
                                    <span class="slds-icon_container slds-icon__svg--default " style="padding: .2rem !important;">
                                        <svg aria-hidden="true" class="slds-icon slds-icon-text-default slds-icon_x-small" ng-show="!toggle[$index]">
                                            <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#chevronright ')}"></use>
                                        </svg>
                                        <svg aria-hidden="true" class="slds-icon slds-icon-text-default slds-icon_x-small" ng-show="toggle[$index]">
                                            <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#chevrondown ')}"></use>
                                        </svg>
                                    </span>
                                </div>
                                <span style="font-weight:bold;float: left;cursor:pointer;" ng-init="toggle[$index] = false" ng-click="toggle[$index] = !toggle[$index];" >{{key}}</span> <span style="font-size:0.85em; font-style:italic;">&nbsp;({{item.length}} agencies) </span>
                            </div>

                            <div ng-show="toggle[$index]" style="margin-bottom:5px;">
                                <ul>
                                    <li ng-repeat="(key, value) in item" style="text-align:left; margin-left:25px;">{{value.Account__r.Name}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slds-form slds-form_stacked agColorBg" ng-if="allowView === 'true'">
                <div class="slds-form-element">
                    <span class="lbl">School Contact Details</span>
                    <div class="slds-form-element__control result">
                        {{agree.agreement.Contact_Details__c}}
                    </div>
                </div>
                <div class="slds-form-element">
                    <span class="lbl">Related Documents</span>
                    <div class="slds-form-element__control result" style="font-size:1em;margin-left: 2px;margin-top: 5px; width: 100%;">
                        <ul style="list-style: inside;">
                            <li ng-repeat="(key, value) in agree.docs" >
                                <a href="{{value.docUrl}}" target="_blank" class="nLink">{{value.docName}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="slds-form slds-form_stacked agColorBg">
                <div class="slds-form-element">
                    <span style="font-weight:bold;">Agreement Details</span>
                    <div class="slds-form-element__row agColorBg" style="margin: 0px !important; padding: 0px; border: 0px;"> <!-- Nationality Exclusion -->
                        <div class="slds-size_1-of-1" style="margin-left: -6px;">
                            <div class="slds-tabs_scoped" style="margin: 5px;width: auto;">
                                <ul class="slds-tabs_scoped__nav" role="tablist">
                                    <li class="slds-tabs_scoped__item" ng-class="{'slds-is-active': descTabs == 1 }" title="Agreement Duration" role="presentation" ng-if="mDuration != null">
                                        <a class="slds-tabs_scoped__link" ng-click="$parent.descTabs = 1" role="tab" tabindex="{{descTabs == 1 ? '0' : '-1'}}" aria-selected="{{descTabs == 1 ? 'true' : 'false'}}" aria-controls="descTabs_1" id="descTabs_1__item">
                                            Agreement Duration
                                        </a>
                                    </li>
                                    <li class="slds-tabs_scoped__item" ng-class="{'slds-is-active': descTabs == 2 }" title="Enrolment Conditions" role="presentation" ng-if="mEnrolment != null">
                                        <a class="slds-tabs_scoped__link" ng-click="$parent.descTabs = 2" role="tab" tabindex="{{descTabs == 2 ? '0' : '-1'}}" aria-selected="{{descTabs == 2 ? 'true' : 'false'}}" aria-controls="descTabs_2" id="descTabs_2__item">
                                            Enrolment Conditions
                                        </a>
                                    </li>
                                    <li class="slds-tabs_scoped__item" ng-class="{'slds-is-active': descTabs == 3 }" title="Course Payments" role="presentation" ng-if="mCoursePay != null">
                                        <a class="slds-tabs_scoped__link" ng-click="$parent.descTabs = 3" role="tab" tabindex="{{descTabs == 3 ? '0' : '-1'}}" aria-selected="{{descTabs == 3 ? 'true' : 'false'}}" aria-controls="descTabs_3" id="descTabs_3__item">
                                            Course Payments
                                        </a>
                                    </li>
                                    <li class="slds-tabs_scoped__item" ng-class="{'slds-is-active': descTabs == 4 }" title="Refund / Cancellation" role="presentation" ng-if="mRefund != null">
                                        <a class="slds-tabs_scoped__link" ng-click="$parent.descTabs = 4" role="tab" tabindex="{{descTabs == 4 ? '0' : '-1'}}" aria-selected="{{descTabs == 4 ? 'true' : 'false'}}" aria-controls="descTabs_4" id="descTabs_4__item">
                                            Refund / Cancellation
                                        </a>
                                    </li>
                                    <li class="slds-tabs_scoped__item" ng-class="{'slds-is-active': descTabs == 5 }" title="Extra Information" role="presentation" ng-if="mExtra != null">
                                        <a class="slds-tabs_scoped__link" ng-click="$parent.descTabs = 5" role="tab" tabindex="{{descTabs == 5 ? '0' : '-1'}}" aria-selected="{{descTabs == 5 ? 'true' : 'false'}}" aria-controls="descTabs_5" id="descTabs_5__item">
                                            Extra Information
                                        </a>
                                    </li>
                                    <li class="slds-tabs_scoped__item" ng-class="{'slds-is-active': descTabs == 6 }" title="Nationality Conditions" role="presentation" ng-if="mNationality != null">
                                        <a class="slds-tabs_scoped__link" ng-click="$parent.descTabs = 6" role="tab" tabindex="{{descTabs == 6 ? '0' : '-1'}}" aria-selected="{{descTabs == 6 ? 'true' : 'false'}}" aria-controls="descTabs_6" id="descTabs_6__item">
                                            Nationality Conditions
                                        </a>
                                    </li>
                                </ul>

                                <div id="descTabs_1" class="detailsBox slds-tabs_default__content {{descTabs == 1 ? 'slds-show' : 'slds-hide'}}" role="tabpanel" aria-labelledby="tab-default-1__item" ng-if="mDuration != null">
                                    <apex:outputtext value="{!duration}" escape="false" />
                                </div>
                                
                                <div id="descTabs_2" class="detailsBox slds-tabs_default__content {{descTabs == 2 ? 'slds-show' : 'slds-hide'}}" role="tabpanel" aria-labelledby="tab-default-2__item" ng-if="mEnrolment != null">
                                    <apex:outputtext value="{!enrolment}" escape="false" />
                                </div>
                                
                                <div id="descTabs_3" class="detailsBox slds-tabs_default__content {{descTabs == 3 ? 'slds-show' : 'slds-hide'}}" role="tabpanel" aria-labelledby="tab-default-3__item" ng-if="mCoursePay != null">
                                    <apex:outputtext value="{!coursePayments}" escape="false" />
                                </div>
                                
                                <div id="descTabs_4" class="detailsBox slds-tabs_default__content {{descTabs == 4 ? 'slds-show' : 'slds-hide'}}" role="tabpanel" aria-labelledby="tab-default-4__item" ng-if="mRefund != null">
                                    <apex:outputtext value="{!refund}" escape="false" />
                                </div>
                                
                                <div id="descTabs_5" class="detailsBox slds-tabs_default__content {{descTabs == 5 ? 'slds-show' : 'slds-hide'}}" role="tabpanel" aria-labelledby="tab-default-5__item" ng-if="mExtra != null">
                                    <apex:outputtext value="{!extraInfo}" escape="false" />
                                </div>

                                <div id="descTabs_6" class="detailsBox slds-tabs_default__content {{descTabs == 6 ? 'slds-show' : 'slds-hide'}}" role="tabpanel" aria-labelledby="tab-default-6__item" ng-if="mNationality != null">
                                    <apex:outputtext value="{!nationality}" escape="false" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="tabs === 'providers'">
            <div class="showMoreItems agColorBg" ng-repeat="(key, item) in agree.schools" style="margin-top:10px;">
                <div style="display:inline-block">
                    <div class="slds-icon_small" style="float: left;font-size: 0.8em;color: red; cursor:pointer;" ng-click="toggle[$index] = !toggle[$index];">
                        <span class="slds-icon_container slds-icon__svg--default " style="padding: .2rem !important;">
                            <svg aria-hidden="true" class="slds-icon slds-icon-text-default slds-icon_x-small" ng-show="!toggle[$index]">
                                <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#chevronright ')}"></use>
                            </svg>
                            <svg aria-hidden="true" class="slds-icon slds-icon-text-default slds-icon_x-small" ng-show="toggle[$index]">
                                <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#chevrondown ')}"></use>
                            </svg>
                        </span>
                    </div>
                    <span style="font-weight:bold;float: left;cursor:pointer;" ng-init="toggle[$index] = false" ng-click="toggle[$index] = !toggle[$index];" >{{item.sAccount.Account__r.Name}}</span> 
                </div>

                <div class="slds-form slds-form_stacked " ng-show="toggle[$index]" style="" >
                    <div class="slds-form-element schDetails" style="border: 1px solid #ddd;border-radius: 5px;" >
                       <div class="slds-form slds-form_compound">
                            <div class="slds-form-element__row">
                                <div class="slds-size_1-of-2" style="width:500px;margin-right:20px;" >
                                    <span class="lbl">Trading Name</span>
                                    <div class="slds-form-element__control result">
                                        {{item.sAccount.Account__r.Name}}
                                    </div>
                                </div> <!-- Column -->
                                <div class="slds-size_1-of-2" ng-if="allowView === 'true'">
                                    <span class="lbl">Registration Name</span>
                                    <div class="slds-form-element__control result">
                                        {{item.sAccount.Account__r.Registration_name__c}}
                                    </div>
                                </div> <!-- Column -->
                            </div> <!-- Row -->
                            
                            <div class="slds-form-element__row">
                                <div class="slds-size_1-of-2" style="width:500px;margin-right:20px;">
                                    <span class="lbl">Type of Institution</span>
                                    <div class="slds-form-element__control result">
                                        {{item.sAccount.Account__r.Type_of_Institution__c}}
                                    </div>
                                </div> <!-- Column -->
                                <div class="slds-size_1-of-2" ng-if="allowView === 'true'">
                                    <span class="lbl">Registration Number ({{item.sAccount.Account__r.Type_of_Business_Number__c}})</span>
                                    <div class="slds-form-element__control result">
                                        {{item.sAccount.Account__r.Business_Number__c}}
                                    </div>
                                </div> <!-- Column -->
                            </div> <!-- Row -->
                            <div class="slds-form-element__row">
                                <div class="slds-size_1-of-1" style="margin-right:20px;" >
                                    <span class="lbl">Course Types Offered</span>
                                    <div class="slds-form-element__control result">
                                        {{item.sAccount.Account__r.Course_Types_Offered__c}}
                                    </div>
                                </div> <!-- Column -->
                               
                            </div> <!-- Row ->
                            <div class="slds-form-element__row">
                                <div class="slds-size_1-of-1" style="margin-right:20px;" >
                                    <span class="lbl">School Status</span>
                                    <div class="slds-form-element__control result">
                                        
                                    </div>
                                </div> <!-- Column ->
                               
                            </div> <!-- Row -->
                        </div>
                    </div>

                    <div class="schDetails" style="margin-top:10px; border: 1px solid #ddd;border-radius: 5px;">
                        <span class="lbl" style="font-size:1.1em;">Commission Details</span>
                            <div class="slds-form slds-form_stacked" style="padding: 10px; background-color: #f9f9f9;border-radius: 5px; margin-top: 5px;"> <!-- ng-if="allowView === 'true'"  -->
                                <div class="slds-form-element">
                                    <span class="lbl">The instalments are paid in full to school?</span>
                                    <div class="slds-form-element__control">
                                        <div ng-if="item.sAccount.School_Payment_Type__c === 'PFS Only'" >
                                            Yes. All instalments
                                        </div>
                                        <div ng-if="item.sAccount.School_Payment_Type__c === 'PFS First Instalment'" >
                                            Yes. First instalment only
                                        </div>
                                        <div ng-if="item.sAccount.School_Payment_Type__c === 'Net Commission'" >
                                            No. Commission is NET
                                        </div>
                                    </div>
                                </div>

                                <div class="slds-form-element">
                                     <span class="lbl">The commission includes tax?</span>
                                    <div class="slds-form-element__control">
                                        <div ng-if="item.sAccount.Commission_Includes_Tax__c === true" >
                                            Yes
                                        </div>
                                        <div ng-if="item.sAccount.Commission_Includes_Tax__c === false" >
                                            No
                                        </div>
                                    </div>
                                </div>

                                <div class="slds-form-element">
                                    <span class="lbl">Is the tax claimable?</span> <span style="font-style:italic;font-size:0.9em;">(If Yes, tax will be claimed in the invoice)</span>
                                    <div class="slds-form-element__control">
                                        <div ng-if="item.sAccount.Tax_Claimable__c === true" >
                                            Yes
                                        </div>
                                        <div ng-if="item.sAccount.Tax_Claimable__c === false" >
                                            No
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div ng-show="item.schoolComm.cValue == null && item.campuses == null" style="padding: 5px 10px; background-color: #ffe9e9; font-size: 1.1em;">
                                This school has no commission set.
                            </div>

                            <div style="display:block; padding: 10px; border-radius: 5px;background-color: #f9f9f9;margin-top: 10px;">
                                <div ng-if="item.schoolComm.cValue > 0">
                                    <b>School Commission: {{item.schoolComm.cValue}}</b>
                                    <span ng-if="item.schoolComm.cType ===0"> % </span>
                                    <span ng-if="item.schoolComm.cType ===1"> $ </span>
                                </div>
                                <div ng-if="item.schoolComm.cValue == 0">
                                    <b>School Commission: {{item.schoolComm.cValue}}</b>
                                        <span ng-if="item.schoolComm.cType ===0"> % </span>
                                        <span ng-if="item.schoolComm.cType ===1"> $ </span>
                                    </div>
                                <div ng-if="item.schoolComm.cComments != null">
                                    <i>Comments</i>: <br/><span style="white-space: pre-line">{{item.schoolComm.cComments}}</span>
                                </div>
                            </div>
                            <div class="cpBlock" ng-repeat="(cpKey, cp) in item.otherComm | groupBy: 'campus' " >
                                <div class="lbl" style="padding: 2px; background-color: #e3e3e3;">{{cpKey}}</div>
                                
                                <div class="ctBlock" ng-repeat="(ctKey, ct) in cp | groupBy: 'courseType' " >
                                    <div class="lbl">{{ctKey}}</div>
                                
                                    <div class="courseBlock" ng-repeat="(courseKey, course) in ct " >
                                        <div class="lbl">{{course.course}}</div>
                                        Commission: {{course.cValue}}
                                        <span ng-if="course.cType ===0">% </span>
                                        <span ng-if="course.cType ===1">$ </span>
                                        <div style="diplay:block" ng-if="course.cComments.length > 0">
                                            Comments: <br/>
                                            <span style="white-space: pre-line">{{course.cComments}}</span> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="tabs === 'documents'" style="padding: 10px;">
            <div class="showMoreItems agColorBg" ng-repeat="(key, item) in agree.schools" style="margin-top:10px;">
                <div style="display:inline-block">
                    <div class="slds-icon_small" style="float: left;font-size: 0.8em;color: red; cursor:pointer;" ng-click="toggle[$index] = !toggle[$index];">
                        <span class="slds-icon_container slds-icon__svg--default " style="padding: .2rem !important;">
                            <svg aria-hidden="true" class="slds-icon slds-icon-text-default slds-icon_x-small" ng-show="!toggle[$index]">
                                <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#chevronright ')}"></use>
                            </svg>
                            <svg aria-hidden="true" class="slds-icon slds-icon-text-default slds-icon_x-small" ng-show="toggle[$index]">
                                <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#chevrondown ')}"></use>
                            </svg>
                        </span>
                    </div>
                    <span style="font-weight:bold;float: left;cursor:pointer;" ng-init="toggle[$index] = false" ng-click="toggle[$index] = !toggle[$index];" >{{item.sAccount.Account__r.Name}}</span> 
                </div>
                <div class="slds-form slds-form_stacked " ng-show="toggle[$index]" style="" >
                    <div class="slds-form-element schDetails" style="border: 1px solid #ddd;border-radius: 5px;" >
                        <div style="text-align: right;">
                            <a class="slds-button slds-button_brand" ng-click="openModalAddSchoolDocuments(item.sAccount.Account__c);">Add Documents</a>
                        </div>
                        <ul style="margin-top: 10px;">
                            <li ng-repeat="folderDoc in item.documents" ng-if="folderDoc.totalDocuments > 0" style="margin-bottom: 5px;">
                                <div class="slds-clearfix toggle-documents" style="background-color: #f9f9f9; padding: 2px 10px;">
                                    <b style="float: left;">{{folderDoc.folder}}</b> 
                                    <span class="slds-icon_container slds-icon__svg--default" style="float: right;">
                                        <svg aria-hidden="true" class="slds-icon slds-icon-text-default slds-icon_x-small">
                                            <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#chevronright ')}"></use>
                                        </svg>
                                        <svg aria-hidden="true" class="slds-icon slds-icon-text-default slds-icon_x-small" style="display: none;">
                                            <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#chevrondown ')}"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="container-documents" style="margin-left: 15px; margin-top: 5px; display: none;">
                                    <ul>
                                        <li ng-repeat="doc in folderDoc.files" style="margin-bottom: 10px">
                                            {{doc.description}} - <a ng-href="{{doc.url}}" target="_blank">{{doc.name}}&nbsp;</a><span ng-if="doc.isExpired" style="color: red; font-size: .7rem;"><i>(Expired)</i></span>
                                        </li>
                                    </ul>
                                </div>  
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>

        <div ng-show="tabs === 'external_links'">
            <!-- <c:school_external_pages schoolIds="{!schoolsIdsStr}" blockEdition="true" validateAccess="true"/> -->
            <apex:iframe src="apex/schools_external_pages?id={!schoolsIdsStr}&blockEdition=false&validateAccess=false" scrolling="true" id="theIframe"/>
        </div>

        <div ng-show="tabs === 'logs'">
            <div style="padding: 10px; font-weight: bold;">
                Agreement created on  {{agree.createdDate | moment: 'lll'}} by  {{agree.agreement.CreatedBy.Name}}
            </div>
            <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-table_striped" ng-if="agree.logs.length > 0">
                <thead>
                    <tr class="slds-text-title_caps">
                        <th scope="col">
                            <div class="slds-truncate" title="Field Name">Field Name</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="Old Value">Old Value</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="New Value">New Value</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="New Value">Modified By</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="New Value">Modified Date</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="l in agree.logs | reverse">
                        <td data-label="Field Name" style="font-weight:bold;">
                            <div class="slds-truncate" title="Field Name">
                                {{l.fieldLabel}}
                            </div>
                        </td>
                        <td data-label="Old Value">
                            <div class="slds-truncate" title="Old Value">
                                
                                <div ng-if="l.fieldName == 'Allow_Sub_Representatives__c' || l.fieldName == 'Until_Terminated__c' || l.fieldName == 'isAvailable__c'">
                                     <span ng-if="l.oldValue === 'true'">
                                        Yes
                                    </span>
                                    <span ng-if="l.oldValue === 'false'">
                                        No
                                    </span>
                                </div>

                                <div ng-if="l.fieldName == 'Comm. Includes Tax'">
                                    <span ng-if="l.oldValue === 'true'">
                                        Commission Includes Tax
                                    </span>
                                    <span ng-if="l.oldValue === 'false'">
                                        Commission Not Includes Tax
                                    </span>
                                </div>

                                <div ng-if="l.fieldName == 'Tax Claimable'">
                                    <span ng-if="l.oldValue === 'true'">
                                        Tax Claimable
                                    </span>
                                    <span ng-if="l.oldValue === 'false'">
                                        Tax Not Claimable
                                    </span>
                                </div>

                                <span ng-if="l.fieldName != 'Allow_Sub_Representatives__c' && l.fieldName != 'Until_Terminated__c' && l.fieldName != 'isAvailable__c' && l.fieldName != 'Comm. Includes Tax' && l.fieldName != 'Tax Claimable'">
                                    {{l.oldValue}}
                                </span>

                            </div>
                        </td>
                        <td data-label="New Value">
                            <div class="slds-truncate" title="New Value">

                                <div ng-if="l.fieldName == 'Allow_Sub_Representatives__c' || l.fieldName == 'Until_Terminated__c' || l.fieldName == 'isAvailable__c'">
                                    <span ng-if="l.newValue === 'true'">
                                        Yes
                                    </span>
                                    <span ng-if="l.newValue === 'false'">
                                        No
                                    </span>
                                </div>

                                <div ng-if="l.fieldName == 'Comm. Includes Tax'">
                                    <span ng-if="l.newValue === 'true'">
                                        Commission Includes Tax
                                    </span>
                                    <span ng-if="l.newValue === 'false'">
                                        Commission Not Includes Tax
                                    </span>
                                </div>

                                <div ng-if="l.fieldName == 'Tax Claimable'">
                                    <span ng-if="l.newValue === 'true'">
                                        Tax Claimable
                                    </span>
                                    <span ng-if="l.newValue === 'false'">
                                        Tax Not Claimable
                                    </span>
                                </div>

                                <span ng-if="l.fieldName != 'Allow_Sub_Representatives__c' && l.fieldName != 'Until_Terminated__c' && l.fieldName != 'isAvailable__c' && l.fieldName != 'Comm. Includes Tax' && l.fieldName != 'Tax Claimable'">
                                    {{l.newValue}}
                                </span>

                            </div>
                        </td>
                        <td data-label="Modified By">
                            <div class="slds-truncate" title="Modified By">
                                {{l.userName}}
                                <div style="display:block;font-style:italic;font-size:0.9em">{{l.userAgency}}</div>
                            </div>
                        </td>
                        <td data-label="Modified Date">
                            <div class="slds-truncate" title="Modified Date">
                                <!-- editDate=={{l.editDate}}<br/>
                                editDateDT=={{l.editDateCTuser}}<br/> 
                                editDateDTMoment ==-->
                                {{l.editDateCTuser | moment: 'lll'}}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        
        </div>

        <div ng-show="tabs === 'notes'">
            <div style="display:block;width:100%;text-align:right;">
                <div class="slds-button slds-button_neutral" style="cursor:pointer;margin: 10px 0px;" ng-click="openNoteModal();" >Create Note</div>
            </div>
            <div style="padding:10px;display:block;text-align: center;border: 1px solid #f1f1f1;" ng-if="agreeNotes === null"> There aren't notes for this agreement.</div>
            <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-table_striped" ng-if="agreeNotes.length > 0">
                <thead>
                    <tr class="slds-text-title_caps">
                        <th scope="col">
                            <div class="slds-truncate" title="Description">Description</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="Created By">Created By</div>
                        </th>
                        <th scope="col">
                            <div class="slds-truncate" title="Created Date">Created Date</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="n in agreeNotes | reverse track by $index ">
                        <td data-label="Description" style="max-width:300px;">
                            <div class="slds-truncate" title="{{n.note}}" style="cursor:pointer;">
                                 <a ng-click="openShowMore(n.note)">{{n.note}}</a>
                            </div>
                        </td>
                        <td data-label="Created By">
                            <div class="slds-truncate" title="Created By">
                                {{n.userName}}
                                <div style="display:block;font-style:italic;font-size:0.9em">{{n.userAgency}}</div>
                            </div>
                        </td>
                        <td data-label="Created Date">
                            <div class="slds-truncate" title="Created Date">
                                {{n.addedDate | moment: 'lll'}}                               
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>	
        </div>

        <!-- NOTE MODAL -->
        <div id="noteModal" class="modalWindowAgreement" ng-class="{openModal: noteModal}">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container showMoreModal">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                        <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">  
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" xmlns:xlink="http://www.w3.org/1999/xlink" />
                        </svg>
                        <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate" style="font-weight: bold;">Agreement Notes</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1" style="text-align: left;">
                        <textarea style="width: 100%;min-height: 120px;" class="slds-input" ng-model="aNote"></textarea>
                    </div>
                    <footer class="slds-modal__footer" style="text-align:center;">
                        <div class="slds-button slds-button_brand" ng-click="noteModal = false">Close</div>
                        <div class="slds-button slds-button_success" style="color:white !important;" ng-click="saveNote()">Add Note</div>
                    </footer>
                </div>
            </section>
        </div>
        <!-- END -- NOTE modal -->

        <div id="showMore" class="modalWindowAgreement" ng-class="{openModal: showMore}">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container showMoreModal">
                   
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1" style="text-align: left;">
                       <span style="white-space: pre-line">{{details}}</span>
                    </div>
                    <footer class="slds-modal__footer" style="text-align:center;">
                        <div class="slds-button slds-button_brand" ng-click="showMore = false">Close</div>
                    </footer>
                </div>
            </section>
        </div>
    </div>
</html>

<script>
    $(document).ready(function(){
        console.log({!agree});
        $(document).on("click",".toggle-documents",function(){
            $(this).closest("li").find(".container-documents").slideToggle();
            $(this).find(".slds-icon").toggle();
        });
    });
    function loadChosen(){
        try{
            $('.chosen').chosen({no_results_text: "Sorry, no items were found." , placeholder_text_multiple: "Click to select multiple options.", placeholder_text_single: "Type to find the option."});
        } catch(err){
            console.warn('CHOSEN COULDNT\' BE LOADED (THIS PROBLEM OCCURRS BECAUSE OF AN INCOMPATIBILITY BETWEEN DIFFERENT VERSIONS OF JQUERY)');
        }
    }
    function beginAjaxRequest(){
        showModalLoading(true);
    }
    function completeAjaxRequest(){
        loadChosen();
        showModalLoading(false);
    }
    function closeModalAddSchoolDocuments(){
        $("#interVeil").css("display","none");
        angular.element(document.getElementById("scope-container")).scope().closeModalAddSchoolDocuments();
    }

    var myapp = angular.module('hello', ['angular.filter']);
    
    myapp.filter('moment', ['$rootScope', function($rootScope) {
        return function(dateString, format) {
            var localTime = moment.tz(dateString, $rootScope.userTimeZone)
            return moment(localTime).format(format);
        };
    }]);

    //ANGULAR CONTROLLER
    myapp.controller('agreement',['$scope', '$rootScope', function($scope, $filter, $timeout, $rootScope, tmhDynamicLocale) {
        $scope.allowCreate = '{!userDetails.Contact.Create_Agreement__c}';
        $scope.allowView = '{!userDetails.Contact.View_Full_Agreement__c}';
        $scope.showModal = false;
        $scope.showDelete = false; 
        $scope.noteModal = false; 
        $scope.openOpt = false; 
        $scope.agree = {!agree};
        $scope.cancelReason  = '';

        $scope.aDescription = {!aDescription};

        $scope.mDuration = $scope.aDescription.duration;
        $scope.mEnrolment = $scope.aDescription.enrolment;
        $scope.mCoursePay = $scope.aDescription.coursePayments;
        $scope.mRefund = $scope.aDescription.refund;
        $scope.mExtra = $scope.aDescription.extraInfo;
        $scope.mNationality = $scope.aDescription.nationality;

        // $scope.agreeNotes = angular.fromJson({!aNotes});
        $scope.agreeNotes = {!aNotes};

        $scope.modalSchoolDocuments;


        if($scope.mDuration != null)
            $scope.descTabs = 1;
        else if($scope.mEnrolment != null)
            $scope.descTabs = 2;
        else if($scope.mCoursePay != null)
            $scope.descTabs = 3;
        else if($scope.mRefund != null)
            $scope.descTabs = 4;
        else if($scope.mExtra != null)
            $scope.descTabs = 5;
        else if($scope.mNationality != null)
            $scope.descTabs = 6;

        $scope.openModal = function(){
            $scope.showModal = true;
        }
        $scope.openDelete = function(){
            $scope.showDelete = true;
        }
        $scope.openNoteModal = function(){
            $scope.noteModal = true;
        }
        
        $scope.closeModalAddSchoolDocuments = function(){
            $scope.modalSchoolDocuments.close();
            window.location.reload();
        };
        $scope.openModalAddSchoolDocuments = function(idSchool){
            $scope.modalSchoolDocuments = dhtmlmodal.open("newPrice", "iframe", "school_documents_new?id="+idSchool, "New Price", "width=1024px,height=600px,resize=1,center=1");
            $(".drag-controls .Close").unbind("click");
            $(".drag-controls .Close").click(function() {closeModalAddSchoolDocuments();}); 
        }
        
        $scope.openShowMore = function(notes){
            $scope.showMore = true;
            $scope.details = notes;
        }

        $scope.cancelAgreement = function(){
            if($scope.cancelReason.length == 0)
                $scope.cancelError = true;
            else{ //Cancel Agreement
                 Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.agreement_details.cancelAgreement}',$scope.agree.agreement.Id, $scope.cancelReason,
                    function(result, event){
                        if(event.type != 'exception') {
                            if(event.status) {
                                location.reload();
                            }
                        }
                        else{
                            alert(event.message);
                        }
                    });
            }
        }

        $scope.deleteAgreement = function(){
            Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.agreement_details.deleteAgreement}',$scope.agree.agreement.Id,
            function(result, event){
                if(event.type != 'exception') {
                    if(event.status) {
                        window.location = '{!urlfor($Page.agreements_list)}';
                    }
                }
                else{
                    alert(event.message);
                }
            });
        }

        $scope.saveNote = function(){
            Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.agreement_details.saveNote}', $scope.agree.agreement.Id, $scope.aNote,
            function(result, event){
                if(event.type != 'exception') {
                    if(event.status) {
                        $scope.aNote = null;
                        $scope.agreeNotes = JSON.parse(result); //Use JSON.parse because of issue on angular when updating the ng-repeat list ('Duplicate values')
                        $scope.noteModal = false;
                        $scope.$apply();
                    }
                }
                else{
                    alert(event.message);
                }
            },{escape: false}
            );
        }

       
        $scope.getUserInfo = function(callback){
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.agreement_details.getUserProfile}',
                function(result, event){
                    if(event.status) {
                        callback(result);
                    }
                });
        }

        //calling the service defined above
        $scope.loadData = function(){
            if ($scope.loaded){
                //calling the service defined above
                myapp.getUserInfo(function(data) { 
                $rootScope.userId = data.userid;
                $rootScope.userAnLocale = data.anlocale; //setting the users locale
                $rootScope.userSfLocale = data.sflocale;
                $rootScope.userCurrency = data.money;
                $rootScope.userLanguage = data.language;
                $rootScope.userTimeZone = data.timezone;
                $rootScope.$apply($rootScope.userId);
                $rootScope.$apply($rootScope.userAnLocale); //applying it to $rootScope
                $rootScope.$apply($rootScope.userSfLocale);
                $rootScope.$apply($rootScope.userCurrency);
                $rootScope.$apply($rootScope.userLanguage);
                $rootScope.$apply($rootScope.userTimeZone);
                tmhDynamicLocale.set($rootScope.userAnLocale); //passing it to DynamicLocale
                $scope.loaded = false;
                });
            }
        }
    }]);
</script>
</apex:page>