<apex:page controller="agreement_commissions" lightningStyleSheets="true" showHeader="true" standardStylesheets="false" applyBodyTag="false" docType="html-5.0">
	<html xmlns:ng="http://angularjs.org" lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <head>
        <apex:slds /> 
    </head>
    
    <apex:include pageName="xCourseSearchStyle" />
    <apex:includeScript value="{!$Resource.up_jQuery}" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"/>
    <apex:includeScript value="{!$Resource.angularFilter}" />
    <apex:styleSheet value="{!URLFOR($Resource.up_chosen,'chosen.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.up_chosen,'chosen.jquery.js')}" />
    <apex:includeScript value="{!$Resource.jqueryBlockUI}" />
    <apex:includeScript value="{!URLFOR($Resource.selectize_v2_0,'selectize.min.js')}" /> 
    <style>
        .slds-button_brand{cursor:pointer;}

        /* Multistep */
        .container{
            width:100%;
        }

        .progressbar{
            counter-reset:step;
        }
        .progressbar li{
            list-style-type:none;
            float:left;
            width: 33%;
            position:relative;
            text-align:center;
            margin-bottom: 10px;
        }
        .progressbar li.step1::before {
            background-image: url("{!URLFOR($Resource.Agreement_Icons,'people_world.svg')}");
        }
        .progressbar li.step2::before {
            background-image: url("{!URLFOR($Resource.Agreement_Icons,'notes.svg')}");
            background-size: 75px;
        }
        .progressbar li.step3::before {
            background-image: url("{!URLFOR($Resource.Agreement_Icons,'commissions.svg')}");
        }
        .progressbar li.step4::before {
            background-image: url("{!URLFOR($Resource.Agreement_Icons,'upload_docs.svg')}");
            background-size: 65px;
        }

        .progressbar li::before{
            filter: grayscale(100%);
            opacity: 0.2;

            background-size: 85px;
            content: close-quote;
            counter-increment: step;
            width: 85px;
            height: 85px;
            //border: 6px solid #ddd;
            display:block;
            text-align:center;
            margin: 0 auto 0 auto;
            /* border-radius: 50%; */
            background-color:white;
            background-repeat: no-repeat;
        }
        .progressbar li::after{
            content: '';
            position: absolute;
            width: 86%;
            height: 1px;
            background-color: #ddd;
            top: 40px;
            left: -43%;
        }
        
        .progressbar li:first-child::after{
            content:none;
        }
        .progressbar li.active{
            color:#dc2628;
        } 
        .progressbar li.active::before{
            filter: grayscale(0%) !important;
            opacity: 1;
        }
        .progressbar li.active + li::after{
            background-color:#dc2628;
        }
        .stepTitle{
            font-size: 1.4em !important;
            margin-bottom: 15px !important;
        }
		
        .generalComm .chosen-container{
            min-width:75px !important;
            height: 32px !important;
        }

        .generalCommBck{
            display: block; 
            //border: 1px solid #f1f1f1; 
            padding: 8px; 
            border-radius: 4px; 
            margin-bottom: 5px;
            background-color: #f9f9f9;
        }

        .spanGeneralBck{
            font-weight: bold; 
            font-size: 1.2em;
            color: white;
        }

        .chosen-container-single .chosen-single{
            height: 32px !important;
        }

        .schoolNames{
            border-right:1px solid #f6f6f6;
            cursor: pointer;
            font-size: 1.1em;
        }
    
        .slds-tabs_scoped__item {cursor: pointer;}

        .courseBlock{
            border-radius: 4px;
            background-color: #f5f5f5;
            padding:10px;
            margin-bottom: 5px;
        }

        .schSetFields{
            padding: 5px 10px;
            border: 1px solid #f7f7f7;
            margin-top: 5px;
            background-color: #f9f9f9;
            border-radius: 4px;
        }

        .slds-scope .slds-tabs--default__item, .slds-scope .slds-tabs_default__item{
            padding: 10px;
        }

        .slds-scope .slds-tabs--default__item.slds-active, .slds-scope .slds-tabs--default__item.slds-is-active, .slds-scope .slds-tabs_default__item.slds-active, .slds-scope .slds-tabs_default__item.slds-is-active{
            background-color: #f0f0f0;
            font-weight: bold;
        }

        .lbl{
            font-weight:bold;
        }

        .modalWindow {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.7);
            z-index: 99999;
            opacity:0;
            pointer-events: none;
            text-align:center;
        }
        .openModal {
            opacity:1;
            pointer-events: auto;
        }

        .modalWindow > div {
            width: 500px;
            position: relative;
            margin: 10% auto;
            margin-top: 10%;
            background: #fff;
            min-height: 200px;
            box-shadow: 3px 3px #3c3c3c;
            padding: 10px;
        }

        .slds-scope .slds-spinner{
            left: 66% !important;
        }

    </style>
	
	<script>
		function validateFields(paramId, fromUnit, control, action, value, details, classFromUnit, classValue){
			var valid = true;
			if(fromUnit == '' || fromUnit <= 0 || isNaN(fromUnit)){
				valid = false;
				jQuery('.'+classFromUnit).css('border-color','red');
				jQuery('.'+classFromUnit+'_span').html('Required');
				jQuery('.'+classFromUnit+'_span').css('display','');
			} else {
				jQuery('.'+classFromUnit).css('border-color','');
				jQuery('.'+classFromUnit+'_span').css('display','none');
			}
			
			if(value == '' || value <= 0 || isNaN(value)){
				valid = false;
				jQuery('.'+classValue).css('border-color','red');
				jQuery('.'+classValue+'_span').html('Required');
				jQuery('.'+classValue+'_span').css('display','');
			} else {
				jQuery('.'+classValue).css('border-color','');
				jQuery('.'+classValue+'_span').css('display','none');
			}
			
			if(valid == true)
				addItemRule(paramId, fromUnit, control, action, value, details);
			else alert('Please fill in the required fields.');
		}
		
		function deleteRule(mapId, ruleId){
			if (confirm("Confirm Rule Deletion?") == true) 
				deleteRulefromMap(mapId, ruleId);
				
		}
		
		function addNewRule(theKey){
			setRulesKey(theKey);
			return false;			
		}		
		var newRuleWindow;
		function showPopup(){
			newRuleWindow = dhtmlmodal.open('NewRule', 'div', 'addNewRule', 'Add New Rule', 'width=800px,height=500px,resize=0,center=1,scrolling=1');
			jQuery('.Close').click(function() {hidePopup();});
		}
		function hidePopup(){
			jQuery('#interVeil').css('display','none');
			newRuleWindow.close();
		}
		
		function showSaveButton(){
			jQuery('.saveButton').show();
			jQuery('.cancelButton').show();
		}
	</script>
   

    <div class="slds-scope" id="panellayout" ng-app="hello" ng-controller="agreement" style="min-height: 750px" ng-init="stepN = 3"> 	
       <!-- PROGRESSBAR -->
        <div class="container">
            <ul class="progressbar">
                <li ng-class="{active: stepN >= 1}" ng-click="rediWizard('1')" style="cursor:pointer" class="step1" title="Agreement Parties"></li>
                <li ng-class="{active: stepN >= 2}" ng-click="rediWizard('2')" style="cursor:pointer" class="step2" title="Agreement Details"></li>
                <li ng-class="{active: stepN >= 3}" class="step3" title="School Commissions"></li>
                <!-- <li ng-class="{active: stepN >= 4}" class="step4" title="Upload Documents"></li> -->
            </ul>
        </div>
        <!-- END -- progress bar -->

        <apex:form >
            <apex:actionFunction name="setRulesKey" action="{!setRulesKey}" rerender="newRuleSection" oncomplete="showPopup();" >
                <apex:param name="ruleskey" value=""/>
            </apex:actionFunction>
            <apex:actionFunction name="redirectWizard" action="{!redirectWizard}" rerender="" >
                <apex:param name="stepNum" value="stepNum"/>
            </apex:actionFunction>
        </apex:form>

        <apex:form id="schoolForm">	
            <apex:actionFunction name="saveCommission" action="{!saveCommission}" rerender="" oncomplete="saveComplete()">
                <apex:param value="" name="isAvailable" />
            </apex:actionFunction>
            <apex:actionFunction name="saveLogs" action="{!saveLogs}" rerender="" oncomplete="jQuery('#loading').removeClass('openModal');"/>

            <legend class="slds-form-element__label slds-text-title_caps stepTitle">Commissions</legend>
            <div class="slds-button slds-button_brand" ng-click="saveChanges();" style="float:right;" >Save and Complete</div>
                        <div class="slds-button slds-button_brand" ng-click="rediWizard('2');" style="float:right;margin-right: 10px;">Previous Step</div>

            <!-- SCHOOL TABS -->
            <div class="slds-tabs_default" ng-init="schTab = 1">
                <ul class="slds-tabs_default__nav" role="tablist">
                    <apex:repeat value="{!coursesCommission}" var="school">
                        <li class="slds-tabs_default__item slds-border_right" style="cursor:pointer;" ng-class="{'slds-is-active': schTab === {!school.counter}}" ng-click="schTab = {!school.counter}; selCampus = 1" >{!school.schoolName}</li>
                    </apex:repeat>
                </ul>  
            </div>
            <!-- END -- school tabs -->

            <apex:repeat value="{!coursesCommission}" var="school">
                <table class="tableStyle" ng-show="schTab === {!school.counter}">
                    <!-- <tr>
                        <td style="width: 100%;color:#16325c;" colSpan="10">
                            <apex:commandLink value="Save" status="statusUpdate" action="{!saveCommission}" rerender="listRules" styleClass="slds-button slds-button_brand saveButton" oncomplete="hidePopup();" style="display: none;"/>
                            <apex:commandLink onclick="return addNewRule('{!school.SchoolCommissionObj.school_Id__c}');" styleClass="agencyButton" style="float: right; font-size: 0.7em; padding: 3px 20px;"> Add New Rule </apex:commandLink> 
                        </td>
                    </tr> -->
                    <tr>
                        <td class="commissionColumn firstRow" >
                            <apex:inputtext value="{!school.schSetup}" styleclass="{!school.counter}Setup" style="display:none;"/>
                            <div class="slds-form slds-form_compound" style="padding: 10px;">
                                <div class="slds-form-element__row" >
                                    <div class="slds-size_1-of-1 " ng-init="showSetup = true">
                                        <div class="slds-icon_small" style="float:left; cursor:pointer;"  ng-click="showSetup = !showSetup">
                                            <span class="slds-icon_container slds-icon__svg--default " style="padding: .2rem !important;">
                                                <svg aria-hidden="true" class="slds-icon slds-icon-text-default slds-icon_x-small" ng-show="!showSetup">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#chevronright ')}"></use>
                                                </svg>
                                                <svg aria-hidden="true" class="slds-icon slds-icon-text-default slds-icon_x-small" ng-show="showSetup">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#chevrondown ')}"></use>
                                                </svg>
                                            </span>
                                        </div>
                                        <div style="float:left;font-weight:bold; font-size:1.1em; cursor:pointer;"  ng-click="showSetup = !showSetup">School Setup</div>
                                        <br/>
                                        <div class="slds-form slds-form_compound schSetFields" ng-show="showSetup">
                                            <div class="slds-form-element__row">
                                                <div class="slds-size_1-of-1 {!school.counter}PFS"  >
                                                    <fieldset class="slds-form-element " style="float:left;width:auto;" >
                                                    <span class="lbl">The instalments are paid in full to school?</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-radio_button-group" >
                                                                <span class="slds-button slds-radio_button">
                                                                    <apex:outputPanel layout="none" rendered="{!mapSetup[school.schoolId].paymentType == 'PFS Only'}">
                                                                         <input name="{!school.counter}-pfsInstalment" id="{!school.counter}-allPfs" value="1" type="radio" checked="checked"/>
                                                                    </apex:outputpanel>
                                                                    <apex:outputPanel layout="none" rendered="{!mapSetup[school.schoolId].paymentType != 'PFS Only'}">
                                                                         <input name="{!school.counter}-pfsInstalment" id="{!school.counter}-allPfs" value="1" type="radio"/>
                                                                    </apex:outputpanel>
                                                                    <label class="slds-radio_button__label" for="{!school.counter}-allPfs">
                                                                        <span class="slds-radio_faux">Yes. All instalments</span>
                                                                    </label>
                                                                </span>
                                                                <span class="slds-button slds-radio_button">
                                                                    <apex:outputPanel layout="none" rendered="{!mapSetup[school.schoolId].paymentType == 'PFS First Instalment'}">
                                                                        <input name="{!school.counter}-pfsInstalment" id="{!school.counter}-firstPFS" value="2" type="radio" checked="checked"/>
                                                                    </apex:outputpanel>
                                                                    <apex:outputPanel layout="none" rendered="{!mapSetup[school.schoolId].paymentType != 'PFS First Instalment'}">
                                                                        <input name="{!school.counter}-pfsInstalment" id="{!school.counter}-firstPFS" value="2" type="radio"/>
                                                                    </apex:outputpanel>       
                                                                    <label class="slds-radio_button__label" for="{!school.counter}-firstPFS">
                                                                        <span class="slds-radio_faux">Yes. First instalment only</span>
                                                                    </label>
                                                                </span>
                                                                <span class="slds-button slds-radio_button">
                                                                    <apex:outputPanel layout="none" rendered="{!OR(mapSetup[school.schoolId].paymentType == 'Net Commission', ISNULL(mapSetup[school.schoolId].paymentType))}">
                                                                        <input name="{!school.counter}-pfsInstalment" id="{!school.counter}-net" value="0" type="radio" checked="checked"/>
                                                                    </apex:outputpanel>
                                                                    <apex:outputPanel layout="none" rendered="{!AND(mapSetup[school.schoolId].paymentType != 'Net Commission', NOT(ISNULL(mapSetup[school.schoolId].paymentType)))}">
                                                                        <input name="{!school.counter}-pfsInstalment" id="{!school.counter}-net" value="0" type="radio" />
                                                                    </apex:outputpanel>    
                                                                    <label class="slds-radio_button__label" for="{!school.counter}-net">
                                                                        <span class="slds-radio_faux">No. Commission is NET</span>
                                                                    </label>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <div style="float:right;">
                                                        <div class="slds-form-element__control">
                                                            <label class="slds-radio__label" style="display: block;margin-top: 5px;" >
                                                                <span style="font-weight:bold; font-size: 1.1em;">Make this agreement available</span>
                                                                <input type="checkbox" ng-model="isAvailable" style="position: relative;top: 2px;"/>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div><!-- column -->
                                            </div> <!-- row -->
                                            <div class="slds-form-element__row">
                                                <div class="slds-size_1-of-1" style="width:auto;">
                                                    <fieldset class="slds-form-element {!school.counter}commTax" style="float:left;width:auto;" >
                                                        <span class="lbl">The commission includes tax?</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-radio_button-group" >
                                                                <span class="slds-button slds-radio_button">
                                                                    <apex:outputPanel layout="none" rendered="{!mapSetup[school.schoolId].includesTax}">
                                                                        <input name="{!school.counter}-commTax" id="{!school.counter}-commTaxYes" value="true" type="radio" checked="checked"/>
                                                                    </apex:outputpanel>
                                                                    <apex:outputPanel layout="none" rendered="{!NOT(mapSetup[school.schoolId].includesTax)}">
                                                                        <input name="{!school.counter}-commTax" id="{!school.counter}-commTaxYes" value="true" type="radio"/>
                                                                    </apex:outputpanel>    
                                                                    <label class="slds-radio_button__label" for="{!school.counter}-commTaxYes">
                                                                        <span class="slds-radio_faux">Yes</span>
                                                                    </label>
                                                                </span>
                                                                <span class="slds-button slds-radio_button">
                                                                    <apex:outputPanel layout="none" rendered="{!mapSetup[school.schoolId].includesTax}">
                                                                        <input name="{!school.counter}-commTax" id="{!school.counter}-commTaxNo" value="false" type="radio"/>
                                                                    </apex:outputpanel>
                                                                    <apex:outputPanel layout="none" rendered="{!NOT(mapSetup[school.schoolId].includesTax)}">
                                                                        <input name="{!school.counter}-commTax" id="{!school.counter}-commTaxNo" value="false" type="radio" checked="checked"/>
                                                                    </apex:outputpanel>    
                                                                    <label class="slds-radio_button__label" for="{!school.counter}-commTaxNo">
                                                                        <span class="slds-radio_faux">No</span>
                                                                    </label>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div><!-- column -->
                                            </div> <!-- row -->
                                            <div class="slds-form-element__row">
                                                <div class="slds-size_1-of-1" style="width:auto;">
                                                    <fieldset class="slds-form-element {!school.counter}ClaimTax" style="float:left;width:auto;" >
                                                        <span class="lbl">Is the tax claimable?</span> <span style="font-style:italic">(If Yes, tax will be claimed in the invoice)</span>
                                                        <div class="slds-form-element__control">
                                                            <div class="slds-radio_button-group" >
                                                                <span class="slds-button slds-radio_button">
                                                                    <apex:outputPanel layout="none" rendered="{!mapSetup[school.schoolId].claimTax}">
                                                                        <input name="{!school.counter}-claimTax" id="{!school.counter}-claimTaxYes" value="true" type="radio" checked="checked"/>
                                                                    </apex:outputpanel>
                                                                    <apex:outputPanel layout="none" rendered="{!NOT(mapSetup[school.schoolId].claimTax)}">
                                                                        <input name="{!school.counter}-claimTax" id="{!school.counter}-claimTaxYes" value="true" type="radio"/>
                                                                    </apex:outputpanel>    
                                                                    <label class="slds-radio_button__label" for="{!school.counter}-claimTaxYes">
                                                                        <span class="slds-radio_faux">Yes</span>
                                                                    </label>
                                                                </span>
                                                                <span class="slds-button slds-radio_button">
                                                                    <apex:outputPanel layout="none" rendered="{!mapSetup[school.schoolId].claimTax}">
                                                                        <input name="{!school.counter}-claimTax" id="{!school.counter}-claimTaxNo" value="false" type="radio" />
                                                                    </apex:outputpanel>
                                                                    <apex:outputPanel layout="none" rendered="{!NOT(mapSetup[school.schoolId].claimTax)}">
                                                                        <input name="{!school.counter}-claimTax" id="{!school.counter}-claimTaxNo" value="false" type="radio" checked="checked"/>
                                                                    </apex:outputpanel>  
                                                                    <label class="slds-radio_button__label" for="{!school.counter}-claimTaxNo">
                                                                        <span class="slds-radio_faux">No</span>
                                                                    </label>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div><!-- column -->
                                            </div> <!-- row -->
                                        </div>
                                    </div> <!-- Column -->
                                </div> <!-- Row -->
                               
                                <div class="slds-form-element__row generalComm" >
                                    <div class="slds-size_1-of-1" style="width: 220px;">
                                        <span class="lbl">Commission Value</span>
                                        <div class="slds-form-element__control">
                                            <div style="float:left;">
                                                <apex:inputText value="{!school.SchoolCommissionObj.School_Commission__c}" style="width: 80px;" styleClass="slds-input commValue" onkeyup="validateNumber(this); this.style.background='#B0E0E6';" onchange="this.style.background='#B0E0E6';" html-type="number"/>
                                            </div>
                                            <div style="float:left;margin-left: 5px;">
                                                <apex:selectList value="{!school.SchoolCommissionObj.School_Commission_Type__c}" styleClass="chosen commType" size="1" onkeyup="this.style.background='#B0E0E6';" onchange="changeCommType(this);this.style.background='#B0E0E6';">
                                                    <apex:selectOptions value="{!ItemCommissionType}" />
                                                </apex:selectList>
                                            </div>
                                        </div>
                                    </div> <!-- column -->
                                </div> <!-- row -->
                                <div class="slds-form-element__row generalComm" >
                                    <div class="slds-size_1-of-1">
                                        <span class="lbl">Extra Comments</span>
                                        <div class="slds-form-element__control">
                                            <apex:inputTextarea value="{!school.SchoolCommissionObj.Comments__c}" rows="2" styleClass="slds-input" onkeyup="this.style.background='#B0E0E6';" onchange=" this.style.background='#B0E0E6';"/>
                                        </div>
                                    </div> <!-- column -->
                                </div> <!-- row -->
                            </div>
                        </td>
                    </tr>
                    <!--<tr>
                        <td class=" firstRow">
                            <div class="ruleStyle">
                                Rules
                            </div>								
                        </td>
                    </tr>
                    <tr>  RULES 
                        <td>
                            <apex:actionRegion >
                                <table class="tableRule">
                                    <tr>
                                        <th>From</th>
                                        <th>Control</th>
                                        <th>Action</th>
                                        <th>Value</th>
                                        <th>Details</th>											
                                    </tr>
                                        
                                    <apex:repeat value="{!mapRules[school.SchoolCommissionObj.school_Id__c]}" var="schRules">
                                        
                                        <tr>
                                            <td>
                                                <apex:outputText value="{!schRules.fromUnit}" />
                                            </td>
                                            <td>
                                                <apex:outputText value="{!mapControl[schRules.Control]}" />
                                            </td>
                                            <td>
                                                <apex:outputText value="{!mapAction[schRules.Action]}" />
                                            </td>
                                            <td><apex:outputText value="{!schRules.value}" /></td>
                                            <td><apex:outputText value="{!schRules.details}" escape="false" /></td>												
                                        </tr>
                                    </apex:repeat>
                                    
                                
                                </table>
                            </apex:actionRegion>
                        </td>
                    </tr> -->
                    <tr>
                        <td>
                            <div class="slds-tabs_scoped" ng-init="selCampus = 1" style="margin: 5px;width: auto;">
                                <ul class="slds-tabs_scoped__nav" role="tablist">
                                    <apex:repeat value="{!school.listCampus}" var="campus">
                                        <li class="slds-tabs_scoped__item" ng-class="{'slds-is-active': selCampus == {!campus.counter}}" title="{!campus.campusName}" role="presentation"><a class="slds-tabs_scoped__link" ng-click="selCampus = {!campus.counter}" role="tab" tabindex="{{selCampus == {!campus.counter} ? '0' : '-1'}}" aria-selected="{{selCampus == {!campus.counter} ? 'true' : 'false'}}" aria-controls="{!SUBSTITUTE(campus.campusName,' ', '')}" id="{!SUBSTITUTE(campus.campusName,' ','')}__item">{!campus.campusName}</a></li>
                                    </apex:repeat>
                                </ul>

                                <!-- SCHOOL CAMPUS -->
                                <apex:repeat value="{!school.listCampus}" var="campus">
                                    <div id="{!SUBSTITUTE(campus.campusName,' ', '')}" class="slds-tabs_scoped__content {{selCampus == {!campus.counter} ? 'slds-show' : 'slds-hide'}}" role="tabpanel" aria-labelledby="{!SUBSTITUTE(campus.campusName,' ', '')}__item">
                                        <div class="slds-form slds-form_compound">
                                            <div class="slds-form-element__row generalComm" >
                                                <div class="slds-size_1-of-1" style="width: 220px;">
                                                    <span class="lbl">Commission Value</span>
                                                    <div class="slds-form-element__control">
                                                        <div style="float:left;">
                                                            <apex:inputText value="{!campus.campusCommissionObj.Campus_Commission__c}" style="width: 80px;" styleClass="slds-input commValue" onkeyup="validateNumber(this); this.style.background='#B0E0E6';" onchange="this.style.background='#B0E0E6';"/>
                                                        </div>
                                                        <div style="float:left;margin-left: 5px;">
                                                            <apex:selectList value="{!campus.campusCommissionObj.Campus_Commission_Type__c}" styleClass="chosen commType" size="1" onkeyup="this.style.background='#B0E0E6';" onchange="changeCommType(this);this.style.background='#B0E0E6';">
                                                                <apex:selectOptions value="{!ItemCommissionType}" />
                                                            </apex:selectList>
                                                        </div>
                                                    </div>
                                                </div> <!-- column -->
                                            </div> <!-- row -->
                                            <div class="slds-form-element__row" >
                                                <div class="slds-size_1-of-1">
                                                    <span class="lbl">Extra Comments</span>
                                                    <div class="slds-form-element__control">
                                                        <apex:inputTextarea value="{!campus.campusCommissionObj.Comments__c}" rows="2" styleClass="slds-input" onkeyup="this.style.background='#B0E0E6';" onchange="this.style.background='#B0E0E6';"/>
                                                    </div>
                                                </div> <!-- column -->
                                            </div> <!-- row -->

                                            <div class="slds-form-element__row" >
                                                <div class="slds-size_1-of-1">
                                                    <apex:repeat value="{!campus.listCourseType}" var="courseType">
                                                        <div style="display:block; cursor:pointer;" onclick="jQuery('.relatedMax-{!SUBSTITUTE(campus.campusCommissionObj.Campus_Id__c+courseType.courseType,' ','')}').toggle(); jQuery('.relatedMin-{!SUBSTITUTE(campus.campusCommissionObj.Campus_Id__c+courseType.courseType,' ','')}').toggle(); jQuery('.listProd-{!SUBSTITUTE(campus.campusCommissionObj.Campus_Id__c+courseType.courseType,' ','')}').toggle();">

                                                           <apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-max.png')}" id="btnMax" styleClass="btnResize relatedMax-{!SUBSTITUTE(campus.campusCommissionObj.Campus_Id__c+courseType.courseType,' ','')}"  />

                                                           <apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-min.png')}" id="btnMin" styleClass="btnResize  relatedMin-{!SUBSTITUTE(campus.campusCommissionObj.Campus_Id__c+courseType.courseType,' ','')}" style="display:none;"/>

                                                            <span style="font-weight: bold; font-size: 1.1em; position: relative; top: 2px;">{!courseType.courseType}</span>
                                                        </div>
                                                        
                                                        <div style="background-color: white; padding: 10px 20px; border: 1px solid rgb(241, 241, 241); margin-top: 5px; display:none;" class="slds-form slds-form_compound listProd-{!SUBSTITUTE(campus.campusCommissionObj.campus_Id__c+courseType.courseType,' ','')}">
                                                            <div class="slds-form slds-form_compound">
                                                                <div class="slds-form-element__row generalComm" >
                                                                    <div class="slds-size_1-of-1">
                                                                        <span class="lbl">Commission Value</span>
                                                                        <div class="slds-form-element__control">
                                                                            <div style="float:left;">
                                                                                <apex:inputText value="{!courseType.courseTypeCommissionObj.Course_Type_Commission__c}" style="width: 80px;" styleClass="slds-input commValue" onkeyup="validateNumber(this); this.style.background='#B0E0E6';" onchange="this.style.background='#B0E0E6';"/>
                                                                            </div>
                                                                            <div style="float:left;margin-left: 5px;">
                                                                                <apex:selectList value="{!courseType.courseTypeCommissionObj.Course_Type_Commission_Type__c}" styleClass="chosen commType" size="1" onkeyup="this.style.background='#B0E0E6';" onchange="changeCommType(this);this.style.background='#B0E0E6';">
                                                                                    <apex:selectOptions value="{!ItemCommissionType}" />
                                                                                </apex:selectList>
                                                                            </div>
                                                                        </div>
                                                                    </div> <!-- column -->
                                                                </div> <!-- row -->
                                                                <div class="slds-form-element__row" >
                                                                    <div class="slds-size_1-of-1">
                                                                        <span class="lbl">Extra Comments</span>
                                                                        <div class="slds-form-element__control">
                                                                            <apex:inputTextarea value="{!courseType.courseTypeCommissionObj.Comments__c}" rows="2" styleClass="slds-input" onkeyup="this.style.background='#B0E0E6';" onchange="this.style.background='#B0E0E6';"/>
                                                                        </div>
                                                                    </div> <!-- column -->
                                                                </div> <!-- row -->
                                                            </div>

                                                            <apex:repeat value="{!courseType.listCourseCommission}" var="course">
                                                                <div class="slds-form slds-form_compound courseBlock">
                                                                    <div class="slds-form-element__row" >
                                                                        <div class="slds-size_1-of-1">
                                                                            <span style="font-weight: bold; font-size: 1.1em;">{!course.Course_Name__c}</span>
                                                                        </div>
                                                                    </div>
                                                                     <div class="slds-form-element__row generalComm" >
                                                                        <div class="slds-size_1-of-1">
                                                                            <span >Commission Value</span>
                                                                            <div class="slds-form-element__control">
                                                                                <div style="float:left;">
                                                                                    <apex:inputText value="{!course.Course_Commission__c}" style="width: 80px;" styleClass="slds-input commValue" onkeyup="validateNumber(this); this.style.background='#B0E0E6';" onchange="this.style.background='#B0E0E6';"/>
                                                                                </div>
                                                                                <div style="float:left;margin-left: 5px;">
                                                                                    <apex:selectList value="{!course.Course_Commission_Type__c}" styleClass="chosen commType" size="1" onkeyup="this.style.background='#B0E0E6';" onchange="changeCommType(this);this.style.background='#B0E0E6';">
                                                                                        <apex:selectOptions value="{!ItemCommissionType}" />
                                                                                    </apex:selectList>
                                                                                </div>
                                                                            </div>
                                                                        </div> <!-- column -->
                                                                    </div> <!-- row -->
                                                                    <div class="slds-form-element__row" >
                                                                        <div class="slds-size_1-of-1">
                                                                            <span >Extra Comments</span>
                                                                            <div class="slds-form-element__control">
                                                                                <apex:inputTextarea value="{!course.Comments__c}" rows="2" styleClass="slds-input" onkeyup="this.style.background='#B0E0E6';" onchange="this.style.background='#B0E0E6';"/>
                                                                            </div>
                                                                        </div> <!-- column -->
                                                                    </div> <!-- row -->
                                                                </div>
                                                            </apex:repeat>
                                                        </div>
                                                    </apex:repeat>
                                                </div> <!-- column -->
                                            </div> <!-- row -->

                                            
                                        </div>
                                    </div>
                                </apex:repeat>
                            </div>

                            
                        </td>
                    </tr>
                </table>
            </apex:repeat>
                
                    
        </apex:form>
        
        <!-- ALERT MODAL -->
        <div id="openModal" class="modalWindow" ng-class="{openModal : showModal == true}">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close">
                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close" xmlns:xlink="http://www.w3.org/1999/xlink" />
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate" style="font-weight: bold;">Agreement Availability</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <p style="font-size: 1.2em;">Do you want to make this agreement available?</p>
                </div>
                <footer class="slds-modal__footer" style="text-align:center;">
                    <button class="slds-button slds-button_brand" ng-click="schoolSetup()">No, It's still a draft.</button>
                    <button class="slds-button slds-button_success" style="color: white; font-size: 1.1em;" ng-click="isAvailable = true; schoolSetup();">Yes, make it available!</button>
                </footer>
                </div>
            </section>
        </div>
        <!-- END -- alert modal -->

        <div id="loading" class="modalWindow">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <div style="font-size:1.5em; color:white; ">
                        Loading ...
                    </div>
                    <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_inverse">
                        <span class="slds-assistive-text">Loading</span>
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                
                </div>
            </section>
        </div>
    </div> <!--  slds-scope -->

    <script>
        
        $(document).ready(function() {
            $('.chosen').chosen();
        });

        function saveComplete(){
            jQuery('#loading').addClass('openModal');
            saveLogs();
        }
        
        function validateNumber(number){ 
            var commType = $(number).parent().parent().find('.commType').val();
            console.log(commType);
            
            number.value = number.value.replace(/[^0-9\.]/g,'');
            
            if(commType==='0'){
                if(number.value.indexOf('.') !== -1 && number.value.length > 5){
                    number.value = number.value.slice(0,-1);
                }
                else if(number.value.indexOf('.') == -1 && number.value.length > 3){
                    number.value = number.value.slice(0,-1);
                }
                else if(number.value > 100)
                    number.value = 100;
            }
        }

        function changeCommType(field){
            $(field).parent().parent().find('.commValue').val(0);
            $(field).parent().parent().find('.commValue').css('background-color','#B0E0E6');
        }

        var myapp = angular.module('hello', []);

        //ANGULAR CONTROLLER
        myapp.controller('agreement',function ($scope) {
            $scope.isAvailable = {!isAvailable};
            $scope.showModal = false;

            $scope.saveChanges = function(){

                if(!$scope.isAvailable){
                    $scope.showModal = true;
                }
                else{
                    $scope.schoolSetup();
                }
            }

            // *********************************************************************
            //                              SAVE STEP 3                            *
            //**********************************************************************
            $scope.schoolSetup = function(){
                var schoolCounter;
                $("[class*=Setup]").each(function(){      
                    schoolCounter = $(this).attr("class").split('Setup')[0];
                    
                    $('.'+ schoolCounter + 'PFS :radio').each(function(){           
                        if(jQuery(this).is(':checked')){
                            $('.'+ schoolCounter + 'Setup').val($(this).val() + ';;');
                        }
                    }); 

                    $('.'+ schoolCounter + 'commTax :radio').each(function(){           
                        if(jQuery(this).is(':checked')){
                            $('.'+ schoolCounter + 'Setup').val($('.'+ schoolCounter + 'Setup').val() + $(this).val()+';;');
                        }
                    });

                    $('.'+ schoolCounter + 'ClaimTax :radio').each(function(){           
                        if(jQuery(this).is(':checked')){
                            $('.'+ schoolCounter + 'Setup').val($('.'+ schoolCounter + 'Setup').val() + $(this).val()+';;');
                        }
                    });  
                });

                saveCommission($scope.isAvailable);

                //$scope.nextStep();
            }

            $scope.rediWizard = function(stepNum){
                redirectWizard(stepNum);
            }
        });

    </script>
</html>
</apex:page>