<apex:page controller="AssignLeadsController" sidebar="false" showHeader="false" >
	  <apex:include pageName="xStylePageV2" />
	  <apex:include pageName="xCourseSearchStyle" />  
	<style>
		div.scroll {
							
			overflow: auto;
		}
		.hide {
			display: none;
		}
		
		.box-search {
		    background-color: #F3F3F3;
		    border: 1px solid #999999 !important;
		    border-radius: 5px 5px 5px 5px;
		    box-shadow: 0 0 0 #CCCCCC;
		    display: block;
		    padding: 4px;
		}
		
		H3 {
			font-size: large !important;
		}
		
		
	</style>
	
	<script>
		function showLoading() { 
	        jQuery.blockUI({ css: { 
	            border: 'none', 
	            padding: '15px', 
	            backgroundColor: '#000', 
	            '-webkit-border-radius': '10px', 
	            '-moz-border-radius': '10px', 
	            opacity: .5, 
	            color: '#fff' 
	        } }); 
	 
	        //setTimeout(jQuery.unblockUI, 2000); 
	      }
	    
	    function hideLoading(){
	        jQuery.unblockUI();
	    }
	</script>
	
	<apex:actionStatus id="ipStatus" onstart="showLoading('Please wait...');" onstop="hideLoading();" />
	
	<apex:form >
		<div style="width:100%;padding: 15px;" class="agencyBackground agencyFont">
			<h3>Assign Leads</h3>
		</div>
		<apex:pageBlock >
				<apex:pageBlockTable value="{!emptyList}" var="lead" rows="1" columnsWidth="3%,25%,24%,24%,24%">
					<apex:column headerValue=" "></apex:column>
					<apex:column headerValue="Lead Name"></apex:column>
					<apex:column headerValue="Source"></apex:column>
					<apex:column headerValue="Destination(s)"></apex:column>
					<apex:column headerValue="Product(s)"></apex:column>
				</apex:pageBlockTable>
				
				<div class="scroll" style=" {!IF(leadsToAssign.size > 1, 'height:200px','')}">
					<apex:pageBlockTable value="{!leadsToAssign}" var="lead" columnsWidth="1%,25%,24%,24%,24%" headerClass="hide">
						<apex:column >
							<apex:inputCheckBox value="{!lead.isSelected__c}" />
						</apex:column>
						<apex:column >
							<apex:outputText value="{!lead.Name}" />
						</apex:column>
						<apex:column >
							<apex:outputText value="{!lead.LeadSource}" />
						</apex:column>
						<apex:column styleClass="greyFont" >
							<apex:outputText value="{!SUBSTITUTE(lead.Lead_Destinations__c, ';',' <br/> ')}" escape="false" />
							<!-- <apex:outputText value="Multiple: <br/>" escape="false" rendered="{!lead.destinations.size > 1}" />
							<apex:variable value="{!0}" var="countDestinations" />
							<apex:repeat value="{!lead.destinations}" var="destination" >
								<apex:outputText value="{!destination}" />
								<apex:variable value="{!countDestinations+1}" var="countDestinations" />
								<apex:outputText value=", " rendered="{!countDestinations != lead.destinations.size}" />									
							</apex:repeat> -->
						</apex:column>
						
						<apex:column styleClass="greyFont" >
							<apex:outputText value="{!SUBSTITUTE(lead.Lead_Product_Type__c, ';',' <br/> ')}" escape="false" />
							<!-- <apex:variable value="{!0}" var="countProducts" />
							<apex:repeat value="{!lead.products}" var="product" >
								<apex:outputText value="{!product}" />
								<apex:variable value="{!countProducts+1}" var="countProducts" />
								<apex:outputText value=" / " rendered="{!countProducts != lead.products.size}" />									
							</apex:repeat> -->
						</apex:column>
						
					</apex:pageBlockTable>
				</div>
				
		</apex:pageBlock>
		
		
		<apex:outputPanel layout="block" style="width:98%;margin-top:25px;" id="filter" styleClass="box-search">
			
			<apex:outputPanel style="float:left">
				<div class="SearchInput">
					<apex:selectList value="{!selectedAgencyGroup}" multiselect="false" size="1" style="margin-right:25px;margin-top: 3px;">
						<apex:selectoptions value="{!agencyGroupOptions}" />
						<apex:actionSupport event="onchange" action="{!searchAgencies}" status="ipStatus" rerender="agency, usersName, pnlGroupMsg" oncomplete="msgGroup(this.options[this.selectedIndex].text);" />
					</apex:selectList>
					<apex:outputPanel id="pnlGroupMsg" >
						<script>
							function msgGroup(gpValue){
								if({!userDetails.Contact.Account.ParentId != selectedAgencyGroup} && {!NOT(agencyGroupType[selectedAgencyGroup])} && {!NOT(userDetails.Contact.Account.Parent.Destination_Group__c)})
									alert('You will no longer have access to these leads after transferring the ownership to ' + gpValue);
							}
						</script>
					</apex:outputPanel>
				</div>
				<div class="SearchFooter"><span class="SearchLabel">Agency Group</span></div>
			</apex:outputPanel>
			
			
			<apex:outputPanel style="float:left">
				<div class="SearchInput">
					<apex:selectList id="agency" value="{!selectedAgency}" multiselect="false" size="1" style="margin-right:25px;margin-top: 3px;">
						<apex:selectoptions value="{!agencyOptions}" />
						<apex:actionSupport event="onchange" action="{!searchUsers}" status="ipStatus" rerender="usersName" />
					</apex:selectList>
				</div>
				<div class="SearchFooter"><span class="SearchLabel">Agency</span></div>
			</apex:outputPanel>
			
			
			<apex:outputPanel style="float:left">
				<div class="SearchInput">
					<apex:selectList id="usersName" styleClass="user" value="{!selectedUser}" multiselect="false" size="1" style="margin-right:25px;margin-top: 3px;">
						<apex:selectOptions value="{!listUsers}" />
					</apex:selectList>
				</div>
				<div class="SearchFooter"><span class="SearchLabel">User</span></div>
			</apex:outputPanel>
			
			<apex:commandButton action="{!assign}" value="Assign leads" styleclass="agencyButton" status="ipStatus" reRender="response" />
			
			<div style="clear:both;"> </div>
	
		</apex:outputPanel>
		
		
		
		
		<apex:outputPanel id="response">
			<apex:pagemessages /> 
			<apex:outputPanel rendered="{!saved}">
				<script>
					var username = jQuery('.user option:selected').html();
					alert('Leads assigned to ' + username);
					this.close();
					opener.refresh();
				</script>
			</apex:outputPanel>
		</apex:outputPanel>
		
	</apex:form>
	
	
</apex:page>