<!--  
Copyright (c) 2008 salesforce.com, inc.
All rights reserved.
  
Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions
are met:

1. Redistributions of source code must retain the above copyright
   notice, this list of conditions and the following disclaimer.
2. Redistributions in binary form must reproduce the above copyright
   notice, this list of conditions and the following disclaimer in the
   documentation and/or other materials provided with the distribution.
3. The name of the author may not be used to endorse or promote products
   derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE AUTHOR "AS IS" AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, 
INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT
NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF
THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<apex:page controller="AWS_S3_ExampleController" tabStyle="Document" action="{!constructor}">
<apex:outputPanel id="fullRefreshPageId">
<apex:form >

<br/>
<apex:pageBlock title="Force.com for Amazon Web Services">
<apex:pageMessages />

<!--  THIS PAGE BLOCK SECTION ILLUSTRATES HOW TO LIST ALL BUCKETS IN YOUR S3 ACCOUNT -->
<apex:pageBlockSection columns="1" title="List all Buckets in my S3 Account">

<apex:outputText value="Here is the list of buckets available in your S3 account." />
<apex:outputText value="This list is generated by the ListAllMyBuckets web service" />

<apex:dataList value="{!allBuckets}" var="bucket" id="theList">
		<apex:outputText value="{!bucket}"/>
</apex:dataList>


</apex:pageBlockSection>
        
        
<!--  THIS PAGE BLOCK SECTION ILLUSTRATES HOW TO LIST ALL OBJECTS IN A SPECIFIC BUCKET -->
<apex:pageBlockSection columns="1" title="List all Objects in selected Bucket">

<apex:actionFunction status="statusForListBucket" action="{!listBucket}" name="listBucket" rerender="listBucketResults">
            <apex:param name="firstParam" assignTo="{!bucketToList}" value="" />
            <apex:param name="secondParam" assignTo="{!renderListBucketResults}" value="true" />
          
</apex:actionFunction>

<apex:actionFunction action="{!deleteObject}" name="deleteObject" >
	            <apex:param name="keyToDelete" assignTo="{!objectToDelete}" value="" />            
	 </apex:actionFunction>
	 
<apex:pageBlockSectionItem >
	<apex:outputPanel >
<apex:outputText value="Select the Bucket to list all Objects for:" />

	<apex:selectList onclick="alert();listBucket(this.value)" value="{!bucketToList}" multiselect="false">
	   	 	 	<apex:selectOptions value="{!BucketNames}"/>
	</apex:selectList><br/>
	
	</apex:outputPanel>
   	</apex:pageBlockSectionItem>
   
 

    <apex:outputPanel id="listBucketResults">
	<apex:actionstatus id="statusForListBucket">
					<apex:facet name="start">
						<span style="font-weight:bold; color: red; background-color:white;">
						&nbsp;&nbsp;&nbsp;Contacting S3 to generate list of Objects..results below will be populated upon response....&nbsp;&nbsp;&nbsp;
						</span>
					</apex:facet>
					
					<apex:facet name="stop">
					<apex:outputPanel rendered="{!(!ISNULL(listBucketErrorMsg))}">
						<span style="font-weight:bold; color: red; background-color:white;">
						&nbsp;&nbsp;&nbsp;ERROR: {!listBucketErrorMsg}
						</span>
						 
					</apex:outputPanel>
					</apex:facet>
					
</apex:actionstatus>
    <br/>

	 
     <apex:outputPanel rendered="{!IF(ISNULL(bucketToList) ,false,true)}">
  
 	(<a href='http://docs.amazonwebservices.com/AmazonS3/latest/'>From Amazon S3 Documentation</a>)<br/>
    NOTE: The hyperlink below to open up the file hosted in S3 will only work if the bucket name and the object name comply with Amazon Web Services constraints: <br/>
    To comply with Amazon S3 requirements, bucket names must: <br/>
<br/>
    * Contain lowercase letters, numbers, periods (.), underscores (_), and dashes (-) <br/>
    * Start with a number or letter<br/>
    * Be between 3 and 255 characters long<br/>
    * Not be in an IP address style (e.g., "192.168.5.4")<br/>
<br/>
To conform with DNS requirements, we recommend following these additional guidelines when creating buckets:<br/>
    * Bucket names should not contain underscores (_)<br/>
    * Bucket names should be between 3 and 63 characters long<br/>
    * Bucket names should not end with a dash<br/>
    * Bucket names cannot contain dashes next to periods (e.g., "my-.bucket.com" and "my.-bucket" are invalid)<br/>
        
    <apex:dataTable cellpadding="2" value="{!bucketList}" var="obj">
      	<apex:facet name="caption">
      	   <apex:outputText value="List of Objects stored in the Bucket: {!bucketToList}" style="font-weight:bold; color:red;"    	   />
      	</apex:facet>
      	<apex:column width="75">
      	<apex:facet name="header">Action</apex:facet>
      	
      	<apex:commandLink status="statusForDeleteKey" action="{!deleteObject}"  value="Delete" >
      		<apex:param name="keyToDelete" value="{!obj.Key}"/>
      	</apex:commandLink>
      	</apex:column>
      	
      	
      	<apex:column width="300" >
		        <apex:facet name="header">Key</apex:facet>
			    
			    <apex:commandLink value="{!obj.Key}" action="{!redirectToS3Key}" target="_blank">
                	<apex:param name="filename" value="{!obj.Key}"/>
                </apex:commandLink>
		</apex:column>
      	
      	
      	
      	<apex:column width="300" >
      	<apex:facet name="header">Last Modified</apex:facet>
      	<apex:outputText value="{!obj.LastModified}"/>
      	</apex:column>
      	
		<apex:column width="30">
      	<apex:facet name="header">Size (bytes)</apex:facet>
      	<apex:outputText value="{!obj.Size}"/>
      	</apex:column>
      	
      	
      	
      </apex:dataTable>	
      
    

      </apex:outputPanel>
      <apex:actionstatus id="statusForDeleteKey">
					<apex:facet name="start">
						<span style="font-weight:bold; color: red; background-color:white;">
						&nbsp;&nbsp;&nbsp;Contacting S3 to generate delete Object......&nbsp;&nbsp;&nbsp;
						</span>
					</apex:facet>
					
					<apex:facet name="stop">
					<apex:outputPanel rendered="{!(AND(!ISNULL(deleteObjectErrorMsg),deleteObjectErrorMsg!='Success'))}">
						<span style="font-weight:bold; color: red; background-color:white;">
						&nbsp;&nbsp;&nbsp;ERROR: {!deleteObjectErrorMsg}
						</span>
						 
					</apex:outputPanel>
					</apex:facet>
					
		</apex:actionstatus>
		<apex:outputPanel rendered="{!(AND(!ISNULL(deleteObjectErrorMsg),deleteObjectErrorMsg=='Success'))}" style="font-weight:bold; color:green; background-color:white;">
		&nbsp;&nbsp;&nbsp;Successfully deleted object.
		</apex:outputPanel>
      
    
      </apex:outputPanel>
</apex:pageBlockSection>


<!--  THIS PAGE BLOCK SECTION ILLUSTRATES HOW TO CREATE A NEW BUCKET IN YOUR S3 ACCOUNT -->
<apex:pageBlockSection columns="1" title="Create a Bucket">
<apex:pageBlockSectionItem >

</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
<apex:outputLabel for="bucketNameToCreateId" value="1. Enter Bucket Name here:"/>
<apex:inputText id="bucketNameToCreateId" value="{!bucketNameToCreate}"/>
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
<apex:outputLabel for="createbucketButton" value="2. Create Bucket"/>

<apex:commandButton id="createbucketButton" rerender="createBucketRender,fullRefreshPageId" action="{!createBucket}" value="Create Bucket" status="statusForCreateBucket"/> 
</apex:pageBlockSectionItem>

<apex:outputPanel id="createBucketRender" >

<apex:actionstatus id="statusForCreateBucket">
					<apex:facet name="start">
						<span style="font-weight:bold; color: red; background-color:white;">
						&nbsp;&nbsp;&nbsp;Contacting S3 to create new bucket..........&nbsp;&nbsp;&nbsp;
						</span>
					</apex:facet>
					<apex:facet name="stop">
					<apex:outputPanel rendered="{!(AND(!ISNULL(createBucketErrorMsg),createBucketErrorMsg!='Success'))}">
						<span style="font-weight:bold; color: red; background-color:white;">
						&nbsp;&nbsp;&nbsp;ERROR: {!createBucketErrorMsg}
						</span>	

					</apex:outputPanel>
					</apex:facet>
</apex:actionstatus>
<apex:outputPanel rendered="{!(AND(!ISNULL(createBucketErrorMsg),createBucketErrorMsg=='Success'))}" style="font-weight:bold; color:green; background-color:white;">
&nbsp;&nbsp;&nbsp;Successfully created bucket.
</apex:outputPanel>

</apex:outputPanel>

</apex:pageBlockSection>


<!--  THIS PAGE BLOCK SECTION ILLUSTRATES HOW TO DELETE A NEW BUCKET IN YOUR S3 ACCOUNT -->
<apex:pageBlockSection columns="1" title="Delete a Bucket">


<apex:outputLabel for="bucketNameToDeleteId" value="1. Select Bucket to delete: "/>
<apex:selectList id="bucketNameToDeleteId" value="{!bucketNameToDelete}" multiselect="false">
	   	 	 	<apex:selectOptions value="{!BucketNames}"/>
	</apex:selectList>

<apex:commandButton id="deletebucketButton" rerender="deleteBucketRender,fullRefreshPageId" action="{!deleteBucket}" value="Delete Bucket" status="statusForDeleteBucket"/> 

<apex:outputPanel id="deleteBucketRender" >

<apex:actionstatus id="statusForDeleteBucket">
					<apex:facet name="start">
						<span style="font-weight:bold; color: red; background-color:white;">
						&nbsp;&nbsp;&nbsp;Contacting S3 to delete bucket..........&nbsp;&nbsp;&nbsp;
						</span>
					</apex:facet>
					<apex:facet name="stop">
					   <apex:outputPanel rendered="{!(AND(!ISNULL(deleteBucketErrorMsg),deleteBucketErrorMsg!='No Content'))}" style="font-weight:bold; color: red; background-color:white;">
						&nbsp;&nbsp;&nbsp;ERROR: {!deleteBucketErrorMsg}
						</apex:outputPanel>

					</apex:facet>
					
					
</apex:actionstatus>
<apex:outputPanel rendered="{!(AND(!ISNULL(deleteBucketErrorMsg),deleteBucketErrorMsg=='No Content'))}" style="font-weight:bold; color:green; background-color:white;">
&nbsp;&nbsp;&nbsp;Successfully deleted bucket.
</apex:outputPanel>

</apex:outputPanel>

</apex:pageBlockSection>

</apex:pageBlock>
</apex:form>
</apex:outputPanel> <!--  end of full page refresh  -->

<apex:form >
<apex:pageBlock title="Upload File to S3 from filesystem">
<apex:pageBlockSection columns="1" >

<apex:pageBlockSectionItem >
<apex:outputText value="NOTE: Due to a limit in the size of an Apex SOAP request, the file size being uploaded to S3 must be less than 100KB"/>
</apex:pageBlockSectionItem>
	 <apex:outputLabel for="selectBucketToUploadId" value="1. Select Bucket to Upload to:   "/>
	 <apex:selectList id="selectBucketToUploadId" value="{!bucketToUploadObject}" multiselect="false" >
		   	 	 	<apex:selectOptions value="{!BucketNames}"/>
	 </apex:selectList>
 <br/>
 	<apex:actionFunction rerender="uploadObjectRender"  action="{!updateAccessTypeSelected}" name="updateAccessType" >
	            <apex:param name="accessType" assignTo="{!accessTypeSelected}" value="" />            
	 </apex:actionFunction>
	
	
	 <apex:outputLabel for="accessTypeId2" value="2. Select access type of the Object:   "/>
	 <apex:selectList onclick="updateAccessType(this.value);" id="accessTypeId2" value="{!accessTypeSelected}" multiselect="false" >
		   	 	 	<apex:selectOptions value="{!AccessTypes}"/>
	 </apex:selectList>
	 
	 <br/>
      <apex:outputLabel for="postFileId" value="3. Select File to upload : "/>
      <apex:inputFile id="postFileId" fileName="{!fileName}" fileSize="{!fileSize}" value="{!fileBlob}" title="File to upload to S3" />
      
      <br/>
      <apex:commandButton status="uploadObjectRender" action="{!syncFilesystemDoc}" value="Upload to S3" />

      
      
      
      
     <apex:outputPanel id="uploadObjectRender" >

		 <apex:actionstatus id="statusForUploadObject">
					<apex:facet name="start">
						<span style="font-weight:bold; color: red; background-color:white;">
						&nbsp;&nbsp;&nbsp;Contacting S3 to upload Object..........&nbsp;&nbsp;&nbsp;
						</span>
					</apex:facet>
					<apex:facet name="stop">
					   <apex:outputPanel rendered="{!(AND(!ISNULL(uploadObjectErrorMsg),uploadObjectErrorMsg!='Success'))}" style="font-weight:bold; color: red; background-color:white;">
						&nbsp;&nbsp;&nbsp;ERROR: {!uploadObjectErrorMsg}
						</apex:outputPanel>

					</apex:facet>
					
					
			</apex:actionstatus>
			
			 
			<apex:outputPanel rendered="{!(AND(!ISNULL(uploadObjectErrorMsg),uploadObjectErrorMsg=='Success'))}" style="font-weight:bold; color:green; background-color:white;">&nbsp;&nbsp;&nbsp;Successfully uploaded object.
			</apex:outputPanel>

	  </apex:outputPanel>




    </apex:pageBlockSection>
</apex:pageBlock>
</apex:form>
<apex:form >

<apex:pageBlock title="Upload File to S3 from Force.com Document">
<apex:pageBlockSection columns="1" >

<apex:pageBlockSectionItem >
<apex:outputText value="NOTE: Due to a limit in the size of an Apex SOAP request, the file size being uploaded to S3 must be less than 100KB"/>
</apex:pageBlockSectionItem>

	 <apex:outputLabel for="selectBucketToUploadId" value="1. Select Bucket to Upload to:   "/>
	 <apex:selectList id="selectBucketToUploadId" value="{!bucketToUploadObject}" multiselect="false" >
		   	 	 	<apex:selectOptions value="{!BucketNames}"/>
	 </apex:selectList>
 <br/>
 
     
     <apex:actionFunction rerender="folderListId"  action="{!updateAccessTypeSelected}" name="updateAccessType" >
	            <apex:param name="accessType" assignTo="{!accessTypeSelected}" value="" />            
	 </apex:actionFunction>
	
	
	 <apex:outputLabel for="accessTypeId" value="2. Select access type of the Object:   "/>
	 <apex:selectList onclick="updateAccessType(this.value);" id="accessTypeId" value="{!accessTypeSelected}" multiselect="false" >
		   	 	 	<apex:selectOptions value="{!AccessTypes}"/>
	 </apex:selectList>
	 
	 <apex:actionFunction rerender="folderListId"  action="{!updateFolderId}" name="updateFolderId" >
	            <apex:param name="folderIdSelected" assignTo="{!folderIdSelected}" value="" />            
	 </apex:actionFunction>
	
	 
      <apex:outputLabel for="fileUploadAccessId" value="3. Select Document folder:"/>
      <apex:selectList onclick="updateFolderId(this.value);" id="fileUploadAccessId"  value="{!folderIdSelected}" multiselect="false">
	   	 	 	<apex:selectOptions value="{!folders}"/>
	  </apex:selectList>
      <br/>
      
 
      <apex:outputPanel id="folderListId">
	      <apex:outputLabel for="postFileId" value="4. Select document to upload : "/>
	      <apex:dataTable value="{!docs}" var="doc">
	      
	       
	       
	      	<apex:column width="125">
      			<apex:facet name="header">Action</apex:facet>
      	
      	<apex:commandLink status="uploadObjectRender2" action="{!syncForceDoc}"  value="Upload to S3" >
      		<apex:param name="docIdToUpload" value="{!doc.Id}"/>
      	</apex:commandLink>
      	</apex:column>
      	 
	       
	    
	      <apex:column width="400" value="{!doc.name}">
	      <apex:facet name="header">Document Name</apex:facet>
	      </apex:column> 
	      
	      </apex:dataTable>
	      
	      <br/>
      
        </apex:outputPanel>
      
      
      <apex:outputPanel id="uploadObjectRender2" >

		 <apex:actionstatus id="statusForUploadObject2">
					<apex:facet name="start">
						<span style="font-weight:bold; color: red; background-color:white;">
						&nbsp;&nbsp;&nbsp;Contacting S3 to upload Object..........&nbsp;&nbsp;&nbsp;
						</span>
					</apex:facet>
					<apex:facet name="stop">
					   <apex:outputPanel rendered="{!(AND(!ISNULL(uploadObjectErrorMsg2),uploadObjectErrorMsg2!='Success'))}" style="font-weight:bold; color: red; background-color:white;">
						&nbsp;&nbsp;&nbsp;ERROR: {!uploadObjectErrorMsg2}
						</apex:outputPanel>

					</apex:facet>
					
					
			</apex:actionstatus>
			
			 
			<apex:outputPanel rendered="{!(AND(!ISNULL(uploadObjectErrorMsg2),uploadObjectErrorMsg2=='Success'))}" style="font-weight:bold; color:green; background-color:white;">&nbsp;&nbsp;&nbsp;Successfully uploaded object.
			</apex:outputPanel>

		</apex:outputPanel>

    


    </apex:pageBlockSection>
</apex:pageBlock>
</apex:form>

</apex:page>