<apex:page controller="TaskController" sidebar="false" showHeader="false" >
<apex:includeScript value="{!$Resource.jquery}"/> 
<apex:includeScript value="{!$Resource.jqueryBlockUI}" />
<script src="https://code.jquery.com/ui/1.8.24/jquery-ui.js"></script>

	<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />	
	<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />
	
		<!-- CSS -->
<apex:include pageName="xCourseSearchStyle" />
<style>		
	H3{
		color: #E40000;
		font-size: large;
	}

	
	table{
		padding: 5px;
		width: 100%
	}	
	tr.spaceUnder > td
	{
	  padding-bottom: 0.5em;
	}
	.grayBox{
	background-color: #F3F3F3;
    border: 1px solid #999999;
    border-radius: 3px 3px 3px 3px;
    color: #2BABD6;
    font-family: arial;
    font-weight: bold;
    padding: 5px;
/*     width: 100%; */
	}
	
	
	.panelAssignStyle{		
		border: 1px solid #999;
		border-raidous: 5px;
		padding: 8px 0 20px;
		width: 100%;
	}
	
	.buttons{
		margin-top: 10px;
		text-align: center;
	}
	
	.apexp .bPageBlock.apexDefaultPageBlock .pbBody {
	    margin: 0;
	}
	
	body .bPageBlock {
	    margin-bottom: 0;
	}

</style>

<script>
	//Modal Loading
	function showLoading(msg) { 
       	jQuery.blockUI({ 
		message: '<H1>'+msg+'</H1>',
		css: { 
           border: 'none', 
           padding: '15px', 
           backgroundColor: '#000', 
           '-webkit-border-radius': '10px', 
           '-moz-border-radius': '10px', 
           opacity: .5, 
           color: '#fff' 
       } }); 

    }

	function hideLoading(){
		jQuery.unblockUI();
	}		

	jQuery(document).ready(function() {
		jQuery('.taskSubject').chosen();
	});	
	
</script>
<apex:form id="taskForm">
	<apex:actionStatus id="ipStatus" onstart="showLoading('Please wait...');" onstop="hideLoading();" />	
<div class="grayBox">
	<h3>
		<apex:outputtext value=" New Task" styleclass="title" />
	</h3>
	<apex:pageblock >
	<table>
		<tr class="spaceUnder">
			<td>
				<apex:selectList size="1" value="{!taskC.Subject__c}" id="nCategory" style="width:300px;" styleclass="taskSubject">
						<apex:selectOptions value="{!subjects}" />
				</apex:selectList><br/>
				<apex:outputText value="Subject"  style="font-size:0.8em;"/>	
				<apex:inputField value="{!errorTask.Subject__c}"  style="display:none" />		
						
			</td>
		</tr>			
		<tr class="spaceUnder">
			<td>
				<apex:inputfield value="{!taskC.Comments__c}" style="width:100%;" required="true"/>
				<apex:outputText value="Description" style="font-size:0.8em;"/>					
			</td>
		</tr>
		<tr class="spaceUnder">
			<td>
				<apex:outputpanel rendered="{!NOT(ISNULL(idUser))}">
					<div style="float:left">
						<apex:outputtext value="{!user.Contact.Name}" style="width:80%"/><br/>
					</div>
				</apex:outputpanel>
				<apex:outputpanel id="related" rendered="{!ISNULL(idUser)}">
					<div style="float:left">
						<apex:inputfield id="relatedTo" value="{!taskC.Related_Contact__c}" style="width:300px;"/><br/>
					</div>
					<div style="float:left">
						<!-- <apex:commandButton id="addMe" action="{!pickAddMe}" value="Me" styleclass="agencyButton" reRender="related" immediate="true" /> -->
					</div>
				</apex:outputpanel>
				<apex:outputText value="Related to (e.g. Client)" style="font-size:0.8em;float:left;clear: left;" />
			</td>
		</tr>
		<tr class="spaceUnder">
			<td>
				<apex:outputText value="{0,date, dd/MM/yyyy}" >
              		<apex:param value="{!taskC.Due_Date__c}" />
         		</apex:outputText><br/>
				<apex:outputText value="Due Date" style="font-size:0.8em;"/> &nbsp;&nbsp;
			</td>
		</tr>
	</table>
	</apex:pageblock>
	<table>
		<tr class="spaceUnder">
			<td>
				<apex:outputpanel styleclass="panelAssign" >
					<apex:selectList size="1" value="{!taskC.Priority__c}" styleclass="taskSubject" style="width:300px;">
						<apex:selectOptions value="{!FilterPriority}" />
					</apex:selectList><br/>
					<apex:outputText value="Priority" style="font-size:0.8em;"/><br/>
					<apex:inputField value="{!errorTask.Priority__c}"  style="display:none" /><br/>
				</apex:outputpanel>
				
				<apex:outputPanel styleclass="panelAssign panelAssignStyle" layout="block" > 
					<apex:outputText value="Assign this task to one or more users" style="font-size:1em; margin-left: 3px; position: relative; top: -2px;" />
						<div style="clear: both; border-top: solid grey 1px; margin: 5px 5px 5px 9px; display: yes; padding-top: 5px;" id="usersList">
							<apex:actionRegion id="assignRegion" >
								<apex:outputPanel id="agencies" style="margin-top:15px;display:block;">
									<apex:selectList size="1" value="{!agencySelected}" style="width:300px;" styleclass="taskSubject">
											<apex:selectOptions value="{!agencies}" />
											<apex:actionSupport event="onchange" action="{!getEmployeesFAgency}" status="ipStatus" reRender="employees" />
									</apex:selectList>
									<br />
									<apex:outputText value="Agency"  style="font-size:0.8em;"/>
								</apex:outputPanel>
								
								<apex:outputPanel id="employees" style="margin-top:15px;display:block;">
									<apex:selectList value="{!assignedEmployees}" multiselect="true" size="5" style="width:100%;">
										<apex:SelectOptions value="{!employeesAgency}" />
									</apex:selectList>
									<apex:outputText value="Assign to" style="font-size:0.8em;clear: left; padding-top:5px;" />
									<apex:outputText value=" (use [ctrl] to select more than one)" style="font-size:0.8em; float:right;font-weight: normal;" />
									<apex:inputField value="{!taskC.Assign_To__c}"  style="display:none" />
								</apex:outputPanel>
							</apex:actionRegion>	
						</div>			 
				</apex:outputPanel>
				
				<apex:outputPanel styleclass="buttons" style="display:yes;" layout="block" > 
					<apex:commandLink value="Save Task" styleclass="saveTask agencyButton" status="ipStatus" action="{!saveTask}" rerender="taskForm" onComplete="jQuery('.taskSubject').chosen();"/>
					<apex:commandLink value="Cancel" styleclass="cancel agencyButton" onClick="javascript: parent.closeTaskModal();" immediate="true"/>
				</apex:outputPanel>
			</td>
		</tr>
	</table>			
	</div>		
	<apex:outputpanel id="verifyErrors" rendered="{!showError}">
		<script>		
			if(jQuery('.errorMsg').length == 0){
				parent.completeCreate();
			}
		</script>
	</apex:outputpanel>
</apex:form>
</apex:page>