<apex:page standardController="contact" extensions="client_course_deposits_history" showHeader="false" sidebar="false">
	<style>
        .miniHeader {           
            //color: #666666;
            font-size: 1.2em;
            font-weight: bold;
            height: 27px;
            padding: 3px 0 0 5px;
            //background-color: #e1e1e1;
        }
        
        .newCourse{
            width: 100%;
            color: #666;
        }
        
        .newCourse tr.headerRow th{
            border:0 !important;
            border-bottom: 1px solid #e0e3e5 !important;
        }
        
        .newCourse tr th{
            background-color: #696969;
            color: #FFF;            
            padding: 5px;
        }
        
        .newCourse tr td{           
            padding-left: 5px;
            line-height: 23px;
            border-bottom: solid 1px #eee;
        }
        
        .tableInstalOdd{
            background-color: #EEE !important;    
        }

        .tableInstalEven{
            background-color: #FFF !important;
        }   
        
        
        .prodListTable{
            border: 1px solid white;
            border-spacing: 0;
            line-height: 10px;
            width:100%;
        }
        
        
        .prodListTable tr th{
            background-color: #ccc;
            color: #000;
            padding: 5px;
        }
    </style>

    <apex:form >        
        <apex:outputpanel layout="none" id="cpTabs">
            <apex:outputpanel layout="block" rendered="{!NOT($CurrentPage.parameters.page == 'contactNewPage')}">
                <div onclick="showLoading('Loading');window.location.href ='client_course_new?id={!contactId}'" class="divTabs " >Bookings</div> 
                <div onclick="showLoading('Loading');window.location.href ='client_course_invoices?id={!contactId}'" class="divTabs" >Invoices</div> 
                <div onclick="showLoading('Loading');window.location.href ='contact_quotations?id={!contactId}'" class="divTabs" >Quotations</div>
                <div onclick="showLoading('Loading');window.location.href ='client_course_deposits_history?id={!contactId}'" class="divTabs divTabSelected" >Deposits History</div> 
                <apex:outputpanel layout="none" rendered="{!hasCancelReqUndo}">
                    <div onclick="showLoading('Loading');window.location.href ='client_course_cancel_history?id={!contact.id}'" class="divTabs" >Undone Cancel Requests</div>
                </apex:outputpanel>
            </apex:outputpanel>

            <apex:outputpanel layout="block" rendered="{!$CurrentPage.parameters.page == 'contactNewPage'}">
                <div onclick="showLoading('Loading');window.location.href ='contact_new_bookings?id={!contactId}&page=contactNewPage'" class="divTabs " >Bookings</div> 
                <div onclick="showLoading('Loading');window.location.href ='contact_new_invoices?id={!contactId}&page=contactNewPage'" class="divTabs" >Invoices</div> 
                <div onclick="showLoading('Loading');window.location.href ='contact_new_quotations?id={!contactId}&page=contactNewPage'" class="divTabs" >Quotations</div>
                <div onclick="showLoading('Loading');window.location.href ='contact_new_deposit_history?id={!contactId}&page=contactNewPage'" class="divTabs divTabSelected" >Deposits History</div> 
                <apex:outputpanel layout="none" rendered="{!hasCancelReqUndo}">
                    <div onclick="showLoading('Loading');window.location.href ='contact_new_undone_cancel_requests?id={!contact.id}&page=contactNewPage'" class="divTabs" >Undone Cancel Requests</div>
                </apex:outputpanel>
            </apex:outputpanel>
        </apex:outputpanel>
    
        <br/><br/><br/>
        <div class="miniHeader agencyFont agencyBackground">
                Deposits History
        </div>
        <apex:pageBlock >
            <table class="newCourse">
                <tr>
                    <th></th>
                    <th>Deposit Value</th>
                    <th>Total Used</th>
                    <th>Total Refund</th>
                    <th>Deposit Notes</th>
                    <th>Created Date</th>
                </tr>
                <apex:variable value="{!0}" var="trCounter" />
                <apex:repeat value="{!allDeposits}" var="dep">
                    <tr class="{!IF(mod(trCounter,2)=0, 'tableInstalOdd', 'tableInstalEven')}">
                        <td style="width:5%">
                            <apex:commandLink status="statusLoad" onClick="toggle('rn-{!dep.deposit.id}'); toggle('{!$Component.buttonMax}'); toggle('{!$Component.buttonMin}'); return false;">
                                <apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" id="buttonMax" styleclass="arrow" />
                                <apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" id="buttonMin" styleclass="arrow" style="display:none"/>
                            </apex:commandLink>
                        </td>
                        <td>{!dep.deposit.Deposit_Total_Value__c}</td>
                        <td>{!dep.deposit.Deposit_Total_Used__c}</td>
                        <td>{!dep.deposit.Deposit_Total_Refund__c}</td>
                        <td>{!dep.deposit.Deposit_Description__c}</td>
                        <td><apex:outputfield value="{!dep.deposit.createdDate}"/></td>
                    </tr>
                    
                    
                    <!-- D E P O S I T      D E T A I L S -->
                    <tr id="rn-{!dep.deposit.id}" style="display:none;" class="{!IF(mod(trCounter,2)=0, 'tableInstalOdd', 'tableInstalEven')}">
                        <td colspan="9" style="padding: 10px;">
                            <div class="tabsClient" ><!--  style="background: inherit;font-size:11px !important;font-family: Arial !important;" -->
                                <ul>
                                    <li><a href="#tabs-1">Deposit Payments </a></li>    
                                    
                                    <apex:outputpanel layout="none" rendered="{!dep.Refunds.size>0}"><li><a href="#tabs-2">Refunds</a></li></apex:outputpanel>
                                </ul>
                            
                                <!-- P A Y M E N T S  -->
                                <div id="tabs-1">
                                    <table class="prodListTable">
                                        <tr class="headerRow">  
                                            <th class="headerRow" >Type</th>
                                            <th class="headerRow" >Date</th>
                                            <th class="headerRow" >Received By</th>
                                            <th class="headerRow" >Value</th>
                                        </tr>
                                        <apex:repeat value="{!dep.payments}" var="pay">
                                            <tr>    
                                                <td>
                                                    <apex:outputText value="{!pay.Payment_Type__c}" />
                                                    
                                                    <apex:outputpanel layout="block" style="font-style:italic; color:grey;font-size:0.8em;" rendered="{!pay.isInstalment_Refund__c}" >
                                                        <apex:outputfield value="{!pay.isInstalment_Refund__c}" />
                                                        Instalment Refund
                                                    </apex:outputpanel>
                                                </td>
                                                <td class="alignRight">
                                                    <apex:outputfield value="{!pay.Date_Paid__c}"  />
                                                </td>
                                                <td>
                                                    <apex:outputText value="{!pay.Received_By__r.Name}" rendered="{!NOT(ISNULL(pay.Received_By__r.Name))}"/>
                                                    <apex:outputpanel rendered="{!ISNULL(pay.Received_By__r.Name) && pay.Received_By__c == $User.Id}">
                                                        {!$User.FirstName} {!$User.LastName}
                                                    </apex:outputpanel>
                                                </td>
                                                <td class="alignRight">
                                                    <apex:outputText value="{0, number, currency}" >
                                                        <apex:param value="{!pay.Value__c}" />
                                                    </apex:outputText>
                                                </td>
                                            </tr>
                                        </apex:repeat>
                                    </table>
                                </div>
                                
                                
                                <!-- R E Q U E S T E D      R E F U N D S  -->
                                <apex:outputpanel layout="block" rendered="{!dep.Refunds.size>0}">
                                    <div id="tabs-2">
                                        <table class="prodListTable" >
                                            <tr class="headerRow">  
                                                <th class="headerRow" >Requested by</th>
                                                <th class="headerRow" >Requested On</th>
                                                <th class="headerRow" >Status</th>
                                                <th class="headerRow" >Description</th>
                                                <th class="headerRow" >Amount Requested <!-- ({!clientDeposit.CurrencyIsoCode__c}) --></th>
                                                <th class="headerRow" >Amount Received <!-- ({!clientDeposit.CurrencyIsoCode__c}) --></th>
                                            </tr>
                                            <apex:repeat value="{!dep.Refunds}" var="rf">
                                                <tr>    
                                                    <td style="width:25%">
                                                        <apex:outputtext value="{!rf.CreatedBy.Name}" />
                                                    </td>
                                                    
                                                    <td style="width:15%">
                                                        <apex:outputfield value="{!rf.CreatedDate}" />
                                                    </td>
                                                    
                                                    <td style="width:20%">
                                                        <!-- PENDING -->
                                                        <apex:outputtext value="Pending" rendered="{!AND(NOT(rf.Not_Refunded__c), ISNULL(rf.Paid_to_Client_On__c), ISNULL(rf.Refund_Cancelled_On__c))}" style="color:red;"/>
                                                        
                                                        <!-- KEPT IN AGENCY -->
                                                        <apex:outputtext value="Non Refundable" rendered="{!rf.Not_Refunded__c}"/>
                                                        
                                                        <!-- PAID -->
                                                        <apex:outputpanel layout="none" rendered="{!NOT(ISNULL(rf.Paid_to_Client_On__c))}">
                                                            <span style="color:green;font-weight:bold">Paid to Client</span><br/>
                                                            
                                                            <span style="color:grey;font-size:0.9em;">by&nbsp;<b>{!rf.Paid_to_Client_By__r.Name} ({!rf.Paid_to_Client_By_Department__r.Name} - {!rf.Paid_to_Client_By_Agency__r.Name})</b>
                                                            <br/>on&nbsp; <b><apex:outputfield value="{!rf.Paid_to_Client_On__c}" />    </b></span>
                                                                
                                                        </apex:outputpanel>
                                                        
                                                        <!-- CANCELLED -->
                                                        <apex:outputpanel layout="none" rendered="{!NOT(ISNULL(rf.Refund_Cancelled_On__c))}">
                                                        
                                                        
                                                                <span style="color:red;font-weight:bold">Cancelled</span><br/>
                                                                <span style="color:grey; font-style:italic">Reason: 
                                                                <apex:outputText value="{!LEFT(rf.Refund_Cancelled_Description__c,300)}" styleClass="mini" title="{!rf.Refund_Cancelled_Description__c}" escape="false" />
                                                                <apex:outputText value="..." rendered="{!LEN(rf.Refund_Cancelled_Description__c) > 300}" styleClass="mini" title="{!rf.Refund_Cancelled_Description__c}" />
                                                                </span>
                                                                <br/><br/>
                                                            
                                                            
                                                            <span style="color:grey;font-size:0.9em;">by&nbsp;<b>{!rf.Refund_Cancelled_By__r.Name} ({!rf.Refund_Cancelled_By_Department__r.Name} - {!rf.Refund_Cancelled_By_Agency__r.Name})</b>
                                                            <br/>on&nbsp; <b><apex:outputfield value="{!rf.Refund_Cancelled_On__c}" />  </b></span>
                                                            
                                                        </apex:outputpanel>
                                                    </td>
                                                    
                                                    <td style="width:30%">
                                                        <apex:outputText value="{!LEFT(rf.Description__c,300)}" styleClass="mini" title="{!rf.Description__c}" escape="false" />
                                                        <apex:outputText value="..." rendered="{!LEN(rf.Description__c) > 300}" styleClass="mini" title="{!rf.Description__c}" />
                                                    </td>
                                                    
                                                    <td class="alignRight" style="font-weight:bold;width:12%;">
                                                        <apex:outputText value="{0, number, currency}" >
                                                            <apex:param value="{!rf.Value__c}" />
                                                        </apex:outputText>

                                                        {!rf.CurrencyIsoCode__c}
                                                    </td>
                                                    <td class="alignRight" style="font-weight:bold;width:12%;">
                                                        <apex:outputText value="{0, number, currency}" >
                                                            <apex:param value="{!rf.Agency_Currency_Value__c}" />
                                                        </apex:outputText>

                                                        {!rf.Agency_Currency__c}
                                                        
                                                        <br/>
                                                        <apex:commandlink value="Send receipt by email" onclick="sendRefundReceipt('{!rf.id}');return false;" immediate="true" rendered="{!NOT(ISNULL(rf.Paid_to_Client_On__c))}"/>
                                                    </td>
                                                </tr>
                                            </apex:repeat>
                                        </table>
                                    </div>
                                </apex:outputpanel>
                            </div>
                        </td>
                    </tr>
                    <apex:variable value="{!trCounter+1}" var="trCounter" />
                    
                </apex:repeat>
            </table>
        </apex:pageBlock>
    </apex:form>

    <script>
        var coursewin;
        
        jQuery(document).ready(function() {
                jQuery('.tabsClient').tabs();
        }); 


        function toggle(popUpDiv) {
            var el = document.getElementById(popUpDiv);
            if ( el.style.display == 'none' ) { el.style.display = '';}
            else {el.style.display = 'none';}
            return false;
        }
        
        function setCloseModal(){
            jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
            jQuery('.Close').unbind('click'); 
            jQuery('.Close').click(function() {closemodal();});
        }
        
        
        
        function closemodal(){
            jQuery('#interVeil').css('display','none'); 
            coursewin.close();
        }
        
        
        function sendRefundReceipt(refId){
            coursewin=dhtmlmodal.open('sendRefundReceipt', 'iframe', 'client_course_email?id={!contactId}&type=refund&rfid='+refId+'&visits=false', 'Send Email Refund Receipt' , 'width=800px,height=600px,resize=1,center=1,scrolling=1'); 
            setCloseModal();
        }

    </script>  
</apex:page>