<apex:page standardController="client_product_service__c" extensions="client_course_product_pay" showHeader="false" sideBar="false" docType="html-5.0">
 
<apex:slds />
<apex:includeScript value="{!$Resource.up_jQuery}" />
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" />
<apex:includeScript value="{!$Resource.jqueryBlockUI}" />

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" />

<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<style>
	.box{
		background-color: #f4f6f9;
		padding: 5px;
		/* margin: 4px; */
		border-radius: 5px;
		display: table;
		margin-bottom: 7px;
		border: 1px solid #f8f8f8;
		width: 100%;
	}

	.dateFormat{
		display:none;
	}

	.closeBar{
		background-color: #f9f9f9;
		border-top: 1px solid #ccc;
		bottom: 0;
		display: block;
		padding: 10px 0;
		position: fixed;
		text-align: center;
		width: 100%;
	}

	
</style>

<c:modalLoadingLightning />
<apex:actionStatus id="statusUpdate" onstart="showModalLoading(true);" onstop="showModalLoading(false);" />

<apex:form id="allForm">
	<apex:actionFunction name="retriveLoanDetails" status="statusLoad" action="{!openLoan}" reRender="pnl-loan, pnl-value" immediate="true">
		<apex:param name="loanId" value="" />
	</apex:actionFunction>
	<!-- AVAILABLE DEPOSIT -->
	<apex:outputPanel layout="block" rendered="{!NOT(ISNULL(clientDeposit)) && NOT(ISNULL(clientDeposit.id)) && clientDeposit.Deposit_Total_Value__c - clientDeposit.Deposit_Total_Used__c > 0}" styleClass="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning" html-role="alert" style="background-color: #eef128;">
		<span class="slds-assistive-text">warning</span>
		<span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small" >
			<svg class="slds-icon slds-icon_x-small" aria-hidden="true">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#warning')}"/>
			</svg>
		</span>
		<span style="" onclick="">
			<span style="font-size: 1.1em;">Deposit available to use:</span>&nbsp;

			<apex:outputText value="{0, number, currency}" style="font-weight:bold;" id="depositList">
				<apex:param value="{!clientDeposit.Deposit_Total_Value__c - clientDeposit.Deposit_Total_Used__c - clientDeposit.Deposit_Total_Refund__c}" />
			</apex:outputText>
		</span>
		<button class="slds-button slds-button_icon slds-notify__close slds-button_icon-inverse" title="Close">
			<svg class="slds-button__icon" aria-hidden="true">
			<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
			</svg>
			<span class="slds-assistive-text">Close</span>
		</button>
	</apex:outputPanel>


	<!-- LIST PRODUCTS -->
	<div class="box">
		<div class="slds-text-heading_small" style="background-color: white; margin-bottom: 5px; padding: 5px; border-radius: 5px;font-weight: 200;">Select the products {!product[0].Client__r.FirstName} is paying for: </div>
		<!-- PRODUCTS LIST -->
		<table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped">
			<thead>
				<tr class="slds-line-height_reset">
					<th class="slds-text-title_caps slds-cell-wrap" scope="col"></th>
					
					<th class="slds-text-title_caps slds-cell-wrap" scope="col">
						<div class="slds-truncate" title="Product Name">
							Product Name
						</div>
					</th>
					
					<th class="slds-text-title_caps slds-cell-wrap" scope="col">
						<div class="slds-truncate" title="Start Date">
							Start Date
						</div>
					</th>
					<th class="slds-text-title_caps slds-cell-wrap" scope="col">
						<div class="slds-truncate" title="End Date">
							End Date
						</div>
					</th>
					<th class="slds-text-title_caps slds-cell-wrap" scope="col">
						<div class="slds-truncate" title="Quantity / Unit type">
							Quantity
						</div>
					</th>
					<th class="slds-text-title_caps slds-cell-wrap" scope="col">
						<div class="slds-truncate" title="Price Total">
							Price Total
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<apex:actionRegion >
					<apex:repeat value="{!product}" var="pd">
						<tr class="slds-hint-parent">
							<td class="slds-cell-wrap">
								<apex:inputField value="{!pd.isSelected__c}" rendered="{!pd.Received_Date__c == null}">
									<apex:actionSupport event="onchange" action="{!calcTotPay}" status="statusLoad" reRender="pnlCurrency, listPay, depositList, addPay" oncomplete="changeTotPay('{!totalPay}')"/>
								</apex:inputfield>
							</td>
							
							<td class="slds-cell-wrap">
								<div class="slds-truncate" title="Product Name">
									{!pd.Product_Name__c}
									<div style="font-size:0.8em;font-weight:normal;color:grey;">{!pd.Products_Services__r.Provider__r.Provider_Name__c} </div>
								</div>
							</td>
							<td class="slds-cell-wrap">
								<div class="slds-truncate" title="Start Date">
									<apex:outputField value="{!pd.Start_Date__c}"/>
								</div>
							</td>
							<td class="slds-cell-wrap">
								<div class="slds-truncate" title="End Date">
									<apex:outputField value="{!pd.End_Date__c}"/>
								</div>
							</td>
							<td class="slds-cell-wrap">
								<div class="slds-truncate" title="Quantity / Unit type">
									{!pd.Quantity__c} {!pd.Unit_Description__c}(s)
								</div>
							</td>
							<td class="slds-cell-wrap">
								<div class="slds-truncate" title="Price Total">
									<apex:outputText value="{0,number, currency}" >
										<apex:param value="{!pd.Price_Total__c}" />
									</apex:outputText> &nbsp;{!prodCurrency}
								</div>
							</td>
						</tr>
					</apex:repeat>
				</apex:actionRegion>
			</tbody>
		</table>
	</div>


	<!-- CURRENCY -->
	<apex:actionRegion >
		<apex:outputPanel layout="block" id="pnlCurrency" styleclass="box">
			<!-- <span class="slds-icon_container slds-icon-standard-investment-account" >
				<svg class="slds-icon slds-icon_small " aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/standard-sprite/svg/symbols.svg#currency')}"/>
				</svg>
			</span>
			 -->
			<div class="slds-text-heading_small" style="background-color: white; margin-bottom: 5px; padding: 5px; border-radius: 5px;font-weight: 200;">Currency Rate </div>
			<table style="margin-top: 10px !important;margin: 5px; width:auto !important; float: left;">
				<tr>
					<td>
						<label class="slds-form-element__label" for="piValue">
							<abbr class="slds-required" title="required">*</abbr>Rate 

							<span style="font-size:0.9em">( 1 {!prodCurrency} = {!Agency_Currency} ) </span>
						</label><br/>
						<apex:inputText value="{!Agency_Currency_Rate}" styleClass="crate numberOnly slds-input" style="width: 120px;" onkeyup="calculateValues(this.value, 'crate')" />
					</td>
					<td>
						<label class="slds-form-element__label" for="piValue">
							<abbr class="slds-required" title="required">*</abbr>Value in {!Agency_Currency}
						</label><br/>
						<apex:inputText value="{!Agency_Currency_Value}" styleClass="cvalue numberOnly slds-input" style="width: 120px;"  onkeyup="calculateValues(this.value, 'cvalue')"/>
					</td>
				</tr>
				
			</table>
			<div class="pnl-loan" style="display:none; float: right; padding: 5px;">
				<apex:outputPanel id="pnl-loan" >
					<!-- <p>{!clientLoan.id}</p> -->
					<table style="border: solid 1px #c1c1c1;">
						<tr>
							<td colspan="2" style="background: #c1c1c1c1;">
								Loan Details
							</td>

						</tr>
						<tr>
							<td style="color:#777;">Total Loan:</td>
							<td style="color:#777; text-align: right;">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!clientLoan.Value__c}" />
								</apex:outputText>
							</td>
						</tr>
						<tr>
							<td style="color:#777;">Total Available:</td>
							<td style="font-weight: bold; text-align: right;">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!clientLoan.Value_Remaining__c}" />
								</apex:outputText>
							</td>
						</tr>
					</table>
						
				</apex:outputPanel>
			</div>

			<div style="display: block; margin-top: 10px; font-size: 0.9em; margin-left: 10px; clear: both;" class="{!IF(DATEVALUE(Text(currencyLastModifiedDate)) < today(),'slds-text-color_error','')}">
				Last Updated on:
				<apex:outputText value="{0,date, EEEE, dd MMM yyyy hh:mm:ss}">
					<apex:param value="{!currencyLastModifiedDate}" />
				</apex:outputText> 
			</div>
		</apex:outputPanel>
	</apex:actionRegion>
		

	<!-- ADD PAYMENT -->
	<apex:outputPanel id="addPay" styleclass="box">
		<div class="slds-text-heading_small" style="background-color: white; margin-bottom: 5px; padding: 5px; border-radius: 5px;font-weight: 200;">Add Payment </div>

		<ul class="slds-list_horizontal ">
			<li class="slds-grid slds-grid--vertical slds-size_1-of-4 slds-p-bottom_small">
				<label class="slds-form-element__label" for="piValue">
					<abbr class="slds-required" title="required">*</abbr>Payment Type
				</label>
				<apex:selectList value="{!newPayDetails.Payment_Type__c}" styleclass="slds-select typePayment" size="1" required="true" onchange="checkOptions(this.value)" id="typePay">
					<apex:selectOptions value="{!depositListType}" />
				</apex:selectList>
			</li>

			<li class="slds-grid slds-grid--vertical slds-size_1-of-4 slds-p-bottom_small" style="text-align: center;">
				<label class="slds-form-element__label" for="piValue" style="text-align: left;">
					<abbr class="slds-required" title="required">*</abbr>Payment Date
				</label>
				<apex:inputField value="{!newPayDetails.Date_Paid__c}" style="width: 92%;" styleClass="slds-input dateSearchInput" required="true"/>
			</li>

			<li class="slds-grid slds-grid--vertical slds-size_1-of-4 slds-p-bottom_small" style="text-align: center;">
				<label class="slds-form-element__label" for="piValue" style="text-align: left;">
					<abbr class="slds-required" title="required">*</abbr>Amount ({!prodCurrency})
				</label>
				<apex:inputField value="{!newPayDetails.Value__c}"  style="width: 92%;"  required="true" styleClass="slds-input dptValue" />
			</li>

			<li class="slds-grid slds-grid--vertical slds-size_1-of-4 slds-p-bottom_small">
				<label class="slds-form-element__label" for="piValue">
				</label>
				<apex:commandLink action="{!addPaymentValue}" value="Add Payment" style="position: relative; top: 17px;" status="statusUpdate" styleclass="slds-button slds-button_brand" reRender="listPay, depositList, addPay, offShorePaymentDetails, buttons" onComplete="checkOptions(jQuery('.typePayment').val());$('.chosen').chosen();"/>
			</li>
		</ul>
	</apex:outputPanel>


	<apex:actionRegion >

		<!-- ADDED PAYMENTS -->
		<apex:outputPanel id="listPay" styleclass="box" layout="block">
			<apex:pageMessages />
			<apex:outputpanel id="errorMsgs">
				<apex:pageMessage severity="error" strength="3" id="refundMsg" escape="false" summary="{!errorMsg}" rendered="{!LEN(errorMsg)>0}" title="Error"/>
			</apex:outputpanel>
			
			<apex:outputPanel rendered="{!listPayDetails.size>0}">
			
				<!-- <div class="slds-section__title slds-theme_shade" style="background-color:white; display: block;margin-bottom:2px;" >
					<span class="slds-text-heading_small" style="background-color: white; margin-bottom: 5px; padding: 5px; border-radius: 5px;font-weight: 200;">Payment Details </span>
					<div class="slds-truncate slds-p-horizontal_small" style="float:right;font-weight: bold;font-size: 0.9em;">Total Cost: {!totalPay} {!prodCurrency}</div>
				</div> -->

				<table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped">
					<thead>
						<tr class="slds-line-height_reset">
							<th class="slds-text-title_caps slds-cell-wrap" scope="col"></th>
							
							<th class="slds-text-title_caps slds-cell-wrap" scope="col">
								<div class="slds-truncate" title="Type">
									Type
								</div>
							</th>
							
							<th class="slds-text-title_caps slds-cell-wrap" scope="col">
								<div class="slds-truncate" title="Date">
									Date
								</div>
							</th>

							<th class="slds-text-title_caps slds-cell-wrap" scope="col">
								<div class="slds-truncate" title="Value">
									Received ({!Agency_Currency})
								</div>
							</th>

							<th class="slds-text-title_caps slds-cell-wrap" scope="col">
								<div class="slds-truncate" title="Value in {!prodCurrency}">
									Value in {!prodCurrency}
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
						<apex:repeat value="{!listPayDetails}" var="dp">
							<tr class="">
								<td class="">
									
									<apex:commandLink value="Delete" rendered="{!not isSaved}" action="{!removePaymentValue}" status="statusUpdate" rerender="listPay, depositList, addPay, buttons" immediate="true">
										<apex:param value="{!dp.payIndex}" name="index" />
									</apex:commandLink>
								</td>

								<td class="">
									{!dp.productPayment.Payment_Type__c}
								</td>

								<td class="">
									<apex:outputField value="{!dp.productPayment.Date_Paid__c}"  />
								</td>

								<td class="">
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!dp.productPayment.Agency_Currency_Value__c}" />
									</apex:outputText>
								</td>

								<td class="">
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!dp.productPayment.Value__c}" />
									</apex:outputText>
								</td>
							</tr>
						</apex:repeat>
					</tbody>
				</table>
			
				<!-- <div class="box">
					<apex:inputfield value="{!paidByAgency.Paid_by_Agency__c}" style="position: relative; top: 2px;" onchange="showQProvider(this.checked);" styleClass="paidByAgency"/> <span style="font-weight:300;padding-left:5px;"> This product(s) was paid by the agency. </span>
					<div style="border-top: 1px solid rgb(219, 219, 219); margin-top: 10px; padding-top: 5px;margin-left: 2px;{!IF(paidByAgency.Paid_by_Agency__c,'','display:none;')}" id="qProvider">

						<fieldset class="slds-form-element">
							<legend class="slds-form-element__legend slds-form-element__label"><abbr class="slds-required" title="required">*</abbr>Is this product(s) already paid to provider?</legend>
							<div class="slds-form-element__control">
								<div class="container-paidProvider">
									<div class="slds-radio_button-group ">
										<span class="slds-button slds-radio_button" onclick="$('.isProdPaid').prop('checked', 0);">
											<input name="radio" type="radio" id="notPaid" value="notPaid" />
											<label class="slds-radio_button__label" for="notPaid">
												<span class="slds-radio_faux">No</span>
											</label>
										</span>
										<span class="slds-button slds-radio_button" onclick="$('.isProdPaid').prop('checked', 1);">
											<input name="radio" type="radio" id="paid" value="paid" />
											<label class="slds-radio_button__label" for="paid">
												<span class="slds-radio_faux">Yes!</span>
											</label>
										</span>
									</div>
									<script>
										checkDefault();
										function checkDefault(){
											if({!providerPaid})
												document.getElementById('paid').setAttribute("checked", "checked");
											else document.getElementById('notPaid').setAttribute("checked", "checked");
										}
									</script>

									<div class="slds-form-element__help" id="isProdPaidInvalid" style="font-weight: bold;text-indent: 4px;display:none;">This field is required, please select one option!</div>
								</div>
							</div>
						</fieldset>
						<apex:inputCheckbox value="{!providerPaid}" style="display:none;" styleclass="isProdPaid"/> 
					</div>
				</div> -->
			</apex:outputPanel>

			<script>
				function showQProvider(value){
					if(value)
						$('#qProvider').show();
					else
						$('#qProvider').hide();
				}
			</script>


			<div class="slds-section__title slds-theme_shade" style="background-color:white; display: block;" >
				<div class="slds-truncate slds-p-horizontal_small slds-text-color_error" style="text-align: right; font-weight: bold; font-size: 0.8em;">Remaning value: {!totalPay - totalpaid} {!prodCurrency}</div>
			</div>


			<script>
				function checkOptions(opt){
					jQuery('.dptValue').removeAttr('disabled');
					if(opt == 'Offshore'){
						jQuery('.dptValue').val('{!totalPay}');
						jQuery('.dptValue').attr('disabled', 'disabled');
					}else {
						if(opt.startsWith('loan-')){
							loanId = opt.replace('loan-','');
							console.log('==>loan: '+loanId);
							retriveLoanDetails(loanId);
							jQuery('.pnl-loan').css('display','');
						}else{
							jQuery('.pnl-loan').css('display','none');
							jQuery('.dptValue').val('{!totalPay - totalpaid}');
						}
					}
				}

				function checkFields(){
					var result = true;
					if ($('.paidByAgency').is(":checked") && $("input[name='radio']:checked").val() == undefined){
						$('.container-paidProvider').addClass('slds-has-error');
						$('#isProdPaidInvalid').show();
						result = false;
					}
					else {
						$('.container-paidProvider').removeClass('slds-has-error');
						$('#isProdPaidInvalid').hide();
					}

					return result;

				}
			</script>
				
		</apex:outputPanel>

		<!-- OFFSHORE DETAILS -->
		<apex:outputpanel id="offShorePaymentDetails" >
			<!-- <apex:pageMessages /> -->
			<apex:outputpanel layout="block" rendered="{!hasOffShorePayment}" styleclass="box">
				<div class="slds-text-heading_small" style="background-color: white; margin-bottom: 5px; padding: 5px; border-radius: 5px;font-weight: 200;">Offshore Payment Details </div>
				<table>
					<tr>
						<td>
							<apex:outputPanel styleClass="SearchField">
								<div class="SearchInput">
									<apex:selectList value="{!selectedAgencyGroup}" style="width:90%;" size="1" id="selAgencyGroup" styleclass="slds-select chosen">
										<apex:SelectOptions value="{!agencyGroupOptions}" />
										<apex:actionSupport event="onchange" action="{!changeAgencyGroup}" status="statusLoad" reRender="offShorePaymentDetails" oncomplete="jQuery('.chosen').chosen();" />
									</apex:selectList>
								</div>
								<div class="SearchFooter"><span class="SearchLabel">Agency Group</span></div>
							</apex:outputPanel>
						</td>

						<td>
							<apex:outputPanel styleClass="SearchField" id="agencies">

								<div class="SearchInput">
									<apex:selectList value="{!selectedAgency}" style="width:90%;" size="1" styleclass="slds-select chosen">
										<apex:SelectOptions value="{!agencyOptions}" />
										<apex:actionSupport event="onchange" action="{!changeAgency}" status="statusLoad" reRender="offShorePaymentDetails" oncomplete="jQuery('.chosen').chosen();" />
									</apex:selectList>
								</div>
								<div class="SearchFooter"><span class="SearchLabel">Agency</span></div>
							</apex:outputPanel>
						</td>

						<td>
							<apex:outputPanel styleClass="SearchField" id="users">
								<div class="SearchInput">
									<apex:selectList value="{!selectedUser}" style="width:90%;" size="1" styleclass="slds-select chosen">
										<apex:SelectOptions value="{!userOptions}" />
									</apex:selectList>
								</div>
								<div class="SearchFooter"><span class="SearchLabel">Payment Received By</span></div>
							</apex:outputPanel>
						</td>

						<td>
							<apex:outputPanel styleClass="SearchField" id="receivedon">
								<div class="SearchInput">
									<apex:inputfield value="{!receivedOn.Expected_Travel_Date__c}" styleclass="slds-input" style="height:23px !important;width: 130px;" />
								</div>
								<div class="SearchFooter"><span class="SearchLabel">Payment Received On</span></div>
							</apex:outputPanel>

						</td>

					</tr>
				</table>
			</apex:outputpanel>
		</apex:outputpanel>

		<br/><br/><br/>
	
		<apex:outputPanel styleClass="closeBar" id="buttons" >
			
			<apex:commandLink action="{!cancelPayment}" value="Cancel" status="statusUpdate" styleClass="slds-button slds-button_neutral"  onclick="window.parent.closeWindow(); return false;" rendered="{!NOT(showError)}" />

			<apex:outputPanel styleClass="pnlButtons" rendered="{!(totalPay - totalpaid) = 0}" >

				<apex:outputpanel layout="none" rendered="{!NOT(showError)}"> 
					<apex:commandLink value="Save" onclick="if(!checkFields()) return false;" action="{!savePayment}" style="margin-left:5px;" status="statusUpdate" styleClass="slds-button slds-button_brand" rerender="listPay, offShorePaymentDetails, buttons" oncomplete="jQuery('.chosen').chosen();" />
				</apex:outputpanel>

				<apex:outputpanel layout="none" rendered="{!showError}">
					<apex:outputpanel layout="none" rendered="{!ISNULL($CurrentPage.parameters.erl)}">
						<apex:commandlink value="Close" styleClass="slds-button slds-button_brand" onclick="window.parent.UpdateOpener(); return false;"/>
						<apex:commandlink value="Email Receipt" style="margin-left:5px;" styleClass="slds-button slds-button_brand" onclick="window.parent.sendReceiptByEmail('product', '{!product[0].Client__c}', '{!product[0].id}',false);return false;"/>

						<apex:commandlink value="Print Receipt" style="margin-left:5px;" styleClass="slds-button slds-button_brand" onclick="window.parent.UpdateOpener(); window.open('products_client_receipt?prod={!product[0].id}&visits=false', '_blank');return false;"/>
					</apex:outputpanel>

					<apex:outputpanel layout="none" rendered="{!NOT(ISNULL($CurrentPage.parameters.erl))}">
						<apex:commandlink value="Close" styleClass="slds-button slds-button_brand" onclick="window.parent.UpdateEnrolments(); return false;"/>

						<apex:commandlink value="Email Receipt" style="margin-left:5px;" styleClass="slds-button slds-button_brand" onclick="window.parent.sendReceiptByEmail('product', '{!product[0].Client__c}', '{!product[0].id}',true);return false;"/>

						<apex:commandlink value="Print Receipt" style="margin-left:5px;" styleClass="slds-button slds-button_brand" onclick="window.parent.UpdateEnrolments(); window.open('products_client_receipt?prod={!product[0].id}&visits=false', '_blank');return false;"/>
					</apex:outputpanel>

				</apex:outputpanel>
			</apex:outputPanel>
		</apex:outputPanel>

	</apex:actionRegion>

</apex:form>

<script>
	
	var totalPay = {!totalPay};

	function changeTotPay(newTotalPay){
		totalPay = newTotalPay;
	}

	function calculateValues(vl, op){
		if(op == 'cvalue')
			jQuery('.crate').val( roundToFour(vl /totalPay) );
		else jQuery('.cvalue').val( roundToTwo(vl * totalPay) );
	}
	
	function roundToTwo(num) {
		return +(Math.round(num + "e+2")  + "e-2");
	}
	
	function roundToFour(num) {
		return +(Math.round(num + "e+4")  + "e-4");
	}
	
	jQuery.fn.ForceNumericOnly =
	function()
	{
		return this.each(function()
		{
			$(this).keydown(function(e)
			{
				if(e.keyCode == 188){
					e.preventDefault(); 
					$(this).val($(this).val() + '.');
				}
				var key = e.charCode || e.keyCode || 0;
				return (
					key == 8 || 
					key == 9 ||
					key == 46 ||
					key == 110 ||
					key == 188 ||   
					key == 190 ||
					(key >= 35 && key <= 40) ||
					(key >= 48 && key <= 57) ||
					(key >= 96 && key <= 105));
				
			});
		});
	};
	
	jQuery(".numberOnly").ForceNumericOnly();
</script>

</html>
</apex:page>