<apex:page >


<apex:include pageName="xStylePage" />
<apex:include pageName="xCourseSearchStyle" />
<apex:includeScript value="{!$Resource.Sticky}"/>
<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />
<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />

<apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.assets,'modalfiles/modal.js')}" />
<apex:stylesheet value="{!URLFOR($Resource.assets,'modalfiles/modal.css')}" />

<table class="tbl_Details">
		<tr>
			<td rowspan="3" class="sidesColumn">
				<c:menuContact ContactID="{!$CurrentPage.parameters.id}" selectedItem="ContactCourses" />
			</td>
			<td class="middleColumn container-header">
				<div class="boxHeader">
					<c:cpPageHeader PageType="contact" contactID="{!$CurrentPage.parameters.id}" />
				</div>
			</td>
			<td rowspan="3" class="rightColumn sidesColumn">
				<c:contactSideBarButtons ContactID="{!$CurrentPage.parameters.id}" />
				<c:cCreateTask popType="modal" cClientId="{!$CurrentPage.parameters.id}" />
				<!-- <br/>
				<apex:form >
					<div class="invoiceStickClass">
						<apex:outputPanel layout="block" id="listInvoice">
							<apex:outputPanel layout="block" styleClass="agencyBorder invoiceBlock" rendered="{!listItemsInvoice.listCourses.size > 0 || listItemsInvoice.listProducts.size > 0}" >
								<div class="miniHeader agencyFont agencyBackground"> Items Invoice</div>
								<table class="newCourse">
									<apex:outputPanel layout="none" rendered="{!listItemsInvoice.listCourses.size > 0}">
										<tr>
											<th>Course</th>
											<th>#</th>
											<th>Value</th>
										</tr>
										<apex:repeat value="{!listItemsInvoice.listCourses}" var="iv">
											<tr>
												<td>
													{!iv.description}
												</td>
												<td>
													{!iv.instNumber}
												</td>
												<td>
													{!iv.value}
												</td>
											</tr>
										</apex:repeat>
									</apex:outputPanel>
									<apex:outputPanel layout="none" rendered="{!listItemsInvoice.listProducts.size > 0}">
										<tr>
											<th>Product</th>
											<th>#</th>
											<th>Value</th>
										</tr>
										<apex:repeat value="{!listItemsInvoice.listProducts}" var="iv">
											<tr>
												<td>
													{!iv.description}
												</td>
												<td>
													{!iv.instNumber}
												</td>
												<td>
													{!iv.value}
												</td>
											</tr>
										</apex:repeat>
									</apex:outputPanel>
								</table>
								<div style="display:block; padding: 11px 0; text-align: center;">
									<apex:commandLink value="Cancel" action="{!clearListInvoice}" rerender="listInvoice, searchResult" status="statusUpdate" styleClass="agencyButton" onclick="if(!confirm('Are you sure you want to cancel?')) return false;" />
									<apex:commandLink value="Create" onClick="modalWind=dhtmlmodal.open('addInvoice', 'iframe', 'client_course_create_invoice?ct={!$CurrentPage.parameters.id}&cs={!listItemsInvoice.coursesId}&pd={!listItemsInvoice.productsId}', 'Create Invoice', 'width=900px,height=645px,resize=0,center=1,scrolling=1'); setCloseModal(); return false"
																		id="addInvoice"  status="statusUpdate" styleClass="agencyButton"  />
								</div>
							</apex:outputPanel>
						</apex:outputPanel>
					</div>
				</apex:form> -->
			</td>
		</tr>
		<tr>
			<td class="middleColumn bodyColumn">
				<apex:include pageName="client_course_invoices_inner_content"/>
			</td>
		</tr>
	</table>
<!--
<c:limits id="pbLimits"/> -->
</apex:page>