<apex:page controller="ClientCourseInstalmentsController" action="{!setupRefund}" tabstyle="client_payments__tab">

<apex:include pageName="xStylePageV2" />
<apex:include pageName="xCourseSearchStyle" />

<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />
<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />

<apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.assets,'modalfiles/modal.js')}" />
<apex:stylesheet value="{!URLFOR($Resource.assets,'modalfiles/modal.css')}" />

<style>

    .box-searh{
        background-color: #F3F3F3;
        border: 1px solid #999999 !important;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0 0 0 #CCCCCC;
        display: block;
        padding: 4px;
    }

    .dateFormat{
        display:none;
    }

    .extraInstallment{
        color: red;
        display: block;
        font-size: 10px;
        margin-top: -8px;
    }

    .SearchLabel2{
        font-style: italic;
        margin-left: 2px;
        margin-top: 1px;
    }

    .rich-tabpanel-content {
         background-color: #FFFFFF;
     }
     .rich-tab-active {
         //background-image: -webkit-gradient(linear, top, bottom, from(#F9C959), to(#EDEDED));
         background-image: -moz-linear-gradient(top center , #F9C959, #FFFFFF);
     }
     .rich-tab-inactive {
         background-color: #EDEDED;
         background-image: none;
     }

    .ui-tabs-hide { display: none !important; }
    .ui-widget-content { border: 0px !important; }
    .tabs { font-size: 1.0em !important; }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        top: 1px !important;
    }


    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        float: left;
        font-size: 12px;
        font-weight: normal;
        text-decoration: none;
        padding:2px;
    }

    .ui-widget-header {
        background: inherit;
        color: #222;
        font-weight: bold;
        border:0px;
    }

    .tabsClient a, .mainTabs  a {
        font-weight:normal;
    }

    .ui-tabs {
        padding: 0em;;
        position: relative;
    }

    .ui-tabs .ui-tabs-panel {
        background: #fff;
    }


    .contactNumbers {
        color: green;
        display: block;
        font-size: 0.8em;
        margin-top: -5px;
    }



    .dateOnlyInput input {
        height: 24px;
        width: 100px;
    }


    .refundSchool thead tr td{
        color: grey;
        padding: 2px;
        border-bottom: 1px solid #ccc;
    }

    .refundSchool tbody tr td{
        border-bottom: 0px;
    }

    .tableInstal tr:nth-child(odd) td .refundSchool thead tr td{
        background: #eee ;
    }

    .tableInstal tr:nth-child(even) td .refundSchool thead tr td{
        background: white ;
    }

    .chosen-container {
        width:150px !important;
    }

    .ownerName{
        display: block;
        font-size: 0.77em;
        font-style: initial;
        margin-top: -6px;
    }


     .tableInstal  thead tr td:first-child {
      border-right: 0px !important;
    }

    .tableInstal .cancelTable thead tr td {
       border: 1px solid #ccc !important;
    }

    .cancelTable{
        font-size: 0.6em;
    }

    .cancelTable thead tr td{
        border:1px solid grey;
        background-color:white;
        padding:2px;
    }

    .cancelTable tbody tr td{
        border-bottom:0px !important;
    }

    .installBalance{
        font-size: 0.8em;
        border-bottom:1px solid #ccc !important;
    }

</style>



<table class="tbl_Details">
    <tr>
        <td class="sidesColumn">
            <c:menuEnrolment selectedItem="refund"/>
        </td>

        <td class="middleColumn bodyColumn">
            <apex:form id="wholePage">
            <apex:pageMessages id="errorMessages"/>



            <apex:actionFunction name="refreshRefund" action="{!findRefunds}" reRender="wholePage" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>



            <div class="mainTabs" style="background: inherit;">
                <apex:outputpanel id="mainTabs">
                    <div onclick="showLoading('Loading');window.location.href ='client_course_instalments_view?gp={!selectedAgencyGroup}&ag={!selectedAgency}&dp={!selectedDepartment}'" class="divTabs ">Pending Instalments<span class="counterTab">{!totalPending}</span></div>
                    <div onclick="showLoading('Loading');window.location.href ='client_course_refunds?gp={!selectedAgencyGroup}&ag={!selectedAgency}&dp={!selectedDepartment}'" class="divTabs divTabSelected">Refund<span class="counterTab">{!lRefunds.size + depositRefunds.size}</span></div>
                    <div onclick="showLoading('Loading');window.location.href ='client_course_credits?gp={!selectedAgencyGroup}&ag={!selectedAgency}&dp={!selectedDepartment}'" class="divTabs">Course Transfer<span class="counterTab">{!totalCredits}</span></div>
                    <div onclick="showLoading('Loading');window.location.href ='client_course_products?gp={!selectedAgencyGroup}&ag={!selectedAgency}&dp={!selectedDepartment}'" class="divTabs">Products<span class="counterTab">{!totalProducts}</span></div>
                </apex:outputpanel>

                <br/><br/><br/>

                <!-- PENDING REFUNDS -->
                <div id="main-2" style="font-size: 12px;">

                        <apex:outputpanel id="filters" styleclass="box-searh" layout="block" style="width:100%;">
                            <table cellpadding="6px;" cellspacing="2px">
                                <tr>
                                    <td>
                                        <apex:outputPanel styleClass="SearchField">
                                            <div class="SearchInput" style="margin: 3px 0;">
                                                <apex:selectList value="{!selectedAgencyGroup}" size="1" style="width:150px;" styleclass="chosen">
                                                      <apex:SelectOptions value="{!agencyGroupOptions}" />
                                                      <apex:actionSupport event="onchange" action="{!changeGroup}" rerender="filters" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>
                                                </apex:selectList>
                                            </div>
                                            <div><span class="SearchLabel2">Agency Group</span></div>
                                        </apex:outputPanel>
                                    </td>
                                    <td>
                                        <apex:outputPanel styleClass="SearchField">
                                            <div class="SearchInput" style="margin: 3px 0;">
                                                <apex:selectList size="1" value="{!selectedAgency}" style="width:150px;" styleclass="chosen">
                                                    <apex:selectOptions value="{!Agencies}" />
                                                    <apex:actionSupport event="onchange" action="{!changeAgency}" status="statusLoad" rerender="filters, searchResult" oncomplete="jQuery('.chosen').chosen();"/>
                                                </apex:selectList>
                                            </div>
                                            <div><span class="SearchLabel2">Agency</span></div>
                                        </apex:outputPanel>
                                    </td>

                                    <td>
                                        <apex:outputPanel styleClass="SearchField">
                                            <div class="SearchInput" style="margin: 3px 0;">
                                                <apex:selectList size="1" value="{!selectedDepartment}" style="width:150px;" styleclass="chosen">
                                                    <apex:selectOptions value="{!Departments}" />
                                                    <!-- <apex:actionSupport event="onchange" action="{!findPendingInstalments}" status="statusLoad" rerender="searchResult" oncomplete="jQuery('.chosen').chosen();"/> -->
                                                </apex:selectList>
                                            </div>
                                            <div><span class="SearchLabel2">Department</span></div>
                                        </apex:outputPanel>
                                    </td>
                                    <td>
                                        <apex:commandLink value="Search" action="{!findRefunds}" status="statusLoad" rerender="errorMessages,searchResult, mainTabs" styleClass="agencyButton" style="padding: 5px 20px; position: relative; top: 9px; font-weight:bold !important " onComplete="jQuery('.chosen').chosen();" />
                                    </td>
                                </tr>
                            </table>
                        </apex:outputpanel>
                        <apex:outputpanel id="searchResult">
                            <apex:outputpanel rendered="{!AND(OR(ISNULL(lRefunds),lRefunds.size<1), OR(ISNULL(depositRefunds),depositRefunds.size<1))}">
                                <div style="text-align:center; color:red; border:1px solid grey; padding:5px; margin-top: 6px;width: 100%;"> No result found. </div>
                            </apex:outputpanel>


                            <apex:outputpanel rendered="{!AND(NOT(ISNULL(lRefunds)),lRefunds.size>0)}" layout="block" styleclass="agencyBackground agencyFont" style="font-weight:bold; padding:5px;font-size: 1.2em;margin-top: 15px;">

                                 <apex:commandLink onclick="javascript:toggle('{!$Component.courseRefund}');javascript:toggle('{!$Component.btnMaxCourse}'); javascript:toggle('{!$Component.btnMinCourse}');return false;"  >
                                    <apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" id="btnMaxCourse" style="position: relative; top: 2px;" />
                                    <apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" id="btnMinCourse" style="display:none;position: relative; top: 2px;"/>
                                </apex:commandLink>

                                Course Refund

                                <span class="counterTab">{!lRefunds.size}</span>

                            </apex:outputpanel>

                            <apex:outputpanel id="courseRefund" style="display:none;">

                                <!-- <apex:outputpanel layout="block" style="margin-top:10px;width: 100%;">
                                    Totals
                                    <div style="float: right; font-weight: bold; font-size: 1.0em;">
                                        <div style="float: left;">Total</div>
                                        <apex:outputpanel layout="block" styleclass="counterBlack"  style="margin-left:5px;">
                                            {!lRefunds.size}
                                        </apex:outputpanel>
                                    </div>
                                    END Totals
                                </apex:outputpanel> -->

                                <script>
                                    jQuery(function() {
                                        jQuery('.tabsClient').tabs();
                                   });
                                </script>
                                <table class="tableInstal">
                                    <thead>
                                        <tr>
                                            <td ><!-- <apex:inputCheckbox onclick="selectAll(this.checked);" styleclass="selectallcheck" title="Select all"/> --></td>
                                            <td>Client Name</td>
                                            <td>School Name/Course</td>

                                            <td style="text-align:center">Details</td>
                                            <td>Status</td>
                                            <td>Actions</td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <apex:variable value="{!0}" var="trCounter" />
                                        <apex:repeat value="{!lRefunds}" var="ref">
                                            <tr class="{!IF(mod(trCounter,2)=0, 'tableInstalOdd', 'tableInstalEven')}">

                                                <td style="width:1%">
                                                    <div style="float:right">
                                                        <apex:commandLink status="statusLoad" onClick="toggle('rn-{!ref.refund.id}'); toggle('{!$Component.buttonMax}'); toggle('{!$Component.buttonMin}'); return false;">
                                                            <apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" id="buttonMax" styleclass="arrow" />
                                                            <apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" id="buttonMin" styleclass="arrow" style="display:none"/>
                                                        </apex:commandLink>
                                                    </div>
                                                </td>

                                                <td style="width: 15%">

                                                    <apex:outputlink value="activity_log?id={!ref.refund.Client__c}" target="_blank"><apex:outputtext value="{!ref.refund.Client__r.Name}" /></apex:outputlink>

                                                    <div class="ownerName">
                                                        <b>Owner:&nbsp;</b><apex:outputtext value="{!ref.refund.Client__r.Owner__r.Name}" />
                                                    </div>

                                                    <apex:variable value="{!mapRefCredCtNumbers[ref.refund.Client__c]}" var="refNumbers" />
                                                    <apex:repeat value="{!refNumbers}" var="refN" >
                                                        <div class="contactNumbers"> {!refN.detail__c}</div>
                                                    </apex:repeat>
                                                </td>

                                                <td style="width: 21%">
                                                    <apex:outputtext value="{!ref.refund.Campus_Name__c}" style="font-size: 0.9em !important;font-weight:bold;"/><br/>
                                                    <apex:outputtext value="{!ref.refund.Course_Name__c}" style="font-size: 0.8em !important;"/>
                                                </td>




                                                <td style="width: 40%">
                                                    <table class="cancelTable" cellpadding="2px" >
                                                        <thead>
                                                            <tr>
                                                                <td>Cancelled By</td>
                                                                <td>Reason</td>
                                                                <td style="white-space: nowrap;">Refund Requested By</td>

                                                                <apex:outputpanel layout="none" rendered="{!ref.refund.Refund_Type__c=='Agency Refund School'}">
                                                                    <td>
                                                                        Paid to School
                                                                    </td>
                                                                </apex:outputpanel>

                                                                <apex:outputpanel layout="none" rendered="{!ref.refund.Refund_Type__c=='School Refund Agency'}">
                                                                    <td>
                                                                        Received from School
                                                                    </td>
                                                                    <!--
                                                                    <td>
                                                                        Paid to Client
                                                                    </td>    -->
                                                                </apex:outputpanel>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td style="{!IF(ref.refund.isRefund__c, 'width:10%', 'width:25%')}">
                                                                    <apex:outputfield value="{!ref.refund.Cancelled_By__r.Name}" />
                                                                    <apex:outputText value=" on " />
                                                                    <apex:outputField value="{!ref.refund.Cancelled_On__c}" />
                                                                </td>
                                                                <td style="{!IF(ref.refund.isRefund__c, 'width:10%', 'width:25%')}"> <apex:outputfield value="{!ref.refund.Credit_Reason__c}" /></td>

                                                                <apex:outputpanel layout="none" rendered="{!ref.refund.isRefund__c || ref.refund.isCourseCredit__c}">
                                                                    <td style="width:10%">
                                                                        <apex:outputField value="{!ref.refund.Credit_Requested_By__r.name}" />
                                                                        <apex:outputText value=" on " />
                                                                        <apex:outputField value="{!ref.refund.Credit_Requested_On__c}" />
                                                                    </td>

                                                                    <apex:outputpanel layout="none" rendered="{!NOT(ISNULL(ref.refund.Refund_Type__c))}">
                                                                        <td style="width:15%">
                                                                            <table style="width:100%" class="installBalance">
                                                                                <tbody>
                                                                                    <apex:outputpanel layout="none" rendered="{!NOT(ISNULL(ref.refund.Credit_Received_On__c))}">

                                                                                        <tr>
                                                                                            <td style="width:50%;font-weight:bold;">Value</td>
                                                                                            <td style="width:50%">
                                                                                                <apex:outputField value="{!ref.refund.Credit_Value__c}" />
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="width:50%;font-weight:bold;">Payment Type</td>
                                                                                            <td style="width:50%">
                                                                                                <apex:outputField value="{!ref.refund.Credit_Payment_Type__c}"   style="text-align:right;"/>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="width:50%;font-weight:bold;">Received On</td>
                                                                                            <td style="width:50%">
                                                                                                <apex:outputField value="{!ref.refund.Credit_Received_On__c}" />
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="width:50%;font-weight:bold;">Received By</td>
                                                                                            <td style="width:50%">
                                                                                                <apex:outputField value="{!ref.refund.Credit_Received_By__r.Name}" />
                                                                                            </td>
                                                                                        </tr>



                                                                                    </apex:outputpanel>

                                                                                    <apex:outputpanel layout="none" rendered="{!ISNULL(ref.refund.Credit_Received_On__c)}">
                                                                                        <tr>
                                                                                            <td style="width:50%;font-weight:bold;">Value</td>
                                                                                            <td style="width:50%">
                                                                                                <apex:outputText value="{0, number, currency}" >
                                                                                                    <apex:param value="{!ref.refund.Credit_Value__c}" />
                                                                                                </apex:outputText>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="width:50%;font-weight:bold;">Payment Type</td>
                                                                                            <td style="width:50%">
                                                                                                <apex:outputtext value="{!ref.refund.Refund_Payment_Type__c}"   style="text-align:right;"/>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="width:50%;font-weight:bold;">Received On</td>
                                                                                            <td style="width:50%">
                                                                                                <apex:outputtext value="{!ref.refund.Credit_Received_On__c}" />
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="width:50%;font-weight:bold;">Received By</td>
                                                                                            <td style="width:50%">
                                                                                                <apex:outputField value="{!ref.refund.Credit_Received_By__r.Name}" />
                                                                                            </td>
                                                                                        </tr>

                                                                                    </apex:outputpanel>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </apex:outputpanel>
                                                                    <!-- <apex:outputpanel layout="none" rendered="{!ref.refund.Refund_Type__c=='School Refund Agency'}">
                                                                        <td style="width:15%">
                                                                            <table style="width:100%" class="installBalance">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="width:50%;font-weight:bold;">Value</td>
                                                                                        <td style="width:50%">
                                                                                            <apex:outputField value="{!ref.refund.Refund_Value__c}"  rendered="{!NOT(ISNULL(ref.refund.Refund_Value__c))}" style="text-align:right;"/>
                                                                                            <apex:outputtext value="-"  rendered="{!ISNULL(ref.refund.Refund_Value__c)}" style="text-align:center;"/>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="width:50%;font-weight:bold;">Refund Type</td>
                                                                                        <td style="width:50%">
                                                                                            <apex:outputField value="{!ref.refund.Refund_Payment_Type__c}"  rendered="{!NOT(ISNULL(ref.refund.Refund_Payment_Type__c))}" style="text-align:right;"/>
                                                                                            <apex:outputtext value="-"  rendered="{!ISNULL(ref.refund.Refund_Payment_Type__c)}" style="text-align:center;"/>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="width:50%;font-weight:bold;">Paid On</td>
                                                                                        <td style="width:50%">
                                                                                            <apex:outputField value="{!ref.refund.Refund_Paid_On__c}"  rendered="{!NOT(ISNULL(ref.refund.Refund_Paid_On__c))}" style="text-align:right;"/>
                                                                                            <apex:outputtext value="-"  rendered="{!ISNULL(ref.refund.Refund_Paid_On__c)}" style="text-align:center;"/>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="width:50%;font-weight:bold;">Paid By</td>
                                                                                        <td style="width:50%">
                                                                                            <apex:outputField value="{!ref.refund.Refund_Paid_By__r.Name}"  rendered="{!NOT(ISNULL(ref.refund.Refund_Paid_On__c))}" style="text-align:right;"/>
                                                                                            <apex:outputtext value="-"  rendered="{!ISNULL(ref.refund.Refund_Paid_On__c)}" style="text-align:center;"/>
                                                                                        </td>
                                                                                    </tr>

                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </apex:outputpanel> -->
                                                                </apex:outputpanel>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                                <td style="width:15%">
                                                    <apex:outputfield value="{!ref.refund.Status__c}" />
                                                </td>
                                                <td style="width:10%">

                                                    <apex:commandlink value="Edit" styleclass="agencyButton" onclick="refundCreditActions('refund', '{!ref.refund.id}', 'refundActions'); return false;" />

                                                    <!-- <apex:selectList styleclass="refundActions chosen" onchange="refundCreditActions(this.value, '{!ref.refund.id}', 'refundActions');" size="1" style="width: 150px;" >
                                                        <apex:selectOption itemValue="noAction" itemLabel="Actions"/>
                                                        <apex:selectOption itemValue="refund" itemLabel="Refund"/>
                                                        <apex:selectOption itemValue="noteTask" itemLabel="Note/Task"/>
                                                    </apex:selectList>  -->
                                                </td>
                                            </tr>
                                            <tr id="rn-{!ref.refund.id}" style="display:none;" class="{!IF(mod(trCounter,2)=0, 'tableInstalOdd', 'tableInstalEven')}">
                                                 <td colspan="8">
                                                    <div class="tabsClient" style="background: inherit;margin-bottom: 10px;">
                                                        <ul>
                                                            <li><a href="#tabRef-1">Course Details</a></li>
                                                            <apex:outputpanel layout="none" rendered="{!ref.listNotes.size>0}"><li><a href="#tabRef-2">Notes</a></li></apex:outputpanel>
                                                            <apex:outputpanel layout="none" rendered="{!ref.listTasks.size>0}"><li><a href="#tabRef-3">Tasks</a></li></apex:outputpanel>
                                                            <li><a href="#tabRef-4">Documents</a></li>
                                                        </ul>

                                                        <!-- Course Details -->
                                                        <div id="tabRef-1">
                                                            <table style="border: 1px solid rgb(193, 193, 193); width: 100%; font-size: 10px;" class="courseDetails">
                                                                <tbody>
                                                                    <tr>
                                                                        <td colspan="4" style="font-weight:bold;"><apex:outputfield value="{!ref.refund.School_Name__c}" /> &nbsp; - &nbsp; <apex:outputfield value="{!ref.refund.Campus_Name__c}" /></td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td style="font-weight:bold;width: 5%;">Course:</td>
                                                                        <td colspan="2"><apex:outputfield value="{!ref.refund.Course_Name__c}" /></td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td style="font-weight:bold;">Duration:</td>
                                                                        <td style="width:17%"><apex:outputfield value="{!ref.refund.Course_Length__c}" /><apex:outputText value="{!ref.refund.Unit_Type__c}" style="margin-left: 5px;" /></td>
                                                                        <td style="width:20%"><span style="font-weight:bold;">Start Date: &nbsp;</span> <apex:outputfield value="{!ref.refund.Start_Date__c}" /></td>
                                                                        <td><span style="font-weight:bold;">End Date: &nbsp;</span><apex:outputfield value="{!ref.refund.End_Date__c}" /></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                        <!-- END Course Details -->

                                                        <!-- Notes-->
                                                        <div id="tabRef-2">


                                                            <apex:outputpanel rendered="{!ref.listNotes.size>0}">

                                                                <table style=" font-size: 10px; width:99.9%;border-spacing:0;border: 1px solid #c1c1c1;" class="courseInstalments">
                                                                    <thead>
                                                                        <tr>
                                                                            <td> Subject </td>
                                                                            <td> Description </td>
                                                                            <td> Note Details </td>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <apex:repeat value="{!ref.listNotes}" var="ntref">
                                                                            <tr>
                                                                                <td style="width:20%">
                                                                                    <apex:commandLink value="{!ntref.Subject__c}" onclick="editTask('{!ntref.id}', 'clientcourse'); return false;" />
                                                                                </td>

                                                                                <td style="width:55%">
                                                                                    <apex:outputText value="{!LEFT(ntref.Comments__c,250)}" styleClass="mini" title="{!ntref.Comments__c}" escape="false" />
                                                                                    <apex:outputText value="..." rendered="{!LEN(ntref.Comments__c) > 250}" styleClass="mini" title="{!ntref.Comments__c}" />
                                                                                </td>

                                                                                <td style="width:25%;font-size:1.3em">
                                                                                    <apex:outputLabel value="Created by: " style="font-weight:bold;" /> <apex:outputLabel value="{!ntref.CreatedBy.Name}" />
                                                                                    <apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
                                                                                    <span style="color:grey; font-size:0.8em;">
                                                                                        <apex:outputField value="{!ntref.createdDate}" />
                                                                                    </span><br/>

                                                                                    <apex:outputLabel value="Last modified: " style="font-weight:bold;" /> <apex:outputLabel value="{!ntref.LastModifiedBy.Name}" />
                                                                                    <apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
                                                                                    <span style="color:grey; font-size:0.8em;">
                                                                                        <apex:outputField value="{!ntref.LastModifiedDate}" />
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                        </apex:repeat>
                                                                    </tbody>
                                                                </table>
                                                            </apex:outputpanel>

                                                        </div>
                                                        <!-- END -- Notes -->

                                                        <!-- Tasks -->
                                                        <div id="tabRef-3">

                                                            <apex:outputpanel rendered="{!ref.listTasks.size>0}">
                                                                <table style=" font-size: 10px; width:99.9%;border-spacing:0;border: 1px solid #c1c1c1;" class="courseInstalments">
                                                                    <thead>
                                                                        <tr>
                                                                            <td> Priority </td>
                                                                            <td> Subject </td>
                                                                            <td> Description </td>
                                                                            <td> Due Date </td>
                                                                            <td> Status </td>
                                                                            <td> Task Details </td>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <apex:repeat value="{!ref.listTasks}" var="tskref">
                                                                            <tr>
                                                                                <td style="width:5%">
                                                                                    <div class="priority{!RIGHT(tskref.Priority__c, LEN(tskref.Priority__c)-4)}" style="width: 80%;">
                                                                                        <apex:outputtext value="{!RIGHT(tskref.Priority__c, LEN(tskref.Priority__c)-3)}" />
                                                                                    </div>
                                                                                </td>

                                                                                <td style="width:10%">
                                                                                    <apex:commandLink value="{!tskref.Subject__c}" onclick="editTask('{!tskref.id}', 'clientcourse'); return false;" />
                                                                                </td>

                                                                                <td style="width:35%">
                                                                                    <apex:outputText value="{!LEFT(tskref.Comments__c,250)}" styleClass="mini" title="{!tskref.Comments__c}" escape="false" />
                                                                                    <apex:outputText value="..." rendered="{!LEN(tskref.Comments__c) > 250}" styleClass="mini" title="{!tskref.Comments__c}" />
                                                                                </td>

                                                                                <td style="width:9%">
                                                                                    <apex:outputpanel layout="none" rendered="{!NOT(ISNULL(tskref.Due_Date__c)) && tskref.Due_Date__c != today()}">
                                                                                        <apex:outputText value="{0,date, dd/MM/yyyy}">
                                                                                            <apex:param value="{!tskref.Due_Date__c}" />
                                                                                        </apex:outputText>
                                                                                            <br/>
                                                                                    </apex:outputpanel>
                                                                                    <apex:outputText value="{!today() - tskref.Due_Date__c} days overdue" rendered="{!NOT(ISNULL(tskref.Due_Date__c)) && tskref.Due_Date__c < today()}" style="color:#FF8484; font-size:0.9em;display:block;margin-top: -4px;" />
                                                                                    <apex:outputText value="Today" rendered="{!NOT(ISNULL(tskref.Due_Date__c)) && tskref.Due_Date__c = today()}" style="color:black; font-size:0.9em;display:block;margin-top: -4px;font-weight:bold;" />
                                                                                    <apex:outputText value="Tomorrow" rendered="{!NOT(ISNULL(tskref.Due_Date__c)) && tskref.Due_Date__c = today()+1}" style="color:black; font-size:0.9em;display:block;margin-top: -4px;" />
                                                                                    <apex:outputText value="in {!tskref.Due_Date__c - today()} days" rendered="{!NOT(ISNULL(tskref.Due_Date__c)) && tskref.Due_Date__c > today()+1}" style="color:black; font-size:0.9em;display:block;margin-top: -4px;" />

                                                                                </td>

                                                                                <td style="width:6%">
                                                                                    <div style="{!IF(tskref.Status__c=='Completed', 'color:#005c18;font-weight:bold;', 'color:black')}">{!tskref.Status__c}</div>
                                                                                </td>

                                                                                <td style="font-size:1.3em;width:25%;">
                                                                                    <apex:outputLabel value="Created by: " style="font-weight:bold;" /> <apex:outputLabel value="{!tskref.CreatedBy.Name}" />
                                                                                    <apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
                                                                                    <span style="color:grey; font-size:0.8em;">
                                                                                        <apex:outputField value="{!tskref.createdDate}" />
                                                                                    </span><br/>

                                                                                    <apex:outputLabel value="Assigned to: " style="font-weight:bold;" /> <apex:outputLabel value="{!tskref.Assign_To__r.Name}" />
                                                                                    <apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
                                                                                    <span style="color:grey; font-size:0.8em;">
                                                                                        <apex:outputField value="{!tskref.AssignedOn__c}" />
                                                                                    </span><br/>

                                                                                    <apex:outputLabel value="Last modified: " style="font-weight:bold;" /> <apex:outputLabel value="{!tskref.LastModifiedBy.Name}" />
                                                                                    <apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
                                                                                    <span style="color:grey; font-size:0.8em;">
                                                                                        <apex:outputField value="{!tskref.LastModifiedDate}" />
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                        </apex:repeat>
                                                                    </tbody>
                                                                </table>
                                                            </apex:outputpanel>
                                                        </div>
                                                        <!-- END -- Tasks-->


                                                        <!-- Documents -->
                                                        <div id="tabRef-4">
                                                            <iframe src="payment_uploadFiles?id={!ref.refund.Cancellation_Docs__c}&obj=Client_Document__c" width="100%" height="auto" style="min-height: 100px;padding: 0px;background: none transparent; background-color: transparent;" allowTransparency="true" />
                                                        </div>
                                                        <!-- END -- Documents -->

                                                    </div>
                                                </td>
                                            </tr>
                                            <apex:variable value="{!trCounter+1}" var="trCounter" />
                                        </apex:repeat>
                                    </tbody>
                                </table>
                            </apex:outputpanel>


                            <apex:outputpanel rendered="{!AND(NOT(ISNULL(depositRefunds)),depositRefunds.size>0)}" layout="block" styleclass="agencyBackground agencyFont" style="font-weight:bold; padding:5px;font-size: 1.2em;margin-top: 15px;">
                                 <apex:commandLink onclick="javascript:toggle('{!$Component.depositRefund}');javascript:toggle('{!$Component.btnMaxDeposit}'); javascript:toggle('{!$Component.btnMinDeposit}');return false;"  >
                                    <apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" id="btnMaxDeposit" style="position: relative; top: 2px;" />
                                    <apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" id="btnMinDeposit" style="display:none;position: relative; top: 2px;"/>
                                </apex:commandLink>

                                Deposit Refund

                                <span class="counterTab">{!depositRefunds.size}</span>
                            </apex:outputpanel>

                            <apex:outputpanel id="depositRefund" style="display:none;">
                                <table class="tableInstal">
                                    <thead>
                                        <tr>
                                            <td>Client Name</td>
                                            <td>Requested by</td>
                                            <td>Description</td>
                                            <td>Amount</td>
                                            <td>Paid to Client By</td>
                                            <td>Paid Date</td>
                                            <td>Actions</td>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <apex:variable value="{!0}" var="trCounter" />
                                        <apex:repeat value="{!depositRefunds}" var="rf">
                                            <apex:actionRegion >
                                                <tr class="{!IF(mod(trCounter,2)=0, 'tableInstalOdd', 'tableInstalEven')}">

                                                    <td style="width:10%">
                                                        <apex:outputlink value="activity_log?id={!rf.Client__c}" target="_blank"><apex:outputtext value="{!rf.Client__r.Name}" /></apex:outputlink>

                                                    </td>

                                                    <td style="width:10%">

                                                        <b>{!rf.CreatedBy.Name}</b> - <span style="color:grey;font-size:0.8em;">({!rf.Refund_Requested_By_Department__r.Name} - {!rf.Refund_Requested_By_Agency__r.Name}) </span>
                                                        <br/>
                                                        <span style="color:grey;font-size:0.9em;">on&nbsp; <b><apex:outputfield value="{!rf.CreatedDate}" /></b></span>
                                                    </td>


                                                    <td style="width:20%">
                                                        <apex:outputText value="{!LEFT(rf.Description__c,500)}" styleClass="mini" title="{!rf.Description__c}" escape="false" />
                                                        <apex:outputText value="..." rendered="{!LEN(rf.Description__c) > 500}" styleClass="mini" title="{!rf.Description__c}" />
                                                    </td>

                                                    <td class="alignRight" style="font-weight:bold;width:5%">
                                                        ({!rf.Deposit__r.CurrencyIsoCode__c})
                                                        <apex:outputText value="{0, number, currency}" >
                                                            <apex:param value="{!rf.Value__c}" />
                                                        </apex:outputText>
                                                    </td>


                                                    <td style="width:10%">
                                                        <b>{!rf.Paid_to_Client_By__r.Name}</b> - <span style="color:grey;font-size:0.8em;">({!rf.Paid_to_Client_By_Department__r.Name} - {!rf.Paid_to_Client_By_Agency__r.Name}) </span>
                                                        <br/>
                                                        <span style="color:grey;font-size:0.9em;">on&nbsp; <b><apex:outputfield value="{!rf.Paid_to_Client_On__c}" /></b></span>
                                                    </td>


                                                    <td style="width:10%">
                                                        <apex:outputfield value="{!rf.Date_Paid__c}" />
                                                    </td>


                                                    <td style="width:10%">
                                                        <apex:commandlink value="Send receipt by email" styleclass="agencyButton" onclick="sendRefundReceipt('{!rf.Client__c}', '{!rf.id}');return false;" immediate="true"/>
                                                    </td>
                                                </tr>
                                            </apex:actionRegion>
                                            <apex:variable value="{!trCounter+1}" var="trCounter" />
                                        </apex:repeat>
                                    </tbody>
                                </table>
                            </apex:outputpanel>
                        </apex:outputpanel>

                </div>
                <!-- END -- PENDING REFUNDS -->

            </div>

            </apex:form>
        </td>
    </tr>
</table>
<script>

    var modalWind;
    var sendEmail = false;
    var listType = '';
    var toRefresh = false;

    jQuery(document).ready(function() {

        jQuery('.chosen').chosen();

    });

    function setFocusOnLoad() {}

    function toggle(popUpDiv) {
        var el = document.getElementById(popUpDiv);
        if ( el.style.display == 'none' ) { el.style.display = '';}
        else {el.style.display = 'none';}
        return false;
    }

    function selectAll(value){
        jQuery('.selectInstalment').each(function(){
            jQuery(this).prop("checked", value);
        });

    }

    function verifySelectedContacts(action){
        var hasClient = false;

        jQuery('.selectInstalment').each(function(){
            if(jQuery(this).is(':checked'))
                hasClient = true;
        });

        if(!hasClient){
            alert('Please select at least one client.');
            jQuery('.actions').val('noAction');
            jQuery(".actions").trigger("chosen:updated");
            return false;
        }else{

            //alert(action);
            sendEmail = true;
            if(action == 'email'){
                actionSendEmail();
            }
            else if(action == 'sms'){
                actionSendSMS();
            }
        }
    }



    function refundCreditActions(action, refundId, type){
        if(action== 'noteTask'){
            newTaskClientCourse(refundId);
            jQuery('.' + type).val('noAction');
            jQuery("." + type).trigger("chosen:updated");
            listType = type;
        }

        else if(action== 'refund'){
            refund(refundId);
            jQuery('.' + type).val('noAction');
            jQuery("." + type).trigger("chosen:updated");
            listType = type;
        }

        else if(action== 'School Credit'){
            credit(refundId);
            jQuery('.' + type).val('noAction');
            jQuery("." + type).trigger("chosen:updated");
            listType = type;
        }
    }


    function setCloseModal(){
        jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
        jQuery('.Close').unbind('click');
        jQuery('.Close').click(function() {closemodal();});

    }

    function setCloseModalUpdate(){
        jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
        jQuery('.Close').unbind('click');
        jQuery('.Close').click(function() {UpdateOpener();});

    }

    function closemodal(){
        jQuery('#interVeil').css('display','none');
        modalWind.close();

        if(toRefresh){
            toRefresh = false;
            refreshRefund();
        }
    }

    function UpdateOpener(){
        jQuery('#interVeil').css('display','none');
        modalWind.close();
        refreshRefund();
    }


    function sendRefundReceipt(contactId,refId){
        toRefresh = true;
        modalWind=dhtmlmodal.open('sendRefundReceipt', 'iframe', 'client_course_email?id='+contactId+'&type=refund&rfid='+refId+'&visits=false', 'Send Email Refund Receipt' , 'width=800px,height=600px,resize=1,center=1,scrolling=1');
        setCloseModal();
    }

    function messageContacts(instalmentIds, action, title){
        modalWind = dhtmlmodal.open('sendEmail', 'iframe', 'client_course_instalments_email?ins='+instalmentIds + '&action='+ action, title, 'width=800px,height=550px,resize=1,center=1,scrolling=0');
        setCloseModal();
        listType = 'instalment';
    }

    function refund(clientcourse){
        modalWind = dhtmlmodal.open('refund', 'iframe', 'client_course_cancel?id='+clientcourse, 'Cancel Course ', 'width=800px,height=800px,resize=1,center=1,scrolling=0');
        setCloseModalUpdate();
    }

    function credit(clientcourse){
        modalWind = dhtmlmodal.open('School Credit', 'iframe', 'client_course_cancel?id='+clientcourse, 'Cancel Course ', 'width=800px,height=800px,resize=1,center=1,scrolling=0');
        setCloseModalUpdate();
    }

    function payInstalment(instalment){
        modalWind = dhtmlmodal.open('payInstalment', 'iframe', 'client_course_instalment_pay?id='+instalment, 'Pay Instalment ', 'width=800px,height=550px,resize=1,center=1,scrolling=0');
        setCloseModalUpdate();
        listType = 'instalment';
    }

    function newTask(instalment, invoice){
        if(instalment!=null && instalment!= '')
            modalWind = dhtmlmodal.open('createTask', 'iframe', 'createTask?pop=modal&instalmentId='+instalment+'&visits=false', 'Task & Note', 'width=800px,height=600px,resize=1,center=1,scrolling=0');
        else if(invoice!=null && invoice!= '')
            modalWind = dhtmlmodal.open('createTask', 'iframe', 'createTask?pop=modal&invoiceId='+invoice+'&visits=false', 'Task & Note', 'width=800px,height=600px,resize=1,center=1,scrolling=0');

        setCloseModal();
        listType = 'instalment';
    }

    function newTaskClientCourse(ccId){
        modalWind = dhtmlmodal.open('createTask', 'iframe', 'createTask?pop=modal&clientCourse='+ccId+'&visits=false', 'Task & Note', 'width=800px,height=600px,resize=1,center=1,scrolling=0');
        setCloseModal();
    }

    function createActivity(instalment, invoice){
        if(instalment!=null && instalment!= '')
            modalWind = dhtmlmodal.open('createActivity', 'iframe', 'client_course_instalments_activity?instalmentId='+instalment+'&visits=false', 'Create Activity', 'width=350px,height=150px,resize=1,center=1,scrolling=0');
        else if(invoice!=null && invoice!= '')
            modalWind = dhtmlmodal.open('createActivity', 'iframe', 'client_course_instalments_activity?invoiceId='+invoice+'&visits=false', 'Create Activity', 'width=350px,height=150px,resize=1,center=1,scrolling=0');

        setCloseModal();
        listType = 'instalment';
    }

    function completeCreateTask(){
        UpdateOpener();
    }

    function completeTaskEdition(){
        UpdateOpener();
    }

    function closeModalCancellation(){
        UpdateOpener();
    }

    function editTask(idTask, type){
       listType = type;
       modalWind = dhtmlmodal.open('editTask', 'iframe', 'editTask?visits=false&task='+idTask, 'Edit Task', 'width=800px,height=650px,resize=1,center=1,scrolling=0');
       setCloseModal();
    }

    function closemodalAddVisit(){
        jQuery('#interVeil').css('display','none');
        modalWind.close();
    }


     function closeTaskModalRefresh(){
        jQuery('#interVeil').css('display','none');
        modalWind.close();
    }

    function confirmPDS(instalment) {
       var answer = confirm('Are you sure you want to PDS this instalment?');
       if (answer){
           PDS(instalment);
           listType = 'instalment';
           return false;
       } else {
           return false;
       }
     }

     function checkStatus(value){
        if(value=='overdue')
            jQuery('.dateFilter').prop('disabled', true);
        else
            jQuery('.dateFilter').prop('disabled', false);
    }

    function createTaskforCancelCourse(clientCourseId){
        closemodal();
        modalWind = dhtmlmodal.open('createTask', 'iframe', 'createTask?pop=modal&clientCourse=' + clientCourseId + '&visits=false', 'Task & Note', 'width=800px,height=600px,resize=1,center=1,scrolling=0');
        setCloseModal();
        isTaskCancelCourse = true;
     }


     function cancelSchoolEmail(clientCourseId, type){
        closemodal();
        modalWind = dhtmlmodal.open('sendEmail', 'iframe', 'payment_school_email?visits=false&type='+type+'&id='+clientCourseId, 'Send Email to School', 'width=900px,height=800px,resize=1,center=1,scrolling=0');
        setCloseModal();
     }

     function cancelClientEmail(clientCourseId, type, clientId){
        closemodal();
        modalWind = dhtmlmodal.open('sendEmail', 'iframe', 'sendMassEmail?type='+type+'&cc='+clientCourseId+'&visits=false&ids='+ clientId, 'Send Email to Client', 'width=800px,height=800px,resize=1,center=1,scrolling=0');
        setCloseModal();
     }


     function viewEmail(filename){
        closemodal();
        modalWind = dhtmlmodal.open('viewEmail', 'iframe', 'view_email?visits=false&filename='+filename, 'View Email', 'width=800px,height=610px,resize=1,center=1,scrolling=0');
        setCloseModal();
     }



</script>
</apex:page>