<apex:page standardController="client_course_instalment__c" extensions="client_course_instalment_amendment" showHeader="false" sideBar="false" docType="html-5.0">
	<apex:includeScript value="{!$Resource.jquery}"/>
	<apex:includeScript value="{!$Resource.jqueryBlockUI}" />

	<apex:include pageName="xStylePage" />
	<apex:include pageName="xCourseSearchStyle" />

	<style>

		.content {
			margin: 1px 0 10px;
			border: solid 1px #c1c1c1;
		}

		.dateFormat{
			display: none !important;
		}

		.installDetails {
		    background-color: white;Refund
		    border-spacing: 2px !important;
		    font-size: 1em;
		    padding: 2px;
		}

		.installDetails tr.name td{
		    font-size: 1.4em;
		    font-weight: bold;
		}

		.labelHeader {
		    font-weight: bold;
		}



		.installDetails .feesInstall td {
		    border-bottom: 0px !important;
		}

		.tblResult {
		    border: 1px solid gray;
		    border-spacing: 0 !important;
		    float: left;
		    margin: 5px;
		    font-size: 1.2em;
		}

		.tblResult td {
		    border-spacing: 0 !important;
		    padding: 3px;
		    text-align: right;
		}


		.clsAmend{
			color: red;
		    //font-size: 1.2em;
		    font-weight: bold;
		}

		.installDetails th{
		    background-color: #f1f1f1;
		    font-weight: bold;
		    min-width: 120px;
		    text-align: left;
		    white-space: nowrap;
		}


		.amendResult {
		    border: 1px solid #ccc;
		    display: inline-block;
		    margin-top: -8px;
		    width: 100%;
		}

		.instCompare{
			border: 1px solid #ccc;
		}


		.instCompare th{
			font-size: 1.1em;
		    font-weight: bold;
		    text-align: left;
		    white-space: nowrap;
		}

		.instCompare tr.instTitles{
			background-color:#f1f1f1;
			font-weight: bold;
		}

		.instCompare tr.instTitles th{
			padding: 5px;
		}

		.message {
			margin:0px !important;
		}

	</style>
	<apex:pageMessage summary="The payment receipt of this instalment is not sent to school yet, please cancel the instalment payment and arrange the necessary adjustments or proceed with the school payment before create the amendment." severity="warning" strength="3" rendered="{!NOT(allowToAmend)}" />

	<apex:form id="wholePage" rendered="{!allowToAmend}">
		<div class="content">
			<table class="installDetails" cellpadding="2px;">
				<tr class="name">
					<td width="120px;">Name</td>
					<td colspan="5">{!instalment.client_course__r.Client__r.name}</td>
				</tr>
				<tr>
					<td class="labelHeader">School / Campus</td>
					<td colspan="5">{!instalment.client_course__r.School_Name__c} - {!instalment.client_course__r.Campus_Name__c}</td>
				</tr>
				<tr>
					<td class="labelHeader">Course</td>
					<td colspan="5">{!instalment.client_course__r.Course_Name__c}</td>
				</tr>

			</table>
		</div>

		<!-- <apex:pageMessage id="creditMsg" title="Important Notice" summary="Please make sure that all amendments are correct before close this page as it cannot be open again to amend." severity="warning" strength="3"  /> -->

		<div class="tabsClient" style="background: inherit;">
			<ul>
				<li><a href="#tabs-1">Tuition Amendment</a></li>
				<li><a href="#tabs-3">Fees Amendment</a></li>
				<apex:outputpanel layout="none" rendered="{!NOT(ISNULL(instalment.Paid_To_School_On__c))}"> <li><a href="#tabs-2">Commission Details</a></li></apex:outputpanel>
				<!-- <apex:outputpanel layout="none" rendered="{!ISNULL($CurrentPage.parameters.ps)}"><li><a href="#tabs-4">Agency Deal</a></li></apex:outputpanel>
				<apex:outputpanel layout="none" rendered="{!ISNULL($CurrentPage.parameters.ps)}"><li><a href="#tabs-5">Scholarship</a></li></apex:outputpanel> -->
			</ul>

			<apex:pageMessages id="errorMsg" />

			<apex:outputPanel layout="block" StyleClass="content" id="dueDate">
				<div class="divHeader" style="font-size:1em !important;">
					Amendment Due Date
				</div>
				<table class="installDetails" cellpadding="2px;" style="border-spacing: 5px; width: auto;font-size:1em !important">
					<tr>
						<td><apex:inputfield value="{!amendment.Due_Date__c}" onchange="jQuery('.saveAmendment').show();"/></td>
					</tr>
				</table>
			</apex:outputPanel>

			<div id="tabs-1">
				<apex:outputPanel layout="block" StyleClass="content" id="pnltuition">
					<div class="divHeader" style="font-size:1em !important;">
						Tuition Amendment
					</div>
					<table class="installDetails" cellpadding="2px;" style="border-spacing: 5px; width: auto;font-size:1em !important">
						<tr>
							<th>Current</th>
							<th>New</th>
							<apex:outputpanel layout="none" rendered="{!instalment.Paid_To_School_On__c!=null}">
								<th>PFS</th>
							</apex:outputpanel>
							<apex:outputpanel layout="none" rendered="{!NOT(ISNULL(amendment.Tuition_Value__c)) && amendment.Tuition_Value__c!=0}">
								<th>Result</th>
							</apex:outputpanel>
						</tr>
						<tr>
							<td>{!instalment.Tuition_Value__c}</td>
							<td><apex:inputText value="{!newTuition}" style="width:75px !important;" onkeyup="jQuery('.saveAmendment').show();"/></td>
							<apex:outputpanel layout="none" rendered="{!instalment.Paid_To_School_On__c!=null}">
								<td>
									<apex:inputfield value="{!amendment.isPFS__c}" rendered="{!NOT(instalment.isPFS__c)}" onchange="jQuery('.saveAmendment').show();"/>
									<apex:outputfield value="{!instalment.isPFS__c}" rendered="{!instalment.isPFS__c}"/>
								</td>
							</apex:outputpanel>
							<apex:outputpanel layout="none" rendered="{!NOT(ISNULL(amendment.Tuition_Value__c)) && amendment.Tuition_Value__c!=0}">
								<td>
									<apex:outputText value="OVERPAID" styleClass="labelHeader" style="color: green;" rendered="{!NOT(ISNULL(amendment.Amendment_Tuition_Balance__c)) && amendment.Amendment_Tuition_Balance__c > 0}" />
									<apex:outputText value="UNDERPAID " styleClass="labelHeader" style="color: red;" rendered="{!NOT(ISNULL(amendment.Amendment_Tuition_Balance__c)) && amendment.Amendment_Tuition_Balance__c < 0}"/>
								</td>
							</apex:outputpanel>
						</tr>
					</table>
				</apex:outputPanel>
			</div>
			<apex:outputpanel layout="none" rendered="{!NOT(ISNULL(instalment.Paid_To_School_On__c))}">
				<div id="tabs-2">
					<apex:outputPanel layout="block" StyleClass="content" id="pnlcommission">
						<div class="divHeader" style="font-size:1em !important;">
							Commission Amendment
						</div>
						<table class="installDetails" cellpadding="2px;" style="border-spacing: 5px; width: auto;font-size:1em !important;">
							<tr>
								<th>Current</th>
								<th>New</th>
								<apex:outputpanel layout="none" rendered="{!NOT(ISNULL(amendment.Amendment_Commission_Balance__c)) && amendment.Amendment_Commission_Balance__c!=0}">
									<th>Result</th>
								</apex:outputpanel>

							</tr>
							<tr>
								<td>{!instalment.Commission__c}</td>
								<td><apex:inputText value="{!amendment.Commission__c}" onkeyup="jQuery('.saveAmendment').show();"/></td>

								<apex:outputpanel layout="none" rendered="{!NOT(ISNULL(amendment.Amendment_Commission_Balance__c)) && amendment.Amendment_Commission_Balance__c!=0}">
									<td>
										<apex:outputText value="OVERPAID" styleClass="labelHeader" style="color: green;" rendered="{!NOT(ISNULL(amendment.Amendment_Commission_Balance__c)) && amendment.Amendment_Commission_Balance__c < 0}" />
										<apex:outputText value="UNDERPAID " styleClass="labelHeader" style="color: red;" rendered="{!NOT(ISNULL(amendment.Amendment_Commission_Balance__c)) && amendment.Amendment_Commission_Balance__c > 0}"/>
									</td>
								</apex:outputpanel>
							</tr>
						</table>
					</apex:outputPanel>
				</div>
			</apex:outputpanel>

			<div id="tabs-3">
				<apex:outputPanel layout="block" id="pnlfees">
					<div class="divHeader" style="font-size:1em !important;">
						New Fee
					</div>
					<div class="content">
						<table class="installDetails" cellpadding="2px;" style="border-spacing: 5px; width: auto;">
							<tr>
								<th>Fee Name</th>
								<th>Price per Unit</th>
								<th>Quantity</th>
								<th>Unit Type</th>
								<th>Total Value</th>
								<th></th>
							</tr>
							<tr>
								<td style="width: 40%;">
				                	<apex:inputField value="{!newFee.Fee_Name__c}"  list="{!extraFeeNames}" html-placeholder="Type Fee Name or Double Click to Select" style="width: 98%;" />
								</td>

								<td>
									<apex:inputField value="{!newFee.Value__c}" style="width: 70px;" styleClass="feeValue numbersOnly" onkeyup="calculateTotalPrice('feeValue','feeLenght','feeTotal');"/>
								</td>

								<td>
									<apex:selectList value="{!newFee.Number_Units__c}" size="1" styleClass="feeLenght" onchange="calculateTotalPrice('feeValue','feeLenght','feeTotal');">
										<apex:selectOptions value="{!NumberOfUnits}" />
									</apex:selectList>
								</td>

								<td>
									<apex:selectList value="{!newFee.Unit_Type__c}" size="1">
										<apex:selectOptions value="{!unitTypes}" />
									</apex:selectList>
								</td>

								<td>
									<apex:inputField value="{!newFee.Total_Value__c}" style="width: 70px;" styleClass="feeTotal numbersOnly"/>
								</td>

								<td valign="top">
									<apex:commandLink style="top: 5px;" action="{!addNewFee}" value="Add Fee" status="statusUpdate" styleClass="agencyButton" reRender=" newFees, pnlfees, saveButton" />
								</td>
							</tr>
						</table>
					</div>
					<br/>
					<apex:outputpanel layout="none" id="newFees">
						<apex:outputpanel layout="block" rendered="{!listFeesToAdd.size>0}" styleclass="content">
							<div class="divHeader" style="font-size:1em !important;">
								Added Fees
							</div>
							<table class="installDetails" cellpadding="2px;" style="border-spacing: 5px; width: auto;">
								<tr>
									<th>Name</th>
									<th>Value</th>
									<th>Keep Fee</th>
									<th></th>
								</tr>
								<apex:repeat value="{!listFeesToAdd}" var="fee">
									<tr>
										<td style="width: 40%;">
						                	<apex:outputtext value="{!fee.feeName}" style="width: 98%;" />
										</td>

										<td>
											<apex:outputtext value="{!fee.feeValue}" style="width: 70px;"/>
										</td>

										<td>
											<apex:inputtext value="{!fee.keepFee}" style="width: 70px;"  onkeyup="jQuery('.saveAmendment').show();" />
										</td>

										<td>
											<apex:commandlink value="Delete" action="{!removeFee}" status="statusLoad" rerender="pnlfees, newFees, saveButton" >
												<apex:param value="{!fee.feeid}" name="idFee"/>
											</apex:commandlink>
										</td>
									</tr>
								</apex:repeat>
							</table>
						</apex:outputpanel>
					</apex:outputpanel>
					<br/>

					<apex:outputpanel layout="none" rendered="{!AND(NOT(ISNULL(feeInstall)), feeInstall.size>0)}" >
						<div class="divHeader" style="font-size:1em !important;">
							Fees Amendment
						</div>
						<apex:variable value="{!0}" var="countItens" />
						<div class="content">
							<table class="installDetails " cellpadding="2px;" style="border-spacing: 5px; width: auto;">
								<tr>
									<th>Name</th>
									<th>Current</th>
									<th>New</th>
									<!-- <th></th> -->
									<th>Keep Fee Current Value</th>
									<th>Keep Fee New Value</th>
									<!-- <th></th> -->
								</tr>
								<apex:repeat value="{!feeInstall}" var="fee">

									<tr>
										<td>{!fee.feeName}</td>
										<td>{!fee.feeValue}</td>
										<td><apex:inputText value="{!fee.feeAmendment}" onkeyup="jQuery('.saveAmendment').show();"/></td>
										<td>{!fee.keepFee}</td>
										<td><apex:inputText value="{!fee.keepFeeAmendment}" onkeyup="jQuery('.saveAmendment').show();"/></td>
									</tr>
								</apex:repeat>
									<!-- <tr>
										<td colspan="4">
											<apex:outputpanel layout="none" rendered="{!NOT(ISNULL(instalment.Amended_Fees_On__c))}">
												<apex:outputText value="Amended by: " styleClass="labelHeader" /> &nbsp;
												<apex:outputField value="{!instalment.Amended_Fees_By__r.name}" />&nbsp;
												<apex:outputText value="On: " styleClass="labelHeader" />&nbsp;
												<apex:outputField value="{!instalment.Amended_Fees_On__c}" />
											</apex:outputpanel>
										</td>
										<td colspan="3">
											<apex:outputpanel layout="none" rendered="{!NOT(ISNULL(instalment.Amended_Keep_Fee_On__c))}">
												<apex:outputText value="Amended by: " styleClass="labelHeader" /> &nbsp;
												<apex:outputField value="{!instalment.Amended_Keep_Fee_By__r.name}" />&nbsp;
												<apex:outputText value="On: " styleClass="labelHeader" />&nbsp;
												<apex:outputField value="{!instalment.Amended_Keep_Fee_On__c}" />
											</apex:outputpanel>
										</td>
									</tr> -->
							</table>
						</div>
					</apex:outputpanel>
				</apex:outputPanel>

			</div>

			<!-- <div id="tabs-4">
				<apex:outputPanel layout="block" StyleClass="content" rendered="{!ISNULL($CurrentPage.parameters.ps)}" id="pnldeal">
					<div class="divHeader">
						Agency Deal
					</div>
					<table class="installDetails" cellpadding="2px;" style="border-spacing: 5px; width: auto;">
						<tr>
							<th>Name</th>
							<th>Current</th>
							<th>New</th>
						</tr>
						<tr>
							<td>{!instalment.Agent_Deal_Name__c}</td>
							<td>{!instalment.Agent_Deal_Value__c}</td>
							<td><apex:inputText value="{!instalment.Amendment_Agency_Deal__c}" /></td>
							<td>
								<apex:commandLink value="Cancel" styleClass="agencyButton" status="statusUpdate" rerender="curAmend, pnldeal"  onclick="return false" />
								<apex:commandLink value="Save" action="{!saveAgencyDeal}" styleClass="agencyButton" status="statusUpdate" rerender="curAmend, pnldeal, instCompare"  onclick="if(!confirm('Are you sure you want to Amend Agency Deal')) return false;"  />
							</td>
						</tr>
						<apex:outputpanel layout="none" rendered="{!NOT(ISNULL(instalment.Amended_Agency_Deal_On__c))}">
							<tr>
								<td colspan="2">
									<apex:outputText value="Deal: " styleClass="labelHeader" />
									<apex:outputText value="OVERPAID" styleClass="labelHeader" style="color: green;" rendered="{!(instalment.Agent_Deal_Value__c - instalment.Amendment_Agency_Deal__c) > 0}" />
									<apex:outputText value="UNDERPAID " styleClass="labelHeader" style="color: red;" rendered="{!(instalment.Agent_Deal_Value__c - instalment.Amendment_Agency_Deal__c) < 0}"/>
								</td>
							</tr>

							<tr>
								<td colspan="2">
									<apex:outputText value="Amended by: " styleClass="labelHeader" /> &nbsp;
									<apex:outputField value="{!instalment.Amended_Agency_Deal_By__r.name}" />&nbsp;
									<apex:outputText value="On: " styleClass="labelHeader" />&nbsp;
									<apex:outputField value="{!instalment.Amended_Agency_Deal_On__c}" />
								</td>
							</tr>
						</apex:outputpanel>
					</table>
				</apex:outputPanel>
			</div>

			<div id="tabs-5">
				<apex:outputPanel layout="block" StyleClass="content" rendered="{!ISNULL($CurrentPage.parameters.ps)}" id="pnlscholarship">
					<div class="divHeader">
						Scholarship
					</div>
					<table class="installDetails" cellpadding="2px;" style="border-spacing: 5px; width: auto;">
						<tr>
							<th>Current</th>
							<th>New</th>
						</tr>
						<tr>
							<td>{!instalment.Scholarship_Taken__c}</td>
							<td><apex:inputText value="{!instalment.Amendment_Scholarship__c}" /></td>
							<td>
								<apex:commandLink value="Cancel" styleClass="agencyButton" status="statusUpdate" rerender="curAmend, pnlscholarship" onclick="return false" />
								<apex:commandLink value="Save" action="{!saveScholarship}" styleClass="agencyButton" status="statusUpdate" rerender="curAmend, pnlscholarship, instCompare" onclick="if(!confirm('Are you sure you want to Amend Scholarship')) return false;"  />
							</td>
						</tr>
						<apex:outputpanel layout="none" rendered="{!NOT(ISNULL(instalment.Amended_Scholarship_On__c))}">
							<tr>
								<td colspan="2">
									<apex:outputText value="Deal: " styleClass="labelHeader" />
									<apex:outputText value="OVERPAID" styleClass="labelHeader" style="color: green;" rendered="{!(instalment.Scholarship_Taken__c - instalment.Amendment_Scholarship__c) > 0}" />
									<apex:outputText value="UNDERPAID " styleClass="labelHeader" style="color: red;" rendered="{!(instalment.Scholarship_Taken__c - instalment.Amendment_Scholarship__c) < 0}"/>
								</td>
							</tr>

							<tr>
								<td colspan="2">
									<apex:outputText value="Amended by: " styleClass="labelHeader" /> &nbsp;
									<apex:outputField value="{!instalment.Amended_Scholarship_By__r.name}" />&nbsp;
									<apex:outputText value="On: " styleClass="labelHeader" />&nbsp;
									<apex:outputField value="{!instalment.Amended_Scholarship_On__c}" />
								</td>
							</tr>
						</apex:outputpanel>
					</table>
				</apex:outputPanel>
			</div> -->
		</div>

		<apex:outputpanel id="saveButton">
			<apex:outputpanel layout="block" styleclass="saveAmendment" style="{!IF(addedFee, '' , 'display:none')}; width:100%; text-align:center;">
				<apex:commandLink value="Cancel" action="{!cancelChanges}" immediate="true" styleClass="agencyButton" status="statusLoad" rerender="wholePage" oncomplete="jQuery('.tabsClient').tabs();" />
				<apex:commandLink value="Save" action="{!saveAmendment}"
					styleClass="agencyButton" status="statusLoad" rerender="errorMsg,curAmend, pnltuition, pnlcommission, instCompare, saveButton" onclick="if(!confirm('Are you sure you save the amendment?')) return false;" />
			</apex:outputpanel>
		</apex:outputpanel>
		<br/>
		<div style="padding:9px; margin-top:-5px;">
		<apex:outputPanel id="curAmend" >
			<apex:outputpanel rendered="{!NOT(ISNULL(amendment.id))}" styleclass="amendResult" layout="block">
				<div class="divHeader">
					Current Amendments
				</div>
				<table class="tblResult" >

					<tr>
						<th>Type</th>
						<th>Result</th>
						<th>Value</th>
					</tr>

					<tr style="{!IF(amendment.Amendment_Tuition_Balance__c!=0,'','display:none;')}">
						<td>
							Tuition
						</td>
						<td>
							<apex:outputText value="OVERPAID" styleClass="labelHeader" style="color: green;" rendered="{!NOT(ISNULL(amendment.Amendment_Tuition_Balance__c)) && amendment.Amendment_Tuition_Balance__c > 0}" />
							<apex:outputText value="UNDERPAID " styleClass="labelHeader" style="color: red;" rendered="{!NOT(ISNULL(amendment.Amendment_Tuition_Balance__c)) && amendment.Amendment_Tuition_Balance__c < 0}"/>
						</td>
						<td>
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!ABS(amendment.Amendment_Tuition_Balance__c)}" />
							</apex:outputText>

						</td>
					</tr>

					<tr style="{!IF(amendment.Commission_Adjustment__c!=0,'','display:none;')}">
						<td>
							Commission + Tax
						</td>
						<td>
							<apex:outputText value="OVERPAID" styleClass="labelHeader" style="color: green;" rendered="{!NOT(ISNULL(amendment.Commission_Adjustment__c)) && amendment.Commission_Adjustment__c < 0}" />
							<apex:outputText value="UNDERPAID " styleClass="labelHeader" style="color: red;" rendered="{!NOT(ISNULL(amendment.Commission_Adjustment__c)) && amendment.Commission_Adjustment__c > 0}"/>
						</td>
						<td>
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!ABS(amendment.Commission_Adjustment__c + amendment.Commission_Tax_Adjustment__c)}" />
							</apex:outputText>

						</td>
					</tr>


					<tr style="{!IF(amendment.isPFS__c && !instalment.isPFS__c,'','display:none;')}">
						<td>
							PFS Adjustment
						</td>
						<td>
							<!-- <apex:outputText value="OVERPAID" styleClass="labelHeader" style="color: green;" rendered="{!NOT(ISNULL(amendment.Commission_Adjustment__c)) && amendment.Commission_Adjustment__c < 0}" /> -->
							<apex:outputText value="UNDERPAID " styleClass="labelHeader" style="color: red;"/>
						</td>
						<td>
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!amendment.Amendment_PFS_Adjustment__c}" />
							</apex:outputText>

						</td>
					</tr>


					<!-- <tr style="{!IF(amendment.Commission_Value__c!=0,'','display:none;')}">
						<td>
							Commission + Tax
						</td>
						<td>
							<apex:outputText value="OVERPAID" styleClass="labelHeader" style="color: green;" rendered="{!NOT(ISNULL(amendment.Commission_Value__c)) && amendment.Commission_Value__c > 0}" />
							<apex:outputText value="UNDERPAID " styleClass="labelHeader" style="color: red;" rendered="{!NOT(ISNULL(amendment.Commission_Value__c)) && amendment.Commission_Value__c < 0}"/>
						</td>
						<td>
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!ABS(amendment.Commission_Value__c + amendment.Commission_Tax_Value__c)}" />
							</apex:outputText>

						</td>
					</tr> -->


					<tr style="{!IF(amendment.Amendment_Fee_Balance__c!=0,'','display:none;')}">
						<td>
							Extra Fee
						</td>
						<td>
							<apex:outputText value="OVERPAID" styleClass="labelHeader" style="color: green;" rendered="{!NOT(ISNULL(amendment.Amendment_Fee_Balance__c)) && amendment.Amendment_Fee_Balance__c > 0}" />
							<apex:outputText value="UNDERPAID " styleClass="labelHeader" style="color: red;" rendered="{!NOT(ISNULL(amendment.Amendment_Fee_Balance__c)) && amendment.Amendment_Fee_Balance__c < 0}"/>
						</td>
						<td>
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!ABS(amendment.Amendment_Fee_Balance__c)}" />
							</apex:outputText>

						</td>
					</tr>

					<tr style="{!IF(amendment.Amendment_Keep_Fee_Balance__c!=0,'','display:none;')}">
						<td>
							Keep Fee
						</td>
						<td>
							<apex:outputText value="OVERPAID" styleClass="labelHeader" style="color: green;" rendered="{!NOT(ISNULL(amendment.Amendment_Fee_Balance__c)) && amendment.Amendment_Keep_Fee_Balance__c > 0}" />
							<apex:outputText value="UNDERPAID " styleClass="labelHeader" style="color: red;" rendered="{!NOT(ISNULL(amendment.Amendment_Fee_Balance__c)) && amendment.Amendment_Keep_Fee_Balance__c < 0}"/>
						</td>
						<td>
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!ABS(amendment.Amendment_Keep_Fee_Balance__c)}" />
							</apex:outputText>

						</td>
					</tr>
				</table>

				<table class="tblResult" style="width:120px">
					<tr>
						<td style="text-align:center;">
							<apex:outputText value="Charge Client" style="color: green;font-size: 1.2em;"
								rendered="{!AND(NOT(ISNULL(amendment.Amendment_Total_Charge_Client__c)), amendment.Amendment_Total_Charge_Client__c > 0)}" />
							<apex:outputText value="Refund Client" style="color: red;font-size: 1.2em;"
								rendered="{!AND(NOT(ISNULL(amendment.Amendment_Total_Charge_Client__c)), amendment.Amendment_Total_Charge_Client__c < 0)}" />
						</td>
					</tr>
					<tr>
						<td style="text-align:center;font-size: 1.2em;">
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!ABS(amendment.Amendment_Total_Charge_Client__c)}" />
							</apex:outputText>
						</td>
					</tr>
				</table>

				<table class="tblResult">
					<tr>
						<td>
							<apex:outputText value="Receive from School" style="color: green;font-size: 1.2em;" />
						</td>
					</tr>
					<tr>
						<td style="text-align:center;font-size: 1.2em;">
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!amendment.Amendment_Receive_From_School__c}" />
							</apex:outputText>
						</td>
					</tr>

				</table>

				<table class="tblResult">
					<tr>
						<td>
							<apex:outputText value="Pay to School" style="color: red;font-size: 1.2em;"  />
						</td>
					</tr>
					<tr>
						<td style="text-align:center;font-size: 1.2em;">
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!amendment.Total_School_Payment__c}" />
							</apex:outputText>
						</td>
					</tr>

				</table>





			</apex:outputpanel>
		</apex:outputPanel>




		<apex:outputpanel id="instCompare">
			<apex:outputpanel rendered="{!NOT(ISNULL(amendment.id))}">
				<div class="divHeader" style="margin-top: 15px;">
					Instalment Comparison
				</div>
				<table class="instCompare" >
					<tr>
						<th colspan="15">
							Instalment Nº
							<apex:outputText value="{!instalment.Number__c}" style="margin-left: 5px;" />

							<apex:outputText value="." rendered="{!NOT(ISNULL(instalment.Split_Number__c))}" style="{!IF(instalment.Due_Date__c < today(),'color:red; font-weight: bold;','')}" />
	 						<apex:outputText value="{!instalment.Split_Number__c}" rendered="{!NOT(ISNULL(instalment.Split_Number__c))}" style="{!IF(instalment.Due_Date__c < today(),'color:red; font-weight: bold;','')}"/>
						</th>
					</tr>
					<tr class="instTitles">
						<th style="width:60px; min-width: 60px;"></th>
						<th style="width:10%">Due Date</th>
						<th style="width:10%">Tuition Fee</th>
						<th style="width:10%">Extra Fee</th>
						<th style="width:10%">Discount</th>
						<th style="width:10%">Inst. Value</th>

						<th style="width:10%"  class="finance">
							Comm.&nbsp;<apex:outputText value="{!IF(commissionType==1,'Cash','%')}" />
						</th>

						<th style="width:10%" class="finance">Comm.</th>

						<th style="width:10%" class="finance">Tax</th>
						<th style="width:10%" class="finance">
							<img class="helpIcon" alt="" src="/s.gif" title="Keep Fee" />
							KeepFee
						</th>
						<th style="width:10%" class="finance">Scholarship</th>

						<th style="width:10%" class="finance">
							Balance
						</th>

						<th style="width:10%" class="finance">
							PFS
						</th>

						<th style="width:10%; " class="finance">
							Pay School
						</th>


					</tr>
					<tr>
						<td style="text-decoration: none;text-align: left; font-weight:bold;">
							Previous
						</td>
						<td style="text-align:center;">
						 	<apex:outputText value="{0,date, dd/MM/yyyy}" >
								<apex:param value="{!instalment.Due_Date__c}" />
							</apex:outputText>
						</td>
						<td>
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!instalment.Tuition_Value__c}" />
							</apex:outputText>
						</td>

						<td>
							<apex:outputText value="{0, number, currency}" styleClass="feeValue-{!instalment.id}" >
								<apex:param value="{!instalment.Extra_Fee_Value__c-instalment.Extra_Fee_Discount_Value__c}" />
							</apex:outputText>

						</td>
						<td style="text-align:center;">
							<apex:outputField value="{!instalment.Discount__c}" />
						</td>
						<td>
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!instalment.Instalment_Value__c}" />
							</apex:outputText>
						</td>
						<td class="finance">

							<apex:outputField value="{!instalment.Commission__c}" rendered="{!amendment.Commission_Adjustment__c==0}"/>

							<apex:outputpanel layout="block"  style="color:red;font-weight:bold;" rendered="{!amendment.Commission_Adjustment__c!=0}">
								<apex:outputField value="{!amendment.Commission__c}" />
							</apex:outputpanel>

						</td>
						<td class="finance">

							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!instalment.Commission_Value__c}" />
							</apex:outputText>

							<apex:outputpanel layout="block"  rendered="{!amendment.Commission_Adjustment__c!=0}">
								<apex:outputText value="{0, number, currency}" style="color:red;font-weight:bold;">
									<apex:param value="{!amendment.Commission_Adjustment__c}" />
								</apex:outputText>
							</apex:outputpanel>
						</td>
						<td class="finance">
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!instalment.Commission_Tax_Value__c}" />
							</apex:outputText>

							<apex:outputpanel layout="block" rendered="{!amendment.Commission_Tax_Adjustment__c!=0}">
								<apex:outputText value="{0, number, currency}"  style="color:red;font-weight:bold;" >
									<apex:param value="{!amendment.Commission_Tax_Adjustment__c}" />
								</apex:outputText>
							</apex:outputpanel>

						</td>

						<td class="finance">
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!instalment.Kepp_Fee__c}" />
							</apex:outputText>
						</td>

						<td class="finance">
							<apex:outputField value="{!instalment.Scholarship_Taken__c}" />
						</td>

						<td class="finance">
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!instalment.Balance__c}" />
							</apex:outputText>
						</td>


						<td class="finance">
							<apex:outputField value="{!instalment.isPFS__c}"  />
						</td>

						<td class="finance">
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!instalment.Total_School_Payment__c}" />
							</apex:outputText>
						</td>

					</tr>

					<!-- Updated Values -->
					<tr>
						<td style="text-decoration: none;text-align: left; font-weight:bold;">
							Amended
						</td>
						<td style="text-align:center;">
						 	<apex:outputText value="{0,date, dd/MM/yyyy}" >
								<apex:param value="{!amendment.Due_Date__c}" />
							</apex:outputText>
						</td>
						<td>
							<apex:outputText value="{0, number, currency}" style="{!IF(amendment.Tuition_Value__c != 0, 'color:red;font-weight:bold;', '')}">
								<apex:param value="{!amendment.Tuition_Value__c}" />
							</apex:outputText>
						</td>

						<td>
							<apex:outputText value="{0, number, currency}" styleClass="feeValue-{!amendment.id}" >
								<apex:param value="{!amendment.Extra_Fee_Value__c-amendment.Extra_Fee_Discount_Value__c}" />
							</apex:outputText>

						</td>
						<td style="text-align:center;">
						 	-
						</td>
						<td>
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!amendment.Instalment_Value__c}" />
							</apex:outputText>
						</td>
						<td class="finance">
							<div style="{!IF(amendment.Commission__c != instalment.Commission__c, 'color:red;font-weight:bold;', '')}">
								<apex:outputField value="{!amendment.Commission__c}"  />
							</div>
						</td>
						<td class="finance">

							<apex:outputText value="{0, number, currency}" style="{!IF(amendment.Amendment_Commission_Balance__c != 0, 'color:red;font-weight:bold;', '')}">
								<apex:param value="{!amendment.Commission_Value__c}" />
							</apex:outputText>
						</td>
						<td class="finance">
							<apex:outputText value="{0, number, currency}" style="{!IF(amendment.Amendment_Tax_Balance__c != 0, 'color:red;font-weight:bold;', '')}">
								<apex:param value="{!amendment.Commission_Tax_Value__c}" />
							</apex:outputText>

						</td>

						<td class="finance">
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!amendment.Kepp_Fee__c}" />
							</apex:outputText>
						</td>

						<td class="finance">
							<apex:outputField value="{!amendment.Scholarship_Taken__c}" />
						</td>

						<td class="finance">
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!amendment.Balance__c}" />
							</apex:outputText>
						</td>


						<td class="finance">
							<apex:outputField value="{!amendment.isPFS__c}"  />
						</td>

						<td class="finance">
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!amendment.Total_School_Payment__c}" />
							</apex:outputText>
						</td>
					</tr>

					<!-- Totals >
					<tr class="instTitles">
						<td style="text-decoration: none;text-align: left;font-weight:bold;">
							Total
						</td>
						<td style="text-align:center;">
						 	-
						</td>
						<td>
							<apex:outputText value="{0, number, currency}">
								<apex:param value="{!amendment.Tuition_Value__c}" />
							</apex:outputText>
						</td>

						<td>
							<apex:outputText value="{0, number, currency}" styleClass="feeValue-{!amendment.id}" >
								<apex:param value="{!amendment.Amendment_Fee_Balance__c}" />
							</apex:outputText>

						</td>
						<td style="text-align:center;">
						 	-
						</td>
						<td>
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!amendment.Amendment_Instalment_Balance__c}" />
							</apex:outputText>
						</td>
						<td style="text-align:center;">
						 	-
						</td>
						<td class="finance">

							<apex:outputText value="{0, number, currency}">
								<apex:param value="{!amendment.Amendment_Commission_Balance__c}" />
							</apex:outputText>
						</td>
						<td class="finance">
							<apex:outputText value="{0, number, currency}">
								<apex:param value="{!amendment.Amendment_Tax_Balance__c}" />
							</apex:outputText>

						</td>

						<td class="finance">
							<apex:outputText value="{0, number, currency}" >
								<apex:param value="{!amendment.Amendment_Keep_Fee_Balance__c}" />
							</apex:outputText>
						</td>

						<td class="finance">
							<apex:outputField value="{!amendment.Scholarship_Taken__c}" />
						</td>

						<td style="text-align:center;">
						 	-
						</td>


						<td class="finance">
							<apex:outputField value="{!amendment.isPFS__c}"  />
						</td>

						<td style="text-align:center;">
						 	-
						</td>
					</tr>
					<!-- End Totals -->
				</table>
			</apex:outputpanel>
		</apex:outputpanel>
		</div>

	</apex:form>



	<script>
	   jQuery(function() {
        	jQuery('.tabsClient').tabs();
       });

       function calculateTotalPrice(firstClass, secondClass, resultClass){

			var first = jQuery('.'+firstClass).val() * 1;
			var second = jQuery('.'+secondClass).val() * 1;
			jQuery('.'+resultClass).val( roundToTwo(first * second) );
		}

       function roundToTwo(num) {
		    return +(Math.round(num + "e+2")  + "e-2");
	 	}

	</script>
</apex:page>