<apex:page showHeader="true" sidebar="true" controller="client_course_add_packages">
    <apex:include pageName="xStylePageV2" />
    <apex:include pageName="xCourseSearchStyle" />

<style>
    .boldTitle{
        font-weight: bold;
        font-size: 1.1em;
        position: relative;
        top: 2px;
        margin-left: 12px;
    }

    .divContent div {
        padding: 3px;
    }

    .dateFormat{display:none !important;}

    .requiredBlock{
        display:none;
    }

    .requiredInput{
        height:auto !important;
    }

    

</style>



<table class="tbl_Details">
    <tr>
        <td rowspan="3" class="sidesColumn">
            <c:menuContact ContactID="{!$CurrentPage.parameters.cid}" selectedItem="ContactCourses" />
        </td>
        <td class="middleColumn">
            <div class="boxHeader">
                <c:cpPageHeader PageType="contact" contactID="{!$CurrentPage.parameters.cid}" />
            </div>
        </td>
        <td rowspan="3" class="rightColumn sidesColumn">
            <c:contactSideBarButtons ContactID="{!$CurrentPage.parameters.cid}" />
            <apex:outputpanel ><c:cclient_checklist idContact="{!$CurrentPage.parameters.cid}" /></apex:outputpanel>
            <br/>
            <c:cCreateTask popType="modal" cClientId="{!$CurrentPage.parameters.cid}" />
        </td>
    </tr>
    <tr>
        <td class="middleColumn bodyColumn">
            <apex:form >
                <div class="title" style="font-size:1.5em;margin-bottom:15px;">
                    <!-- <span class="arrow-e" style="font-size: 1.5em;"></span> -->
                    Let's fill in the basic information to create the package course
                 </div>

                <!-- CLIENT DETAILS -->
                <apex:outputpanel style="width: 100%; display: table; margin-bottom: 15px; text-align: right !important;" rendered="{!ISNULL($CurrentPage.parameters.nc)}">
                    
                    <div style="float:right;">
                       <apex:inputtext value="{!clientNumber}" />
                    </div>
                    <div class="boldTitle" style="float:right;padding-right:3px;">
                        Student Number:
                    </div>

                    <div style="float:right;">
                        <apex:selectList value="{!clientType}" size="1" >
                            <apex:SelectOptions value="{!clientTypeOpt}" />
                        </apex:selectList>
                    </div>

                    <div class="boldTitle" style="float:right;padding-right:3px;">
                        Client Type:
                    </div>
                </apex:outputpanel>
               
                <apex:variable value="{!0}" var="rowId" />


                <!-- PACKAGE COURSES -->
                <apex:repeat value="{!packageCourses}" var="p">

                    <apex:variable value="{!rowId + 1}" var="rowId" />

                    <div class="divHeader">
                        {!p.Course_Name__c}
                    </div>

                    <div class="divContent" style="display:inline-flex; width:98.85%">

                        <!-- DURATION -->
                        <div class="boldTitle">
                            Duration:
                        </div>
                        <div>
                            <apex:selectList value="{!p.Course_Length__c}" size="1" styleclass="{!rowId}-duration" onchange="calculateEndDate('{!rowId}');">
                                <apex:SelectOptions value="{!numberOfUnits}" />
                            </apex:selectList>
                            <apex:selectList value="{!p.Unit_Type__c}" size="1" styleclass="{!rowId}-unitType" style="margin-left: 3px;" onchange="calculateEndDate('{!rowId}');">
                                <apex:selectOptions value="{!unitType}" />
                            </apex:selectList>
                        </div>

                        <!-- FREE WEEKS -->
                        <div class="boldTitle">
                            Free Weeks:
                        </div>
                        <div>
                            <apex:inputField value="{!p.Free_Weeks__c}" styleclass="{!rowId}-freeWeeks"  onchange="calculateEndDate('{!rowId}');" style="width: 40px;"/>
                        </div>


                        <!-- START DATE -->
                        <div class="boldTitle">
                            Start Date:
                        </div>
                        <div>
                            <apex:inputField value="{!p.Start_Date__c}" styleClass="{!rowId}-startDate" style="width:68px;height: 20px; padding: 0 0 0 1px;" onchange="calculateEndDate('{!rowId}');" required="true"/>
                        </div>

                        <!-- END DATE -->
                        <div class="boldTitle">
                            End Date:
                        </div>
                        <div>
                            <apex:inputField value="{!p.End_Date__c}" styleClass="{!rowId}-endDate" style="width:68px;height: 20px;  padding: 0 0 0 1px;" required="true"/>
                        </div>

                        <apex:outputpanel layout="none" rendered="{!ISNULL($CurrentPage.parameters.nc)}">
                            <div class="boldTitle">
                                Package First Course: 
                            </div>
                            <div >
                                <apex:inputField value="{!p.isPackage__c}"  styleClass="firstCourse  rw-{!rowId}" onclick="changeFirstCourse({!rowId});" />
                            </div>
                        </apex:outputpanel>
                    </div>
                    <br/><br/>
                </apex:repeat>

                <div style="width:100%; text-align:center; margin-top: 20px;">
                    <apex:commandlink value="Create Package Course" action="{!saveCourses}" status="statusLoad" styleclass="agencyButton" />
                </div>

            </apex:form>
        </td>
    </tr>
</table>


<script>

    function changeFirstCourse(rowId){
        $('.firstCourse').each(function( index ){
            if(!$(this).hasClass('rw-' + rowId))
                $(this).attr('checked', false);
        });
    }

    function calculateEndDate(rowId){
        var startDate = jQuery('.' + rowId + '-startDate').val();
        var endDate = new Date();

        var duration;
        var unitType;
        var freeWeeks;

        duration = jQuery('.' + rowId + '-duration').val();
        unitType = jQuery('.' + rowId + '-unitType').val();
        freeWeeks = Number(jQuery('.' + rowId + '-freeWeeks').val());

        if(duration != '' && unitType != '' && startDate != ''){


            var parts = startDate.split('/');

            var sd = new Date(parts[2], parts[1] - 1, parts[0]);


            if(unitType.toLowerCase() == 'day'){
                endDate = sd.addDays(duration*1 + freeWeeks*7 );
            }

            else if(unitType.toLowerCase() == 'week'){
                endDate = sd.addDays(duration*7  + freeWeeks*7);
            }

            else if(unitType.toLowerCase() == 'month'){
                endDate = sd.addMonths(duration*1);
                endDate = sd.addDays(freeWeeks*7);
            }

            else if(unitType.toLowerCase() == 'quarter'){
                endDate = sd.addMonths(duration*3);
                endDate = sd.addDays(freeWeeks*7);
            }

            else if(unitType.toLowerCase() == 'semester'){
                endDate = sd.addMonths(duration*6);
                endDate = sd.addDays(freeWeeks*7);
            }

            else if(unitType.toLowerCase() == 'year'){
                endDate = sd.addMonths(duration*12);
                endDate = sd.addDays(freeWeeks*7);
            }


            endDate = convertDate(endDate);
            jQuery('.' + rowId + '-endDate').val(endDate);

        }
    }

    function convertDate(inputFormat) {
        function pad(s) { return (s < 10) ? '0' + s : s; }
        var d = new Date(inputFormat);
        return [pad(d.getDate()), pad(d.getMonth()+1), d.getFullYear()].join('/');
    }

    Date.isLeapYear = function (year) {
        return (((year % 4 === 0) && (year % 100 !== 0)) || (year % 400 === 0));
    };

    Date.getDaysInMonth = function (year, month) {
        return [31, (Date.isLeapYear(year) ? 29 : 28), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31][month];
    };

    Date.prototype.isLeapYear = function () {
        return Date.isLeapYear(this.getFullYear());
    };

    Date.prototype.getDaysInMonth = function () {
        return Date.getDaysInMonth(this.getFullYear(), this.getMonth());
    };

    Date.prototype.addDays = function(days){
        var dat = new Date(this.valueOf());
        dat.setDate(dat.getDate() + days);
        return dat;
    }

    Date.prototype.addMonths = function (value) {
        var n = this.getDate();
        this.setDate(1);
        this.setMonth(this.getMonth() + value);
        this.setDate(Math.min(n, this.getDaysInMonth()));
        return this;
    };

</script>
	
</apex:page>