<apex:page showHeader="true" sidebar="true" controller="client_course_cancel_followup" tabstyle="client_payments__tab">

<apex:include pageName="EnrolmentStyle"/>

<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"/>
<apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"/>
<apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone.js"/>


<html xmlns:ng="http://angularjs.org" lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <head>
        <style>
            .chosen-container{
				min-width:250px !important;
				max-width:250px !important;
			}
            .STYLE_IN_PROGRESS {
                background-color: gold;
                color: black;
            }

            .missDocuments {
                background-color: #DD5A46 !important;
                color: white !important;
            }

            .requestTable tbody:nth-child(2n + 1){
                background-color: #f1f1f1; 
            }
            .notes tbody tr:nth-child(even){
                background-color: #f1f1f1 !important; 
            }
            .notes tbody tr:nth-child(odd){
                background-color: #fff !important; 
            }

            .requestTable td{
                border: 0px !important;
                border-collapse: unset !important;
            }

            table{
                border-collapse: unset !important;
            }

            .cancelBt{
                width: 65px !important;
            }

            .emsg{
                color: red;
            }
            .hidden {
                visibility:hidden;
            }
            .filterbox {
                display: inline-table;
                margin-right: 10px;
            }

            .filterbox select { width: 120px; }

            .filterbox span{
                font-style: italic;
            }

            .filters {
                height: 35px;
                margin: 1em 0.5em 0.5em 0.5em;
                padding: 10px;
                display: table !important;
                background-color: #F9F9F9;
                width:100%;
            }
        </style>
    </head>

    <table class="tbl_Details">
        <tr>
            <td class="sidesColumn">
                <c:menuEnrolment selectedItem="courseCancel" />
            </td>

            <td class="middleColumn bodyColumn">
                <div class="title" style="font-size:1.5em;margin-bottom:10px;">
                    <span class="arrow-e" style="font-size: 1.5em;"></span>&nbsp;Cancel Requests 
                    <apex:outputLink value="/help_link?fl=client_course_cancel_followup" target="_blank" style="float:right;font-weight: normal;text-decoration: none; color: #777777; font-size: 0.7em;">
                        <apex:image value="{!urlfor($Resource.icons,'icons/commons/help.png')}" style="height: 16px; width: 16px; position: relative; top: 3px;" />
                        Help
                    </apex:outputLink>
                </div>

                <div ng-app="courseCancelApp" ng-controller="cancelCourse" id="mainController">

                    <div class="filters">
                        <div class="filterbox">
                            <select ng-model="selfGroup" ng-options="item.opId as item.opName for item in fgroup" ng-change="changeGroup();" class="chosen" />
                            <div style="display: block;">
                                Agency Group Name
                            </div>
                        </div>
                        <div class="filterbox">
                            <select ng-model="selfAgency" ng-options="item.opId as item.opName for item in fagencies" ng-change="changeAgency();" class="chosen fAg" />
                            <div style="display: block;">
                                Agency Name
                            </div>
                        </div>
                        <div class="filterbox">
                            <select ng-model="selfdept" ng-options="item.opId as item.opName for item in fdept" ng-change="changeDepartment();" class="chosen" />
                            <div style="display: block;">
                                Department Name
                            </div>
                        </div>
                        <div class="filterbox">
                            <select ng-model="selfsch" ng-options="item.opId as item.opName for item in fSchools" class="chosen" />
                            <div style="display: block;">
                                School Name
                            </div>
                        </div>
                        <div class="filterbox">
                            <input type="text" ng-model="clientNm" style="" />
                            <div style="display: block;">
                                Client Name
                            </div>
                        </div>
                        <div class="filterbox">
                            <div class="agencyButton" ng-click="refreshList()">
                                Search
                            </div>
                        </div>
                    </div>

                    <div style="margin-bottom:10px;display:table-cell" ng-init="tab = 'pending'">
                        <div class="divTabs" ng-class="{divTabSelected : tab == 'pending'}" ng-click="changeTab('pending');">
                            Pending Requests
                            <span class="counterTab" ng-bind="requests.totPending" />
                        </div>
                        <div class="divTabs" ng-class="{divTabSelected : tab == 'reqSchool'}" ng-click="changeTab('reqSchool');">
                            Requested to School
                            <span class="counterTab" ng-bind="requests.totSchool" />
                        </div>
                        <div class="divTabs" ng-class="{divTabSelected : tab == 'transfer'}" ng-click="changeTab('transfer');">
                            Course Transfer
                            <span class="counterTab" ng-bind="requests.totTransfer" />
                        </div>
                        <div class="divTabs" ng-class="{divTabSelected : tab == 'refund'}" ng-click="changeTab('refund');">
                            Course Refund
                            <span class="counterTab" ng-bind="requests.totRefund" />
                        </div>
                        <div class="divTabs" ng-class="{divTabSelected : tab == 'outcome'}" ng-click="changeTab('outcome');">
                            Cancellations Confirmed
                            <span class="counterTab" ng-bind="requests.totReleaseLetter" />
                        </div>
                        <!-- <div class="divTabs" ng-class="{divTabSelected : tab == 'all'}" ng-click="changeTab('all');">
                            All
                            <span class="counterTab">{{requests.totRefund}}</span>
                        </div> -->
                    </div>

                    <!-- No result found -->
					<div style="text-align:center; color:red; border:1px solid grey; padding:5px; margin-top: 6px;width: 100%;" ng-show="requests.result.length == 0"> No result found. </div>
                    
                    <!-- Show Result -->
                    <table class="requestTable" ng-show="requests.result.length > 0">
                        <thead>
                            <tr>
                                <th style="width:1%"></th>
                                <th style="width: 150px; text-align: center;">Status</th>
                                <!-- <th style="width: 150px; text-align: center;">Requested Service</th> -->
                                <th style="width:20%;">Student Name</th>
                                <th style="width:30%;" colspan="2">Courses to be Cancelled</th>
                                <!-- <th style="width:30%;">Description</th> -->
                                <th style="width:40%">Documents</th>
                                <th style="width:5%">Actions</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="c in requests.result">
                            <tr >  
                                <td style="">
                                    <img id="{{c.course.Id}}-max" src="{!URLFOR($Resource.assets,'images/button-maximize.png')}" style="cursor:pointer;" class="arrow" ng-click="showDetails(c, true);"/>
                                    <img id="{{c.course.Id}}-min" src="{!URLFOR($Resource.assets,'images/button-minimize.png')}" style="cursor:pointer;display:none" class="arrow" ng-click="showDetails(c, false);"/>
                                </td>
                                
                                <td style="width: 150px; text-align: center;">
                                     <div class="statusButton STYLE_IN_PROGRESS " ng-class="{missDocuments : c.course.Cancel_Course_Status__c == '{!typeMissDocs}', Course_Refunded: c.course.Cancel_Course_Status__c == '{!typeCourseRefunded}', Course_Transferred: c.course.Cancel_Course_Status__c == '{!typeCourseTransferred}'}" ng-bind="c.course.Cancel_Course_Status__c" style="padding: 5px 10px;display:block;" /> 
                                     <!-- <span ng-if="c.course.Course_Cancellation_Service__c == '0'"> None </span> -->
                                    <div ng-if="tab == 'pending' || tab == 'reqSchool'">
                                        <span ng-if="c.course.Course_Cancellation_Service__c == '1'" style="font-size: 0.9em;"> Course Transfer</span>
                                        <span ng-if="c.course.Course_Cancellation_Service__c == '2'" style="font-size: 0.9em;"> Course Refund</span>
                                        <span ng-if="c.course.Course_Cancellation_Service__c == '3'" style="font-size: 0.9em;"> Release Letter</span>
                                    </div>
                                    <div ng-if="tab == 'outcome' && c.course.Release_Letter_Grant__c != null">
                                        <span style="font-size: 0.9em;"> Release Letter {{c.course.Release_Letter_Grant__c}}</span>
                                    </div>
                                </td>

                                <!-- <td style="width: 150px; text-align: center;">
                                    <span ng-if="c.course.Course_Cancellation_Service__c == '0'"> None </span>
                                    <span ng-if="c.course.Course_Cancellation_Service__c == '1'"> Course Transfer</span>
                                    <span ng-if="c.course.Course_Cancellation_Service__c == '2'"> Course Refund</span>
                                </td> -->

                                <td style="">

                                    <a href="{!IF(redirectNewContactPage,'contact_new_bookings','client_course_new')}?id={{c.course.Client__c}}" target="_blank" style="font-weight:bold;">{{c.course.Client__r.Name}}</a>

                                    <div style="margin: 5px auto;color: blue; font-size: 0.9em;font-style: italic;" ng-if="c.course.Client__r.Age__c != null && c.course.Client__r.Age__c < 18">
                                        Junior - U18s
                                    </div>
                                    <div style="font-size: 0.9em; margin-bottom: 5px;">
                                        Enrolled by: {{c.course.Enroled_by_User__r.Name}} ({{c.course.Enroled_by_Agency__r.Name}})
                                    </div>
                                    <div style="font-size: 0.9em; margin-bottom: 5px;">
                                        Owner: {{c.course.Client__r.Owner__r.Name}} ({{c.course.Client__r.Owner__r.Contact.Account.Name}})
                                    </div>
                                    <!-- <br/>
                                    Visa Expiry: {{c.course.Client__r.Visa_Expiry_Date__c | date:'dd/MM/yyyy'}} 
                                    <div ng-if="diffDate(c.course.Client__r.Visa_Expiry_Date__c) > 0" style="display:block;margin-left: 60px;">
                                        (in {{diffDate(c.course.Client__r.Visa_Expiry_Date__c)}} days)
                                    </div>

                                    <div ng-if="diffDate(c.course.Client__r.Visa_Expiry_Date__c) == 0" style="display:block;margin-left: 60px;font-weight:bold;">
                                        Today
                                    </div>

                                    <div ng-if="diffDate(c.course.Client__r.Visa_Expiry_Date__c) < 0" style="display:block;margin-left: 60px; color:red">
                                        ({{Math.abs(diffDate(c.course.Client__r.Visa_Expiry_Date__c))}} days ago)
                                    </div>

                                    Owner: {{c.course.Client__r.Owner__r.Name}}
                                    <br/>
                                    Stage: {{c.course.Client__r.Status__c}} -->
                                </td>

                                <td style="" colspan="2">
                                    <div style="display:block;margin-bottom:5px;" ng-repeat="r in c.course.client_courses__r.records">
                                        <a href="{!IF(redirectNewContactPage,'contact_new_bookings','client_course_new')}?id={{c.course.Client__c}}&ccId={{r.Id}}" target="_blank" style="font-weight:bold;">{{r.Course_Name__c}}</a>
                                        <br/>
                                        {{r.Campus_Name__c}}
                                    </div>
                                    <div style="display:block;margin-bottom:5px;" ng-repeat="l in c.relatedCourses" ng-if="c.course.client_courses__r.records == null">
                                       <b>{{l.docName}}</b><br/>{{l.docUrl}} 
                                    </div>
                                    <div style="font-size: 0.9em; margin-bottom: 5px;">Process started on:  {{c.course.CreatedDate | date:'dd/MM/yyyy'}} ({{Math.abs(diffDate(c.course.CreatedDate))}} days ago) </div>
                                </td>

                                <!-- <td style="vertical-align:top;">
                                    <div style="display:block;margin-bottom:10px">
                                        <b>Cancel reason:</b> {{c.course.Credit_Reason__c}}
                                    </div>
                                    {{c.course.Credit_Description__c}}
                                </td>  -->

                                <td style="">
                                    <!-- <div style="display:block;" ng-repeat="l in c.docs">
                                        <a href="{{l.docUrl}}" target="_blank">{{l.docName}}</a>
                                    </div>height: 200px; -->
								    <iframe id="upload" src="{{c.uploadUrl}}" style="width: 99.9%; border: 0px;" allowTransparency="true"  />
                                </td>

                                <td style="">		
                                    <div ng-if="c.course.Cancel_Course_Status__c == '{!typeDraft}'" class="agencyButton" style="text-align:center" ng-click="openDetails(c)">Edit Request</div>
                                    <div ng-if="c.course.Cancel_Course_Status__c == '{!typeMissDocs}'" class="agencyButton" style="text-align:center;margin-bottom: 5px;" ng-click="requestAdm(c)">Request to ADM</div>

                                    <!-- Complete flow -->
                                    <div ng-if="tab == 'outcome'" class="agencyButton" style="text-align:center;margin-bottom: 5px;" ng-click="finishRequest(c)">Finish Request</div>
                                    
                                    <select ng-if="c.course.Cancel_Course_Status__c == '{!typeDraft}'" ng-model="c.action" ng-init="c.action= 'noAction'" ng-change="courseActions(c)" style="text-align:center;margin-top: 6px;">
                                        <option value="noAction" > -- Actions -- </option>
                                        <option value="cancelRequest"> Undo Cancel Request</option>
                                    </select>

                                    <select ng-if="c.course.Cancel_Course_Status__c != '{!typeDraft}'" ng-model="c.action" ng-init="c.action= 'noAction'" ng-change="courseActions(c)" style="text-align:center;margin-top: 6px;">
                                        <option value="noAction" > -- Actions -- </option>
                                        <option value="sendEmail"> Send Email to Client </option>   
                                        <option value="addNotes"> Add Notes </option>
                                    </select>
                                </td>
                            </tr>
                            <!-- Request Details -->
                            <tr class="tr-{{c.course.Id}}" ng-hide="!c.selected || c.selected == null">
                                <td colspan="9">
                                    <div class="tabs" style="font-size: 0.9em;margin-top: 5px;">
                                        <ul style="height:35px !important;">
                                            <li><a href="#{{c.Id}}-0" style="height:28px !important;">Request Details</a></li>
                                            <li ng-show="c.activities.length > 0"><a href="#{{c.Id}}-1" style="height:28px !important;">Request Interactions</a></li>
                                            <li ng-show="c.notes.length > 0"><a href="#{{c.Id}}-2" style="height:28px !important;">Extra Notes</a></li>				
                                        </ul>

                                        <!-- CANCEL DETAILS -->
				                        <div id="{{c.Id}}-0" style="border:1px solid #ccc !important; background-color:#f9f9f9 !important;" >
                                            <div style="display:block;margin-bottom:10px">
                                                <b>Cancel reason:</b> {{c.course.Credit_Reason__c}}
                                            </div>
                                            {{c.course.Credit_Description__c}}
                                        </div>

                                        <!-- ACTIVITIES -->
				                        <div id="{{c.Id}}-1" style="" ng-show="c.activities.length > 0">
                                            <table class="requestTable notes">
                                                <thead>
                                                    <tr>
                                                        <th style="width:20%">Type</th>
                                                        <th style="width:20%">To</th>
                                                        <th style="width:20%">From</th>
                                                        <th style="width:20%">Date</th>
                                                        <th style="width:20%">Subject</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="n in c.activities">
                                                        <td>{{n.actType}}</td>
                                                        <td>{{n.actTo}}</td>
                                                        <td>{{n.actFrom}} - ({{n.fromAgency}})</td>
                                                        <td>{{n.actDate | moment: 'lll'}}</td>
                                                        <td>{{n.actSubject}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- NOTES -->
				                        <div id="{{c.Id}}-2" style="" ng-show="c.notes.length > 0">
                                             <table class="requestTable notes">
                                                <thead>
                                                    <tr>
                                                        <th style="width:80%">Description</th>
                                                        <th style="width:20%">Created by</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="n in c.notes ">
                                                        <td>{{n.note}}</td>
                                                        <td>
                                                            {{n.userName}} - ({{n.userAgency}})<br/>{{n.addedDate | moment: 'lll'}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>

</html>

<script>
    $ = jQuery.noConflict(); 

    var myapp = angular.module('courseCancelApp',[]); 
    var modalWind;

    function closemodalAddVisit(){
        jQuery('#interVeil').css('display','none');
		modalWind.close();
        angular.element(document.getElementById('mainController')).scope().refreshList();
    }
    function locationReload(){
        jQuery('#interVeil').css('display','none');
		modalWind.close();
        angular.element(document.getElementById('mainController')).scope().refreshList();
    }


    function sendEmail(courseID, clientId){
       modalWind = dhtmlmodal.open('sendEmail', 'iframe', 'sendMassEmail?cancelRequest='+courseID+'&visits=false&ids='+ clientId, 'Send Email to Client', 'width=800px,height=600px,resize=1,center=1,scrolling=0');
       setCloseModal();
    }

    function setCloseModal(){
		jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
		jQuery('.Close').unbind('click');
		jQuery('.Close').click(function() {closemodal();});
	}

    function closemodal(){
		jQuery('#interVeil').css('display','none');
		modalWind.close();
	}

    myapp.filter('moment', ['$rootScope', function($rootScope) {
        return function(dateString, format) {
            var localTime = moment.tz(dateString, $rootScope.userTimeZone)
            return moment(localTime).format(format);
        };
    }]);

    var contrl = myapp.controller('cancelCourse',['$scope', '$rootScope', function($scope, $filter, $timeout, $rootScope, tmhDynamicLocale) {
        $scope.requests = {!requests};
        $scope.Math = window.Math;
        $scope.fgroup = {!fgroup};
        $scope.fagencies = {!fagencies};
        $scope.fdept = {!fdept};
        $scope.fSchools = {!fSchools};
        $scope.selfGroup = '{!selGroup}';
        $scope.selfAgency = '{!selAgency}';
        $scope.selfdept = '{!seldept}';
        $scope.selfsch = 'all';
        $scope.clientNm = '';


        //Change Group
        $scope.changeGroup = function(){
            showLoading('Show Loading...');
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.client_course_cancel_followup.changeGroup}', $scope.selfGroup, 
                function(result, event){
                    $scope.$apply(function() {  
                        console.log(result); 
                        $scope.fagencies = JSON.parse(result);
                        $scope.selfAgency = $scope.fagencies[0].opId;
                    });
                    
                    $scope.changeAgency();
                },
                {escape: false}
                );
        }
        //Change Agency
        $scope.changeAgency = function(){
            showLoading('Show Loading...'); 
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.client_course_cancel_followup.changeAgency}', $scope.selfAgency, 
                function(result, event){
                    $scope.$apply(function() {  
                        console.log(result); 
                        $scope.fdept = JSON.parse(result);
                        $scope.selfdept = 'all';
                    });
                    $scope.changeDepartment();
                },
                {escape: false}
                );
        }
        //Change Department
        $scope.changeDepartment = function(){
            showLoading('Show Loading...'); 
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.client_course_cancel_followup.changeDepartment}', $scope.selfAgency, $scope.selfdept, 
                function(result, event){
                    $scope.$apply(function() {  
                        console.log(result); 
                        $scope.fSchools = JSON.parse(result);
                        $scope.selfsch = 'all';
                    });
                    hideLoading(); 
                },
                {escape: false}
                );
        }

        //Refresh result
        $scope.refreshList = function(){
            showLoading('Show Loading...');
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.client_course_cancel_followup.findRequests}', $scope.tab, $scope.selfGroup , $scope.selfAgency, $scope.selfdept, $scope.selfsch, $scope.clientNm,
                function(result, event){
                    //alert(result);
                    if (event.status) {
                        $scope.requests = JSON.parse(result);
                        hideLoading();
                        $scope.$apply();
                        $( ".tabs" ).tabs();
                    } else if (event.type === 'exception') {
                        alert(event.message);
                    } else {
                        alert(event.message);
                    }
                },
                {escape: false}
                );
        }

        //Save Note
        $scope.addNote = function(c, comments){
            console.log('adding note==>' + comments);

            if(comments != null & comments.trim() != ''){
                showLoading('Loading...');
                // Add Note	
                Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.client_course_cancel_followup.addNote}', c.course.Id, comments, $scope.tab, 
                function(result, event){
                    //alert(result);
                    if (event.status) {
                        c.notes = JSON.parse(result);
                        c.action = 'noAction';
                        hideLoading();
                        $scope.$apply();
                        // $('.tabs').tabs();
                    } else if (event.type === 'exception') {
                        alert(event.message);
                    } else {
                        alert(event.message);
                    }
                },
                {escape: false}
                );
            }
        }

        $scope.changeTab = function(tabName){
            $scope.tab = tabName;
            $scope.refreshList();
        }

        $scope.showDetails = function(c, value){
            c.selected = value;
            $('#'+c.course.Id+'-max').toggle();
            $('#'+c.course.Id+'-min').toggle();
        }

        $scope.diffDate = function(date1){
            var dtNow = new Date();
            var dtComp = new Date(date1);
            var timeDiff = (dtComp.getTime() - dtNow.getTime());
            var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 
            return diffDays -1;
        };

        //Finish Request
        $scope.finishRequest = function(c){
            showLoading('Loading...');
            Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.client_course_cancel_followup.finishRequest}', c.course.Id, $scope.tab, $scope.selfGroup , $scope.selfAgency, $scope.selfdept, $scope.selfsch, $scope.clientNm,
            function(result, event){
                //alert(result);
                if (event.status) {
                    if(result != 'failed'){
                        $scope.requests = JSON.parse(result);
                        hideLoading();
                        $scope.$apply();
                        $( ".tabs" ).tabs();
                    }
                } else if (event.type === 'exception') {
                    alert(event.message);
                } else {
                    alert(event.message);
                }
            },
            {escape: false}
            );
        }

        //Request to ADM
        $scope.requestToADM = function(c, comments){
            console.log('adding note==>' + comments);
            if(comments == null) comments = '';
            showLoading('Loading...');
            // Add Note	
            Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.client_course_cancel_followup.requestToADM}', c.course.Id, comments, $scope.tab, $scope.selfGroup , $scope.selfAgency, $scope.selfdept, $scope.selfsch, $scope.clientNm,
            function(result, event){
                //alert(result);
                if (event.status) {
                    if(result != 'failed'){
                        $scope.requests = JSON.parse(result);
                        hideLoading();
                        $scope.$apply();
                        $( ".tabs" ).tabs();
                    }
                } else if (event.type === 'exception') {
                    alert(event.message);
                } else {
                    alert(event.message);
                }
            },
            {escape: false}
            );
        }

        $scope.requestAdm = function(c){
            $.confirm({
                theme: 'light',
                title: 'Request to ADM',
                content: '' +
                '<div style="font-size: 1.2em;padding: 5px;">Client Name: <b>' + c.course.Client__r.Name +'</b>'+
                // '</br>Requested Service: <b>' + c.Course_Cancellation_Service__c +'</b>'+
                '<br/>Courses to be Cancelled: ' + $scope.strCourses(c.course.client_courses__r.records) +
                '<div><textarea rows="4" placeholder="Add notes" style="width:98%;" class="notes"></textarea></div>',
                columnClass: 'medium',
                buttons: {
                    confirm: {
                        text: 'Request to ADM',
                        btnClass: 'agencyButton',
                        action: function () {
                            var comments = $('.jconfirm-content .notes').val();
                            $scope.requestToADM(c, comments);
                        }
                    },
                    cancel: function () {
                        c.action = 'noAction';
                        $scope.$apply();
                    } 
                }
            });
        }

        //Undo Cancel Request
        $scope.undoRequest = function(c, comments){
            console.log('adding note==>' + comments);

            if(comments == null){
                comments = ''; 
            }
            showLoading('Loading...');
            // Undo Request	
            Visualforce.remoting.Manager.invokeAction(
            '{!$RemoteAction.client_course_cancel_followup.undoRequest}', c.course.Id, comments, $scope.tab, $scope.selfGroup , $scope.selfAgency, $scope.selfdept, $scope.selfsch, $scope.clientNm,
            function(result, event){
                //alert(result);
                if (event.status) {
                    if(result != 'failed'){
                        $scope.requests = JSON.parse(result);
                        hideLoading();
                        $scope.$apply();
                        $( ".tabs" ).tabs();
                    }
                } else if (event.type === 'exception') {
                    alert(event.message);
                } else {
                    alert(event.message);
                }
            },
            {escape: false}
            );
            
        }

        
        //Course Actions Menu
        $scope.courseActions = function(c){
            console.log('courseId==>' + c.course.Id);
            console.log('action==>' + c.action);

            if(c.action == 'addNotes'){
                $.confirm({
                    theme: 'light',
                    title: 'Add Notes',
                    content: '' +
                    '<div style="font-size: 1.2em;padding: 5px;">Client Name: <b>' + c.course.Client__r.Name +'</b>'+
                    // '</br>Requested Service: <b>' + c.Course_Cancellation_Service__c +'</b>'+
                    '<br/>Courses to be Cancelled: ' + $scope.strCourses(c.course.client_courses__r.records) +
                    '<div><textarea rows="4" placeholder="Add notes" style="width:98%;" class="notes"></textarea></div>',
                    columnClass: 'medium',
                    buttons: {
                        confirm: {
                            text: 'Add Notes',
                            btnClass: 'agencyButton',
                            action: function () {
                                var comments = $('.jconfirm-content .notes').val();
                                $scope.addNote(c, comments);
                            }
                        },
                        cancel: function () {
                            c.action = 'noAction';
                            $scope.$apply();
                        } 
                    }
                });
            }
            else if(c.action == 'sendEmail'){
                sendEmail(c.course.Id, c.course.Client__c);
            }
            else if(c.action== 'cancelRequest'){
                $.confirm({
                    theme: 'light',
                    title: 'Undo Cancel Request',
                    content: '<div style="color: #dc2628;font-size: 1.2em !important;margin-top: 2px;display:block;">Are you sure you want to <b>undo</b> the Cancel Course Request?</div>' +
                    '<textarea rows="5" placeholder="Describe Reason" style="width:98%;" class="notes"></textarea></div>',
                    columnClass: 'medium',
                    buttons: {
                        confirm: {
                            text: 'Undo cancel request',
                            btnClass: 'agencyButton',
                            action: function () {
                                var comments = $('.jconfirm-content .notes').val();
                                $scope.undoRequest(c, comments);
                            }
                        },
                        cancel: {
                            text: 'No',
                            btnClass: 'cancelBt',
                            action: function () {
                                c.action = 'noAction';
                                $scope.$apply();
                            }
                        } 
                    }
                });
            }
            
        }

        //Edit Cancel Request (for draft only)
        $scope.openDetails = function(c){
            modalWind=dhtmlmodal.open('cancelCourse', 'iframe', 'client_course_cancel?ac=view&id='+c.course.Id, 'Cancel Course', 'width=800px,height=600px,resize=1,center=1,scrolling=1'); 
            setCloseModal();
        }

        $scope.strCourses = function(courses){
            var lCourses = '<ul>';
            angular.forEach(courses, function(value, key) {
                lCourses += '<li>' + value.Course_Name__c+ '</li>';
            });
            lCourses += '</ul>';

            return lCourses;
        }

    }]);

    contrl.directive('chosen', function($timeout) {

        var linker = function(scope, element, attr) {

            scope.$watch('fagencies', function() {
                $timeout(function() {
                    element.trigger('chosen:updated');
                }, 0, false);
            }, true);

            scope.$watch('fdept', function() {
                $timeout(function() {
                    element.trigger('chosen:updated');
                }, 0, false);
            }, true);

            scope.$watch('fSchools', function() {
                $timeout(function() {
                    element.trigger('chosen:updated');
                }, 0, false);
            }, true);


            $timeout(function() {
                element.chosen();
            }, 0, false);
        }; 

        return {
            restrict: 'C',
            link: linker
        };
    });

    $ = jQuery.noConflict();

    $(document).ready(function() {
        $('.chosen').chosen();
        $( ".tabs" ).tabs();
    });


    function UpdateOpener(){
		jQuery('#interVeil').css('display','none');
		modalWind.close();
		angular.element(document.getElementById('mainController')).scope().refreshList();
	}
</script>
	
</apex:page>