<apex:page showHeader="true" sidebar="true" controller="client_course_cancel_history"  docType="html-5.0" applyBodyTag="false">

<!--<script>
    $(document).ready(function() {
		var isInIframe = (window.location != window.parent.location) ? true : false;
		if(isInIframe){
			$('.bodyDiv').css('border-top','none');
			//$('.tbl_Details tr:first-child').hide();
			$('.networkMsgsWithCustomHeader').hide();
            $('.container-header').hide();
			$('.sidesColumn').hide();
			$('.boxHeader').hide();
			$('.standardBack').hide();
			$('.linkHeader').hide();
			$('#AppBodyHeader').hide();
			$('#sidebarCell').hide();
			$('.bodyColumn').css('border-top','none');
			$('.bodyColumn').css('padding-top','0');
            $('.zen-pageFooter').hide();
		}
	});
</script>-->

<html xmlns:ng="http://angularjs.org" lang="en" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <head>
        <apex:include pageName="xStylePage" />
        <apex:include pageName="EnrolmentStyle"/>   
     
        <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"/>
        <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"/>
        <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.14/moment-timezone.js"/>
    </head>
    <table class="tbl_Details">
        <apex:outputPanel layout="none" rendered="{!NOT($CurrentPage.parameters.page == 'coursesAndProducts')}">
            <tr>
                <td rowspan="3" class="sidesColumn">
                    <c:menuContact ContactID="{!$CurrentPage.parameters.id}" selectedItem="ContactCourses" />                   
                </td>
                <td class="middleColumn container-header">
                    <div class="boxHeader">
                        <c:cpPageHeader PageType="contact" contactID="{!$CurrentPage.parameters.id}" />
                    </div>
                </td>
                <td rowspan="3" class="rightColumn sidesColumn">
                    <c:contactSideBarButtons ContactID="{!$CurrentPage.parameters.id}" />
                    <c:cCreateTask popType="modal" cClientId="{!$CurrentPage.parameters.id}" />
                </td>
            </tr>
        </apex:outputPanel>
        <tr>
            <td class="middleColumn bodyColumn">
                <apex:include pageName="client_course_cancel_history_content"/>
            </td>
        </tr>
    </table>    
</html>
</apex:page>