<apex:page controller="ClientCourseInstalmentsController" action="{!setupCredit}" tabstyle="client_payments__tab">

<apex:include pageName="xStylePageV2" />
<apex:include pageName="xCourseSearchStyle" />

<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />
<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />

<apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.assets,'modalfiles/modal.js')}" />
<apex:stylesheet value="{!URLFOR($Resource.assets,'modalfiles/modal.css')}" />

<style>


	.box-searh{
		background-color: #F3F3F3;
		border: 1px solid #999999 !important;
		border-radius: 5px 5px 5px 5px;
		box-shadow: 0 0 0 #CCCCCC;
		display: block;
		padding: 4px;
	}

	.dateFormat{
		display:none;
	}

	.extraInstallment{
		color: red;
	    display: block;
	    font-size: 10px;
	    margin-top: -8px;
	}

	.SearchLabel2{
		font-style: italic;
	    margin-left: 2px;
	    margin-top: 1px;
	}

	.rich-tabpanel-content {
         background-color: #FFFFFF;
     }
     .rich-tab-active {
         //background-image: -webkit-gradient(linear, top, bottom, from(#F9C959), to(#EDEDED));
         background-image: -moz-linear-gradient(top center , #F9C959, #FFFFFF);
     }
     .rich-tab-inactive {
         background-color: #EDEDED;
         background-image: none;
     }

    .ui-tabs-hide { display: none !important; }
	.ui-widget-content { border: 0px !important; }
	.tabs { font-size: 1.0em !important; }

	.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
		top: 1px !important;
	}

	.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	    float: left;
	    font-size: 12px;
	    font-weight: normal;
	    text-decoration: none;
	    padding:2px;
	}

	.ui-widget-header {
	    background: inherit;
	    color: #222;
	    font-weight: bold;
	    border:0px;
	}

	.tabsClient a, .mainTabs  a {
		font-weight:normal;
	}

	.ui-tabs {
	    padding: 0em;;
	    position: relative;
	}

	.ui-tabs .ui-tabs-panel {
		background: #fff;
	}


	.contactNumbers {
		color: green;
	    display: block;
	    font-size: 0.8em;
	    margin-top: -5px;
	}



	.dateOnlyInput input {
	    height: 24px;
	    width: 100px;
	}




	.chosen-container {
		width:150px !important;
	}

	.ownerName{
	    display: block;
	    font-size: 0.77em;
	    font-style: initial;
	    margin-top: -6px;
	}

	 .tableInstal  thead tr td:first-child {
	  border-right: 0px !important;
	}
</style>

<table class="tbl_Details">
    <tr>
        <td class="sidesColumn">
            <c:menuEnrolment selectedItem="courseTransfer"/>
        </td>

        <td class="middleColumn bodyColumn">
			<apex:form >

			<apex:pageMessages id="errorMessages"/>


			<apex:actionFunction name="refreshCredit" action="{!setupCredit}" reRender="searchResult" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>

			<div class="mainTabs" style="background: inherit;">
				<apex:outputpanel id="mainTabs">
					<div onclick="showLoading('Loading');window.location.href ='client_course_instalments_view?gp={!selectedAgencyGroup}&ag={!selectedAgency}&dp={!selectedDepartment}'" class="divTabs ">Pending Instalments<span class="counterTab">{!totalPending}</span></div>
					<div onclick="showLoading('Loading');window.location.href ='client_course_refunds?gp={!selectedAgencyGroup}&ag={!selectedAgency}&dp={!selectedDepartment}'" class="divTabs ">Refund<span class="counterTab">{!totalRefunds}</span></div>
					<div onclick="showLoading('Loading');window.location.href ='client_course_credits?gp={!selectedAgencyGroup}&ag={!selectedAgency}&dp={!selectedDepartment}'" class="divTabs divTabSelected">Course Transfer<span class="counterTab">{!lCredits.size}</span></div>
					<div onclick="showLoading('Loading');window.location.href ='client_course_products?gp={!selectedAgencyGroup}&ag={!selectedAgency}&dp={!selectedDepartment}'" class="divTabs">Products<span class="counterTab">{!totalProducts}</span></div>
				</apex:outputpanel>

				<br/><br/><br/>

				<!-- PENDING CREDITS -->
				<div id="main-3" style="font-size: 12px;">

						<apex:outputpanel id="filters" styleclass="box-searh" layout="block" style="width:100%;">
							<table cellpadding="6px;" cellspacing="2px">
								<tr>
									<td>
										<apex:outputPanel styleClass="SearchField">
											<div class="SearchInput" style="margin: 3px 0;">
												<apex:selectList value="{!selectedAgencyGroup}" size="1" style="width:150px;" styleclass="chosen">
								                      <apex:SelectOptions value="{!agencyGroupOptions}" />
								                      <apex:actionSupport event="onchange" action="{!changeGroup}" rerender="filters" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>
								                </apex:selectList>
							                </div>
							                <div><span class="SearchLabel2">Agency Group</span></div>
										</apex:outputPanel>
									</td>
									<td>
										<apex:outputPanel styleClass="SearchField">
											<div class="SearchInput" style="margin: 3px 0;">
												<apex:selectList size="1" value="{!selectedAgency}" style="width:150px;" styleclass="chosen">
													<apex:selectOptions value="{!Agencies}" />
													<apex:actionSupport event="onchange" action="{!changeAgency}" status="statusLoad" rerender="filters, searchResult" oncomplete="jQuery('.chosen').chosen();"/>
												</apex:selectList>
											</div>
											<div><span class="SearchLabel2">Agency</span></div>
										</apex:outputPanel>
									</td>

									<td>
										<apex:outputPanel styleClass="SearchField">
											<div class="SearchInput" style="margin: 3px 0;">
												<apex:selectList size="1" value="{!selectedDepartment}" style="width:150px;" styleclass="chosen">
													<apex:selectOptions value="{!Departments}" />
													<!-- <apex:actionSupport event="onchange" action="{!findPendingInstalments}" status="statusLoad" rerender="searchResult" oncomplete="jQuery('.chosen').chosen();"/> -->
												</apex:selectList>
											</div>
											<div><span class="SearchLabel2">Department</span></div>
										</apex:outputPanel>
									</td>
									<td>
										<apex:commandLink value="Search" action="{!findCredits}" status="statusLoad" rerender="errorMessages,searchResult,mainTabs" styleClass="agencyButton" style="padding: 5px 20px; position: relative; top: 9px; font-weight:bold !important " onComplete="jQuery('.chosen').chosen();" />
									</td>
								</tr>
							</table>
						</apex:outputpanel>
						<apex:outputpanel id="searchResult">
							<apex:outputpanel rendered="{!ISNULL(lCredits) || lCredits.size<1}">
								<div style="text-align:center; color:red; border:1px solid grey; padding:5px; margin-top: 6px;width: 100%;"> No result found. </div>
							</apex:outputpanel>
							<apex:outputpanel rendered="{!NOT(ISNULL(lCredits)) && lCredits.size>0}">

								<apex:outputpanel layout="block" style="margin-top:10px;width: 100%;">
									<!-- Totals -->
									<div style="float: right; font-weight: bold; font-size: 1.0em;">
										<div style="float: left;">Total</div>
										<apex:outputpanel layout="block" styleclass="counterBlack"  style="margin-left:5px;">
											{!lCredits.size}
										</apex:outputpanel>
									</div>
									<!-- END Totals -->
								</apex:outputpanel>
								<br/>

								<script>
									jQuery(function() {
							        	jQuery('.tabsClient').tabs();
							       });
								</script>
								<table class="tableInstal">
									<thead>
										<tr>
											<td ><!-- <apex:inputCheckbox onclick="selectAll(this.checked);" styleclass="selectallcheck" title="Select all"/> --></td>
											<td>Client Name</td>
											<td>School Name/Course</td>
											<td>Reason</td>
											<td>Requested By</td>
											<td>Requested On</td>
											<td>Status</td>
											<td></td>
										</tr>
									</thead>

									<tbody>
										<apex:variable value="{!0}" var="trCounter" />
										<apex:repeat value="{!lCredits}" var="cred">
											<tr class="{!IF(mod(trCounter,2)=0, 'tableInstalOdd', 'tableInstalEven')}">

												<td style="width:1%">
													<div style="float:right">
														<apex:commandLink status="statusLoad" onClick="toggle('rn-{!cred.credit.id}'); toggle('{!$Component.buttonMax}'); toggle('{!$Component.buttonMin}'); return false;">
															<apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" id="buttonMax" styleclass="arrow" />
															<apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" id="buttonMin" styleclass="arrow" style="display:none"/>
														</apex:commandLink>
													</div>
												</td>

												<td style="width: 15%">

													<apex:outputlink value="activity_log?id={!cred.credit.Client__c}" target="_blank"><apex:outputtext value="{!cred.credit.Client__r.Name}" /></apex:outputlink>

													<div class="ownerName">
														<b>Owner:&nbsp;</b><apex:outputtext value="{!cred.credit.Client__r.Owner__r.Name}" />
													</div>

													<!-- <apex:repeat value="{!cred.contactNumbers}" var="credN" >
														<div class="contactNumbers"> {!credN.Detail__c}</div>
													</apex:repeat> -->
												</td>

												<td style="width: 21%">
													<apex:outputtext value="{!cred.credit.Campus_Name__c}" style="font-size: 0.9em !important;font-weight:bold;"/><br/>
													<apex:outputtext value="{!cred.credit.Course_Name__c}" style="font-size: 0.8em !important;"/>
												</td>

												<td style="width: 8%">
													<apex:outputtext value="{!cred.credit.Credit_Reason__c}" />
												</td>


												<td style="width: 8%">
													<apex:outputtext value="{!cred.credit.Credit_Requested_By__r.Name}"/>
												</td>

												<td style="width: 8%">
													<apex:outputText value="{0,date, dd/MM/yyyy}">
														<apex:param value="{!cred.credit.Credit_Requested_On__c}"/>
								              		</apex:outputText>
												</td>

												<td style="width: 10%">
													<apex:outputfield value="{!cred.credit.Status__c}" />
												</td>

												<td style="width:10%">

													<apex:commandlink value="Edit" styleclass="agencyButton" onclick="refundCreditActions('School Credit', '{!cred.credit.id}', 'creditActions'); return false;" />

													<!-- <apex:selectList styleclass="creditActions chosen" onchange="refundCreditActions(this.value, '{!cred.credit.id}', 'creditActions');" size="1" style="width: 150px;" >
											            <apex:selectOption itemValue="noAction" itemLabel="Actions"/>
											            <apex:selectOption itemValue="credit" itemLabel="Credit"/>
											            <apex:selectOption itemValue="noteTask" itemLabel="Note/Task"/>
											        </apex:selectList>  -->
												</td>
											</tr>
											<tr id="rn-{!cred.credit.id}" style="display:none;" class="{!IF(mod(trCounter,2)=0, 'tableInstalOdd', 'tableInstalEven')}">
												 <td colspan="8">
												 	<div class="tabsClient" style="background: inherit;margin-bottom: 10px;">
														<ul>
															<li><a href="#tabCred-1">Course Details</a></li>
															<apex:outputpanel layout="none" rendered="{!cred.listNotes.size>0}"><li><a href="#tabCred-2">Notes</a></li></apex:outputpanel>
															<apex:outputpanel layout="none" rendered="{!cred.listTasks.size>0}"><li><a href="#tabCred-3">Tasks</a></li></apex:outputpanel>
															<li><a href="#tabCred-4">Documents</a></li>
														</ul>

														<!-- Course Details -->
														<div id="tabCred-1">
															<table style="border: 1px solid rgb(193, 193, 193); width: 100%; font-size: 10px;" class="courseDetails">
																<tbody>
																	<tr>
																		<td colspan="4" style="font-weight:bold;"><apex:outputfield value="{!cred.credit.School_Name__c}" /> &nbsp; - &nbsp; <apex:outputfield value="{!cred.credit.Campus_Name__c}" /></td>
																	</tr>

																	<tr>
																		<td style="font-weight:bold;width: 5%;">Course:</td>
																		<td colspan="2"><apex:outputfield value="{!cred.credit.Course_Name__c}" /></td>
																	</tr>

																	<tr>
																		<td style="font-weight:bold;">Duration:</td>
																		<td style="width:17%"><apex:outputfield value="{!cred.credit.Course_Length__c}" /><apex:outputText value="{!cred.credit.Unit_Type__c}" style="margin-left: 5px;" /></td>
																		<td style="width:20%"><span style="font-weight:bold;">Start Date: &nbsp;</span> <apex:outputfield value="{!cred.credit.Start_Date__c}" /></td>
																		<td><span style="font-weight:bold;">End Date: &nbsp;</span><apex:outputfield value="{!cred.credit.End_Date__c}" /></td>
																	</tr>
																</tbody>
															</table>

														</div>
														<!-- END Course Details--->

														<!-- Notes -->
														<div id="tabCred-2">

															<apex:outputpanel rendered="{!cred.listNotes.size>0}">

																<table style=" font-size: 10px; width:99.9%;border-spacing:0;border: 1px solid #c1c1c1;" class="courseInstalments">
																	<thead>
																		<tr>
																			<td> Subject </td>
																			<td> Description </td>
																			<td> Note Details </td>
																		</tr>
																	</thead>
																	<tbody>
																		<apex:repeat value="{!cred.listNotes}" var="ntcred">
																			<tr>
																				<td style="width:20%">
																					<apex:commandLink value="{!ntcred.Subject__c}" onclick="editTask('{!ntcred.id}', 'clientcourse'); return false;" />
																				</td>

																				<td style="width:55%">
																					<apex:outputText value="{!LEFT(ntcred.Comments__c,250)}" styleClass="mini" title="{!ntcred.Comments__c}" escape="false" />
																					<apex:outputText value="..." rendered="{!LEN(ntcred.Comments__c) > 250}" styleClass="mini" title="{!ntcred.Comments__c}" />
																				</td>

																				<td style="width:25%;font-size:1.3em">
																					<apex:outputLabel value="Created by: " style="font-weight:bold;" /> <apex:outputLabel value="{!ntcred.CreatedBy.Name}" />
																					<apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
																					<span style="color:grey; font-size:0.8em;">
																						<apex:outputField value="{!ntcred.createdDate}" />
																					</span><br/>

																					<apex:outputLabel value="Last modified: " style="font-weight:bold;" /> <apex:outputLabel value="{!ntcred.LastModifiedBy.Name}" />
																					<apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
																					<span style="color:grey; font-size:0.8em;">
																						<apex:outputField value="{!ntcred.LastModifiedDate}" />
																					</span>
																				</td>
																			</tr>
																		</apex:repeat>
																	</tbody>
																</table>
															</apex:outputpanel>

														</div>
														<!-- END -- Notes -->

														<!-- Tasks-->
														<div id="tabCred-3">

															<apex:outputpanel rendered="{!cred.listTasks.size>0}">
																<table style=" font-size: 10px; width:99.9%;border-spacing:0;border: 1px solid #c1c1c1;" class="courseInstalments">
																	<thead>
																		<tr>
																			<td> Priority </td>
																			<td> Subject </td>
																			<td> Description </td>
																			<td> Due Date </td>
																			<td> Status </td>
																			<td> Task Details </td>
																		</tr>
																	</thead>
																	<tbody>
																		<apex:repeat value="{!cred.listTasks}" var="tskcred">
																			<tr>
																				<td style="width:5%">
																					<div class="priority{!RIGHT(tskcred.Priority__c, LEN(tskcred.Priority__c)-4)}" style="width: 80%;">
																						<apex:outputtext value="{!RIGHT(tskcred.Priority__c, LEN(tskcred.Priority__c)-3)}" />
																					</div>
																				</td>

																				<td style="width:10%">
																					<apex:commandLink value="{!tskcred.Subject__c}" onclick="editTask('{!tskcred.id}', 'clientcourse'); return false;" />
																				</td>

																				<td style="width:35%">
																					<apex:outputText value="{!LEFT(tskcred.Comments__c,250)}" styleClass="mini" title="{!tskcred.Comments__c}" escape="false" />
																					<apex:outputText value="..." rendered="{!LEN(tskcred.Comments__c) > 250}" styleClass="mini" title="{!tskcred.Comments__c}" />
																				</td>

																				<td style="width:9%">
																					<apex:outputpanel layout="none" rendered="{!NOT(ISNULL(tskcred.Due_Date__c)) && tskcred.Due_Date__c != today()}">
																					 	<apex:outputText value="{0,date, dd/MM/yyyy}">
																		                   	<apex:param value="{!tskcred.Due_Date__c}" />
																	              		</apex:outputText>
																		              		<br/>
																	              	</apex:outputpanel>
																	               	<apex:outputText value="{!today() - tskcred.Due_Date__c} days overdue" rendered="{!NOT(ISNULL(tskcred.Due_Date__c)) && tskcred.Due_Date__c < today()}" style="color:#FF8484; font-size:0.9em;display:block;margin-top: -4px;" />
																              		<apex:outputText value="Today" rendered="{!NOT(ISNULL(tskcred.Due_Date__c)) && tskcred.Due_Date__c = today()}" style="color:black; font-size:0.9em;display:block;margin-top: -4px;font-weight:bold;" />
																                    <apex:outputText value="Tomorrow" rendered="{!NOT(ISNULL(tskcred.Due_Date__c)) && tskcred.Due_Date__c = today()+1}" style="color:black; font-size:0.9em;display:block;margin-top: -4px;" />
																                    <apex:outputText value="in {!tskcred.Due_Date__c - today()} days" rendered="{!NOT(ISNULL(tskcred.Due_Date__c)) && tskcred.Due_Date__c > today()+1}" style="color:black; font-size:0.9em;display:block;margin-top: -4px;" />

																				</td>

																				<td style="width:6%">
																					<div style="{!IF(tskcred.Status__c=='Completed', 'color:#005c18;font-weight:bold;', 'color:black')}">{!tskcred.Status__c}</div>
																				</td>

																				<td style="font-size:1.3em;width:25%;">
																					<apex:outputLabel value="Created by: " style="font-weight:bold;" /> <apex:outputLabel value="{!tskcred.CreatedBy.Name}" />
																					<apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
																					<span style="color:grey; font-size:0.8em;">
																						<apex:outputField value="{!tskcred.createdDate}" />
																					</span><br/>

																					<apex:outputLabel value="Assigned to: " style="font-weight:bold;" /> <apex:outputLabel value="{!tskcred.Assign_To__r.Name}" />
																					<apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
																					<span style="color:grey; font-size:0.8em;">
																						<apex:outputField value="{!tskcred.AssignedOn__c}" />
																					</span><br/>

																					<apex:outputLabel value="Last modified: " style="font-weight:bold;" /> <apex:outputLabel value="{!tskcred.LastModifiedBy.Name}" />
																					<apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
																					<span style="color:grey; font-size:0.8em;">
																						<apex:outputField value="{!tskcred.LastModifiedDate}" />
																					</span>
																				</td>
																			</tr>
																		</apex:repeat>
																	</tbody>
																</table>
															</apex:outputpanel>
														</div>
														<!-- END -- Tasks -->

														<!-- Documents -->
														<div id="tabCred-4">
															<iframe src="payment_uploadFiles?id={!cred.credit.Cancellation_Docs__c}&obj=Client_Document__c" width="100%" height="auto" style="min-height: 100px;padding: 0px;background: none transparent; background-color: transparent;" allowTransparency="true" />
														</div>
														<!-- END -- Documents -->
													</div>
												</td>
											</tr>
											<apex:variable value="{!trCounter+1}" var="trCounter" />
										</apex:repeat>
									</tbody>
								</table>
							</apex:outputpanel>
						</apex:outputpanel>

				</div>
				<!-- END -- PENDING CREDITS -->

			</div>

			</apex:form>
		</td>
	</tr>
</table>
<c:limits id="pbLimits"/>
<script>

	var modalWind;
	var sendEmail = false;
	var listType = '';


	jQuery(document).ready(function() {

		jQuery('.chosen').chosen();

	});

	function setFocusOnLoad() {}

	function toggle(popUpDiv) {
		var el = document.getElementById(popUpDiv);
		if ( el.style.display == 'none' ) { el.style.display = '';}
		else {el.style.display = 'none';}
		return false;
	}

	function selectAll(value){
		jQuery('.selectInstalment').each(function(){
			jQuery(this).prop("checked", value);
		});

	}

	function verifySelectedContacts(action){
		var hasClient = false;

		jQuery('.selectInstalment').each(function(){
			if(jQuery(this).is(':checked'))
				hasClient = true;
		});

		if(!hasClient){
			alert('Please select at least one client.');
			jQuery('.actions').val('noAction');
			jQuery(".actions").trigger("chosen:updated");
			return false;
		}else{

			//alert(action);
			sendEmail = true;
			if(action == 'email'){
				actionSendEmail();
			}
			else if(action == 'sms'){
				actionSendSMS();
			}
		}
	}


	function instalmentActions(action, instalmentId, invoiceId){
		//alert('instalment=>' + instalmentId + ' invoice=>' + invoiceId);

		if(action=='pay'){
			payInstalment(instalmentId);
			jQuery('.instalmentActions').val('noAction');
			jQuery(".instalmentActions").trigger("chosen:updated");
		}
		else if(action== 'pds'){
			confirmPDS(instalmentId);
			jQuery('.instalmentActions').val('noAction');
			jQuery(".instalmentActions").trigger("chosen:updated");
		}

		else if(action== 'noteTask'){

			newTask(instalmentId, invoiceId);

			jQuery('.instalmentActions').val('noAction');
			jQuery(".instalmentActions").trigger("chosen:updated");
		}

		else if(action== 'activity'){
			createActivity(instalmentId, invoiceId);
			jQuery('.instalmentActions').val('noAction');
			jQuery(".instalmentActions").trigger("chosen:updated");
		}
	}

	function refundCreditActions(action, refundId, type){
		if(action== 'noteTask'){
			newTaskClientCourse(refundId);
			jQuery('.' + type).val('noAction');
			jQuery("." + type).trigger("chosen:updated");
			listType = type;
		}

		else if(action== 'refund'){
			refund(refundId);
			jQuery('.' + type).val('noAction');
			jQuery("." + type).trigger("chosen:updated");
			listType = type;
		}

		else if(action== 'School Credit'){
			credit(refundId);
			jQuery('.' + type).val('noAction');
			jQuery("." + type).trigger("chosen:updated");
			listType = type;
		}
	}


	function setCloseModal(){
		jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
		jQuery('.Close').unbind('click');
		jQuery('.Close').click(function() {closemodal();});

	}

	function setCloseModalUpdate(){
		jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
		jQuery('.Close').unbind('click');
		jQuery('.Close').click(function() {UpdateOpener();});

	}

	function closemodal(){
		jQuery('#interVeil').css('display','none');
		modalWind.close();
	}

	function UpdateOpener(){
		jQuery('#interVeil').css('display','none');
		modalWind.close();
		refreshCredit();

	}


	function messageContacts(instalmentIds, action, title){
		modalWind = dhtmlmodal.open('sendEmail', 'iframe', 'client_course_instalments_email?ins='+instalmentIds + '&action='+ action, title, 'width=800px,height=550px,resize=1,center=1,scrolling=0');
		setCloseModal();
		listType = 'instalment';
	}


	function credit(clientcourse){
		modalWind = dhtmlmodal.open('School Credit', 'iframe', 'client_course_cancel?id='+clientcourse, 'Cancel Course ', 'width=800px,height=800px,resize=1,center=1,scrolling=0');
		setCloseModalUpdate();
	}

	function payInstalment(instalment){
		modalWind = dhtmlmodal.open('payInstalment', 'iframe', 'client_course_instalment_pay?id='+instalment, 'Pay Instalment ', 'width=800px,height=550px,resize=1,center=1,scrolling=0');
		setCloseModalUpdate();
		listType = 'instalment';
	}



    function closeTaskModalRefresh(){
    	UpdateOpener();
    }

    function createActivity(instalment, invoice){
    	if(instalment!=null && instalment!= '')
    		modalWind = dhtmlmodal.open('createActivity', 'iframe', 'client_course_instalments_activity?instalmentId='+instalment+'&visits=false', 'Create Activity', 'width=350px,height=150px,resize=1,center=1,scrolling=0');
   		else if(invoice!=null && invoice!= '')
   			modalWind = dhtmlmodal.open('createActivity', 'iframe', 'client_course_instalments_activity?invoiceId='+invoice+'&visits=false', 'Create Activity', 'width=350px,height=150px,resize=1,center=1,scrolling=0');

	    setCloseModal();
    	listType = 'instalment';
    }

	function completeCreateTask(){
		UpdateOpener();
	}

	function completeTaskEdition(){
		UpdateOpener();
	}

	function editTask(idTask, type){
	   listType = type;
       modalWind = dhtmlmodal.open('editTask', 'iframe', 'editTask?visits=false&task='+idTask, 'Edit Task', 'width=800px,height=650px,resize=1,center=1,scrolling=0');
       setCloseModal();
    }

     function closemodalAddVisit(){
		jQuery('#interVeil').css('display','none');
		modalWind.close();
	}

	function confirmPDS(instalment) {
       var answer = confirm('Are you sure you want to PDS this instalment?');
       if (answer){
       	   PDS(instalment);
       	   listType = 'instalment';
           return false;
       } else {
           return false;
       }
     }

     function checkStatus(value){
     	if(value=='overdue')
     		jQuery('.dateFilter').prop('disabled', true);
   		else
   			jQuery('.dateFilter').prop('disabled', false);
 	}


 	function createTaskforCancelCourse(clientCourseId){
     	closemodal();
       	modalWind = dhtmlmodal.open('createTask', 'iframe', 'createTask?pop=modal&clientCourse=' + clientCourseId + '&visits=false', 'Task & Note', 'width=800px,height=600px,resize=1,center=1,scrolling=0');
	    setCloseModal();
     	isTaskCancelCourse = true;
     }


     function cancelSchoolEmail(clientCourseId, type){
     	closemodal();
       	modalWind = dhtmlmodal.open('sendEmail', 'iframe', 'payment_school_email?visits=false&type='+type+'&id='+clientCourseId, 'Send Email to School', 'width=900px,height=800px,resize=1,center=1,scrolling=0');
	    setCloseModal();
     }

     function cancelClientEmail(clientCourseId, type, clientId){
     	closemodal();
       	modalWind = dhtmlmodal.open('sendEmail', 'iframe', 'sendMassEmail?type='+type+'&cc='+clientCourseId+'&visits=false&ids='+ clientId, 'Send Email to Client', 'width=800px,height=800px,resize=1,center=1,scrolling=0');
	    setCloseModal();
     }


     function viewEmail(filename){
     	closemodal();
        modalWind = dhtmlmodal.open('viewEmail', 'iframe', 'view_email?visits=false&filename='+filename, 'View Email', 'width=800px,height=610px,resize=1,center=1,scrolling=0');
        setCloseModal();
     }

     function closeModalCancellation(){
		UpdateOpener();
	}

</script>
</apex:page>