<apex:page sidebar="false" showHeader="false">
	<apex:includeScript value="{!$Resource.JQuery_v1_11_1}" />
	
	<!-- <apex:include pageName="xCourseSearchStyle" />     -->
	<style>
		
		body {background:none transparent;}
	
		.s3connector { font-size: 0.85em; }
	
		.s3connector .pbHeader, .s3connector #searchPanel { display: none !important; }
		 
		 .s3connector #dropZone {
		 	float: right;
		 	position: relative;
		 	width: 59%;
		 	padding: 5px 0px;
		 	top: -22px;
		 	font-size: 1.5em;
		 }
		 
		 .s3connector #capButton {
   			display: none;
   		}
		
		.s3connector .bPageBlock {
			border: 0px !important;
			margin-bottom: 0px !important;
			background-color: transparent !important;
		}
		
		.agencyButton, #btnBrowse, #btnUpload {
			padding: 5px;
			margin: 0px;
		}
		
	</style>
	
	<div class="s3connector">	
		<cps3:CloudpondS3Connector objectName="{!$CurrentPage.parameters.obj}" />
	</div>
	
	
	<script>
		$ = jQuery.noConflict();
		
		$(document).ready(function(){
			window.setTimeout(function() {
				removeDesc();
			}, 10);	
			
			parent.showConfirmEnrolmentButton();
		});
		
		function removeDesc(){			
			$('#bodyTable').find('th:nth-child(3)').remove();
			$('#bodyTable').find('td:nth-child(3)').remove();
			$('.actionColumn').find('a:contains("Edit")').remove();
			
			$('.actionColumn').contents().filter(function() {
				if(this.nodeType === 3 && this.nodeValue != 'Action')
					$(this).remove();    			
  			});
			
			
			
		}
		
	</script>	

</apex:page>