<apex:page controller="client_course_confirm_loo" tabstyle="backoffice__tab" action="{!setParams}">
<apex:include pageName="EnrolmentStyle" />
	<style>
		.docColumn{ border-left: 1px solid #ccc; }
		.dateFormat {
			display: none;
		}

		.requestTable {
			border: 1px solid #ccc;
			border-spacing: 0;
			margin: 3px 0;
			width: 100%;
		}

		.requestTable tr th {
			padding: 5px;
			border-bottom: 1px solid #ccc;
			border-right: 1px solid #ccc;
		}

		.requestTable tr td {
			padding: 5px;
			color: #666;
			vertical-align: middle;
		}
		.borderBottom td {
			border-bottom: 1px solid #ccc;
		}

		.tableInstal {
			border-bottom: 1px solid #ccc;
		}

		.requestTable tbody tr.odd {
			border-bottom: 0;
		}

		.requestTable tbody tr.even {
			background-color: #eee;
		}

		.filters {
			background-color: #f9f9f9;
			display: block;
			margin: 1em 0.5em 0.5em;
			padding: 10px;
			width: 100%;
		}
		.uploadFrame {

		}

		.innerblock {
			display: block;
			margin: 5px 0;
		}
		.softDeleted td {
			background-color: #FFE8E8 !important;
		}

		.filterbox {
			display: table;
			float: left;
			//width: 10%;
			//min-width: 160px;
		}
		.SearchInput {
			padding:0 6px !important;
		}

		.SearchLabel{margin-left: 7px;}
	</style>

	<script>
		function hideLoadRow(rowName) {
			jQuery('.' + rowName).unblock();
		}

		function toggle(popUpDiv) {
			var el = document.getElementById(popUpDiv);
			if (el.style.display == 'none') {
				el.style.display = '';
			} else {
				el.style.display = 'none';
			}
			return false;
		}
	</script>
	<table class="tbl_Details">
		<tr>
			<td class="sidesColumn">
				<c:menuBackoffice selectedItem="{!requestType}"/>
			</td>

			<td class="middleColumn bodyColumn">
				<apex:form >
					<apex:pageMessages id="errorMessages"/>

					<div class="title" style="font-size:1.5em;margin-bottom:10px;">
						<span class="arrow-e" style="font-size: 1.5em;"></span>&nbsp;LOO Management
						<apex:outputLink value="/help_link?fl=client_course_confirm_loo" target="_blank" style="float:right;font-weight: normal;text-decoration: none; color: #777777; font-size: 0.7em;">
							<apex:image value="{!urlfor($Resource.icons,'icons/commons/help.png')}" style="height: 16px; width: 16px; position: relative; top: 3px;" />
							Help
						</apex:outputLink>
					</div>

					<apex:actionRegion >
						<apex:actionFunction name="search" action="{!search}" rerender="searchResult, cpTabs" status="statusLoad"/>
						<apex:actionFunction name="missingDocuments" action="{!missingDocuments}" rerender="searchResult, cpTabs" status="statusLoad" oncomplete="showToast('Application saved.');">
							<apex:param name="courseid" value="" />
							<apex:param name="noteComments" value="" />
							<apex:param name="isUrgent" value="" />
							<apex:param name="firstInst" value="" /> 
						</apex:actionFunction>
						<apex:actionFunction name="confirmLOOAF" action="{!confirmLOO}" rerender="searchResult, cpTabs" status="statusLoad"  oncomplete="showToast('LOO confirmed.');" >
							<apex:param name="courseid" value="" />
							<apex:param name="noteComments" value="" />
							<apex:param name="isLOOConditional" value="" />
							<apex:param name="isUrgent" value="" />
							<apex:param name="firstInst" value="" /> 
						</apex:actionFunction>
						<apex:actionFunction name="reverseProcess" action="{!reverseProcess}" rerender="searchResult, cpTabs" status="statusLoad"  oncomplete="showToast('Application saved.');" >
							<apex:param name="courseid" value="" />
							<apex:param name="noteComments" value="" />
							<apex:param name="isLOOConditional" value="" />
							<apex:param name="isUrgent" value="" />
							<apex:param name="firstInst" value="" /> 
						</apex:actionFunction>
						<apex:actionFunction name="createCourseNote" action="{!createCourseNote}" status="statusLoad" rerender="searchResult" oncomplete="showToast('Note created.');">
							<apex:param name="clientId" value="" />
							<apex:param name="courseid" value="" />
							<apex:param name="noteSubj" value="" />
							<apex:param name="noteDesc" value="" />
							<apex:param name="firstInst" value="" />
						</apex:actionFunction>

					</apex:actionRegion>

					<apex:outputpanel layout="block" id="cpTabs">
						<div onclick="showLoading('Loading');window.location.href ='client_course_request_loo?ct={!selectedCountry}&gr={!selectedAgencyGroup}&ag={!selectedAgency}&sch={!selectedSchool}&cp={!selectedCampus}&vi={!YEAR(dateFrom.BirthDate)}-{!MONTH(dateFrom.BirthDate)}-{!DAY(dateFrom.BirthDate)}&vf={!YEAR(dateTo.BirthDate)}-{!MONTH(dateTo.BirthDate)}-{!DAY(dateTo.BirthDate)}&st={!keywords}'" class="divTabs ">Request LOO
							<span class="counterTab">{!totals.requestedLOO}</span>
						</div>
						<div onclick="showLoading('Loading');window.location.href ='client_course_confirm_loo?ct={!selectedCountry}&gr={!selectedAgencyGroup}&ag={!selectedAgency}&sch={!selectedSchool}&cp={!selectedCampus}&vi={!YEAR(dateFrom.BirthDate)}-{!MONTH(dateFrom.BirthDate)}-{!DAY(dateFrom.BirthDate)}&vf={!YEAR(dateTo.BirthDate)}-{!MONTH(dateTo.BirthDate)}-{!DAY(dateTo.BirthDate)}&st={!keywords}'" class="divTabs divTabSelected">Confirm LOO
							<span class="counterTab">{!totals.receivedLOO}</span>
						</div>
					</apex:outputpanel>
					<br/><br/>

					<apex:outputpanel id="filters" styleclass="box-searh" layout="block" style="width:100%;">
						<apex:actionRegion >
							<table cellpadding="6px;" cellspacing="2px" class="filters">
							<tr>
								<td>
									<apex:selectList value="{!selectedCountry}" size="1" style="width:200px;" styleclass="chosen">
										<apex:SelectOptions value="{!countryOptions}" />
										<apex:actionsupport event="onchange" action="{!changeCountry}" rerender="pklGroups, pklAgencies" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>
									</apex:selectList>
									<div style="display: block;">Courses in Country</div>
								</td>
								<td>
									<apex:outputpanel id="pklGroups" >
										<apex:selectList value="{!selectedAgencyGroup}" size="1" style="width:150px;" styleclass="chosen">
											<apex:SelectOptions value="{!agencyGroupOptions}" />
											<apex:actionSupport event="onchange" action="{!changeGroup}" rerender="pklAgencies" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>
										</apex:selectList>
									</apex:outputpanel>
									<apex:outputText value="Agency Group" style="display: block;" />
					          	</td>

								<td>
									<apex:outputpanel id="pklAgencies">
										<apex:selectList size="1" value="{!selectedAgency}" style="width:150px;"  styleclass="chosen">
											<apex:selectOptions value="{!Agencies}" />
											<!-- <apex:actionSupport event="onchange" action="{!changeAgency}" status="statusLoad" rerender="filters" oncomplete="jQuery('.chosen').chosen();"/> -->
										</apex:selectList>
									</apex:outputpanel>
									<div><span class="SearchLabel" style="margin-left:0px;">Agency</span></div>
								</td>

								<td>
									<apex:inputfield value="{!dateFrom.BirthDate}" />
									<apex:outputText value="and" style="margin: 0 5px" styleClass="SearchLabel" />
									<apex:inputfield value="{!dateTo.BirthDate}" />
									<div class="SearchFooter" style="margin-left: 53px;"><span class="SearchLabel">Visa Expiry</span></div>
								</td>
								<td>
									<div class="SearchInput" >
										<apex:inputtext value="{!keywords}" />
									</div>
									<div><span class="SearchLabel">Student Name</span></div>
								</td>
								<td>
									<apex:commandLink value="Search" action="{!search}" status="statusLoad" rerender="errorMessages, refineFilters, searchResult ,cpTabs" styleClass="agencyButton" style="padding: 5px 20px; position: relative; top: 1px; font-weight:bold !important;" onComplete="jQuery('.chosen').chosen();" />
								</td>
							</tr>
							<tr>
								<td colspan="6">
									<apex:outputpanel layout="block" id="refineFilters" styleclass="filterbox" style="border: 1px solid #c1c1c1; border-radius: 3px; padding: 0 5px 3px;">
										<div style="background-color: #f9f9f9; left: 5px; padding: 0 5px; position: relative; top: -8px; width: 90px;">
											Refine Search
										</div>

										<div class="filterbox">
											<div class="SearchInput" style="margin: 3px 0;">
												<apex:selectList size="1" value="{!selectedSchool}" style="width:150px;" styleclass="chosen">
													<apex:selectOptions value="{!schoolOptions}" />
													<apex:actionSupport event="onchange" action="{!changeSchool}" status="statusLoad" rerender="campusFilter" oncomplete="jQuery('.chosen').chosen();"/>
												</apex:selectList>
											</div>
											<div><span class="SearchLabel">School</span></div>
										</div>
										<apex:outputpanel layout="block" styleclass="filterbox" id="campusFilter">
											<div class="SearchInput" style="margin: 3px 0;">
												<apex:selectList size="1" value="{!selectedCampus}" style="width:150px;" styleclass="chosen">
													<apex:selectOptions value="{!campusOptions}" />
												</apex:selectList>
											</div>
											<div><span class="SearchLabel">Campus</span></div>
										</apex:outputpanel>
									</apex:outputpanel>
								</td>
							</tr>
						</table>
						</apex:actionRegion>
					</apex:outputpanel>

					<apex:outputPanel rendered="{!agenciesUnderBackoffice != ''}" styleClass="boxBackoffice">
						<div style="border-bottom: 1px solid #999999; color: #999999; display: block; font-size: 1.1em; font-weight: bold; margin-bottom: 5px; padding-right: 10px;">Backoffice Agencies <span style="font-size: 0.8em !important; font-weight: normal !important; margin-left: 0;font-style: italic;">(Agencies which you are chasing LOO for)</span></div>
						<apex:outputText value="{!agenciesUnderBackoffice}" escape="false" />
					</apex:outputPanel>

					<apex:outputpanel id="searchResult">

						<apex:pageMessages escape="false" />

						<apex:outputpanel rendered="{!ISNULL(pendingRequests) || pendingRequests.size<1}">
							<div style="text-align:center; color:red; border:1px solid grey; padding:5px; margin-top: 6px;width: 100%;">
								No result found.
							</div>
						</apex:outputpanel>

						<apex:outputpanel rendered="{!NOT(ISNULL(pendingRequests)) && pendingRequests.size>0}">

							<table class="requestTable">
								<thead>
									<tr>
										<th>Client Name</th>
										<th>Course / School Name</th>
										<th>Course Dates</th>
										<th>LOO Requested</th>
										<th>Upload LOO</th>
										<th>Action</th>
									</tr>
								</thead>
								<apex:variable var="count" value="{!1}"/>
								<apex:repeat value="{!pendingRequests}" var="request">
									<tr class="{!IF(MOD(count,2) == 0, 'even', 'odd')} borderBottom {!IF(request.course.isSoftDeleted__c, 'softDeleted', '')}">
										<td style="border-right: 1px solid #ccc;" rowspan="{!request.packageCourses.size + 1}" class="span-{!request.course.id}">
											<div style="display: block; margin-bottom: 10px;text-align: center;">
												<apex:image styleclass="icon" value="{!URLFOR($Resource.icons,'/icons/commons/overdue.png')}" rendered="{!request.course.isUrgentEnrolment__c}" title="Urgent" style="width:12px; height: auto;"/>
											</div>
											<apex:outputlink value="enrolment_process?id={!request.contact.id}&bk={!request.course.Booking_Number__c}" target="_blank" style="font-size: 12px; font-weight: bold;"><apex:outputtext value="{!request.contact.Name}" /></apex:outputlink>
											<div class="innerblock">
												<apex:outputText value="Visa Expiry: "/>
												<apex:outputField value="{!request.contact.Visa_Expiry_Date__c}"/>
												<apex:outputPanel rendered="{!not(isblank(request.contact.Visa_Expiry_Date__c))}" layout="block" style="margin-left: 67px;">
													<apex:outputText value=" (in {!ABS(FLOOR(request.contact.Visa_Expiry_Date__c - TODAY()))} days)" escape="false" rendered="{!FLOOR(request.contact.Visa_Expiry_Date__c - TODAY()) > 1}" />
													<apex:outputText value=" (in {!ABS(FLOOR(request.contact.Visa_Expiry_Date__c - TODAY()))} day)" escape="false" rendered="{!FLOOR(request.contact.Visa_Expiry_Date__c - TODAY()) = 1}" />
													<apex:outputText value=" (today)" escape="false" rendered="{!ABS(FLOOR(request.contact.Visa_Expiry_Date__c - TODAY())) = 0}" style="color: red;" />
													<apex:outputText value=" ({!ABS(FLOOR(request.contact.Visa_Expiry_Date__c - TODAY()))} day ago)" escape="false" rendered="{!FLOOR(request.contact.Visa_Expiry_Date__c - TODAY()) = -1}" style="color: red;" />
													<apex:outputText value=" ({!ABS(FLOOR(request.contact.Visa_Expiry_Date__c - TODAY()))} days ago)" escape="false" rendered="{!FLOOR(request.contact.Visa_Expiry_Date__c - TODAY()) < -1}" style="color: red;" />
												</apex:outputPanel>
											</div>

											<div class="innerblock">
												<apex:outputText value="Owner: "/>
												<apex:outputText value="{!request.contact.Owner__r.Name}"/>
												<br/>
												<apex:outputText style="font-size: 0.9em;" value="({!request.contact.Owner__r.Contact.Account.Name})"/>
											</div>

											<div class="innerblock">
												<apex:outputText value="Stage: "/>
												<apex:outputText value="{!request.contact.Status__c}"/>
											</div>
										</td>

										<td>
											<div style="display: inline-block;">
												<apex:commandlink onclick="return false;" rendered="{!request.courseNotes.size > 0 || request.activities.size > 0}">
													<apex:image onclick="toggle('{!$Component.img_max}'); toggle('{!$Component.img_min}');jQuery('.docs_{!request.course.id}').toggle();
																	$('.span-{!request.course.id}').attr('rowspan', parseInt($('.span-{!request.course.id}').attr('rowspan')) + 1);
																	$(this).closest('tr').removeClass('borderBottom');"
														value="{!urlfor($Resource.assets,'images/button-maximize.png')}"
														id="img_max"
														styleclass="toggleImage"/>
												</apex:commandlink>

												<apex:commandlink onclick="return false;" rendered="{!request.courseNotes.size > 0 || request.activities.size > 0}" >
													<apex:image onclick="toggle('{!$Component.img_max}'); toggle('{!$Component.img_min}');jQuery('.docs_{!request.course.id}').toggle();
																	$('.span-{!request.course.id}').attr('rowspan', parseInt($('.span-{!request.course.id}').attr('rowspan')) - 1);
																	$(this).closest('tr').addClass('borderBottom');"
														value="{!URLFOR($Resource.assets,'images/button-minimize.png')}"
														id="img_min"
														style="display: none;"
														styleclass="toggleImage"/>
												</apex:commandlink>

												<apex:image url="{!URLFOR($Resource.icons,'icons/commons/page_edit.png')}" rendered="{!request.courseNotes.size > 0}" style="margin: 0px 5px;" title="This enrolment has Notes."/>
											</div>
											<div style="display: inline-block; {!IF(request.courseNotes.size > 0, '', 'margin-left: 26px;')}">
												<div class="innerblock">
													<apex:outputlink value="client_course_new?id={!request.contact.id}&ccId={!request.course.id}" target="_blank" style="font-size: 13px; font-weight: bold;"><apex:outputtext value="{!request.course.Course_Name__c}" /></apex:outputlink>
												</div>
												<div class="innerblock">
													<apex:outputText value="{!request.course.School_Name__c}"/>
												</div>
												<apex:outputPanel rendered="{!NOT(ISBLANK(request.course.Enrolment_Start_Date__c))}" >
													<div class="innerblock" style="font-size: 11px;">
														Process started on:&nbsp;
														<apex:outputText value="{0,date,dd/MM/yyyy}">
															<apex:param value="{!request.course.Enrolment_Start_Date__c+offset}"/>
														</apex:outputText>
														<apex:outputText value=" (today)" escape="false" rendered="{!ABS(FLOOR(request.course.Enrolment_Start_Date__c - now())) = 0}" />
														<apex:outputText value=" ({!ABS(FLOOR(request.course.Enrolment_Start_Date__c - now()))} day ago)" escape="false" rendered="{!FLOOR(request.course.Enrolment_Start_Date__c - now()) = -1}" />
														<apex:outputText value=" ({!ABS(FLOOR(request.course.Enrolment_Start_Date__c - now()))} days ago)" escape="false" rendered="{!FLOOR(request.course.Enrolment_Start_Date__c - now()) < -1}" />
													</div>
												</apex:outputPanel>
											</div>
										</td>
										<td>
											<div class="innerblock">
												Start:&nbsp;
												<apex:outputfield value="{!request.course.Start_Date__c}"/>
												<apex:outputPanel rendered="{!not(isblank(request.course.Start_Date__c))}" layout="block" style="margin-left: 30px;">
													<apex:outputText value=" (in {!ABS(FLOOR(request.course.Start_Date__c - TODAY()))} days)" escape="false" rendered="{!FLOOR(request.course.Start_Date__c - TODAY()) > 1}" />
													<apex:outputText value=" (in {!ABS(FLOOR(request.course.Start_Date__c - TODAY()))} day)" escape="false" rendered="{!FLOOR(request.course.Start_Date__c - TODAY()) = 1}" />
													<apex:outputText value=" (today)" escape="false" rendered="{!ABS(FLOOR(request.course.Start_Date__c - TODAY())) = 0}" style="color:red;" />
													<apex:outputText value=" ({!ABS(FLOOR(request.course.Start_Date__c - TODAY()))} day ago)" escape="false" rendered="{!FLOOR(request.course.Start_Date__c - TODAY()) = -1}" style="color:red;" />
													<apex:outputText value=" ({!ABS(FLOOR(request.course.Start_Date__c - TODAY()))} days ago)" escape="false" rendered="{!FLOOR(request.course.Start_Date__c - TODAY()) < -1}" style="color:red;" />
												</apex:outputPanel>
											</div>
											<div class="innerblock">
												End:&nbsp;
												<apex:outputfield value="{!request.course.End_Date__c}"/>
											</div>
										</td>
										<td>
											<div class="innerblock">
												Requested by:&nbsp; <apex:outputfield value="{!request.course.LOO_Requested_to_BO_By__c}" style="font-weight:bold;" />&nbsp; - &nbsp;
												<apex:outputtext value="{!request.course.LOO_Requested_to_BO_By__r.Contact.Account.Name}" style="font-weight:bold;" />
											</div>
											<div class="innerblock">
												On:&nbsp;
												<apex:outputText value="{0,date,dd/MM/yyyy HH:mm:ss}">
											        <apex:param value="{!request.course.LOO_Requested_to_SC_On__c+offset}"/>
											    </apex:outputText>
												<apex:outputText value=" (today)" escape="false" rendered="{!ABS(FLOOR(request.course.LOO_Requested_to_SC_On__c - now())) = 0}" />
												<apex:outputText value=" ({!ABS(FLOOR(request.course.LOO_Requested_to_SC_On__c - now()))} day ago)" escape="false" rendered="{!FLOOR(request.course.LOO_Requested_to_SC_On__c - now()) = -1}" />
												<apex:outputText value=" ({!ABS(FLOOR(request.course.LOO_Requested_to_SC_On__c - now()))} days ago)" escape="false" rendered="{!FLOOR(request.course.LOO_Requested_to_SC_On__c - now()) < -1}" />
											</div>

											<apex:outputPanel layout="block" styleClass="innerblock" rendered="{!request.course.isOnlineApplication__c}">
												<apex:outputText value="Online Application" styleClass="onlineApplication" />
											</apex:outputPanel>
										</td>

										<td style="padding: 0;"  rowspan="{!request.packageCourses.size + 1}" class="docColumn">
											<iframe class="uploadFrame" src="fileUpload?bucket={!bucket}&folder=cloudpondconnector/Client_Document__c/{!LEFT(request.course.LOO__c, 15)} - {!LEFT(request.course.LOO__c,15)}&obj=Client_Document__c&field=preview_link__c&oid={!LEFT(request.course.LOO__c,15)}&style=mini"
													width="100%" height="auto" style="min-height: 100px;padding: 0px;background: none transparent; background-color: transparent;" allowTransparency="true" />
										</td>

										<td style=" border-left: 1px solid #ccc;" rowspan="{!request.packageCourses.size + 1}" class="span-{!request.course.id}">
											<apex:actionRegion rendered="{!NOT(request.course.isSoftDeleted__c)}" >
												<select class="actions" onclick="if (typeof(this.selectedIndex) != 'undefined') exec(this.value, '{!request.course.id}', '{!request.course.Enrolment_Form__c}', '{!request.firstInst}')">
													<option value="actions">Select Action</option>
													<option value="cl">Confirm LOO</option>
													<option value="mi">Missing Information</option>
													<option value="se">Send Email</option>
												</select>
											</apex:actionRegion>

											<apex:actionRegion rendered="{!request.course.isSoftDeleted__c}">
												This enrolment was deleted <br/>
												by {!request.courseDeletedBy}
												<br/>
												on
												<apex:outputText value="{0,date,dd/MM/yyyy HH:mm:ss}">
											        <apex:param value="{!request.courseDeletedOn+offset}"/>
											    </apex:outputText>
												<br/>
												<div style="text-align: center; margin: 10px auto;">
													<apex:commandLink action="{!confirmDelete}" value="OK" styleClass="agencyButton" status="statusLoad" >
														<apex:param name="courseId" value="{!request.course.id}" />
													</apex:commandLink>
												</div>
											</apex:actionRegion>

											<div class="requestDIV-{!request.course.id}" style="display:none;">
												<div class="divTable">
													<div class="divTableBody">
													<div class="divTableRow">
														<div class="divTableCell requestLabel" style="width: 65px;"><apex:outputText value="Campus" /></div>
														<div class="divTableCell"><apex:outputText value="{!request.course.Campus_Name__c}" style="font-weight: bold;font-size: 1.1em;" /></div>
														</div>
														<div class="divTableRow">
															<div class="divTableCell requestLabel"><apex:outputText value="Course" /></div>
															<div class="divTableCell"><apex:outputText value="{!request.course.Course_Name__c}" style="font-weight: bold;font-size: 1.1em;" /></div>
														</div>
														<div class="divTableRow">
															<div class="divTableCell requestLabel"><apex:outputText value="Duration" /></div>
															<div class="divTableCell">
																<apex:outputText value="{!request.course.Course_Length__c}" style="font-weight: bold;font-size: 1.1em;" />
																<apex:outputText value="{!request.course.Unit_Type__c}" style="margin-left: 5px;font-weight: bold;font-size: 1.1em;" />
																<apex:outputText value="s" rendered="{!request.course.Course_Length__c > 1}" style="font-weight: bold;font-size: 1.1em;" />

																<apex:outputText value="Start date: " styleclass="requestLabel" style="margin-left: 20px;" />
																<span style="font-weight: bold;font-size: 1.1em;margin-left: 5px;"><apex:outputField value="{!request.course.Start_Date__c}" /></span>


																<apex:outputText value="End date: " styleclass="requestLabel" style="margin-left: 20px;" />
																<span style="font-weight: bold;font-size: 1.1em;margin-left: 5px;"><apex:outputField value="{!request.course.End_Date__c}" /></span>
															</div>
														</div>
													</div>
													<apex:repeat value="{!request.packageCourses}" var="package">

														<div class="divTableRow"><div class="divTableCell"><apex:outputText value="" /></div></div>

														<div class="divTableRow">
															<div class="divTableCell requestLabel" style="width: 65px;"><apex:outputText value="Campus" /></div>
															<div class="divTableCell"><apex:outputText value="{!package.Campus_Name__c}" style="font-weight: bold;font-size: 1.1em;" /></div>
														</div>
														<div class="divTableRow">
															<div class="divTableCell requestLabel"><apex:outputText value="Course" /></div>
															<div class="divTableCell"><apex:outputText value="{!package.Course_Name__c}" style="font-weight: bold;font-size: 1.1em;" /></div>
														</div>
														<div class="divTableRow">
															<div class="divTableCell requestLabel"><apex:outputText value="Duration" /></div>
															<div class="divTableCell">
																<apex:outputText value="{!package.Course_Length__c}" style="font-weight: bold;font-size: 1.1em;" />
																<apex:outputText value="{!package.Unit_Type__c}" style="margin-left: 5px;font-weight: bold;font-size: 1.1em;" />
																<apex:outputText value="s" rendered="{!package.Course_Length__c > 1}" style="font-weight: bold;font-size: 1.1em;" />

																<apex:outputText value="Start date: " styleclass="requestLabel" style="margin-left: 20px;" />
																<span style="font-weight: bold;font-size: 1.1em;margin-left: 5px;"><apex:outputField value="{!package.Start_Date__c}" /></span>


																<apex:outputText value="End date: " styleclass="requestLabel" style="margin-left: 20px;" />
																<span style="font-weight: bold;font-size: 1.1em;margin-left: 5px;"><apex:outputField value="{!package.End_Date__c}" /></span>
															</div>
														</div>
													</apex:repeat>
												</div>
												<div style="width: 100%; text-align: right; display: block;">
													<apex:outputText value="Urgent Enrolment" />
													<span style="margin: 0px 5px;"><apex:inputCheckbox styleClass="isUrgentCheckbox" value="{!request.course.isUrgentEnrolment__c}" /></span>
												</div>
												<div class="requiredInput">
													<div class="requiredBlock" />
													<textarea class="{!request.course.id}" style="width: 100%; height: 100px;padding: 5px;" placeholder="Which information is missing?" value="" ></textarea>
												</div>
											</div>

											<div class="confirmLOO-{!request.course.id}" style="display:none;">
												<div class="divTable">
													<div class="divTableBody">
													<div class="divTableRow">
														<div class="divTableCell requestLabel" style="width: 65px;"><apex:outputText value="Campus" /></div>
														<div class="divTableCell"><apex:outputText value="{!request.course.Campus_Name__c}" style="font-weight: bold;font-size: 1.1em;" /></div>
														</div>
														<div class="divTableRow">
															<div class="divTableCell requestLabel"><apex:outputText value="Course" /></div>
															<div class="divTableCell"><apex:outputText value="{!request.course.Course_Name__c}" style="font-weight: bold;font-size: 1.1em;" /></div>
														</div>
														<div class="divTableRow">
															<div class="divTableCell requestLabel"><apex:outputText value="Duration" /></div>
															<div class="divTableCell">
																<apex:outputText value="{!request.course.Course_Length__c}" style="font-weight: bold;font-size: 1.1em;" />
																<apex:outputText value="{!request.course.Unit_Type__c}" style="margin-left: 5px;font-weight: bold;font-size: 1.1em;" />
																<apex:outputText value="s" rendered="{!request.course.Course_Length__c > 1}" style="font-weight: bold;font-size: 1.1em;" />

																<apex:outputText value="Start date: " styleclass="requestLabel" style="margin-left: 20px;" />
																<span style="font-weight: bold;font-size: 1.1em;margin-left: 5px;"><apex:outputField value="{!request.course.Start_Date__c}" /></span>


																<apex:outputText value="End date: " styleclass="requestLabel" style="margin-left: 20px;" />
																<span style="font-weight: bold;font-size: 1.1em;margin-left: 5px;"><apex:outputField value="{!request.course.End_Date__c}" /></span>
															</div>
														</div>
													</div>
													<apex:repeat value="{!request.packageCourses}" var="package">

														<div class="divTableRow"><div class="divTableCell"><apex:outputText value="" /></div></div>

														<div class="divTableRow">
															<div class="divTableCell requestLabel" style="width: 65px;"><apex:outputText value="Campus" /></div>
															<div class="divTableCell"><apex:outputText value="{!package.Campus_Name__c}" style="font-weight: bold;font-size: 1.1em;" /></div>
														</div>
														<div class="divTableRow">
															<div class="divTableCell requestLabel"><apex:outputText value="Course" /></div>
															<div class="divTableCell"><apex:outputText value="{!package.Course_Name__c}" style="font-weight: bold;font-size: 1.1em;" /></div>
														</div>
														<div class="divTableRow">
															<div class="divTableCell requestLabel"><apex:outputText value="Duration" /></div>
															<div class="divTableCell">
																<apex:outputText value="{!package.Course_Length__c}" style="font-weight: bold;font-size: 1.1em;" />
																<apex:outputText value="{!package.Unit_Type__c}" style="margin-left: 5px;font-weight: bold;font-size: 1.1em;" />
																<apex:outputText value="s" rendered="{!package.Course_Length__c > 1}" style="font-weight: bold;font-size: 1.1em;" />

																<apex:outputText value="Start date: " styleclass="requestLabel" style="margin-left: 20px;" />
																<span style="font-weight: bold;font-size: 1.1em;margin-left: 5px;"><apex:outputField value="{!package.Start_Date__c}" /></span>


																<apex:outputText value="End date: " styleclass="requestLabel" style="margin-left: 20px;" />
																<span style="font-weight: bold;font-size: 1.1em;margin-left: 5px;"><apex:outputField value="{!package.End_Date__c}" /></span>
															</div>
														</div>
													</apex:repeat>
												</div>

												<div style="padding-bottom: 2px;">
													<div style="display: inline-block; width: 50%">
														<apex:outputText value="Is this a Conditional LOO?" style="margin-right: 5px; font-weight:bold;" />
														<input type="radio" name="{!request.course.id}" value="true" onclick="$('.rb-{!request.course.id}').show();">
															<span style="margin-left: 2px;font-weight: bold;">Yes</span>
														</input>
														<input type="radio" name="{!request.course.id}" value="false" checked="checked" onclick="$('.rb-{!request.course.id}').hide();" style="margin-left: 5px;">
															<span style="margin-left: 2px;font-weight: bold;">No</span>
														</input>
													</div>
													<div style="width: 49%; text-align: right; display: inline-block;">
														<apex:outputText value="Urgent Enrolment" />
														<span style="margin: 0px 5px;"><apex:inputCheckbox styleClass="isUrgentCheckbox" value="{!request.course.isUrgentEnrolment__c}" /></span>
													</div>


													<div class="requiredInput" style="margin-top: 10px;">
														<div class="requiredBlock rb-{!request.course.id}" style="display: none;" />
														<textarea class="{!request.course.id}" style="width: 100%; height: 100px;padding: 5px;" placeholder="Notes" value="" ></textarea>
													</div>
												</div>
											</div>

											<!--CREATE NOTE-->
											<div class="createNote-{!request.course.id}" style="display:none;"> 
												<div class="divTable">
													<div class="divTableBody">
														<div class="divTableRow">
															<apex:selectlist size="1" styleclass="ntSubj-{!request.course.id}">
																<apex:selectoptions value="{!taskSubjects}" />
															</apex:selectlist>
														</div>
														<div class="divTableRow">
															<textarea class="ntDesc-{!request.course.id}" style="width: 100%; height: 100px;margin-top: 10px;" placeholder="Add notes to backoffice" value=""></textarea>
														</div>
													</div>
												</div>
											</div>
										</td>
									</tr>



									<apex:repeat value="{!request.packageCourses}" var="package">
										<tr class="{!IF(MOD(count,2) == 0, 'even', 'odd')} borderBottom {!IF(request.course.isSoftDeleted__c, 'softDeleted', '')}">
											<td>
												<div style="display: inline-block;">
													<!-- <apex:commandlink onclick="return false;">
														<apex:image onclick="toggle('{!$Component.img_max}'); toggle('{!$Component.img_min}');jQuery('.docs_{!package.id}').toggle();
																		$('.span-{!request.course.id}').attr('rowspan', parseInt($('.span-{!request.course.id}').attr('rowspan')) + 1);
																		$(this).closest('tr').removeClass('borderBottom');"
															value="{!urlfor($Resource.assets,'images/button-maximize.png')}"
															id="img_max"
															styleclass="toggleImage"/>
													</apex:commandlink>

													<apex:commandlink onclick="return false;">
														<apex:image onclick="toggle('{!$Component.img_max}'); toggle('{!$Component.img_min}');jQuery('.docs_{!package.id}').toggle();
																		$('.span-{!request.course.id}').attr('rowspan', parseInt($('.span-{!request.course.id}').attr('rowspan')) - 1);
																		$(this).closest('tr').addClass('borderBottom');"
															value="{!URLFOR($Resource.assets,'images/button-minimize.png')}"
															id="img_min"
															style="display: none;"
															styleclass="toggleImage"/>
													</apex:commandlink> -->

													<apex:image url="{!URLFOR($Resource.icons,'icons/commons/page_edit.png')}" rendered="{!NOT(ISBLANK(package.Custom_Notes_Tasks__r)) && package.Custom_Notes_Tasks__r.size > 0}" style="margin: 0px 5px;" title="This enrolment has Notes."/>

												</div>

												<div style="display: inline-block; {!IF(NOT(ISBLANK(package.Custom_Notes_Tasks__r)) &&  package.Custom_Notes_Tasks__r.size > 0, '', 'margin-left: 26px;')}">
													<div class="innerblock">
														<apex:outputlink value="client_course_new?id={!request.contact.id}&ccId={!package.id}" target="_blank" style="font-size: 13px; font-weight: bold;"><apex:outputtext value="{!package.Course_Name__c}" /></apex:outputlink>
													</div>
													<div class="innerblock">
														<apex:outputText value="{!package.School_Name__c}" />
													</div>
													<apex:outputPanel rendered="{!NOT(ISBLANK(request.course.Enrolment_Start_Date__c))}" >
														<div class="innerblock" style="font-size: 11px;">
															Process started on:
															<apex:outputText value="{0,date,dd/MM/yyyy}">
														        <apex:param value="{!package.Enrolment_Start_Date__c+offset}"/>
														    </apex:outputText>
															<apex:outputText value=" (today)" escape="false" rendered="{!ABS(FLOOR(package.Enrolment_Start_Date__c - now())) = 0}" />
															<apex:outputText value=" ({!ABS(FLOOR(package.Enrolment_Start_Date__c - now()))} day ago)" escape="false" rendered="{!FLOOR(package.Enrolment_Start_Date__c - now()) = -1}" />
															<apex:outputText value=" ({!ABS(FLOOR(package.Enrolment_Start_Date__c - now()))} days ago)" escape="false" rendered="{!FLOOR(package.Enrolment_Start_Date__c - now()) < -1}" />
														</div>
													</apex:outputPanel>
												</div>
											</td>
											<td>
												<!--{!package.id}-->
												<div class="innerblock">
													Start:&nbsp;
													<apex:outputfield value="{!package.Start_Date__c}"/>
													<apex:outputPanel rendered="{!not(isblank(package.Start_Date__c))}" layout="block" style="margin-left: 30px;">
														<apex:outputText value=" (in {!ABS(FLOOR(package.Start_Date__c - TODAY()))} days)" escape="false" rendered="{!FLOOR(package.Start_Date__c - TODAY()) > 1}" />
														<apex:outputText value=" (in {!ABS(FLOOR(package.Start_Date__c - TODAY()))} day)" escape="false" rendered="{!FLOOR(package.Start_Date__c - TODAY()) = 1}" />
														<apex:outputText value=" (today)" escape="false" rendered="{!ABS(FLOOR(package.Start_Date__c - TODAY())) = 0}" style="color:red;" />
														<apex:outputText value=" ({!ABS(FLOOR(package.Start_Date__c - TODAY()))} day ago)" escape="false" rendered="{!FLOOR(package.Start_Date__c - TODAY()) = -1}" style="color:red;" />
														<apex:outputText value=" ({!ABS(FLOOR(package.Start_Date__c - TODAY()))} days ago)" escape="false" rendered="{!FLOOR(package.Start_Date__c - TODAY()) < -1}" style="color:red;" />
													</apex:outputPanel>
												</div>
												<div class="innerblock">
													End:&nbsp;
													<apex:outputfield value="{!package.End_Date__c}"/>
												</div>
											</td>
											<td>
												<div class="innerblock">
													Requested by:&nbsp; <apex:outputfield value="{!package.LOO_Requested_to_BO_By__c}" style="font-weight:bold;" />&nbsp; - &nbsp;
													<apex:outputtext value="{!request.course.LOO_Requested_to_BO_By__r.Contact.Account.Name}" style="font-weight:bold;" />
												</div>
												<div class="innerblock">
													On:&nbsp;
													<apex:outputText value="{0,date,dd/MM/yyyy HH:mm:ss}">
												        <apex:param value="{!package.LOO_Requested_to_SC_On__c+offset}"/>
												    </apex:outputText>
													<apex:outputText value=" (today)" escape="false" rendered="{!ABS(FLOOR(package.LOO_Requested_to_SC_On__c - now())) = 0}" />
													<apex:outputText value=" ({!ABS(FLOOR(package.LOO_Requested_to_SC_On__c - now()))} day ago)" escape="false" rendered="{!FLOOR(package.LOO_Requested_to_SC_On__c - now()) = -1}" />
													<apex:outputText value=" ({!ABS(FLOOR(package.LOO_Requested_to_SC_On__c - now()))} days ago)" escape="false" rendered="{!FLOOR(package.LOO_Requested_to_SC_On__c - now()) < -1}" />
												</div>
												<apex:outputPanel layout="block" styleClass="innerblock" rendered="{!package.isOnlineApplication__c}">
													<apex:outputText value="Online Application" styleClass="onlineApplication" />
												</apex:outputPanel>
											</td>
										</tr>

										<!-- <tr class="docs_{!package.id} {!IF(MOD(count,2) == 0, 'even', 'odd')}" style="display: none;">
											<td colspan="3" style="padding-bottom: 10px; border-top: 1px solid #ccc; ">
												<div class="tabs">
													<ul>
														<li style="height: 25px !important;"><div class=""><a href="#tabs-1">Notes</a></div></li>
													</ul>
													<div id="tabs-1" style="max-height: 350px; overflow: auto;">
														<table style=" font-size: 10px; width:99.9%;border-spacing:0;border: 1px solid #c1c1c1;" class="feesInstall">
																<thead>
																	<tr>
																		<td width="33%">Subject </td>
																		<td width="33%">Description </td>
																		<td width="33%">Note Details </td>
																	</tr>
																</thead>
																<tbody>
																	<apex:repeat value="{!package.Custom_Notes_Tasks__r}" var="n">
																		<tr>
																			<td>
																				<apex:outputText value="{!n.Subject__c}" />
																			</td>

																			<td>
																				<apex:outputText value="{!LEFT(n.Comments__c,250)}" styleClass="mini" title="{!n.Comments__c}" escape="false" />
																				<apex:outputText value="..." rendered="{!LEN(n.Comments__c) > 250}" styleClass="mini" title="{!n.Comments__c}" />
																			</td>

																			<td>
																				<apex:outputText value="Created by: " style="font-style: italic;" /> <apex:outputText value=" {!n.CreatedBy.Name}" style="font-weight: bold;" />
																				<apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
																				<span style="color:grey; font-size:0.8em;">
																					<apex:outputField value="{!n.createdDate}" />
																				</span><br/>

																				<apex:outputText value="Last modified: " style="font-style: italic;" /> <apex:outputText value=" {!n.LastModifiedBy.Name}" style="font-weight: bold;" />
																				<apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
																				<span style="color:grey; font-size:0.8em;">
																					<apex:outputField value="{!n.LastModifiedDate}" />
																				</span>
																			</td>
																		</tr>
																	</apex:repeat>
																</tbody>
														</table>
													</div>
												</div>
											</td>
										</tr> -->
									</apex:repeat>

									<tr class="docs_{!request.course.id} {!IF(MOD(count,2) == 0, 'even', 'odd')} docRow {!IF(request.course.isSoftDeleted__c, 'softDeleted', '')}"  style="display: none;">

										<td colspan="4" style="padding-bottom: 10px; border-top: 1px solid #ccc; ">
											<div class="tabs">
												<ul>
													<li style="height: 25px !important;"><div class=""><a href="#tabs-1">Notes</a></div></li>
													<li style="height: 25px !important;"><div class=""><a href="#tabs-2">Application History</a></div></li>

													<li style="float: right !important;"><a class="agencyButton" style="font-size: 0.8em !important; height: 23px !important;" onclick="createNote('{!request.contact.id}','{!request.course.id}', '{!request.firstInst}');" >Create Note</a></li> 
												</ul>
												<div id="tabs-1" style="max-height: 350px; overflow: auto;">
													<table style=" font-size: 10px; width:99.9%;border-spacing:0;border: 1px solid #c1c1c1;" class="feesInstall">
															<thead>
																<tr>
																	<td width="33%">Subject </td>
																	<td width="33%">Description </td>
																	<td width="33%">Note Details </td>
																</tr>
															</thead>
															<tbody>
																<apex:repeat value="{!request.courseNotes}" var="n">
																	<tr>
																		<td>
																			<apex:outputText value="{!n.Subject__c}" />
																		</td>

																		<td>
																			<apex:outputText value="{!LEFT(n.Comments__c,250)}" styleClass="mini" title="{!n.Comments__c}" escape="false" />
																			<apex:outputText value="..." rendered="{!LEN(n.Comments__c) > 250}" styleClass="mini" title="{!n.Comments__c}" />
																		</td>

																		<td>
																			<apex:outputText value="Created by: " style="font-style: italic;" /> <apex:outputText value=" {!n.CreatedBy.Name}" style="font-weight: bold;" />
																			<apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
																			<span style="color:grey; font-size:0.8em;">
																				<apex:outputField value="{!n.createdDate}" />
																			</span><br/>

																			<apex:outputText value="Last modified: " style="font-style: italic;" /> <apex:outputText value=" {!n.LastModifiedBy.Name}" style="font-weight: bold;" />
																			<apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
																			<span style="color:grey; font-size:0.8em;">
																				<apex:outputField value="{!n.LastModifiedDate}" />
																			</span>
																		</td>
																	</tr>
																</apex:repeat>
															</tbody>
													</table>
												</div>
												<div id="tabs-2" style="max-height: 350px; overflow: auto;">
													<table style=" font-size: 10px; width:99.9%;border-spacing:0;border: 1px solid #c1c1c1;" class="feesInstall">
														<thead>
															<tr>
																<td width="33%">Date</td>
																<td width="33%">Description</td>
																<td width="33%">By</td>
															</tr>
														</thead>
														<tbody>
															<apex:repeat value="{!request.activities}" var="act">
																<tr>
																	<td>
																		<apex:outputText value="{0,date,dd/MM/yyyy HH:mm:ss}">
																			<apex:param value="{!act.activityDate+offset}" />
																		</apex:outputText>
																	</td>
																	<td>
																		<apex:outputText value="{!act.activityDesc}" />
																	</td>
																	<td>
																		<apex:outputText value="{!act.activityBy}" />
																	</td>
																</tr>
															</apex:repeat>
														</tbody>
													</table>
												</div>
											</div>
										</td>

									</tr>

									<apex:variable var="count" value="{!count+1}"/>
								</apex:repeat>

							</table>

						</apex:outputpanel>

						<script>jQuery('.tabs').tabs();</script>

					</apex:outputpanel>

				</apex:form>

			</td>
		</tr>
	</table>

	<script>

		jQuery(document).ready(function () {
			jQuery('.tabs').tabs();
			jQuery('.chosen').chosen();

		});

		function setFocusOnLoad() {}

		function createNote(clientId, courseid, firstInst){
			var buttons = {
				confirm: {
					text: 'Create Note',
					btnClass: 'agencyButton',
					action: function () {
						var ntSubject = $('.jconfirm-content .ntSubj-'+courseid+' :selected').val();
						var ntDesc = $('.jconfirm-content .ntDesc-'+courseid).val();
						
						createCourseNote(clientId, courseid , ntSubject, ntDesc, firstInst); 
					}
				},
				cancel: function () {}
			};

			$.confirm({
				theme: 'light',
				title: 'Create Note',
				content: $('.createNote-'+courseid).html(),
				backgroundDismiss: true,
				columnClass: 'medium',
				buttons: buttons
			});
		}

		function UpdateOpener() {
			jQuery('#interVeil').css('display', 'none');
			modalWind.close();
			search();
		}


		function sendEmail(courseID, docId){
			modalWind = dhtmlmodal.open('sendEmail', 'iframe', 'payment_school_email?visits=false&id='+courseID+'&doc='+docId+'&type=requestLOO', 'Send Email - Request LOO', 'width=950px,height=800px,resize=1,center=1,scrolling=0');
	    	setCloseModal();
	    }

		function setCloseModal() {
			jQuery('.Close').attr('src', '{!URLFOR($Resource.assets,' images / x_white.png ')}');
			jQuery('.Close').unbind('click');
			jQuery('.Close').click(function () {
				closemodal();
			});
		}


		function confirmLOO(courseid, firstInst){
			$.confirm({
				theme: 'light',
				title: 'Confirm LOO',
				content: $('.confirmLOO-'+courseid).html(),
				columnClass: 'medium',
				buttons: {
					goebackprocess : {
						text: 'Go Back Process',
						btnClass: '',
						action: function(){
							var comments = $('.jconfirm-content .'+courseid).val();
							var isConditional = $(".jconfirm-content input[name='"+courseid+"']:checked").val();
							var isUrgentCheckbox = $(".jconfirm-content .isUrgentCheckbox").is(":checked");
							if(isConditional == 'true'){
								if(comments != '')
									reverseProcess(courseid, comments, true, isUrgentCheckbox, firstInst);
								else {
									$('.jconfirm-content .'+courseid).css('border', '1px solid #cc0000');
									return false;
								}
							} else {
								reverseProcess(courseid, comments, false, isUrgentCheckbox, firstInst);
							}
						}
					},
					confirm: {
						text: 'Confirm',
						btnClass: 'agencyButton',
						action: function () {
							var comments = $('.jconfirm-content .'+courseid).val();
							var isConditional = $(".jconfirm-content input[name='"+courseid+"']:checked").val();
							var isUrgentCheckbox = $(".jconfirm-content .isUrgentCheckbox").is(":checked");
							if(isConditional == 'true'){
								if(comments != '')
									confirmLOOAF(courseid, comments, true, isUrgentCheckbox, firstInst);
								else {
									$('.jconfirm-content .'+courseid).css('border', '1px solid #cc0000');
									return false;
								}
							} else {
								confirmLOOAF(courseid, comments, false, isUrgentCheckbox, firstInst);
							}

						}
					},
					cancel: function () {
						$('.divta-'+courseid).hide();
					}

				}
			});
		}

		function looNotUploaded(){
			$.alert({
				theme: 'light',
				title: 'Please upload the LOO',
				content: '',
				type: 'red'
			});
		}

		function confirmMissingDocuments(courseid, firstInst){

			$.confirm({
				theme: 'light',
				title: 'Missing Documents',
				content: $('.requestDIV-'+courseid).html(),
				columnClass: 'medium',
				buttons: {
					confirm: {
						text: 'Confirm',
						btnClass: 'agencyButton',
						action: function () {
							var comments = $('.jconfirm-content .'+courseid).val();
							var isUrgentCheckbox = $(".jconfirm-content .isUrgentCheckbox").is(":checked");
							if(comments != '')
								missingDocuments(courseid, $('.jconfirm-content .'+courseid).val(), isUrgentCheckbox, firstInst);
							else {
								$('.jconfirm-content .'+courseid).css('border', '1px solid #cc0000');
								return false;
							}
						}
					},
					cancel: function () {
					}

				}
			});
		}

		function isLOOUploaded(courseid, firstInst){
            console.log(courseid);
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.client_course_confirm_loo.isFileUploaded}', courseid,
	            function(result, event) {
	                if(event.type != 'exception') {
	                    if(event.status) {
							console.log(result);
	                        if (result && result == 'true') {
	                            confirmLOO(courseid, firstInst);
	                        } else {
								looNotUploaded();
							}
	                    }
	                }
	            },
	            {buffer: true, escape: true, timeout: 120000}
	        );
        }

		function exec(index, courseid, efid, firstInst){
			if(index == 'cl')
				isLOOUploaded(courseid, firstInst);
			else if(index == 'mi')
				confirmMissingDocuments(courseid, firstInst);
			else if(index == 'se')
				sendEmail(courseid, efid);

			$('.actions').val('actions');
		}

		function closemodal(){
			modalWind.close();
			jQuery('#interVeil').css('display','none');

		}

	</script>
</apex:page>