<apex:page standardController="contact" extensions="client_course_new" sidebar="true" >

	<apex:include pageName="xStylePage" />
	<apex:include pageName="xCourseSearchStyle" />
	<apex:includeScript value="{!$Resource.Sticky}"/>
	<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />
	<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />


	<apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}"/>

	<!-- <apex:includeScript value="{!$Resource.jquery}"/>  -->
	<apex:includeScript value="{!$Resource.jqueryBlockUI}" />
	<apex:includeScript value="{!$Resource.jQueryCurrency}"/>

	<apex:includeScript value="{!URLFOR($Resource.assets,'modalfiles/modal.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.assets,'modalfiles/modal.css')}" />

	<table class="tbl_Details">
		<tr>
			<td rowspan="3" class="sidesColumn">
				<c:menuContact ContactID="{!Contact.id}" selectedItem="{!IF(AND(enrollcourse.course.isMigrated__c, ISNULL(enrollcourse.course.Enrolment_Date__c)), 'courseMigration', 'ContactCourses')}" />
			</td>
			<td class="middleColumn container-header">
				<div class="boxHeader">
					<c:cpPageHeader PageType="contact" contactID="{!Contact.id}" />
				</div>
			</td>
			<td rowspan="3" class="rightColumn sidesColumn">
				<c:contactSideBarButtons ContactID="{!Contact.id}" />
				<c:cCreateTask popType="modal" cClientId="{!Contact.id}" rendered="{!Contact.RecordType.Name != 'Employee'}" />
				
				<apex:form >

					<div class="sticky invoiceStickClass">
						<apex:outputPanel layout="block" id="listInvoice">
							<apex:outputPanel layout="block" styleClass="agencyBorder invoiceBlock" rendered="{!listItemsInvoice.listCourses.size > 0 || listItemsInvoice.listProducts.size > 0}" >
								<div class="miniHeader agencyFont agencyBackground"> Items Invoice</div>
								<table class="newCourse">
									<apex:outputPanel layout="none" rendered="{!listItemsInvoice.listCourses.size > 0}">
										<tr>
											<th>Course</th>
											<th>#</th>
											<th>Value</th>
										</tr>
										<apex:repeat value="{!listItemsInvoice.listCourses}" var="iv">
											<tr>
												<td>
													{!iv.description}
												</td>
												<td>
													{!iv.instNumber}
												</td>
												<td>
													{!iv.value}
												</td>
											</tr>
										</apex:repeat>
									</apex:outputPanel>
									<apex:outputPanel layout="none" rendered="{!listItemsInvoice.listProducts.size > 0}">
										<tr>
											<th>Product</th>
											<th>#</th>
											<th>Value</th>
										</tr>
										<apex:repeat value="{!listItemsInvoice.listProducts}" var="iv">
											<tr>
												<td>
													{!iv.description}
												</td>
												<td>
													{!iv.instNumber}
												</td>
												<td>
													{!iv.value}
												</td>
											</tr>
										</apex:repeat>
									</apex:outputPanel>
								</table>
								<div style="display:block; padding: 11px 0; text-align: center;">
									<apex:commandLink value="Cancel" action="{!clearListInvoice}" rerender="listInvoice, allListCourses" status="statusLoad" styleClass="agencyButton" onclick="if(!confirm('Are you sure you want to cancel?')) return false;" />
									<apex:commandLink value="Create" onClick="coursewin=dhtmlmodal.open('addInvoice', 'iframe', 'client_course_create_invoice?ct={!contact.id}&cs={!listItemsInvoice.coursesId}&pd={!listItemsInvoice.productsId}', 'Create Invoice', 'width=900px,height=645px,resize=0,center=1,scrolling=1'); setCloseModal(); return false"
																		id="addInvoice"  status="statusLoad" styleClass="agencyButton"  />
								</div>
							</apex:outputPanel>
						</apex:outputPanel>
					</div>
				</apex:form>
			</td>
		</tr>

		<tr>
			<td class="middleColumn bodyColumn">
				<apex:include pageName="client_course_new_inner_content"/>
			</td>
		</tr>

	</table>

</apex:page>