<apex:page standardController="client_course_instalment__c" extensions="InstalmentActivity" showHeader="false" sidebar="false">

<apex:include pageName="xStylePageV2" />
<apex:include pageName="xCourseSearchStyle" />



<apex:form >
	<apex:pageBlock >
		<table style="width:98%;">
			<tbody>
				<tr>
					<td style="font-weight:bold;padding:5px;">Type of activity</td>
					<td>
						<apex:selectList id="type" styleclass="activity chosen" value="{!activityType}" size="1" style="width:100%;">
				            <apex:selectOption itemValue="noActivity" itemLabel="-- Select Activity --"/>
				            <apex:selectOption itemValue="Call" itemLabel="Phone Call"/>
				            <apex:selectOption itemValue="Facebook" itemLabel="Facebook Message"/>
				        </apex:selectList>
					</td>
				</tr>
				<tr>
					<td style="font-weight:bold;padding:5px;">Subject</td>
					<td><apex:inputtextarea value="{!activitySubject}" style="width:100%;" rows="5"/></td>
				</tr>
			</tbody>
		</table>

		<div class="fixedButtons">
			<apex:commandlink value="Cancel" onClick="parent.closemodal()" styleclass="agencyButton"/>
			<apex:commandlink value="Create Activity" onClick="if(!verifyActivity()) return false;" action="{!createActivity}" styleclass="agencyButton" rerender="rerenderActions" status="statusLoad"/>
		</div>
	</apex:pageblock>
</apex:form>

<apex:outputpanel id="rerenderActions">
	<apex:outputpanel rendered="{!showError}">
		<script>
			if(jQuery('.errorMsg').length == 0){
				parent.UpdateOpener();
			}
		</script>
	</apex:outputpanel>

</apex:outputpanel>


<script>

	function verifyActivity(){
		if(jQuery('.activity').val()=='noActivity'){
			alert('Please select an activity.');
			return false;

		}else return true;
	}



</script>

</apex:page>