<apex:page controller="commissions_report" tabstyle="commissions__tab">
	<apex:include pageName="xStylePage" />
	<apex:include pageName="xCourseSearchStyle" />
	
	<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />	
	<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />
	
	<style>
		.tblCommission{
			border-spacing: 0px;
		}
		
		.tblCommission td{
			border-bottom: 1px solid #dfdfdf;
    		line-height: 20px;
    		font-size: 1.1em;
		}
		
		.tblCommission th{
			//border-bottom: 1px solid #999;
			background-color: #c1c1c1;
			color: #fff;
		}
		.tblCommission tr:hover{
			background-color: #eee;
		}
	</style>
	
	<script>
		jQuery(document).ready(function(){
			jQuery('.chosen').chosen();
		});
	</script>
		<table class="tbl_Details">
		    <tr>
		      <td rowspan="3" class="sidesColumn">
					<c:menuCommissions selectedItem="commissionsRep" />
		      </td>
		      
		      <td class="middleColumn bodyColumn">
		      		<div class="title" style="font-size:1.5em;">
						<span class="arrow-e" style="font-size: 1.5em;"></span>&nbsp;Available Commissions
					</div>
					<br/>
		      		<div class="divWrapper">
        
				          <div class="divHeader">
				            Schools Filter
				          </div>
				           <div class="divContent">
				           		<apex:form >
									<apex:selectList value="{!selectedCountry}" size="1" styleClass="chosen" style="width: 250px;">
										<apex:selectOptions value="{!listCountries}" />
										<apex:actionSupport event="onchange" action="{!retrievelistSchools}" status="statusUpdate" rerender="lstSchools, lstComm" oncomplete="jQuery('.chosen').chosen();"/>
									</apex:selectList>
									
									<apex:outputPanel id="lstSchools" style="margin-left:15px">
										<apex:selectList value="{!selectedSchool}" size="1"   styleClass="chosen" style="width: 450px;">
											<apex:selectOptions value="{!listSchools}" />
											<!-- <apex:actionSupport event="onchange" action="{!retrieveCommissions}" status="statusUpdate" rerender="lstComm" oncomplete="jQuery('.chosen').chosen();"/> -->
										</apex:selectList>
									</apex:outputPanel>
									
									<apex:commandlink value="Search" action="{!retrieveCommissions}" styleclass="agencyButton" status="statusUpdate" rerender="lstSchools, lstComm" style="margin-left:15px"  oncomplete="jQuery('.chosen').chosen();"/>
								</apex:form>
							</div>
					</div>
					
					<apex:outputPanel id="lstComm">
						<table width="100%" class="tblCommission">
							
							<apex:variable value="" var="ct" />
							<apex:variable value="" var="showCountry" />
							<apex:variable value="" var="showSchool" />
							<apex:variable value="" var="showCampus" />
							<apex:variable value="" var="showCourseType" />
							<apex:repeat value="{!listCommissions}" var="c">
								<apex:outputPanel rendered="{!c.school != ct}" layout="none">
									<tr>
										<td colspan="7" style="border: solid 1px gray; {!IF(c.country != showCountry,'background-color: #eee','')}">
											<apex:outputText value="{!c.country}" rendered="{!c.country != showCountry}" styleClass="title" style="font-size: 1.3em; font-weight: bold;"/>
										</td>
									</tr>
									<tr>
										<th>School</th>
										<th>Campus</th>
										<th>Course Type</th>
										<th>Course</th>
										<th>Value</th>
										<th>Type</th>
										<th>Comment</th>
									</tr>
									<apex:variable value="{!c.school}" var="ct" />
								</apex:outputPanel>
								<tr>
									<td><apex:outputText value="{!c.school}" rendered="{!c.school != showSchool}" style="font-weight: bold;"/></td>
									<td><apex:outputText value="{!c.campus}" rendered="{!c.campus != showCampus}" style="font-weight: bold;"/></td>
									<td><apex:outputText value="{!c.courseType}" rendered="{!c.courseType != showCourseType}" /></td>
									<td>{!c.course}</td>
									<td>{!c.Value}</td>
									<td>{!IF(c.Type=0,'%','cash')}</td>
									<td>{!c.Comment}</td>
								</tr>
								<apex:outputPanel rendered="{!c.school != showSchool}" layout="none">
									<apex:variable value="{!c.school}" var="showSchool" />
								</apex:outputPanel>
								<apex:outputPanel rendered="{!c.campus != showCampus}" layout="none">
									<apex:variable value="{!c.campus}" var="showCampus" />
								</apex:outputPanel>
								<apex:outputPanel rendered="{!c.courseType != showCourseType}" layout="none">
									<apex:variable value="{!c.courseType}" var="showCourseType" />
								</apex:outputPanel>
								<apex:outputPanel rendered="{!c.country != showCountry}" layout="none">
									<apex:variable value="{!c.country}" var="showCountry" />
								</apex:outputPanel>
							</apex:repeat>
						</table>
					</apex:outputPanel>
				</td>
			</tr>
		</table>
</apex:page>