<apex:page controller="commissions_cancelled_school_invoices" sidebar="true" tabstyle="Finance__tab" >

	<apex:include pageName="xStylePageV2" />
	<apex:include pageName="xCourseSearchStyle" />
	<apex:includeScript value="{!$Resource.jQueryCurrency}"/>
	<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />
	<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />

    <style>
        .tableInstal th {padding:2px 5px}

        .tableInstal  tbody tr:nth-child(odd) td{
		    background-color: #ffffff !important;
		}

	 	.tableInstal tbody tr:nth-child(even) td  {
		    background-color: #eeeeee !important;
		}

        .filterbox {
			display: block;
			float: left;
			margin-left: 5px;
			min-width: 160px;
		}

		.filterbox select { width: 150px; }

		.filters {
			border: 1px solid #999999 !important;
            border-radius: 5px;
            box-shadow: 0 0 0 #cccccc;
            height: 35px;
			margin: 1em 0.5em 0.5em 0.5em;
			padding: 15px;
			display: block;
			background-color: #f3f3f3;
		}
    </style>
    
    
        <table class="tbl_Details">
            <tr>
                <td class="sidesColumn">
                    <c:menuFinance selectedItem="cancelledSchInvoices" />
                </td>

                <td class="middleColumn bodyColumn">
                    <div class="title" style="font-size:1.5em;">
                        <span class="arrow-e" style="font-size: 1.5em;"></span>&nbsp;Cancelled Invoices

                        <div class="title" style="float:right;">
                            <apex:outputLink value="/help_link?fl={!$CurrentPage.Name}" target="_blank" style="float:right;font-weight: normal;text-decoration: none; color: #777777; font-size: 0.7em;display: block;
                        width: 100%;text-align: right;">
                                <apex:image value="{!urlfor($Resource.icons,'icons/commons/help.png')}" style="height: 16px; width: 16px; position: relative; top: 3px;" />
                                Help
                            </apex:outputLink>
                        </div>
                    </div>

                    <apex:form >
                        <div class="filters">
                            <div class="filterbox">
                                <apex:selectList value="{!selectedAgencyGroup}" size="1" style="width:200px;" styleclass="chosen">
                                    <apex:SelectOptions value="{!agencyGroupOptions}" />
                                    <apex:actionSupport event="onchange" action="{!changeGroup}" rerender="pklAgencies" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>
                                </apex:selectList>
                                <apex:outputText value="Cancelled by Agency Group" style="display: block;" />
                            </div>

                            <apex:outputPanel layout="block" id="pklAgencies" styleclass="filterbox">
                                <apex:selectList value="{!selectedAgency}" size="1" styleclass="chosen" style="width:200px;">
                                    <apex:selectOptions value="{!agencyOptions}" />
                                </apex:selectList>
                                <apex:outputText value="Cancelled by Agency" style="display: block;" styleclass="filterLabel"/>
                            </apex:outputPanel>   

                            <div class="filterbox">
                                <apex:inputtext value="{!reqNumber}" />
                                <apex:outputText value="Invoice Number" style="display: block;" styleclass="filterLabel"/>
                            </div>

                            <div class="filterbox">
                                <apex:commandLink value="Search" action="{!findCancelledInvoices}" status="statusLoad" rerender="result" styleClass="agencyButton" style="padding: 5px 20px; position: relative; top: 6px;" />
                            </div>
                        </div>
                    </apex:form>

                    <apex:outputPanel id="result">
                        <apex:outputpanel layout="none" rendered="{!ISNULL(result)}">
                            <div class="title" style="text-align:center; font-size:1.5em;font-weight: bold;padding:5px; margin-top: 6px;width: 100%;"> Please click on the Search button to find cancelled invoices. </div>
                        </apex:outputpanel>

                        <apex:outputpanel layout="none" rendered="{!AND(NOT(ISNULL(result)), result.size<1)}">
                            <div style="text-align:center; color:red; border:1px solid grey; padding:5px; margin-top: 6px;width: 100%;"> No result found. </div>
                        </apex:outputpanel>

                        <apex:outputpanel layout="none" rendered="{!AND(NOT(ISNULL(result)), result.size>0)}">
                            <table class="tableInstal">
                                <tr>
                                    <th>Invoice Number</th>
                                    <th>School Name</th>
                                </tr>
                                <apex:repeat value="{!result}" var="r">
                                    <tr>
                                        <td><apex:outputLink value="{!r.url}" target="_blank">{!r.invNumber}</apex:outputLink></td>
                                        <td>{!r.schoolName}</td>
                                    </tr>
                                </apex:repeat>
                            </table>
                        </apex:outputpanel>
                    </apex:outputpanel>
                </td>
            </tr>
        </table>
    

    <script>
        jQuery(document).ready(function() {
            jQuery('.chosen').chosen();

        });
    </script>

</apex:page>