<apex:page controller="commission_share_invoices_received" action="{!searchExcel}" contentType="application/vnd.ms-excel#ShareInvoicesReceived.xls" cache="true">

    <apex:outputText value="{!xlsHeader}"/>
    <Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
    xmlns:o="urn:schemas-microsoft-com:office:office"
    xmlns:x="urn:schemas-microsoft-com:office:excel"
    xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
    xmlns:html="http://www.w3.org/TR/REC-html40">
    <Styles>
    <Style ss:ID="s1">
    <Alignment/>
    <Borders/>
    <Font ss:Bold="1"/>
    <Interior/>
    <NumberFormat/>
    <Protection/>
    </Style>
    </Styles>

        <apex:repeat value="{!pageResult.allAgencies}" var="ag">
            <Worksheet ss:Name="{!ag.agencyName}">
                <Table x:FullColumns="1" x:FullRows="1">
                    <Column ss:Width="150"/>
                    <Column ss:Width="100"/>
                    <Column ss:Width="150"/>
                    <Column ss:Width="150"/>
                    <Column ss:Width="150"/>
                    <Column ss:Width="40"/>
                    <Column ss:Width="40"/>
                    <Column ss:Width="100"/>
                    <Column ss:Width="150"/>
                    <Column ss:Width="100"/>
                    <Column ss:Width="100"/>
                    <Column ss:Width="60"/>
                    <Column ss:Width="100"/>
                    <Column ss:Width="100"/>
                    <Column ss:Width="60"/>
                    <Column ss:Width="100"/>
                    <Column ss:Width="100"/>
                    <Column ss:Width="100"/>
                    <Column ss:Width="100"/>
                    <Column ss:Width="100"/>
                    <Column ss:Width="100"/>
                    <Column ss:Width="100"/>
                    <Row>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Agency to Receive Comm.</Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Type Share</Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Client</Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Campus</Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Course</Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >1º Pay</Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Nº</Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Comm. Received On</Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Comm. Received By</Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Comm. Invoice Nº</Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Tuition Fee</Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Type Inst.</Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Inst. Comm.</Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Inst. Comm. Value</Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Inst. Tax </Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Inst. Tax Value</Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Comm. to Receive %</Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Comm. to Receive </Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Tax to Receive </Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Comm. + Tax </Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Comm. + Tax {!ag.agencyCurrency}</Data></Cell>
                        <Cell ss:StyleID="s1"><Data ss:Type="String" >Rate</Data></Cell>
                    </Row>
                    <apex:variable value="{!0}" var="totInCurrency" />
                    <apex:repeat value="{!ag.shares}" var="sh" >
                        <Row> 
                            <Cell><Data ss:Type="String"> <span style="font-weight:bold;">{!sh.agencyName}</span> </Data></Cell>
                            <Cell><Data ss:Type="String"> {!sh.description} </Data></Cell>
                            <Cell><Data ss:Type="String"> {!sh.inst.client_course__r.Client__r.name} </Data></Cell>
                            <Cell><Data ss:Type="String"> {!sh.inst.client_course__r.Campus_Name__c} </Data></Cell>
                            <Cell><Data ss:Type="String"> {!sh.inst.client_course__r.Course_Name__c} </Data></Cell>
                            <Cell><Data ss:Type="String"> 
                                <apex:outputText value="Yes" rendered="{!sh.inst.isFirstPayment__c}" /> 
                                <apex:outputText value="No" rendered="{!NOT(sh.inst.isFirstPayment__c)}" /> 
                            </Data></Cell>
                            <Cell><Data ss:Type="String">{!sh.inst.Number__c}<apex:outputText value=".{!sh.inst.Split_Number__c}" rendered="{!NOT(ISNULL(sh.inst.Split_Number__c))}" />
                            </Data></Cell>
                            <Cell><Data ss:Type="String">
                                <apex:outputText value="{0, date, dd/MM/YYYY}">
                                    <apex:param value="{!sh.commReceivedOn.Discounted_On__c}" />
                                </apex:outputText>
                            </Data></Cell>
                            <Cell><Data ss:Type="String"> {!sh.commReceivedBy} </Data></Cell>
                            <Cell><Data ss:Type="String"> {!sh.invNumber} </Data></Cell>
                            <Cell><Data ss:Type="String"> 
                                <apex:outputText value="{0, number, currency}" >
                                    <apex:param value="{!sh.inst.Tuition_Value__c}" />
                                </apex:outputText>
                            </Data></Cell>
                            <Cell><Data ss:Type="String"> 
                                <apex:outputText value="Net" rendered="{!AND(NOT(sh.inst.isPFS__c), NOT(sh.inst.isPDS__c), NOT(sh.inst.isPCS__c))}" styleClass="pfsStyle" style="float:right;" />
                                <apex:outputText value="PFS" rendered="{!sh.inst.isPFS__c}" styleClass="pfsStyle" style="float:right;" />
                                <apex:outputText value="PDS" rendered="{!sh.inst.isPDS__c}" styleClass="pdsStyle" style="float:right;" />
                                <apex:outputText value="PCS" rendered="{!sh.inst.isPCS__c}" styleClass="pcsStyle" style="float:right;" />
                            </Data></Cell>
                            <Cell><Data ss:Type="String"><apex:outputtext value="$" rendered="{!CEILING(sh.inst.client_course__r.Commission_Type__c) == 1}"/>{!sh.inst.Commission__c}<apex:outputtext value="%" rendered="{!CEILING(sh.inst.client_course__r.Commission_Type__c) == 0}"/>
                            </Data></Cell>
                            <Cell><Data ss:Type="String">
                                <apex:outputtext value="{0, number, currency}" style="font-weight:bold;">
                                    <apex:param value="{!sh.inst.Commission_Value__c - sh.inst.Discount__c}"/>
                                </apex:outputtext>
                            </Data></Cell>
                            <Cell><Data ss:Type="String">{!sh.inst.Commission_Tax_Rate__c}</Data></Cell>
                            <Cell><Data ss:Type="String"> 
                                <apex:outputText value="{0, number, currency}" >
                                    <apex:param value="{!sh.inst.Commission_Tax_Value__c}" />
                                </apex:outputText>
                            </Data></Cell>
                            <Cell><Data ss:Type="String"> {!sh.commShare} % </Data></Cell>
                            <Cell><Data ss:Type="String"> 
                                <apex:outputText value="{0, number, currency}" style="{!IF(sh.commReceive == 0,'color:red;','')}" >
                                    <apex:param value="{!sh.commReceive}" />
                                </apex:outputText>
                            </Data></Cell>
                            <Cell><Data ss:Type="String"> 
                                <apex:outputText value="{0, number, currency}" style="{!IF(sh.commReceive == 0,'color:red;','')}" >
                                    <apex:param value="{!sh.commTaxReceive}" />
                                </apex:outputText>
                            </Data></Cell>
                            <Cell><Data ss:Type="String"> 
                                <apex:outputText value="{0, number, currency}" style="{!IF(sh.commReceive == 0,'color:red;','')}" >
                                    <apex:param value="{!sh.commReceive + sh.commTaxReceive}" />
                                </apex:outputText>
                            </Data></Cell>
                            <Cell><Data ss:Type="String"> 
                                <apex:outputText value="{0, number, currency}" style="{!IF(sh.commReceive == 0,'color:red;','')}" >
                                    <apex:param value="{!sh.commValueInCurr}" />
                                </apex:outputText>
                            </Data></Cell>
                            <Cell><Data ss:Type="String">{!sh.commReceivedRate}</Data></Cell>
                        </Row>
                    </apex:repeat>
                </Table>
            </Worksheet>
        </apex:repeat>
    </Workbook>
</apex:page>