<apex:page standardController="Contact" extensions="contact_school_emails" docType="html-5.0" >

<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"/>
		
<apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}" />
<apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}" />
<apex:includeScript value="{!URLFOR($Resource.assets,'modalfiles/modal.js')}" />
<apex:stylesheet value="{!URLFOR($Resource.assets,'modalfiles/modal.css')}" />

<apex:include pageName="xStylePage" />
<apex:include pageName="xCourseSearchStyle" />

	<style>
		form { margin: 0px !important; }
		body { font-size: 12px !important; }
		
		li{
			line-height: 15px;
		}
				
		.buttons {
			display: block;
			text-align: right;
			clear: both;
		}
	
		label {
    		display: inline;
		}
		
		h2 {
	   		font-size: 1em;
	   		line-height: 1;
	    }
	    
		.tableZebra tr.rowZebra:nth-child(odd) {
		   background-color: #FFF;
		  }
		  
		  .tableZebra tr.rowZebra:nth-child(even) {
		   background-color: #EEE;
		  }
		  
		  .table th, .table td{
		  	border:none !important ;
		  	line-height: 15px;
		  	padding: 3px;
		  }
	
		.ui-tabs-hide { display: none !important; }
		.ui-widget-content { border: 0px !important; }
		.tabs { font-size: 0.9em !important; }
		
		.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
			top: 1px !important;
		}
		
		.pagination { font-size: 0.8em; }
		.pagination ul li a {
			line-height: 15px;
			padding: 0 10px;
		}
		
		.input-append, .input-prepend {
			text-align: center;
		}
		
		.fromEmail{
			font-weight: bold;
		}
		
		.toEmail{
			font-weight: bold;
		}
		
		
		
		//BOOTSTRAP
		.pagination ul {
		    display: inline-block;
		    margin-left: 0px;
		    margin-bottom: 0px;
		    border-radius: 3px;
		    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
		}

		.pull-right {
		    float: right;
		}
		
		.pagination {
			height: 40px;
		    margin: 20px 0px;
		}
		
		.pagination li { line-height: 15px; }
		
		.pagination ul > li {
		    display: inline;
		}
		
		.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
		    border-left-width: 1px;
		    border-radius: 3px 0px 0px 3px;
		}
		.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover {
		    color: #999;
		    background-color: transparent;		   
		}
		.pagination ul li a {
		    line-height: 15px;
		    padding: 0px 10px;
		    cursor: pointer;
		    color: #4E4EE3;
		    text-decoration: underline;
		    
		}
		.pagination ul > li > a, .pagination ul > li > span {
		    float: left;
		    padding: 0px 14px;
		    line-height: 18px;
		    text-decoration: none;
		    background-color: #FFF;
		    border-width: 1px 1px 1px 0px;
		    border-style: solid;
		    border-color: #DDD;		    
		    border-image: none;
		}
		
		.pagination ul > li > a:hover, .pagination ul > .active > a, .pagination ul > .active > span {
		    background-color: #F5F5F5;
		}
		
		#tableEmails {
			border-spacing: 0;
		}
		
		.searchInput {
			width: 300px;		    
		    padding: 6px 22px;
		    margin: 10px 0px;
		    border-radius: 5px;
		    border: 2px solid lightgrey;
		    font-size: 1.2em;
		    color: grey;
		}

	</style>
	
	<html xmlns:ng="http://angularjs.org" ng-app="hello" lang="en">
	
	<table class="tbl_Details">
		<tr>
			<td rowspan="3" class="sidesColumn">
				<c:menuContact ContactID="{!Contact.id}" selectedItem="ContactSchoolEmails" />					
			</td>
			<td class="middleColumn">
				<div class="boxHeader">
					<c:cpPageHeader PageType="contact" contactID="{!Contact.id}" />
				</div>
			</td>
			<td rowspan="3" class="rightColumn sidesColumn">
				<c:contactSideBarButtons ContactID="{!Contact.id}" />
				<apex:outputpanel rendered="{!Contact.RecordType.Name != 'Employee'}"><c:cclient_checklist idContact="{!Contact.id}" /></apex:outputpanel>
				<br/>
				<c:cCreateTask popType="modal" cClientId="{!Contact.id}" rendered="{!Contact.RecordType.Name != 'Employee'}" />
			</td>
		</tr>
		
		<tr>
			<td class="middleColumn bodyColumn">				
	
				<apex:form >
				
				<script>
					var emails = '';
				</script>
				
				<apex:outputPanel rendered="{!NOT(ISBLANK(emailsJSON))}">
					<script>
						emails = {!emailsJSON};
					</script>
				</apex:outputPanel>
			
				<script type="text/javascript">
				
					function replyForwardEmail(type, fileName){
			             var w = 915;
			             var h = 800;
			             var left = (screen.width/2)-(w/2);
			             var top = (screen.height/2)-(h/2);
			            
			             window.open('SendMassEmail?rt='+type+'&key='+fileName,null, 'height='+h+',width='+w+',toolbar=no,directories=no,status=no,menubar=no,resizable=no,modal=yes, top='+top+', left='+left);
			         } 
				
					// **************  Modal Functions
					function setCloseModal(){
						jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x-black.png')}');
						jQuery('.Close').unbind('click'); 
						jQuery('.Close').click(function() {closemodal();});
					}
					
					function closemodal(){
						jQuery('#sendEmailRpFwd').css('display','none');				
					}
				
					// ************* Search Functions
					j$ = jQuery.noConflict();
					
					var sortingOrder = 'name'; 
					var myapp = angular.module('hello', []);
					var contrl=myapp.controller('ctrlRead', function ($scope, $filter, $timeout) {
						// init
					
						$scope.sortingOrder = sortingOrder;
						$scope.reverse = false;
						$scope.filteredItems = [];		
						$scope.groupedItems = [];
						$scope.itemsPerPage = 15;
						$scope.pagedItems = [];
						$scope.currentPage = 0;
						
						$scope.items = emails;	
						$scope.filteredItems = emails;	
							
						var searchMatch = function (haystack, needle) {
							if (!needle) {
								return true;
							}
							return String(haystack).toLowerCase().indexOf(String(needle).toLowerCase()) !== -1;
						};
						
						// calculate page in place
						$scope.groupToPages = function () {
							$scope.pagedItems = [];
							for (var i = 0; i < $scope.filteredItems.length; i++) {
								if (i % $scope.itemsPerPage === 0) {
									$scope.pagedItems[Math.floor(i / $scope.itemsPerPage)] = [$scope.filteredItems[i]];
								} else {
									$scope.pagedItems[Math.floor(i / $scope.itemsPerPage)].push($scope.filteredItems[i]);
								}
							}
						};
				 
						$scope.range = function (start, end) {
						var ret = [];
						if (!end) {
							end = start;
							start = 0;
						}
						for (var i = start; i < end; i++) {
							ret.push(i);
						}
						return ret;
					};
				 
					$scope.prevPage = function () {
						if ($scope.currentPage > 0) {
							$scope.currentPage--;
						}
					};
					 
					$scope.nextPage = function () {
						if ($scope.currentPage < $scope.pagedItems.length - 1) {
							$scope.currentPage++;
						}
					};
					 
					$scope.setPage = function () {
						$scope.currentPage = this.n;
					};
					 
					 
					// change sorting order
					$scope.sort_by = function (newSortingOrder) {
						if ($scope.sortingOrder == newSortingOrder)
							$scope.reverse = !$scope.reverse;
					 
					$scope.sortingOrder = newSortingOrder;
					 
					// icon setup
					$('th i').each(function () {
						// icon reset
						$(this).removeClass().addClass('icon-sort');
					});
					if ($scope.reverse)
						$('th.' + new_sorting_order + ' i').removeClass().addClass('icon-chevron-up');
					else
						$('th.' + new_sorting_order + ' i').removeClass().addClass('icon-chevron-down');
					};
					
					
					$scope.filterText = '';		
				    
				    var tempFilterText = '', filterTextTimeout;
				    $scope.$watch('query', function (val) {
						jQuery('#statusSearch').css('display','');
						if(val != null){
							
					        if (filterTextTimeout) 
								$timeout.cancel(filterTextTimeout);
			
					        tempFilterText = val;
					        filterTextTimeout = $timeout(function() {
								$scope.search();
					        }, 350);
						
						}
				    })
					
				   $scope.search = function () {
						$scope.filteredItems = $filter('filter')($scope.items, function (item) {
							for (var attr in item) {
							if (searchMatch(item[attr], $scope.query))
							return true;
						}
						return false;
						});
						// Define Sorting Order
						if ($scope.sortingOrder !== '') {
							$scope.filteredItems = $filter('orderBy')($scope.filteredItems, $scope.sortingOrder, $scope.reverse);
						}
						$scope.currentPage = 0;
						// Group by pages
						$scope.groupToPages();
					};
					
					$scope.$watch('pagedItems',function(){
						jQuery('#statusSearch').css('display','none');
					});	
					
					$scope.groupToPages();
						
					});
					
					contrl.$inject = ['$scope', '$filter'];
					
					j$(document).ready(function(){
						j$( "#tabs" ).tabs({ selected: 0 });
						jQuery('.nationName').attr('disabled','disabled');
						jQuery('#statusSearch').css('display','none');
						jQuery('.search-query').focus();			   
										   
					});	
				
					
					function test(param){
						alert(param);
					}
					// **************** Open Email Function
					function getEmailOpened (emailKey, virtualId) {
						 Visualforce.remoting.Manager.invokeAction(				
					            '{!$RemoteAction.contact_school_emails.openEmail}',
					            emailKey, 
					            function(result, event){
									if (event.status) {	
					                   //alert(result);
					                  
					                  jQuery('.body'+virtualId).html(result);
						
						            } else if (event.type === 'exception') {
										alert(event.message);
					                    //document.getElementById("responseErrors").innerHTML = 
					                       // event.message + "<br/>\n<pre>" + event.where + "</pre>";
					                } else {
										alert(event.message);
					                    //document.getElementById("responseErrors").innerHTML = event.message;
					                } 
					            }, 
					            {escape: false}
					        );		
					}
					
					function closemodal(){
						jQuery('#interVeil').css('display','none');				
						selectedClientList.close();
					}				   
				</script>
			 	<apex:actionStatus id="statusUpdate" onstart="showLoading('Please wait...');" onstop="hideLoading();" />
				
					
				<div class="content">
					<div class="divWrapper">
					
						<div class="divHeader">
							School Emails
						</div>
						
						<div class="divContent">
					
							<div ng-controller="ctrlRead">
								<div class="input-append" style="{!IF(renderSearchField, '', 'display: none;')}">
									<input type="text" ng-model="query"  class="input-mysize search-query ng-pristine ng-valid searchInput" placeholder="Search..." style="width: 300px;font-size: small;"/>
								</div>
								<div id="statusSearch" style="color:red;font-size: 1.3em;font-weight: bold;text-align: center; {!IF(renderSearchField, '', 'display: none;')}">
									<apex:image title="Remove" url="{!URLFOR($Resource.icons,'icons/loading/loading30.gif')}" style="vertical-align: baseline;" /> SEARCHING...
								</div>
								<div style="{!IF(renderSearchField, '', 'border-bottom: 2px solid lightgrey;')}">
									<table style="width: 100%; margin-bottom: 0px" >
										<thead>
											<tr>
												<th class="name" style="width:5%"> </th>
												<th class="name" style="width:31%">From</th>
												<th class="name" style="width:25">To</th>
												<th class="name" style="width:21%">Subject</th>
												<th class="name" style="width:5%">Sent</th> 	
												<th class="name" style="width:10%"></th> 								
											</tr>
										</thead>
									</table>
									<table style="width: 100%; margin-bottom: 0px" class="table tableZebra table-hover" >
										<tr ng-repeat="item in pagedItems[currentPage]" class="rowZebra">
											<td style="border-top: 1px solid #ddd !important;">
												<table style="width: 100%; margin-bottom: 0px; font-size: 1.2em;"  id="tableEmails" >
													<tr>
														<td style="width:5%"> 
															
															<apex:commandLink id="link" status="ipStatus" onClick="getEmailOpened('{{item.key}}','{{item.virtualId}}'); jQuery('.{{item.virtualId}}').toggle();jQuery('.bodySpan{{item.virtualId}}').toggle();  
															jQuery('.buttonMax{{item.virtualId}}').toggle(); jQuery('.btnNoAction{{item.virtualId}}').toggle(); return null" rerender="tableEmails">
																<apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" styleclass="buttonMax{{item.virtualId}}" />
																<apex:param name="paramKey" value="{{item.key}}" />
															</apex:commandLink>
															<apex:outputlabel styleclass="btnNoAction{{item.virtualId}}" onclick="javascript:jQuery('.{{item.virtualId}}').toggle();jQuery('.maxNoAction{{item.virtualId}}').toggle(); jQuery('.buttonMin{{item.virtualId}}').toggle();" style="display:none">
																<apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" styleclass="maxNoAction{{item.virtualId}}"  style="display:none"/>
																<apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" styleclass="buttonMin{{item.virtualId}}"/>												
															</apex:outputlabel>
														</td>
														<td style="width:30%">
															<div>
																<apex:outputText value="{{item.employeeName}}" styleClass="fromEmail" /><br/>
																<apex:outputText value="{{item.employeeEmail}}" style="font-size:0.8em"/>
															</div>
														</td>		
														<td style="width:25%">
															<!-- <apex:outputText value="{{item.toAddress}}" styleClass="toEmail"/><br/> -->
															<apex:outputText value="{{item.toAddress}}" style="font-size:0.8em"/>
														</td>		
														<td style="width:20%">
															<apex:outputText value="{{item.subject}}" />
														</td>	
														<td style="width:5%">
															<apex:outputText value="{{item.dateOnlySent}}" />
														</td>	
														<td style="width:10%; text-align:center;">
															<apex:commandLink style="font-size: 0.8em; text-decoration: underline; display: block;" target="_Blank" onclick="window.open('payment_school_invoice?type=payment&id={{item.instalmentId}}&visits=false', '_blank');return false;">
																<div ng-show="item.splitNumber == null || item.splitNumber == '' ">
																	<apex:outputlabel value="{{item.instNumber}}" />
																</div>
																<div ng-show="item.splitNumber != null && item.splitNumber != '' ">
																	<apex:outputlabel value="{{item.instNumber}}" />.<apex:outputlabel value="{{item.splitNumber}}"  />
																</div>
															</apex:commandLink>
															
															<!-- Bulk Invoice -->
															<div ng-show="item.invoice != null" style="text-align:left">
																<apex:commandLink style="font-size: 0.8em; text-decoration: underline; display: block;" target="_Blank" onclick="window.open('payment_school_grouped_invoice?type=gSchoolInvoice&id={{item.invoice}}&visits=false', '_blank');return false;" html-ng-show="item.showNet == true">
																		{{item.invoiceNumber}} (Net)
																</apex:commandLink>
																<apex:commandLink style="font-size: 0.8em; text-decoration: underline; display: block;" target="_Blank" onclick="window.open('payment_school_grouped_invoice?type=pfsList&id={{item.invoice}}&visits=false', '_blank');return false;" html-ng-show="item.showPFS == true">
																		{{item.invoiceNumber}} (PFS)
																</apex:commandLink>
															</div>
														</td>
													</tr>	
													<tr style="display: none" class="{{item.virtualId}}">
														<td colspan="6" >
															<apex:outputpanel style="display:none" styleclass="bodySpan{{item.virtualId}}">
																<div style="border:1px solid #D5D3D3; margin:2px; padding: 5px;">
																	<div style="width: 100%; background-color: #DCEDFC; max-height: 25px">
																		<!-- <apex:commandLink value="Forward" style="margin-right:10px; float:right; color: blue;" onclick="replyForwardEmail('fwd','{{item.key}}');return false;">
																		
																		</apex:commandLink>
																		<apex:commandLink value="Reply" style="margin-right:10px; float:right; color: blue;" onclick="replyForwardEmail('re','{{item.key}}');return false;">
																		
																		</apex:commandLink> -->
																		<apex:outputText value="Message" style="color:orange;font-size: 0.9em; font-weight: bold; margin-left:5px;float:left;"/> <br/><br/>
																	</div>
																	
																	<div style="width: 100%; padding: 3px; display: block; max-height:400px; min-height:300px; overflow-y:auto; background-color: #fff;">
																		<apex:outputText styleclass="body{{item.virtualId}}" escape="false"/>
																	</div>
																</div>
															</apex:outputpanel>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</div>
								<div class="pagination pull-right" style="{!IF(renderSearchField, '', 'display: none;')}">
									<ul>
										<li ng-class="{disabled: currentPage == 0}">
											<a ng-click="prevPage()">« Prev</a>
										</li>
										<li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
											<a ng-bind="n + 1">1</a>
										</li>
										<li ng-class="{disabled: currentPage == pagedItems.length - 1}">
											<a ng-click="nextPage()">Next »</a>
										</li>
									</ul>
								</div>
								
								
							</div>			 	
					
					
						</div>
					
					</div>
				</div>
				</apex:form>
			</td>
		</tr>
	</table>
	
	</html>	
</apex:page>