<apex:page standardController="Contact" sidebar="true" extensions="client_course_new" tabStyle="contacts__tab">
	<style>		
		.buttons {
			display: block;
			text-align: right;
			clear: both;
		}				
	</style>
	<script>
		function completeCreateTask(){
			hideLoading();
			jQuery('#interVeil').css('display','none');
			if(selectedClientList!=null)
				selectedClientList.close();
		}
		
		jQuery(function() {	
			jQuery( ".mainTabs" ).tabs({
			activate: function (event, ui) {
				alert('');//redirectTab(jQuery(".mainTabs ul>li a").eq(jQuery('.mainTabs').tabs('option', 'active')).attr("href"));
				}
			});		
		});	
		jQuery(document).ready(function(){
			var isInIframe = (window.location != window.parent.location) ? true : false;
			if(isInIframe){
				jQuery('.bodyDiv').css('border-top','none');
				jQuery('.container-header').hide();
				jQuery('.tbl_Details tr:first-child').hide();
				jQuery('.networkMsgsWithCustomHeader').hide();
				jQuery('.standardBack').hide();
				jQuery('.linkHeader').hide();
				jQuery('#AppBodyHeader').hide();
				jQuery('#sidebarCell').hide();
				jQuery('.bodyColumn').css('border-top','none');
				jQuery('.bodyColumn').css('padding-top','0');
				jQuery('.zen-pageFooter').hide();
			}
		});
	</script>
    <apex:form >
        <div style="display:table; margin-bottom: 2px;margin-left: -7px;">
            <apex:outputPanel rendered="{!$ObjectType.User.fields.CliMenu_CourseProd__c.Accessible}">
                <apex:outputPanel rendered="{!NOT($CurrentPage.parameters.page == 'contactNewPage')}">
                    <div onclick="showLoading('Loading');window.location.href ='client_course_new?id={!contact.id}'" class="divTabs ">Bookings</div> 
                    <div onclick="showLoading('Loading');window.location.href ='client_course_invoices?id={!contact.id}'" class="divTabs">Invoices</div> 
                    <div onclick="showLoading('Loading');window.location.href ='contact_quotations?id={!contact.id}'" class="divTabs divTabSelected">Quotations</div>
                    <apex:outputpanel layout="none" rendered="{!hasCancelReqUndo}">
                        <div onclick="showLoading('Loading');window.location.href ='client_course_cancel_history?id={!contact.id}'" class="divTabs" >Undone Cancel Requests</div>
                    </apex:outputpanel>
                </apex:outputPanel>
                <apex:outputPanel rendered="{!$CurrentPage.parameters.page == 'contactNewPage'}">
                    <div onclick="showLoading('Loading');window.location.href ='contact_new_bookings?id={!contact.id}&page=contactNewPage'" class="divTabs ">Bookings</div> 
                    <div onclick="showLoading('Loading');window.location.href ='contact_new_invoices?id={!contact.id}&page=contactNewPage'" class="divTabs">Invoices</div> 
                    <div onclick="showLoading('Loading');window.location.href ='contact_new_quotations?id={!contact.id}&page=contactNewPage'" class="divTabs divTabSelected">Quotations</div>
                    <apex:outputpanel layout="none" rendered="{!hasCancelReqUndo}">
                        <div onclick="showLoading('Loading');window.location.href ='contact_new_undone_cancel_requests?id={!contact.id}&page=contactNewPage'" class="divTabs" >Undone Cancel Requests</div>
                    </apex:outputpanel>               
                </apex:outputPanel>
            </apex:outputPanel>
        
            <!-- <a href="contact_quotations?id={!contact.id}" onclick="showLoading('Loading');"><div class="divTabs divTabSelected">Quotations</div></a>
            <a href="client_course_new?id={!contact.id}" onclick="showLoading('Loading');"><div class="divTabs ">Bookings</div></a>
            <a href="client_course_invoices?id={!contact.id}" onclick="showLoading('Loading');"><div class="divTabs">Invoices</div></a> -->
        </div>
        <c:contactQuotations contactID="{!Contact.id}" />         
    </apex:form>
</apex:page>