<apex:page controller="contact_new_tasks" showHeader="true" lightningStyleSheets="true" docType="html-5.0" sidebar="true">
    <apex:slds />
    <apex:include pageName="xCourseSearchStyle" />
    <apex:outputPanel layout="block" id="scope-container-client-page" styleClass="slds-scope scope-container-client-page">
        <div class="slds-grid_vertical">
            <c:contact_new_page_header />
            <!--<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"/>
            <apex:includeScript value="{!$Resource.angularFilter}" />  -->

            <apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}"/>
            <apex:includeScript value="{!URLFOR($Resource.assets,'modalfiles/modal.js')}" />
            <apex:stylesheet value="{!URLFOR($Resource.assets,'modalfiles/modal.css')}" />
            <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" />
            <style>
                .dateInput{
                    border: 1px solid #898d93 !important;
                    border-radius: 5px;
                }
            </style>
            <script type="text/Javascript">
                $(document).ready(function(){
                    loadDatePicker();
                    $("#h2-header").focus();
                    /*$(document).on("change", ".filterDueDate", function() {
                        beginAjaxRequest();
                        filterByDueDate($(this).val());
                    });
                    $(document).on("change", ".filterSubject", function() {
                        beginAjaxRequest();
                        filterBySubject($(this).val());
                    });*/
                });
                function loadDatePicker(){
                    $(".dateInput").datepicker({dateFormat:'dd/mm/yy'});
                }
            </script>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1">
            <apex:outputPanel id="tasks-container" styleClass="div-main-section wrapper-content" layout="block">
                <apex:form >
                    <ul class="slds-tabs_default__nav" role="tablist" style="margin: 10px 10px; padding-top: 10px;">
                        <li class="slds-tabs_default__item slds-is-active" title="Contact Details" role="presentation">
                            <apex:commandLink styleClass="slds-tabs_default__link">
                                CONTACT TASKS
                            </apex:commandLink>                       
                        </li>
                    </ul>             
                    <div style="margin: 10px;">
                        <apex:outputPanel styleClass="slds-grid slds-wrap" layout="block"> 
                            <apex:outputPanel styleClass="slds-col slds-size_1-of-1 slds-large-size_1-of-1" layout="block" style="margin-top: 10px;">
                                <div style="padding-bottom: 20px; border-bottom: 1px solid rgb(217, 219, 221)">
                                    <div class="slds-grid slds-wrap">
                                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1">
                                            <h2 id="h2-header" class="subheader-content" style="border-bottom: none !important; margin-bottom: 5px !important; margin-top: 10px;">              
                                                <span class="slds-icon_container slds-icon-action-filter slds-icon_container--circle" style="background-color: rgb(0, 109, 204)">
                                                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/action-sprite/svg/symbols.svg#filter')}">
                                                        </use>
                                                    </svg>
                                                </span>
                                                Filters
                                            </h2>
                                        </div>
                                        <div class="slds-col slds-size_2-of-3 slds-large-size_2-of-3">
                                            <div class="slds-grid slds-wrap">
                                                <input type="text" style="width: 1px !important; height: 1px !important; position: fixed; top: 0; left: 0;"/> <!-- DATE PICKER OPENS THE CALENDAR AUTOMATICALLY WHEN IT'S THE FIRST INPUT OF THE FORM - https://stackoverflow.com/questions/9749895/date-picker-automatically-opens -->
                                                <div class="slds-col slds-size_1-of-5 slds-large-size_1-of-5">
                                                    <div class="slds-form-element" style="margin-left: 10px">
                                                        <legend class="slds-form-element__label sub-folders" style="color: black !important;">
                                                            From Date
                                                        </legend>
                                                        <apex:inputText value="{!fromDate}" styleClass="dateInput"/>
                                                    </div>
                                                </div>     
                                                <div class="slds-col slds-size_1-of-5 slds-large-size_1-of-5">
                                                    <div class="slds-form-element" style="margin-left: 10px">
                                                        <legend class="slds-form-element__label sub-folders" style="color: black !important;">
                                                            To Date
                                                        </legend>
                                                        <apex:inputText value="{!toDate}" styleClass="dateInput"/>
                                                    </div>
                                                </div>     
                                                <div class="slds-col slds-size_1-of-5 slds-large-size_1-of-5">
                                                    <div class="slds-form-element" style="margin-left: 10px">
                                                        <legend class="slds-form-element__label sub-folders" style="color: black !important;">
                                                            Subject
                                                        </legend>
                                                        <apex:selectList styleClass="chosen filterSubject" value="{!filterSubject}" style="width: 100%; font-weight: normal !important;" required="true">
                                                            <apex:SelectOptions value="{!filtersSubject}" />
                                                        </apex:selectList>
                                                    </div>
                                                </div>
                                                <div class="slds-col slds-size_1-of-5 slds-large-size_1-of-5">
                                                    <div class="slds-form-element" style="margin-left: 10px">
                                                        <legend class="slds-form-element__label sub-folders" style="color: black !important;">
                                                            Status
                                                        </legend>
                                                        <apex:selectList styleClass="chosen filterStatus" value="{!filterStatus}" style="width: 100%; font-weight: normal !important;" required="true">
                                                            <apex:SelectOptions value="{!filtersStatus}" />
                                                        </apex:selectList>
                                                    </div>
                                                </div>
                                                <div class="slds-col slds-size_1-of-5 slds-large-size_1-of-5">
                                                    <div class="slds-form-element" style="margin-left: 10px">
                                                        <legend class="slds-form-element__label sub-folders" style="color: black !important;">
                                                            &nbsp;
                                                        </legend>
                                                        <apex:commandLink value="Apply Filters" action="{!filterTasks}" styleClass="slds-button slds-button_stateful slds-button_neutral agencyBackground agencyFont" onclick="beginAjaxRequest();" oncomplete="completeAjaxRequest(); loadDatePicker();" rerender="tasks-container"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-col slds-size_1-of-3 slds-large-size_1-of-3">
                                            <div class="slds-grid slds-wrap">
                                                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1" style="text-align: right">
                                                    <div class="slds-form-element" style="margin-left: 10px">
                                                        <legend class="slds-form-element__label sub-folders" style="color: black !important;">
                                                            &nbsp;
                                                        </legend>
                                                        <div style="padding-top: 5px;">
                                                            <span style="margin-right: 10px;">
                                                                Overdue: <span style="padding: 2px 25px; border: 1px solid #bdbcbc; border-radius: 5px; font-weight: bold; color: #D81921">{!overdueTasks}</span> 
                                                            </span>
                                                            <span style="margin-right: 10px;">
                                                                Due Today: <span style="padding: 2px 25px; border: 1px solid #bdbcbc; border-radius: 5px; font-weight: bold; color: rgb(0, 109, 204)">{!todayTasks}</span> 
                                                            </span>
                                                            <span>
                                                                Total Tasks: <span style="padding: 2px 25px; border: 1px solid #bdbcbc; border-radius: 5px; font-weight: bold;">{!totalTasks}</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>     
                                            </div>
                                        </div>
                                    </div>     
                                </div>     
                            </apex:outputPanel>
                            <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1" style="margin-bottom: 20px;">
                                <h2 class="subheader-content" style="border-bottom: none !important; margin-bottom: 5px !important;">                       
                                    TASKS
                                </h2>

                                <table class="slds-table slds-table_bordered slds-max-medium-table_stacked-horizontal slds-table_col-bordered slds-table_striped" style="table-layout: fixed;">
                                    <thead>
                                        <tr class="slds-line-height_reset">
                                            <th class="slds-text-title_caps slds-cell-wrap" scope="col" style="width: 10%;">
                                                <div class="slds-truncate" title="Opportunity Name"><b>Subject</b></div>
                                            </th>
                                            <th class="slds-text-title_caps slds-cell-wrap" scope="col" style="width: 55%;">
                                                <div class="slds-truncate" title="Account Name"><b>Description</b></div>
                                            </th>
                                            <th class="slds-text-title_caps slds-cell-wrap" scope="col" style="width: 10%;">
                                                <div class="slds-truncate" title="Close Date"><b>Due Date</b></div>
                                            </th>
                                            <th class="slds-text-title_caps slds-cell-wrap" scope="col" style="width: 25%;">
                                                <div class="slds-truncate" title="Stage"><b>Task Details</b></div>
                                            </th>                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <apex:repeat var="task" value="{!tasks}" rendered="{!NOT(tasks.empty)}">
                                            <apex:outputPanel rendered="{!task.showTask}" layout="none">
                                                <tr>
                                                    <th data-label="Opportunity Name" scope="row" class="slds-cell-wrap" style="width: 25%">
                                                        <div class="slds-truncate" title="View {!task.subject}">
                                                            <a onclick="editTask('{!task.id}','{!task.history}')" title="View {!task.subject}" tabindex="0">
                                                                {!task.subject}
                                                            </a>
                                                        </div>
                                                    </th>
                                                    <td data-label="Account Name" class="slds-cell-wrap" style="width: 25%">
                                                        <div title="{!task.comments}">
                                                            <div class="slds-truncate">
                                                                <apex:outputText value="{!task.comments}" styleClass="mini" title="{!task.comments}" />
                                                                <!-- <apex:outputText value="..." rendered="{!LEN(task.comments) > 150}" styleClass="mini" title="{!task.comments}" /> -->
                                                            </div>
                                                            <apex:outputPanel layout="block" rendered="{!ISNULL(task.relatedQuoteName)}">
                                                                &nbsp;
                                                            </apex:outputPanel>
                                                            <apex:outputPanel layout="block" rendered="{!NOT(ISNULL(task.relatedQuoteName))}">
                                                                <a href="quotation?id={!task.relatedQuoteID}" target="_blank">{!task.relatedQuoteName}</a>	 
                                                                <apex:outputtext value=" - " />	
                                                                <span style="{!IF(task.relatedQuoteStatus = 'Expired', 'color:#D81921','color:rgb(0, 109, 204)')};"> {!task.relatedQuoteStatus}</span>
                                                            </apex:outputPanel>
                                                        </div>
                                                    </td>
                                                    <td data-label="Close Date" class="slds-cell-wrap" style="width: 25%">
                                                        <div class="slds-truncate" title=" {!task.dueDate}">
                                                            <apex:outputpanel rendered="{!task.status=='Completed'}">
                                                                <apex:outputText value="{0,date, dd/MM/yyyy}">
                                                                <apex:param value="{!task.dueDate}" />
                                                            </apex:outputText>
                                                            <br/>
                                                            <apex:outputText value="Completed" style="color:#18bb52;"/><br/>
                                                                <!-- <apex:outputText value="{!task.LastModifiedBy.Name}" style="color:grey;" />
                                                                <apex:outputText value=" on" style="color:grey;" />
                                                                <apex:outputText value="{0,date, dd/MM/yyyy}" style="color:grey;">
                                                                    <apex:param value="{!task.LastModifiedDate}" />
                                                                </apex:outputText> -->
                                                            </apex:outputpanel>
                                                            <apex:outputpanel rendered="{!task.status!='Completed'}">		 	
                                                                <apex:outputText value="{0,date, dd/MM/yyyy}">
                                                                    <apex:param value="{!task.dueDate}" />
                                                                </apex:outputText>
                                                                <br/>
                                                                <apex:outputText value="{!today() - task.dueDate} days overdue" rendered="{!NOT(ISNULL(task.dueDate)) && task.dueDate < today()}" style="color:#D81921;" />
                                                                <apex:outputText value="Today" rendered="{!NOT(ISNULL(task.dueDate)) && task.dueDate = today()}" style="color:grey;" />
                                                                <apex:outputText value="Tomorrow" rendered="{!NOT(ISNULL(task.dueDate)) && task.dueDate = today()+1}" style="color:grey;" />
                                                                <apex:outputText value="in {!task.dueDate - today()} days" rendered="{!NOT(ISNULL(task.dueDate)) && task.dueDate > today()+1}" style="color:grey;" />
                                                            </apex:outputpanel>
                                                        </div>
                                                    </td>
                                                    <td data-label="Prospecting" class="slds-cell-wrap" style="width: 25%">
                                                        <div class="slds-truncate" title="Prospecting">
                                                            <div style="margin-bottom: 3px;">
                                                                <apex:outputLabel value="Created by:" style="font-weight:bold;" /> <apex:outputLabel value="{!task.CreatedBy}" />
                                                                <apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
                                                                <span style="color:grey; font-size:0.8em;">
                                                                    <apex:outputText value=" {!task.createdDate}" />
                                                                </span><br/>
                                                            </div>
                                                            
                                                            <div style="margin-bottom: 3px;">
                                                                <apex:outputLabel value="Assigned to:" style="font-weight:bold;" /> <apex:outputLabel value="{!task.assignedTo}" />
                                                                <apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
                                                                <span style="color:grey; font-size:0.8em;">
                                                                    <apex:outputText value=" {!task.assignedOn}" />
                                                                </span><br/>
                                                            </div>
                                                            
                                                            <div>
                                                                <apex:outputLabel value="Last modified:" style="font-weight:bold;" /> <apex:outputLabel value="{!task.LastModifiedBy}" />
                                                                <apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
                                                                <span style="color:grey; font-size:0.8em;">
                                                                    <apex:outputText value=" {!task.lastModifiedDate}" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </apex:outputPanel>
                                        </apex:repeat>
                                        <apex:outputPanel rendered="{!tasks.empty}" layout="none">
                                            <tr>
                                                <td colspan="4">
                                                    <div class="slds-truncate" title="Stage" style="text-align: center"><b>NO TASKS WERE FOUND FOR THIS CONTACT.</b></div>
                                                </td>
                                            </tr>
                                        </apex:outputPanel>
                                    </tbody>
                                </table>   
                            </div>
                        </apex:outputPanel>
                    </div>
                </apex:form>
            </apex:outputPanel>
        </div>
    </apex:outputPanel>
</apex:page>