<apex:page standardController="Contact"	sidebar="true" tabStyle="contacts__tab">
	<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"/>
	<apex:includeScript value="{!$Resource.jquery}"/> 
	<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />	
	<apex:include pageName="xStylePageV2" />
	<apex:include pageName="xCourseSearchStyle" />
	<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />
	<apex:includeScript value="{!$Resource.jqueryBlockUI}" />
	
	<style>
		
		.buttons {
			display: block;
			text-align: right;
			clear: both;
		}
		
	</style>
	
	
	<table class="tbl_Details">
		<tr>
			<td rowspan="3" class="sidesColumn">
				<c:menuContact ContactID="{!Contact.id}" selectedItem="Visits" />					
			</td>
			<td class="middleColumn">
				<div class="boxHeader">
					<c:cpPageHeader PageType="contact" contactID="{!Contact.id}" />
				</div>
			</td>
			<td rowspan="3" class="rightColumn sidesColumn">
				<c:contactSideBarButtons ContactID="{!Contact.id}" />
				<apex:outputpanel rendered="{!Contact.RecordType.Name != 'Employee'}"><c:cclient_checklist idContact="{!Contact.id}" /></apex:outputpanel>
				<br/>
				<c:cCreateTask popType="modal" cClientId="{!Contact.id}" />
			</td>
		</tr>
		
		<tr>
			<td class="middleColumn bodyColumn">
				<c:contactVisits contactid="{!Contact.id}" />
			</td>
			
		</tr>
		
	</table>
				
				
	
</apex:page>