<apex:page showHeader="true" lightningStyleSheets="true" docType="html-5.0" sidebar="true">
	<apex:slds />
    <apex:outputPanel layout="block" id="scope-container-client-page" styleClass="slds-scope scope-container-client-page">
        <div class="slds-grid_vertical">
            <apex:include pageName="contact_new_style_old_pages" />
            <apex:include pageName="xCourseSearchStyle" />
            <c:contact_new_page_header />
            <style>
                .dateInput > input, .divContent {
                    width: 100% !important;
                }
            </style>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1">
            <apex:outputPanel styleClass="div-main-section wrapper-content" layout="block">
                <ul class="slds-tabs_default__nav" role="tablist" style="margin: 10px 10px; padding-top: 10px;">
                    <li class="slds-tabs_default__item slds-is-active" title="Contact Details" role="presentation">
                        <apex:outputLink styleClass="slds-tabs_default__link">
                            ADD PACKAGES
                        </apex:outputLink>
                    </li>
                </ul>
                <div class="slds-grid slds-wrap">
                    <div class="slds-size_1-of-1" style="padding: 10px;">
                        <apex:include pageName="client_course_add_packages_inner"/>
                    </div>
                </div>
            </apex:outputPanel>
        </div>
        <script>
            function changeFirstCourse(rowId){
                $('.firstCourse').each(function( index ){
                    if(!$(this).hasClass('rw-' + rowId))
                        $(this).attr('checked', false);
                });
            }

            function calculateEndDate(rowId){
                var startDate = $('.' + rowId + '-startDate').val();
                var endDate = new Date();

                var duration;
                var unitType;
                var freeWeeks;

                duration = $('.' + rowId + '-duration').val();
                unitType = $('.' + rowId + '-unitType').val();
                freeWeeks = Number($('.' + rowId + '-freeWeeks').val());

                if(duration != '' && unitType != '' && startDate != ''){

                    var parts = startDate.split('/');

                    var sd = new Date(parts[2], parts[1] - 1, parts[0]);

                    if(unitType.toLowerCase() == 'day'){
                        endDate = sd.addDays(duration*1 + freeWeeks*7 );
                    }

                    else if(unitType.toLowerCase() == 'week'){
                        endDate = sd.addDays(duration*7  + freeWeeks*7);
                    }

                    else if(unitType.toLowerCase() == 'month'){
                        endDate = sd.addMonths(duration*1);
                        endDate = sd.addDays(freeWeeks*7);
                    }

                    else if(unitType.toLowerCase() == 'quarter'){
                        endDate = sd.addMonths(duration*3);
                        endDate = sd.addDays(freeWeeks*7);
                    }

                    else if(unitType.toLowerCase() == 'semester'){
                        endDate = sd.addMonths(duration*6);
                        endDate = sd.addDays(freeWeeks*7);
                    }

                    else if(unitType.toLowerCase() == 'year'){
                        endDate = sd.addMonths(duration*12);
                        endDate = sd.addDays(freeWeeks*7);
                    }

                    endDate = convertDate(endDate);
                    $('.' + rowId + '-endDate').val(endDate);

                }
            }

            function convertDate(inputFormat) {
                function pad(s) { return (s < 10) ? '0' + s : s; }
                var d = new Date(inputFormat);
                return [pad(d.getDate()), pad(d.getMonth()+1), d.getFullYear()].join('/');
            }

            Date.isLeapYear = function (year) {
                return (((year % 4 === 0) && (year % 100 !== 0)) || (year % 400 === 0));
            };

            Date.getDaysInMonth = function (year, month) {
                return [31, (Date.isLeapYear(year) ? 29 : 28), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31][month];
            };

            Date.prototype.isLeapYear = function () {
                return Date.isLeapYear(this.getFullYear());
            };

            Date.prototype.getDaysInMonth = function () {
                return Date.getDaysInMonth(this.getFullYear(), this.getMonth());
            };

            Date.prototype.addDays = function(days){
                var dat = new Date(this.valueOf());
                dat.setDate(dat.getDate() + days);
                return dat;
            }

            Date.prototype.addMonths = function (value) {
                var n = this.getDate();
                this.setDate(1);
                this.setMonth(this.getMonth() + value);
                this.setDate(Math.min(n, this.getDaysInMonth()));
                return this;
            };

        </script>
    </apex:outputPanel>
</apex:page>