<apex:page standardController="Contact" extensions="contact_quotationEmail" standardStylesheets="false" sidebar="false" tabStyle="contacts__tab" language="{!language}">
	<apex:include pageName="xStylePage" />
	<apex:include pageName="xCourseSearchStyle" />
	<script src="https://apis.google.com/js/client.js"> </script>
	<style>



		.apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader h3 {
			font-size: 1.2em;
			color: white !important;
		}

		html .brandTertiaryBgr {
			background-color: #999999 !important;
		}

		.divHeader{font-size: 1.1em;}

		.bPageBlock.apexDefaultPageBlock .pbBody .docs .pbSubheader h3 {
			color: #108cc0 !important;
		}


		.docs .pbSubheader.brandTertiaryBgr.tertiaryPalette {
			background-color: #dde4e9 !important;
		}

	
	</style>

		<table class="tbl_Details">
			<apex:outputpanel layout="none" rendered="{!NOT($CurrentPage.parameters.page == 'contactNewPage')}">
				<tr>
					<td rowspan="3" class="sidesColumn">
						<c:menuContact ContactID="{!Contact.id}" selectedItem="ContactQuotations" />
					</td>
					<td class="middleColumn">
						<div class="boxHeader">
							<c:cpPageHeader PageType="contact" contactID="{!Contact.id}" />
						</div>
					</td>
					<td rowspan="3" class="rightColumn sidesColumn">
						<c:contactSideBarButtons ContactID="{!Contact.id}" />
						<c:cCreateTask popType="modal" cClientId="{!Contact.id}" rendered="{!Contact.RecordType.Name != 'Employee'}" />
					</td>
				</tr>
			</apex:outputpanel>

			<tr>
				<td class="middleColumn bodyColumn">

					<apex:form id="agencyDetails" >

					  <apex:include pageName="stylesSendEmail" />


					    <apex:variable id="showCC" value="false" var="showCC" />

					    <!-- Email body and to, cc, bcc -->
					    <apex:pageBlock >
					      <apex:pageBlockSection columns="1" title="Email">
					        <apex:pageBlockSectionItem >
					          <apex:outputLabel value="To:" />

					          <apex:outputPanel >
					            <apex:inputText value="{!quote.Client__r.Email}" disabled="true" style="width:100%; border: none;" />
					            <br />
					            <div style="width: 100%;">
					              <div style="float: left;">
					                <apex:outputLink styleClass="showCC" style="color:#0065CC;" onclick="javascript:showCC();return false;">
					                  Show CC
					                </apex:outputLink>
					                <apex:outputLink styleClass="showBCC" style="color:#0065CC; margin-left: 10px;" onclick="javascript:showBCC();return false;">
					                  Show BCC
					                </apex:outputLink>
					              </div>
					              <div style="float: right;"><apex:inputCheckBox value="{!sentEmailOwner}" style="margin-top:10px;"
					              title="{!quote.CreatedBy.Email}" /> <apex:outputText value="Send a copy to myself" style="color:#109EDB;"
					              title="{!quote.CreatedBy.Email}" />
					              <apex:inputCheckBox value="{!emailImportant}" style="margin-top:10px; margin-left: 10px"
					              title="whether or not this message is important, and should be delivered ahead of non-important messages" /> <apex:outputText value="Important" style="color:#109EDB;"
					              title="whether or not this message is important, and should be delivered ahead of non-important messages" />
					              </div>
					           </div>
					          </apex:outputPanel>
					        </apex:pageBlockSectionItem>

					        <apex:pageBlockSectionItem labelStyleClass="copperfieldCC" dataStyleClass="copperfieldCC" helpText="Use semicolon to separate email addresses">
					          <apex:outputLabel value="CC:" />
					          <apex:inputTextArea value="{!Cc}" rows="1" style="width: 100%"  /> <!-- styleClass="areaCc" -->
					        </apex:pageBlockSectionItem>

					        <!-- <apex:pageBlockSectionItem labelStyleClass="fieldNoDisplay"
					          dataStyleClass="fieldNoDisplay">
					          <apex:inputHidden value="{!Cc}" id="ccHid" />
					        </apex:pageBlockSectionItem> -->

					        <apex:pageBlockSectionItem labelStyleClass="copperfieldBCC" dataStyleClass="copperfieldBCC" helpText="Use semicolon to separate email addresses">
					          <apex:outputLabel value="Bcc:" />
					          <apex:inputTextArea value="{!Bcc}" rows="1" style="width: 100%" /> <!-- styleClass="areaBcc" -->
					        </apex:pageBlockSectionItem>

					        <!-- <apex:pageBlockSectionItem labelStyleClass="fieldNoDisplay"
					          dataStyleClass="fieldNoDisplay">
					          <apex:inputHidden value="{!Bcc}" />
							</apex:pageBlockSectionItem> -->
							
							<apex:pageBlockSectionItem >
								<apex:outputLabel value="Template:" style="color: #ef5355; position: relative; top: 4px; "/>
								<apex:selectList value="{!selectedTemplate}" styleClass="chosen" size="1" onchange="changeEmailTemplate(this.value);" >
									<apex:selectOptions value="{!emailOptions}"/>	
								</apex:selectList>
							</apex:pageBlockSectionItem>

					        <apex:pageBlockSectionItem >
								<apex:outputLabel value="Subject:"/>
							  	<apex:outputPanel id="subject" >
									<apex:inputText value="{!subject}" styleClass="subject" style="width:100%;" />
									<script>
										$('.emailBody').contents().find('iframe').contents().find('body').html($('.previewTemplate').html()); 
										addDocuments();
									</script>
								</apex:outputPanel>
					        </apex:pageBlockSectionItem>


					        <apex:pageBlockSectionItem >
								<apex:outputLabel value="Body:" />
								<apex:outputPanel layout="block" styleClass="emailBody " id="emailContent" >
									<apex:outputText value="{!tempBody}" escape="false" style="display:none" styleClass="previewTemplate" id="previewTemplate"/>
									<apex:inputTextArea id="ckEditor" value="{!email}" richtext="true" styleClass="inputEmailBody"/> 
								</apex:outputPanel>
							</apex:pageBlockSectionItem>

					        <apex:pageBlockSectionItem dataStyleClass="datasig" labelStyleClass="labelsig">
	                        <apex:outputLabel value="Signature:" />
	                        <apex:outputPanel id="useSignature" >
	                            <apex:inputCheckbox styleClass="signatureCheck" value="{!useSignature}" onclick="signBody(this.checked);" />

	                            <script>
									function signBody(useit){

									var original = jQuery('.emailBody').contents().find('iframe').contents().find('body').html();

									if(original.indexOf('<div style="margin-top: 20px;" class="sig">') != -1){
									  original = original.substring(0, original.indexOf('<div style="margin-top: 20px;" class="sig">'));
									 }

									jQuery('.emailBody').contents().find('iframe').contents().find('body').html(original);

									if(useit || typeof useit === 'undefined'){
										jQuery('.emailBody').contents().find('iframe').contents().find('body').html(original + '<div style="margin-top: 20px;" class="sig">{!JSENCODE(signature)}</div>');
									}

									original = '';
									}

								</script>
	                        </apex:outputPanel>
	                    </apex:pageBlockSectionItem>
					      </apex:pageBlockSection>

					      <script>
				                function signBody(useit){

									var original = jQuery('.emailBody').contents().find('iframe').contents().find('body').html();

					                if(original.indexOf('<div style="margin-top: 20px;" class="sig">') != -1){
					                	original = original.substring(0, original.indexOf('<div style="margin-top: 20px;" class="sig">'));
					                }

					                jQuery('.emailBody').contents().find('iframe').contents().find('body').html(original);

					                if(useit || typeof useit === 'undefined'){
					                	jQuery('.emailBody').contents().find('iframe').contents().find('body').html(original + '<div style="margin-top: 20px;" class="sig">{!JSENCODE(signature)}</div>');
					                }

					                //jQuery('.emailBody').contents().find('iframe').contents().find('body').html(original);
					                original = '';
								}

				            </script>


					      <apex:pageBlockButtons location="bottom">
					        <apex:commandButton styleClass="btn btnSend" title="current e-mail: {!quote.Client__r.Email}" value="Send" action="{!sendEmailQuote}" status="statusUpdate" rerender="emailSent" />
					      </apex:pageBlockButtons>

					      <apex:actionFunction action="{!redirectToTasks}" name="redirectToTasks" rerender="emailSent" oncomplete="showLoading('Please wait...');" />

					      <apex:outputPanel id="emailSent">
						      <apex:outputPanel rendered="{!sent}">
						      	<script>
						      		alert('Email has been sent.');
						      		redirectToTasks();

						      	</script>
						      </apex:outputPanel>
					      </apex:outputPanel>


					    </apex:pageBlock>
					    
    		    	<!-- User Files -->
		    		<script>
   			      		function getUserFilesShortUrl(fileName, fileKey){
				      		var filePath = 'https://s3.amazonaws.com/' + '{!OrgId}' + '/' + fileKey;
				      		if (gapi.client) {
				                gapi.client.setApiKey('AIzaSyDCdCbj4eTEDY3f5qEZOD5oMaKudJPHGdk');
				                gapi.client.load('urlshortener', 'v1', function () {

				                	if(filePath.length > 255){

					           		    var request = gapi.client.urlshortener.url.insert({
											'resource': {'longUrl': filePath }
							   			  });

									    request.execute(function(response){
											if(response.id != null){
								                addUserAttach(fileName, response.id);
											} else {
								                addUserAttach(fileName, longUrl);
											}
									    });
									 }else{
									 	addUserAttach(fileName, filePath);
									 }
				                });

				                } else window.setTimeout(getUserFilesShortUrl(fileKey), 10);
				            }

		    			function UpdateOpener(fileName, fileKey) {
		    				getUserFilesShortUrl(fileName, fileKey);
						}
						function changeEmailTemplate(value){
							changeTemplate(value);
							addDocuments();
						}	

			            function addDocuments(){
							var attachments = '<div id="attachments"><br/><b>Attachments:</b><br/>';
							var hasFiles = false;

							jQuery('.docs input:checked').each(function() {
								hasFiles = true;
								var customid = jQuery(this).attr('class');
								var fileLink = '';
								var fileName = jQuery('.fileName-' + customid).html();
								var fileURL = jQuery('.fileName-' + customid).attr('href');
								var fileSize = jQuery('.size-' + customid).html();

								if(!fileURL.includes(EHFShortnerHost)){
									showLoading('Please wait...');
									jQuery.ajax({
											url: 'https://' + EHFShortnerHost + '/prod/',
											type: 'POST',
											data: JSON.stringify({ 'url_long': fileURL, 'cdn_prefix': EHFShortnerHost }),
											contentType : 'application/json; charset=utf-8',
											dataType: 'json',
											encode: true
									}).done(function( data ) {
										console.log( 'generated shorturl: ' + data.url_short );
										if(data.url_short != null && data.url_short != ''){
											fileURL = data.url_short;
											jQuery('.fileName-' + customid).attr('href', fileURL);
											addDocuments();
											hideLoading();
										}
									});
								} else {
									fileLink = '<a href="'+fileURL+'" target="_blank">' + fileName + '</a><br/>';
									attachments += fileLink;
								}

							});

							jQuery('#userDocs input:checked').each(function() {
								hasFiles = true;
								var customid = jQuery(this).attr('class');
								var fileName = jQuery('.userFile'+customid).html();
								var fileURL = jQuery('.userFile'+customid).attr('href');
								//var fileSize = jQuery('.size-' + customid).html();

								fileLink = '<a href="'+fileURL+'" target="_blank">' + fileName + '</a><br/>';

								attachments += fileLink;

							});


							if(hasFiles)
								attachments += '</div>';
							else
								attachments = '';


							var body = '';

							var original = jQuery('.emailBody').contents().find('iframe').contents().find('body').html();
							//console.log('THE ORIGINAL BODY '+original);
							if(original.indexOf('<div id="attachments">') != -1){
								//console.log('ENTROU NO IF');
								body = original.substring(0, original.indexOf('<div id="attachments">'));
								//console.log('AFTER SLICING '+body);
							}else if(original.indexOf('<div style="margin-top: 20px;" class="sig">') != -1 && original.indexOf('<div id="attachments">') == -1){
								//console.log('ENTROU NO ELSE IF');
								body = original.substring(0, original.indexOf('<div style="margin-top: 20px;" class="sig">'));
								//console.log('AFTER SLICING '+body);
							}else{
								//console.log('ENTROU NO ELSE');
								body = original;
							
							} //if(original.indexOf('<div style="margin-top: 20px;" class="sig">') == -1 && original.indexOf('<div id="attachments">') != -1)

							if(body.startsWith('<br>')){
								body = body + attachments;	
							}else{
								body = '<br><br/>'+body + attachments;
							}

							jQuery('.emailBody').contents().find('iframe').contents().find('body').html(body);

							signBody(jQuery('.signatureCheck').attr('checked'));

							loadChosen();

						}

						var EHFShortnerHost = '{!EHFShortnerHost}';
						function loadChosen(){
							try{
								$('.chosen').chosen({no_results_text: "Sorry, no items were found." , placeholder_text_multiple: "Type to find the options.", placeholder_text_single: "Type to find the option."});
							} catch(err){
								console.warn('CHOSEN COULDNT\' BE LOADED (THIS PROBLEM OCCURRS BECAUSE OF AN INCOMPATIBILITY BETWEEN DIFFERENT VERSIONS OF JQUERY)');
							}
						}
		            </script>


		            <apex:actionFunction name="addUserAttach" action="{!addUserAttachment}" rerender="listUserAttachments" onComplete="addDocuments();">
		            	<apex:param value="" name="fileName" />
		            	<apex:param value="" name="fileKey" />
					</apex:actionFunction>
					
					<apex:actionFunction name="changeTemplate" action="{!changeTemplate}" status="statusLoad" rerender="subject, previewTemplate">
						<apex:param name="template" value="" />
					</apex:actionFunction>

		             <apex:pageBlock >
                        <apex:outputPanel layout="block" style="margin-top:25px;" >
                           	<div class="divHeader">
                           		Attach files from your computer
                           	</div>
                        </apex:outputPanel>

		    			<iframe src="fileUploadDocuments?bucket={!OrgId}&clientId={!quote.client__c}&fromEmail=true" style="height:60px;width:100%;border: none;" id="attachmentIframe"/>
		    			<apex:outputpanel id="listUserAttachments" layout="block" styleclass="userFiles">

			            	<apex:outputpanel rendered="{!NOT(ISNULL(lUserAttachments)) && lUserAttachments.size>0}" >
			            		<div id="userDocs" class="userDocs" >
			            			<apex:variable value="{!1}" var="count"/>
			            			<table style="width:100%;  border: 1px solid grey; border-spacing: 0;">
			            				<thead>
			            					<tr style="background: #ccc;">
			            						<td style="width:5%"></td>
			            						<td style="font-weight:bold;width:95%; padding: 5px;">File Name</td>
			            					</tr>
			            				</thead>
			            				<tbody>
			            					<apex:repeat value="{!lUserAttachments}" var="att" >
			            						<tr>
			            							<td><apex:inputCheckbox value="{!att.isChecked}" onclick="addDocuments();" styleClass="{!count}" /></td>

			            							<td><apex:outputlink value="{!att.fileKey}" styleClass="userFile{!count}" >
									            			{!att.fileName}
									            		</apex:outputlink>
							            			</td>
			            						</tr>
			            						<apex:variable value="{!count+1}" var="count"/>
			            					</apex:repeat>
			            				</tbody>
			            			</table>
			            		</div>
			            	</apex:outputpanel>
			            </apex:outputpanel>

	    			</apex:pageBlock>
		    	<!-- END User Files -->

	    			<br/>



					    <apex:pageBlock >

					    	<div class="divWrapper">

					    		<div class="divHeader">
									<apex:outputLink id="plusBut" onclick="javascript:toggle('{!$Component.btnMax}'); javascript:toggle('{!$Component.btnMin}'); javascript:toggle('{!$Component.docs}'); return false;"  style="position: relative; top: -6px;">
						            	<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-max.png')}" id="btnMax" styleClass="plusBtn" style="display:none;"/>
						              	<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-min.png')}" id="btnMin" styleClass="lessBtn"  />
						            </apex:outputLink>

									Select Client Documents to Attach
								</div>

								<apex:outputpanel layout="block" id="docs" styleclass="docs" >

									<apex:repeat value="{!categoriesOrder}" var="cat">
										<div class="divWrapper" style="margin-bottom: 5px !important;">

											<!-- Category Title -->
											<apex:outputpanel layout="block" style="background:#ccc;padding:3px;font-weight:bold;height: 20px;" >
												<apex:outputpanel style="float:left;position: relative;top: -2px;" >
														<!-- <apex:commandLink id="linkAction" onClick="setCategory('{!cat}');javascript:toggle('{!$Component.linkNoAction}');javascript:toggle('{!$Component.linkAction}');" action="{!renderDoc}" status="statusLoad"
															rerender="resultCat" style="{!if(renderDocs[cat], 'display:none', '')}">
																<apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}"  style="position:relative;top:3px;" />
																<apex:param name="cat" value="{!cat}" />
														</apex:commandLink> -->
														<apex:outputlabel id="linkNoAction" onclick="toggle('{!$Component.btnMaxCatNoAction}');toggle('{!$Component.btnMinCat}');return false;" >
															<apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" onclick="jQuery('.b-{!cat}').css('display','');"  id="btnMaxCatNoAction" style="position:relative;{!if(NOT($CurrentPage.parameters.page == 'contactNewPage'),'top:3px;','top:-2px;')}{!if(renderDocs[cat], 'display:none', '')}"/>
															<apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" onclick="jQuery('.b-{!cat}').css('display','none');" id="btnMinCat" style="position:relative;{!if(NOT($CurrentPage.parameters.page == 'contactNewPage'),'top:3px;','top:-2px;')}{!if(renderDocs[cat], '', 'display:none')}"  />
														</apex:outputlabel>
													&nbsp;
													<apex:outputtext value="{!cat}" styleclass="categoryName" />
												</apex:outputpanel>

											</apex:outputpanel>
											<!-- END -- Category Title -->
											<apex:outputpanel id="resultCat">
												<apex:outputpanel layout="block" styleclass="divContent b-{!cat}" style="{!IF(renderDocs[cat], '', 'display:none')}">
													<apex:outputpanel layout="block" rendered="{!docs[cat].listFiles.size<1}" style="text-align:center">
														No files found.
													</apex:outputpanel>
													<apex:pageBlockTable value="{!docs[cat].listFiles}" var="cd" columnsWidth="3%, 52%, 15%, 20%, 10%" rendered="{!docs[cat].listFiles.size>0}">
														<apex:column headerValue="" >
															<apex:inputCheckbox value="{!cd.isSelected}" onclick="addDocuments();" styleClass="{!cd.customID}"/>
														</apex:column>
														<apex:column headerValue="Name" >
															<apex:outputLink value="{!cd.url}" target="_blank" styleClass="fileName-{!cd.customID}" >{!cd.fileName}</apex:outputLink>
														</apex:column>
														<apex:column headerValue="Type" >
															<apex:outputText value="{!cd.docType}"/>
														</apex:column>
														<apex:column headerValue="Last Modified" >
															<apex:outputText value="{0,date,dd/MM/yyyy}">
																<apex:param value="{!cd.lastModified}" />
															</apex:outputText>
														</apex:column>
														<apex:column headerValue="Size" >
															<apex:outputText value="{!cd.size} KB" styleClass="size-{!cd.customID}"/>
														</apex:column>
													</apex:pageBlockTable>
												</apex:outputpanel>
											</apex:outputpanel>
										</div>
									</apex:repeat>
								</apex:outputpanel>
								<!-- <div class="divHeader">
									<apex:outputLink id="plusBut" onclick="javascript:toggle(); return false;" style="position: relative; top: -6px;">
					            	<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-max.png')}" id="btnMax" styleClass="plusBtn" />
					              	<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-min.png')}" id="btnMin" styleClass="lessBtn" />
					            </apex:outputLink>

									Select Client Documents to Send
								</div>

								<div id="docs" class="docs divContent" style="display:none;">

									<apex:repeat value="{!contactDocuments}" var="category" >

							    		<apex:pageBlockSection id="section1" title="{!category}" columns="1" >
							    			<script>twistSection(document.getElementById("{!$Component.section1}").childNodes[0].childNodes[0]); </script>

							    			<apex:pageBlockTable value="{!contactDocuments[category]}" var="cd" columnsWidth="3%, 52%, 15%, 20%, 10%" >
							    				<apex:column headerValue="" >
									    			<apex:inputCheckbox value="{!cd.isSelected}" onclick="addDocuments();" styleClass="{!cd.customID}"/>
									    		</apex:column>
									    		<apex:column headerValue="Name" >
													<apex:outputLink value="{!cd.url}" target="_blank" styleClass="fileName-{!cd.customID}" >{!cd.fileName}</apex:outputLink>
									    		</apex:column>
									    		<apex:column headerValue="Type" >
									    			<apex:outputText value="{!cd.docType}"/>
									    		</apex:column>
									    		<apex:column headerValue="Last Modified" >
													<apex:outputText value="{0,date,dd/MM/yyyy}">
					                    				<apex:param value="{!cd.lastModified}" />
					                    			</apex:outputText>
									    		</apex:column>
									    		<apex:column headerValue="Size" >
									    			<apex:outputText value="{!cd.size} KB" styleClass="size-{!cd.customID}"/>
									    		</apex:column>
							    			</apex:pageBlockTable>

							    		</apex:pageBlockSection>

							    	</apex:repeat>

								</div> -->

							</div>


					    </apex:pageBlock>




					    <!-- Attached quotation -->
						
					    <apex:pageBlock rendered="{!$ObjectType.Contact.fields.allowQuoteByEmail__c.accessible && OR(userDetails.Account.Email_Quotation_Option__c == null,userDetails.Account.Email_Quotation_Option__c == 'pdf')}"  >
						      <apex:pageBlockSection columns="1" title="Attached quotation">
						        <apex:iframe src="apex/clientquote?id={!quote.id}" height="1600px" />
						      </apex:pageBlockSection>
					    </apex:pageBlock>
					    <apex:actionFunction action="{!redirectQuotations}" name="redPage" />

					<apex:outputpanel layout="none" rendered="{!NOT($CurrentPage.parameters.page == 'contactNewPage')}">					
						<script>

							function openmodal(param1, param2, param3){
								var w = 800;
								var h = 600;
								var left = (screen.width/2)-(w/2);
								var top = (screen.height/2)-(h/2);

								if (window.showModalDialog) {
									window.showModalDialog('/apex/inc_clientEmailAttachment',null,'dialogWidth:'+w+'px; dialogHeight:'+h+'px; dialogTop='+top+'; dialogLeft='+left);
								} else {
									window.open('/apex/inc_clientEmailAttachment',null,'height='+h+',width='+w+',toolbar=no,directories=no,status=no,menubar=no,resizable=no,modal=yes, top='+top+', left='+left);
								}
							}


							//author: nuria
							j$ = jQuery.noConflict();
							j$(document).ready(function() {
								console.log("ready!");
								//array for addresses
								var mailAddr = new Array();

								// open/close cc and Bcc

								jQuery('.showCC').click(function(event){
									event.preventDefault();
									j$(this).hide();
									jQuery('.copperfieldCC').show();
									console.log('showcc');
								});

								jQuery('.showBCC').click(function(event){
									event.preventDefault();
									j$(this).hide();
									jQuery('.copperfieldBCC').show();
									console.log('showbcc');
								});

								//create new divs per mail address
								jQuery("textarea.areaBcc").keyup(function(event){
									if(keyPress(event))  createDiv(j$(this));
								});

								jQuery("textarea.areaCc").keyup(function(event){
									if(keyPress(event))  createDiv(j$(this));
								});

								var keyPress = function(event){
									if(event.keyCode == 32 || event.keyCode == 188 || event.keyCode == 59 || event.keyCode == 13) return true;
									else return false;
								}

								var createDiv = function(element){
									var addr = cleanAddress(element.val());
									//create new div element
									var newElem = jQuery("<div class='mailAddressDiv'><span>" + addr + " </span><span class='ixs'>x</span></div>");

									element.before(newElem); //add new element
									mailAddr.push(addr); //store addres on array
									element.val(""); //remove element content
									console.log("add and push: " + mailAddr);

									//remove element
									newElem.find(".ixs").click(function(){
										newElem.remove();
										mailAddr.pop(addr);
										console.log("remove and pop: " + mailAddr);
									});
								}

								var cleanAddress = function(addr){
									var addrClean = addr.replace(',', '');
									addrClean = addrClean.replace(';', '');
									addrClean = addrClean.trim();
									console.log("address clean: " + addrClean);
									return addrClean;
								}

								//resize text area to put beside the div with email addresses <- we dont use yet
								var resizeTextArea = function(elem1, elem2){
									var taWidth = elem1.parent().width(); //j$("textarea.areaCc")
									var divWidth = elem2.width() + 10; //j$("div.mailAddressDiv")

									elem1.width(taWidth - divWidth);
								}

								//when user blur cc or bcc textarea
								jQuery("textarea.areaBcc").blur(function(event){
									putAddressTextArea(j$(this));
								});

								jQuery("textarea.areaCc").blur(function(event){
									putAddressTextArea(j$(this));
								});

								var putAddressTextArea = function(element){
									//1st hide divs
									//2nd put addresses inside textarea(element)
									element.val(arrAddress);
								}

								//when user focus cc or bcc textarea
								var putAddressDivs = function(element){
									//1st show divs if exist
									//2nd put addresses inside array ?? maybe this is not necessary
									//3rs clean element
									element.val("");
								}

							}); //end ready()

						</script>
					</apex:outputpanel>
					<apex:outputpanel layout="none" rendered="{!$CurrentPage.parameters.page == 'contactNewPage'}">					
						<script>

							function openmodal(param1, param2, param3){
								var w = 800;
								var h = 600;
								var left = (screen.width/2)-(w/2);
								var top = (screen.height/2)-(h/2);

								if (window.showModalDialog) {
									window.showModalDialog('/apex/inc_clientEmailAttachment',null,'dialogWidth:'+w+'px; dialogHeight:'+h+'px; dialogTop='+top+'; dialogLeft='+left);
								} else {
									window.open('/apex/inc_clientEmailAttachment',null,'height='+h+',width='+w+',toolbar=no,directories=no,status=no,menubar=no,resizable=no,modal=yes, top='+top+', left='+left);
								}
							}


							//author: nuria
							jQuery(document).ready(function() {
								console.log("ready!");
								//array for addresses
								var mailAddr = new Array();

								// open/close cc and Bcc

								jQuery('.showCC').click(function(event){
									event.preventDefault();
									jQuery(this).hide();
									jQuery('.copperfieldCC').show();
									console.log('showcc');
								});

								jQuery('.showBCC').click(function(event){
									event.preventDefault();
									jQuery(this).hide();
									jQuery('.copperfieldBCC').show();
									console.log('showbcc');
								});

								//create new divs per mail address
								jQuery("textarea.areaBcc").keyup(function(event){
									if(keyPress(event))  createDiv(jQuery(this));
								});

								jQuery("textarea.areaCc").keyup(function(event){
									if(keyPress(event))  createDiv(jQuery(this));
								});

								var keyPress = function(event){
									if(event.keyCode == 32 || event.keyCode == 188 || event.keyCode == 59 || event.keyCode == 13) return true;
									else return false;
								}

								var createDiv = function(element){
									var addr = cleanAddress(element.val());
									//create new div element
									var newElem = jQuery("<div class='mailAddressDiv'><span>" + addr + " </span><span class='ixs'>x</span></div>");

									element.before(newElem); //add new element
									mailAddr.push(addr); //store addres on array
									element.val(""); //remove element content
									console.log("add and push: " + mailAddr);

									//remove element
									newElem.find(".ixs").click(function(){
										newElem.remove();
										mailAddr.pop(addr);
										console.log("remove and pop: " + mailAddr);
									});
								}

								var cleanAddress = function(addr){
									var addrClean = addr.replace(',', '');
									addrClean = addrClean.replace(';', '');
									addrClean = addrClean.trim();
									console.log("address clean: " + addrClean);
									return addrClean;
								}

								//resize text area to put beside the div with email addresses <- we dont use yet
								var resizeTextArea = function(elem1, elem2){
									var taWidth = elem1.parent().width(); //jQuery("textarea.areaCc")
									var divWidth = elem2.width() + 10; //jQuery("div.mailAddressDiv")

									elem1.width(taWidth - divWidth);
								}

								//when user blur cc or bcc textarea
								jQuery("textarea.areaBcc").blur(function(event){
									putAddressTextArea(jQuery(this));
								});

								jQuery("textarea.areaCc").blur(function(event){
									putAddressTextArea(jQuery(this));
								});

								var putAddressTextArea = function(element){
									//1st hide divs
									//2nd put addresses inside textarea(element)
									element.val(arrAddress);
								}

								//when user focus cc or bcc textarea
								var putAddressDivs = function(element){
									//1st show divs if exist
									//2nd put addresses inside array ?? maybe this is not necessary
									//3rs clean element
									element.val("");
								}

							}); //end ready()

						</script>
					</apex:outputpanel>
					</apex:form>
				</td>

			</tr>

		</table>

		<script>
			function toggle(popUpDiv) {

				var el = document.getElementById(popUpDiv);
				if ( el.style.display == 'none' ) { el.style.display = '';}
				else {el.style.display = 'none';}
				return false;
			}

		</script>






</apex:page>