<apex:page standardController="Client_Document__c" extensions="contact_document" standardStylesheets="true" sidebar="true" tabStyle="contacts__tab">

	<apex:include pageName="xStylePage" />
	<apex:include pageName="xCourseSearchStyle" />

	<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />
	<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />
	<script>

		jQuery(document).ready(function(){
			jQuery('.chosenFields').chosen();
			jQuery('#btnUpload').addClass('agencyButton');
			jQuery('#btnBrowse').addClass('agencyButton');
		});

		function ConfirmDelete() {
			if(!confirm('You are about to delete the document, proceed?'))
			return false;
		}

		function confirmationDelClientDoc(FileName,fileId) {
			var answer = confirm('Delete ' + FileName + ' ?');
			if (answer){
				deleteClientDocs(fileId);
			} else {
				return false;
			}
		}

		function UpdateOpener(){
			refreshListFiles();
		}

		function sizeFrame() {
			var pageSize = jQuery(document).height();
			jQuery("iframe[id="+window.frameElement.id+"]",parent.document).css({height:pageSize});
		}


		function checkFields(category, type){

			if(category == '' || type == ''){
				alert('Please select Document Category and Type');
				return false;
			}

		}

	</script>

	<style>
		.ex {
			width: 99%;
			float: left;
			overflow: hidden;
			margin: 15px 0 10px 0px; //
			border: 1px grey solid;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}

		.title {
			color: black;
			font-weight: bold;
			font-size: 1.2em;
			padding-left: 10px;
		}

		.sub {
			color: #5E5F63;
			font-style: italic;
			font-size: 0.9em;
		}

		.h-gradient {
			padding-top: 2px;
			height: 22px;
			background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #FAD33A),
				color-stop(100%, #FFF9E7) );
			background-image: -webkit-linear-gradient(left, #FAD33A, #FFF9E7);
			background-image: -moz-linear-gradient(left, #FAD33A, #FFF9E7);
			background-image: -o-linear-gradient(left, #FAD33A, #FFF9E7);
			background-image: -ms-linear-gradient(left, #FAD33A, #FFF9E7);
			background-image: linear-gradient(left, #FAD33A, #FFF9E7);
		}

		.bPageBlock .fd .detailList .labelCol {
			width: 36% !important;
		}

		.borderedDiv {
			border: 1px grey solid;
			-moz-border-radius: 10px;
			border-radius: 5px;
			padding: 0 4px 8px 1px;
		}

		#logoASW, #searchPanel, .pbHeader table, #capButton {
			display: none !important;
		}

		.oldFiles th {
			background-color: #F2F3F3;
		}

		.oldFiles th, td {
			padding: 3px;
		}

		.chosenFields {
			width:200px;
		}

	</style>



	<table class="tbl_Details">
		<tr>
			<td rowspan="3" class="sidesColumn">

				<c:menuContact ContactID="{!client.id}" selectedItem="ContactDocuments" />

			</td>
			<td class="middleColumn">
				<div class="boxHeader">

					<c:cpPageHeader PageType="contact" contactID="{!client.id}" />

				</div>
			</td>
			<td rowspan="3" class="rightColumn sidesColumn">
				<c:contactSideBarButtons ContactID="{!Client.id}" />
				<c:cCreateTask popType="modal" cClientId="{!Client.id}" rendered="{!Client.RecordType.Name != 'Employee'}" />

			</td>
		</tr>

		<tr>
			<td class="middleColumn bodyColumn">

				<apex:form id="clientDocuments" rendered="{!$CurrentPage.parameters.detail != 'true'}">

					<apex:actionFunction action="{!getFields}" name="getFields" status="statusUpdate" reRender="clientDocuments" onComplete="jQuery('.chosenFields').chosen();"/>
					<apex:actionFunction action="{!clearFields}" name="clearFields" status="statusUpdate" reRender="clientDocuments" onComplete="jQuery('.chosenFields').chosen();jQuery('.docType').chosen();"/>

					<apex:outputLink value="/apex/contact_documents_list?id={!document.Client__c}" styleClass="agencyButton" style="float:left;margin-left:0px;margin-bottom: 5px;">Back to Documents</apex:outputLink>

					<apex:commandLink title="Add New Document" value="Add New Document" action="{!addNewDocument}" status="statusLoad" styleClass="agencyButton" style="float:right;margin-left:0px;margin-bottom: 5px;"  />

				<!-- 	<table width="100%" cellspacing="0">
						<tr style="height: 60px;">
							<td style="text-align: middle;">
								<apex:commandLink title="Add New Document" value="Add New Document" action="/apex/contact_document?cid={!$CurrentPage.Parameters.cid}" styleClass="agencyButton" style="float:right;"  />
							</td>
						</tr>
					</table> -->

					<div class="divHeader">
						New Document
					</div>

					<apex:pageBlock id="pageBlock">

						<apex:pageBlockSection columns="1">
							<apex:pageBlockSectionItem >
								<apex:outputText value="Document Category" />
								<apex:outputPanel >
									<div class="requiredInput">
										<div class="requiredBlock"></div>
										<apex:inputField value="{!document.Document_Category__c}" onchange="clearFields();" styleClass="docCategory chosenFields" />
									</div>
								</apex:outputPanel>
							</apex:pageBlockSectionItem>

							<apex:pageBlockSectionItem >
								<apex:outputText value="Document Type" />
								<apex:outputPanel >
									<div class="requiredInput">
										<div class="requiredBlock"></div>
										<apex:inputField value="{!document.Document_Type__c}" id="documentType" onchange="getFields();" styleClass="docType chosenFields" />
									</div>
								</apex:outputPanel>
							</apex:pageBlockSectionItem>

						</apex:pageBlockSection>
					</apex:pageBlock>



					<apex:pageBlock rendered="{!isDefaultDetails}">
						<apex:pageBlockSection columns="1">

							<apex:pageBlockSectionItem >
								<apex:outputText value="Country of Issue" />
								<apex:selectList value="{!document.Country_of_Issue__c}" size="1" styleclass="chosenFields">
									<apex:selectOptions value="{!countries}" />
								</apex:selectList>
							</apex:pageBlockSectionItem>

							<apex:inputField value="{!document.Issuing_Authority__c}" />

							<apex:pageBlockSectionItem >
								<apex:outputText value="Issued Date" />
								<apex:inputField value="{!document.Date_of_Issue__c}" />
							</apex:pageBlockSectionItem>

							<apex:inputField value="{!document.Expiry_Date__c}" />

							<apex:inputField value="{!document.Document_Number__c}" />

							<apex:inputField value="{!document.Comment__c}" />
						</apex:pageBlockSection>
					</apex:pageBlock>


					<apex:pageBlock rendered="{!isBankDetails}">
						<apex:pageBlockSection columns="2">
							<apex:pageBlockSectionItem >
								<apex:outputText value="Bank Country" />
								<apex:selectList value="{!document.Bank_Country__c}" size="1" styleclass="chosenFields">
									<apex:selectOptions value="{!countries}" />
								</apex:selectList>
							</apex:pageBlockSectionItem>
							<apex:inputField value="{!document.Account_Name__c}" />
							<apex:inputField value="{!document.Bank__c}" />

							<apex:pageBlockSectionItem >

								<apex:outputPanel >
									<apex:outputText value="BSB" />&nbsp;
									<div class="mouseOverInfoOuter textareaInfo" onmouseover="addMouseOver(this)" onfocus="addMouseOver(this)" style="float: left;">
										<div class="infoIcon" />
										<div class="mouseOverInfo" style="display: none; opacity: 0; height: 13px; width: 237px; font-size: 12px;">
											Bank-State-Branch Number - Australia Only
										</div>
									</div>
								</apex:outputPanel>
								<apex:inputField value="{!document.BSB__c}" />
							</apex:pageBlockSectionItem>

							<apex:inputField value="{!document.Branch_Name__c}" />
							<apex:inputField value="{!document.Account_Number__c}" />
							<apex:inputField value="{!document.Phone__c}" />



							<apex:pageBlockSectionItem >

								<apex:outputPanel >
									<apex:outputText value="IBAN" />&nbsp;
									<div class="mouseOverInfoOuter textareaInfo "
										onmouseover="addMouseOver(this)" onfocus="addMouseOver(this)"
										style="float: left;">
									<div class="infoIcon" />
									<div class="mouseOverInfo"
										style="display: none; opacity: 0; height: 13px; width: 194px; font-size: 12px;">
									International Bank Account Number</div>
									</div>
								</apex:outputPanel>
								<apex:inputField value="{!document.IBAN__c}" />
							</apex:pageBlockSectionItem>

							<apex:inputField value="{!document.Fax__c}" />
							<apex:inputField value="{!document.Swift_Code__c}" />
							<apex:inputField value="{!document.Branch_Address__c}" />
							<apex:inputField value="{!document.Notes__c}" />
						</apex:pageBlockSection>
					</apex:pageBlock>



					<apex:pageBlock id="flightDetailsBlock" rendered="{!isFlightDetails}">

						<apex:pageBlockSection columns="1">
							<apex:inputField value="{!document.eTicket_Number__c}" />
						</apex:pageBlockSection>

						<apex:repeat value="{!flightDetails}" var="fd">

							<div class="borderedDiv">
							<table width="100%"
								style="padding-left: 2%; padding-right: 2%; padding-top: 10px;">

								<tr>
									<td colspan="2"><apex:pageBlockSection columns="1">
										<apex:inputField value="{!fd.Airline_Reference_Number__c}" />
									</apex:pageBlockSection></td>
								</tr>
								<tr>
									<td style="vertical-align: top; width: 49%;" class="fd">

										<div class="divHeader">
											Departure Flight Details
										</div>

										<div style="clear: both;" />
										<apex:pageBlockSection columns="1" collapsible="true">
											<apex:pageBlockSectionItem >
												<apex:outputText value="Departure Country" />
												<apex:selectList value="{!fd.Departure_Country__c}" size="1" styleclass="chosenFields">
													<apex:selectOptions value="{!countries}" />
												</apex:selectList>
											</apex:pageBlockSectionItem>
											<apex:inputField value="{!fd.Departure_Airport__c}" />
											<apex:inputField value="{!fd.Departure_Airline_Company__c}" />
											<apex:inputField value="{!fd.Departure_Flight_Number__c}" />
											<apex:inputField value="{!fd.Departure_Date__c}" />
											<apex:inputField value="{!fd.Departure_Hour__c}" styleclass="chosenFields"/>
											<apex:inputField value="{!fd.Departure_Minute__c}" styleclass="chosenFields"/>
										</apex:pageBlockSection>
									</td>

									<td style="vertical-align: top;" class="fd">

										<div class="divHeader">
											Arrival Flight Details
										</div>

										<div style="clear: both;" />

										<apex:pageBlockSection columns="1"
											collapsible="true">
											<apex:pageBlockSectionItem >
												<apex:outputText value="Arrival Country" />
												<apex:selectList value="{!fd.Arrival_Country__c}" size="1" styleclass="chosenFields">
													<apex:selectOptions value="{!countries}" />
												</apex:selectList>
											</apex:pageBlockSectionItem>
											<apex:inputField value="{!fd.Arrival_Airport__c}" />
											<apex:inputField value="{!fd.Arrival_Airline_Company__c}" />
											<apex:inputField value="{!fd.Arrival_Flight_Number__c}" />
											<apex:inputField value="{!fd.Arrival_Date__c}" />
											<apex:inputField value="{!fd.Arrival_Hour__c}" styleclass="chosenFields"/>
											<apex:inputField value="{!fd.Arrival_Minute__c}" styleclass="chosenFields"/>
										</apex:pageBlockSection>
									</td>
								</tr>

								<tr>
									<td colspan="2" align="right">

										<apex:commandLink value="Delete Flight" onclick="if(!confirmDelete()) return false;" action="{!deleteNewFlight}" status="statusUpdate" reRender="flightDetailsBlock" styleClass="agencyButton"
															style="width:90px;" rendered="{!fd.id == null}" >
											<apex:param name="flightID" value="{!fd.Custom_ID__c}" />
										</apex:commandLink>

										<apex:commandLink value="Delete Flight" onclick="if(!confirmDelete()) return false;" action="{!deleteFlight}" status="statusUpdate" reRender="flightDetailsBlock" styleClass="agencyButton"
															style="width:90px;" rendered="{!fd.id != null}" >
											<apex:param name="flightID" value="{!fd.id}" />
										</apex:commandLink>
									</td>
								</tr>

							</table>
							</div>
							<div style="clear: both; height: 20px;" />
						</apex:repeat>

							<table width="100%">
								<tr>
									<td align="center">
										<apex:commandLink value="Add New Flight/Stopover" action="{!addNewFlight}" status="statusUpdate" styleClass="agencyButton" style="float:none;width:165px;" reRender="flightDetailsBlock"
															oncomplete="sizeFrame();" />
									</td>
								</tr>
							</table>
					</apex:pageBlock>

					<script>
                		function setVisaCountry(selectedOption){
                			if(jQuery('.visaCountry option[value="'+selectedOption+'"]').length !== 0)
                				jQuery('.visaCountry option[value="'+selectedOption+'"]').attr('selected', 'selected');
                			else
                				jQuery('.visaCountry option[value="Other"]').attr('selected', 'selected');
                			jQuery('.visaCountry').change();
                		}
                	</script>
					<apex:pageBlock rendered="{!isVisaDetails}">
						<apex:pageBlockSection columns="1" collapsible="true">


							<apex:pageBlockSectionItem >
								<apex:outputText value="Country applying for" />
								<apex:outputPanel >
									<div class="requiredInput">
									<div class="requiredBlock"></div>
										<apex:inputField value="{!document.Visa_country_applying_for__c}" styleClass="visaCountry" style="display:none;"/>
										<apex:selectList value="{!document.Visa_country_applying_for__c}" size="1" styleClass="chosenFields" onchange="setVisaCountry(this.value);" >
											<apex:selectOptions value="{!countries}" />
										</apex:selectList>
									</div>
								</apex:outputPanel>
							</apex:pageBlockSectionItem>
							<apex:inputField value="{!document.Visa_type__c}" styleclass="chosenFields"/>
							<apex:inputField value="{!document.Visa_subclass__c}" styleclass="chosenFields"/>
							<apex:inputField value="{!document.Visa_conditions__c}" styleClass="textAreaSmall" />



							<apex:pageBlockSectionItem >
								<apex:outputLabel value="Visa Number" />
								<apex:outputPanel >
									<table>
										<tr>
											<td><apex:inputField value="{!document.Visa_number__c}" /></td>
											<td>
											<div class="mouseOverInfoOuter textareaInfo "
												onmouseover="addMouseOver(this)" onfocus="addMouseOver(this)">
											<div class="infoIcon" />
											<div class="mouseOverInfo" style="display: none; opacity: 0;">If
											you fill up this field, the 'Date Granted' field becomes
											compulsory.</div>
											</div>
											</td>
										</tr>
									</table>
								</apex:outputPanel>
							</apex:pageBlockSectionItem>
							<apex:pageBlockSectionItem >
								<apex:outputLabel value="TRN" />
								<apex:outputPanel >
									<table>
										<tr>
											<td><apex:inputField value="{!document.TRN__c}" /></td>
											<td>
											<div class="mouseOverInfoOuter textareaInfo " onmouseover="addMouseOver(this)" onfocus="addMouseOver(this)">
											<div class="infoIcon" />
											<div class="mouseOverInfo" style="display: none; opacity: 0;">
											Transaction Reference Number <br />
											This number is for electronically lodged applications that is
											used for tracking their progress online.</div>
											</div>
											</td>
										</tr>
									</table>
								</apex:outputPanel>
							</apex:pageBlockSectionItem>
							<apex:pageBlockSectionItem >
								<apex:outputLabel value="Date Granted" />
								<apex:outputPanel >
									<table>
										<tr>
											<td><apex:inputField value="{!document.Date_granted__c}" />
											</td>
											<td>
											<div class="mouseOverInfoOuter textareaInfo "
												onmouseover="addMouseOver(this)" onfocus="addMouseOver(this)">
											<div class="infoIcon" />
											<div class="mouseOverInfo" style="display: none; opacity: 0;">If
											you fill up this field, the 'Visa Number' field becomes
											compulsory.</div>
											</div>
											</td>
										</tr>
									</table>
								</apex:outputPanel>
							</apex:pageBlockSectionItem>
							<apex:inputField value="{!document.Expiry_Date__c}" />
						</apex:pageBlockSection>
					</apex:pageBlock>




					<apex:outputPanel id="msgs">
						<apex:messages style="color:red;" />
					</apex:outputPanel>

					<div style="float: right; text-align: right; height: 25px;" class="">

						<apex:commandLink styleClass="agencyButton" value="Delete" action="{!deleteDocument}" onclick="return ConfirmDelete();" status="statusUpdate" rendered="{!NOT(ISNULL(document.id)) || NOT(ISNULL(document.id))}">
							<apex:param name="page" value="/apex/contact_documents_list?id={!document.Client__c}" />
						</apex:commandLink>

						<apex:commandLink value="Cancel" action="{!cancel}" status="statusUpdate" styleClass="agencyButton" />

						<apex:commandLink value="Save" action="{!save}" status="statusUpdate" styleClass="agencyButton" reRender="msgs" />

					</div>



				</apex:form>













































				<apex:form id="clientDocumentsDetails"
					rendered="{!$CurrentPage.parameters.detail == 'true'}">

					<apex:outputLink value="/apex/contact_documents_list?id={!document.Client__c}" styleClass="agencyButton" style="float:left;margin-left:0px;margin-bottom: 5px;">Back to Documents</apex:outputLink>

					<apex:commandLink title="Add New Document" value="Add New Document" action="{!addNewDocument}" status="statusLoad" styleClass="agencyButton" style="float:right;margin-left:0px;margin-bottom: 5px;"  />

					<div class="divHeader">
						New Document
					</div>

					<div style="clear: both;" /><apex:pageBlock >

						<apex:pageBlockSection columns="1">
							<apex:outputField value="{!document.Document_Category__c}" />
							<apex:outputField value="{!document.Document_Type__c}" />
						</apex:pageBlockSection>
					</apex:pageBlock> <apex:pageBlock rendered="{!isDefaultDetails}">
						<apex:pageBlockSection columns="1">
							<apex:outputField value="{!document.Country_of_Issue__c}" />
							<apex:outputField value="{!document.Issuing_Authority__c}" />
							<apex:pageBlockSectionItem >
								<apex:outputText value="Issued Date" />
								<apex:outputField value="{!document.Date_of_Issue__c}" />
							</apex:pageBlockSectionItem>
							<apex:outputField value="{!document.Expiry_Date__c}" />
							<apex:outputField value="{!document.Document_Number__c}" />
							<apex:outputField value="{!document.Comment__c}" />
						</apex:pageBlockSection>
					</apex:pageBlock> <apex:pageBlock rendered="{!isBankDetails}">
						<apex:pageBlockSection columns="2">
							<apex:outputField value="{!document.Bank_Country__c}" />
							<apex:outputField value="{!document.Bank__c}" />
							<apex:outputField value="{!document.Account_Name__c}" />
							<apex:outputField value="{!document.Account_Number__c}" />
							<apex:outputField value="{!document.BSB__c}" />
							<apex:outputField value="{!document.Branch_Name__c}" />
							<apex:outputField value="{!document.IBAN__c}" />
							<apex:outputField value="{!document.Swift_Code__c}" />
							<apex:outputField value="{!document.Phone__c}" />
							<apex:outputField value="{!document.Fax__c}" />
							<apex:outputField value="{!document.Branch_Address__c}" />
							<apex:outputField value="{!document.Notes__c}" />
						</apex:pageBlockSection>
					</apex:pageBlock> <apex:pageBlock id="flightDetailsBlock" rendered="{!isFlightDetails}">

						<apex:pageBlockSection columns="1">
							<apex:outputField value="{!document.eTicket_Number__c}" />
						</apex:pageBlockSection>

						<apex:repeat value="{!flightDetails}" var="fd">

							<div>
								<table width="100%" style="padding-left: 2%; padding-right: 2%">

									<tr>
										<td>
											<apex:pageBlockSection >
												<apex:outputField value="{!fd.Airline_Reference_Number__c}" />
											</apex:pageBlockSection>
										</td>
									</tr>

									<tr>
										<td style="vertical-align: top; width: 49%;" class="fd">

											<div class="divHeader">
												Departure Flight Details
											</div>

											<div style="clear: both;" />
											<apex:pageBlockSection columns="1" collapsible="true">
												<apex:outputField value="{!fd.Departure_Country__c}" />
												<apex:outputField value="{!fd.Departure_Airport__c}" />
												<apex:outputField value="{!fd.Departure_Airline_Company__c}" />
												<apex:outputField value="{!fd.Departure_Flight_Number__c}" />
												<apex:outputField value="{!fd.Departure_Date__c}" />
												<apex:outputField value="{!fd.Departure_Hour__c}" />
												<apex:outputField value="{!fd.Departure_Minute__c}" />
											</apex:pageBlockSection>
										</td>

										<td style="vertical-align: top;" class="fd">

											<div class="divHeader">
												Arrival Flight Details
											</div>

											<div style="clear: both;" />
											<apex:pageBlockSection columns="1" collapsible="true">
												<apex:outputField value="{!fd.Arrival_Country__c}" />
												<apex:outputField value="{!fd.Arrival_Airport__c}" />
												<apex:outputField value="{!fd.Arrival_Airline_Company__c}" />
												<apex:outputField value="{!fd.Arrival_Flight_Number__c}" />
												<apex:outputField value="{!fd.Arrival_Date__c}" />
												<apex:outputField value="{!fd.Arrival_Hour__c}" />
												<apex:outputField value="{!fd.Arrival_Minute__c}" />
											</apex:pageBlockSection>
										</td>
									</tr>
								</table>
							</div>

						</apex:repeat>
					</apex:pageBlock>
						<apex:pageBlock rendered="{!isVisaDetails}">
						<apex:pageBlockSection columns="1" collapsible="true">

							<apex:outputField value="{!document.Visa_country_applying_for__c}" />
							<apex:outputField value="{!document.Visa_type__c}" />
							<apex:outputField value="{!document.Visa_subclass__c}" />
							<apex:outputField value="{!document.Visa_conditions__c}"
								styleClass="textAreaSmall" />

							<apex:pageBlockSectionItem >
								<apex:outputLabel value="Visa Number" />
								<apex:outputField value="{!document.Visa_number__c}" />
							</apex:pageBlockSectionItem>
							<apex:pageBlockSectionItem >
								<apex:outputLabel value="TRN" />
								<apex:outputField value="{!document.TRN__c}" />
							</apex:pageBlockSectionItem>
							<apex:pageBlockSectionItem >
								<apex:outputLabel value="Date Granted" />
								<apex:outputField value="{!document.Date_granted__c}" />
							</apex:pageBlockSectionItem>
							<apex:outputField value="{!document.Expiry_Date__c}" />
						</apex:pageBlockSection>
					</apex:pageBlock>







					<div style="float: right; text-align: right; height: 25px;">
						<apex:commandLink styleClass="agencyButton" value="Delete" action="{!deleteDocument}" onclick="return ConfirmDelete();" status="statusUpdate">
							<apex:param name="page"	value="/apex/contact_documents_list?id={!document.Client__c}" />
						</apex:commandLink>
					</div>
					<div style="float: right; text-align: right">
						<apex:commandLink value="Edit" action="{!editDocument}" styleClass="agencyButton" reRender="clientDocuments" status="statusUpdate" onComplete="jQuery('.chosenFields').chosen();"/>
					</div>
				</apex:form>

				<div style="clear:both; height: 10px;"></div>

				<apex:outputPanel layout="block" rendered="{!NOT(ISNULL(document.id)) || NOT(ISNULL(document.id))}" styleClass="content" style="margin-top: 10px;">

					<div class="divWrapper">

						<div class="divHeader">
							Upload Files
						</div>

						 <!-- <cps3:CloudpondS3Connector objectName="Client_Document__c"  /> -->
						<iframe class="uploadFrame" width="100%" height="auto" style="min-height: 100px;padding: 0px;background: none transparent; background-color: transparent;"
								src="fileUpload?bucket={!bucket}&folder=cloudpondconnector/Client_Document__c/{!LEFT(document.id, 15)} - {!LEFT(document.id,15)}&obj=Client_Document__c&field=preview_link__c&oid={!LEFT(document.id,15)}"
								allowTransparency="true" />

					</div>
				</apex:outputPanel>




				<apex:form style="margin-top: 10px;">
					<apex:outputPanel rendered="{!NOT(ISNULL(document.id)) && DocumentFiles.size > 0}">

						<div class="divHeader">
							Migrated Files
						</div>

						<div style="clear: both;height: 15px;"></div>

						<apex:outputPanel id="listFiles">
							<apex:dataTable value="{!DocumentFiles}" var="df" style="width:100%;" styleClass="oldFiles">
								<apex:column headerValue="File">
									<apex:outputLink value="{!df.Preview_Link__c}" target="_blank">{!df.File_Name__c}</apex:outputLink>
								</apex:column>
								<apex:column headerValue="Size" value="{!df.File_Size__c}" />
								<apex:column headerValue="Uploaded on/by">
									<apex:outputText value="{0,date, dd/MM/yyyy} / {!df.createdBy.name}">
										<apex:param value="{!df.CreatedDate}" />
									</apex:outputText>
								</apex:column>
								<apex:column headerValue="File">
									<apex:commandLink value="Delete" style="color:red;" status="statusUpdate" reRender="listFiles"
														onClick="return confirmationDelClientDoc('{!df.File_Name__c}','{!df.id}')">
									</apex:commandLink>
								</apex:column>

							</apex:dataTable>
							<apex:actionFunction action="{!deleteClientDocs}" name="deleteClientDocs" status="statusUpdate" rerender="listFiles">
								<apex:param name="docid" value="" />
							</apex:actionFunction>
						</apex:outputPanel>

					</apex:outputPanel>


				</apex:form>




			</td>

		</tr>

	</table>









</apex:page>