<apex:page controller="CourseTranslation"  > <!-- language="{!selectedLanguage}" -->

	<apex:include pageName="xStylePageV2" />
	<apex:include pageName="xCourseSearchStyle" />
	<apex:actionStatus id="loadingTranslations" onstart="showLoading('Loading translations...');" onstop="hideLoading();" />
<style>

	.bootstrapInput {
		width: 90%;
		background-color: #ffffff;
		border: 1px solid #cccccc;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border linear .2s, box-shadow linear .2s;
		-moz-transition: border linear .2s, box-shadow linear .2s;
		-o-transition: border linear .2s, box-shadow linear .2s;
		transition: border linear .2s, box-shadow linear .2s;
		display: inline-block;
		height: 16px;
		padding: 4px 6px;
		font-size: 12px;
		line-height: 20px;
		color: #555555;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

	.bootstrapInput:focus {
		border-color: rgba(82, 168, 236, 0.8);
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	}

	.reportHeader {
		font-weight: bold;
		padding: 5px;
		width: 99.4%;
		border: 1px solid #999;
		border-radius: 1px;
		box-shadow: 0 0 0 #CCCCCC;
		margin: 10px 0px;
	}
	.header {
		display: block;
		height: 30px;

	}

	input {
		height: 15px
		width: 250px;
	}

	.messageCell h4 {display: none;}

	.infobox {
		margin-top: 10px;
		margin-left: 3px;
		font-style: italic;
		color: #777;
		height: 25px;
		vertical-align: middle;
	}

	.pbSubheader {
	    background-color: #999999 !important;
	    color: white !important;
	}


	ul li {
		margin: 5px 0px;
	}

	.updated {
		margin-right: 15px;
		float:right;
		color: darkred;
		font-style: italic;
	}

	.translateButton {
		background-color: #555;
		color: white;
		display: block;
		text-align: center;
		cursor: pointer;
		padding: 2px 10px !important;
		border: 1px solid #111;
		float: right;
		vertical-align: middle;
		margin-right: 3px;
	}

	.translateButton span {
		letter-spacing: 1px;
		font-size: 15px;
		display: block;
		top: 1px;
		position: relative;
	}

	.translateButton:hover {
		background-color: #FFA615 !important;
		border: 1px solid #222;
	}

	.apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader {
	    background-color: #999 !important;
	    color: #FFF !important;
	}

	.pbSubheader {
		background: none !important;
		color: #999 !important;
		opacity: 0.5;
	}

	.courses {
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
		display: inline-table;
	}


	.courses tr.zebra:nth-child(odd) {
	    background: #F7F7F7;
	}

	.courses tr.zebra:nth-child(even) {
	    background: #FFF;
	}

	.courseHeader {
		padding: 5px 10px;
		line-height: 26px;
	}

	.highlight {
		font-size: 1.3em;
		font-weight: bold;
		color: #000;
		background-color: #E5E6EB;
	}



	.campusBox {
		float: left;
		display: inline-block;
		border: 1px solid #DDD;
		margin: 2px 4px 2px 0;
	}

	.campusName {
	    background-color: #CCC;
	    color: white;
	    padding: 2px 5px;
	    font-weight: bold;
	}

	.iconSmall {
		width: 15px;
		position: relative;
		top: 1px;
	}

	.hiddenFields { display: none; }

	.buttons {
		line-height: 30px;
		float: right;
	}
	
	.updated {
	    margin-right: 15px;
	    float: right;
	    color: darkred;
	    font-style: italic;
	}

</style>
	<script>
		function toggleByClass(classes){
			for (i = 0; i < classes.length; i++){
				var el = $('.'+classes[i]);
				if(el.is('div'))
					el.slideToggle( 400 );
				else
					el.toggle();
			}
		}

		function setTranslatedFields(course, campus){

			$('.'+course+'-'+campus+'-tr_category').val(getCourseVal(course, 'category'));
			$('.'+course+'-'+campus+'-tr_type').val(getCourseVal(course, 'type'));
			$('.'+course+'-'+campus+'-tr_field').val(getCourseVal(course, 'field'));
			$('.'+course+'-'+campus+'-tr_delivery').val(getCourseVal(course, 'delivery'));
			$('.'+course+'-'+campus+'-tr_period').val(getCampusVal(course, campus, 'period'));
			$('.'+course+'-'+campus+'-tr_languageLevel').val(getCampusVal(course, campus, 'languageLevel'));
		}

		function getCourseVal(course, field){
			var val = $('.'+course+'-'+field).find('span').text();
			return val;
		}

		function getCampusVal(course, campus, field){
			var val = $('.'+course+'-'+campus+'-'+field).find('span').text();
			return val;
		}

		function saveTranslations(){
			showLoading('Saving...');
			save();
			return false;

		}

		function updateTrans(){
			showLoading('Loading translations...');
			updateFromWorkbench();
			return false;
		}


	</script>
	<div class="agencyBackground agencyFont reportHeader">
		<apex:outputText value="Course Translation" style="margin-left:10px;" />
	</div>

	<div class="header">
		<apex:outputText value="{!schoolName}" styleClass="title" style="font-size: 1.8em;display:block;text-align: center;" />
	</div>

	<apex:form id="theForm">

		<apex:pageMessages />

		<apex:actionFunction name="updateFromWorkbench" action="{!updateFromWorkbench}" rerender="theForm" oncomplete="hideLoading();"  />
		<apex:actionFunction name="save" action="{!save}" rerender="theForm" oncomplete="hideLoading();"  /> <!-- oncomplete="updateTrans();" -->

		<apex:outputPanel rendered="{!foundCourses}">
			
			<div class="buttons">
				<apex:commandLink value="Update from Workbench" action="{!updateAllTranslations}" styleClass="agencyButton" rerender="theForm" status="statusLoad" rendered="{!$Profile.Name == 'System Administrator'}" />
				<apex:commandLink value="Save" onclick="saveTranslations(); return false;" styleClass="agencyButton" />
			</div>
		
		
			<table class="courses">
				<tr>
					<td style="width: 50%">
						<div class="divHeader">
		            		Courses
		          		</div>
			        </td>
			        <td style="width: 50%">
						<div class="divHeader">
		            		Translations
		            		<div style="float: right; position: relative; display: inline; margin-right: 5px; top: 4px;">
								<apex:selectList value="{!selectedLanguage}" size="1" styleClass="chosen chosenLanguage" style="width: 250px;" >
									<apex:selectOptions value="{!languages}" />
									<apex:actionSupport event="onchange" action="{!refreshLanguages}" status="statusLoad" oncomplete="fixHeight();" rerender="theForm"/>
								</apex:selectList>
							</div>
		          		</div>
			         </td>
			     </tr>
	
			     <apex:repeat value="{!orderedCourses}" var="course">
			     	<tr class="zebra">
			     		<td>
			     			<div class="courseHeader {!course}">
				     			<apex:outputPanel layout="block" style="margin-right: 5px; display: inline-block;" rendered="{!$Profile.Name == 'System Administrator'}">
				     				<img class="course-max-{!course} iconArrow " title="Expand" src="{!URLFOR($Resource.assets,'images/button-maximize.png')}" onClick="toggleByClass(['course-max-{!course}', 'course-min-{!course}', 'courseDetails-{!course}']);" style="position: relative; top: 4px;" />
									<img class="course-min-{!course} iconArrow" title="Hide" src="{!URLFOR($Resource.assets,'images/button-minimize.png')}" onClick="toggleByClass(['course-max-{!course}', 'course-min-{!course}', 'courseDetails-{!course}']);" style="display:none; position: relative; top: 4px;" />
								</apex:outputPanel>
				     			<apex:outputText value="{!coursesMap[course].course.Name}" styleClass="courseName" />
				     			
				     			<apex:outputText value="UPDATED (Please review translation)" styleclass="updated" rendered="{!coursesMap[course].updateRequired}" />
		     				</div>
	
			     			<div class="courseDetails-{!course}" style="display:none; font-size: 0.85em; margin-left: 30px; width: 100%;">
	
		     					<table class="courseDetails">
		     						<tr>
		     							<td style="width:100px;" ><apex:outputText value="Course Category" styleClass="label" /></td>
		     							<td><apex:outputText value="{!coursesMap[course].course.Course_Category__c}" /></td>
		     						</tr>
		     						<tr>
		     							<td><apex:outputText value="Course Type" styleClass="label" /></td>
		     							<td><apex:outputText value="{!coursesMap[course].course.Course_Type__c}" /></td>
		     						</tr>
		     						<tr>
		     							<td><apex:outputText value="Course Field" styleClass="label" /></td>
		     							<td><apex:outputText value="{!coursesMap[course].course.Type__c}" /></td>
		     						</tr>
		     						<tr>
		     							<td><apex:outputText value="Form of Delivery" styleClass="label" /></td>
		     							<td><apex:outputText value="{!coursesMap[course].course.Form_of_Delivery__c}" /></td>
		     						</tr>
	
		     						<tr>
		     							<td colspan="2">
	
				     						<apex:repeat value="{!coursesMap[course].campusCourses}" var="ccw" >
				     							<div class="campusBox">
				     								<div class="campusName">
				     									<div style="margin-right: 5px; display: inline-block;">
										     				<img class="campusMax-{!course}-{!ccw.campusCourse.Campus__c} iconArrow iconSmall " title="Expand" src="{!URLFOR($Resource.assets,'images/button-maximize.png')}" onClick="toggleByClass(['campusMax-{!course}-{!ccw.campusCourse.Campus__c}', 'campusMin-{!course}-{!ccw.campusCourse.Campus__c}', 'campusInfo-{!course}-{!ccw.campusCourse.Campus__c}']);" style="position: relative; top: 1px;" />
															<img class="campusMin-{!course}-{!ccw.campusCourse.Campus__c} iconArrow iconSmall" title="Hide" src="{!URLFOR($Resource.assets,'images/button-minimize.png')}" onClick="toggleByClass(['campusMax-{!course}-{!ccw.campusCourse.Campus__c}', 'campusMin-{!course}-{!ccw.campusCourse.Campus__c}', 'campusInfo-{!course}-{!ccw.campusCourse.Campus__c}']);" style="display:none; position: relative; top: 1px;" />
														</div>
				     									<apex:outputText value="{!ccw.campusCourse.Campus__r.Name}" style="position:relative; top: -3px;" />
				     								</div>
				     								<div class="campusInfo-{!course}-{!ccw.campusCourse.Campus__c}" style="display: none;">
				     									<table class="campusCourseDetails">
				     										<tr>
				     											<td style="min-width:100px;"><apex:outputText value="Course Period" styleClass="label" /></td>
				     											<td><apex:outputText value="{!ccw.campusCourse.Period__c}" /></td>
				     										</tr>
				     										<tr>
				     											<td><apex:outputText value="Language Requirements" styleClass="label" /></td>
				     											<td><apex:outputText value="{!ccw.campusCourse.Language_Level_Required__c}" style="margin-left: 10px;" /></td>
				     										</tr>
				     									</table>
				     								</div>
				     							</div>
				     						</apex:repeat>
	
				     					</td>
				     				</tr>
		     					</table>
	
			     			</div>
	
	
	
			     		</td>
	
			     		<td>
			     			<apex:outputPanel rendered="{!NOT(ISBLANK(selectedLanguage))}">
	
			     				<div class="courseHeader {!course}">
					     			<apex:outputPanel layout="block" style="margin-right: 5px; display: inline-block;" rendered="{!$Profile.Name == 'System Administrator'}" >
						     			<img class="course-max-{!course} iconArrow" title="Expand" src="{!URLFOR($Resource.assets,'images/button-maximize.png')}" onClick="toggleByClass(['course-max-{!course}', 'course-min-{!course}', 'courseDetails-{!course}']);" style="position: relative; top: 4px;" />
										<img class="course-min-{!course} iconArrow" title="Hide" src="{!URLFOR($Resource.assets,'images/button-minimize.png')}" onClick="toggleByClass(['course-max-{!course}', 'course-min-{!course}', 'courseDetails-{!course}']);" style="display:none; position: relative; top: 4px;" />
									</apex:outputPanel>
	
					     			<apex:inputText value="{!coursesMap[course].translatedName}" styleClass="bootstrapInput" html-placeholder="Enter course name translation here" onfocus="$('.{!course}').addClass('highlight');" onblur="$('.{!course}').removeClass('highlight');" />
					     			
				     			</div>
	
				     			<div class="courseDetails-{!course}" style="font-size: 0.85em; margin-left: 30px;display:none;">
	
			     					<table>
			     						<tr>
			     							<td style="width:100px;"><apex:outputText value="Course Category" styleClass="label" /></td>
			     							<td class="{!course}-category">
			     								<apex:outputText value="{!coursesMap[course].category}" />
			     							</td>
			     						</tr>
			     						<tr>
			     							<td><apex:outputText value="Course Type" styleClass="label" /></td>
			     							<td class="{!course}-type"><apex:outputText value="{!coursesMap[course].type}"  /></td>
			     						</tr>
			     						<tr>
			     							<td><apex:outputText value="Course Field" styleClass="label" /></td>
			     							<td class="{!course}-field"><apex:outputText value="{!coursesMap[course].field}"  /></td>
			     						</tr>
			     						<tr>
			     							<td><apex:outputText value="Form of Delivery" styleClass="label" /></td>
			     							<td class="{!course}-delivery"><apex:outputText value="{!coursesMap[course].formOfDelivery}"  /></td>
			     						</tr>
	
			     						<tr>
											<td colspan="2">
	
												<apex:repeat value="{!coursesMap[course].campusCourses}" var="ccw" >
													<div class="campusBox">
														<div class="campusName">
															<div style="margin-right: 5px; display: inline-block;">
											     				<img class="campusMax-{!course}-{!ccw.campusCourse.Campus__c} iconArrow iconSmall " title="Expand" src="{!URLFOR($Resource.assets,'images/button-maximize.png')}" onClick="toggleByClass(['campusMax-{!course}-{!ccw.campusCourse.Campus__c}', 'campusMin-{!course}-{!ccw.campusCourse.Campus__c}', 'campusInfo-{!course}-{!ccw.campusCourse.Campus__c}']);" style="position: relative; top: 1px;" />
																<img class="campusMin-{!course}-{!ccw.campusCourse.Campus__c} iconArrow iconSmall" title="Hide" src="{!URLFOR($Resource.assets,'images/button-minimize.png')}" onClick="toggleByClass(['campusMax-{!course}-{!ccw.campusCourse.Campus__c}', 'campusMin-{!course}-{!ccw.campusCourse.Campus__c}', 'campusInfo-{!course}-{!ccw.campusCourse.Campus__c}']);" style="display:none; position: relative; top: 1px;" />
															</div>
															<apex:outputText value="{!ccw.campusCourse.Campus__r.Name}" style="position:relative; top: -3px;" />
														</div>
														<div class="campusInfo-{!course}-{!ccw.campusCourse.Campus__c}" style="display: none;">
															<table>
																<tr>
																	<td style="min-width:100px;"><apex:outputText value="Course Period" styleClass="label" /></td>
																	<td class="{!course}-{!ccw.campusCourse.Campus__c}-period"><apex:outputField value="{!ccw.translation.course_period__c}"  /></td>
																</tr>
																<tr>
																	<td><apex:outputText value="Language Requirements" styleClass="label" /></td>
																	<td class="{!course}-{!ccw.campusCourse.Campus__c}-languageLevel"><apex:outputField value="{!ccw.translation.course_language_level_required__c}" style="margin-left: 10px;"  /></td>
																</tr>
															</table>
															<!-- <div class="hiddenFields">
																<apex:inputText value="{!ccw.translation.course_category__c}" styleClass="{!course}-{!ccw.campusCourse.Campus__c}-tr_category" />
																<apex:inputText value="{!ccw.translation.course_type__c}" styleClass="{!course}-{!ccw.campusCourse.Campus__c}-tr_type" />
																<apex:inputText value="{!ccw.translation.course_field__c}" styleClass="{!course}-{!ccw.campusCourse.Campus__c}-tr_field" />
																<apex:inputText value="{!ccw.translation.course_form_of_delivery__c}" styleClass="{!course}-{!ccw.campusCourse.Campus__c}-tr_delivery" />
																<apex:inputText value="{!ccw.translation.course_period__c}" styleClass="{!course}-{!ccw.campusCourse.Campus__c}-tr_period" />
																<apex:inputText value="{!ccw.translation.course_language_level_required__c}" styleClass="{!course}-{!ccw.campusCourse.Campus__c}-tr_languageLevel" />
															</div>-->
														</div>
													</div>
	
													<script>
														setTranslatedFields('{!course}','{!ccw.campusCourse.Campus__c}');
													</script>
	
												</apex:repeat>
	
											</td>
										</tr>
	
			     					</table>
	
				     			</div>
			     			</apex:outputPanel>
			     		</td>
			     	</tr>
	
	
	
	
			     </apex:repeat>
	
			</table>

			<div class="buttons">
				<apex:commandLink value="Save" onclick="saveTranslations(); return false;" styleClass="agencyButton" />
			</div>
			
			
		</apex:outputPanel>
		
	</apex:form>





</apex:page>