<apex:page standardController="Web_Search__c" extensions="xcourseSearch_Instalments" sidebar="false" showHeader="false" >
	
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script src="https://code.jquery.com/ui/1.8.24/jquery-ui.js" />
	<apex:includeScript value="{!$Resource.jquery}"/> 
	<apex:includeScript value="{!$Resource.jQueryCurrency}"/> 
	<apex:includeScript value="{!$Resource.jqueryBlockUI}" />
	
	<apex:include pageName="xCourseSearchStyle" />
	
	<script>
		
		 function editMode(param){
		 	if(param == 'true'){
		 		jQuery('.readMode').css('display','none');
		 		jQuery('.writeMode').css('display','');
		 	}else{
		 		jQuery('.readMode').css('display','');
		 		jQuery('.writeMode').css('display','none');
		 	}
		 }
		
		function showLoading(msg) { 
	        jQuery.blockUI({ 
				message: '<H1>'+msg+'</H1>',
				css: { 
	            border: 'none', 
	            padding: '15px', 
	            backgroundColor: '#000', 
	            '-webkit-border-radius': '10px', 
	            '-moz-border-radius': '10px', 
	            opacity: .5, 
	            color: '#fff' 
	        } }); 
	 
	     }
		
		function hideLoading(){
			jQuery.unblockUI();
		}
				
        jQuery(document).ready(function(){
			jQuery( ".tabs" ).tabs();
		});
	
		jQuery(function() {
			jQuery( ".dateSearchInput" ).datepicker( { minDate: 0, dateFormat: 'dd/mm/yy' });
		});
				
		
		function updateTuitionTotal(courseId, instalNumber, classDetails, resultClass, totalValue, totalCourse){
			var totalTuition = 0
			jQuery('.'+classDetails+courseId).each(function(tuition){
				totalTuition += jQuery(this).val().replace(/(?!^-)[^0-9.]/g, '') * 1;
				//.replace(/[^0-9\.]+/g,'') 
			});
			
			jQuery('.'+resultClass+courseId).html(totalTuition).formatCurrency({positiveFormat: '%s %n', negativeFormat: '-%s %n', colorize: true}); 
			jQuery('.row-'+instalNumber+'-'+courseId).html(jQuery('.row-'+instalNumber+'-tuition-'+courseId).val().replace(/[^0-9\.]+/g,'') * 1 + jQuery('.row-'+instalNumber+'-extrafee-'+courseId).val().replace(/[^0-9\.]+/g,'') * 1).formatCurrency({positiveFormat: '%s %n', negativeFormat: '-%s %n', colorize: true});
			
			var difference = jQuery('.'+resultClass+courseId).html().replace(/(?!^-)[^0-9.]/g, '') * 1 - totalValue;
			
		
				
			if(difference != 0){
				//jQuery('.'+resultClass+courseId).css('color','red');
				if(difference < 0){
					jQuery('.'+resultClass+'imgneg-'+courseId).css('display','');
					jQuery('.'+resultClass+'imgpos-'+courseId).css('display','none');
					jQuery('.'+resultClass+'imgneg-'+courseId).attr('title','Difference of: '+difference);
					jQuery('.'+resultClass+'imgneg-'+courseId).html(difference).formatCurrency({positiveFormat: '%s %n', negativeFormat: '-%s %n', colorize: true});
					jQuery('.'+resultClass+'label-'+courseId).css('display','');
					
				}else if(difference > 0){ 
					jQuery('.'+resultClass+'imgneg-'+courseId).css('display','none');
					jQuery('.'+resultClass+'imgpos-'+courseId).css('display','');
					jQuery('.'+resultClass+'imgpos-'+courseId).attr('title','Difference of: '+difference);
					jQuery('.'+resultClass+'imgpos-'+courseId).html(difference).formatCurrency({positiveFormat: '%s %n', negativeFormat: '-%s %n', colorize: true});
					jQuery('.'+resultClass+'label-'+courseId).css('display','');
				}
				else{
					jQuery('.'+resultClass+'imgneg-'+courseId).css('display','none');
					jQuery('.'+resultClass+'imgpos-'+courseId).css('display','none');
					jQuery('.'+resultClass+'imgpos-'+courseId).attr('title','');
					jQuery('.'+resultClass+'imgpos-'+courseId).html('');
					jQuery('.'+resultClass+'label-'+courseId).css('display','none');
				}
				}else{ 
					jQuery('.'+resultClass+courseId).css('color','');
					jQuery('.'+resultClass+'imgneg-'+courseId).css('display','none');
					jQuery('.'+resultClass+'imgpos-'+courseId).css('display','none');
					jQuery('.'+resultClass+'imgpos-'+courseId).attr('title','');
					jQuery('.'+resultClass+'imgpos-'+courseId).html('');
					jQuery('.'+resultClass+'label-'+courseId).css('display','none');
				}
						
				jQuery('.col-total-'+courseId).html(jQuery('.col-totaltuition-'+courseId).html().replace(/(?!^-)[^0-9.]/g, '') * 1 + jQuery('.col-totalextrafee-'+courseId).html().replace(/(?!^-)[^0-9.]/g, '') * 1).formatCurrency({positiveFormat: '%s %n', negativeFormat: '-%s %n', colorize: true});
					
			
				var totalDifference = jQuery('.col-total-'+courseId).html().replace(/(?!^-)[^0-9.]/g, '') * 1 - totalCourse * 1;
						
				if(totalDifference < 0){
					//jQuery('.col-total-'+courseId).css('color','red');
					jQuery('.col-total-imgneg-'+courseId).css('display','');
					jQuery('.col-total-imgpos-'+courseId).css('display','none');
					jQuery('.col-total-imgneg-'+courseId).attr('title','Difference of: '+totalDifference);
					jQuery('.col-total-imgneg-'+courseId).html(totalDifference).formatCurrency({positiveFormat: '%s %n', negativeFormat: '-%s %n', colorize: true});
					jQuery('.col-total-label-'+courseId).css('display','');
				}else if(totalDifference > 0){ 
					//jQuery('.col-total-'+courseId).css('color','red');
					jQuery('.col-total-imgneg-'+courseId).css('display','none');
					jQuery('.col-total-imgpos-'+courseId).css('display','');
					jQuery('.col-total-imgpos-'+courseId).attr('title','Difference of: '+totalDifference);
					jQuery('.col-total-imgpos-'+courseId).html(totalDifference).formatCurrency({positiveFormat: '%s %n', negativeFormat: '-%s %n', colorize: true});
					jQuery('.col-total-label-'+courseId).css('display','');
				}
				else{
					jQuery('.col-total-'+courseId).css('color','');
					jQuery('.col-total-imgneg-'+courseId).css('display','none');
					jQuery('.col-total-imgpos-'+courseId).css('display','none');
					jQuery('.col-total-label-'+courseId).css('display','none');
				}
				
		
		}
				
		function replaceComma(obj){
			var removeComma = jQuery(obj).val();
			removeComma = removeComma.replace(/,/g, '.');
			jQuery(obj).val(removeComma);
		}
					
		function showLoading(msg) { 
	        jQuery.blockUI({ 
				message: '<H1>'+msg+'</H1>',
				css: { 
	            border: 'none', 
	            padding: '15px', 
	            backgroundColor: '#000', 
	            '-webkit-border-radius': '10px', 
	            '-moz-border-radius': '10px', 
	            opacity: .5, 
	            color: '#fff' 
	        } }); 
	 
	    }
		
		function hideLoading(){
			jQuery.unblockUI();
		}
				
		function editMode(courseUp){
			jQuery('.'+courseUp).css('display','');
		}
				
		function checkSave(errorMsg, totalTuition, totalInstalments){
			if(errorMsg != ''){
				alert('The date of the last instalment cannot be later than the end of the course.');
				return false;
			}
				
			if((totalTuition - jQuery('.'+totalInstalments).html().replace(/[^0-9\.]+/g,'') * 1) != 0){
				alert('The total of instalment values doesn\'t match the total course price.');
				return false;
			}
				
				
				
			return true;
		}

		function calcInstalments(vl_install, vl_courseId, vl_splitFee, vl_instalmentOptionInterval, vl_intervalOption, vl_dtFisrtInstalment){
			console.log('==>vl_install '+vl_install);
			console.log('==>vl_courseId '+vl_courseId);
			console.log('==>vl_splitFee '+vl_splitFee);
			console.log('==>vl_instalmentOptionInterval '+vl_instalmentOptionInterval);
			console.log('==>vl_intervalOption '+vl_intervalOption);
			console.log('==>vl_dtFisrtInstalment '+vl_dtFisrtInstalment);
			calculateInstalments(vl_install, vl_courseId, vl_splitFee, vl_instalmentOptionInterval, vl_intervalOption, vl_dtFisrtInstalment);
		}
				
	</script>
	
	<style>
		.feeBox{
			background-color: #fff;
		    border: 2px solid #eee;
		    border-radius: 3px;
		    margin: 0 5px 30px;
		    min-height: 91px;
		    padding: 1px;
		}
		
		.feeBoxTitle{
			background-color: #81b9dc;
		    border-radius: 1px 1px 0 0;
		    color: #ffffff !important;
		    display: block;
		    font-size: 1.5em;
		    font-weight: bold;
		    height: auto;
		    padding: 2px 5px;
		}
		
		.ui-tabs-hide { display: none !important; }
		.ui-widget-content { border: 0px !important; }
		
		.ui-tabs .ui-tabs-panel {
		    padding: 5px;
            background: #fff !important;
		}
		
		.ui-widget-header .ui-state-active{
			font-weight: bold;
			top: 1px !important;
		}
		
		.totalCourse{
			float: right;
		}
		
		.calendarTable{
			//width: 100%;
		}
		.calendarTable td{
			border: 1px solid #808080;
		    vertical-align: top;
			width: 140px;
		}
		
		.dayMonth{
			border-top: 1px solid #808080;
			display: block;
    		padding: 2px 3px;
		}
		
		.month{
			background-color: #808080;
		    color: #FFFFFF;
		    display: block;
		    font-weight: bold;
		    padding: 2px;
		}
		
		.totalClass{
			background-color: #e2f4ff;
    		font-weight: bold;
    		width: 100px;
			vertical-align: top;
		}
		
		.tableInstall{
			width: 100%;
			text-align: right;
			border: 1px solid #999;
			margin-top: 10px;
            background: #fff;
		}
		
		th{
			text-align: center;
		}
		
		.tableInstall th{
			border-bottom: 1px solid #C9C9C9;
			padding-bottom: 5px;
			background-color: #e2f4ff;
		}
		
		.tableInstall td{
			border-bottom: 1px solid #C9C9C9;
		 	padding-right: 5px;
		}
		
		.tableInstall td input{
			text-align: right;
		}
		.cashImg{
			border: 1px solid;
		    color: #777;
		    cursor: help;
		    display: block;
		    font-size: 0.85em;
		    font-style: italic;
		    margin: 2px 0 2px 2px;
		    padding: 2px;
		}
		
		.tableRules{
			border: 1px solid #808080;
		    margin: 3px;
		    width: 100%;
			text-align: right;
		}
		.tableRules td{
			//border-bottom: 1px solid #C1C1C1;
		    padding-bottom: 3px;
		    vertical-align: top;
			background: none repeat scroll 0 0 #fff;
		}
		.tableRules th{
			border-bottom: 1px solid #e2f4ff !important;
			background-color: #e2f4ff;
		}
		
		.tableCourse td{
			font-weight: bold;
			padding: 3px;
			font-size: 0.8em;
		}
		
		.tableCourse th{
			text-align: right;
			padding: 3px;
			font-size: 0.7em;
			font-weight: normal;
		}

		.tableInstall tr:nth-child(odd) {background-color: #eee;}
		
		.labelOptions{
		    background-color: #C1C1C1;
		    color: #FF0000;
		    display: block;
		    font-weight: bold;
		    padding: 2px;
		}
		
		.saveBtn {
			text-transform: none;
			text-decoration: none;
			background: linear-gradient(to bottom, #E34A4C 0%, #DC2328 99%) repeat scroll 0 0 rgba(0, 0, 0, 0);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,74,76,1)), color-stop(99%,rgba(220,35,40,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(227,74,76,1) 0%,rgba(220,35,40,1) 99%); /* Chrome10+,Safari5.1+ */
			color: #FFFFFF !important;
		    border-radius: 3px;			    
		    color: #FFFFFF;
		    cursor: pointer;
			padding: 5px 20px;
			font-size: 1em;
			margin: 5px;
		}
		
		.saveBtn:hover {
			color: #FFFFFF;
			text-decoration: none;
		}
		
		
		.instalDateBox {
		    border-top: 1px solid #808080;
		    display: block;
		    margin-top: 5px;
		    padding: 10px 0 4px;
		    text-align: right;
		}
		
		.boxSplit{
		    display: block;
		    font-size: 0.8em;
		    font-weight: normal;
		    padding-right: 3px;
		    text-align: right;
		}
		
		.splitHeader{
			//float: left;
			font-weight: bold;
		}
		
		.labelSplit{
			position: relative;
    		top: -3px;
			color: #FF4500;
		}
		
		.closeBar{
		    background-color: #E1E1E1;
		    border-top: 1px solid #808080;
		    bottom: 0;
		    display: block;
		    height: 15px;
		    padding: 10px 0;
		    position: fixed;
		    text-align: center;
		    width: 100%;
		}
		
		.ui-tabs .ui-tabs-panel {
			background: none repeat scroll 0 0 #fff;
		    border: 1px solid gray !important;
		    margin: 0 2px;
		    padding: 5px;
		}
		
		.ui-widget-header {
   			background: none repeat scroll 0 0 #fff !important;
			border: none;
		}
		
		.ui-widget-content {
		    background: none repeat scroll 0 0 #fff !important;
		    border: 0 none !important;
		}
	</style>
	<apex:actionStatus id="statusUpdate" onstart="showLoading('Please wait...');" onstop="hideLoading();" />
	<apex:form style="padding:10px; background: #999;">
		<apex:actionFunction name="calculateInstalments" action="{!calculateInstalments}" reRender="tableInstall, instalRange" status="statusUpdate" >
			<apex:param name="numInstal" value="" />
			<apex:param name="courseId" value="" />
			<apex:param name="splitFee" value="" />
			<apex:param name="interval" value="" />
			<apex:param name="intervalOption" value="" />
			<apex:param name="dtFisrtInstalment" value="" />
		</apex:actionFunction>
		
		
		<apex:outputPanel id="instalmentsPnl">
			<script>
				jQuery( ".tabs" ).tabs();
				jQuery(function() {
					jQuery( ".dateSearchInput" ).datepicker( { dateFormat: 'dd/mm/yy' });
				});
				
			</script>
			<apex:Messages />
			<apex:repeat value="{!listCoursesInstalments}" var="ci">
				<div class="feeBox">
					<div class="feeBoxTitle">
						<!-- <apex:outputText value="{!ci.courseDetail.Campus_Course__r.Campus__r.Name}" rendered="{!NOT(ci.courseDetail.isCustomCourse__c)}"/>
						<apex:outputText value="{!ci.courseDetail.Custom_Campus__c}" rendered="{!ci.courseDetail.isCustomCourse__c}"/> -->
						<!--======Total Course=============-->
						<!-- <apex:outputText value="{0, number, currency}" styleClass="totalCourse" >
							<apex:param value="{!ci.courseTotalTuition + ci.courseTotalExtraFees}" />
                        </apex:outputText> -->
                        

                        <table style="width: 100%;">
                                <tr>
                                    <td style="width: 60px; border: solid 1px #eee;">
                                            <img style="height:auto; width: 60px;" src="{!ci.courseDetail.Campus_Course__r.Campus__r.Campus_Photo_URL__c}" />
                                    </td>
                                    <td style="width: 100%;">
                                        <div class="slide-content" style="text-align: left;line-height: 10px; padding-left: 10px;">
                                            <p style="color: #fff;"><apex:outputText value="{!ci.courseDetail.Campus_Course__r.Course__r.name}" /></p>
                                            <p style="font-size: 0.8em; color: #555;">
                                                <apex:outputText value="{!ci.courseDetail.Campus_Course__r.Campus__r.Name}"  rendered="{!NOT(ci.courseDetail.isCustomCourse__c)}"/>
                                                <apex:outputText value="{!ci.courseDetail.Custom_Campus__c}"  rendered="{!ci.courseDetail.isCustomCourse__c}"/>
                                            </p>
                                        <!-- <span style="float: left;" class="country"><img src="{!course.flagUrl}" style="position: relative; top: 7px;"/> {!course.campusCountry}</span> -->
                                               
                                            
                                        </div>
                                        
                                    </td>
                                    <td>
                                       
                                                
										<table class="tableRules tableCourse">
											<tr>
												<th>Start Date</th>
												<td style="font-size: 0.7em;font-weight: normal;"><apex:outputField value="{!ci.courseDetail.Start_Date__c}" /></td>
											</tr>
											<tr>
												<th>End Date</th>
												<td style="font-size: 0.7em;font-weight: normal;"><apex:outputField value="{!ci.courseDetail.End_Date__c}" /></td>

											</tr>
											<tr>
												<th>Total Course</th>
												<td>
													<apex:outputText value="{0, number, currency}" styleClass="totalCourse">
														<apex:param value="{!ci.courseTotalTuition}" />
													</apex:outputText>
												</td>
											</tr>
										</table>
                                    </td>
                                </tr>
                            </table>
						
					</div>
					<apex:outputPanel >
					</apex:outputPanel>
					<div id="tabs-{!ci.courseDetail.id}" class="tabs">
						<ul>
							<li><a href="#tabs-1-{!ci.courseDetail.id}">School Instalments</a></li>
							<apex:outputPanel layout="none" rendered="{!NOT(ci.courseDetail.isCustomCourse__c) && campusHasPaymentDate[ci.courseDetail.Campus_Course__r.Campus__c]}">
								<li><a href="#tabs-2-{!ci.courseDetail.id}">School Payment Dates</a></li>				
                            </apex:outputPanel>
                            <apex:outputPanel layout="none" rendered="{!NOT(ISNULL(ci.courseDetail.Campus_Course__r.Course__r.Payment_Rules__c))}">
                                <li><a href="#tabs-3-{!ci.courseDetail.id}">Payment Rules</a></li>
                            </apex:outputPanel>
                            <apex:outputPanel layout="none" rendered="{!NOT(ISNULL(ci.courseDetail.Campus_Course__r.Course__r.Important_information__c))}" >
                                <li><a href="#tabs-4-{!ci.courseDetail.id}">Important Information</a></li>
                            </apex:outputPanel>
						</ul>

						<div id="tabs-1-{!ci.courseDetail.id}">
							<apex:outputPanel rendered="{!NOT(ISNULL(ci.courseDetail.Campus_Course__r.Course__r.Account_Document_File__c))}" style="display: block; padding: 5px; text-align: left; border: solid 1px #999; background-color: #f5deb3;">
								<apex:outputText value="File" style="font-weight:bold;" />
								<apex:outputLink value="{!ci.courseDetail.Campus_Course__r.Course__r.Account_Document_File__r.Preview_Link__c}" target="_blank"  style="color:navy; float: right;" title="{!ci.courseDetail.Campus_Course__r.Course__r.Account_Document_File__r.File_Name__c}">{!ci.courseDetail.Campus_Course__r.Course__r.Account_Document_File__r.Description__c}</apex:outputLink>
									
							</apex:outputPanel>
							<apex:outputPanel id="tableInstall">
								<table class="tableRules">
									<tr>
										<th>Instalment Plan</th>
										<th>Interval</th>
										<th>1st Instalment Date</th>
										<th>Extra Fees</th>
										<th>N&ordm; Instalments</th>
									</tr>
									
									<tr>
										<td>
											<apex:outputText value="Max of {!ci.courseDetail.Campus_Course__r.Course__r.Instalment_Interval__c} {!ci.courseDetail.Campus_Course__r.Course__r.Instalment_Option__c}" rendered="{!NOT(ISNULL(ci.courseDetail.Campus_Course__r.Course__r.Instalment_Interval__c))}"  />
										</td>
										<td>
											<apex:outputText value="Every " />
											<apex:selectList value="{!ci.instalmentOptionInterval}" title="Choose an Interval" size="1"  id="interval" styleClass="interval-{!ci.courseDetail.id}">
	                                 			<apex:selectOptions value="{!instalmentIntervalUnits}"/>
	                            			</apex:selectList>
										
											<apex:selectList value="{!ci.instalmentOption}" title="Choose an Interval" size="1" id="intervalOption" styleClass="intervalOption-{!ci.courseDetail.id}">
				                                <apex:selectOptions value="{!InstalmentInterval}"/>
				                            </apex:selectList> 
										</td>
										<td>
											<apex:inputText value="{!ci.dateFirstInstalment}" size="12" styleClass="dateSearchInput" id="dtFisrtInstalment" />
										</td>
										<td>
											<apex:inputCheckbox id="splitFee" /> <apex:outputLabel value="Split Extra Fees" />
										</td>
										<td>
											<apex:selectList value="{!ci.courseDetail.Number_Instalments__c}" size="1" id="installments" onchange="calcInstalments(this.value, '{!ci.courseDetail.id}', document.getElementById('{!$Component.splitFee}').checked, jQuery('.interval-{!ci.courseDetail.id}').val(), jQuery('.intervalOption-{!ci.courseDetail.id}').val(), document.getElementById('{!$Component.dtFisrtInstalment}').value )" style="float: left; margin-left: 10px;">
									            <apex:selectOptions value="{!ci.UnitsRange}"/>
									        </apex:selectList>
											<apex:commandLink value="Recalculate" onclick="calcInstalments(document.getElementById('{!$Component.installments}').value, '{!ci.courseDetail.id}', document.getElementById('{!$Component.splitFee}').checked, jQuery('.interval-{!ci.courseDetail.id}').val(), jQuery('.intervalOption-{!ci.courseDetail.id}').val(), document.getElementById('{!$Component.dtFisrtInstalment}').value ); return false;" style="float: right; margin-right: 3px;" styleClass="agencyLink"  />
										</td>
									</tr>
								</table>
								
								
								<!--apex:outputPanel styleClass="boxSplit">
									<apex:inputCheckbox id="splitFee" /> <apex:outputLabel value="Split Extra Fees" />
									
								</apex:outputPanel-->
							
							
								<script>
									jQuery(function() {
										jQuery( ".dateSearchInput" ).datepicker( { dateFormat: 'dd/mm/yy' });
									});
									
									
								</script>								
								<table class="tableInstall">
									<tr>
										<th>N&ordm;</th>
										<th>Date</th>
										<th>Tuition Fee</th>
										<th>
											<apex:outputText value="Extra Fee" styleClass="splitHeader" />
											
										</th>  
										<th>Total</th>
									</tr>
								<apex:repeat value="{!ci.intalments}" var="instalments">
									<tr>
										<td>
											<apex:outputText value="{!instalments.intalmentNumber}" />
										</td>
										<td>
											<apex:inputText id="instalDate" value="{!instalments.intalmentDate}" onkeypress="editMode('sv_{!ci.courseDetail.id}');" onchange="editMode('sv_{!ci.courseDetail.id}');" size="12" styleClass="dateSearch dateSearchInput" style="{!IF(NOT(ISNULL(instalments.instalmentDateValue)) && NOT(ISNULL(ci.courseDetail.End_Date__c)) && instalments.instalmentDateValue > ci.courseDetail.End_Date__c, 'border: 1px solid #FF0000;color: #FF0000;font-weight: bold;', '')}" />
										</td>
										<td>
											<apex:inputText value="{!instalments.intalmentValue}" onkeypress="editMode('sv_{!ci.courseDetail.id}');" styleClass="row-tuition-{!ci.courseDetail.id} row-{!instalments.intalmentNumber}-tuition-{!ci.courseDetail.id}" onkeyup="updateTuitionTotal('{!ci.courseDetail.id}', {!instalments.intalmentNumber}, 'row-tuition-', 'col-totaltuition-', {!ci.courseTotalTuition}, {!ci.courseDetail.Total_Course__c}); replaceComma(this)"/>
										</td>
										<td>
											<apex:inputText value="{!instalments.extraFeeValue}" onkeypress="editMode('sv_{!ci.courseDetail.id}');" styleClass="row-extrafee-{!ci.courseDetail.id} row-{!instalments.intalmentNumber}-extrafee-{!ci.courseDetail.id}" onkeyup="updateTuitionTotal('{!ci.courseDetail.id}', {!instalments.intalmentNumber}, 'row-extrafee-', 'col-totalextrafee-', {!ci.courseTotalExtraFees}, {!ci.courseDetail.Total_Course__c}); replaceComma(this)"/>
										</td>
										<td>
											<apex:outputText value="{0, number, currency}" styleClass="row-{!instalments.intalmentNumber}-{!ci.courseDetail.id}">
												<apex:param value="{!instalments.intalmentValue + instalments.extraFeeValue}" />
											</apex:outputText>
										</td>
									</tr>
								</apex:repeat>
								<tr>
									<td class="totalClass"></td>
									<td class="totalClass">TOTAL</td>
									<td class="totalClass">
										
										<apex:outputText value="{0, number, currency}" styleClass="col-totaltuition-{!ci.courseDetail.id}">
											<apex:param value="{!ci.totalInstalment}" />
										</apex:outputText>
										
										<!--apex:image url="{!URLFOR($Resource.icons,'/icons/commons/money_delete.png')}" style="{!IF(ci.totalInstalment - ci.courseDetail.Total_Tuition__c < 0,'','display: none')};" styleClass="cashImg col-totaltuition-imgneg-{!ci.courseDetail.id}" title="Difference of: {!ci.totalInstalment - ci.courseDetail.Total_Tuition__c}"/>  
										<apex:image url="{!URLFOR($Resource.icons,'/icons/commons/money_add.png')}" style="{!IF(ci.totalInstalment - ci.courseDetail.Total_Tuition__c > 0,'','display: none')};" styleClass="cashImg col-totaltuition-imgpos-{!ci.courseDetail.id}"  title="Difference of: {!ci.totalInstalment - ci.courseDetail.Total_Tuition__c}"/-->  
										
										<apex:outputPanel style="{!IF(ci.totalInstalment - ci.courseTotalTuition != 0,'','display: none')};" styleClass="cashImg col-totaltuition-label-{!ci.courseDetail.id}">
											<apex:outputText value="Difference: "  />
											<apex:outputText value="{0,number,$#,##0.00}" style="{!IF(ci.totalInstalment - ci.courseTotalTuition < 0,'','display: none')}; color:red;" styleClass="col-totaltuition-imgneg-{!ci.courseDetail.id}" >
												<apex:param value="{!ci.totalInstalment - ci.courseTotalTuition}" />
											</apex:outputText>
											<apex:outputText value="{0,number,$#,##0.00}" style="{!IF(ci.totalInstalment - ci.courseTotalTuition > 0,'','display: none')}; color:#000;" styleClass="col-totaltuition-imgpos-{!ci.courseDetail.id}" >
												<apex:param value="{!ci.totalInstalment - ci.courseTotalTuition}" />
											</apex:outputText>
										</apex:outputPanel>
										
									</td>
									<td class="totalClass">
										<!--apex:image url="{!URLFOR($Resource.icons,'/icons/commons/money_delete.png')}" style="{!IF(ci.totalExtraFees - ci.courseDetail.Total_Extra_Fees__c < 0,'','display: none')};" styleClass="cashImg col-totalextrafee-imgneg-{!ci.courseDetail.id}" title="Difference of: {!ci.totalExtraFees - ci.courseDetail.Total_Extra_Fees__c}"/>  
										<apex:image url="{!URLFOR($Resource.icons,'/icons/commons/money_add.png')}" style="{!IF(ci.totalExtraFees - ci.courseDetail.Total_Extra_Fees__c > 0,'','display: none')};" styleClass="cashImg col-totalextrafee-imgpos-{!ci.courseDetail.id}"  title="Difference of: {!ci.totalExtraFees - ci.courseDetail.Total_Extra_Fees__c}"/-->  
										<apex:outputText value="{0, number, currency}" styleClass="col-totalextrafee-{!ci.courseDetail.id}" >
											<apex:param value="{!ci.totalExtraFees}" />
										</apex:outputText>
										
										
										<apex:outputPanel style="{!IF(ci.totalExtraFees - ci.courseTotalExtraFees != 0,'','display: none')};" styleClass="cashImg col-totalextrafee-label-{!ci.courseDetail.id}">
											<apex:outputText value="Difference: "  />
											<apex:outputText value="{0,number,$#,##0.00}" style="{!IF(ci.totalExtraFees - ci.courseTotalExtraFees < 0,'','display: none')}; color:red;" styleClass="col-totalextrafee-imgneg-{!ci.courseDetail.id}" >
												<apex:param value="{!ci.totalExtraFees - ci.courseTotalExtraFees}" />
											</apex:outputText>
											<apex:outputText value="{0,number,$#,##0.00}" style="{!IF(ci.totalExtraFees - ci.courseTotalExtraFees > 0,'','display: none')}; color:#000;" styleClass="col-totalextrafee-imgpos-{!ci.courseDetail.id}" >
												<apex:param value="{!ci.totalExtraFees - ci.courseTotalExtraFees}" />
											</apex:outputText>
										</apex:outputPanel>
										
									</td>
									<td class="totalClass">
										<apex:variable value="{!ci.courseTotalTuition + ci.courseTotalExtraFees}" var="totalOriginal" />
										<apex:variable value="{!ci.totalInstalment + ci.totalExtraFees}" var="totalCalculated" />
										<!--apex:image url="{!URLFOR($Resource.icons,'/icons/commons/money_delete.png')}" style="{!IF(totalCalculated - totalOriginal < 0,'','display: none')};" styleClass="cashImg col-total-imgneg-{!ci.courseDetail.id}" title="Difference of: {!totalCalculated - totalOriginal}"/>  
										<apex:image url="{!URLFOR($Resource.icons,'/icons/commons/money_add.png')}" style="{!IF(totalCalculated - totalOriginal > 0,'','display: none')};" styleClass="cashImg col-total-imgpos-{!ci.courseDetail.id}"  title="Difference of: {!totalCalculated - totalOriginal}"/-->  
										<apex:outputText value="{0, number, currency}" styleClass="col-total-{!ci.courseDetail.id}" >
											<apex:param value="{!ci.totalInstalment + ci.totalExtraFees}" />
										</apex:outputText>
										
										<apex:outputPanel style="{!IF(totalCalculated - totalOriginal != 0,'','display: none')};" styleClass="cashImg col-total-label-{!ci.courseDetail.id}">
											<apex:outputText value="Difference: "  />
											<apex:outputText value="{0,number,$#,##0.00}" style="{!IF(totalCalculated - totalOriginal < 0,'','display: none')}; color:red;" styleClass="col-total-imgneg-{!ci.courseDetail.id}" >
												<apex:param value="{!totalCalculated - totalOriginal}" />
											</apex:outputText>
											<apex:outputText value="{0,number,$#,##0.00}" style="{!IF(totalCalculated - totalOriginal > 0,'','display: none')}; color:#000;" styleClass="col-total-imgpos-{!ci.courseDetail.id}" >
												<apex:param value="{!totalCalculated - totalOriginal}" />
											</apex:outputText>
										</apex:outputPanel>
									</td>
								</tr>
								
								</table>
								
								<div style="padding: 10px 0 4px; text-align: center;">
									<apex:commandLink value="Cancel" action="{!cancelUpdate}" style="{!IF(ci.courseSaved, 'display:none','')}" status="statusUpdate" rerender="tableInstall" styleClass="agencyButton sv_{!ci.courseDetail.id}" >
										<apex:param name="courseUpdate" value="{!ci.courseDetail.id}" />
									</apex:commandLink>
									<apex:commandLink value="Save" action="{!saveUpdate}" style="{!IF(ci.courseSaved, 'display:none','')}" status="statusUpdate" rerender="tableInstall" styleClass="agencyButton sv_{!ci.courseDetail.id}" onclick="if(!checkSave('{!ci.errorMsg}', '{!ci.courseTotalTuition + ci.courseTotalExtraFees}', 'col-total-{!ci.courseDetail.id}')) return false;"  > <!--oncomplete="parent.updateInstalments();"-->
										<apex:param name="courseUpdate" value="{!ci.courseDetail.id}" />
									</apex:commandLink>
								</div>
								<apex:pageMessage summary="The date of the last instalment cannot be later than the end of the course." severity="error" strength="3" detail="{!ci.errorMsg}" escape="false" rendered="{!ci.errorMsg != ''}" />
							</apex:outputPanel>
							<!--================IMPORTANT INFORMATION=======================-->
							
						
							
										
										
							<!-- <apex:outputPanel rendered="{!NOT(ISNULL(ci.courseDetail.Campus_Course__r.Course__r.Payment_Rules__c))}">
								<table class="tableRules">
									<tr>
										<th>Payment Rules</th>
						
									</tr>
									<tr>
										<td style="text-align: left;"><apex:outputText value="{!ci.courseDetail.Campus_Course__r.Course__r.Payment_Rules__c}" escape="false" /></td>
									</tr>
								</table>
							</apex:outputPanel>
							<apex:outputPanel rendered="{!NOT(ISNULL(ci.courseDetail.Campus_Course__r.Course__r.Important_information__c))}" >
								<table class="tableRules">
								<tr>
									<th>
										Important Information
										
										
									</th>
								</tr>
								<tr>
									<td style="text-align: left;"><apex:outputText value="{!ci.courseDetail.Campus_Course__r.Course__r.Important_information__c}" escape="false"/></td>
									
								</tr>
							</table>
							</apex:outputPanel> -->
								
						</div>
						<apex:outputPanel layout="none" rendered="{!NOT(ci.courseDetail.isCustomCourse__c) && campusHasPaymentDate[ci.courseDetail.Campus_Course__r.Campus__c] && NOT(ISNULL(ci.courseDetail.Campus_Course__r.Campus__c)) && NOT(ISNULL(courseCalendar[ci.courseDetail.Campus_Course__r.Campus__c]))}">

								<div id="tabs-2-{!ci.courseDetail.id}">
									<apex:variable value="{!0}" var="count" />
									<table class="calendarTable">
										<apex:repeat value="{!courseCalendar[ci.courseDetail.Campus_Course__r.Campus__c]}" var="year">
					                        <apex:repeat value="{!courseCalendar[ci.courseDetail.Campus_Course__r.Campus__c][year]}" var="month"> 
												<apex:outputPanel rendered="{!count = 0}">
													<apex:outputText value="<tr>" escape="false" />
												</apex:outputPanel>
												<td>
													
													<apex:outputLabel styleClass="month">
														<apex:outputLabel value="{!CASE(month,1,'January',2,'February',3,'March',4,'April',5,'May',6,'June',7,'July',8,'August',9,'September',10,'October',11,'November','December')}"  />
														<apex:outputLabel value="{!year}" />
													</apex:outputLabel>
													
													<apex:repeat value="{!courseCalendar[ci.courseDetail.Campus_Course__r.Campus__c][year][month]}" var="day"> 
														<div Class="dayMonth">
															<apex:inputField value="{!day.isSelected__c}" />
															<apex:outputText value="{0, date, dd/MM/yyy}">
																<apex:param value="{!day.Instalment_Payment_Date__c}" />
															</apex:outputText> 
														</div>
													</apex:repeat>
												</td>
												<apex:outputPanel rendered="{!count = 5}">
													<apex:outputText value="</tr>" escape="false" />
													<apex:variable value="{!-1}" var="count" />
												</apex:outputPanel>
												<apex:variable value="{!count + 1}" var="count" />
					                        </apex:repeat>
										</apex:repeat>	
									</table>
									<apex:outputPanel styleClass="instalDateBox" id="instalRange">
											<apex:outputLabel value="Add selected dates from instalment: " />
											<apex:selectList value="{!ci.posInstalmentDate}" size="1" id="instalNumber" >
									            <apex:selectOptions value="{!ci.instalmentCalendarFrom}"/>
									        </apex:selectList>
											<apex:commandLink value="Add" action="{!addInstalmentDates}"  styleClass="agencyButton" status="statusUpdate" rerender="tableInstall" oncomplete="jQuery('.tabs').tabs({ selected: 0 });" >
												<apex:param name="courseId" value="{!ci.courseDetail.id}" />
												<apex:param name="campusId" value="{!ci.courseDetail.Campus_Course__r.Campus__c}" />
											</apex:commandLink>
									</apex:outputPanel>
								</div>

                        </apex:outputPanel>
                        <apex:outputPanel layout="none" rendered="{!NOT(ISNULL(ci.courseDetail.Campus_Course__r.Course__r.Payment_Rules__c))}">
                                <div id="tabs-3-{!ci.courseDetail.id}">
                                    <apex:outputField value="{!ci.courseDetail.Campus_Course__r.Course__r.Payment_Rules__c}"  />
                                </div>
                        </apex:outputPanel>
                        <apex:outputPanel layout="none" rendered="{!NOT(ISNULL(ci.courseDetail.Campus_Course__r.Course__r.Important_information__c))}" >
                            <div id="tabs-4-{!ci.courseDetail.id}">
                                    <apex:outputField value="{!ci.courseDetail.Campus_Course__r.Course__r.Important_information__c}" />
                            </div>
                        </apex:outputPanel>
					</div>
				</div>
			</apex:repeat>
		</apex:outputPanel>
		<div class="closeBar">
			<apex:commandLink value="Close" styleClass="agencyButton" onclick="parent.refreshInstalments(); return false;" />
		</div>
	</apex:form>
	
</apex:page>