<apex:page controller="createNewSchool" showHeader="true" sidebar="false" docType="html-5.0" lightningStyleSheets="true" standardStylesheets="false">
    <apex:slds />

    <apex:includeScript value="{!$Resource.up_jQuery}"/>
    <script src="https://code.jquery.com/ui/1.8.24/jquery-ui.js"></script>
    <apex:includeScript value="{!URLFOR($Resource.jquerymask,'jquerymask.js')}" />

	<apex:styleSheet value="{!URLFOR($Resource.chosen_1_2_0,'chosen.min.css')}" />  
	<apex:includeScript value="{!URLFOR($Resource.chosen_1_2_0,'chosen.jquery.min.js')}" /> 

    <style>
        h1.header{
            font-weight: 700;
            color: rgb(62, 62, 60);
            text-transform: uppercase;
            font-size: 1.2rem;
            letter-spacing: .0625em;
            line-height: 1.25;
            padding-bottom: 15px;
            margin: 25px 10px 0px 10px;
            /*text-align: right;*/
        }
        h2.subheader-content {
            font-weight: 700;
            color: rgb(62, 62, 60);
            /*text-transform: uppercase;*/
            font-size: .915rem;
            letter-spacing: .0625em;
            line-height: 1.25;
            border-bottom: 1px solid #c8cace;
            padding-bottom: 15px;
            margin: 15px 10px 20px 10px;
        }

        .chosen, .chosen-container{
            width: 100%;
        }

        textarea{
            border: 1px dotted #898d93;
        }

        input[type="text"] {
            width: 100% !important;
            border: 1px dotted #898d93;
            height: 25px;
            padding-left: 5px;
        }

        .requiredField, .requiredInput > .chosen-container {
            border-left: 4px solid #CC0000 !important;
        }
        .multiSelectPicklistRow > td{
            width: 45%; 
        }
        .multiSelectPicklistRow > .multiSelectPicklistCell{
            width: 15%; 
            text-align: center;
        }
        .multiSelectPicklistRow select{
            width: 100% !important;
        }

        .picklistArrowLeft, .picklistArrowRight, .rightArrowIcon, .leftArrowIcon, .doubleArrowUp, .upArrowIcon, .downArrowIcon, .doubleArrowDwn{
            height: 20px !important;
        }

        .forcePageBlockItemView{
            margin-bottom: 15px;
        }

        .message {
            margin: 5px 0px 15px 0px;
        }
    </style>

    <script type="text/Javascript">
        $(document).ready(function(){
            loadChosen();
            $(document).on("change", ".schoolCampusCategorySelect", function() {
				updateFieldDisabledReason($(this).val());
			});
            
        });
        function beginAjaxRequest(){
            showModalLoading(true);
        }
        function completeAjaxRequest(){
            loadChosen();
            showModalLoading(false);
        }
        function loadChosen(){
            $('.chosen').chosen({no_results_text: "Sorry, no items were found." , placeholder_text_multiple: "Type to find the options.", placeholder_text_single: "Type to find the option."});
        }
    </script>
    <c:modalLoadingLightning />
    <apex:actionStatus id="showModalLoading" onstart="beginAjaxRequest();" onstop="completeAjaxRequest();" />
    <apex:outputPanel layout="block" id="container-new-school-page" styleClass="slds-scope container-new-school-page">
        <apex:form id="form_new_school" style="margin: 25px">
            <apex:actionFunction name="updateFieldDisabledReason" action="{!updateFieldDisabledReason}" reRender="container-new-school-page" status="showModalLoading" immediate="true">
                <apex:param name="schoolCampusCategory" value=""/>
            </apex:actionFunction>
            <div class="slds-grid_vertical" style="margin-bottom: 30px;">             
                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1">
                    <!--<h1 class="header">
                        <span class="slds-avatar slds-avatar--medium">
                            <img src="/img/icon/t4v35/standard/article.svg" style="background-color: #45c173; border-radius: 3px;" />
                        </span>
                        Create New School
                    </h1>-->
                    <div class="slds-page-header" style="margin-bottom: 15px;">
                        <div class="slds-media">
                            <div class="slds-media__figure">
                                <span class="slds-icon_container slds-icon-custom-custom16" title="Payment Plan">
                                    <svg class="slds-icon slds-icon--large" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/custom-sprite/svg/symbols.svg#custom16')}" />
                                    </svg>
                                </span>
                            </div>
                            <div class="slds-media__body">
                                <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="Payment Plan">Create New School</h1>
                                <!-- <p class="slds-text-body_small slds-line-height_reset">PMC</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1" style="text-align: right">
                            <apex:pageMessages />
                            <!--apex:commandButton value="Save and New" style="margin-right: 10px;" action="{!saveSchoolAndNew}" styleClass="slds-button slds-button_destructive agencyBackground agencyFont" />-->
                            <apex:outputLink value="{!rollbackPage}?id={!idRedirect}&type=School" styleClass="slds-button slds-button_neutral" rendered="{!rollbackPage != null && rollbackPage != ''}" style="margin-right: 10px;">
                                Cancel
                            </apex:outputLink>
                            <apex:commandButton value="Save" action="{!saveSchool}" status="showModalLoading" styleClass="slds-button slds-button_destructive agencyBackground agencyFont" />
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                            <div class="container-header" style="margin-right: 15px;">
                                <h2 class="subheader-content">                       
                                    <span class="slds-avatar slds-avatar--medium">
                                        <img src="/img/icon/t4v35/standard/article.svg" style="background-color: #45c173; border-radius: 3px;" />
                                    </span>
                                    School Details
                                </h2>
                            </div>
                            <div class="container-content" style="margin-right: 15px;">
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container slds-clearfix">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        School Group
                                                    </span>
                                                    <apex:commandLink action="{!openCloseModalNewSchoolGroup}" value="Add New Group" rerender="container-new-school-page" styleClass="slds-button slds-button_destructive" status="showModalLoading" immediate="true" style="float: right; line-height: 1.3rem; padding-left: .6rem; padding-right: .6rem"/>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <fieldset class="uiOutputText requiredInput">
                                                                <apex:selectList value="{!school.parentId}" size="1" styleClass="chosen requiredField" required="true">
                                                                    <apex:SelectOptions value="{!listSchoolsGroup}" />
                                                                </apex:selectList>
                                                            </fieldset>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        School Name
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!school.Name}" styleClass="inputField requiredField" required="true"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.Nickname__c.Label}
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!school.Nickname__c}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.Registration_name__c.Label}
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!school.Registration_name__c}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.Type_of_Business_Number__c.Label}
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!school.Type_of_Business_Number__c}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.Business_Number__c.Label}
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!school.Business_Number__c}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.Year_established__c.Label}
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!school.Year_established__c}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        School Country
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <fieldset class="uiOutputText requiredInput">
                                                            <apex:selectList value="{!school.BillingCountry}" size="1" styleClass="chosen requiredField" required="true">
                                                                <apex:SelectOptions value="{!allCountries}" />
                                                            </apex:selectList>
                                                        </fieldset>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.Type_of_Institution__c.Label}
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <fieldset class="uiOutputText requiredInput">
                                                            <apex:inputfield value="{!school.Type_of_Institution__c}" styleClass="chosen" required="true"/>
                                                        </fieldset>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.Course_Types_Offered__c.Label}
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <fieldset class="uiOutputText requiredInput">
                                                            <apex:inputfield value="{!school.Course_Types_Offered__c}"/>
                                                        </fieldset>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.Medical_Insurance_Company__c.Label}
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <fieldset class="uiOutputText requiredInput">
                                                            <apex:inputfield value="{!school.Medical_Insurance_Company__c}"/>
                                                        </fieldset>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                            <div class="container-header" style="margin-left: 15px;">
                                <h2 class="subheader-content">                       
                                    <span class="slds-avatar slds-avatar--medium">
                                        <img src="/img/icon/t4v35/standard/account.svg" style="background-color: #a094ed; border-radius: 3px;" />
                                    </span>
                                    Campus Details
                                </h2>
                            </div>
                            <div class="container-content" style="margin-left: 15px;">
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        Campus Name
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.Name}" styleClass="inputField requiredField" required="true"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.Website.Label}
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.Website}" styleClass="inputField requiredField" required="true"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.BusinessEmail__c.Label}
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.BusinessEmail__c}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        Campus Phone
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.Phone}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        Students Per Class
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.Students_per_class__c}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        Total Number of Students
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.Total_Number_of_Students__c}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                    <div class="test-id__field-label-container">
                                                        <span class="test-id__field-label slds-form-element__label">
                                                            {!$ObjectType.Account.fields.Pathways_URL__c.Label}
                                                        </span>
                                                    </div>
                                                    <div class="slds-form-element__control slds-grid itemBody">
                                                        <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                            <span class="uiOutputText">
                                                                <apex:inputField value="{!campus.Pathways_URL__c}" styleClass="inputField"/>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>-->
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        Campus Currency
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <fieldset class="uiOutputText requiredInput">
                                                            <apex:selectList value="{!campus.Account_Currency_Iso_Code__c}" size="1" styleClass="chosen requiredField" required="true">
                                                                <apex:SelectOptions value="{!currencies}" />
                                                            </apex:selectList>
                                                        </fieldset>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.School_campus_category__c.Label}
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:selectList value="{!schoolCampusCategory}" size="1" styleClass="schoolCampusCategorySelect chosen">
                                                                <apex:SelectOptions value="{!schoolCampusCategories}" />
                                                            </apex:selectList>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <apex:outputPanel layout="block" rendered="{!schoolCampusCategory == 'Disabled'}" styleClass="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.Reason_Disabled_Campus__c.Label}
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.Reason_Disabled_Campus__c}" styleClass="inputField" style="width: 100%; resize: none"/>   
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </apex:outputPanel>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.Main_Campus__c.Label}?
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.Main_Campus__c}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.Disabled_Campus__c.Label}?
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.Disabled_Campus__c}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.ShowCaseOnly__c.Label}?
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.ShowCaseOnly__c}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        Campus Address Street
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.BillingStreet}" styleClass="inputField" style="width: 100%; resize: none;"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        Campus Address City
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.BillingCity}" styleClass="inputField requiredField"  required="true"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        Campus Address State
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.BillingState}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        Campus Address Post Code
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <fieldset class="uiOutputText requiredInput">
                                                            <apex:inputField value="{!campus.BillingPostalCode}" styleClass="inputField"/>
                                                        </fieldset>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        Campus Address Country
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <fieldset class="uiOutputText requiredInput">
                                                            <apex:selectList value="{!campus.BillingCountry}" size="1" styleClass="chosen requiredField" required="true">
                                                                <apex:SelectOptions value="{!allCountries}" />
                                                            </apex:selectList>
                                                        </fieldset>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1" style="text-align: right">
                            <!--<apex:commandButton value="Save and New" style="margin-right: 10px;" action="{!saveSchoolAndNew}" styleClass="slds-button slds-button_destructive agencyBackground agencyFont" />-->

                            <apex:outputLink value="{!rollbackPage}?id={!idRedirect}&type=School" styleClass="slds-button slds-button_neutral" rendered="{!rollbackPage != null && rollbackPage != ''}" style="margin-right: 10px;">
                                Cancel
                            </apex:outputLink>
                            <apex:commandButton value="Save" action="{!saveSchool}" status="showModalLoading" styleClass="slds-button slds-button_destructive agencyBackground agencyFont" />
                        </div>
                    </div>
                </div>
            </div>
        </apex:form>
        <apex:form id="form_new_group">
            <apex:outputPanel layout="block" rendered="{!showModalNewSchoolGroup}" styleClass="demo-only">
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <apex:commandLink action="{!openCloseModalNewSchoolGroup}" immediate="true" reRender="container-new-school-page" status="showModalLoading" styleClass="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"> 
                            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#close')}" />
                            </svg>
                            <span class="slds-assistive-text">Close</span>
                        </apex:commandLink>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Add New School Group</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                                <div class="container-header" style="margin-right: 10px;">
                                    <h2 class="subheader-content" style="margin-top: 0; font-weight: normal; padding-bottom: 5px; margin-right: 0; margin-left: 0;">
                                        Group Details
                                    </h2>
                                </div>
                                <div>
                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                            <div class="test-id__field-label-container">
                                                <span class="test-id__field-label slds-form-element__label">
                                                    School Group Name
                                                </span>
                                            </div>
                                            <div class="slds-form-element__control slds-grid itemBody">
                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                    <span class="uiOutputText">
                                                        <apex:inputField value="{!schoolGroup.Name}" styleClass="inputField requiredField" required="true"/>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                            <div class="test-id__field-label-container">
                                                <span class="test-id__field-label slds-form-element__label">
                                                    {!$ObjectType.Account.fields.Registration_name__c.Label}
                                                </span>
                                            </div>
                                            <div class="slds-form-element__control slds-grid itemBody">
                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                    <span class="uiOutputText">
                                                        <apex:inputField value="{!schoolGroup.Registration_name__c}" styleClass="inputField" required="true"/>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                            <div class="test-id__field-label-container">
                                                <span class="test-id__field-label slds-form-element__label">
                                                    {!$ObjectType.Account.fields.Type_of_Business_Number__c.Label}
                                                </span>
                                            </div>
                                            <div class="slds-form-element__control slds-grid itemBody">
                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                    <span class="uiOutputText">
                                                        <apex:inputField value="{!schoolGroup.Type_of_Business_Number__c}" styleClass="inputField" required="true"/>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                            <div class="test-id__field-label-container">
                                                <span class="test-id__field-label slds-form-element__label">
                                                    {!$ObjectType.Account.fields.Business_Number__c.Label}
                                                </span>
                                            </div>
                                            <div class="slds-form-element__control slds-grid itemBody">
                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                    <span class="uiOutputText">
                                                        <apex:inputField value="{!schoolGroup.Business_Number__c}" styleClass="inputField" required="true"/>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                            <div class="test-id__field-label-container">
                                                <span class="test-id__field-label slds-form-element__label">
                                                    {!$ObjectType.Account.fields.Year_established__c.Label}
                                                </span>
                                            </div>
                                            <div class="slds-form-element__control slds-grid itemBody">
                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                    <span class="uiOutputText">
                                                        <apex:inputField value="{!schoolGroup.Year_established__c}" styleClass="inputField"/>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                                <div class="container-header" style="margin-right: 10px;">
                                    <h2 class="subheader-content" style="margin-top: 0; font-weight: normal; padding-bottom: 5px; margin-right: 0; margin-right: 0;">
                                        Address Details
                                    </h2>
                                </div>
                                <div>
                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                            <div class="test-id__field-label-container">
                                                <span class="test-id__field-label slds-form-element__label">
                                                    Country
                                                </span>
                                            </div>
                                            <div class="slds-form-element__control slds-grid itemBody">
                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                    <fieldset class="uiOutputText requiredInput">
                                                        <apex:selectList value="{!schoolGroup.BillingCountry}" size="1" styleClass="chosen requiredField" required="true">
                                                            <apex:SelectOptions value="{!allCountries}" />
                                                        </apex:selectList>
                                                    </fieldset>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                            <div class="test-id__field-label-container">
                                                <span class="test-id__field-label slds-form-element__label">
                                                    State
                                                </span>
                                            </div>
                                            <div class="slds-form-element__control slds-grid itemBody">
                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                    <span class="uiOutputText">
                                                        <apex:inputField value="{!schoolGroup.BillingState}" styleClass="inputField"/>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                            <div class="test-id__field-label-container">
                                                <span class="test-id__field-label slds-form-element__label">
                                                    City
                                                </span>
                                            </div>
                                            <div class="slds-form-element__control slds-grid itemBody">
                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                    <span class="uiOutputText">
                                                        <apex:inputField value="{!schoolGroup.BillingCity}" styleClass="inputField"/>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                            <div class="test-id__field-label-container">
                                                <span class="test-id__field-label slds-form-element__label">
                                                    Post Code
                                                </span>
                                            </div>
                                            <div class="slds-form-element__control slds-grid itemBody">
                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                    <span class="uiOutputText">
                                                        <apex:inputField value="{!schoolGroup.BillingPostalCode}" styleClass="inputField"/>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                            <div class="test-id__field-label-container">
                                                <span class="test-id__field-label slds-form-element__label">
                                                    Street
                                                </span>
                                            </div>
                                            <div class="slds-form-element__control slds-grid itemBody">
                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                    <span class="uiOutputText">
                                                        <apex:inputField value="{!schoolGroup.BillingStreet}" styleClass="inputField" style="width: 100%; resize: none;"/>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>                            
                                </div>
                            </div>
                        </div>    
                    </div>
                    <footer class="slds-modal__footer">
                        <apex:commandLink action="{!openCloseModalNewSchoolGroup}" immediate="true" reRender="container-new-school-page" status="showModalLoading" styleClass="slds-button slds-button_neutral agencyBackground agencyFont" value="Cancel"/>
                        <apex:commandButton action="{!saveSchoolGroup}" reRender="container-new-school-page" status="showModalLoading" styleClass="slds-button slds-button_destructive agencyBackground agencyFont" value="Save"/>
                    </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </apex:outputPanel>
        </apex:form>
    </apex:outputPanel>
</apex:page>