<apex:page controller="DepartmentsController" showHeader="false" sidebar="false">

<apex:include pageName="xStylePageV2" />
<apex:include pageName="xCourseSearchStyle" />
<apex:includeScript value="{!URLFOR($Resource.selectize_v2_0,'selectize.min.js')}" /> 
<style>
	li.search-choice {
		width: 82% !important;
	}
	
	.selectize-control .selectize-input {
		width: 49% !important;
	}
	
	.selectize-input [data-value] {
	 	padding: 3px 8px 3px 5px !important;
 	}
</style>

<script>
   jQuery(document).ready(function(){
          setSelectize();
   });
        
	function setSelectize(){
	   jQuery('.services').selectize({
			plugins: ['remove_button'],
		  	delimiter: ';',
		  	persist: false,		  	
		  	onChange: function(value) {
		  		jQuery('[id$=servicesSelected]').val(jQuery('.services').val());
			}
		});
	}
</script>

<apex:form id="addDept" >
		<apex:pageBlock >
			<apex:pageBlockSection columns="1">
				<apex:pageBlockSectionItem >
					<apex:outputText value="{!$ObjectType.Department__c.fields.Name.Label}" />
					<apex:inputField value="{!newDepartment.Name}" style="width:200px; height: 23px;"/>
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem >
					<apex:outputText value="{!$ObjectType.Department__c.fields.Services__c.Label}" />
					<apex:outputpanel >
						<select class="services" style="margin-right: 0" size="5" multiple="multiple" placeholder="Type to select" >						                  		
	                  		<apex:repeat value="{!selectedDeptServices}" var="ics">
		                    	<option value="{!ics}" selected="selected">{!ics}</option>
		                    </apex:repeat>	
	                  		<apex:repeat value="{!agencyServices}" var="ic">
	                    		<option value="{!ic}" >{!ic}</option>
	                  		</apex:repeat>
	                	</select>					                	
	                	<apex:inputHidden value="{!selectedServices}" id="servicesSelected" />
                	</apex:outputpanel>
					<!-- <apex:selectList value="{!newDepartment.Services__c}" multiselect="true" size="3" style="width:200px;" styleclass="chosen" >
						<apex:SelectOptions value="{!agencyServices}" />
					</apex:selectList> -->
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem >
					<apex:outputText value="{!$ObjectType.Department__c.fields.Show_Visits__c.Label}" />
					<apex:inputField value="{!newDepartment.Show_Visits__c}" />
				</apex:pageBlockSectionItem>

				<apex:pageBlockSectionItem >
					<apex:outputText value="{!$ObjectType.Department__c.fields.Allow_Booking__c.Label}" />
					<apex:inputField value="{!newDepartment.Allow_Booking__c}" />
				</apex:pageBlockSectionItem>
			
			</apex:pageBlockSection>
			
			<apex:outputpanel layout="block" style="text-align:center">
				<apex:commandLink value="Save" styleClass="agencyButton"  action="{!addDepartment}" status="statusLoad" rerender="addDept" onComplete="verifyAction();"/>
				<apex:commandLink value="Cancel"  styleClass="agencyButton" onClick="parent.closemodalAddDept()"/>
			</apex:outputpanel>
			
		</apex:pageBlock>
			
		<script>
		function verifyAction(){
			if(jQuery('.errorMsg').length == 0)
				parent.saveAndClosemodal();
		}
	</script>
	</apex:form>
</apex:page>