<apex:page controller="createNewCampus" showHeader="true" sidebar="false" docType="html-5.0" lightningStyleSheets="true" standardStylesheets="false">
	<apex:slds />

    <apex:includeScript value="{!$Resource.up_jQuery}"/>
    <apex:includeScript value="{!URLFOR($Resource.JQuery_ui_1_11_2,'jquery-ui.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.jquerymask,'jquerymask.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.jQueryUI,'jquery-ui.css')}" />
	<apex:styleSheet value="{!URLFOR($Resource.chosen_1_2_0,'chosen.min.css')}" />  
	<apex:includeScript value="{!URLFOR($Resource.chosen_1_2_0,'chosen.jquery.min.js')}" /> 

    <style>
        h1.header{
            font-weight: 700;
            color: rgb(62, 62, 60);
            text-transform: uppercase;
            font-size: 1.2rem;
            letter-spacing: .0625em;
            line-height: 1.25;
            padding-bottom: 15px;
            margin: 25px 10px 0px 10px;
            /*text-align: right;*/
        }
        h2.subheader-content {
            font-weight: 700;
            color: rgb(62, 62, 60);
            /*text-transform: uppercase;*/
            font-size: .915rem;
            letter-spacing: .0625em;
            line-height: 1.25;
            border-bottom: 1px solid #c8cace;
            padding-bottom: 15px;
            margin: 15px 10px 20px 10px;
        }

        .chosen, .chosen-container{
            width: 100%;
        }

        textarea{
            border: 1px dotted #898d93;
        }

        input[type="text"], input[type="number"] {
            width: 100% !important;
            border: 1px dotted #898d93;
            height: 25px;
            padding-left: 5px;
        }

        .requiredField, .requiredInput > .chosen-container {
            border-left: 4px solid #CC0000 !important;
        }
        .multiSelectPicklistRow > td{
            width: 45%; 
        }
        .multiSelectPicklistRow > .multiSelectPicklistCell{
            width: 15%; 
            text-align: center;
        }
        .multiSelectPicklistRow select{
            width: 100% !important;
        }

        .picklistArrowLeft, .picklistArrowRight, .rightArrowIcon, .leftArrowIcon, .doubleArrowUp, .upArrowIcon, .downArrowIcon, .doubleArrowDwn{
            height: 20px !important;
        }

        .forcePageBlockItemView{
            margin-bottom: 15px;
        }

        .message {
            margin: 5px 0px 15px 0px;
        }

        .container-input-extras{      
            margin-bottom: 35px;
            border: 1px solid #c8cace;
            padding: 10px;
            box-shadow: 0 0 3px rgba(0,0,0,.15);
        }

        .container-input-extras h2{
            margin-bottom: 10px; 
            padding-bottom: 5px;
            color: rgb(27, 82, 151);
            font-weight: 700;
            font-size: .915rem;
            text-transform: uppercase;
        }

        .slds-table_bordered{
            border-top: none !important;
        }

        .slds-icon-action-user-activation{
            line-height: .5 !important;
            cursor: move;
        }

        .reorder-icon{
            width: 11px;
        }
    </style>
    <script type="text/Javascript">
        var dragDropIcon = "<td style='width: 7%; text-align: center;'><span class='slds-icon_container slds-icon-action-user-activation slds-icon_container--circle' title='Drag and drop to reorder.'><img class='reorder-icon' src='/img/icon/t4v35/action/sort.svg'/></span></td>";
        $(document).ready(function(){
            loadChosen();
            $(".table-sortable").sortable();
            $(".table-sortable").disableSelection();
            $(document).on("click","#add-near-to", function(){
                var value = $("#input-near-to").val();
                appendNewItemToList($(this), value, 'nearToItens'); 
                $("#input-near-to").val('');
            });
            $(document).on("click","#add-pathways-to", function(){
                var urlPathway = $("#input-url-pathway-to").val();
                var descriptionPathway = $("#input-description-pathway-to").val();
                appendPathway(urlPathway, descriptionPathway);
                $("#input-url-pathway-to").val('');
                $("#input-description-pathway-to").val('');
            });
            $(document).on("click","#add-why-choose", function(){
                var value = $("#input-why-choose").val();
                appendNewItemToList($(this), value, 'whyChooseItens'); 
                $("#input-why-choose").val('');
            });
            $(document).on("click","#add-features", function(){
                var value = $("#input-features").val();
                appendNewItemToList($(this), value, 'featuresItens'); 
                $("#input-features").val('');
            });
            $(document).on("click",".removeValueAdd", function(){
                $(this).closest("tr").remove();
            });
            $(document).on("click",".remove-pathway", function(){
                $(this).closest("tr").remove();
            });
            $(document).on("click",".removeSocialNetwork", function(){
                $(this).closest("tr").remove();
            });
            $(document).on("click",".removeVideo", function(){
                $(this).closest("tr").remove();
            });
            $(document).on("click",".removeNationality", function(){
                $(this).closest("tr").remove();
                recalculatePercentagesNationality();
            });
            $(document).on("click","#add-social-network", function(){
                type = $(this).closest("tr").find("#type-social-network").val();
                name = $(this).closest("tr").find("#name-social-network").val();
                if(name != null && name != ''){
                    appendNewSocialNetwork(type, name);
                    $(this).closest("tr").find("#name-social-network").val("");
                }
            
            });
            $(document).on("click","#add-video", function(){
                type = $(this).closest("tr").find("#type-video").val();
                name = $(this).closest("tr").find("#name-video").val();
                if(name != null && name != ''){
                    appendNewVideo(type, name);
                    $(this).closest("tr").find("#name-video").val("");
                }

            });
            $(document).on("click","#add-nationality", function(){
                if($(this).attr("disabled") != "disabled"){
                    nationality = $(this).closest("tr").find("#name-nationality").val();
                    percentage = $(this).closest("tr").find("#percentage-nationality").val();
                    
                    if(nationality != '' && percentage != ''){    
                        addPercentage(nationality, percentage);
                        recalculatePercentagesNationality();
                        
                        $(this).closest("tr").find("#name-nationality").val("");
                        $(this).closest("tr").find("#percentage-nationality").val("");
                    }
                }
            });
            $(document).on("change", ".schoolCampusCategorySelect", function() {
				updateFieldDisabledReason($(this).val());
			});
            $(document).on("keyup", ".percent-nationality-added", function(evt) {
                recalculateExistingItens($(this));
            });
            $(document).on("change", ".percent-nationality-added", function(evt) {
                recalculateExistingItens($(this));
            });
        });

        function addPercentage(nationality, percentage){
            percentageRemaining = parseFloat($("#remaining-percentage").text());
            insertNew = true;
            if(parseFloat(percentage) > percentageRemaining){
                percentage = percentageRemaining;
            }
            $(".nationalityAdded").each(function(){
                if(nationality.toLowerCase() == $(this).find(".name-nationality-added").val().toLowerCase()){
                    newValue = parseFloat(percentage) + parseFloat($(this).find(".percent-nationality-added").val());
                    $(this).find(".percent-nationality-added").val(newValue);
                    insertNew = false;
                    return;
                }
            });
            if(insertNew){
                tableNationalities = $("#tableNationalities > tbody");
                tableNationalities.append("<tr class='nationalityAdded'>"+dragDropIcon+"<td style='width: 60%;'><div style='margin-top: 5px;'><input type='text' value='"+nationality+"' class='name-nationality-added'/></div></td><td style='width: 18%;'><div style='margin-top: 5px;'><input type='number' class='percent-nationality-added' value='"+percentage+"' min='0' style='text-align: right; width: 90% !important;'/>%</div></td><td style='width: 15%; text-align: right; padding: 0'><div style='margin-top: 5px;'><a class='removeNationality btn slds-button slds-button_text-destructive agencyBackground agencyFont' style='line-height: 1.475rem;'>Delete</a></div></td></tr>");
            }
        }  

        function recalculateExistingItens(item){
            valueInput = parseFloat($(item).val());
            nameNationality = $(item).closest(".nationalityAdded").find(".name-nationality-added").val();
            totalPercent = 0;
            otherItemsPercent = 0;
            $('.percent-nationality-added').each(function(){
                if($(this).val() == null || $(this).val() == ''){
                    $(this).val(0);
                }
                totalPercent = totalPercent + parseFloat($(this).val());           
                if($(this).closest(".nationalityAdded").find(".name-nationality-added").val() != nameNationality){
                    otherItemsPercent = otherItemsPercent + parseFloat($(this).val());
                }
            });
            if(totalPercent > 100){
                $(item).val(100 - otherItemsPercent);
            } 
            recalculatePercentagesNationality();
        }

        function recalculatePercentagesNationality(){
            totalPercent = 0;
            $('.percent-nationality-added').each(function(){
                if($(this).val() == null || $(this).val() == ''){
                    $(this).val(0);
                }
                totalPercent = totalPercent + parseFloat($(this).val());           
            });
            percentRemaining = 100 - totalPercent;
            
            $("#percentage-nationality").removeAttr("disabled");
            $("#add-nationality").removeAttr("disabled");
            if(percentRemaining <= 0){
               $("#percentage-nationality").attr("disabled","disabled");
               $("#add-nationality").attr("disabled","disabled");
            }else{
               $("#percentage-nationality").attr("max",percentRemaining);
            }
            $("#remaining-percentage").text(percentRemaining);
        }      
        
        function appendNewVideo(type, name){
            tableVideos = $("#tableVideos > tbody");
            tableVideos.append("<tr class='videoAdded'>"+dragDropIcon+"<td style='width: 10%;'><div style='margin-top: 5px;'><p style='font-weight: bold' class='video-added'>"+type+"</p></div></td><td style='width: 73%;'><div style='margin-top: 5px;'><input type='text' class='video-added-url' value='"+name+"'/></div></td><td style='width: 10%; text-align: right;'><div style='margin-top: 5px;'><a class='removeVideo btn slds-button slds-button_text-destructive agencyBackground agencyFont' style='line-height: 1.475rem;'>Delete</a></div></td></tr>");
        }

        function appendNewSocialNetwork(type, name){
            tableSocialNetworks = $("#tableSocialNetworks > tbody");
            tableSocialNetworks.append("<tr class='socialNetworkAdded'>"+dragDropIcon+"<td style='width: 10%;'><div style='margin-top: 5px;'><p style=' font-weight: bold' class='type-social-network-added'>"+type+"</p></div></td><td style='width: 73%;'><div style='margin-top: 5px;'><input type='text' class='name-social-network-added' value='"+name+"'/></div></td><td style='width: 10%; text-align: right;'><div style='margin-top: 5px;'><a class='removeSocialNetwork btn slds-button slds-button_text-destructive agencyBackground agencyFont' style='line-height: 1.475rem;'>Delete</a></div></td></tr>");
        }

        function appendNewItemToList(button, value, classItens){
            value = value.replace(/'/g, '’');
            tableResults = $(button).closest(".container-content").find(".tableValuesAdd > tbody");
            tableResults.append("<tr class='valueAdd'>"+dragDropIcon+"<td style='width: 83%; padding-left: 0'><div style='margin-top: 5px;'><input class='"+classItens+"' type='text' value='"+value+"'/></div></td><td style='width: 10%; text-align: right;'><div style='margin-top: 5px;'><a class='removeValueAdd btn slds-button slds-button_text-destructive agencyBackground agencyFont' style='line-height: 1.475rem;'>Delete</a></div></td></tr>");
        }

        function appendPathway(urlPathway, descriptionPathway){
            tablePathwayAdd = $("#tablePathwayAdd > tbody");
            tablePathwayAdd.append("<tr class='item-pathway'>"+dragDropIcon+"<td style='width: 83%;'><div style='margin: 10px 0px'><input class='url-pathway' type='text' value='"+urlPathway+"'/><textarea rows='2' class='description-pathway' type='text' style='margin-top: 5px; width: 100%; resize: none;'>"+descriptionPathway+"</textarea></div></td><td style='width: 10%; text-align: center; vertical-align: bottom;'><a class='remove-pathway btn slds-button slds-button_text-destructive agencyBackground agencyFont' style='line-height: 1.675rem; margin-bottom: 15px;'>Delete</a></td></tr>");
        }

        function beginAjaxRequest(){
            showModalLoading(true);
        }

        function completeAjaxRequest(){
            loadChosen();
            showModalLoading(false);
        }

        function loadChosen(){
            $('.chosen').chosen({no_results_text: "Sorry, no items were found." , placeholder_text_multiple: "Type to find the options.", placeholder_text_single: "Type to find the option."});
        }

        function loadExtraValues(){
            /*values = [];
            $('.nearToItens').each(function(){
                values.push($(this).val());
                //text +=  + ";;";        
            });
            //$("#container-why-choose-hidden").find("input[type='hidden']").val(text);
            $("#container-near-to-hidden").find("input[type='hidden']").val(JSON.stringify(values));*/
            
            values = [];
            $('.whyChooseItens').each(function(){
                values.push($(this).val());    
            });
            $("#container-why-choose-hidden").find("input[type='hidden']").val(JSON.stringify(values));
            
            values = [];
            $(".featuresItens").each(function(){
                values.push($(this).val());        
            });
            $("#container-features-hidden").find("input[type='hidden']").val(JSON.stringify(values));
        
            values = [];
            $(".nationalityAdded").each(function(){
                item = $(this).find(".name-nationality-added").val();
                value = $(this).find(".percent-nationality-added").val();
                values.push({
                    'item' : item,
                    'value' : value,
                });
            });
            $("#container-nationality-hidden").find("input[type='hidden']").val(JSON.stringify(values));

            values = [];
            $(".socialNetworkAdded").each(function(){
                item = $(this).find(".type-social-network-added").text();
                value = $(this).find(".name-social-network-added").val();
                values.push({
                    'item' : item,
                    'value' : value,
                });
            });
            $("#container-social-networks-hidden").find("input[type='hidden']").val(JSON.stringify(values));

            values = [];
            $(".videoAdded").each(function(){
                item = $(this).find(".video-added").text();
                value = $(this).find(".video-added-url").val();
                values.push({
                    'item' : item,
                    'value' : value,
                });
            });
            $("#container-videos-hidden").find("input[type='hidden']").val(JSON.stringify(values));
            
            values = [];
            $(".item-pathway").each(function(){
                value = $(this).find(".url-pathway").val();
                item = $(this).find(".description-pathway").val();
                values.push({
                    'item' : item,
                    'value' : value,
                });
            });
            $("#container-pathways-hidden").find("input[type='hidden']").val(JSON.stringify(values));
        }

        function presave(){
            debugger;
            isMainCampus = $(".inputMainCampus").is(":checked");
            schoolHasMainCampus = "{!schoolHasMainCampus}";
            if(isMainCampus && schoolHasMainCampus == "true"){
                currentMainCampus = "{!mainCampus}";
                answer = confirm(currentMainCampus+" is marked as Main Campus. If you select this campus as main the "+currentMainCampus+" will be unselected. Are you sure do you want to proceed?");
                if(answer){
                    loadExtraValues();
                    return true;
                }else{
                    return false;
                }
            }else{
                loadExtraValues();
                return true;
            }
        }
    </script>
    <c:modalLoadingLightning />
    <apex:actionStatus id="showModalLoading" onstart="beginAjaxRequest();" onstop="completeAjaxRequest();" />
    <apex:outputPanel layout="block" id="container-new-school-page" styleClass="slds-scope container-new-school-page">
        <apex:form id="form_new_school" style="margin: 25px">
            <div id="container-pathways-hidden">
                <apex:inputHidden value="{!pathways}"/>
            </div>
            <div id="container-near-to-hidden">
                <apex:inputHidden value="{!nearTo}"/>
            </div>
            <div id="container-features-hidden">
                <apex:inputHidden value="{!features}"/>
            </div>
            <div id="container-why-choose-hidden">
                <apex:inputHidden value="{!whyChooseThisCampus}"/>
            </div>
            <div id="container-nationality-hidden">
                <apex:inputHidden value="{!nationalities}"/>
            </div>
            <div id="container-social-networks-hidden">
                <apex:inputHidden value="{!socialNetworksToSave}"/>
            </div>
            <div id="container-videos-hidden">
                <apex:inputHidden value="{!videos}"/>
            </div>
            <div class="slds-grid_vertical" style="margin-bottom: 30px;">
                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1">
                    <div class="slds-page-header" style="margin-bottom: 15px;">
                        <div class="slds-media">
                            <div class="slds-media__figure">
                                <span class="slds-icon_container slds-icon-custom-custom55" title="Payment Plan">
                                    <svg class="slds-icon slds-icon--large" aria-hidden="true">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/custom-sprite/svg/symbols.svg#custom55')}" />
                                    </svg>
                                </span>
                            </div>
                            <div class="slds-media__body">
                                <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="Payment Plan">
                                    <apex:outputText value="Create New Campus" rendered="{!campus.ID == null}"/>
                                    <apex:outputText value="Edit Campus - {!campus.Name}" rendered="{!campus.ID != null}"/>
                                </h1>
                                <p class="slds-text-body_small slds-line-height_reset">{!schoolSelected.Name}</p>
                            </div>
                        </div>
                    </div>
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1" style="text-align: right;">
                            <apex:pageMessages />
                            <apex:outputLink value="{!rollbackPage}?id={!idRedirect}" styleClass="slds-button slds-button_neutral" rendered="{!rollbackPage != null && rollbackPage != ''}" style="margin-right: 10px;">
                                Cancel
                            </apex:outputLink>
                            <apex:commandButton value="Save" action="{!saveCampus}" onclick="if(!presave()){return false;}else{return true;}" status="showModalLoading" styleClass="slds-button slds-button_brand agencyBackground agencyFont" />
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                            <div class="container-header" style="margin-right: 15px;">
                                <h2 class="subheader-content">                       
                                    <span class="slds-avatar slds-avatar--medium">
                                        <img src="/img/icon/t4v35/standard/account.svg" style="background-color: #0eb58a; border-radius: 3px;" />
                                    </span>
                                    Campus Details
                                </h2>
                            </div>
                            <div class="container-content" style="margin-right: 15px;">
                                <div class="slds-grid slds-wrap">
                                    <apex:outputPanel id="container-basic-info-campus" layout="block" styleClass="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                                        <apex:actionFunction name="updateFieldDisabledReason" action="{!updateFieldDisabledReason}" reRender="container-basic-info-campus" status="showModalLoading" immediate="true">
                                            <apex:param name="schoolCampusCategory" value=""/>
                                        </apex:actionFunction>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        Campus Name
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.Name}" styleClass="inputField requiredField" required="true"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.Website.Label}
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.Website}" styleClass="inputField requiredField" required="true"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        Campus Currency
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <fieldset class="uiOutputText requiredInput">
                                                            <apex:selectList value="{!campus.Account_Currency_Iso_Code__c}" size="1" styleClass="chosen requiredField" required="true">
                                                                <apex:SelectOptions value="{!currencies}" />
                                                            </apex:selectList>
                                                        </fieldset>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.School_campus_category__c.Label}
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <fieldset class="uiOutputText">
                                                            <apex:selectList value="{!schoolCampusCategory}" size="1" styleClass="schoolCampusCategorySelect chosen">
                                                                <apex:SelectOptions value="{!schoolCampusCategories}" />
                                                            </apex:selectList>
                                                        </fieldset>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <apex:outputPanel layout="block" styleClass="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView" rendered="{!schoolCampusCategory == 'Disabled'}">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.Reason_Disabled_Campus__c.Label}
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.Reason_Disabled_Campus__c}" styleClass="inputField" style="width: 100%; resize: none"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </apex:outputPanel>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.Main_Campus__c.Label}?
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.Main_Campus__c}" styleClass="inputField inputMainCampus"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </apex:outputPanel>
                                    <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        Students Per Class
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.Students_per_class__c}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        Total Number of Students
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.Total_Number_of_Students__c}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        Campus Phone
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.Phone}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.Disabled_Campus__c.Label}?
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.Disabled_Campus__c}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        {!$ObjectType.Account.fields.ShowCaseOnly__c.Label}?
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.ShowCaseOnly__c}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                            <div class="container-header" style="margin-left: 15px;">
                                <h2 class="subheader-content">                       
                                    <span class="slds-avatar slds-avatar--medium">
                                        <img src="/img/icon/t4v35/standard/address.svg" style="background-color: #fcb95b; border-radius: 3px;" />
                                    </span>
                                    Address Details
                                </h2>
                            </div>
                            <apex:outputPanel layout="block" id="container-address" styleClass="container-content" style="margin-left: 15px;">
                                <div class="slds-grid slds-wrap">
                                    <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        Campus Address Street
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.BillingStreet}" styleClass="inputField" style="width: 100%; resize: none;"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        Campus Address City
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.BillingCity}" styleClass="inputField requiredField"  required="true"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        Campus Address State
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.BillingState}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                       Campus Address Post Code
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <span class="uiOutputText">
                                                            <apex:inputField value="{!campus.BillingPostalCode}" styleClass="inputField"/>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                            <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                <div class="test-id__field-label-container">
                                                    <span class="test-id__field-label slds-form-element__label">
                                                        Campus Address Country
                                                    </span>
                                                </div>
                                                <div class="slds-form-element__control slds-grid itemBody">
                                                    <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                        <fieldset class="uiOutputText requiredInput">
                                                            <apex:selectList value="{!campus.BillingCountry}" size="1" styleClass="chosen requiredField" required="true">
                                                                <apex:SelectOptions value="{!allCountries}" />
                                                            </apex:selectList>
                                                        </fieldset>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </apex:outputPanel>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1" style="margin-bottom: 35px;">
                            <div class="container-header">
                                <h2 class="subheader-content" style="margin-left: 0; margin-right: 0; color: rgb(27, 82, 151); text-transform: uppercase">
                                    {!$ObjectType.Account.fields.General_Description__c.Label}
                                </h2>
                            </div>
                            <div class="container-content">
                                <apex:inputTextarea value="{!campus.General_Description__c}" id="descriptionId" styleClass="campusFields" richText="true" style="height: 134px; width: 95%; " />
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1" style="margin-bottom: 10px">
                            <div class="slds-grid slds-wrap slds-gutters_small">
                                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                                    <div class="container-input-extras">
                                        <div class="container-header">
                                            <h2>
                                                School Pathways
                                            </h2>
                                        </div>
                                        <div class="container-content">
                                            <h4 style="margin-bottom: 5px;">Type and Press Add:</h4>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 90%;">
                                                            <input id="input-url-pathway-to" type="text" placeholder="Pathway URL"/>
                                                            <textarea rows="2" id="input-description-pathway-to" type="text" placeholder="Pathway Description " style="margin-top: 5px; width: 100%; resize: none;"></textarea>
                                                        </td>
                                                        <td style="width: 10%; text-align: right; vertical-align: middle;">
                                                            <a id="add-pathways-to" class="btn slds-button slds-button_destructive agencyBackground agencyFont" style="line-height: 1.675rem;">Add</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table id="tablePathwayAdd" class="slds-table_bordered slds-table_striped" style="margin-top: 15px;">
                                                <tbody class="table-sortable">
                                                    <apex:repeat var="item" value="{!savedPathways}" rendered="{!savedPathways != null && NOT(savedPathways.empty)}">
                                                        <tr class='item-pathway'>
                                                            <td style='width: 7%; text-align: center;'>
                                                                <span class="slds-icon_container slds-icon-action-user-activation slds-icon_container--circle" title="Drag and drop to reorder.">
                                                                    <img class="reorder-icon" src="/img/icon/t4v35/action/sort.svg"/>
                                                                </span>
                                                            </td>
                                                            <td style='width: 83%;'>
                                                                <div style='margin: 10px 0px;'>
                                                                    <input class='url-pathway' type='text' value='{!item.item}'/>
                                                                    <textarea rows='2' class='description-pathway' type='text' style='margin-top: 5px; width: 100%; resize: none;'>{!item.value}</textarea>
                                                                </div>
                                                            </td>
                                                            <td style='width: 10%; text-align: center; vertical-align: bottom;'>
                                                                <a class='remove-pathway btn slds-button slds-button_text-destructive agencyBackground agencyFont' style='line-height: 1.675rem; margin-bottom: 15px;'>Delete</a>
                                                            </td>
                                                        </tr>
                                                    </apex:repeat>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                                    <div class="container-input-extras">
                                        <div class="container-header">
                                            <h2>
                                                Nationality Mix
                                            </h2>
                                        </div>
                                        <div class="container-content">
                                            <div class="slds-clearfix" style="margin-bottom: 5px;">
                                                <h4 style="float: left;">Type the nationality and percentage and press Add:</h4>
                                                <p style="text-align: right; float: right; color: rgb(179, 20, 20)">Remaining: <b id="remaining-percentage">100</b>%</p>
                                            </div>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 70%;">
                                                            <div style="margin-right: 10px;">
                                                                <input id="name-nationality" type="text" placeholder="Nationality"/>
                                                            </div>
                                                        </td>
                                                        <td style="width: 20%;">
                                                            <div style="margin-left: 10px;">
                                                                <input id="percentage-nationality" type="number" step=".01" min="0" max="100" placeholder="Percentage (%)"/>
                                                            </div>
                                                        </td>
                                                        <td style="width: 10%; text-align: right;">
                                                            <a id="add-nationality" class="btn slds-button slds-button_destructive agencyBackground agencyFont" style="line-height: 1.675rem;">Add</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table id="tableNationalities" style="margin-top: 15px;" class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped">
                                                <tbody class="table-sortable">
                                                    <apex:outputPanel layout="none" rendered="{!savedNationalities != null && NOT(savedNationalities.empty)}">
                                                        <apex:repeat var="item" value="{!savedNationalities}">
                                                            <tr class='nationalityAdded'>
                                                                <td style='width: 7%; text-align: center;'>
                                                                <span class="slds-icon_container slds-icon-action-user-activation slds-icon_container--circle" title="Drag and drop to reorder.">
                                                                    <img class="reorder-icon" src="/img/icon/t4v35/action/sort.svg"/>
                                                                </span>
                                                            </td>
                                                                <td style='width: 60%;'>
                                                                    <div style='margin-top: 5px; padding-left: 0;'>
                                                                        <input type='text' value='{!item.item}' class='name-nationality-added'/>
                                                                    </div>
                                                                </td>
                                                                <td style='width: 18%;'>
                                                                    <div style='margin-top: 5px;'>
                                                                        <input type='number' step=".01" class='percent-nationality-added' value='{!item.value}' min='0' style='text-align: right; width: 90% !important;'/>%
                                                                    </div>
                                                                </td>
                                                                <td style='width: 15%; text-align: right; padding: 0'>
                                                                    <div style='margin-top: 5px;'>
                                                                        <a class='removeNationality btn slds-button slds-button_text-destructive agencyBackground agencyFont' style='line-height: 1.475rem;'>Delete</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </apex:repeat>
                                                        <script type="text/Javascript">
                                                            $(document).ready(function(){
                                                                recalculatePercentagesNationality();
                                                            });
                                                        </script>
                                                    </apex:outputPanel>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1" style="margin-bottom: 10px">
                            <div class="slds-grid slds-wrap slds-gutters_small">
                                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                                    <div class="container-input-extras">
                                        <div class="container-header">
                                            <h2>
                                                Why to choose this school and campus?
                                            </h2>
                                        </div>
                                        <div class="container-content">
                                            <h4 style="margin-bottom: 5px;">Type and Press Add:</h4>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 90%;">
                                                            <input id="input-why-choose" type="text"/>
                                                        </td>
                                                        <td style="width: 10%; text-align: right;">
                                                            <a id="add-why-choose" class="btn slds-button slds-button_destructive agencyBackground agencyFont" style="line-height: 1.675rem;">Add</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="tableValuesAdd slds-table slds-table_bordered slds-table_striped" style="margin-top: 15px;">
                                                <tbody class="table-sortable">
                                                    <apex:repeat var="item" value="{!savedWhyChooseThisCampus}" rendered="{!savedWhyChooseThisCampus != null && NOT(savedWhyChooseThisCampus.empty)}">
                                                        <tr class='valueAdd'>
                                                            <td style='width: 7%; text-align: center;'>
                                                                <span class="slds-icon_container slds-icon-action-user-activation slds-icon_container--circle" title="Drag and drop to reorder.">
                                                                    <img class="reorder-icon" src="/img/icon/t4v35/action/sort.svg"/>
                                                                </span>
                                                            </td>
                                                            <td style='width: 83%; padding-left: 0;'>
                                                                <div style='margin-top: 5px;'>
                                                                    <input class='whyChooseItens' type='text' value='{!item}'/>
                                                                </div>
                                                            </td>
                                                            <td style='width: 10%; text-align: right;'>
                                                                <div style='margin-top: 5px;'>
                                                                    <a class='removeValueAdd btn slds-button slds-button_text-destructive agencyBackground agencyFont' style='line-height: 1.475rem;'>Delete</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </apex:repeat>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                                    <div class="container-input-extras">
                                        <div class="container-header">
                                            <h2>
                                                Social Networks
                                            </h2>
                                        </div>
                                        <div class="container-content">
                                            <div class="slds-clearfix" style="margin-bottom: 5px;">
                                                <h4 style="float: left;">Select a social network, Type the address and press Add:</h4>
                                            </div>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 25%;">
                                                            <div>
                                                                <select id="type-social-network" style="width: 95%; height: 25px; border: 1px dotted #898d93;">
                                                                    <apex:repeat var="socialNetwork" value="{!socialNetworks}">
                                                                        <option value="{!socialNetwork.value}">
                                                                            {!socialNetwork.label}
                                                                        </option>
                                                                    </apex:repeat>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td style="width: 65%;">
                                                            <div>
                                                                <input id="name-social-network" type="text" placeholder="Type the Address of the Social Network"/>
                                                            </div>
                                                        </td>
                                                        <td style="width: 10%; text-align: right;">
                                                            <a id="add-social-network" class="btn slds-button slds-button_destructive agencyBackground agencyFont" style="line-height: 1.675rem;">Add</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table id="tableSocialNetworks" style="margin-top: 15px;" class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped">
                                                <tbody class="table-sortable">
                                                    <apex:repeat var="item" value="{!savedSocialNetworks}" rendered="{!savedSocialNetworks != null && NOT(savedSocialNetworks.empty)}">
                                                        <tr class='socialNetworkAdded'>
                                                            <td style='width: 7%; text-align: center;'>
                                                                <span class="slds-icon_container slds-icon-action-user-activation slds-icon_container--circle" title="Drag and drop to reorder.">
                                                                    <img class="reorder-icon" src="/img/icon/t4v35/action/sort.svg"/>
                                                                </span>
                                                            </td>
                                                            <td style='width: 10%;'>
                                                                <div style='margin-top: 5px;'>
                                                                    <p style='font-weight: bold' class='type-social-network-added'>{!item.item}</p>
                                                                </div>
                                                            </td>
                                                            <td style='width: 73%;'>
                                                                <div style='margin-top: 5px;'>
                                                                    <input type='text' class='name-social-network-added' value='{!item.value}'/>
                                                                </div>
                                                            </td>
                                                            <td style='width: 10%; text-align: right;'>
                                                                <div style='margin-top: 5px;'>
                                                                    <a class='removeSocialNetwork btn slds-button slds-button_text-destructive agencyBackground agencyFont' style='line-height: 1.475rem;'>Delete</a>
                                                                </div>
                                                            </td>
                                                        </tr>  
                                                    </apex:repeat>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1" style="margin-bottom: 10px">
                            <div class="slds-grid slds-wrap slds-gutters_small">
                                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                                    <div class="container-input-extras">
                                        <div class="container-header">
                                            <h2>
                                                School Features / Services
                                            </h2>
                                        </div>
                                        <div class="container-content">
                                            <h4 style="margin-bottom: 5px;">Type and Press Add:</h4>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 90%;">
                                                            <input id="input-features" type="text"/>
                                                        </td>
                                                        <td style="width: 10%; text-align: right;">
                                                            <a id="add-features" class="btn slds-button slds-button_destructive agencyBackground agencyFont" style="line-height: 1.675rem;">Add</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="tableValuesAdd slds-table slds-table_bordered slds-table_striped" style="margin-top: 15px;">
                                                <tbody class="table-sortable">
                                                    <apex:repeat var="item" value="{!savedFeatures}" rendered="{!savedFeatures != null && NOT(savedFeatures.empty)}">
                                                        <tr class='valueAdd'>
                                                            <td style='width: 7%; text-align: center;'>
                                                                <span class="slds-icon_container slds-icon-action-user-activation slds-icon_container--circle" title="Drag and drop to reorder.">
                                                                    <img class="reorder-icon" src="/img/icon/t4v35/action/sort.svg"/>
                                                                </span>
                                                            </td>
                                                            <td style='width: 83%; padding-left: 0;'>
                                                                <div style='margin-top: 5px;'>
                                                                    <input class='featuresItens' type='text' value='{!item}'/>
                                                                </div>
                                                            </td>
                                                            <td style='width: 10%; text-align: right;'>
                                                                <div style='margin-top: 5px;'>
                                                                    <a class='removeValueAdd btn slds-button slds-button_text-destructive agencyBackground agencyFont' style='line-height: 1.475rem;'>Delete</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </apex:repeat>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                                    <div class="container-input-extras">
                                        <div class="container-header">
                                            <h2>
                                                Videos
                                            </h2>
                                        </div>
                                        <div class="container-content">
                                            <div class="slds-clearfix" style="margin-bottom: 5px;">
                                                <h4 style="float: left;">Select a type of video, Type the address and press Add:</h4>
                                            </div>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 25%;">
                                                            <div>
                                                                <select id="type-video" style="width: 95%; height: 25px; border: 1px dotted #898d93;">
                                                                    <option value="Youtube">Youtube</option>
                                                                    <option value="Vimeo">Vimeo</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td style="width: 65%;">
                                                            <div>
                                                                <input id="name-video" type="text" placeholder="Type the Address of the video"/>
                                                            </div>
                                                        </td>
                                                        <td style="width: 10%; text-align: right;">
                                                            <a id="add-video" class="btn slds-button slds-button_destructive agencyBackground agencyFont" style="line-height: 1.675rem;">Add</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table id="tableVideos" style="margin-top: 15px;" class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped">
                                                <tbody class="table-sortable">
                                                    <apex:repeat var="item" value="{!savedVideos}" rendered="{!savedVideos != null && NOT(savedVideos.empty)}">
                                                        <tr class='videoAdded'>
                                                            <td style='width: 7%; text-align: center;'>
                                                                <span class="slds-icon_container slds-icon-action-user-activation slds-icon_container--circle" title="Drag and drop to reorder.">
                                                                    <img class="reorder-icon" src="/img/icon/t4v35/action/sort.svg"/>
                                                                </span>
                                                            </td>
                                                            <td style='width: 10%;'>
                                                                <div style='margin-top: 5px;'>
                                                                    <p style='font-weight: bold' class='video-added'>{!item.item}</p>
                                                                </div>
                                                            </td>
                                                            <td style='width: 73%;'>
                                                                <div style='margin-top: 5px;'>
                                                                    <input type='text' class='video-added-url' value='{!item.value}'/>
                                                                </div>
                                                            </td>
                                                            <td style='width: 10%; text-align: right;'>
                                                                <div style='margin-top: 5px;'>
                                                                    <a class='removeVideo btn slds-button slds-button_text-destructive agencyBackground agencyFont' style='line-height: 1.475rem;'>Delete</a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </apex:repeat>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1" style="text-align: right; margin-top: 20px;">
                            <apex:outputLink value="{!rollbackPage}?id={!idRedirect}" styleClass="slds-button slds-button_neutral" rendered="{!rollbackPage != null && rollbackPage != ''}" style="margin-right: 10px;">
                                Cancel
                            </apex:outputLink>
                            <apex:commandButton value="Save" action="{!saveCampus}" onclick="if(!presave()){return false;}else{return true;}" status="showModalLoading" styleClass="slds-button slds-button_brand agencyBackground agencyFont" />
                        </div>
                    </div>
                </div>
            </div>
        </apex:form>
    </apex:outputPanel>
</apex:page>