<apex:page standardStylesheets="false" showHeader="false" sidebar="false" >

	<style>
			/*
		Eric Meyer's Global CSS Reset
		------------------------------*/
		ol, ul, li{
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}
		
		article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
			display: block;
		}
		
		
		ol, ul {
			list-style: none;
		}
		blockquote, q {
			quotes: none;
		}
		blockquote:before, blockquote:after, q:before, q:after {
			content: '';
			content: none;
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}
		a {
			text-decoration:none;
		}
		strong {
			font-weight:bold;
		}
		em {
			font-style:italic;
		}
	</style>

</apex:page>