<apex:page standardController="Account" extensions="xcourseSearch_AgencyCurrency" standardStylesheets="false" sidebar="true" tabStyle="settings__tab">
	<apex:include pageName="xStylePage" />
	<apex:include pageName="xCourseSearchStyle" />
	<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />
	<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />
	<apex:includeLightning />
	<script>
		jQuery(document).ready(function(){
			jQuery( "#tabs" ).tabs();
			jQuery('.chosen').chosen();
		});			
		
		function numbersonly(evt){
		    var charCode = (evt.which) ? evt.which : event.keyCode
		    if (charCode > 31 && (charCode != 46 &&(charCode < 48 || charCode > 57)))
		        return false;
		    return true;
		}	          
	</script>	
	<style>
		.columnStyle{
			background-color: #EEEEEE;
		}
		
		.columnStyleFirst{
			background-color: lightBlue;
		}
		
		.tableCurrency th{
			background-color: #CCCCCC;
			min-width:100px;
			vertical-align: top;
			text-align: center;
			color: #000;
		}
		.tableCurrency td{
			text-align:right;
			padding-right:3px;
		}
		
		.btn{
			min-width: 200px;
		}
		
		.boxTitle{
			background-color: #999;
		    color: #FFFFFF;
		    display: block;
		    font-weight: bold;
		    height: 24px;
			width: 100%;
			font-size: 1.2em;
		}
		
		.colDetails{
			width: 300px;
			border: solid gray 1px;
		}
		
		.currency{
			border-spacing: 3px;
		}
		
		.currency td{
			text-align:left;
		}
		
		.titleLabel{
			display: block;
    		padding: 2px 0 0 5px;
		}
		
		.buttonsBox{
			text-align: center;
			padding: 8px;
		}
				
		.chosen-drop{
			min-width: 110px;
		}
		.chosen-single{
			min-width: 100px;
		}
		
		.spreadBox{
			border: 1px solid #999999;
    		border-radius: 3px;
		    display: block;
		    font-size: 1.2em;
		    font-weight: bold;
		    margin-bottom: 15px;
		    padding: 3px;
		}

		.tbl-all-agencies {
			border-spacing: 0;
			width: 100%;
			border: solid 1px #c1c1c1;
		}

		.tbl-all-agencies tr td {
			border-bottom: solid 1px #c1c1c1;
			padding: 5px;
		}

		.tbl-all-agencies tr th {
			background-color: #eee;
			padding: 10px;
			border-bottom: solid 1px #999;
		}

		.tbl-all-agencies tr td:nth-child(even) {
            background-color: #eee;
        }

		.ch-currency{
			width: 100% !important;
		}

		.search-choice {
			width: 290px !important;
		}

		#tabs-2 .chosen-container{
			width: 100% !important;
		}

		.pnl-clone .chosen-container{
			width: 350px !important;
		}

		.pnl-clone tr td{
			padding: 3px;
		}
	</style>		
    <table class="tbl_Details">
        <tr>
            <td rowspan="3" class="sidesColumn">                
                <c:menuAgency account="{!agency.id}" selectedItem="DashSettingForm"/>                
            </td>
            <td class="middleColumn">
                <div class="boxHeader">
                    <c:cpPageHeader PageType="agency" AccountID="{!agency.id}" />
                </div>	
            </td>
            <td rowspan="3" class="rightColumn sidesColumn">            
            </td>
        </tr>
        <tr class="titleRow">        
            <td>
                <div class="divHeader">
                    {!accRTName} Dashboard Settings
                </div>
            </td>            
        </tr>
        <tr>
            <td class="middleColumn bodyColumn">            
                <apex:form >					
                    <apex:includeLightning />

                    <div id="lightning" />
                    
                    <script>
                        $Lightning.use("c:lwcDashSettingsApp", function() {
                        $Lightning.createComponent("c:lwcDashSettings",
						   {"accoId" : "{!$CurrentPage.parameters.id}"},
                            "lightning",
                            function(cmp) {}
                        );
                        });
                    </script>                  
                </apex:form>    
            </td>
        </tr>
    </table>      
</apex:page>