<apex:page controller="enrolment_process" sidebar="true" tabstyle="contacts__tab" docType="html-5.0">
    <table class="tbl_Details">
        <tr>
            <td rowspan="3" class="sidesColumn">
                <c:menuContact contactid="{!Contact.id}" selecteditem="{!IF($ObjectType.User.fields.CliMenu_CourseProd__c.Accessible,'ContactCourses','ContactQuotations')}" />
            </td>
            <td class="middleColumn container-header">
                <div class="boxHeader">
                    <c:cpPageHeader pagetype="contact" contactid="{!Contact.id}" />
                </div>
            </td>
            <td rowspan="3" class="rightColumn sidesColumn">
                <c:contactSideBarButtons contactid="{!Contact.id}" />
            </td>
        </tr>
        <tr>
            <td class="middleColumn bodyColumn">
                <apex:include pageName="enrolment_process_inner_content"/>
            </td>
        </tr>
    </table>

    <apex:include pageName="EnrolmentStyle" />
    
</apex:page>