<apex:page controller="ep_finance_dashboard" ><!-- tabstyle="Dashboard__tab"> -->
    <apex:include pageName="xStylePageV2" />
    <apex:include pageName="xCourseSearchStyle" />
    
    <apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />    
    <apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />
    
    <apex:includeScript value="{!URLFOR($Resource.amcharts,'amcharts/amcharts.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.amcharts,'amcharts/serial.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.amcharts,'amcharts/themes/light.js')}" />
    
    
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    
    <style>
        .chartHeader{
            display: block;
            padding: 5px;
            font-weight: bold;
            border-bottom: solid 1px #c1c1c1;
            font-size: 1.5em;
            margin: 10px 0;
        }
        
        .chartHeaderTotal{
            font-size: 2.5em;
        }
        
        .labelTotal{
            font-weight: bold;
            color: #c1c1c1;
            font-size: 1.5em;
        }
        
        .filterbox {
            display: block;
            float: left;
            min-width: 160px;
            margin-right: 10px;
        }
        
        .filterbox select { width: 150px; }
        
        
        .filters {          
            border: 1px solid #999999 !important;
            border-radius: 5px;
            box-shadow: 0 0 0 #cccccc;
            height: 35px;
            margin: 1em 0.5em 0.5em 0.5em;
            padding: 15px;
            display: block;         
            background-color: #f3f3f3;
        }
        
        .even{
            background-color: #fff;
        }
        .odd{
            background-color: #f1f1f1;
        }
        
        .even td{
            color: #666 !important;
        }
        
        .odd td{
            color: #666 !important;
        }
        
        #topSalesPerson {
            width   : 100%;
            height  : 350px;
        }
        
        #topSeller{ 
            width   : 100%;
            height  : 350px;
        }
        
        #topCampuses {
            width       : 100%;
            height      : 350px;
            font-size   : 11px;
        }   
        
        .tableBox{
            border-radius: 5px;
            padding: 3px;
            margin-bottom: 10px;
            border-spacing: 10px;
            text-align: center;
        }
        
        .tableBox td {
            background: #f1f1f1;
            border-radius: 10px;
            padding: 5px;   
            
        }
        
        .list .even td{
            background-color: #ffffff !important;
        }
        
        .list tr td{
            text-align: left;
        }
        
        #chartReceived {
            width   : 100%;
            height  : 250px;
        }   
        
        #chartToReceived {
            width   : 100%;
            height  : 250px;
        }   
        
        th.headerRow:last-child{
            text-align: right;
        }
        
        .taskDays {
            width: 100%;
        }
        
        .taskDays tr td{
            border: none !important;
            line-height: 0px;
        }
    </style>
    
    
    
                
    <apex:form >
        <div class="filters">
            <apex:outputPanel id="formFilters">
                <div class="filterbox">
                    <apex:selectList value="{!selectedAgencyGroup}" size="1" styleclass="chosen" style="width: 200px; ">
                         <apex:SelectOptions value="{!agencyGroupOptions}" />
                         <apex:actionSupport action="{!updateGroup}" event="onchange" rerender="formFilters" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>
                     </apex:selectList>
                     <apex:outputText value="Agency Group" style="display: block;" /> 
                </div>
                <div class="filterbox">
                    <apex:selectList value="{!selectedAgency}" size="1" id="agencyList" styleclass="chosen" style="width: 200px;">
                         <apex:SelectOptions value="{!agencyOptions}" />
                         <apex:actionSupport event="onchange" rerender="formFilters" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>
                     </apex:selectList>
                     <apex:outputText value="Agency" style="display: block;" /> 
                </div>
                
                <div class="filterbox">
                    <apex:outputPanel styleClass="SearchField">
                        <apex:selectList size="1" value="{!selectedDepartment}" style="width:150px;" styleclass="chosen">
                            <apex:selectOptions value="{!Departments}" />
                            <apex:actionSupport event="onchange" rerender="formFilters" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>
                        </apex:selectList>
                        <apex:outputText value="Department" style="display: block;" /> 
                    </apex:outputPanel>
                </div>
                
                <div class="filterbox">
                    <apex:selectList value="{!selectedUser}" size="1" id="userList" styleclass="chosen" style="width: 200px;">
                         <apex:SelectOptions value="{!userOptions}" />
                     </apex:selectList>
                     <apex:outputText value="Users" style="display: block;" /> 
                </div>
                <div class="filterbox">
                    <apex:selectList value="{!SelectedPeriod}" size="1" styleclass="chosen">
                         <apex:SelectOptions value="{!periods}" />
                     </apex:selectList>
                     <apex:outputText value="Date Criteria" style="display: block;" /> 
                </div>
                <div class="filterbox">
                    <apex:commandLink value="Search" action="{!updateChart}" status="statusLoad" rerender="charts, scripts" styleClass="agencyButton" onComplete="jQuery('.chosen').chosen();" />
                </div>
                
            </apex:outputPanel>
        </div>
    </apex:form>
    
    <apex:outputPanel id="charts">
        <table width="100%" class="tableBox">
            <tr>
                <td style="background-color: #ffffff; font-size: 2em; width:25%;">
                    <apex:outputText value="G'Day {!$User.FirstName}!" style="display: block"/>
                    <apex:outputText value="{0,date, EEEE, dd MMM yyyy}" style="display: block; font-size:1em; margin-top: 15px;">
                        <apex:param value="{!today()}" />
                    </apex:outputText>
                </td>
                
                <td style="width:15%">
                    <div class="chartHeader chartHeaderTotal">
                    <apex:outputText value="0" rendered="{!ISNULL(TotalTasks)}" />
                    {!TotalTasks}
                    </div>
                    <div class='labelTotal'>Tasks</div>
                </td>
                <td style="width:15%">
                    <div class="chartHeader chartHeaderTotal">
                    <apex:outputText value="0" rendered="{!ISNULL(TotalOverdueTasks)}" />
                    {!TotalOverdueTasks}
                    </div>
                    <div class='labelTotal'>Overdue Tasks</div>
                </td>
                <td style="width:15%">
                    <div class="chartHeader chartHeaderTotal">
                    <apex:outputText value="0" rendered="{!ISNULL(TotLeads)}" />
                    {!TotLeads}
                    </div>
                    <div class='labelTotal'>New Leads</div>
                </td>
                <td style="width:15%">
                    <div class="chartHeader chartHeaderTotal">
                        <apex:outputText value="0" rendered="{!ISNULL(TotSales['tot'])}" />
                        <apex:outputText value="{0, number, currency}" >
                            <apex:param value="{!TotSales['tot']}" />
                        </apex:outputText>
                        
                    </div>
                    <div class='labelTotal'>Gross Tuition Received</div>
                </td>
                <td style="width:15%">
                    <div class="chartHeader chartHeaderTotal">
                        <apex:outputText value="0" rendered="{!ISNULL(TotSales['com'])}" />
                        <apex:outputText value="{0, number, currency}" >
                            <apex:param value="{!TotSales['com']}" />
                        </apex:outputText>
                        
                    </div>
                    <div class='labelTotal'>Commission Received</div>
                </td>
            </tr>
        
        </table>
        <!-- <apex:outputText value="{!agencyName[selectedAgency]}" rendered="{!NOT(ISNULL(agencyName))}" /> -->
        <table width="100%" class="tableBox">
            <tr>
                
                <td style="width:25%">
                    <div class="chartHeader">Tasks By Subject</div>
                    
                    <apex:pageBlock >
                        <apex:pageBlockTable value="{!TaskSubject}" var="r" rowClasses="even,odd">
                            <apex:column value="{!r['sub']}">
                                <apex:facet name="header">Subject</apex:facet>
                            </apex:column>
                            <apex:column value="{!r['tot']}" style="text-align: right; font-weight: bold;">
                                <apex:facet name="header">Total</apex:facet>
                            </apex:column>
                            
                        </apex:pageBlockTable>
                        
                    </apex:pageBlock>
                    
                    
                    
                </td>
                
                <td style="width:25%">
                    <div class="chartHeader">Tasks Next 7 Days</div>
                    
                    <apex:pageBlock >
                        <apex:pageBlockTable value="{!TaskNext7Days}" var="r" rowClasses="even,odd">
                            <apex:column >
                                <table class="taskDays">
                                    <tr>
                                        <td style="width:50%;">
                                            <apex:outputText value="{0,date, EEEE}">
                                                <apex:param value="{!r['dt']}" />
                                            </apex:outputText>
                                        </td>
                                        <td style="width:50%;">
                                            <apex:outputText value="{0,date, dd MMM yy}">
                                                <apex:param value="{!r['dt']}" />
                                            </apex:outputText>                                      
                                        </td>
                                    </tr>
                                </table>
                                <apex:facet name="header">Date</apex:facet>
                            </apex:column>
                            <apex:column value="{!r['tot']}" style="text-align: right; font-weight: bold;">
                                <apex:facet name="header">Total</apex:facet>
                            </apex:column>
                            
                        </apex:pageBlockTable>
                        
                    </apex:pageBlock>
                    
                    
                    
                </td>
                
                
                <td style="width:25%">
                    <div class="chartHeader">Tasks By Priority</div>
                    <apex:pageBlock >
                        
                        <apex:pageBlockTable value="{!TaskPriority}" var="r" rowClasses="even,odd">
                            <apex:column value="{!r['pri']}">
                                <apex:facet name="header">Priority</apex:facet>
                            </apex:column>
                            <apex:column value="{!r['tot']}" style="text-align: right; font-weight: bold;">
                                <apex:facet name="header">Total</apex:facet>
                            </apex:column>
                            
                        </apex:pageBlockTable>
                    
                    </apex:pageBlock>
                    
                    <div class="chartHeader">Leads By Type</div>
                    <apex:pageBlock >
                        
                        <apex:pageBlockTable value="{!TotLeadsByType}" var="r" rowClasses="even,odd">
                            <apex:column value="{!r['tp']}">
                                <apex:facet name="header">Priority</apex:facet>
                            </apex:column>
                            <apex:column value="{!r['tot']}" style="text-align: right; font-weight: bold;">
                                <apex:facet name="header">Total</apex:facet>
                            </apex:column>
                            
                        </apex:pageBlockTable>
                    
                    </apex:pageBlock>
                </td>
                
                <td style="width:25%">
                    <div class="chartHeader">This Month Top 3 Sellers </div>
                    <apex:pageBlock >
                        <div id="topSalesPerson"></div> 
                    </apex:pageBlock>
                        
                </td>
            </tr>
        </table>
        
        <!-- <table width="100%" class="tableBox">
            <tr>
                <td style="width:50%;">
                    <div class="chartHeader">Gross Tuition Received Last 60 Days by Day</div>
                    <div id="chartReceived"></div>  
                </td>
                <td style="width:50%;">
                    <div class="chartHeader">Gross Tuition To Received Next 60 Days by Day</div>
                    <div id="chartToReceived"></div>    
                </td>
            </tr>
        </table> -->
    
    </apex:outputPanel>

    
    <apex:outputPanel id="scripts"> 
        <script>
        
            var chart = AmCharts.makeChart("topSalesPerson",
                {
                    "type": "serial",
                    "theme": "light",
                    "dataProvider": {!MostClientsEnrolledByUser},
                    "startDuration": 1,
                    "graphs": [{
                        "balloonText": "<span style='font-size:13px;'>[[category]]: <b>[[value]]</b></span>",
                        "bulletOffset": 10,
                        "bulletSize": 52,
                        "colorField": "color",
                        "cornerRadiusTop": 8,
                        "customBulletField": "personPic",
                        "fillAlphas": 0.8,
                        "lineAlpha": 0,
                        "type": "column",
                        "valueField": "salesTotal"
                    }],
                    "marginTop": 0,
                    "marginRight": 0,
                    "marginLeft": 0,
                    "marginBottom": 0,
                    "autoMargins": false,
                    "categoryField": "name",
                    "categoryAxis": {
                        "axisAlpha": 0,
                        "gridAlpha": 0,
                        "inside": true,
                        "tickLength": 0,
                        "labelsEnabled": false
                    }
                });
                
                
               
            
            
            
        </script>
        
        
                
    </apex:outputPanel>
    <script>

        jQuery( document ).ready(function() {
            jQuery('.chosen').chosen();
        });
        
    </script>
    
</apex:page>