<apex:page showHeader="false" sidebar="false" controller="fileUploadDocuments" action="{!constructor}" >
    <apex:includeScript value="{!$Resource.jquery}"/>
    
    
    <style>
        .blockpage{
        background-image: url('{!URLFOR($Resource.ipstyles,'ipstyles/skin02img/bg-20black.png')}');
        z-index: 9998;
        height: 100%;
        width: 100%;
        //background-repeat:no-repeat;
        background-position:center;
        position:absolute;
        top: 0px;
        left: 0px;

        }
        
        .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        //  margin-top: -100px;
        //  margin-left: -100px;
        }
    </style>
    
    <script>
        var j$ = jQuery.noConflict();
        function showLoading(){
        j$('#loading').css('display','block');
        }
        function hideLoading(){
        j$('#loading').css('display','none');
        }
        

    </script>   
     
    <div id="loading" style="display:none;" >
        <div id="loadingBackground"  class="blockpage">
            <div id="loadingImage"  class="centered">
                <apex:image alt="tips" url="{!URLFOR($Resource.icons,'icons/loading/loading11.gif')}"  />
            </div>
        </div>
    </div>
    
    <apex:outputpanel rendered="{!$CurrentPage.parameters.fileName != null}" id="thepanel" style="float:right;">
        <script>
            function UpdateOpener() {
            	
            	window.parent.UpdateOpener('{!$CurrentPage.parameters.fileName}',jQuery('#fn').val());
            }
            jQuery(document).ready(function(){
            	UpdateOpener();
            });			
			
          
        </script>
    </apex:outputpanel>
    <apex:messages />
    <table style="margin: 0px 8px;">
        <tr>
            <td style="vertical-align:top;">
                <apex:form >
                    <apex:actionFunction action="{!setParameters}" name="setParameters" rerender="infopanel, infopanelEmail,infopanelAgreement, pnlFileName,pnlFileNameButtons" status="ipStatus" oncomplete="hideLoading();" >
                        <apex:param name="contentType" assignTo="{!contentType}" value="" />
                        <apex:param name="fileName" assignTo="{!fileName}" value="" />
                        <apex:param name="fileSize" assignTo="{!fileSize}" value="" />
                    </apex:actionFunction>
                    <!--apex:actionFunction name="refreshValues" rerender="infopanel" status="ipStatus" /-->
                </apex:form>
            </td>
            <td >
                <form action="https://s3.amazonaws.com/{!bucketName}" method="post" enctype="multipart/form-data" id="emailAttachment">
                    <table>
                        <tr>
                            <td>
                            
                            <apex:outputLabel value="File" style="color: orange;font-size: 0.9em;font-weight: bold;" /></td>
                            <td><apex:outputLabel value="Rename File" style="color: orange;font-size: 0.9em;font-weight: bold;" /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                            	
                            	<!-- <apex:variable value="{!TODAY()}" var="fileDate"/> -->
                                <apex:outputPanel id="infopanel" rendered="{!$CurrentPage.parameters.fromEmail = null && $CurrentPage.parameters.fromAgreement = null}" >
                                    <apex:variable value="{!fileSize}" var="fz" />
                                    <input type="hidden" id="fn" name="key" value="{!employee.contact.account.AgencyGroup__c}/Clients/{!$CurrentPage.parameters.clientId}/Documents/{!clientDocFile.Doc_Document_Type__c}/{!$CurrentPage.parameters.docId}/{!fileName}" />
                                    <input type="hidden" name="AWSAccessKeyId" value="{!key}" />
                                    <input type="hidden" name="policy" value="{!policy}" />
                                    <input type="hidden" name="signature" value="{!signedPolicy}" />
                                    <input type="hidden" name="acl" value="{!access}" /> 
                                    <input type="hidden" id="ct" name="Content-Type" value="{!contentType}" /> 
									<input type="hidden" name="Content-Disposition" value="{!contentDisposition}" />
                                    <input type="hidden" name="success_action_redirect" value="https://{!PageHost}/{!commName}/fileUploadDocuments?filename={!fileName}&docCategory={!clientDocFile.Doc_Document_Category__c}&docType={!clientDocFile.Doc_Document_Type__c}&docId={!$CurrentPage.parameters.docId}&clientId={!$CurrentPage.parameters.clientId}&fileSize={!fileSize}" />
                                </apex:outputPanel>
								
								<apex:outputPanel id="infopanelEmail" rendered="{!$CurrentPage.parameters.fromEmail = 'true' && $CurrentPage.parameters.fromAgreement = null}" >	
                                    <apex:variable value="{!fileSize}" var="fz" />
                                    <input type="hidden" id="fn" name="key" value="{!globalLinkId}/Clients/{!$CurrentPage.parameters.clientId}/Emails/Attachments/{!fileDate}{!fileName}" />
                                    <input type="hidden" name="AWSAccessKeyId" value="{!key}" />
                                    <input type="hidden" name="policy" value="{!policy}" />
                                    <input type="hidden" name="signature" value="{!signedPolicy}" />
                                    <input type="hidden" name="acl" value="{!access}" /> 
                                    <input type="hidden" id="ct" name="Content-Type" value="{!contentType}" />
									<input type="hidden" name="Content-Disposition" value="{!contentDisposition}" />
                                    <input type="hidden" name="success_action_redirect" value="https://{!PageHost}/{!commName}/fileUploadDocuments?filename={!fileName}&clientId={!$CurrentPage.parameters.clientId}&fileSize={!fileSize}&fromEmail=true" />
                                </apex:outputPanel>
                                
                                 <!-- AGREEMENT -->
                                <apex:outputPanel id="infopanelAgreement" rendered="{!$CurrentPage.parameters.fromAgreement = 'true'}" >						
                                    <apex:variable value="{!fileSize}" var="fz" />
                                    <input type="hidden" id="fn" name="key" value="{!schoolId}/Agreements/{!agreementId}/{!longD}/{!fileName}" />
                                    <input type="hidden" name="AWSAccessKeyId" value="{!key}" />
                                    <input type="hidden" name="policy" value="{!policy}" />
                                    <input type="hidden" name="signature" value="{!signedPolicy}" />
                                    <input type="hidden" name="acl" value="{!access}" /> 
                                    <input type="hidden" id="ct" name="Content-Type" value="{!contentType}" />
									<input type="hidden" name="Content-Disposition" value="{!contentDisposition}" />
									<input type="hidden" name="success_action_redirect" value="https://{!PageHost}/{!commName}/fileUploadDocuments?filename={!fileName}&schId={!$CurrentPage.parameters.schId}&agrID={!$CurrentPage.parameters.agrID}&longD={!$CurrentPage.parameters.longD}&fromAgreement=true" />
                                </apex:outputPanel>
								<!-- END AGREEMENT -->
								
								
                                <input type="file" name="file" onchange="getFileName(this.value,this.files[0].size);checkFieldsUpload();" class="inputFile" style="width:260px;max-width: 260px;"/>
                            </td>
                            <td>
                                <apex:outputPanel id="pnlFileName">
                                    <input type="text"  value="{!filename}" style="width:200px;" class="changedFileName" onkeypress="checkChar(event);" />									
                                </apex:outputPanel>
                            </td>
                            <td>
								<apex:outputPanel id="pnlFileNameButtons">
									<input class="btnRename agencyButton" type="button" value="Confirm rename" onclick="return changeName('{!filename}','{!fileSize}');"  disabled="disabled" />                                	
								</apex:outputPanel>
									<input class="btnFile" type="submit" value="Upload document" onclick="return checkFields('{!filename}');"  />
                            </td>
                        </tr>
                    </table>
                    <script>
						
						
						
						function checkChar(evt){
						
						
							var charCode = evt.which;							
						
							jQuery('.btnRename').removeAttr('disabled');
							jQuery('.btnFile').attr('disabled', 'disabled');
							
							if(charCode == 0 || charCode == 8 || charCode == 45 || charCode == 95 || charCode == 40 || charCode == 41 || charCode == 32)
								return;							
							
							
							var charTyped = String.fromCharCode(charCode);
							var letters = /^[0-9a-zA-Z]+$/;
							if(!letters.test(charTyped))
								evt.preventDefault();
							
								
							
							
						}

                            
                        function changeName(fileName,fileSize){
							showLoading();
	                        var index = fileName.lastIndexOf(".");
	                        var newFileAux = jQuery('.changedFileName').val();
	                        var fisrtIndex = newFileAux.indexOf(".");
	                        var newFile = '';
	                     
							if(fisrtIndex != -1)
	                        	newFile = newFileAux.substr(0,fisrtIndex) + fileName.substr(index);
	                        else if(newFileAux == '')
	                        	newFile = fileName;
	                        else newFile = newFileAux + fileName.substr(index);
	                        
							newFile = newFile.replace(/ +(?= )/g,'');
						
							//jQuery('.btnFile').val('Click here to upload: '+newFile);
							
							
	                        setParam(document.getElementById('ct').value, newFile,fileSize);                        
                            jQuery('.btnFile').removeAttr('disabled');
							jQuery('.btnRename').attr('disabled', 'disabled');
							
                        }
						
                        function checkFields(){
							
							var fName = jQuery('.changedFileName').val();
							
							for (var i=0; i < fName.length; i++) {
								
								var charCode = fName[i].charCodeAt();
							
								if(charCode == 0 || charCode == 8 || charCode == 45 || charCode == 95 || charCode == 40 || charCode == 41 || charCode == 46 || charCode == 32)
									continue;
							
								var charTyped = String.fromCharCode(charCode);
								var letters = /^[0-9a-zA-Z]+$/;
								if(!letters.test(charTyped)){
									alert('File	name contains invalid characters.');
									return false;
								}
							
							}
							
	                        if(jQuery('.inputFile').val() == '' || jQuery('.changedFileName').val() == ''){
								alert('Please fill in all fields.');
	                        	return false;
	                        } else {
	                        	showLoading();
	                        	return true;
	                        }
                        }

                        
						function checkFieldsUpload(){	                        
													
	                        if(jQuery('.changedFileName').val() == '' || jQuery('.changedFileName').val() == ''){
	                            jQuery('.btnFile, .inputFile').attr('disabled','disabled');
	                            jQuery('.inputFile').val('');
	                        } else {
	                            jQuery('.btnFile, .inputFile').removeAttr('disabled');
	                        }
                       
                        }
                                    
                        function getFileName(str,filesize){
                        
                        	str = str.replace('C:\\fakepath\\', '');                        
                        	str = str.replace(/ +(?= )/g,'');
                        	
	                        var index = str.lastIndexOf(".")+1;
	                        var extension = str.substr(index);
	                        var fileName =  str.substr(0,index-1);	                                           
	                        document.getElementById('fn').value = str;
							if(extension == 'pdf')
								document.getElementById('ct').value = 'application/pdf';
							else
	                        	document.getElementById('ct').value = extension;
	                        //jQuery('.btnFile').val('Click here to upload: '+fileName);
	                        jQuery('.btnFile').css('color','navy');
	                        jQuery('.changedFileName').val(fileName);
	                        
	                        setParam(document.getElementById('ct').value, document.getElementById('fn').value,filesize);
                            
                        }
                            
                        function setParam(val1,val2,val3){
                        	return setParameters(val1,val2,val3);
                        }
                                
                        jQuery(document).ready(function(){
                        	jQuery('.btnFile, .changedFileName').attr('disabled','disabled');

                        });
                    </script>
                </form>
            </td>
        </tr>
    </table>


</apex:page>