<apex:page standardstylesheets="false" >
    
    <apex:includeScript value="{!$Resource.jquery}"/> 
    <!--<apex:includeScript value="{!URLFOR($Resource.JqueryAcc, 'js/jquery-1.8.0.min.js')}"/>  -->
    <apex:includeScript value="{!$Resource.jqueryBlockUI}" />
    
    <!--<apex:includeScript value="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"/>-->
    
    <apex:includeScript value="{!$Resource.jquerytooltip}"/>
    <apex:includeScript value="{!$Resource.jMaskedInput}"/>
    <apex:includeScript value="{!$Resource.jQueryUiCore}"/>
    <apex:includeScript value="{!$Resource.jqueryUiSpinner}"/>

    <apex:includeScript value="{!$Resource.JQuerySpliterPlugin}"/>
    <apex:stylesheet value="{!$Resource.JQuerySpliterPluginCss}"/>
        
    <script type="text/javascript">
        jQuery.noConflict();
        jQuery("body", top.document).find('li[id=home_Tab]').css('display','none');
    </script>
    

    
    <apex:stylesheet value="{!URLFOR($Resource.ipstyles,'ipstyles/skin02.css')}"/>
    
    
    <apex:includeScript value="{!URLFOR($Resource.ipscripts,'ipscripts/2.8.0r4/utilities.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.ipscripts,'ipscripts/2.8.0r4/yahoo-dom-event.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.ipscripts,'ipscripts/ip-scripts-v1.0.js')}" />
    
    
<apex:styleSheet value="{!URLFOR($Resource.YUILibrary,'YUILibrary/2.9.0/build/assets/skins/sam/skin.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.YUILibrary,'YUILibrary/2.9.0/build/yahoo-dom-event/yahoo-dom-event.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.YUILibrary,'YUILibrary/2.9.0/build/container/container-min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.YUILibrary,'YUILibrary/2.9.0/build/animation/animation-min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.YUILibrary,'YUILibrary/2.9.0/build/dragdrop/dragdrop-min.js')}" />
    

    <!-- Fancy Box -->
    <apex:includeScript value="{!URLFOR($Resource.FancyBox,'fancybox/jquery.fancybox-1.3.4.pack.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.FancyBox,'fancybox/jquery.easing-1.3.pack.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.FancyBox,'fancybox/jquery.mousewheel-3.0.4.pack.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.FancyBox,'fancybox/jquery.fancybox-1.3.4.css')}"/>
    <!-- // Fancy Box -->
        
    <script type="text/javascript">
        
        jQuery('a.top').click(function(){
            jQuery('html, body').animate({scrollTop: '0px'}, 300);
            return false;
        });
        
        function FixSalesForceCalendar(){
            
            // Settings
            var PreviousYears = 100; 
            var NextYears = 25;
            
            // Assign year from SalesForce System
            var PresentYear = {!YEAR(TODAY())};
        
            // assigning current year from VisualForce System Var.          
            var selectedCalOption = PresentYear;
            
            // selector for SalesForce Calendar
            var selectCal = jQuery('#calYearPicker');
            
            // retrieving and removing SalesForce default options           
            var options = selectCal.attr('options');
            jQuery('option', selectCal).remove();
    
            // populating new list of options
            var InitialYear = PresentYear - PreviousYears;
            var FinalYear = PresentYear + NextYears;
            for(i = InitialYear; i < FinalYear; i++){
            jQuery(selectCal).append(new Option(i,i));};

            // setting current years as selected option 
            selectCal.val(selectedCalOption);
        
        };
         
        function initMenu() {
            
            // alert('tada');
            
            jQuery('#ipMenu li ul').hide();
			jQuery('.initOpen').css("display", "block");
            jQuery('#ipMenu li:has(ul)').addClass("ipMenufull");
            jQuery("#ipMenu li:has(ul) [href='#']").click(
            
                        function() {
                        
                            jQuery(this).next().slideToggle('slow');    
                            jQuery(this).parent("li").toggleClass("ipMenufullOpen");
                
                        return false;
                        }
            );

            jQuery("a.ipMenuLink").click(

                    function() {
                        
                        jQuery('a.selected').removeClass("selected");
                        jQuery(this).addClass("selected");
                        jQuery(this).blur();
                    
                        return false;
                        }       
        
            );
        
        }
            
      function initMenuClass() {
            
            // alert('tada');
            
            jQuery('.ipMenu li ul').hide();
			
			
            jQuery('.ipMenu li:has(ul)').addClass("ipMenufull");
            jQuery(".ipMenu li:has(ul) [href='#']").click(
            
            function() {
                        
            jQuery(this).next().slideToggle('slow');    
            jQuery(this).parent("li").toggleClass("ipMenufullOpen");
                
            return false;
            }
            );

            jQuery("a.ipMenuLink").click(

            function() {
                        
            jQuery('a.selected').removeClass("selected");
            jQuery(this).addClass("selected");
            jQuery(this).blur();
                    
            return false;
            }   
			
			 
        
            );
        
            }
            
        function addZero(dt){
            var d = jQuery(dt).val().split('/');
            if(d[0].length==1)
            jQuery(dt).val('0' + jQuery(dt).val());
        }
        
    /*  function sizeFrame() {
            jQuery(".autoHeight", top.document).css({ height: 0 });
            var heightDiv = jQuery(".autoHeight", top.document).contents().find('body').attr('scrollHeight') + 75;
            jQuery(".autoHeight", top.document).css({ height: heightDiv });
        }*/
            
            
        function sizeFrame() {
            var heightDiv = jQuery("iframe",top.document).contents().find('body').attr('scrollHeight'); 
            heightDiv += 50;
            
            
            
            jQuery("iframe",top.document).css({height:heightDiv});
            //alert(heightDiv);
        }
        
            
        function reSizeFrame(){
            sizeFrame();
            jQuery(".autoHeight").load(sizeFrame);  
        }
        
        jQuery(document).ready(function() {
            
            initMenu();
            
            //reSizeFrame();
            
        //  var heightDiv = jQuery("iframe",top.document).contents().find('body').attr('scrollHeight') + 75; 
        //  jQuery("iframe",top.document).css({height:heightDiv});
            
        //  var widthDiv = jQuery("iframe",top.document).contents().find('body').attr('scrollWidth'); 
            
        //  jQuery('#split_this').width(widthDiv).height(heightDiv).split({orientation:'vertical', limit:100});
                        
            FixSalesForceCalendar();

            jQuery(".sublinks").fancybox({
                'overlayOpacity'        :  '0.7',
                'overlayColor'          :  '4D4D4D',
                'showNavArrows'         :  'false',
                'overlayShow'           :   'true'
            });
        
            jQuery(".notes").fancybox({
                    'type' : 'iframe',
                    'overlayOpacity' : '0.5',
                    'overlayColor' : '4D4D4D',
                    'width' : '500',
                    'height' : '400',
                    'titleShow' :   'true',
                    'titlePosition' :   'outside'
            });
         
            jQuery(".GoogleMapLink").fancybox({
                'type' : 'iframe',
                'overlayOpacity' : '0.5',
                'overlayColor' : '4D4D4D',
                'width' : '700',
                'height' : '700',
                'titleShow' :   'false',
                'titlePosition' :   'outside'
             });


            jQuery(".date-mask").attr('onchange','addZero(this)');
            jQuery(".date-mask").attr('onclick','addZero(this)');
            jQuery(".date-mask").click();
            jQuery(".date-mask").mask("99/99/9999");
            
            jQuery(".YearMask").mask("9999");
                    
            jQuery(".ValidateName").keyup(function() {              
                if (this.value.match(/[^a-zA-Z]/g)) {
                    this.value = this.value.replace(/[^a-zA-Z#@$-'"^& ]/g, '');
                };                      
                toUpper(this);
            });
            
            /*jQuery(".phone").keyup(function() {                   
                if (this.value.match(/[^0-9]/g)) {
                    this.value = this.value.replace(/[^0-9#+()@$'"^& ]/g, '');
                };
            });*/
            
        
            
            
        });
            
        function showLoading() { 
            jQuery.blockUI({ css: { 
                border: 'none', 
                padding: '15px', 
                backgroundColor: '#000', 
                '-webkit-border-radius': '10px', 
                '-moz-border-radius': '10px', 
                opacity: .5, 
                color: '#fff' 
            } }); 
     
            //setTimeout(jQuery.unblockUI, 2000); 
          }
        
        function hideLoading(){
            jQuery.unblockUI();
        }
        

    </script>
            
    <script type="text/javascript">
                function toUpper(obj) {
                var mystring = obj.value;
                var sp = mystring.split(' ');
                var f ,r;
                var word = new Array();

                for (i = 0 ; i < sp.length ; i ++ ) {
                    f = sp[i].substring(0,1).toUpperCase();
                    r = sp[i].substring(1).toLowerCase();
                    word[i] = f+r;
                    }
                
                    newstring = word.join(' ');
                    obj.value = newstring;
                    return true;   
                    }
    </script>
    
    <!--<apex:actionStatus id="ipStatus">
        <apex:facet name="start">
            <c:enhancedActionStatus ImageUrl="{!URLFOR($Resource.icons,'icons/loading/loading1.gif')}" Message="Please wait..." messageStyle="font-weight:bold;" />
        </apex:facet>
    </apex:actionStatus>-->
    <apex:actionStatus id="ipStatus" onstart="showLoading();" onstop="hideLoading();" />
    
    <style type="text/css">
    
    <!-- from external resources StyleCSS2 -->
                        
    body {
        height:100%;
        margin:0;
        padding:0;
    }
    
    /*
    .ip-canvas, .ip-canvas table, .ip-canvas th, .ip-canvas td {font-family:Tahoma, Arial, sans-serif; font-size:1em; color:#666;}
    .ip-canvas {margin:10px; text-align:left;}
    .ip-canvas a {color:#069; text-decoration:none;}
    .ip-canvas a:hover {color:#09F; text-decoration:underline;}
    */
                        
    /*                  
    ul.ipTabs {margin:0px; padding:0px}
    .ipTabs li {list-style-type:none; display:inline-block; border:2px solid #666;border-bottom:0px solid #666;margin:0px; padding:0px}
    .ipTabs li a {display:block; padding:2px 10px; solid; color:#666;}
    .ipTabs li.selected  {color:#000; border:2px solid #666;border-bottom:0px solid #666;}
    .ipTabs li.selected a {color:#000;}
    .ipTabs li.disabled  {color:#999; cursor:default; border:2px solid #999;border-bottom:0px solid #666;}
    .ipTabs li.disabled a {color:#999; cursor:default;}
    */

    .smaller {font-size:0.8em;}
    .popup {position:absolute; left:0; top:0;border-style:solid;border-width:1;border-color:#c0c0c0;background-color:white;padding:5px;z-indee;padding:10px;}
                                            
    .ip-contents {border:1px solid #666; border-right:3px solid #999; border-bottom:3px solid #999; padding:10px; min-height:500px;}
                                        
    .ip-left-column, .ip-right-column  {width:180px; font-size:1em; padding:0px 10px;}
    .ip-left-column {float:left;}
    .ip-right-column {float:right;}
    .ip-left-column .ip-customer-photo {text-align:center; margin:5px;}


    .ip-main-content {margin:0px 210px;}

    .ip-main-content h1, .ip-main-content h2, .ip-main-content h3 {margin:1px;}
    .ip-main-content h1 {font-size:1.2em;}
    .ip-main-content h2 {font-size:1.1em;}
    .ip-main-content h3 {font-size:1em;}
    .ip-main-content p {margin:3px;}
    .ip-main-content form {float:left; width:100%;}


    .ip-main-content table.list {margin-bottom:10px; font-size:1em; width:400px;border-collapse: collapse;}
    .ip-main-content table.list td {border:1px solid .999; margin:0px; padding:2px; background-color:#FFF;}
    .ip-main-content table.list td:hover {color:.000; background-color:#CCC;}

    .clear {clear:both; height:0px; font-size:0px;}
    .hideIt {display:none;}


    <!--
    .boxit {background-color:#FFF; padding:0px;}
    .colapsible-list {border-top:1px solid #666;}
    .colapsible-list .boxit {background-color:#FFF; padding:2px;border-top:0px solid #fff;}
    .evenRow {background-color:#FFF; padding:10px;border-top:1px solid #666;}
    .oddRow  {background-color:#DDD; padding:10px;border-top:1px solid #666;}
    -->
                        
    .ClientPhoto {-moz-border-radius:3px 3px;text-align:center;background-color: #2babd6; padding:5px; margin-bottom:5px;}
    .ip-sidebar-note{display:none;border:1px solid #999; padding:2px;}

    <!--                    
    .w150 input, .w150 textarea, .w150 select,
    .ip-sidebar-note input, .ip-sidebar-note textarea, .ip-sidebar-note select,
    #addNewNotePopUp input, #addNewNotePopUp textarea, #addNewNotePopUp select
    {width:150px !important;margin-left:0px;}
    -->
                        
    <!--                    
    .flatButton {   
    -moz-border-radius:3px 3px 0 0; /*corners*/
    background:url("/img/alohaSkin/btn_sprite.png") repeat-x scroll right top #E8E8E9;
    border-color:#B5B5B5 #B5B5B5 #7F7F7F;
    border-style:solid;
    border-width:1px;
    color:#333333;
    font-size:1.1em;
    font-weight:bold;
    margin:1px;
    padding:5px 3px;
    }
    
    
    .flatButton:hover {background-pos3px 3px 0 0ition:right -30px; text-decoration:none;}
    a.flatButton {color:black !important; text-decoration:none !important; margin:0px;}
    a.flatButton:hover {color:black !important; text-decoration:none !important;}
    -->

    /*tables */
    table.grey-zebra{border-collapse: collapse;margin:0px; width:100%;}
    table.grey-zebra tr:hover td {background-color: #E3F3FF !important;}
    table.controls {border-collapse: separate;padding:2px: width:100%;border:1px solid #D4DADC; width:100%;}
    table.withDivisor {
    border-collapse:separate;
    border-bottom:5px solid #2BABD6;
    border-top:0 solid;
    margin-bottom:5px;
    padding-bottom:5px;}

    .ip-left-column table.grey-zebra {width:180px;}

    h3.subtitle {
    -moz-border-radius:3px 3px; /*corners*/
    background-color: #2babd6;
    font-weight:bold;
    margin:2px 0px 2px 0px;
    color:#FFF;
    margin:2px 0;
    padding:3px;
    display:block;}

    .ip-right-column h3.subtitleClick,
    .ip-left-column h3.subtitleClick {
    -moz-border-radius:3px 3px; /*corners*/
    background-color: #2babd6;
    font-weight:bold;
    margin:2px 0px 2px 0px;
    color:#FFF;
    margin:2px 0;
    padding:3px;
    display:block;
    cursor:pointer;}
    
    .ip-left-column     tr, .ip-left-column     td {background-color:#cfeef8 !important; border:0px solid !important;}
    
    .ip-main-content table.grey-zebra input[type="text"], 
    .ip-main-content table.grey-zebra textarea,
    .ip-main-content table.grey-zebra select
    {width:200px; margin-bottom:3px; margin-left:6px; border:#1px solid #666;}

    <!--                    
    table.grey-zebra input.btn { margin-left:6px;}
    table.grey-zebra input[type="checkbox"], table.grey-zebra input[type="radio"]  {width:20px;}
    table.grey-zebra select {width:202px;}

    table.grey-zebra .requiredInput input, table.grey-zebra .requiredInput textarea, table.grey-zebra .requiredInput select {margin-left:0px;}


    table.grey-zebra th {background:url('/img/alohaSkin/grid_headerbg.gif') repeat-x scroll 0 bottom #FFFFFF; border-width:0 0 1px 1px; coloize:0.9em; font-weight:bold; padding:5px 2px 4px 5px;}
    table.grey-zebra tr {border:1px solid #D4DADC;}
    table.grey-zebra tr.even td {background-color: #eee;}
    table.grey-zebra tr.odd td {background-color: #fff;}
    
    table.grey-zebra tr:hover td {background-color: #E3F3FF;}
    
    table.grey-zebra td {padding:5px;}
    table.grey-zebra  td.label, table.grey-zebra  td label {font-weight:bold;}

    table.grey-zebra a.item {background-color: #eee;font-weight:bold;color:#636466;display:inline-block;width:168px;padding:2px 5px;}
    table.grey-zebra a:hover.item {text-decoration:none;background-color: #E3F3FF;}
    table.grey-zebra td.label {max-width:120px; vertical-align:top;}
    table.grey-zebra td.value {}
    table.grey-zebra td.value-right {text-align:right;}


    table.two-columns {width:100%;}
    table.two-columns tr td.button,table.two-columns tr:hover td.actions,
    table.grey-zebra tr td.button,table.grey-zebra tr:hover td.actions
    {background-color:#fff;}

    table.grey-zebra td.actions, table.two-columns td.actions , table.controls td.actions {text-align:center;}

    table.controls td.actions a.btn,
    table.grey-zebra  td.actions a.btn ,
    a.ipflatbtn 
    {margin-left:6px;display:inline-block; text-align:center;}

    table.controls  td.actions input.btn,
    table.controls  td.actions a.btn,
    table.controls  td.actions input.button,
    table.grey-zebra  td.actions input.btn,
    table.grey-zebra td.actions a.btn,
    table.grey-zebra  td.actions input.button,
    input.ipflatbtn, a.ipflatbtn
    {   -moz-border-radius:3px 3px 3px 3px; /*corners*/
    background:url("/img/alohaSkin/btn_sprite.png") repeat-x scroll right top #E8E8E9;
    border-color:#B5B5B5 #B5B5B5 #7F7F7F;
    border-style:solid;
    border-width:1px;
    color:#333333;
    font-size:0.9em;
    font-weight:bold;
    margin:1px 5px;
    padding:2px 5px;}
    -->
                        
    table.controls td.actions input:hover.btn,
    table.controls  td.actions a:hover.btn,
    table.controls  td.actions input:hover.button,  
    table.grey-zebra  td.actions input:hover.btn,
    table.grey-zebra  td.actions a:hover.btn,
    table.grey-zebra  td.actions input:hover.button,
    input:hover.ipflatbtn, a:hover.ipflatbtn
    {background-position:right -30px; text-decoration:none;}
                        
    .ipflatbtn{text-decoration:none;}
    .btn{text-decoration:none;}



    table.no-borders {border:0px solid; padding:0px;}

    table.grey-zebra table {border:0px solid;border-collapse: collapse;background-color:transparent !important;}
    table.grey-zebra table  tr{border:0px solid;}
    table.grey-zebra table  td{padding:0px;}


    .no-borders .boxit {background-color:transparent; padding:0px;}
    .evenRow-no-borders {background-color:#FFF;padding:2px 10px;}
    .oddRow-no-borders  {background-color:#DDD;padding:2px 10px;}
    .no-borders td {margin:0px;}

    textarea.large {width:95% !important; height:400px;}



    /**/
    .fixed-width td.label {max-width:220px; width:220px;}


    /**/
    .tableradio {width;10px;}
    .tableradio  td {padding:0px;}

    /* IP TABS */
    .ipTabHide, .ipTabShow {border:1px solid #D4DADC; background-color:#FFF; margin:5px; padding:5px;min-width:550px;}
    .ipTabHide {display:none;}
    .ipTabShow {display:block; float:left;}
    .ipTabGroup {}

    .ipTabMenu {
    -moz-border-radius:3px 3px; /*corners*/
    background-color: #cfeef8;
    margin:3px 0px 10px 0px;}
    .ipTabMenu ul, .ipTabMenu li {padding:0px;margin:0px; list-style-type:none;}
    .ipTabMenu ul {}
    .ipTabMenu li {}
    .ipTabMenu li a  {color:#000000;text-decoration:undeline;display:inline-block;width:168px;padding:2px 5px;}
    .ipTabMenu li a:hover{text-decoration:undeline;color:#000000;} /*background-color: #9CF;*/


    /* OVERWRITE SF Standard */
    .requiredInput {border-left:4px solid red; display:inline-block; padding-left:2px;}
    .killMyButton img {display:none;} /*overwriting search buttonin lookup fields*/
    td.dr-tbpnl-cntnt {font-size:1em;}

    .textboxdate   {width:80px !important;}
    .textboxnumber {width:40px !important;}
    .textboxmoney  {width:60px !important;}
    .dateFormat    {display:none;}
    .showDefaultDate .dateFormat    {display:inline-block;}


    /* MODAL */
    .overlay {
    visibility: visible;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
    background-image:url('skin02img/bg-20black.png');
    }
    
    .ipModalBox {
    max-width:800px;
    margin: 100px auto;
    background-color: #fff;
    border:1px solid #000;
    padding:15px;
    text-align:center;
    }


    <!-- IP Home Structure -->
                
    .table-element-right {float: right;}
    .table-element-left {float: left;}
    
    table.IPHomeTable {width:100%; border:0px solid #999;}
    table.IPHomeTable td {border:0px solid #999; padding:0px; margin:0px;}

    .squareBtn {width:60px; height:60px; margin:5px; padding:10px; float:left; text-align:center; vertical-align:middle; display:inline-block; border:1px solid #999;}

    .requiredInput {border: 0px; padding:0x;}

    .IPHomeTable select {
       // background: #ECF4F7;
		background: linear-gradient(to bottom, #E34A4C 0%, #DC2328 99%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(99%,rgba(194,194,194,1))) !important; /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(194,194,194,1) 99%)  !important; /* Chrome10+,Safari5.1+ */
		color: #FFFFFF !important;
        font-size: 11px;
        border: 1px solid #CCC;
        float: right;
        }

 
    div#cfp {
        width:100%px;  
        margin: 0;
        text-align: left;
        border: 1px;
        background: red;
        }
        

    div#elicos, #vet {     
        position:relative;
        float:left;
        top:0px;
        left:0px;
        width:48%;
        }

    div#space {     
        position:relative;
        float:left;
        top:0px;
        left:0px;
        width:4%;
        }

        <!-- General settings -->
        
        body {font-family: Helvetica, Arial, sans-serif;font-size: 0.8em;}

        //body {font-family: Helvetica, Arial, sans-serif;}
                        
        .ip-contents { 
        border: 0px #000 solid !important;
        overflow: hidden !important;
        width: 100% !important;
        padding: 10px 0px 0px 0px !important;
    
        
        }
        
        .ip-left-column { 

        }
        
        .ip-right-column {

        }
        
        table.controls {border: 0px;}
        
        .pbBody {
        margin: 6px 0px 0px 0px !important;
        }
        
        .pbHeader {
        -moz-border-radius:5px 5px 5px 5px;
        -moz-box-shadow:6px 6px 3px #CCCCCC;
        }
                        
        td.pbButton {
        padding: 0px 5px 0px 0px !important; 
        }
        
        p { line-height: 1.5em; }

       // H3 { color: #108CC0 !Important; }
		 H3 { color: #FFF !Important; }
        H1.add {font-size: 20px !important;}
        
        a.actionLink {text-decoration: underline !important; font-weight: bold !important; color: #000 !important;}
        a.BackToList {text-decoration: none !important; font-weight: bold !important; color: #000 !important;}
                
        .link-in-table {text-decoration: underline; font-weight: bold; color:#333435;}
        .link-in-table-small {text-decoration: underline; font-weight: bold; color:#333435; font-size:11px;}
        
        a.SiteLinks {text-decoration: none; font-weight: bold; font-size:13px; padding: 20px 0px 10px 0px;}
        a.SiteLinks:hover {text-decoration: underline;}

        a.top {
        text-decoration: none; font-weight: normal; font-size:12px; padding: 0px;}
        }       
                                
        a.btn {text-decoration: none !important; padding: 3px 3px;}
        img.relatedListIcon {display: none !important; }
        
        .inputLarge {width: 400px !important;}
        .inputMedium {width: 300px !important;}
        .inputSmall {width: 200px !important;}
        .textArea {width: 225px !important; height: 125px !important;}
        .textAreaSmall {width: 170px !important; height: 70px !important;}
        .textAreaLarge {width: 400px !important;  !important;}
                        
        div.refresh {
            background-image:url("{!URLFOR($Resource.icons,'icons/commons/refresh.png')}");
            background-repeat:no-repeat;
            display:block;
            font-weight:bold;
            height:100%;
            padding-left:28px;
            padding-top: 4px;
        }
                
        a.refresh {
            color: #008000;
            text-align: center;
            text-decoration: none;
        }
                
        a.refresh:hover {
            color: #008000;
            text-decoration: underline;
        }
                
        a.promotions {
        color: #FE5802;
        font-weight: bold;
        }

        a.sublinks {
        background-image:url({!URLFOR($Resource.icons,'icons/home_page/arrow_gray.png')});
        background-repeat:no-repeat;
        background-position:0 50%;
        padding-left: 12px;
        text-decoration: none;
        }       
                        
        div.BackToOverview {
        background-image:url("{!URLFOR($Resource.icons,'icons/commons/return_icon.png')}");
        background-repeat:no-repeat;
        display:block;
        font-weight:bold;
        height:100%;
        padding-left:30px;
        padding-top: 4px;
        }

        a.BackToOverview {
        color: #FE5802;
        text-align: center;
        text-decoration: none;
        }

        a.BackToOverview:hover {
        text-decoration: underline;
        }
            
                
        div.MassUpdate {
                background-image:url("{!URLFOR($Resource.icons,'icons/commons/update_icon.png')}");
                background-repeat:no-repeat;
                display:block;
                font-weight:bold;
                height:100%;
                padding-left:30px;
                padding-top: 4px;
                }

        a.MassUpdate {
                color: #108CC0;
                text-align: center;
                text-decoration: none;
                }

        a.MassUpdate:hover {
                color: #108CC0;
                text-decoration: underline;
                }
            
                

                    
        
        div.notes {
        background-image:url("{!URLFOR($Resource.icons,'icons/commons/notes-icon.png')}");
        background-repeat:no-repeat;
        display:block;
        font-weight:bold;
        height:100%;
        padding-left:30px;
        padding-top: 4px;
        }
                
        a.notes {
        text-align: left;
        text-decoration: none;
        }
                        
        a.notes:hover {
        color: #FE5802;
        text-decoration: underline;
        }
                        
                        
        a.add {
        color: #008000;
        } 

        a.check {
        color: #FE5802;
        } 


                        
        hr.MassUpdateSeparator {
        color: #000;
        background-color: #000;
        height: 1px;
        border: 0;
        }

        
        <!-- Table Grey-zebra -->
        
        table.grey-zebra { 

        border-collapse: separate;
        border: 0px; border-spacing: 0px;
        -moz-border-radius: 4px;
        -moz-box-shadow: #CCC 5px 5px 6px;
        -webkit-border-radius: 4px;
        -webkit-box-shadow: #CCC 5px 5px 6px;
        border-radius: 4px; box-shadow: #CCC 5px 5px 6px; background: #ffffff;
   
        }

        table.grey-zebra tr td {background-color: #fff;}
        table.grey-zebra tr td:first-child {
        background-image:url({!URLFOR($Resource.icons,'icons/home_page/arrow_gray.png')});
        background-repeat:no-repeat;
        background-position:3px 8px;
        padding-left:17px;
        }
                                        
        table.grey-zebra thead tr td,
        table.grey-zebra tfoot tr td,
        table.grey-zebra th {background-image: none !important;}        
    
        table.grey-zebra th,table.grey-zebra tfoot td  {font-weight: bold; padding: 6px 6px 6px 6px; background-color: #f7f7f7; font-size: 14px; background-image:none;}
        
        table.grey-zebra tr.even td {background-color: #f3f3f3;}
        table.grey-zebra td {padding: 4px;}
    
        table.grey-zebra tfoot td {text-align:right;}
        table.grey-zebra td.date {font-size: 11px; font-weight: bold; text-align: right}
        table.grey-zebra td.date-left {font-size: 11px; font-weight: bold; text-align: left}
        
        
        table.grey-zebra thead tr:hoved td {
        background: #ffffff !important;
        } 
        
        <!-- Table Blue -->
            
        table.blue tr.even td {background-color: #ECF4F7;}
        table.blue th {background-color: #ECF4F7;}
        
        <!-- Table Orange -->

        table.orange tr.even td {background-color: #F3F3F3;}
        table.orange th {
            background-image: url("/resource/1367818070000/icons/icons/home_page/orangegradientlight.png") !important;
            background-position: 3px -20px !important;
            color: black !important;
        }
        
        .orange{
            background-image: url("/resource/1367818070000/icons/icons/home_page/orangegradientlight.png") !important;          
        }
        <!-- Table Green -->
        
        table.green tr.even td {background-color: #5F9300;}
                
        <!-- Priorities -->     
        .prority-high, .prority-normal, .prority-low {font-weight: bold;}

        .prority-high {color: #C9434A;}
        .prority-normal {color: #EE9000;}
        .prority-low {color: #389B0C;}
        
        .header-orange {color: #FE5802;} 
        .header-blue {color: #108CC0;}
        .header-green {color: green;}
        
        .header-orange, .header-blue, .header-green {font-size: 14px;}
                    
        img.arrow {padding: 0px 6px 0px 6px ;}
        img.minWidth {display:none;}
        .image-delete {text-align: center;}
        
        td.Tasks-myTask {width: 15%;}
        td.Tasks-Desc {width: 35%;}
        td.Tasks-Date {width: 25%; font-size: 11px; font-weight: bold; text-align: left}
        td.Tasks-Priority {width: 10%;}
        td.Tasks-Status {width: 10%;}
        td.Tasks-Delete {width: 5%; text-align: center;}

        
        td.right-image {text-align: center;}
        
        .lookupHoverDetail .pbButton input {display:none;}
        
    
        <!-- Layout structure settings -->
        
        #ipLeftColumn {width:200px;}
                
        <!-- left menu -->

        ul#ipMenu, ul#ipMenu ul {list-style-type:none;margin: 0;padding: 0; width: 180px;}
        ul#ipMenu a {display: block; text-decoration: none;}
        ul#ipMenu li {margin: 1px 0px 0px;}

        ul#ipMenu li a {
        //background: linear-gradient(to bottom, #E34A4C 0%, #DC2328 99%) repeat scroll 0 0 transparent;
		background: #E34A4C;
        color: #FFFFFF;
		//padding: 0.5em;
        padding: 5px 0px 5px 25px;
        }

        ul#ipMenu li a.selected {
        background: #F2C4C8;
        text-decoration: underline;
        }
        
        ul#ipMenu li a:hover {background: #bbb;padding: 5px 0px 5px 25px;}
        ul#ipMenu li ul li a {background: #eee;color: #000;}
        ul#ipMenu a.red {background: #eee;color: red;}
        ul#ipMenu li ul li a:hover {background: #aaa;}

        /* 
        
        Celso's icons ->
        'icons/commons/arrow_right.gif'
        'icons/commons/arrow_down.gif'
        
        */
        
        ul#ipMenu li.ipMenufull a {
        background-image: url('{!URLFOR($Resource.icons,'icons/home_page/arrow_white.png')}');
        background-position:2% 50%;
        background-repeat:no-repeat;
        }       
        
        ul#ipMenu li.ipMenufullOpen a {
        background-image: url('{!URLFOR($Resource.icons,'icons/home_page/arrow_white_down.png')}');
        background-position:2% 50%;
        background-repeat:no-repeat;
        }
        
        ul#ipMenu li.ipMenufullOpen ul li a, ul#ipMenu li.ipMenufull ul li a {background-image:none;}
                        
                        
                        

       
        
        .code { border: 1px solid #ccc; list-style-type: decimal-leading-zero; padding: 5px; margin: 0; }
        .code code { display: block; padding: 3px; margin-bottom: 0; }
        .code li { background: #ddd; border: 1px solid #ccc; margin: 0 0 2px 2.2em; }
        .indent1 { padding-left: 1em; }
        .indent2 { padding-left: 2em; }
        

        <!-- Tables: "list" + "detailList" common settings -->
    
        table.list { 

        border-collapse: collapse !important;
        border: 0px !important; 
        border-spacing: 0px !important;

        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        
        -moz-box-shadow: 6px 6px 3px #CCC;
        -moz-webkit-shadow: 6px 6px 3px #CCC;
        shadow: 6px 6px 3px #CCC;
        
        background: #ffffff;
        padding: 0px;
        }
        
        table.detailList { 

        border-collapse: collapse !important;
        border: 0px !important; 
        border-spacing: 0px !important;
        /*  
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        
        -moz-box-shadow: 6px 6px 3px #CCC;
        */
        background: #ffffff;
        padding: 0px;
        }
        
        
        td.pbButton { text-align: right; padding: 2px 2px 2px 2px; }
        td.pbHelp { display: none; }
        td.actionColumn { background-image: none !Important; }
        td.booleanColumn, td.numericalColumn { background-image: none !Important;  }
        td.empty { display: none; }
        
        th.booleanColumn, th.PhoneNumberElement, th.numericalColumn { color: #FE5802 !Important; }
        th.actionColumn { color: green !Important; }
        th.DateElement { color: #C9434A  !Important;}
        
        .actionColumn { padding:5px !Important ; }
        
        <!-- Table "list" (used for apex:relatedList) spec. settings -->
        
        table.list tr td {
        
        background-color: #fff;
        border:0px solid #D4DADC !important;
        }
            
        table.list th {
        background-image: none !important;
        border:0px solid #D4DADC !important;;
        }
        
        //table.list tr.headerRow th {background: #ECF4F7 !important;}
		
		table.list tr.headerRow th {
			background: linear-gradient(to bottom, #E34A4C 0%, #DC2328 99%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(99%,rgba(194,194,194,1))) !important; /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(194,194,194,1) 99%)  !important; /* Chrome10+,Safari5.1+ */
		    color: #FFFFFF !important;
		}
        
        table.list tr.odd td {background-color: #f3f3f3;}
        table.list tr.odd th {background: #f3f3f3;}
        
        thead.dr-table-thead {
        font-weight: bold; 
        padding: 6px 6px 6px 6px; 
        background-color: #f7f7f7; 
        font-size: 14px; 
        background-image:none; 
        font-color: #108CC0;
        }
        
        div.player-header {
        font-weight: bold; 
        padding: 6px 6px 6px 6px; 
        background-color: #f7f7f7; 
        font-size: 14px; 
        background-image:none; 
        font-color: #108CC0;
        }
        
        <!-- Table class "detailList" (used for apex:detail) spec. settings -->
    
        table.detailList tr td {
        border:0px solid #D4DADC !important;;
        }
        
        table.detailList tr {
        border-bottom: 1px #ECF4F7 solid;
        
        }
        
       // table.detailList tr.headerRow th {background: #ECF4F7 !important;}
		table.detailList tr.headerRow th {
			background: linear-gradient(to bottom, #E34A4C 0%, #DC2328 99%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(99%,rgba(194,194,194,1))) !important; /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(194,194,194,1) 99%)  !important; /* Chrome10+,Safari5.1+ */
		    color: #FFFFFF !important;
		}
		
        table.detailList tr.even td {background-color: #ffffff;}
        table.detailList tr.even th {background: #f3f3f3;}
        
    
        /* td.pbTitle {
			//background: #ECF4F7;
			background: linear-gradient(to bottom, #E34A4C 0%, #DC2328 99%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(99%,rgba(194,194,194,1))) !important; /* Chrome,Safari4+ */
			//background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(194,194,194,1) 99%)  !important; /* Chrome10+,Safari5.1+ */
		    //color: #FFFFFF !important;
		}
      /*   td.pbButtonb {
			//background: #ECF4F7;
			background: linear-gradient(to bottom, #E34A4C 0%, #DC2328 99%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(99%,rgba(194,194,194,1))) !important; /* Chrome,Safari4+ */
			//background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(194,194,194,1) 99%)  !important; /* Chrome10+,Safari5.1+ */
		    //color: #FFFFFF !important;
		} */
       /*  td.pbButton {
			//background: #ECF4F7;
			background: linear-gradient(to bottom, #E34A4C 0%, #DC2328 99%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(99%,rgba(194,194,194,1))) !important; /* Chrome,Safari4+ */
			//background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(194,194,194,1) 99%)  !important; /* Chrome10+,Safari5.1+ */
		    //color: #FFFFFF !important;
		}  
                
        <!-- Settings for apex:PageBlock -->

        .bPageBlock {
       		 background-color: #FFFFFF !Important;
       		 border:0px  !Important;
       		 width: 99%;
        }
        
       /*  .pbBottomButtons {
     	   border-top:0px solid #DBDBDB !important;
     	   margin-top:3px !important;
        } */
        
        .pbHeader { 
       		 border-bottom:0px solid #FFFFFF; 
       		// background: #ECF4F7 !Important;
			background: linear-gradient(to bottom, #E34A4C 0%, #DC2328 99%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(99%,rgba(194,194,194,1))) !important; /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(194,194,194,1) 99%)  !important; /* Chrome10+,Safari5.1+ */
		    color: #FFFFFF !important;
        }
        
        .pbTitle h2, .pbTitle h2 {color: #FFF !Important; font-size: 1.3em; }

      /*   .pbSubheader {
        	//background: #ECF4F7 !Important;
			background: linear-gradient(to bottom, #E34A4C 0%, #DC2328 99%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(99%,rgba(194,194,194,1))) !important; /* Chrome,Safari4+ */
			//background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(194,194,194,1) 99%)  !important; /* Chrome10+,Safari5.1+ */
		    //color: #FFFFFF !important;
      		//height: 25px;
        }
         */
        .pbHeader table {
        border-bottom:0px solid #FFFFFF !important;
        padding:5px 0;
        }
                
        <!-- Right Col. with Contacts & Legend -->

        .ip-right-column h3.subtitleClick, .ip-left-column h3.subtitleClick {
            background-color:#FFF !important;
            cursor:pointer;
            display:block;
            font-weight:bold;
            background-image:url({!URLFOR($Resource.icons,'icons/home_page/arrow_gray.png')});
            background-position:3px 50%;
            background-repeat:no-repeat;
            padding-left:15px;
        }
        
        .subtitleClickNew {
            color: #FE5802 !important;
        }
        
        .ip-sidebar-note {
            border: 1px solid #999999 !important;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -moz-box-shadow: 0px 0px 0px #CCC;
            background-color:#F3F3F3;
            padding: 4px;
            display: block;
        }
        
        table.noArrow tr td {
            background-image: none !important;
            padding-left:4px;
        }
        
        td.noArrow {
        background-image: none !important;
        padding-left:4px;
                        }                       
        
        <!-- Tables with Names Examples -->
                
        td.TblMsgCt {font-size: 24px; color:red; vertical-align: bottom; font-weight: bold; }
        td.TblMsgFooter  {font-size: 12px; color:#000;  vertical-align: top; }  
        td.TblMsgCtEx {font-size: 16px; color:#000; vertical-align: bottom; font-weight: bold; text-align: left; }
        td.TblMsgFooterEx  {font-size: 10px; color:#000;  vertical-align: top; text-align: left;}   
                                         
                
        <!-- Search & Add new Client Panel -->

        .SearchLabel {
            font-size:12px;
            font-weight:normal;
            color: #4A4A56;
            font-style: italic; 
        }
        
                
        .ipAppleSearchIcon{
            background: url("{!URLFOR($Resource.icons,'icons/commons/SIcon.png')}") no-repeat !important;
            width: 30px !important;
            height: 30px !important;
            padding: 0px !important;
            border: 0px !important;
            top: 0px !important;
            left: 0px !important;
        }

                
        .SearchAddContainer {
            width:96%; 
            margin-left: auto ;
            margin-right: auto ;
        }

        #SearchContainer {
            width:80%;
            float: left;
        }

        #AddContainer {
            width:20%;
            float: left;
            text-align: right;
        }


        #SearchLabel {
            height:20px;
        }

        #SearchFields {
            height:40px;
        }
        
        .SearchField {
            float: left;
            width: 220px;
            border: 0px;
        }

        .SearchCheckBoxes {
            height:20px;
            text-align: left;
        }
        
        .SearchCheckBoxes input {
            width: 15px !important;
            height: 15px !important;
        }

        #AddButton {
            position:relative; 
            top:33px; 
        }

        #SearchFooter {
            top: 10px;
            left: 10px;
        }

        .autoHeight {width:100%; border:0px solid; min-height:750px; }
        .MassUpdateIframe {min-height: 150px !important;}
                
                
        .ip-sidebar-note .InputSearchName {width:200px !important;}
        .ip-sidebar-note .InputSearchMobile {width:200px !important;}
        .ip-sidebar-note .InputSearchEmail {width:200px !important;}
        
        .ui-spinner {
        width: 5em;
        display: block;
        position: relative;
        overflow: hidden;
        border: 1px solid #999;
        background: #FEFEFE url(../images/spinner-bg.gif) repeat-x left bottom;
        padding: 0 5px;
        width: 50px;
        }

        .ui-spinner-disabled {
        background: #F4F4F4;
        color: #CCC;
        }

        .ui-spinner-box {
        width: 90%;
        height: 100%;
        float: left;
        font-size: 100%;
        border: none;
        background: none;
        padding: 0;
        }

        .ui-spinner-up,
        .ui-spinner-down {
        width: 40%;
        height: 50%;
        font-size: 0.5em;
        padding: 0;
        margin: 0;
        z-index: 100;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        right: 0;
        cursor: default;
        border: 1px solid #999;
        border-right: none;
        border-top: none;
        }

        .ui-spinner-down {
        bottom: 0;
        border-bottom: 0;
        }

        .ui-spinner-pressed {
        background: #FEFEFE;
        }

        .ui-spinner-list,
        .ui-spinner-listitem {
        margin: 0;
        padding: 0;
        }               

                        
        </style>
    
</apex:page>