<apex:page standardController="Bank_Detail__c" showHeader="false" sidebar="false" extensions="extRedirectPageModify">
<apex:include pageName="headerInclude" /><br />
	
    <apex:form >
        <apex:pageBlock mode="edit" rendered="{!$ObjectType.Bank_Detail__c.createable}" >
            
            <apex:pageBlockSection title="Add / Edit Bank Details" columns="1" collapsible="true">
                
					<apex:inputField value="{!Bank_Detail__c.Bank_Country__c}" />
                    <apex:inputField value="{!Bank_Detail__c.Bank__c}" />
                    <apex:inputField value="{!Bank_Detail__c.Account_Name__c}" />
                    <apex:inputField value="{!Bank_Detail__c.Account_Number__c}" />
                    <apex:inputField value="{!Bank_Detail__c.BSB__c}" />
                    <apex:inputField value="{!Bank_Detail__c.Branch_Name__c}" />
                    <apex:inputField value="{!Bank_Detail__c.IBAN__c}" />
                    <apex:inputField value="{!Bank_Detail__c.Swift_Code__c}" />
                    <apex:inputField value="{!Bank_Detail__c.Phone__c}" styleClass="phone"/>
                    <apex:inputField value="{!Bank_Detail__c.Fax__c}" styleClass="phone"/>
                    <apex:inputField value="{!Bank_Detail__c.Branch_Address__c}" styleClass="textAreaSmall"/>
                    <apex:inputField value="{!Bank_Detail__c.Notes__c}" styleClass="textAreaSmall"/>
            
            </apex:pageBlockSection>
            
            <apex:pageBlockButtons location="bottom" rendered="{!$ObjectType.Bank_Detail__c.Createable}">
				<apex:commandLink styleClass="btn" value="Save" action="{!save}" >
					<apex:param name="pg" value="inc_BankDetails?id={!Bank_Detail__c.Account__c}"/>
				</apex:commandLink>	
				<a class="btn" onClick="history.go(-1)" href="#">Cancel</a>
            </apex:pageBlockButtons>    
                          
        </apex:pageBlock>   
    
    </apex:form> 
	
           
</apex:page>