<apex:page standardController="Account" showHeader="false" sidebar="false"  extensions="extRedirectPage" >
	<style>
	.apexp .bPageBlock p { margin-top: 0 !important; margin-bottom: 0 !important}
	</style>
        <apex:include pageName="headerInclude" />
	<apex:form >
		<apex:pageBlock id="campusDetails">
			<apex:pageBlockSection title="Campus" columns="1">
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Campus Name"/>
					<apex:outputField value="{!Account.Name}"/>
				</apex:pageBlockSectionItem> 
				<apex:outputField value="{!Account.Main_Campus__c}"/>
				
				<apex:outputField value="{!Account.Website}"/> 
				<apex:outputField value="{!Account.BusinessEmail__c}"/> 
				<!-- 
				<apex:outputField value="{!Account.Commission__c}" />
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Campus available to"/>
					<c:cpSupplierAvailability acco="{!Account.id}" recordType="campus" viewMode="read"/>
				</apex:pageBlockSectionItem> 
				<apex:outputField value="{!Account.Disabled_Campus__c}"/>
				
				-->
				<apex:outputField value="{!Account.Pathways_URL__c}" />
				<!-- <apex:pageBlockSectionItem >
					<apex:outputLabel value="Campus Currency"/>
					<apex:outputField value="{!Account.CurrencyIsoCode}"/>
				</apex:pageBlockSectionItem> --> 
				
				<apex:outputField value="{!Account.Students_per_class__c}"/>
				<apex:outputField value="{!Account.Total_Number_of_Students__c}"/>
				<apex:outputField value="{!Account.Near_to__c}"/>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="General Description"/>
					<apex:outputText value="{!Account.General_Description__c}" escape="false"/>
				</apex:pageBlockSectionItem>
				
				<apex:outputField value="{!Account.How_to_get_there__c}"/>
				<!-- <apex:outputField value="{!Account.Fact_info_about_campus__c}" /> -->
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Why choose this campus?"/>
					<apex:outputText escape="false" value="{!Account.Why_choose_this_campus__c}" /> 
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Features"/>
					<apex:outputText escape="false" value="{!Account.Features__c}" /> 
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Extra Activities"/>
					<apex:outputText escape="false" value="{!Account.Extra_Activities__c}" /> 
				</apex:pageBlockSectionItem>
				
				
				
				
			</apex:pageBlockSection>

			<apex:pageBlockButtons location="bottom">
				<apex:commandButton value="Edit" action="{!Edit}" rendered="{!$ObjectType.Account.updateable}" rerender="campusDetails" status="ipStatus">
					<apex:param name="pg" value="inc_Campus_edit"/>
				</apex:commandButton>
				<apex:commandLink styleClass="btn" value="Delete" rendered="{!$ObjectType.Account.deletable}" status="ipStatus" target="_top" action="{!delCampusCourse}" onclick="javascript:if(!confirm('You are about to delete {!Account.Name}, proceed?'))return false;">
					<apex:param name="pg" value="listClients"/>
				</apex:commandLink>
			</apex:pageBlockButtons>    
		</apex:pageBlock>       
	</apex:form>

</apex:page>