<apex:page standardController="Testimonial__c" showHeader="false" sidebar="false" extensions="extRedirectPageModify">
    <apex:include pageName="headerInclude" /><br />
	<!-- copy  -->
	<apex:include pageName="xStylePageV2" />
	  <table class="tbl_Details">
	    <tr>
	      <td rowspan="3" class="sidesColumn">
					<apex:form > 
	        <c:scMenu account="{!$CurrentPage.parameters.idCampus}" selectedItem="{!$CurrentPage.parameters.currentPage}" />
					</apex:form>    
	      </td>
	      <td class="middleColumn">
	        <div class="boxHeader">
	          <!--<c:cpPageHeader PageType="school" Acco="{!campus}" />-->
	        </div>
	      </td>
	      <!--<td rowspan="3" class="rightColumn sidesColumn"></td>-->
	    </tr>
	    <tr>
	      <td class="middleColumn bodyColumn">
	        <div id="panellayout" style="min-height: 750px">                      
	<!-- end copy  -->
	
    <apex:form >
        <apex:pageBlock > 
        
            <script type="text/javascript">
            // Reload to top frame if invoked solely AFTER uploading files by S-Drive
            
            if (top.location == self.location) {
                top.location.href = '{!$CurrentPage.Parameters.PageName}?id={!$CurrentPage.Parameters.AccoID}&currTab=Pictures';
            }
        </script>
            
            <apex:pageBlockSection title="Edit School Testimonial" columns="1" collapsible="true" >
                <apex:inputField value="{!Testimonial__c.Name}" />
                <apex:inputField value="{!Testimonial__c.StudentName__c}" />
                <apex:inputField value="{!Testimonial__c.Content__c}" required="true" />
                <!--<c:richeditor value="{!Testimonial__c.Content__c}" height="400px" />-->
                <apex:inputHidden value="{!Testimonial__c.School__c}" id="hiddenSchool"/>
            
            </apex:pageBlockSection>        
            
            <apex:pageBlockButtons location="bottom">
                <apex:commandLink styleClass="btn" value="Save" action="{!save}" >
                    <apex:param name="pg" value="inc_SchoolTestimonials?id={!Testimonial__c.School__c}"/>
                </apex:commandLink> 
                <apex:commandButton value="Cancel" action="{!cancel}"  />
            </apex:pageBlockButtons>
                
                    
        </apex:pageBlock>
   
    </apex:form>
    <style>
        .bDetailBlock {display: none;} 
        .listRelatedObject {display: none;}
        .noStandardTab {display: none;}
        .partnerBlock {display: none;}
    </style>

    
    
    <apex:outputPanel > 
        
        <br /><br />           
        <h3>PLEASE NOTICE</h3>
        <br /><br />
        <li> 1. If you attach more than one file than the most recent picture will displayed in the overview as a profile picture</li>
        <li> 3. Do not upload files larger than <u>250kb</u> </li>
        <li> 4. Do not use extensions other than <u>gif, jpg and png</u></li>       
                
        <cg:AttachmentComponent title="Student Picture"
            customObjectName="Testimonial__c"
            customObjectFileName="Testimonial_Picture__c"
            objectId="{!Testimonial__c.id}"
            enableDownload="true"
            enableEmail="false"
            enableEdit="false"
            allowedFileExtensions="*.jpg;*.jpeg;*.png;*.gif"

        />
        
    </apex:outputPanel>  
    
 	
<!-- copy  -->  
        </div>  
      </td>
    </tr>
  </table> 
<!-- end copy-->        
</apex:page>