<apex:page standardController="Testimonial__c" showHeader="false" sidebar="false" extensions="extRedirectPageModify">
    <apex:include pageName="headerInclude" /><br />
    <apex:outputLink value="/apex/inc_SchoolTestimonials?id={!Testimonial__c.School__c}" styleClass="BackToList">&lt;&lt; back to Testimonials</apex:outputLink>
    <apex:form >
        <apex:pageBlock id="blocka" > 
            <apex:pageBlockSection title="Add School Testimonial" columns="1" collapsible="true" >
                <apex:outputField value="{!Testimonial__c.Name}" />
                <apex:outputField value="{!Testimonial__c.StudentName__c}" />
                <apex:outputField value="{!Testimonial__c.Content__c}" />
                <apex:inputHidden value="{!Testimonial__c.School__c}" id="hiddenSchool"/>
            
            </apex:pageBlockSection>        
            
            <apex:pageBlockButtons location="bottom" >
                <apex:commandButton value="Edit" action="{!edit}" rendered="{!$ObjectType.Testimonial__c.updateable}" />
                <apex:commandLink styleClass="btn" value="Delete"  action="{!del}" >
                    <apex:param name="pg" value="inc_SchoolTestimonials?id={!Testimonial__c.School__c}" assignTo="{!pg}" />
                </apex:commandLink>
            </apex:pageBlockButtons>    
                
                    
        </apex:pageBlock>
    </apex:form>
    
    <style>
        .bDetailBlock {display: none;} 
        .listRelatedObject {display: none;}
        .noStandardTab {display: none;}
        .partnerBlock {display: none;}
    </style>
    <apex:outputPanel > 
        <br /><br />           
        <h3>PLEASE NOTICE</h3>
        <br /><br />
        <li> 1. If you attach more than one file than the most recent picture will displayed in the overview as a profile picture</li>
        <li> 3. Do not upload files larger than <u>250kb</u> </li>
        <li> 4. Do not use extensions other than <u>gif, jpg and png</u></li>
        
                
        <cg:AttachmentComponent title="Student Picture"
            customObjectName="Testimonial__c"
            customObjectFileName="Testimonial_Picture__c"
            objectId="{!Testimonial__c.id}"
            enableDownload="true"
            enableEmail="false"
            enableEdit="false"
            allowedFileExtensions="*.jpg;*.jpeg;*.png;*.gif"

        />
        
    </apex:outputPanel> 
    
    
</apex:page>