<apex:page standardController="Account" extensions="extCampusCourses" showHeader="false" sidebar="false"  standardStylesheets="true">
<!-- copy  -->
<apex:include pageName="xStylePageV2" />
<apex:include pageName="xCourseSearchStyle" />
<apex:form > 
  <table class="tbl_Details">
    <tr>
      <td rowspan="3" class="sidesColumn">
        <c:scMenu account="{!$CurrentPage.parameters.cpID}" selectedItem="{!$CurrentPage.parameters.currentPage}" />
      </td>
      <td class="middleColumn">
        <div class="boxHeader">
           <c:scPageHeader Account="{!$CurrentPage.parameters.id}" />
        </div>
      </td>
      <!--<td rowspan="3" class="rightColumn sidesColumn"></td>-->
    </tr>
    <tr>
      <td class="middleColumn bodyColumn">
      <div id="panellayout" style="min-height: 750px"> 
<!-- end copy  -->	
	<style>
		.SearchField {width:auto;}
		.rich-toolbar {background-color:Snow; background-image:none;}
		.rich-toolbar-item {color:blue;}	
		
		.addCourse {
			background: linear-gradient(to bottom, #E34A4C 0%, #DC2328 99%) repeat scroll 0 0 rgba(0, 0, 0, 0);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(99%,rgba(194,194,194,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(194,194,194,1) 99%); /* Chrome10+,Safari5.1+ */
			border-radius: 3px;
		    color: #FFFFFF !important;
		    cursor: pointer;
		    font-size: 1.2em;
		    padding: 5px 20px;
		    text-decoration: none;
		}
	</style>
	
	
	<script>
		// Create a namespace for our custom functions
        YAHOO.namespace("force.com");
		
		YAHOO.force.com.showExtraFee = function() {
		    document.getElementById("myPanelFee").style.display = "block";
		    //YAHOO.force.com.myDialogFee.center();
		    YAHOO.force.com.myDialogFee.show();
		}
		YAHOO.force.com.hideMeFee = function() {
            YAHOO.force.com.myDialogFee.hide();
        }
		
		YAHOO.force.com.init = function() {
            document.body.className = document.body.className + " yui-skin-sam";
			
            YAHOO.force.com.myDialogFee = new YAHOO.widget.Panel(
                "myPanelFee",  // The id of our dialog container
                {		
						x				: 	jQuery(window).width()/2 - 138,
                        width           :   600,    // You can play with this until it's right
                        visible         :   false,  // Should be invisible when rendered
                        draggable       :   true,   // Make the dialog draggable
                        close           :   false,  // Don't include a close title button
                        modal           :   true,   // Make it modal
                        fixedCenter     :   false,   // Keep centered if window is scrolled
                        zindex          :   40,     // Make sure it's on top of everything
                        // This line adds the appear/vanish fade effect
                        effect          :   {
                                              effect:YAHOO.widget.ContainerEffect.FADE,
                                              duration:0.35
                                            }
                }
             );
		
			// Render the dialog to the document.body level of the DOM
            
            YAHOO.force.com.myDialogFee.render(document.body);
            
        }
         
        // Add the init method to the window.load event
        YAHOO.util.Event.addListener(window, "load", YAHOO.force.com.init);
			
		
		function center(){
		
			
			window.parent.window.scrollTo(
			     (window.parent.document.body.offsetWidth - window.parent.document.documentElement.offsetWidth )/2,
			     (window.parent.document.body.offsetHeight- window.parent.document.documentElement.offsetHeight)/2
			 );
			
		
		}
		
		
		
	</script>
			
	<div class="divContent" style="overflow: hidden">				
	<apex:pageBlock >
			
		<apex:pageblockSection columns="1">
			<apex:toolbar >
				<apex:outputPanel styleClass="SearchField">
					<div class="SearchInput">
						<apex:inputText value="{!courseName}" />
					</div>
					<div class="SearchFooter">
						<span class="SearchLabel">Name</span>
					</div>
				</apex:outputPanel>	
	
					<apex:outputPanel styleClass="SearchField">
						<div class="SearchInput">
							<apex:inputField value="{!filters.Course_Country__c}"/>
							<apex:inputField value="{!filters.Course_Type__c}"/>
						</div>
						<div class="SearchFooter">
							<span class="SearchLabel">{!$ObjectType.Course__c.fields.Course_Type__c.label}</span>
						</div>
					</apex:outputPanel>	
					
					<apex:outputPanel styleClass="SearchField">
						<div class="SearchInput">
							<apex:inputField value="{!filters.Type__c}" />
						</div>
						<div class="SearchFooter">
							<span class="SearchLabel">{!$ObjectType.Course__c.fields.Type__c.label}</span>
						</div>
					</apex:outputPanel>	
								
					<apex:outputPanel styleClass="SearchField">
						<div class="SearchInput">
							<apex:inputField value="{!filters.Course_Qualification__c}" />
						</div>
						<div class="SearchFooter">
							<span class="SearchLabel">{!$ObjectType.Course__c.fields.Course_Qualification__c.label}</span>
						</div>
					</apex:outputPanel>	
	
					<apex:outputPanel styleClass="SearchField">
						<div class="SearchInput">
							<apex:inputField value="{!filters.Sub_Type__c}" />
						</div>
						<div class="SearchFooter">
							<span class="SearchLabel">{!$ObjectType.Course__c.fields.Sub_Type__c.label}</span>
						</div>
					</apex:outputPanel>	
					<apex:outputPanel >					
						<div class="SearchField">
							<div class="SearchInput">
							<apex:commandButton styleClass="agencyButton" action="{!search}" value="Search" rerender="courseList" status="ipStatus" />
							</div>
						</div>	
					</apex:outputPanel>	
				<!-- 	<apex:toolbarGroup itemSeparator="line" location="right">
							<apex:outputLink value="/apex/newCourse?id={!$CurrentPage.parameters.cpID}&cpID={!$CurrentPage.parameters.ID}" styleClass="addCourse">
								Add new Course
							</apex:outputLink>
							
					</apex:toolbarGroup> -->
					</apex:toolbar>
					
		</apex:pageblockSection>
		
		<div style="display: block; padding: 10px;text-align: right;" >
			<apex:outputLink value="/apex/newCourse?cpId={!$CurrentPage.parameters.cpID}&id={!$CurrentPage.parameters.ID}" styleClass="addCourse">
				Add new Course
			</apex:outputLink>
		</div>
				
		<apex:pageBlockTable id="courseList" value="{!CampusCourses}" var="item" styleClass="">
	
	
			<apex:column >
				<apex:facet name="header">{!$ObjectType.Course__c.fields.Name.label}</apex:facet>
				<apex:outputLink value="/apex/inc_course_details?id={!item.id}" rendered="{!item.id != editCampusCourse.id}">{!item.course__r.Name}
				</apex:outputLink>
				<apex:inputField value="{!editCampusCourse.course__r.Name}" style="width:90%" rendered="{!item.id = editCampusCourse.id}" />
			</apex:column>
					
			<apex:column >
				<apex:facet name="header">{!$ObjectType.Course__c.fields.Package__c.label}</apex:facet>
					<apex:outputField value="{!item.course__r.Package__c}" rendered="{!item.id != editCampusCourse.id}" />
					<apex:inputField value="{!editCampusCourse.Course__r.Package__c}" rendered="{!item.id = editCampusCourse.id}" />
				</apex:column>
					
			<apex:column >
				<apex:facet name="header">{!$ObjectType.Course__c.fields.Course_Type__c.label}</apex:facet>
				<apex:outputField value="{!item.course__r.Course_Type__c}" /> 
			</apex:column>
								
			<apex:column >
				<apex:facet name="header">{!$ObjectType.Campus_Course__c.fields.Is_Available__c.label}</apex:facet>
				<apex:outputField value="{!item.Is_Available__c}" rendered="{!item.id != editCampusCourse.id}" />
				<apex:inputField value="{!editCampusCourse.Is_Available__c}" rendered="{!item.id = editCampusCourse.id}" >
					<apex:actionSupport event="onclick" rerender="courseList,msg" status="ipStatus" />
				</apex:inputField>
				<apex:outputPanel rendered="{!NOT(item.Is_Available__c) && NOT(ISNULL(item.Unavailable_Reason__c))}">
					<div class="mouseOverInfoOuter textareaInfo " onmouseover="addMouseOver(this)" onfocus="addMouseOver(this)" style="float:left;" >
						<div class="infoIcon" />
						<div class="mouseOverInfo" style="display: none; opacity: 0; font-size: 12px;">
							<apex:outputField value="{!item.Unavailable_Reason__c}" />
							<br/><br/>
							<apex:outputText value="{!item.Unavailable_By__c}" style="font-style:italic;color:gray" />
							<apex:outputText value=" on {0, date, dd/MM/yyyy}" style="font-style:italic;color:gray"  >	
								<apex:param value="{!item.Unavailable_Date__c}" />
							</apex:outputText>
						</div>
					</div>	
				</apex:outputPanel>
				
			</apex:column>			
				
			<apex:column >
				<apex:facet name="header">{!$ObjectType.Campus_Course__c.fields.Available_From__c.label}</apex:facet>
				<apex:outputField value="{!item.Available_From__c}" rendered="{!item.id != editCampusCourse.id}" />
				<apex:inputField value="{!editCampusCourse.Available_From__c}"  rendered="{!item.id = editCampusCourse.id}" />
			</apex:column>		
				
			<apex:column >
				<apex:facet name="header">{!$ObjectType.Course__c.fields.Course_Unit_Type__c.label}</apex:facet>
				<apex:outputField value="{!item.course__r.Course_Unit_Type__c}" rendered="{!item.id != editCampusCourse.id}" />
				<apex:inputField value="{!editCampusCourse.course__r.Course_Unit_Type__c}" rendered="{!item.id = editCampusCourse.id}" />
			</apex:column>				
		
			<apex:column >
				<apex:facet name="header">{!$ObjectType.Course__c.fields.Only_Sold_in_Blocks__c.label}</apex:facet>
				<apex:outputField value="{!item.course__r.Only_Sold_in_Blocks__c}" rendered="{!item.id != editCampusCourse.id}" />
				<apex:inputField value="{!editCampusCourse.course__r.Only_Sold_in_Blocks__c}" rendered="{!item.id = editCampusCourse.id}" />
			</apex:column>				
					
			
			<apex:column >
				<apex:facet name="header">{!$ObjectType.Course__c.fields.Type__c.label}</apex:facet>
				<apex:outputField value="{!item.course__r.Type__c}" /> 
			</apex:column>				
					
			<apex:column >
				<apex:facet name="header">{!$ObjectType.Course__c.fields.Sub_Type__c.label}</apex:facet>
				<apex:outputField value="{!item.course__r.Sub_Type__c}" />
			</apex:column>				
			
			<apex:column id="buttons">
				<!--apex:commandButton action="{!edit}" value="Edit" rerender="courseList" status="ipStatus"  rendered="{!item.id != editCampusCourse.id}">
					<apex:param name="ccid" value="{!item.id}" />
				</apex:commandButton>			
				
				<apex:commandButton action="{!save}" value="Save" rerender="courseList,msg" status="ipStatus" rendered="{!item.id = editCampusCourse.id && (editCampusCourse.Is_Available__c || !item.Is_Available__c )}" />
				<apex:commandButton value="Save" onclick="center();YAHOO.force.com.showExtraFee();return false;" status="ipStatus" rendered="{!item.id = editCampusCourse.id && NOT(editCampusCourse.Is_Available__c) && item.Is_Available__c}" />
				<apex:commandButton action="{!cancel}" value="Cancel" rerender="courseList" status="ipStatus" rendered="{!item.id = editCampusCourse.id}" /-->
				<apex:outputLink styleClass="agencyButton" value="/apex/inc_course_edit?id={!item.id}" rendered="{!item.id != editCampusCourse.id}">Edit</apex:outputLink>
				
				
				
				
							
	
			</apex:column>					
							
				
		</apex:pageBlockTable>
	</apex:pageBlock>
	
		<apex:outputPanel id="diagPanel" >
			<div id="myPanelFee" style="display: none" >
				
				<div class="hd">
			        <apex:outputPanel id="pnlFeeName">
			        	<apex:outputText value="Unavailable Reason" />
			    	</apex:outputPanel>
			    </div>
			    <div class="bd">
					<apex:inputTextArea value="{!unavailableReason}" style="width:250px;height:150px;" styleClass="reason" />
			    </div>
				<div class="ft" style="text-align: right;" >
					<apex:commandButton styleClass="agencyButton" onclick="return checkReason();" value="Save" />
			        <apex:commandButton styleClass="agencyButton" value="Cancel" immediate="true"  oncomplete="YAHOO.force.com.hideMeFee();" status="ipStatus" />
					<apex:actionFunction action="{!save}" name="save" rerender="diagPanel,courseList,msg" status="ipStatus" >
						<apex:param assignTo="{!unavailableReason}" name="unavailableReason" value="" />
					</apex:actionFunction>
					
				</div>
				
			</div>
		</apex:outputPanel>	
	
		<script>
			function checkReason(){
				
				if(jQuery('.reason').val().trim() == ''){
					alert('Please enter a reason');
					return false;
				} else {				
					save(jQuery('.reason').val().trim());
					YAHOO.force.com.hideMeFee();
					jQuery('.reason').val('');
				}
			}
			
			function sizeFrame() {
	            var pageSize = jQuery(document).height()+120;
				jQuery("iframe[id="+window.frameElement.id+"]",parent.document).css({height:pageSize});
	        }
			
			jQuery(document).ready(function() {
				sizeFrame();			
			});
		</script>


</div>



<!-- copy  -->    
        </div>
      </td>
    </tr>
  </table> 
</apex:form>    
<!-- end copy-->
</apex:page>