<apex:page standardController="Account" extensions="extRedirectPage" showHeader="false" sidebar="false">
<apex:include pageName="headerInclude" />

<script>
	
	function checkDisabled(field){
		if(field.checked && confirm('Disabling a campus will reset all the selected agencies. Continue?'))
			disableAvailability('{!Account.id}');	
		else {
			field.checked = false;
			noAction();
		}
		
	}
	
</script>


<apex:form >
	
	<!-- <apex:actionFunction action="{!disableAvailability}" name="disableAvailability" status="ipStatus" reRender="firstSection" >
		<apex:param name="campusID" value="" />
	</apex:actionFunction> -->
	
	<apex:actionFunction name="noAction" reRender="firstSection" status="ipStatus" />
	
	<apex:pageBlock mode="edit" id="campusEdit" >
		<apex:pageBlockSection title="Edit Campus" columns="1" collapsible="true" id="firstSection">
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="Campus Name"/>
				<apex:inputField value="{!Account.Name}" styleClass="inputLarge"/>
			</apex:pageBlockSectionItem>
			<apex:inputField value="{!Account.Main_Campus__c}"/>					
			<apex:inputField value="{!Account.Website}" styleClass="inputLarge"/> 
			<apex:inputField value="{!Account.BusinessEmail__c}" styleClass="inputLarge"/> 
			<!--  <apex:inputField value="{!Account.Commission__c}" onkeypress="return numbersonly(event, true);"/>-->
			
			<apex:inputField styleClass="inputLarge" value="{!Account.Pathways_URL__c}" />
			<!-- <apex:pageBlockSectionItem >
				<apex:outputLabel value="Campus Currency"/>
				<apex:inputField value="{!Account.CurrencyIsoCode}"/>
			</apex:pageBlockSectionItem>  -->				
			
			
			<!-- <apex:pageBlockSectionItem >
				<apex:outputLabel value="Campus available to "/>
				<c:cpSupplierAvailability acco="{!Account.id}" recordType="campus" viewMode="edit" disabled="{!Account.Disabled_Campus__c}"/>
			</apex:pageBlockSectionItem>
			<apex:inputField value="{!Account.Disabled_Campus__c}" onclick="checkDisabled(this);" />
			-->
			
			
			<apex:inputField value="{!Account.Students_per_class__c}"/>
			<apex:inputField value="{!Account.Total_Number_of_Students__c}"/>
				
			<apex:inputField value="{!Account.Near_to__c}" styleClass="inputLarge" />
		</apex:pageBlockSection>
		<apex:pageBlockSection columns="1" >
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="General Description"/>
				<apex:inputField value="{!Account.General_Description__c}" />	
			</apex:pageBlockSectionItem>				
			<apex:pageBlockSectionItem >
				<apex:outputLabel value="How to Get There"/>
				<apex:inputField value="{!Account.How_to_get_there__c}" />	
			</apex:pageBlockSectionItem>
			<!-- <apex:pageBlockSectionItem >
				<apex:outputLabel value="Fact Info About Campus"/>
				<apex:inputField value="{!Account.Fact_info_about_campus__c}"/>	
			</apex:pageBlockSectionItem>
			 -->	
				
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Why choose this campus?"/>
					<apex:inputTextArea richText="true" value="{!Account.Why_choose_this_campus__c}"/>	
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Features"/>
					<apex:inputTextArea richText="true" value="{!Account.Features__c}"/>	
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Extra Activities"/>
					<apex:inputTextArea richText="true" value="{!Account.Extra_Activities__c}"/>	
				</apex:pageBlockSectionItem>
			 			
		
				
			
		</apex:pageBlockSection>
			
		<apex:pageBlockButtons location="bottom" id="bt">
			<apex:commandLink value="Save" action="{!Save}" styleClass="btn" status="ipStatus">
				<apex:param name="pg" value="inc_campus_details" assignTo="{!redirectPage}"/>
			</apex:commandLink>	
			<apex:commandButton value="Cancel" action="{!Cancel}" rerender="campusEdit" status="ipStatus">
				<apex:param name="pg" value="inc_campus_details"/>
			</apex:commandButton>
		</apex:pageBlockButtons>    
	</apex:pageBlock>       
</apex:form>

</apex:page>