<apex:page standardController="Account" extensions="extcampus_course_price" sidebar="false" showHeader="false" >
	<apex:includeScript value="{!$Resource.jquery}"/> 
	<apex:includeScript value="{!$Resource.jqueryBlockUI}" />
	<apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}"/>
	
	<style>
		.titleHeader {
		    background: url("/resource/icons/icons/home_page/greengradient.png") repeat scroll 0 -30px transparent;
		    display: block;
			font-weight: bold;
		    height: 16px;
		   	color: navy;
		    padding: 3px;
		    //width: 100%;
			color: #000;
		}
		
		.subTitleHeader {
		    background: url("/resource/icons/icons/home_page/greengradient.png") repeat scroll 0 -50px transparent ;
		    display: block;
		    height: 16px;
		    color: navy;
		    padding: 3px;
		    width: 100%;
			color: #000;
		}
		
		.divBox{
			height: 250px;
		    margin: 0 0 0 15px;
		    overflow-y: auto;
		}
		
		.btnBar{
			text-align:center; 
			padding:5px 0;
			background-color: #F1F1F1;
			width:100%;
			display:block;
		}
		
		.readOption{
			color:#888;
		}
		
		.dateFormat{
			display:none;
		}
		
		.textboxnumber{
			width: 60px;
		}
		
		.expired {
			color:red;
		}
		
		.dateSearch{
			background: url("{!URLFOR($Resource.icons,'icons/commons/calendar.png')}") no-repeat;
			height: 16px;
    		width: 16px;
			border: none;
			cursor: pointer;
			color: #C8C8C8;
			margin-left:5px;
		}
		
		table{
			border-spacing: 0px;
		}
		//table  tr:nth-child(odd) { background-color:#FFF; }
		table  tr:nth-child(even) { background-color:#eee; }
		table  tr th { padding: 2px 0 0; background-color:#C8C8C8; font-weight:normal; vertical-align: top; }
		
		
		table .msgIcon, .messageCell {
   			 background-color: #FFFFCC !important;
		}
		
		table.tableCourses {
			width:100%;
		}
		table.tableCourses  tr:nth-child(even) { background-color:#FFF; }
		table.tableCourses  tr th {background-color:#C8C8C8; font-weight:normal; padding:3px;}
		
		
		
		.tbPrices .selected{
			background-color:#CEC0C0 !important;
		}
		
		.tbPrices .selected td{
			border-top: solid 2px #FFF;
		}

		.tbPrices .selectedFileRow{
			background-color:#CEC0C0 !important;
		}
		
		.tbPrices .selectedFileRow td{
			
			border-bottom: solid 2px #FFF;
		}

		
		.division{
			height: 25px;
			display: block;
			
		}
		
		.SearchLabel{
			color: #555555;
		    display: block;
		    font-weight: bold;
		    margin-top: 5px;
		}
		
		.dateRange{
		    background: url("/resource/1367818070000/icons/icons/home_page/greengradient.png") repeat scroll 0 -50px rgba(0, 0, 0, 0);
		    font-size: 1.1em;
		    height: 25px;
		}
		
		.fixedElement {
		    z-index: 100;
		    width:100%;
			display: block;
    		text-align: right;
			font-size:1.2em;
		}
		.detailsLabel{
			color:#666666; 
			font-weight:bold;
			font-size: 0.9em;
		}
		.detailsDesc{
			color:#666666; 
			font-size: 0.9em;
		}		
		
		.Minimize{
			display: none;
		}

		.drag-contentarea{
			border: none;
		}
		
		.dhtmlwindow{
			border: 2px solid orange;
		}
		
		.drag-handle {
			background-color: orange;
		}
		
		.drag-contentarea{
			border: none;
		}
		
		iframe{
			border: none;
		}
		
		.soldinblocks{
		    color: #FF4500;
		    float: left;
		    font-size: 0.8em;
		    margin-left: 10px;
		    position: relative;
		    top: 2px;
		}
		
		.pagetitle{
		 	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		    border-bottom: 2px solid #008000;
		    font-size: 2em;
		    height: 27px;
		    margin-top: 7px;
		    text-align: center;
		}
		
		.rangePriceHeader {
		    background-color: #C0C0C0;
		    color: #555555 !important;
		    font-size: 1em;
		    font-weight: bold;
		    padding: 3px 5px;
		}
		
		.startDateTable th {
			background: url("/resource/1367818070000/icons/icons/home_page/greengradient.png") repeat scroll 0 -63px transparent;
			font-weight: bold;
		}
		
		.startDateTable {
			font-size: 0.85em;
			border: 1px solid grey;
			margin-left: 20px;
			width: 98% !important;
			margin-bottom: 3px;
		}
		
		table.startDateTable tr:nth-child(odd) { background-color:#E1E1E1; }
		table.startDateTable tr:nth-child(even) { background-color: white; }
		
		.relatedLink {
			color:#015BA7;
			font-size:0.8em;			
		}
		
		.headerRow{
			color: #888888 !important;
			padding: 0 2px 0 5px !important;
		}
		
		.instalStyleHeader{
			color: #333435 !important;
			font-size: 0.85em !important;
		 	margin-left: 10px;
		}
		
		.instalStyle{
			color: #555555;
		    float: right;
		    font-size: 0.9em;
		    margin-right: 5px;
		}
		
		.copyItem{
			background-color: #E4F3E5 !important;
		}
		
		.copyItem td{
			border-top: 1px solid #FFF;
		}
	</style>
	
	<script>
		showLoading();
		
		function showLoading() { 
	        jQuery.blockUI({ css: { 
	            border: 'none', 
	            padding: '15px', 
	            backgroundColor: '#000', 
	            '-webkit-border-radius': '10px', 
	            '-moz-border-radius': '10px', 
	            opacity: .5, 
	            color: '#fff' 
	        } }); 
	 
	        //setTimeout(jQuery.unblockUI, 2000); 
		  }
		
		function hideLoading(){
			jQuery.unblockUI();
		}

		
		function showAreaLoading(elements){
			for(var i =0; i < elements.length; i++){
            jQuery('#'+elements[i]).block({ 
                message: '<h1>Processing</h1>' 
            }); 
				}
		}
 
        function hideAreaLoading(elements){
			for(var i =0; i < elements.length; i++)
           	 jQuery('#'+elements[i]).unblock(); 
        }
		
		
			
		function ckeckAll(value, tb){
			if(value){
				jQuery('.'+tb + ' input:checkbox').attr('checked','checked');
			}else{
				jQuery('.'+tb + ' input:checkbox').removeAttr('checked');
			}
			jQuery('.'+tb + ' input:checkbox').closest('tr').toggleClass('selected', value);
		}
			
			
		function applyDates(className, value){
			jQuery('.'+className).each(function(){
				if (jQuery(this).closest('tr').find('input:checkbox').attr('checked')){
					jQuery(this).val(value);
					jQuery(this).css('background-color','#B0E0E6');
				}
			});
			
		}
			
		function setConditions(className, newValue){
			jQuery('.'+className).each(function(){
				if (jQuery(this).closest('tr').prev().find('input:checkbox').attr('checked')){
					jQuery(this).val(newValue);
					jQuery(this).css('background-color','#B0E0E6');
				}
			});
		}
			
		function applyFiles(className, lineClass, value){
			jQuery('.'+lineClass).each(function(){
				if (jQuery(this).find('input:checkbox').attr('checked')){
					var itemidposStart = jQuery(this).find('input:checkbox').attr('class').indexOf('itemid-[')
					var itemidposEnd = jQuery(this).find('input:checkbox').attr('class').indexOf(']')
					var itemId = jQuery(this).find('input:checkbox').attr('class').substring(itemidposStart+8,itemidposEnd);
					jQuery( '.files-'+itemId).val(value);
					jQuery( '.files-'+itemId).css('background-color','#B0E0E6');
				}
			});
			
		}
				
			
		function ckeckAllItemsCourse(value, tb, fr){
			if(value){
				jQuery('.'+tb).attr('checked','checked');
			}else{
				jQuery('.'+tb).removeAttr('checked');
			}
			jQuery('.'+tb).closest('tr').toggleClass('selected', value);

			if(fr == ''){
				jQuery('.fileRow').each(function(){
					jQuery(this).toggleClass('selectedFileRow', value);
				});
			}else{
				jQuery('.'+fr).each(function(){
					jQuery(this).toggleClass('selectedFileRow', value);
				});
			}
			
		}
			
	 	function isValidInput(evt, fd){
			var charCode = evt.which;
	         if ((charCode >= 32 && charCode <= 255) || (evt.keyCode == 8) || (evt.keyCode == 46)){
	            jQuery(fd).css('background-color','#B0E0E6');
			 } 
	    }
			
		function changeBackground(value, tb){			
			jQuery('.'+tb).closest('tr').toggleClass('selected', value);
			jQuery('.children').each(function(){
				jQuery(this).toggleClass('selected', value);
			});
			jQuery('.fileRow').each(function(){
				jQuery(this).toggleClass('selected', value);
			});
			
		}
			
					
		function showFile(value, tb){
			if(value){
				jQuery('.'+tb).css('display','');
			}else{
				jQuery('.'+tb).css('display','none');
			}
			sizeFrame();
		}
			
		function sizeFrame() {
            var pageSize = jQuery(document).height()+120;
			if(window.frameElement != null)
				jQuery("iframe[id="+window.frameElement.id+"]",parent.document).css({height:pageSize});
        }
		
		jQuery(document).ready(function() {
			sizeFrame();			
			hideLoading();
		});
		
			
		function show_coords(event){
			var x=event.clientX;
			var y=event.clientY;
			return y;
			//alert("X coords: " + x + ", Y coords: " + y);
		}
		
		function openCourse(campusCourse, courseName, posy){
			coursewin=dhtmlwindow.open(campusCourse, 'iframe', '/apex/inc_course_details?id='+campusCourse, courseName, 'width=800px,height=600px,resize=1,center=0,scrolling=1,top='+posy+'px');
		}
			 
		function setPos(){
			var el = jQuery('.searctoDate');
  			var position = el.position();
			var newpos = jQuery('.searctoDate').width() + position.left - jQuery('.datePicker').width();
			jQuery('.datePicker').css( { left : newpos } );
		}
		
		function openStartDates(id, type){
            var w = 1000;
            var h = 600;
            var left = (screen.width/2)-(w/2);
            var top = (screen.height/2)-(h/2);
            if (window.showModalDialog) {
            	window.showModalDialog('/apex/StartDates?id='+id+'&type='+type,null,'dialogWidth:'+w+'px; dialogHeight:'+h+'px; dialogTop='+top+'; dialogLeft='+left);
            } else {
            	window.open('/apex/StartDates?id='+id+'&type='+type,'height='+h+',width='+w+',toolbar=no,directories=no,status=no,menubar=no,resizable=no,modal=yes, top='+top+', left='+left);
            }
        }
			 
		function refreshSearch(){
			search();
		}
			 
		function refreshExtraFees(){
			search();
		}
			 
		function showTermOptions(selectedOpt, theID){
			if(selectedOpt == 'Term')
				jQuery('.termOptions-' + theID).show();
			else {
				jQuery('.termOptions-' + theID).hide();
				jQuery('.termOption-' + theID).val('');
				jQuery('.termInterval-' + theID).val('');
			}
		}
			 
	</script>
	
	<apex:actionStatus id="ipStatus" onstart="showLoading();" onstop="hideLoading();" />
	<apex:actionStatus id="ipStatusArea" onstart="showAreaLoading(['listCourses','listPriceDetails']);" onstop="hideAreaLoading(['listCourses','listPriceDetails']);" />
	
    <apex:form >
		
		<apex:actionFunction action="{!selectCourseClone}" name="search" status="ipStatus" rerender="PriceDetails" />
		
		<div class="titleHeader pagetitle" >
			<apex:outputText value="Prices Maintenance" rendered="{!ISNULL(optionType)}" />		
			<apex:outputText value="Course Conditions" rendered="{!optionType == 'conditions'}" />		
			<apex:outputText value="Course Timetable" rendered="{!optionType == 'timetable'}" />
		</div>
		<div class="btnBar">
			<apex:selectRadio value="{!cloneOption}" style="font-size:1.3em;" rendered="{!ISNULL(optionType)}">
            	<apex:selectOptions value="{!cloneOptions}"/>
				<apex:actionSupport event="onchange" action="{!selectMaintenanceOption}" rerender="lstCourseCopyTo, cloneBar" status="ipStatus"/>
            </apex:selectRadio>
		</div>
			
            	<apex:outputpanel id="lstCourseCopyTo">
                    <!--apex:messages style="color:#FF3399;"/-->
					<table style="width:100%" >
						
						<tr>
							<td style="vertical-align:top; border-top: 1px solid #C0C0C0; border-left: 1px solid #C0C0C0; border-right: 1px solid #C0C0C0; vertical-align: top; background-color: #FFFFFF; " colspan="2">
								<div class="titleHeader">
									<apex:inputCheckbox onclick="ckeckAll(this.checked,'coursetype'); jQuery('.refreshType').show();" selected="true" >
										<!--<apex:actionSupport event="onchange" status="ipStatus" action="{!selectCourseClone}" rerender="listClone, PriceDetails"  oncomplete="sizeFrame()" />-->
									</apex:inputCheckbox>
									<apex:outputText value="Course Type" />
								</div>

	                            <apex:selectCheckboxes value="{!selectedCourseType}"  style="width:100%;" styleClass="coursetype" onclick="jQuery('.refreshType').show();">
	                                <apex:selectOptions value="{!selectedCourseTypeOptions}" />
	                                <!--<apex:actionSupport event="onchange" status="ipStatus" action="{!selectCourseClone}" rerender="listClone, PriceDetails"  oncomplete="sizeFrame()" />-->
	                            </apex:selectCheckboxes>
								
							</td>
						</tr>
						
						
						<tr>
							<td style="text-align:center; border-left: 1px solid #C0C0C0;border-right: 1px solid #C0C0C0;border-bottom: 1px solid #C0C0C0; vertical-align: top; background-color: #FFFFFF;" colspan="2" >
								<apex:commandButton styleClass="refreshType" value="Refresh" action="{!selectCourseClone}" status="ipStatus" rerender="listClone, PriceDetails"  oncomplete="jQuery('.refreshType').hide();sizeFrame()" style="display:none;" />
							</td>
						</tr>
						
						<tr>
							<td style="height:250px; width: 20%; vertical-align:top; border: 1px solid #C0C0C0; background-color:#FFFFFF; vertical-align: top; {!IF(cloneOption == 'other' || cloneOption == 'timetable', 'display:none;' , '')}" >
								<apex:outputPanel rendered="{!cloneOption = 'clone'}" >
									<div class="titleHeader">
										<apex:outputText value="Clone options" />		
									</div>
			                        <!--apex:messages style="color:#FF3399;"/-->
									<table>
										<tr>
											<td style=" background-color:#FFFFFF;">
												<apex:outputLabel value="Course: " style="font-weight:bold;"/>
												<apex:selectList value="{!selectedCourse}" size="1" styleClass="available">
				                                    <apex:selectOptions value="{!CoursesCampus}"/>
				                                    <apex:actionSupport event="onchange" action="{!listCourses}" status="ipStatus" rerender="PriceDetails,lstCourseCopyTo"/>
				                                </apex:selectList>
												<script>
													jQuery('.available option:contains(\'(unavailable)\')').attr('style','color:red;');
												</script>
											</td>
										</tr>
										<tr>
											<td style=" background-color:#FFFFFF;">
												<apex:outputLabel value="Nationality Group: " style="font-weight:bold;"/>
				                                <apex:selectList value="{!Country}" size="1" >
				                                    <apex:selectOptions value="{!NationalitiesInserted}"/>
				                                    <apex:actionSupport event="onchange" action="{!listCountry}" status="ipStatus" rerender="PriceDetails,lstCourseCopyTo"/>
				                                </apex:selectList>
											</td>
										</tr>
									</table>			                        
			                                
											
	                                <apex:repeat value="{!lst}" var="l">
		                                <apex:dataTable value="{!l.Course_Prices__r}" var="item" style="width:100%;" > 
		                                    <apex:column width="5%">
												<apex:facet name="header"><apex:inputCheckbox onclick="ckeckAllItemsCourse(this.checked,'checkClone','')" /></apex:facet>
		                                        <apex:inputCheckbox value="{!item.isToCopy__c}" styleClass="checkClone" />
		                                    </apex:column>
		                                    <apex:column width="20%">
		                                        <apex:facet name="header">{!$ObjectType.Course_Price__c.fields.Nationality__c.label}</apex:facet>
		                                        <apex:outputText value="{!item.Nationality__c}"/>
		                                    </apex:column>
		                                    <apex:column width="15%">
		                                        <apex:facet name="header">{!$ObjectType.Course_Price__c.fields.Price_valid_from__c.label}</apex:facet>
		                                        <apex:outputField value="{!item.Price_valid_from__c}"/>
		                                    </apex:column>
		                                    <apex:column width="15%">
		                                        <apex:facet name="header">{!$ObjectType.Course_Price__c.fields.Price_valid_until__c.label}</apex:facet>
		                                        <apex:outputField value="{!item.Price_valid_until__c}"/>
		                                    </apex:column>
		                                    <apex:column width="15%">
		                                        <apex:facet name="header">{!$ObjectType.Course_Price__c.fields.From__c.label}</apex:facet>
		                                        <apex:outputText value="{!item.From__c}"/>
		                                    </apex:column>
		                                    <apex:column width="15%">
		                                        <apex:facet name="header">{!$ObjectType.Course_Price__c.fields.Price_per_week__c.label}</apex:facet>
		                                        <apex:outputField value="{!item.Price_per_week__c}"/>
		                                    </apex:column>
		                                    <apex:column width="15%">
		                                        <apex:facet name="header">{!$ObjectType.Course_Price__c.fields.Unavailable__c.label}</apex:facet>
		                                        <apex:outputField value="{!item.Unavailable__c}"/>
		                                    </apex:column>
		                                </apex:dataTable>
									</apex:repeat>
								</apex:outputPanel>	
										
								<apex:outputPanel rendered="{!cloneOption != 'clone' && cloneOption != 'other'}" >
									<div>
										<div style="overflow-y: auto; overflow-x: hidden; height: 250px; ">
											<div class="titleHeader" style="height: 33px;">
												<apex:inputCheckbox onclick="ckeckAll(this.checked,'nationGroup'); jQuery('.refreshNationality').show();"  >
													<!--<apex:actionSupport event="onchange" action="{!listCountry}" status="ipStatus" rerender="PriceDetails,lstCourseCopyTo"/>-->
												</apex:inputCheckbox>
												<apex:outputlabel value="Nationality Group" style="bottom: 2px;position: relative;margin-right:20px;" />
												<apex:outputlink value="/apex/inc_NationalityGroups?id={!Account.ParentId}" style="bottom: 2px;position: relative;">(Add/Edit)</apex:outputlink>
												<br/>
												<apex:outputText value="Select group(s) to add prices for." style="color:#666; font-size: 0.85em; padding-left: 22px;" rendered="{!cloneOption = 'new'}"/>										
												<apex:outputText value="Select group(s) to add start dates for." style="color:#666; font-size: 0.85em; padding-left: 22px;" rendered="{!cloneOption = 'newRange'}"/>
												<apex:outputText value="Select group(s) to edit or delete prices." style="color:#666; font-size: 0.85em; padding-left: 22px;" rendered="{!cloneOption = 'edit'}"/>
												
											</div>
					                        <!--apex:messages style="color:#FF3399;"/-->
											<apex:selectCheckboxes value="{!selectedNationalities}"  layout="pageDirection" style="width:100%;" styleClass="nationGroup" onclick="jQuery('.refreshNationality').show()">
								            	<apex:selectOptions value="{!NationalitiesEdit}"/>
												<!--<apex:actionSupport event="onchange" action="{!listCountry}" status="ipStatus" rerender="PriceDetails,lstCourseCopyTo"/>-->
								            </apex:selectCheckboxes>
										</div>
										<div style="text-align: center;">
											<apex:commandButton styleClass="refreshNationality" value="Refresh" action="{!listCountry}" status="ipStatus" rerender="PriceDetails,lstCourseCopyTo"  oncomplete="jQuery('.refreshNationality').hide();sizeFrame()" style="display:none;" />
										</div>
									</div>
									<script>
										
										jQuery('.nationGroup').find('label').each(function(){											
											var str = jQuery(this).html();
											str = str.replace('[*', '<span title="');
											str = str.replace('*]', '" >');		
											str = str.replace('**]', ' </span>');	
											jQuery(this).html(str);
										});
										
										
																				
									</script>
								</apex:outputPanel>	

							</td>								
                    		<td style="width: 80%; vertical-align:top; border: 1px solid #C0C0C0; vertical-align: top;  background-color:#FFFFFF;">
								<div class="titleHeader">
									<apex:inputCheckbox onclick="ckeckAllItemsCourse(this.checked,'checkCoursesEdit',''); ckeckAll(this.checked,'checkCourses')" styleClass="allItemsCheckBox" />
									
									
									<apex:outputlabel value="Courses" style="bottom: 2px;position: relative;margin-right:20px;" />
									<apex:outputlink value="/apex/inc_Courses?id={!Account.ParentId}&cpID={!Account.Id}" style="bottom: 2px;position: relative;">(Add/Edit)</apex:outputlink>  		
									
									<apex:selectRadio value="{!CourseAvailable}" style="float:right; position: relative; top: -28px;" >
						            	<apex:selectOptions value="{!CourseAvailableList}"/>
										<apex:actionSupport event="onchange" status="ipStatus" action="{!selectCourseAvailable}" rerender="listClone, PriceDetails"  oncomplete="sizeFrame()"/>
						            </apex:selectRadio>
									                                    
                                    <apex:selectCheckboxes value="{!period}" id="coursePeriod" styleClass="periodClass" onclick="changePeriod();"  style="float:right; position: relative; top: -62px; left: -205px;" >
										<apex:selectOptions value="{!periods}" />
									</apex:selectCheckboxes>
									
									<apex:actionFunction name="changePeriod" action="{!selectCourseClone}" status="ipStatus" reRender="listClone, PriceDetails"/>
                                    
								</div>
								<apex:outputPanel id="listClone"  >
									<div class="divBox" id="listCourses">
										
										
										<div id="banner" class="message warningM3" style="{!IF(ISBLANK(noExtraFeesPerNationality) || cloneOption == 'new', 'display:none;', '')}" >
											<table cellspacing="0" cellpadding="0" border="0" class="messageTable">
												<tbody>
													<tr>
														<td class="messageCell">
															<div class="messageText">
																<apex:outputText value="{!noExtraFeesPerNationality}" escape="false" />
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										
										<apex:outputPanel rendered="{!cloneOption == 'clone' && selectedCloneCampus != acco.id}" >
											
											<div id="banner" class="message warningM3" >
												<table cellspacing="0" cellpadding="0" border="0" class="messageTable">
													<tbody>
														<tr>
															<td class="messageCell">
																<div class="messageText">
																	<apex:outputText value="Related files will be cloned only for courses within the same campus." escape="false" />
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
											
										</apex:outputPanel>
										
										<apex:outputPanel style="margin-top: 5px" rendered="{!cloneOption == 'clone'}" layout="block">
											<apex:outputText value="Campus: " style="font-weight: bold;margin-left: 15px;" />
											
											<apex:selectList value="{!selectedCloneCampus}" size="1" style="margin-left: 14px; width: 300px;">
		                                        <apex:SelectOptions value="{!campusCloneOptions}" />
		                                        <apex:actionSupport event="onchange" action="{!setCloneVar}" status="ipStatus" reRender="listClone"/>
		                                    </apex:selectList>
										</apex:outputPanel>
										
			                            <apex:selectCheckboxes value="{!courseClone}"  layout="pageDirection" style="width:100%;" styleClass="checkCourses" rendered="{!cloneOption != 'newRange'}">
			                                <apex:selectOptions value="{!CourseListClone}"/>			                                
			                            </apex:selectCheckboxes>
										
										
										<apex:pageBlock mode="maindetail" rendered="{!cloneOption = 'newRange'}">
											<apex:dataTable value="{!CoursePricesRange}" var="cp" style="width: 100%;" >
												<apex:column styleClass="rangePriceHeader">
													<apex:outputText value="{!cp.Course__r.Name}" />
												</apex:column>  
												<apex:column breakbefore="true" colspan="2">
													<apex:pageBlockTable value="{!cp.Course_Prices__r}" var="lp">
														<apex:variable value="{!priceStartDates[lp.id]}" var="startDates" />
														<apex:column >
															<apex:facet name="header">
																<apex:inputCheckBox styleClass="checkCoursesEdit" onclick="ckeckAllItemsCourse(this.checked,'{!cp.Course__r.id}','');" />
																
															</apex:facet>
															<apex:inputCheckBox value="{!lp.isSelected__c}" styleClass="checkCoursesEdit {!cp.Course__r.id}"/>
														</apex:column>  
														<apex:column value="{!lp.Nationality__c}" /> 
														<apex:column value="{!lp.Price_valid_from__c}" /> 
														<apex:column value="{!lp.Price_valid_until__c}" style="{!IF(lp.Price_valid_until__c < today(), 'color:red','' )};" /> 
														<apex:column value="{!lp.From__c}" /> 
														<apex:column value="{!lp.Price_per_week__c}" /> 
														<apex:column value="{!lp.unit_description__c}" /> 
														<apex:column headerValue="Availability">
															<apex:outputText value="{!CASE(lp.Availability__c,3.0,'OnShore & OffShore',1.0,'OnShore','OffShore')}"  style="{!CASE(lp.Availability__c,3.0,'',1.0,'color:red;','color:green')}"/>
															<apex:variable value="{!priceStartDates[lp.id]}" var="startDates" />
														</apex:column>
														
														
														<apex:column breakBefore="true" colspan="8" style="display:none;" />
														<apex:column breakBefore="true" style="{!IF(startDates.size > 0, '', 'display:none')}" />
														<apex:column colspan="7" style="{!IF(startDates.size > 0, '', 'display:none')}" >															
															<apex:pageBlockTable value="{!startDates}" var="startDate" style="width:50%">
																<apex:column value="{!startDate.From_Date__c}" headerValue="Start Date From" />
																<apex:column value="{!startDate.To_Date__c}" headerValue="Start Date To" />
																<apex:column value="{!startDate.Value__c}" headerValue="Start Date Value" />
															</apex:pageBlockTable>
															
														</apex:column>
														
													</apex:pageBlockTable>
												</apex:column>
											</apex:dataTable>
										</apex:pageBlock>
									</div>
								</apex:outputPanel>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<apex:outputPanel styleclass="btnBar" id="cloneBar">
									<apex:commandButton value="Copy items above to the select courses" action="{!itemsToClone}" rerender="PriceDetails,lstCourseCopyTo" rendered="{!cloneOption == 'clone'}" status="ipStatus" oncomplete="sizeFrame()" />
									<apex:commandButton value="Search" action="{!selectCourseClone}" status="ipStatus" rerender="PriceDetails,btn" rendered="{!cloneOption != 'clone'}" oncomplete="sizeFrame()"/>	
								</apex:outputPanel>
							</td>
						</tr>
						<tr>
							<td style="border: 1px solid #C0C0C0; vertical-align: top; background-color:#FFFFFF; " colspan="2">
								<apex:outputPanel rendered="{!cloneOption = 'new'}" >
									<div >
										<div class="titleHeader">
											<apex:outputText value="Add New Course Price" />
										</div>
					                    <table style="width:100%; padding: 5px; ">
											<tr>
												<td>
													<!--Price availability-->
													<apex:selectList value="{!newCoursePrice.Availability__c}" size="1" style="width:140px;">
					                                    <apex:selectOptions value="{!PriceAvailabilityList}"/>
					                                </apex:selectList> <br />
													<apex:outputText styleclass="SearchLabel" value="Availability" />
												</td>
												<td>
				                                    <apex:inputField value="{!newCoursePrice.Price_valid_from__c}" required="true"/> 
				                                    <apex:outputText styleclass="SearchLabel" value="Pay Date From" />
												</td>						
												<td>
												</td>
											 	<td>
				                                    <apex:inputField value="{!newCoursePrice.Price_valid_until__c}" required="true"/> 
				                                    <apex:outputText styleclass="SearchLabel" value="Pay Date To" />
				                             	</td>
												 <!--From--->
						                        <td>
						                            <apex:inputField value="{!newCoursePrice.From__c}"  styleClass="textboxmoney"/> 
													<apex:outputText styleclass="SearchLabel" value="From (units)" />
												</td>
												<td>
				                                    <apex:inputField value="{!newCoursePrice.Price_per_week__c}" styleClass="textboxmoney"  required="true"/> 
				                                    <apex:outputText styleclass="SearchLabel" value="Value" />
					                             </td>
												<!--unit description-->
						                        <td>
													<apex:image styleclass="helpIcon" value="/s.gif" style="margin: 0 3px; cursor:help; float: left;height: 30px;" title="Describes the breakdown of the unit (e.g. 12S + 12W = 24wks). Only used when sold in blocks and the number of units is a range. It shows on course search instead of the number of units." />
													<apex:inputField value="{!newCoursePrice.unit_description__c}" /> <br />
													<apex:outputText styleclass="SearchLabel" value="Unit Description" />
													
												</td>
												<td>
							                       <!--Comments-->
					                               <apex:inputField value="{!newCoursePrice.Comments__c}" style="width: 200px; height: 50px;" />
					                               <span class="SearchLabel">Comments</span> 
											   </td>
											</tr>
											<tr>
												<td colspan="8" style="padding-top: 5px;">
													<!--========================  File Details ============================================-->
							                        	<apex:selectList value="{!newCoursePrice.Account_Document_File__c}" size="1" style="width:700px;" styleClass="files">
															<apex:SelectOptions value="{!files}" /> 
														</apex:selectList>
														<script>
															jQuery('.files option[value!="Folder"]').attr('style','color:orangered;');								
															jQuery('.files option[value="Folder"]').attr('style','color:black;background-image: url("/resource/1367818070000/icons/icons/home_page/greengradient.png") !important');
															jQuery('.files option[value="Folder"]').attr('disabled','disabled');
															jQuery('.files option[value="disabled"]').attr('disabled','disabled');
															
															jQuery('.files option[value!="Folder"]').each(function(){
																var str = jQuery(this).html();
																str = str.replace('[*', '<span style="color:#999999;font-size:0.85em;margin-left:5px;"> ( ');
																str = str.replace('*]', ') </span>');										
																jQuery(this).html(str);
															});
														</script>
							                        	<apex:outputText styleclass="SearchLabel" value="Related File" />
												</td>
											</tr>
											<tr>
												<td colspan="7" style="width:100%; padding: 5px; text-align: center">
													<apex:commandButton action="{!addMultipleCoursePrice}"  status="ipStatus" rerender="ListPrice,PriceDetails" value="Add price" oncomplete="sizeFrame()" />
												</td>
											</tr>
		               					 </table>
										
										
									</div>	
								</apex:outputPanel>
								<apex:outputPanel style="vertical-align: top; background-color:#FFFFFF;" rendered="{!cloneOption = 'newRange'}" layout="block" id="newRange" >
									<div class="titleHeader" >
										<apex:outputText value="Add New Start Date Range" />
									</div>
									<apex:pageBlock >
										<div>
											<table style="width:100%; padding: 5px;">
												<tr>							
													<td width="150px;padding-left:10px;">
														<div class="SearchInput">
															<div class="requiredInput">
																<div class="requiredBlock"></div>
																<apex:inputField value="{!newPriceRange.From_Date__c}" />
															</div>
														</div>
														 <div class="SearchFooter">
															<span class="SearchLabel">Start Date From</span>
														</div>
													</td>
													<td width="150px;">
														<div class="SearchInput">
															<div class="requiredInput">
																<div class="requiredBlock"></div>
																<apex:inputField value="{!newPriceRange.To_Date__c}" />
															</div>
														</div>
														 <div class="SearchFooter">
															<span class="SearchLabel">Start Date To</span>
														</div>
													</td>
													<td width="150px;">
														<div class="SearchInput">
															<div class="requiredInput">
																<div class="requiredBlock"></div>
																<apex:inputField value="{!newPriceRange.Value__c}" style="width:68px;"  />
															</div>
														</div>
														 <div class="SearchFooter">
															<span class="SearchLabel">Value</span>
														</div>
													</td>
													
													<td width="250px;">
														<div class="SearchInput">
															<apex:inputField value="{!newPriceRange.Comments__c}" style="width:200px; height: 25px;"  />
														</div>
														 <div class="SearchFooter">
															<span class="SearchLabel">Comments</span>
														</div>
													</td>
													
													<td >
														<apex:commandButton status="ipStatus" rerender="newRange,PriceDetails" action="{!addStartDateRange}" value="Add Start Date Range" oncomplete="sizeFrame()" />
													</td>
													
												</tr>
												
												<tr>
													<td colspan="6">
														<!--========================  File Details ============================================-->
														<div style="width:100%; margin-top:5px;text-align:left;">                 
															
															<div class="SearchInput">
									                        	<apex:selectList value="{!newPriceRange.Account_Document_File__c}" size="1" style="width:700px;" styleClass="files">
																	<apex:SelectOptions value="{!files}" /> 
																</apex:selectList>
																<script>
																	jQuery('.files option[value!="Folder"]').attr('style','color:orangered;');
																	jQuery('.files option[value="Folder"]').attr('style','color:black;background-image: url("/resource/1367818070000/icons/icons/home_page/greengradient.png") !important');
																	jQuery('.files option[value="Folder"]').attr('disabled','disabled');
																	jQuery('.files option[value="disabled"]').attr('disabled','disabled');
																	
																	jQuery('.files option[value!="Folder"]').each(function(){
																		var str = jQuery(this).html();
																		str = str.replace('[*', '<span style="color:#999999;font-size:0.85em;margin-left:5px;"> ( ');
																		str = str.replace('*]', ') </span>');										
																		jQuery(this).html(str);
																	});
																</script>
									                        </div>
									                        <div class="SearchFooter">
									                        	<span class="SearchLabel">Related File</span>
									                        </div>
														</div>
													</td>
												</tr>
												
												<tr>
													<td colspan="5">
														<apex:outputPanel style="display:block; width: 100%; padding:5px 0; text-align: left;" id="listSelectedNations" >
															<apex:outputText value="Adding start date range for selected prices above. " style="font-weight: bold;" />										
														</apex:outputPanel>
													</td>
												</tr>
												
											</table>
										</div>
									</apex:pageBlock>
								</apex:outputPanel>
							</td>
						</tr>		
					</table>
					
					<div class="division" />
					<div id="listPriceDetails" >
						<apex:outputPanel id="PriceDetails" >
							<script>	
								showFile(jQuery('.relatedfile').is(':checked'),'fileRow');
								showFile(jQuery('.relatedfile').is(':checked'),'startDateFileRow');
								showFile(jQuery('.recordUpdate').is(':checked'),'updateDetails')
								
								
								jQuery(function($) {
									jQuery('tbody :checkbox').change(function() {
										jQuery(this).closest('tr').toggleClass('selected', this.checked);
										var itemidposStart = jQuery(this).attr('class').indexOf('itemid-[')
										var itemidposEnd = jQuery(this).attr('class').indexOf(']')
										var itemId = jQuery(this).attr('class').substring(itemidposStart+8,itemidposEnd);
										jQuery('.fileRow-'+itemId).toggleClass('selectedFileRow', this.checked);
									});
								});
							</script>
						 	<apex:pageMessage severity="warning" strength="3" rendered="{!ErrorMessage != ''}"  summary="{!ErrorMessage}" escape="false" /> 
							<apex:pageMessages escape="false" />
							<div class="fixedElement" style="width:100%; background-color: #C0C0C0;">
								<apex:outputPanel layout="block" style="text-align:right;padding: 3px 0;" rendered="{!cloneOption == 'clone' && NOT(ISNULL(lstclone)) && lstclone.size > 0}" >
			                    	<apex:commandButton value="Save" action="{!cloneCourse}" rerender="PriceDetails,lstCourseCopyTo" status="ipStatus"></apex:commandButton>
			                        <apex:commandButton value="Cancel" action="{!cancel}" rerender="PriceDetails,lstCourseCopyTo" status="ipStatus" style="margin-right:5px;"></apex:commandButton>
			                    </apex:outputPanel>
								<apex:outputPanel layout="block" style="text-align:right;padding: 3px 0;" rendered="{!(cloneOption == 'edit' || cloneOption == 'new' || cloneOption == 'newRange') && NOT(ISNULL(lstclone)) && lstclone.size > 0}" >
									<apex:commandButton value="Delete Selected" action="{!deleteCoursePrice}" onclick="if(!confirm('You are about to delete the selected prices?'))return false;"  rerender="PriceDetails,lstCourseCopyTo" status="ipStatus" style="float:left;"  oncomplete="sizeFrame()" rendered="{!cloneOption == 'edit' || cloneOption == 'new' || cloneOption == 'newRange'}"/>
									<apex:outputPanel style="float:left; margin-left:10px;">
										<apex:inputCheckbox selected="true" onclick="showFile(this.checked,'fileRow'); showFile(this.checked, 'startDateFileRow');" styleClass="relatedfile" />
										<apex:outputLabel value="Show related file" />
									</apex:outputPanel>
									<apex:outputPanel style="float:left; margin-left:10px;">
										<apex:inputCheckbox onclick="showFile(this.checked,'updateDetails')" styleClass="recordUpdate" />
										<apex:outputLabel value="Show update Details" />
									</apex:outputPanel>
									<apex:outputPanel style="float:left; margin-left:10px;">
										<apex:inputCheckbox value="{!showGrouped}" >
											<apex:actionSupport event="onchange" rerender="PriceDetails" oncomplete="sizeFrame()" status="ipStatus" />
										</apex:inputCheckbox>
										<apex:outputLabel value="Group per date range" />
									</apex:outputPanel>
									<apex:outputPanel >
										<apex:commandButton value="Edit" action="{!setEditMode}" rerender="PriceDetails,lstCourseCopyTo" status="ipStatus" onclick="ckeckAllItemsCourse(false,'courseDelete',''); jQuery('.courseSelectAll').removeAttr('checked');" oncomplete="sizeFrame()" rendered="{!NOT(editMode)}"></apex:commandButton>
				                    	<apex:commandButton value="Save" action="{!saveCoursePrice}" rerender="PriceDetails,lstCourseCopyTo" status="ipStatus" oncomplete="sizeFrame()" rendered="{!editMode}"></apex:commandButton>
				                        <apex:commandButton value="Cancel" action="{!cancel}" rerender="PriceDetails,lstCourseCopyTo" status="ipStatus" style="margin-right:5px;" onclick="ckeckAllItemsCourse(false,'courseDelete',''); jQuery('.courseSelectAll').removeAttr('checked');" oncomplete="sizeFrame()" rendered="{!editMode}"></apex:commandButton>
									</apex:outputPanel>
			                    </apex:outputPanel>
								<apex:outputPanel layout="block" style="text-align:right;padding: 3px 0;" rendered="{!(cloneOption == 'other' || cloneOption == 'timetable') && ListNewTimeTable.size > 0}" >
									
									<apex:outputPanel style="float:left; margin-left:10px;" rendered="{!editMode}" >
										<apex:inputCheckbox onclick="ckeckAllItemsCourse(this.checked,'courseConditionsCheck','');" styleclass="recordUpdate"  />
										<apex:outputLabel value="Select All Courses" />
									</apex:outputPanel>
									
									<apex:outputPanel style="float:left; margin-left:10px;">
										<apex:inputCheckbox selected="true" onclick="showFile(this.checked,'courseFileRow');" styleClass="relatedfile" />
										<apex:outputLabel value="Show related file" />
									</apex:outputPanel>
									
									<apex:outputPanel style="float:left; margin-left:10px;">
										<apex:inputCheckbox onclick="showFile(this.checked,'updateDetails')" styleclass="recordUpdate"  />
										<apex:outputLabel value="Show update Details" />
									</apex:outputPanel>
									
									<apex:commandButton value="Edit" action="{!setEditMode}" rerender="PriceDetails,lstCourseCopyTo" status="ipStatus" onclick="ckeckAllItemsCourse(false,'courseDelete',''); jQuery('.courseSelectAll').removeAttr('checked');" oncomplete="sizeFrame()" rendered="{!NOT(editMode)}" ></apex:commandButton>
			                    	<apex:commandButton value="Save" action="{!saveCourseInfo}" rerender="PriceDetails,lstCourseCopyTo" status="ipStatus" oncomplete="sizeFrame()" rendered="{!editMode}" ></apex:commandButton>
			                        <apex:commandButton value="Cancel" action="{!cancel}" rerender="PriceDetails,lstCourseCopyTo" status="ipStatus" style="margin-right:5px;" onclick="ckeckAllItemsCourse(false,'courseDelete',''); jQuery('.courseSelectAll').removeAttr('checked');" oncomplete="sizeFrame()" rendered="{!editMode}"></apex:commandButton>
			                    </apex:outputPanel>
							</div>
							<apex:outputPanel rendered="{!cloneOption != 'other' && cloneOption != 'timetable'}">
							
								<div style="display: block; height: 20px; padding: 3px;" class="titleHeader">
									 <apex:outputText value="Courses Price"  style="margin-left: 5px;" />
									 <apex:selectCheckboxes value="{!filterAvailability}"  style="float:right; position: relative; top: -21px;"  >
					                    <apex:selectOptions value="{!PriceAvailabilityList}" />
					                    <apex:actionSupport event="onchange"  action="{!refreshPrices}" status="ipStatusArea" rerender="PriceDetails"  oncomplete="sizeFrame()" />
					                </apex:selectCheckboxes>	
								</div>
								
								<apex:outputPanel >
									<table style="width:100%; padding: 4px;" >
										<tr>
											<td style="min-width:140px;">
												<apex:inputCheckbox onclick="ckeckAllItemsCourse(this.checked,'courseDelete','fileRow')" styleClass="courseSelectAll"/>
												<apex:outputLabel value="Select All Prices" />
												<br/>
												<apex:inputCheckbox onclick="ckeckAllItemsCourse(this.checked,'startDateCheck','startDateFileRow')" styleClass="courseSelectAll"/>
												<apex:outputLabel value="Select All Start Dates" />
											</td>
											<td style="{!IF(cloneOption = '2.0','width:57%','width:48%')};">
												<!--apex:outputText value="Related file to all promotions: " rendered="{!editMode}" styleClass="fileRow" style="color:orangeRed; display:none;"/-->
												<apex:selectList size="1" rendered="{!editMode}" onchange="applyFiles('files','PriceLine',this.value); applyFiles('files', 'startDatesLine', this.value);" styleClass="files fileRow" style="width:70%; display:none; background-color:#FFF !important;">
													<apex:SelectOptions value="{!files}" /> 
												</apex:selectList>
												
											</td>
											<td style="{!IF(cloneOption = '2.0','width:12.3%','width:12.3%')}; text-align:left;">
												<apex:outputText value="From Date" rendered="{!editMode}"/>
												<apex:inputText id="fromDateCourse" onfocus="DatePicker.pickDate(true, this, false);" size="10" styleClass="dateSearch" onchange="applyDates('fromDateCourse',this.value); this.value = ''; this.blur()" rendered="{!editMode}" />
											</td>
											<td style="{!IF(cloneOption = '2.0','width:10%','width:20%')}; text-align:left;">
												<apex:outputText value="To Date" rendered="{!editMode}"/>
												<apex:inputText id="toDateCourse" onfocus="DatePicker.pickDate(true, this, false);" size="10" styleClass="dateSearch" onchange="applyDates('toDateCourse',this.value); this.value = ''; this.blur()" rendered="{!editMode}" />
											</td>
											<td style="{!IF(cloneOption = '2.0','width:14.5%','width:14.5%')}; text-align:right;">
												<apex:outputText value="Search prices valid until: " style="display: block; padding-bottom:5px;margin-right: 10px;" rendered="{!NOT(editMode)}" />
												<apex:commandButton value="Filter" action="{!filterDates}" rerender="PriceDetails" oncomplete="sizeFrame()" style="color: orangered;font-size: 0.75em;height: 20px; float:right; margin-left:5px;margin-right: 10px;" status="ipStatus" rendered="{!NOT(editMode)}" />
												<apex:inputText value="{!dateFilter}" id="searctoDate" styleClass="searctoDate" onfocus="DatePicker.pickDate(true, this, false); setPos(this);" size="10" style="float:right; margin-left:3px;margin-right: 10px;" rendered="{!NOT(editMode)}" />
												
												
												<apex:inputTextArea rows="2" value="{!comments}" rendered="{!editMode}" style="width:200px;" styleClass="applyComments" /> 
												<apex:commandButton value="Apply to Selected Prices" rendered="{!editMode}" onclick="applyDates('comments', jQuery('.applyComments').val()); return false;" style="margin-right: 10px;" />
											</td>
										</tr>
									</table>
							</apex:outputPanel>
							<script>
									jQuery('.files option[value!="Folder"]').attr('style','color:orangered;');								
									jQuery('.files option[value="Folder"]').attr('style','color:black;background-image: url("/resource/icons/icons/home_page/greengradient.png") !important');
									jQuery('.files option[value="Folder"]').attr('disabled','disabled');
									jQuery('.files option[value="disabled"]').attr('disabled','disabled');
									
									jQuery('.files option[value!="Folder"]').each(function(){
										var str = jQuery(this).html();
										str = str.replace('[*', '<span style="color:#999999;font-size:0.85em;margin-left:5px;"> ( ');
										str = str.replace('*]', ') </span>');										
										jQuery(this).html(str);
									});
								</script>
							
							
							<apex:repeat value="{!lstclone}" var="lclone">
								<div class="titleHeader">
									<a href="#" class="apply" onmousedown="openCourse('{!lclone.campusCourse}', '{!lclone.courseName}', show_coords(event)); return false;" style="float:left;">{!lclone.courseName}</a>
									<apex:outputText value="(Only Sold in Blocks)" styleClass="soldinblocks" rendered="{!lclone.isSoldBlock = 'true'}"/>
									<apex:outputPanel rendered="{!NOT(ISNULL(lclone.coursePrice[0].Campus_Course__r.course__r.Instalment_Option__c))}" >
										
										<apex:outputPanel rendered="{!NOT(ISNULL(lclone.coursePrice[0].Campus_Course__r.course__r.Instalment_Term_Option__c))}">
											<apex:outputText value=")" styleClass="instalStyle" style="margin-left:0px;" />											
											<apex:outputText value="{!lclone.coursePrice[0].Campus_Course__r.course__r.Instalment_Term_Option__c}" styleClass="instalStyle" style="margin-right: 0px;" />
											<apex:outputText value="{!lclone.coursePrice[0].Campus_Course__r.course__r.Instalment_Term_Interval__c} " styleClass="instalStyle" />											
											<apex:outputText value="{!lclone.coursePrice[0].Campus_Course__r.course__r.Instalment_Option__c} = " styleClass="instalStyle" />											
											<apex:outputText value="(" styleClass="instalStyle" style="margin-left:5px;margin-right: 0px" />
										</apex:outputPanel>										
										
										<apex:outputText value="{!lclone.coursePrice[0].Campus_Course__r.course__r.Instalment_Option__c} " styleClass="instalStyle" style="color:black;" />
										<apex:outputText value="Instalment Option: " styleClass="instalStyle instalStyleHeader" />
										
										<apex:outputText value="{!lclone.coursePrice[0].Campus_Course__r.course__r.Instalment_Interval__c}" styleClass="instalStyle" style="color:black;" />
										<apex:outputText value="Instalment Interval: " styleClass="instalStyle instalStyleHeader" />
										
									</apex:outputPanel>
									
								</div>
								<table style="width:100%;" class="tbPrices">   
										<tr>
											<!--th style="{!IF(cloneOption == 'clone' || cloneOption == 'new','display:none','')};"-->
											<th>
												<apex:inputCheckbox onclick="ckeckAllItemsCourse(this.checked,'price-{!lclone.campusCourse}','fileRow-{!lclone.campusCourse}')" styleClass="courseDelete"/>
											</th>
											<th>Nationality Group/{!$ObjectType.Course_Price__c.fields.Availability__c.label}</th>
											<th>Pay Date From
												<apex:inputText id="fromDate" onfocus="DatePicker.pickDate(true, this, false);" size="10" styleClass="dateSearch" onchange="applyDates('fromDate-{!lclone.campusCourse}',this.value); this.value = ''; this.blur()" rendered="{!editMode}" />
												<!--apex:inputText id="fromDate" onfocus="DatePicker.pickDate(true, this, false);" size="10" styleClass="dateSearch" onchange="jQuery('.fromDate-{!lclone.campusCourse}').val(this.value); this.value = ''; this.blur()" rendered="{!editMode}" /-->
											</th>
											<th>Pay Date To
												<apex:inputText id="toDate" onfocus="DatePicker.pickDate(true, this, false);" size="10" styleClass="dateSearch" onchange="applyDates('toDate-{!lclone.campusCourse}',this.value); this.value = ''; this.blur()" rendered="{!editMode}" />
												<!--apex:inputText id="toDate" onfocus="DatePicker.pickDate(true, this, false);" size="10" styleClass="dateSearch" onchange="jQuery('.toDate-{!lclone.campusCourse}').val(this.value); this.value = ''; this.blur()" rendered="{!editMode}" /-->
											</th>
											<th style="text-align: right; min-width: 85px; max-width: 85px;">
												{!$ObjectType.Course_Price__c.fields.From__c.label}/{!$ObjectType.Course_Price__c.fields.To__c.label}
												<apex:outputText value=" ({!lclone.coursePrice[0].campus_Course__r.Course__r.Course_Unit_Type__c})" style="font-size:0.8em; color:#FF4500;" />
											</th>
											<th style="min-width: 85px; text-align: right;">{!$ObjectType.Course_Price__c.fields.Price_per_week__c.label}</th>
											<th style="text-align: right;">
												{!$ObjectType.Course_Price__c.fields.unit_description__c.label}
												<apex:image styleclass="helpIcon" value="/s.gif" style="margin: 0 3px; cursor:help" title="Describes the breakdown of the unit (e.g. 12S + 12W = 24wks). Only used when sold in blocks and the number of units is a range. It shows on course search instead of the number of units."/>
											</th>
											<th style="text-align: center;">
												{!$ObjectType.Course_Price__c.fields.Comments__c.label}
											</th>
											<!--th>{!$ObjectType.Course_Price__c.fields.Unavailable__c.label}</th-->
										</tr>
										<apex:variable value="newnation" var="nation" />
										<apex:repeat value="{!lclone.coursePrice}" var="item" rendered="{!NOT(showGrouped)}">
											<tr style="{!IF(item.Nationality__c != nation && nation != 'newnation','','display:none;')}"><td colspan="9" style="border: solid #999 1px; "></td></tr>
											<tr style="display:none;"><td></td></tr>
											<tr class="PriceLine line{!item.id} {!IF(item.isToCopy__c, 'copyItem','')}">
												<!--td style="{!IF(cloneOption == 'clone' || cloneOption == 'new','display:none','')};"-->
												<td>
													<apex:inputCheckbox value="{!item.isSelected__c}" styleClass="price-{!lclone.campusCourse} courseDelete itemid-[{!item.id}]" onclick="ckeckAllItemsCourse(this.checked, 'rangeId-{!item.id}');" /> 
												</td>
					                            <td width="20%">
					                                <apex:outputText value="{!item.Nationality__c}" styleClass="{!IF(ISNULL(item.id),'','readOption')}" style="{!IF(item.Nationality__c = 'Published Price','font-weight:bold;color: #555555;','')}" title="{!IF(item.Nationality__c = 'Published Price','Every nationality that it is not included in a group of nationalities',nationalityGroupHint[item.Nationality__c])}"/>
													<apex:variable value="{!item.Nationality__c}" var="nation" />
													<br />
													<apex:outputText value="{!CASE(item.Availability__c,3.0,'OnShore & OffShore',1.0,'OnShore','OffShore')}" styleClass="{!IF(ISNULL(item.id),'','readOption')}" style="font-size: 0.8em; {!CASE(item.Availability__c,3.0,'',1.0,'color:red;','color:green')}"/>
													<br />
													<apex:outputPanel layout="none" rendered="{!NOT(editMode) && NOT(item.isToCopy__c)}">
														<a href="#" onclick="openStartDates('{!item.id}', 'coursePrice'); return false;" class="relatedLink">New Start Dates</a>	
													</apex:outputPanel>
					                            </td>
					                            <td width="15%">
					                                <apex:outputText value="{0, date, dd/MM/yyyy}" rendered="{!NOT(editMode) && NOT(item.isToCopy__c)}" styleClass="{!IF(ISNULL(item.id),'','readOption')}" >
														<apex:param value="{!item.Price_valid_from__c}" />
													</apex:outputText>
													<apex:inputField value="{!item.Price_valid_from__c}" styleClass="fromDate-{!lclone.campusCourse} textboxdate fromDateCourse" rendered="{!editMode || item.isToCopy__c}" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)" />
					                            </td>
					                            <td width="15%">
					                                <apex:outputText value="{0, date, dd/MM/yyyy}" rendered="{!NOT(editMode) && NOT(item.isToCopy__c)}" styleClass="{!IF(ISNULL(item.id),'','readOption')}" style="{!IF(item.Price_valid_until__c < today(), 'color:red;', '')}" >
														<apex:param value="{!item.Price_valid_until__c}" />
													</apex:outputText>
					                                <apex:inputField value="{!item.Price_valid_until__c}" styleClass="toDate-{!lclone.campusCourse} textboxdate toDateCourse"  rendered="{!editMode || item.isToCopy__c}" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)" />
					                            </td>
					                            <td >
					                                
													<table style="width:100%;">
															<tr>
																<td style="width:45%; border: 0px;"><apex:outputText value="{!item.From__c}" rendered="{!((NOT(editMode)  && NOT(item.isToCopy__c)) ||  item.From__c = 1) }" styleClass="{!IF(ISNULL(item.id),'','readOption')}" /></td>
																<td style="width:10%; border: 0px;"><apex:outputText value="{!IF(item.To__c == 0,'or','to')}" rendered="{!(((NOT(editMode)  && NOT(item.isToCopy__c)) ||  item.From__c = 1)) && lclone.isSoldBlock = 'false' }" styleClass="{!IF(ISNULL(item.id),'','readOption')}" style="font-size:0.8em; text-align:center;" /></td>
																<td style="width:45%; text-align: right; border: 0px;"><apex:outputText value="{!IF(item.To__c == 0,'+',item.To__c)}" rendered="{!(((NOT(editMode)  && NOT(item.isToCopy__c)) ||  item.From__c = 1)) && lclone.isSoldBlock = 'false' }" styleClass="{!IF(ISNULL(item.id),'','readOption')}" /></td>
															</tr>
														</table>
					                                <apex:inputField value="{!item.From__c}" styleClass="textboxnumber" rendered="{!(editMode || item.isToCopy__c)&& item.From__c != 1}" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)" />
					                            </td>
						                        	
					                            <td width="15%" style="text-align:right;" >
					                                <apex:outputText value="{0, number, currency}" rendered="{!NOT(editMode) && NOT(item.isToCopy__c) }" styleClass="{!IF(ISNULL(item.id),'','readOption')}" style="font-weight:bold;" >
														<apex:param value="{!item.Price_per_week__c}" />
													</apex:outputText>
					                                <apex:inputField value="{!item.Price_per_week__c}"  styleClass="textboxmoney" rendered="{!editMode || item.isToCopy__c}" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)" />
					                            </td>
												<td width="15%" style="min-width: 138px; text-align: right;">
					                                <apex:outputText value="{!item.unit_description__c}" rendered="{!NOT(editMode) && NOT(item.isToCopy__c) }" styleClass="{!IF(ISNULL(item.id),'','readOption')}" />
					                                <apex:inputField value="{!item.unit_description__c}" rendered="{!editMode || item.isToCopy__c}" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)" />
					                            </td>
												<td width="15%" style="min-width: 200px; text-align: center;">
					                                <apex:outputText value="{!item.Comments__c}" rendered="{!NOT(editMode) && NOT(item.isToCopy__c) }" styleClass="{!IF(ISNULL(item.id),'','readOption')}"  />
					                                <apex:inputField value="{!item.Comments__c}" rendered="{!editMode || item.isToCopy__c}" styleClass="comments" style="width: 200px; height: 50px;" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)"/>
					                            </td>	
					                            <!--td width="15%" >
					                                <apex:outputField value="{!item.Unavailable__c}" rendered="{!NOT(editMode) && NOT(item.isToCopy__c) }" styleClass="{!IF(ISNULL(item.id),'','readOption')}" />
					                                <apex:inputField value="{!item.Unavailable__c}"  rendered="{!editMode || item.isToCopy__c}" />
					                            </td-->
											</tr>
											<tr style="display:none;"><td></td></tr>
											<tr class="rangeId-{!item.id}"> 
												<td colspan="8" style="border-top: 0px;" class="price-{!lclone.campusCourse}">
													<table style="width:100%; border-spacing:0; {!IF(item.Start_Date_Ranges__r.size > 0, '','display:none;')}" class="startDateTable">
														<tr>
															<th > <apex:inputCheckbox onclick="ckeckAllItemsCourse(this.checked, 'daterange-{!item.id}', 'startDateFileRow');" styleClass="startDateCheck" /> </th>
															<th>Start Date From</th>
															<th>Start Date To</th>
															<th>Start Date Value</th>
															<th>Comments</th>
														</tr>
														<apex:repeat value="{!item.Start_Date_Ranges__r}" var="dp">
															<tr class="line{!dp.id} startDatesLine">
																<td width="2%">
																	<apex:inputCheckbox value="{!dp.Selected__c}" styleClass="daterange-{!item.id} startDateCheck itemid-[{!dp.id}]"  />
																</td>
																<td width="10%">
																	<apex:outputField value="{!dp.From_Date__c}" rendered="{!NOT(editMode)}" />
																	<apex:inputField value="{!dp.From_Date__c}" rendered="{!editMode}" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)" />
																</td>
																<td width="10%">
																	<span class="{!IF(NOT(ISNULL(dp.To_Date__c)) && dp.To_Date__c < TODAY(), 'expired', '')}" >
																		<apex:outputField value="{!dp.To_Date__c}" rendered="{!NOT(editMode)}"/>
																	</span>
																	<apex:inputField value="{!dp.To_Date__c}" rendered="{!editMode}" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)" />
																</td>
																<td width="10%">
																	<apex:outputText value="$" rendered="{!NOT(editMode)}" />
																	<apex:outputField value="{!dp.Value__c}" rendered="{!NOT(editMode)}"/>
																	<apex:inputField value="{!dp.Value__c}" styleClass="smallInput" rendered="{!editMode}" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)"/>
																</td>
																<td width="68%">
																	<apex:outputField value="{!dp.Comments__c}" rendered="{!NOT(editMode)}"/>
																	<apex:inputField value="{!dp.Comments__c}" style="width:200px;height:25px;" rendered="{!editMode}" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)"/>
																</td>
															</tr>
															<tr style="display:none;"><td colspan="15"></td></tr>
															<tr class="startDateFileRow fileRow-{!dp.id} {!dp.id} noborder" style="display:none;">
																<td></td>
																<td colspan="14">
																	<apex:outputText value="Related File: " style="color:orangeRed;"/>
																	<!--<apex:commandLink value="{!dp.Account_Document_File__r.File_Name__c} ({!dp.Account_Document_File__r.Description__c})" action="{!viewFile}" target="_blank"  rendered="{!NOT(ISNULL(dp.Account_Document_File__c)) && NOT(editMode)}" style="color:navy;">
																			<apex:param value="{!dp.Account_Document_File__c}" name="fileId" />
																		</apex:commandLink>
																	-->	
																	
																	<apex:outputLink value="{!dp.Account_Document_File__r.Preview_Link__c}" target="_blank"  rendered="{!NOT(ISNULL(dp.Account_Document_File__c)) && NOT(editMode)}" style="color:navy;">{!dp.Account_Document_File__r.File_Name__c} ({!dp.Account_Document_File__r.Description__c})</apex:outputLink>	
																		
																		
										                        	<apex:selectList value="{!dp.Account_Document_File__c}" size="1" style="width:600px; {!IF(ISNULL(dp.Account_Document_File__c),'color:#999;','')}" styleClass="files files-{!dp.id}" rendered="{!editMode}" onchange="jQuery(this).css('background-color','#B0E0E6')" >
																		<apex:SelectOptions value="{!files}" /> 
																	</apex:selectList>
																	<script>
																		jQuery('.files option[value!="Folder"]').attr('style','color:orangered;');								
																		jQuery('.files option[value="Folder"]').attr('style','color:black;background-image: url("/resource/icons/icons/home_page/greengradient.png") !important');
																		jQuery('.files option[value="Folder"]').attr('disabled','disabled');
																		jQuery('.files option[value="disabled"]').attr('disabled','disabled');
																		
																		jQuery('.files option[value!="Folder"]').each(function(){
																			var str = jQuery(this).html();
																			str = str.replace('[*', '<span style="color:#999999;font-size:0.85em;margin-left:5px;"> ( ');
																			str = str.replace('*]', ') </span>');
																			jQuery(this).html(str);
																		});
																	</script>
																</td>
															</tr>
															<tr style="display:none;"><td></td></tr>
															<tr class="updateDetails" style="display:none;">
																<td></td>
																<td colspan="14">
																	<apex:outputText value="Created by: " styleClass="detailsLabel"/>
																	<apex:outputText value="{!dp.CreatedBy.Name}" styleClass="detailsDesc"/> 
																	<apex:outputText value=" on: {0,date,dd/MM/yy}" styleClass="detailsDesc">
																		<apex:param value="{!dp.CreatedDate}" />
																	</apex:outputText>
																	
																	<apex:outputText value="Last modified by: " style="margin-left:25px;" styleClass="detailsLabel"/>
																	<apex:outputText value="{!dp.LastModifiedBy.Name}" styleClass="detailsDesc"/> 
																	<apex:outputText value=" on: {0,date,dd/MM/yy}" styleClass="detailsDesc">
																		<apex:param value="{!dp.LastModifiedDate}" />
																	</apex:outputText>
																</td>
															</tr>
														</apex:repeat>
													</table>
												</td>
											</tr>
											<tr style="display:none;"><td></td></tr>
											<tr class="fileRow fileRow-{!item.id} fileRow-{!lclone.campusCourse}" style="display:none;">
												<td colspan="9">
													<apex:outputText value="Related File: " style="color:orangeRed;"/>
													<!--<apex:commandLink value="{!item.Account_Document_File__r.File_Name__c} ({!item.Account_Document_File__r.Description__c})" action="{!viewFile}" target="_blank"  rendered="{!NOT(ISNULL(item.Account_Document_File__c)) && NOT(editMode)}" style="color:navy;">
															<apex:param value="{!item.Account_Document_File__c}" name="fileId" />
													</apex:commandLink>
													-->
														
													<apex:outputLink value="{!item.Account_Document_File__r.Preview_Link__c}" target="_blank"  rendered="{!NOT(ISNULL(item.Account_Document_File__c)) && NOT(editMode)}" style="color:navy;">{!item.Account_Document_File__r.File_Name__c} ({!item.Account_Document_File__r.Description__c})</apex:outputLink>
														
													<apex:selectList value="{!item.Account_Document_File__c}" size="1" style="width:600px; {!IF(ISNULL(item.Account_Document_File__c),'color:#999;','')}" styleClass="files files-{!item.id}" rendered="{!editMode}" onchange="jQuery(this).css('background-color','#B0E0E6')" >
														<apex:SelectOptions value="{!files}" /> 
													</apex:selectList>
													
												</td>
											</tr>
											<tr style="display:none;"><td></td></tr>
											<tr class="updateDetails" style="display:none;">
												
												<td colspan="9">
													<apex:outputText value="Created by: " styleClass="detailsLabel"/>
													<apex:outputText value="{!item.CreatedBy.Name}" styleClass="detailsDesc"/> 
													<apex:outputText value=" on: {0,date,dd/MM/yy}" styleClass="detailsDesc">
														<apex:param value="{!item.CreatedDate}" />
													</apex:outputText>
													
													<apex:outputText value="Last modified by: " style="margin-left:25px;" styleClass="detailsLabel"/>
													<apex:outputText value="{!item.LastModifiedBy.Name}" styleClass="detailsDesc"/> 
													<apex:outputText value=" on: {0,date,dd/MM/yy}" styleClass="detailsDesc">
														<apex:param value="{!item.LastModifiedDate}" />
													</apex:outputText>
													
												</td>
											</tr>
											
											
											
										</apex:repeat>
										
										<!--========================================GROUPED CAMPUS PRICES==============================================================-->
										<apex:repeat value="{!groupedCoursesPrice[lclone.campusCourse]}" var="mapPrice" rendered="{!showGrouped}">
											
											<tr>
												<td  colspan="9" class="dateRange">
													<apex:outputText value="{!groupedCoursesPrice[lclone.campusCourse][mapPrice].dateRange}" escape="false" style="color:#777;" />
													<apex:variable value="newnation" var="nation" />
												</td>
											</tr>
											<apex:repeat value="{!groupedCoursesPrice[lclone.campusCourse][mapPrice].coursePrice}" var="itemMap">
												<tr style="{!IF(itemMap.Nationality__c != nation && nation != 'newnation','','display:none;')}"><td colspan="9" style="border: solid #999 1px; "></td></tr>
												<tr style="display:none;"><td></td></tr>
												<tr class="line{!itemMap.id}">
													<td style="{!IF(cloneOption == 'clone' || cloneOption == 'new','display:none','')};">
														<apex:inputCheckbox value="{!itemMap.isSelected__c}" styleClass="price-{!lclone.campusCourse} courseDelete itemid-[{!itemMap.id}]" />
													</td>
						                            <td width="50%">
						                                <apex:outputText value="{!itemMap.Nationality__c}" styleClass="{!IF(ISNULL(itemMap.id),'','readOption')}" style="{!IF(itemMap.Nationality__c = 'Published Price','font-weight:bold;color: #555555;','')}"  title="{!IF(itemMap.Nationality__c = 'Published Price','Every nationality that it is not included in a group of nationalities',nationalityGroupHint[itemMap.Nationality__c])}"/>
														<apex:variable value="{!itemMap.Nationality__c}" var="nation" /> 
														<br />
														<apex:outputText value="{!CASE(itemMap.Availability__c,3.0,'OnShore & OffShore',1.0,'OnShore','OffShore')}" styleClass="{!IF(ISNULL(itemMap.id),'','readOption')}" style="font-size: 0.8em;"/>
						                            </td>
						                            <td width="15%">
						                                <apex:outputText value="{0, date, dd/MM/yyyy}" rendered="{!NOT(editMode) && NOT(itemMap.isToCopy__c)}" styleClass="{!IF(ISNULL(itemMap.id),'','readOption')}" >
															<apex:param value="{!itemMap.Price_valid_from__c}" />
														</apex:outputText>
						                                <apex:inputField value="{!itemMap.Price_valid_from__c}" styleClass="fromDate-{!lclone.campusCourse} textboxdate" rendered="{!editMode || itemMap.isToCopy__c}" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)" />
						                            </td>
						                            <td width="15%">
						                                <apex:outputText value="{0, date, dd/MM/yyyy}" rendered="{!NOT(editMode) && NOT(itemMap.isToCopy__c)}" styleClass="{!IF(ISNULL(itemMap.id),'','readOption')}" >
															<apex:param value="{!itemMap.Price_valid_until__c}" />
														</apex:outputText>
						                                <apex:inputField value="{!itemMap.Price_valid_until__c}" styleClass="toDate-{!lclone.campusCourse} textboxdate"  rendered="{!editMode || itemMap.isToCopy__c}" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)" />
						                            </td>
						                            <td width="15%">
														<table style="width:100%;">
															<tr>
																<td style="width:45%; border: 0px;"><apex:outputText value="{!itemMap.From__c}" rendered="{!((NOT(editMode)  && NOT(itemMap.isToCopy__c)) ||  itemMap.From__c = 1) }" styleClass="{!IF(ISNULL(itemMap.id),'','readOption')}" /></td>
																<td style="width:10%; border: 0px;"><apex:outputText value="{!IF(itemMap.To__c == 0,'or','to')}" rendered="{!(((NOT(editMode)  && NOT(itemMap.isToCopy__c)) ||  itemMap.From__c = 1)) && lclone.isSoldBlock = 'false' }" styleClass="{!IF(ISNULL(itemMap.id),'','readOption')}" style="font-size:0.8em; text-align:center;" /></td>
																<td style="width:45%; border: 0px; text-align: right;"><apex:outputText value="{!IF(itemMap.To__c == 0,'+',itemMap.To__c)}" rendered="{!(((NOT(editMode)  && NOT(itemMap.isToCopy__c)) ||  itemMap.From__c = 1)) && lclone.isSoldBlock = 'false' }" styleClass="{!IF(ISNULL(itemMap.id),'','readOption')}" /></td>

															</tr>
														</table>
						                                
														
						                                <apex:inputField value="{!itemMap.From__c}" styleClass="textboxnumber" rendered="{!(editMode || itemMap.isToCopy__c) && itemMap.From__c != 1}" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)" />
						                            </td>
						                            <td width="15%" style="text-align:right;" >
						                                <apex:outputText value="{0, number, currency}" rendered="{!NOT(editMode) && NOT(itemMap.isToCopy__c)}" styleClass="{!IF(ISNULL(itemMap.id),'','readOption')}" style="font-weight:bold;" >
															<apex:param value="{!itemMap.Price_per_week__c}" />
														</apex:outputText>
						                                <apex:inputField value="{!itemMap.Price_per_week__c}"  styleClass="textboxmoney" rendered="{!editMode || itemMap.isToCopy__c}" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)" />
						                            </td>
													<td width="15%" style="min-width: 138px;">
						                                <apex:outputText value="{!itemMap.unit_description__c}" rendered="{!NOT(editMode) && NOT(itemMap.isToCopy__c)}" styleClass="{!IF(ISNULL(itemMap.id),'','readOption')}" />
						                                <apex:inputField value="{!itemMap.unit_description__c}" rendered="{!editMode || itemMap.isToCopy__c}" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)" />
						                            </td>	
													<td width="15%" style="min-width: 200px; text-align: center;">
						                                <apex:outputText value="{!itemMap.Comments__c}" rendered="{!NOT(editMode) && NOT(itemMap.isToCopy__c)}" styleClass="{!IF(ISNULL(itemMap.id),'','readOption')}"  />
						                                <apex:inputField value="{!itemMap.Comments__c}" rendered="{!editMode || itemMap.isToCopy__c}" styleClass="comments" style="width: 200px;" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)"/>
						                            </td>	
						                            <!--td width="15%" >
						                                <apex:outputfield value="{!itemMap.Unavailable__c}" rendered="{!NOT(editMode) && NOT(itemMap.isToCopy__c)}" styleClass="{!IF(ISNULL(itemMap.id),'','readOption')}" />
						                                <apex:inputField value="{!itemMap.Unavailable__c}"  rendered="{!editMode || itemMap.isToCopy__c}" />
						                            </td-->
												</tr>
												<tr style="display:none;"><td></td></tr>
												<tr class="rangeId-{!itemMap.id}"> 
													<td colspan="8" style="border-top: 0px;" class="price-{!lclone.campusCourse}">
														<table style="width:100%; border-spacing:0; {!IF(itemMap.Start_Date_Ranges__r.size > 0, '','display:none;')}" class="startDateTable">
															<tr>
																<th > <apex:inputCheckbox onclick="ckeckAllItemsCourse(this.checked, 'daterange-{!itemMap.id}');" /> </th>
																<th>Start Date From</th>
																<th>Start Date To</th>
																<th>Start Date Value</th>
																<th>Comments</th>
															</tr>
															<apex:repeat value="{!itemMap.Start_Date_Ranges__r}" var="dps">
																<tr class="line{!dps.id}">
																	<td width="2%">
																		<apex:inputCheckbox value="{!dps.Selected__c}" styleClass="daterange-{!itemMap.id} "  />
																	</td>
																	<td width="10%">
																		<apex:outputField value="{!dps.From_Date__c}" rendered="{!NOT(editMode)}" />
																		<apex:inputField value="{!dps.From_Date__c}" rendered="{!editMode}" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)" />
																	</td>
																	<td width="10%">
																		<span class="{!IF(NOT(ISNULL(dps.To_Date__c)) && dps.To_Date__c < TODAY(), 'expired', '')}" >
																			<apex:outputField value="{!dps.To_Date__c}" rendered="{!NOT(editMode)}"/>
																		</span>
																		<apex:inputField value="{!dps.To_Date__c}" rendered="{!editMode}" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)" />
																	</td>
																	<td width="10%">
																		<apex:outputText value="$" rendered="{!NOT(editMode)}" />
																		<apex:outputField value="{!dps.Value__c}" rendered="{!NOT(editMode)}"/>
																		<apex:inputField value="{!dps.Value__c}" styleClass="smallInput" rendered="{!editMode}" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)"/>
																	</td>
																	<td width="68%">
																		<apex:outputField value="{!dps.Comments__c}" rendered="{!NOT(editMode)}"/>
																		<apex:inputField value="{!dps.Comments__c}" style="width:200px;height:25px;" rendered="{!editMode}" onchange="jQuery(this).css('background-color','#B0E0E6')" onkeypress="isValidInput(event, this)"/>
																	</td>
																</tr>
																<tr style="display:none;"><td colspan="15"></td></tr>
																<tr class="fileRow fileRow-{!dps.id} {!dps.id} noborder" style="display:none;">
																	<td></td>
																	<td colspan="14">
																		<apex:outputText value="Related File: " style="color:orangeRed;"/>
																		<!--<apex:commandLink value="{!dps.Account_Document_File__r.File_Name__c} ({!dps.Account_Document_File__r.Description__c})" action="{!viewFile}" target="_blank"  rendered="{!NOT(ISNULL(dps.Account_Document_File__c)) && NOT(editMode)}" style="color:navy;">
																				<apex:param value="{!dps.Account_Document_File__c}" name="fileId" />
																			</apex:commandLink>
																			-->
																		<apex:outputLink value="{!dps.Account_Document_File__r.Preview_Link__c}" target="_blank"  rendered="{!NOT(ISNULL(dps.Account_Document_File__c)) && NOT(editMode)}" style="color:navy;">{!dps.Account_Document_File__r.File_Name__c} ({!dps.Account_Document_File__r.Description__c})</apex:outputLink>	
																			
											                        	<apex:selectList value="{!dps.Account_Document_File__c}" size="1" style="width:600px; {!IF(ISNULL(dps.Account_Document_File__c),'color:#999;','')}" styleClass="files files-{!dps.id}" rendered="{!editMode}" onchange="jQuery(this).css('background-color','#B0E0E6')" >
																			<apex:SelectOptions value="{!files}" /> 
																		</apex:selectList>
																		<script>
																			jQuery('.files option[value!="Folder"]').attr('style','color:orangered;');								
																			jQuery('.files option[value="Folder"]').attr('style','color:black;background-image: url("/resource/icons/icons/home_page/greengradient.png") !important');
																			jQuery('.files option[value="Folder"]').attr('disabled','disabled');
																			jQuery('.files option[value="disabled"]').attr('disabled','disabled');
																			
																			jQuery('.files option[value!="Folder"]').each(function(){
																				var str = jQuery(this).html();
																				str = str.replace('[*', '<span style="color:#999999;font-size:0.85em;margin-left:5px;"> ( ');
																				str = str.replace('*]', ') </span>');
																				jQuery(this).html(str);
																			});
																		</script>
																	</td>
																</tr>
																
																<tr style="display:none;"><td></td></tr>
																<tr class="updateDetails" style="display:none;">
																	<td></td>
																	<td colspan="14">
																		<apex:outputText value="Created by: " styleClass="detailsLabel"/>
																		<apex:outputText value="{!dps.CreatedBy.Name}" styleClass="detailsDesc"/> 
																		<apex:outputText value=" on: {0,date,dd/MM/yy}" styleClass="detailsDesc">
																			<apex:param value="{!dps.CreatedDate}" />
																		</apex:outputText>
																		
																		<apex:outputText value="Last modified by: " style="margin-left:25px;" styleClass="detailsLabel"/>
																		<apex:outputText value="{!dps.LastModifiedBy.Name}" styleClass="detailsDesc"/> 
																		<apex:outputText value=" on: {0,date,dd/MM/yy}" styleClass="detailsDesc">
																			<apex:param value="{!dps.LastModifiedDate}" />
																		</apex:outputText>
																	</td>
																</tr>
																
															</apex:repeat>
														</table>
													</td>
												</tr>
												<tr style="display:none;"><td></td></tr>
												<tr class="fileRow" style="display:none;">
													<td colspan="9">
														<apex:outputText value="Related File: " style="color:orangeRed;"/>
														<!--<apex:commandLink value="{!itemMap.Account_Document_File__r.File_Name__c} ({!itemMap.Account_Document_File__r.Description__c})" action="{!viewFile}" target="_blank"  rendered="{!NOT(ISNULL(itemMap.Account_Document_File__c)) && NOT(editMode)}" style="color:navy;">
															<apex:param value="{!itemMap.Account_Document_File__c}" name="fileId" />
														</apex:commandLink>-->
														
														<apex:outputLink value="{!itemMap.Account_Document_File__r.Preview_Link__c}" target="_blank"  rendered="{!NOT(ISNULL(itemMap.Account_Document_File__c)) && NOT(editMode)}" style="color:navy;">{!itemMap.Account_Document_File__r.File_Name__c} ({!itemMap.Account_Document_File__r.Description__c})</apex:outputLink>	
														
							                        	<apex:selectList value="{!itemMap.Account_Document_File__c}" size="1" style="width:700px; {!IF(ISNULL(itemMap.Account_Document_File__c),'color:#999;','')}" styleClass="files" rendered="{!editMode}">
															<apex:SelectOptions value="{!files}" /> 
														</apex:selectList>
														
													</td>
												</tr>
												<tr style="display:none;"><td></td></tr>
												<tr class="updateDetails" style="display:none;">
													
													<td colspan="9">
														<apex:outputText value="Created by: " styleClass="detailsLabel"/>
														<apex:outputText value="{!itemMap.CreatedBy.Name}" styleClass="detailsDesc"/> 
														<apex:outputText value=" on: {0,date,dd/MM/yy}" styleClass="detailsDesc">
															<apex:param value="{!itemMap.CreatedDate}" />
														</apex:outputText>
														
														<apex:outputText value="Last modified by: " style="margin-left:25px;" styleClass="detailsLabel"/>
														<apex:outputText value="{!itemMap.LastModifiedBy.Name}" styleClass="detailsDesc"/> 
														<apex:outputText value=" on: {0,date,dd/MM/yy}" styleClass="detailsDesc">
															<apex:param value="{!itemMap.LastModifiedDate}" />
														</apex:outputText>
														
													</td>
												</tr>
											</apex:repeat>	
										</apex:repeat>	
										
										
										
			                        </table>
									
									
		                    </apex:repeat>
							<script>
								jQuery('.files option[value!="Folder"]').attr('style','color:orangered;');								
								jQuery('.files option[value="Folder"]').attr('style','color:black;background-image: url("/resource/1367818070000/icons/icons/home_page/greengradient.png") !important');
								jQuery('.files option[value="Folder"]').attr('disabled','disabled');
								jQuery('.files option[value="disabled"]').attr('disabled','disabled');
								
								jQuery('.files option[value!="Folder"]').each(function(){
									var str = jQuery(this).html();
									str = str.replace('[*', '<span style="color:#999999;font-size:0.85em;margin-left:5px;"> ( ');
									str = str.replace('*]', ') </span>');										
									jQuery(this).html(str);
								});
									
							</script>
							
							<apex:repeat value="{!errorUpdate}" var="er">
								<script>
									jQuery('.line'+'{!er}').css('background-color','#FFB1B1');
									jQuery('.line'+'{!er}').find('td').css('border-top','solid 2px #FFF');
								</script>						
							</apex:repeat>
							<apex:repeat value="{!errorUpdateRange}" var="er">
								<script>
									jQuery('.line'+'{!er}').css('background-color','#FFB1B1');
									jQuery('.line'+'{!er}').find('td').css('border-top','solid 2px #FFF');
								</script>						
							</apex:repeat>
						</apex:outputPanel>
						<!--====================== OTHER INFORMATION ==========================================-->
						<apex:outputPanel rendered="{!cloneOption == 'other'}">
								
								<table width="80%;" style="margin: 10px 0;">
									<tr>
										<td style="padding-bottom: 10px;">
											<apex:selectList size="1" rendered="{!editMode}" onchange="applyFiles('files','courseLine',this.value);" styleClass="files fileRow courseFileRow" style="width:70%; display:none; background-color:#FFF !important;">
												<apex:SelectOptions value="{!files}" /> 
											</apex:selectList>
										</td>
									</tr>
									<!--<tr style="display:none;"><td></td></tr>
									
									<tr style="background: white;">
										<td>
											<apex:commandButton value="Apply to Selected Courses" rendered="{!editMode}" onclick="setConditions('courseFormsOfPayment', jQuery('.applyFormsOfPayment').val()); return false;" style="margin-right: 10px;" />
										</td>
										<td>
											<apex:commandButton value="Apply to Selected Courses" rendered="{!editMode}" onclick="setConditions('courseImportantInformation', jQuery('.importantInformation').val()); return false;" style="margin-right: 10px;" />
										</td>
									</tr>-->
								</table>
								
								<apex:variable value="{!0}" var="timetableCount" />
								<apex:repeat value="{!ListNewTimeTable}" var="item">
										<table width="100%;" style="margin-bottom: 15px;">
											
											<apex:outputPanel layout="none" rendered="{!timetableCount == 0}">
												
												<tr style="background-color: white;">
													<td style="padding-bottom: 15px;">
														<div style="{!IF(editMode, '', 'display:none;')}">
															<div style="width: 50%; float: left;">
																<span class="SearchLabel">Forms of Payments</span>
																<textArea maxlength="255"  style="width:95%; height: 50px;" class="applyFormsOfPayment" />
																<apex:commandButton value="Apply to Selected Courses" rendered="{!editMode}" onclick="setConditions('courseFormsOfPayment', jQuery('.applyFormsOfPayment').val()); return false;" style="margin-right: 10px;" />
															</div>
															<div style="width: 50%; float: left;">
																<span class="SearchLabel">Important information</span>
																<textArea maxlength="255"  style="width:95%; height: 50px;" class="importantInformation" />																
																<apex:commandButton value="Apply to Selected Courses" rendered="{!editMode}" onclick="setConditions('courseImportantInformation', jQuery('.importantInformation').val()); return false;" style="margin-right: 10px;" />
															</div>															
														</div>														
													</td>
													<td></td>
												</tr>
												<tr><td></td></tr>
												<apex:variable value="{!1}" var="timetableCount" />
											</apex:outputPanel>
											
											
											
											<tr class="courseLine">
												<td colspan="2">
													<div class="titleHeader">
														<apex:inputCheckbox styleClass="courseConditionsCheck itemid-[{!item.id}]" rendered="{!editMode}" />
														<a href="#" class="apply" onmousedown="openCourse('{!item.id}', '{!item.course__r.name}', show_coords(event)); return false;">{!item.course__r.name}</a>
													</div>
												</td>
											</tr>
											<tr>
												<td width="80%" style="vertical-align:top;">
													<div class="subTitleHeader">
														<apex:outputText value="Forms of Payments/Important information" />		
													</div>
													<!--IP TIPS-->
													<div>
														<div style="width: 50%; float: left;">
															<apex:outputField value="{!item.course__r.Payment_Rules__c}" rendered="{!NOT(editMode)}"/>
															<apex:inputField value="{!item.course__r.Payment_Rules__c}" style="width:95%; height:100px;" rendered="{!editMode}" styleClass="courseFormsOfPayment" /> <br />
															<span class="SearchLabel">Forms of Payments</span>
														</div>
														<div style="width: 50%; float: left;">
															<apex:outputField value="{!item.course__r.Important_information__c}" rendered="{!NOT(editMode)}" />
															<apex:inputField value="{!item.course__r.Important_information__c}" style="width:95%; height:100px;" rendered="{!editMode}" styleClass="courseImportantInformation" /> <br />
															<span class="SearchLabel">Important information</span>
														</div>
													</div>
													
												</td>
												
												<td width="18%" style="vertical-align:top;">
													
													<!--Installments-->
													<div class="subTitleHeader">
														<apex:outputText value="Instalment plan" />		
													</div>
													
													<table width="100%">
														<tr>
															<td>
																<apex:outputField value="{!item.course__r.Instalment_Option__c}" rendered="{!NOT(editMode)}" />
																<apex:inputField value="{!item.course__r.Instalment_Option__c}" rendered="{!editMode}" onchange="showTermOptions(this.value, '{!item.id}'); " /> 
																<span class="SearchLabel">Instalment option</span>
															</td>
															<td>
																<apex:outputPanel style="{!IF(item.course__r.Instalment_Option__c == 'Term', '', 'display:none;')}" styleClass="termOptions-{!item.id}" >
																	<apex:outputField value="{!item.course__r.Instalment_Term_Option__c}" rendered="{!NOT(editMode)}" />
																	<apex:inputField value="{!item.course__r.Instalment_Term_Option__c}" rendered="{!editMode}" styleClass="termOption-{!item.id}" />
																	<span class="SearchLabel">Term Option</span>
																</apex:outputPanel>
															</td>
														</tr>
														<tr>
															<td>
																<apex:outputField value="{!item.course__r.Instalment_Interval__c}" rendered="{!NOT(editMode)}" />
																<apex:inputField value="{!item.course__r.Instalment_Interval__c}" rendered="{!editMode}" />
																<span class="SearchLabel">Instalment interval</span>
															</td>
															<td>
																<apex:outputPanel style="{!IF(item.course__r.Instalment_Option__c == 'Term', '', 'display:none;')}" styleClass="termOptions-{!item.id}" >
																	<apex:outputField value="{!item.course__r.Instalment_Term_Interval__c}" rendered="{!NOT(editMode)}"  />
																	<apex:inputField value="{!item.course__r.Instalment_Term_Interval__c}" rendered="{!editMode}" styleClass="termInterval-{!item.id}" />
																	<span class="SearchLabel">Term Interval</span>
																</apex:outputPanel>
															</td>
														</tr>
													</table>
													
													<!--<div style="width: 100%; margin: 5px 0;">
														
														 														
																									
														
														
														
													</div>
													<div  style="width: 100%; margin: 5px 0;">								
														
													</div>	-->
												</td>
											</tr>											
											<tr style="display:none;"><td></td></tr>
											<tr class="courseFileRow fileRow-{!item.id}">
												<td colspan="9" style="padding-top: 10px;">
													<apex:outputText value="Related File: " style="color:orangeRed;"/>
													<!--<apex:commandLink value="{!item.course__r.Account_Document_File__r.File_Name__c} ({!item.course__r.Account_Document_File__r.Description__c})" action="{!viewFile}" target="_blank"  rendered="{!NOT(ISNULL(item.course__r.Account_Document_File__c)) && NOT(editMode)}" style="color:navy;">
															<apex:param value="{!item.course__r.Account_Document_File__c}" name="fileId" />
														</apex:commandLink>-->
														
														
													<apex:outputLink value="{!item.course__r.Account_Document_File__r.Preview_Link__c}" target="_blank"  rendered="{!NOT(ISNULL(item.course__r.Account_Document_File__c)) && NOT(editMode)}" style="color:navy;">{!item.course__r.Account_Document_File__r.File_Name__c} ({!item.course__r.Account_Document_File__r.Description__c})</apex:outputLink>		
														
													<apex:selectList value="{!item.course__r.Account_Document_File__c}" size="1" style="width:600px; {!IF(ISNULL(item.course__r.Account_Document_File__c),'color:#999;','')}" styleClass="files files-{!item.id}" rendered="{!editMode}" onchange="jQuery(this).css('background-color','#B0E0E6')" >
														<apex:SelectOptions value="{!files}" /> 
													</apex:selectList>
													<script>
														jQuery('.files option[value!="Folder"]').attr('style','color:orangered;');								
														jQuery('.files option[value="Folder"]').attr('style','color:black;background-image: url("/resource/1367818070000/icons/icons/home_page/greengradient.png") !important');
														jQuery('.files option[value="Folder"]').attr('disabled','disabled');
														jQuery('.files option[value="disabled"]').attr('disabled','disabled');
														
														jQuery('.files option[value!="Folder"]').each(function(){
															var str = jQuery(this).html();
															str = str.replace('[*', '<span style="color:#999999;font-size:0.85em;margin-left:5px;"> ( ');
															str = str.replace('*]', ') </span>');										
															jQuery(this).html(str);
														});
													</script>
												</td>
											</tr>
											
											<tr style="display:none;"><td></td></tr>
											<tr class="updateDetails" style="display:none;">
												
												<td colspan="2">
													<apex:outputText value="Created by: " styleClass="detailsLabel"/>
													<apex:outputText value="{!item.CreatedBy.Name}" styleClass="detailsDesc"/> 
													<apex:outputText value=" on: {0,date,dd/MM/yy}" styleClass="detailsDesc">
														<apex:param value="{!item.CreatedDate}" />
													</apex:outputText>
													
													<apex:outputText value="Last modified by: " style="margin-left:25px;" styleClass="detailsLabel"/>
													<apex:outputText value="{!item.LastModifiedBy.Name}" styleClass="detailsDesc"/> 
													<apex:outputText value=" on: {0,date,dd/MM/yy}" styleClass="detailsDesc">
														<apex:param value="{!item.LastModifiedDate}" />
													</apex:outputText>
													
												</td>
											</tr>
											
										</table>
										
									</apex:repeat>	

							</apex:outputPanel>
							
							<!--====================== TIMETABLE ==========================================-->
							<apex:outputPanel rendered="{!cloneOption == 'timetable'}">
								
								<table width="80%;" style="margin: 10px 0;">
									<tr>
										<td>
											<textArea maxlength="255"  style="width:97%; height: 50px;{!IF(editMode, '', 'display:none;')}" class="applyTimetable" /> 											
										</td>
									
									</tr>
									<tr style="background: white;">
										<td>
											<apex:commandButton value="Apply to Selected Courses" rendered="{!editMode}" onclick="setConditions('courseTimetable', jQuery('.applyTimetable').val()); return false;" style="margin-right: 10px;" />
										</td>
										
									</tr>
								</table>
							
								
								<apex:repeat value="{!ListNewTimeTable}" var="item">
									<table width="100%;" style="margin-bottom: 15px;">
										<tr>
											<td>
												<div class="titleHeader">
													<apex:inputCheckbox styleClass="courseConditionsCheck" rendered="{!editMode}" />
													<a href="#" class="apply" onmousedown="openCourse('{!item.id}', '{!item.course__r.name}', show_coords(event)); return false;">{!item.course__r.name}</a>	
												</div>
											</td>
										</tr>
										<tr>
											<td width="80%" style="vertical-align:top;">
												<div class="subTitleHeader">
													<apex:outputText value="Course Timetable" />		
												</div>
												<div style="width: 100%;">
													<apex:outputField value="{!item.Time_Table__c}" rendered="{!NOT(editMode)}"/>
													<apex:inputField value="{!item.Time_Table__c}" style="width:95%; height:100px;" rendered="{!editMode}" styleClass="courseTimetable" /> <br />
												</div>
											</td>
										</tr>
										<tr class="updateDetails" style="display:none;">
											
											<td >
												<apex:outputText value="Created by: " styleClass="detailsLabel"/>
												<apex:outputText value="{!item.CreatedBy.Name}" styleClass="detailsDesc"/> 
												<apex:outputText value=" on: {0,date,dd/MM/yy}" styleClass="detailsDesc">
													<apex:param value="{!item.CreatedDate}" />
												</apex:outputText>
												
												<apex:outputText value="Last modified by: " style="margin-left:25px;" styleClass="detailsLabel"/>
												<apex:outputText value="{!item.LastModifiedBy.Name}" styleClass="detailsDesc"/> 
												<apex:outputText value=" on: {0,date,dd/MM/yy}" styleClass="detailsDesc">
													<apex:param value="{!item.LastModifiedDate}" />
												</apex:outputText>
												
											</td>
										</tr>
									</table>
								</apex:repeat>	
							</apex:outputPanel>
							
							<script>
								jQuery(parent.document).scroll(function(e){ 
									try {
										var posScroll = 500;
										var posTop = 178;
										if(window.frameElement != null && jQuery("iframe[id="+window.frameElement.id+"]",parent.document).attr('name') == 'prices_maintenance'){
											posScroll = 645;
											posTop = 140;
										}
										if (jQuery(parent.document).scrollTop() > posScroll ){ 
										   jQuery('.fixedElement').css({'position': 'fixed', 'width':'100%', 'background': 'url("/resource/1367818070000/icons/icons/home_page/greengradient.png")','top': jQuery(parent.document).scrollTop()-posTop}); 
										} 
										else {
											jQuery('.fixedElement').css({'position': '', 'background': '#C0C0C0', 'width':'100%'}); 
										}
									} catch (err){}
								});  
							</script>
						
						</apex:outputPanel>
						
					</div>	
    	        </apex:outputpanel>

    
        
    </apex:form>

    
</apex:page>