<apex:page standardController="client_course_instalment_payment__c" showHeader="false" sidebar="false" extensions="instalment_payment_history" >
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

<head>
    <c:modalLoadingLightning />

    <apex:slds /> 
</head>
	<div class="slds-scope">
		<br/>
		 <h2 class="subheader-content" style="display: flex;">                       
			<span class="slds-icon_container slds-icon-standard-partner-fund-claim" style="margin-left: 10px;">
				<svg class="slds-icon slds-icon--medium" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/standard-sprite/svg/symbols.svg#partner_fund_claim')}" />
				</svg>
			</span>
			<div class="slds-text-heading_medium" style="margin-left: 10px; position: relative; top: 3px; font-weight: 400;">Payment History</div>
		</h2>                   
		<br/>
		<table class="slds-table slds-table_bordered slds-table_cell-buffer slds-table_striped">
			<thead>
				<tr class="slds-text-title_caps">
					<th>Field</th>
					<th>User</th>
					<th>Date</th>
					<th>Old Value</th>
					<th>New Value</th>
				</tr>
			</thead>
			<tbody>
				<apex:repeat value="{!History}" var="ht" >
					<tr>
						<td><apex:outputField value="{!ht.Field}" /></td>
						<td><apex:outputField value="{!ht.CreatedBy.Name}" /></td>
						<td><apex:outputField value="{!ht.CreatedDate}" /></td>
						<td><apex:outputField value="{!ht.OldValue}" /></td>
						<td><apex:outputField value="{!ht.NewValue}" /></td>
					</tr>
				</apex:repeat>
			</tbody>
		</table>
		<footer class="slds-modal__footer" style="text-align: center; bottom: 0; position: fixed; width: 100%;">
			<a class="slds-button slds-button_neutral" onclick="window.parent.closemodal();">Close</a>
		</footer>
	</div>				
</html>
	
</apex:page>