<apex:page controller="whatsappMessages" docType="html-5.0" lightningStyleSheets="true" standardStylesheets="true" showHeader="true" sidebar="true">
    <apex:slds />

    <apex:include pageName="xCourseSearchStyle" />
    <apex:includeScript value="{!$Resource.up_jQuery}"/>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" />
    <apex:includeScript value="{!URLFOR($Resource.jquerymask,'jquerymask.js')}" />

    <apex:styleSheet value="{!URLFOR($Resource.up_chosen,'chosen.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.up_chosen,'chosen.jquery.js')}" />
    
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

    <!-- <apex:includeScript value="{!URLFOR($Resource.amcharts,'amcharts/amcharts.js')}" />

    <apex:includeScript value="{!URLFOR($Resource.amcharts,'amcharts/serial.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.amcharts,'amcharts/themes/light.js')}" /> -->
    
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"/>
    <apex:includeScript value="{!$Resource.angularFilter}" />
    <apex:includeScript value="{!URLFOR($Resource.selectize_v2_0,'selectize.min.js')}" /> 

    <style>
        h1.header {
            font-weight: 700;
            color: rgb(62, 62, 60);
            text-transform: uppercase;
            font-size: .925rem;
            letter-spacing: .0625em;
            line-height: 1.25;
            margin: 10px;
        }
    </style>
    <script>
        var myapp = angular.module("leadsFromWhatsapp",[]);
        myapp.controller("appController", function($scope, $timeout) {
            $scope.init = function(){
                showModalLoading(true);
                Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.whatsappMessages.retrieveLeadsFromWhatsapp}',
                    function(result, event){
                        if (event.status) {
                            console.log(result);
                            showModalLoading(false);
                        } else if (event.type === 'exception') {
                            console.log(event.message + "<br/>\n<pre>" + event.where + "</pre>");
                        } else {
                            console.log("responseErrors" + event.message);
                        }
                    },  
                    {escape: false, timeout: 120000}
                );
            }
            $scope.init();
        });
    </script>
    <c:modalLoadingLightning />
    <div id="scope-container" ng-app="leadsFromWhatsapp" ng-controller="appController" class="slds-scope">
        <div style="text-align: right; margin-bottom: 5px;">
            <apex:outputLink value="/help_link?fl=report_conversion_rate" target="_blank" style="font-weight: normal;text-decoration: none;  color: #777777;">
                <apex:image value="{!urlfor($Resource.icons,'icons/commons/help.png')}" style="height: 16px; width: 16px; top: -2px; position: relative" />
                Help
            </apex:outputLink>
        </div>
        <div>
            <h1 class="header">Leads From whatsapp</h1>
        </div>
    </div>
</apex:page>