<apex:page controller="LeadsReportController"  sidebar="true">
	<!-- <apex:include pageName="xStylePageV2" /> -->


	<apex:outputPanel layout="block" style="float:left;margin-top:5px; width:100%;" id="countTasks">
		<div style="float:left;width:20%">
			<span class="arrow-e" style="font-size: 1em;"></span>
			<apex:outputText value="Leads" styleclass="title" style="font-size:16px;font-weight:bold;padding-left:5px;" />
			<apex:outputPanel id="agencyTotal">
				<apex:outputText value="({!totalLeadsInProgress + totalNewLeads} listed)" styleclass="title" style="font-size:16px;font-weight:bold;padding-left:5px;" />
			</apex:outputPanel>
		</div>
		<div style="float:left;text-align: center; width: 57%;">
			<apex:outputText value="{!userAgencyName}" styleclass="title" style="font-size:25px;font-weight:bold;" styleClass="title" />
		</div>
		<div style="float:right;">
			<a href="#" class="agencyButton" id="addClient" onClick="openCourse();">Create new lead</a>
		</div>
	</apex:outputPanel>




	<!-- <div style="position:fixed;right:16px;" class="newLeadButtons">
		<apex:outputPanel id="headerDetails">
			<apex:outputText value="{!totalLeads} leads" style="font-size:1.2em;margin-top: 5px; float: right;" styleclass="yellowFont" />
			<apex:outputLabel value="New Lead/Visit Offshore" onclick="openNewRegistration();return false;" styleClass="btn orangeButton" style="font-size:1.1em; text-decoration: none;margin-right:25px; display: inline-block; text-align: center; width: 140px; float: right; margin-right: 10px;" />
			<apex:outputLabel value="New Lead/Visit Onshore" onclick="openNewOnshoreRegistration();return false;" styleClass="btn orangeButton" style="font-size:1.1em; text-decoration: none;margin-right:25px; display: inline-block; text-align: center; width: 140px; float: right; margin-right: 10px;" />
		</apex:outputPanel>
	</div> -->



	<apex:includeScript value="{!$Resource.jquery}"/>
	<apex:stylesheet value="{!URLFOR($Resource.JqueryAcc, 'css/cupertino/jquery-ui-1.8.23.custom.css')}" />
	<apex:includeScript value="{!URLFOR($Resource.JqueryAcc, 'js/jquery-1.8.0.min.js')}" />
	<apex:includeScript value="{!URLFOR($Resource.JqueryAcc, 'js/jquery-ui-1.8.23.custom.min.js')}" />
	<apex:includeScript value="{!URLFOR($Resource.JqueryMultiPicklist2, 'jquery-ui.min.js')}" />
	<apex:includeScript value="{!URLFOR($Resource.JqueryMultiPicklist2, 'prettify.js')}" />
	<apex:includeScript value="{!URLFOR($Resource.JqueryMultiPicklist2, 'jquery.multiselect.js')}" />
	<apex:includeScript value="{!URLFOR($Resource.JqueryMultiPicklist2, 'jquery.multiselect.filter.js')}" />
	<apex:stylesheet value="{!URLFOR($Resource.JqueryMultiPicklist2, 'jquery.multiselect.css')}" />
	<apex:stylesheet value="{!URLFOR($Resource.JqueryMultiPicklist2, 'style.css')}" />
	<apex:stylesheet value="{!URLFOR($Resource.JqueryMultiPicklist2, 'prettify.css')}" />
	<apex:stylesheet value="{!URLFOR($Resource.JqueryMultiPicklist2, 'jquery-ui.css')}" />
	<apex:stylesheet value="{!URLFOR($Resource.JqueryMultiPicklist2, 'jquery.multiselect.filter.css')}" />

	<apex:includeScript value="{!$Resource.jqueryBlockUI}" />
	<apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}"/>
	<apex:includeScript value="{!URLFOR($Resource.assets,'modalfiles/modal.js')}" />
	<apex:stylesheet value="{!URLFOR($Resource.assets,'modalfiles/modal.css')}" />

	<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />
	<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />
	<apex:include pageName="xCourseSearchStyle" />


	<apex:form style="font-size:0.9em;" >


	<style>
				.buttonNewCLient {
					-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
					-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
					box-shadow: inset 0px 1px 0px 0px #ffffff;
					background-color: #ededed;
					-moz-border-radius: 6px;
					-webkit-border-radius: 6px;
					font-size: 12px;
					border-radius: 6px;
					border: 1px solid #dcdcdc;
					display: inline-block;
					color: #777777;
					cursor: pointer;
					font-family: arial;
					font-weight: bold;
					padding: 6px 24px;
					text-decoration: none;
					text-shadow: 1px 1px 0px #ffffff;
				}

				.buttonNewCLient:hover {
					background-color: #dfdfdf;
					text-decoration: none;
				}

				.buttonNewCLient:active {
					position: relative;
					text-decoration: none;
					top: 1px;
				}

				.row_highlighted {
					background-color: #56a83c;
				}

				.odd {
					background-color: #F3F3F3;
				}

				.even {
					background-color: #FFFFFF;
				}

				.custPopup {
					border-width: 0px;
					border-style: solid;
					z-index: 9998;
					/*left: 50%;*/
					padding: 10px;
					position: absolute;
					/* These are the 3 css properties you will need to change so the popup
				            displays in the center of the screen. First set the width. Then set
				            margin-left to negative half of what the width is. You can add
				            the height property for a fixed size pop up if you want.*/
					width: 50%;
					/*margin-left: -250px;*/ /*top:50%;*/
				}

				.custPopupComment {
					border-width: 0px;
					border-style: solid;
					z-index: 9998;
					left: 50%;
					padding: 10px;
					position: absolute;
					/* These are the 3 css properties you will need to change so the popup
				            displays in the center of the screen. First set the width. Then set
				            margin-left to negative half of what the width is. You can add
				            the height property for a fixed size pop up if you want.*/
					width: 50%;
					margin-left: -250px;
					top: 50%;
				}

				.popupBackground {
					background-color: black;
					opacity: 0.20;
					filter: alpha(opacity =   20);
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					z-index: 9997;
				}

				body {
					font: 72.5% "Trebuchet MS", sans-serif;
					margin: 20px;
				}

				.comment {
					width: 300px;
					height: 75px;
				}

				.commentFormatTable {
					width: 130px;
				}

				.h0_accordion {
					display: block;
				}

				.h1_accordion {
					display: block;
				}

				.h2_accordion {
					display: block;
				}

				.h3_accordion {
					display: block;
				}

				.h3_accordion_active {
					display: block;
				}

				.status_Waiting {
					color: grey;
				}


				.status_Transferred {
					color: grey;
					font-size: 0.85em;
				}

				.empty-column-content {
					display: none;
				}

				.datePicker,.datePicker .dateBar,.datePicker .calBody,.datePicker .calDays,.datePicker .buttonBar,.datePicker Select
					{
					float: none;
					overflow: inherit;
					z-index: 9999;
				}

				.ui-tabs .ui-widget-content {
					background-color: white
				}

				.arrow-e {
					border-style: dashed;
					border-color: transparent;
					border-width: 0.53em;
					display: -moz-inline-box;
					display: inline-block;
					/* Use font-size to control the size of the arrow. */
					font-size: 0.7em !important;
					height: 0;
					line-height: 0;
					position: relative;
					vertical-align: middle;
					width: 0;
					border-left-width: 1em;
					border-left-style: solid;
					//border-left-color: orange;
					left: 0.25em;
				}

				.ui-widget-header {
					background: none !important;
					border: none !important;
				}

				.table_header {
					background-color: #FCE384 !important;
					color: black !important;
					padding: 0 5px;
				}

				.greyFont {
					color: grey !important;
				}

				.yellowFont {
					//color: #FE5802 !important;
					//color: #1c94c4 !important;
					font-weight: bold;
				}

				.yellowNotLink {
					color: #F6B200 !important;
					text-decoration: none;
				}

				.SearchLabel {
					color: #4A4A56;
					font-size: 12px;
					font-style: italic;
					font-weight: normal;
				}

				.ui-tabs .ui-tabs-panel {
					padding: 1em 0.5em !important;
				}

				.counter {
					background-color: gold;
					border-radius: 10px 10px 10px 10px;
					color: #000000;
					padding: 2px;
					position: relative;
					z-index: 1;
					front-weight: bold;
				}

				.btn {
					color: gray !important;
				}

				.ui-tabs .ui-tabs-nav li {
					margin-right: 10px;
				}


				.small {
					font-size: 0.8em;
				}

				.tab-3 {
					margin-left: 20px !important;
				}

				div.scroll {
					height: 200px;
					overflow: auto;
				}


				.mini {
					font-size: 0.8em !important;
				}


				ct {
					text-align:center;
				}

				.datePicker select {
					font-size: 0.85em;
					height: 19px;
					width: 74px;
				}

				#calYearPicker {
					width: 48px;
				}

				.dateFormat {
					display: none;
				}

				.datePicker .calBody {
					padding: 0
				}

				.datePicker .dateBar .calRight,.datePicker .dateBar .calRightOn {
					margin: 0 2px 0 0;
					height: 17px;
				}

				.datePicker .dateBar .calLeft,.datePicker .dateBar .calLeftOn {
					margin: 0;
					height: 17px;
				}

				.box-searh input,.box-searh select,.SearchFooter {
					//margin-left: 10px;
				}

				.box-searh,.box-searh {
					background-color: #F3F3F3;
					border: 1px solid #999999 !important;
					border-radius: 5px 5px 5px 5px;
					box-shadow: 0 0 0 #CCCCCC;
					display: block;
					padding: 4px;
				}

				.orange{
					//background-color: orange;
					height: 25px;
				}


				.searchBtn {
				    color: #8FAACD;
				    position: relative;
				    text-decoration: none;
				    top: -11px;
					//left: -30px;
				}

				.a {
					text-decoration: none;
				}

				.smallButton {
					font-size: 0.8em !important;
				}

				.LoI-0 {
					color: red !important;
				}

				.LoI-1 {
					color: green !important;
				}

				.LoI-2 {
					//color: red !important;
				}

				.LoI-3 {
					//color: blue !important;
				}

				.LoI-4 {
					//color: red !important;
				}

				.LoI-5 {
					//color: red !important;
				}

				body {font-family: Helvetica, Arial, sans-serif; font-size: 0.8em;}


				.searchLink {
					text-decoration: none;
					display: block;
					height: 30px;
				}

				.searchLink:hover {
					background-color: #CCDEF5;
					border-radius: 3px;
					text-decoration: none;
				}

				.ui-dialog-title {
					color: black !important;
					font-weight: bold !important;
				}
				.ui-dialog-titlebar {
					background: url("images/ui-bg_highlight-soft_100_deedf7_1x100.png") repeat-x scroll 50% 50% #DEEDF7 !important;
				}

				.ui-widget-overlay {
					background: none;
					background-color: #616161;
		    		opacity: 0.5;
				    position: fixed;
					z-index: 1011;
				}

				.divTab {
					float: left;
					margin-top: 3px;
					//color: orange;
					border-top-right-radius: 4px;
					border-top-left-radius 4px;
					background: url("images/ui-bg_glass_100_f6f6f6_1x400.png") repeat-x scroll 50% 50% #F6F6F6;
				}

				iframe {border: 0;}



			</style>


	<apex:outputPanel id="wholePage">

		<script>
			var j$ = jQuery.noConflict();

			j$("body", top.document).find('li[id=home_Tab]').css('display','none');

			var modalWind;
			function showLoading() {
			        j$.blockUI({ css: {
			            border: 'none',
			            padding: '15px',
			            backgroundColor: '#000',
			            '-webkit-border-radius': '10px',
			            '-moz-border-radius': '10px',
			            opacity: .5,
			            color: '#fff'
			        } });
			        //setTimeout(jQuery.unblockUI, 2000);
			  }

			function hideLoading(){
				j$.unblockUI();
			}


			 j$(document).ready(function() {



		        var h_selected = "{!selectedTab}";
		        j$(function() {
		                j$( "#tabs" ).tabs({
		                     select: function( event, ui ) {
		                        //if(ui.tab.indexOf('agencyGroupTab') == -1)
		                        //j$(esc("{!$Component.tabselected}")).val(ui.index);
		                     }

		                });
		            j$( "#tabs" ).tabs("option", "selected", parseInt(j$(esc("{!$Component.tabselected}")).val()));


		        });


				var leftOffset = parseInt(jQuery('.newLeadButtons').css('top'));

				jQuery(window).scroll(function() {

					jQuery('.newLeadButtons').css({
						'top': leftOffset - jQuery(this).scrollTop()
					})
				});

				jQuery('.chosen').chosen();

			});

			function esc(myid) {
		        return '#' + myid.replace(/(:|\.)/g,'\\\\$1');
		    }

			function selectAll(value,ischecked){
	            j$('.'+value).each(function(){
	                this.checked = ischecked;
	            });
	        }

			function openAssignLeads(accountIDs){

				var w = 915;
				var h = 400;
				var left = (screen.width/2)-(w/2);
				var top = (screen.height/2)-(h/2);
				if (window.showModalDialog) {
					window.showModalDialog('AssignLeads?ids='+accountIDs,null,'dialogWidth:'+w+'px; dialogHeight:'+h+'px; dialogTop='+top+'; dialogLeft='+left);
				} else {
					window.open('AssignLeads?ids='+accountIDs,null,'height='+h+',width='+w+',toolbar=no,directories=no,status=no,menubar=no,resizable=no,modal=yes, top='+top+', left='+left);
				}
			}


			function doit(action, checkboxClass){

				var clientIDs = '';
					jQuery('.'+checkboxClass).each(function(){
						if(this.checked){

							if(clientIDs == '')
								clientIDs = this.name;
							else
								clientIDs = clientIDs + ',' + this.name;
						}

					});

				if(clientIDs != '') {
					if(action == 'assign')
						openAssignLeads(clientIDs);
					else if(action == 'accept'){
						if(confirm('Are you sure you want to accept the selected leads?'))
							acceptLeads(clientIDs);
					} else if(action == 'email'){
						openSendMassEmail(clientIDs);
					} else if(action == 'openTasks'){
						jQuery('.'+checkboxClass).each(function(){
							if(this.checked){
								jQuery('.tasksDiv-'+this.name).css('display','');
								jQuery('.taskdiv-'+this.name).css('border', '1px solid lightgray');
								jQuery('.btnMaxTasks-'+this.name).css('display','none');
								jQuery('.btnMinTasks-'+this.name).css('display','');
							}
						});
					} else if(action == 'delete'){
						if(confirm('Are you sure you want to delete the selected leads?'))
							deleteLeads(clientIDs);
					}
					jQuery('.action').val('');

				} else {
					var al = 'Please select the leads you wish to ';
					if(action == 'assign')
						alert(al + 'assign.');
					else if(action == 'accept')
						alert(al + 'accept.');
					else if(action == 'convert')
						alert(al + 'convert.');
					else if(action == 'delete')
						alert(al + 'delete.');

					jQuery('.action').val('');
					return false;
				}

			}

			function openSendMassEmail(accountIDs){

				var w = 915;
				var h = 800;
				var left = (screen.width/2)-(w/2);
				var top = (screen.height/2)-(h/2);
				//if (window.showModalDialog) {
				//	window.showModalDialog('SendMassEmail?ids='+accountIDs,null,'dialogWidth:'+w+'px; dialogHeight:'+h+'px; dialogTop='+top+'; dialogLeft='+left);
				//} else {
					window.open('SendMassEmail?ids='+accountIDs,null,'height='+h+',width='+w+',toolbar=no,directories=no,status=no,menubar=no,resizable=no,modal=yes, top='+top+', left='+left);
				//}
			}

			function toggle(popUpDiv) {

				var el = document.getElementById(popUpDiv);
				if ( el.style.display == 'none' ) { el.style.display = '';}
				else {el.style.display = 'none';}

				return false;
			}

			function toggleBox(popUpDiv) {

				var el = document.getElementById(popUpDiv);
				if ( el.style.display == 'none' ) { el.style.display = '';}
				else {el.style.display = 'none';}

				return false;
			}

			 String.prototype.toHHMMSS = function () {
                sec_numb    = parseInt(this);
                var hours   = Math.floor(sec_numb / 3600);
                var minutes = Math.floor((sec_numb - (hours * 3600)) / 60);
                var seconds = sec_numb - (hours * 3600) - (minutes * 60);

                if (hours   < 10) {hours   = "0"+hours;}
                if (minutes < 10) {minutes = "0"+minutes;}
                if (seconds < 10) {seconds = "0"+seconds;}
                var time    = hours+':'+minutes+':'+seconds;
                return time;
            }

			function esc(myid) {
                return '#' + myid.replace(/(:|\.)/g,'\\\\$1');
            }


             function setCloseModal(){
				jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
				jQuery('.Close').unbind('click');
				jQuery('.Close').click(function() {closemodal();});

			}

            function openTasks(p, editInfo){
		    	modalWind = dhtmlmodal.open('createTask', 'iframe', 'Client_Checklist?id='+p+'&pop=pop&lead=1&editInfo='+editInfo, 'Task | Edit', 'width=600px,height=520px,resize=1,center=1,scrolling=1');
		        setCloseModal();
		    }

            function openEditTask(clientID,taskID){
		    	modalWind = dhtmlmodal.open('edittask', 'iframe', 'Client_Checklist?id='+clientID+'&task='+taskID+'&pop=pop&lead=1&editInfo=false', 'Task | Edit', 'width=570px,height=650px,resize=1,center=1,scrolling=1');
		        setCloseModal();
		    }

            function closemodal(){
            	modalWind.close();
				jQuery('#interVeil').css('display','none');

			}

			function closeTaskModal(){
				jQuery('#interVeil').css('display','none');
		        modalWind.close();
			}

			function completeCreateTask(){
			 	if(modalWind!=null)
            		modalWind.close();
				jQuery('#interVeil').css('display','none');
				refresh();
			}

			 function closeModalAndRefresh(){
			 	if(modalWind!=null)
            		modalWind.close();
				jQuery('#interVeil').css('display','none');
				refresh();
			}

			/*function openTasks(p){
	            var w = 570;
	            var h = 730;
	            var left = (screen.width/2)-(w/2);
	            var top = (screen.height/2)-(h/2);
	            window.open('Client_Checklist?id='+p+'&pop=pop&lead=1',null,'height='+h+',width='+w+',toolbar=no,directories=no,status=no,menubar=no,resizable=yes,modal=yes, top='+top+', left='+left, scrollbars=1);
			}
				function openEditTask(clientID,taskID){
				var w = 570;
	            var h = 790;
				var left = (screen.width/2)-(w/2);
				var top = (screen.height/2)-(h/2);
				window.open('Client_Checklist?id='+clientID+'&task='+taskID+'&pop=pop&lead=1',null,'height='+h+',width='+w+',toolbar=no,directories=no,status=no,menubar=no,resizable=yes,modal=yes, top='+top+', left='+left, scrollbars=1);

	        }*/

			function setFocusOnLoad() {}

			function toggleTasks(popUpDiv, clientid) {
				var el = document.getElementById(popUpDiv);
				if ( el.style.display == 'none' ) {
					el.style.display = '';
					jQuery('.taskdiv-'+clientid).css('border', '1px solid lightgray');
				} else {
					el.style.display = 'none';
					jQuery('.taskdiv-'+clientid).css('border', '');
					jQuery('.taskdiv-'+clientid).css('border-top', '1px solid lightgray');
				}


				return false;
			}

			function openNewRegistration(param1,tab){
				var w = 950;
				var h = 650;
				var left = (screen.width/2)-(w/2);
				var top = (screen.height/2)-(h/2);
				if (window.showModalDialog) {
					window.showModalDialog('/apex/new_lead',null,'dialogWidth:'+w+'px; dialogHeight:'+h+'px; dialogTop='+top+'; dialogLeft='+left);
				} else {
					window.open('/apex/new_lead',null,'height='+h+',width='+w+',toolbar=no,directories=no,status=no,menubar=no,resizable=no,modal=yes, top='+top+', left='+left);
				}
			}

			function openNewOnshoreRegistration(param1,tab){
				var w = 1100;
				var h = 650;
				var left = (screen.width/2)-(w/2);
				var top = (screen.height/2)-(h/2);
				if (window.showModalDialog) {
					window.showModalDialog('/apex/FrontDeskPanelRegistration',null,'dialogWidth:'+w+'px; dialogHeight:'+h+'px; dialogTop='+top+'; dialogLeft='+left);
				} else {
					window.open('/apex/FrontDeskPanelRegistration',null,'height='+h+',width='+w+',toolbar=no,directories=no,status=no,menubar=no,resizable=no,modal=yes, top='+top+', left='+left);
				}
			}

		/***********************************************************************************************/
		/************************** Convert Lead *****/
		/***********************************************************************************************/

		function convertLead(id, name, country, city, etd){
			var dialogText = '';
			if(country != '' && country != 'multiple' && country != 'Not Sure')
				dialogText = 'Name: <span class="title">' + name + '</span><br/>Destination Country: <span class="title">' + country + '</span><br/>Destination City: <span class="title">' + city + '</span><br/>Expected Travel Date:  <span class="title">' + etd + '</span><br/><br/>Are you sure you want to proceed?';
			else if(country == '' || country == 'Not Sure')
				dialogText ='You cannot convert a lead whithout a destination.<br/>Please go back to select final destination and then convert.';
			else if(country == 'multiple')
				dialogText = 'You cannot convert a lead with multiple destinations.<br/>Please go back to select final destination and then convert.';

			if(country != '' && country != 'multiple' && country != 'Not Sure'){
				leadConvert(dialogText);
			} else {
				msgConvertLead(dialogText);
			}
		}

		function setCloseMessageModal(){
			jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
			jQuery('.Close').unbind('click');
			jQuery('.Close').click(function() {closemodal();});
		}

		function closemodal(){
			jQuery('#interVeil').css('display','none');
			 modalVisit.close();
		}

		function msgConvertLead(msg){
			jQuery('.convertLeadMessage').html(msg);
			modalVisit = dhtmlmodal.open('Convert Lead', 'div', 'convertLeadMessage', 'Convert Lead', 'width=450px,height=50px,resize=1,center=1,scrolling=0');
		    setCloseMessageModal();
		}

		function leadConvert(msg){
			jQuery('.convertLeadMessage').html(msg);
			modalVisit = dhtmlmodal.open('Convert Lead', 'div', 'convertLeadConfirm', 'Convert Lead', 'width=450px,height=140px,resize=1,center=1,scrolling=0');
			setCloseMessageModal();
		}


		/***********************************************************************************************/
		/************************** END Convert Lead *****/
		/***********************************************************************************************/

			var modal;
	 		function openClientDetails(param1,tab){
		    	modal = dhtmlmodal.open('ContactOverview', 'iframe', 'activity_log?id='+param1+ '&sHeader=false', 'Contact Overview', 'width=800px,height=700px,resize=1,center=1,scrolling=0');
		    	setCloseModal();
		    }

		   function setCloseModal(){
				jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
				jQuery('.Close').unbind('click');
				jQuery('.Close').click(function() {closemodal();});
			}

	   	   function closemodal(){
				jQuery('#interVeil').css('display','none');
				 modal.close();
			}


		function openCourse(){
            modal=dhtmlmodal.open('newclients', 'iframe', 'new_Client?rcp=true', 'Add New Lead', 'width=900px,height=750px,resize=0,center=1,scrolling=1');
            modal.moveTo('middle', 'middle');
            jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
			jQuery('.Close').unbind('click');
			jQuery('.Close').click(function() {closemodal();});
        }

        function closeModalWindow(){
			jQuery('#interVeil').css('display','none');
            modal.close();
        }


        function openContactOverview(param){
			jQuery('#interVeil').css('display','none');
            modal.close();
            showLoading('Please Wait...');
            window.open('activity_log?id='+param+'&forceSyncRD=true','_self',false);
        }
		</script>



		<div id="convertLeadMessage" style="display:none">
				<apex:outputpanel style="padding:5px;margin-top:10px;font-weight:bold;" layout="block">
					<apex:outputText styleclass="convertLeadMessage title" style="margin-left: 0;" escape="false" />
				</apex:outputpanel>
			</div>

		<div id="convertLeadConfirm" style="display:none">
			<apex:outputpanel style="padding:5px;font-weight:bold" layout="block">
				<apex:outputText styleclass="convertLeadMessage" style="margin-left: 0;margin-right:5px;" escape="false" />
				<apex:commandlink styleclass="agencyButton" onclick="convert()" value="Convert" onComplete="closemodal();" />
			</apex:outputpanel>
		</div>

		<apex:actionStatus id="statusLoad" onstart="showLoading();" onstop="hideLoading();" />

		<apex:actionFunction name="acceptLeads" action="{!acceptLead}" status="statusLoad" rerender="wholePage" oncomplete="jQuery('.action').val('Loading...');">
			<apex:param name="leadID" value="" />
		</apex:actionFunction>

		<apex:actionFunction name="deleteLeads" action="{!deleteLeads}" status="statusLoad" rerender="wholePage" oncomplete="jQuery('.action').val('Loading...');">
			<apex:param name="leadID" value="" />
		</apex:actionFunction>

		<apex:actionFunction name="convert" action="{!convert}" status="statusLoad" rerender="wholePage" oncomplete="modalVisit.close();jQuery('.action').val('');">
			<apex:param name="convertID" value="" />
		</apex:actionFunction>

		<apex:actionFunction action="{!getVariableLeads}" name="variableLeads" status="statusLoad" reRender="wholePage,agencyTotal,countTasks" >
			<apex:param name="type" value="" />
			<apex:param name="typeID" value="" />
		</apex:actionFunction>

		<apex:actionFunction action="{!getAllLeads}" name="allLeads" status="statusLoad" reRender="wholePage, agencyTotal,countTasks" >
		</apex:actionFunction>


		<apex:actionFunction name="refresh" action="{!refreshLists}" status="statusLoad" reRender="wholePage, countTasks" />

		<!--<apex:actionPoller action="{!refreshLists}" status="statusLoad" reRender="wholePage" interval="180" />-->

		<div style="clear: both;" >
			<div style="float:left;width:20%">
			<apex:outputPanel rendered="{!userDetails.Contact.Group_View_Permission__c}" >
				<div style="clear:both;height:8px;" />
				<table>
					<tr>
						<td style="vertical-align:middle;">
							<apex:outputLabel value="View as:" />
						</td>
						<td>
							<apex:selectRadio value="{!selectedManagerView}" >
								<apex:selectOptions value="{!managerOptions}"/>
								<apex:actionSupport event="onchange" action="{!changeView}" rerender="wholePage,countTasks" status="statusLoad"/>
							</apex:selectRadio>
						</td>
					</tr>
				</table>
			</apex:outputPanel>
			</div>
			<!-- <div style="float:left;width:80%;">
				<div style="clear:both;height:15px;" />
				<apex:commandLink value="" action="/apex/yLeadMap" target="_blank" />
			</div> -->
		</div>
		<div style="clear: both; {!IF(userDetails.Contact.Group_View_Permission__c,'height: 8px;', 'height: 20px;')}"></div>


		<!--> Manager? {!isManager} - Group Permission? {!isGroupPermission} -->





		<apex:outputPanel layout="block" style="width:99%;padding-top:5px;" id="filter" styleClass="box-searh">

			<table>
				<tr>
					<td>
						<apex:outputPanel style="float:left">
							<div class="SearchInput">
								<apex:selectList value="{!selectedAgencyGroup}" multiselect="false" size="1" style="margin-right:10px;margin-top: 3px;width:150px;" styleclass="chosen" disabled="{!NOT(hasGroupPermission)}">
									<apex:selectoptions value="{!agencyGroupOptions}" />
									<apex:actionSupport event="onchange" action="{!searchAgencies}" status="statusLoad" rerender="agencies" onComplete="jQuery('.agencyChosen').chosen();"/>
								</apex:selectList>
							</div>
							<div class="SearchFooter"><span class="SearchLabel">Agency Group</span></div>
						</apex:outputPanel>
					</td>

					<td>

						<apex:outputPanel style="float:left">
							<div class="SearchInput">
								<apex:selectList id="leadDestination" value="{!selectedLeadDestination}" multiselect="false" size="1" style="margin-right:10px;margin-top: 3px;width: 150px;" styleclass="chosen">
									<apex:selectoptions value="{!leadDestinationOptions}" />
									<apex:actionSupport event="onchange" action="{!refreshLeadStatus}" status="statusLoad" rerender="leadStatuspn" onComplete="jQuery('.leadStatus').chosen();"/>

								</apex:selectList>
							</div>
							<div class="SearchFooter"><span class="SearchLabel">Destination</span></div>
						</apex:outputPanel>
					</td>

					<td>
						<apex:outputPanel style="float:left">
							<div class="SearchInput">
								<apex:selectList id="leadClassification" value="{!selectedLeadClassification}" multiselect="false" size="1" style="margin-right:10px;margin-top: 3px;width: 150px;" styleclass="chosen">
									<apex:selectoptions value="{!leadClassificationOptions}" />
								</apex:selectList>
							</div>
							<div class="SearchFooter"><span class="SearchLabel">Lead Classification</span></div>
						</apex:outputPanel>
					</td>
					<td >
						<div class="SearchInput">
							<apex:selectList id="loi" value="{!selectedLevelOfInterest}" multiselect="false" size="1" style="margin-right:10px;margin-top: 3px;width: 150px;" styleclass="chosen">
								<apex:selectoptions value="{!levelOfInterestOptions}" />
							</apex:selectList>
						</div>
						<div class="SearchFooter"><span class="SearchLabel">Level of Interest</span></div>
					</td>
					<td rowspan="2">
						<apex:outputPanel style="float:left">
							<div class="SearchInput">
								<!-- <apex:selectList id="leadProduct" value="{!selectedLeadProduct}" multiselect="true" size="4" style="margin-right:10px;margin-top: 3px;width: 150px;" >
									<apex:selectoptions value="{!leadProductOptions}" />
								</apex:selectList> -->
								<div style="overflow-y:auto; max-height:80px; height:80px; overflow-x:hidden;background-color: white;border: 1px solid #999;">
									<apex:selectcheckboxes id="leadProduct" value="{!selectedLeadProduct}" style="margin-right:10px;margin-top: 3px;width: 150px;" layout="pageDirection">
										<apex:selectoptions value="{!leadProductOptions}" />
									</apex:selectcheckboxes>
								</div>
							</div>
							<div class="SearchFooter"><span class="SearchLabel">Products</span></div>
						</apex:outputPanel>
					</td>
					<td rowspan="2">
						<apex:outputPanel style="float:left">
							<div class="SearchInput">
								<!-- <apex:selectList id="leadStudyType" value="{!selectedLeadStudyType}" multiselect="true" size="4" style="margin-right:10px;margin-top: 3px;width: 235px;"  >
									<apex:selectoptions value="{!leadStudyTypeOptions}" />
								</apex:selectList> -->
								<div style="overflow-y:auto; max-height:80px; height:80px; overflow-x:hidden;background-color: white;border: 1px solid #999;margin-right: 5px;">
									<apex:selectcheckboxes id="leadStudyType" value="{!selectedLeadStudyType}" style="margin-right:10px;margin-top: 3px;width: 235px;" layout="pageDirection" >
										<apex:selectoptions value="{!leadStudyTypeOptions}" />
									</apex:selectcheckboxes>
								</div>
							</div>
							<div class="SearchFooter"><span class="SearchLabel">Study Type</span></div>
						</apex:outputPanel>
					</td>

					<td>
						<apex:outputPanel style="float:left">
							<div class="SearchInput">
								<apex:selectList id="leadDatesBasedOn" value="{!selectedDatesBasedOn}" multiselect="false" size="1" style="margin-right:10px;margin-top: 3px;width: 150px;" styleclass="chosen">
									<apex:selectoptions value="{!leadDatesBasedOnOptions}" />
								</apex:selectList>
							</div>
							<div class="SearchFooter"><span class="SearchLabel">Dates Based On</span></div>
						</apex:outputPanel>
					</td>

					<td>
						<apex:outputPanel style="float:left">
							<div class="SearchInput">
								<apex:inputText value="{!leadName}" style="margin-right:10px;margin-top: 3px; width: 150px;height: 20px;"/>
							</div>
							<div class="SearchFooter"><span class="SearchLabel">Lead Name</span></div>
						</apex:outputPanel>
					</td>

					<td style="vertical-align: middle; text-align: center;" rowspan="2">
						<apex:outputPanel styleClass="SearchField">
							<div class="SearchInput">
								<apex:commandLink status="statusLoad" action="{!refreshLists}" styleClass="searchLink" title="Search!" reRender="wholePage, agencyTotal,countTasks" style="text-decoration:none;">
									<apex:image title="Search" url="{!URLFOR($Resource.icons,'icons/commons/SIcon.png')}" style="background-repeat: no-repeat;" />
									<apex:outputText value="Search" styleClass="searchBtn" />
								</apex:commandLink>
							</div>
						</apex:outputPanel>
					</td>

				</tr>

				<tr>
					<td>
						<apex:outputPanel style="float:left">
							<div class="SearchInput">
								<apex:outputpanel id="agencies">
									<apex:selectList value="{!selectedAgency}" multiselect="false" size="1" style="margin-right:10px;margin-top: 3px;width:150px;" styleclass="chosen agencyChosen" disabled="{!AND(NOT(hasGroupPermission),ISNULL(userDetails.Aditional_Agency_Managment__c))}">
										<apex:selectoptions value="{!agencyOptions}" />
									</apex:selectList>
								</apex:outputpanel>
							</div>
							<div class="SearchFooter"><span class="SearchLabel">Agency</span></div>
						</apex:outputPanel>
					</td>

					<td>
						<apex:outputPanel style="float:left" id="leadStatuspn">
							<div class="SearchInput">
								<apex:selectList id="leadStatus" value="{!selectedLeadStatus}" multiselect="false" size="1" style="margin-right:10px;margin-top: 3px;width: 150px;" disabled="{!(selectedLeadDestination == null || selectedLeadDestination== '')}" styleclass="leadStatus chosen">
									<apex:selectoptions value="{!leadStatusOptions}" />
								</apex:selectList>
							</div>
							<div class="SearchFooter"><span class="SearchLabel">Lead Status</span></div>
						</apex:outputPanel>
					</td>

					<td>
						<apex:outputPanel style="float:left">
							<div class="SearchInput">
								<apex:selectList id="leadTravelDuration" value="{!selectedLeadTravelDuration}" multiselect="false" size="1" style="margin-right:10px;margin-top: 3px;width: 150px;" styleclass="chosen">
									<apex:selectoptions value="{!leadTravelDurationOptions}" />
								</apex:selectList>
							</div>
							<div class="SearchFooter"><span class="SearchLabel">Travel Duration</span></div>
						</apex:outputPanel>
					</td>

					<td>
						<apex:outputPanel style="float:left">
							<div class="SearchInput">
								<apex:selectList id="leadSource" value="{!selectedLeadSource}" multiselect="false" size="1" style="margin-right:10px;margin-top: 3px;width: 150px;" styleclass="chosen">
									<apex:selectoptions value="{!leadSourceOptions}" />
								</apex:selectList>
							</div>
							<div class="SearchFooter"><span class="SearchLabel">Lead Source</span></div>
						</apex:outputPanel>
					</td>

					<td>
						<apex:outputPanel style="float:left">
							<div style="float:left">
								<div class="SearchInput">
									<apex:inputField styleClass="fromDate" value="{!dates.Expected_Travel_Date__c}" style="width:70px;margin-right:10px;height: 20px;" />
								</div>
								<div class="SearchFooter">
									<span class="SearchLabel">From Date</span>
								</div>
							</div>
							<div style="float:left">
								<div class="SearchInput">
									<apex:inputField value="{!dates.Visa_Expiry_Date__c}" style="width:70px;height: 20px;" />
								</div>
								<div class="SearchFooter">
									<span class="SearchLabel">To Date</span>
								</div>
							</div>
						</apex:outputPanel>
					</td>
					
					<td>
						<apex:outputPanel style="float:left">
							<div class="SearchInput">
								<apex:inputText value="{!leadEmail}" style="width: 150px;height: 20px;"/>
							</div>
							<div class="SearchFooter"><span class="SearchLabel">Lead Email</span></div>
						</apex:outputPanel>
					</td>
					
				</tr>
			</table>

			<apex:pagemessages id="message_tab0" />

		</apex:outputPanel>


		<div style="clear: both; height: 15px;"></div>

		<apex:inputHidden value="{!selectedTab}" id="tabselected" />

		<div id="tabs">

			<ul>
				<li class="tabs">
					<a href="#tabs-1" >Leads in Progress</a>
					<span class="counter">{!totalLeadsInProgress}</span>
				</li>
				<li class="tabs" style="margin-bottom:25px;">
					<a href="#tabs-2" >New Leads</a>
					<span class="counter">{!totalNewLeads}</span>
				</li>

				<li class="small" style="{!IF(isGroupPermission,'','display:none;')} background:lightgray;" >
					<a href="#agencyGroupTab" onclick="alert('You cannot view leads for all agencies at once. Please select an agency to view its leads.');return false;" style="color:black;cursor:default;" >All {!agencyGroupName}</a>
					<span class="counter">{!leadsPerAgencyGroup}</span>
				</li>

				<li class="tabs small tab-agency" style="{!IF(viewUser,'','display:none;')}" >

					<a href="#tabs-variable" onclick="allLeads(); jQuery('.selAgency').html('( {!userAgencyName} )') ">ALL</a>
					<span class="counter">{!all}</span>
				</li>
				<apex:repeat value="{!otherAgencies}" var="ag" rendered="{!isGroupPermission}">
					<li class="tabs small tab-agency" >
						<a href="#tabs-variable" onclick="variableLeads('agency', '{!ag}'); jQuery('.selAgency').html('( {!otherAgencies[ag]} )')">{!otherAgencies[ag]}</a>
						<span class="counter">{!leadsPerAgency[ag]}</span>
					</li>
				</apex:repeat>

				<apex:repeat value="{!educationalPlanners}" var="ep" rendered="{!isManager && NOT(isGroupPermission)}">
					<li class="tabs small tab-ep">
						<a href="#tabs-variable" onclick="variableLeads('ep', '{!ep}'); jQuery('.selAgency').html('( {!educationalPlanners[ep]} )')">{!educationalPlanners[ep]}</a>
						<span class="counter">{!leadsPerUser[ep]}</span>
					</li>
				</apex:repeat>

			</ul>

			<div>
				<div id="tabs-1">
					<div style="margin: 7px; width: 100%;">
						<apex:outputPanel id="progress">
							<apex:datatable cellpadding="5px" var="l" rowClasses="odd,even" headerClass="agencyBackground agencyFont" value="{!lip}" style="width:100%" ><!-- columnsWidth="20%,15%,14%,14%,14%,13%,10%" -->

								<apex:column styleClass="greyFont">

									<apex:facet name="header">
										<apex:panelGrid columns="2">
											<apex:inputCheckbox onclick="selectAll('leadInProgress',this.checked);" title="Select All" style="margin-left:24px;" />
										 	<apex:selectList styleClass="action" value="{!selectedReceivedAction}" size="1" style="font-size:0.9em; font-family: arial;width:100px;" onchange="doit(this.value, 'leadInProgress');">
			                                	<apex:selectOptions value="{!inProgressActions}"/>
			                            	</apex:selectList>
										</apex:panelGrid>
									</apex:facet>

									<apex:outputPanel layout="block" style="width:45px;float:left;">

										<apex:commandLink onclick="toggleBox('{!$Component.detailBox}');toggle('{!$Component.btnMax}'); toggle('{!$Component.btnMin}');return false;" style="margin-top:-5px;" rendered="{!l.webFormInquiry__r.size > 0}">
											<apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" id="btnMax" />
											<apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" id="btnMin" style="display:none;" />
										</apex:commandLink>

										<apex:outputPanel layout="block" rendered="{!l.webFormInquiry__r.size == 0}" style="width:22px;float:left;">
											<apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" style="visibility:hidden;" />
										</apex:outputPanel>

										<input type="checkbox" name="{!l.id}" class="leadInProgress" style="margin-left:7px;"  />
									</apex:outputPanel>

										<apex:outputPanel id="firstColumn" layout="block" style="float:left;margin-top:5px;margin-left:8px;" styleClass="mini">


											<apex:commandLink value="Task | Edit" onclick="openTasks('{!l.id}', false); return false;" styleClass="greyFont" />&nbsp; | &nbsp;

											<apex:commandLink value="Send Email" onclick="openSendMassEmail('{!l.id}'); return false;" styleClass="greyFont" />&nbsp; | &nbsp;
											<apex:commandLink value="Convert" onclick="convertLead('{!l.id}', '{!l.Name}', '{!l.Destination_Country__c}', '{!l.Destination_City__c}', '{!l.Expected_Travel_Date__c}'); return false;" styleClass="greyFont" rendered="{!l.Status__c != 'LEAD - Not Interested'}" />

											<apex:outputText value="<br/> Assigned to {!l.Owner.Name}" escape="false" rendered="{!l.RecordType.Name = 'Client'}" />
											<apex:variable value="" var="assignTo" />
											<apex:repeat value="{!l.Lead_Assignment_To__r}" var="assign">
												<apex:variable value="{!assign.Name}" var="assignTo" />
											</apex:repeat>
											<apex:outputText value="<br/> Assigned to <br/>{!assignTo}<br/>"  escape="false" rendered="{!l.RecordType.Name = 'Lead' && NOT(ISNULL(l.Lead_Assignment_To__c))}" />
											<apex:outputText value=" {!ABS(FLOOR(l.Lead_Assignment_On__c - now()))} days ago" escape="false" rendered="{!NOT(ISNULL(l.Lead_Assignment_On__c))}" />

											<apex:outputText value="<br/> {!l.LeadSource}" escape="false" rendered="{!NOT(ISNULL(l.LeadSource))}" />

											<apex:outputText value="<br/> New" style="color: red; margin-left: 8px; font-size: 0.9em; font-style: italic; font-family: Comic Sans MS,Times New Roman;" escape="false" rendered="{!webEnquiriesMap[l.id]}"  />
										</apex:outputPanel>

								</apex:column>



								<apex:column styleClass="greyFont" headerValue="Lead Name">
									<apex:image value="{!URLFOR($Resource.icons,'/icons/commons/bird.png')}" style="cursor:pointer; margin-right: 5px; position: relative; top: 3px;" title="Edit Lead Details" onclick="openClientDetails('{!l.Id}');" />
									<apex:outputLink target="_top" value="activity_log?id={!l.id}" styleClass="yellowFont" title="{!IF(l.MobilePhone!= null, l.Email + ' - ' + l.MobilePhone, l.Email )}">
					                	<apex:outputText value="{!l.Name}" />
									</apex:outputLink>

									<apex:outputText value=" <br/> {!l.Client_Classification__c}" rendered="{!NOT(ISNULL(l.Client_Classification__c))}" escape="false" styleClass="mini" />
									<apex:outputText value=" <br/> Not Classified" rendered="{!ISNULL(l.Client_Classification__c)}" escape="false" styleClass="mini" style="color:red;" />
									<br/>
									<!-- <apex:outputText value="No Destination" rendered="{!l.Destination_Country__c == '' && l.Lead_Other_Destination__c == '' && l.Lead_Destinations__c == ''}" styleClass="mini" style="color:red;" />
									<apex:outputText value="{!l.Destination_Country__c}" rendered="{!l.Destination_Country__c != 'multiple'}" styleClass="mini" />
									<apex:outputtext value="," rendered="NOT(ISBLANK({!l.Destination_Country__c}))" />
									<apex:outputText value="{!SUBSTITUTE(l.Lead_Destinations__c,';',', ')}" styleClass="mini"  /><br/> -->
									<apex:variable value="{!0}" var="countDestinations" />
									<apex:outputText value="Age Range: {!l.Age_Range__c}" styleClass="mini" />
									<!-- <apex:outputText value=", " rendered="{!NOT(ISNULL(l.Lead_Other_Destination__c)) && (NOT(ISNULL(l.Destination_Country__c)) || NOT(ISNULL(l.Lead_Destinations__c)))}" styleClass="mini" />
									<apex:outputText value="{!l.Lead_Other_Destination__c}" rendered="{!l.Lead_Other_Destination__c != ''}" styleClass="mini" /> -->

								</apex:column>
								<apex:column styleClass="greyFont" headerValue="Task">
									<apex:outputPanel rendered="{!NOT(ISNULL(quotationTasks[l.id].id)) && NOT(ISNULL(quotationTasks[l.id].Due_Date__c))}">
										<apex:variable value="{!quotationTasks[l.id]}" var="task" />
										<apex:commandLink value="{!task.Subject__c}" onclick="openEditTask('{!l.id}', '{!task.id}'); return false;" styleClass="{!task.id} yellowFont" />
										<script>
											jQuery('.{!task.id}').attr('title','Created by: {!task.CreatedBy.Name} \n Owned by: {!task.Assign_To__r.Name}');
										</script>
										<br/>
										<apex:outputText value="{!LEFT(task.Comments__c,35)}" styleClass="mini" title="{!task.Comments__c}" escape="false" />
										<apex:outputText value="..." rendered="{!LEN(task.Comments__c) > 35}" styleClass="mini" title="{!task.Comments__c}" />
										<br/>
										<apex:outputText value="Overdue" styleClass="mini" rendered="{!NOT(ISNULL(task.Due_Date__c)) && task.Due_Date__c < TODAY() && task.Status__c != 'Completed'}" style="color:red;" />
										<apex:outputText value="{!task.Status__c}" styleClass="mini" rendered="{!NOT(ISNULL(task.Due_Date__c)) && task.Due_Date__c >= TODAY() && task.Status__c != 'Completed'}" />
										<apex:outputText value="{!task.Status__c}" styleClass="mini" rendered="{!task.Status__c == 'Completed'}" />&nbsp;

										<apex:outputText value="{!ABS(FLOOR(task.Due_Date__c - TODAY()))} day(s) ago " escape="false" rendered="{!task.Status__c != 'Completed' && NOT(ISNULL(task.Due_Date__c)) && task.Due_Date__c < TODAY()}" styleClass="mini" style="{!IF(NOT(ISNULL(task.Due_Date__c)) &&  task.Due_Date__c <= TODAY() && task.Status__c != 'Completed', 'color:red','')}"  />
										<apex:outputText value="{!ABS(FLOOR(task.Due_Date__c - TODAY()))} day(s) to go " escape="false" rendered="{!task.Status__c != 'Completed' && NOT(ISNULL(task.Due_Date__c)) && task.Due_Date__c >= TODAY()}" styleClass="mini" style="{!IF(NOT(ISNULL(task.Due_Date__c)) &&  task.Due_Date__c < TODAY() && task.Status__c != 'Completed', 'color:red','')}" />
										<apex:outputText value="{!ABS(FLOOR(task.Due_Date__c - TODAY()))} day(s) ago " escape="false" rendered="{!task.Status__c == 'Completed'}" styleClass="mini"  />
									</apex:outputPanel>
								</apex:column>


								<apex:column styleClass="greyFont" headerValue="Lead Status" >
									<apex:commandLink value="{!l.Status__c}" onclick="openTasks('{!l.id}', true); return false;" styleClass="yellowFont" style="{!IF(l.Status__c == 'New Lead','color:red !important;','')}" />
									<apex:outputText value="<br/> ({!l.Lead_Level_of_Interest__c})" escape="false" rendered="{!NOT(ISNULL(l.Lead_Level_of_Interest__c))}"
														styleClass="mini {!IF(CONTAINS(l.Lead_Level_of_Interest__c,'0'),'LoI-0','')}
																	{!IF(CONTAINS(l.Lead_Level_of_Interest__c,'1'),'LoI-1','')}
																	{!IF(CONTAINS(l.Lead_Level_of_Interest__c,'2'),'LoI-2','')}
																	{!IF(CONTAINS(l.Lead_Level_of_Interest__c,'3'),'LoI-3','')}
																	{!IF(CONTAINS(l.Lead_Level_of_Interest__c,'4'),'LoI-4','')}
																	{!IF(CONTAINS(l.Lead_Level_of_Interest__c,'5'),'LoI-5','')}" />
									<br/>
									<apex:outputText value="{!touches[l.id]} touch" styleClass="mini" />
									<apex:outputText value="es" styleClass="mini" rendered="{!touches[l.id] != 1}" />
								</apex:column>


								<apex:column styleClass="greyFont" >
									<apex:facet name="header">
										Travel Date
									</apex:facet>
									 <apex:outputText value="{0,date,dd/MM/yyyy}" style="{!IF(NOT(ISNULL(l.Expected_Travel_Date__c)) && l.Expected_Travel_Date__c < TODAY(), 'color:red;','')}">
	                                	<apex:param value="{!l.Expected_Travel_Date__c}"/>
	                                </apex:outputText>

									<apex:outputText value="No Travel Date" rendered="{!ISNULL(l.Expected_Travel_Date__c)}" style="color:red;" />

									<br/>
									<apex:outputText value="Went {!ABS(FLOOR(l.Expected_Travel_Date__c - TODAY()))} day(s) ago " styleClass="mini" escape="false" rendered="{!NOT(ISNULL(l.Expected_Travel_Date__c)) && l.Expected_Travel_Date__c <= TODAY()}" style="color:red;" />
									<apex:outputText value="{!ABS(FLOOR(l.Expected_Travel_Date__c - TODAY()))} day(s) to go " styleClass="mini" escape="false" rendered="{!NOT(ISNULL(l.Expected_Travel_Date__c)) && l.Expected_Travel_Date__c > TODAY()}" />
									<br/>
									<apex:outputText value="No Destination" rendered="{!l.Destination_Country__c == '' && l.Lead_Other_Destination__c == '' && l.Lead_Destinations__c == ''}" styleClass="mini" style="color:red;" />
									<apex:outputText value="{!l.Destination_Country__c}" rendered="{!l.Destination_Country__c != 'multiple'}" styleClass="mini" />
									<apex:outputtext value="," rendered="NOT(ISBLANK({!l.Destination_Country__c}))" />
									<apex:outputText value="{!SUBSTITUTE(l.Lead_Destinations__c,';',', ')}" styleClass="mini"  />
									<!-- <apex:outputText value=", " rendered="{!NOT(ISNULL(l.Lead_Other_Destination__c)) && ( NOT(ISNULL(l.Destination_Country__c)) || NOT(ISNULL(l.Lead_Destinations__c)) )}" styleClass="mini" />
									<apex:outputText value="{!l.Lead_Other_Destination__c}" rendered="{!l.Lead_Other_Destination__c != ''}" styleClass="mini" />	 -->
								</apex:column>

								<apex:column styleClass="greyFont" >
									<apex:facet name="header">
										Visa Expiry Date
									</apex:facet>

									<apex:outputText value="{0,date,dd/MM/yyyy}" style="{!IF(NOT(ISNULL(l.Visa_Expiry_Date__c)) && l.Visa_Expiry_Date__c < TODAY(), 'color:red;','')}">
									   <apex:param value="{!l.Visa_Expiry_Date__c}"/>
								   </apex:outputText>
								   <br/>
								   <apex:outputText value="Expired {!ABS(FLOOR(l.Visa_Expiry_Date__c - TODAY()))} day(s) ago " styleClass="mini" escape="false" rendered="{!NOT(ISNULL(l.Visa_Expiry_Date__c)) && l.Visa_Expiry_Date__c <= TODAY()}" style="color:red;" />
								   <apex:outputText value="Expires in {!ABS(FLOOR(l.Visa_Expiry_Date__c - TODAY()))} day(s) " styleClass="mini" escape="false" rendered="{!NOT(ISNULL(l.Visa_Expiry_Date__c)) && l.Visa_Expiry_Date__c > TODAY()}" />
								   <br/>

								</apex:column>


								<apex:column styleClass="greyFont" headerValue="Products" style="max-width: 300px;" >
									<apex:outputText value="{!SUBSTITUTE(l.Lead_Product_Type__c,';',', ')}" styleClass="mini yellowFont"  />

									<apex:outputText value="<br/> {!l.Lead_Other_Product__c}" rendered="{!NOT(ISNULL(l.Lead_Other_Product__c))}" styleClass="mini" escape="false" />
									<apex:outputText value="<br/> {!l.Lead_Study_Type__c}" rendered="{!NOT(ISNULL(l.Lead_Study_Type__c))}" styleClass="mini" escape="false" />
									<apex:outputText value="<br/> {!l.Travel_Duration__c}" styleClass="mini" escape="false" rendered="{!NOT(ISNULL(l.Travel_Duration__c))}" />
								</apex:column>

								<apex:column styleClass="greyFont" headerValue="Last Quote" >

									<apex:repeat value="{!l.Quotations__r}" var="quotation">
										<apex:outputLink target="_Blank" value="/apex/quotation?id={!quotation.id}" >
				                               {!quotation.name}
				                        </apex:outputLink>
										<apex:outputText value="<br/> Created {!ABS(FLOOR(quotation.CreatedDate - now()))} day(s) ago " styleClass="mini" escape="false" />
										<apex:outputText value="<br/> {!quotation.Status__c}" rendered="{!NOT(ISNULL(quotation.Status__c))}" styleClass="mini" escape="false" />
									</apex:repeat>

								</apex:column>


								<apex:column style="display:none;" breakBefore="true" />

								<apex:column id="detailBox" style="display:none;" breakBefore="true" colspan="7">
									<div style="margin-left:2%;width:95%" >
										<apex:pageBLock title="Web Enquiries" id="webEnquiries" >
											<apex:pageBLockTable value="{!l.webFormInquiry__r}" var="wfi" width="100%" >

												<apex:column width="2%">
													<apex:facet name="header">
														<apex:outputPanel >
															<apex:inputCheckbox onclick="selectAll('enq-{!l.id}',this.checked);" title="Select All" />
															<apex:selectList value="{!selectedEnquiryAction}" multiselect="false" size="1" style="width:100px;margin-left:5px;">
																<apex:selectoptions value="{!enquiryActions}" />
																<apex:actionSupport event="onchange" action="{!markAsRead}" status="statusLoad" rerender="webEnquiries,firstColumn"  >
																	<apex:param name="leadID" value="{!l.id}" />
																	<apex:param name="listType" value="InProgress" />
																</apex:actionSupport>
															</apex:selectList>
														</apex:outputPanel>
													</apex:facet>
													<apex:inputField styleClass="enq-{!l.id}" value="{!wfi.Selected__c}" />
													<apex:outputText value="New" style="color: red; margin-left: 8px; font-size: 0.8em; font-style: italic; font-family: Comic Sans MS,Times New Roman;" rendered="{!NOT(wfi.Read__c)}" />

												</apex:column>


												<apex:column headerValue="CreatedDate" width="10%">
													<apex:outputField value="{!wfi.CreatedDate}" />
												</apex:column>

												<apex:column headerValue="Web Message">
													<apex:outputText value="{!wfi.Message__c}" />
												</apex:column>

												<apex:column headerValue="Other Destination" >
													<apex:outputText value="{!wfi.Other_Destination__c}" />
												</apex:column>

												<apex:column headerValue="Other Product Type" >
													<apex:outputText value="{!wfi.Other_Product_Type__c}" />
												</apex:column>

												<apex:column headerValue="City">
													<apex:outputText value="{!wfi.City__c}" />
												</apex:column>

												<apex:column headerValue="Country">
													<apex:outputText value="{!wfi.Country__c}" />
												</apex:column>

												<apex:column headerValue="Website">
													<apex:outputText value="{!wfi.Form_URL__c}" />
												</apex:column>

												<apex:column headerValue="Website quote">
													<apex:outputField value="{!wfi.Quote_URL__c}" />
												</apex:column>

											</apex:pageBLockTable>
										</apex:pageBLock>
									</div>
								</apex:column>


							</apex:datatable>


						<apex:outputPanel layout="block" styleClass="pSearchShowMore orange" id="otpNavProgress" style="padding-top:3px;height:20px;">

							<apex:image url="/img/search_prevarrow_disabled.gif" styleClass="prevArrow" rendered="{!NOT(LIPhasPrevious)}"/>
							<apex:image url="/img/search_prevarrow.gif" title="Previous Page" styleClass="prevArrow" rendered="{!LIPhasPrevious}"/>
							<apex:commandLink action="{!Previous}" title="Previous Page" value="Previous Page" rendered="{!LIPhasPrevious}" reRender="progress" status="statusLoad"/>
							<apex:outputPanel styleClass="pShowLess noLink" style="color:grey" rendered="{!NOT(LIPhasPrevious)}">Previous Page</apex:outputPanel>

							&nbsp;({!IF(currentPage == 1, 1, ((currentPage-1) * pageSize) )}-{!IF(currentPage == 1, lip.size, ((currentPage-1) * pageSize) + lip.size )})&nbsp;

							<apex:outputPanel styleClass="pShowLess noLink" style="color:grey" rendered="{!NOT(LIPhasNext)}">Next Page</apex:outputPanel>
							<apex:commandLink title="Next Page" value="Next Page" rendered="{!LIPhasNext}" action="{!Next}" reRender="progress" status="statusLoad"/>&nbsp;
							<apex:image url="/img/search_nextarrow.gif" title="Next Page" styleClass="nextArrow" rendered="{!LIPhasNext}"/>
							<apex:image url="/img/search_nextarrow_disabled.gif" rendered="{!NOT(LIPhasNext)}"/>
						</apex:outputPanel>

						</apex:outputPanel>
					</div>
				</div>


				<!--  N E W  L E A D S ! -->
				<div id="tabs-2">
					<apex:commandLink value="Export to  Excel" action="{!generateExcel}" style="margin-left: 4px;" target="_blank" immediate="true" />
					<div style="margin: 7px">
						<apex:outputPanel id="newLeadsPanel">
							<apex:datatable cellpadding="5px" var="l" rowClasses="odd,even" headerClass="agencyBackground agencyFont" value="{!nl}" style="width:100%"  > <!--columnsWidth="20%,18%,10%,12%,15%,15%,10%" -->

								<apex:column styleClass="greyFont">

									<apex:facet name="header">
										<apex:panelGrid columns="2">
											<apex:inputCheckbox onclick="selectAll('newLead',this.checked);" title="Select All" style="margin-left:24px;" />
										 	<apex:selectList styleClass="action" value="{!selectedReceivedAction}" size="1" style="font-size:0.9em; font-family: arial;width:100px;" onchange="doit(this.value, 'newLead');">
			                                	<apex:selectOptions value="{!receivedActions}"/>
			                            	</apex:selectList>
										</apex:panelGrid>
									</apex:facet>

									<apex:outputPanel layout="block" style="width:45px;float:left;">

										<apex:commandLink onclick="toggleBox('{!$Component.detailBox}');toggle('{!$Component.btnMax}'); toggle('{!$Component.btnMin}');return false;" style="margin-top:-5px;" rendered="{!l.webFormInquiry__r.size > 0}">
											<apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" id="btnMax" />
											<apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" id="btnMin" style="display:none;" />
										</apex:commandLink>

										<apex:outputPanel layout="block" rendered="{!l.webFormInquiry__r.size == 0}" style="width:22px;float:left;">
											<apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" style="visibility:hidden;" />
										</apex:outputPanel>

										<input type="checkbox" name="{!l.id}" class="newLead" style="margin-left:7px;"  />
									</apex:outputPanel>

										<apex:outputPanel id="firstColumn" layout="block" style="float:left;margin-top:5px;margin-left:8px;" styleClass="mini">


											<apex:commandLink value="Task | Edit" onclick="openTasks('{!l.id}', false); return false;" styleClass="greyFont" /> | &nbsp;
											<apex:commandLink value="Accept" onclick="if(!confirm('Are you sure you want to accept {!l.Name}?')){return};" action="{!acceptLead}" status="statusLoad" rerender="wholePage" styleClass="greyFont" >
												<apex:param name="leadID" value="{!l.id}" />
											</apex:commandLink> |	&nbsp;
											<apex:commandLink value="Send Email" onclick="openSendMassEmail('{!l.id}'); return false;" styleClass="greyFont" />

											<apex:outputText value="<br/> Assigned to {!l.Owner.Name}" escape="false" rendered="{!l.RecordType.Name = 'Client'}" style="{!IF(NOT(ISNULL(l.Lead_Assignment_On__c)) && ABS(FLOOR(l.Lead_Assignment_On__c - now())) > 2, 'color:red;','' )}" />
											<apex:variable value="" var="assignTo" />
											<apex:repeat value="{!l.Lead_Assignment_To__r}" var="assign">
												<apex:variable value="{!assign.Name}" var="assignTo" />
											</apex:repeat>
											<apex:outputText value="<br/> Assigned to {!assignTo}"  escape="false" rendered="{!l.RecordType.Name = 'Lead' && NOT(ISNULL(l.Lead_Assignment_To__c))}" style="{!IF(NOT(ISNULL(l.Lead_Assignment_On__c))&& ABS(FLOOR(l.Lead_Assignment_On__c - now())) > 2, 'color:red;','' )}" />
											<apex:outputText value=" {!ABS(FLOOR(l.Lead_Assignment_On__c - now()))} days ago" escape="false" rendered="{!NOT(ISNULL(l.Lead_Assignment_On__c))}" style="{!IF(ABS(FLOOR(l.Lead_Assignment_On__c - now())) > 2, 'color:red;','' )}" />

											<apex:outputText value="<br/> {!l.LeadSource}" escape="false" rendered="{!NOT(ISNULL(l.LeadSource))}" />


											<apex:outputText value="<br/> New" style="color: red; margin-left: 8px; font-size: 0.9em; font-style: italic; font-family: Comic Sans MS,Times New Roman;" escape="false"  rendered="{!webEnquiriesMap[l.id]}" />
										</apex:outputPanel>


								</apex:column>



								<apex:column styleClass="greyFont" headerValue="Lead Name">
									<apex:image value="{!URLFOR($Resource.icons,'/icons/commons/bird.png')}" style="cursor:pointer; margin-right: 5px; position: relative; top: 3px;" title="Edit Lead Details" onclick="openClientDetails('{!l.Id}');" />
									<apex:outputLink target="_top" value="activity_log?id={!l.id}" styleClass="yellowFont" title="{!IF(l.MobilePhone!= null, l.Email + ' - ' + l.MobilePhone, l.Email )}">
					                	<apex:outputText value="{!l.Name}" />
									</apex:outputLink>

									<apex:outputText value=" <br/> {!l.Client_Classification__c}" rendered="{!NOT(ISNULL(l.Client_Classification__c))}" escape="false" styleClass="mini" />
									<apex:outputText value=" <br/> Not Classified" rendered="{!ISNULL(l.Client_Classification__c)}" escape="false" styleClass="mini" style="color:red;" />

									<br/>
									<!-- <apex:outputText value="No Destination" rendered="{!l.Destination_Country__c == '' && l.Lead_Other_Destination__c == '' && l.Lead_Destinations__c == ''}" styleClass="mini" style="color:red;" />
									<apex:outputText value="{!l.Destination_Country__c}" rendered="{!l.Destination_Country__c != 'multiple'}" styleClass="mini" />
									<apex:outputtext value="," rendered="NOT(ISBLANK({!l.Destination_Country__c}))" />
									<apex:outputText value="{!SUBSTITUTE(l.Lead_Destinations__c,';',', ')}" styleClass="mini"  /><br/> -->
									<apex:outputText value="Age Range: {!l.Age_Range__c}" styleClass="mini" />
									<!--<apex:variable value="{!0}" var="countDestinations" />
									<apex:repeat value="{!l.destinations}" var="destination" >
										<apex:outputText value="{!destination}" styleClass="mini" />
										<apex:variable value="{!countDestinations+1}" var="countDestinations" />
										<apex:outputText value=", " rendered="{!countDestinations != l.destinations.size}" />
									</apex:repeat>-->
									<!-- <apex:outputText value=", " rendered="{!NOT(ISNULL(l.Lead_Other_Destination__c)) && (NOT(ISNULL(l.Destination_Country__c)) || NOT(ISNULL(l.Lead_Destinations__c)))}" styleClass="mini" />
									<apex:outputText value="{!l.Lead_Other_Destination__c}" rendered="{!l.Lead_Other_Destination__c != ''}" styleClass="mini" /> -->

								</apex:column>

								<apex:column styleClass="greyFont" headerValue="City/Country">
									<apex:outputText value="{!l.MailingCity}" />
									<apex:outputText value=" / " rendered="{!NOT(ISNULL(l.MailingCity))}" escape="false" />
									<apex:outputText value="{!l.MailingCountry}" />

									<apex:outputText value="{!l.OtherCity}" />
									<apex:outputText value=" / " rendered="{!NOT(ISNULL(l.OtherCity))}" escape="false" />
									<apex:outputText value="{!l.OtherCountry}" />
								</apex:column>


								<apex:column styleClass="greyFont" headerValue="Task">
									<apex:outputPanel rendered="{!NOT(ISNULL(quotationTasks[l.id].id)) && NOT(ISNULL(quotationTasks[l.id].Due_Date__c))}">
										<apex:variable value="{!quotationTasks[l.id]}" var="task" />
										<apex:commandLink value="{!task.Subject__c}" onclick="openEditTask('{!l.id}', '{!task.id}'); return false;" styleClass="{!task.id} yellowFont" />
										<script>
											jQuery('.{!task.id}').attr('title','Created by: {!task.CreatedBy.Name} \n Owned by: {!task.Assign_To__r.Name}');
										</script>
										<br/>
										<apex:outputText value="{!LEFT(task.Comments__c,35)}" styleClass="mini" title="{!task.Comments__c}" escape="false" />
										<apex:outputText value="..." rendered="{!LEN(task.Comments__c) > 35}" styleClass="mini" title="{!task.Comments__c}" />
										<br/>
										<apex:outputText value="Overdue" styleClass="mini" rendered="{!NOT(ISNULL(task.Due_Date__c)) && task.Due_Date__c < TODAY() && task.Status__c != 'Completed'}" style="color:red;" />
										<apex:outputText value="{!task.Status__c}" styleClass="mini" rendered="{!NOT(ISNULL(task.Due_Date__c)) && task.Due_Date__c >= TODAY() && task.Status__c != 'Completed'}" />
										<apex:outputText value="{!task.Status__c}" styleClass="mini" rendered="{!task.Status__c == 'Completed'}" />&nbsp;

										<apex:outputText value="{!ABS(FLOOR(task.Due_Date__c - TODAY()))} day(s) ago " escape="false" rendered="{!task.Status__c != 'Completed' && NOT(ISNULL(task.Due_Date__c)) && task.Due_Date__c < TODAY()}" styleClass="mini" style="{!IF(NOT(ISNULL(task.Due_Date__c)) &&  task.Due_Date__c <= TODAY() && task.Status__c != 'Completed', 'color:red','')}"  />
										<apex:outputText value="{!ABS(FLOOR(task.Due_Date__c - TODAY()))} day(s) to go " escape="false" rendered="{!task.Status__c != 'Completed' && NOT(ISNULL(task.Due_Date__c)) && task.Due_Date__c >= TODAY()}" styleClass="mini" style="{!IF(NOT(ISNULL(task.Due_Date__c)) &&  task.Due_Date__c < TODAY() && task.Status__c != 'Completed', 'color:red','')}" />
										<apex:outputText value="{!ABS(FLOOR(task.Due_Date__c - TODAY()))} day(s) ago " escape="false" rendered="{!task.Status__c == 'Completed'}" styleClass="mini"  />
									</apex:outputPanel>

								</apex:column>

								<apex:column styleClass="greyFont" headerValue="Lead Status" >
									<apex:commandLink value="{!l.Status__c}" onclick="openTasks('{!l.id}', true); return false;" styleClass="yellowFont" style="{!IF(l.Status__c == 'NEW LEAD','color:red !important;','')}" />

									<apex:outputText value="<br/> ({!l.Lead_Level_of_Interest__c})" escape="false" rendered="{!NOT(ISNULL(l.Lead_Level_of_Interest__c))}"
														styleClass="mini {!IF(CONTAINS(l.Lead_Level_of_Interest__c,'0'),'LoI-0','')}
																	{!IF(CONTAINS(l.Lead_Level_of_Interest__c,'1'),'LoI-1','')}
																	{!IF(CONTAINS(l.Lead_Level_of_Interest__c,'2'),'LoI-2','')}
																	{!IF(CONTAINS(l.Lead_Level_of_Interest__c,'3'),'LoI-3','')}
																	{!IF(CONTAINS(l.Lead_Level_of_Interest__c,'4'),'LoI-4','')}
																	{!IF(CONTAINS(l.Lead_Level_of_Interest__c,'5'),'LoI-5','')}" />
									<br/>
									<apex:outputText value="{!touches[l.id]} touch" styleClass="mini" />
									<apex:outputText value="es" styleClass="mini" rendered="{!touches[l.id] != 1}" />
								</apex:column>


								<apex:column styleClass="greyFont" >
									<apex:facet name="header">
										Travel Date
									</apex:facet>
									 <apex:outputText value="{0,date,dd/MM/yyyy}" style="{!IF(NOT(ISNULL(l.Expected_Travel_Date__c)) && l.Expected_Travel_Date__c < TODAY(), 'color:red;','')}">
	                                	<apex:param value="{!l.Expected_Travel_Date__c}"/>
	                                </apex:outputText>

									<apex:outputText value="No Travel Date" rendered="{!ISNULL(l.Expected_Travel_Date__c)}" style="color:red;" />

									<br/>
									<apex:outputText value="Went {!ABS(FLOOR(l.Expected_Travel_Date__c - TODAY()))} day(s) ago " styleClass="mini" escape="false" rendered="{!NOT(ISNULL(l.Expected_Travel_Date__c)) && l.Expected_Travel_Date__c <= TODAY()}" style="color:red;" />
									<apex:outputText value="{!ABS(FLOOR(l.Expected_Travel_Date__c - TODAY()))} day(s) to go " styleClass="mini" escape="false" rendered="{!NOT(ISNULL(l.Expected_Travel_Date__c)) && l.Expected_Travel_Date__c > TODAY()}" />
									<br/>
									<apex:outputText value="No Destination" rendered="{!l.Destination_Country__c == '' && l.Lead_Other_Destination__c == '' && l.Lead_Destinations__c == ''}" styleClass="mini" style="color:red;" />
									<apex:outputText value="{!l.Destination_Country__c}" rendered="{!l.Destination_Country__c != 'multiple'}" styleClass="mini" />
									<apex:outputtext value="," rendered="NOT(ISBLANK({!l.Destination_Country__c}))" />
									<apex:outputText value="{!SUBSTITUTE(l.Lead_Destinations__c,';',', ')}" styleClass="mini"  />
									<!-- <apex:outputText value=", " rendered="{!NOT(ISNULL(l.Lead_Other_Destination__c)) && ( NOT(ISNULL(l.Destination_Country__c)) || NOT(ISNULL(l.Lead_Destinations__c)) )}" styleClass="mini" />
									<apex:outputText value="{!l.Lead_Other_Destination__c}" rendered="{!l.Lead_Other_Destination__c != ''}" styleClass="mini" />	 -->
								</apex:column>

								<apex:column styleClass="greyFont" >
									<apex:facet name="header">
										Visa Expiry Date
									</apex:facet>

									<apex:outputText value="{0,date,dd/MM/yyyy}" style="{!IF(NOT(ISNULL(l.Visa_Expiry_Date__c)) && l.Visa_Expiry_Date__c < TODAY(), 'color:red;','')}">
									   <apex:param value="{!l.Visa_Expiry_Date__c}"/>
								   </apex:outputText>
								   <br/>
								   <apex:outputText value="Expired {!ABS(FLOOR(l.Visa_Expiry_Date__c - TODAY()))} day(s) ago " styleClass="mini" escape="false" rendered="{!NOT(ISNULL(l.Visa_Expiry_Date__c)) && l.Visa_Expiry_Date__c <= TODAY()}" style="color:red;" />
								   <apex:outputText value="Expires in {!ABS(FLOOR(l.Visa_Expiry_Date__c - TODAY()))} day(s) " styleClass="mini" escape="false" rendered="{!NOT(ISNULL(l.Visa_Expiry_Date__c)) && l.Visa_Expiry_Date__c > TODAY()}" />
								   <br/>

								</apex:column>


								<apex:column styleClass="greyFont" headerValue="Products" >
									<apex:outputText value="{!SUBSTITUTE(l.Lead_Product_Type__c,';',', ')}" styleClass="mini yellowFont"  />
									<!--<apex:variable value="{!0}" var="countProducts" />
									<apex:repeat value="{!l.products}" var="product" >
										<apex:outputText value="{!product}" />
										<apex:variable value="{!countProducts+1}" var="countProducts" />
										<apex:outputText value=" / " rendered="{!countProducts != l.products.size}" />
									</apex:repeat>-->
									<apex:outputText value="<br/> {!l.Lead_Study_Type__c}" rendered="{!NOT(ISNULL(l.Lead_Study_Type__c))}" styleClass="mini" escape="false" />
									<apex:outputText value="<br/> {!l.Travel_Duration__c}" styleClass="mini" escape="false" rendered="{!NOT(ISNULL(l.Travel_Duration__c))}" />
								</apex:column>


								<apex:column style="display:none;" breakBefore="true" />

								<apex:column id="detailBox" style="display:none;" breakBefore="true" colspan="7">
									<div style="margin-left:2%;width:95%" >
										<apex:pageBLock title="Web Enquiries" id="webEnquiries" >
											<apex:pageBLockTable value="{!l.webFormInquiry__r}" var="wfi" width="100%" >

												<apex:column width="2%">
													<apex:facet name="header">
														<apex:outputPanel >
															<apex:inputCheckbox onclick="selectAll('enq-{!l.id}',this.checked);" title="Select All" />
															<apex:selectList value="{!selectedEnquiryAction}" multiselect="false" size="1" style="width:100px;margin-left:5px;">
																<apex:selectoptions value="{!enquiryActions}" />
																<apex:actionSupport event="onchange" action="{!markAsRead}" status="statusLoad" rerender="webEnquiries,firstColumn"  >
																	<apex:param name="leadID" value="{!l.id}" />
																	<apex:param name="listType" value="InProgress" />
																</apex:actionSupport>
															</apex:selectList>
														</apex:outputPanel>
													</apex:facet>
													<apex:inputField styleClass="enq-{!l.id}" value="{!wfi.Selected__c}" />
													<apex:outputText value="New" style="color: red; margin-left: 8px; font-size: 0.8em; font-style: italic; font-family: Comic Sans MS,Times New Roman;" rendered="{!NOT(wfi.Read__c)}" />

												</apex:column>


												<apex:column headerValue="CreatedDate" width="10%">
													<apex:outputField value="{!wfi.CreatedDate}" />
												</apex:column>

												<apex:column headerValue="Web Message">
													<apex:outputText value="{!wfi.Message__c}" />
												</apex:column>

												<apex:column headerValue="Other Destination" >
													<apex:outputText value="{!wfi.Other_Destination__c}" />
												</apex:column>

												<apex:column headerValue="Other Product Type" >
													<apex:outputText value="{!wfi.Other_Product_Type__c}" />
												</apex:column>

												<apex:column headerValue="City">
													<apex:outputText value="{!wfi.City__c}" />
												</apex:column>

												<apex:column headerValue="Country">
													<apex:outputText value="{!wfi.Country__c}" />
												</apex:column>

												<apex:column headerValue="Website">
													<apex:outputText value="{!wfi.Form_URL__c}" />
												</apex:column>

												<apex:column headerValue="Website quote">
													<apex:outputField value="{!wfi.Quote_URL__c}" />
												</apex:column>

											</apex:pageBLockTable>
										</apex:pageBLock>
									</div>
								</apex:column>


							</apex:datatable>


							<apex:outputPanel layout="block" styleClass="pSearchShowMore orange" id="otpNavNew" style="padding-top:3px;height:20px;">
								<!--<apex:outputText>Total Records Found: {!Con.resultSize}</apex:outputText>  -->
								<apex:image url="/img/search_prevarrow_disabled.gif" styleClass="prevArrow" rendered="{!NOT(NLhasPrevious)}"/>
								<apex:image url="/img/search_prevarrow.gif" title="Previous Page" styleClass="prevArrow" rendered="{!NLhasPrevious}"/>
								<apex:commandLink action="{!PreviousNew}" title="Previous Page" value="Previous Page" rendered="{!NLhasPrevious}" reRender="newLeadsPanel" status="statusLoad"/>
								<apex:outputPanel styleClass="pShowLess noLink" style="color:grey" rendered="{!NOT(NLhasPrevious)}">Previous Page</apex:outputPanel>

								&nbsp;({!IF(NLcurrentPage == 1, 1, ((NLcurrentPage-1) * pageSize))}-{!IF(NLcurrentPage == 1, nl.size, ((NLcurrentPage-1) * pageSize) + nl.size )})&nbsp;

								<apex:outputPanel styleClass="pShowLess noLink" style="color:grey" rendered="{!NOT(NLhasNext)}">Next Page</apex:outputPanel>
								<apex:commandLink title="Next Page" value="Next Page" rendered="{!NLhasNext}" action="{!NextNew}" reRender="newLeadsPanel" status="statusLoad"/>&nbsp;
								<apex:image url="/img/search_nextarrow.gif" title="Next Page" styleClass="nextArrow" rendered="{!NLhasNext}"/>
								<apex:image url="/img/search_nextarrow_disabled.gif" rendered="{!NOT(NLhasNext)}"/>
							</apex:outputPanel>

						</apex:outputPanel>
					</div>
				</div>

				<div id="tabs-variable">
					<div style="margin: 7px"></div>
				</div>
			</div>
		</div>
	</apex:outputPanel>
</apex:form>
</apex:page>