<apex:page controller="LeadsClientsController" readOnly="true" sidebar="false" showHeader="false" contenttype="application/vnd.ms-excel#leads.xls" >
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    </head>
    <style>
        
    </style>
    <body>
        <table>
            <thead>
                <tr>
                    <th style="text-align: center;">Contact Name</th>
                    <th style="text-align: center;">Email</th>			
                    <th style="text-align: center;">Agency</th>			
                    <th style="text-align: center;">Owner</th>			
                    <th style="text-align: center;">Nationality</th>
                    <th style="text-align: center;">Destination Country</th>
                    <th style="text-align: center;">Classification</th>
                    <th style="text-align: center;">Level of Interest</th>
                    <th style="text-align: center;">Stage</th>
                    <th style="text-align: center;">Status</th>
                    <th style="text-align: center;">Web Enquiries</th>			
                </tr>
            </thead>
            <tbody>
                <apex:repeat value="{!cyclesResultExcel}" var="ct">
                    <tr>
                        <td style="vertical-align: middle;">{!ct.Client__r.Name}</td>
                        <td style="vertical-align: middle;">{!ct.Client__r.Email}</td>
                        <td style="vertical-align: middle;">{!ct.Client__r.current_Agency__r.Name}</td>
                        <td style="vertical-align: middle;">{!ct.Client__r.Owner__r.Name}</td>
                        <td style="vertical-align: middle;">{!ct.Client__r.Nationality__c}</td>
                        <td style="vertical-align: middle;">{!ct.Client__r.Destination_Country__c}</td>
                        <td style="vertical-align: middle;">{!ct.Client__r.Client_Classification__c}</td>
                        <td style="vertical-align: middle;">{!ct.Client__r.Lead_Level_of_Interest__c}</td>
                        <td style="vertical-align: middle;">{!ct.Lead_Last_Stage_Cycle__c}</td>
                        <td style="vertical-align: middle;">{!ct.Lead_Last_Status_Cycle__c}</td>
                        <td style="vertical-align: middle;">
                            <apex:repeat value="{!webEnquiriesExcel[ct.Client__c]}" var="we">
                                Quote URL: {!we.Form_URL__C}<br style="mso-data-placement:same-cell;" />
                                Country: {!we.Country__c}<br style="mso-data-placement:same-cell;" /> 
                                State: {!we.State__c}<br style="mso-data-placement:same-cell;" />
                                City: {!we.City__c}<br style="mso-data-placement:same-cell;" /> 
                                Destination: {!we.Destination__c}<br style="mso-data-placement:same-cell;" />
                                Other Destination: {!we.Other_Destination__c}<br style="mso-data-placement:same-cell;" />
                                When are you planning to travel: {!we.When_are_you_planning_to_travel__c}<br style="mso-data-placement:same-cell;" />
                                How long are you going for: {!we.How_long_are_you_going_for__c}<br style="mso-data-placement:same-cell;" />
                                What are you looking for: {!we.What_are_you_looking_for__c}<br style="mso-data-placement:same-cell;" />
                                Study Area: {!we.Study_Area__c}<br style="mso-data-placement:same-cell;" />
                                Source: {!we.Source__c}<br style="mso-data-placement:same-cell;" />
                                Other Product Type: {!we.Other_Product_Type__c}<br style="mso-data-placement:same-cell;" />
                                ow did you hear about us: {!we.How_did_you_hear_about_us__c}<br/>
                            </apex:repeat>
                        </td>
                    </tr>
                </apex:repeat>
            </tbody>
        </table>
    </body>
</apex:page>