<apex:page controller="EmailFromS3Controller"  action="{!listEmails}" showHeader="false">
<html xmlns:ng="http://angularjs.org" ng-app="hello" lang="en">
<head>
	<meta charset="utf-8"/>
	
	<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet"/>
	<link href="https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet"/>
	<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"/>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<apex:includeScript value="{!$Resource.jquery}"/> 
	<apex:includeScript value="{!$Resource.jqueryBlockUI}" />
	<script src="https://code.jquery.com/ui/1.8.24/jquery-ui.js"></script>
	
	<apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.assets,'modalfiles/modal.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.assets,'modalfiles/modal.css')}" />

	
</head>
	<style>
	
		.customPopup {
		    background-color: white;
		    border-style: solid;
		    border-width: 2px;
		    left: 50%;
		    padding: 10px;
		    position: absolute;
		    z-index: 9999;
		    /* These are the 3 css properties you will need to tweak so the pop 
		            up displays in the center of the screen. First set the width. Then set 
		            margin-left to negative half of what the width is. You can also add 
		            the height property for a fixed size pop up.*/
		    width: 500px;
		    margin-left: -250px;
		    top: 100px;
		}
		.tableZebra tr.rowZebra:nth-child(odd) {
		   background-color: #FFF;
		  }
		  
		  .tableZebra tr.rowZebra:nth-child(even) {
		   background-color: #EEE;
		  }
		  
		  .table th, .table td{
		  	border:none !important ;
		  }
	
		.ui-tabs-hide { display: none !important; }
		.ui-widget-content { border: 0px !important; }
		.tabs { font-size: 0.9em !important; }
		
		.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
			top: 1px !important;
		}
		
		.pagination { font-size: 0.8em; }
		.pagination ul li a {
			line-height: 25px;
			padding: 0 10px;
		}
		
		.dateFormat{
			display: none;
		}
		
		.requiredBlock{
			 background-color: #FF0000;
		    float: left;
		    height: 28px;
		    left: 0;
		    position: relative;
		    width: 3px;
		}
		
		table tr.visaRow .requiredInput .visaFields{
			width: 95%;
		}
		
		table tr.visaRow select{
			width: 95%;
		}
		
		.textFfields{
			width: 95%;
		}
		
		.newClientBox{
			background-color: #E1E1E1;
		    border-radius: 3px;
		    clear: both;
		    margin-top: 15px;
		    padding: 10px;
		    text-align: right;
		    width: 98%;
		}
		
		.errorMsg{
			color: red;
		}
		
		.textFfields{
			margin-bottom: 3px !important;
		}
		
		 .dateSearch {
            width: 80px;
        }
		
		
		.gender{
			border: 1px solid #C1C1C1;
	    	margin-bottom: 3px;
	    	width: 170px;
		}
		
		.gender td{
			padding: 0px 0px 8px 4px;
		}
		
		.gender label{
			display: inline-table;
		    margin-left: 5px;
		    position: relative;
		    top: 4px;
		}
		
		.linkNew{
			float: right;
			margin-right: 5px;
		}
		
		.detailsNew{
			width: 100%;	
		}
		
		.detailsNew th{
			text-align: left;
		}
		
		.detailsNew label{
			font-weight: bold;
			font-size: 1em;
			margin-bottom: 0px;	
		}
		
		.Minimize {
            display: none;
        }
		
		.dhtmlwindow {
            border: 1px solid #999;
            border-radius: 10px 10px 4px 4px;
        }

        .drag-handle {
            border-radius: 9px 9px 0 0;
            padding: 5px;
            background-color: #DC2628;
        }

        .drag-handle .drag-controls {
            top: 3px;
            right: 3px;
        }

        .drag-statusarea {
            border-radius: 0 0 5px 5px !important;
        }
		.even{
			background-color: #eee;
		}
		.odd{
			background-color: #fff;
		}
		
		.accountType label{
			display: inline-table;
		    margin-left: 4px;
		    position: relative;
		    top: 4px;
		}
		
		.table-striped ul {
		    list-style-type: none;
		}
		
		 #interVeil{
            z-index: 100;
        }
	</style>

	<script type="text/javascript">
	
		function replyForwardEmail(type, fileName){
             var w = 915;
             var h = 800;
             var left = (screen.width/2)-(w/2);
             var top = (screen.height/2)-(h/2);
            
             window.open('/apex/sendEmailRpFwd?emailAction='+type+'&key='+fileName,null, 'height='+h+',width='+w+',toolbar=no,directories=no,status=no,menubar=no,resizable=no,modal=yes, top='+top+', left='+left);
         } 
	
		// **************  Modal Functions
		function setCloseModal(){
			jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x-black.png')}');
			jQuery('.Close').unbind('click'); 
			jQuery('.Close').click(function() {closemodal();});
		}
		
		function closemodal(){
			jQuery('#sendEmailRpFwd').css('display','none');				
		}
	
		// ************* Search Functions
		j$ = jQuery.noConflict();
		
		var sortingOrder = 'name'; 
		var myapp = angular.module('hello', []);
		var contrl=myapp.controller('ctrlRead', function ($scope, $filter, $timeout) {
			// init
		
			$scope.sortingOrder = sortingOrder;
			$scope.reverse = false;
			$scope.filteredItems = [];		
			$scope.groupedItems = [];
			$scope.itemsPerPage = 15;
			$scope.pagedItems = [];
			$scope.currentPage = 0;
			$scope.items= {!emailsJSON};	
			$scope.filteredItems = {!emailsJSON};
	 
			var searchMatch = function (haystack, needle) {
				if (!needle) {
					return true;
				}
				return String(haystack).toLowerCase().indexOf(String(needle).toLowerCase()) !== -1;
			};
			
			// calculate page in place
			$scope.groupToPages = function () {
				$scope.pagedItems = [];
				for (var i = 0; i < $scope.filteredItems.length; i++) {
					if (i % $scope.itemsPerPage === 0) {
						$scope.pagedItems[Math.floor(i / $scope.itemsPerPage)] = [$scope.filteredItems[i]];
					} else {
						$scope.pagedItems[Math.floor(i / $scope.itemsPerPage)].push($scope.filteredItems[i]);
					}
				}
			};
	 
			$scope.range = function (start, end) {
			var ret = [];
			if (!end) {
				end = start;
				start = 0;
			}
			for (var i = start; i < end; i++) {
				ret.push(i);
			}
			return ret;
		};
	 
		$scope.prevPage = function () {
			if ($scope.currentPage > 0) {
				$scope.currentPage--;
			}
		};
		 
		$scope.nextPage = function () {
			if ($scope.currentPage < $scope.pagedItems.length - 1) {
				$scope.currentPage++;
			}
		};
		 
		$scope.setPage = function () {
			$scope.currentPage = this.n;
		};
		 
		 
		// change sorting order
		$scope.sort_by = function (newSortingOrder) {
			if ($scope.sortingOrder == newSortingOrder)
				$scope.reverse = !$scope.reverse;
		 
		$scope.sortingOrder = newSortingOrder;
		 
		// icon setup
		$('th i').each(function () {
			// icon reset
			$(this).removeClass().addClass('icon-sort');
		});
		if ($scope.reverse)
			$('th.' + new_sorting_order + ' i').removeClass().addClass('icon-chevron-up');
		else
			$('th.' + new_sorting_order + ' i').removeClass().addClass('icon-chevron-down');
		};
		
		
		$scope.filterText = '';		
	    
	    var tempFilterText = '', filterTextTimeout;
	    $scope.$watch('query', function (val) {
			jQuery('#statusSearch').css('display','');
			if(val != null){
				
		        if (filterTextTimeout) 
					$timeout.cancel(filterTextTimeout);

		        tempFilterText = val;
		        filterTextTimeout = $timeout(function() {
					$scope.search();
		        }, 350);
			
			}
	    })
		
	   $scope.search = function () {
			$scope.filteredItems = $filter('filter')($scope.items, function (item) {
				for (var attr in item) {
				if (searchMatch(item[attr], $scope.query))
				return true;
			}
			return false;
			});
			// Define Sorting Order
			if ($scope.sortingOrder !== '') {
				$scope.filteredItems = $filter('orderBy')($scope.filteredItems, $scope.sortingOrder, $scope.reverse);
			}
			$scope.currentPage = 0;
			// Group by pages
			$scope.groupToPages();
		};
		
		$scope.$watch('pagedItems',function(){
			jQuery('#statusSearch').css('display','none');
		});	
		
		$scope.groupToPages();
			
		});
		
		contrl.$inject = ['$scope', '$filter'];
		
		j$(document).ready(function(){
			j$( "#tabs" ).tabs({ selected: 0 });
			jQuery('.nationName').attr('disabled','disabled');
			jQuery('#statusSearch').css('display','none');
			jQuery('.search-query').focus();			   
							   
		});	
	
		function showLoading(msg) { 
	        jQuery.blockUI({ 
				message: '<H1>'+msg+'</H1>',
				css: { 
	            border: 'none', 
	            padding: '15px', 
	            backgroundColor: '#000', 
	            '-webkit-border-radius': '10px', 
	            '-moz-border-radius': '10px', 
	            opacity: .5, 
	            color: '#fff' 
	        } }); 
	 
	     }
		
		function hideLoading(){
			jQuery.unblockUI();
		}		
		
		// **************** Open Email Function
		function getEmailOpened (emailKey, virtualId) {
		//alert('entrouaqui');
		showLoading('Loading...');
			 Visualforce.remoting.Manager.invokeAction(				
		            '{!$RemoteAction.EmailFromS3Controller.openEmail}',
		            emailKey, 
		            function(result, event){
						if (event.status) {	
		                  // alert(result);
		                  
		                  jQuery('.body'+virtualId).html(result);
			
			            } else if (event.type === 'exception') {
							alert(event.message);
		                    //document.getElementById("responseErrors").innerHTML = 
		                       // event.message + "<br/>\n<pre>" + event.where + "</pre>";
		                } else {
							alert(event.message);
		                    //document.getElementById("responseErrors").innerHTML = event.message;
		                } hideLoading();
		            }, 
		            {escape: false}
		        );		
		}				   
	</script>
 	<apex:actionStatus id="statusUpdate" onstart="showLoading('Please wait...');" onstop="hideLoading();" />
	<apex:form >
	<div id="tabs" class="tabs">
		<div id="tabs-1">
			<div ng-controller="ctrlRead">
				<div class="input-append">
					<input type="text" ng-model="query"  class="input-mysize search-query ng-pristine ng-valid" placeholder="Search..." style="width: 300px;font-size: small;"/>
				</div>
				<div id="statusSearch" style="color:red;font-size: 1.3em;font-weight: bold;text-align: center;">
					<apex:image title="Remove" url="{!URLFOR($Resource.icons,'icons/loading/loading30.gif')}" style="vertical-align: baseline;" /> SEARCHING...
				</div>
				<div>
					<table style="width: 100%; margin-bottom: 0px" >
						<thead>
							<tr>
								<th class="name" style="width:5%"> </th>
								<th class="name" style="width:19%">From</th>
								<th class="name" style="width:19%">To</th>
								<th class="name" style="width:29%">Subject</th>
								<th class="name" style="width:19%">Sent</th> 	
								<th class="name" style="width:7%">Attachments</th> 								
							</tr>
						</thead>
					</table>
					<table style="width: 100%; margin-bottom: 0px" class="table tableZebra table-hover" >
						<tr ng-repeat="item in pagedItems[currentPage]" class="rowZebra">
							<td style="border-top: 1px solid #ddd !important;">
								<table style="width: 100%; margin-bottom: 0px"  id="tableEmails" >
									<tr>
										<td style="width:5%"> 
											<apex:commandLink id="link" status="ipStatus" onClick="getEmailOpened('{{item.key}}','{{item.virtualId}}'); jQuery('.{{item.virtualId}}').toggle();jQuery('.bodySpan{{item.virtualId}}').toggle();  
											jQuery('.buttonMax{{item.virtualId}}').toggle(); jQuery('.btnNoAction{{item.virtualId}}').toggle(); return null" rerender="tableEmails">
												<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-max.png')}" styleclass="buttonMax{{item.virtualId}}" />
												<apex:param name="paramKey" value="{{item.key}}" />
											</apex:commandLink>
											<apex:outputlabel styleclass="btnNoAction{{item.virtualId}}" onclick="javascript:jQuery('.{{item.virtualId}}').toggle();jQuery('.maxNoAction{{item.virtualId}}').toggle(); jQuery('.buttonMin{{item.virtualId}}').toggle();" style="display:none">
												<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-max.png')}" styleclass="maxNoAction{{item.virtualId}}"  style="display:none"/>
												<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-min.png')}" styleclass="buttonMin{{item.virtualId}}"/>												
											</apex:outputlabel>
										</td>
										<td style="width:19%">
											<div ng-show="!item.isFromEmployee">
												<apex:outputText value="{{item.clientName}}" /><br/>
												<apex:outputText value="{{item.clientEmail}}" style="font-size:0.7em"/> 
											</div>
											
											<div ng-show="item.isFromEmployee">
												<apex:outputText value="{{item.employeeName}}" /><br/>
												<apex:outputText value="{{item.employeeEmail}}" style="font-size:0.7em"/>
											</div>
										</td>		
										<td style="width:19%">
											<div ng-show="item.isFromEmployee">
												<apex:outputText value="{{item.clientName}}" /><br/>
												<apex:outputText value="{{item.clientEmail}}" style="font-size:0.7em"/> 
											</div>
											
											<div ng-show="!item.isFromEmployee">
												<apex:outputText value="{{item.employeeName}}" /><br/>
												<apex:outputText value="{{item.employeeEmail}}" style="font-size:0.7em"/>
											</div>
										</td>		
										<td style="width:29%">
											<apex:outputText value="{{item.subject}}" />
										</td>	
										<td style="width:19%">
											<apex:outputText value="{{item.dateOnlySent}}" />
										</td>	
										<td style="width:7%">
											<div ng-show="item.hasAtt" align="center">
												<apex:image url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}"/>
											</div>
										</td>
									</tr>	
									<tr style="display: none" class="{{item.virtualId}}">
										<td colspan="6">
											<apex:outputpanel style="display:none" styleclass="bodySpan{{item.virtualId}}">
												<div style="border:1px solid #D5D3D3; margin:2px; padding: 5px;">
													<div style="width: 100%; background-color: #DCEDFC; max-height: 25px">
														<apex:commandLink value="Forward" style="margin-right:10px; float:right; color: blue;" onclick="replyForwardEmail('fwd','{{item.key}}');return false;">
														
														</apex:commandLink>
														<apex:commandLink value="Reply" style="margin-right:10px; float:right; color: blue;" onclick="replyForwardEmail('rp','{{item.key}}');return false;">
														
														</apex:commandLink>
														<apex:outputText value="Message" style="color:orange;font-size: 0.9em; font-weight: bold; margin-left:5px;float:left;"/> <br/><br/>
													</div>
													
													<div style="width: 100%; padding: 3px; display: block; max-height:400px; min-height:300px; overflow-y:auto;">
														<apex:outputText styleclass="body{{item.virtualId}}" escape="false"/>
													</div>
												</div>
											</apex:outputpanel>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
				<div class="pagination pull-right">
					<ul>
						<li ng-class="{disabled: currentPage == 0}">
							<a ng-click="prevPage()">« Prev</a>
						</li>
						<li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
							<a ng-bind="n + 1">1</a>
						</li>
						<li ng-class="{disabled: currentPage == pagedItems.length - 1}">
							<a ng-click="nextPage()">Next »</a>
						</li>
					</ul>
				</div>
			</div>			 	
		</div>
	</div>
</apex:form>
</html>
</apex:page>