<!-- <apex:page controller="agencies_sales_target" standardStylesheets="false" sidebar="true" tabStyle="settings__tab" lightningStylesheets="true" showHeader="true" docType="html-5.0">
    <apex:slds /> 
    <apex:includeLightning />
    <apex:includeScript value="{!$Resource.up_jQuery}"/>
    <apex:include pageName="xStylePageV2" />
    <apex:include pageName="xCourseSearchStyle" />	
    <style>
        .slds-gutters .slds-col {
            padding-right: 0.25rem;
            padding-left: 0.25rem;
        }

        ul#ipMenu li a{
            height: auto !important;
            color: black !important;
            font-size: .75rem;
        }
        ul#ipMenu li.menuSubHeader a{
            height: auto !important;
            color: white !important;
        }
        /*.container-add-rdfield{
            margin-top: 15px;
        }*/
        .container-add-rdfield h2{
            font-weight: 700;
            color: rgb(62, 62, 60);
            letter-spacing: .0625em;
            line-height: 1.25;
        }
        /*.header-fields{
            text-align: center;
        }
        .header-fields span{
            font-weight: bold;
        }*/
        .chosen{
            min-width: 180px;
        }

        .chosen-container{
            min-width: 250px;
        }

        .container-field-mapping{
            border-top: 1px solid #d8dde6;
            border-bottom: 1px solid #d8dde6;
            padding: 10px;
            margin-top: 20px;
        }

        .chosen-hify-field .chosen-container{
            text-align: left;
        }

        .list-itens-hide li{
            padding: 3px;
            border-bottom: 1px solid #eee;
        }
        .list-itens-hide li:FIRST-CHILD{
            margin-top: 5px;
            border-top: 1px solid #eee;
        }
        .list-itens-hide li:LAST-CHILD{
            border-bottom: none;
        }
        .container-config-hidden{
            display: none; 
        }
        .slds-tabs_default__item.slds-is-active {
            background-color: rgba(0, 112, 210, 0.08) !important;
            font-weight: bold;
        }
        .config{
            border: 1px solid #d8dde6;
            border-top: none;
        }
        .container-filters{
            border: 1px solid #d8dde6;
            border-radius: 10px;
            margin: 20px;
        }

        .slds-card{
            margin: 15px;
            background: #fdfdfd;
        }

        .options-mass-transfer .chosen-container {
            width: 100% !important;
            min-width: 0px !important;
        }

        .header-page{
            font-weight: 700 !important ;
            color: rgb(0, 112, 210);
            text-transform: uppercase;
            font-size: .925rem !important ;
            letter-spacing: .0625em;
            line-height: 1.25;
            padding-bottom: 20px !important ;
            margin: 5px 0px 20px 0px !important;
            border-bottom: 1px solid #e6e6e6;
        }
        .container-targets{
            padding: 10px;
            background: #f4f6f9;
            border: 1px solid #d8dde6;
            border-radius: .25rem;
            background-clip: padding-box;
        }
    </style>
    <table class="tbl_Details">    
        <tr>
            <td rowspan="3" class="sidesColumn">
                <c:menuAgency account="{!userLogged.Contact.AccountId}" selectedItem="TargetSettingForm" /> 
            </td>
            <td class="middleColumn">
                <div class="boxHeader">
                    <c:cpPageHeader PageType="agencyGroup" AccountID="{!userLogged.Contact.Account.ParentId}" />
                </div>
            </td>
        </tr>
        <tr>
            <td class="middleColumn bodyColumn">
                <apex:form >                  
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_1-of-1" style="margin-top: 10px;">
                                <div class="container-targets">                                                                        
                                    <apex:includeLightning />    
                                    <div id="lightning" />                                        
                                    <script>
                                        $Lightning.use("c:lwcTargetSettingsApp", function() {
                                        $Lightning.createComponent("c:lwcTargetSettings",
                                            {"accoId" : "{!$CurrentPage.parameters.id}"},
                                            "lightning",
                                            function(cmp) {}
                                        );
                                        });
                                    </script>                                   
                                </div>
                            </div>
                        </div>                   
                </apex:form>
            </td>
        </tr>
    </table>
</apex:page> -->

<apex:page standardController="Account" extensions="xcourseSearch_AgencyCurrency" standardStylesheets="false" sidebar="true" tabStyle="settings__tab">
	<apex:include pageName="xStylePage" />
	<apex:include pageName="xCourseSearchStyle" />
	<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />
	<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />
	<apex:includeLightning />
	<script>
		jQuery(document).ready(function(){
			jQuery( "#tabs" ).tabs();
			jQuery('.chosen').chosen();
		});			
		
		function numbersonly(evt){
		    var charCode = (evt.which) ? evt.which : event.keyCode
		    if (charCode > 31 && (charCode != 46 &&(charCode < 48 || charCode > 57)))
		        return false;
		    return true;
		}	          
	</script>	
	<style>
		.columnStyle{
			background-color: #EEEEEE;
		}
		
		.columnStyleFirst{
			background-color: lightBlue;
		}
		
		.tableCurrency th{
			background-color: #CCCCCC;
			min-width:100px;
			vertical-align: top;
			text-align: center;
			color: #000;
		}
		.tableCurrency td{
			text-align:right;
			padding-right:3px;
		}
		
		.btn{
			min-width: 200px;
		}
		
		.boxTitle{
			background-color: #999;
		    color: #FFFFFF;
		    display: block;
		    font-weight: bold;
		    height: 24px;
			width: 100%;
			font-size: 1.2em;
		}
		
		.colDetails{
			width: 300px;
			border: solid gray 1px;
		}
		
		.currency{
			border-spacing: 3px;
		}
		
		.currency td{
			text-align:left;
		}
		
		.titleLabel{
			display: block;
    		padding: 2px 0 0 5px;
		}
		
		.buttonsBox{
			text-align: center;
			padding: 8px;
		}
				
		.chosen-drop{
			min-width: 110px;
		}
		.chosen-single{
			min-width: 100px;
		}
		
		.spreadBox{
			border: 1px solid #999999;
    		border-radius: 3px;
		    display: block;
		    font-size: 1.2em;
		    font-weight: bold;
		    margin-bottom: 15px;
		    padding: 3px;
		}

		.tbl-all-agencies {
			border-spacing: 0;
			width: 100%;
			border: solid 1px #c1c1c1;
		}

		.tbl-all-agencies tr td {
			border-bottom: solid 1px #c1c1c1;
			padding: 5px;
		}

		.tbl-all-agencies tr th {
			background-color: #eee;
			padding: 10px;
			border-bottom: solid 1px #999;
		}

		.tbl-all-agencies tr td:nth-child(even) {
            background-color: #eee;
        }

		.ch-currency{
			width: 100% !important;
		}

		.search-choice {
			width: 290px !important;
		}

		#tabs-2 .chosen-container{
			width: 100% !important;
		}

		.pnl-clone .chosen-container{
			width: 350px !important;
		}

		.pnl-clone tr td{
			padding: 3px;
		}
	</style>		
    <table class="tbl_Details">
        <tr>
            <td rowspan="3" class="sidesColumn">                
                <c:menuAgency account="{!agency.id}" selectedItem="TargetSettingForm"/>                
            </td>
            <td class="middleColumn">
                <div class="boxHeader">
                    <c:cpPageHeader PageType="agency" AccountID="{!agency.id}" />
                </div>	
            </td>
            <td rowspan="3" class="rightColumn sidesColumn">            
            </td>
        </tr>
        <tr class="titleRow">        
            <td>
                <div class="divHeader">
                    {!accRTName} Dashboard Settings
                </div>
            </td>            
        </tr>
        <tr>
            <td class="middleColumn bodyColumn">            
                <apex:form >                  
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_1-of-1" style="margin-top: 10px;">
                                <div class="container-targets">                                                                        
                                    <apex:includeLightning />    
                                    <div id="lightning" />                                        
                                    <script>
                                        $Lightning.use("c:lwcTargetSettingsApp", function() {
                                        $Lightning.createComponent("c:lwcTargetSettings",
                                            {"accoId" : "{!$CurrentPage.parameters.id}"},
                                            "lightning",
                                            function(cmp) {}
                                        );
                                        });
                                    </script>                                   
                                </div>
                            </div>
                        </div>                   
                </apex:form>
            </td>
        </tr>
    </table>      
</apex:page>