<apex:page >
<!-- Begin Default Content REMOVE THIS -->
<h1>Congratulations</h1>
This is your new Apex Page: mandrillPdf
<!-- Created by BrainEngine Cloud Studio -->
<!-- End Default Content REMOVE THIS -->
<b>Hello World!</b>
</apex:page>