<apex:page id="modalLoadingLightning" showHeader="false" sidebar="false">
	<apex:slds />
    <style>
        .modalWindow{
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.85);
            z-index: 999999;
            pointer-events: none;
            text-align: center;
        }
        #overlayModalLoading {
            position: fixed; 
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /*background: #000;*/
            opacity: 0.8;
            filter: alpha(opacity=80);
            z-index:-1;
        }
    </style>
    <script>
        function showHideElement(element, parentElementClass, elementToShowHide){
            el = $(element).closest(parentElementClass).find(elementToShowHide);
            if(el.hasClass('close-element')){
                el.removeClass('close-element');
                el.slideUp();
            }else{
                el.addClass('close-element');
                el.slideDown();
            }
        }
        function showModalLoading(show){
            if(show){
                overlay = $('<div></div>').prependTo('body').attr('id', 'overlayModalLoading');
                $("#modalWindow").fadeIn();
            }else{
                $("#modalWindow").fadeOut();
                overlay.remove();
            }
        }
        function showFileLoading(show){
            if(show){
                overlay = $('<div></div>').prependTo('body').attr('id', 'overlayModalLoading');
                $("#fileUpload").fadeIn();
            }else{
                $("#fileUpload").fadeOut();
                overlay.remove();
            }
        }
    </script>
    
    <!-- MODAL LOADING -->
    <div id="modalWindow" class="modalWindow">
        <section id="modalLoading" aria-describedby="modal-content-id-1" aria-labelledby="modal-heading-01" aria-modal="true" class="slds-modal slds-fade-in-open" role="dialog" tabindex="-1">
            <div class="slds-modal__container">                  
                <div style="font-size:1.5em; color:white;">
                    Loading ...
                </div>
                <div class="slds-spinner slds-spinner_medium slds-spinner_inverse" role="status" style="left: 63% !important;">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>         
            </div>
        </section>
    </div>
    <div id="fileUpload" class="modalWindow">
        <section id="modalLoading" aria-describedby="modal-content-id-1" aria-labelledby="modal-heading-01" aria-modal="true" class="slds-modal slds-fade-in-open" role="dialog" tabindex="-1">
            <div class="slds-modal__container">                  
                <div style="font-size:1.5em; color:white;">
                    Please wait the file upload...
                </div>
                <div class="slds-spinner slds-spinner_medium slds-spinner_inverse" role="status" style="left: 75% !important;">
                    <span class="slds-assistive-text">Please wait the file upload...</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>         
            </div>
        </section>
    </div>
    <!-- MODAL LOADING -->
</apex:page>