<apex:page controller="ctrNewCourseC" showHeader="true" sidebar="false" >
<apex:include pageName="xStylePageV2" />
<apex:include pageName="xCourseSearchStyle" />
<!-- Chosen -->
<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />
<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />

	<script>
		function confirmCancel() {
			var isCancel = confirm("Are you sure you wish to cancel?");
			if (isCancel)
				return true;
			return false;
		}


		function disableField(val){
			if(val){
				jQuery('.unavailableReason').val('');
				jQuery('.unavailableLabel').css('color','lightgray');
				jQuery('.unavailableReason').attr('disabled', 'disabled');
			} else {
				jQuery('.unavailableLabel').css('color','red');
				jQuery('.unavailableReason').removeAttr('disabled');
			}

		}



		function showTermOptions(selectedOpt){
			if(selectedOpt == 'Term')
				jQuery('.termOptions').show();
			else {
				jQuery('.termOptions').hide();
				jQuery('.termOption').val('');
				jQuery('.termInterval').val('');
			}
		}

		function hoursWeek(param){
			if(param == 'Other'){
				jQuery('.hoursWeek').val('');
				jQuery('.hoursWeek').attr("disabled", "disabled");

				jQuery('.lengthLabel').css('color','#4A4A56');
				jQuery('.hoursLabel').css('color','lightgray');

				jQuery('.length').removeAttr("disabled");

				jQuery('.length').parent().prepend('<div class="requiredBlock requiredBlockLenght"></div>');
				jQuery('.hoursWeekLenght').remove();

			} else {
				jQuery('.hoursWeek').removeAttr("disabled");

				jQuery('.length').val('');
				jQuery('.length').attr("disabled", "disabled");

				jQuery('.lengthLabel').css('color','lightgray');
				jQuery('.hoursLabel').css('color','#4A4A56');

				jQuery('.hoursWeek').parent().prepend('<div class="requiredBlock hoursWeekLenght"></div>');
				jQuery('.requiredBlockLenght').remove();
			}
		}

		function calcMonths(units, unitType){

			if(units != null && unitType != null){
				var months;

				if(unitType == 'Week')
					months = units/4;
				else if(unitType == 'Month')
					months = units;
				else if(unitType == 'Quarter')
					months = units*3;
				else if(unitType == 'Semester')
					months = units*6;
				else if(unitType == 'Year')
					months = units*12;
				else
					months = '';
				jQuery('.months').val(months);
			}

		}

		function toggleChosenDisabled(isPackage){
			$('.packageCourses').prop('disabled', !isPackage).trigger('chosen:updated');
			if(isPackage)
				$('.packageLabel').css('color', '#4A4A56');
			else
				$('.packageLabel').css('color', '#d3d3d3');

		}

		jQuery(document).ready(function(){
			jQuery('.chosen').chosen({ placeholder_text_multiple: 'Hold down CTRL key to select more than one course' });
		});

	</script>
	<style>
		.campusCourseField{
			color: black;
		}


		.apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader h3 {
		    color: white;
		    font-size: 1.1em;
		}
	</style>
	<apex:form >

	<!-- copy  -->
	  	<table class="tbl_Details">
	    <tr>
	      <td rowspan="3" class="sidesColumn">
				<c:scMenu account="{!$CurrentPage.parameters.cpID}" selectedItem="{!$CurrentPage.parameters.currentPage}" />
	      </td>
	      <td class="middleColumn">
	        <div class="boxHeader">
	          <c:scPageHeader Account="{!$CurrentPage.parameters.cpID}" />
	        </div>
	      </td>
	      <!--<td rowspan="3" class="rightColumn sidesColumn"></td>-->
	    </tr>
	    <tr>
	      <td class="middleColumn bodyColumn">
	<!-- end copy  -->

		<div class="headerButtons">
				<apex:commandLink action="{!addCourse}" value="Save" styleClass="agencyButton" status="statusLoad" rerender="btn,msg,msg1"/>
				<apex:commandLink action="{!cancel}" value="Cancel" styleClass="agencyButton" status="statusLoad"  immediate="true"/>
			</div>
		<div class="divHeader">
			Course Details
		</div>
		<div class="divContent">
			<apex:pageMessages id="msg1" />
			<apex:pageblock id="clientDetails">
			<apex:actionRegion >
				<apex:pageblockSection columns="1">

						<apex:inputField value="{!newCourseDetails.Name}" required="true" styleClass="inputLarge" style="width:500px;" />
						<apex:inputField value="{!newCourseDetails.School_Course_Name__c}" required="true" styleClass="inputLarge" style="width:500px;" />
						<apex:inputField value="{!newCourseDetails.Course_Code__c}" styleClass="inputLarge" style="width:500px;" />
						<apex:inputField value="{!newCourseDetails.Package__c}" onclick="toggleChosenDisabled(this.checked);" />

						<apex:pageblockSectionItem >
							<apex:outputText value="Package Courses" styleClass="packageLabel" />
							<apex:selectList value="{!newCampusCourse.Package_Courses__c}" styleClass="chosen packageCourses" multiselect="true" disabled="true" >
								<apex:selectOptions value="{!courses}" />
							</apex:selectList>
						</apex:pageblockSectionItem>

						<apex:inputField value="{!newCourseDetails.Course_Category__c}" required="true" styleClass="courseCategory" onchange="hoursWeek(this.value)" />

						<apex:pageblockSectionItem >
							<apex:outputText value="{!$ObjectType.Course__c.fields.Hours_Week__c.label}" styleClass="hoursLabel"/>
							<apex:outputPanel layout="block" styleClass="requiredInput">
								<apex:inputField value="{!newCourseDetails.Hours_Week__c}" styleClass="hoursWeek" id="hoursWeekid"/>
								<apex:message for="hoursWeekid" />
							</apex:outputPanel>
						</apex:pageblockSectionItem>


						<apex:pageblockSectionItem >
							<apex:outputText value="{!$ObjectType.Course__c.fields.Optional_Hours_Per_Week__c.label}" styleClass="hoursLabel"/>
							<apex:outputPanel layout="block" styleClass="requiredInput">
								<apex:inputField value="{!newCourseDetails.Optional_Hours_Per_Week__c}" styleClass="hoursWeek" />
							</apex:outputPanel>
						</apex:pageblockSectionItem>

						<apex:inputField value="{!newCourseDetails.Course_Unit_Type__c}" styleClass="unitType" onchange="calcMonths( jQuery('.length').val(), this.value )" required="true" />

						<apex:pageblockSectionItem >
							<apex:outputText value="{!$ObjectType.Course__c.fields.Course_Unit_Length__c.label}" styleClass="lengthLabel"/>
							<apex:outputPanel layout="block" styleClass="requiredInput">
								<apex:inputField value="{!newCourseDetails.Course_Unit_Length__c}" styleClass="courseUnitLength length" onkeyup="calcMonths( this.value, jQuery('.unitType').val() )" />
							</apex:outputPanel>
						</apex:pageblockSectionItem>

						<apex:pageblockSectionItem >
							<apex:outputText value="{!$ObjectType.Course__c.fields.Course_Lenght_in_Months__c.label}" styleClass="lengthLabel"/>
							<apex:outputPanel layout="block" styleClass="requiredInput">
								<apex:inputField value="{!newCourseDetails.Course_Lenght_in_Months__c}" styleClass="length months" />
							</apex:outputPanel>
						</apex:pageblockSectionItem>

						<apex:pageblockSectionItem >
							<apex:outputText value="{!$ObjectType.Campus_Course__c.fields.Available_From__c.label}" styleClass="campusCourseField"/>
							<apex:inputField value="{!newCampusCourse.Available_From__c}" />
						</apex:pageblockSectionItem>
						<apex:pageblockSectionItem >
							<apex:outputText value="{!$ObjectType.Campus_Course__c.fields.Is_Available__c.label}" styleClass="campusCourseField"/>
							<apex:inputField value="{!newCampusCourse.Is_Available__c}" onclick="disableField(this.checked);" />
						</apex:pageblockSectionItem>


						<apex:pageBlockSectionItem >
							<apex:outputLabel value="Unavailable Reason" styleClass="unavailableLabel campusCourseField" />
							<apex:inputField value="{!newCampusCourse.Unavailable_Reason__c}" styleClass="unavailableReason inputLarge"  />
						</apex:pageBlockSectionItem>


						<apex:inputField value="{!newCourseDetails.Language__c}" />
						<apex:outputField value="{!newCourseDetails.Course_Country__c}"  />
						<apex:outputPanel styleClass="killParent">
		                    <apex:inputField value="{!newCourseDetails.Course_Country__c}"  />
		                </apex:outputPanel>
						<apex:inputField value="{!newCourseDetails.Course_Type__c}" required="true" />
						<apex:inputField value="{!newCourseDetails.Type__c}" required="true" />
						<apex:inputField value="{!newCourseDetails.Sub_Type__c}" />
						<apex:inputField value="{!newCourseDetails.Course_Qualification__c}"/>

						<apex:pageblockSectionItem >
							<apex:outputText value="{!$ObjectType.Campus_Course__c.fields.Language_Level_Required__c.label}" styleClass="campusCourseField"/>
							<apex:inputField value="{!newCampusCourse.Language_Level_Required__c}" />
						</apex:pageblockSectionItem>
						<apex:outputPanel styleClass="killParent">
		                    <apex:inputField value="{!newCampusCourse.Campus_Country__c}"  />
		                </apex:outputPanel>

						<!--<apex:pageblockSectionItem >
							<apex:outputText value="{!$ObjectType.Campus_Course__c.fields.Visa_Type__c.label}" styleClass="campusCourseField"/>
							<apex:inputField value="{!newCampusCourse.Visa_Type__c}" />
						</apex:pageblockSectionItem>-->
						<apex:pageblockSectionItem >
							<apex:outputText value="{!$ObjectType.Campus_Course__c.fields.Length_of_each_Lesson__c.label}" styleClass="campusCourseField"/>
							<apex:inputField value="{!newCampusCourse.Length_of_each_Lesson__c}" />
						</apex:pageblockSectionItem>

						<!--apex:inputField value="{!newCourseDetails.Period__c}" required="true" /-->
						<apex:pageblockSectionItem >
							<apex:outputText value="Period" styleClass="campusCourseField" />
							<apex:outputPanel styleClass="requiredInput" layout="block">
								<div class="requiredBlock"></div>
								<apex:selectCheckboxes value="{!selectedPeriods}" id="period" >
									<apex:selectOptions value="{!periods}" />
								</apex:selectCheckboxes>
								<apex:message for="period" />
							</apex:outputPanel>
						</apex:pageblockSectionItem>
						<apex:inputField value="{!newCourseDetails.Form_of_Delivery__c}" />

						<!--<apex:pageblockSectionItem >
							<apex:outputText value="{!$ObjectType.Campus_Course__c.fields.Average_Students_Class__c.label}" styleClass="campusCourseField"/>
							<apex:inputField value="{!newCampusCourse.Average_Students_Class__c}" onkeypress="return numbersonly(event, false);"/>
						</apex:pageblockSectionItem>-->
						<apex:inputField value="{!newCourseDetails.Minimum_age_requirement__c}" onkeypress="return numbersonly(event, false);" />



						<apex:pageBlockSection columns="1" >
							<apex:pageBlockSectionItem >
								<apex:outputText value="Only Sold in Blocks" />
								<apex:inputField value="{!newCourseDetails.Only_Sold_in_Blocks__c}" onclick="jQuery('.courseLength').toggle();"/>
							</apex:pageBlockSectionItem>

							<apex:pageBlockSectionItem >
								<apex:outputText value="Minimum Length" styleClass="courseLength"/>
								<apex:outputPanel styleClass="requiredInput courseLength">
									<div class="requiredBlock"></div>
									<apex:inputField value="{!newCourseDetails.Minimum_length__c}" styleClass="courseLength minQ"/>
								</apex:outputPanel>
							</apex:pageBlockSectionItem>
							<apex:pageBlockSectionItem >
								<apex:outputText value="Maximum Length" styleClass="courseLength" />
								<apex:outputPanel styleClass="requiredInput courseLength">
									<div class="requiredBlock"></div>
									<apex:inputField value="{!newCourseDetails.Maximum_length__c}" styleClass="courseLength maxQ"/>
								</apex:outputPanel>
							</apex:pageBlockSectionItem>

						</apex:pageBlockSection>

						<apex:pageblockSection columns="1">
							<apex:pageBlockSectionItem >
								<apex:outputLabel value="{!$ObjectType.Course__c.Fields.Instalment_Option__c.Label}" />
								<apex:outputPanel >
									<apex:inputField value="{!newCourseDetails.Instalment_Option__c}" onchange="showTermOptions(this.value); "/>

									<apex:outputPanel styleClass="termOptions" style="display:none;">

										<apex:outputLabel value="Term Option" style="color:#4A4A56; margin: 0 10px 0 20px; font-weight: bold; font-size: 0.85em;" />
										<apex:inputField value="{!newCourseDetails.Instalment_Term_Option__c}"  styleClass="termOption"  />


										<apex:outputLabel value="Term Interval" style="color:#4A4A56; margin: 0 10px 0 20px; font-weight: bold; font-size: 0.85em;"   />
										<apex:inputField value="{!newCourseDetails.Instalment_Term_Interval__c}" styleClass="termInterval"  />
									</apex:outputPanel>

								</apex:outputPanel>
							</apex:pageBlockSectionItem>
						</apex:pageblockSection>

						<apex:inputField value="{!newCourseDetails.Instalment_Interval__c}" />
						<apex:inputField value="{!newCourseDetails.Payment_Rules__c}" style="width:90%; height:100px;" />
						<apex:inputField value="{!newCourseDetails.Important_information__c}" style="width:90%; height:100px;"/>
						
						<apex:pageBlockSectionItem >
							<apex:outputText value="Academic/Extra Requirements" />
							<apex:inputField value="{!newCourseDetails.Academic_requirements__c}" style="width:90%; height:100px;"/>
						</apex:pageBlockSectionItem>
						<!--<apex:inputField value="{!newCourseDetails.Extra_requirements__c}" style="width:90%; height:100px;"/>-->

<!-- 						<apex:inputField value="{!newCourseDetails.IP_Tips__c}" style="width:90%; height:100px;" /> -->
						<apex:pageblockSection columns="1">
							<!--<apex:pageblockSectionItem >
								<apex:outputText value="Selling Points" />
								<apex:outputpanel >
									<apex:inputField value="{!newCourseDetails.IP_Tips__c}" style="width:90%; height:100px;" />
								</apex:outputpanel>
							</apex:pageblockSectionItem>-->
							<apex:pageBlockSectionItem >
								<!--<apex:outputLabel value="{!$ObjectType.Course__c.Fields.Why_choose_this_course__c.Label}" />-->
								<apex:outputText value="Selling Points/Why choose this course" />
								<apex:inputTextarea value="{!newCourseDetails.Why_choose_this_course__c}"  rows="15" cols="100" style="width:90%;"/>
							</apex:pageBlockSectionItem>
						</apex:pageblockSection>


						<!-- <apex:pageblockSection columns="1">
							<apex:pageBlockSectionItem >
								<apex:outputLabel value="{!$ObjectType.Course__c.Fields.Instalment_Option__c.Label}" />
								<apex:outputPanel >
									<apex:inputField value="{!newCourseDetails.Instalment_Option__c}" onchange="showTermOptions(this.value); "/>

									<apex:outputPanel styleClass="termOptions" style="display:none;">

										<apex:outputLabel value="Term Option" style="color:#4A4A56; margin: 0 10px 0 20px; font-weight: bold; font-size: 0.85em;" />
										<apex:inputField value="{!newCourseDetails.Instalment_Term_Option__c}"  styleClass="termOption"  />


										<apex:outputLabel value="Term Interval" style="color:#4A4A56; margin: 0 10px 0 20px; font-weight: bold; font-size: 0.85em;"   />
										<apex:inputField value="{!newCourseDetails.Instalment_Term_Interval__c}" styleClass="termInterval"  />
									</apex:outputPanel>

								</apex:outputPanel>
							</apex:pageBlockSectionItem>
						</apex:pageblockSection>


						<apex:inputField value="{!newCourseDetails.Instalment_Interval__c}" /> -->



				</apex:pageblockSection>

				</apex:actionRegion>
				<apex:actionRegion >
					<!-- <apex:pageBlockSection columns="1" >
						<apex:pageBlockSectionItem >
							<apex:outputText value="Only Sold in Blocks" />
							<apex:inputField value="{!newCourseDetails.Only_Sold_in_Blocks__c}" onclick="jQuery('.courseLength').toggle();"/>
						</apex:pageBlockSectionItem>

						<apex:pageBlockSectionItem >
							<apex:outputText value="Minimum Length" styleClass="courseLength"/>
							<apex:outputPanel styleClass="requiredInput">
								<div class="requiredBlock"></div>
								<apex:inputField value="{!newCourseDetails.Minimum_length__c}" styleClass="courseLength minQ"/>
							</apex:outputPanel>
						</apex:pageBlockSectionItem>
						<apex:pageBlockSectionItem >
							<apex:outputText value="Maximum Length" styleClass="courseLength" />
							<apex:outputPanel styleClass="requiredInput">
								<div class="requiredBlock"></div>
								<apex:inputField value="{!newCourseDetails.Maximum_length__c}" styleClass="courseLength maxQ"/>
							</apex:outputPanel>
						</apex:pageBlockSectionItem>

					</apex:pageBlockSection> -->

					<!--<apex:outputPanel id="pricePanel">
						<script>

							jQuery(document).ready(function(){
							jQuery(".minQ").spinner({min: 1});
							jQuery(".maxQ").spinner({min: 1});
							});


						</script>
						apex:pageblockSection title="Add new Course Price" columns="1" rendered="{!NOT(newCourseDetails.Only_Sold_in_Blocks__c)}" >
							<!--Course Price Details->
							<apex:inputField value="{!newCourseDetails.Course_Unit_Type__c}" required="true"/>
							<apex:inputField value="{!newCourseDetails.Minimum_length__c}" required="true" styleClass="minQ"/>
							<apex:inputField value="{!newCourseDetails.Maximum_length__c}" required="true" styleClass="maxQ"/>
							<apex:inputField value="{!newCoursePriceDetails.Price_per_week__c}" required="true" styleClass="textboxnumber" />
							<apex:pageBlockSectionItem >
								<apex:outputLabel value="{!$ObjectType.Course_Price__c.Fields.Availability__c.Label}" />
								<apex:selectList value="{!newCoursePriceDetails.Availability__c}" size="1" id="items" style="width:140px;">
									<apex:selectOptions value="{!PriceAvailabilityList}"/>
								</apex:selectList>
							</apex:pageBlockSectionItem>
							<apex:inputField value="{!newCoursePriceDetails.Price_valid_from__c}" required="true"  />
							<apex:inputField value="{!newCoursePriceDetails.Price_valid_until__c}" required="true" />
						</apex:pageblockSection>

						<!--<apex:pageblockSection title="Add new Course Price" columns="1" rendered="{!newCourseDetails.Only_Sold_in_Blocks__c}" >
							<!--Course Price Details->
							<apex:inputField value="{!newCourseDetails.Course_Unit_Type__c}" required="true"/>
							<apex:pageBlockSectionItem >
								<apex:outputLabel value="Duration" />
								<apex:inputField value="{!newCoursePriceDetails.From__c}" required="true" styleClass="minQ"/>
							</apex:pageBlockSectionItem>
							<apex:pageBlockSectionItem >
								<apex:outputLabel value="Total Tuition Price" />
								<apex:inputField value="{!newCoursePriceDetails.Price_per_week__c}" required="true" styleClass="textboxnumber" />
							</apex:pageBlockSectionItem>

							<apex:pageBlockSectionItem >
								<apex:outputLabel value="{!$ObjectType.Course_Price__c.Fields.Availability__c.Label}" />
								<apex:selectList value="{!newCoursePriceDetails.Availability__c}" size="1" id="items" style="width:140px;">
									<apex:selectOptions value="{!PriceAvailabilityList}"/>
								</apex:selectList>
							</apex:pageBlockSectionItem>
							<apex:inputField value="{!newCoursePriceDetails.Price_valid_from__c}" required="true"  />
							<apex:inputField value="{!newCoursePriceDetails.Price_valid_until__c}" required="true" />
						</apex:pageblockSection
					</apex:outputPanel>-->
				</apex:actionRegion>

				<apex:pageblockSection columns="1">
					<apex:outputText value="Fields marked as bold are 'Campus Course' fields. It means that even if you use the same course in different campuses and some fields are identical in all of them, these fields can be different in each campus." style="font-style: italic;" />
				</apex:pageblockSection>

				<apex:pageblockSection title="Course available on the following campuses" id="btn" columns="1">
					<apex:pageBlockTable value="{!listCampus}" var="lc" title="">
						<apex:column width="30px">
							<apex:inputCheckbox value="{!lc.onCampus}"/>
						</apex:column>
						<apex:column headerValue="Name">
							<apex:outputField value="{!lc.Campus.Name}" /><br />
						</apex:column>
					</apex:pageBlockTable>

				</apex:pageblockSection>



			</apex:pageblock>
		</div>
		<br/>
		<apex:pageMessages id="msg" />
		<div class="footerButtons">
			<apex:commandLink action="{!addCourse}" value="Save" styleClass="agencyButton" status="statusLoad" rerender="btn,msg"/>
			<apex:commandLink action="{!cancel}" value="Cancel" styleClass="agencyButton" status="statusLoad"  immediate="true"/>
		</div>

		<script>
			jQuery(".killParent").parent().css('display','none');
			$('.packageCourses').find('option:contains(unavailable)').css('color','red');
		</script>

		  <!-- copy  -->
	       </td>
	    </tr>
	  </table>
	</apex:form>
	<!-- end copy-->

</apex:page>