<apex:page standardStylesheets="true" sidebar="false" controller="news_faq" >
<!-- CSS -->
<apex:include pageName="xCourseSearchStyle" />
    <html xmlns:ng="http://angularjs.org" ng-app="hello" lang="en">
        <head>
            <meta charset="utf-8"/>
            
            <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet"/>
            <link href="https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet"/>
            <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"/>
        </head>

        <style>
        
            iframe{
                border: none;
            }
            form { margin: 0px !important; }
            body { font-size: 12px !important; }
        
            .ui-tabs-hide { display: none !important; }
            .ui-widget-content { border: 0px !important; }
            .tabs { font-size: 0.9em !important; }
            
                        
            .pagination { font-size: 0.8em; }
            .pagination ul li a {
                line-height: 25px;
                padding: 0 10px;
            }
            
            .labelCol {
                padding-right: 30px;            
                text-align: right;
            }
            
            .inputLarge {
                width: 250px;
            }
            
            .tabs { height: 380px; }
            
            
            .table-striped ul {
                list-style-type: none;
            }
            
            .leadBox{   
                padding-top:3px;
                display: block;
                font-size: 0.8em;
                line-height: 10px;
                margin-top: 2px;
                padding-bottom: 3px;
                text-align: center;
                border: 0;
            }
            
            #calMonthPicker, #calYearPicker{
                width: 99px;
                height: 25px;
                line-height: 25px;
                padding: 0px;
            }
            
            #calYearPicker{
                width: 60px;
            }
                        
        </style>

    <script type="text/javascript">
    
         
        
        function setFocusOnLoad() {}
        
        j$ = jQuery.noConflict();
        
        var sortingOrder = 'name'; 
        var myapp = angular.module('hello', []);
        var contrl=myapp.controller('ctrlRead', function ($scope, $filter, $timeout, $sce) {
            // init
            $scope.picklst = 'news';
            $scope.picklstFrom = 'all';
            $scope.sortingOrder = sortingOrder;
            $scope.reverse = false;
            $scope.filteredItems = [];      
            $scope.groupedItems = [];
            $scope.itemsPerPage = 100;
            $scope.pagedItems = [];
            $scope.currentPage = 0;
            $scope.items = [];
     
            var searchMatch = function (haystack, needle) {
                if (!needle) {
                    return true;
                }
                return haystack.toLowerCase().indexOf(needle.toLowerCase()) !== -1;
            };
     

            // calculate page in place
            $scope.groupToPages = function () {
                $scope.pagedItems = [];
                for (var i = 0; i < $scope.filteredItems.length; i++) {
                    if (i % $scope.itemsPerPage === 0) {
                        $scope.pagedItems[Math.floor(i / $scope.itemsPerPage)] = [$scope.filteredItems[i]];
                    } else {
                        $scope.pagedItems[Math.floor(i / $scope.itemsPerPage)].push($scope.filteredItems[i]);
                    }
                }
                if($scope.filteredItems.length == 0)
                    jQuery('.createClientBtn').css('display', '');
                else jQuery('.createClientBtn').css('display', 'none');
            };
     
            $scope.range = function (start, end) {
            var ret = [];
            if (!end) {
                end = start;
                start = 0;
            }
            for (var i = start; i < end; i++) {
                ret.push(i);
            }
            return ret;
        };
     
        $scope.prevPage = function () {
            if ($scope.currentPage > 0) {
                $scope.currentPage--;
            }
        };
         
        $scope.nextPage = function () {
            if ($scope.currentPage < $scope.pagedItems.length - 1) {
                $scope.currentPage++;
            }
        };
         
        $scope.setPage = function () {
            $scope.currentPage = this.n;
        };
         
         
        // change sorting order
        $scope.sort_by = function (newSortingOrder) {
            if ($scope.sortingOrder == newSortingOrder)
                $scope.reverse = !$scope.reverse;
         
        $scope.sortingOrder = newSortingOrder;
         
        // icon setup
        $('th i').each(function () {
            // icon reset
            $(this).removeClass().addClass('icon-sort');
        });
        if ($scope.reverse)
            $('th.' + new_sorting_order + ' i').removeClass().addClass('icon-chevron-up');
        else
            $('th.' + new_sorting_order + ' i').removeClass().addClass('icon-chevron-down');
        };
        
        
        $scope.filterText = '';
        
        
        
        var tempFilterText = '', filterTextTimeout;
        $scope.$watch('query', function (val) {
            jQuery('#statusSearch').css('display','');
            if(val != null){
                
                if (filterTextTimeout) 
                    $timeout.cancel(filterTextTimeout);

                tempFilterText = val;
                filterTextTimeout = $timeout(function() {
                    $scope.getclient();
                }, 350);
            
            }
        })      
       
        $scope.$watch('pagedItems',function(){
            jQuery('#statusSearch').css('display','none');
        });     
        
        $scope.toggle = function (popUpDiv) {
            var el = document.getElementById(popUpDiv);
            if ( el.style.display == 'none' ) { el.style.display = '';}
            else {el.style.display = 'none';}
            return false;
        }   
    
        
        $scope.getclient = function () {
        
            showLoading('Loading');
            var accountName = $scope.query;
            var  nation = '{!JSENCODE($CurrentPage.parameters.nation)}';
            var mainCategory = jQuery('.mainCategory').val();                       
            var fromContacts = true;
            var fromType = jQuery('.fromType').val();
            var fromDate = jQuery('.dateFrom').val();
            var toDate = jQuery('.dateTo').val();
            
            
            if(mainCategory == 'promotions'){
                jQuery('.fromType').attr('disabled', 'disabled');
                $scope.picklstFrom = 'all';
                fromType = 'all';
            } else
                jQuery('.fromType').removeAttr('disabled');
            
            if(accountName ==null)
                accountName='';
            //alert('AccountName:'+accountName + 'Nation:'+nation + 'ClientType:' +clientType );
            
             Visualforce.remoting.Manager.invokeAction(             
                    '{!$RemoteAction.news_faq.getNewsFAQ}',
                    accountName, mainCategory, fromType, 
                    function(result, event){
                        //alert(result);
                        if (event.status) { 
                            
                            $scope.filteredItems = JSON.parse(result);
                            $scope.currentPage = 0;
                            $scope.groupToPages();
                            $scope.$apply();
                            
                        } else if (event.type === 'exception') {
                            alert(event.message);
                        } else {
                            alert(event.message);
                        }
                        hideLoading();
                    }, 
                    {escape: false}
                );  
                    
            
        }
            
        $scope.filteredItems = {!allNewsFAQ};
        $scope.groupToPages();
        
        $scope.to_trusted = function(html_code) {
            return $sce.trustAsHtml(html_code);
        }
        
        });
        
        contrl.$inject = ['$scope', '$filter'];
        
            
        j$(document).ready(function(){
            j$( "#tabs" ).tabs({ selected: 0 });
            jQuery('.nationName').attr('disabled','disabled');
            jQuery('#statusSearch').css('display','none');
            jQuery('.search-query').focus();    
            
                   
                               
        }); 
                               
        function setClients(ids){       
            window.parent.setQuoteClients(ids);
        }
            
         function addfullname(){
            jQuery('.fullname').val( jQuery('.firstname').val() + ' ' + jQuery('.lastname').val() );                       
        }
                               
        function showLoading(msg) { 
            jQuery.blockUI({ 
                message: '<H1>'+msg+'</H1>',
                css: { 
                border: 'none', 
                padding: '15px', 
                backgroundColor: '#000', 
                '-webkit-border-radius': '10px', 
                '-moz-border-radius': '10px', 
                opacity: .5, 
                color: '#fff' 
            } }); 
     
         }
        
        function hideLoading(){
            jQuery.unblockUI();
        }                      
            
    </script>    
    
    <apex:form >
        <div style="border-bottom: 1px solid lightgrey; width: 100%;">
            <h1 class="h1-large title" style="font-size: 2em !important;">News - FAQ - Promotions</h1>
        </div>  
    <!-- apex:actionFunction action="/xCourseSearchProducts?id={!objCart.id}" name="redirectQuote" status="statusUpdate" reRender="wrapper" oncomplete="fixTable();" /-->   

        
    <div ng-controller="ctrlRead" style="padding: 1em;">
        <div style="float:left;">
            <select ng-change="getclient()" ng-model="picklst" class="mainCategory">
                <option value="news">News</option>
                <option value="faq">FAQ</option>
                <option value="promotions">Promotions</option>              
            </select>
            <select ng-change="getclient()" ng-model="picklstFrom" class="fromType" style="margin-left: 30px;">
                <option value="all">All</option>
                <option value="School">School</option>
                <option value="IP Office">IP Office</option>
                <option value="City">City</option>
                <option value="Immigration">Immigration</option>
                <option value="General">General</option>                
            </select>
        </div>
        
        <div class="input-append" style="text-align:center;">
            <input type="text" ng-model="query"  class="input-mysize search-query ng-pristine ng-valid" placeholder="Search" style="width: 300px;font-size: small;"/>
            
        </div>
        <div id="statusSearch" style="color:red;font-size: 1.3em;font-weight: bold;text-align: center;">
            <apex:image title="Remove" url="{!URLFOR($Resource.icons,'icons/loading/loading30.gif')}" style="vertical-align: baseline;" /> SEARCHING...
        </div>
        <div style="min-height: 270px;padding: 10px;">
            <table class="newstable table table-striped table-condensed table-hover" style="">
                <thead>
                    <tr>
                        <th class="name" style="min-width:25px" ng-show="picklst != 'faq'">&nbsp;</th>
                        <!-- <th class="name" style="min-width:95px">Agency&nbsp;</th> -->
                        <th class="Email" ng-show="picklst != 'faq'">Title&nbsp;</th>                       
                        <th class="Email">City/Country&nbsp;</th>
                        <th class="Mobile">School&nbsp;</th>
                        <th class="lastQuote" ng-show="picklst == 'faq'">Question</th>
                        <th class="lastQuote" ng-show="picklst == 'faq'">Answer</th>
                        <th class="lastQuote" ng-show="picklst == 'news'">Expires On</th>
                        <th class="lastQuote" ng-show="picklst == 'promotions'">Date From</th>
                        <th class="lastQuote" ng-show="picklst == 'promotions'">Date To</th>
                        <th class="lastQuote" >Attachments</th>
                        
                    </tr>
                </thead>
                        
                        
                <tbody ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                    <tr>                        
                        <td ng-show="picklst != 'faq'">
                            <a ng-click="toggle(item.id);toggle('{!$Component.buttonMax}'); toggle('{!$Component.buttonMin}');" href="" >
                                <apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" id="buttonMax" styleclass="arrow" />
                                <apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" id="buttonMin" styleclass="arrow" style="display:none"/>
                            </a>
                        </td>
                        <!-- <td>
                            {{item.Agency}}
                        </td> -->
                        <td ng-show="picklst != 'faq'">
                            {{item.Title}}
                        </td>
                        <td>
                            {{item.City}}/{{item.Country}}
                        </td>
                        <td>
                            {{item.School}}
                        </td>               
                        <td ng-show="picklst == 'faq'">
                            {{item.Question}}
                        </td>
                        <td ng-show="picklst == 'faq'">
                            <div ng-bind-html="to_trusted(item.Answer)"></div>
                        </td>
                        <td ng-show="picklst == 'news'">
                            {{item.Expire_On}}
                        </td>
                        <td ng-show="picklst == 'promotions'">
                            {{item.Date_From}}
                        </td>
                        <td ng-show="picklst == 'promotions'">
                            {{item.Date_To}}
                        </td>
                        <td>
                            <div ng-repeat="file in item.files" style="display:block;">
                                <a href="{{file.url}}">{{file.name}}</a>
                            </div>
                        </td>
                    </tr>
                    <tr><td style="display:none;"></td></tr>
                    <tr>
                        <td colspan="9" style="display:none;" id="{{item.id}}" >
                            <div ng-bind-html="to_trusted(item.Description)"></div>                     
                        </td>
                    </tr>
                    
                    <tr style="line-height: 25px;"><td colspan="6" style="padding: 5px;"></td></tr>
                    
                </tbody>
                        
                        
                        
                <tfoot>
                    <tr>
                        <td colspan="9">
                            <div class="pagination pull-right">
                                <ul>
                                    <li ng-class="{disabled: currentPage == 0}">
                                        <a ng-click="prevPage()">« Prev</a>
                                    </li>
                                    <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                        <a ng-bind="n + 1">1</a>
                                    </li>
                                    <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                        <a ng-click="nextPage()">Next »</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tfoot>
                        
            </table>
            
        </div>
        
    </div>
                
                
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/ui/1.8.24/jquery-ui.js"></script>
    <apex:includeScript value="{!$Resource.jquery}"/> 
    
 
    <apex:includeScript value="{!$Resource.jqueryBlockUI}" />
    <apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.assets,'modalfiles/modal.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.assets,'modalfiles/modal.css')}" />
    
    </apex:form>
    </html>
    
    
    
    
    
    
    
    
    
    <!--  <apex:pageBlock >   
        <apex:relatedList list="Contacts" title="{!agency.name} clients" subject="{!agency.id}" />
    </apex:pageBlock> -->
   
</apex:page>