<apex:page controller="payment_consolidation" sidebar="false" tabstyle="Finance__tab">
	
	<apex:include pageName="xStylePageV2" />
	<apex:include pageName="xCourseSearchStyle" />
	
	<apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}"/>
	
	<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />	
	<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />
	
	<style>
		a {
			text-decoration:none;
		}
		
		.divContent {
			border:  none;
			clear: both;
		}
	
		
		
		/* .tableInstal tr:nth-child(odd) td .datefieldCSS {
			border-color: #eee;	
		}
		
		.tableInstal tr:nth-child(even) td .datefieldCSS {
			border-color: #ffffff;	
		}
		 */
	
		
		.agencyButton {
			padding: 2px 10px;
		}
		
		.confirmed td {
			font-style: italic;	
			background: #eef4ee;	
		}
		
		.confirmed td .datefieldCSS {
			border-color: #eef4ee !important;	
		}
		
		
		.deleteImage {
			position: relative;
			top: 2px;
			left: 3px;
		}
	
		.instalmentValue { font-size: 1.2em; color: black;}
		.dueDate { font-style: italic; color: grey; }
		
		.boxtotal{
			float: left;
			min-width: 130px;
			margin: 0px 10px;
			padding: 5px 10px;
			border: 1px solid #708090;
			font-weight: bold;
			font-size: 1.2em;
		}
		.unconfirmed { color: #FF4563; }
		.totalValue { margin-right: 20px; }
		
		.dateFormat {display: none;}
		
		.filterbox {
			display: block;
			float: left;
			//width: 10%;
			min-width: 160px;
		}
		
		.filterbox select { width: 150px; }
		
		
		.filters {			
			border: 1px solid #999999 !important;
		    border-radius: 5px;
		    box-shadow: 0 0 0 #cccccc;
		   	height: 35px;
			margin: 1em 0.5em 0.5em 0.5em;
			padding: 15px;
			display: block;			
			background-color: #f3f3f3;
		}
		
		.datetime {
			font-weight: bold;
		}
		
		.filterLabel{
		    font-style: italic;
		    margin-left: 2px;
		    margin-top: 1px;
		}
		
				
		.datefieldCSS{
		    //background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
		    background:inherit;
		    background-image: url("{!URLFOR($Resource.icons,'icons/commons/calendar.png')}");
		    background-repeat: no-repeat;
		    background-position: right;
		    border: 1px solid #fff;
		    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1) inset, 0 0 0 rgba(0, 0, 0, 0.1);
		    color: grey;
		    font-size: 12px;
		    height: 18px !important;
		    margin-left: -2px;
		    margin-top: 6px;
		    width: 125px !important;
		}
		
		.ownerName{
		    display: block;
		    font-style: initial;
  		}
  		
  		
  		.tableInstal td:last-child{
			border-right: 1px solid #ccc;
		}
		
		.tableInstal td:first-child{
			border-left: 1px solid #ccc;
		}
		
		.tableInstal th{
			border: 1px solid #ccc;
			font-size: 1.2em;
		}
		
		
		.tableInstal{
			border: none;
		}
		
  		.tableInstal tbody td{
  			font-size: 1em !important;
  		}
  		
		/* .tableInstal tbody tr:nth-child(odd) td  {
		    background-color: #eeeeee !important;	  
		}
		
		.tableInstal tbody tr:nth-child(even) td {
		    background-color: #ffffff !important;
		}
		 */
		.clientName {
			font-size: 15px;
		}
		
		.tb_payments {
			width: 98%;
			margin: 3px;
			border: 1px solid #CCCCCC;
			border-spacing: 0;
			border-bottom: none;
		}
		
		.tb_payments tr {
			background-color: transparent !important;
		}
		.tb_payments tr td {
			padding: 3px;
			border-bottom: 1px solid lightgrey;
			line-height: 25px;
		}
		
		.payType{
			background: inherit;
    		width: 128px;
    		color: grey;
		}
		
		.dtStyle{
			color: #999;
		    display: block;
		    font-size: 0.8em;
		    height: 25px;
		    position: relative;
		    //top: -5px;
		}
		
		.helpIcon {
			position: relative;
    		top: -2px;
		}
		
		
		.totalBox {
		    border: 1px solid #c1c1c1;
		    float: right;
		    margin: 3px 0 0 3px;
		    padding: 5px;
		    width: 115px;
		}
		
		.totalBoxLabel{
			font-weight: bold;
			display: block;
		}
	</style>
	
<table class="tbl_Details">
	<tr>					
		<td class="sidesColumn">					
			<c:menuFinance selectedItem="payReconciliation" />
		</td>
	
		<td class="middleColumn bodyColumn">	
		<apex:form >
			<apex:actionFunction action="{!unconfirmPayment}" name="unconfirmPayment" status="statusLoad" rerender="resultSec">
				<apex:param name="type" value="" />
				<apex:param name="paymentid" value="" />
			</apex:actionFunction>
				
			<div class="divWrapper" style="margin-top:10px;">
			
				<div class="title" style="font-size:1.5em;">
							<span class="arrow-e" style="font-size: 1.5em;"></span>&nbsp;Payment Reconciliation
						</div>
				
				<div class="filters">
				
					<div class="filterbox">
					 	<apex:selectList value="{!selectedAgencyGroup}" size="1" style="width:150px;" styleclass="chosen">
		                      <apex:SelectOptions value="{!agencyGroupOptions}" />
		                      <apex:actionSupport event="onchange" action="{!changeGroup}" rerender="pklAgencies" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>
		                  </apex:selectList>
		                  <apex:outputText value="Agency Group" style="display: block;" /> 
					</div>
					
					<apex:outputPanel layout="block" id="pklAgencies" styleclass="filterbox">
						<apex:selectList value="{!selectedAgency}" size="1" styleclass="chosen">
							<apex:selectOptions value="{!agencies}" />
						</apex:selectList>
						<apex:outputText value="Agency" style="display: block;" styleclass="filterLabel"/>					
					</apex:outputPanel>
					
					<div class="filterbox">
						<apex:selectList value="{!selectedPaymentTypes}" size="1" styleclass="chosen" onchange="toggleShowAll(this.value)">
							<apex:selectOptions value="{!paymentTypes}" />
						</apex:selectList>
						<apex:outputPanel style="display:block;">
							<apex:outputText value="Payment Types" style="float:left" styleclass="filterLabel" />
							<apex:outputPanel style="display:none; margin-left: 5px;" styleClass="optBoth">
								<apex:inputCheckBox value="{!showAll}" />	
								<img class="helpIcon" alt="" src="/s.gif" title="Use this option to show all other payment types that are together with the one selected above." />	
							</apex:outputPanel>	
						</apex:outputPanel>		
					</div>
					
					<div class="filterbox" style="margin-right: 10px !important;">
						<apex:selectList value="{!selectedSchool}" size="1" styleclass="chosen" style="width:200px;">
							<apex:selectOptions value="{!schools}" />
						</apex:selectList>
						<apex:outputText value="School" style="display: block;" styleclass="filterLabel"/>					
					</div>
					
				<!-- 	<div class="filterbox">
						<apex:selectList value="{!selectedPaymentStatus}" size="1" styleclass="chosen">
							<apex:selectOptions value="{!paymentStatus}" />
						</apex:selectList>
						<apex:outputText value="Payment Status" style="display: block;" styleclass="filterLabel"/>								
					</div>
					
					
					<div class="filterbox">
						<apex:inputField value="{!filterDate.BirthDate}" />
						<apex:outputText value="Received Date from" style="display: block;" styleclass="filterLabel"/>											
					</div> -->
					
					<div class="filterbox">
						<apex:selectList value="{!dateCriteria}" size="1" style="width:150px;" styleclass="chosen">
			                 <apex:SelectOptions value="{!dateCriteriaOptions}" />
			             </apex:selectList>
						 <apex:outputText value="Date Criteria" style="display: block;" />					
					</div>	
					<div class="filterbox">
						<apex:selectList value="{!SelectedPeriod}" size="1" style="width:150px;" onchange="enableDate(this.value);" styleclass="chosen">
			            	<apex:SelectOptions value="{!periods}" />
			            </apex:selectList>
						<apex:outputText value="Received" style="display: block;" />					
					</div>	
             		<div class="filterbox" style="min-width: 100px; width: 100px;">
             			<apex:inputField value="{!dateFilter.Original_Due_Date__c}" styleClass="dateFilter" />
             			<apex:outputText value="From Date" style="display: block;" />
             		</div>
             		<div class="filterbox" style="min-width: 100px; width: 100px;">
             			<apex:inputField value="{!dateFilter.Discounted_On__c}" styleClass="dateFilter" />
						<apex:outputText value="To Date" style="display: block;" />
             		</div>
					
					<div class="filterbox">
						<apex:commandLink value="Search" action="{!searchPayments}" status="statusLoad" rerender="resultSec" styleClass="agencyButton" style="padding: 5px 20px; position: relative; top: 9px;" />
					</div>
					
				</div>
					
				
				<div class="divContent">
					<apex:outputPanel id="resultSec" layout="block">
					<apex:pageMessages />
						<script>
							jQuery('.payType > option').each(function() {
							    if(this.value == 'School Credit' || this.value == 'Deposit' || this.value == 'Covered by Agency' || this.value == 'Client Scholarship' || this.value == 'Offshore' || this.value == 'Transferred from Deposit'){
							    	jQuery(this).attr('style','color:red; text-decoration:line-through;');
							    }
							});
						</script>
						<apex:outputpanel rendered="{!ISNULL(result) || result.size<1}">
							<div style="text-align:center; color:red; border:1px solid grey; padding:5px; margin-top: 6px;width: 100%;"> No result found. </div>
						</apex:outputpanel>			
						
						<apex:outputpanel layout="none" rendered="{!NOT(ISNULL(result)) && result.size>0}">
					
						<table class="tableInstal" >
						
							<thead>
								<tr>
									<th>
										Client
									</th>
									<th>
										Instalment Value
									</th>
									<th>
										Payments
									</th>	
								</tr>						
							</thead>
							
							<!-- <apex:outputPanel rendered="{!instalments.size = 0}" layout="none">
								<tr>
									<td colspan="4" style="text-align: center;background-color: #ebebeb; color: #DC2628;font-size: 1.5em;">
										<apex:outputText value="No results found."/>
									</td>
								</tr>
							</apex:outputPanel> -->
							<tbody>
							<apex:repeat value="{!result}" var="r">
								<tr>
									<td width="20%">
										
										<!-- Installment -->
										<apex:outputpanel rendered="{!r.instalment != null}">
											<!-- ID=={!r.instalment.id}<br/> -->
											<apex:outputLink value="/{!r.instalment.client_course__r.Client__c}" styleClass="clientName" target="_blank" >
												{!r.instalment.client_course__r.client__r.Name}
											</apex:outputLink> 
											<br/>
											<span style="font-weight: bold">Invoice Number:</span>&nbsp;
											
											<!-- Instalment NOT Amended -->
											<apex:outputLink value="/client_course_instalment_receipt?inst={!r.instalment.id}" styleClass="clientName" target="_blank" rendered="{!r.instalment.client_course_instalment_amendment__r.size<1}">
												{!r.instalment.Name}
											</apex:outputLink>
											<!-- Instalment Amended -->
											<apex:outputLink value="/client_course_instalment_receipt?inst={!r.instalment.client_course_instalment_amendment__r[0].id}" styleClass="clientName" target="_blank" rendered="{!r.instalment.client_course_instalment_amendment__r.size>0}">
												{!r.instalment.client_course_instalment_amendment__r[0].Name}
											</apex:outputLink>
											
											
											<br/>
											<apex:outputText value="{!r.instalment.client_course__r.Campus_Name__c}" style="font-weight:bold;"/>
											<br/>
											<apex:outputText value="{!r.instalment.client_course__r.Course_Name__c}" />
											<div>
												Owner:&nbsp;<apex:outputtext value="{!r.instalment.Client_Course__r.Client__r.Owner__r.Name}" />
											</div>
										</apex:outputpanel>
										
										<!-- Invoice -->
										<apex:outputpanel rendered="{!r.invoice!=null}">
										<!-- 	<apex:outputpanel rendered="{!$Organization.Id='00DN0000000TtRPMA0'}">
												ID=={!r.invoice.id}<br/>
											</apex:outputpanel> -->
											<apex:outputLink value="/{!r.invoice.Client__c}" styleClass="clientName" target="_blank" >
												{!r.invoice.client__r.Name}
											</apex:outputLink> 
											<div class="ownerName">
												<b>Owner:&nbsp;</b><apex:outputtext value="{!r.invoice.Client__r.Owner__r.Name}" />
											</div>
											<span style="font-weight: bold">Invoice Number:</span>&nbsp;
											<apex:outputLink value="/client_course_instalment_receipt?inv={!r.invoice.id}" styleClass="clientName" target="_blank" >
												{!r.invoice.Name}
											</apex:outputLink>
												
											<!-- COURSES -->
											<apex:outputPanel rendered="{!r.invoice.client_course_instalments__r.size > 0}">
												<br />
												<span style="font-weight: bold">Courses:</span>	
												<br />
												<apex:repeat value="{!r.invoice.client_course_instalments__r}"	var="cci">
													{!cci.client_course__r.Course_Name__c} - {!cci.Instalment_Value__c}
													<br />
												</apex:repeat>	
											</apex:outputPanel>
											
											<!-- PRODUCTS -->
											<apex:outputPanel rendered="{!r.invoice.client_products_services__r.size > 0}">
												<br />
												<span style="font-weight: bold">Products:</span>	
												<br />
												<apex:repeat value="{!r.invoice.client_products_services__r}"	var="cps">
													{!cps.Category__c} - {!cps.Product_Name__c} - {!cps.Price_Total__c}
													<br />
												</apex:repeat>			
											</apex:outputPanel>		
										</apex:outputpanel>
										
										<!-- Product -->
										<apex:outputpanel rendered="{!r.product!=null}">
											<!-- <apex:outputpanel rendered="{!$Organization.Id='00DN0000000TtRPMA0'}">
												ID=={!r.product.id}<br/>
											</apex:outputpanel> -->
											<apex:outputLink value="/{!r.product.Client__c}" styleClass="clientName" target="_blank" >
												{!r.product.client__r.Name}
											</apex:outputLink> 
											<div class="ownerName">
												<b>Owner:&nbsp;</b><apex:outputtext value="{!r.product.Client__r.Owner__r.Name}" />
											</div>
											<span style="font-weight: bold">Invoice Number:</span>&nbsp;
											<apex:outputLink value="/client_course_instalment_receipt?prod={!r.product.id}" styleClass="clientName" target="_blank" >
												{!r.product.Name}
											</apex:outputLink>
											
											<br/>
											<span style="font-weight: bold">Product:</span>&nbsp;<apex:outputText value="{!r.product.Category__c} - {!r.product.Product_Name__c}" />
											
											<apex:outputpanel layout="none" rendered="{!NOT(ISNULL(r.product.client_course__c))}">
												<br/>
												<apex:outputText value="{!r.product.client_course__r.Course_Name__c}" />
												<br/>
												<apex:outputText value="{!r.product.client_course__r.Campus_Name__c}" />
											</apex:outputpanel>
										</apex:outputpanel>
										
									</td>
									
									<td width="20%">
									
										<!-- Installment -->
										<apex:outputpanel rendered="{!r.instalment != null}">
											
											<!-- NOT Amended Value -->
											<apex:outputpanel layout="none" rendered="{!NOT(r.instalment.isInstalment_Amendment__c)}">
												<apex:outputText value="{0, number, currency}" styleClass="instalmentValue" >
													<apex:param value="{!r.instalment.Instalment_Value__c}" />
												</apex:outputText>
												
												<apex:outputpanel layout="block" style="display: block; margin: 1px 0px;" rendered="{!NOT(ISBLANK(r.instalment.Discount__c)) && r.instalment.Discount__c > 0}">
													<apex:outputText value="Discount: " styleClass="dueDate" style="font-weight:bold;"/>
													<span class="dueDate datetime">
														<apex:outputText value="{0, number, currency}" >
															<apex:param value="{!r.instalment.Discount__c}" />
														</apex:outputText>
													</span>
												</apex:outputpanel>
											</apex:outputpanel>
											
											<!-- Amended -->
											<apex:outputpanel layout="none" rendered="{!r.instalment.isInstalment_Amendment__c}">
												
												<span style="color:red;font-style: italic;">
													Amendment of Instalment Nº&nbsp;
													<apex:outputText value="{!r.instalment.Number__c}" />
													<apex:outputText value="." rendered="{!NOT(ISNULL(r.instalment.Split_Number__c))}" />
       												<apex:outputText value="{!r.instalment.Split_Number__c}" />
												</span>
												<br/>
												
												<apex:outputText value="{0, number, currency}" styleClass="instalmentValue" rendered="{!OR(NOT(r.instalment.isInstalment_Amendment__c), AND(r.instalment.isInstalment_Amendment__c,NOT(r.instalment.Original_Instalment__r.isAmended_BeforeSchoolPayment__c)))}">
													<apex:param value="{!r.instalment.Instalment_Value__c}" />
												</apex:outputText>
												
												<apex:outputText value="{0, number, currency}" styleClass="instalmentValue" rendered="{!AND(r.instalment.isInstalment_Amendment__c,r.instalment.Original_Instalment__r.isAmended_BeforeSchoolPayment__c)}">
													<apex:param value="{!ABS(r.instalment.Amendment_Instalment_Balance__c)}" />
												</apex:outputText>
											</apex:outputpanel>
											
											
											<div style="display: block; margin: 1px 0px;">
												<apex:outputText value="Due on " styleClass="dueDate" />
												<span class="dueDate datetime">
													<apex:outputField value="{!r.instalment.Due_Date__c}" />
												</span>
											</div>
											
											<div style="display: block; margin: 1px 0px;">
												<apex:outputText value="Received by {!r.instalment.Received_By__r.Name} on " styleClass="dueDate" />
												<span class="dueDate datetime">
													<apex:outputField value="{!r.instalment.Received_Date__c}" />
												</span>
											</div>
											
											<apex:outputPanel layout="block" rendered="{!NOT(ISBLANK(r.instalment.Confirmed_Date__c))}" style="display: block; margin: 1px 0px;">										
												<apex:outputText value="Confirmed by {!r.instalment.Confirmed_By__r.Name} on " styleClass="dueDate" />
												<span class="dueDate datetime">
													<apex:outputField value="{!r.instalment.Confirmed_Date__c}" />
												</span>
											</apex:outputPanel>
											
										</apex:outputpanel>
										
										<!-- Invoice -->
										<apex:outputpanel rendered="{!r.invoice!=null}">
											
											<apex:outputText value="{0, number, currency}" styleClass="instalmentValue" >
												<apex:param value="{!r.invoice.Total_Value__c}" />
											</apex:outputText>
											
											<apex:outputpanel layout="block" style="display: block; margin: 1px 0px;" rendered="{!NOT(ISBLANK(r.invoice.Total_Discount__c)) && r.invoice.Total_Discount__c > 0}">
												<apex:outputText value="Discount: " styleClass="dueDate" style="font-weight:bold;"/>
												<span class="dueDate datetime">
													<apex:outputText value="{0, number, currency}" >
														<apex:param value="{!r.invoice.Total_Discount__c}" />
													</apex:outputText>
												</span>
											</apex:outputpanel>
											
											<div style="display: block; margin: 1px 0px;">
												<apex:outputText value="Due on " styleClass="dueDate" />
												<span class="dueDate datetime">
													<apex:outputField value="{!r.invoice.Due_Date__c}" />
												</span>
											</div>
											
											<div style="display: block; margin: 1px 0px;">
												<apex:outputText value="Received by {!r.invoice.Received_By__r.Name} on " styleClass="dueDate" />
												<span class="dueDate datetime">
													<apex:outputField value="{!r.invoice.Received_Date__c}" />
												</span>
											</div>
											
											<apex:outputPanel layout="block" rendered="{!NOT(ISBLANK(r.invoice.Confirmed_Date__c))}" style="display: block; margin: 1px 0px;">										
												<apex:outputText value="Confirmed by {!r.invoice.Confirmed_By__r.Name} on " styleClass="dueDate" />
												<span class="dueDate datetime">
													<apex:outputField value="{!r.invoice.Confirmed_Date__c}" />
												</span>
											</apex:outputPanel>
											 
										</apex:outputpanel>
										
										<!-- Product -->
										<apex:outputpanel rendered="{!r.product!=null}">
										
											<apex:outputText value="{0, number, currency}" styleClass="instalmentValue" >
												<apex:param value="{!r.product.Price_Total__c}" />
											</apex:outputText>
											
											<!--  <div style="display: block; margin: 1px 0px;">
												<apex:outputText value="Due on " styleClass="dueDate" />
												<span class="dueDate datetime">
													<apex:outputField value="{!r.product.Due_Date__c}" />
												</span>
											</div> -->
											
											<div style="display: block; margin: 1px 0px;">
												<apex:outputText value="Received by {!r.product.Received_By__r.Name} on " styleClass="dueDate" />
												<span class="dueDate datetime">
													<apex:outputField value="{!r.product.Received_Date__c}" />
												</span>
											</div>
											
											<apex:outputPanel layout="block" rendered="{!NOT(ISBLANK(r.product.Confirmed_Date__c))}" style="display: block; margin: 1px 0px;">										
												<apex:outputText value="Confirmed by {!r.product.Confirmed_By__r.Name} on " styleClass="dueDate" />
												<span class="dueDate datetime">
													<apex:outputField value="{!r.product.Confirmed_Date__c}" />
												</span>
											</apex:outputPanel>
										
										</apex:outputpanel>
										
									</td>
									
									<td width="25%">
										
										<!-- Installment -->
										<apex:outputpanel rendered="{!r.instalment != null}">
											
											<table class="tb_payments">
												<apex:repeat value="{!r.instalment.client_course_instalment_payments__r}" var="payment">
													<apex:outputPanel layout="none" rendered="{!OR(selectedPaymentTypes=='all',selectedPaymentTypes==payment.Payment_Type__c,showAll)}" >
														<tr class="{!IF(ISBLANK(payment.Confirmed_By__c), '', 'confirmed')}">
															<td style="width:15%">
															
																<div style="float:left">
																	<apex:image url="{!URLFOR($Resource.icons,'icons/commons/accept.png')}" rendered="{!r.instalment.Paid_To_School_On__c !=null}" 
																	title="Paid to School  by {!r.instalment.Paid_To_School_By__r.Name} on {!r.instalment.Paid_To_School_On__c}"
																	style="border: 0 none; padding-right: 5px; position: relative; top: 2px;" />
																	
																	<apex:image url="{!URLFOR($Resource.icons,'icons/commons/accept_disabled.png')}" rendered="{!r.instalment.Paid_To_School_On__c ==null}" 
																	title="Not Paid to School yet."
																	style="border: 0 none; padding-right: 5px; position: relative; top: 2px;" />
																	
																	
																	<apex:commandLink value="History" onClick="coursewin=dhtmlmodal.open('addInvoice', 'iframe', 'instalment_payment_history?id={!payment.id}', 'Payment History', 'width=600px,height=405px,resize=0,center=1,scrolling=1'); setCloseModal(); return false" 
																		rendered="{!$ObjectType.User.fields.InstalmentHistory__c.Accessible}" />
																	
																</div>
																
																<apex:inputCheckbox value="{!payment.selected__c}" styleClass="cb_{!r.instalment.id}" onclick="toggleSave('{!r.instalment.id}');" 
																rendered="{!ISBLANK(payment.Confirmed_By__c) && (ISNULL(payment.Paid_From_Deposit__c) || payment.Paid_From_Deposit__r.Deposit_Reconciliated__c)}"/>
																<apex:outputPanel rendered="{!AND(NOT(ISBLANK(payment.Confirmed_By__c)),ISNULL(payment.Booking_Closed_On__c),ISNULL(payment.Bank_Deposit__c))}">
																	<img src="{!URLFOR($Resource.assets,'images/Xgrey_15x15.png')}" class="deleteImage" onclick="if(confirm('Are you sure you want to delete the payment confirmation?')) unconfirmPayment('instalment', '{!payment.id}'); return false;" style="cursor: pointer;" />
																</apex:outputPanel>													
															</td>
															<td style="width:20%">
																<!-- <apex:outputpanel rendered="{!$Organization.Id='00DN0000000TtRPMA0'}">id=={!payment.id}<br/></apex:outputpanel> -->
																
																
																<div style="float:left">
																	<apex:outputText value="{0, number, currency}" >
																		<apex:param value="{!payment.Value__c}" />
																	</apex:outputText>
																</div>
																
																<apex:image url="{!URLFOR($Resource.icons,'icons/commons/error.png')}" rendered="{!AND(NOT(ISNULL(payment.Paid_From_Deposit__c)),NOT(payment.Paid_From_Deposit__r.Deposit_Reconciliated__c))}" 
																	title="Deposit Not Reconciliated."
																	style="border: 0 none; padding-left: 5px; position: relative; top: 2px;float:left" />
																
																
															</td>
														
															<td>
																
																<!-- <apex:outputText value="{!payment.Payment_Type__c}" style="display:block;" /> --> 
																<apex:selectList value="{!payment.Payment_Type__c}" size="1" onchange="changeDate('{!r.instalment.id}');" styleClass="payType" 
																	disabled="{!OR(LOWER(payment.Payment_Type__c)=='offshore', LOWER(payment.Payment_Type__c)='transferred from deposit', LOWER(payment.Payment_Type__c)='pds', LOWER(payment.Payment_Type__c)='pcs', LOWER(payment.Payment_Type__c)='School Credit', LOWER(payment.Payment_Type__c)='deposit',LOWER(payment.Payment_Type__c)='covered by agency',LOWER(payment.Payment_Type__c)='client scholarship', NOT(ISNULL(payment.Confirmed_Date__c)))}">
																	<apex:selectOptions value="{!depositListType}" />
																</apex:selectList>
																<span class="datetime dtStyle">
																	<apex:inputfield value="{!payment.Date_Paid__c}" styleclass="datefieldCSS" onChange="changeDate('{!r.instalment.id}');" rendered="{!ISNULL(payment.Confirmed_Date__c)}"/>
																	<apex:outputfield value="{!payment.Date_Paid__c}" styleclass="datefieldCSS" rendered="{!NOT(ISNULL(payment.Confirmed_Date__c))}"/>
																</span>
															</td>
														
															<td style="font-size: 0.9em;text-align: right;padding-right: 10px;">
																<apex:outputPanel rendered="{!NOT(ISBLANK(payment.Confirmed_By__c))}">
																	<apex:outputText value="{!payment.Confirmed_By__r.Name} ({!(payment.Confirmed_By_Agency__r.Name)}) on "  />
																	<br/>
																	<apex:outputfield value=" {!payment.Confirmed_Date__c}" />
																</apex:outputPanel>
																
																<apex:outputPanel rendered="{!NOT(ISBLANK(payment.Unconfirmed_By__c))}">
																	<apex:outputText value="cancelled(?) by {!payment.Unconfirmed_By__r.Name} on " styleClass="unconfirmed" />
																	<br/>
																	<span class="unconfirmed">
																		<apex:outputField value=" {!payment.Unconfirmed_Date__c}"  />
																	</span>
																</apex:outputPanel>
																
															</td>
														</tr>
													</apex:outputPanel>
												</apex:repeat>
												
												<tr class="sv_{!r.instalment.id}" style="{!IF(r.showSave, '', 'display:none;')}">
													<td colspan="4" style="text-align: center;">
														<apex:commandLink value="Save" action="{!confirmPayments2}" status="statusLoad" styleClass="agencyButton " rerender="resultSec">
															<apex:param value="{!r.instalment.id}" name="id" />
															<apex:param value="instalment" name="type" />
														</apex:commandLink>
														<apex:pageMessages />
													</td>
												</tr>										
											</table>
											
										</apex:outputpanel>
										
										<!-- Invoice -->
										<apex:outputpanel rendered="{!r.invoice!=null}">
											
											<table class="tb_payments">
												<apex:repeat value="{!r.invoice.client_course_instalment_payments__r}" var="payment">
													<apex:outputPanel layout="none" rendered="{!OR(selectedPaymentTypes=='all',selectedPaymentTypes==payment.Payment_Type__c,showAll)}" >
														<tr class="{!IF(ISBLANK(payment.Confirmed_By__c), '', 'confirmed')}">
															<td style="width: 15%;">
																<apex:inputCheckbox value="{!payment.selected__c}" styleClass="cb_{!r.invoice.id}" onclick="toggleSave('{!r.invoice.id}');" 
																rendered="{!ISBLANK(payment.Confirmed_By__c) && (ISNULL(payment.Paid_From_Deposit__c) || payment.Paid_From_Deposit__r.Deposit_Reconciliated__c)}"/>
																<apex:outputPanel rendered="{!AND(NOT(ISBLANK(payment.Confirmed_By__c)),ISNULL(payment.Booking_Closed_On__c),ISNULL(payment.Bank_Deposit__c))}">
																	<img src="{!URLFOR($Resource.assets,'images/Xgrey_15x15.png')}" class="deleteImage" onclick="if(confirm('Are you sure you want to delete the payment confirmation?')) unconfirmPayment( 'invoice', '{!payment.id}'); return false;" style="cursor: pointer;" />
																</apex:outputPanel>		
																
																<apex:commandLink value="History" onClick="coursewin=dhtmlmodal.open('addInvoice', 'iframe', 'instalment_payment_history?id={!payment.id}', 'Payment History', 'width=600px,height=405px,resize=0,center=1,scrolling=1'); setCloseModal(); return false" 
																		 rendered="{!$ObjectType.User.fields.InstalmentHistory__c.Accessible}" />
																													
															</td>
															<td width="20%">
																<!-- <apex:outputpanel rendered="{!$Organization.Id='00DN0000000TtRPMA0'}">id=={!payment.id}<br/></apex:outputpanel> -->
																
																<div style="float:left">
																	<apex:outputText value="{0, number, currency}" >
																		<apex:param value="{!payment.Value__c}" />
																	</apex:outputText>
																</div>
																
																<apex:image url="{!URLFOR($Resource.icons,'icons/commons/error.png')}" rendered="{!AND(NOT(ISNULL(payment.Paid_From_Deposit__c)),NOT(payment.Paid_From_Deposit__r.Deposit_Reconciliated__c))}" 
																	title="Deposit Not Reconciliated."
																	style="border: 0 none; padding-left: 5px; position: relative; top: 2px;float:left" />
																	
															</td>
														
															<td>
																<!-- <apex:outputText value="{!payment.Payment_Type__c}" style="display:block;" />  -->
																<apex:selectList value="{!payment.Payment_Type__c}" size="1" onchange="changeDate('{!r.invoice.id}');" styleClass="payType" 
																	disabled="{!OR(LOWER(payment.Payment_Type__c)=='offshore', LOWER(payment.Payment_Type__c)='transferred from deposit', LOWER(payment.Payment_Type__c)='pds', LOWER(payment.Payment_Type__c)='pcs', LOWER(payment.Payment_Type__c)='deposit', LOWER(payment.Payment_Type__c)='covered by agency', LOWER(payment.Payment_Type__c)='client scholarship', NOT(ISNULL(payment.Confirmed_Date__c)))}">
																	<apex:selectOptions value="{!depositListType}" />
																</apex:selectList>
																<span class="datetime dtStyle">
																	<apex:inputfield value="{!payment.Date_Paid__c}" styleclass="datefieldCSS" onChange="changeDate('{!r.invoice.id}');" rendered="{!ISNULL(payment.Confirmed_Date__c)}"/>
																	<apex:outputfield value="{!payment.Date_Paid__c}" styleclass="datefieldCSS" rendered="{!NOT(ISNULL(payment.Confirmed_Date__c))}"/>
																</span>
															</td>
															<td style="font-size: 0.9em;text-align: right;padding-right: 10px;">
																<apex:outputPanel rendered="{!NOT(ISBLANK(payment.Confirmed_By__c))}">
																	<apex:outputText value="{!payment.Confirmed_By__r.Name} ({!(payment.Confirmed_By_Agency__r.Name)}) on "  />
																	<br/>
																	<apex:outputfield value=" {!payment.Confirmed_Date__c}" />
																</apex:outputPanel>
																
																<apex:outputPanel rendered="{!NOT(ISBLANK(payment.Unconfirmed_By__c))}">
																	<apex:outputText value="cancelled(?) by {!payment.Unconfirmed_By__r.Name} on " styleClass="unconfirmed" />
																	<br/>
																	<span class="unconfirmed">
																		<apex:outputField value=" {!payment.Unconfirmed_Date__c}"  />
																	</span>
																</apex:outputPanel>
																
															</td>
														</tr>
													</apex:outputPanel>
												</apex:repeat>
												
												<tr class="sv_{!r.invoice.id}" style="{!IF(r.showSave, '', 'display:none;')}">
													<td colspan="4" style="text-align: center;">
														<apex:commandLink value="Save" action="{!confirmPayments2}" status="statusLoad" styleClass="agencyButton " rerender="resultSec">
															<apex:param value="{!r.invoice.id}" name="id" />
															<apex:param value="invoice" name="type" />
														</apex:commandLink>
														<apex:pageMessages />
													</td>
												</tr>										
											</table>
											 
										</apex:outputpanel>
										
										<!-- Product -->
										<apex:outputpanel rendered="{!r.product!=null}">
										
											<table class="tb_payments">
												<apex:repeat value="{!r.product.client_course_instalment_payments__r}" var="payment">
													<apex:outputPanel layout="none" rendered="{!OR(selectedPaymentTypes=='all',selectedPaymentTypes==payment.Payment_Type__c,showAll)}" >
														<tr class="{!IF(ISBLANK(payment.Confirmed_By__c), '', 'confirmed')}">
															<td style="width: 15%;">
																<apex:inputCheckbox value="{!payment.selected__c}" styleClass="cb_{!r.product.id}" onclick="toggleSave('{!r.product.id}');" 
																rendered="{!ISBLANK(payment.Confirmed_By__c) && (ISNULL(payment.Paid_From_Deposit__c) || payment.Paid_From_Deposit__r.Deposit_Reconciliated__c)}"/>
																<apex:outputPanel rendered="{!AND(NOT(ISBLANK(payment.Confirmed_By__c)),ISNULL(payment.Booking_Closed_On__c),ISNULL(payment.Bank_Deposit__c))}">
																	<img src="{!URLFOR($Resource.assets,'images/Xgrey_15x15.png')}" class="deleteImage" onclick="if(confirm('Are you sure you want to delete the payment confirmation?')) unconfirmPayment( 'product', '{!payment.id}'); return false;" style="cursor: pointer;" />
																</apex:outputPanel>			
																
																<apex:commandLink value="History" onClick="coursewin=dhtmlmodal.open('addInvoice', 'iframe', 'instalment_payment_history?id={!payment.id}', 'Payment History', 'width=600px,height=405px,resize=0,center=1,scrolling=1'); setCloseModal(); return false" 
																		 rendered="{!$ObjectType.User.fields.InstalmentHistory__c.Accessible}" />
																												
															</td>
															<td width="20%">
																<!-- <apex:outputpanel rendered="{!$Organization.Id='00DN0000000TtRPMA0'}">id=={!payment.id}<br/></apex:outputpanel> -->
																<div style="float:left">
																	<apex:outputText value="{0, number, currency}" >
																		<apex:param value="{!payment.Value__c}" />
																	</apex:outputText>
																</div>
																
																<apex:image url="{!URLFOR($Resource.icons,'icons/commons/error.png')}" rendered="{!AND(NOT(ISNULL(payment.Paid_From_Deposit__c)),NOT(payment.Paid_From_Deposit__r.Deposit_Reconciliated__c))}" 
																	title="Deposit Not Reconciliated."
																	style="border: 0 none; padding-left: 5px; position: relative; top: 2px;float:left" />
															</td>
															
															<td>
																<!-- <apex:outputText value="{!payment.Payment_Type__c}" style="display:block;" />  -->
																<apex:selectList value="{!payment.Payment_Type__c}" size="1" onchange="changeDate('{!r.product.id}');" styleClass="payType" 
																	disabled="{!OR(LOWER(payment.Payment_Type__c)=='offshore', LOWER(payment.Payment_Type__c)='transferred from deposit', LOWER(payment.Payment_Type__c)='pds', LOWER(payment.Payment_Type__c)='pcs', LOWER(payment.Payment_Type__c)='deposit', LOWER(payment.Payment_Type__c)='covered by agency', LOWER(payment.Payment_Type__c)='client scholarship', NOT(ISNULL(payment.Confirmed_Date__c)))}">
																	<apex:selectOptions value="{!depositListType}" />
																</apex:selectList>
																<span class="datetime dtStyle">
																	<apex:inputfield value="{!payment.Date_Paid__c}" styleclass="datefieldCSS" onChange="changeDate('{!r.product.id}');" rendered="{!ISNULL(payment.Confirmed_Date__c)}"/>
																	<apex:outputfield value="{!payment.Date_Paid__c}" styleclass="datefieldCSS" rendered="{!NOT(ISNULL(payment.Confirmed_Date__c))}"/>
																</span>
															</td>
															<td style="font-size: 0.9em;text-align: right;padding-right: 10px;">
																<apex:outputPanel rendered="{!NOT(ISBLANK(payment.Confirmed_By__c))}">
																	<apex:outputText value="{!payment.Confirmed_By__r.Name} ({!(payment.Confirmed_By_Agency__r.Name)}) on "  />
																	<br/>
																	<apex:outputfield value=" {!payment.Confirmed_Date__c}" />
																</apex:outputPanel>
																
																<apex:outputPanel rendered="{!NOT(ISBLANK(payment.Unconfirmed_By__c))}">
																	<apex:outputText value="cancelled(?) by {!payment.Unconfirmed_By__r.Name} on " styleClass="unconfirmed" />
																	<br/>
																	<span class="unconfirmed">
																		<apex:outputField value=" {!payment.Unconfirmed_Date__c}"  />
																	</span>
																</apex:outputPanel>
																
															</td>
														</tr>
													</apex:outputPanel>
												</apex:repeat>
												
												<tr class="sv_{!r.product.id}" style="{!IF(r.showSave, '', 'display:none;')}" >
													<td colspan="4" style="text-align: center;">
														<apex:commandLink value="Save" action="{!confirmPayments2}" status="statusLoad" styleClass="agencyButton " rerender="resultSec">
															<apex:param value="{!r.product.id}" name="id" />
															<apex:param value="product" name="type" />
														</apex:commandLink>
														<apex:pageMessages />
													</td>
												</tr>										
											</table>										
										
										</apex:outputpanel>
										
									</td>
								</tr>
								
								<tr>
									<td colspan="3" style="height: 10px; border-top:none; border-left:none; border-right:none;"> </td>
								</tr>
								
							</apex:repeat>
							</tbody>
							<!-- <apex:outputPanel rendered="{!instalments.size > 0}" layout="none">
								<tr>
									<td colspan="4" style="background-color: #ebebeb; color: #708090;">
									
										<div class="boxtotal" style="float:left; min-width: 80px;border: none;">
											<apex:outputText value="TOTAL: " styleClass="totalLabel" />
										</div>
									
										<apex:repeat value="{!mapTotals}" var="mt">
											<div class="boxtotal">										
												<div style="width:100%">
													<apex:outputText value="{0, number, currency}" styleClass="totalValue">
														<apex:param value="{!mapTotals[mt]}" />
													</apex:outputText>
												
													<apex:outputText value="{!mt}" />
												</div>										
											</div>
											
										</apex:repeat>
										<div class="boxtotal">
											<div style="width:100%">
												<apex:outputText value="{0, number, currency}" styleClass="totalValue">
													<apex:param value="{!totalDiscount}" />
												</apex:outputText>
												<apex:outputText value="Discount" />
											</div>
										</div>
									</td>
								</tr>
							</apex:outputPanel> -->
						
						</table>	
								
								
							<apex:repeat value="{!paymentTypeTotal}" var="pt">
								<div class="totalBox">
									<apex:outputText value="{!pt}" styleclass="totalBoxLabel" />
									<apex:outputText value="{0, number, currency}" styleClass="instalmentValue" >
										<apex:param value="{!paymentTypeTotal[pt]}" />
									</apex:outputText>
								</div>
							</apex:repeat>
							<div class="totalBox" style="float:left;">
								<apex:outputText value="Total Items:"  style="display: inline; font-weight: bold; margin-right: 5px;"/>
								<apex:outputText value="{!result.size}" styleClass="instalmentValue" />
							</div>
							
						</apex:outputpanel>	
					</apex:outputPanel>
				</div>				
			</div>	
			
		</apex:form>
	</td>
</tr>
</table>
	
	<script>
		
		jQuery(document).ready(function() {
			//jQuery('.dateFilter').attr('disabled', 'disabled');
			jQuery('.chosen').chosen();
			
		});	
		
	
		function setFocusOnLoad() {}
	
		function toggleSave(instalment){
			if(jQuery('.cb_'+instalment+':checked').length > 0)
				jQuery('.sv_'+instalment).show();
			else
				jQuery('.sv_'+instalment).hide();
		}
		
		function toggleShowAll(vl){
			if(vl=='all')
				jQuery('.optBoth').hide();
			else jQuery('.optBoth').show();
			
		}
		
		function changeDate(instalment){
			jQuery('.sv_'+instalment).show();
		}
		
		function enableDate(param){
			if(param != 'range' && param != 'unc')
				jQuery('.dateFilter').attr('disabled', 'disabled');
			else jQuery('.dateFilter').removeAttr('disabled');
		}
		
		jQuery('.payType > option').each(function() {
		    if(this.value == 'School Credit' || this.value == 'Deposit' || this.value == 'Covered by Agency' || this.value == 'Client Scholarship' || this.value == 'Offshore' || this.value == 'Transferred from Deposit'){
		    	jQuery(this).attr('style','color:red; text-decoration:line-through;');
		    }
		});
		
		function setCloseModal(){
			jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
			jQuery('.Close').unbind('click'); 
			jQuery('.Close').click(function() {closemodal();});
		}
		 
	</script>
	

</apex:page>