<apex:page controller="PaymentSchoolConsolidation" action="{!findPdsPfs}" sidebar="true" tabstyle="Finance__tab">
    <apex:include pageName="xStylePageV2" />
    <apex:include pageName="xCourseSearchStyle" />
    <!-- <apex:includeScript value="{!$Resource.Sticky}"/> -->
    <apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />    
    <apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />
    
    <apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.assets,'modalfiles/modal.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.assets,'modalfiles/modal.css')}" />
<style>
    
    
    .Close{
        display:none;
    }
    
    .divContent {
        border:  none;
        clear: both;
    }
    
    .tb_instalments {
        width: 100%;
        margin-bottom: 20px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 5px;
        border-spacing:0px;
        color: #808080;
        border: 1px solid grey;
    }
    
    
    .tb_invoice {
        width: 100%;
        margin-bottom: 10px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        //margin-top: 5px;
        border-spacing:0px;
        color: #808080;
        //border: 1px solid grey;
    }
    
    .tb_invoice tr th {
        background-color: #f1f1f1;
        padding: 5px;
        font-weight: bold;
        text-align: left;
        white-space: nowrap;
        color:#222;
    }
    
    .tb_instalments .courseInstalments thead tr td {
        background-color: #708090;
        color: white;
        font-weight: bold;  
        vertical-align: middle;
        padding: 3px 0 3px 10px;
    }
    
    .tb_invoice tbody tr:nth-child(even){
        background-color: #f5f5f5;
    }
    
    .tb_invoice tbody tr:nth-child(odd){
        background-color: #ffffff;
    }
    
    .tb_invoice tbody tr td {
        color: grey;
        padding: 5px;
    }
    
    
    .tb_instalments tr td {
        color: grey;
        padding: 5px;
    }
    
    .tb_instalments tr th {
        background-color: #e1e1e1;
        padding: 5px;
        font-weight: bold;
        text-align: left;
        white-space: nowrap;
        color:#222;
    }
    
    .smoothTh tr th{
        background-color: #f0ebeb;
        color: grey !important;
        font-style: italic;
        line-height: 4px;
        font-size: 11px;
    }
    
    .clientName {
        font-size: 15px;
    }
    
    .tb_instalments tr:nth-child(odd){
        background-color: #eee;
    }
    
    .tb_instalments tr:nth-child(even){
        background-color: #ffffff;
    }
    
    .tb_payments {
        width: 98%;
        margin: 0 auto;
        border: 1px solid #CCCCCC;
        border-spacing: 0;
        border-bottom: none;
    }
    
    .tb_payments tr {
        background-color: transparent !important;
    }
    .tb_payments tr td {
        padding: 1px;
        border-bottom: 1px solid lightgrey;
        line-height: 20px;
    }
    

    .confirmed td {
        font-style: italic;         
    }
    
    .deleteImage {
        position: relative;
        top: -2px;
        left: 3px;
    }

    .instalmentValue { font-size: 1.2em; color: black;}
    .dueDate { font-style: italic; color: grey; }
    
    .boxtotal{
        float: left;
        min-width: 130px;
        margin: 0px 10px;
        padding: 5px 10px;
        border: 1px solid #708090;
        font-weight: bold;
        font-size: 1.2em;
    }
    .unconfirmed { color: #FF4563; }
    .totalValue { margin-right: 20px; }
    
    .dateFormat {display: none;}
    
    .filterbox {
        display: block;
        float: left;
        margin-right:8px;
    }
    
    .filterbox select { width: 120px; }
    
    .filterbox span{
        font-style: italic;
        color: grey; 
    } 
    
    .filters {
        height: 35px;
        margin: 1em 0.5em 0.5em 0.5em;
        padding: 10px;
        display: block;         
        background-color: #F9F9F9;
    }
    
    .datetime {
        //font-weight: bold;
    }
    
    iframe .upload{
        max-height: 130px;
    }
    
    .redFont{
        color:#DD5A46 !Important;
    }
    
    .greenFont{
        color:#DD5A46 !Important;
    }
    
    .ownerName{
        display: block;
        font-style: initial;
        }
        
    .stickyClass #sticky{
        background: #ccc none repeat scroll 0 0;
        z-index: 100;
        border: 2px solid black;
        padding-top: 8px;
    }
    
    
    .statusButton{
         border-radius: 3px;
         color: #fff;
         font-weight: bold;
         text-align: center;  
         width: 65px;
         display: inherit;
         height: 23px;
         vertical-align: middle;
    }
    

    .CampusName{
        background: none repeat scroll 0 0 #999;
        color: white;
        font-weight: bold;
        padding: 5px;
        //text-indent:17px;
        margin-top: 1px;
    }
    
    .SchoolName{
        font-weight: bold;
        //margin-top: 5px;
        padding: 5px;
    }
    
    .chosen-container-single .chosen-single span, .chosen-container .chosen-results li {
         text-align: left !important;
    }
        
    .invoiceDetails{
        background-color: #e1e1e1; 
        color: #222; 
        font-weight: bold;
        padding: 8px; 
        text-align: left; 
        white-space: nowrap;
        font-size: 14px;
    }
    
    .invoiceTotal{
        background-color: #e1e1e1; 
        color: #222; 
        font-weight: bold;
        padding: 8px; 
        text-align: left; 
        white-space: nowrap;
    }
    
    .chosen-container {
        width:160px !important;
    }
    
   .requiredInput{
         height: 98%;
         left: -2px;
         width: 100%;
         border-left: 3px solid #CC0000;
     }

    .bPageBlock .requiredInput {
        height: 100%;
        position: static !important;
    }
    
    .GroupedInvoice{
        background: #04c96d none repeat scroll 0 0;
        font-size: 0.8em;
        line-height: 10px;
    }
    
    .PFS {
         background: none repeat scroll 0 0 orange;
    }
    
</style>

<script>
    function hideLoadRow(rowName){
        $('.'+rowName).unblock();
    }
    
    
    var sendInvoice = false;
    
    jQuery(function() { 
        jQuery( ".mainTabs" ).tabs({
          active: 2,
          activate: function (event, ui) {
              redirectTab(jQuery(".mainTabs ul>li a").eq(jQuery('.mainTabs').tabs('option', 'active')).attr("href"));
            }    
        });     
    });     
    
   
</script>
<table class="tbl_Details">
    <tr>                    
        <td class="sidesColumn">                    
            <c:menuFinance selectedItem="pdsPFS" />
        </td>
    
        <td class="middleColumn bodyColumn">    
<apex:form >
    
    <div class="mainTabs" style="background: inherit;">
        <div class="title" style="font-size:1.5em;">
            <span class="arrow-e" style="font-size: 1.5em;"></span>&nbsp;Pending Commission
        </div>
        <br/>
        <apex:outputpanel id="totalTabs">
            <div class="divTabs "><a href="payment_school_request_pds?gr={!selectedAgencyGroup}&ag={!selectedAgency}&sc={!selectedSchool}&ca={!selectedCampus}" onclick="showLoading('Loading');">Request Confirmation<span class="counterTab">{!totalRequestPDS}</span></a></div>
            <div class="divTabs "><a href="payment_school_invoice_pds?gr={!selectedAgencyGroup}&ag={!selectedAgency}&sc={!selectedSchool}&ca={!selectedCampus}" onclick="showLoading('Loading');">Send School Invoice<span class="counterTab">{!totalSendInvoice}</span></a></div>
            <div class="divTabs divTabSelected"><a href="payment_school_confirm_commission?gr={!selectedAgencyGroup}&ag={!selectedAgency}&sc={!selectedSchool}&ca={!selectedCampus}" onclick="showLoading('Loading');">Pending Commission<span class="counterTab">{!totalConfirm}</span></a> </div>
        </apex:outputpanel>
        <br/><br/><br/>
        <apex:outputpanel id="wholePage">
        <!-- Request Confirmation -->   
        <div id="main-3" style="font-size: 12px;">  
            <!-- Filters -->
            <apex:PageMessages id="filterMgs" />
            <div class="filters">           
                <apex:outputpanel layout="block" styleclass="filterbox">
                    <apex:selectList value="{!selectedAgencyGroup}" size="1" styleclass="chosen" style="width:150px;">
                        <apex:selectOptions value="{!agencyGroupOptions}" />
                        <apex:actionsupport event="onchange" action="{!changeAgencyGroup}" rerender="agencies" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>
                    </apex:selectList>
                    <apex:outputText value="Agency Group" style="display: block;" styleclass="filterLabel"/>                    
                </apex:outputpanel> 
                
                <apex:outputpanel layout="block" styleclass="filterbox" id="agencies">
                    <apex:selectList value="{!selectedAgency}" size="1" styleclass="chosen" style="width:150px;">
                        <apex:selectOptions value="{!agencyOptions}" />
                    </apex:selectList>
                    <apex:outputText value="Agency" style="display: block;" styleclass="filterLabel"/>                  
                </apex:outputpanel> 
                
                <apex:outputpanel layout="block" styleclass="filterbox">
                    <apex:selectList value="{!selectedSchool}" size="1" styleclass="chosen" style="width:150px;">
                        <apex:selectOptions value="{!schoolOptions}" />
                        <apex:actionsupport event="onchange" action="{!changeSchool}" rerender="campuses" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>
                    </apex:selectList>
                    <apex:outputText value="School" style="display: block;" styleclass="filterLabel"/>                  
                </apex:outputpanel>     
                    
                <apex:outputpanel layout="block" styleclass="filterbox" id="campuses">
                    <apex:selectList value="{!selectedCampus}" size="1" styleclass="chosen" style="width:150px;">
                        <apex:selectOptions value="{!campusOptions}" />
                    </apex:selectList>
                    <apex:outputText value="Campus" style="display: block;" styleclass="filterLabel"/>                  
                </apex:outputpanel> 
                
                <apex:outputpanel layout="block" styleclass="filterbox" >
                    <apex:selectList value="{!selectedType}" size="1" styleclass="chosen" style="width:150px;">
                        <apex:selectOptions value="{!typeOptions}" />
                    </apex:selectList>
                    <apex:outputText value="Type" style="display: block;" styleclass="filterLabel"/>                    
                </apex:outputpanel> 
                
                <apex:outputpanel layout="block" styleclass="filterbox" >
                    <apex:selectList value="{!selectedPaymentStatus}" size="1" styleclass="chosen" style="width:150px;" >
                        <apex:selectOptions value="{!typePaymentStatus}" />
                    </apex:selectList>
                    <apex:outputText value="Payment Status" style="display: block;" styleclass="filterLabel"/>                  
                </apex:outputpanel> 
                
                <apex:outputpanel layout="block" styleclass="filterbox" >
                    <apex:selectList value="{!selectedDateCriteria}" size="1" styleclass="chosen" style="width:150px;" onchange="enableDate(this.value);" >
                        <apex:selectOptions value="{!typeDateCriteria}" />
                    </apex:selectList>
                    <apex:outputText value="Date Criteria" style="display: block;" styleclass="filterLabel"/>                   
                </apex:outputpanel> 
                
                
                <div class="filterbox" >
                    <apex:inputField value="{!fromDate.Arrival_Date__c}" styleClass="dateFilter" style="height: 21px; position: relative; top: 1px; width: 80px;" />
                    <apex:outputText value="From Date" style="display: block;" /> 
                </div>
                <div class="filterbox" >
                    <apex:inputField value="{!toDate.Arrival_Date__c}" styleClass="dateFilter"  style="height: 21px; position: relative; top: 1px; width: 80px;" />
                    <apex:outputText value="To Date" style="display: block;" /> 
                </div>
                
                
                
                <!-- <apex:outputpanel layout="block" styleclass="filterbox">
                    <div>
                        <div class="SearchInput" style="margin: 3px 0;">
                            <apex:inputField value="{!fromDate.Arrival_Date__c}" />
                            <apex:outputText value="and" style="margin: 0 7px" styleClass="SearchLabel"/> 
                            <apex:inputField value="{!toDate.Arrival_Date__c}" />
                        </div>
                        <div class="SearchFooter" style="width:200px;text-align:center"><span class="SearchLabel">Instalment Due Date</span></div>
                    </div>      
                </apex:outputpanel> 
                
                <apex:outputpanel layout="block" styleclass="filterbox">
                    <div>
                        <div class="SearchInput" style="margin: 3px 0 3px 35px;">
                            <apex:inputField value="{!fromDate.Visa_Expiry_Date__c}" />
                            <apex:outputText value="and" style="margin: 0 7px" styleClass="SearchLabel"/> 
                            <apex:inputField value="{!toDate.Visa_Expiry_Date__c}" />
                        </div>
                        <div class="SearchFooter" style="width:200px;margin-left: 30px;text-align:center;"><span class="SearchLabel">Invoice Sent On</span></div>
                    </div>      
                </apex:outputpanel>  -->
                
                <div class="filterbox" style="margin-left: 10px; position: relative; top: 5px;">
                    <apex:commandLink value="Search" action="{!findPdsPfs}" status="statusLoad"  styleclass="agencyButton" rerender="filterMgs, filters,commission, totalTabs" onComplete="jQuery('.chosen').chosen();"/>
                </div>  
            </div>
            <!-- END -- Filters -->
            
            <div class="divContent">
                <apex:outputPanel id="commission" layout="block">
                    <!-- No Result -->
                    <apex:outputpanel rendered="{!ISNULL(commissionInstal) || commissionInstal.size<1}">
                        <div style="text-align:center; color:red; border:1px solid grey; padding:5px; margin-top: 6px;width: 100%;"> No result found. </div>
                    </apex:outputpanel>     
                    <!-- END -- No Result -->   
                    
                    <apex:outputpanel layout="block" rendered="{!NOT(ISNULL(commissionInstal)) && commissionInstal.size>0}">
                        
                        <apex:outputpanel layout="block" style="margin-top:10px;width: 100%;">
                            <!-- Totals -->
                            <div style="float: right; font-weight: bold; font-size: 1.0em;"> 
                                <div style="float: left;">Total</div> 
                                <apex:outputpanel layout="block" styleclass="counterBlack"  style="margin-left:5px;">
                                    {!totalConfirm}
                                </apex:outputpanel> 
                            </div>
                            <!-- END Totals -->
                        </apex:outputpanel>
                        <br/><br/>
                        <apex:pageMessages />
                        <apex:repeat value="{!commissionInstal}" var="comm" >
                        
                        <div class="SchoolName agencyBackground agencyFont">
                            <apex:commandLink id="link" style="float:left; margin-right:5px" onClick="jQuery('.btMax{!comm.schoolId}').toggle(); jQuery('.btMin{!comm.schoolId}').toggle(); jQuery('.commBlock-{!comm.schoolId}').toggle(); return false;" >
                                <apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" styleclass="btMax{!comm.schoolId}" style="display:none" />
                                <apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" styleclass="btMin{!comm.schoolId}" />      
                            </apex:commandLink>
                            
                            {!comm.schoolName}
                        </div>
                        
                        <apex:outputpanel layout="block"  styleclass="commBlock-{!comm.schoolId}">
                        
                            <apex:repeat value="{!comm.campus}" var="commCp" >
                            
                                <!-- Campus -->
                                <div class="CampusName">
                                    <apex:commandLink id="link" style="float:left; margin-right:5px;margin-left: 23px;" onClick="jQuery('.btMax{!commCp.campusId}').toggle(); jQuery('.btMin{!commCp.campusId}').toggle(); jQuery('.invBlock-{!commCp.campusId}').toggle(); return false;" >
                                        <apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" styleclass="btMax{!commCp.campusId}" style="display:none" />
                                        <apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" styleclass="btMin{!commCp.campusId}"  />       
                                    </apex:commandLink>
                                    {!commCp.campusName}
                                </div>
                                
                                
                                <apex:outputpanel rendered="{!commCp.gpinvoice.size>0}" >                                       
                                    <!-- Invoice (PDS) -->  
                                    <table class="tb_instalments">
                                        <tr>
                                            <th> </th>
                                            <th> Type </th>
                                            <th> Invoice Nº </th>
                                            <th> Total Commission </th>
                                            <th> Total Tax </th>
                                            <th> Total Invoice </th>
                                            <th> Due Date </th>
                                            <apex:outputpanel layout="none" rendered="{!selectedPaymentStatus=='unconfirmed'}"><th> Invoice Sent </th></apex:outputpanel>
                                            <apex:outputpanel layout="none" rendered="{!selectedPaymentStatus=='confirmed'}"><th> Confirmed On </th></apex:outputpanel>
                                            <th> Commission Received </th>
                                            <th> Actions </th>                          
                                        </tr>
                                        <apex:repeat value="{!commCp.gpinvoice}" var="i">
                                            <tr>
                                                <td style="width: 1.5%;vertical-align:middle;">
                                                </td>
                                                <td style="width: 6%;vertical-align:middle;">
                                                    <apex:outputpanel layout="block" styleclass="statusButton GroupedInvoice" >
                                                        Grouped Invoice
                                                    </apex:outputpanel>
                                                </td>
                                                
                                                <td style="width:10%;"> 
                                                    <apex:outputlink value="apex/payment_school_invoice?type=pdsInvoice&id={!i.invoiceId}&ag={!selectedAgencyGroup}" target="_blank">
                                                        {!i.invoiceName}
                                                    </apex:outputlink>                                              
                                                </td>
                                                
                                                
                                                <td style="width:8%;"> 
                                                    <apex:outputText value="{0, number, currency}">
                                                        <apex:param value="{!i.commission}" />
                                                    </apex:outputText>
                                                </td>
                                                
                                                <td style="width:8%;"> 
                                                    <apex:outputText value="{0, number, currency}">
                                                        <apex:param value="{!i.tax}" />
                                                    </apex:outputText>
                                                </td>
                                                
                                                <td style="width:8%;"> 
                                                    <apex:outputText value="{0, number, currency}">
                                                        <apex:param value="{!i.total}" />
                                                    </apex:outputText>
                                                </td>
                                                
                                                
                                                
                                                <td style="width:8%;"> 
                                                    <apex:outputpanel rendered="{!i.dueDate==TODAY()}">
                                                        <div style="font-weight: bold; color: black;">Today</div>
                                                    </apex:outputpanel>
                                                    
                                                    <apex:outputpanel rendered="{!i.dueDate!=TODAY()}" style="{!IF(NOT(ISNULL(i.dueDate)) && i.dueDate < TODAY(), 'color:red;font-weight:bold;', '')}">
                                                        <apex:outputText value="{0,date, dd/MM/yyyy}" >
                                                            <apex:param value="{!i.dueDate}" />
                                                        </apex:outputText>
                                                    </apex:outputpanel>                             
                                                </td>
                                                
                                                <!-- Unconfirmed -->
                                                <apex:outputpanel layout="none" rendered="{!selectedPaymentStatus=='unconfirmed'}">
                                                    <td style="width:10%;"> 
                                                        Sent on:&nbsp;
                                                        <apex:outputtext value="{!i.sentOn}" />
                                                        
                                                        <br/>
                                                        Sent by:&nbsp;
                                                        <apex:outputText value="{!i.sentBy}" />
                                                    </td>
                                                </apex:outputpanel>
                                                
                                                <!-- Confirmed -->
                                                <apex:outputpanel layout="none" rendered="{!selectedPaymentStatus=='confirmed'}">
                                                    <td style="width:10%;"> 
                                                        Confirmed on:&nbsp;
                                                        <apex:outputtext value="{!i.ConfirmedOn}" />
                                                        
                                                        <br/>
                                                        Confirmed by:&nbsp;
                                                        <apex:outputText value="{!i.ConfirmedBy}" />
                                                    </td>
                                                </apex:outputpanel>
                                                
                                                <td style="width:8%;">
                                                    <div class="requiredInput"><apex:inputfield value="{!i.paidDate.Expected_Travel_Date__c}" style="width: 100px;" rendered="{!selectedPaymentStatus=='unconfirmed'}"/></div>
                                                    <apex:outputfield value="{!i.paidDate.Expected_Travel_Date__c}" style="width: 100px;" rendered="{!selectedPaymentStatus=='confirmed'}"/>
                                                </td>
                                                                                            
                                                <td style="width:8%;"> 
                                                    <!-- <apex:selectList styleclass="actions chosen" onchange="pdsActions(this.value, '{!i.invoiceId}', '{!i.invoiceName}', '{!i.total}');" size="1" style="width: 150px;" >
                                                        <apex:selectOption itemValue="noAction" itemLabel="Actions"/>
                                                        <apex:selectOption itemValue="confirmInvoice" itemLabel="Confirm Invoice" disabled="{!NOT(ISNULL(Confirmed_Date__c))"/>
                                                        <apex:selectOption itemValue="cancelInvoice" itemLabel="Cancel Invoice"/>
                                                        <apex:selectOption itemValue="emailInvoice" itemLabel="Email Invoice"/>
                                                    </apex:selectList>  -->
                                                    
                                                    <apex:selectList styleclass="actions chosen" onchange="pdsActions(this.value, '{!comm.schoolId}', '{!commCp.campusId}', '{!i.invoiceId}', '{!i.invoiceName}', '{!i.total}', '{!selectedAgencyGroup}');" size="1" style="width: 150px;" >
                                                          <apex:selectOptions value="{!i.invOptions}" />
                                                    </apex:selectList> 
                                                </td>
                                                
                                            </tr>
                                        </apex:repeat>
                                    </table>
                                    <!-- END Invoice (PDS) -->          
                                </apex:outputpanel>
                                
                                <!-- Instalments PFS -->
                                <apex:outputpanel rendered="{!commCp.instalments.size>0}">
                                    <table class="tb_instalments invBlock-{!commCp.campusId}" >
                                        <tr>
                                            <th> </th>
                                            <th> Type </th>
                                            <th> Invoice Nº </th>
                                            <th> Total Commission </th>
                                            <th> Total Tax </th>
                                            <th> Total Keep Fee </th>
                                            <th> Total Invoice </th>
                                            <th> Due Date </th>
                                            <apex:outputpanel layout="none" rendered="{!selectedPaymentStatus=='unconfirmed'}"><th> Invoice Sent </th></apex:outputpanel>
                                            <apex:outputpanel layout="none" rendered="{!selectedPaymentStatus=='confirmed'}"><th> Confirmed On </th></apex:outputpanel>
                                            <th> Commission Received </th>
                                            <th> Actions </th>                      
                                        </tr>
                                        <apex:variable value="{!0}" var="trCounter" />
                                        <apex:repeat value="{!commCp.instalments}" var="i">
                                            <apex:actionRegion >
                                            <tr class="row-{!i.installment.id}">
                                                <td style="width: 1%;vertical-align:middle;">
                                                    <!-- <apex:inputfield value="{!i.installment.isSelected__c}" styleclass="selectAllRequest-{!commCp.campusId} instSelected [{!i.installment.id}]"/>
                                                 -->    
                                                    <div style="float:right">
                                                        <apex:commandLink status="statusLoad" onClick="toggle('rn-{!i.installment.id}'); toggle('{!$Component.buttonMax}'); toggle('{!$Component.buttonMin}'); return false;">
                                                            <apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" id="buttonMax" styleclass="arrow" />
                                                            <apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" id="buttonMin" styleclass="arrow" style="display:none"/>
                                                        </apex:commandLink>
                                                    </div>
                                                    
                                                </td>
                                                
                                                <td style="width: 6%;vertical-align:middle;">
                                                    <apex:outputpanel layout="block" styleclass="statusButton PFS">
                                                        PFS
                                                    </apex:outputpanel>
                                                </td>
                                                
                                                <td style="width:10%;"> 
                                                    <apex:outputlink value="apex/payment_school_invoice?type=payment&id={!i.installment.Id}&ag={!selectedAgencyGroup}" target="_blank">
                                                        <apex:outputtext value="{!i.installment.School_Invoice_Number__c}" rendered="{!NOT(i.installment.isInstalment_Amendment__c)}" />
                                                        <apex:outputtext value="{!i.installment.Original_Instalment__r.School_Invoice_Number__c}" rendered="{!i.installment.isInstalment_Amendment__c}" />
                                                    </apex:outputlink> 
                                                    
                                                    <apex:outputText value="Migrated" rendered="{!i.installment.isMigrated__c}" style="color:orangered; font-size:0.8em; display: block; font-weight: bold; line-height: 12px;" />
                                                </td>
                                                
                                                <td style="width:8%;"> 
                                                    <apex:outputText value="{0, number, currency}" rendered="{!i.installment.isInstalment_Amendment__c}">
                                                        <apex:param value="{!i.installment.Commission_Value__c + i.installment.Original_Instalment__r.Commission_Value__c  + i.installment.Commission_Adjustment__c }" />
                                                    </apex:outputText>
                                                    
                                                    <apex:outputText value="{0, number, currency}" rendered="{!NOT(i.installment.isInstalment_Amendment__c)}">
                                                        <apex:param value="{!i.installment.Commission_Value__c}" />
                                                    </apex:outputText>
                                                </td>
                                                
                                                <td style="width:8%;"> 
                                                    <apex:outputText value="{0, number, currency}" rendered="{!i.installment.isInstalment_Amendment__c}">
                                                        <apex:param value="{!i.installment.Commission_Tax_Value__c+ i.installment.Original_Instalment__r.Commission_Tax_Value__c + i.installment.Commission_Tax_Adjustment__c}" />
                                                    </apex:outputText>
                                                    
                                                    <apex:outputText value="{0, number, currency}" rendered="{!NOT(i.installment.isInstalment_Amendment__c)}">
                                                        <apex:param value="{!i.installment.Commission_Tax_Value__c}" />
                                                    </apex:outputText>
                                                </td>
                                                
                                                <td style="width:8%;"> 
                                                    <apex:outputText value="{0, number, currency}" rendered="{!i.installment.isInstalment_Amendment__c}">
                                                        <apex:param value="{!i.installment.Kepp_Fee__c + i.installment.Original_Instalment__r.Kepp_Fee__c}" />
                                                    </apex:outputText>
                                                    
                                                    
                                                    <apex:outputText value="{0, number, currency}" rendered="{!NOT(i.installment.isInstalment_Amendment__c)}">
                                                        <apex:param value="{!i.installment.Kepp_Fee__c}" />
                                                    </apex:outputText>
                                                </td>
                                                
                                                <td style="width:8%;"> 
                                                    <apex:outputText value="{0, number, currency}">
                                                        <apex:param value="{!i.totalPFSInvoice}" />
                                                    </apex:outputText>
                                                    
                                                    <apex:outputpanel layout="block" style="color:red;font-size:0.8em; font-style:italic;margin-top: 5px;" rendered="{!i.installment.Tuition_Value__c < 0}">
                                                        <apex:outputText value="{0, number, currency}">
                                                            <apex:param value="{!ABS(i.installment.Tuition_Value__c)}" />
                                                        </apex:outputText>
                                                        
                                                        of tuition overpayment
                                                    
                                                    </apex:outputpanel>
                                                </td>
                                                
                                                
                                                <td style="width:8%;"> 
                                                    <apex:outputpanel rendered="{!i.installment.Commission_Due_Date__c==TODAY()}">
                                                        <div style="font-weight: bold; color: black;">Today</div>
                                                    </apex:outputpanel>
                                                    
                                                    <apex:outputpanel rendered="{!i.installment.Commission_Due_Date__c!=TODAY()}" style="{!IF(NOT(ISNULL(i.installment.Commission_Due_Date__c)) && i.installment.Commission_Due_Date__c < TODAY(), 'color:red;font-weight:bold;', '')}">
                                                        <apex:outputText value="{0,date, dd/MM/yyyy}" >
                                                            <apex:param value="{!i.installment.Commission_Due_Date__c}" />
                                                        </apex:outputText>
                                                    </apex:outputpanel>
                                                </td>
                                                
                                                <!-- Unconfirmed -->
                                                <apex:outputpanel layout="none" rendered="{!selectedPaymentStatus=='unconfirmed'}">
                                                    <td style="width:10%;"> 
                                                        Sent on:&nbsp;
                                                        <apex:outputfield value="{!i.installment.Sent_Email_Receipt_On__c}" rendered="{!NOT(ISNULL(i.installment.Sent_Email_Receipt_On__c))}"/>
                                                        <apex:outputpanel rendered="{!ISNULL(i.installment.Sent_Email_Receipt_On__c)}" style="width:100%; text-align:center;">
                                                            -
                                                        </apex:outputpanel>
                                                        <br/>
                                                        Sent by:&nbsp;
                                                        <apex:outputfield value="{!i.installment.Sent_Email_Receipt_By__r.Name}" rendered="{!NOT(ISNULL(i.installment.Sent_Email_Receipt_By__c))}"/>
                                                        <apex:outputpanel rendered="{!ISNULL(i.installment.Sent_Email_Receipt_By__c)}" style="width:100%; text-align:center;">
                                                            -
                                                        </apex:outputpanel>                         
                                                    </td>
                                                </apex:outputpanel>
                                                
                                                <!-- Confirmed -->
                                                <apex:outputpanel layout="none" rendered="{!selectedPaymentStatus=='confirmed'}">
                                                    <td style="width:10%;"> 
                                                        Confirmed on:&nbsp;
                                                        <apex:outputfield value="{!i.installment.Commission_Confirmed_On__c}" />
                                                        <br/>
                                                        Confirmed by:&nbsp;
                                                        <apex:outputfield value="{!i.installment.Commission_Confirmed_By__r.Name}" />
                                                        
                                                        
                                                        <apex:outputpanel layout="block" style="color:red;font-size: 0.9em; font-style: italic;" rendered="{!i.installment.Commission_Not_Claimable__c}">
                                                            Commission not claimed
                                                        </apex:outputpanel>
                                                        
                                                    </td>
                                                </apex:outputpanel>
                                                
                                                <td style="width:8%;">
                                                    <div class="requiredInput"><apex:inputfield value="{!i.installment.Commission_Paid_Date__c}" style="width: 100px;" rendered="{!selectedPaymentStatus=='unconfirmed'}"/></div>
                                                    <apex:outputfield value="{!i.installment.Commission_Paid_Date__c}" style="width: 100px;" rendered="{!selectedPaymentStatus=='confirmed'}"/>
                                                </td>
                                                
                                                <td style="width:8%;vertical-align:middle;">
                                                
                                                    <!-- <apex:commandlink value="Confirm" action="{!confirmCommission}" onClick="if(!confirm('Are you sure you want to confirm the value of {!i.installment.Commission_Tax_Value__c + i.installment.Commission_Value__c}? ')) 
                                                            return false;" styleclass="agencyButton" status="statusLoad" rerender="totalTabs,commission">                                                           
                                                            <apex:param name="type" value="instalment" />
                                                            <apex:param name="id" value="{!i.installment.Id}" />
                                                    </apex:commandlink> -->
                                                    
                                                    <apex:selectList styleclass="actions chosen" onchange="pfsActions(this.value, '{!comm.schoolId}', '{!commCp.campusId}', '{!i.installment.id}', '{!i.installment.Name}', '{!i.totalPFSInvoice}', '{!i.installment.Client_Document__c}', '{!selectedAgencyGroup}');" size="1" style="width: 150px;" >
                                                          <apex:selectOptions value="{!i.instOptions}" />
                                                    </apex:selectList> 
                                                </td>                                   
                                            </tr>
                                            <tr id="rn-{!i.installment.id}" style="display:none;" class="{!IF(mod(trCounter,2)=0, 'tableInstalEven', 'tableInstalOdd')}">
                                                <td colspan="12" style="padding: 10px;">
                                                    
                                                    <div class="tabsClient" style="background: inherit;">
                                                        <ul>                                        
                                                            <apex:outputpanel layout="none" rendered="{!i.listNotes.size>0}"><li><a href="#tabs-1">Notes</a></li></apex:outputpanel>
                                                            <apex:outputpanel layout="none" rendered="{!i.listActivities.size>0}"><li><a href="#tabs-2">Instalment Activities</a></li></apex:outputpanel>               
                                                        </ul>                   
                                                                                                                
                                                        <!-- Notes -->
                                                        <div id="tabs-1">
                                                            
                                                            <apex:outputpanel rendered="{!i.listNotes.size>0}">
                                                            
                                                                <table style="width:99.9%;border-spacing:0;border: 1px solid #c1c1c1;" class="feesInstall">
                                                                    <thead>
                                                                        <tr>
                                                                            <td> Subject </td>
                                                                            <td> Description </td>
                                                                            <td> Note Details </td>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <apex:repeat value="{!i.listNotes}" var="n">
                                                                            <tr>
                                                                                <td style="width:20%">
                                                                                    <apex:commandLink value="{!n.Subject__c}" onclick="editTask('{!n.id}', 'instalment'); return false;" />
                                                                                </td>
                                                                                
                                                                                <td style="width:55%">
                                                                                    <apex:outputText value="{!LEFT(n.Comments__c,250)}" styleClass="mini" title="{!n.Comments__c}" escape="false" />
                                                                                    <apex:outputText value="..." rendered="{!LEN(n.Comments__c) > 250}" styleClass="mini" title="{!n.Comments__c}" />
                                                                                </td>
                                                                                
                                                                                <td style="width:25%;">
                                                                                    <apex:outputLabel value="Created by: " style="font-weight:bold;" /> <apex:outputLabel value="{!n.CreatedBy.Name}" />
                                                                                    <apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
                                                                                    <span style="color:grey; font-size:0.8em;">
                                                                                        <apex:outputField value="{!n.createdDate}" />
                                                                                    </span><br/>
                                                                                
                                                                                    <apex:outputLabel value="Last modified: " style="font-weight:bold;" /> <apex:outputLabel value="{!n.LastModifiedBy.Name}" />
                                                                                    <apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
                                                                                    <span style="color:grey; font-size:0.8em;">
                                                                                        <apex:outputField value="{!n.LastModifiedDate}" />
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                        </apex:repeat>
                                                                    </tbody>
                                                                </table>
                                                            </apex:outputpanel>
                                                            
                                                        </div>
                                                        <!-- END -- Notes -->
                                                                                            
                                                        <!-- Instalment Activities -->
                                                        <div id="tabs-2">
                                                            <apex:outputpanel rendered="{!i.listActivities.size<1}" >
                                                                <div style="text-align: center; color: red; border: 1px solid grey; margin-top: 6px; width: 100%;">  No result found. </div>
                                                            </apex:outputpanel>
                                                            
                                                            <apex:outputpanel rendered="{!i.listActivities.size>0}">
                                                            
                                                                <table style="width:99.9%;border-spacing:0;border: 1px solid #c1c1c1;" class="feesInstall">
                                                                    <thead>
                                                                        <tr>
                                                                            <td>To</td>
                                                                            <td>From</td>
                                                                            <td>Date</td>
                                                                            <td>Type </td>
                                                                            <td>Subject</td>
                                                                            <!-- <td>Status </td> -->
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <apex:repeat value="{!i.listActivities}" var="a">
                                                                            <tr>
                                                                                <td><apex:outputtext value="{!a.acTo}" /></td>
                                                                                <td><apex:outputtext value="{!a.acFrom}" /></td>                                                        
                                                                                <td><apex:outputfield value="{!a.acDate.Lead_Accepted_On__c}" /></td>
                                                                                <td style="font-weight:bold;"><apex:outputtext value="{!a.acType}" /></td>
                                                                                <td><apex:outputtext value="{!a.acSubject}" /></td>
                                                                                <!-- <td><apex:outputtext value="{!a.acStatus}" /></td> -->
                                                                            </tr>
                                                                        </apex:repeat>
                                                                    </tbody>
                                                                </table>
                                                            </apex:outputpanel>
                                                        </div>
                                                        <!-- END -- Instalment Activities -->
                                                        
                                                    </div>
                                                    </td>
                                                </tr>
                                                <apex:variable value="{!trCounter+1}" var="trCounter" />
                                            </apex:actionRegion>
                                        </apex:repeat>
                                        </table>    
                                    </apex:outputpanel>
                                <!-- END -- Instalments PFS -->
                                </apex:repeat>
                                <!-- END -- Campus -->
                            </apex:outputpanel>
                        </apex:repeat>
                        <script>
                             jQuery(function() {
                                jQuery('.tabsClient').tabs();
                            });
                        </script>
                    </apex:outputpanel>         
                </apex:outputPanel>
            </div>
        </div>
    </apex:outputpanel>
</div>


<apex:actionFunction name="refresh" action="{!findPdsPfs}" status="statusLoad" rerender="totalTabs,wholePage" onComplete="jQuery('.chosen').chosen();"/>

<apex:actionFunction name="redirectTab" action="{!redirectTab}" status="statusLoad" rerender="">
    <apex:param name="tab" value="" />
</apex:actionFunction>

<apex:actionFunction name="confirmInvoice" action="{!confirmCommission}" status="statusLoad" rerender="totalTabs,wholePage" onComplete="jQuery('.chosen').chosen();">
    <apex:param name="type" value="" />
    <apex:param name="school" value="" />
    <apex:param name="campus" value="" />
    <apex:param name="id" value="" />
</apex:actionFunction>

<apex:actionFunction name="cancelInvoice" action="{!cancelInvoice}" status="statusLoad" rerender="totalTabs,wholePage" onComplete="jQuery('.chosen').chosen();">
    <apex:param name="id" value="" />
    <apex:param name="name" value="" />
</apex:actionFunction>


<apex:actionFunction name="confirmPFS" action="{!confirmCommission}" status="statusLoad" rerender="totalTabs,wholePage" onComplete="jQuery('.chosen').chosen();">
    <apex:param name="type" value="" />
    <apex:param name="school" value="" />
    <apex:param name="campus" value="" />
    <apex:param name="id" value="" />
</apex:actionFunction>


<apex:actionFunction name="pfsNotClaim" action="{!notClaimCommission}" status="statusLoad" rerender="totalTabs,wholePage" onComplete="refresh();">
    <apex:param name="id" value="" />
</apex:actionFunction>


<apex:actionFunction name="cancelConfirmationPfs" action="{!unconfirmPFS}" status="statusLoad" rerender="totalTabs,wholePage" onComplete="jQuery('.chosen').chosen();">
    <apex:param name="id" value="" />
</apex:actionFunction>


<apex:actionFunction name="cancelConfirmationPDS" action="{!unconfirmPDS}" status="statusLoad" rerender="totalTabs,wholePage" onComplete="jQuery('.chosen').chosen();">
    <apex:param name="id" value="" />
</apex:actionFunction>






</apex:form>

</td>
</tr>
</table>

<script>

    jQuery(document).ready(function() {
        jQuery('.dateFilter').attr('disabled', 'disabled');
        jQuery('.chosen').chosen();
        
    }); 
    
    function enableDate(param){
        if(param == 'none')
            jQuery('.dateFilter').attr('disabled', 'disabled');
        else jQuery('.dateFilter').removeAttr('disabled');
    }

    function toggle(popUpDiv) {
        var el = document.getElementById(popUpDiv);
        if ( el.style.display == 'none' ) { el.style.display = '';}
        else {el.style.display = 'none';}
        return false;
    }
    
    
    function pdsActions(value, schoolId, campusId, invoiceId, invoiceName, invoiceValue, selectedGroup){
        
        if(value=='confirmInvoice'){
            actionNoAction();
            if(confirm('Are you sure you want to CONFIRM the value of ' + invoiceValue + '?')){
                confirmInvoice('Invoice', schoolId, campusId, invoiceId);
            }
        }
        
        else if(value=='cancelInvoice'){    
            actionNoAction();       
            if(confirm("All clients in this Invoice will go back to the previous step - 'Send School Invoice'. \nAre you sure you want to Cancel Invoice?")){
                cancelInvoice(invoiceId, invoiceName);
            }
        }
        
        else if(value=='emailInvoice'){     
            actionNoAction();   
            sendMassInvoiceMail(invoiceId, selectedGroup);
        }
        
        else if(value=='unconfirmInvoice'){ 
            actionNoAction();
            if(confirm('Are you sure you want to UNCONFIRM this grouped invoice?')){        
                cancelConfirmationPDS(invoiceId);
            }
        }
    }
    
    
    function pfsActions(value, schoolId, campusId, invoiceId, invoiceName, invoiceValue, docId, selectedGroup){
        
        if(value=='confirmInvoice'){
            actionNoAction();
            if(confirm('Are you sure you want to confirm the value of ' + invoiceValue + '?')){
                confirmPFS('instalment', schoolId, campusId, invoiceId);
            }
        }
        
        else if(value=='noclaim'){          
            actionNoAction();
            if(confirm('Are you sure there is no commission claim for this instalment? This request will be closed if you proceed.')){
                pfsNotClaim(invoiceId);
            }
        }
        
        else if(value=='emailInvoice'){ 
            actionNoAction();       
            pfsSendEmail(invoiceId, docId, selectedGroup);
        }
        
        else if(value=='cancelConfirmation'){   
            actionNoAction();
            if(confirm('Are you sure you want to UNCONFIRM this invoice?')){        
                cancelConfirmationPfs(invoiceId);
            }
        }
    }
        
    
    function actionNoAction(){
        jQuery('.actions').val('noAction');
        jQuery(".actions").trigger("chosen:updated");
    }
    
    
    function sendMassInvoiceMail(invoiceId, selectedGroup){
       modalWind = dhtmlmodal.open('sendEmail', 'iframe', 'payment_school_email?visits=false&type=sendInvoice&invoice='+invoiceId+'&ag='+selectedGroup, 'Send Invoice', 'width=800px,height=800px,resize=1,center=1,scrolling=0');
       setCloseModal();
    }   
    
    
    function pfsSendEmail(instId, docId, selectedGroup){
       modalWind = dhtmlmodal.open('sendEmail', 'iframe', 'payment_school_email?visits=false&id='+instId+'&doc='+docId+'&type=payment&ag='+selectedGroup, 'Send Email - School Payment', 'width=800px,height=800px,resize=1,center=1,scrolling=0');
       setCloseModal();
    } 
    
    function setCloseModal(){
        jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
        jQuery('.Close').unbind('click'); 
        jQuery('.Close').click(function() {closemodal();});
    }
    
    function closemodal(){
        jQuery('#interVeil').css('display','none'); 
        modalWind.close();
    }
        
    function UpdateOpener(){
        jQuery('#interVeil').css('display','none'); 
        modalWind.close();
        refresh();
    }
     
    

</script>

<c:limits id="pbLimits"/>
</apex:page>