<apex:page controller="PaymentSchoolConsolidation" action="{!findRequestPDS}" sidebar="true" tabstyle="Finance__tab">

	<apex:include pageName="xStylePageV2" />
	<apex:include pageName="xCourseSearchStyle" />
	<!-- <apex:includeScript value="{!$Resource.Sticky}"/> -->
	<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />	
	<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />
	
	<apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}"/>
	<apex:includeScript value="{!URLFOR($Resource.assets,'modalfiles/modal.js')}" />
	<apex:stylesheet value="{!URLFOR($Resource.assets,'modalfiles/modal.css')}" />
	
<style>
	
	
	
	.Close{
		display:none;
	}
	
	.divContent {
		border:  none;
		clear: both;
	}
	
	.tb_instalments {
		width: 100%;
		margin-bottom: 20px !important;
	    margin-left: auto !important;
	    margin-right: auto !important;
	    margin-top: 5px;
		border-spacing:0px;
		color: #808080;
		border: 1px solid grey;
	}
	
 	.tb_instalments .courseInstalments thead tr td {
		background-color: #708090;
		color: white;
    	font-weight: bold;	
    	vertical-align: middle;
    	padding: 3px 0 3px 10px;
	}
		
	.tb_instalments tr td {
		color: grey;
		padding: 5px;
	}
	
	.tb_instalments tr th {
		background-color: #e1e1e1;
		padding: 5px;
		font-weight: bold;
	    text-align: left;
	    white-space: nowrap;
	    color:#222;
	}
	
	.smoothTh tr th{
		background-color: #f0ebeb;
	    color: grey !important;
	    font-style: italic;
	    line-height: 4px;
	    font-size: 11px;
	}
	
	.clientName {
		font-size: 15px;
	}
	
	/* .tb_instalments tr:nth-child(odd){
		background-color: #eee;
	}
	
	.tb_instalments tr:nth-child(even){
		background-color: #ffffff;
	}
	 */
	.tb_payments {
		width: 98%;
		margin: 0 auto;
		border: 1px solid #CCCCCC;
		border-spacing: 0;
		border-bottom: none;
	}
	
	.tb_payments tr {
		background-color: transparent !important;
	}
	.tb_payments tr td {
		padding: 1px;
		border-bottom: 1px solid lightgrey;
		line-height: 20px;
	}
	
	
	.tb_payments .messageTable tr td {
		border-bottom: 0px !important; 
	}

	.confirmed td {
		font-style: italic;			
	}
	
	.deleteImage {
		position: relative;
		top: -2px;
		left: 3px;
	}

	.instalmentValue { font-size: 1.2em; color: black;}
	.dueDate { font-style: italic; color: grey; }
	
	.boxtotal{
		float: left;
		min-width: 130px;
		margin: 0px 10px;
		padding: 5px 10px;
		border: 1px solid #708090;
		font-weight: bold;
		font-size: 1.2em;
	}
	.unconfirmed { color: #FF4563; }
	.totalValue { margin-right: 20px; }
	
	.dateFormat {display: none;}
	
	.filterbox {
		display: block;
		float: left;
		margin-right:8px;
	}
	
	.filterbox select { width: 120px; }
	
	.filterbox span{
		font-style: italic;
		color: grey; 
	} 
	
	.filters {
		height: 35px;
		margin: 1em 0.5em 0.5em 0.5em;
		padding: 10px;
		display: block;			
		background-color: #F9F9F9;
	}
	
	.datetime {
		//font-weight: bold;
	}
	
	iframe .upload{
	    max-height: 130px;
	}
	
	.redFont{
		color:#DD5A46 !Important;
	}
	
	.greenFont{
		color:#DD5A46 !Important;
	}
	
	.ownerName{
	    display: block;
	    font-style: initial;
	}
 		
	.stickyClass #sticky{
		background: #ccc none repeat scroll 0 0;
		z-index: 100;
		border: 2px solid black;
		padding-top: 8px;
	}
		
	.statusButton{
	     border-radius: 3px;
	     color: #fff;
	     font-weight: bold;
	     text-align: center;  
	     width: 65px;
	     display: inherit;
	     height: 23px;
	     vertical-align: middle;
	}
	
	.CampusName{
		background: none repeat scroll 0 0 #999;
	    color: white;
	    font-weight: bold;
	    padding: 5px;
	    //text-indent:17px;
	    margin-top: 1px;
    }
    
    .SchoolName{
	    font-weight: bold;
	    //margin-top: 5px;
	    padding: 5px;
    }
    
    .chosen-container-single .chosen-single span, .chosen-container .chosen-results li {
    	 text-align: left !important;
    }     
    
    .chosen-container {
		width:160px !important;
	}
	
	.messageText{
		text-align: left;
	}
	
	.tableInstalOdd{
	    background-color: #f9f9f9 !important;	  
	}

	.tableInstalEven{
	    background-color: #EEE !important;
	}
	
	.PDS{
         background: none repeat scroll 0 0 #0792D5;
    }
    
       
    .PFS {
         background: none repeat scroll 0 0 orange;
    }	
    
    
</style>

<script>
	function hideLoadRow(rowName){
	 	$('.'+rowName).unblock();
	}
	

</script>


<table class="tbl_Details">
	<tr>					
		<td class="sidesColumn">					
			<c:menuFinance selectedItem="pdsPFS" />
		</td>
	
		<td class="middleColumn bodyColumn">	
<apex:form >
	
	<div class="mainTabs" style="background: inherit;">
	
		<div class="title" style="font-size:1.5em;">
			<span class="arrow-e" style="font-size: 1.5em;"></span>&nbsp;Confirm Commission
		</div>
		<br/>
		
		<apex:outputpanel id="totalTabs">
			<div onclick="showLoading('Loading');window.location.href ='payment_school_request_pds?gr={!selectedAgencyGroup}&ag={!selectedAgency}&sc={!selectedSchool}&ca={!selectedCampus}'" class="divTabs divTabSelected">Request Confirmation <span class="counterTab">{!totalRequestPDS}</span></div>
			<div onclick="showLoading('Loading');window.location.href ='payment_school_invoice_pds?gr={!selectedAgencyGroup}&ag={!selectedAgency}&sc={!selectedSchool}&ca={!selectedCampus}'" class="divTabs ">Send School Invoice <span class="counterTab">{!totalSendInvoice}</span></div> 
			<div onclick="showLoading('Loading');window.location.href ='payment_school_confirm_commission?gr={!selectedAgencyGroup}&ag={!selectedAgency}&sc={!selectedSchool}&ca={!selectedCampus}'" class="divTabs">Pending Commission <span class="counterTab">{!totalConfirm}</span></div> 
		</apex:outputpanel>	
		
		
		<!-- <div class="divTabs divTabSelected"><a href="payment_school_request_pds" onclick="showLoading('Loading');">Confirm Commission<span class="counterTab">{!totalRequestPDS}</span></a></div>
		<div class="divTabs "><a href="payment_school_invoice_pds" onclick="showLoading('Loading');">Send Invoice</a></div>
		<div class="divTabs"><a href="payment_school_confirm_commission" onclick="showLoading('Loading');">Receive Commission<span class="counterTab">{!totalConfirm}</span></a> </div> -->
		<br/><br/><br/>
		<apex:outputpanel id="wholePage">
		<!-- Request Confirmation -->	
		<div id="main-1" style="font-size: 12px;">	
			<!-- Filters -->
			<div class="filters">	
				<apex:outputpanel layout="block" styleclass="filterbox">
					<apex:selectList value="{!selectedAgencyGroup}" size="1" styleclass="chosen" style="width:150px;">
						<apex:selectOptions value="{!agencyGroupOptions}" />
						<apex:actionsupport event="onchange" action="{!changeAgencyGroup}" rerender="agencies" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>
					</apex:selectList>
					<apex:outputText value="Agency Group" style="display: block;" styleclass="filterLabel"/>					
				</apex:outputpanel>	
				
				<apex:outputpanel layout="block" styleclass="filterbox" id="agencies">
					<apex:selectList value="{!selectedAgency}" size="1" styleclass="chosen" style="width:150px;">
						<apex:selectOptions value="{!agencyOptions}" />
					</apex:selectList>
					<apex:outputText value="Agency" style="display: block;" styleclass="filterLabel"/>					
				</apex:outputpanel>	
				
				<apex:outputpanel layout="block" styleclass="filterbox">
					<apex:selectList value="{!selectedSchool}" size="1" styleclass="chosen" style="width:150px;">
						<apex:selectOptions value="{!schoolOptions}" />
						<apex:actionsupport event="onchange" action="{!changeSchool}" rerender="campuses" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>
					</apex:selectList>
					<apex:outputText value="School" style="display: block;" styleclass="filterLabel"/>					
				</apex:outputpanel>		
					
				<apex:outputpanel layout="block" styleclass="filterbox" id="campuses">
					<apex:selectList value="{!selectedCampus}" size="1" styleclass="chosen" style="width:150px;">
						<apex:selectOptions value="{!campusOptions}" />
					</apex:selectList>
					<apex:outputText value="Campus" style="display: block;" styleclass="filterLabel"/>					
				</apex:outputpanel>	
				
				
				<div class="filterbox" >
					<apex:inputField value="{!fromDate.BirthDate}" styleClass="dateFilter" style="height: 21px; position: relative; top: 1px; width: 80px;" />
					<apex:outputText value="Instalment" style="display: block; margin-left: 25px;" /> 
				</div>
				<div class="filterbox" >
					<apex:inputField value="{!toDate.BirthDate}" styleClass="dateFilter"  style="height: 21px; position: relative; top: 1px; width: 80px;" />
					<apex:outputText value="Due Date" style="display: block; margin-left: -4px;" /> 
				</div>
				
				<div class="filterbox" style="margin-left: 10px; position: relative; top: 5px;">
					<apex:commandLink value="Search" action="{!findRequestPDS}" status="statusLoad"  styleclass="agencyButton" rerender="requestConfirm, totalTabs" oncomplete="jQuery('.chosen').chosen();jQuery('.tabsClient').tabs();"/>
				</div>
				
			</div>
			<!-- END -- Filters -->
			
			<div class="divContent">
				<apex:outputPanel id="requestConfirm" layout="block">
					<!-- No Result -->
					<apex:outputpanel rendered="{!ISNULL(toRequestInstal) || toRequestInstal.size<1}">
						<div style="text-align:center; color:red; border:1px solid grey; padding:5px; margin-top: 6px;width: 100%;"> No result found. </div>
					</apex:outputpanel>		
					<!-- END -- No Result -->	
					
					<apex:outputpanel layout="block" rendered="{!NOT(ISNULL(toRequestInstal)) && toRequestInstal.size>0}">
					
						<apex:outputpanel layout="block" style="margin-top:10px;width: 100%;">
							<!-- Totals -->
							<div style="float: right; font-weight: bold; font-size: 1.0em;"> 
								<div style="float: left;">Total</div> 
								<apex:outputpanel layout="block" styleclass="counterBlack"  style="margin-left:5px;">
									{!totalRequestPDS}
								</apex:outputpanel> 
							</div>
							<!-- END Totals -->
						</apex:outputpanel>
						<br/>
						<br/>
						
						<apex:repeat value="{!toRequestInstal}" var="reqSc" >
						
						<div class="SchoolName agencyBackground agencyFont">
							<apex:commandLink id="link" style="float:left; margin-right:5px" onClick="jQuery('.btMax{!reqSc.schoolId}').toggle(); jQuery('.btMin{!reqSc.schoolId}').toggle(); jQuery('.reqBlock-{!reqSc.schoolId}').toggle(); return false;" >
								<apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" styleclass="btMax{!reqSc.schoolId}" style="display:none" />
								<apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" styleclass="btMin{!reqSc.schoolId}" />		
							</apex:commandLink>
							
							{!reqSc.schoolName}
							
							
						</div>
						
						<apex:outputpanel layout="block" styleclass="reqBlock-{!reqSc.schoolId}">
						
							<apex:repeat value="{!reqSc.campus}" var="reqCp" >
							
								<!-- Campus -->
								<div class="CampusName">
									<apex:commandLink id="link" style="float:left; margin-right:5px;margin-left: 23px;" onClick="jQuery('.btMax{!reqCp.campusId}').toggle(); jQuery('.btMin{!reqCp.campusId}').toggle(); jQuery('.reqBlock-{!reqCp.campusId}').toggle(); return false;" >
										<apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" styleclass="btMax{!reqCp.campusId}" style="display:none" />
										<apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" styleclass="btMin{!reqCp.campusId}"  />		
									</apex:commandLink>
									{!reqCp.campusName}
									
									
								</div>
								<apex:commandButton value="Request Confirmation" onClick="requestConfirmation('{!reqSc.schoolId}', '{!reqCp.campusId}');return false;" styleclass="agencyButton" style="float: right; margin: 5px 0;"/>
								
								<table class="tb_instalments reqBlock-{!reqCp.campusId}" >
									<tr>
										<th>
											<apex:inputCheckbox onclick="selectAllRequest(this.checked, '{!reqCp.campusId}');" styleclass="selectallRequest" title="Select all"/>
										</th>
										<th> Type </th>
										<th> Client </th>
										<th> Nº </th>
										<th> Instalment Value </th>
										<th> Fees and Deals </th>
										<th> Total School Payment </th>
										<th> Last Activity </th>
										<th> Actions </th>						
									</tr>
									<!-- Instalments -->
									<apex:variable value="{!0}" var="trCounter" />
									<apex:repeat value="{!reqCp.instalments}" var="i">
										<apex:actionRegion >
										<tr class="row-{!i.installment.id} {!IF(mod(trCounter,2)=0, 'tableInstalOdd', 'tableInstalEven')}">
											<td style="width: 3%;vertical-align:middle;">
												
												<apex:outputpanel id="selectInstalment">
													<apex:inputfield value="{!i.installment.isSelected__c}" styleclass="selectAllRequest-{!reqCp.campusId} instSelected [{!i.installment.id}]" rendered="{!OR(i.installment.Commission_Value__c>0,i.installment.isInstalment_Amendment__c)}"/>
												</apex:outputpanel>
												<div style="float:right">
													<apex:commandLink status="statusLoad" onClick="toggle('rn-{!i.installment.id}'); toggle('{!$Component.buttonMax}'); toggle('{!$Component.buttonMin}'); return false;">
														<apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" id="buttonMax" styleclass="arrow" />
														<apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" id="buttonMin" styleclass="arrow" style="display:none"/>
													</apex:commandLink>
												</div>
												
											</td>
											
											<td style="width: 6%;vertical-align:middle;">
												<apex:outputpanel layout="block" styleclass="statusButton PDS" title="Paid Direct to School" rendered="{!i.installment.isPDS__c}">
													PDS
												</apex:outputpanel>
												<apex:outputpanel layout="block" styleclass="statusButton PFS" title="Paid in Full to School" rendered="{!i.installment.isPFS__c}">
													PFS
												</apex:outputpanel>
											</td>
											
											<td style="width: 15%;">
												<apex:outputpanel rendered="{!$Organization.Id='00DN0000000TtRPMA0'}">{!i.installment.id}<br/></apex:outputpanel>
												<apex:outputlink value="client_course_new?id={!i.installment.client_course__r.Client__c}&ccId={!i.installment.client_course__c}" styleClass="clientName" target="_blank">
												<!-- <apex:outputLink value="/{!i.installment.client_course__r.Client__c}" styleClass="clientName" target="_blank" > -->
													{!i.installment.client_course__r.client__r.Name}
												</apex:outputLink>
												
												<div class="ownerName">
													<b>Owner:&nbsp;</b><apex:outputtext value="{!i.installment.Client_Course__r.Client__r.Owner__r.Name}" />
												</div>
												
												<apex:outputtext value="{!i.installment.Client_Course__r.Campus_Name__c}" /> <br/>
												<apex:outputtext value="{!i.installment.Client_Course__r.Course_Name__c}" />
											</td>
											
											<td style=" width: 2%;font-size: 15px !important; font-weight: bold !important;vertical-align: middle;">
												<apex:outputpanel layout="none" rendered="{!NOT(ISNULL(i.installment))}">
													<apex:outputlink value="client_course_new?id={!i.installment.client_course__r.Client__c}&ccId={!i.installment.client_course__c}" target="_blank">
														<apex:outputtext value="{!i.installment.Number__c}" />
														<apex:outputText value="." rendered="{!NOT(ISNULL(i.installment.Split_Number__c))}"/>
														<apex:outputText value="{!i.installment.Split_Number__c}" rendered="{!NOT(ISNULL(i.installment.Split_Number__c))}" />
													</apex:outputlink>
												</apex:outputpanel>
												<!-- <apex:outputField value="{!i.installment.Number__c}" /> -->
											</td>
											
											<td style="width: 12%;">
												<apex:outputText value="{0, number, currency}" styleClass="instalmentValue" style="color:#737373 !important;font-weight:bold;">
													<apex:param value="{!i.installment.Instalment_Value__c}" />
												</apex:outputText>
												
												<apex:outputpanel layout="block" style="display: block; margin: 1px 0px;" rendered="{!NOT(ISBLANK(i.installment.Discount__c)) && i.installment.Discount__c > 0}">
													<apex:outputText value="Discount: " styleClass="dueDate redFont" style="font-weight:bold;"/>
													<span class="dueDate datetime" style="color:#DD5A46 !Important;">
														<apex:outputText value="{0, number, currency}" >
															<apex:param value="{!i.installment.Discount__c}" />
														</apex:outputText>
													</span>
												</apex:outputpanel>
												
												<div style="display: block; margin: 1px 0px;">
													<apex:outputText value="Due on " styleClass="dueDate" />
													<span class="dueDate datetime">
														<apex:outputField value="{!i.installment.Due_Date__c}" />
													</span>
												</div>
												
												<div style="display: block; margin: 1px 0px;">
													<apex:outputText value="Received by {!i.installment.Received_By__r.Name} on " styleClass="dueDate" />
													<span class="dueDate datetime">
														<apex:outputField value="{!i.installment.Received_Date__c}" />
													</span>
												</div>
												
												<apex:outputpanel layout="block" style="color:red;font-style:italic;" rendered="{!i.installment.isInstalment_Amendment__c}">
													Amendment
												</apex:outputpanel>
											</td>
											
											<td style="width: 17%;">
													
													<apex:outputpanel id="fees" >
														<table class="tb_payments" style="border:0px; width:100%;">
															<tr>
																<td style="border:none !important;width: 100%;">
																	<apex:outputpanel layout="block" rendered="{!i.feeInstall.size>0}" >
																		<table class="tb_payments smoothTh" style="margin-bottom:10px;">
																			<tr>
																				<th> Fee Name</th>
																				<th> Value </th>
																				<th style="text-align:right;padding-right: 3px;"> Keep Value</th>
																			</tr>
																				<apex:repeat value="{!i.feeInstall}" var="fi">
																					<tr>
																						<td style="text-align: left;padding-left: 5px; width:50%;">
																							
																							<apex:outputText value="{!LEFT(fi.feeName,15)}" styleClass="mini" title="{!fi.feeName}" escape="false" />
																							<apex:outputText value="..." rendered="{!LEN(fi.feeName) > 15}" styleClass="mini" title="{!fi.feeName}" />
																							
																						</td>
																						<td style="text-align: left;width:25%;">
																							<apex:outputText value="{0, number, currency}" >
																								<apex:param value="{!fi.feeValue}" />
																							</apex:outputText>
																							
																						</td>
																						<td style="padding-right: 5px;width:25%;text-align:right;">					
																							<apex:inputtext value="{!fi.keepFee}" styleclass="keepfee-{!i.installment.id}" onkeyup="jQuery('.save-{!i.installment.id}').show()" style="width: 65px;{!IF(ISNULL(i.installment.Paid_To_School_On__c), '', 'display:none')}" />
																							
																							<apex:outputText value="{0, number, currency}" styleclass="{!IF(fi.keepFee>0 ,'redFont', '')};" style="{!IF(NOT(ISNULL(i.installment.Paid_To_School_On__c)), '', 'display:none')}">
																								<apex:param value="{!fi.keepFee}" />
																							</apex:outputText>
																						</td>
																					</tr>
																				</apex:repeat>
																			</table>															
																		</apex:outputpanel>
																		
																		<table class="tb_payments smoothTh" style="border-bottom: 0 none;min-width: 85px !important;">
																			<tr>
																				<th style="width:40%;"> Deal Name </th>
																				<th style="width:20%;"> Description </th>
																				<th style="width:20%;text-align:right;padding-right: 3px;"> Value </th>
																				<th style="width:20%;text-align:right;padding-right: 3px;"> Amount </th>
																			</tr>
																			<tr>
																				<td>
																					<b>Commission</b>
																				</td>
																				<td style="text-align:center;">
																					<apex:outputText value="{!IF(i.installment.client_course__r.Commission_Type__c==1,'Cash','%')}" />
																				</td>
																				<td style="text-align:right;">
																					<apex:outputpanel id="commission" >
																						<apex:inputfield value="{!i.installment.Commission__c}" style="width:75px; {!IF(i.installment.Commission__c > 0, '','color:red;')}" rendered="{!NOT(i.installment.isInstalment_Amendment__c)}"
																							onchange="jQuery('.save-{!i.installment.id}').show()" styleclass="commission-{!i.installment.id}"/>
																						
																						<apex:outputfield value="{!i.installment.Commission__c}" style="{!IF(i.installment.Commission__c > 0, '','color:red;')}" rendered="{!i.installment.isInstalment_Amendment__c}"
																							styleclass="commission-{!i.installment.id}"/>	
																							
																					</apex:outputpanel>
																				</td>
																				<td style="text-align:right;">
																					<apex:outputText value="{0, number, currency}" style="{!IF(i.installment.Commission_Value__c>0,'','color:red')}">
																						<apex:param value="{!i.installment.Commission_Value__c}" />
																					</apex:outputText>
																				</td>
																			</tr>
																			<tr>
																				<td>
																					<b>{!i.installment.client_course__r.Commission_Tax_Name__c}</b>
																				</td>
																				<td style="text-align:center;">
																					%
																				</td>
																				<td style="text-align:right;">
																					<apex:outputpanel id="commissionTax">
																						<apex:inputfield value="{!i.installment.Commission_Tax_Rate__c}" style="width:75px; {!IF(i.installment.Commission_Tax_Rate__c > 0, '','color:red;')}" rendered="{!NOT(i.installment.isInstalment_Amendment__c)}"
																							onchange="jQuery('.save-{!i.installment.id}').show()" styleclass="commission-{!i.installment.id}"/>
																							
																						<apex:outputfield value="{!i.installment.Commission_Tax_Rate__c}" style="{!IF(i.installment.Commission__c > 0, '','color:red;')}" rendered="{!i.installment.isInstalment_Amendment__c}"
																							styleclass="commission-{!i.installment.id}"/>	
																					</apex:outputpanel>
																				</td>
																				<td style="text-align:right;">
																					<apex:outputField value="{!i.installment.Commission_Tax_Value__c}" />
																				</td>
																			</tr>
																			<apex:outputpanel layout="none" rendered="{!i.installment.isPDS__c}">
																				<tr>
																					<td>
																						Agency Scholarship
																					</td>
																					<td style="text-align:center;">
																						-
																					</td>
																					<td style="text-align:right;">
																						<apex:outputpanel id="scholarship">
																							<apex:inputfield value="{!i.installment.Scholarship_Taken__c}" style="width:75px;" onchange="jQuery('.save-{!i.installment.id}').show()" styleclass="scholarship-{!i.installment.id}"/>
																						</apex:outputpanel>
																					</td>
																					<td style="text-align:right;">
																						<apex:outputText value="{0, number, currency}" >
																							<apex:param value="{!i.installment.Scholarship_Taken__c}" />
																						</apex:outputText>
																					</td>
																				</tr>
																				<tr>
																					<td>
																						Agent Deal
																					</td>
																					<td>
																						<apex:inputfield value="{!i.installment.Agent_Deal_Name__c}" style="width:75px;" onchange="jQuery('.save-{!i.installment.id}').show()" styleclass="agentdeal-{!i.installment.id}"/>
																					</td>
																					<td style="text-align:right;">
																						<apex:outputpanel id="agentDeal">
																							<apex:inputfield value="{!i.installment.Agent_Deal_Value__c}" style="width:75px;" onchange="jQuery('.save-{!i.installment.id}').show()" styleclass="agentdeal-{!i.installment.id}"/>
																						</apex:outputpanel>
																					</td>
																					<td style="text-align:right;">
																						<apex:outputText value="{0, number, currency}" >
																							<apex:param value="{!i.installment.Agent_Deal_Value__c}" />
																						</apex:outputText>
																					</td>
																				</tr>
																				
																				
																				
																				<apex:outputpanel layout="none" rendered="{!NOT(ISBLANK(i.installment.Discount__c)) && i.installment.Discount__c > 0}">
																					<tr>
																						<td>
																							<apex:outputText value="Discount: " styleClass="dueDate discount" />
																						</td>
																						<td style="text-align:center;">
																							-
																						</td>
																						<td style="text-align:right;">
																							<span class="dueDate datetime discount" >
																								<apex:outputText value="{0, number, currency}" >
																									<apex:param value="{!i.installment.Discount__c}" />
																								</apex:outputText>
																							</span>
																						</td>
																						<td style="text-align:right;">
																							<span class="dueDate datetime discount" >
																								<apex:outputText value="{0, number, currency}" >
																									<apex:param value="{!i.installment.Discount__c}" />
																								</apex:outputText>
																							</span>
																						</td>
																					</tr>
																				</apex:outputpanel>
																			</apex:outputpanel>
																			<apex:outputpanel layout="none" rendered="{!AND(NOT(ISNULL(i.installment.Covered_by_Agency__c)), i.installment.Covered_by_Agency__c>0)}">
																					<td>
																						Covered by Agency
																					</td>
																					<td>
																					
																					</td>
																					<td style="text-align:right;">
																					</td>
																					<td style="text-align:right;">
																						<apex:outputText value="{0, number, currency}" >
																							<apex:param value="{!i.installment.Covered_by_Agency__c}" />
																						</apex:outputText>
																					</td>
																				</apex:outputpanel>
																				<apex:outputpanel layout="none" rendered="{!AND(NOT(ISNULL(i.installment.Client_Scholarship__c)), i.installment.Client_Scholarship__c>0)}">
																					<td>
																						Client Scholarship
																					</td>
																					<td>
																					
																					</td>
																					<td style="text-align:right;">
																					</td>
																					<td style="text-align:right;">
																						<apex:outputText value="{0, number, currency}" >
																							<apex:param value="{!i.installment.Client_Scholarship__c}" />
																						</apex:outputText>
																					</td>
																				</apex:outputpanel>
																			<tr>
																				<td colspan="3">
																					Total Earned
																					<img class="helpIcon" alt="" src="/s.gif" title="Balance = Commision + Scholarship + Keep Fee + Agency Deal - Discount" />
																				</td>
																				<td  style="text-align:right;">
																					<apex:outputText value="{0, number, currency}" >
																						<apex:param value="{!i.installment.Balance__c}" />
																					</apex:outputText>
																				</td>
																			</tr>
																		</table>	
																		
																		<apex:outputpanel layout="block" style="color:red;font-style:italic;" rendered="{!i.installment.isInstalment_Amendment__c}">
																			"Fees and Deals" can only be changed on the Instalment amendment window.
																		</apex:outputpanel>
																</td>
															</tr>												
															<tr>
																<td style="text-align:center;border:none !important;">														
																
																	<apex:outputpanel styleclass="changes-{!i.installment.id}" id="changeValue" >
																		<apex:pageMessages escape="false" />
																		
																		
																		<apex:outputpanel layout="block" styleclass="save-{!i.installment.id}" style="margin-top:5px;">
																			<apex:commandlink value="Cancel" action="{!cancelChanges}" onclick="loadRow('row-{!i.installment.id}');" rerender="selectInstalment,viewCommission,commission,commissionTax,fees,changeValue,payToSchool, documents" styleclass="agencyButton" >
																				<apex:param name="id" value="{!i.installment.id}" />
																			</apex:commandlink>
																			<apex:commandlink value="Save" action="{!saveChanges}" onclick="loadRow('row-{!i.installment.id}');" rerender="selectInstalment,viewCommission,commission,fees,commissionTax,changeValue,payToSchool, documents" styleclass="agencyButton" >
																				<apex:param name="id" value="{!i.installment.id}" />
																			</apex:commandlink>
																		</apex:outputpanel>
																		
																		<script>		
																			hideLoadRow('row-{!i.installment.id}');
																		
																			if(jQuery('.changes-{!i.installment.id}').find('table.messageTable tr').length == 0){
																				jQuery('.save-{!i.installment.id}').css('display', 'none');
																			}else{
																				jQuery('.save-{!i.installment.id}').css('display', '');
																			}
																		</script>
																		
																	</apex:outputpanel>
																</td>
															</tr>
														</table>
														
														
													</apex:outputpanel>									
												
												</td>
																					
											<td style="width:5%">
												<apex:outputpanel id="payToSchool">
													<apex:outputText value="{0, number, currency}" style="font-weight: bold; font-size: 17px;">
														<apex:param value="{!i.installment.Total_School_Payment__c}" />
													</apex:outputText>
												</apex:outputpanel>
											</td>
											
											<apex:outputpanel layout="none" rendered="{!i.listActivities.size>0}">
												<td style="width:12%;{!IF(i.lastActivityStatus =='sent' || i.lastActivityStatus =='delivered' || i.lastActivityStatus =='-','color:green', 'color:red')}"> 
													<div style="font-weight:bold;">{!i.lastActivityType}</div>
													<div style="display:block;font-size: 0.8em;"> <apex:outputfield value="{!i.lastActivityDate.Lead_Accepted_On__c}" /> </div>
												</td>
											</apex:outputpanel>
											
											<apex:outputpanel layout="none" rendered="{!i.listActivities.size<1}">
												<td style="width:8%;text-align:center;">
													-
												</td>
											</apex:outputpanel>
											
											
											<td style="width:10%">
												<apex:selectList styleclass="actions chosen" onchange="actions(this.value, '{!i.installment.id}', '{!i.installment.client_course__r.Client__r.Name}' );" size="1" style="width: 150px;" >
										            <apex:selectOptions value="{!i.instOptions}" />
										        </apex:selectList> 
											</td>
											
											<!-- <td style="width:8%;vertical-align: middle;">
												<apex:outputpanel id="buttons">
													<apex:commandlink value="Save Changes" action="{!saveChanges}"  rerender="messages, fees, scholarship, totalSchool, buttons" onClick="loadRow('row-{!i.installment.id}');" styleclass="agencyButton saveButton-{!i.installment.Id}" style="display:none;">
														<apex:param name="id" value="{!i.installment.Id}" />
													</apex:commandlink>
												</apex:outputpanel>
											</td>	 -->								
										</tr>
										<tr id="rn-{!i.installment.id}" style="display:none;" class="{!IF(mod(trCounter,2)=0, 'tableInstalOdd', 'tableInstalEven')}">
										<td colspan="9" style="padding: 10px;">
											
							                <div class="tabsClient" style="background: inherit;">
												<ul>										
													<apex:outputpanel layout="none" rendered="{!i.listNotes.size>0}"><li><a href="#tabs-1">Notes</a></li></apex:outputpanel>
													<apex:outputpanel layout="none" rendered="{!i.listActivities.size>0}"><li><a href="#tabs-2">Instalment Activities</a></li></apex:outputpanel>					
												</ul>					
																										
												<!-- Notes -->
												<div id="tabs-1">
													<apex:outputpanel rendered="{!i.listNotes.size>0}">
													
														<table  class="feesInstall">
															<thead>
																<tr>
																	<td> Subject </td>
																	<td> Description </td>
																	<td> Note Details </td>
																</tr>
															</thead>
															<tbody>
																<apex:repeat value="{!i.listNotes}" var="n">
																	<tr>
																		<td style="width:20%">
																			<apex:commandLink value="{!n.Subject__c}" onclick="editTask('{!n.id}', 'instalment'); return false;" />
																		</td>
																		
																		<td style="width:55%">
																			<apex:outputText value="{!LEFT(n.Comments__c,250)}" styleClass="mini" title="{!n.Comments__c}" escape="false" />
																			<apex:outputText value="..." rendered="{!LEN(n.Comments__c) > 250}" styleClass="mini" title="{!n.Comments__c}" />
																		</td>
																		
																		<td style="width:25%;font-size:1.3em">
																			<apex:outputLabel value="Created by: " style="font-weight:bold;" /> <apex:outputLabel value="{!n.CreatedBy.Name}" />
																			<apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
																			<span style="color:grey; font-size:0.8em;">
																				<apex:outputField value="{!n.createdDate}" />
																			</span><br/>
																		
																			<apex:outputLabel value="Last modified: " style="font-weight:bold;" /> <apex:outputLabel value="{!n.LastModifiedBy.Name}" />
																			<apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
																			<span style="color:grey; font-size:0.8em;">
																				<apex:outputField value="{!n.LastModifiedDate}" />
																			</span>
																		</td>
																	</tr>
																</apex:repeat>
															</tbody>
														</table>
													</apex:outputpanel>
													
												</div>
												<!-- END -- Notes -->
																					
												<!-- Instalment Activities -->
												<div id="tabs-2">
													<apex:outputpanel rendered="{!i.listActivities.size>0}">
													
														<table class="feesInstall">
															<thead>
																<tr>
																	<td>To</td>
																	<td>From</td>
																	<td>Date</td>
																	<td>Type </td>
																	<td>Subject</td>
																	<!-- <td>Status </td> -->
																</tr>
															</thead>
															<tbody>
																<apex:repeat value="{!i.listActivities}" var="a">
																	<tr>
																		<td><apex:outputtext value="{!a.acTo}" /></td>
																		<td><apex:outputtext value="{!a.acFrom}" /></td>														
																		<td><apex:outputfield value="{!a.acDate.Lead_Accepted_On__c}" /></td>
																		<td style="font-weight:bold;"><apex:outputtext value="{!a.acType}" /></td>
																		<td><apex:outputtext value="{!a.acSubject}" /></td>
																		<!-- <td><apex:outputtext value="{!a.acStatus}" /></td> -->
																	</tr>
																</apex:repeat>
															</tbody>
														</table>
													</apex:outputpanel>
												</div>
												<!-- END -- Instalment Activities -->
												
											</div>
											</td>
										</tr>
										</apex:actionRegion>
										<apex:variable value="{!trCounter+1}" var="trCounter" />
									</apex:repeat>
									<!-- END -- Instalments -->
									</table>	
								</apex:repeat>
								<!-- END -- Campus -->
							</apex:outputpanel>
						</apex:repeat>
					</apex:outputpanel>			
				</apex:outputPanel>
			</div>	
		</div>
	</apex:outputpanel>
</div>

<apex:actionFunction name="refresh" action="{!findRequestPDS}" status="statusLoad" rerender="totalTabs, wholePage" onComplete="jQuery('.chosen').chosen();"/>
<apex:actionFunction name="redirectTab" action="{!redirectTab}" status="statusLoad" rerender="">
	<apex:param name="tab" value="" />
</apex:actionFunction>


<apex:actionFunction name="noClaimPDS" action="{!notClaimCommission}" status="statusLoad" rerender="totalTabs,wholePage">
	<apex:param name="id" value="" />
</apex:actionFunction>

<apex:actionFunction name="afCancelPayment" action="{!setIdCancel}" status="statusLoad" rerender="totalTabs,wholePage" onComplete="cancelPayment();">
	<apex:param name="cancelId" value="" />
</apex:actionFunction>

</apex:form>

<div id="cancelPayment" style="display:none">
	<apex:form id="cancelForm">
		<apex:pageMessages />
		<div class="divHeader">
			Cancel Reason
		</div>
		
		<div class="content">		
			<apex:pageBlock >
				<apex:pageBlockSection columns="1">
					<apex:pageBlockSectionItem >
						<apex:outputLabel value="Reason" />
						<apex:inputfield value="{!cancelInst.Cancel_Payment_Reason__c}"  required="true" />				
                   	</apex:pageBlockSectionItem>
                   	
                   	<apex:pageBlockSectionItem >
						<apex:outputLabel value="Comments" />
						<apex:outputpanel layout="block" styleclass="requiredInput">
                    		<apex:inputTextArea value="{!cancelReason}" style="width:96%;" rows="8" required="true" label="Please fill the reason field."/>	
                   		</apex:outputpanel>
                   	</apex:pageBlockSectionItem>	
                   		
				</apex:pageBlockSection>
			
			</apex:pageBlock>
		 	
		 	<div class="buttons" style="text-align:center;margin-top:10px;">
				<apex:commandlink value="Save" action="{!cancelPayment}" styleclass="agencyButton" rerender="cancelForm" status="statusLoad"/>
				<apex:commandlink value="Cancel" styleclass="agencyButton" onClick="closemodal();"/>
			</div>
		</div>
		
		
		<apex:outputpanel id="verifyErrors" rendered="{!showError}">
			<script>		
				if(jQuery('.errorMsg').length == 0){				
					UpdateOpener();
				}
			</script>
		</apex:outputpanel>
		
	</apex:form>
</div>
</td>
</tr>
</table>

<script>
	var cName;
	
	jQuery(document).ready(function() {
		jQuery('.chosen').chosen();
		jQuery('.tabsClient').tabs();
	});	
	
	function toggle(popUpDiv) {
		var el = document.getElementById(popUpDiv);
		if ( el.style.display == 'none' ) { el.style.display = '';}
		else {el.style.display = 'none';}
		return false;
	}
	
	function showSaveButton(instalmentId){
		jQuery('.saveButton-'+instalmentId).css('display','');
	} 
	
	function UpdateOpener(){
		jQuery('#interVeil').css('display','none');	
		modalWind.close();
		refresh();
	}
	
	function setCloseModal(){
		jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
		jQuery('.Close').unbind('click'); 
		jQuery('.Close').click(function() {closemodal();});
	}
	
	function closemodal(){
		jQuery('#interVeil').css('display','none');	
		modalWind.close();
	}
	
	function sendEmail(schoolId,campusId){
		modalWind = dhtmlmodal.open('sendEmail', 'iframe', 'payment_school_email?visits=false&type=requestConfirm&sc='+schoolId+'&cp='+campusId, 'Send Email - Request School Confirmation', 'width=800px,height=800px,resize=1,center=1,scrolling=0');
      	setCloseModal();
		actionNoAction();
	}
	
	function selectAllRequest(value, campus){		
		jQuery('.selectAllRequest-' + campus).each(function(){
			jQuery(this).prop("checked", value);
		});
	}	
	
	function requestConfirmation(school, campus){
		var hasChecked = false;
		
		jQuery('.reqBlock-'+campus+' input:checkbox').each(function(){
			if(jQuery(this).is(':checked'))
				hasChecked = true;
		});
		
		if(hasChecked){
			sendEmail(school,campus);			
		}
		else
			alert('Please select at least one instalment for the campus.');
	}
	
	function actionNoAction(){
		jQuery('.actions').val('noAction');
		jQuery(".actions").trigger("chosen:updated");
	}
	
	function loadRow(rowName){
    	jQuery('.'+rowName).block({ message: 'Loading...' , 
    	 css: { 
	      	border: 'none', 
            backgroundColor: '#666666', 
            '-webkit-border-radius': '10px', 
            '-moz-border-radius': '10px', 
            opacity: .5, 
            color: '#fff' 
	    	} 
	    }); 
	}
	
	
	function actions(value,inst, clientName){
		if(value=='noclaim'){
			if(confirm('Are you sure there is no commission claim for this instalment? This request will be closed if you proceed.')){
				noClaimPDS(inst);
			}
		}
		else if(value=='cancelPayment'){
			if(confirm('Are you sure you want to cancel this payment?')){
				afCancelPayment(inst);
				cName = clientName;
			}
		}
		
		actionNoAction();
	}
	
	 function cancelPayment(){
    	modalWind = dhtmlmodal.open('Cancel Payment', 'div', 'cancelPayment', 'Cancel Payment - '+cName, 'width=500px,height=400px,resize=1,center=1,scrolling=0');
 	} 

</script>
	
<c:limits id="pbLimits"/>
</apex:page>