<apex:page controller="PaymentSchoolController" sidebar="true" tabstyle="Finance__tab" action="{!setupPaymentPage}">
	
	<apex:include pageName="xStylePageV2" />
	<apex:include pageName="xCourseSearchStyle" />

	<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />	
	<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />
	
	<apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}"/>
	<apex:includeScript value="{!URLFOR($Resource.assets,'modalfiles/modal.js')}" />
	<apex:stylesheet value="{!URLFOR($Resource.assets,'modalfiles/modal.css')}" />
	
	<style>
	
		.divContent {
			border:  none;
			clear: both;
		}
		
		.boxReceived{
			border: 1px solid #ccc;
		    border-radius: 5px;
		    display: block;
		    margin: 1px 0;
		    padding: 1px;
	    }
		
		.smoothTh tr th{
			background-color: #f0ebeb;
		    //color: grey !important;
		    font-style: italic;
		    line-height: 20px;
		    font-size: 1em;
		    border-bottom: 1px solid #ccc;
		}
		
		.clientName {
			font-size: 15px;
		}
		
		
		
		.agencyButton {
			padding: 2px 10px;
		}
		
		.confirmed td {
			font-style: italic;			
		}
		
		.deleteImage {
			position: relative;
			top: -2px;
			left: 3px;
		}
	
		.instalmentValue { font-size: 1.2em; color: black;}
		.dueDate { font-style: italic; color: grey; }
		
		.boxtotal{
			float: left;
			min-width: 130px;
			margin: 0px 10px;
			padding: 5px 10px;
			border: 1px solid #708090;
			font-weight: bold;
			font-size: 1.2em;
		}
		.unconfirmed { color: #FF4563; }
		.totalValue { margin-right: 20px; }
		
		.dateFormat {display: none;}
		
		.filterbox {
			display: block;
			float: left;
			width: 10%;
			min-width: 160px;
		}
		
		.filterbox select { width: 120px; }
		
		.filterbox span{
			font-style: italic;
			color: grey; 
		} 
		
		.filters {
			height: 35px;
			margin: 1em 0.5em 0.5em 0.5em;
			padding: 10px;
			display: block;			
			background-color: #F9F9F9;
		}
		
		.datetime {
			font-weight: bold;
		}
		
		iframe .upload{
		    max-height: 130px;
		}
		
		.redFont{
			color:#DD5A46 !Important;
		}
		
		.discount{
			color:green !important;
			font-weight: bold;
		}
		
		.ownerName{
		    display: block;
		    font-style: initial;
  		}
  		
  		.messageTable tr td{
  			border-bottom:0px !important;
		}

		.files{
			border: 1px solid #c1c1c1;
		    float: left;
		    min-width: 400px !important;
		   // width: 99%;
	        margin-bottom: 5px;
		}
		
		.tb_payments .messageTable tr td {
			border-bottom: 0px !important; 
		}
		
		.messageText{
			text-align: left;
		}
		
		.pfsBlock{
			display:block; 
			margin-top:6px;
			margin-left: -5px;
		}
		
		.tableInstal{
			margin-top:0px;
			border: none;
		}
		
		.tableInstal tbody td {
			font-size: 1em !important;
			vertical-align:top !important;
			padding: 2px 0.3em !important;
		}
		
		.tableInstal tbody th {
			border-bottom: 1px solid #ccc;
		}
		
		/* .tableInstal tbody tr:nth-child(odd) td  {
		    background-color: #eeeeee !important;	  
		}
		
		.tableInstal tbody tr:nth-child(even) td {
		    background-color: #ffffff !important;
		} */
		
		
		.tableInstal thead tr td {
			border-bottom: medium none;
			padding: 3px;
			font-size: 0.9em;
		}
		
		.tableInstal tbody tr td:first-child {
		    border-left: 1px solid #ccc;
		}
		
		.tableInstal tbody tr td:last-child {
		    border-right: 1px solid #ccc;
		}
		
		.tableInstal tbody tr th:first-child {
		    border-left: 1px solid #ccc;
		}
		
		.tableInstal tbody tr th:last-child {
		    border-right: 1px solid #ccc;
		}
		
		.clientDetail{
			background-color:  #eeeeee;	
			border-top: solid 1px #ccc;
		}
		
		.checkImg{
			position:relative;
			top: 2px;
		}
		
		.breakLine{
			height: 10px;
			border: medium none !important;
		}
		.helpIcon {
		    height: 16px;
		    position: relative;
		    top: -4px;
		    width: 16px;
		}
		
		.fileUpload{
			width: 410px;
			max-width: 410px;
		}
		
      	.instInformation td{
             border-left:0px !important;
            border-right:0px !important;
         }
         
       .instInformation tr:last-child td{
             border-bottom:0px !important;
        }
		
	</style>
	
	<script>
		function hideLoadRow(rowName){
	    	jQuery('.'+rowName).unblock();
		}
	
	</script>
	
	<table class="tbl_Details">
		<tr>					
			<td class="sidesColumn">					
				<c:menuFinance selectedItem="schoolPayments" />
			</td>
		
			<td class="middleColumn bodyColumn">
	
				<apex:form id="wholepage" >
					<apex:actionFunction name="refresh" action="{!findInstalments}"  status="statusLoad" rerender="resultSec,myButtons"/>
								
					<div class="divWrapper" style="margin-top:10px;">
					
						<div class="title" style="font-size:1.5em;">
							<span class="arrow-e" style="font-size: 1.5em;"></span>&nbsp;School Payments
						</div>
						
						<apex:outputpanel layout="block" styleclass="filters" id="filters">
							
							<div class="filterbox">
				                  <apex:selectList value="{!selectedAgencyGroup}" size="1" style="width:150px;" styleclass="chosen">
				                      <apex:SelectOptions value="{!agencyGroupOptions}" />
				                      <apex:actionSupport event="onchange" action="{!changeGroup}" rerender="filters" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>
				                  </apex:selectList>
				                  <apex:outputText value="Agency Group" style="display: block;" /> 
				          	</div>
							
							<div class="filterbox">
								<apex:outputPanel id="agencyFilter">
									<apex:selectList value="{!selectedAgency}" size="1" style="width:150px;" styleclass="chosen">
										<apex:selectOptions value="{!agencies}" />
										<apex:actionSupport event="onchange" action="{!changeAgency}" status="statusLoad" rerender="filters" oncomplete="jQuery('.chosen').chosen();"/>
									</apex:selectList>
								</apex:outputPanel>
								<apex:outputText value="Agency" style="display: block;" />					
							</div>
							
							<div class="filterbox">
								<apex:outputPanel id="departmentFilter">
									<apex:selectList value="{!selectedDepartment}" size="1" style="width:150px;" styleclass="chosen">
										<apex:selectOptions value="{!departments}" />
									</apex:selectList>
									<apex:outputText value="Department" style="display: block;" />		
								</apex:outputPanel>				
							</div> 
							
							
							<div class="filterbox">
								<apex:outputPanel id="schoolFilter">
									<apex:selectList size="1" value="{!selectedSchool}" style="width:150px;" styleclass="chosen">
										<apex:selectOptions value="{!schoolOptions}" />
										<apex:actionSupport event="onchange" action="{!changeSchool}" status="statusLoad" rerender="campusFilter" oncomplete="jQuery('.chosen').chosen();"/>
									</apex:selectList>
								</apex:outputPanel>
								<apex:outputText value="School" style="display: block;" />						
							</div> 
							
							<div class="filterbox">
								<apex:outputPanel id="campusFilter">
									<apex:selectList size="1" value="{!selectedCampus}" style="width:150px;" styleclass="chosen">
										<apex:selectOptions value="{!campusOptions}" />
									</apex:selectList>
									<apex:outputText value="Campus" style="display: block;" />		
								</apex:outputPanel>				
							</div> 
							
							<div class="filterbox">
								<apex:selectList value="{!selectedSchoolPayment}" size="1" styleclass="chosen" style="width:150px;">
									<apex:selectOptions value="{!schoolPaymentOptions}" />
								</apex:selectList>
								<apex:outputText value="Payment Type" style="display: block;" styleclass="filterLabel"/>					
							</div>
							
							<div class="filterbox">
								<apex:selectList value="{!selectedInstNumber}" size="1" styleclass="chosen" style="width:150px;">
									<apex:selectOptions value="{!instNumberOptions}" />
								</apex:selectList>
								<apex:outputText value="Instalment" style="display: block;" styleclass="filterLabel"/>					
							</div>
							
							
							
							<div class="filterbox">
								<apex:commandLink value="Search" action="{!resetResearch}" status="statusLoad" rerender="myButtons,resultSec" styleClass="agencyButton" style="padding: 5px 20px; position: relative; top: 9px;" />
							</div>
							
						</apex:outputpanel>
							
						
						<div class="divContent">
							<apex:outputPanel id="resultSec" layout="block">
								
								<apex:outputpanel rendered="{!ISNULL(instalments) || instalments.size<1}">
									<div style="text-align:center; color:red; border:1px solid grey; padding:5px; margin-top: 6px;width: 100%;"> No result found. </div>
								</apex:outputpanel>			
								
								<apex:outputpanel rendered="{!NOT(ISNULL(instalments)) && instalments.size>0}">				
									<table class="tableInstal" >
										
										
										<tbody>
										
										<apex:repeat value="{!instalments}" var="i">
											<tr><td colspan="7" class="breakLine" /></tr>
											<tr>  <!-- class="row-{!i.installment.id}" -->
												<td colspan="7" class="clientDetail">
													<apex:outputLink value="/{!i.installment.client_course__r.Client__c}" styleClass="clientName" target="_blank" >
														{!i.installment.client_course__r.client__r.Name}
													</apex:outputLink>
													&nbsp;(Owner:&nbsp;<apex:outputtext value="{!i.installment.Client_Course__r.Client__r.Owner__r.Name}" />)
													
													<div class="ownerName">
														&nbsp;
														<apex:outputText value="{!i.installment.client_course__r.Campus_Name__c}" style="font-weight:bold;"/>
														&nbsp;
														<apex:outputText value="{!i.installment.client_course__r.Course_Name__c}" />
														
													</div>
													<apex:outputText value="Pakage Course" rendered="{!i.installment.client_course__r.isPackage__c}" style="display:block; color:navy;"/>
													<apex:outputText value="Pakage Course" rendered="{!NOT(ISNULL(i.installment.client_course__r.course_package__c))}" style="display:block; color:navy;" />
													
													
													<apex:outputpanel layout="block" style="color:red;font-style:italic;" 
														rendered="{!i.installment.isInstalment_Amendment__c && i.installment.Original_Instalment__r.isAmended_BeforeSchoolPayment__c}">
														<apex:outputtext value="Amended" />
														<!-- <apex:outputtext value="Amended - NOT PAID from Client yet" rendered="{!i.installment.Received_Date__c == null}" /> -->
													</apex:outputpanel>
													
													<apex:outputpanel layout="block" style="color:red;font-style:italic;" 
														rendered="{!i.installment.isInstalment_Amendment__c && !i.installment.Original_Instalment__r.isAmended_BeforeSchoolPayment__c}">
														
														Amendment from Instalment Nº&nbsp;
														
														<apex:outputtext value="{!i.installment.Number__c}" />
														<apex:outputText value="." rendered="{!NOT(ISNULL(i.installment.Split_Number__c))}"/>
														<apex:outputText value="{!i.installment.Split_Number__c}" rendered="{!NOT(ISNULL(i.installment.Split_Number__c))}" />
														
														<!-- <apex:outputtext value=" - NOT PAID from Client yet" rendered="{!i.installment.Received_Date__c == null}" /> -->
													</apex:outputpanel>
													
													
												</td>
											</tr>
											<tr > <!-- class="row-{!i.installment.id}" -->
												<!-- <td>
													Client
												</td> -->
												<th>
													Invoice Details
												</th>
												<th>
													Nº
												</th>
												<th>
													Payment Details
												</th>
												<th>
													Fees and Deals
												</th>
												<th>
													Pay to School 
												</th>
												<th>
													Documents
												</th>
												<th>
													Actions
												</th>
												
											</tr>
											
											<apex:actionRegion id="allLine">
											<tr class="row-{!i.installment.id}"> 
												<!-- <td style="width: 16%;">
													{!i.installment.id}<br/>
													<apex:outputpanel rendered="{!$Organization.Id='00DN0000000TtRPMA0'}">
														Course == {!i.installment.client_course__c}<br/>
														Installment == {!i.installment.id}<br/>
													</apex:outputpanel>
													<apex:outputLink value="/{!i.installment.client_course__r.Client__c}" styleClass="clientName" target="_blank" >
														{!i.installment.client_course__r.client__r.Name}
													</apex:outputLink>
													
													<br/>
													<apex:outputText value="{!i.installment.client_course__r.Campus_Name__c}" style="font-weight:bold;"/>
													<br/>
													<apex:outputText value="{!i.installment.client_course__r.Course_Name__c}" />
													
													<div class="ownerName">
														Owner:&nbsp;<apex:outputtext value="{!i.installment.Client_Course__r.Client__r.Owner__r.Name}" />
													</div>
												</td> -->
												
												<td style="width: 13%;">
													<div class="dueDate boxReceived">
														<table width="100%" class="instInformation">
															<tr>
																<td><apex:outputText value="Instalment: " styleClass="dueDate datetime" /></td>
																<td style="text-align: right;">
																	<apex:outputText value="{0, number, currency}" styleClass="dueDate">
																		<apex:param value="{!i.installment.Instalment_Value__c}" />
																	</apex:outputText>
																	<apex:image url="{!URLFOR($Resource.icons,'icons/commons/urgent.png')}" style="margin-left: 4px; position: relative; top: 3px;"  
																		title="Before amend: {!i.installment.Original_Instalment__r.Instalment_Value__c}" 
																		rendered="{!AND(i.installment.isInstalment_Amendment__c, i.installment.Original_Instalment__r.isAmended_BeforeSchoolPayment__c,
																					 i.installment.Original_Instalment__r.Instalment_Value__c != i.installment.Instalment_Value__c)}" />
																</td>
															</tr>
															<tr>
																<td><apex:outputText value="Tuition: " styleClass="dueDate datetime" /></td>
																<td style="text-align: right;">
																	<apex:outputText value="{0, number, currency}" styleClass="dueDate">
																		<apex:param value="{!i.installment.Tuition_Value__c}" />
																	</apex:outputText>
																	<apex:image url="{!URLFOR($Resource.icons,'icons/commons/urgent.png')}" style="margin-left: 4px; position: relative; top: 3px;"  
																		title="Before amend: {!i.installment.Original_Instalment__r.Tuition_Value__c}" 
																		rendered="{!AND(i.installment.isInstalment_Amendment__c, i.installment.Original_Instalment__r.isAmended_BeforeSchoolPayment__c,
																					 i.installment.Original_Instalment__r.Tuition_Value__c != i.installment.Tuition_Value__c)}" />
																</td>
															</tr>
															<tr>
																<td><apex:outputText value="Extra Fees: " styleClass="dueDate datetime" /></td>
																<td style="text-align: right;">
																	<apex:outputText value="{0, number, currency}" styleClass="dueDate">
																		<apex:param value="{!i.installment.Extra_Fee_Value__c}" />
																	</apex:outputText>
																	
																	<apex:image url="{!URLFOR($Resource.icons,'icons/commons/urgent.png')}" style="margin-left: 4px; position: relative; top: 3px;"  
																		title="Before amend: {!i.installment.Original_Instalment__r.Extra_Fee_Value__c}" 
																		rendered="{!AND(i.installment.isInstalment_Amendment__c, i.installment.Original_Instalment__r.isAmended_BeforeSchoolPayment__c,
																					 i.installment.Original_Instalment__r.Extra_Fee_Value__c != i.installment.Extra_Fee_Value__c)}" />
																</td>
															</tr>
															<tr>
																<td><apex:outputText value="Due Date:" styleClass="dueDate datetime" /></td>
																<td style="text-align: right;">
																	<span class="dueDate">
																		<apex:outputField value="{!i.installment.Due_Date__c}" />
																		
																	</span>
																</td>
															</tr>
															<tr>
																<td colspan="2">
																	<apex:outputText value="Received by: " styleClass="dueDate datetime" />
																	
																	<apex:outputpanel layout="none" rendered="{!NOT(ISNULL(i.installment.Received_Date__c))}">
																		<apex:outputText value="{!i.installment.Received_By__r.Name} "  /> on 
																		<span >
																			<apex:outputField value="{!i.installment.Received_Date__c}" />
																		</span>
																		<!-- <br /> 
																		<apex:outputField value="{!i.installment.Received_By_Agency__r.name}" /> -->
																		<br />
																		<apex:outputField value="{!i.installment.Received_By_Department__r.name}" />
																	</apex:outputpanel>
																</td>
															</tr>
														</table>
														
													</div>
													
													
												</td>
												
												<td style=" width: 2%;font-size: 15px !important; font-weight: bold !important;">
													<apex:outputlink value="client_course_new?id={!i.installment.client_course__r.Client__c}&ccId={!i.installment.client_course__c}" target="_blank">
														<apex:outputtext value="{!i.installment.Number__c}" />
														<apex:outputText value="." rendered="{!NOT(ISNULL(i.installment.Split_Number__c))}"/>
														<apex:outputText value="{!i.installment.Split_Number__c}" rendered="{!NOT(ISNULL(i.installment.Split_Number__c))}" />
													</apex:outputlink>
												</td>
												
												<td style="width: 12%;">
													<apex:outputpanel layout="none" rendered="{!NOT(ISNULL(i.installment.Invoice__c))}">
														<span style="color:grey;font-weight:bold;">Grouped Invoice Total:</span>
														
														<table class="tableInstal smoothTh" style="max-width: 210px !important;min-width: 210px !important;border-bottom: 0 none;">
															<tr>
																<th> Value</th>
																<th> Type </th>			
															</tr>								
															<apex:repeat value="{!mapPaymentInvoice[i.installment.Invoice__c]}" var="payment">
																<tr class="{!IF(ISBLANK(payment.Confirmed_By__c), '', 'confirmed')}">
																	<td style="width:50%;padding-left: 5px;">
																		<div style="float:left">
																			<apex:image url="{!URLFOR($Resource.icons,'icons/commons/accept.png')}" rendered="{!payment.Confirmed_Date__c !=null}" 
																			title="Confirmed  by {!payment.Confirmed_By__r.Name} on {!payment.Confirmed_Date__c}"
																			style="border: 0 none; padding-right: 5px; position: relative; top: 2px;" />
																			
																			<apex:image url="{!URLFOR($Resource.icons,'icons/commons/accept_disabled.png')}" rendered="{!payment.Confirmed_Date__c ==null}" 
																			title="Not confirmed yet"
																			style="border: 0 none; padding-right: 5px; position: relative; top: 2px;" />
																		</div>
																		<div style="float:right; padding-right:10px;">
																			<apex:outputText value="{0, number, currency}" >
																				<apex:param value="{!payment.Value__c}" />
																			</apex:outputText>
																		</div>
																	</td>
																	<td style="width:50%;">
																		<apex:outputText value="{!payment.Payment_Type__c}" style="display:block;" />
																		<div style="font-size:11px;margin-top: -7px;" >on&nbsp;
																			<apex:outputField value="{!payment.Date_Paid__c}" />
																		</div>
																	</td>
																</tr>
															</apex:repeat>									
														</table>
														
													</apex:outputpanel>
													
													<apex:outputpanel layout="none"  rendered="{!AND(ISNULL(i.installment.Invoice__c), i.installment.client_course_instalment_payments__r.size>0)}">
														<table class="tableInstal smoothTh" style="max-width: 210px !important;min-width: 210px !important;border-bottom: 0 none;margin-top: 2px !important;">
															<tr>
																<th> Value</th>
																<th> Type </th>			
															</tr>								
															<apex:repeat value="{!i.originalPayments}" var="payment">
																<tr class="{!IF(ISBLANK(payment.Confirmed_By__c), '', 'confirmed')}">
																	<td style="width:50%;padding-left: 5px;">
																		<div style="float:left">
																			<apex:image url="{!URLFOR($Resource.icons,'icons/commons/accept.png')}" rendered="{!payment.Confirmed_Date__c !=null}" 
																			title="Confirmed  by {!payment.Confirmed_By__r.Name} on {!payment.Confirmed_Date__c}"
																			style="border: 0 none; padding-right: 5px; position: relative; top: 2px;" />
																			
																			<apex:image url="{!URLFOR($Resource.icons,'icons/commons/accept_disabled.png')}" rendered="{!payment.Confirmed_Date__c ==null}" 
																			title="Not confirmed yet"
																			style="border: 0 none; padding-right: 5px; position: relative; top: 2px;" />
																		</div>
																		<div style="float:right; padding-right:10px;">
																			<apex:outputText value="{0, number, currency}" >
																				<apex:param value="{!payment.Value__c}" />
																			</apex:outputText>
																		</div>
																	</td>
																	<td style="width:50%;">
																		<apex:outputText value="{!payment.Payment_Type__c}" style="display:block;" />
																		<div style="font-size:11px;margin-top: -7px;" >on&nbsp;
																			<apex:outputField value="{!payment.Date_Paid__c}" />
																		</div>
																	</td>
																</tr>
															</apex:repeat>		
															
															<apex:repeat value="{!i.installment.client_course_instalment_payments__r}" var="payment">
																<tr class="{!IF(ISBLANK(payment.Confirmed_By__c), '', 'confirmed')}">
																	<td style="width:50%;padding-left: 5px;">
																		<div style="float:left">
																			<apex:image url="{!URLFOR($Resource.icons,'icons/commons/accept.png')}" rendered="{!payment.Confirmed_Date__c !=null}" 
																			title="Confirmed  by {!payment.Confirmed_By__r.Name} on {!payment.Confirmed_Date__c}"
																			style="border: 0 none; padding-right: 5px; position: relative; top: 2px;" />
																			
																			<apex:image url="{!URLFOR($Resource.icons,'icons/commons/accept_disabled.png')}" rendered="{!payment.Confirmed_Date__c ==null}" 
																			title="Not confirmed yet"
																			style="border: 0 none; padding-right: 5px; position: relative; top: 2px;" />
																		</div>
																		<div style="float:right; padding-right:10px;">
																			<apex:outputText value="{0, number, currency}" >
																				<apex:param value="{!payment.Value__c}" />
																			</apex:outputText>
																		</div>
																	</td>
																	<td style="width:50%;">
																		<apex:outputText value="{!payment.Payment_Type__c}" style="display:block;" />
																		<div style="font-size:11px;margin-top: -7px;" >on&nbsp;
																			<apex:outputField value="{!payment.Date_Paid__c}" />
																		</div>
																		<apex:outputpanel layout="block" style="font-size:11px;margin-top: -7px;color:red;font-style:italic" rendered="{!i.installment.isInstalment_Amendment__c}">
																			Amendment
																		</apex:outputpanel>
																	</td>
																</tr>
															</apex:repeat>								
														</table>
													</apex:outputpanel>
													<!-- END -- Original Payments -->
													
													<apex:outputpanel layout="none" rendered="{!AND(ISNULL(i.installment.Invoice__c), i.installment.client_course_instalment_payments__r.size<1)}">
														<div style="text-align:center">-</div>
													</apex:outputpanel>
													
													
													
													
												</td>
												
												<td style="width: 17%;">
													
													<apex:outputpanel id="fees">
														<table class="tb_payments" style="border:0px; width:100%;">
															<tr>
																<td style="border:none !important;width: 100%;">
																	<apex:outputpanel layout="block" rendered="{!OR(i.feeInstall.size>0,i.amendmentFees.size>0)}" >
																		<table class="tableInstal smoothTh" style="border: 0 none; margin-bottom:10px;">
																			<tr>
																				<th> Fee Name</th>
																				<th> Value </th>
																				<th style="text-align:right;padding-right: 3px;"> Keep Value</th>
																			</tr>
																				<apex:repeat value="{!i.feeInstall}" var="fi">
																					<tr>
																						<td style="text-align: left;padding-left: 5px; width:50%;">
																							
																							<apex:outputText value="{!LEFT(fi.feeName,15)}" styleClass="mini" title="{!fi.feeName}" escape="false" />
																							<apex:outputText value="..." rendered="{!LEN(fi.feeName) > 15}" styleClass="mini" title="{!fi.feeName}" />
																							
																						</td>
																						<td style="text-align: left;width:25%;">
																							<apex:outputText value="{0, number, currency}" >
																								<apex:param value="{!fi.feeValue}" />
																							</apex:outputText>
																							
																						</td>
																						<td style="padding-right: 5px;width:25%;text-align:right;">					
																							<apex:inputtext value="{!fi.changeKeepFee}" styleclass="keepfee-{!i.installment.id}" onkeyup="jQuery('.save-{!i.installment.id}').show()" style="width: 65px;{!IF(AND(ISNULL(i.installment.Paid_To_School_On__c),NOT(i.installment.isInstalment_Amendment__c)), '', 'display:none')}" />
																							
																							<apex:outputText value="{0, number, currency}" styleclass="{!IF(fi.keepFee>0 ,'redFont', '')};" style="{!IF(AND(NOT(ISNULL(i.installment.Paid_To_School_On__c)),NOT(i.installment.isInstalment_Amendment__c)), '', 'display:none')}" >
																								<apex:param value="{!fi.changeKeepFee}" />
																							</apex:outputText>
																							
																							
																							<apex:outputText value="{0, number, currency}" styleclass="{!IF(fi.keepFee>0 ,'redFont', '')};" style="{!IF(i.installment.isInstalment_Amendment__c, '', 'display:none')}" >
																								<apex:param value="{!fi.changeKeepFee + fi.keepFee}" />
																							</apex:outputText>
																						</td>
																					</tr>
																				</apex:repeat>
																				
																				<apex:repeat value="{!i.amendmentFees}" var="fi">
																					<tr>
																						<td style="text-align: left;padding-left: 5px; width:50%;">
																							
																							<apex:outputText value="{!LEFT(fi.feeName,15)}" styleClass="mini" title="{!fi.feeName}" escape="false" />
																							<apex:outputText value="..." rendered="{!LEN(fi.feeName) > 15}" styleClass="mini" title="{!fi.feeName}" />
																							<apex:outputpanel layout="block" style="font-size:11px;margin-top: -7px;color:red;font-style:italic" rendered="{!i.installment.isInstalment_Amendment__c}">
																								Amendment
																							</apex:outputpanel>
																							
																						</td>
																						<td style="text-align: left;width:25%;">
																							<apex:outputText value="{0, number, currency}" >
																								<apex:param value="{!fi.feeValue}" />
																							</apex:outputText>
																							
																						</td>
																						<td style="padding-right: 5px;width:25%;text-align:right;">					
																							<apex:inputtext value="{!fi.changeKeepFee}" styleclass="keepfee-{!i.installment.id}" onkeyup="jQuery('.save-{!i.installment.id}').show()" style="width: 65px;{!IF(ISNULL(i.installment.Paid_To_School_On__c), '', 'display:none')}" />
																							
																							<apex:outputText value="{0, number, currency}" styleclass="{!IF(fi.keepFee>0 ,'redFont', '')};" style="{!IF(NOT(ISNULL(i.installment.Paid_To_School_On__c)), '', 'display:none')}">
																								<apex:param value="{!fi.changeKeepFee}" />
																							</apex:outputText>
																						</td>
																					</tr>
																				</apex:repeat>
																				
																			</table>															
																		</apex:outputpanel>
																		
																		<table class="tableInstal smoothTh" style="border-bottom: 0 none;min-width: 85px !important;">
																			<tr>
																				<th style="width:40%;"> Deal Name </th>
																				<th style="width:20%;"> Description </th>
																				<th style="width:20%;text-align:right;padding-right: 3px;"> Value </th>
																				<th style="width:20%;text-align:right;padding-right: 3px;"> Amount </th>
																			</tr>
																			<tr>
																				<td>
																					<b>Commission</b>
																				</td>
																				<td style="text-align:center;">
																					<apex:outputText value="{!IF(i.installment.client_course__r.Commission_Type__c==1,'Cash','%')}" />
																				</td>
																				<td style="text-align:right;">
																					<apex:outputpanel id="commission">
																						<apex:inputfield value="{!i.installment.Commission__c}" style="width:75px; {!IF(i.installment.Commission__c > 0, '','color:red;')}" 
																							onchange="jQuery('.save-{!i.installment.id}').show()" rendered="{!ISNULL(i.installment.Paid_To_School_On__c) && NOT(i.installment.isInstalment_Amendment__c)}" styleclass="commission-{!i.installment.id}"/>
																						
																						<apex:outputText value="{0, number, currency}" rendered="{!NOT(ISNULL(i.installment.Paid_To_School_On__c)) || i.installment.isInstalment_Amendment__c}" 
																						style="{!IF(i.installment.Commission__c > 0, '','color:red;')}" >
																							<apex:param value="{!i.installment.Commission__c}" />
																						</apex:outputText>
																					</apex:outputpanel>
																				</td>
																				<td style="text-align:right;">
																					<apex:outputText value="{0, number, currency}" style="{!IF(i.installment.Commission_Value__c>0,'','color:red')}">
																						<apex:param value="{!i.installment.Commission_Value__c}" />
																					</apex:outputText>
																				</td>
																			</tr>
																			<tr>
																				<td>
																					<b>{!i.installment.client_course__r.Commission_Tax_Name__c}</b>
																				</td>
																				<td style="text-align:center;">
																					%
																				</td>
																				<td style="text-align:right;">
																					<apex:outputpanel id="commissionTax">
																						<apex:inputfield value="{!i.installment.Commission_Tax_Rate__c}" style="width:75px; {!IF(i.installment.Commission_Tax_Rate__c > 0, '','color:red;')}" 
																						onchange="jQuery('.save-{!i.installment.id}').show()" rendered="{!ISNULL(i.installment.Paid_To_School_On__c) && NOT(i.installment.isInstalment_Amendment__c)}" styleclass="commission-{!i.installment.id}"/>
																						
																						<apex:outputText value="{0, number, currency}" rendered="{!NOT(ISNULL(i.installment.Paid_To_School_On__c)) || i.installment.isInstalment_Amendment__c}" style="{!IF(i.installment.Commission_Tax_Rate__c > 0, '','color:red;')}" >
																							<apex:param value="{!i.installment.Commission_Tax_Rate__c}" />
																						</apex:outputText>
																					</apex:outputpanel>
																				</td>
																				<td style="text-align:right;">
																					<!-- <div style="{!IF(i.installment.Commission_Tax_Value__c > 0, '','color:red;')}">
																						<apex:outputField value="{!i.installment.Commission_Tax_Value__c}" />
																					</div> -->
																					<apex:outputText value="{0, number, currency}" style="{!IF(i.installment.Commission_Tax_Value__c > 0, '','color:red;')}" >
																						<apex:param value="{!i.installment.Commission_Tax_Value__c}" />
																					</apex:outputText>
																				</td>
																			</tr>
																			
																			<tr>
																				<td>
																					Scholarship
																				</td>
																				<td style="text-align:center;">
																					-
																				</td>
																				<td style="text-align:right;">
																					<apex:outputpanel id="scholarship">
																						<apex:inputfield value="{!i.installment.Scholarship_Taken__c}" style="width:75px;" onchange="jQuery('.save-{!i.installment.id}').show()" 
																							rendered="{!ISNULL(i.installment.Paid_To_School_On__c) && NOT(i.installment.isInstalment_Amendment__c)}" styleclass="scholarship-{!i.installment.id}"/>
																						
																						<apex:outputText value="{0, number, currency}" rendered="{!NOT(ISNULL(i.installment.Paid_To_School_On__c)) || i.installment.isInstalment_Amendment__c}" >
																							<apex:param value="{!i.installment.Scholarship_Taken__c}" />
																						</apex:outputText>
																					</apex:outputpanel>
																				</td>
																				<td style="text-align:right;">
																					<apex:outputText value="{0, number, currency}" >
																							<apex:param value="{!i.installment.Scholarship_Taken__c}" />
																						</apex:outputText>
																				</td>
																			</tr>
																			<tr>
																				<td>
																					Agent Deal
																				</td>
																				<td>
																						<apex:inputfield value="{!i.installment.Agent_Deal_Name__c}" style="width:75px;" onchange="jQuery('.save-{!i.installment.id}').show()" 
																							rendered="{!ISNULL(i.installment.Paid_To_School_On__c) && NOT(i.installment.isInstalment_Amendment__c)}" styleclass="agentdeal-{!i.installment.id}"/>
																						
																						<apex:outputText value="{!i.installment.Agent_Deal_Name__c}" rendered="{!NOT(ISNULL(i.installment.Paid_To_School_On__c)) || i.installment.isInstalment_Amendment__c}" styleclass="agentdeal-{!i.installment.id}"/>
																						
																				</td>
																				<td style="text-align:right;">
																					<apex:outputpanel id="agentDeal">
																					
																						<apex:variable value="{!instalmentDocs[i.installment.id]}" var="docs" />
																						<apex:inputfield value="{!i.installment.Agent_Deal_Value__c}" style="width:75px;" onchange="jQuery('.save-{!i.installment.id}').show()" 
																							rendered="{!ISNULL(i.installment.Paid_To_School_On__c) && NOT(i.installment.isInstalment_Amendment__c)}" styleclass="agentdeal-{!i.installment.id}"/>
																						
																						<apex:outputText value="{0, number, currency}" rendered="{!NOT(ISNULL(i.installment.Paid_To_School_On__c)) || i.installment.isInstalment_Amendment__c}" >
																							<apex:param value="{!i.installment.Agent_Deal_Value__c}" />
																						</apex:outputText>
																						
																				</apex:outputpanel>
																				</td>
																				<td style="text-align:right;">
																					<apex:outputText value="{0, number, currency}" >
																						<apex:param value="{!i.installment.Agent_Deal_Value__c}" />
																					</apex:outputText>
																				</td>
																			</tr>
																			<apex:outputpanel layout="none" rendered="{!NOT(ISBLANK(i.installment.Discount__c)) && i.installment.Discount__c > 0}">
																				<tr>
																					<td>
																						<apex:outputText value="Discount: " styleClass="dueDate discount" />
																					</td>
																					<td style="text-align:center;">
																						-
																					</td>
																					<td style="text-align:right;">
																						<span class="dueDate datetime discount" >
																							<apex:outputText value="{0, number, currency}" >
																								<apex:param value="{!i.installment.Discount__c}" />
																							</apex:outputText>
																						</span>
																					</td>
																					<td style="text-align:right;">
																						<span class="dueDate datetime discount" >
																							<apex:outputText value="{0, number, currency}" >
																								<apex:param value="{!i.installment.Discount__c}" />
																							</apex:outputText>
																						</span>
																					</td>
																				</tr>
																			</apex:outputpanel>
																			<tr>
																				<td colspan="3">
																					Total Earned
																					<img class="helpIcon" alt="" src="/s.gif" title="Balance = Commision + Scholarship + Keep Fee + Agency Deal - Discount" />
																				</td>
																				<td  style="text-align:right;">
																					<apex:outputText value="{0, number, currency}" >
																						<apex:param value="{!i.installment.Balance__c}" />
																					</apex:outputText>
																				</td>
																			</tr>
																		</table>	
																		
																		<apex:outputpanel layout="block" style="color:red;font-style:italic;" rendered="{!i.installment.isInstalment_Amendment__c}">
																			"Fees and Deals" can only be changed on the Instalment amendment window.
																		</apex:outputpanel>
																</td>
															</tr>												
															<tr>
																<td style="text-align:center;border:none !important;">														
																
																	<apex:outputpanel styleclass="changes-{!i.installment.id}" id="changeValue" >
																		<apex:pageMessages escape="false" />
																		
																		
																		<apex:outputpanel layout="block" styleclass="save-{!i.installment.id}" style="margin-top:5px;">
																			<apex:commandlink value="Cancel" action="{!cancelChanges}" onclick="loadRow('row-{!i.installment.id}');" rerender="viewCommission,commission,fees,changeValue,payToSchool, documents" styleclass="agencyButton" >
																				<apex:param name="id" value="{!i.installment.id}" />
																			</apex:commandlink>
																			<apex:commandlink value="Save" action="{!saveChanges}" onclick="loadRow('row-{!i.installment.id}');" rerender="viewCommission,commission,fees,changeValue,payToSchool, documents" styleclass="agencyButton" >
																				<apex:param name="id" value="{!i.installment.id}" />
																			</apex:commandlink>
																		</apex:outputpanel>
																		
																		<script>		
																			hideLoadRow('row-{!i.installment.id}');
																		
																			if(jQuery('.changes-{!i.installment.id}').find('table.messageTable tr').length == 0){
																				jQuery('.save-{!i.installment.id}').css('display', 'none');
																			}else{
																				jQuery('.save-{!i.installment.id}').css('display', '');
																			}
																		</script>
																		
																	</apex:outputpanel>
																</td>
															</tr>
														</table>
														
														
													</apex:outputpanel>									
												
												</td>
												
												
												
												<td style="width:6%;text-align: right; min-width: 105px !important;">
													<apex:variable value="{!instalmentDocs[i.installment.id]}" var="docs"/>			
													<apex:outputpanel layout="block" id="payToSchool">
														<apex:image url="{!URLFOR($Resource.icons,'icons/commons/information.png')}" style="margin-right:4px; position: relative; top: 3px;float: left;" rendered="{!NOT(ISNULL(i.installment.Payment_Notes__c))}" title="{!i.installment.Payment_Notes__c}"/>
														 
														<apex:outputText value="{0, number, currency}" style="font-weight: bold; font-size: 17px;" > <!-- styleclass="{!IF(i.installment.Total_School_Payment__c!=i.installment.Instalment_Value__c ,'redFont', '')}" -->
															<apex:param value="{!i.installment.Total_School_Payment__c}" />
														</apex:outputText>
														
														<div class="pfsBlock">
															<apex:image url="{!URLFOR($Resource.icons,'icons/commons/icon_alert.gif')}" style="margin-right: 1px; position: relative; "
																 rendered="{!NOT(ISNULL(i.installment.client_course__r.PFS_Details__c))}" title="{!i.installment.client_course__r.PFS_Details__c}"/>
															<apex:inputfield value="{!i.installment.isPFS__c}" onChange="jQuery('.save-{!i.installment.id}').show();" rendered="{!ISNULL(i.installment.Paid_To_School_On__c) && i.installment.Amendment_PFS_Adjustment__c<=0}" />
															<apex:outputfield value="{!i.installment.isPFS__c}" rendered="{!NOT(ISNULL(i.installment.Paid_To_School_On__c)) || i.installment.Amendment_PFS_Adjustment__c>0}" />
															<span style="font-size: 0.8em;position: relative; top: -2px; ">PFS payment</span>
														</div>
														
														
													</apex:outputpanel>
													
												</td>
												
												<td class="fileUpload td-{!i.installment.id}">
													<apex:outputpanel layout="block" id="documents" style="overflow: hidden;min-height: 70px;width:99;"> 
														<apex:outputpanel layout="none" rendered="{!i.installment.Total_School_Payment__c>0}">
															<span style="font-weight:bold">School Payment Reference:</span> {!i.installment.client_course__r.client__r.FirstName} {!i.installment.client_course__r.client__r.LastName} <br/>
														<!-- 	{!mapSchools[i.installment.client_course__r.Campus_Course__r.Campus__c].Parent.NickName__c} -->
																							
															<script>hideLoadRow('row-'+'{!i.installment.id}')</script>											
															<apex:outputpanel rendered="{!ISNULL(i.installment.Paid_To_School_On__c)}" layout="block" styleclass="files">
																<div style="padding: 2px; background-color: rgb(193, 193, 193); color: white; font-weight: bold;">
																	Netbank Receipt 
																	<apex:outputText value="First Instalment Package" style="color:navy; float: right; margin-right: 5px;" rendered="{!AND(i.installment.client_course__r.isPackage__c,i.installment.isFirstPayment__c)}" />
																	
																	<apex:outputText value="Required Payment for COE Pkg" style="color:red; float: right; margin-right: 5px;" rendered="{!i.installment.Required_for_COE__c}" />
																</div>
																<iframe class="upload" src="payment_uploadFiles?id={!i.installment.Client_Document__c}&obj=Client_Document__c" width="100%" height="auto" style="min-height: 100px;padding: 0px;background: none transparent; background-color: transparent;" allowTransparency="true" />
															</apex:outputpanel>
															
															<apex:outputpanel rendered="{!NOT(ISNULL(i.installment.Paid_To_School_On__c))}" layout="block" style="float:left;width:100%;">
																<div style="padding: 2px; background-color: rgb(193, 193, 193); color: white; font-weight: bold;">Netbank Receipt</div>
																<table class="tableInstal smoothTh" style="float:left;width:100% !important;border-bottom: 0 none;margin-top:0px !important;">
																	<apex:repeat value="{!docs}" var="doc">
																		<tr><td style="padding:5px;"><apex:outputLink value="{!doc.url}" target="_blank"> {!doc.name} </apex:outputLink></td></tr>
																	</apex:repeat>
																</table>
															</apex:outputpanel>
														</apex:outputpanel>
														
														<apex:outputpanel layout="block" style="text-align:center;margin-top: 55px;" rendered="{!i.installment.Total_School_Payment__c==0 }">
															No documents to be added.
														</apex:outputpanel>
														
													</apex:outputpanel>
												</td>
												<td style="width: 7%;vertical-align:middle !important;">
													<apex:outputpanel id="buttons">
														<!-- <apex:commandlink value="Confirm" action="{!generatePreviewLink}" styleclass="agencyButton" rerender="resultSec" style="padding: 4px 10px;" 
															onClick="if(!checkFiles('.td-'+'{!i.installment.id}')) return false; loadRow('row-'+'{!i.installment.id}');"  rendered="{!ISNULL(i.installment.Paid_To_School_On__c)}">
															<apex:param name="id" value="{!i.installment.Client_Document__c}" />
															<apex:param name="inst" value="{!i.installment.id}" />
														</apex:commandlink> -->
														
														<apex:commandlink value="Confirm" action="{!generatePreviewLink}" styleclass="agencyButton" rerender="resultSec" style="padding: 4px 10px;" status="statusLoad"
															onClick="if(!checkFiles('.td-'+'{!i.installment.id}')) return false; if(!checkCommission('.commission-{!i.installment.id}')) return false;"  rendered="{!ISNULL(i.installment.Paid_To_School_On__c)}">
															<apex:param name="id" value="{!i.installment.Client_Document__c}" />
															<apex:param name="inst" value="{!i.installment.id}" />
														</apex:commandlink>
														
														<apex:commandlink value="Send Email"  styleclass="agencyButton" rerender="instalDocuments" style="padding: 4px 10px;white-space: nowrap;" onClick="sendEmail('{!i.installment.id}','{!i.installment.Client_Document__c}', '{!selectedAgency}'); return false;" 
															rendered="{!NOT(ISNULL(i.installment.Paid_To_School_On__c))}"/>
															
															
														 <apex:commandlink style="font-size: 0.8em; text-decoration: underline; display: block;" onclick="modalWind=dhtmlmodal.open('paymentComment', 'iframe', 'payment_add_note?id={!i.installment.id}', 'Add Payment Comment', 'width=600px,height=300px,resize=1,center=1,scrolling=1'); setCloseModal(); return false; ">
														  	Add/View Comment
													  	  </apex:commandlink>
													  	  
													  	  <apex:outputLink style="font-size: 0.8em; text-decoration: underline; display: block;" value="payment_school_invoice?type=payment&id={!i.installment.id}" target="_Blank">
														  	View Invoice
													  	  </apex:outputLink>	
													</apex:outputpanel>
												</td>
											</tr>
											</apex:actionRegion>
										</apex:repeat>
										</tbody>
									</table>	
									
								</apex:outputpanel>			
							</apex:outputPanel>
						</div>				
					</div>	
					<apex:outputPanel id="myButtons" layout="block" style="display:block; text-align: center; padding: 7px;" >
						<apex:outputPanel style="float:right;color:gray;padding-top:5px;">Page {!pageNumber} of {!totalPages}</apex:outputPanel>
						<apex:commandButton action="{!Beginning}" title="Beginning" value="<<" disabled="{!disablePrevious}" reRender="myButtons, resultSec " status="statusLoad" immediate="true" />
				       	<apex:commandButton action="{!Previous}" title="Previous" value="<" disabled="{!disablePrevious}" reRender="myButtons, resultSec " status="statusLoad" immediate="true" />
				       	<apex:commandButton action="{!Next}" title="Next" value=">" disabled="{!disableNext}" reRender="myButtons, resultSec " status="statusLoad" immediate="true" />
						<apex:commandButton action="{!End}" title="End" value=">>" disabled="{!disableNext}" reRender="myButtons, resultSec " status="statusLoad"  immediate="true" />
					</apex:outputPanel>
				</apex:form>
			</td>
		</tr>
	</table>
<c:limits id="pbLimits"/>
	
	<script>
	
		var modalWind;
	
		jQuery(document).ready(function() {
			jQuery('.chosen').chosen();
		});	
		
		
		function checkFiles(tdClass){
			if(jQuery(tdClass).find("iframe").contents().find('#btnUpload').is(":disabled") && jQuery(tdClass).find("iframe").contents().find('.list tr').length<2){
				alert('You must upload at least one file.');
				return false;
			}else if((!jQuery(tdClass).find("iframe").contents().find('#btnUpload').is(":disabled")) && jQuery(tdClass).find("iframe").contents().find('.list tr').length>1){
				alert('Please upload all files before you confirm.');
				return false;
			}
			else if(jQuery(tdClass).find("iframe").contents().find('#btnUpload').is(":disabled") && jQuery(tdClass).find("iframe").contents().find('#btnBrowse').is(":disabled")){
				alert('Please wait the documents to be uploaded before you confirm.');
				return false;
			}
			
			else return true;
				
		}
		
		function checkCommission(cm){
			if (jQuery(cm).val() == 0)
				if(!confirm('Are you sure that you want the confirm with 0 COMMISSION?'))
					return false;
			return true;
		}
		
		function loadRow(rowName){
	    	jQuery('.'+rowName).block({  message: '<H1 style="font-size:1.3em">Loading...</H1>',
			    css: { 
			      border: 'none', 
			      padding: '15px', 
			      backgroundColor: '#000', 
			      '-webkit-border-radius': '10px', 
			      '-moz-border-radius': '10px', 
			      opacity: 30, 
			      color: '#fff',
			      top:  ($(window).height() - 200) /2 + 'px', 
			      left: ($(window).width() - 200) /2 + 'px', 
			      width: '200px'
			    } 
		    }); 
		    
		    
		}
		
		function UpdateOpener(){
			jQuery('#interVeil').css('display','none');	
			modalWind.close();
			refresh();
		}
		
		function setCloseModal(){
			jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
			jQuery('.Close').unbind('click'); 
			jQuery('.Close').click(function() {closemodal();});
		}
		
		function closemodal(){
			jQuery('#interVeil').css('display','none');	
			modalWind.close();
		}
		
		
		
		
		function sendEmail(instId, docId, agency){
		   modalWind = dhtmlmodal.open('sendEmail', 'iframe', 'payment_school_email?visits=false&id='+instId+'&doc='+docId+'&type=payment'+'&ag='+agency, 'Send Email - School Payment', 'width=800px,height=800px,resize=1,center=1,scrolling=0');
	       setCloseModal();
	    } 
		
		
		function setFocusOnLoad() {}
	
		function toggleSave(instalment){
			if(jQuery('.cb_'+instalment+':checked').length > 0)
				jQuery('.sv_'+instalment).show();
			else
				jQuery('.sv_'+instalment).hide();
		}
		
		
		 
	</script>
	

</apex:page>