<apex:page controller="payments_reconciliation_edit_payment" sideBar="false" showHeader="false">

<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
    <c:modalLoadingLightning />
    <apex:slds /> 

	<style>
		.box{
			background-color: #f4f6f9;
			padding: 5px;
			margin: 4px;
			border-radius: 5px;
			display: block;
			margin-bottom: 7px;
			border: 1px solid #f8f8f8;
		} 

		.dateFormat{
			display:none;
		}
	</style>
</head>

<div class="slds-scope">
	<apex:form >
		<apex:actionFunction name="deleteDeposit" action="{!deletePayment}" status="statusLoad" rerender="wholepage" immediate="true" >
			<apex:param name="type" value="" />
			<apex:param name="value" value="" />
			<apex:param name="pDate" value="" />
		</apex:actionFunction>

		
		<apex:outputPanel id="wholepage">

			<!-- AVAILABLE DEPOSIT -->
			<apex:outputpanel layout="block" rendered="{!AND(NOT(ISNULL(clientDeposit.Deposit_Total_Available__c)),clientDeposit.Deposit_Total_Available__c>0)}" styleClass="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning" html-role="alert" style="background-color: #eef128;">
				<span class="slds-assistive-text">warning</span>
				<span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small" >
					<svg class="slds-icon slds-icon_x-small" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#warning')}"/>
					</svg>
				</span>
				<span style="" onclick="">
					<span style="font-size: 1.1em;">Deposit available to use:</span>&nbsp;

					<apex:outputText value="{0, number, currency}" style="font-weight:bold;" id="depositList">
						<apex:param value="{!clientDeposit.Deposit_Total_Value__c - clientDeposit.Deposit_Total_Used__c - clientDeposit.Deposit_Total_Refund__c}" />
					</apex:outputText>
				</span>
				<button class="slds-button slds-button_icon slds-notify__close slds-button_icon-inverse" title="Close">
					<svg class="slds-button__icon" aria-hidden="true">
					<use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
					</svg>
					<span class="slds-assistive-text">Close</span>
				</button>
			</apex:outputpanel>

			<div class="box">
				<div class="slds-text-heading_small" style="background-color: white; margin-bottom: 5px; padding: 5px; border-radius: 5px;font-weight: 200;">
					{!clientName} paid a total amount of 
					<apex:outputText value=" {0, number, currency}" >
						<apex:param value="{!totalPayment}" />
					</apex:outputText>&nbsp;{!objCurrency}
				</div>
			</div>

			<apex:outputpanel layout="block" styleclass="box" rendered="{!currentUser.Finance_Backoffice_User__c}">
				<div class="slds-text-heading_small" style="background-color: white; margin-bottom: 5px; padding: 5px; border-radius: 5px;font-weight: 200;">
					<table>
						<tr>
							<td>
								<apex:outputPanel styleClass="SearchField" id="agencies">
									<div class="SearchInput">
										<apex:selectList value="{!selectedAgency}" style="width:200px !important;" size="1" styleclass="chosen">
											<apex:SelectOptions value="{!agencyOptions}" />
										</apex:selectList>
									</div>
									<div class="SearchFooter"><span class="SearchLabel">Received by Agency</span></div>
								</apex:outputPanel>
							</td>
							
						</tr>
					</table>
				</div>
			</apex:outputpanel>

			<!-- A D D 		P A Y M E N T -->
			<apex:outputpanel layout="block" styleclass="box">
				<div class="slds-text-heading_small" style="background-color: white; margin-bottom: 5px; padding: 5px; border-radius: 5px;font-weight: 200; text-align:right;">
					<apex:outputtext value="Outstanding Amount: ${! totalPayment - totalPaid} {!objCurrency}" styleclass="slds-text-color_error" style="" />
				</div>
				<apex:outputPanel id="pnlDepositValue" layout="block" styleClass="">
					<ul class="slds-list_horizontal ">
						<li class="slds-grid slds-grid--vertical slds-size_1-of-4 slds-p-bottom_small">
							<label class="slds-form-element__label" for="piValue">
								<abbr class="slds-required" title="required">*</abbr>Payment Type
							</label>
							<apex:selectList value="{!newPayment.Payment_Type__c}" styleClass="slds-select" size="1" required="true">
								<apex:selectOptions value="{!addPaymentsType}" />
							</apex:selectList>
						</li>

						<li class="slds-grid slds-grid--vertical slds-size_1-of-4 slds-p-bottom_small" style="text-align: center;">
							<label class="slds-form-element__label" for="piValue">
								<abbr class="slds-required" title="required">*</abbr>Payment Date
							</label>
							<apex:inputfield value="{!newPayment.Date_Paid__c}" styleClass="slds-input" style="width: 92%;" id="dateDeposit"/>
						</li>

						<li class="slds-grid slds-grid--vertical slds-size_1-of-4 slds-p-bottom_small" style="text-align: center;">
							<label class="slds-form-element__label" for="piValue">
								<abbr class="slds-required" title="required">*</abbr>Amount
							</label>
							<apex:inputText value="{!newPayment.Value__c}" styleClass="slds-input" style="width: 92%;"/>
						</li>

						<li class="slds-grid slds-grid--vertical slds-size_1-of-4 slds-p-bottom_small">
							<label class="slds-form-element__label" for="piValue">
							</label>
							<apex:commandLink action="{!addPayment}" value="Add Payment" status="statusLoad" styleClass="slds-button slds-button_brand" reRender="wholepage" style="position: relative; top: 17px;"/>
						</li>
					</ul>
					
				</apex:outputPanel>
			</apex:outputpanel>

			<apex:pageMessages />

			<apex:outputPanel layout="block" styleclass="box">
				<table class="slds-table slds-table_bordered slds-table_cell-buffer slds-table_striped" width="100%" >
					<thead>
						<tr class="slds-text-title_caps">
							<th width="70px"></th>
							<th>Type</th>
							<th>Date</th>
							<th>Value</th>
						</tr>
					</thead>
					<tbody>
						<apex:repeat value="{!payments}" var="pay">

							<apex:outputpanel layout="none" rendered="{!AND(ISNULL(pay.Confirmed_Date__c), LOWER(pay.Payment_Type__c)!='offshore', LOWER(pay.Payment_Type__c)!='client scholarship', LOWER(pay.Payment_Type__c)!='school credit', LOWER(pay.Payment_Type__c)!='deposit')}">
								<tr>
									<td>
										<apex:commandLink value="Delete"  onclick="if(confirm('Are you sure you want to delete this payment?')) deleteDeposit('{!pay.Payment_Type__c}','{!pay.Value__c}', '{!pay.Date_Paid__c}'); return false;" >
											<apex:param name="type" value="{!pay.Payment_Type__c}" />
											<apex:param name="value" value="{!pay.Value__c}" />
											<apex:param name="date" value="{!pay.Date_Paid__c}" />
										</apex:commandLink>
									</td>
									<td>
										<apex:selectList value="{!pay.Payment_Type__c}" size="1" styleClass="slds-select">
											<apex:param name="type" value="{!pay.Payment_Type__c}" />
											<apex:selectOptions value="{!paymentsType}" />
										</apex:selectList>
									</td>
									<td>
										<apex:inputfield value="{!pay.Date_Paid__c}" styleClass="slds-input"/>
									</td>
									<td class="alignRight">
										<apex:inputfield value="{!pay.Value__c}" styleClass="slds-input"/>
									</td>
								</tr>
							</apex:outputpanel>

							<apex:outputpanel layout="none" rendered="{!OR(NOT(ISNULL(pay.Confirmed_Date__c)), LOWER(pay.Payment_Type__c)=='offshore', LOWER(pay.Payment_Type__c)=='client scholarship', LOWER(pay.Payment_Type__c)=='deposit', LOWER(pay.Payment_Type__c)=='school credit')}">
								<tr style="">
									<td>
										<apex:commandLink value="Delete"  onclick="if(confirm('Are you sure you want to delete this payment?')) deleteDeposit('{!pay.Payment_Type__c}','{!pay.Value__c}', '{!pay.Date_Paid__c}'); return false;" rendered="{!ISNULL(pay.id)}">
											<apex:param name="type" value="{!pay.Payment_Type__c}" />
											<apex:param name="value" value="{!pay.Value__c}" />
											<apex:param name="date" value="{!pay.Date_Paid__c}" />
										</apex:commandLink>
									</td>
									<td>
										<apex:outputfield value="{!pay.Payment_Type__c}" />
									</td>
									<td>
										<apex:outputfield value="{!pay.Date_Paid__c}"/>
									</td>
									<td class="alignRight">
										<apex:outputText value=" {0, number, currency}">
											<apex:param value="{!pay.Value__c}" />
										</apex:outputText>
									</td>
								</tr>
							</apex:outputpanel>
						</apex:repeat>
					</tbody>
					<!-- <tfoot>
						<tr>
							<td colspan="4">Total paid ({!objCurrency}) &nbsp;
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!totalPaid}" />
								</apex:outputText>
							</td>
						</tr>
					</tfoot> -->
				</table>
			</apex:outputPanel>


			<apex:outputpanel id="verifyErrors" rendered="{!showError}">
				<script>
						parent.UpdateOpener();
				</script>
			</apex:outputpanel>
		</apex:outputpanel>


		<footer class="slds-modal__footer" style="text-align: center; bottom: 0; position: fixed; width: 100%;">
			<apex:commandLink value="Cancel" styleClass="slds-button slds-button_neutral" onclick="parent.closemodal(); return false;" />

			<apex:commandLink value="Save" styleClass="slds-button slds-button_brand" action="{!saveChanges}" status="statusLoad" rerender="wholepage"/>
		</footer>
	</apex:form>

	<!-- MSG DIALOG -->
	<div id="dialog-confirm" title="Confirm Deposit Deletion" style="display: none;">
	  <p><img src="/img/msg_icons/warning32.png" style="float:left; margin:0px 12px 20px 0;" /></p>
	  <p><b>Are you sure you want to delete this payment?</b></p>
	</div>
</div>				

	
</html>
</apex:page>