<apex:page controller="pds_pfs_track" tabstyle="finance__tab">

	<apex:include pageName="xStylePageV2" />
	<apex:include pageName="xCourseSearchStyle" />
	
	<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />	
	<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />
	
	<style>
		.tbl_Commission{
			width: 100%;
			border-spacing: 0;
			border: 1px solid #d3d3d3;
		}
		.tbl_Commission td{
			line-height: 25px;
			border-right: 1px solid #d3d3d3;
			border-bottom: 1px solid #d3d3d3;
			padding: 0 3px;
		}
		
		.tbl_Commission th{
			background: none repeat scroll 0 0 gray;
		    border-right: 1px solid #d3d3d3;
		    color: #fff;
		    font-size: 0.9em;
		    padding: 5px 7px;
		}
		
		.tbl_Commission tr:nth-child(even){ background-color:#f1f1f1;; }
		.tbl_Commission tr:nth-child(odd){ background-color:#FFF; }
		
		
		.tbl_Commission tr:hover{
			background-color: #c1c1c1;
		}
		
		.divFilter{
			padding: 10px;
			border: solid 1px gray;
		}
		
		.dateFormat{
			display: none;
		}
		
		.numberStyle{
			text-align: right;
		}
		
		.commHeader{
			background-color: #e6e6e6;
			padding: 5px;
			border: solid 1px #999;
			border-radius: 3px;
			font-size:1.3em;
			font-weight: bold;
			margin-top: 15px;
			dispplay: block;
		}
		
		.valueInput{
			width: 60px;
		}
		
		.filterbox {
			display: block;
			float: left;
			//width: 10%;
			min-width: 160px;
		}
		
		.filterbox select { width: 150px; }
		
		
		.filters {			
			border: 1px solid #999999 !important;
		    border-radius: 5px;
		    box-shadow: 0 0 0 #cccccc;
		   	height: 35px;
			margin: 1em 0.5em 0.5em 0.5em;
			padding: 15px;
			display: block;			
			background-color: #f3f3f3;
		}
		
		.shareTable{
			width: 100%;
		}
		
		.shareTable td {
		    border: 1px solid #c1c1c1;
		}
		
		.labelLine{
			color:#666;
			font-size: 0.9em;
		}
		
		.labelCommission{
			font-weight: bold;
		}
		
		.pfsStyle{
			color: green;
			font-weight: bold;
			border: 1px solid !important;
			padding: 1px;
			border-radius: 3px;
		}
		.pdsStyle{
			color: red;
			font-weight: bold;
			border: 1px solid !important;
			padding: 1px;
			border-radius: 3px;
		}
		.pcsStyle{
			color: blue;
			font-weight: bold;
			border: 1px solid !important;
			padding: 1px;
			border-radius: 3px;
		}
	</style>
	<table class="tbl_Details">
	<tr>					
		<td class="sidesColumn">					
			<c:menuFinance selectedItem="pdsPFSTrack" />
		</td>
	
		<td class="middleColumn bodyColumn">
			<div class="title" style="font-size:1.5em;">
				<span class="arrow-e" style="font-size: 1.5em;"></span>&nbsp;PDS/PFS Track
			</div>
			<br/>
			<apex:form >
				<div class="filters">
					<apex:outputPanel id="formFilters">
						<div class="filterbox">
						 	<apex:selectList value="{!selectedAgencyGroup}" size="1" styleclass="chosen">
				                 <apex:SelectOptions value="{!agencyGroupOptions}" />
				                 <apex:actionSupport event="onchange" rerender="formFilters" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>
				             </apex:selectList>
			                 <apex:outputText value="Agency Group" style="display: block;" /> 
						</div>
						<div class="filterbox">
						 	<apex:selectList value="{!selectedAgency}" size="1" id="agencyList" styleclass="chosen">
				                 <apex:SelectOptions value="{!agencyOptions}" />
				                 <apex:actionSupport event="onchange" rerender="formFilters" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>
				             </apex:selectList>
			                 <apex:outputText value="Agency" style="display: block;" /> 
						</div>
						<div class="filterbox">
							<apex:selectList value="{!selectedDepartment}" size="1" style="width:150px;" styleclass="chosen">
								<apex:selectOptions value="{!departments}" />
								
							</apex:selectList>
							<apex:outputText value="Department" style="display: block;" />		
						</div> 
						<div class="filterbox">
							<apex:selectList value="{!SelectedPaymentType}" size="1"  styleclass="chosen">
				                 <apex:SelectOptions value="{!commissionType}" />
				             </apex:selectList>
							 <apex:outputText value="Payments" style="display: block;" /> 
						</div>
						
						<div class="filterbox">
							<apex:selectList value="{!SelectedPeriod}" size="1" onchange="enableDate(this.value);" styleclass="chosen">
				                 <apex:SelectOptions value="{!periods}" />
				             </apex:selectList>
							 <apex:outputText value="Received" style="display: block;" /> 
						</div>
					</apex:outputPanel>
						<div class="filterbox" style="min-width: 100px; width: 100px;">
							<apex:inputField value="{!dateFilter.Original_Due_Date__c}" styleClass="dateFilter" />
							<apex:outputText value="From Date" style="display: block;" /> 
						</div>
						<div class="filterbox" style="min-width: 100px; width: 100px;">
							<apex:inputField value="{!dateFilter.Discounted_On__c}" styleClass="dateFilter" />
							<apex:outputText value="To Date" style="display: block;" /> 
						</div>
						<div class="filterbox">
							 <apex:commandLink value="Search" action="{!searchInstalments}" styleClass="agencyButton" status="statusLoad" rerender="listResult"/>
							 
							 <apex:commandLink value="Export to  Excel" action="{!generateExcel}" style="display: block; margin-left: 4px; margin-top: 8px;" target="_blank" immediate="true" />
						</div>
				</div>
			</apex:form>
			
			<apex:outputpanel id="listResult">
				<apex:variable value="{!0}" var="finalCommTot" />
				<apex:variable value="{!0}" var="toPayTot" />
				<apex:variable value="{!0}" var="toReceiveTot" />
				<!-- PDS -->
				<apex:outputPanel layout="block" styleclass="divContent" rendered="{!NOT(ISNULL(listPDS)) && listPDS.size > 0}">	
					<div class="title" style="font-size:1.5em;">
						<span class="arrow-e" style="font-size: 1.5em;"></span>&nbsp;PDS
					</div>
					<br/>
					<table class="tbl_Commission">
						<tr>
							<th>Enrolled By/On</th>
							<th>
								<apex:outputText value="Received By/On<br>Department" escape="false" />
							</th>
							<th style="width:20%;"><apex:outputText value="Client<br>Owner/Agency/Department" escape="false" /></th>
							<th>Campus/Course</th>
							<th>
								<apex:outputText value="Course Type/<br>Duration" escape="false" />
							</th>
							<th class="numberStyle">
								<apex:outputText value="First<br>Payment" escape="false" />
							</th>
							<th class="numberStyle">Inst. Nº</th>
							<th class="numberStyle">Tuition Fee</th>
							<th class="numberStyle">Extra Fee</th>
							<th class="numberStyle">Discount</th>
							<th class="numberStyle">Instalment</th>
							<th class="numberStyle"><apex:outputText value="Commission<br>Value" escape="false" /></th>
							<th class="numberStyle"><apex:outputText value="Commission<br>After Discount" escape="false" /></th>
							<th class="numberStyle">
								<apex:outputText value="PDS Requested On" escape="false" />
							</th>
							<th class="numberStyle">
								<apex:outputText value="PDS Invoice Sent On" escape="false" />
							</th>
							
							<th class="numberStyle">
								<apex:outputText value="Commission<br/> Due Date " escape="false" />
							</th>
							
							<th style="min-width:100px;text-align:center;">
								<apex:outputText value="PDS Note " escape="false" />
							</th>
							
							<th class="numberStyle">TAX Value</th>
							<th class="numberStyle"><apex:outputText value="Commission<br>to Receive" escape="false" /></th>
							<th class="numberStyle"><apex:outputText value="Commission<br>to Pay" escape="false" /></th>
							<th class="numberStyle"><apex:outputText value="Final<br>Commission" escape="false" /></th>
							
						</tr>
						<apex:variable value="{!0}" var="finalComm" />
						<apex:variable value="{!0}" var="toPay" />
						<apex:variable value="{!0}" var="toReceive" />
						
						<apex:repeat value="{!listPDS}" var="lc" >
							<tr>
								<td>
									<span style="{!IF(lc.client_course__r.Enroled_by_Agency__c != SelectedAgency,'color: red;','')}">
										<apex:outputField value="{!lc.client_course__r.Enroled_by_Agency__r.name}" />
									</span>
									<br />
									<span class="labelLine">
										<apex:outputField value="{!lc.client_course__r.Enroled_by_User__r.name}" />
										<br />
										<apex:outputField value="{!lc.client_course__r.Enrolment_Date__c}" />
									</span>
								</td>
								<td>
									<span style="{!IF((lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c != SelectedAgency) || (lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c && lc.Received_By_Agency__c != SelectedAgency),'color: red;','')}">
										<apex:outputField value="{!lc.Received_By_Agency__r.name}" />
									</span>
									<br />
									<span class="labelLine">
										<apex:outputField value="{!lc.Received_by__r.name}" />
										<br />
										<apex:outputField value="{!lc.Received_Date__c}" />
										<br />
										<apex:outputField value="{!lc.Received_By_Department__r.name}" />
									</span>
								
								</td>
								<td>
									<span style="font-weight: bold">
										<apex:outputField value="{!lc.client_course__r.Client__r.name}" />
									</span>
									<br />
									<span class="labelLine">
										<apex:outputField value="{!lc.client_course__r.Client__r.owner__r.name}" />
										<br />
										<apex:outputField value="{!lc.client_course__r.Client__r.owner__r.contact.account.name}" />
										<br />
										<apex:outputField value="{!lc.client_course__r.Client__r.owner__r.contact.department__r.name}" />
									</span>
								</td>
								
								<td>
									<apex:outputField value="{!lc.client_course__r.Campus_Name__c}" />
									<br />
									<span class="labelLine">
										<apex:outputField value="{!lc.client_course__r.Course_Name__c}" />
									</span>
								
								</td>
								
								<td >
									<apex:outputField value="{!lc.client_course__r.Campus_Course__r.Course__r.Course_Type__c}" />
									<br />
									<span class="labelLine">
										<apex:outputField value="{!lc.client_course__r.Course_Length__c}" />&nbsp;
										<apex:outputField value="{!lc.client_course__r.Unit_Type__c}" />(s)
									</span>
								</td>
								<td  style="text-align: center;">
									<apex:outputField value="{!lc.isFirstPayment__c}" />
								</td>
								<td style="text-align: center;">
									<apex:outputField value="{!lc.Number__c}" />
								</td>
								
								<td class="numberStyle">
									<!-- <apex:outputField value="{!lc.Tuition_Value__c}" /> -->
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Tuition_Value__c}" />
									</apex:outputText>
									
									<apex:outputPanel rendered="{!OR(lc.isPDS__c, lc.isPFS__c)}">
										<br />
										<apex:outputText value="PFS" rendered="{!lc.isPFS__c}" styleClass="pfsStyle"/>
										<apex:outputText value="PDS" rendered="{!lc.isPDS__c}" styleClass="pdsStyle" />
									</apex:outputPanel>
								</td>
								<td class="numberStyle">
									<!-- <apex:outputField value="{!lc.Extra_Fee_Value__c}" /> -->
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Extra_Fee_Value__c}" />
									</apex:outputText>
								</td>
								<td class="numberStyle">
									<!-- <apex:outputField value="{!lc.Instalment_Value__c}" /> -->
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Discount__c}" />
									</apex:outputText>
								</td>
								<td class="numberStyle">
									<!-- <apex:outputField value="{!lc.Instalment_Value__c}" /> -->
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Instalment_Value__c}" />
									</apex:outputText>
								</td>
								
								<td class="numberStyle">
									<!-- <apex:outputField value="{!lc.Commission_Value__c}" /> -->
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Commission_Value__c}" />
									</apex:outputText>
									<br />
									<span class="labelLine">
										<apex:outputText value="$" rendered="{!CEILING(lc.client_course__r.Commission_Type__c) == 1}"/>
										<apex:outputField value="{!lc.Commission__c}" />
										<apex:outputText value="%" rendered="{!CEILING(lc.client_course__r.Commission_Type__c) == 0}"/>
									</span>
								</td>
								
								<td class="numberStyle">
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Commission_Value__c - lc.Discount__c}" />
									</apex:outputText>
								</td>
								
								<td>	
									<apex:outputField value="{!lc.PDS_Requested_On__c}" />
									
									<span class="labelLine">
										<apex:outputField value="{!lc.PDS_Requested_By__r.Name}" />
										<br />
										<apex:outputField value="{!lc.PDS_Requested_By__r.contact.account.name}" />
										<br />
										<apex:outputField value="{!lc.PDS_Requested_By__r.contact.department__r.name}" />
									</span>
								</td>
								
								<td>	
									<apex:outputField value="{!lc.Invoice__r.Sent_On__c}" />
									
									<span class="labelLine">
										<apex:outputField value="{!lc.Invoice__r.Sent_By__r.Name}" />
										<br />
										<apex:outputField value="{!lc.Invoice__r.Sent_By__r.contact.account.name}" />
										<br />
										<apex:outputField value="{!lc.Invoice__r.Sent_By__r.contact.department__r.name}" />
									</span>
								</td>
								
								<td style="text-align:center;">	
									<apex:outputField value="{!lc.Invoice__r.Due_Date__c}" rendered="{!NOT(ISNULL(lc.Invoice__c))}"/>
								</td>
								
								<td style="text-align:center;">	
									<apex:outputField value="{!lc.PDS_Note__c}" />
								</td>
								
								<td class="numberStyle">
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Commission_Tax_Value__c}" />
									</apex:outputText>
									<br />
									<span class="labelLine">
										<apex:outputField value="{!lc.Commission_Tax_Rate__c}" />
									</span>
								</td>
								<td class="numberStyle">
									<!-- <apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0,'color:red;','')}" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c}">
										<apex:param value="{!lc.Shared_Comm_Agency_Enroll_Value__c}" />
									</apex:outputText> -->
									
									<apex:outputPanel rendered="{!NOT(lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c)}">
										<apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0 && lc.Shared_Comm_Agency_Enroll_Value__c = 0,'color:red;','')}" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.client_course__r.Enroled_by_Agency__c = SelectedAgency}">
											<apex:param value="{!lc.Shared_Comm_Agency_Enroll_Value__c}" />
										</apex:outputText>
										<apex:variable value="{!toReceive + lc.Shared_Comm_Agency_Enroll_Value__c}" var="toReceive" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.client_course__r.Enroled_by_Agency__c = SelectedAgency}"/>
										
										<apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0 && lc.Shared_Comm_Agency_Enroll_Value__c = 0,'color:red;','')}" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c = SelectedAgency}">
											<apex:param value="{!lc.Shared_Comm_Agency_Receive_Value__c}" />
										</apex:outputText>
										<apex:variable value="{!toReceive + lc.Shared_Comm_Agency_Receive_Value__c}" var="toReceive" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c = SelectedAgency}"/>
									</apex:outputPanel>
									
									<apex:outputText value="-" rendered="{!lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c}"/>
								</td>
								<td class="numberStyle">
									<!-- <apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0,'color:red;','')}" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c}">
										<apex:param value="{!lc.Shared_Comm_Agency_Receive_Value__c}" />
									</apex:outputText> -->
									
									<apex:outputPanel rendered="{!NOT(lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c)}">
										<apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0 && lc.Shared_Comm_Agency_Enroll_Value__c = 0,'color:red;','')}" rendered="{!NOT(lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.client_course__r.Enroled_by_Agency__c = SelectedAgency)}">
											<apex:param value="{!lc.Shared_Comm_Agency_Enroll_Value__c}" />
										</apex:outputText>
										<apex:variable value="{!toPay + lc.Shared_Comm_Agency_Enroll_Value__c}" var="toPay"  rendered="{!NOT(lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.client_course__r.Enroled_by_Agency__c = SelectedAgency)}"/>
										
										<apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0 && lc.Shared_Comm_Agency_Enroll_Value__c = 0,'color:red;','')}" rendered="{!NOT(lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c = SelectedAgency)}">
											<apex:param value="{!lc.Shared_Comm_Agency_Receive_Value__c}" />
										</apex:outputText>
										<apex:variable value="{!toPay + lc.Shared_Comm_Agency_Receive_Value__c}" var="toPay" rendered="{!NOT(lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c = SelectedAgency)}"/>
									</apex:outputPanel>
									
									<apex:outputText value="-" rendered="{!lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c}"/>
									
								</td>
								<td class="numberStyle">
									<apex:outputText value="{0, number, currency}" rendered="{!lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c}">
										<apex:param value="{!lc.Commission_Value__c - lc.Discount__c}" />
									</apex:outputText>
									<apex:variable value="{!finalComm + lc.Commission_Value__c - lc.Discount__c}" var="finalComm" rendered="{!lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c}"/>
									
									<apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0 && lc.Shared_Comm_Agency_Enroll_Value__c = 0,'color:red;','')}" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.client_course__r.Enroled_by_Agency__c = SelectedAgency}">
										<apex:param value="{!lc.Shared_Comm_Agency_Enroll_Value__c}" />
									</apex:outputText>
									<apex:variable value="{!finalComm + lc.Shared_Comm_Agency_Enroll_Value__c}" var="finalComm" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.client_course__r.Enroled_by_Agency__c = SelectedAgency}"/>
									
									<apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0 && lc.Shared_Comm_Agency_Enroll_Value__c = 0,'color:red;','')}" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c = SelectedAgency}">
										<apex:param value="{!lc.Shared_Comm_Agency_Receive_Value__c}" />
									</apex:outputText>
									<apex:variable value="{!finalComm + lc.Shared_Comm_Agency_Receive_Value__c}" var="finalComm" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c = SelectedAgency}"/>
									
								</td>
							</tr>
						</apex:repeat>
						<apex:variable value="{!finalCommTot+finalComm}" var="finalCommTot" />
						<apex:variable value="{!toPayTot+toPay}" var="toPayTot" />
						<apex:variable value="{!toReceiveTot+toReceive}" var="toReceiveTot" />
						<tr>
							<th>Total items: {!listPDSTotal.totItens}</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPDSTotal.tuition}" />
								</apex:outputText>
							</th>
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPDSTotal.extraFee}" />
								</apex:outputText>
							</th>
							
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPDSTotal.discount}" />
								</apex:outputText>
							</th>
							
							
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPDSTotal.instalment}" />
								</apex:outputText>
							</th>
							
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPDSTotal.commission}" />
								</apex:outputText>
							</th>
							<th class="numberStyle">
							<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPDSTotal.commissionDiscount}" />
								</apex:outputText>
							</th>
							
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPDSTotal.tax}" />
								</apex:outputText>
							</th>
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPDSTotal.enrollAgency}" />
									<apex:param value="{!toReceive}" />
								</apex:outputText>
							</th>
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPDSTotal.receiveAgency}" />
									<apex:param value="{!toPay}" />
								</apex:outputText>
							</th>
							
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!finalComm}" />
								</apex:outputText>
							</th>
						</tr>
					</table>
				</apex:outputPanel>
				<!-- END PDS -->
				<br/>
				
				
				<!-- PCS -->
				<apex:outputPanel layout="block" styleclass="divContent" rendered="{!NOT(ISNULL(listPCS)) && listPCS.size > 0}">	
					<div class="title" style="font-size:1.5em;">
						<span class="arrow-e" style="font-size: 1.5em;"></span>&nbsp;PCS
					</div>
					<br/>
					<table class="tbl_Commission">
						<tr>
							<th>Enrolled By/On</th>
							<th>
								<apex:outputText value="Received By/On<br>Department" escape="false" />
							</th>
							<th style="width:20%;"><apex:outputText value="Client<br>Owner/Agency/Department" escape="false" /></th>
							<th>Campus/Course</th>
							<th>
								<apex:outputText value="Course Type/<br>Duration" escape="false" />
							</th>
							<th class="numberStyle">
								<apex:outputText value="First<br>Payment" escape="false" />
							</th>
							<th class="numberStyle">Inst. Nº</th>
							<th class="numberStyle">Tuition Fee</th>
							<th class="numberStyle">Extra Fee</th>
							<th class="numberStyle">Discount</th>
							<th class="numberStyle">Instalment</th>
							<th class="numberStyle"><apex:outputText value="Commission<br>Value" escape="false" /></th>
							<th class="numberStyle"><apex:outputText value="Commission<br>After Discount" escape="false" /></th>
							<th class="numberStyle">
								<apex:outputText value="PCS Requested On" escape="false" />
							</th>
							<th class="numberStyle">
								<apex:outputText value="PCS Invoice Sent On" escape="false" />
							</th>
							
							<th class="numberStyle">
								<apex:outputText value="Commission<br/> Due Date " escape="false" />
							</th>
							
							<th style="min-width:100px;text-align:center;">
								<apex:outputText value="PCS Note " escape="false" />
							</th>
							
							<th class="numberStyle">TAX Value</th>
							<th class="numberStyle"><apex:outputText value="Commission<br>to Receive" escape="false" /></th>
							<th class="numberStyle"><apex:outputText value="Commission<br>to Pay" escape="false" /></th>
							<th class="numberStyle"><apex:outputText value="Final<br>Commission" escape="false" /></th>
							
						</tr>
						<apex:variable value="{!0}" var="finalComm" />
						<apex:variable value="{!0}" var="toPay" />
						<apex:variable value="{!0}" var="toReceive" />
						
						<apex:repeat value="{!listPCS}" var="lc" >
							<tr>
								<td>
									<span style="{!IF(lc.client_course__r.Enroled_by_Agency__c != SelectedAgency,'color: red;','')}">
										<apex:outputField value="{!lc.client_course__r.Enroled_by_Agency__r.name}" />
									</span>
									<br />
									<span class="labelLine">
										<apex:outputField value="{!lc.client_course__r.Enroled_by_User__r.name}" />
										<br />
										<apex:outputField value="{!lc.client_course__r.Enrolment_Date__c}" />
									</span>
								</td>
								<td>
									<span style="{!IF((lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c != SelectedAgency) || (lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c && lc.Received_By_Agency__c != SelectedAgency),'color: red;','')}">
										<apex:outputField value="{!lc.Received_By_Agency__r.name}" />
									</span>
									<br />
									<span class="labelLine">
										<apex:outputField value="{!lc.Received_by__r.name}" />
										<br />
										<apex:outputField value="{!lc.Received_Date__c}" />
										<br />
										<apex:outputField value="{!lc.Received_By_Department__r.name}" />
									</span>
								
								</td>
								<td>
									<span style="font-weight: bold">
										<apex:outputField value="{!lc.client_course__r.Client__r.name}" />
									</span>
									<br />
									<span class="labelLine">
										<apex:outputField value="{!lc.client_course__r.Client__r.owner__r.name}" />
										<br />
										<apex:outputField value="{!lc.client_course__r.Client__r.owner__r.contact.account.name}" />
										<br />
										<apex:outputField value="{!lc.client_course__r.Client__r.owner__r.contact.department__r.name}" />
									</span>
								</td>
								
								<td>
									<apex:outputField value="{!lc.client_course__r.Campus_Name__c}" />
									<br />
									<span class="labelLine">
										<apex:outputField value="{!lc.client_course__r.Course_Name__c}" />
									</span>
								
								</td>
								
								<td >
									<apex:outputField value="{!lc.client_course__r.Campus_Course__r.Course__r.Course_Type__c}" />
									<br />
									<span class="labelLine">
										<apex:outputField value="{!lc.client_course__r.Course_Length__c}" />&nbsp;
										<apex:outputField value="{!lc.client_course__r.Unit_Type__c}" />(s)
									</span>
								</td>
								<td  style="text-align: center;">
									<apex:outputField value="{!lc.isFirstPayment__c}" />
								</td>
								<td style="text-align: center;">
									<apex:outputField value="{!lc.Number__c}" />
								</td>
								
								<td class="numberStyle">
									<!-- <apex:outputField value="{!lc.Tuition_Value__c}" /> -->
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Tuition_Value__c}" />
									</apex:outputText>
									
									<apex:outputPanel rendered="{!OR(lc.isPCS__c, lc.isPFS__c)}">
										<br />
										<apex:outputText value="PFS" rendered="{!lc.isPFS__c}" styleClass="pfsStyle"/>
										<apex:outputText value="PCS" rendered="{!lc.isPCS__c}" styleClass="pcsStyle" />
									</apex:outputPanel>
								</td>
								<td class="numberStyle">
									<!-- <apex:outputField value="{!lc.Extra_Fee_Value__c}" /> -->
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Extra_Fee_Value__c}" />
									</apex:outputText>
								</td>
								<td class="numberStyle">
									<!-- <apex:outputField value="{!lc.Instalment_Value__c}" /> -->
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Discount__c}" />
									</apex:outputText>
								</td>
								<td class="numberStyle">
									<!-- <apex:outputField value="{!lc.Instalment_Value__c}" /> -->
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Instalment_Value__c}" />
									</apex:outputText>
								</td>
								
								<td class="numberStyle">
									<!-- <apex:outputField value="{!lc.Commission_Value__c}" /> -->
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Commission_Value__c}" />
									</apex:outputText>
									<br />
									<span class="labelLine">
										<apex:outputText value="$" rendered="{!CEILING(lc.client_course__r.Commission_Type__c) == 1}"/>
										<apex:outputField value="{!lc.Commission__c}" />
										<apex:outputText value="%" rendered="{!CEILING(lc.client_course__r.Commission_Type__c) == 0}"/>
									</span>
								</td>
								
								<td class="numberStyle">
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Commission_Value__c - lc.Discount__c}" />
									</apex:outputText>
								</td>
								
								<td>	
									<apex:outputField value="{!lc.PDS_Requested_On__c}" />
									
									<span class="labelLine">
										<apex:outputField value="{!lc.PDS_Requested_By__r.Name}" />
										<br />
										<apex:outputField value="{!lc.PDS_Requested_By__r.contact.account.name}" />
										<br />
										<apex:outputField value="{!lc.PDS_Requested_By__r.contact.department__r.name}" />
									</span>
								</td>
								
								<td>	
									<apex:outputField value="{!lc.Invoice__r.Sent_On__c}" />
									
									<span class="labelLine">
										<apex:outputField value="{!lc.Invoice__r.Sent_By__r.Name}" />
										<br />
										<apex:outputField value="{!lc.Invoice__r.Sent_By__r.contact.account.name}" />
										<br />
										<apex:outputField value="{!lc.Invoice__r.Sent_By__r.contact.department__r.name}" />
									</span>
								</td>
								
								<td style="text-align:center;">	
									<apex:outputField value="{!lc.Invoice__r.Due_Date__c}" rendered="{!NOT(ISNULL(lc.Invoice__c))}"/>
								</td>
								
								<td style="text-align:center;">	
									<apex:outputField value="{!lc.PDS_Note__c}" />
								</td>
								
								<td class="numberStyle">
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Commission_Tax_Value__c}" />
									</apex:outputText>
									<br />
									<span class="labelLine">
										<apex:outputField value="{!lc.Commission_Tax_Rate__c}" />
									</span>
								</td>
								<td class="numberStyle">
									<!-- <apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0,'color:red;','')}" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c}">
										<apex:param value="{!lc.Shared_Comm_Agency_Enroll_Value__c}" />
									</apex:outputText> -->
									
									<apex:outputPanel rendered="{!NOT(lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c)}">
										<apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0 && lc.Shared_Comm_Agency_Enroll_Value__c = 0,'color:red;','')}" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.client_course__r.Enroled_by_Agency__c = SelectedAgency}">
											<apex:param value="{!lc.Shared_Comm_Agency_Enroll_Value__c}" />
										</apex:outputText>
										<apex:variable value="{!toReceive + lc.Shared_Comm_Agency_Enroll_Value__c}" var="toReceive" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.client_course__r.Enroled_by_Agency__c = SelectedAgency}"/>
										
										<apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0 && lc.Shared_Comm_Agency_Enroll_Value__c = 0,'color:red;','')}" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c = SelectedAgency}">
											<apex:param value="{!lc.Shared_Comm_Agency_Receive_Value__c}" />
										</apex:outputText>
										<apex:variable value="{!toReceive + lc.Shared_Comm_Agency_Receive_Value__c}" var="toReceive" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c = SelectedAgency}"/>
									</apex:outputPanel>
									
									<apex:outputText value="-" rendered="{!lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c}"/>
								</td>
								<td class="numberStyle">
									<!-- <apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0,'color:red;','')}" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c}">
										<apex:param value="{!lc.Shared_Comm_Agency_Receive_Value__c}" />
									</apex:outputText> -->
									
									<apex:outputPanel rendered="{!NOT(lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c)}">
										<apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0 && lc.Shared_Comm_Agency_Enroll_Value__c = 0,'color:red;','')}" rendered="{!NOT(lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.client_course__r.Enroled_by_Agency__c = SelectedAgency)}">
											<apex:param value="{!lc.Shared_Comm_Agency_Enroll_Value__c}" />
										</apex:outputText>
										<apex:variable value="{!toPay + lc.Shared_Comm_Agency_Enroll_Value__c}" var="toPay"  rendered="{!NOT(lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.client_course__r.Enroled_by_Agency__c = SelectedAgency)}"/>
										
										<apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0 && lc.Shared_Comm_Agency_Enroll_Value__c = 0,'color:red;','')}" rendered="{!NOT(lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c = SelectedAgency)}">
											<apex:param value="{!lc.Shared_Comm_Agency_Receive_Value__c}" />
										</apex:outputText>
										<apex:variable value="{!toPay + lc.Shared_Comm_Agency_Receive_Value__c}" var="toPay" rendered="{!NOT(lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c = SelectedAgency)}"/>
									</apex:outputPanel>
									
									<apex:outputText value="-" rendered="{!lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c}"/>
									
								</td>
								<td class="numberStyle">
									<apex:outputText value="{0, number, currency}" rendered="{!lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c}">
										<apex:param value="{!lc.Commission_Value__c - lc.Discount__c}" />
									</apex:outputText>
									<apex:variable value="{!finalComm + lc.Commission_Value__c - lc.Discount__c}" var="finalComm" rendered="{!lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c}"/>
									
									<apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0 && lc.Shared_Comm_Agency_Enroll_Value__c = 0,'color:red;','')}" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.client_course__r.Enroled_by_Agency__c = SelectedAgency}">
										<apex:param value="{!lc.Shared_Comm_Agency_Enroll_Value__c}" />
									</apex:outputText>
									<apex:variable value="{!finalComm + lc.Shared_Comm_Agency_Enroll_Value__c}" var="finalComm" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.client_course__r.Enroled_by_Agency__c = SelectedAgency}"/>
									
									<apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0 && lc.Shared_Comm_Agency_Enroll_Value__c = 0,'color:red;','')}" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c = SelectedAgency}">
										<apex:param value="{!lc.Shared_Comm_Agency_Receive_Value__c}" />
									</apex:outputText>
									<apex:variable value="{!finalComm + lc.Shared_Comm_Agency_Receive_Value__c}" var="finalComm" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c = SelectedAgency}"/>
									
								</td>
							</tr>
						</apex:repeat>
						<apex:variable value="{!finalCommTot+finalComm}" var="finalCommTot" />
						<apex:variable value="{!toPayTot+toPay}" var="toPayTot" />
						<apex:variable value="{!toReceiveTot+toReceive}" var="toReceiveTot" />
						<tr>
							<th>Total items: {!listPCSTotal.totItens}</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPCSTotal.tuition}" />
								</apex:outputText>
							</th>
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPCSTotal.extraFee}" />
								</apex:outputText>
							</th>
							
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPCSTotal.discount}" />
								</apex:outputText>
							</th>
							
							
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPCSTotal.instalment}" />
								</apex:outputText>
							</th>
							
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPCSTotal.commission}" />
								</apex:outputText>
							</th>
							<th class="numberStyle">
							<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPCSTotal.commissionDiscount}" />
								</apex:outputText>
							</th>
							
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPCSTotal.tax}" />
								</apex:outputText>
							</th>
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPCSTotal.enrollAgency}" />
									<apex:param value="{!toReceive}" />
								</apex:outputText>
							</th>
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPCSTotal.receiveAgency}" />
									<apex:param value="{!toPay}" />
								</apex:outputText>
							</th>
							
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!finalComm}" />
								</apex:outputText>
							</th>
						</tr>
					</table>
				</apex:outputPanel>
				<!-- END PCS -->
				<br/>
				
				
				
				<!-- PFS -->
				<apex:outputPanel layout="block" styleclass="divContent" rendered="{!NOT(ISNULL(listPFS)) && listPFS.size > 0}">	
					<div class="title" style="font-size:1.5em;">
						<span class="arrow-e" style="font-size: 1.5em;"></span>&nbsp;PFS
					</div>
					<br/>
					<table class="tbl_Commission">
						<tr>
							<th>Enrolled By/On</th>
							<th>
								<apex:outputText value="Received By/On<br>Department" escape="false" />
							</th>
							<th style="width:20%;"><apex:outputText value="Client<br>Owner/Agency/Department" escape="false" /></th>
							<th>Campus/Course</th>
							<th>
								<apex:outputText value="Course Type/<br>Duration" escape="false" />
							</th>
							<th class="numberStyle">
								<apex:outputText value="First<br>Payment" escape="false" />
							</th>
							<th class="numberStyle">Inst. Nº</th>
							<th class="numberStyle">Tuition Fee</th>
							<th class="numberStyle">Extra Fee</th>
							<th class="numberStyle">Discount</th>
							<th class="numberStyle">Instalment</th>
							<th class="numberStyle"><apex:outputText value="Commission<br>Value" escape="false" /></th>
							<th class="numberStyle"><apex:outputText value="Commission<br>After Discount" escape="false" /></th>
							<th class="numberStyle">
								<apex:outputText value="PFS Invoice Send On" escape="false" />
							</th>
							<th class="numberStyle">
								<apex:outputText value="Commission<br/>Due Date" escape="false" />
							</th>
							<th class="numberStyle">TAX Value</th>
							<th class="numberStyle"><apex:outputText value="Commission<br>to Receive" escape="false" /></th>
							<th class="numberStyle"><apex:outputText value="Commission<br>to Pay" escape="false" /></th>
							<th class="numberStyle"><apex:outputText value="Final<br>Commission" escape="false" /></th>
							
						</tr>
						<apex:variable value="{!0}" var="finalComm" />
						<apex:variable value="{!0}" var="toPay" />
						<apex:variable value="{!0}" var="toReceive" />
						<apex:repeat value="{!listPFS}" var="lc" >
							<tr>
								<td>
									<span style="{!IF(lc.client_course__r.Enroled_by_Agency__c != SelectedAgency,'color: red;','')}">
										<apex:outputField value="{!lc.client_course__r.Enroled_by_Agency__r.name}" />
									</span>
									<br />
									<span class="labelLine">
										<apex:outputField value="{!lc.client_course__r.Enroled_by_User__r.name}" />
										<br />
										<apex:outputField value="{!lc.client_course__r.Enrolment_Date__c}" />
									</span>
								</td>
								<td>
									<span style="{!IF((lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c != SelectedAgency) || (lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c && lc.Received_By_Agency__c != SelectedAgency),'color: red;','')}">
										<apex:outputField value="{!lc.Received_By_Agency__r.name}" />
									</span>
									<br />
									<span class="labelLine">
										<apex:outputField value="{!lc.Received_by__r.name}" />
										<br />
										<apex:outputField value="{!lc.Received_Date__c}" />
										<br />
										<apex:outputField value="{!lc.Received_By_Department__r.name}" />
									</span>
								
								</td>
								<td>
									<span style="font-weight: bold">
										<apex:outputField value="{!lc.client_course__r.Client__r.name}" />
									</span>
									<br />
									<span class="labelLine">
										<apex:outputField value="{!lc.client_course__r.Client__r.owner__r.name}" />
										<br />
										<apex:outputField value="{!lc.client_course__r.Client__r.owner__r.contact.account.name}" />
										<br />
										<apex:outputField value="{!lc.client_course__r.Client__r.owner__r.contact.department__r.name}" />
									</span>
								</td>
								
								<td>
									<apex:outputField value="{!lc.client_course__r.Campus_Name__c}" />
									<br />
									<span class="labelLine">
										<apex:outputField value="{!lc.client_course__r.Course_Name__c}" />
									</span>
								
								</td>
								
								<td >
									<apex:outputField value="{!lc.client_course__r.Campus_Course__r.Course__r.Course_Type__c}" />
									<br />
									<span class="labelLine">
										<apex:outputField value="{!lc.client_course__r.Course_Length__c}" />&nbsp;
										<apex:outputField value="{!lc.client_course__r.Unit_Type__c}" />(s)
									</span>
								</td>
								<td  style="text-align: center;">
									<apex:outputField value="{!lc.isFirstPayment__c}" />
								</td>
								<td style="text-align: center;">
									<apex:outputField value="{!lc.Number__c}" />
								</td>
								
								
								<td class="numberStyle">
									<!-- <apex:outputField value="{!lc.Tuition_Value__c}" /> -->
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Tuition_Value__c}" />
									</apex:outputText>
									
									<apex:outputPanel rendered="{!OR(lc.isPDS__c, lc.isPFS__c)}">
										<br />
										<apex:outputText value="PFS" rendered="{!lc.isPFS__c}" styleClass="pfsStyle"/>
										<apex:outputText value="PDS" rendered="{!lc.isPDS__c}" styleClass="pdsStyle"/>
									</apex:outputPanel>
								</td>
								<td class="numberStyle">
									<!-- <apex:outputField value="{!lc.Extra_Fee_Value__c}" /> -->
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Extra_Fee_Value__c}" />
									</apex:outputText>
								</td>
								<td class="numberStyle">
									<!-- <apex:outputField value="{!lc.Instalment_Value__c}" /> -->
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Discount__c}" />
									</apex:outputText>
								</td>
								<td class="numberStyle">
									<!-- <apex:outputField value="{!lc.Instalment_Value__c}" /> -->
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Instalment_Value__c}" />
									</apex:outputText>
								</td>
								
								<td class="numberStyle">
									<!-- <apex:outputField value="{!lc.Commission_Value__c}" /> -->
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Commission_Value__c}" />
									</apex:outputText>
									<br />
									<span class="labelLine">
										<apex:outputText value="$" rendered="{!CEILING(lc.client_course__r.Commission_Type__c) == 1}"/>
										<apex:outputField value="{!lc.Commission__c}" />
										<apex:outputText value="%" rendered="{!CEILING(lc.client_course__r.Commission_Type__c) == 0}"/>
									</span>
								</td>
								
								<td class="numberStyle">
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Commission_Value__c - lc.Discount__c}" />
									</apex:outputText>
								</td>
								
								<td class="numberStyle">	
									<apex:outputField value="{!lc.Sent_Email_Receipt_On__c}" />
									
									<span class="labelLine">
										<apex:outputField value="{!lc.Sent_Email_Receipt_By__r.name}" />
										<br />
										<apex:outputField value="{!lc.Sent_Email_Receipt_By__r.contact.account.name}" />
										<br />
										<apex:outputField value="{!lc.Sent_Email_Receipt_By__r.contact.department__r.name}" />
									</span>
								</td>
								
								<td class="numberStyle">	
									<apex:outputField value="{!lc.Commission_Due_Date__c}" />
								</td>
								
								<td class="numberStyle">
									<apex:outputText value="{0, number, currency}" >
										<apex:param value="{!lc.Commission_Tax_Value__c}" />
									</apex:outputText>
									<br />
									<span class="labelLine">
										<apex:outputField value="{!lc.Commission_Tax_Rate__c}" />
									</span>
								</td>
								<td class="numberStyle">
									<!-- <apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0,'color:red;','')}" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c}">
										<apex:param value="{!lc.Shared_Comm_Agency_Enroll_Value__c}" />
									</apex:outputText> -->
									
									<apex:outputPanel rendered="{!NOT(lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c)}">
										<apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0 && lc.Shared_Comm_Agency_Enroll_Value__c = 0,'color:red;','')}" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.client_course__r.Enroled_by_Agency__c = SelectedAgency}">
											<apex:param value="{!lc.Shared_Comm_Agency_Enroll_Value__c}" />
										</apex:outputText>
										<apex:variable value="{!toReceive + lc.Shared_Comm_Agency_Enroll_Value__c}" var="toReceive" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.client_course__r.Enroled_by_Agency__c = SelectedAgency}"/>
										
										<apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0 && lc.Shared_Comm_Agency_Enroll_Value__c = 0,'color:red;','')}" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c = SelectedAgency}">
											<apex:param value="{!lc.Shared_Comm_Agency_Receive_Value__c}" />
										</apex:outputText>
										<apex:variable value="{!toReceive + lc.Shared_Comm_Agency_Receive_Value__c}" var="toReceive" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c = SelectedAgency}"/>
									</apex:outputPanel>
									
									<apex:outputText value="-" rendered="{!lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c}"/>
								</td>
								<td class="numberStyle">
									<!-- <apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0,'color:red;','')}" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c}">
										<apex:param value="{!lc.Shared_Comm_Agency_Receive_Value__c}" />
									</apex:outputText> -->
									
									<apex:outputPanel rendered="{!NOT(lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c)}">
										<apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0 && lc.Shared_Comm_Agency_Enroll_Value__c = 0,'color:red;','')}" rendered="{!NOT(lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.client_course__r.Enroled_by_Agency__c = SelectedAgency)}">
											<apex:param value="{!lc.Shared_Comm_Agency_Enroll_Value__c}" />
										</apex:outputText>
										<apex:variable value="{!toPay + lc.Shared_Comm_Agency_Enroll_Value__c}" var="toPay" rendered="{!NOT(lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.client_course__r.Enroled_by_Agency__c = SelectedAgency)}"/>
										
										<apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0 && lc.Shared_Comm_Agency_Enroll_Value__c = 0,'color:red;','')}" rendered="{!NOT(lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c = SelectedAgency)}">
											<apex:param value="{!lc.Shared_Comm_Agency_Receive_Value__c}" />
										</apex:outputText>
										<apex:variable value="{!toPay + lc.Shared_Comm_Agency_Receive_Value__c}" var="toPay" rendered="{!NOT(lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c = SelectedAgency)}"/>
									</apex:outputPanel>
									
									
									<apex:outputText value="-" rendered="{!lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c}"/>
									
								</td>
								<td class="numberStyle">
									<apex:outputText value="{0, number, currency}" rendered="{!lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c}">
										<apex:param value="{!lc.Commission_Value__c - lc.Discount__c}" />
									</apex:outputText>
									<apex:variable value="{!finalComm + lc.Commission_Value__c - lc.Discount__c}" var="finalComm" rendered="{!lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c}"/>
									
									<apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0 && lc.Shared_Comm_Agency_Enroll_Value__c = 0,'color:red;','')}" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.client_course__r.Enroled_by_Agency__c = SelectedAgency}">
										<apex:param value="{!lc.Shared_Comm_Agency_Enroll_Value__c}" />
									</apex:outputText>
									<apex:variable value="{!finalComm + lc.Shared_Comm_Agency_Enroll_Value__c}" var="finalComm" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.client_course__r.Enroled_by_Agency__c = SelectedAgency}"/>
									
									<apex:outputText value="{0, number, currency}" styleClass="labelCommission" style="{!IF(lc.Shared_Comm_Agency_Receive_Value__c =0 && lc.Shared_Comm_Agency_Enroll_Value__c = 0,'color:red;','')}" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c = SelectedAgency}">
										<apex:param value="{!lc.Shared_Comm_Agency_Receive_Value__c}" />
									</apex:outputText>
									<apex:variable value="{!finalComm + lc.Shared_Comm_Agency_Receive_Value__c}" var="finalComm" rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c && lc.Received_By_Agency__c = SelectedAgency}"/>
								</td>
							</tr>
						</apex:repeat>
						<apex:variable value="{!finalCommTot+finalComm}" var="finalCommTot" />
						<apex:variable value="{!toPayTot+toPay}" var="toPayTot" />
						<apex:variable value="{!toReceiveTot+toReceive}" var="toReceiveTot" />
						<tr>
							<th>Total items: {!listPFSTotal.totItens}</th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPFSTotal.tuition}" />
								</apex:outputText>
							</th>
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPFSTotal.extraFee}" />
								</apex:outputText>
							</th>
							
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPFSTotal.discount}" />
								</apex:outputText>
							</th>
							
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPFSTotal.instalment}" />
								</apex:outputText>
							</th>
							
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPFSTotal.commission}" />
								</apex:outputText>
							</th>
							<th class="numberStyle">
							<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPFSTotal.commissionDiscount}" />
								</apex:outputText>
							</th>
							
							<th></th>
							<th></th>
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPFSTotal.tax}" />
								</apex:outputText>
							</th>
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPFSTotal.enrollAgency}" />
									<apex:param value="{!toReceive}" />
								</apex:outputText>
							</th>
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!listPFSTotal.receiveAgency}" />
									<apex:param value="{!toPay}" />
								</apex:outputText>
							</th>
							
							<th class="numberStyle">
								<apex:outputText value="{0, number, currency}" >
									<apex:param value="{!finalComm}" />
								</apex:outputText>
							</th>
						</tr>
					</table>
				</apex:outputPanel>
				<!-- END PFS -->
				
			</apex:outputpanel>
		</td>
		</tr>
	</table>
	
	
	<script>
		jQuery( document ).ready(function() {
			jQuery('.dateFilter').attr('disabled', 'disabled');
			jQuery('.chosen').chosen();
		});
		
		function enableDate(param){
			if(param != 'range')
				jQuery('.dateFilter').attr('disabled', 'disabled');
			else jQuery('.dateFilter').removeAttr('disabled');
		}
		
	</script>
</apex:page>