<apex:page showHeader="{!$CurrentPage.parameters.idSchool == null}" sidebar="{!$CurrentPage.parameters.idSchool == null}" docType="html-5.0" lightningStyleSheets="true" standardStylesheets="true">
    <apex:slds />
    <style>
        .fixedButtons{
		    background-color: #E1E1E1;
            border-top: 1px solid #808080;
            bottom: 0;
            display: block;
            padding: 10px;
            position: fixed;
            text-align: center;
            width: -webkit-fill-available;
            width: -moz-available;
            margin-left: -15px;
		}
        @-moz-document url-prefix() {
            .slds-scope .slds-select {
                height: initial !important;
                min-height: initial !important;
            }
        }
    </style>
    <script>
        function closePage(){
            window.parent.$(".Close").trigger("click");
        }
        function clickAddButton(element){
            $(element).closest("div").closest(".slds-scope").find(".button-add-price").trigger("click");
        }
    </script>
    <c:pmc_school_issues idSchool="{!$CurrentPage.parameters.idSchool}"/>  
    <!-- <div class="fixedButtons">
        <button onclick="clickAddButton(this);" style="width:110px;text-decoration:none;" class="slds-button slds-button_brand">
            <apex:outputText value="Add Price" rendered="{!$CurrentPage.parameters.editPrice != 'true'}"/>
            <apex:outputText value="Save Prices" rendered="{!$CurrentPage.parameters.editPrice == 'true'}"/>
        </button>
        <button onclick="closePage();" style="width:110px;text-decoration:none;" class="Close slds-button slds-button_neutral">
            Close
        </button>
    </div> -->  
</apex:page>