<apex:page controller="products_paid_by_agency" readOnly="true" cache="true" sidebar="false" showHeader="false" action="{!searchProductsExcel}" contenttype="application/vnd.ms-excel#ProductsPaidByAgency.xls">

	<table class="tbl_Commission">
		<tr>
			<th>Client</th>
			<th>Product Name</th>
			<th>Paid Extra Fee</th>
			<th>Provider Name</th>
			<th>Product Received On</th>
			<th>Receive by Agency</th>
			<th>Receive by Department</th>
			<th>Debit Date</th>
			<th>Product Amount</th>
			<th>Currency</th>
		</tr>
		<apex:repeat value="{!listProducts}" var="lp" >
			<apex:variable value="{!lp.Price_Total__c}" var="totPrice" />
			<apex:variable value="{!lp.Agency_Currency_Value__c}" var="recAmount" />
			<tr>
				<td>
					<apex:outputField value="{!lp.Client__r.name}" />
				</td>
				<td>
					<apex:outputField value="{!lp.Product_Name__c}" />
				</td>
				<td>
					<apex:repeat value="{!lp.paid_products__r}" var="f">
						{!f.Product_Name__c} <br/>
						<apex:variable value="{!totPrice + f.Price_Total__c}" var="totPrice" />
						<apex:variable value="{!recAmount + f.Agency_Currency_Value__c}" var="recAmount" />
					</apex:repeat>
				</td>
				<td>
					<apex:outputField value="{!lp.Products_Services__r.Provider__r.Provider_Name__c}" />
				</td>
				<td>
					<apex:outputField value="{!lp.Received_Date__c}" />
				</td>
				<td>
					<apex:outputField value="{!lp.Received_By_Agency__r.name}" />
				</td>
				<td>
					<apex:outputField value="{!lp.Received_By_Department__r.name}" />
				</td>
				<td>
					<apex:outputField value="{!lp.Creditcard_debit_date__c}" />
				</td>
				<td>
					<apex:outputText value="{0, number, currency}">
						<apex:param value="{!totPrice}" />
					</apex:outputText>
				</td>
				
				<td class="numberStyle">
					<apex:outputField value="{!lp.Currency__c}" />
				</td>
			</tr>
		</apex:repeat>
	</table>
</apex:page>