<apex:page controller="ReportUsersTasksController" readOnly="true" sidebar="false" showHeader="false" action="{!exportSearch}" contenttype="application/vnd.ms-excel#tasks.xls" >

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<style>
	br {
		mso-data-placement: same-cell;
	}
	</style>
<body>
	<table>
		<thead>
			<tr>
				<th style="text-align: center;">Agency</th>
				<th style="text-align: center;">Assigned To</th>				
				<th style="text-align: center;">Contact Status</th>
				<th style="text-align: center;">Contact Name</th>
				<th style="text-align: center;">Contact Nationality</th>				
				<th style="text-align: center;">Contact Email</th>
				<th style="text-align: center;">Contact Mobile</th>
				<th style="text-align: center;">Task Subject</th>
				<th style="text-align: center;">Task Description</th>
				<th style="text-align: center;">Due Date</th>
				<th style="text-align: center;">Task Status</th>
				<th style="text-align: center;">Task Priority</th>
				<th style="text-align: center;">Created Date</th>
				<th style="text-align: center;">Last Modified Date</th>
			</tr>
		</thead>
		<tbody>
			<apex:repeat value="{!taskList}" var="task">
				<tr>
					<td>
						<apex:outputText value="{!task.Assign_To__r.Contact.Account.Name}" />
					</td>
					<td>
						<apex:outputField value="{!task.Assign_To__r.Name}" />
					</td>
					<td>
						<apex:outputText value="{!task.Related_Contact__r.Status__c}" />
					</td>
					<td>
						<apex:outputText value="{!task.Related_Contact__r.Name}" />
					</td>
					<td>
						<apex:outputText value="{!task.Related_Contact__r.Nationality__c}" />
					</td>
					<td>
						<apex:outputText value="{!task.Related_Contact__r.Email}" />
					</td>
					<td>
						<apex:repeat value="{!contactMobile[task.Related_Contact__c]}" var="foc">
							<apex:outputText value="{!foc.Detail__c} <br/>" />
						</apex:repeat>
					</td>					
					<td>
						<apex:outputText value="{!task.Subject__c}" />
					</td>
					<td>
						<apex:outputText value="{!task.Comments__c}" />
					</td>
					<td>						
		                <apex:outputField value="{!task.Due_Date__c}" />	              		
					</td>
					<td>
						<apex:outputText value="{!task.Status__c}" />
					</td>
					<td>
						<apex:outputText value="{!task.Priority__c}" />
					</td>
					<td>
						<apex:outputField value="{!task.createdDate}" />	              		
					</td>
					<td>
						<apex:outputField value="{!task.lastModifiedDate}" />	              		
					</td>
				</tr>
			</apex:repeat>
		</tbody>
	</table>
</body>

</apex:page>