<apex:page standardController="Quotation__c" extensions="ReportQuotesPerAgencyGroupController" sidebar="false" >
	<apex:include pageName="xStylePageV2" />
	<apex:include pageName="xCourseSearchStyle" />
	
	<!-- Chosen -->
	<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />    
	<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />
	
	<style>
		.box-searh input, .box-searh select, .SearchFooter {            
		margin-left: 10px;
		}
		
		.dateFormat{
			display:none;
		}
        
		.box-searh, .box-searh  {
			background-color: #F3F3F3;
			border: 1px solid #999999 !important;
			border-radius: 5px 5px 5px 5px;
			box-shadow: 0 0 0 #CCCCCC;
			display: block;
			padding: 4px;
		}
        
		.SearchField {
		border: 0 none;
		float: left;
		width: 200px;
		}        

		.quotesStatus {
			display: block;
			font-weight: bold;
			padding: 3px;
			text-align: right;
			width: 100%;
		}
		.searchBtn{
			color: #8FAACD;
			position: relative;
			text-decoration: none;
			top: -11px;
		}
		
		.searchLink{
			text-decoration: none; 
			display: block;
			height:30px;
		}
		
	
		
		.searchLink:hover{ background-color:#CCDEF5; border-radius:3px;text-decoration: none;}
		
		.row:hover{ background-color: #ccc !important; } 
	</style>
	
	<script>
		
		jQuery(document).ready(function() {
			jQuery('.chosen').chosen();
		});
			
		function toggle(popUpDiv) {
			var el = document.getElementById(popUpDiv);
			if ( el.style.display == 'none' ) { el.style.display = '';}
			else {el.style.display = 'none';}
			 
			return false;
		}
		
		function toggleSpace(popUpDiv) {
				
		var el = document.getElementById(popUpDiv);
		if ( el.style.display == 'none' ) { el.style.display = 'inline-block';}
		else {el.style.display = 'none';}
		 
		return false;
		}
		
			
		function openClientDetails(param1,tab){
			var w = 1100;
			var h = 500;
			var left = (screen.width/2)-(w/2);
			var top = (screen.height/2)-(h/2);
			if (window.showModalDialog) {
				window.showModalDialog('/apex/searchTasks_EditClientDetails?id='+param1+'&tab='+tab,null,'dialogWidth:'+w+'px; dialogHeight:'+h+'px; dialogTop='+top+'; dialogLeft='+left);
			} else {
				window.open('/apex/searchTasks_EditClientDetails?id='+param1+'&tab='+tab,null,'height='+h+',width='+w+',toolbar=no,directories=no,status=no,menubar=no,resizable=no,modal=yes, top='+top+', left='+left);
			}
		} 		
		
		var modal;
 		function openClientDetails(param1,tab){
		 	redirectNewPage = '{!redirectNewContactPage}';
			if(redirectNewPage == 'true'){
				page = 'contact_new_activity_log';
			}else{
				page = 'activity_log';
			}
	    	modal = dhtmlmodal.open('ContactOverview', 'iframe', page+'?id='+param1+ '&sHeader=false', 'Contact Overview', 'width=800px,height=700px,resize=1,center=1,scrolling=0');
	    	setCloseModal();
	    } 
		    
	   function setCloseModal(){
			jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
			jQuery('.Close').unbind('click'); 
			jQuery('.Close').click(function() {closemodal();});
		}
    		
   	   function closemodal(){
			jQuery('#interVeil').css('display','none');
			 modal.close();
		}
			
			
	</script>
			
	<a href="javascript: history.go(-1)" class="title" style="text-decoration:none;">
		<!--apex:image title="Search" url="{!URLFOR($Resource.icons,'icons/commons/return_icon.png')}" style="background-repeat: no-repeat;" /-->
		<apex:outputText value="Back to Reports" styleClass="title" />
	</a>
	<br/><br/>
			
	<apex:form >		
		<apex:pageBlock >
			<div class="agencyBackground agencyFont" style="width:100%; font-weight:bold; padding: 5px;"> 
				<apex:outputText value="QUOTATION - Number of Quotations" />
				<apex:outputText value=" (How many quotations are we offering to our clients?)" style="font-size:0.75em;"/>
			</div>
			<apex:pageBlockSection columns="1" >
				<apex:outputPanel layout="block" styleClass="box-searh" style="width:100%;" >
					<apex:actionFunction name="search" action="{!search}" rerender="dataSection,btnSection" status="statusLoad"  />     
					<table>
						<tr>
							<td>                        
								<apex:outputPanel styleClass="SearchField">
									<div class="SearchInput">
										<apex:selectList value="{!selectedAgencyGroup}" style="width:180px;" size="1" id="selAgencyGroup" styleclass="chosen">
											<apex:SelectOptions value="{!agencyGroupOptions}" />
											<apex:actionSupport event="onchange" action="{!searchAgencies}" status="statusLoad" reRender="agencies,users" onComplete="jQuery('.selectAgency').chosen();"/>
										</apex:selectList>
									</div>
									<div class="SearchFooter">
										<span class="SearchLabel">Agency Group</span>
									</div>
								</apex:outputPanel>
	                        </td>

							<td rowspan="2">
								<apex:outputPanel styleClass="SearchField" id="users">
									<div class="SearchInput">
										<apex:selectList value="{!selectedUser}" multiselect="true" size="5" style="width:150px;" >
											<apex:SelectOptions value="{!userOptions}" />
										</apex:selectList>
									</div>
									<div class="SearchFooter">
										<span class="SearchLabel">User</span>
									</div>
								</apex:outputPanel>
							</td>
							<td rowspan="2" >
								<apex:outputPanel styleClass="SearchField" style="width:130px;" >
									<div class="SearchInput">
										<apex:selectList value="{!selectQuoteStatus}" multiselect="true" size="4" onclick="if(this.value == 'Unsuccessful') jQuery('#URtd').css('display',''); else jQuery('#URtd').css('display','none'); ">
											<apex:SelectOptions value="{!QuoteStatus}" />
										</apex:selectList>
									</div>
									<div class="SearchFooter">
										<span class="SearchLabel">Quote Status</span>
									</div>
								</apex:outputPanel>
							</td>
									
							<!-- <td rowspan="2" style="display:none;" id="URtd" >
								<apex:outputPanel styleClass="SearchField" style="width:160px;" >
									<div class="SearchInput">
										<apex:selectList value="{!unsuccessfulReason}" multiselect="true" size="4">
											<apex:SelectOptions value="{!unsuccessful_items}" />
										</apex:selectList>
									</div>
									<div class="SearchFooter">
										<span class="SearchLabel">Unsuccessfull Reason</span>
									</div>
								</apex:outputPanel>
							</td>		 -->
									
							<td rowspan="2" style="min-width:170px;">
								<apex:outputPanel styleClass="SearchField" style="width:160px;" >
									<div class="SearchInput">
										<apex:selectRadio value="{!selectedDateOptions}" layout="pageDirection">
											<apex:SelectOptions value="{!dateOptions}" />
										</apex:selectRadio>
									</div>
									<div class="SearchFooter">
										<span class="SearchLabel">Date search</span>
									</div>
								</apex:outputPanel>
							</td>									
							<td>
								<apex:outputPanel styleClass="SearchField"  style="width:100px;" >
									<div class="SearchInput">
										<apex:inputField value="{!fromDate.Expected_Travel_Date__c}" />
									</div>
									<div class="SearchFooter">
										<span class="SearchLabel">From Date</span>
									</div>
								</apex:outputPanel>
							</td>	
							<td rowspan="2" style="vertical-align:middle;">   
								<apex:outputPanel styleClass="SearchField" style="width:80px;">
									<div class="SearchInput">
										<apex:commandLink status="statusLoad" action="{!search}" title="Search!" reRender="result"  styleClass="searchLink">
											<apex:image title="Search" url="{!URLFOR($Resource.icons,'icons/commons/SIcon.png')}" style="background-repeat: no-repeat;" />
											<apex:outputText value="Search" styleClass="searchBtn" />
										</apex:commandLink>
									</div>
								</apex:outputPanel>                     
							</td>
																	
						</tr>
						<tr>
							<td>
								<apex:outputPanel styleClass="SearchField" id="agencies">
									<div class="SearchInput">
										<apex:selectList value="{!selectedAgency}" style="width:180px;" size="1" styleclass="chosen selectAgency">
											<apex:SelectOptions value="{!agencyOptions}" />
											<apex:actionSupport event="onchange" action="{!searchUsers}" status="statusLoad" reRender="users" />
										</apex:selectList>
									</div>
									<div class="SearchFooter">
										<span class="SearchLabel">Agency</span>
									</div>
								</apex:outputPanel> 
							</td>

	
							<td>
								<apex:outputPanel styleClass="SearchField" style="width:100px;">
									<div class="SearchInput" >
										<apex:inputField value="{!toDate.Expected_Travel_Date__c}" />
									</div>
									<div class="SearchFooter">
										<span class="SearchLabel">To Date</span>
									</div>
								</apex:outputPanel>
							</td>

						</tr>					           
					</table>
	              
					<apex:messages style="color:red;font-size:11px"/>   
					<div id="asdf" class="clear"><br /></div>
	  
				</apex:outputPanel>
			</apex:pageBlockSection>
		
								
			<apex:pageblockSection id="result" columns="1" >
						
					<apex:outputPanel style="font-weight:bold; font-size:1.2em;text-align:center; display: block; width: 100%;" rendered="{!agencyList.size > 0}">
						<apex:outputText value="Quotation & Enrolled Report " />
					</apex:outputPanel>  
					<apex:outputText value="{!QuotesperStatus}" styleClass="quotesStatus agencyBackground agencyFont" escape="false" />
					<apex:chart data="{!quotesPerAgency}" width="100%" height="500" resizable="true">
						<apex:legend position="right"/>
						<apex:axis type="Numeric" position="bottom" grid="true"  dashSize="2" fields="totalEnroll,total" title="Total quotes per {!IF(selectedAgencyGroup != '' && selectedAgency = '','Agency','User')}"/>
							
						<apex:axis type="Category" position="left" fields="agency" title="{!IF(selectedAgencyGroup != '' && selectedAgency = '',GroupName, agencyList[0].agencyName)}" rendered="{!agencyList.size > 0}"/>
						<apex:barSeries orientation="horizontal"  axis="left"  xField="totalEnroll,total" yField="agency" stacked="true" title="Enrolled,Created" >
							<apex:chartTips height="40" width="200"/>
							<apex:chartLabel display="insideEnd" field="total" color="#333" orientation="horizontal" />
						</apex:barSeries>
					</apex:chart>	
				<!--apex:actionFunction action="{!searchQuotesByUser}" name="searchQuotesByUser" status="statusLoad" reRender="quotesPerUser" >
					<apex:param id="userID" name="userID" value="" />
					<apex:param id="showALL" name="showALL" value="" />
				</apex:actionFunction-->		
					<apex:repeat value="{!agencyList}" var="a">
						<apex:outputPanel >
							<table style="width:100%; text-align:left;padding:3px;font-weight:bold;" class="agencyBackground">
								<tr>
									<td style="width:60%;" class="agencyFont">
										<apex:commandLink onclick="javascript:toggle('{!$Component.users}');javascript:toggle('{!$Component.btnMax}'); javascript:toggle('{!$Component.btnMin}');return false;"  
											style="float: left; margin-right: 5px;">
											<apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" id="btnMax" style="position: relative;" />
											<apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" id="btnMin" style="display:none;position: relative;top: 2px;"/>										
										</apex:commandLink>
										<div style="float: left; position: relative; top: 3px;">{!a.agencyName} - <span class="agencyFont" style="font-weight:bold;">{!a.quoteCount} quotes </span> 
										for <span class="agencyFont" style="font-weight:bold;">{!a.quotesPerClient} clients </span></div>
									</td>
									<td style="width:40%;" class="agencyFont">
										<div style="position: relative; top: 3px;">
											<apex:repeat value="{!a.countQuotesStatus}" var="m">
												({!m} - <span class="agencyFont" style="font-weight:bold;">{!a.countQuotesStatus[m]}</span>)&nbsp;
											</apex:repeat>
										</div>	
									</td>
								</tr>
							</table>
						</apex:outputPanel>
						
						<apex:outputPanel id="users" style="display:none; ">
							<apex:variable value="{!0}" var="colorLineUser" />
							<apex:repeat value="{!a.userList}" var="user" >
								<apex:outputPanel rendered="{!user.quoteCount > 0}" >
								
									<apex:outputpanel layout="block" style="width:98%; margin-left:15px; font-weight:bold;padding:3px;background:#999;color:white;margin-bottom:5px;" >
											<apex:commandLink action="{!searchQuotesByUser}" id="callAction" style="cursor:pointer;color:white;" reRender="{!$Component.quotesPerUser}" status="statusLoad"  
														onclick="toggle('{!$Component.quotesPerUser}');toggle('{!$Component.callAction}'); toggle('{!$Component.noAction}'); toggleSpace('{!$Component.quotesSpace}');" >
												<apex:param id="userID" name="userID" value="{!user.userID}" />
												<apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" id="btnMaxUser" style="position: relative;top: 2px;" />
												<apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" id="btnMinUser" style="display:none;position: relative;top: 2px;"/>	
												<apex:outputText value="{!user.userName} - {!user.quoteCount} quotes " style="padding-left:10px;" escape="false" />						
												<apex:outputText value=" for {!user.quotesPerClient} clients " escape="false" />	
											</apex:commandLink>
				
											<apex:outputLabel onclick="toggle('{!$Component.quotesPerUser}'); toggle('{!$Component.btnMaxUserAc}'); toggle('{!$Component.btnMinUserAc}');toggleSpace('{!$Component.quotesSpace}');" 
															id="noAction" style="display:none; cursor:pointer; " >
												<apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" id="btnMaxUserAc" style="display:none;position: relative;top: 2px;"/>
												<apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" id="btnMinUserAc" style="position: relative;top: 2px;" />	
												<apex:outputText value="{!user.userName} - " style="padding-left:10px;"/>
												<apex:outputText value="{!user.quoteCount} quotes" style="padding-left:10px;color:white;" />	
												<apex:outputText value=" for {!user.quotesPerClient} clients"   />								
											</apex:outputLabel>
											&nbsp;&nbsp;&nbsp;
											<apex:repeat value="{!user.countQuotesStatus}" var="m">
													({!m} - {!user.countQuotesStatus[m]})&nbsp;
											</apex:repeat>	
									   </apex:outputpanel>
									
									<apex:variable value="{!colorLineUser + 1}" var="colorLineUser" />
									<apex:outputPanel id="quotesPerUser">										
											<apex:variable value="{!0}" var="colorLine" />
											<apex:repeat value="{!user.quoteList}" var="ql">
												
												<apex:outputPanel rendered="{!NOT(ISNULL(user.quoteList))}">
													<apex:outputPanel rendered="{!colorLine = 0}">
														<table style="width:97%;margin-left: 45px;font-weight:bold;border-spacing: 0;margin-top:3px;">
															<tr style="background-color:#ECF4F7;" >
																<td style="width:4%;">&nbsp;</td>
															    <td style="width:25%;">Client Name</td>
																<td style="width:25%;">Client Status</td>
																<td style="width:20%;">Client Nationality</td>
																<td style="width:12%;">Number of Quotes</td>
															</tr>
														</table>
													</apex:outputPanel>			
													<table style="width:97%; text-align:left;margin-left: 45px;border-spacing: 0;" >
														<tr style="{!IF(MOD(colorLine,2) == 0 , 'background-color:#F3F3F3','')}" class="row">
															<td style="width:2%;" >
																<apex:variable value="{!0}" var="countItems" />
																<apex:repeat value="{!user.quoteList[ql]}" var="clientDetail">	
																	<apex:variable value="{!countItems + 1}" var="countItems" />
																</apex:repeat>
																	
																<apex:outputLabel onclick="toggle('{!$Component.clientsQuoted}'); toggle('{!$Component.btnMaxQuote}'); toggle('{!$Component.btnMinQuote}');" style="cursor:pointer;">
																	<apex:param id="userID" name="userID" value="{!user.userID}" />
																	<apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" id="btnMaxQuote" />
																	<apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" id="btnMinQuote" style="display:none;"/>	
														
																</apex:outputLabel>	
															</td>
															
															<apex:repeat value="{!user.quoteList[ql]}" var="clientDetail" rows="1">	
																<td style="width:2%;">
																	
																	<apex:outputLink value="{!IF(NOT(redirectNewContactPage),'activity_log','contact_new_activity_log')}?id={!clientDetail.clientId}" target="_blank">
																		<apex:image value="{!URLFOR($Resource.icons,'/icons/commons/bird.png')}"
																			style="cursor:pointer; margin-right: 5px; position: relative; top: -3px;"
																			title="Edit Client details" />
																	</apex:outputLink>
																	
																	<!-- <apex:image value="{!URLFOR($Resource.icons,'/icons/commons/bird.png')}" style="cursor:pointer; margin-right: 5px; margin-left: 10px; " title="Edit Client details"  onclick="openClientDetails('{!clientDetail.clientId}');" /> -->
																</td>
																<td style="width:25%;">{!clientDetail.fullName}</td>
																<td style="width:25%;">
																	<apex:repeat value="{!clientDetails[clientDetail.clientId]}" var="client" rendered="{!clientDetail.clientId != null}">
																		<apex:repeat value="{!client.Client_Stage_Follow_Up__r}" var="cs">
																			<apex:outputText value="<span class=title>{!cs.Stage__c}</span> - {!cs.Stage_Item__c} on  {0, date, dd/MM/yy}" escape="false" style="font-size:1em; display: block; margin-top: 3px;" >
																				<apex:param value="{!cs.createdDate}" />
																			</apex:outputText>
																		</apex:repeat>
																	</apex:repeat>
																</td>
																<td style="width:20%;">
																	{!clientDetail.nationality}																
																</td>
																<td style="width:12%;"> <apex:outputText value=" {!countItems}" style=" color:#0B6FCE;" /></td>
	
															</apex:repeat>
														</tr>
														
													</table>
												</apex:outputPanel>
														
												<apex:pageBlockTable id="clientsQuoted" value="{!user.quoteList[ql]}" var="quote" style="margin-left: 70px; margin-bottom:15px !important; margin-top: 3px; display:none; width:95%;" rendered="{!NOT(ISNULL(user.quoteList))}"  >				
												<!--apex:column headerValue="Client Name">
														<apex:image value="{!URLFOR($Resource.icons,'/icons/commons/bird.png')}" style="cursor:pointer; margin-right: 5px; position: relative; top: 3px;" title="Edit Client details"  onclick="openClientDetails('{!quote.Client__r.Id}');" />
														<apex:outputText value="{!quote.Client__r.Name}" /> 
													</apex:column-->
													<apex:column headerValue="Quote Number">
														<apex:outputLink value="quotation?id={!quote.quoteId}" styleclass="title" target="_Blank">
															<apex:outputText value="{!quote.Name}" />
														</apex:outputLink> 
													</apex:column>
														
													<apex:column headerValue="Quote Status">
														<apex:outputText value="{!quote.statusId}" style="color:{!IF(UPPER(quote.statusId) == 'IN PROGRESS','blue',IF(UPPER(quote.statusId) == 'ENROLLED','green',''))}"/>
														<apex:outputPanel rendered="{!quote.statusId == 'Unsuccessful'}">
															<br/>
															<!-- <apex:outputText value="{!quote.Unsuccessful__c}" style="font-size:0.8em;color:orange;"   />	
															<apex:outputText value=" - {!quote.status_comments__c}" style="font-size:0.8em;" rendered="{!NOT(ISNULL(quote.status_comments__c)) && quote.status_comments__c != ''}"  /> -->
														</apex:outputPanel>
													</apex:column>	
													
													<apex:column headerValue="Quote Created on" >
														<apex:outputText value="{0,date,dd'/'MM'/'yyyy}"> 
															<apex:param value="{!quote.createdDate}" />
														</apex:outputText>
													</apex:column>
													<apex:column headerValue="Quote Expiry on" >
														<apex:outputText value="{0,date,dd'/'MM'/'yyyy}"> 
															<apex:param value="{!quote.expiryDate}" />
														</apex:outputText>
													</apex:column>
				
												</apex:pageBlockTable>
														
												<apex:variable value="{!colorLine + 1}" var="colorLine" />	
																																	
											</apex:repeat>										
											
									</apex:outputPanel>
										
									<apex:outputPanel style="margin-bottom: 10px; width: 100%;display:none;" id="quotesSpace">
									</apex:outputPanel>
										
								</apex:outputpanel>
								
							</apex:repeat>
								
						</apex:outputPanel>
									
					</apex:repeat>
				
			</apex:pageBlockSection>					
					
		</apex:pageBlock>		
	</apex:form>			
			
</apex:page>