<apex:page controller="report_conversion_rate" action="{!generateExcelFile}" readOnly="true" sidebar="false" showHeader="false" contenttype="application/vnd.ms-excel#report_conversion_rate.xls">
	<head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    </head>
    <style>
        br {
            mso-data-placement: same-cell;
        }
    </style>
    <body>
        <table>
            <thead>
                <tr>
                    <th colspan="5" style="text-align: center;">Contacts Conversion Rate</th>
                    
                </tr>
                <tr>
                    <th style="text-align: center;">Contact Created Date</th>
                    <th style="text-align: center;">Contact Name</th>
                    <th style="text-align: center;">Email</th>
                    <th style="text-align: center;">Record Type</th>
                    <th style="text-align: center;">Contact Origin</th>
                    <th style="text-align: center;">RDStation Campaign</th>
                    <th style="text-align: center;">Conversion Date</th>
                    <th style="text-align: center;">Lost Date</th>
                    <th style="text-align: center;">Last Stage</th>
                    <th style="text-align: center;">Last Status</th>
                    <th style="text-align: center;">Last Status Date</th>
                    <th style="text-align: center;">Destination</th>
                    <th style="text-align: center;">Owner</th>				
                    <th style="text-align: center;">Current Agency</th>				
                    <th style="text-align: center;">Contact Enrolled in Course</th>				
                    <th style="text-align: center;">Lead Status Reason</th>				
                    <th style="text-align: center;">Lead Status Comment</th>				
                    <!--<th style="text-align: center;">DTracking</th>-->
                </tr>
            </thead>
            <tbody>
                <apex:repeat value="{!resultExcel}" var="listContacts"> 
                    <apex:repeat value="{!listContacts}" var="contact">
                        <tr>
                            <td>
                                {!contact.createdDate}
                            </td>
                            <td>
                                {!contact.contactName}
                            </td>
                            <td>
                                {!contact.contactEmail}
                            </td>
                            <td>
                                {!contact.contactStatus}
                            </td>
                            <td>
                                <apex:outputText value="{!contact.contactOrigin}" rendered="{!contact.contactOrigin != 'Not Defined'}"/>
                            </td>
                            <td>
                                <apex:outputText value="{!contact.rdStationCampaign}" rendered="{!contact.contactOrigin == 'RDStation'}" />
                            </td>
                            <td>
                                <apex:outputText value="{!contact.conversionDate}" rendered="{!contact.contactStatus == 'Client'}"/>
                            </td>
                            <td>
                                <apex:outputText value="{!contact.conversionDate}" rendered="{!contact.contactStatus == 'Lead Lost'}"/>
                            </td>
                            <td>
                                {!contact.stageStatus}
                            </td>
                            <td>
                                {!contact.status}
                            </td>
                            <td>
                                {!contact.checkedDate}
                            </td>
                            <td>
                                {!contact.destination}
                            </td>
                            <td>
                                {!contact.checkedBy}
                            </td>
                            <td>
                                {!contact.currentAgency}
                            </td>
                            <td>
                                {!contact.enrolledCourse}
                            </td>
                            <td>
                                {!contact.lostReason}
                            </td>
                            <td>
                                {!contact.lostComment}
                            </td>
                        </tr>
                    </apex:repeat>
                </apex:repeat>
            </tbody>
        </table>
    </body>
</apex:page>