<apex:page controller="ReportVisitsController" sidebar="true" showHeader="true" readonly="true">

<apex:include pageName="xStylePageV2" />
<apex:include pageName="xCourseSearchStyle" />

<!-- Chosen -->
<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />
<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />


<style>

    .box-searh input,.box-searh select,.SearchFooter {
        margin-left: 10px;
    }

    .dateFormat{
        display:none;
    }

    body .pbBody table.list tr.dataRow th, body .pbBody table.list tr.dataRow td {
        border-width: 0 !important;
    }

    .box-searh,.box-searh {
        background-color: #F3F3F3;
        border: 1px solid #999999 !important;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0 0 0 #CCCCCC;
        display: block;
        padding: 4px;
    }

    .SearchField {
        border: 0 none;
        //float: left;
        width: 200px;
    }

    .quotesStatus {
        background-color: #ECF4F7;
        color: #348CC0;
        display: block;
        font-weight: bold;
        padding: 3px;
        text-align: right;
        width: 100%;
    }

    .searchBtn {
        color: #8FAACD;
        position: relative;
        text-decoration: none;
        top: -11px;
    }

    .searchLink {
        text-decoration: none;
        display: block;
        height: 30px;
    }

    .searchLink:hover {
        background-color: #CCDEF5;
        border-radius: 3px;
        text-decoration: none;
    }

    .datePicker select {
        font-size: 0.85em;
        height: 19px;
        width: 74px;
    }

    #calYearPicker {
        width: 48px;
    }


    .datePicker .calBody {
        padding: 0
    }

    .datePicker .dateBar .calRight,.datePicker .dateBar .calRightOn {
        margin: 0 2px 0 0;
        height: 17px;
    }

    .datePicker .dateBar .calLeft,.datePicker .dateBar .calLeftOn {
        margin: 0;
        height: 17px;
    }

    .theCell {
        background:
            url("{!URLFOR($Resource.icons,'icons/commons/ui-bg_glass_75_e6e6e6_1x400.png')}")
            repeat-x scroll 50% 50% #E6E6E6;
        border: 1px solid #D3D3D3;
        color: highlight;
        font-weight: normal;
    }

    .lastSaved {
        background-image: -moz-linear-gradient(center top, #81D7F9, #FFFFFF);
    }

    .errorConsole .x-grid3-row-over,body .pbBody table.list tr.dataRow.highlight td,body .pbBody table.list tr.dataRow.highlight th
        {
        border-bottom: 0.5px solid #F5F5F5;
        background-color: transparent;
    }

    table.noBorder tr {
        border-bottom: none;
    }

    .cellWidth {
        width: 250px;
        background-color: #FFF !important;
    }

    .cellWidthUser {
        width: 225px;
    }

    .dateOnlyInput input {
        height: 20px !important;
    }

    #tableFilters td {
        width:210px;
    }


    table.startDateTable thead th{
        background-color: #E1E1E1;
    }

    table.startDateTable tr:nth-child(odd) {background-color: white; }
    table.startDateTable tr:nth-child(even) {background-color:#f1f1f1;}

</style>

<script>
    jQuery(document).ready(function() {
        jQuery('.chosen').chosen();
    });

     function esc(myid) {
         return '#' + myid.replace(/(:|\.)/g,'\\\\$1');
     }

    String.prototype.toHHMMSS = function () {
        sec_numb    = parseInt(this);
        var hours   = Math.floor(sec_numb / 3600);
        var minutes = Math.floor((sec_numb - (hours * 3600)) / 60);
        var seconds = sec_numb - (hours * 3600) - (minutes * 60);

        if (hours   < 10) {hours   = "0"+hours;}
        if (minutes < 10) {minutes = "0"+minutes;}
        if (seconds < 10) {seconds = "0"+seconds;}
        var time    = hours+':'+minutes+':'+seconds;
        return time;
    }
</script>
<body>


<apex:form >
    <!-- Title -->
    <a href="javascript: history.go(-1)" class="title" style="text-decoration:none;">
        <!--apex:image title="Search" url="{!URLFOR($Resource.icons,'icons/commons/return_icon.png')}" style="background-repeat: no-repeat;" /-->
        <apex:outputText value="Back to Reports" styleClass="title" />
    </a>
    <br/><br/>
    <!-- Filters -->

        <apex:outputpanel >
            <div style="font-weight: bold; padding: 5px;" class="agencyBackground agencyFont">
                <apex:outputText value="Visits Report" style="margin-left:10px;" /> <!--<apex:outputText value=" (Check progress, status and important dates of clients)" style="font-size:0.75em;"/>-->
            </div>
            <apex:outputPanel id="filters" layout="block" styleClass="box-searh" style="width:99.5%;">
                <table id="tableFilters">
                    <tr>
                        <td>
                            <apex:outputPanel styleClass="SearchField" id="users">
                                <div class="SearchInput">
                                    <apex:selectList value="{!selectedAgencyGroup}" multiselect="false" size="1" style="width:200px;" styleclass="chosen">
                                        <apex:SelectOptions value="{!agencyGroupOptions}" />
                                        <apex:actionSupport event="onchange" action="{!changeAgencyGroup}" status="statusLoad" reRender="filters" oncomplete="jQuery('.chosen').chosen();" />
                                    </apex:selectList>
                                </div>
                                <div class="SearchFooter">
                                    <span class="SearchLabel">Agency Group</span>
                                </div>
                            </apex:outputPanel>
                        </td>

                        <td>
                            <apex:outputPanel styleClass="SearchField" id="searchTypes">
                                <div class="SearchInput">
                                    <apex:selectList styleClass="chosen" value="{!selectedDepartment}" size="1" style="width:180px;" styleclass="chosen">
                                        <apex:SelectOptions value="{!departments}" />
                                        <apex:actionSupport event="onchange" action="{!changeDepartment}" status="statusLoad" reRender="filters" oncomplete="jQuery('.chosen').chosen();" />
                                    </apex:selectList>
                                </div>
                                <div class="SearchFooter">
                                    <span class="SearchLabel">Department</span>
                                </div>
                            </apex:outputPanel>
                        </td>

                        <td rowspan="2">
                            <apex:outputPanel styleClass="SearchField">
                                <div class="SearchInput">
                                    <apex:selectList value="{!selectedUser}" multiselect="true" size="4" style="width:180px;" >
                                        <apex:SelectOptions value="{!userOptions}" />
                                    </apex:selectList>
                                </div>
                                <div class="SearchFooter">
                                    <span class="SearchLabel">Users</span>
                                </div>
                            </apex:outputPanel>
                        </td>

                        <td>
                            <apex:outputPanel styleClass="SearchField">
                                <div class="SearchInput">
                                <apex:selectList value="{!selectedStatus}" style="width:200px;" size="1" styleclass="chosen">
                                    <apex:SelectOptions value="{!status}" />
                                </apex:selectList></div>
                                <div class="SearchFooter"><span class="SearchLabel">Status</span> </div>
                            </apex:outputPanel>

                        </td>
                        <apex:outputpanel layout="none" rendered="{!selectedPeriod == 'PERIOD'}">
                            <td></td>
                        </apex:outputpanel>

                        <td rowspan="2">
                            <div class="SearchInput">
                            <apex:commandLink status="statusLoad" action="{!searchClientVisits}" styleClass="searchLink" title="Search!" reRender="filters, result"
                                    oncomplete="allOpened = false;allSelected = false; jQuery('.chosen').chosen();">
                                    <apex:image title="Search"
                                        url="{!URLFOR($Resource.icons,'icons/commons/SIcon.png')}"
                                        style="background-repeat: no-repeat;" />
                                    <apex:outputText value="Search" styleClass="searchBtn" />
                            </apex:commandLink></div>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <apex:outputPanel styleClass="SearchField">
                            <div class="SearchInput">
                                <apex:selectList value="{!selectedAgency}" style="width:200px;" size="1" styleclass="chosen">
                                    <apex:SelectOptions value="{!agencyOptions}" />
                                    <apex:actionSupport event="onchange" action="{!changeAgency}" status="statusLoad" reRender="filters" oncomplete="jQuery('.chosen').chosen();" />
                                </apex:selectList>
                                </div>
                            <div class="SearchFooter"><span class="SearchLabel">Agency</span>
                            </div>
                        </apex:outputPanel></td>

                        <td>
                            <apex:outputPanel styleClass="SearchField">
                                <div class="SearchInput">
                                <apex:selectList value="{!selectedService}" style="width:180px;" size="1" styleclass="chosen">
                                    <apex:SelectOptions value="{!services}" />
                                </apex:selectList></div>
                                <div class="SearchFooter"><span class="SearchLabel">Services</span> </div>
                            </apex:outputPanel>
                        </td>

                        <td>
                            <apex:outputPanel styleClass="SearchField" >
                                <div class="SearchInput">
                                <apex:selectList value="{!selectedPeriod}" style="width:200px;" size="1" styleclass="chosen">
                                    <apex:SelectOptions value="{!periods}" />
                                    <apex:actionSupport event="onchange" status="statusLoad" reRender="filters" onComplete="jQuery('.chosen').chosen();" />
                                </apex:selectList></div>
                                <div class="SearchFooter"><span class="SearchLabel">Period</span> </div>
                            </apex:outputPanel>

                        </td>
                        <apex:outputpanel layout="none" rendered="{!selectedPeriod == 'PERIOD'}">
                            <td>
                                <apex:outputPanel styleClass="SearchField" style="width:90px;float:left; position: relative;top: -12px;">
                                    <div class="SearchFooter"><span class="SearchLabel">From Date</span></div>
                                    <div class="SearchInput"><apex:inputField styleClass="fromDate" value="{!fromDate.Expected_Travel_Date__c}" /></div>
                                </apex:outputPanel>
                                <apex:outputPanel styleClass="SearchField" style="width:90px;float:left;position: relative;top: -12px;">
                                    <div class="SearchFooter"><span class="SearchLabel">To Date</span></div>
                                    <div class="SearchInput"><apex:inputField styleClass="toDate" value="{!toDate.Expected_Travel_Date__c}" /></div>
                                </apex:outputPanel>
                                <apex:inputfield value="{!fromDate.Arrival_Date__c}" style="display:none" />
                            </td>
                        </apex:outputpanel>
                    </tr>
                </table>
            </apex:outputPanel>
        </apex:outputpanel>

    <br /><br />
    <apex:outputpanel id="result" >
        <!-- MSG IN CASE OF NO RESULT -->
        <apex:outputpanel rendered="{!showMsg && showResult}">
            <apex:outputtext value="There are no visits for this period" styleclass="title" style="display:block; text-align:center; font-size:14px;"/>
        </apex:outputpanel>
        <!-- BUTTON EXPORT EXCEL -->
    <!--    <apex:outputpanel rendered="{!NOT(showMsg) && showResult && userDetails.Contact.Export_Report_Permission__c}">
            <apex:commandbutton value="Export To Excel"  action="{!exportToExcel}" style="float:right; margin-right:60px;" status="ipStatus"/>
        </apex:outputpanel> -->
        <br /><br />
        <!-- TOTAL -->
        <apex:outputpanel rendered="{!NOT(showMsg) && showResult}" layout="block">
            <span style="font-size:14px; font-weight:bold; float:left;">Total Services: &nbsp;</span>
            <span class="counterWhitekBg" style="font-weight: bold !important; text-align: center !important">{!totalServices}</span>

            <span style="font-size:14px; font-weight:bold; float:left;margin-left:20px;">Total Visits: &nbsp;</span>
            <span class="counterWhitekBg" style="font-weight: bold !important; text-align: center !important">{!totalAllVisits}</span>


            <span style="font-size:14px; font-weight:bold; float:left;margin-left:20px;">Average visits per day: &nbsp;</span>
            <span class="counterWhitekBg" style="font-weight: bold !important; text-align: center !important">
                <apex:outputText value="{0, number, 0.0}" rendered="{!NOT(ISNULL(workingDays)) && workingDays>0}">
                      <apex:param value="{!totalServices/workingDays}" />
                </apex:outputText>
                <apex:outputText value="{0, number, 0.0}" rendered="{!NOT(ISNULL(workingDays)) && workingDays<1}">
                      <apex:param value="{!totalServices}" />
                </apex:outputText>
            </span>

            <span style="float: right;">
                <apex:outputPanel rendered="{!userDetails.Contact.Export_Report_Permission__c}">
                    <apex:commandLink value="Export to Excel" onclick="genExcel();" styleClass="agencyButton" rerender="resultExcel" target="_blank" immediate="true" status="statusLoad" />
                    <apex:actionFunction name="genExcel" action="{!generateExcel}" />
                </apex:outputPanel>
            </span>
        </apex:outputpanel>
        <br /><br />
        <!-- RESULT -->
        <apex:repeat value="{!resultMap}" var="ag" >
        <apex:repeat value="{!resultMap[ag]}" var="dp" >
        <apex:outputpanel styleclass="agencyBackground agencyFont" layout="block" style="font-weight: bold; padding: 5px;margin-top:5px;">
            <apex:commandLink id="link" style="float:left; margin-right:15px" onClick="jQuery('.btMax{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(dp,'/',''),'&', ''),' ','' )}').toggle(); jQuery('.btMin{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(dp,'/',''),'&', ''),' ','' )}').toggle(); jQuery('.{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(dp,'/',''),'&', ''),' ','' )}').toggle(); return false;" >
                <apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" styleclass="btMax{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(dp,'/',''),'&', ''),' ','' )}" />
                <apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" styleclass="btMin{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(dp,'/',''),'&', ''),' ','' )}"  style="display:none"/>
            </apex:commandLink>
            <span class="counterAgencyBg">{!countDepMap[dp].visitCount}</span>
            <span>&nbsp;&nbsp;&nbsp;{!dp}</span>
            <!-- <apex:outputpanel rendered="{!selectedstatus=='completed'}">
                <span style="float:right; margin-right:10px;">Average Duration: &nbsp;<apex:outputtext value="{!countDepMap[dp].hourAverageDuration}" /></span>
                <span style="float:right;">Average Waiting:&nbsp; <apex:outputtext value="{!countDepMap[dp].hourAverageWaiting}"  style="margin-right:50px;"/></span>
                <span style="float:right;">Average Visits Per Day:&nbsp;
                    <apex:outputText value="{0, number, 0.0}" style="margin-right:50px;">
                          <apex:param value="{!countDepMap[dp].visitCount/workingDays}" />
                    </apex:outputText>
                </span>
            </apex:outputpanel> -->
        </apex:outputpanel>

        <apex:outputpanel styleclass="{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(dp,'/',''),'&', ''),' ','' )}" style="margin-left: 20px;display:none;" layout="block">

        <apex:repeat value="{!resultMap[ag][dp]}" var="us" >

            <apex:outputpanel layout="block" style="margin-top: 10px;margin-bottom:10px;padding:5px;font-weight: bold;background-color: #999;font-weight: bold;color:white;">
                <apex:commandLink id="link" style="float:left; margin-right:15px" onClick="jQuery('.btMax{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(dp,'/',''),'&', ''),' ','' )}{!SUBSTITUTE(us,' ', '')}').toggle(); jQuery('.btMin{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(dp,'/',''),'&', ''),' ','' )}{!SUBSTITUTE(us,' ', '')}').toggle(); jQuery('#{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(dp,'/',''),'&', ''),' ','' )}{!SUBSTITUTE(us,' ', '')}').toggle(); return false;" >
                    <apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" styleclass="btMax{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(dp,'/',''),'&', ''),' ','' )}{!SUBSTITUTE(us,' ', '')}" />
                    <apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" styleclass="btMin{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(dp,'/',''),'&', ''),' ','' )}{!SUBSTITUTE(us,' ', '')}" style="display:none" />
                </apex:commandLink>
                <span class="counter">{!countEmpMap[dp][us].visitCount}</span>
                <span>&nbsp;&nbsp;&nbsp;{!us}</span>
                <apex:outputpanel rendered="{!selectedStatus=='Completed'}">
                    <span style="float:right; margin-right:10px;">
                        Average Duration: &nbsp;
                        <!-- <apex:outputtext value="{!countEmpMap[dp][us].totalAverage}"  /> -->
                        <apex:outputpanel id="totalAverage" style="margin-right:25px;" ></apex:outputpanel>
                        <script>
                            jQuery(esc("{!$Component.totalAverage}")).html("{!countEmpMap[dp][us].totalAverage}".toHHMMSS());
                        </script>
                    </span>

                    <span style="float:right;">
                        Average Waiting: &nbsp;
                        <!-- <apex:outputtext value="{!countEmpMap[dp][us].waitingDuration}" style="margin-right:25px;" /> -->
                        <apex:outputpanel id="totalWaitingAverage" style="margin-right:25px;" ></apex:outputpanel>
                        <script>
                            jQuery(esc("{!$Component.totalWaitingAverage}")).html("{!countEmpMap[dp][us].totalAverageWaiting}".toHHMMSS());
                        </script>
                    </span>
                    <span style="float:right;">Average Visits Per Day: &nbsp;
                        <apex:outputText value="{0, number, 0.0}" style="margin-right:25px;" rendered="{!NOT(ISNULL(workingDays)) && workingDays>0}">
                              <apex:param value="{!countEmpMap[dp][us].visitCount/workingDays}" />
                        </apex:outputText>

                        <apex:outputText value="{0, number, 0.0}" style="margin-right:25px;" rendered="{!NOT(ISNULL(workingDays)) && workingDays<1}">
                              <apex:param value="{!countEmpMap[dp][us].visitCount}" />
                        </apex:outputText>
                    </span>
                </apex:outputpanel>
            </apex:outputpanel>

            <table cellpadding="5px" style="width:96%; border-spacing:0px; margin-left:20px; display:none;border:1px solid grey;" class="startDateTable" id="{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(dp,'/',''),'&', ''),' ','' )}{!SUBSTITUTE(us,' ', '')}" >
              <thead>
                <th>
                    <span>Clients</span>
                </th>
                <th>
                    <span>Email</span>
                </th>
                <th>
                    <span>Mobile</span>
                </th>
                <th>
                    <span>Total Visits</span>
                </th>
                <th>
                    <span>Service</span>
                </th>
                <th>
                    <span>Start</span>
                </th>
                <th>
                    <span>Finish</span>
                </th>
                <th>
                    <span>Waiting</span>
                </th>
                <th>
                    <span>Duration</span>
                </th>

                <apex:outputpanel layout="none" rendered="{!selectedStatus == 'Cancelled'}">
                    <th>
                        <span>Cancel Reason</span>
                    </th>
                </apex:outputpanel>
                <th >
                    <span>Comments</span>
                </th>

                </thead>
                <tbody>
                <apex:repeat value="{!resultMap[ag][dp][us]}" var="v" >
                    <tr>
                        <td style="width:10%;">
                            <apex:outputtext value="{!v.clientName}" />
                        </td>
                        <td style="width:5%;">
                            <apex:outputtext value="{!v.clientEmail}" />
                        </td>
                        <td style="width:8%;">
                            <apex:outputtext value="{!mobileNumbers[v.clientid]}" />
                        </td>
                        <td style="width:5%; text-align: center;">
                            <apex:outputtext value="{!v.clientTotVisits}" />
                        </td>
                        <td style="width:10%;">
                            <apex:outputtext value="{!v.serviceName}" />
                        </td>
                        <td style="width:10%;">
                            <!-- <apex:outputText value="{0,date, dd/MM/yyyy HH:mm:ss z}">
                                <apex:param value="{!v.acceptedDate}" />
                            </apex:outputText> -->
                            <apex:outputText value="{!v.acceptedDate}" />
                        </td>
                        <td style="width:10%;">
                            <!-- <apex:outputText value="{0,date, dd/MM/yyyy HH:mm:ss z}">
                                <apex:param value="{!v.closeDate}" />
                            </apex:outputText> -->
                            <apex:outputText value="{!v.closeDate}" />
                        </td>
                        <td style="width:10%;">
                            <!-- <apex:outputtext value="{!v.compHourWaiting}" /> -->
                            <apex:outputpanel id="waiting"></apex:outputpanel>
                            <script>
                                   jQuery(esc("{!$Component.waiting}")).html("{!v.compHourWaiting}".toHHMMSS());
                            </script>
                        </td>
                        <td style="width:10%;">
                            <!-- <apex:outputtext value="{!v.compHourDuration}" /> -->
                            <apex:outputpanel id="duration"></apex:outputpanel>
                            <script>
                                   jQuery(esc("{!$Component.duration}")).html("{!v.compHourDuration}".toHHMMSS());
                            </script>
                        </td>

                        <apex:outputpanel layout="none" rendered="{!selectedStatus == 'Cancelled'}">
                            <td style="width:10%;">
                                <apex:outputtext value="{!v.cancelReason}" />
                            </td>
                        </apex:outputpanel>

                        <td style="width:10%;">
                            <apex:outputtext value="{!v.comments}" />
                        </td>
                    </tr>
                </apex:repeat>
                </tbody>
               </table>
            </apex:repeat>
        </apex:outputpanel>
        </apex:repeat>
        </apex:repeat>
    </apex:outputpanel>
</apex:form>
</body>
</apex:page>