<apex:page controller="ReportQuoteDetailsAgencyGroupController" action="{!quotesCourseExcelSearch}"  sidebar="false" showHeader="true" readonly="true" contenttype="application/vnd.ms-excel#CoursesQuoted.xls">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
</head>
<!-- Result Table -->
<body>
        <table>
            <thead>
                <th style="text-align: center;">Country</th>
                <th style="text-align: center;">City</th>
                <th style="text-align: center;">School</th>
                <th style="text-align: center;">Campus</th>
                <th style="text-align: center;">Agency</th>
                <apex:outputpanel rendered="{!selectedQuoteType != 'custom'}">
                <th style="text-align: center;">Course Type</th>
                </apex:outputpanel>
                <th style="text-align: center;">Course</th>
                <th style="text-align: center;">Client</th>
                <th style="text-align: center;">Client Email</th>
                <th style="text-align: center;">Nationality</th>
                <th style="text-align: center;">Owner</th>
                <th style="text-align: center;">Quote</th>
                <th style="text-align: center;">Quote Created</th>
                <th style="text-align: center;">Quote Expiry</th>
                <th style="text-align: center;">Quote Status</th>
                
            </thead>
            <tbody>
        <apex:repeat value="{!quotesExcel}" var="qt" >
            <tr>
                <td style="text-align: center">
                    {!qt.Campus_Country__c}
                </td>
                <td style="text-align: center">
                    {!qt.Campus_City__c}
                </td>
                <td style="text-align: center">
                    {!qt.School_Name__c}
                </td>
                <td style="text-align: center">
                    {!qt.Campus_Name__c}
                </td>
                <td style="text-align: center">
                    {!qt.Quotation__r.Agency__r.Name}
                </td>
                <apex:outputpanel rendered="{!selectedQuoteType != 'custom'}">
                    <td style="text-align: center">
                        {!qt.Campus_Course__r.Course__r.Course_Type__c}
                    </td>
                </apex:outputpanel>
                <td style="text-align: center">
                    {!qt.Course_Name__c}
                </td>
                <td style="text-align: center">
                    {!qt.Quotation__r.Client__r.Name}
                </td>
                <td style="text-align: center">
                    {!qt.Quotation__r.Client__r.Email}
                </td>
                <td style="text-align: center">
                    {!qt.Quotation__r.Client__r.Nationality__c}
                </td>
                <td style="text-align: center">
                    {!qt.Quotation__r.Client__r.Owner__r.Name}
                </td>
                <td style="text-align: center">
                    {!qt.Quotation__r.Name}
                </td>
                <td style="text-align: center">
                    <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
                        <apex:param value="{!qt.Quotation__r.CreatedDate}"/>
                    </apex:outputText>
                </td>
                <td style="text-align: center">
                    <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
                        <apex:param value="{!qt.Quotation__r.Expiry_Date__c}"/>
                    </apex:outputText>
                </td>
                <td style="text-align: center">
                    "{!qt.Quotation__r.Status__c}
                </td>
                
            </tr>
    </apex:repeat>
            </tbody>
        </table>            

</body>
</apex:page>