<apex:page standardController="Account" standardStylesheets="true" sidebar="false" showheader="true">

<!-- INCLUDE SCRIPTS AND STYLESHEETS -->
<apex:include pageName="xStylePageV2" />
<apex:include pageName="xCourseSearchStyle" />
<!-- copy  -->
  <table class="tbl_Details">
    <tr>
      <td rowspan="3" class="sidesColumn">
		<apex:form > 
        <c:scMenu account="{!$CurrentPage.parameters.id}" selectedItem="{!$CurrentPage.parameters.currentPage}" />
        </apex:form>
      </td>
      <td class="middleColumn">
        <div class="boxHeader">
          <c:scPageHeader Account="{!$CurrentPage.parameters.id}" />
        </div>
      </td>
      <!--<td rowspan="3" class="rightColumn sidesColumn"></td>-->
    </tr>
    <tr>
      <td class="middleColumn bodyColumn">
<!-- end copy  -->
 <div class="divHeader">
          Pictures
          
        </div>
        
        <div class="divContent">
          <apex:pageMessage summary="All pictures must be in landscape format. <br/>The picture size must be width 755 px, height 430 px and max 250 kb." escape="false" severity="info" strength="3" />
          <apex:outputPanel >
          <apex:actionregion >
           <cg:AttachmentComponent title="Manage your Pictures"
                  customObjectName="Account"
                  customObjectFileName="Account_Picture_File__c"
                  objectId="{!ID}"
		              inline="true"
		              useUploadAsPopup="true"
				          enableEmail="false"
				          enableFolders="false"
				          enableAttachFromSDriveFolders="false"
		              allowedFileExtensions="*.jpg;*.jpeg;*.png;*.gif"
		              pageSize="20"
              />
              </apex:actionregion>
          </apex:outputPanel>
           
        </div>  
<!-- copy  -->    
      </td>
    </tr>
</table>

</apex:page>