<apex:page standardController="Account"  showHeader="true"  sidebar="false">
<!-- copy  -->
<apex:include pageName="xStylePageV2" /> 
<apex:include pageName="xCourseSearchStyle" />
  <table class="tbl_Details" style="width: 100%">
    <tr>
      <td rowspan="3" class="sidesColumn" style="width: 211px">
        <apex:form > 
					<c:scMenu account="{!$CurrentPage.parameters.idCampus}" selectedItem="{!$CurrentPage.parameters.currentPage}" rendered="{!$CurrentPage.parameters.idCampus != null}" />
					<c:scMenu account="{!$CurrentPage.parameters.id}" selectedItem="{!$CurrentPage.parameters.currentPage}" rendered="{!$CurrentPage.parameters.id != null && $CurrentPage.parameters.idCampus = null}" />

        </apex:form>    
      </td>
      <td class="middleColumn">
        <div class="boxHeader">
          <c:scPageHeader Account="{!$CurrentPage.parameters.id}" />
        </div>
      </td>
      <!--<td rowspan="3" class="rightColumn sidesColumn"></td>-->
    </tr>
    <tr>
      <td class="middleColumn bodyColumn">
      <div id="panellayout" style="min-height: 800px"> 
<!-- end copy  -->

	<script type="text/javascript">
		// Reload to top frame if invoked solely AFTER uploading files by S-Drive		
	/*	if (top.location == self.location) {
		top.location.href = '{!$CurrentPage.Parameters.PageName}?id={!$CurrentPage.Parameters.AccoID}&currTab=Documents';
		}*/
	</script> 
	
	    
	<style>
		/* Hide everything but S-Drive */	
		.bDetailBlock {display: none;} 
		.listRelatedObject {display: none;}
		.noStandardTab {display: none;}
		.partnerBlock {display: none;}
	</style>

	    
	<cg:AttachmentComponent title="Document Files"
		customObjectName="Account"
		customObjectFileName="Account_Document_File__c"
		objectId="{!id}"
		inline="true"
		useUploadAsPopup="true"
		
	/>
    
	<script>
		// Invoke S-drive Actions (upload) in Top Frame
		jQuery("form[action*='https://c.']").attr("target","_top");
	</script>
<!-- copy  -->  
        </div>  
      </td>
    </tr>
  </table> 
<!-- end copy-->
</apex:page>