<apex:page controller="school_payments" sidebar="true" tabstyle="Finance__tab" action="{!setupGroupPayment}">


	<apex:include pageName="xStylePageV2" />
	<apex:include pageName="xCourseSearchStyle" />
	<apex:includeScript value="{!$Resource.Sticky}"/>

	<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />
	<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />

	<apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}"/>
	<apex:includeScript value="{!URLFOR($Resource.assets,'modalfiles/modal.js')}" />
	<apex:stylesheet value="{!URLFOR($Resource.assets,'modalfiles/modal.css')}" />

	<style>
		//#interVeil {
		//	z-index: 101;
		//}
		

		.ui-dialog-titlebar-close {
			visibility: hidden;
		}

		.divContent {
			border:  none;
			clear: both;
		}

		.boxReceived{
			border: 1px solid #ccc;
		    border-radius: 5px;
		    display: block;
		    margin: 1px 0;
		    padding: 1px;
	    }

		.smoothTh tr th{
			background-color: #f0ebeb;
		    //color: grey !important;
		    font-style: italic;
		    line-height: 20px;
		    font-size: 1em;
		    border-bottom: 1px solid #ccc;
		}

		.clientName {
			font-size: 15px;
		}



		.agencyButton {
			padding: 2px 10px;
		}

		.confirmed td {
			font-style: italic;
		}

		.deleteImage {
			position: relative;
			top: -2px;
			left: 3px;
		}

		.instalmentValue { font-size: 1.2em; color: black;}
		.dueDate { font-style: italic; color: grey; }

		.boxtotal{
			float: left;
			min-width: 130px;
			margin: 0px 10px;
			padding: 5px 10px;
			border: 1px solid #708090;
			font-weight: bold;
			font-size: 1.2em;
		}
		.unconfirmed { color: #FF4563; }
		.totalValue { margin-right: 20px; }

		.dateFormat {display: none;}

		.filterbox {
			display: block;
			float: left;
			margin-right: 8px;
		}

		.filterbox select { width: 120px; }

		.filterbox span{
			font-style: italic;
			color: grey;
		}

		.filters {
			height: 35px;
			margin: 1em 0.5em 0.5em 0.5em;
			padding: 10px;
			display: block;
			background-color: #F9F9F9;
		}

		.datetime {
			font-weight: bold;
		}

		iframe .upload{
		    max-height: 130px;
		}

		.redFont{
			color:#DD5A46 !Important;
		}

		.discount{
			color:green !important;
			font-weight: bold;
		}

		.ownerName{
		    display: block;
		    font-style: initial;
  		}

  		.messageTable tr td{
  			border-bottom:0px !important;
		}

		.chosen-container{
			min-width:200px !important;
		}

		.files{
			//border: 1px solid #c1c1c1;
		  //float: left;
		  //min-width: 400px !important;
	    width: 100%;
      margin-bottom: 5px;
      display: table;
		}

		.tb_payments .messageTable tr td {
			border-bottom: 0px !important;
		}

		.messageText{
			text-align: left;
		}

		.pfsBlock{
			display:block;
			margin-top:6px;
			margin-left: -5px;
		}

		.tableInstal{
			margin-top:0px;
			border: none;
		}

		.tableInstal tbody td {
			font-size: 1em !important;
			vertical-align:top !important;
			padding: 2px 0.3em !important;
		}

		.Close {display:none !important;}


		/* .tableInstal tbody tr:nth-child(odd) td  {
		    background-color: #eeeeee !important;
		}

		.tableInstal tbody tr:nth-child(even) td {
		    background-color: #ffffff !important;
		} */


		.tableInstal thead tr td {
			border-bottom: medium none;
			padding: 3px;
			font-size: 0.9em;
		}


		.tableInstal tbody th  {
			background-color:  #eeeeee;
			border-top: solid 1px #ccc;
		}

		.tableInstal tbody tr td:first-child {
		    border-left: 1px solid #ccc;
		}

		.tableInstal tbody tr td:last-child {
		    border-right: 1px solid #ccc;
		}

		.tableInstal tbody tr th{
			border: 1px solid #ccc;
			border-right: 0px;
			text-indent: 3px;
		}

		.tableInstal tbody tr th:last-child {
		    border-right: 1px solid #ccc !important;
		}

		.clientDetail{
			background-color:  #eeeeee;
			border-top: solid 1px #ccc;
		}

		.checkImg{
			position:relative;
			top: 2px;
		}

		.breakLine{
			height: 10px;
			border: medium none !important;
		}
		.helpIcon {
		    height: 16px;
		    position: relative;
		    top: -4px;
		    width: 16px;
		}

		.fileUpload{
			width: 410px;
			max-width: 410px;
		}

      	.instInformation td{
            border-left:0px !important;
            border-right:0px !important;
         }

         .instInformation {
            border-spacing:0px !important;
         }

       .instInformation tr:last-child td{
             border-bottom:0px !important;
        }


		.ui-tabs{
			padding:0px !important;
		}

		.ui-widget {
		    font-family: "Lucida Grande",Arial,sans-serif !important;
		    font-size: 1em !important;
		}

		.stickyClass #sticky{
			background: #ccc none repeat scroll 0 0;
			z-index: 100;
			border: 2px solid black;
			padding-top: 8px;
			padding-bottom: 8px;
		}


		.clOdd td{
			background-color: #ffffff !important;
		}

		.clEven td{
			background-color: #eeeeee !important;
		}


		.tableInstal .tableInstal tbody tr:nth-child(even) td {
		    background-color: #eeeeee !important;
		}

		.tableInstal .tableInstal tbody tr:nth-child(odd) td {
		    background-color: white !important;
		}

		.schoolName{
				font-weight:bold;
				padding:5px;
				font-size: 1.2em;
				margin-bottom: 2px;
		}

		.countryStyle {
		    background-color: #808080;
		    border: 1px solid #c1c1c1;
		    color: #ffffff;
		    display: block;
		    font-size: 1.5em;
		    font-weight: bold;
		    margin: 5px 0;
		    padding: 5px;
		    text-align: center;
		}

		.numberOnly{
			width: 100px;
		}

		.tblcurrency{
			border: 1px solid #c1c1c1;
			width: 288px;
		}

		.tblcurrency tr td {
			text-align: right;
		}

		.tableInstal .tblcurrency tbody tr td {
		    border: 0px !important;
			text-align: left !important;
		}

		.boxInput{
			border: 1px solid #aaaaaa;
			color: #aaaaaa;
			display: block;
			float: right;
			height: 15px;
			padding: 0 2px 4px 0;
			text-align: right;
			width: 83px;
		}
	</style>

	<script>
		function hideLoadRow(rowName){
	    	jQuery('.'+rowName).unblock();
		}

	</script>

	<table class="tbl_Details">
		<tr>
			<td class="sidesColumn">
				<c:menuFinance selectedItem="schoolFirstPayments" />
			</td>

			<td class="middleColumn bodyColumn">

				<apex:form id="menus" >

					<div class="divWrapper" style="margin-top:10px;">

						<div class="title" style="font-size:1.5em;">
							<span class="arrow-e" style="font-size: 1.5em;"></span>&nbsp;School Payments
							<apex:outputLink value="/help_link?fl=school_grouped_payment" target="_blank" style="float:right;font-weight: normal;text-decoration: none; color: #777777; font-size: 0.7em;">
								<apex:image value="{!urlfor($Resource.icons,'icons/commons/help.png')}" style="height: 16px; width: 16px; position: relative; top: 3px;" />
								Help
							</apex:outputLink>
						</div>
						<br/>
						<div onclick="showLoading('Loading');window.location.href ='school_firstPayments?sg={!selectedSchoolGroup}&gp={!selectedAgencyGroup}&ag={!selectedAgency}&dp={!selectedDepartment}&sch={!selectedSchool}&cp={!selectedCampus}'" class="divTabs" >First Payments <span class="counterTab">{!TotalFirst}</span></div>
						<div onclick="showLoading('Loading');window.location.href ='school_repayments?sg={!selectedSchoolGroup}&gp={!selectedAgencyGroup}&ag={!selectedAgency}&dp={!selectedDepartment}&sch={!selectedSchool}&cp={!selectedCampus}'" class="divTabs" >Repayments <span class="counterTab">{!TotalRepayment}</span></div>
						<div onclick="showLoading('Loading');window.location.href ='school_grouped_payment?sg={!selectedSchoolGroup}&gp={!selectedAgencyGroup}&ag={!selectedAgency}&dp={!selectedDepartment}&sch={!selectedSchool}&cp={!selectedCampus}'" class="divTabs divTabSelected" >Bulk Payments <span class="counterTab">{!totResult}</span></div>
						<br/><br/><br/>
						<apex:outputpanel layout="block" styleclass="filters" id="filters">

							<div class="filterbox">
				                  <apex:selectList value="{!selectedAgencyGroup}" size="1" style="width:150px;" styleclass="chosen">
				                      <apex:SelectOptions value="{!agencyGroupOptions}" />
				                      <apex:actionSupport event="onchange" action="{!changeGroup}" rerender="filters" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>
				                  </apex:selectList>
				                  <apex:outputText value="Agency Group" style="display: block;" />
				          	</div>

							<div class="filterbox">
								<apex:outputPanel id="agencyFilter">
									<apex:selectList value="{!selectedAgency}" size="1" style="width:150px;" styleclass="chosen">
										<apex:selectOptions value="{!agencies}" />
										<apex:actionSupport event="onchange" action="{!changeAgency}" status="statusLoad" rerender="filters" oncomplete="jQuery('.chosen').chosen();"/>
									</apex:selectList>
								</apex:outputPanel>
								<apex:outputText value="Agency" style="display: block;" />
							</div>

							<div class="filterbox"> 
								<apex:outputPanel id="departmentFilter">
									<apex:selectList value="{!selectedDepartment}" size="1" style="width:150px;" styleclass="chosen">
										<apex:selectOptions value="{!departments}" />
									</apex:selectList>
									<apex:outputText value="Department" style="display: block;" />
								</apex:outputPanel>
							</div>

							<div class="filterbox">
								<apex:outputPanel id="schoolGroupFilter">
									<apex:selectList size="1" value="{!selectedSchoolGroup}" style="width:150px;" styleclass="chosen">
										<apex:selectOptions value="{!schoolGroupOptions}" />
										<apex:actionSupport event="onchange" action="{!changeSchoolGroup}" status="statusLoad" rerender="schoolFilter, campusFilter" oncomplete="jQuery('.chosen').chosen();"/>
									</apex:selectList>
								</apex:outputPanel>
								<apex:outputText value="School Group" style="display: block;" />
							</div> 

							<div class="filterbox">
								<apex:outputPanel id="schoolFilter">
									<apex:selectList size="1" value="{!selectedSchool}" style="width:150px;" styleclass="chosen">
										<apex:selectOptions value="{!schoolOptions}" />
										<apex:actionSupport event="onchange" action="{!changeSchool}" status="statusLoad" rerender="campusFilter" oncomplete="jQuery('.chosen').chosen();"/>
									</apex:selectList>
								</apex:outputPanel>
								<apex:outputText value="School" style="display: block;" />
							</div>

							<!-- <div class="filterbox">
								<apex:outputPanel id="campusFilter">
									<apex:selectList size="1" value="{!selectedCampus}" style="width:150px;" styleclass="chosen">
										<apex:selectOptions value="{!campusOptions}" />
									</apex:selectList>
									<apex:outputText value="Campus" style="display: block;" />
								</apex:outputPanel>
							</div> -->

							<!-- <div class="filterbox">
								<apex:selectList value="{!selectedSchoolPayment}" size="1" styleclass="chosen" style="width:150px;">
									<apex:selectOptions value="{!schoolPaymentOptions}" />
								</apex:selectList>
								<apex:outputText value="Payment Type" style="display: block;" styleclass="filterLabel"/>
							</div>

							<div class="filterbox">
								<apex:selectList value="{!selectedInstNumber}" size="1" styleclass="chosen" style="width:150px;">
									<apex:selectOptions value="{!instNumberOptions}" />
								</apex:selectList>
								<apex:outputText value="Instalment" style="display: block;" styleclass="filterLabel"/>
							</div> -->

							<div class="filterbox">
								<apex:commandLink value="Search" action="{!findGroupedInvoices}" status="statusLoad" rerender="menus, wholepage" styleClass="agencyButton" style="padding: 5px 20px; position: relative; top: 5px;" onComplete="jQuery('.chosen').chosen();"/>
							</div>

						</apex:outputpanel>
						</div>
					</apex:form>

				<apex:form id="wholepage" >
					<apex:variable value="" var="country" />

					<apex:actionFunction name="refresh" action="{!findGroupedInvoices}"  status="statusLoad" rerender="wholepage, menus" onComplete="jQuery('.chosen').chosen();"/>

					<apex:actionFunction name="cancelInvoice" action="{!cancelInvoice}"  status="statusLoad" rerender="wholepage,menus" onComplete="jQuery('.chosen').chosen();">
						<apex:param name="id" value="" />
					</apex:actionFunction>

					<apex:actionFunction name="unconfirmInvoice" action="{!unconfirmPayment}"  status="statusLoad" rerender="wholepage,menus" onComplete="jQuery('.chosen').chosen();">
						<apex:param name="id" value="" />
					</apex:actionFunction>

					<apex:actionFunction name="confirmPaymentAc" action="{!confirmPayment}"  status="statusLoad" rerender="wholepage" onComplete="jQuery('.chosen').chosen();">
						<apex:param name="inv" value="" />
						<apex:param name="ac" value="upSingle" />
					</apex:actionFunction>

					<apex:actionFunction name="confirmPaymentAllAc" action="{!confirmPayment}"  status="statusLoad" rerender="wholepage" onComplete="jQuery('.chosen').chosen();">
						<apex:param name="ac" value="upAll" />
					</apex:actionFunction>

					<!-- <apex:actionFunction name="nextPage" action="{!Next}"  status="statusLoad" rerender="wholepage" onComplete="jQuery('.chosen').chosen();">
						<apex:param name="page" value="" />
					</apex:actionFunction>



					<div style="width:100%; text-align:center;">
						<apex:repeat value="{!totPages}" var="p">
							<div class="{!IF(p==currentPage, 'currentPage', 'pages')}" onclick="nextPage({!p})"> class="{!IF(p==currentPage, 'currentPage', 'pages')}" style="{!IF(p<noOverdue, 'background-color:#FFCCCC !important;', '')}"
								{!p}
							</div>
						</apex:repeat>
					</div> -->


					<div class="divContent">
						<apex:outputPanel id="resultSec" layout="block">

							<apex:pageMessages />

							<apex:outputpanel rendered="{!ISNULL(invoices) || invoices.size<1}">
								<div style="text-align:center; color:red; border:1px solid grey; padding:5px; margin-top: 6px;width: 100%;"> No result found. </div>
							</apex:outputpanel>

							<apex:outputpanel rendered="{!NOT(ISNULL(invoices)) && invoices.size>0}">

								<script>
									jQuery(function() {
										jQuery('.tabsClient').tabs();
									});
								</script>
								<apex:variable value="{!0}" var="countLines" />

								<div id="sticky" class="divStickClass" style="width:100%; font-size: 1.2em; text-align: right;">
									<apex:commandlink value="Confirm Payments" onclick="confirmAll(); return false;" styleclass="agencyButton" />
								</div> 

								<br/>
								<apex:repeat value="{!invoices}" var="inv">

								<apex:outputPanel layout="block" rendered="{!inv.invoiceCountry != country}">
									<div class="countryStyle">
										Campuses in {!inv.invoiceCountry}
									</div>
									<apex:variable value="{!inv.invoiceCountry}" var="country" />
								</apex:outputPanel>

								<div class="agencyBackground agencyFont schoolName" style="display:table;width:100%;">
										<div style="float:left;">
											<apex:commandLink id="link" style="float:left; margin-right:5px;" onClick="jQuery('.btMax{!inv.schoolId}').toggle();
													jQuery('.btMin{!inv.schoolId}').toggle(); jQuery('.sch-{!inv.schoolId}').toggle(); return false;" >
													<apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" styleclass="btMax{!inv.schoolId}" style="display:none" />
													<apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" styleclass="btMin{!inv.schoolId}"  />
											</apex:commandLink>
											{!inv.schoolName}&nbsp; / &nbsp;Outstanding Amount&nbsp;&nbsp;
										</div>
										<span class="counterAgencyBg" style="font-weight: bold !important; text-align: center !important; ">
											<apex:outputText value="{!inv.campusCurrency} " style="color:#666; font-size:0.9em;"/>
											<apex:outputText value=" {0, number, currency}">
													<apex:param value="{!inv.totalAmount}" />
											</apex:outputText>
										</span>
									</div>
								<apex:outputpanel styleclass="sch-{!inv.schoolId}">
								<table class="tableInstal" >
									<tbody>
										<tr>
											<th  style="width:10px;"></th>
											<th style="width:10%;">
												Bulk Payments Number
											</th>
											<th  style="min-width:30px;width:30px;">
												#
											</th>

											<apex:outputPanel layout="none" rendered="{!inv.invoices[0].invoice.Agency_Currency__c != inv.campusCurrency}">
												<th style="min-width:300px;width:300px;">
													Agency Currency
												</th>
											</apex:outputPanel>
											<th style="width:10%;">
												Total Amount
											</th>
											<th style="min-width:40%; width:100%;">
												Documents
											</th>
											<th style="min-width:165px;width:165px;">
												Actions
											</th>
										</tr>

									<apex:repeat value="{!inv.invoices}" var="i">
										<apex:variable value="{!countLines+1}" var="countLines" />
										<tr class="row-{!i.invoice.id} allrows {!IF(MOD(countLines,2) == 0, 'clEven','clOdd')}">
											<td>
												<apex:commandLink onclick="jQuery('#instDetails-{!i.invoice.id}').toggle();toggle('{!$Component.btnMax}'); toggle('{!$Component.btnMin}');return false;"  >
													<apex:image value="{!URLFOR($Resource.assets,'images/button-maximize.png')}" id="btnMax" style="position: relative; top: 2px;" />
													<apex:image value="{!URLFOR($Resource.assets,'images/button-minimize.png')}" id="btnMin" style="display:none;position: relative; top: 2px;"/>
												</apex:commandLink>
											</td>
											<td>
												<!-- <apex:outputLink value="payment_school_grouped_invoice?type=gSchoolInvoice&id={!i.invoice.id}&ag={!selectedAgency}" styleClass="clientName" target="_blank" title="Preview invoice">
													{!i.invoice.School_Invoice_Number__c}
												</apex:outputLink> -->
												{!i.invoice.School_Payment_Number__c}
												<apex:outputText value="First Payment Instalments" rendered="{!i.invoice.hasFirstPayment__c}" style="display:block; color: #ff6347;" />
											</td>
											<td>
												{!i.invoice.client_course_instalments_sch_invoice__r.size}
											</td>
											<apex:outputPanel layout="none" rendered="{!i.invoice.Agency_Currency__c != inv.campusCurrency}">
												<td>
													<apex:outputPanel layout="block" id="pnlCurrency">
														<table class="tblcurrency">
															<apex:outputPanel layout="none" rendered="{!ISNULL(i.invoice.Paid_On__c)}">
																<tr>
																	<td colspan="3" style="font-size: 0.9em !important;" class="{!IF(NOT(ISNULL(currencyLastModifiedDate)) && DATEVALUE(currencyLastModifiedDate) < today(),'currencyLastUpdateRed','currencyLastUpdate')}">
																		<apex:outputText value="Last Updated On: " />
																		<apex:outputText value="{0,date, EEEE, dd MMM yyyy hh:mm:ss}">
																			<apex:param value="{!currencyLastModifiedDate}" /> 
																		</apex:outputText>
																	</td>
																</tr>
															</apex:outputPanel>
															<tr>
																<td colspan="2">
																	Currency: &nbsp;
																	<apex:selectList value="{!i.invoice.Agency_Currency__c}" style="width: 188px; margin-left: 3px;" size="1" disabled="true"><!-- rendered="{!$ObjectType.Contact.fields.allowCurrency__c.accessible}"> -->
																		<apex:selectOptions value="{!mainCurrencies}"  />
																		<apex:actionSupport action="{!recalculateRate}" event="onchange" status="statusLoad" rerender="pnlCurrency">
																			<apex:param value="{!i.invoice.id}" name="invoiceId" />
																		</apex:actionSupport> 
																	</apex:selectList>
																</td>
															</tr>
															<tr>
																<td>
																	<apex:inputText value="{!i.invoice.Agency_Currency_Rate__c}" styleClass="{!i.invoice.id}-crate numberOnly" onkeyup="calculateValues(this.value, 'crate', '{!i.invoice.id}-cvalue', '{!i.invoice.Total_Value__c}')" rendered="{!ISNULL(i.invoice.Paid_On__c)}"/>
																	<apex:outputText value="{!i.invoice.Agency_Currency_Rate__c}" styleClass="boxInput" rendered="{!NOT(ISNULL(i.invoice.Paid_On__c))}" />

																</td>
																<td>
																	<apex:inputText value="{!i.invoice.Agency_Currency_Value__c}" styleClass="{!i.invoice.id}-cvalue numberOnly"  onkeyup="calculateValues(this.value, 'cvalue', '{!i.invoice.id}-crate', '{!i.invoice.Total_Value__c}')" rendered="{!ISNULL(i.invoice.Paid_On__c)}"/>
																	<apex:outputText value=" {0, number, currency}" styleClass="boxInput" rendered="{!NOT(ISNULL(i.invoice.Paid_On__c))}">
																		<apex:param value="{!i.invoice.Agency_Currency_Value__c}" />
																	</apex:outputText>
																</td>
															</tr>
															<tr>

																<td>
																	Rate
																	<apex:outputText value=" ( 1 {!i.invoice.CurrencyIsoCode__c} = {!i.invoice.Agency_Currency__c} )" style="color:#999;" />
																</td>
																<td>
																	Value in <b>( {!i.invoice.Agency_Currency__c} )</b>
																</td>
															</tr>
														</table>
													</apex:outputPanel>
													
													<table class="tblcurrency" style="margin-top: 5px;">
														<tr>
															<td colspan="2" style="color: #fff; background-color: #999 !important; font-weight: bold;">
																Fees Paid
															</td>
														</tr>
														<tr>
															<td>
																<apex:selectList value="{!i.invoice.Transfer_Send_Fee_Currency__c}" style="width: 150px; margin-left: 3px;" size="1" disabled="true">
																	<apex:selectOptions value="{!mainCurrencies}"  />
																</apex:selectList>
															</td>
															<td>
																<apex:inputText value="{!i.invoice.Transfer_Send_Fee__c}" styleClass="numberOnly" rendered="{!ISNULL(i.invoice.Paid_On__c)}" />
																<apex:outputText value="{!i.invoice.Transfer_Send_Fee__c}" styleClass="boxInput" rendered="{!NOT(ISNULL(i.invoice.Paid_On__c))}" />
															</td>
														</tr>
														<tr>
															<td>
																Currency
															</td>
															<td>
																Value
															</td>
														</tr>
													</table>
												</td>
											</apex:outputPanel>
											<td style="text-align:right;font-size: 1.3em !important; font-weight: bold;">
												<apex:outputText value="{0, number, currency}">
													<apex:param value="{!i.invoice.Total_Value__c}" />
												</apex:outputText>
												<apex:outputText value="{!inv.campusCurrency}" style="color:#666; font-size:0.9em; display: block;"/>
											</td>
											<td class="allfiles fileUpload-{!i.invoice.id}">

													<!-- Has to upload files -->
													<apex:outputpanel layout="block" rendered="{!i.invoice.Total_Value__c>0}">
														<div style="padding: 2px; background-color: rgb(193, 193, 193); color: white; font-weight: bold;">
															Netbank Receipt
														</div>
														<apex:outputpanel rendered="{!ISNULL(i.invoice.Paid_On__c)}" styleclass="files">
															<iframe class="upload" src="FileUpload?bucket={!bucketName}&folder={!gbLink}/{!i.invoice.School_Ids__c}/{!i.invoice.Campus__c}/Payment/Receipts/{!i.invoice.Payment_Receipt__c}&allowUpload=true&allowDelete=true&field=preview_link__c&oid={!i.invoice.Payment_Receipt__c}&style=mini"
																style="width:99.8%;border: 1px solid #ccc;padding: 0px;background: none transparent; background-color: transparent;" allowTransparency="true" />
														</apex:outputpanel>

														<apex:outputpanel rendered="{!NOT(ISNULL(i.invoice.Paid_On__c))}" layout="block" style="float:left;width:100%;">
															<iframe class="upload" src="FileUpload?bucket={!bucketName}&folder={!gbLink}/{!i.invoice.School_Ids__c}/{!i.invoice.Campus__c}/Payment/Receipts/{!i.invoice.Payment_Receipt__c}&allowUpload=false&allowDelete=false&field=preview_link__c&oid={!i.invoice.Payment_Receipt__c}&style=mini"
																style="width:99.8%;border: 1px solid #ccc;padding: 0px;background: none transparent; background-color: transparent;" allowTransparency="true" />
														</apex:outputpanel>

														<apex:outputpanel layout="block" rendered="{!i.showError}" style="border:1px solid red; background-color:#ffc; padding:5px;">
															You must upload at least one file before you confirm the payment.
														</apex:outputpanel>
													</apex:outputpanel>


													<!-- No need to upload files -->
													<apex:outputpanel style="border:1px solid #ccc; padding:5px; text-align:center;" layout="block" rendered="{!i.invoice.Total_Value__c<=0}">
															No documents required.
													</apex:outputpanel>

											</td>
											<td style="text-align:center;vertical-align:middle !important;">
												<apex:selectList size="1" style="width:150px; text-align:left !important;" styleclass="chosen invoiceActions" onchange="actions(this.value, '{!i.invoice.id}', '{!i.invoice.Payment_Receipt__c}', '{!selectedAgency}')" rendered="{!OR(ISNULL(i.invoice.Paid_On__c), AND(NOT(ISNULL(i.invoice.Paid_On__c)),$ObjectType.User.fields.Finance_Unconfirm_School_Payment__c.Accessible))}">
													<apex:SelectOptions value="{!i.options}" />
												</apex:selectList> 
												<apex:commandlink value="Send Email" onclick="sendEmail('{!i.invoice.id}', '{!selectedAgency}'); return false;" styleclass="agencyButton" rendered="{!AND(NOT(ISNULL(i.invoice.Paid_On__c)),NOT($ObjectType.User.fields.Finance_Unconfirm_School_Payment__c.Accessible))}" style="font-size: 1.1em; padding: 5px 10px;"/>
											</td>
										</tr>


										<tr style="display:none" id="instDetails-{!i.invoice.id}" class="{!IF(MOD(countLines,2) == 0, 'clEven','clOdd')}">
											<td colspan="7" style="padding: 10px !important;">
												<table class="tableInstal" >
													<tr>
														<th>
															Client Name
														</th>
														<th>
															Campus Name
														</th>
														<th>
															Course Name
														</th>
														<th>
															Instalment Number
														</th>
														<th>
															Instalment Value
														</th>
														<th>
															PFS
														</th>
														<th>
															Total Pay to School
														</th>
													</tr>
													<tbody>
														<apex:repeat value="{!i.invoice.client_course_instalments_sch_invoice__r}" var="inst">
															<tr>
																<td>
																	{!inst.Client_Course__r.Client__r.Name}
																</td>
																<td>
																	{!inst.Client_Course__r.Campus_Name__c}
																</td>
																<td>
																	{!inst.Client_Course__r.Course_Name__c}
																</td>
																<td>
																	<apex:outputtext value="{!inst.Number__c}" />
																	<apex:outputText value="." rendered="{!NOT(ISNULL(inst.Split_Number__c))}"/>
																	<apex:outputText value="{!inst.Split_Number__c}" rendered="{!NOT(ISNULL(inst.Split_Number__c))}" />

																	<apex:outputpanel layout="block" style="font-size:11px;margin-top: -7px;color:red;font-style:italic" rendered="{!inst.isInstalment_Amendment__c}">
																		Amendment
																	</apex:outputpanel>
																</td>
																<td>
																	<apex:outputText value="{0, number, currency}" styleClass="dueDate">
																			<apex:param value="{!inst.Instalment_Value__c}" />
																	</apex:outputText>
																</td>
																<td>
																	<apex:outputfield value="{!inst.isPFS__c}" />
																</td>
																<td>
																	<apex:outputText value="{0, number, currency}" styleClass="dueDate">
																			<apex:param value="{!inst.Total_School_Payment__c}" />
																	</apex:outputText>
																</td>
															</tr>
														</apex:repeat>
													</tbody>
												</table>
											</td>
										</tr>

									</apex:repeat>
									</tbody>
								</table>
								</apex:outputpanel>
								<br/>
								</apex:repeat>
							</apex:outputpanel>
						</apex:outputPanel>
					</div>

					<div id="confirmAll" title="Confirm Payments" style="display: none;">
						<table width="100%">
							<tr>
								<td style="width: 45px;">
									<img src="/img/msg_icons/warning32.png" style="float:left; margin:0px 12px 20px 0;" /></td>
								<td>
									<apex:outputText style="color:red;font-size:1.2em;" value="This will confirm all payments with uploaded documents." escape="false" />
									<p><b>Are you sure you want to CONFIRM these payments?</b></p>
								</td>
							</tr>
						</table>
					</div>

					<div id="confirm" title="Confirm Payment" style="display: none;">
						<table width="100%">
							<tr>
								<td style="width: 45px;">
									<img src="/img/msg_icons/warning32.png" style="float:left; margin:0px 12px 20px 0;" /></td>
								<td>
									<p><b>Are you sure you want to CONFIRM this payment?</b></p>
								</td>
							</tr>
						</table>
					</div>


					<div id="cancelInvoice" title="Cancel Bulk group" style="display: none;">
						<table width="100%">
							<tr>
								<td style="width: 45px;">
									<img src="/img/msg_icons/warning32.png" style="float:left; margin:0px 12px 20px 0;" /></td>
								<td>
									<p><b>If you cancel this bulk group payment all installments will return to Repayments page. <br/><br/>Are you sure you want to CANCEL?</b></p>
								</td>
							</tr>
						</table>
					</div>


					<div id="confirmUnconfirm" title="Unconfirm Payment" style="display: none;">
						<table width="100%">
							<tr>
								<td style="width: 45px;">
									<img src="/img/msg_icons/warning32.png" style="float:left; margin:0px 12px 20px 0;" /></td>
								<td>
									<p><b>Are you sure you want to UNCONFIRM this payment?</b></p>
								</td>
							</tr>
						</table>
					</div>
				
				</apex:form>
			</td>
		</tr>
	</table>
<c:limits id="pbLimits"/>

	<script>
		var modalWind;
		var files = '';

		jQuery(document).ready(function() {
			jQuery('.chosen').chosen();
		});


		jQuery(window).load(function (){
			jQuery('#sticky').sticky({topSpacing:0, className: "stickyClass"});
			stickySize();
		})

		function stickySize(){
			screensize = jQuery('.middleColumn').width();
			jQuery('.divStickClass').width(screensize);
		}

		function showStickPlugin(){
			jQuery('#sticky').sticky({topSpacing:0, className: "stickyClass"});
			stickySize();
		}

		var instalment;
		function createAllPreviewLinks(){

			jQuery('.allrows').each(function(){

			files = '';
			instalment = jQuery(this).attr('class').split(' ')[0].split('-')[1];
			console.log(instalment);
			jQuery(this).find('td:nth-child(5)').find("iframe").contents().find('.list tr').each(function(){


				jQuery(this).find('td:nth-child(2) a').each(function(){

				if(jQuery(this).attr("href").contains("amazonawinv.com")){

					console.log('adding--->' + jQuery(this).text());
					files = files + jQuery(this).attr("href") +'->'+ jQuery(this).text() +';#;';
					}

				});
			});


			jQuery('.preview-'+instalment).val(files);

		});


			return true;
		}



		function createPreviewLinks(idInvoice){
			files = '';

			jQuery(jQuery('.fileUpload-'+idInvoice).find("iframe").contents().find('.list tr')).each(function(){


			  jQuery(this).find('td:nth-child(2) a').each(function(){

			    if(jQuery(this).attr("href").contains("amazonawinv.com")){

					console.log('adding...');
					files = files + jQuery(this).attr("href") +'->'+ jQuery(this).text() +';#;';
				}
			  });
			});

			if(fileinv.length > 0){
				jQuery('.preview-'+idInvoice).val(files);
				return true;
			}
			else{
				alert('Something happen and the files could not be saved. Please try it again.');
				return false;
			}
		}

		function checkFiles(tdClass){
			if(jQuery(tdClass).find("iframe").contents().find('#btnUpload').is(":disabled") && jQuery(tdClass).find("iframe").contents().find('.list tr').length<2){
				alert('You must upload at least one file.');
				return false;
			}else if((!jQuery(tdClass).find("iframe").contents().find('#btnUpload').is(":disabled")) && jQuery(tdClass).find("iframe").contents().find('.list tr').length>1){
				alert('Please upload all files before you confirm.');
				return false;
			}
			else if(jQuery(tdClass).find("iframe").contents().find('#btnUpload').is(":disabled") && jQuery(tdClass).find("iframe").contents().find('#btnBrowse').is(":disabled")){
				alert('Please wait the documents to be uploaded before you confirm.');
				return false;
			}

			else return true;
		}

		function checkFilesToCancel(tdClass){
			if(jQuery(tdClass).find("iframe").contents().find('.list tr').length>1){
			  alert('You must delete all files to cancel the invoice.');
			  return false;
			}

			else if(jQuery(tdClass).contents().find('.tableInstal tr').length>0){
			  alert('You must delete all files to cancel the invoice.');
			  return false;
			}

			else return true;
		}

		function loadRow(rowName){
	    	jQuery('.'+rowName).block({  message: '<H1 style="font-size:1.3em">Loading...</H1>',
			    css: {
			      border: 'none',
			      padding: '15px',
			      backgroundColor: '#000',
			      '-webkit-border-radius': '10px',
			      '-moz-border-radius': '10px',
			      opacity: 30,
			      color: '#fff',
			      top:  ($(window).height() - 200) /2 + 'px',
			      left: ($(window).width() - 200) /2 + 'px',
			      width: '200px'
			    }
		    });
		}

		function confirmAll() {
		    jQuery( "#confirmAll").dialog({
		    	resizable: false,
		        height: "auto",
		        width: 400,
		        modal: true,
		        buttons: {
		        	"No": function() {
		            	jQuery( this ).dialog( "close" );
			        },
			        "Yes": function() {
			          jQuery( this ).dialog( "close" );
		          	confirmPaymentAllAc();
			        }
		     	}
		    });
		};

		function confirmPayment(invoice) {
		    jQuery( "#confirm").dialog({
		    	resizable: false,
		        height: "auto",
		        width: 400,
		        modal: true,
		        buttons: {
		        	"No": function() {
		            	jQuery( this ).dialog( "close" );
			        },
			        "Yes": function() {
			          jQuery( this ).dialog( "close" );
			          //if(createPreviewLinks(invoice))
		          	confirmPaymentAc(invoice);
			        }
		     	}
		    });
		};

		function confirmCancel(invoice) {
		    jQuery( "#cancelInvoice").dialog({
		    	resizable: false,
		        height: "auto",
		        width: 400,
		        modal: true,
		        buttons: {
		        	"No": function() {
		            	jQuery( this ).dialog( "close" );
			        },
			        "Yes": function() {
			          jQuery( this ).dialog( "close" );
		          	  cancelInvoice(invoice);
			        }
		     	}
		    });
		};


		function confirmUnconfirm(invoice) {
				jQuery( "#confirmUnconfirm").dialog({
					resizable: false,
						height: "auto",
						width: 400,
						modal: true,
						buttons: {
							"No": function() {
									jQuery( this ).dialog( "close" );
							},
							"Yes": function() {
								jQuery( this ).dialog( "close" );
									unconfirmInvoice(invoice);
							}
					}
				});
		};

		function setCloseModal(){
			jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
			jQuery('.Close').unbind('click');
			jQuery('.Close').click(function() {closemodal();});
		}

		function closemodal(){
			jQuery('#interVeil').css('display','none');
			modalWind.close();
		}

		function UpdateOpener(){
			jQuery('#interVeil').css('display','none');
			modalWind.close();
			refresh();
		}

		function closemodalupdate(){
			jQuery('#interVeil').css('display','none');
			modalWind.close();
			refresh();
		}

		function sendEmail(instId, agency){
		   modalWind = dhtmlmodal.open('sendEmail', 'iframe', 'payment_school_email?visits=false&id='+instId+'&type=groupPayment'+'&ag='+agency, 'Send Email - School Payment', 'width=900px,height=800px,resize=1,center=1,scrolling=0');
	       setCloseModal();
	    }

		function setFocusOnLoad() {}

		function toggle(popUpDiv) {
			var el = document.getElementById(popUpDiv);
			if ( el.style.display == 'none' ) { el.style.display = '';}
			else {el.style.display = 'none';}
			return false;
		}

		function actions(value,invoice,docId, agency){
		
			if(value=='cancel'){
				jQuery('.invoiceActions').val('noAction');
				jQuery(".invoiceActions").trigger("chosen:updated");
				confirmCancel(invoice);
			}
			else if(value=='confirm'){
				jQuery('.invoiceActions').val('noAction');
				jQuery(".invoiceActions").trigger("chosen:updated");
				confirmPayment(invoice);
			}

			else if(value=='unconfirm'){
				confirmUnconfirm(invoice);
			}

			else if(value=='sendEmail'){
				jQuery('.invoiceActions').val('noAction');
				jQuery(".invoiceActions").trigger("chosen:updated");
				sendEmail(invoice, agency);
			}
		}

		function calculateValues(vl, op, cl, inv){
			console.log(vl);
			console.log(cl);
			console.log(op);
			console.log(inv);
			if(op == 'cvalue')
				jQuery('.'+cl).val( roundToFour(vl /inv) );
			else jQuery('.'+cl).val( roundToTwo(vl * inv) );
		}

		function roundToTwo(num) {
		    return +(Math.round(num + "e+2")  + "e-2");
		}

		function roundToFour(num) {
		    return +(Math.round(num + "e+4")  + "e-4");
		}

		jQuery.fn.ForceNumericOnly =
		function()
		{
			return this.each(function()
			{
				$(this).keydown(function(e)
				{
	                if(e.keyCode == 188){
	                    e.preventDefault();
	                    $(this).val($(this).val() + '.');
	                }
					var key = e.charCode || e.keyCode || 0;
					return (
						key == 8 ||
						key == 9 ||
						key == 46 ||
						key == 110 ||
	                    key == 188 ||
						key == 190 ||
						(key >= 35 && key <= 40) ||
						(key >= 48 && key <= 57) ||
						(key >= 96 && key <= 105));

				});
			});
		};

		jQuery(".numberOnly").ForceNumericOnly();
	</script>

</apex:page>