<apex:page showHeader="false" sidebar="false" extensions="SchoolCampusOverview"  standardController="School_Campus_Overview__c"  >
    
    <apex:include pageName="xStylePageV2" />
	<apex:include pageName="xCourseSearchStyle" />
	
<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />    
<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />

	
	<script>
		function checkSelectedSchool(school){
						
			if(school == 'new'){
				jQuery('.cancelButton').css('display','');
				jQuery('.schools').css('display','none');
				jQuery('.schoolName').css('display','');
				jQuery('.schoolName').focus();	
			} else {
				jQuery('.schools').css('display','');
				jQuery('.schoolName').css('display','none');
				jQuery('.cancelButton').css('display','none');		
						
			}
			
			getCourses();
		}
		
		function cancelNew(){
			jQuery('.schoolSelect').val('');
			jQuery('.schoolName').css('display','none');
			jQuery('.cancelButton').css('display','none');
			jQuery('.schools').css('display','');
			jQuery('.schoolName').val('');
		}
		
		function addNewCourse(){
		
			var country = jQuery('.countries').val();
			var city = jQuery('.cities').val();
		
			//if(country == '' || city == ''){
			//	alert('Please select Country and City');
			//	return false;
			//}
			
			
			var school = jQuery('.schoolSelect').val();
			var schoolName = jQuery('.schoolName').val() != undefined ? jQuery('.schoolName').val().trim() : '';
		
			
			var newSchoolName = 'undefined';
			if(jQuery('.newSchoolName').val() != undefined)
				newSchoolName = jQuery('.newSchoolName').val().trim();
		
			var courseName = jQuery('.courseName').val().trim();
			var foundSameSchool = false;	
		
			jQuery('.schoolSelect option').each(function(){
				if(jQuery(this).text().toUpperCase() == schoolName.toUpperCase()){
					alert('School already exists');
					foundSameSchool = true;
					return false;
				}
			});
			if(foundSameSchool){
				jQuery('.schoolName').focus();
				return false;
			}
		
			if(school == ''){
				alert('Please select one school');
				return false;
			} else if( (school == 'new' && schoolName == '') || (newSchoolName == '') ){
				alert('Please enter the school name');
				return false;
			}
		
			if(courseName == ''){
				alert('Please enter the course name');
				return false;
			}
		
			
		
			add();
			parent.refreshCourseDetails();
		}
		
		function selectCustomCourse(schoolID,courseID, courseName){
			
			if(confirm('Confirm selection of ' + courseName + '?')){		
				parent.selectCourse(schoolID,courseID);
				parent.closemodalCourse();
			} else return false;
		}
		
		jQuery(document).ready(function() {
		    jQuery('.schoolSelect').chosen();
		});
			
	</script>
    
    <apex:form >
    
    	<div class="divHeader">
    		School Campus Overview    	
    		<apex:commandbutton onclick="addNewCourse();return false;" value="Add"  style="float:right;margin-right:10px;" styleclass="agencyButton"/>
    	</div>
    	<div class="divcontent">
    
	        <apex:pageBlock id="theblock" >
				
				<apex:actionFunction name="getCourses" action="{!getCourses}" status="ipStatus" rerender="listCourses" />
				<apex:actionFunction action="{!save}" name="add" reRender="theblock,listCourses" status="ipStatus" />
	            
	            <apex:pageBlockSection columns="2" >
	                
	                <apex:pageBlockSectionItem >                
	                    <apex:outputLabel value="Country" />
						<!-- <apex:selectList value="{!selectedCountry}" size="1" styleClass="countries">
							<apex:selectOptions value="{!countryOptions}"/>
							<apex:actionSupport event="onchange" action="{!getCities}" reRender="cities,schools,courses,listCourses" status="ipStatus" />
						</apex:selectList>                      -->                       
						<apex:outputtext value="{!country}" styleClass="countries"/>
	                </apex:pageBlockSectionItem>
					
					
					<apex:pageBlockSectionItem >                
						<apex:outputLabel value="City" />
						<!-- <apex:selectList value="{!city}" size="1" id="cities" styleClass="cities">
							<apex:selectOptions value="{!cityOptions}"/>
							<apex:actionSupport event="onchange" action="{!getSchools}" reRender="schools,courses,listCourses" status="ipStatus" />
						</apex:selectList>                  -->                           
						<apex:outputtext value="{!city}" styleClass="cities"/>
					</apex:pageBlockSectionItem>
					
					<apex:pageBlockSectionItem >          
						      
						<apex:outputLabel value="School Campus Name" />
						<apex:outputPanel id="schools" >
							<apex:outputPanel rendered="{!foundSchools && city != ''}" >						
								<apex:outputpanel layout="block" styleclass="schools">
									<apex:selectList value="{!selectedSchoolOverview}" size="1" onchange="checkSelectedSchool(this.value);" styleclass="schoolSelect" >
										<apex:selectOptions value="{!schoolOverviewOptions}"/>
									</apex:selectList>
								</apex:outputpanel>
								<script>
									jQuery('.schoolSelect option[value="new"]').css('color','red');
								</script>
								<apex:inputField value="{!newSchool.School_Campus_Name__c}" style="display:none;width:150px;" styleClass="schoolName" />
								<apex:commandButton value="Cancel" onclick="cancelNew();return false;" style="display:none;font-size:0.6em;margin-left:10px;" styleClass="cancelButton" />
							</apex:outputPanel>
							
							<apex:outputPanel rendered="{!NOT(foundSchools) && city != ''}">
								<apex:inputField value="{!newSchool.School_Campus_Name__c}" styleClass="newSchoolName"/>
							</apex:outputPanel>
						</apex:outputPanel>
					</apex:pageBlockSectionItem>
					
					<apex:pageBlockSectionItem >  
						<apex:outputpanel rendered="{!city != ''}">              
							<apex:outputLabel value="Course Name" />
							<apex:inputField value="{!newCourse.Course_Name__c}" styleClass="courseName" />
						</apex:outputpanel>
					</apex:pageBlockSectionItem>
				    
	            </apex:pageBlockSection>
				
				
	            
	        </apex:pageBlock>
		</div>
		
		<div class="divHeader">
			Courses
		</div>
		<div class="divcontent">
			<apex:pageBlock id="listCourses"  >
				
				<apex:pageBlocktable value="{!courses}"  var="c"  >
					<apex:column >
						<apex:facet name="header">Course Name </apex:facet>
						<apex:commandLink onclick="return selectCustomCourse('{!c.School_Campus_Overview__c}','{!c.id}','{!c.Course_Name__c}');" value="{!c.Course_Name__c}" />
					</apex:column>
				</apex:pageBlockTable>
			</apex:pageBlock>
		</div>
    </apex:form>

</apex:page>