<apex:page controller="schools_payment_rules" showHeader="true" sidebar="false" docType="html-5.0" lightningStyleSheets="true" standardStylesheets="false">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <apex:outputPanel layout="block" id="container-school-page" styleClass="slds-scope container-school-page">
            <div class="slds-grid_vertical" style="margin-top: 10px;">
                <apex:outputPanel layout="block" styleClass="slds-col slds-size_1-of-1">
                    <apex:includeScript value="{!$Resource.up_jQuery}" />
                    <apex:includeScript value="{!URLFOR($Resource.JQuery_ui_1_11_2,'jquery-ui.min.js')}"/>
                    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
                    <apex:stylesheet value="{!URLFOR($Resource.jQueryUI,'jquery-ui.css')}" />
                    <apex:styleSheet value="{!URLFOR($Resource.chosen_1_2_0,'chosen.min.css')}" />  
                    <apex:includeScript value="{!URLFOR($Resource.chosen_1_2_0,'chosen.jquery.min.js')}" />
                    <apex:includeScript value="{!URLFOR($Resource.up_chosen,'chosen.jquery.js')}" />
                    <apex:includeScript value="{!URLFOR($Resource.fckeditor,'ckeditor/ckeditor.js')}"/>
                    
                    <c:school_page_header />
                    
                </apex:outputPanel>
                <apex:outputPanel layout="block" styleClass="slds-col slds-size_1-of-1 div-section" style="margin-top: 15px;">
                        <style>
                            .cke_contents{
                                height: 500px !important;
                            }
                    
                            .tbl-update tr td{
                                padding: 10px;
                            }
                            .update-link{
                                padding: 5px;
                            }
                    
                            .SearchLabel{
                                font-weight: bold;
                                padding: 5px;
                                display: block;
                                background: #f1f1f1;
                                margin: 3px;
                            }
                    
                            .termOptions .chosen-container{
                                width: 150px !important;
                            }
                    
                            .relFile .chosen-container{
                                width: 99% !important;
                            }
                    
                            .tbl-options{
                                width: 100%;
                            }
                            
                            .tbl-options tr td, th {
                                padding: 0 5px;
                            }
                        </style>
                        <apex:form id="form">
                            <apex:actionFunction name="paymentRules" status="mlStatusLoad" action="{!retrivePaymentRules}" oncomplete="jQuery('.chosen').chosen(); asyncCall();" reRender="lstcourses">
                                <apex:param name="type" value="" />
                                <apex:param name="course" value="" />
                            </apex:actionFunction>
                    
                            <div style="padding: 10px;background: #fff; border-bottom: solid 1px #c1c1c1;" class="">
                                <div style="display:table-cell">
                                    <!-- COURSE TYPE -->
                                    <div style="float:left;" >
                                        <fieldset class="slds-form-element" style="padding: 0px 5px 5px 5px; margin-right: 5px;">
                                            <legend class="slds-form-element__legend slds-form-element__label">Course Type<span id="courseType" /></legend>
                                            <div style="display:block;">
                                                <select class="courseType chosen" style="float:left; margin-left:3px; width: 183px;" size="5" multiple="true" onchange="getCourses('{!$CurrentPage.parameters.id}',$('.courseType').val())" />
                                            </div>
                                        </fieldset>
                                    </div>
                                    <!-- COURSES -->
                                    <div style="float:left;" >
                                        <fieldset class="slds-form-element" style="padding: 0px 5px 5px 5px; margin-right: 5px;">
                                            <legend class="slds-form-element__legend slds-form-element__label">Courses<span id="courses" /></legend>
                                            <div style="display:block;">
                                                <select class="courses chosen" style="float:left; margin-left:3px; width: 183px;" size="5" multiple="true" />
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div style="float:left;">
                                        <fieldset class="slds-form-element" style="padding: 0px 5px 5px 5px; margin-right: 5px;">
                                            <legend class="slds-form-element__legend slds-form-element__label">&nbsp; <span id="schoolName" class="countField"/></legend>
                                            <div style="display:block;">
                                                <apex:commandLink value="Search" onclick="paymentRules($('.courseType').val().toString(),$('.courses').val().toString()); return false;" styleClass="slds-button slds-button_brand" />
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div style="display:table-cell; float: right; position: relative; top: -20px; display: none;" class="pnl-update">
                                    <div style="float:right;">
                                        <a class="open-modal-update-values-info update-link">
                                            <span class="slds-truncate" title="Ownership History">
                                                Update Forms of Payments
                                            </span>
                                        </a>
                    
                                        <a class="open-modal-update-values update-link">
                                            <span class="slds-truncate" title="Ownership History">
                                                Update Important Informations
                                            </span>
                                        </a>
                        
                                    </div>
                                </div>
                            </div>
                            <div style="top: 0; position: -webkit-sticky !important; position: sticky !important; z-index: 1001; padding: 10px;background: #fff; border-bottom: solid 1px #c1c1c1; text-align: right;" >
                                <div style="float:left; margin-left: 15px; display: flex;">
                                    <apex:inputCheckbox onclick="changeLabel(this.checked);" styleClass="vl-input"  />
                                    <div id="lb-info" style="margin-left: 5px;">Check to Hide Important Information Column</div>
                    
                                </div>
                                <apex:commandLink onclick="jQuery('.field-edit').toggle(); jQuery('.pnl-update').toggle(); jQuery('.field-read').toggle(); asyncCall(); return false;" styleClass="slds-button slds-button_brand field-edit jQuery('.chosen').chosen();" value="Edit" reRender="lstcourses"/>
                                <apex:commandLink onclick="jQuery('.field-edit').toggle(); jQuery('.pnl-update').toggle(); jQuery('.field-read').toggle(); asyncCall(); showModalLoading(true);" action="{!cancelUpdates}" status="mlStatusLoad" styleClass="slds-button slds-button_brand field-read" value="Cancel" style="display:none;"/>
                                <apex:commandLink onclick="jQuery('.field-edit').toggle(); jQuery('.pnl-update').toggle(); jQuery('.field-read').toggle(); asyncCall(); showModalLoading(true);" action="{!saveUpdates}" status="mlStatusLoad" styleClass="slds-button slds-button_brand field-read" value="Save" style="display:none;"/>
                            </div>
                            <apex:outputPanel id="lstcourses">
                                <table  style="border:solid 1px;">
                            
                                    <apex:repeat value="{!listCourses}" var="lc">
                                        <tr>
                                            <td colspan="3" style="background: #f0f8ff;">
                                                <div class="slds-card__header slds-grid">
                                                    <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                                        <div class="slds-media__body">
                                                            <h2 class="slds-card__header-title">
                                                                <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="{!mapCourses[lc].name}">
                                                                    <span>{!mapCourses[lc].name} <apex:outputPanel rendered="{!mapCourses[lc].Course_Unit_Length__c != null}"> - {!CEILING(mapCourses[lc].Course_Unit_Length__c)} {!IF(mapCourses[lc].Course_Unit_Length__c == 1, mapCourses[lc].Course_Unit_Type__c, mapCourses[lc].Course_Unit_Type__c + 's')} </apex:outputPanel></span>
                                                                </a>
                                                            </h2>
                                                        </div>
                                                    </header>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border:solid 1px; width:30%;">
                                                <div class="div-prices" style="overflow-y: auto; height: 560px;">
                                                    <apex:repeat value="{!listCourses[lc]}" var="listCampus">
                                                        <article class="slds-card">
                                                            <div class="slds-card__header slds-grid">
                                                                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                                                    <div class="slds-media__body">
                                                                        <h2 class="slds-card__header-title">
                                                                            <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="{!listCampus}">
                                                                                <span>{!listCampus}</span>
                                                                            </a>
                                                                        </h2>
                                                                    </div>
                                                                </header>
                                                            </div>
                                                            <div class="slds-card__body slds-card__body_inner">
                                                                    <table class="slds-table  slds-table_bordered slds-table_striped">
                                                                        <tr>
                                                                            <th style="width: 30%;">Nation</th>
                                                                            <th style="width: 70%;">
                                                                                <table style="width: 100%">
                                                                                    <tr>
                                                                                        <th style="width: 25%;">Available</th>
                                                                                        <th style="text-align: right; width: 25%;">From</th>
                                                                                        <th style="text-align: right; width: 25%;">To</th>
                                                                                        <th style="text-align: right; width: 25%;">Value</th>
                                                                                    </tr>
                                                                                </table>
                                                                            </th>
                                                                        </tr>
                                                                        <apex:repeat value="{!listCourses[lc][listCampus]}" var="listNation">
                                                                            <tr>
                                                                                <td style="width: 30%;">
                                                                                    {!listNation}
                                                                                </td>
                                                                                <td style="width: 70%;">
                                                                                    <apex:repeat value="{!listCourses[lc][listCampus][listNation]}" var="listPrice">
                                                                                        <table style="width: 100%">
                                                                                            <tr>
                                                                                                <td style="width: 25%;">
                                                                                                    <apex:outputText value="{!CASE(listPrice.Availability__c,3.0,'On/OffShore',1.0,'OnShore','OffShore')}" style="font-size:0.8em; color:{!IF(listPrice.Availability__c == 3.0,'','maroon')};"/>
                                                                                                </td>
                                                                                                <td style="text-align: right; width: 25%;">
                                                                                                    <apex:outputText value="{0, date, dd/MM/yyyy}">
                                                                                                        <apex:param value="{!listPrice.Price_valid_from__c}" />
                                                                                                    </apex:outputText>
                                                                                                </td>
                                                                                                <td style="text-align: right; width: 25%;">
                                                                                                    <apex:outputText value="{0, date, dd/MM/yyyy}">
                                                                                                        <apex:param value="{!listPrice.Price_valid_until__c}" />
                                                                                                    </apex:outputText>
                                                                                                </td>
                                                                                                <td style="text-align: right; width: 25%;">
                                                                                                    <apex:outputText value="{0, number, currency}">
                                                                                                        <apex:param value="{!listPrice.Price_per_week__c}" />
                                                                                                    </apex:outputText>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </apex:repeat>
                                                                                </td>
                                                                            </tr>
                                                                        </apex:repeat>
                                                                    </table>
                                                            </div>
                                                        </article>
                                                    </apex:repeat>
                                                </div>
                                            </td>
                                            <td style="border:solid 1px; width:35%; padding: 5px; vertical-align: top;">
                                                <span class="SearchLabel">Forms of Payments</span>
                                                <div class="area-edit">
                                                    <!-- <apex:inputTextarea rows="30" value="{!mapCourses[lc].Payment_Rules__c}" richText="true" styleclass="slds-input box-text" /> -->
                                                    <apex:outputText value="{!mapCourses[lc].Payment_Rules__c}" escape="false" styleClass="field-read" style="border: solid 1px #c1c1c1; display: block !important;border-radius: 3px;padding: 10px;"/>
                                                    <apex:outputPanel styleClass="field-edit" style="display: none;">
                                                        <apex:inputTextarea rows="30" value="{!mapCourses[lc].Payment_Rules__c}" id="inputTextAreaRules" styleclass="slds-input cls-paymentRules" style="height: 500px;"/>
                                                        <script>
                                                            var cke = CKEDITOR.replace( '{!$Component.inputTextAreaRules}', {toolbar: [
                                                                            { name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source'] },
                                                                            { name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
                                                                            { name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ], items: ['Replace', 'SelectAll'] },
                                                                            { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline'] },
                                                                            { name: 'styles', items: [ 'Font', 'FontSize' ] },
                                                                            { name: 'colors', items: [ 'TextColor'] },
                                                                            { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align'], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },
                                                                            { name: 'links', items: [ 'Link', 'Unlink' ] },
                                                                            { name: 'paragraph', items: [ 'NumberedList', 'BulletedList' ] },
                                                                            { name: 'insert', items: [ 'Table', 'HorizontalRule'] }
                                                                        ]
                                                                    });
                                                        </script>
                                                    </apex:outputPanel>
                                                    <article class="slds-card" style="margin-top: 3px;">
                                                        <div class="slds-card__header slds-grid">
                                                            <header class="slds-post__header slds-media">
                                                                <div class="slds-media__figure">
                                                                    <a href="javascript:void(0);" class="slds-avatar slds-avatar_circle slds-avatar_large">
                                                                        <img src="{!mapCourses[lc].Payment_Rules_Updated_By__r.SmallPhotoURL}" style="width: 100%;"/>
                                                                    </a>
                                                                </div>
                                                                <div class="slds-media__body">
                                                                    <p style="color: #bbb">Forms of Payments updated by:</p>
                                                                    <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                                                                        <p>{!mapCourses[lc].Payment_Rules_Updated_By__r.name}</p>
                                                                    </div>
                                                                    <p class="slds-text-body_small">
                                                                        <a href="javascript:void(0);" class="slds-text-link_reset">
                                                                        <apex:outputText value="{0, date, dd/MM/yyyy}">
                                                                            <apex:param value="{!mapCourses[lc].Payment_Rules_Updated_On__c}" />
                                                                        </apex:outputText>
                                                                        </a>
                                                                    </p>
                                                                </div>
                                                            </header>
                                                        </div>
                                                    </article>
                                                </div>
                    
                                                <article class="slds-card" style="margin-top: 3px;">
                                                    <div class="slds-card__header slds-grid">
                                                        <header class="slds-post__header slds-media" style="width: 100%;">
                                                            
                                                            <div class="slds-media__body relFile">
                                                                <span class="SearchLabel">Related File</span>
                                                                <!-- <apex:outputLink value="{!mapCourses[lc].Account_Document_File__r.Preview_Link__c}" target="_blank"  styleClass="field-read" rendered="{!NOT(ISNULL(mapCourses[lc].Account_Document_File__c))}" style="color:navy; padding: 5px;"> -->
                                                                <apex:outputLink value="{!IF(contains(mapCourses[lc].Account_Document_File__r.Preview_Link__c, '!#!'), LEFT(mapCourses[lc].Account_Document_File__r.Preview_Link__c, Find('!#!', mapCourses[lc].Account_Document_File__r.Preview_Link__c)-1), mapCourses[lc].Account_Document_File__r.Preview_Link__c)}" target="_blank"  styleClass="field-read" rendered="{!NOT(ISNULL(mapCourses[lc].Account_Document_File__c))}" style="color:navy; padding: 5px;">
                                                                    {!mapCourses[lc].Account_Document_File__r.File_Name__c} ({!mapCourses[lc].Account_Document_File__r.Description__c})
                                                                </apex:outputLink>        
                                                                <div class="field-edit" style="display:none;">
                                                                    <apex:selectList value="{!mapCourses[lc].Account_Document_File__c}" size="1" style="width:600px; {!IF(ISNULL(mapCourses[lc].Account_Document_File__c),'color:#999;','')}" styleClass="slds-input chosen files files-{!mapCourses[lc].id}" onchange="jQuery(this).css('background-color','#B0E0E6')" >
                                                                        <apex:SelectOptions value="{!files}" /> 
                                                                    </apex:selectList>
                                                                </div>
                                    
                                                                <table class="tbl-options">
                                                                    <tr>
                                                                        <th><span class="SearchLabel">Instalment option</span></th>
                                                                        <th><span class="SearchLabel">Instalment interval</span></th>
                                                                        <th style="{!IF(mapCourses[lc].Instalment_Option__c == 'Term', '', 'display:none;')}" class="termOptions-{!mapCourses[lc].id}"><span class="SearchLabel">Term Option</span></th>
                                                                        <th style="{!IF(mapCourses[lc].Instalment_Option__c == 'Term', '', 'display:none;')}" class="termOptions-{!mapCourses[lc].id}"><span class="SearchLabel">Term Interval</span></th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td> 
                                                                            <div class="field-read">
                                                                                <apex:outputField value="{!mapCourses[lc].Instalment_Option__c}" />
                                                                            </div>
                                                                            <div class="field-edit relFile" style="display:none;" >
                                                                                <apex:inputField value="{!mapCourses[lc].Instalment_Option__c}" styleClass="slds-input chosen " style="width: 100px !important;" onchange="showTermOptions(this.value, '{!mapCourses[lc].id}'); " /> 
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="field-read">
                                                                                <apex:outputField value="{!mapCourses[lc].Instalment_Interval__c}" />
                                                                            </div>
                                                                            <div class="field-edit relFile" style="display:none;" >
                                                                                <apex:inputField value="{!mapCourses[lc].Instalment_Interval__c}" styleClass="slds-input chosen" style="display:none; width: 100px !important;"/>
                                                                            </div>
                                                                        </td>
                                                                        <td style="{!IF(mapCourses[lc].Instalment_Option__c == 'Term', '', 'display:none;')}" class="termOptions termOptions-{!mapCourses[lc].id}"> 
                                                                            <div class="field-read">
                                                                                <apex:outputField value="{!mapCourses[lc].Instalment_Term_Option__c}" />
                                                                            </div>
                                                                            <div class="field-edit relFile" style="display:none;" >
                                                                                <apex:inputField value="{!mapCourses[lc].Instalment_Term_Option__c}" styleClass="slds-input chosen termOptions termOption-{!mapCourses[lc].id}" style="display:none; width: 100px !important;"/>
                                                                            </div>
                                                                        </td>
                                                                        <td style="{!IF(mapCourses[lc].Instalment_Option__c == 'Term', '', 'display:none;')}" class="termOptions termOptions-{!mapCourses[lc].id}">
                                                                            <div class="field-read">
                                                                                <apex:outputField value="{!mapCourses[lc].Instalment_Term_Interval__c}" />
                                                                            </div>
                                                                            <div class="field-edit relFile" style="display:none;" >
                                                                                <apex:inputField value="{!mapCourses[lc].Instalment_Term_Interval__c}" styleClass="slds-input chosen termOptions termInterval-{!mapCourses[lc].id}" style="display:none; width: 100px !important;" />
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>
                                                        </header>
                                                    </div>
                                                </article>
                                                
                                                
                                            </td>
                                            <td style="border:solid 1px; width:35%; padding: 5px; vertical-align: top;" class="rw-info">
                                                    
                                                <!-- <apex:inputTextarea rows="30" value="{!mapCourses[lc].Important_information__c}" richText="true" styleclass="slds-input" /> -->
                                                <span class="SearchLabel">Important Information</span>
                                                <div class="slds-scope">
                                                    <apex:outputText value="{!mapCourses[lc].Important_information__c}" escape="false" styleClass="field-read" style="border: solid 1px #c1c1c1; display: block !important;border-radius: 3px;padding: 10px;"/>
                                                </div>
                                                <div class="field-edit" style="display: none;">
                                                    <apex:inputTextarea rows="30" value="{!mapCourses[lc].Important_information__c}" id="inputTextAreaInfo" styleclass="slds-input cls-importantInformation" style="height: 500px;"/>
                                                    <script>
                                                        var cke = CKEDITOR.replace( '{!$Component.inputTextAreaInfo}', {toolbar: [
                                                                    { name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source'] },
                                                                    { name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
                                                                    { name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ], items: ['Replace', 'SelectAll'] },
                                                                    { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline'] },
                                                                    { name: 'styles', items: [ 'Font', 'FontSize' ] },
                                                                    { name: 'colors', items: [ 'TextColor'] },
                                                                    { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align'], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },
                                                                    { name: 'links', items: [ 'Link', 'Unlink' ] },
                                                                    { name: 'paragraph', items: [ 'NumberedList', 'BulletedList' ] },
                                                                    { name: 'insert', items: [ 'Table', 'HorizontalRule'] }
                                                                    ]
                                                                });
                                                    </script>
                                                </div>
                                                <article class="slds-card"  style="margin-top: 3px;">
                                                    <div class="slds-card__header slds-grid">
                                                        <header class="slds-post__header slds-media" >
                                                            <div class="slds-media__figure">
                                                                <a href="javascript:void(0);" class="slds-avatar slds-avatar_circle slds-avatar_large">
                                                                    <img src="{!mapCourses[lc].Important_information_Updated_By__r.SmallPhotoURL}" style="width: 100%;" />
                                                                </a>
                                                            </div>
                                                            <div class="slds-media__body">
                                                                <p style="color: #bbb">Important Information updated by:</p>
                                                                <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                                                                    <p>{!mapCourses[lc].Important_information_Updated_By__r.name}</p>
                                                                </div>
                                                                <p class="slds-text-body_small">
                                                                    <a href="javascript:void(0);" class="slds-text-link_reset">
                                                                    <apex:outputText value="{0, date, dd/MM/yyyy}">
                                                                        <apex:param value="{!mapCourses[lc].Important_information_Updated_On__c}" />
                                                                    </apex:outputText>
                                                                    </a>
                                                                </p>
                                                            </div>
                                                        </header>
                                                    </div>
                                                </article>
                                            </td>
                                        </tr>
                                    </apex:repeat>
                                </table>
                                <script>
                                    jQuery('.files option[value!="Folder"]').prop('style','color:orangered;');                              
                                    jQuery('.files option[value="Folder"]').prop('style','color:black;background: #F0F8FF !important');
                                    jQuery('.files option[value="Folder"]').prop('disabled','disabled');
                                    jQuery('.files option[value="disabled"]').prop('disabled','disabled');
                                    
                                    jQuery('.files option[value!="Folder"]').each(function(){
                                        var str = jQuery(this).html();
                                        str = str.replace('[*', '<span style="color:#999999;font-size:0.85em;margin-left:5px;"> ( ');
                                        str = str.replace('*]', ') </span>');
                                        jQuery(this).html(str);
                                    });
                                </script>
                            </apex:outputPanel>
                    
                    
                            <div class="modal-update-values" style="display: none">
                                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
                                    <div class="slds-modal__container">
                                    <header class="slds-modal__header">
                                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse close-modal-update-values" title="Close">
                                            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#close')}" />
                                            </svg>
                                            <span class="slds-assistive-text">Close</span>
                                        </button>
                                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Ownership History</h2>
                                    </header>
                                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                        <table class="tbl-update">
                                            <tr>
                                                <td><h2>Important Information</h2></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <apex:inputTextarea rows="30" value="{!payment_rules_string}" id="inputTextAreaRulesUpdate" styleclass="slds-input applyImportantInformation" style="height: 500px;"/>
                                                    <script>
                                                        var cke = CKEDITOR.replace( '{!$Component.inputTextAreaRulesUpdate}', {toolbar: [
                                                                        { name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source'] },
                                                                        { name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
                                                                        { name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ], items: ['Replace', 'SelectAll'] },
                                                                        { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline'] },
                                                                        { name: 'styles', items: [ 'Font', 'FontSize' ] },
                                                                        { name: 'colors', items: [ 'TextColor'] },
                                                                        { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align'], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },
                                                                        { name: 'links', items: [ 'Link', 'Unlink' ] },
                                                                        { name: 'paragraph', items: [ 'NumberedList', 'BulletedList' ] },
                                                                        { name: 'insert', items: [ 'Table', 'HorizontalRule'] }
                                                                    ]
                                                                });
                                                        </script>
                                                </td>
                                                
                                            </tr>
                                           
                                        </table>
                                    </div>
                                    <footer class="slds-modal__footer">
                                        <apex:commandButton value="Apply to Important Information"  onclick="applyNewValues('applyImportantInformation','cls-importantInformation'); return false;" styleClass="slds-button slds-button_neutral agencyBackground agencyFont close-modal-update-values" style="margin-right: 20px;" />
                                        <button class="slds-button slds-button_neutral agencyBackground agencyFont close-modal-update-values">Close</button>
                                    </footer>
                                    </div>
                                </section>
                                <div class="slds-backdrop slds-backdrop_open"></div>
                            </div>
                    
                            <div class="modal-update-values-info modal-update" style="display: none">
                                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
                                    <div class="slds-modal__container">
                                    <header class="slds-modal__header">
                                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse close-modal-update-values-info" title="Close">
                                            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#close')}" />
                                            </svg>
                                            <span class="slds-assistive-text">Close</span>
                                        </button>
                                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Update Forms of Payments</h2>
                                    </header>
                                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                                    <apex:inputTextarea rows="30" value="{!important_information_string}" id="inputTextAreaInfoUpdate" onkeydown="alert('');" styleclass="slds-input applyFormsOfPayment" style="height: 500px;"/>
                                                    <script>
                                                        var cke = CKEDITOR.replace( '{!$Component.inputTextAreaInfoUpdate}', {toolbar: [
                                                                        { name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source'] },
                                                                        { name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
                                                                        { name: 'editing', groups: [ 'find', 'selection', 'spellchecker' ], items: ['Replace', 'SelectAll'] },
                                                                        { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline'] },
                                                                        { name: 'styles', items: [ 'Font', 'FontSize' ] },
                                                                        { name: 'colors', items: [ 'TextColor'] },
                                                                        { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align'], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl' ] },
                                                                        { name: 'links', items: [ 'Link', 'Unlink' ] },
                                                                        { name: 'paragraph', items: [ 'NumberedList', 'BulletedList' ] },
                                                                        { name: 'insert', items: [ 'Table', 'HorizontalRule'] }
                                                                    ]
                                                                });
                                                        </script>
                                    </div>
                                    <footer class="slds-modal__footer">
                                        <apex:commandButton value="Apply to Forms of Payments"  onclick="applyNewValues('applyFormsOfPayment','cls-paymentRules'); return false;" styleClass="slds-button slds-button_neutral agencyBackground agencyFont close-modal-update-values-info" style="margin-right: 20px;" />
                                        <button class="slds-button slds-button_neutral agencyBackground agencyFont close-modal-update-values-info">Close</button>
                                    </footer>
                                    </div>
                                </section>
                                <div class="slds-backdrop slds-backdrop_open"></div>
                            </div>
                        </apex:form>
                    
                        <script>
                            $(document).on("click", ".open-modal-update-values", function() {
                                $('.modal-update-values').slideDown();
                            });
                            
                            $(document).on("click", ".close-modal-update-values", function() {
                                $('.modal-update-values').slideUp();             
                                return false;
                            });
                    
                            $(document).on("click", ".open-modal-update-values-info", function() {
                                $('.modal-update-values-info').slideDown();
                            });
                            
                            $(document).on("click", ".close-modal-update-values-info", function() {
                                $('.modal-update-values-info').slideUp();      
                                return false;
                    
                            });
                    
                            $( document ).ready(function() {
                                jQuery('.chosen').chosen();
                                changeLabel(jQuery('.vl-input').prop('checked'));
                                $('.courseType').trigger('chosen:updated');  
                               // $('.div-prices').css('height',document.querySelector('#cke_1_contents').style.height);
                            });
                            asyncCall();
                            
                            async function asyncCall() {
                                console.log('calling');
                                var result = await resolveAfter2Seconds();
                                console.log(result);
                                // expected output: 'resolved'
                            }
                    
                            function resolveAfter2Seconds() {
                                return new Promise(resolve => {
                                    setTimeout(() => {
                                    setNewHeight();
                                    resolve('resolved');
                                    }, 2000);
                                });
                            }
                    
                            function setNewHeight(){
                                console.log('new');
                                //$('.div-prices').css('height',$('.area-edit').parent().height());
                                jQuery('.div-prices').each(function(){ 
                                    jQuery(this).css('height',jQuery(this).parent().height());
                                });
                            }
                    
                           
                            getCourseType('{!$CurrentPage.parameters.id}');
                            getCourses('{!$CurrentPage.parameters.id}',null);
                            function getCourseType(schoolId) { 
                                Visualforce.remoting.Manager.invokeAction( 
                                    '{!$RemoteAction.schools_payment_rules.changeCourseType}',
                                    schoolId,
                                    function(result, event){
                                        if (event.status) {
                                            // Get DOM IDs for HTML and Visualforce elements like this
                                            var country = null;
                                            for(keyName in result){
                                                if( result.hasOwnProperty(keyName ) ) {
                                                    $('.courseType').append($('<option/>', { 
                                                        value: result[keyName].cType,
                                                        text : result[keyName].cType 
                                                    }));
                                                  
                                                }
                                            }
                                            $('.courseType').trigger('chosen:updated');  
                                        } else if (event.type === 'exception') {
                                                console.log(event.message + "<br/>\n<pre>" + event.where + "</pre>");
                                        } else {
                                            console.log("responseErrors" + event.message);
                                        }
                                    }, 
                                    {escape: true}
                                );
                            }
                    
                            function getCourses(schoolId, courseType) {
                                $('.courses').children('option').remove();
                                Visualforce.remoting.Manager.invokeAction(
                                    '{!$RemoteAction.schools_payment_rules.changeCourse}',
                                    schoolId,
                                    courseType,
                                    function(result, event){
                                        if (event.status) {
                                            // Get DOM IDs for HTML and Visualforce elements like this
                                            var city = null;
                                            for(keyName in result){
                                                if( result.hasOwnProperty(keyName ) ) {
                                                    $('.courses').append($('<option/>', { 
                                                        value: result[keyName].courseId,
                                                        text : result[keyName].courseName 
                                                    }));
                                                   
                                                }
                                            }
                                            $('.courses').trigger('chosen:updated');
                                                
                                        } else if (event.type === 'exception') {
                                                console.log(event.message + "<br/>\n<pre>" + event.where + "</pre>");
                                        } else {
                                            console.log("responseErrors" + event.message);
                                        }
                                    }, 
                                    {escape: true}
                                );
                            }
                    
                            function applyNewValues(clFrom, clTo){
                                var elementCKEditor = $("."+clFrom);
                                idCKEditor = $(elementCKEditor).attr('name');
                                ckEditorInstance = CKEDITOR.instances[idCKEditor];
                                dataFrom = ckEditorInstance.getData();
                                // ckEditorInstance.setData('<br/>'+data);
                                // console.log(ckEditorInstance.getData());
                                
                                jQuery('.'+clTo).each(function(){ 
                                    var elementCKEditor = jQuery(this);
                                    idCKEditor = $(elementCKEditor).attr('name');
                                    ckEditorInstance = CKEDITOR.instances[idCKEditor];
                                    ckEditorInstance.setData(dataFrom); 
                                });
                                debugger;
                    
                                if(clFrom == 'applyImportantInformation'){
                                    $('.modal-update-values').slideUp();             
                                    return false;
                                }else{
                                    $('.modal-update-values-info').slideUp();
                                    return false;
                                }
                            }
                    
                            function showTermOptions(selectedOpt, theID){
                                console.log(selectedOpt);
                                console.log(theID);
                                if(selectedOpt == 'Term'){
                                    jQuery('.termOptions-' + theID).show();
                                    $('.termOption-' + theID).trigger('chosen:updated'); 
                                    $('.termInterval-' + theID).trigger('chosen:updated'); 
                                }else {
                                    jQuery('.termOptions-' + theID).hide();
                                    jQuery('.termOption-' + theID).val('');
                                    jQuery('.termInterval-' + theID).val('');
                                }
                            }
                    
                            function changeLabel(vl){
                                if(vl == true){
                                    jQuery('.rw-info').css('display','none'); 
                                    jQuery("#lb-info").html('Uncheck to Show Important Information Column');
                                }else{
                                    jQuery('.rw-info').css('display',''); 
                                    jQuery("#lb-info").html('Check to Hide Important Information Column');
                                }
                            }
                    
                            // var elementCKEditor1 = $(".applyFormsOfPayment");
                            // idCKEditor1 = $(elementCKEditor1).attr('name');
                            // ckEditorInstance1 = CKEDITOR.instances[idCKEditor1];
                            // ckEditorInstance1.editor1.document.on('key', function(event) {alert('hello')});
                    
                        </script>
                </apex:outputPanel>
            </div>
        </apex:outputPanel>
    </html>
</apex:page>