<apex:page controller="school_finance_info" showHeader="true" sidebar="true" docType="html-5.0" lightningStyleSheets="true" standardStylesheets="false">
    <apex:outputPanel layout="block" id="container-school-page" styleClass="slds-scope container-school-page">
        <div class="slds-grid_vertical" style="margin-top: 10px;">
            <apex:outputPanel layout="block" styleClass="slds-col slds-size_1-of-1">
                <apex:includeScript value="{!$Resource.up_jQuery}"/>
                <script src="https://code.jquery.com/ui/1.8.24/jquery-ui.js"></script>
                <apex:includeScript value="{!URLFOR($Resource.jquerymask,'jquerymask.js')}" />

                <apex:styleSheet value="{!URLFOR($Resource.chosen_1_2_0,'chosen.min.css')}" />  
                <apex:includeScript value="{!URLFOR($Resource.chosen_1_2_0,'chosen.jquery.min.js')}" />
                <c:school_page_header />
            </apex:outputPanel>
            <style>

            </style>
            <apex:outputPanel layout="block" styleClass="slds-col slds-size_1-of-1 div-section" style="margin-top: 15px;">
                <h1 class="header-page">
                    Finance Info
                </h1>
                <c:school_finance_info blockChangeOptions="true"/>
            </apex:outputPanel>
        </div>
    </apex:outputPanel>
</apex:page>