<apex:page standardController="Account" showheader="false" extensions="CampusDetails" sidebar="false" standardStylesheets="false" applyBodyTag="false" docType="html-5.0" lightningStyleSheets="true">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <apex:includeScript value="{!$Resource.up_jQuery}" />

    <apex:slds />
    
    <div class="slds-scope">
        <c:modalLoadingLightning />
        <c:schoolShowCase stretchShowCase="false"/>
    </div>
</apex:page>