<apex:page controller="school_comm_amend_request" action="{!findConfirmComm}" tabstyle="Finance__tab">

<apex:include pageName="xStylePageV2" />
<apex:include pageName="xCourseSearchStyle" />

<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />	
<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />

<apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}"/>
<apex:includeScript value="{!URLFOR($Resource.assets,'modalfiles/modal.js')}" />
<apex:stylesheet value="{!URLFOR($Resource.assets,'modalfiles/modal.css')}" />

<style>
	 
	.tableInstal tbody tr:nth-child(odd) td  {
	    background-color: #eeeeee !important;	  
	}
	
	.tableInstal tbody tr:nth-child(even) td {
	    background-color: #ffffff !important;
	}
	
	.dateFormat{
		display:none;
	}
	
	.innerTable{
		border: 1px solid #ccc;
	    border-spacing: 0;
	    font-size: 0.8em;
	    margin: 3px 0;
	    width: 100%;
	}
	
	.tableInstal {
		border-bottom: 0px;
	}
	
	.tableInstal tr td{
		font-size:1em !important;
	}
	
	.clEven td{
		background-color: #ffffff !important;
	}
	
	.clOdd td{
		background-color: #eeeeee !important;
	}
	
	.tableInstal {
		border-bottom: 0px;
	}
	
	.tableInstal tbody tr:last-child td{
		border-bottom: 0px;
	}
	
	.filters{
		background-color: #f9f9f9;
	    display: block;
	    margin: 1em 0.5em 0.5em;
	    padding: 10px;
	    width:100%;
	}
	
	.requiredInput{
         height: 98%;
         left: -2px;
         width: 100%;
         border-left: 3px solid #CC0000;
     }

	.details{
		font-weight:bold;
		font-size:0.8em !important;
		text-align: left;
	}

	.receiveTable{
		border-spacing: 0;
		font-size: 0.9em;
		width: 100%;
	}

	.receiveTable td{
		text-align: left;
		border: 0px !important;
	}

	.tableInstal tbody td .paymentDetails, .tableInstal tbody td .currencyLastUpdateRed, .tableInstal tbody td .currencyLastUpdate ,.tableInstal tbody td .receiveTable{
		vertical-align: top;
		padding-top: 0px;
	}
	
	.tableInstal tbody td {
		vertical-align: top !important;
	}
	
</style>

<script>
	function hideLoadRow(rowName){
    	jQuery('.'+rowName).unblock();
	}

</script>
<table class="tbl_Details">
	<tr>					
		<td class="sidesColumn">					
			<c:menuFinance selectedItem="commAmend" />
		</td>
	
		<td class="middleColumn bodyColumn">	
			<apex:form >
			
			
			<div class="title" style="font-size:1.5em;margin-bottom:10px;">
				<span class="arrow-e" style="font-size: 1.5em;"></span>&nbsp;Commission Amendment

				<div class="title" style="float:right;">
					<apex:outputLink value="/help_link?fl={!$CurrentPage.Name}" target="_blank" style="float:right;font-weight: normal;text-decoration: none; color: #777777; font-size: 0.7em;display: block;
				width: 100%;text-align: right;">
						<apex:image value="{!urlfor($Resource.icons,'icons/commons/help.png')}" style="height: 16px; width: 16px; position: relative; top: 3px;" />
						Help
					</apex:outputLink>
				</div>
			</div>		
				
			<apex:outputpanel id="searchResult">
			
				<apex:outputpanel layout="none" id="cpTabs">
					<div onclick="showLoading('Loading');window.location.href ='school_comm_amend_request?gr={!selectedAgencyGroup}&ag={!selectedAgency}&sc={!selectedSchool}&ca={!selectedCampus}'" class="divTabs ">Send Commission Invoice <span class="counterTab">{!TotalRequest}</span></div> 
					<div onclick="showLoading('Loading');window.location.href ='school_comm_amend_confirm?gr={!selectedAgencyGroup}&ag={!selectedAgency}&sc={!selectedSchool}&ca={!selectedCampus}'" class="divTabs divTabSelected">Confirm Commission <span class="counterTab">{!instalments.size}</span></div> 
				</apex:outputpanel>
				<br/><br/><br/>
			
				<apex:outputpanel id="filters" styleclass="box-searh" layout="block" style="width:100%;">
					<table cellpadding="6px;" cellspacing="2px" class="filters">
						<tr>
							<td>
				                  <apex:selectList value="{!selectedAgencyGroup}" size="1" style="width:150px;" styleclass="chosen">
				                      <apex:SelectOptions value="{!agencyGroupOptions}" />
				                      <apex:actionSupport event="onchange" action="{!changeGroup}" rerender="filters" status="statusLoad" oncomplete="jQuery('.chosen').chosen();"/>
				                  </apex:selectList>
				                  <apex:outputText value="Agency Group" style="display: block;" /> 
				          	</td>
				          	
							<td>
								<apex:outputPanel styleClass="SearchField">
									<div class="SearchInput" style="margin: 3px 0;">
										<!-- <apex:selectList size="1" value="{!selectedAgency}" style="width:150px;" styleclass="chosen"> -->
										<apex:selectList size="1" value="{!selectedAgencies}" style="width:150px;" styleclass="chosen" multiselect="true">
											<apex:selectOptions value="{!Agencies}" />
											<apex:actionSupport event="onchange" action="{!changeAgency}" status="statusLoad" rerender="filters" oncomplete="jQuery('.chosen').chosen();"/>
										</apex:selectList>
									</div>
									<div><span class="SearchLabel">Agency</span></div>
								</apex:outputPanel>
							</td>
						
							<!-- <td>
								<apex:outputPanel styleClass="SearchField">
									<div class="SearchInput" style="margin: 3px 0;">
										<apex:selectList size="1" value="{!selectedDepartment}" style="width:150px;" styleclass="chosen">
											<apex:selectOptions value="{!Departments}" />
											<apex:actionSupport event="onchange" action="{!findinstalmentsInstalments}" status="statusLoad" rerender="searchResult" oncomplete="jQuery('.chosen').chosen();"/>
										</apex:selectList>
									</div>
									<div><span class="SearchLabel">Department</span></div>
								</apex:outputPanel>
							</td>-->
							<td>
								<apex:outputPanel styleClass="SearchField">
									<div class="SearchInput" style="margin: 3px 0;">
										<apex:selectList size="1" value="{!selectedSchool}" style="width:150px;" styleclass="chosen">
											<apex:selectOptions value="{!schoolOptions}" />
											<apex:actionSupport event="onchange" action="{!changeSchool}" status="statusLoad" rerender="campusFilter" oncomplete="jQuery('.chosen').chosen();"/>
										</apex:selectList>
									</div>
									<div><span class="SearchLabel">School</span></div>
								</apex:outputPanel>
							</td>
							 <td>
								<apex:outputPanel styleClass="SearchField" id="campusFilter">
									<div class="SearchInput" style="margin: 3px 0;">
										<apex:selectList size="1" value="{!selectedCampus}" style="width:150px;" styleclass="chosen">
											<apex:selectOptions value="{!campusOptions}" />
										</apex:selectList>
									</div>
									<div><span class="SearchLabel">Campus</span></div>
								</apex:outputPanel>
							</td>
							<!--<td>
								<div class="SearchInput" style="margin: 3px 0;">
									<apex:inputfield value="{!dateFrom.BirthDate}" />
									<apex:outputText value="and" style="margin: 0 5px" styleClass="SearchLabel" /> 
									<apex:inputfield value="{!dateTo.BirthDate}" />
								</div>
								<div class="SearchFooter" style="margin-left: 70px;"><span class="SearchLabel">Visa Expiry</span></div>
							</td>
							<td>
								<apex:outputPanel styleClass="SearchField">
									<div class="SearchInput" style="margin: 3px 0;">
										<apex:inputtext value="{!keywords}" />
									</div>
									<div><span class="SearchLabel">Student Name</span></div>
								</apex:outputPanel>
							</td>-->
							<td>
								<apex:commandLink value="Search" action="{!findConfirmComm}" status="statusLoad" rerender="errorMessages,searchResult,pbLimits" styleClass="agencyButton" style="padding: 5px 20px; position: relative; top: 9px; font-weight:bold !important " onComplete="jQuery('.chosen').chosen();" />
							</td>	
						</tr>
					</table> 
				</apex:outputpanel>
				
				<!--<apex:pageMessages id="errorMessages"/>	-->
				
				
				<apex:outputpanel rendered="{!ISNULL(instalments) || instalments.size<1}">
					<div style="text-align:center; color:red; border:1px solid grey; padding:5px; margin-top: 6px;width: 100%;"> No result found. </div>
				</apex:outputpanel>
				<apex:outputpanel rendered="{!NOT(ISNULL(instalments)) && instalments.size>0}">
					
					<script>
						jQuery(function() {
				        	jQuery('.tabsClient').tabs();
				       });
					</script>
					<apex:variable value="{!0}" var="countLines" />
					<table class="tableInstal">
						<thead>
							<tr>
								<td style="width:15%;">Client Name</td>
								<td style="width:15%;">School Name&nbsp;/&nbsp;Course</td>
								<!--<td>Course Dates</td>-->
								<td style="width:12%;">Receive From School</td>
								<td style="width:10%;">Invoice Sent</td>
								<td style="width:15%;">Currency Receive Details</td>
                        		<td style="width:15%;">Bank Transfer Fee</td>
								<td style="width:10%;">Commission Received</td>
								<td style="width:10%;">Actions</td>
							</tr>
						</thead>
						<tbody>
							<apex:repeat value="{!instalments}" var="i">
								<apex:variable value="{!countLines+1}" var="countLines" />
								<tr class="row-{!i.id} {!IF(MOD(countLines,2) == 0, 'clEven','clOdd')}">
									
									<td> 
										<apex:outputlink value="{!IF(redirectNewContactPage, 'contact_new_activity_log', 'activity_log')}?id={!i.Client_Course__r.Client__c}" target="_blank"><apex:outputtext value="{!i.Client_Course__r.Client__r.Name}" /></apex:outputlink>
										
										<div class="ownerName">
											Invoice Number: &nbsp; 
											<apex:outputlink value="apex/payment_school_invoice?type=payment&id={!i.id}" target="_blank">
												{!i.School_Invoice_Number__c}
											</apex:outputlink>
										</div>	
										
										<div class="ownerName">
											Visa Expiry Date: &nbsp;<apex:outputfield value="{!i.Client_Course__r.Client__r.Visa_Expiry_Date__c}" />
										</div>	
										
										<div class="ownerName">
											Status:&nbsp;<apex:outputfield value="{!i.Client_Course__r.Client__r.Status__c}" />
										</div>	
										<div>
											<b><apex:outputText value="{!i.Received_By_Agency__r.Name}"/></b>
										</div>
									</td>
									
									<td>
										<apex:outputtext value="{!i.Client_Course__r.Campus_Name__c}" style="font-weight:bold;"/> <br/>
										<apex:outputtext value="{!i.Client_Course__r.Course_Name__c}" />
										
										<span style="display:block;font-size:0.9em;">
											Start Date:&nbsp; <apex:outputfield value="{!i.Client_Course__r.Start_Date__c}" /> <br/>
											End Date:&nbsp; <apex:outputfield value="{!i.Client_Course__r.End_Date__c}" /> 
										</span>
									</td>
									
									<!--<td style="width:8%;">
										Start Date:&nbsp; <apex:outputfield value="{!i.Client_Course__r.Start_Date__c}" /> <br/>
										End Date:&nbsp; <apex:outputfield value="{!i.Client_Course__r.End_Date__c}" /> <br/>
									</td>-->
																		
									<td style="text-align: center;font-weight: bold;font-size: 1.2em !important;">
										<apex:outputText value="{0, number, currency}" >
											<apex:param value="{!i.Amendment_Receive_From_School__c}" />
										</apex:outputText>
										<!--<table class="innerTable">
											
											<tr>
												<td>Commission Adjustment:</td>
												<td style="text-align:right;">
													<apex:outputText value="{0, number, currency}" >
														<apex:param value="{!i.Commission_Adjustment__c}" />
													</apex:outputText>		
												</td>
											</tr>
											<tr>
												<td>Tax Adjustment:</td>
												<td style="text-align:right;">
													<apex:outputText value="{0, number, currency}" >
														<apex:param value="{!i.Commission_Tax_Adjustment__c}" />
													</apex:outputText>		
												</td>
											</tr>
											<tr>
												<td>Total:</td>
												<td style="text-align:right;">
													<apex:outputText value="{0, number, currency}" >
														<apex:param value="{!i.Commission_Adjustment__c + i.Commission_Tax_Adjustment__c}" />
													</apex:outputText>		
												</td>
											</tr>
										</table>-->
									</td>
									
									<td>
										Sent on: &nbsp; <apex:outputfield value="{!i.Sent_Email_Receipt_On__c} "/><br/>
										sent by: &nbsp;
										<apex:outputtext value="{!i.Sent_Email_Receipt_By__r.Name}" />		
									</td>

									<!-- RECEIVE DETAILS -->
									<td style="padding-top:0px !important;">
										<table class="receiveTable">
											<tr>
												<td colspan="3" class="{!IF(AND(NOT(ISNULL(currencyLastModifiedDate)),DATEVALUE(currencyLastModifiedDate) < today()),'currencyLastUpdateRed','currencyLastUpdate')}" style="font-size:0.9em !important;">
													<apex:outputText value="Last Updated On: " />
													<apex:outputText value="{0,date, EEEE, dd MMM yyyy hh:mm:ss}">
														<apex:param value="{!currencyLastModifiedDate}" />
													</apex:outputText>
												</td>
											</tr>
											<tr>
												<td class="details" style="width:30%">Currency:</td>
												<td>
													<apex:selectList value="{!i.Agency_Currency__c}" style="width:90%;" size="1" styleclass="datePaid {!i.id}receivedCurrency" disabled="true"><!-- rendered="{!$ObjectType.Contact.fields.allowCurrency__c.accessible}"> -->
														<apex:selectOptions value="{!mainCurrencies}"  />
														<!--<apex:actionSupport action="{!recalculateRate}" event="onchange" status="statusLoad" rerender="pnlCurrency">
															<apex:param value="{!s.schoolId}" name="school" assignTo="{!paramSchool}"/>
															<apex:param value="{!i.id}" name="invId" assignTo="{!paramInvoice}"/>
														</apex:actionSupport>-->
													</apex:selectList>
												</td>
											</tr>
											<tr>
												<td class="details" style="width:30%">
													Rate:<br/>
													<div style="color:#999;font-size: 0.7em; margin-top:-5px;">
															1 {!i.client_course__r.CurrencyIsoCode__c} = {!i.Agency_Currency__c}
													</div>
												</td>
												<td>
													<div class="requiredInput">
														<apex:inputfield value="{!i.Agency_Currency_Rate__c}" style="width:75px" styleClass="{!i.id}-crate numberOnly datePaid" onkeyup="calculateValues(this.value, 'crate', '{!i.id}-cvalue', '{!i.Amendment_Receive_From_School__c}')"/>
													</div>
												</td>
											</tr>
											<tr>
												<td class="details" style="width:30%">
													Value in <br/>
													<div style="color:#999;font-size: 0.7em; margin-top:-5px;">
													{!i.Agency_Currency__c}
													</div>
												</td>
												<td>
													<div class="requiredInput">
														<apex:inputfield value="{!i.Agency_Currency_Value__c}" style="width:75px" styleClass="{!i.id}-cvalue numberOnly datePaid"  onkeyup="calculateValues(this.value, 'cvalue', '{!i.id}-crate', '{!i.Amendment_Receive_From_School__c}')"/>
													</div>
												</td>
											</tr>
										</table>
									</td>

									<!-- TRANSFER FEE -->
									<td style="padding-top:0px !important;">
										<table class="receiveTable" >
											<tr>
												<td class="details"  style="width:40%">
													Currency:
												</td>
												<td>
													<apex:selectList value="{!i.Transfer_Receive_Fee_Currency__c}" style="width:90%;" size="1" disabled="true">
														<apex:selectOptions value="{!mainCurrencies}"  />
													</apex:selectList>
												</td>
											</tr>
											<tr>
												<td class="details"  style="width:40%">
													Amount:
												</td>
												<td>
													<div class="requiredInput">
														<apex:inputfield value="{!i.Transfer_Receive_Fee__c}" style="width: 60px;" styleclass="numberOnly" />
													</div>
												</td>
											</tr>
										</table>
									</td>
									
									<td>
										<div class="requiredInput"><apex:inputfield value="{!i.Commission_Paid_Date__c}" style="width: 100px;" /></div>
									</td>
									
									<td style="border-left: solid 1px #ccc;" class="showLine-{!i.id}" >
										<apex:selectList value="{!selectedAction}" onchange="actions(this.value, '{!i.id}', jQuery('.{!i.id}-cvalue').val(), '{!i.Agency_Currency__c}')" styleclass="actions chosen" size="1" style="width: 150px;" >
											 <apex:selectOptions value="{!actionOptions}" />
								        </apex:selectList> 
									</td>	
								</tr>
							</apex:repeat>
						</tbody>					
					</table>
				</apex:outputpanel>
			</apex:outputpanel>
			
			<apex:actionFunction name="refresh" action="{!findConfirmComm}"  status="statusLoad" rerender="errorMessages,searchResult" onComplete="jQuery('.chosen').chosen();"/>
			
			
			<apex:actionFunction name="confirmInvoice" action="{!confirmCommission}" status="statusLoad" rerender="errorMessages,searchResult" onComplete="jQuery('.chosen').chosen();">
				<apex:param name="id" value="" />
			</apex:actionFunction>
			
			
			</apex:form>
		</td>
	</tr>
</table>
<script>
		
	var modalWind;
		
	jQuery(document).ready(function() {
		
		jQuery('.chosen').chosen();
		
	});	

	function setFocusOnLoad() {}
	
	function setCloseModal(){
		jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
		jQuery('.Close').unbind('click'); 
		jQuery('.Close').click(function() {closemodal();});		
	}
	
	function closemodal(){
		jQuery('#interVeil').css('display','none');	
		modalWind.close();
	}
	
	function UpdateOpener(){
		jQuery('#interVeil').css('display','none');	
		modalWind.close();
		refresh();			
	}
	
	function sendEmail(instId){
		modalWind = dhtmlmodal.open('sendEmail', 'iframe', 'payment_school_email?visits=false&id='+instId+'&type=amendCommission', 'Send Email - Request Commission', 'width=950px,height=800px,resize=1,center=1,scrolling=0');
       	setCloseModal();
    } 
    
    function actions(value, instId, amount, agCurrency){
    	if(value=="sendEmail"){
    		jQuery('.actions').val('none');
    		jQuery(".actions").trigger("chosen:updated");
    		
    		sendEmail(instId);
   		}
   		else if(value=="receivePayment"){
   			jQuery('.actions').val('none');
   			jQuery(".actions").trigger("chosen:updated");
   			
   			if(confirm('Are you sure you want to CONFIRM the value of ' + amount + ' '+ agCurrency +'?')){
				confirmInvoice(instId);
			}
   		}
    }

	function calculateValues(vl, op, cl, inv){
		console.log(vl);
		console.log(cl);
		console.log(op);
		console.log(inv);
		if(op == 'cvalue')
			jQuery('.'+cl).val( roundToFour(vl /inv) );
		else jQuery('.'+cl).val( roundToTwo(vl * inv) );
	}

	function roundToTwo(num) {
			return +(Math.round(num + "e+2")  + "e-2");
	}

	function roundToFour(num) {
			return +(Math.round(num + "e+4")  + "e-4");
	}

	jQuery.fn.ForceNumericOnly =
	function()
	{
		return this.each(function()
		{
			$(this).keydown(function(e)
			{
								if(e.keyCode == 188){
										e.preventDefault();
										$(this).val($(this).val() + '.');
								}
				var key = e.charCode || e.keyCode || 0;
				return (
					key == 8 ||
					key == 9 ||
					key == 46 ||
					key == 110 ||
										key == 188 ||
					key == 190 ||
					(key >= 35 && key <= 40) ||
					(key >= 48 && key <= 57) ||
					(key >= 96 && key <= 105));

			});
		});
	};

	jQuery(".numberOnly").ForceNumericOnly();

</script>
</apex:page>