<apex:page showHeader="true" sidebar="false" docType="html-5.0" lightningStyleSheets="true" standardStylesheets="false">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <apex:outputPanel layout="block" id="container-school-page" styleClass="slds-scope container-school-page">
            <div class="slds-grid_vertical" style="margin-top: 10px;">
                <apex:outputPanel layout="block" styleClass="slds-col slds-size_1-of-1">
                    <apex:includeScript value="{!$Resource.up_jQuery}" />
                    <apex:includeScript value="{!URLFOR($Resource.JQuery_ui_1_11_2,'jquery-ui.min.js')}"/>
                    <apex:stylesheet value="{!URLFOR($Resource.jQueryUI,'jquery-ui.css')}" />
                    <apex:styleSheet value="{!URLFOR($Resource.chosen_1_2_0,'chosen.min.css')}" />  
                    <apex:includeScript value="{!URLFOR($Resource.chosen_1_2_0,'chosen.jquery.min.js')}" />

                    <apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}"/>
                    <apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}"/>

                    <apex:includeScript value="{!URLFOR($Resource.assets,'modalfiles/modal.js')}" />
                    <apex:stylesheet value="{!URLFOR($Resource.assets,'modalfiles/modal.css')}" />

                    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
                    
                    <c:school_page_header />
                    <style>
                        
                    </style>
                </apex:outputPanel>
                <apex:outputPanel id="container-school-documents" layout="block" styleClass="slds-col slds-size_1-of-1 div-section" style="margin-top: 15px;">
                    <h1 class="header-page">
                        Campus Report
                    </h1>
                    <div>
                        <apex:include pageName="campus_course_report"/>
                    </div>
                </apex:outputPanel>
            </div>
        </apex:outputPanel>
    </html>
</apex:page>