<apex:page readOnly="true" docType="html-5.0" lightningStyleSheets="true" standardStylesheets="false" showHeader="false">
    <apex:slds /> 
    <!-- <c:school_promotions embedded="true" country="{!$CurrentPage.parameters.country}" school="{!$CurrentPage.parameters.school}" campus="{!$CurrentPage.parameters.campus}" startupSearch="true" callEditOnStartUp="true" blockEditButton="true" promotionType="free-unit"/> -->
    <c:school_promotions country="{!$CurrentPage.parameters.country}" school="{!$CurrentPage.parameters.school}" campus="{!$CurrentPage.parameters.campus}" course="{!$CurrentPage.parameters.course}" startupSearch="true" callEditOnStartUp="{!$CurrentPage.parameters.callEditOnStartUp == 'true'}" blockEditButton="{!$CurrentPage.parameters.blockEditButton == 'true'}" promotionType="{!$CurrentPage.parameters.promotionType}" />
</apex:page>