<apex:page controller="school_campus_contact" showHeader="true" sidebar="false" docType="html-5.0" lightningStyleSheets="true" standardStylesheets="false">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <apex:outputPanel layout="block" id="container-school-page" styleClass="slds-scope container-school-page">
            <div class="slds-grid_vertical" style="margin-top: 10px;">
                <apex:outputPanel layout="block" styleClass="slds-col slds-size_1-of-1">
                    <apex:includeScript value="{!$Resource.up_jQuery}" />
                    <apex:includeScript value="{!URLFOR($Resource.JQuery_ui_1_11_2,'jquery-ui.min.js')}"/>
                    <apex:stylesheet value="{!URLFOR($Resource.jQueryUI,'jquery-ui.css')}" />
                    <apex:styleSheet value="{!URLFOR($Resource.chosen_1_2_0,'chosen.min.css')}" />  
                    <apex:includeScript value="{!URLFOR($Resource.chosen_1_2_0,'chosen.jquery.min.js')}" />
                    
                    <c:school_page_header />
                    <style>
                        .button-mini{
                            padding: 0px 13px !important;
                            line-height: 1.55rem !important;
                        }
                        .slds-select{
                            height: 25px !important;
                            min-height: 25px !important;
                        }
                        .errorMessages{
                            padding: 5px !important;
                            background-color: #e8e864;
                            font-weight: 700;
                            border: 1px solid #e44d4d;
                        }
                    </style>
                    <script>
                        var modalDeleteContact;
                        $(document).ready(function(){
                            $(document).on("change", ".selectTypeOtherForm", function() {
                                index = $(this).closest("div").find(".counter").val();
                                updateTypeFormContact($(this).val(), index);
                            });
                            $(document).on("click", ".button-preview-contact", function() {
                                id = $(this).closest("div").find(".cttID").val();
                                $(this).closest("table").find("#"+id).show();
                                $(this).closest("div").find(".close-preview-contact").show();
                                $(this).hide();
                            });
                            $(document).on("click", ".close-preview-contact", function() {
                                id = $(this).closest("div").find(".cttID").val();
                                $(this).closest("table").find("#"+id).hide();
                                $(this).closest("div").find(".button-preview-contact").show();
                                $(this).hide();
                            });

                            $(document).on("click", ".button-delete-contact", function() {
                                id = $(this).closest("div").find(".contact-id").val();
                                name = $(this).closest("div").find(".contact-name").val();
                                modalDeleteContact = {
                                    confirmAction : function(response){
                                        if(response){
                                            deleteContact(id);
                                        }
                                    } 
                                };
                                modalDeleteContact.id = id;
                                modalDeleteContact.name = name;

                                var confirmDialog = new Object();
                                confirmDialog.textHeader = 'Delete {!accSelected.RecordType.Name} Contact';
                                confirmDialog.textBody = 'Are you sure you want to delete the contact <b>'+name+'</b>? This action cannot be undone.';
                                openModalConfirmation(confirmDialog, modalDeleteContact);
                            });
                        });
                    </script>
                </apex:outputPanel>
                <apex:outputPanel id="container-campus-contact" layout="block" styleClass="slds-col slds-size_1-of-1 div-section" style="margin-top: 15px;">
                    <apex:form id="form-contacts">
                        <apex:actionFunction name="deleteContact" action="{!deleteContact}" immediate="true" status="showModalLoading" rerender="form-contacts">
                            <apex:param name="contactID" value=""/>
                        </apex:actionFunction>
                        <div>
                            <h1 class="header-page">
                                {!accSelected.RecordType.Name} Contacts
                            </h1>
                        </div>
                        <div style="text-align: right; margin-bottom: 10px;">
                            <apex:commandLink action="{!openCloseModalNewContact}" status="showModalLoading" rerender="container-campus-contact" value="Add New Contact" styleClass="slds-button slds-button_brand"/>
                        </div>
                        <div>
                            <table class="slds-table slds-table_bordered slds-table_cell-buffer slds-table_col-bordered slds-no-row-hover" style="table-layout: fixed;">
                                <thead>
                                    <tr class="slds-text-title_caps">                                              
                                        <th scope="col">
                                            <div class="slds-truncate"></div>
                                        </th>
                                        <th scope="col" style="min-width: 15%;">
                                            <div class="slds-truncate">
                                                Name
                                            </div>
                                        </th>
                                        <th scope="col" style="min-width: 15%;">
                                            <div class="slds-truncate">
                                                Email
                                            </div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate">
                                                Phone
                                            </div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate">
                                                Mobile
                                            </div>
                                        </th>
                                        <!-- <th scope="col">
                                            <div class="slds-truncate">
                                                Fax
                                            </div>
                                        </th> -->
                                        <th scope="col" style="min-width: 25%;">
                                            <div class="slds-truncate">
                                                Contact Type
                                            </div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate">
                                                Position
                                            </div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate">
                                                Campuses
                                            </div>
                                        </th>
                                        <th scope="col">
                                            <div class="slds-truncate" style="text-align: center">
                                                Actions
                                            </div>
                                        </th>                               
                                    </tr>
                                </thead>
                                <tbody>
                                    <apex:repeat var="contact" value="{!campusContacts}" rendered="{!campusContacts != null && NOT(campusContacts.empty)}">
                                        <tr>
                                            <td data-label="Preview">
                                                <div class="slds-truncate" title="Preview" style="text-align: center;">
                                                    <a class="button-preview-contact button-mini slds-button slds-button_outline-brand">
                                                        <svg class="slds-button__icon" aria-hidden="true">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#preview')}" />
                                                        </svg>&nbsp;View
                                                    </a>
                                                    <a class="close-preview-contact button-mini slds-button slds-button_text-destructive" style="display: none;">
                                                        <svg class="slds-button__icon" aria-hidden="true">
                                                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#close')}" />
                                                        </svg>&nbsp;Close
                                                    </a>
                                                    <input type="hidden" class="cttID" value="{!contact.ID}"/>
                                                </div>
                                            </td>
                                            <td data-label="{!contact.Name}">
                                                <div class="slds-truncate" title="{!contact.Name}">
                                                    {!contact.Name}
                                                </div>
                                            </td>
                                            <td data-label="{!contact.Email}">
                                                <div class="slds-truncate" title="{!contact.Email}" style="text-align: center">
                                                    {!contact.Email}
                                                </div>
                                            </td>
                                            <td data-label="{!contact.Phone}">
                                                <div class="slds-truncate" title='{!contact.Phone}' style="text-align: center">
                                                    <apex:outputField value="{!contact.Phone}" />
                                                </div>
                                            </td>
                                            <td data-label="{!contact.MobilePhone}">
                                                <div class="slds-truncate" title="{!contact.MobilePhone}">
                                                    {!contact.MobilePhone}
                                                </div>
                                            </td>
                                            <!-- <td data-label="{!contact.Fax}">
                                                <div class="slds-truncate" title="{!contact.Fax}">
                                                    {!contact.Fax}
                                                </div>
                                            </td> -->
                                            <td data-label="{!contact.Contact_Type__c}">
                                                <div class="slds-truncate" title="{!contact.Contact_Type__c}">
                                                    {!contact.Contact_Type__c}
                                                </div>
                                            </td>
                                            <td data-label="{!contact.Position_Title__c}">
                                                <div class="slds-truncate" title="{!contact.Position_Title__c}">
                                                    {!contact.Position_Title__c}
                                                </div>
                                            </td>
                                            <td data-label="{!contact.Position_Title__c}">
                                                <div class="slds-truncate" title="{!contact.Position_Title__c}">
                                                    <apex:outputPanel layout="none" rendered="{!CONTAINS(campusesPerContactList,contact.ID)}">
                                                        <apex:repeat value="{!campusesPerContact[contact.ID]}" var="campus" >
                                                            <div style="margin-bottom: 5px;">
                                                                {!campus.name}
                                                            </div>
                                                        </apex:repeat>
                                                    </apex:outputPanel>
                                                </div>
                                            </td>
                                            <td data-label="Actions">
                                                <div class="slds-truncate" title="Actions" style="text-align: center">
                                                    <apex:commandLink action="{!openEditContact}" status="showModalLoading" immediate="true" reRender="container-campus-contact" styleClass="button-mini slds-button slds-button_outline-brand" value="Edit">
                                                        <apex:param name="contactID" value="{!contact.ID}"/>
                                                    </apex:commandLink>
                                                    <a class="button-mini slds-button slds-button_text-destructive button-delete-contact">
                                                        Delete
                                                    </a>
                                                    <input type="hidden" class="contact-name" value="{!contact.Name}"/>
                                                    <input type="hidden" class="contact-id" value="{!contact.ID}"/>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr id="{!contact.ID}" style="display: none">
                                            <td colspan="9">
                                                <div style="border: 1px solid #d0cece; padding: 10px; margin: 10px; background-color: #f3f3f3;">
                                                    <div class="slds-grid slds-wrap">
                                                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3">
                                                            <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                                <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                                    <div class="test-id__field-label-container">
                                                                        <span class="test-id__field-label slds-form-element__label">
                                                                            Name
                                                                        </span>
                                                                    </div>
                                                                    <div class="slds-form-element__control slds-grid itemBody">
                                                                        <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                            <span class="uiOutputText">
                                                                                <apex:outputField value="{!contact.Name}"/>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>    
                                                            <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                                <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                                    <div class="test-id__field-label-container">
                                                                        <span class="test-id__field-label slds-form-element__label">
                                                                            Email
                                                                        </span>
                                                                    </div>
                                                                    <div class="slds-form-element__control slds-grid itemBody">
                                                                        <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                            <span class="uiOutputText">
                                                                                <apex:outputField value="{!contact.Email}"/>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>    
                                                            <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                                <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                                    <div class="test-id__field-label-container">
                                                                        <span class="test-id__field-label slds-form-element__label">
                                                                            Contact Type
                                                                        </span>
                                                                    </div>
                                                                    <div class="slds-form-element__control slds-grid itemBody">
                                                                        <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                            <span class="uiOutputText">
                                                                                <apex:outputField value="{!contact.Contact_Type__c}"/>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>  
                                                            <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                                <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                                    <div class="test-id__field-label-container">
                                                                        <span class="test-id__field-label slds-form-element__label">
                                                                            Campuses Related
                                                                        </span>
                                                                    </div>
                                                                    <div class="slds-form-element__control slds-grid itemBody">
                                                                        <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                            <span class="uiOutputText">
                                                                                <span>
                                                                                    <apex:outputPanel layout="none" rendered="{!CONTAINS(campusesPerContactList,contact.ID)}">
                                                                                        <apex:repeat value="{!campusesPerContact[contact.ID]}" var="campus">
                                                                                            {!campus.name},&nbsp;
                                                                                        </apex:repeat>
                                                                                    </apex:outputPanel>
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>  
                                                        </div>
                                                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3">
                                                            <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                                <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                                    <div class="test-id__field-label-container">
                                                                        <span class="test-id__field-label slds-form-element__label">
                                                                            Position
                                                                        </span>
                                                                    </div>
                                                                    <div class="slds-form-element__control slds-grid itemBody">
                                                                        <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                            <span class="uiOutputText">
                                                                                <apex:outputField value="{!contact.Position_Title__c}" rendered="{!contact.Position_Title__c != null}"/>
                                                                                <apex:outputPanel rendered="{!contact.Position_Title__c == null}">
                                                                                    &nbsp;
                                                                                </apex:outputPanel>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                                <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                                    <div class="test-id__field-label-container">
                                                                        <span class="test-id__field-label slds-form-element__label">
                                                                            Phone
                                                                        </span>
                                                                    </div>
                                                                    <div class="slds-form-element__control slds-grid itemBody">
                                                                        <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                            <span class="uiOutputText">
                                                                                <apex:outputField value="{!contact.Phone}"/>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>    
                                                            <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                                <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                                    <div class="test-id__field-label-container">
                                                                        <span class="test-id__field-label slds-form-element__label">
                                                                            Mobile Phone
                                                                        </span>
                                                                    </div>
                                                                    <div class="slds-form-element__control slds-grid itemBody">
                                                                        <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                            <span class="uiOutputText">
                                                                                <apex:outputField value="{!contact.MobilePhone}"/>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>    
                                                            <!-- <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                                <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                                    <div class="test-id__field-label-container">
                                                                        <span class="test-id__field-label slds-form-element__label">
                                                                            Fax
                                                                        </span>
                                                                    </div>
                                                                    <div class="slds-form-element__control slds-grid itemBody">
                                                                        <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                            <span class="uiOutputText">
                                                                                <apex:outputField value="{!contact.Fax}"/>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                        </div>
                                                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3">
                                                            <apex:repeat var="form" value="{!contact.Forms_of_Contact__r}">
                                                                <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                                    <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                                        <div class="test-id__field-label-container">
                                                                            <span class="test-id__field-label slds-form-element__label">
                                                                                {!form.Type__c}
                                                                            </span>
                                                                        </div>
                                                                        <div class="slds-form-element__control slds-grid itemBody">
                                                                            <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                                <span class="uiOutputText">
                                                                                    <apex:outputField value="{!form.Detail__c}"/>
                                                                                </span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>    
                                                            </apex:repeat>
                                                        </div>
                                                    </div>                                       
                                                </div>                                       
                                            </td>                                       
                                        </tr>
                                    </apex:repeat>
                                    <apex:outputPanel layout="none" rendered="{!campusContacts == null || campusContacts.empty}">
                                        <tr>
                                            <td colspan="8" style="text-align: center;">
                                                No contacts to be displayed.
                                            </td>
                                        </tr>
                                    </apex:outputPanel>
                                </tbody>
                            </table>
                        </div>
                    </apex:form>
                    <apex:outputPanel id="modal-new-contact" layout="block" rendered="{!modalNewContact}" styleClass="demo-only">
                        <apex:form id="form-new-contact">
                            <apex:actionFunction name="updateTypeFormContact" action="{!updateTypeFormContact}" immediate="true" rerender="container-other-forms-container">
                                <apex:param name="value" value=""/>
                                <apex:param name="index" value=""/>
                            </apex:actionFunction>
                            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                                <div class="slds-modal__container" style="width: 60%;">
                                    <header class="slds-modal__header">
                                        <apex:commandLink action="{!openCloseModalNewContact}" immediate="true" reRender="container-campus-contact" status="showModalLoading" styleClass="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"> 
                                            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg#close')}" />
                                            </svg>
                                            <span class="slds-assistive-text">Close</span>
                                        </apex:commandLink>
                                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                                            <apex:outputText value="Add New Contact" rendered="{!newContact.ID == null}"/>
                                            <apex:outputText value="Edit Contact" rendered="{!newContact.ID != null}"/>
                                        </h2>
                                    </header>
                                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                        <div class="slds-grid slds-wrap">
                                            <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1">
                                                <div style="margin: 10px 0px;">
                                                    <apex:messages styleClass="errorMessages"/>
                                                </div>
                                            </div>
                                            <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                                                <div>
                                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                            <div class="test-id__field-label-container">
                                                                <span class="test-id__field-label slds-form-element__label">
                                                                    Contact Type
                                                                </span>
                                                            </div>
                                                            <div class="slds-form-element__control slds-grid itemBody">
                                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                    <span class="uiOutputText">
                                                                        <apex:selectList value="{!contactTypesSelected}" styleClass="chosen" multiselect="true">
                                                                            <apex:selectOptions value="{!allContactTypes}"/>
                                                                        </apex:selectList>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                            <div class="test-id__field-label-container">
                                                                <span class="test-id__field-label slds-form-element__label" style="color: red !important;">
                                                                    First Name *
                                                                </span>
                                                            </div>
                                                            <div class="slds-form-element__control slds-grid itemBody">
                                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                    <span class="uiOutputText">
                                                                        <apex:inputText value="{!newContact.firstName}" required="true"/>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                            <div class="test-id__field-label-container">
                                                                <span class="test-id__field-label slds-form-element__label" style="color: red !important;">
                                                                    Email *
                                                                </span>
                                                            </div>
                                                            <div class="slds-form-element__control slds-grid itemBody">
                                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                    <span class="uiOutputText">
                                                                        <apex:inputText value="{!newContact.email}" required="true"/>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                            <div class="test-id__field-label-container">
                                                                <span class="test-id__field-label slds-form-element__label">
                                                                    Mobile
                                                                </span>
                                                            </div>
                                                            <div class="slds-form-element__control slds-grid itemBody">
                                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                    <span class="uiOutputText">
                                                                        <apex:inputText value="{!newContact.MobilePhone}"/>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                                                <div>
                                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                            <div class="test-id__field-label-container">
                                                                <span class="test-id__field-label slds-form-element__label">
                                                                    Position
                                                                </span>
                                                            </div>
                                                            <div class="slds-form-element__control slds-grid itemBody">
                                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                    <span class="uiOutputText">
                                                                        <apex:inputText value="{!newContact.Position_Title__c}"/>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                            <div class="test-id__field-label-container">
                                                                <span class="test-id__field-label slds-form-element__label" style="color: red !important;">
                                                                    Last Name *
                                                                </span>
                                                            </div>
                                                            <div class="slds-form-element__control slds-grid itemBody">
                                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                    <span class="uiOutputText">
                                                                        <apex:inputText value="{!newContact.lastName}"/>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                            <div class="test-id__field-label-container">
                                                                <span class="test-id__field-label slds-form-element__label">
                                                                    Phone
                                                                </span>
                                                            </div>
                                                            <div class="slds-form-element__control slds-grid itemBody">
                                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                    <span class="uiOutputText">
                                                                        <apex:inputText value="{!newContact.phone}"/>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                        <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                            <div class="test-id__field-label-container">
                                                                <span class="test-id__field-label slds-form-element__label">
                                                                    Fax
                                                                </span>
                                                            </div>
                                                            <div class="slds-form-element__control slds-grid itemBody">
                                                                <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                    <span class="uiOutputText">
                                                                        <apex:inputText value="{!newContact.fax}"/>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1">
                                                <div style="margin: 10px 5px; padding: 5px 3px; background-color: #eee; font-weight: 700;">
                                                    CAMPUSES
                                                </div>
                                                <div class="slds-grid slds-wrap">
                                                    <apex:repeat value="{!campusesToSave}" var="campus">
                                                        <div class="slds-col slds-size_1-of-2 slds-large-size_1-of-2" style="margin-bottom: 5px">
                                                            <div>
                                                                <apex:inputCheckbox value="{!campus.selected}" />&nbsp;&nbsp;{!campus.name}
                                                            </div>
                                                        </div>
                                                    </apex:repeat>
                                                </div>
                                            </div>
                                            <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1">
                                               <div style="margin: 10px 5px; padding: 5px 3px; background-color: #eee; font-weight: 700;">
                                                    OTHER FORMS OF CONTACT
                                               </div> 
                                               <apex:outputPanel id="container-other-forms-container" styleClass="slds-grid slds-wrap">
                                                    <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-1">
                                                        <div style="text-align: right; margin-right: 20px;">
                                                            <apex:commandLink action="{!addNewOtherForm}" status="showModalLoading" immediate="true" reRender="container-other-forms-container" styleClass="button-mini slds-button slds-button_outline-brand" value="Add New"/>
                                                        </div>
                                                    </div>
                                                    <apex:variable var="count" value="{!0}" />
                                                    <apex:repeat var="other" value="{!otherFormsOfContact}">
                                                        <div class="slds-col slds-size_1-of-1 slds-large-size_2-of-5">
                                                            <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                                <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                                    <div class="test-id__field-label-container">
                                                                        <span class="test-id__field-label slds-form-element__label">
                                                                            Type
                                                                        </span>
                                                                    </div>
                                                                    <div class="slds-form-element__control slds-grid itemBody">
                                                                        <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                            <span class="uiOutputText">
                                                                                <apex:selectList value="{!other.Type__c}" size="1" styleClass="slds-select selectTypeOtherForm">
                                                                                    <apex:selectOptions value="{!ListTypesOtherContact}"/>
                                                                                </apex:selectList>
                                                                                <input type="hidden" class="counter" value="{!count}"/>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="slds-col slds-size_1-of-1 slds-large-size_2-of-5">
                                                            <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                                <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                                    <div class="test-id__field-label-container">
                                                                        <span class="test-id__field-label slds-form-element__label">
                                                                            Detail
                                                                        </span>
                                                                    </div>
                                                                    <div class="slds-form-element__control slds-grid itemBody">
                                                                        <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                            <span class="uiOutputText">
                                                                                <apex:inputField value="{!other.Detail__c}"/>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-5">
                                                            <div class="slds-has-flexi-truncate slds-p-horizontal_x-small full forcePageBlockItem forcePageBlockItemView">
                                                                <div class="slds-form-element slds-m-bottom_xx-small slds-form-element_edit slds-grow slds-hint-parent override--slds-form-element">
                                                                    <div class="test-id__field-label-container">
                                                                        <span class="test-id__field-label slds-form-element__label">
                                                                            &nbsp;
                                                                        </span>
                                                                    </div>
                                                                    <div class="slds-form-element__control slds-grid itemBody" style="text-align: center">
                                                                        <span class="test-id__field-value slds-form-element__static slds-grow slds-form-element_separator is-read-only">
                                                                            <span class="uiOutputText">
                                                                                <apex:commandLink action="{!deleteOtherForm}" status="showModalLoading" immediate="true" reRender="container-other-forms-container" styleClass="button-mini slds-button slds-button_text-destructive" value="Delete">
                                                                                    <apex:param name="indexOtherForm" value="{!count}"/>
                                                                                </apex:commandLink>
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
				                                        <apex:variable value="{!count+1}" var="count"/>
                                                    </apex:repeat>
                                               </apex:outputPanel> 
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="slds-modal__footer">
                                        <apex:commandLink action="{!openCloseModalNewContact}" status="showModalLoading" immediate="true" reRender="container-campus-contact" styleClass="slds-button slds-button_neutral" value="Cancel" style="margin-right: 10px"/>
                                        <apex:commandButton action="{!saveContact}" status="showModalLoading" rerender="container-campus-contact" styleClass="slds-button slds-button_brand" value="Save"/>
                                    </footer>
                                </div>
                            </section>
                            <div class="slds-backdrop slds-backdrop_open"></div>
                        </apex:form>
                    </apex:outputPanel>
                </apex:outputPanel>
            </div>
        </apex:outputPanel>
    </html>
</apex:page>