<apex:page standardController="account" extensions="scSchoolCourses" sidebar="false">
<apex:include pageName="xStylePageV2" />
<apex:include pageName="xCourseSearchStyle" />
	<style>
		.courseCategory{
			background-color: #999;
			font-weight: bold;
			font-size: 1.2em;
			margin-bottom: 5px;
			padding: 3px;
			color: #fff;
		}
		
		.courseType{
			background-color: #c1c1c1;
			font-weight: bold;
			font-size: 1.2em;
			padding: 3px;
		}
		
		table.courseStyle th{
			background-color: #f2f3f3;
			color: #555;
			font-size: 0.9em;
			border-width: 0 0 1px 0;
			border-bottom: solid 1px #999;
		}
		
		table.courseStyle{
			padding: 5px;
			width: 100%;
			border-spacing: 0;
		}

		table.courseStyle tr td{
			height: 23px;
		}
		
		table.courseStyle tr:nth-child(odd) {background: #f1f1f1}
		table.courseStyle tr:nth-child(even) {background: #FFF}
		


		.boxCategory{
			border: solid 1px #444;
			
			margin-bottom: 15px;
		}
</style>
	
	
	<apex:form >
	<!-- copy  -->
	  <table class="tbl_Details">
	    <tr>
	      <td rowspan="3" class="sidesColumn">
				<c:scMenu account="{!$CurrentPage.parameters.cpID}" selectedItem="{!$CurrentPage.parameters.currentPage}" />
	      </td>
	      <td class="middleColumn">
	        <div class="boxHeader">
	          <c:scPageHeader Account="{!$CurrentPage.parameters.cpID}" />
	        </div>
	      </td>
	      <!--<td rowspan="3" class="rightColumn sidesColumn"></td>-->
	    </tr>
	    <tr>
	      <td class="middleColumn bodyColumn">
	<!-- end copy  -->
    <div class="headerButtons">
    	<apex:commandLink value="Update Package Courses" action="/apex/update_package_courses?country={!campus.BillingCountry}&city={!campus.BillingCity}&school={!campus.ParentID}&campus={!campus.id}" target="_blank" status="statusUpdate" styleClass="agencyButton" />
    	<apex:commandLink value="Copy Course" action="{!copyCourse}" status="statusUpdate" styleClass="agencyButton" />
		<apex:commandLink value="Add New Course" action="{!addCourse}" status="statusUpdate" styleClass="agencyButton" />
	</div>        
	<apex:repeat value="{!listCourses}" var="lc">
		<apex:outputPanel >
			<div class="boxCategory">
				<div class="courseCategory">{!UPPER(lc)}</div>
				<apex:repeat value="{!listCourses[lc]}" var="ct">
					<div class="courseType">{!ct}</div>
					<table class="courseStyle">
						<tr>
							<th>Type</th>
							<th>Name</th>
							<th>Type</th>
							<th>Specialisation</th>
							<th>Sold in Blocks</th>
							<th>Package</th>
							
							<apex:outputPanel layout="none" rendered="{!lc = 'Other'}">
								<th>Unit Length</th>
							</apex:outputPanel>
							<apex:outputPanel layout="none" rendered="{!lc = 'Language'}">
								<th>Hours per week</th>
								<th>Min/Max</th>
							</apex:outputPanel>
							<th>Unit Type</th>
							<th>Period</th>
							<th>Available</th>
						</tr>
						<apex:repeat value="{!listCourses[lc][ct]}" var="course">
							<tr>
								<td style="width:5%"> 
									<apex:commandLink action="{!editCourse}" value="Edit">
										<apex:param name="idCourse" value="{!course.id}" />
									</apex:commandLink> 
								</td>
								<td style="{!IF(course.Is_Available__c, '','color:red')}; width:20%"><apex:outputlink value="/apex/scSchoolCourse_View?id={!course.id}&cpID={!$CurrentPage.parameters.cpID}&currentPage={!$CurrentPage.parameters.currentPage}">{!course.Course__r.Name}</apex:outputlink></td>
								<td style="{!IF(course.Is_Available__c, '','color:red')}; width:10%">{!course.Course__r.Course_Type__c}</td>
								<td style="{!IF(course.Is_Available__c, '','color:red')}; width:5%">{!course.Course__r.Sub_Type__c}</td>
								<td style="{!IF(course.Is_Available__c, '','color:red')}; width:5%"><apex:outputField value="{!course.Course__r.Only_Sold_in_Blocks__c}" /></td>
								<td style="{!IF(course.Is_Available__c, '','color:red')}; width:5%"><apex:outputField value="{!course.Course__r.Package__c}" /></td>
								<apex:outputPanel layout="none" rendered="{!lc = 'Other'}">
									<td style="{!IF(course.Is_Available__c, '','color:red')}; width:5%">{!course.Course__r.Course_Unit_Length__c}</td>
								</apex:outputPanel>
								<apex:outputPanel layout="none" rendered="{!lc = 'Language'}">
									<td style="{!IF(course.Is_Available__c, '','color:red')}; width:5%">{!CEILING(course.Course__r.Hours_Week__c)} <apex:outputText value=" + {!CEILING(course.Course__r.Optional_Hours_Per_Week__c)}" rendered="{!course.Course__r.Optional_Hours_Per_Week__c > 0}" /></td>
									<td style="{!IF(course.Is_Available__c, '','color:red')};width:5%">
										<apex:outputText value="{!course.Course__r.Minimum_length__c} - {!course.Course__r.Maximum_length__c}" rendered="{!NOT(course.Course__r.Only_Sold_in_Blocks__c)}" />
										<apex:outputText value="--" rendered="{!course.Course__r.Only_Sold_in_Blocks__c}" />
									</td>
								</apex:outputPanel>
								<td style="{!IF(course.Is_Available__c, '','color:red')}; width:5%">{!course.Course__r.Course_Unit_Type__c}</td>
								<td style="{!IF(course.Is_Available__c, '','color:red')}; width:15%">{!course.Period__c}</td>
								<td style="{!IF(course.Is_Available__c, '','color:red')}; width:5%">
									<apex:outputField value="{!course.Is_Available__c}" />
									<apex:image title="{!course.Unavailable_Reason__c}" styleClass="infoIcon" alt="" value="/s.gif" rendered="{!NOT(course.Is_Available__c)}" />
									
								</td> 
							</tr>
						</apex:repeat>
					</table>
				</apex:repeat>
			</div>
		</apex:outputPanel>
	</apex:repeat>
	<div class="headerButtons">
		<apex:commandLink value="Update Package Courses" action="/apex/update_package_courses?country={!campus.BillingCountry}&city={!campus.BillingCity}&school={!campus.ParentID}&campus={!campus.id}" target="_blank" status="statusUpdate" styleClass="agencyButton" />
		<apex:commandLink value="Copy Course" action="{!copyCourse}" status="statusUpdate" styleClass="agencyButton" />
		<apex:commandLink value="Add New Course" action="{!addCourse}" status="statusUpdate" styleClass="agencyButton" />
	</div>
  <!-- copy  -->    
       </td>
    </tr>
  </table> 
</apex:form>    
	<!-- end copy-->
</apex:page>