<apex:page standardController="Testimonial__c" showHeader="false" sidebar="false" extensions="TestimonialsController" >
    <apex:include pageName="headerInclude" /><br />
	<apex:include pageName="xStylePageV2" />
<apex:include pageName="xCourseSearchStyle" />
	
    <apex:form >
        <apex:pageBlock > 
            <script type="text/javascript">
	            // Reload to top frame if invoked solely AFTER uploading files by S-Drive
	            
	            if (top.location == self.location) {
	                top.location.href = '{!$CurrentPage.Parameters.PageName}?id={!$CurrentPage.Parameters.AccoID}&currTab=Pictures';
	            }
	        </script>
            <apex:pageBlockSection columns="1" collapsible="true" >
                <apex:inputField value="{!testimonial.Name}" style="width: 300px;"/>
                <apex:inputField value="{!testimonial.StudentName__c}" style="width: 300px;"/>
                <apex:inputField value="{!testimonial.Content__c}" required="true" />
                <apex:inputHidden value="{!testimonial.School__c}" id="hiddenSchool"/>
            
            </apex:pageBlockSection>        
            
            <apex:outputpanel layout="block" style="text-align:center">
                <apex:commandLink styleClass="agencyButton" value="Save" action="{!updateTestimonial}" />
                <apex:commandLink styleClass="agencyButton" value="Cancel" onclick="parent.closemodal();"  />
            </apex:outputpanel>
                
                    
        </apex:pageBlock>
   
    </apex:form>
    <style>
        .bDetailBlock {display: none;} 
        .listRelatedObject {display: none;}
        .noStandardTab {display: none;}
        .partnerBlock {display: none;}
    </style>

    
    
<!--     <apex:outputPanel >
        <br />
        <h3>PLEASE NOTICE</h3>
        <br /><br />
        <li> 1. If you attach more than one file than the most recent picture will displayed in the overview as a profile picture</li>
        <li> 3. Do not upload files larger than <u>250kb</u> </li>
        <li> 4. Do not use extensions other than <u>gif, jpg and png</u></li>       
                
        <cg:AttachmentComponent title="Student Picture"
            customObjectName="Testimonial__c"
            customObjectFileName="Testimonial_Picture__c"
            objectId="{!Testimonial__c.id}"
            enableDownload="true"
            enableEmail="false"
            enableEdit="false"
            allowedFileExtensions="*.jpg;*.jpeg;*.png;*.gif"

        />
        
    </apex:outputPanel>   -->
    
    <apex:outputpanel id="verifyErrors" rendered="{!showError}">
	<script>		
		if(jQuery('.errorMsg').length == 0 &&   jQuery('.messages').length == 0 ){
			parent.closeAndRefresh();
		}
	</script>
</apex:outputpanel>
     
</apex:page>