<apex:page standardController="Account" extensions="Update_Document_Folder" showHeader="true" sidebar="false" >
<!-- copy  -->
<apex:include pageName="xStylePageV2" />
<apex:include pageName="xCourseSearchStyle" />

	<apex:form id="theForm" >
  <table class="tbl_Details" style="width: 100%">
    <tr>
      <td rowspan="3" class="sidesColumn" style="width: 211px">
         <c:scMenu account="{!$CurrentPage.parameters.idCampus}" selectedItem="{!$CurrentPage.parameters.currentPage}" rendered="{!$CurrentPage.parameters.idCampus != null}" />
					<c:scMenu account="{!$CurrentPage.parameters.id}" selectedItem="{!$CurrentPage.parameters.currentPage}" rendered="{!$CurrentPage.parameters.id != null && $CurrentPage.parameters.idCampus = null}" />

      </td>
      <td class="middleColumn">
        <div class="boxHeader">
          <c:scPageHeader Account="{!$CurrentPage.parameters.id}" />
        </div>
      </td>
      <!--<td rowspan="3" class="rightColumn sidesColumn"></td>-->
    </tr>
    <tr>
      <td class="middleColumn bodyColumn">
        <div id="panellayout" style="min-height: 800px">                      
<!-- end copy  -->
            	
	<!-- apex:include pageName="headerInclude" /-->
	<style>
		table.tableDocuments tr:nth-child(odd)  { background-color:#eee; }
  		table.tableDocuments tr:nth-child(even)  { background-color:#FFF;}
		table.tableDocuments tr td {padding: 5px;}
		
		.folderName {background-color: #e6e6e6 !important; font-weight:bold; font-size:1em}
			
	</style>
	
	<script>
		/*function sizeFrame() {
            var pageSize = jQuery(document).height();
			jQuery("iframe[id="+window.frameElement.id+"]",parent.document).css({height:pageSize});
        }
		
		jQuery(document).ready(function() {
			sizeFrame();			
		});*/
	</script>
		
		
		<!-- <apex:pageBlock title="Update Documents Folders" > -->
		<apex:outputpanel styleclass="topButtons" layout="block">
			<apex:commandlink styleclass="agencyButton" action="{!createFolders}" value="Create Default Folders" status="statusLoad" reRender="theForm" rendered="{!not(hasFolders)}" />
			<apex:commandlink styleclass="agencyButton" action="{!save}" value="Save" status="statusLoad" reRender="theForm" rendered="{!editMode}" />
			<apex:commandlink styleclass="agencyButton" action="{!edit}" value="Edit" status="statusLoad" reRender="theForm" rendered="{!NOT(editMode)}"  />
			<apex:commandlink styleclass="agencyButton" action="{!cancelEdit}" value="Cancel Edit" status="statusLoad" reRender="theForm" rendered="{!editMode}" />
		</apex:outputpanel>
		<div class="divHeader">
		Update Documents Folders
		</div>
		<div class="divContent">
			
			<table class="tableDocuments" cellspacing="0" cellpadding="0" style="padding-left:1%;width:100%">
				<apex:repeat value="{!orderedFolders}" var="of" >
					<tr>
						<td colspan="2" class="folderName">
							<apex:outputLabel value="{!folderMap[of]}" style="font-size:1.2em;" />
						</td>
					</tr>
					
					<apex:repeat value="{!files[of]}" var="f">
						<tr>
							<td colspan="{!IF(editMode, '1', '2')}">
								<apex:outputLabel value="{!f.Description__c}" rendered="{!NOT(editMode)}"/>
								<apex:inputText value="{!f.Description__c}" style="width:500px;" rendered="{!editMode}"/>
								<br/>
								<apex:outputlink value="{!f.preview_link__c}" style="color:orangeRed;font-size:0.85em;padding-top:3px;" > {!f.File_Name__c}</apex:outputlink>   <br/>        <!--  
								<apex:commandLink value="{!f.File_Name__c}" action="{!viewFile}" target="_blank"  style="color:orangeRed;font-size:0.85em;padding-top:3px;" >
									<apex:param value="{!f.id}" name="fileId" />
								</apex:commandLink> -->
							</td>
							<td style="padding-left:10px;{!IF(editMode, '', 'display:none;')}" align="right">
								<apex:selectList value="{!f.Parent_Folder_Id__c}" size="1" >
									<apex:selectOptions value="{!folderOptions}" />
								</apex:selectList>
							</td>
						</tr>
					</apex:repeat>
					
					<tr><td style="background-color:#FFFFFF !important;" colspan="2"></td></tr>
					
				</apex:repeat>		
				
			</table>
			
			
		</div>
		<br/>
		<apex:outputpanel styleclass="footerButtons" layout="block">
			<apex:commandlink styleclass="agencyButton" action="{!createFolders}" value="Create Default Folders" status="statusLoad" reRender="theForm" rendered="{!not(hasFolders)}" />
			<apex:commandlink styleclass="agencyButton" action="{!save}" value="Save" status="statusLoad" reRender="theForm" rendered="{!editMode}" />
			<apex:commandlink styleclass="agencyButton" action="{!edit}" value="Edit" status="statusLoad" reRender="theForm" rendered="{!NOT(editMode)}"  />
			<apex:commandlink styleclass="agencyButton" action="{!cancelEdit}" value="Cancel Edit" status="statusLoad" reRender="theForm" rendered="{!editMode}" />
		</apex:outputpanel>
		
			<!-- </apex:pageBlock>	 -->
<!-- copy  -->  
        </div>  
      </td>
    </tr>
  </table> 
<!-- end copy-->	
	</apex:form>
</apex:page>