<apex:page standardStylesheets="true" sidebar="false" controller="xCourseSearchNewClient" action="{!sideBarSearch}" >
<!-- CSS -->
<!-- <apex:include pageName="xCourseSearchStyle" /> -->
    <html xmlns:ng="http://angularjs.org" ng-app="hello" lang="en">
        <head>
            <meta charset="utf-8"/>
            
            <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet"/>
            <link href="https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet"/>
            <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"/>
        </head>

        <style>
        
            iframe{
                border: none;
                
            }
            form { margin: 0px !important; }
            body { font-size: 12px !important; }
        
            .ui-tabs-hide { display: none !important; }
            .ui-widget-content { border: 0px !important; }
            .tabs { font-size: 0.9em !important; }
            
            .saveClients {
                text-transform: none;
                text-decoration: none;
                background: linear-gradient(to bottom, #E34A4C 0%, #DC2328 99%) repeat scroll 0 0 rgba(0, 0, 0, 0);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,74,76,1)), color-stop(99%,rgba(220,35,40,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  rgba(227,74,76,1) 0%,rgba(220,35,40,1) 99%); /* Chrome10+,Safari5.1+ */
                color: #FFFFFF !important;
                border-radius: 3px;             
                color: #FFFFFF;
                cursor: pointer;
                padding: 5px 20px;
                position: relative;
                font-size: 1em;
                float:right;
            }
            
            .saveClients:hover {
                color: #FFFFFF;
                text-decoration: none;
            }
            
            .pagination { font-size: 0.8em; }
            .pagination ul li a {
                line-height: 25px;
                padding: 0 10px;
            }
            
            .labelCol {
                padding-right: 30px;            
                text-align: right;
            }
            
            .inputLarge {
                width: 250px;
            }
            
            .tabs { height: 380px; }
            
            .addClient {
                text-transform: none;
                text-decoration: none;
                background: linear-gradient(to bottom, #E34A4C 0%, #DC2328 99%) repeat scroll 0 0 rgba(0, 0, 0, 0);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,74,76,1)), color-stop(99%,rgba(220,35,40,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  rgba(227,74,76,1) 0%,rgba(220,35,40,1) 99%); /* Chrome10+,Safari5.1+ */
                color: #FFFFFF !important;
                border-radius: 3px;             
                color: #FFFFFF;
                cursor: pointer;
                padding: 5px 20px;
                position: relative;
                font-size: 1em;
                float:right;
            }
            
            .addClient:hover {
                color: #FFFFFF;
                text-decoration: none;
            }
            
            .table-striped ul {
                list-style-type: none;
            }
            
            .leadBox{   
                padding-top:3px;
                display: block;
                font-size: 0.8em;
                line-height: 10px;
                margin-top: 2px;
                padding-bottom: 3px;
                text-align: center;
                border: 0;
            }
            
            #calMonthPicker, #calYearPicker{
                width: 99px;
                height: 25px;
                line-height: 25px;
                padding: 0px;
            }
            
            #calYearPicker{
                width: 60px;
            }
            
            
            body {
                padding-left: 0px !important;
                padding-right: 0px !important;
            }
            
            
                        
        </style>

    <script type="text/javascript">
        
        j$ = jQuery.noConflict();
        
        j$('html').bind('keypress', function(e)
        {
           if(e.keyCode == 13)
           {
              return false;
           }
        });
        
        function setFocusOnLoad() {}
        
        function closeModalWindow(){
            jQuery('#interVeil').css('display','none');
            coursewin.close();
        }
        
        function openContactOverview(param){
            jQuery('#interVeil').css('display','none');
            coursewin.close();
            showLoading('Please Wait...');
            var redirectNewPage = '{!redirectNewContactPage}';
			if(redirectNewPage == 'true'){
				page = "contact_new_activity_log";
			}else{
				page = "activity_log";
			}
            //window.open (page+'?id='+param+'&forceSyncRD=true','_self',false)
            window.open (page+'?id='+param,'_self',false)
        }
        
        
        function setCloseModal(){
            jQuery('.Close').css('display','none');
        }
        
        function openCourse(){
            coursewin=dhtmlmodal.open('newclients', 'iframe', 'new_Client?rcp=true&visits=false', 'Add New Lead', 'width=900px,height=750px,resize=0,center=1,scrolling=1');
            coursewin.moveTo('middle', 'middle');
            jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
            jQuery('.Close').unbind('click'); 
            jQuery('.Close').click(function() {closemodal();});
        }
    
        var sortingOrder = 'name'; 
        var myapp = angular.module('hello', []);
        var contrl=myapp.controller('ctrlRead', function ($scope, $filter, $timeout) {
            // init
            $scope.picklst = 'clientLeads';
            $scope.picklistDestinations = 'All';
            $scope.sortingOrder = sortingOrder;
            $scope.reverse = false;
            $scope.filteredItems = [];      
            $scope.groupedItems = [];
            $scope.itemsPerPage = 10;
            $scope.pagedItems = [];
            $scope.currentPage = 0;
            $scope.items = [];
     
            var searchMatch = function (haystack, needle) {
                if (!needle) {
                    return true;
                }
                return haystack.toLowerCase().indexOf(needle.toLowerCase()) !== -1;
            };
     

            // calculate page in place
            $scope.groupToPages = function () {
                $scope.pagedItems = [];
                for (var i = 0; i < $scope.filteredItems.length; i++) {
                    if (i % $scope.itemsPerPage === 0) {
                        $scope.pagedItems[Math.floor(i / $scope.itemsPerPage)] = [$scope.filteredItems[i]];
                    } else {
                        $scope.pagedItems[Math.floor(i / $scope.itemsPerPage)].push($scope.filteredItems[i]);
                    }
                }
                if($scope.filteredItems.length == 0)
                    jQuery('.createClientBtn').css('display', '');
                else jQuery('.createClientBtn').css('display', 'none');
            };
     
            $scope.range = function (start, end) {
            var ret = [];
            if (!end) {
                end = start;
                start = 0;
            }
            for (var i = start; i < end; i++) {
                ret.push(i);
            }
            return ret;
        };
     
        $scope.prevPage = function () {
            if ($scope.currentPage > 0) {
                $scope.currentPage--;
            }
        };
         
        $scope.nextPage = function () {
            if ($scope.currentPage < $scope.pagedItems.length - 1) {
                $scope.currentPage++;
            }
        };
         
        $scope.setPage = function () {
            $scope.currentPage = this.n;
        };
         
         
        // change sorting order
        $scope.sort_by = function (newSortingOrder) {
            if ($scope.sortingOrder == newSortingOrder)
                $scope.reverse = !$scope.reverse;
         
        $scope.sortingOrder = newSortingOrder;
         
        // icon setup
        $('th i').each(function () {
            // icon reset
            $(this).removeClass().addClass('icon-sort');
        });
        if ($scope.reverse)
            $('th.' + new_sorting_order + ' i').removeClass().addClass('icon-chevron-up');
        else
            $('th.' + new_sorting_order + ' i').removeClass().addClass('icon-chevron-down');
        };
        
        
        $scope.filterText = '';
        
        
        var tempFilterText = '', filterTextTimeout;
        $scope.$watch('query', function (val) {
            jQuery('#statusSearch').css('display','');
            if(val != null){
                
                if (filterTextTimeout) 
                    $timeout.cancel(filterTextTimeout);

                tempFilterText = val;
                filterTextTimeout = $timeout(function() {
                    $scope.getclient();
                }, 350);
            
            }
        })      
       
        $scope.$watch('pagedItems',function(){
            jQuery('#statusSearch').css('display','none');
        });     
        
        $scope.getclient = function () {
            showLoading('Loading');
            var accountName = $scope.query;
            var  nation = '{!JSENCODE($CurrentPage.parameters.nation)}';
            var clientType = 'sideBarSearch';                       
            var fromContacts = true;
            var destination = jQuery('.countryDestination').val();
            var fromDate = jQuery('.dateFrom').val();
            var toDate = jQuery('.dateTo').val();
            
            if(accountName ==null)
                accountName='';
            //alert('AccountName:'+accountName + 'Nation:'+nation + 'ClientType:' +clientType );
            
             Visualforce.remoting.Manager.invokeAction(             
                    '{!$RemoteAction.xCourseSearchNewClient.getlstContact}',
                    accountName, nation, clientType, fromContacts,
                    function(result, event){
                        //alert(result);
                        if (event.status) { 
                            
                            $scope.filteredItems = JSON.parse(result);
                            $scope.currentPage = 0;
                            $scope.groupToPages();
                            $scope.$apply();
                            
                        } else if (event.type === 'exception') {
                            alert(event.message);
                        } else {
                            alert(event.message);
                        }
                    }, 
                    {escape: false}
                );  
                    
        hideLoading();
        }
            
        $scope.filteredItems = {!allClients};
        $scope.groupToPages();
        
        });
        
        contrl.$inject = ['$scope', '$filter'];
        
            
        j$(document).ready(function(){
            j$( "#tabs" ).tabs({ selected: 0 });
            jQuery('.nationName').attr('disabled','disabled');
            jQuery('#statusSearch').css('display','none');
            jQuery('.search-query').focus();               
                               
        }); 
                               
        function setClients(ids){       
            window.parent.setQuoteClients(ids);
        }
            
         function addfullname(){
            jQuery('.fullname').val( jQuery('.firstname').val() + ' ' + jQuery('.lastname').val() );                       
        }
                               
        function showLoading(msg) { 
            jQuery.blockUI({ 
                message: '<H1>'+msg+'</H1>',
                css: { 
                border: 'none', 
                padding: '15px', 
                backgroundColor: '#000', 
                '-webkit-border-radius': '10px', 
                '-moz-border-radius': '10px', 
                opacity: .5, 
                color: '#fff' 
            } }); 
     
         }
        
        function hideLoading(){
            jQuery.unblockUI();
        }                      
    
        function delNewContact(id, detail, type){
            var answer = confirm('Are you sure you want to delete ' + detail + '?');
            if (answer)
                deleteNewContactList(id,type);          
            else
                return false;
        }
                
        function delSocialNetwork(id, detail){
            var answer = confirm('Are you sure you want to delete ' + detail + '?');
            if (answer)
                deleteNewSocialNetworkList(id);          
            else
                return false;
        }       
                
        function closeSelectedClientList(){
            selectedClientList.close();
            jQuery('#interVeil').css('display','none');
        }       
                
        function closemodal(){
            jQuery('#interVeil').css('display','none');
        }
        
    
        var modalVisit;
        function createVisit(contactId){
           modalVisit = dhtmlmodal.open('Add Visit', 'iframe', 'create_Visit?visits=false&ctId='+contactId, 'Add Visit', 'width=800px,height=600px,resize=1,center=1,scrolling=0');
           setCloseModal();
        } 
            
        function setCloseModal(){
            jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
            jQuery('.Close').unbind('click'); 
            jQuery('.Close').click(function() {closemodalAddVisit();});
                
        }
            
        function closemodalAddVisit(){
            jQuery('#interVeil').css('display','none');
            modalVisit.close();
        }
            
        function VisitCreated(){
            closemodalAddVisit();
            showLoading('Loading');
            window.location.href='visits';
        }       
        
    </script>
     
     <style>
     
        .hotLead{
            color:green !important;
        }
        
        .mediumLead{
            color:red !important;
        }
        
        .coldLead{
            color: blue !important;
        }
     
     </style>
    <apex:form >
        
    <div ng-controller="ctrlRead" style="padding-top:10px;">
        <!-- <div style="float:left;">
            <select ng-change="getclient()" ng-model="picklst" class="contactType">
                <option value="all">All</option>
                <option value="clientLeads">Leads &amp; Clients</option>
                <option value="lead">Leads</option>
                <option value="client">Clients</option>
                <option value="employee">Employees</option>
            </select>
        </div>
        <div style="float:right;">
            <a href="#" class="agencyButton" id="addClient" onClick="openCourse();">Create new lead</a>
        </div> -->
        
        
        
        
        <div class="input-append" style="text-align:center;">
            <input type="text" ng-model="query"  class="input-mysize search-query ng-pristine ng-valid" placeholder="Search by Name, Mobile or Email" style="width: 169px;font-size: 12px;"/>
            
        </div>
        <div id="statusSearch" style="color:red;font-size: 1.3em;font-weight: bold;text-align: center;">
            <apex:image title="Remove" url="{!URLFOR($Resource.icons,'icons/loading/loading30.gif')}" style="vertical-align: baseline;" /> SEARCHING...
        </div>
        <div style="min-height: 270px;padding: 10px;">
            <table class="table table-striped table-condensed table-hover" ng-show="pagedItems.length>0" >
                <thead>
                    <tr>
                        <!-- <th></th> -->
                        <th class="name" style="min-width:150px">Name&nbsp;<!-- <a ng-click="sort_by('name')"><i class="icon-sort"></i></a> --></th>
                        <!-- <th class="name" style="min-width:95px">Nationality&nbsp;<a ng-click="sort_by('nationality')"><i class="icon-sort"></i></a></th>
                        <th class="Mobile">Status&nbsp;/&nbsp;Level of Interest<a ng-click="sort_by('status')"><i class="icon-sort"></i></a></th>
                        <th class="Email">Level of Interest<a ng-click="sort_by('interestLevel')"><i class="icon-sort"></i></a></th>
                        <th class="Email">Email&nbsp;/&nbsp;Mobile<a ng-click="sort_by('Email')"><i class="icon-sort"></i></a></th>
                        <th class="Email">Expected Travel Date/<br/>Destination&nbsp;<a ng-click="sort_by('expectedTravelDate')"><i class="icon-sort"></i></a></th>
                        <th class="Email">Visa Expiry/ <br/> Country&nbsp;<a ng-click="sort_by('visaExpiryDate')"><i class="icon-sort"></i></a></th>
                        <th class="lastQuote">Last Quote</th> -->
                    </tr>
                </thead>
                
                
                <tbody>
                    <tr ng-repeat="item in pagedItems[currentPage]  | orderBy:sortingOrder:reverse| limitTo:10 " >
                        <!-- <td style="vertical-align: middle; width: 60px;">
                            <IMG height="auto" width="100%" 
                                ng-src="{{item.thumbNail}}">
                            </IMG>
                            <div class="leadBox agencyBackground" ><span class="agencyFont">{{item.recordType}}</span></div>
                             
                        </td> -->
                        <td>                            
                            <a href="{!IF(NOT(redirectNewContactPage),'activity_log','contact_new_activity_log')}?id={{item.id}}" target="_blank" style="text-decoration:underline;font-size:1.2em !important;">{{item.name}}</a>
                            <div style="display: block;">
                                <span style="font-size: 0.8em !important;">Owned by: {{item.clientOwner}}</span><br />
                                <span style="font-weight:bold; color:#3f3f3f">{{item.recordType}}</span><br />
                                <span style="font-size: 0.8em !important;" ng-show="item.isSameAgencyGroup">{{item.currentAgency}}</span>
                                <span  ng-show="!item.isSameAgencyGroup" style="font-size: 0.8em !important;color:orangered; font-weight: bold;">{{item.currentAgency}}</span> <br/>
                                <!-- <span style="font-size:0.75em !important; color:#999">Created on: {{item.createdDate | date:'dd/MM/yyyy'}}</span><br /> -->
                            </div>
                        </td>
                        
                        <!-- <td>
                            <div ng-show="item.isFromQuoteNationality" style="font-weight:bold;" >
                                {{item.nationality}}
                            </div>
                            <div ng-hide="item.isFromQuoteNationality" >
                                {{item.nationality}}
                            </div>
                        </td>
                        
                        <td>
                            <div>{{item.status}}</div>                  
                            <div style="font-size: 0.95em !important;" ng-class="{hotLead: item.interestLevel == '1 - Hot Lead' , mediumLead : item.interestLevel == '2 - Medium Lead', coldLead : item.interestLevel== '3 - Cold Lead'}">{{item.interestLevel}}</div>
                        </td>
                        
                        <td>
                            <ul ng-repeat="email in item.Email" style="margin: 0;">
                                <li style="margin: 0;">{{email}}</li>
                            </ul>
                            <ul ng-repeat="mob in item.Mobile" style="margin: 0;">
                                <li style="margin: 0;">{{mob}}</li>
                            </ul>
                        </td>
                        
                        <td>
                            
                            <div>{{item.expectedTravelDate}}</div>
                            <div>{{item.CountryDestination}}</div>
                            
                        </td>
                        
                        <td>
                            <div style="clear:both;">{{item.visaExpiryDate}}</div>
                            <div>{{item.visaCountry}}</div>
                        </td>
                        
                        <td>
                            <div style="margin-bottom:5px"><a href="xCourseSearchQuotation?id={{item.quoteId}}" target="_blank">{{item.quoteName}}</a> &nbsp; <i ng-show="item.quoteStatus" style="font-size:0.85em;">({{item.quoteStatus}})</i></div>
                            <br/>
                            <i ng-show="item.quoteCreatedDate" style="font-size:0.8em;">Created {{item.quoteCreatedDate}}</i>
                            <div ng-show="item.recordType != 'Employee'&& item.pendingQuotation==null"><a href="xcoursesearch2?clientid={{item.id}}" style="text-decoration:underline" >
                                New Quotation
                            </a></div>
                            <div ng-show="item.recordType != 'Employee'&& item.pendingQuotation!=null"><a href="xcoursesearch2?clientid={{item.id}}" style="color:red;text-decoration:underline" >
                                Pending Quotation
                            </a></div>      
                            <div ng-show="item.recordType != 'Employee' && !item.hasPendingVisit" style="margin-top:2px;">
                                <apex:commandlink value="Create Visit" style="text-decoration:underline" onClick="createVisit('{{item.id}}');return false;" />
                            </div>
                            <div ng-show="item.recordType != 'Employee'  && item.hasPendingVisit" style="margin-top:2px;">
                                <apex:commandlink value="Pending Visit" style="color:red;text-decoration:underline" onClick="createVisit('{{item.id}}');return false;" />
                            </div>
                                                        
                        </td> -->
                    </tr>
                </tbody>
                
                <!-- <tfoot>
                    <td colspan="9">
                        <div class="pagination pull-right">
                            <ul>
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a ng-click="prevPage()">« Prev</a>
                                </li>
                                <li ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                    <a ng-bind="n + 1">1</a>
                                </li>
                                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                    <a ng-click="nextPage()">Next »</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tfoot> -->
                
            
                
            </table>
        </div>
        
        
        
        
    </div>
                
                
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script src="https://code.jquery.com/ui/1.8.24/jquery-ui.js"></script>
        <apex:includeScript value="{!$Resource.jquery}"/> 
        
 
    <apex:includeScript value="{!$Resource.jqueryBlockUI}" />
    <apex:includeScript value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.assets,'iframe/dhtmlwindow.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.assets,'modalfiles/modal.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.assets,'modalfiles/modal.css')}" />
    
    
    
    <script>
        function addClient(){
             
        }
    </script>
        
    </apex:form>
    </html>
    
    
    <apex:include pageName="xCourseSearchStyle" />
    
</apex:page>