<apex:page controller="share_commissions" sidebar="true" showHeader="true" standardStylesheets="true" docType="html-5.0" tabstyle="Finance__tab">

<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">


	<head>
		<apex:includeScript value="{!$Resource.jquery}"/>
		<apex:include pageName="xStylePageV2" /> 
		<c:modalLoadingLightning />

		<apex:slds /> 

		<style>

			.dateFormat{display:none;}

			.breakLine{
				height: 6px;
				border: medium none !important;
			}
			ul#ipMenu li a{
				height: auto !important;
				font-size:0.9em !important;
			}
			ul#ipMenu a {
				color: initial !important;
			}

			ul#ipMenu .menuSubHeader a {
				color: white !important;
			}

			ul#ipMenu .selectedItem a{
				color: white !important;
			}

			.filters li {
				padding: 3px;
			}

			.numberStyle{text-align:right !important;}

			.pfsStyle, .pdsStyle, .pcsStyle {
				line-height: 12px;
				font-weight: normal;
				border: 1px solid !important;
				padding: 4px;
				border-radius: 2px;
				margin-top: 2px;
			} 

			.pfsStyle{
				color: green;
			}
			.pdsStyle{
				color: red;
			}

			.pcsStyle{
				color: blue;
			}

			

			.instalmentLine td{
				background-color: rgb(249, 249, 250) !important;
			}

			.instalmentLine .shareTable{
				border-top: 0px !important;
			}
			.shareTable td{
				background-color: white !important;
			}

			.agName{
				background-color: white;
				padding: 2px;
				margin-top: 1px;
				text-align: center;
				border-radius: 6px;
				font-weight: bold;
				font-size: 0.9em;
			}

			.slds-is-active a{
				font-weight: bold !important;
			}

			.discountBox{
				background-color: white;
				padding: 5px;
				border-radius: 5px;
				margin-top: 20px;
			}

			/* Style the navbar */
			#navbar {
				overflow: hidden;
			}

			/* Navbar links */
			#navbar {
				overflow: hidden;
				padding: 5px;
			}

			/* Page content */
			.content {
				padding: 16px;
			}

			/* The sticky class is added to the navbar with JS when it reaches its scroll position */
			.sticky {
				position: fixed;
				top: 0;
				width: 87%;
				z-index: 9;
				background-color: #efefef;
				border: 1px solid #a4a4a4;
				border-radius: 5px;

			}

			/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
			.sticky + .content {
				padding-top: 60px;
			} 


			.showChange td{
				background-color: #b0e0e6 !important;
			}

		</style>
	</head>
	


	<table class="tbl_Details">
		<tr>
		<td class="sidesColumn">
			<c:menuFinance selectedItem="shareComm" />
		</td>

		<td class="middleColumn bodyColumn">
			
			<!-- PAGE TITLE -->
			<div class="title" style="display: table; width: 100%;margin-top: 10px;">
				<h2 class="subheader-content" style="display: flex;float:left">                       
					<span class="slds-icon_container slds-icon-standard-asset-relationship" style="margin-left: 10px;">
						<svg class="slds-icon slds-icon--medium" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/standard-sprite/svg/symbols.svg#asset_relationship')}" />
						</svg>
					</span>
					<div class="slds-text-heading_medium" style="margin-left: 10px; position: relative; top: 3px; font-weight: 400;">Split Share Commission</div>
				</h2>                   

				<div class="title" style="float:right">
					<apex:outputLink value="/help_link?fl={!$CurrentPage.Name}" target="_blank" style="">
						<apex:image value="{!urlfor($Resource.icons,'icons/commons/help.png')}" style="height: 16px; width: 16px; position: relative; top: 3px;" />
						Help
					</apex:outputLink>
				</div>
			</div>

			<br/>
			<apex:form >
				<apex:actionRegion >
					<apex:actionFunction name="refreshListCourses" status="statusLoad" action="{!searchCoursesSharing}" rerender="listResult" />


					 <!-- FILTERS -->
					<apex:outputpanel layout="block" id="filters" style="background-color: #fafaf9;padding: 10px;border-radius: 5px;border: 1px solid #f2f2f2;">
						<ul class="filters slds-list_horizontal">
							<li>
								<div class="slds-form-element">
									<label class="slds-form-element__label" for="select-01">Received by Agency Group</label>
									<div class="slds-form-element__control">
										<div class="slds-select_container">
											<apex:selectList value="{!selectedAgencyGroup}" size="1" style="width:250px;" styleclass="slds-select">
												<apex:SelectOptions value="{!agencyGroupOptions}" />
												<apex:actionSupport event="onchange" rerender="filters" status="mlLoadFilters" oncomplete="enableDate(this.value);"/>
											</apex:selectList>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="slds-form-element">
									<label class="slds-form-element__label" for="select-01">Received by Agency</label>
									<div class="slds-form-element__control">
										<div class="slds-select_container">
											<apex:selectList value="{!selectedAgency}" size="1" style="width:250px;" styleclass="slds-select">
												<apex:SelectOptions value="{!Agencies}" />
												<!-- <apex:actionSupport event="onchange" action="{!searchCoursesSharing}" status="mlLoadFilters" rerender="listResult" oncomplete="jQuery('.chosen').chosen();"/> -->
											</apex:selectList>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="slds-form-element">
									<label class="slds-form-element__label" for="select-01">Search Type</label>
									<div class="slds-form-element__control">
										<div class="slds-select_container">
											<apex:selectList value="{!SelectedSearchtype}" size="1" style="width:200px;" styleclass="slds-select">
												<apex:SelectOptions value="{!searchtype}" />
												<apex:actionSupport event="onchange" action="{!changeSearchType}" status="mlLoadFilters" rerender="filters" oncomplete="enableDate(this.value);"/>
											</apex:selectList>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="slds-form-element">
									<label class="slds-form-element__label" for="select-01">Period</label>
									<div class="slds-form-element__control">
										<div class="slds-select_container">
											<apex:selectList value="{!SelectedPeriod}" size="1" style="width:150px;" onchange="enableDate(this.value);" styleclass="slds-select">
												<apex:SelectOptions value="{!periods}" />
											</apex:selectList>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="slds-form-element">
									<label class="slds-form-element__label" for="select-01">From Date</label>
									<div class="slds-form-element__control">
										<apex:inputField value="{!dateFilter.Original_Due_Date__c}" styleClass="dateFilter slds-input" />
									</div>
								</div>
							</li>
							<li>
								<div class="slds-form-element">
									<label class="slds-form-element__label" for="select-01">To Date</label>
									<div class="slds-form-element__control">
										<apex:inputField value="{!dateFilter.Discounted_On__c}" styleClass="dateFilter slds-input" />
									</div>
								</div>
							</li>
							<li>
								<div class="slds-form-element">
									<label class="slds-form-element__label" for="select-01">Show Only</label>
									<div class="slds-form-element__control">
										<apex:inputCheckBox value="{!isPds}" />PDS &nbsp;
										<apex:inputCheckBox value="{!isPfs}" />PFS &nbsp;
										<apex:inputCheckBox value="{!isPcs}" />PCS <br />
										<apex:inputCheckBox value="{!isNet}" />Net Payment
									</div>
								</div>
							</li>
							<li>
								<div class="slds-form-element">
									<label class="slds-form-element__label" for="select-01">Client Name</label>
									<div class="slds-form-element__control">
										<apex:inputText value="{!clientName}" styleClass="slds-input" style="height: 22px;" />
									</div>
								</div>
							</li>
							<li>
								<div class="slds-form-element">
									<div class="slds-form-element__control">
										<apex:commandLink value="Search" action="{!searchCoursesSharing}" status="mlStatusLoad" rerender="listResult, totPending, totConfirmed" styleClass="slds-button slds-button_brand" style="position: relative; top: 23px;" />
									</div>
								</div>
							</li>
							
						</ul>
					</apex:outputpanel>

				</apex:actionRegion>

				<!-- BUTTONS  -->
				<div id="navbar" style="text-align:center;">
					<apex:commandLink value="Cancel" action="{!cancelUpdates}" styleClass="slds-button slds-button_neutral saveButton" style="display:none;" status="mlStatusLoad" rerender="listResult" oncomplete="$('.saveButton').hide()"/>
					<apex:commandLink value="Save" action="{!saveUpdates}" styleClass="slds-button slds-button_success saveButton" style="display:none;" status="mlStatusLoad" rerender="listResult" oncomplete="$('.saveButton').hide()"/>
				</div>


				<!-- TABS -->
                <div id="tabs" class="slds-tabs_default" style="margin: 10px 0 10px;">
                    <ul class="slds-tabs_default__nav" role="tablist" style="line-height: 45px !important;">
                        <li class="slds-tabs_default__item slds-border_right pending slds-is-active" style="cursor:pointer;" onclick="changeTab('pending', 'confirmed');">
                            Pending Split
							<apex:outputpanel styleclass="slds-icon_container slds-icon-action-new-case slds-icon_container--circle" style="margin-left: 5px;" id="totPending">{!totPending}</apex:outputpanel>
                        </li>
                        <li class="slds-tabs_default__item slds-border_right confirmed " style="cursor:pointer;" onclick="changeTab('confirmed', 'pending');">
                            Confirmed Split
							<apex:outputpanel styleclass="slds-icon_container slds-icon-action-new-case slds-icon_container--circle" style="margin-left: 5px;" id="totConfirmed">{!totConfirmed}</apex:outputpanel>

                        </li>
                    </ul>   
                </div>

				<apex:outputPanel id="listResult">
					<apex:messages />

					<apex:outputpanel rendered="{!listCoursesEmpty}">
						<div style="text-align:center; color:red; border:1px solid grey; padding:5px; margin-top: 6px;width: 100%;"> No result found. </div>
					</apex:outputpanel>

					<apex:variable value="{!0}" var="rowShow" />
					<apex:repeat value="{!listCourses}" var="mapC" >
						<apex:variable value="{!0}" var="totItems" />
						<apex:variable value="{!0}" var="totCommission" />
						<apex:variable value="" var="agencyName" />
						
						<apex:variable var="agencyName" value="{!agencyNames[mapC]}" rendered="{!NOT(ISNULL(mapC))}" />

						<div class="slds-section slds-is-open s-{!mapC}">
							<h3 class="slds-section__title" onclick="openSection('{!mapC}')">
								<span aria-controls="{!mapC}" aria-expanded="true" class="slds-button slds-section__title-action" style="background-color: #eaeaea">
									<svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#switch')}" />
									</svg>
									<span class="slds-truncate" title="{!agencyNames[mapC]}">{!agencyNames[mapC]}</span>
								</span>
							</h3>
							<div aria-hidden="false" class="slds-section__content" id="{!mapC}">
								<table class="slds-table slds-table_bordered " style="margin-top: 5px;" id="block-{!rowShow}">
									<apex:variable value="{!0}" var="countRow" />
									<apex:repeat value="{!listCourses[mapC]}" var="lc" >
										<apex:variable value="{!lt[lc.id]}" var="listNotes" />

										<tr class="{!IF(lc.isShareCommissionSplited__c,'confirmedSplit','')} {!IF(lc.isRequestedShareCommission__c,'requestedSplit','')}">
											<!-- 
											<td class="slds-text-title_caps">

												<span style="float:left;font-weight: bold;font-size: 1.1em;">
													<apex:outputlink value="client_course_new?id={!lc.client_course__r.Client__c}&ccId={!lc.client_course__c}" target="_blank" style="font-weight: bold !important; text-decoration: none;">
														{!lc.client_course__r.Client__r.name}
													</apex:outputLink>
												</span>
												<div class="courseName">
													<div style="font-weight:bold;float:left;" >&nbsp; - &nbsp; <apex:outputField value="{!lc.client_course__r.Course_Name__c}" /></div>&nbsp;-&nbsp;
													<apex:outputField value="{!lc.client_course__r.Campus_Name__c}" />
												</div>
											</td> -->
											<td class="slds-text-title_caps" style="background: #ffc; color:black !important;">
												<span style="float:left;font-weight: bold;font-size: 1.1em;">
													<apex:outputlink value="client_course_new?id={!lc.client_course__r.Client__c}&ccId={!lc.client_course__c}" target="_blank" style="font-weight: bold !important; text-decoration: none;" rendered="{!NOT(redirectNewContactPage)}">
														{!lc.client_course__r.Client__r.name}
													</apex:outputLink>
													<apex:outputlink value="contact_new_bookings?id={!lc.client_course__r.Client__c}&page=contactNewPage&ccId={!lc.client_course__c}" target="_blank" style="font-weight: bold !important; text-decoration: none;" rendered="{!redirectNewContactPage}">
														{!lc.client_course__r.Client__r.name}
													</apex:outputLink>
												</span>
												<div class="courseName">
													<div style="font-weight:bold;float:left;" >&nbsp; - &nbsp; <apex:outputField value="{!lc.client_course__r.Course_Name__c}" /></div>&nbsp;-&nbsp;
													<apex:outputField value="{!lc.client_course__r.Campus_Name__c}" />
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="slds-tabs_scoped t-{!lc.Id}">
													<ul class="slds-tabs_scoped__nav" role="tablist">
														
														<li id="inst-{!lc.Id}" class="slds-tabs_scoped__item slds-is-active" title="Instalment" role="presentation" onclick="showInnerTabs('inst', '{!lc.Id}')">
															<a class="slds-tabs_scoped__link" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-scoped-1" id="tab-scoped-1__item">
																Instalment Details
															</a>
														</li>
														<apex:outputpanel layout="none" rendered="{!listNotes.size > 0}">
															<li id="note-{!lc.Id}" class="slds-tabs_scoped__item" title="Notes" role="presentation" onclick="showInnerTabs('note', '{!lc.Id}')">
																<a class="slds-tabs_scoped__link" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-scoped-2" id="tab-scoped-2__item">
																	Notes
																</a>
															</li>
														</apex:outputpanel>

														<apex:outputpanel layout="none" rendered="{!AND(lc.isRequestedShareCommission__c,lc.client_course__r.share_commission_request_agency__c != lc.Received_By_Agency__c,lc.client_course__r.share_commission_request_agency__c != lc.client_course__r.Enroled_by_Agency__c)}" >
															<li id="reqComm-{!lc.Id}" class="slds-tabs_scoped__item" title="Request Commission" role="presentation" onclick="showInnerTabs('reqComm', '{!lc.Id}')">
																<a class="slds-tabs_scoped__link" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-scoped-3" id="tab-scoped-3__item">
																	Request Commission
																</a>
															</li>
														</apex:outputpanel>
														
													</ul>

													<!-- INSTALMENT DETAILS -->
													<div id="tab-inst-{!lc.Id}" class="slds-tabs_scoped__content slds-show" role="tabpanel" aria-labelledby="tab-scoped-1__item">
														<table class="slds-table slds-table_bordered slds-table_cell-buffer">
															<thead>
																<tr class="slds-text-title_caps">
																	<!-- <th>Enrolled / Received </th> -->
																	<!-- <th>Enrolled By/On</th>
																	<th>Received By/On</th> -->
																	<!-- <th>
																		<apex:outputText value="Comm Confirmed On" escape="false" />
																	</th> -->
																	<th>Inst. Nº</th>
																	<th>Currency</th>
																	<th>Tuition</th>
																	<th style="text-align:right;"><apex:outputText value="Total Commission" escape="false" /></th>
																	<th style="text-align:right;">{!lc.client_course__r.Commission_Tax_Name__c}</th>
																	<th style="width:200px;max-width:250px"><apex:outputText value="% Enroll Agency" escape="false" /></th>
																	<th style="width:200px;max-width:250px"><apex:outputText value="% Receive Agency" escape="false" /></th>
																	<th style="width:200px;max-width:250px"><apex:outputText value="% Request Agency" escape="false" /></th>
																	<th style="width:200px;max-width:250px"><apex:outputText value="% Pay To Agency" escape="false" /></th>
																	<th><apex:outputText value="Commission Notes" escape="false" /></th>
																</tr>
															</thead>
															<tbody>
															<tr class="instalmentLine">
																<apex:variable value="{!rowShow+1}" var="rowShow" />
																<apex:variable value="{!AND(lc.isRequestedShareCommission__c,lc.client_course__r.share_commission_request_agency__c != lc.Received_By_Agency__c,lc.client_course__r.share_commission_request_agency__c != lc.client_course__r.Enroled_by_Agency__c,lc.client_course__r.share_commission_decision_status__c='Requested')}" var="reqStatus" />
													
																<!-- <td>


																	<div class="slds-text-title_caps" style="display:block;">Enrolled by</div>
																	
																	<div style="background-color:white;padding: 5px;border-radius: 5px;	margin-top: 5px;">
																		<apex:outputText value="{!lc.client_course__r.Enroled_by_Agency__r.name}" style="{!IF(lc.client_course__r.Enroled_by_Agency__c != mapC,'color:red;','')}" />
																		
																		<div style="display:block" class="slds-text-color_weak">
																			<apex:outputField value="{!lc.client_course__r.Enrolment_Date__c}" />
																			
																			<div style="display:block">
																				<apex:outputPanel styleClass="labelLine" style="color:maroon;font-size: 0.75em;" rendered="{!NOT(ISNULL(lc.pay_to_agency__c))}">
																					<apex:outputText value="(Offshore Payment)" />
																				</apex:outputPanel>
																			</div>
																		</div>
																	</div>

																	<div class="slds-text-title_caps" style="display:block;margin-top: 10px;">Received by</div>
																	
																	<div style="background-color:white;padding: 5px;border-radius: 5px;	margin-top: 5px;">
																		<apex:outputText value="{!lc.Received_By_Agency__r.name}" style="{!IF(lc.Received_By_Agency__c != mapC,'color:red;','')}" />
																		<div style="display:block;font-size:0.9em" class="slds-text-color_weak">
																			<apex:outputField value="{!lc.Received_By_Department__r.name}" />
																			<br />
																			<apex:outputField value="{!lc.Received_Date__c}" />
																		</div>
																	</div>
																</td>
																<td>
																	<apex:variable value="{!rowShow+1}" var="rowShow" />
																	<apex:variable value="{!AND(lc.isRequestedShareCommission__c,lc.client_course__r.share_commission_request_agency__c != lc.Received_By_Agency__c,lc.client_course__r.share_commission_request_agency__c != lc.client_course__r.Enroled_by_Agency__c,lc.client_course__r.share_commission_decision_status__c='Requested')}" var="reqStatus" />

																	<apex:outputText value="{!lc.client_course__r.Enroled_by_Agency__r.name}" style="{!IF(lc.client_course__r.Enroled_by_Agency__c != mapC,'color:red;','')}" />
																	
																	<div style="display:block" class="slds-text-color_weak">
																		<apex:outputField value="{!lc.client_course__r.Enrolment_Date__c}" />
																		
																		<div style="display:block">
																			<apex:outputPanel styleClass="labelLine" style="color:maroon;font-size: 0.75em;" rendered="{!NOT(ISNULL(lc.pay_to_agency__c))}">
																				<apex:outputText value="(Offshore Payment)" />
																			</apex:outputPanel>
																		</div>
																	</div>

																</td>
																<td>
																	<apex:outputText value="{!lc.Received_By_Agency__r.name}" style="{!IF(lc.Received_By_Agency__c != mapC,'color:red;','')}" />
																	<div style="display:block" class="slds-text-color_weak">
																		<apex:outputField value="{!lc.Received_By_Department__r.name}" />
																		<br />
																		<apex:outputField value="{!lc.Received_Date__c}" />
																	</div>
																</td> -->
																<!-- <td>
																	<apex:outputField value="{!lc.Commission_Confirmed_On__c}" />
																</td> -->
																<td style="text-align:center;">
																	<apex:outputText value="{!lc.Number__c}" />
																	<apex:outputText value="." rendered="{!NOT(ISNULL(lc.Split_Number__c))}"/>
																	<apex:outputText value="{!lc.Split_Number__c}" rendered="{!NOT(ISNULL(lc.Split_Number__c))}" />
																</td>

																<td style="font-weight:bold;text-align:center;">
																	<apex:outputfield value="{!lc.client_course__r.CurrencyIsoCode__c}" />
																</td>

																<td class="numberStyle">
																	
																	<apex:outputText value="{0, number, currency}" >
																		<apex:param value="{!IF(lc.Original_Instalment__r.isCommission_charged_on_amendment__c,lc.Original_Instalment__r.Tuition_Value__c+lc.Tuition_Value__c,IF(NOT(ISNULL(lc.original_instalment__c)) && lc.isPFS__c && NOT(lc.original_instalment__r.isPFS__c),lc.original_instalment__r.Tuition_Value__c + lc.Tuition_Value__c,lc.Tuition_Value__c))}" />
																	</apex:outputText>&nbsp;

																	<div style="display:block" class="slds-text-color_weak">
																		<apex:outputPanel layout="block" rendered="{!OR(lc.isPDS__c, lc.isPFS__c, lc.isPCS__c)}">
																			<apex:outputText value="PFS" rendered="{!lc.isPFS__c}" styleClass="pfsStyle" style="float:right;"/>
																			<apex:outputText value="PDS" rendered="{!lc.isPDS__c}" styleClass="pdsStyle" style="float:right;" />
																			<apex:outputText value="PCS" rendered="{!lc.isPCS__c}" styleClass="pcsStyle" style="float:right;" />
																		</apex:outputPanel>
																	</div>
																</td>

																<td class="numberStyle">
																	<apex:outputPanel layout="none" id="commAmount">

																		<!-- <apex:variable value="{!IF(lc.Original_Instalment__r.isCommission_charged_on_amendment__c,lc.original_instalment__r.Commission_Value__c + lc.Commission_Adjustment__c - lc.original_instalment__r.discount__c,IF(NOT(ISNULL(lc.original_instalment__c)) && lc.isPFS__c && NOT(lc.original_instalment__r.isPFS__c),lc.original_instalment__r.Commission_Value__c + lc.Commission_Adjustment__c - lc.original_instalment__r.discount__c,0))}" var="totOriginal" /> -->
																		<apex:variable value="{!IF(lc.Original_Instalment__r.isCommission_charged_on_amendment__c,lc.original_instalment__r.Commission_Value__c + lc.Commission_Adjustment__c,IF(NOT(ISNULL(lc.original_instalment__c)) && lc.isPFS__c && NOT(lc.original_instalment__r.isPFS__c),lc.original_instalment__r.Commission_Value__c + lc.Commission_Adjustment__c,0))}" var="totOriginal" />

																		<apex:variable value="{!IF(CEILING(lc.client_course__r.Commission_Type__c) == 1, '$', '%')}" var="commType" />
																		
																		<!-- <apex:outputPanel layout="block" styleClass="labelLine slds-text-color_success" rendered="{!OR(ISNULL(lc.Discount__c), lc.Discount__c <= 0, NOT(mapSplitDiscount[lc.Id]))}"> -->
																			<apex:outputtext value="{0, number, currency}" style="font-size: 1.1em;">
																				<apex:param value="{!totOriginal + lc.Commission_Value__c}"/> 
																			</apex:outputtext>
																			<div style="display:block" class="slds-text-color_weak">
																				{!lc.Commission__c} {!commType}
																			</div>
																		<!-- </apex:outputpanel> -->


																		<!-- DISCOUNT BLOCK -->
																		<!-- <apex:outputPanel layout="block" styleClass="labelLine" rendered="{!lc.Discount__c > 0 || NOT(ISNULL(lc.original_instalment__c)) && lc.original_instalment__r.discount__c > 0}">

																			<apex:outputPanel layout="block" styleClass="labelLine slds-text-color_success" rendered="{!mapSplitDiscount[lc.Id]}">

																				<apex:outputtext value="{0, number, currency}" style="font-size: 1.1em;">
																					<apex:param value="{!totOriginal + lc.Commission_Value__c - lc.Discount__c}"/> 
																				</apex:outputtext>
																				<div style="display:block" class="slds-text-color_weak">
																					{!lc.Commission__c} {!commType}
																				</div>
																			</apex:outputpanel>
																			
																			<div class="discountBox">
																				<div style="display:block;margin-top:5px;font-size:0.9em;" class="slds-text-color_weak">
																					<div style="float:left; text-align:right;font-weight:bold;font-size:0.9em;width:50%;">Before discount</div>
																					<div>
																						<apex:variable value="{!IF(lc.Original_Instalment__r.isCommission_charged_on_amendment__c,lc.original_instalment__r.Commission_Value__c + lc.Commission_Adjustment__c,IF(NOT(ISNULL(lc.original_instalment__c)) && lc.isPFS__c && NOT(lc.original_instalment__r.isPFS__c),lc.original_instalment__r.Commission_Value__c + lc.Commission_Adjustment__c + lc.Commission_Value__c,lc.Commission_Value__c))}" var="totCommission" />
																						<apex:outputtext value="{0, number, currency}">
																							<apex:param value="{!totCommission}"/>
																						</apex:outputtext>
																					</div>
																				</div>
																				<div style="display:block;text-align: center;margin-top: 2px;">
																					<div style="float:left; text-align:right;font-weight:bold;font-size:0.9em;width:50%;">Discount</div>
																					<div style="text-align: right;">
																						<apex:outputText value=" - {0, number, currency}" styleclass="slds-text-color_error"> 
																							<apex:param value="{!IF(NOT(ISNULL(lc.original_instalment__c)) && lc.original_instalment__r.discount__c > 0,lc.original_instalment__r.discount__c,lc.Discount__c)}"/>
																						</apex:outputText>
																					</div>
																				</div>
																				<div style="display:block">
																					<apex:inputCheckBox value="{!mapSplitDiscount[lc.Id]}" style="margin-right: 5px; position: relative; top: 2px;">
																						<apex:actionSupport event="onchange" status="mlStatusLoad" reRender="{!$Component.commAmount}, {!$Component.receiveAgency}" oncomplete="showSaveButton();$('.tReceive-{!lc.Id}').addClass('showChange');$('.saveMsg-{!lc.Id}').show();" />
																					</apex:inputCheckBox>
																					<span class="slds-text-color_error" style="font-weight: bold;font-size: 0.9em;">Split discount</span>
																				</div>
																			</div>
																		</apex:outputPanel> -->
																		<!-- END -- DISCOUNT BLOCK -->
																	</apex:outputPanel>

																</td>

																<td class="numberStyle " > 

																	<apex:variable value="{!IF(lc.Original_Instalment__r.isCommission_charged_on_amendment__c,lc.original_instalment__r.Commission_Tax_Value__c+lc.Commission_Tax_Adjustment__c+ lc.Commission_Tax_Value__c,IF(NOT(ISNULL(lc.original_instalment__c)) && lc.isPFS__c && NOT(lc.original_instalment__r.isPFS__c),lc.original_instalment__r.Commission_Tax_Value__c + lc.Commission_Tax_Adjustment__c,lc.Commission_Tax_Value__c))}" var="totTaxCommission"  />
																	<!-- <apex:variable value="{!totTaxCommission + lc.Commission_Tax_Value__c}" var="totTaxCommission" rendered="{!lc.isInstalment_Amendment__c}" /> -->
																	<span style="font-size: 1.1em" class="slds-text-color_success">
																		<apex:outputText value="{0, number, currency}" >
																			<apex:param value="{!totTaxCommission}" />
																		</apex:outputText>
																	</span>
																	<div style="display:block" class="slds-text-color_weak">
																		<apex:outputField value="{!lc.Commission_Tax_Rate__c}" />
																	</div>

																</td>
																<!-- Enroll Agency Commission -->
																<td class="numberStyle">
																	<apex:outputPanel rendered="{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c}">
																		<table class="shareTable slds-table slds-table_bordered" style="border-top: 0; font-size: 0.9em;">
																			<tr>
																				<td>Comm</td>
																				<td>
																					<apex:outputText value="{0, number, currency}" styleClass="labelCommission">
																						<apex:param value="{!lc.Shared_Comm_Agency_Enroll_Value__c}" />
																					</apex:outputText>
																				</td>
																			</tr>
																			<tr>
																				<td>Tax</td>
																				<td>
																					<apex:outputText value="{0, number, currency}" styleClass="labelCommission">
																						<apex:param value="{!lc.Shared_Comm_Tax_Agency_Enroll_Value__c}" />
																					</apex:outputText>
																				</td>
																			</tr>
																			<tr>
																				<td>%</td>
																				<td>

																					<apex:inputField value="{!lc.Shared_Comm_Agency_Enroll__c}" rendered="{!NOT(reqStatus) && ISNULL(lc.Share_Commission_Paid_On__c)}" style="{!IF(lc.Shared_Comm_Agency_Enroll__c = 0,'color:red;','')}" styleClass="valueInput slds-input enrollComm-{!lc.id}" onkeyup="calculateDiffComm(this.value, 'enrollComm-{!lc.id}','receiveComm-{!lc.id}','{!AND(lc.isRequestedShareCommission__c,lc.client_course__r.share_commission_request_agency__c != lc.Received_By_Agency__c,lc.client_course__r.share_commission_request_agency__c != lc.client_course__r.Enroled_by_Agency__c)}'); showSaveButton(); this.style.background='#B0E0E6';" onchange="showSaveButton(); this.style.background='#B0E0E6';"/>
																					<apex:outputText value="{!lc.Shared_Comm_Agency_Enroll__c}" rendered="{!reqStatus}" styleClass="disabledBox" />
																					<apex:outputField value="{!lc.Shared_Comm_Agency_Enroll__c}" rendered="{!NOT(ISNULL(lc.Share_Commission_Paid_On__c))}" />
																				</td>
																			</tr>
																		</table>
																		<div class="agName " style="">
																			{!lc.client_course__r.Enroled_by_Agency__r.name}
																		</div>
																	</apex:outputPanel>
																</td>

																<!-- Receive Agency Commission -->
																<td class="numberStyle" >
																	<div class="slds-text-color_error saveMsg-{!lc.Id}" style="display:none;padding:5px; background-color:#ffc; border-radius:5px;text-align: center;">
																		<span class="slds-icon_container null slds-icon__svg--default" title="This item has Related Products or Start Date Ranges." > 
																			<svg class="slds-icon_small  slds-icon-text-default" aria-hidden="true" style="width: 18px;height: 20px;">
																				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#warning')}" style="fill:#ffa200 !important;"/>
																			</svg>
																		</span> 
																		<span style="position: relative;top: 2px;font-size: 0.9em;">Save to recalculate values</span>
																	</div>
																	<apex:outputPanel id="receiveAgency">
																		<table class="shareTable slds-table slds-table_bordered " style="border-top: 0; font-size: 0.9em;">
																			<!-- <apex:outputpanel layout="none" rendered="{!NOT(mapSplitDiscount[lc.Id])}">
																				<tr class="tReceive-{!lc.Id}">
																					<td class="slds-text-color_error">Discount</td>
																					<td class="slds-text-color_error">
																						<apex:outputText value=" - {0, number, currency}" > 
																							<apex:param value="{!IF(NOT(ISNULL(lc.original_instalment__c)) && lc.original_instalment__r.discount__c > 0,lc.original_instalment__r.discount__c,lc.Discount__c)}"/>
																						</apex:outputText>
																					</td>
																				</tr>
																			</apex:outputpanel> -->
																			<tr>
																				<td>Comm</td>
																				<td>
																					<apex:outputText value="{0, number, currency}" styleClass="labelCommission">
																						<apex:param value="{!lc.Shared_Comm_Agency_Receive_Value__c}" />
																					</apex:outputText>
																				</td>
																			</tr>
																			<tr>
																				<td>Tax</td>
																				<td>
																					<apex:outputText value="{0, number, currency}" styleClass="labelCommission">
																						<apex:param value="{!lc.Shared_Comm_Tax_Agency_Receive_Value__c}" />
																					</apex:outputText>
																				</td>
																			</tr>
																			<tr >
																				<td>%</td>
																				<td>
																						<apex:inputField value="{!lc.Shared_Comm_Agency_Receive__c}" style="{!IF(lc.Shared_Comm_Agency_Receive__c = 0,'color:red;','')}"  styleClass="valueInput receiveComm-{!lc.id} slds-input" onkeyup="calculateDiffComm(this.value, 'receiveComm-{!lc.id}','enrollComm-{!lc.id}','{!AND(lc.isRequestedShareCommission__c,lc.client_course__r.share_commission_request_agency__c != lc.Received_By_Agency__c,lc.client_course__r.share_commission_request_agency__c != lc.client_course__r.Enroled_by_Agency__c)}'); showSaveButton(); this.style.background='#B0E0E6';" onchange="showSaveButton(); this.style.background='#B0E0E6';" rendered="{!AND(NOT(reqStatus),ISNULL(lc.Share_Commission_Paid_On__c),OR(ISNULL(lc.pay_to_agency__c),lc.client_course__r.Enroled_by_Agency__c = lc.pay_to_agency__c,lc.pay_to_agency__c = lc.Received_By_Agency__c),lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c)}" />
																						<apex:inputField value="{!lc.Shared_Comm_Agency_Receive__c}" style="{!IF(lc.Shared_Comm_Agency_Receive__c = 0,'color:red;','')}"  styleClass="valueInput slds-input receiveComm-{!lc.id}" onkeyup="calculateDiffComm(this.value, 'receiveComm-{!lc.id}','requestComm-{!lc.id}','false'); showSaveButton(); this.style.background='#B0E0E6';" onchange="showSaveButton(); this.style.background='#B0E0E6';" rendered="{!AND(NOT(reqStatus),ISNULL(lc.Share_Commission_Paid_On__c),ISNULL(lc.pay_to_agency__c),lc.client_course__r.Enroled_by_Agency__c = lc.Received_By_Agency__c)}"/>
																						<apex:inputField value="{!lc.Shared_Comm_Agency_Receive__c}" style="{!IF(lc.Shared_Comm_Agency_Receive__c = 0,'color:red;','')}"  styleClass="valueInput slds-input receiveComm-{!lc.id}" onkeyup="calculateDiffComm(this.value, 'receiveComm-{!lc.id}','offshoreComm-{!lc.id}','{!OR(lc.isRequestedShareCommission__c,lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c)}'); showSaveButton(); this.style.background='#B0E0E6';" onchange="showSaveButton(); this.style.background='#B0E0E6';" rendered="{!AND(NOT(ISNULL(lc.pay_to_agency__c)),ISNULL(lc.Share_Commission_Paid_On__c),lc.client_course__r.Enroled_by_Agency__c != lc.pay_to_agency__c,lc.pay_to_agency__c != lc.Received_By_Agency__c)}"/>

																					<apex:outputField value="{!lc.Shared_Comm_Agency_Receive__c}" rendered="{!NOT(ISNULL(lc.Share_Commission_Paid_On__c))}" />

																					<apex:outputText value="{!lc.Shared_Comm_Agency_Receive__c}" rendered="{!reqStatus}" styleClass="disabledBox" />
																				</td>
																			</tr>
																		</table>
																	</apex:outputPanel>
																	<div class="agName " style="">
																		{!lc.Received_By_Agency__r.name}
																	</div>
																</td>

																<!-- Requested Commission -->
																<td class="numberStyle">
																	<apex:outputPanel rendered="{!OR(AND(lc.isRequestedShareCommission__c,lc.client_course__r.share_commission_request_agency__c != lc.Received_By_Agency__c,lc.client_course__r.share_commission_request_agency__c != lc.client_course__r.Enroled_by_Agency__c))}">
																		<table class="shareTable slds-table slds-table_bordered" style="border-top: 0; font-size: 0.9em;">
																			<tr>
																				<td>Comm</td>
																				<td>

																					<apex:outputText value="{0, number, currency}" styleClass="labelCommission" rendered="{!lc.Shared_Comm_Agency_Request_Value__c == null}">
																						<apex:param value="{!0}" />
																					</apex:outputText>

																					<apex:outputText value="{0, number, currency}" styleClass="labelCommission">
																						<apex:param value="{!lc.Shared_Comm_Agency_Request_Value__c}" />
																					</apex:outputText>
																				</td>
																			</tr>
																				<tr>
																				<td>Tax</td>
																				<td>
																					<apex:outputText value="{0, number, currency}" styleClass="labelCommission">
																						<apex:param value="{!lc.Shared_Comm_Tax_Agency_Request_Value__c}" />
																					</apex:outputText>
																				</td>
																			</tr>
																			<tr>
																				<td>%</td>
																				<td>
																					<!-- <span disabled=""> -->
																					<apex:outputPanel rendered="{!ISNULL(lc.pay_to_agency__c)}">
																							<apex:inputField value="{!lc.Shared_Comm_Agency_Request__c}" rendered="{!NOT(reqStatus || lc.client_course__r.share_commission_decision_status__c = 'Declined') && ISNULL(lc.Share_Commission_Paid_On__c)}" style="{!IF(lc.Shared_Comm_Agency_Request_Value__c = 0,'color:red;','')}"  styleClass="valueInput slds-input requestComm-{!lc.id}" onkeyup="calculateDiffComm(this.value, 'requestComm-{!lc.id}','receiveComm-{!lc.id}','{!NOT(lc.isReceived_Enrolled_Same_Agency__c)}'); showSaveButton(); this.style.background='#B0E0E6';" onchange="showSaveButton(); this.style.background='#B0E0E6';" />
																							<apex:outputField value="{!lc.Shared_Comm_Agency_Request__c}" rendered="{!NOT(reqStatus || lc.client_course__r.share_commission_decision_status__c = 'Declined') && NOT(ISNULL(lc.Share_Commission_Paid_On__c))}" />
																							<apex:outputText value="{!lc.Shared_Comm_Agency_Request__c}" rendered="{!reqStatus || lc.client_course__r.share_commission_decision_status__c = 'Declined'}" styleClass="disabledBox" />
																					</apex:outputPanel>
																					<apex:outputPanel rendered="{!NOT(ISNULL(lc.pay_to_agency__c))}">
																							<apex:inputField value="{!lc.Shared_Comm_Agency_Request__c}" style="{!IF(lc.Shared_Comm_Agency_Request_Value__c = 0,'color:red;','')}"  styleClass="valueInput slds-input requestComm-{!lc.id}" onkeyup="calculateDiffComm(this.value, 'requestComm-{!lc.id}', 'receiveComm-{!lc.id}', 'true'); showSaveButton(); this.style.background='#B0E0E6';" onchange="showSaveButton(); this.style.background='#B0E0E6';" rendered="{!ISNULL(lc.Share_Commission_Paid_On__c)}"/>
																							<apex:outputField value="{!lc.Shared_Comm_Agency_Request__c}" rendered="{!NOT(ISNULL(lc.Share_Commission_Paid_On__c))}" />
																					</apex:outputPanel>



																					<!-- <apex:inputField value="{!lc.Shared_Comm_Agency_Request__c}" rendered="{!NOT(reqStatus || lc.client_course__r.share_commission_decision_status__c = 'Declined')}" style="{!IF(lc.Shared_Comm_Agency_Request_Value__c = 0,'color:red;','')}"  styleClass="valueInput requestComm-{!lc.id}" onkeyup="calculateDiffComm(this.value, 'requestComm-{!lc.id}','receiveComm-{!lc.id}','{!lc.client_course__r.Enroled_by_Agency__c != lc.Received_By_Agency__c}'); showSaveButton(); this.style.background='#B0E0E6';" onchange="showSaveButton(); this.style.background='#B0E0E6';" />
																					<apex:outputText value="{!lc.Shared_Comm_Agency_Request__c}" rendered="{!reqStatus || lc.client_course__r.share_commission_decision_status__c = 'Declined'}" styleClass="disabledBox" />
																						-->
																				</td>
																			</tr>
																		</table>
																		<div class="agName " style="">
																			{!lc.client_course__r.share_commission_request_agency__r.name}
																		</div>
																	</apex:outputPanel>
																</td>

																<!-- Pay To Agency Commission -->
																<td class="numberStyle">
																	<apex:outputPanel rendered="{!NOT(ISNULL(lc.pay_to_agency__c))}">
																		<table class="shareTable slds-table slds-table_bordered" style="border-top: 0; font-size: 0.9em;">
																			<tr>
																				<td>Comm</td>
																				<td>
																					<apex:outputText value="{0, number, currency}" styleClass="labelCommission">
																						<apex:param value="{!lc.Shared_Comm_Pay_Agency_Value__c}" />
																					</apex:outputText>
																				</td>
																			</tr>
																			<tr>
																				<td>Tax</td>
																				<td>
																					<apex:outputText value="{0, number, currency}" styleClass="labelCommission">
																						<apex:param value="{!lc.Shared_Comm_Tax_Pay_Agency_Value__c}" />
																					</apex:outputText>
																				</td>
																			</tr>
																			<tr>
																				<td>%</td>
																				<td>
																					<apex:inputField value="{!lc.Shared_Comm_Pay_Agency__c}" rendered="{!NOT(reqStatus) && ISNULL(lc.Share_Commission_Paid_On__c)}" style="{!IF(lc.Shared_Comm_Pay_Agency__c = 0,'color:red;','')}" styleClass="valueInput slds-input offshoreComm-{!lc.id}" onkeyup="calculateDiffComm(this.value, 'offshoreComm-{!lc.id}','receiveComm-{!lc.id}','{!AND(lc.isRequestedShareCommission__c)}'); showSaveButton(); this.style.background='#B0E0E6';" onchange="showSaveButton(); this.style.background='#B0E0E6';"/>
																					<apex:outputText value="{!lc.Shared_Comm_Pay_Agency__c}" rendered="{!reqStatus}" styleClass="disabledBox" />
																					<apex:outputField value="{!lc.Shared_Comm_Pay_Agency__c}" rendered="{!NOT(ISNULL(lc.Share_Commission_Paid_On__c))}" />
																				</td>
																			</tr>
																		</table>
																		<div class="agName " style="">
																			{!lc.pay_to_agency__r.name}
																		</div>
																	</apex:outputPanel>
																</td>
																<!-- <td>
																	<apex:inputfield value="{!lc.Share_Commission_Paid_On__c}" style="width:95%;" onchange="showSaveButton(); this.style.background='#B0E0E6';" rendered="{!ISNULL(lc.Share_Commission_Paid_On__c)}"/>
																	<apex:outputField value="{!lc.Share_Commission_Paid_On__c}" rendered="{!NOT(ISNULL(lc.Share_Commission_Paid_On__c))}" />

																</td> -->
																<td>
																	<apex:inputfield value="{!lc.Shared_Commission_Note__c}" style="width:95%;" styleClass="slds-input shareNote-{!lc.id}" onkeyup="copyNote(this.value, 'shareNote-{!lc.id}'); showSaveButton();" rendered="{!ISNULL(lc.Share_Commission_Paid_On__c)}"/>
																	<apex:outputfield value="{!lc.Shared_Commission_Note__c}" rendered="{!NOT(ISNULL(lc.Share_Commission_Paid_On__c))}" />
																</td>
															</tr>
														</tbody>
														</table>
													</div>

													<!-- NOTES -->
													<apex:outputpanel layout="none" rendered="{!listNotes.size > 0}">
														<div id="tab-note-{!lc.Id}" class="slds-tabs_scoped__content slds-hide" role="tabpanel" aria-labelledby="tab-scoped-2__item">
															<table class="slds-table slds-table_bordered slds-table_cell-buffer">
																<thead>
																	<tr class="slds-text-title_caps">
																		<th> Subject </th>
																		<th> Description </th>
																		<th style="border-right:1px solid #c1c1c1;"> Note Details </th>
																	</tr>
																</thead>
																<tbody>
																	<apex:repeat value="{!listNotes}" var="n">
																		<tr>
																			<td style="width:20%">
																				<apex:commandLink value="{!n.Subject__c}" onclick="editTask('{!n.id}'); return false;" />
																			</td>

																			<td style="width:55%" class="slds-cell-wrap">
																				<apex:outputText value="{!LEFT(n.Comments__c,250)}" styleClass="mini" title="{!n.Comments__c}" escape="false" />
																				<apex:outputText value="..." rendered="{!LEN(n.Comments__c) > 250}" styleClass="mini" title="{!n.Comments__c}" />
																			</td>

																			<td style="width:25%;">
																				<apex:outputLabel value="Created by: " style="font-weight:bold;" /> <apex:outputLabel value="{!n.CreatedBy.Name}" />
																				<apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
																				<span style="color:grey; font-size:0.8em;">
																					<apex:outputField value="{!n.createdDate}" />
																				</span><br/>

																				<apex:outputLabel value="Last modified: " style="font-weight:bold;" /> <apex:outputLabel value="{!n.LastModifiedBy.Name}" />
																				<apex:outputText value=" on " style="color:grey; font-size:0.8em;" />
																				<span style="color:grey; font-size:0.8em;">
																					<apex:outputField value="{!n.LastModifiedDate}" />
																				</span>
																			</td>
																		</tr>
																	</apex:repeat>
																</tbody>
															</table>
														</div>
													</apex:outputpanel>


													<!-- REQUEST COMMISSION -->
													<apex:outputpanel layout="none" rendered="{!AND(lc.isRequestedShareCommission__c,lc.client_course__r.share_commission_request_agency__c != lc.Received_By_Agency__c,lc.client_course__r.share_commission_request_agency__c != lc.client_course__r.Enroled_by_Agency__c)}">
														<div id="tab-reqComm-{!lc.Id}" class="slds-tabs_scoped__content slds-hide" role="tabpanel" aria-labelledby="tab-scoped-3__item">
															<table class="slds-table slds-table_bordered slds-table_cell-buffer">
																<thead>
																	<tr class="slds-text-title_caps">
																		<th>Agency Commission</th>
																		<th>Requested By</th>
																		<th>Requested On</th>
																		<!-- <th>Request Details</th> -->
																		<th>Decision By</th>
																		<th>Decision On</th>
																		<th>Decision Details</th>
																		<th>Status</th>
																		<th>Action</th>
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<td><apex:outputText value="{!lc.client_course__r.share_commission_request_agency__r.name}" style="color: red;" /></td>
																		<td>{!lc.client_course__r.share_commission_request_by__r.name}</td>
																		<td><apex:outputField value="{!lc.client_course__r.share_commission_request_on__c}" /></td>
																		<!-- <td><apex:outputField value="{!lc.client_course__r.share_commission_request_details__c}" /></td> -->
																		<td>{!lc.client_course__r.share_commission_decision_by__r.name}</td>
																		<td><apex:outputField value="{!lc.client_course__r.share_commission_decision_on__c}" /></td>
																		<td class="slds-cell-wrap">
																			<apex:outputText value="{!SUBSTITUTE(lc.client_course__r.share_commission_decision_details__c,'#-#','')}" escape="false"/>
																		</td>
																		<td>{!lc.client_course__r.share_commission_decision_status__c}</td>
																		<td><apex:commandLink value="Accept/Decline" styleClass="agencyButton saveButton" status="statusLoad" onClick="coursewin=dhtmlmodal.open('sharecommission', 'iframe', 'sharecommissionrequest?id={!lc.client_course__c}&spt=1&isde=0', 'Request Share Commission', 'width=710px,height=530px,resize=1,center=1,scrolling=1'); setCloseModal(); return false"  /></td>
																	</tr>
																</tbody>
															</table>
														</div>

													</apex:outputpanel>
												</div>
											</td>
										</tr>
										<apex:variable value="{!countRow+1}" var="countRow" />
										<tr><td class="breakLine" /></tr>
									</apex:repeat>
								</table>
							</div>
						</div>
						
					</apex:repeat>
				</apex:outputPanel>

				<apex:actionFunction name="changeTabApex" action="{!changeTab}"  status="mlStatusLoad" rerender="listResult, totPending, totConfirmed">
					<apex:param name="show" value="" />
				</apex:actionFunction>
			</apex:form>
		</td>
		</tr>
	</table>

</html>
<script>

	function openSection(value){
        var section = $('.s-'+value)[0];

        if(section.classList.contains('slds-is-open'))
            section.classList.remove('slds-is-open');
        else
            section.classList.add('slds-is-open');
    } 

	function changeTab(showT, hideT){
        showingTab = showT;
        $('#'+showT).css('display','block');
        $('#'+hideT).css('display','none');

        var tabShow = $('.'+showT)[0];
        tabShow.classList.add('slds-is-active');
        var tabHide = $('.'+hideT)[0];
        tabHide.classList.remove('slds-is-active');

        changeTabApex(showT);
    }

	function showInnerTabs(show, instId){
		$('.t-' + instId + ' ul li').each(function(){
			if(this.id.split('-')[0] == show){
				$(this).addClass('slds-is-active');

				$('.t-' + instId + ' .slds-tabs_scoped__content').each(function(){
					if(this.id.split('-')[1] == show){
						$(this).addClass('slds-show');
						$(this).removeClass('slds-hide');
					
					}
					else{
						$(this).removeClass('slds-show');
						$(this).addClass('slds-hide');
					}
				});
			}
			else{
				$(this).removeClass('slds-is-active');
			}
		});						
	}

	function calculateDiffComm(vl, firstClass, secondClass, toCalculate){
		//jQuery('.'+secondClass).val( 100 - jQuery('.'+firstClass).val() );
		//jQuery('.'+firstClass).val( jQuery('.'+firstClass).val() );
		console.log(toCalculate);
		if(toCalculate == 'false'){
			jQuery('.'+secondClass).each(function(){
					jQuery(this).val(100 - vl );
					jQuery(this).css({'background-color':'#B0E0E6'});
				});
			}

			jQuery('.'+firstClass).each(function(){
				jQuery(this).val( vl );
				jQuery(this).css({'background-color':'#B0E0E6'});
			});


	}

	function copyNote(vl, className){
		jQuery('.'+className).each(function(){
				jQuery(this).val( vl );
			});
	}

	jQuery( document ).ready(function() {
		jQuery('.dateFilter').attr('disabled', 'disabled');
	});

	

	function enableDate(param){
		if(param!='range' || param =='commission')
			jQuery('.dateFilter').attr('disabled', 'disabled');
		else
			jQuery('.dateFilter').removeAttr('disabled');
	}

	function showSaveButton(){
		jQuery('.saveButton').show();
	}

	function toggle(popUpDiv) {
		var el = document.getElementById(popUpDiv);
		if ( el.style.display == 'none' ) { el.style.display = '';}
		else {el.style.display = 'none';}
		//$('.tbl_Commission').floatThead("reflow");
		return false;
	}

	function UpdateEnrolments(){
		jQuery('#interVeil').css('display','none');
					coursewin.close();
					refreshListCourses();
			}

			function refreshCourseDetails(){
		jQuery('#interVeil').css('display','none');
					coursewin.close();
					refreshListCourses();
			}

			function setCloseModal(){
		jQuery('.Close').attr('src','{!URLFOR($Resource.assets,'images/x_white.png')}');
		jQuery('.Close').unbind('click');
		jQuery('.Close').click(function() {closemodal();});
	}

	/*  $('.tbl_Commission').floatThead(); */

	// When the user scrolls the page, execute myFunction
    window.onscroll = function() {myFunction()};

    // Get the navbar
    var navbar = document.getElementById("navbar");

    // Get the offset position of the navbar
    var sticky = navbar.offsetTop;

    // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function myFunction() {
    if (window.pageYOffset >= sticky) {
        navbar.classList.add("sticky")
    } else {
        navbar.classList.remove("sticky");
        }
    } 
</script>
</apex:page>