<apex:page standardController="Account" showheader="{!IF($CurrentPage.parameters.noheader='true',false,true)}" extensions="ShowCaseGroupAgency" standardStylesheets="true" sidebar="false" tabStyle="my_agency__tab">

<apex:include pageName="xCourseSearchStyle" />  
<!-- INCLUDE SCRIPTS AND STYLESHEETS <apex:includeScript value="{!$Resource.JQuery_v1_11_1}" /> -->
<apex:includeScript value="{!$Resource.JQuery_v1_11_1}" /> <!-- JQuery library v.1.11.1 -->
<!-- photo gallery -->
<apex:includeScript value="{!URLFOR($Resource.html5_gallery,'html5gallery/html5gallery.js')}" />
<!-- Expander description -->
<apex:includeScript value="{!$Resource.jquery_expander_1_4_12}"/>

<!-- STYLES -->
<style>

.columnLeft {
  float: left;
  width: 280px;
  
}

.columnRight {
  float: right;
  width: 815px;
  
}

.content{
  width: 1095px;
  background: #e6e6e6;
  border: solid 1px #e6e6e6;
  margin: 0 auto;
  position: static;
  overflow: hidden;
}

.shadowGrey {
  box-shadow: 3px 3px 3px #ddd;
}

.boxLeft, .boxRight{
  border: solid 1px #f2f2f2;
  background: #f2f2f2;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
  
}

.boxLeft{
  width: 250px;
  margin-left: 15px;
}

.boxRight{
  width: 800px;
}

.titleBox, .contentBox{   
  padding: 0 12.5px;
}

.titleBox{   
  height: 40px;
}

.titleBoxText{
  font-size: 15px;
  color: #4d4d4d;
  font-weight: bold;
  margin: 10px 0;
  position: absolute;
}

.contentBox{
}

.contentBoxTitle{
  font-size: 12px;
  color: #808080;
  font-weight: normal;
}

/* LEFT COLUMN */

.titolLocation{/*beside titol name*/
  font-size: 15px;
  color: #808080;
  padding-left: 20px;
}

.logo{
  width: 250px;
  //height: 180px;
}

.mapLocation{
  width: 225px;
  height: 130px;
  border: solid 1px #fff;
  margin: 10px auto;
  border-radius: 3px;
  
}

.linkText{
  font-size: 10px;
  color: #666;
  font-weight: normal;
  margin: 12.5px;
  text-decoration: underline;
}

.contentBoxList ul{
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.contentBoxList li{
  margin: 0;
  padding-left: 12.5px;
  height: 18px;
  padding-top: 4px;
}

li.contentList:nth-child(odd){
  background: #fff;
}

/* RIGHT COLUMN */

.detailsBox{
  padding: 0 12.5px;
  min-height: 230px;
  background: #fff;
}

.titolNameBox{
  padding: 10px 0;
}

.titolName{
  font-size: 25px;
  color: #ed1c24;
  font-weight: bold;
}

.titolSubName{
  font-size: 18px;
  color: #4d4d4d;
  font-weight: bold;
  display: block;
}

.descriptionBox{
  min-height: 120px;
}

.textBold{
  font-weight: bold;
}

.tableBox{
  padding-top: 10px;
  table-layout: fixed;
  width: 100%;
}

.tableBoxDetails{
  padding-top: 3px;
  table-layout: fixed;
  width: 100%;
}

/* ICONS */
.iconPage, .iconLocation, .iconPlane, .iconWorld, .iconPeople, .iconStudies, 
.iconCertificate, .iconFilm, .iconChart, .iconWomen, .iconArrow, .iconPlus, .iconLess,
.Facebook, .Twitter, .LinkedIn, .Google, .Instagram, .Pinterest, .YouTube, .Vimeo, .Skype{
  background-image: url("{!$Resource.icons_showCase}");
  background-repeat: no-repeat;
  /*border: 1px solid #000;*/
  position: relative;
}

.iconPage, .iconLocation, .iconPlane, .iconWorld, .iconPeople, .iconStudies, 
.iconCertificate, .iconFilm, .iconChart, .iconWomen,
.Facebook, .Twitter, .LinkedIn, .Google, .Instagram, .Pinterest, .YouTube, .Vimeo, .Skype{
  float: right;
  left: 0;
  top: 2px;
  height: 31px;
  width: 30px;
}

.iconArrow{
  background-position: -10px -100px;
  float: left;
  left: 0;
  top: 6px;
  height: 23px;
  width: 15px;
}

/* ICONS */
.iconPage{ background-position: -33px 0;}

.iconLocation{ background-position: -65px -2px;}

.iconPlane{ background-position: -97px -32px;}

.iconWorld{ background-position: -129px -32px;}

.iconPeople{ background-position: -33px -32px;}

.iconStudies{ background-position: -1px -32px;}

.iconCertificate{ background-position: -129px -2px;}

.iconFilm{ background-position: -96px 0;}

.iconChart{ background-position: -65px -33px;}

.iconWomen{ background-position: -1px -63px;}

.iconPlus, .iconLess{
  float: left;
  height: 16px;
  left: 0;
  margin-left: 5px;
  top: 0;
  width: 14px;
}

.iconPlus{  background-position: -41px -104px;}

.iconLess{  background-position: -74px -104px;}

/* SOCIAL NETWORKS ICONS */
.Facebook { background-position: -96px -97px; }
.Twitter { background-position: -129px -129px; }
.LinkedIn { background-position: -129px -97px }
.Google { background-position: -96px -129px; }
.Instagram { background-position: -65px -129px; }
.Pinterest { background-position: -32px -129px; }
.YouTube { background-position: 0 -160px; }
.Vimeo { background-position: 0 -129px; }
.Skype { background-position: -32px -160px; }

/*.facebook, .twitter, .linkedIn, .google+, .instagram, .pinterest, .youTube, .vimeo, .skype*/

/* GALLERY */
.containerGallery{
  min-height: 400px;
}

/* CONTACTS */
.contactList{
  list-style-position: inside;
  list-style:none;
  padding: 0;
}

.contactList tr{
  height: 18px;
}

.contactList li, .contactList tr{
  margin: 0;
}

li.contentListTitle{
  cursor: pointer;
}

.contactList table{
  table-layout: fixed;
  border-collapse: collapse;
  margin: 1px 0;
  width: 100%;
}

li.contactRow:nth-child(odd){
  background: #E6E6E6;
  border-bottom: 2px solid #f5f5f5;
  height: 20px;
}

li.contentListTitle:hover{
  background: #cccccc;
}

tr.contactRow:nth-child(odd){
  background: #fff;
}

.contactList td, .contactList th {
    padding-left: 12.5px;
    padding-top: 4px;
}

</style>
<!-- MAIN CONTENT -->

<div class="content">
  
  <div class="columnLeft">
    <div class="contentLeft">
      <div class="boxLeft"><apex:image styleClass="logo" value="{!agencyGroup.Logo__c}" /> </div>
      <div class="boxLeft" style="display:none;">
        <div class="titleBox">
          <div class="iconArrow"></div>
          <div style="float: left;">
            <span class="titleBoxText contentBoxTitle">Page views: 0</span>
          </div>
          <div class="iconPage"></div>
        </div>
      </div>
      <div class="boxLeft">
        <div class="titleBox">
          <div class="iconArrow"></div> <!-- ICON ARROW -->
          <div style="float: left;">
            <span class="titleBoxText">Head office location</span>
          </div>
          <div class="iconLocation"></div> <!-- ICON IMAGE -->
        </div>
        <div class="contentBox">
          <span class="contentBoxTitle">
            <apex:outputText style="display: block" value="{!agencyGroup.BillingStreet}" />
            <apex:outputText style="display: block" value="{!agencyGroup.BillingCity + ' ' + agencyGroup.BillingPostalCode + ' ' + agencyGroup.BillingState}" />
            <apex:outputText style="display: block" value="{!agencyGroup.BillingCountry}" />
          </span>
        </div>
        <div class="mapLocation">
          <img src="https://maps.googleapis.com/maps/api/staticmap?center={!agencyGroup.BillingStreet}+{!agencyGroup.BillingPostalCode}+{!agencyGroup.BillingCity}+{!agencyGroup.BillingState}+{!agencyGroup.BillingCountry}&zoom=15&size=225x130&sensor=false&markers=size:small|color:red|label:C|{!agencyGroup.BillingStreet}+{!agencyGroup.BillingPostalCode}+{!agencyGroup.BillingCity}+{!agencyGroup.BillingState}+{!agencyGroup.BillingCountry}" />
        </div>
        <a class="linkText" target="_blank" href="http://maps.google.com/?q={!agencyGroup.BillingStreet}+{!agencyGroup.BillingPostalCode}+{!agencyGroup.BillingCity}+{!agencyGroup.BillingState}+{!agencyGroup.BillingCountry}">+ Open in Maps</a>
      </div>
      <div class="boxLeft">
        <div class="titleBox">
          <div class="iconArrow"></div> <!-- ICON ARROW -->
          <div style="float: left;">
            <span class="titleBoxText"><apex:outputText value="{!$ObjectType.Account.fields.Destinations_offered__c.Label}" /></span>
          </div>
          <div class="iconPlane"></div> <!-- ICON IMAGE -->
        </div>
        <div class="contentBoxList">
            <ul>
              <apex:repeat value="{!destinationsOffered}" var="destiOffer">
              <li class="contentList"><apex:outputText value="{!destiOffer}" /></li>
            </apex:repeat>
            </ul>
        </div>
      </div>
      <div class="boxLeft">
        <div class="titleBox">
          <div class="iconArrow"></div> <!-- ICON ARROW -->
          <div style="float: left;">
            <span class="titleBoxText"><apex:outputText value="{!$ObjectType.Account.fields.Main_customers_from__c.Label}" /></span>
          </div>
          <div class="iconWorld"></div> <!-- ICON IMAGE -->
        </div>
        <div class="contentBoxList">
          <ul>
            <apex:repeat value="{!mainCustormesFrom}" var="mcf">
              <li class="contentList"><apex:outputText value="{!mcf}" /></li>
            </apex:repeat>
          </ul>
        </div>
      </div>
      <div class="boxLeft">
        <div class="titleBox">
          <div class="iconArrow"></div> <!-- ICON ARROW -->
          <div style="float: left;">
            <span class="titleBoxText"><apex:outputText value="{!$ObjectType.Account.fields.Main_customer_types__c.Label}" /></span>
          </div>
          <div class="iconPeople"></div> <!-- ICON IMAGE -->
        </div>
        <div class="contentBoxList">
          <ul>
            <apex:repeat value="{!mainCustomersTypesList}" var="mct">
              <li class="contentList"><apex:outputText value="{!mct}" /></li>
            </apex:repeat>
          </ul>
        </div>
      </div>
      <div class="boxLeft">
        <div class="titleBox">
          <div class="iconArrow"></div> <!-- ICON ARROW -->
          <div style="float: left;">
            <span class="titleBoxText"><apex:outputText value="{!$ObjectType.Account.fields.Recruiting_students_for__c.Label}" /></span>
          </div>
          <div class="iconStudies"></div> <!-- ICON IMAGE -->
        </div>
        <div class="contentBoxList">
          <ul>
            <apex:repeat value="{!recruitingStudentsList}" var="rs">
              <li class="contentList"><apex:outputText value="{!rs}" /></li>
            </apex:repeat>
          </ul>
        </div>
      </div>
      <div class="boxLeft">
        <div class="titleBox">
          <div class="iconArrow"></div> <!-- ICON ARROW -->
          <div style="float: left;">
            <span class="titleBoxText"><apex:outputText value="{!$ObjectType.Account.fields.Industry_Certificates__c.Label}" /></span>
          </div>
          <div class="iconCertificate"></div> <!-- ICON IMAGE -->
        </div>
        <div class="contentBoxList">
          <ul>
            <apex:repeat value="{!industryCertificatesList}" var="ic">
              <li class="contentList"><apex:outputText value="{!ic}" /></li>
            </apex:repeat>
          </ul>
        </div>
      </div>
    </div>
  </div>
   <!-- COLUMN RIGHT -->
  <div class="columnRight">
    <div class="contentRight">
      <div class="boxRight">
        <div class="detailsBox">
          <div class="titolNameBox">
            <span class="titolName"><apex:outputText value="{!agencyGroup.Name}" /><apex:outputText styleClass="titolLocation" value="{!agencyGroup.BillingCity + ' - ' + agencyGroup.BillingCountry}" /></span>
            <span class="titolSubName"><apex:outputText value="{!agencyGroup.Group_Type__c}" /></span>
          </div>
          <div class="descriptionBox">
            <div class="expandable"><p style="margin: 0"><apex:outputText value="{!agencyGroup.General_Description__c}" escape="false" /></p></div>
          </div>
          <div class="contactDetails">
            <table class="tableBoxDetails">
              <tr>
                <td><span class="textBold">Phone: </span><span><apex:outputText value="{!agencyGroup.Phone}" /></span></td>
                <td style="text-align: center;"><span class="textBold">Website: </span><span><a href="{!agencyGroup.Website}" target="_blank"><apex:outputText value="{!agencyGroup.Website}" /></a></span></td>
                <td>
                  <apex:repeat value="{!socialNetwork}" var="net">
                    <apex:outputLink value="{!socialNetwork[net]}" id="theLink" target="_blank" title="{!net}" styleClass="{!IF(net='Google+', 'Google', net)}" />   
                  </apex:repeat>
                </td>
              </tr>
              
            </table>
          </div>
        </div>       
      </div>
      <div class="boxRight">
        <div class="titleBox">
          <table class="tableBox">
            <tr>
              <td><span>Year of fundation: </span><span class="textBold"><apex:outputText value="{!agencyGroup.Year_established__c}" /></span></td>
              <td style="text-align: center;"><span>Total number of offices: </span><span class="textBold"><apex:outputText value="{!numOffices}" /></span></td>
              <td style="text-align: right;"><span>Total number of staff: </span><span class="textBold"><apex:outputText value="{!agencyGroup.NumberOfEmployees}" /></span></td>
            </tr>            
          </table>
        </div>
      </div>
      <div class="boxRight">
        <div class="titleBox">
          <div class="iconArrow"></div> <!-- ICON ARROW -->
          <div style="float: left;">
            <span class="titleBoxText">Offices located in
               <span class="contentBoxTitle" style="margin-left: 40px">
               <apex:outputText value="{!officesIn}" />
               </span>
              </span>
          </div>
          <div class="iconLocation"></div> <!-- ICON IMAGE -->
        </div>
      </div>
      <div class="boxRight">
        <div class="titleBox">
          <div class="iconArrow"></div> <!-- ICON ARROW -->
          <div style="float: left;">
            <span class="titleBoxText">Photos/Videos</span>
          </div>
          <div class="iconFilm"></div> <!-- ICON IMAGE -->
        </div>
        <!-- style="display:{!IF(ISBLANK(Videos),'none','inline-block')}"  -->
        <div class="contentBox">
          <!-- photo space -->
          <div class='containerGallery'>
                <div style="display:none; margin:0 auto;" class="html5gallery" data-skin="light" data-width="755" data-height="430" 
                data-slideshadow="true" data-resizemode="fill" data-shownumbering="true" data-autoplayvideo="false" data-effect="slide" 
                data-headerpos="top" data-titlecss="{color:#ffffff; font-size:16px; font-family:Armata, sans-serif, Arial; overflow:hidden; white-space:nowrap; width: 70px;}">     
                
                  <!-- VIDEOS -->
                  <apex:repeat value="{!videos}" var="v" >
                    <a href="{!v}">
                      <img src="{!videos[v]}" alt="" />
                    </a>                          
                  </apex:repeat>
                  
                  <!-- PHOTOS -->                 
                  <apex:repeat value="{!imgs}" var="i">
                    <a href="{!i.url}">
                      <img src="{!i.url}" alt="{!i.description}" />
                    </a>
                  </apex:repeat> 
                </div>  
            </div>                   
          <!-- end photo space -->
        </div>  
      </div>
      <div class="boxRight">
          <div class="titleBox">
                    <div class="iconArrow"></div> <!-- ICON ARROW -->
                    <div style="float: left;">
                      <span class="titleBoxText">Students enrolled in the last 12 months</span>
                    </div>
                    <div class="iconChart"></div> <!-- ICON IMAGE -->
                </div>
                <div class="contentBox">
                <apex:chart data="{!estudentsEnroller}" width="100%" height="{!if(estudentsEnroller.size > 2, estudentsEnroller.size * 45, estudentsEnroller.size * 55)}" resizable="true">
            <!--<apex:legend position="right"/>-->
            <apex:axis type="Numeric" position="bottom" minimum="0" steps="1" grid="false" dashSize="1" fields="numStudents" title="" rendered="true" />              
            <apex:axis type="Category" position="left" fields="typeStudies" dashSize="1" >
              <apex:chartLabel font="12px" />
            </apex:axis>
            <apex:barSeries orientation="horizontal"  axis="left" yField="typeStudies" xField="numStudents" stacked="false" colorSet="#ed1c24" >
              <apex:chartTips height="40" width="200"/>
              <apex:chartLabel display="insideStart" field="numStudents" color="#ffffff" orientation="horizontal" />
            </apex:barSeries>
          </apex:chart> 
                </div>
      </div>
      <div class="boxRight">
        <div class="titleBox">
          <div class="iconArrow"></div> <!-- ICON ARROW -->
          <div style="float: left;">
            <span class="titleBoxText">Contacts</span>
          </div>
          <div class="iconWomen"></div> <!-- ICON IMAGE -->
        </div>
        <div class="contentBox">
        
          <div class="directors" style="margin-left: 15px;">
            <apex:outputText value="Directors: " style="font-weight: bold;" />
            <apex:outputText value="{!SUBSTITUTE(agencyGroup.Directors__c, ';', ', ')}" style="margin-left: 5px;" />
          </div>
        
          <ul class="contactList">
            <apex:repeat value="{!agencyContactsList}" var="agencyDetail">
              <li class="contactRow contentListTitle">
                <div class="iconPlus iconChange"></div>
                <div style="float: left; margin: 2px 5px;"><apex:outputText value="{!agencyDetail.name}" /></div>
              </li>
              <li style="display: none;">
                <table>
                  <tr class="contactRow">
                    <th><span class="textBold">Name:</span></th>
                    <th><span class="textBold">Position Title:</span></th>
                    <th><span class="textBold">Email:</span></th>
                  </tr>
                <apex:repeat value="{!agencyDetail.listContacts}" var="contactObj">
                        <tr class="contactRow">
                          <td><apex:outputText value="{!contactObj.name}" /></td>
                          <td><apex:outputText value="{!contactObj.occupation}" /></td>
                          <td><a href="mailto:{!contactObj.email}">{!contactObj.email}</a></td>
                        </tr>            
                </apex:repeat>
                    </table>
              </li>
            </apex:repeat>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
    
jQuery(document).ready(function () {
  /*  EXPANDER TEXT */
  jQuery('div.expandable p').expander({
    slicePoint: 500,
    expandEffect: 'show',
    expandSpeed: 0,
    collapseEffect: 'hide',
    collapseSpeed: 0
  });
  
  jQuery('.contactList').on('click', '.contentListTitle', function(){
    jQuery(this).next('li').toggle();
    
    if(jQuery(this).find('div.iconChange').hasClass('iconLess')){
     jQuery(this).find('div.iconChange').removeClass('iconLess');
     jQuery(this).find('div.iconChange').addClass('iconPlus');
    }else{
      jQuery(this).find('div.iconChange').removeClass('iconPlus');
      jQuery(this).find('div.iconChange').addClass('iconLess');
    }
    
  });
});

</script>
</apex:page>