<apex:page standardcontroller="Contact" showheader="false" sidebar="false">
<apex:include pageName="xStylePageV2" />
<apex:include pageName="xCourseSearchStyle" />


<style>
	.grayBox{
		background-color: #F3F3F3;
	    border: 1px solid #999999;
	    border-radius: 3px 3px 3px 3px;
	    color: #2BABD6;
	    font-family: arial;
	    font-weight: bold;
	    padding: 5px;
	}
	
	.close {
		display:none !important;
	}
</style>

<apex:form id="reasonform">
<div class="grayBox">
<div class="message errorM3">
	<table cellspacing="0" cellpadding="0" border="0" style="padding:0px;margin:0px;font-size:0.85em" class="messageTable">
		<tbody>
			<tr valign="top">
				<td><img title="WARNING" src="/s.gif" class="msgIcon" alt="ERROR" /></td>
				<td class="messageCell">
					<div class="messageText" >
						<span style="color:#cc0000;"><h4>Please note:</h4></span>
						<span style="font-size:1.05em !important;">Changing the lead Status to "LEAD - Not Interested" will make the lead disappear from the list "Leads in Progress"</span><br/>																
					</div>
				</td>
			</tr>
			<tr><td></td><td></td></tr>
		</tbody>
	</table>
</div>
<br/>
<table>
	<tbody>
		<tr>
			<td>
				<apex:outputlabel value="Please select a reason: " style="font-weight:bold; color:black;" />
			</td>
			<td>
				<apex:inputField value="{!contact.Lead_Status_Reason__c}" styleClass="statusReason"  style="width:185px;margin-left: 5px;" required="true" />
			</td>
		</tr>
	</tbody>
</table>
<br/>
<apex:outputpanel layout="block" style="width:100%;text-align:center; margin-top:10px;margin-bottom: 10px;">

	<apex:commandButton styleClass="agencyButton" value="Cancel" onClick="parent.closemodalReason()" /> 
	
	<apex:commandButton styleClass="agencyButton" value="Save" action="{!save}" status="statusload" onComplete="parent.saveAndClosemodalReason();" rerender="reasonform" />
	
</apex:outputpanel>

	<script>
		function setReason(){
			if(jQuery('.errorMsg').length == 0)
				parent.saveAndClosemodalReason();
		}
	</script>

</div>
</apex:form>

</apex:page>