<apex:page standardController="contact" extensions="studentCard">
	<apex:include pageName="xStylePageV2" />
	<apex:include pageName="xCourseSearchStyle" />
	<style>
		.boxCard{
			background-repeat: no-repeat;
		    background-size: auto auto;
		    border: 1px solid gray;
		    border-radius: 3px;
		    height: 2.11in;
		    width: 3.336in;
		}
		
		.front{
			background-image: url("{!CardImagePreviewFront}");
			background-size: 100% auto;
		}
		
		.back{
			background-image: url("{!CardImagePreviewBack}");
			background-size: 100% auto;
		}
		
		.tableBody{
			width:310px;
			height: 125px;
			position:relative;
			top: 40px;
			left: 5px;
		} 
		
		tr.labelHeader td{
    		font-size: 0.8em;
    		color: #3B4C80;
   		    height: 10px;
    	}
    	
    	td.labelDetails{
    		font-size: 0.9em;
    		//height:15px;
    		vertical-align: top;
    		width: 100px;
    		color: #7B7C7E;
    	}
    	
    	td.labelName{
    		font-size: 1.2em;
    		height:20px;
    		vertical-align: top;
    		color: #3B4C80;
    		font-weight: bold;
    	}
    	
    	.previewTable td{
    		padding: 0px 5px;
    	}
		
	</style>
	<table class="tbl_Details">
		<tr>
			<td rowspan="3" class="sidesColumn">
				<c:menuContact ContactID="{!Contact.id}" selectedItem="memberCard" />					
			</td>
			<td class="middleColumn">
				<div class="boxHeader">
					<c:cpPageHeader PageType="contact" contactID="{!Contact.id}" />
				</div>
			</td>
			<td rowspan="3" class="rightColumn sidesColumn">
				<c:contactSideBarButtons ContactID="{!Contact.id}" />
				<apex:outputpanel rendered="{!Contact.RecordType.Name != 'Employee'}"><c:cclient_checklist idContact="{!Contact.id}" /></apex:outputpanel>
				<br/>
				<c:cCreateTask popType="modal" cClientId="{!Contact.id}" rendered="{!Contact.RecordType.Name != 'Employee'}" />
			</td>
		</tr>
		
		<tr>
			<td class="middleColumn bodyColumn">
				<div class="title" style="font-size:1.5em;">
					<span class="arrow-e" style="font-size: 1.5em;"></span>&nbsp;Membership Card
				</div>
				<br/>
				<apex:form >
					<table class="previewTable">
						<tr>
							<td>
								<div class="boxCard front">
									<table class="tableBody">
										<tr>
											<td rowspan="6" style="width:82px;">
												<apex:image onclick="uploadLogo();" id="customer-photo" value="{!ClientDetails.PhotoClient__c}" width="80" />
											</td>
											<td class="labelName" colspan="2">{!ClientDetails.Name}</td>
										</tr>
										<tr class="labelHeader">
											<td>Date of Birth</td>
											<td>Nationality</td>
										</tr>
										<tr >
											<td class="labelDetails">
												<apex:outputText value="{0, date, dd/MM/yyyy}">
													<apex:param value="{!ClientDetails.Birthdate}" />
												</apex:outputText>
											</td>
											<td class="labelDetails">{!ClientDetails.Nationality__c}</td>
										</tr>
										<tr class="labelHeader">
											<td>Agency</td>
											<td>Expiry Date</td>
										</tr>
										<tr>
											<td class="labelDetails">{!ClientDetails.Current_Agency__r.name}</td>
											<td class="labelDetails">
												<apex:outputText value="{0, date, dd/MM/yyyy}">
													<apex:param value="{!today() + 365}" />
												</apex:outputText>
											</td>
										</tr>
									</table>
								</div>
							</td>
							<td>
								<div class="boxCard back" />
							</td>
						</tr>
						<tr>
							<td>
								<apex:commandLink value="Print Front" styleClass="agencyButton" action="{!generateIdCard}" style="margin-right: 10px; float:right;" target="_blank" immediate="true" />
							</td>
							<td>
								<apex:commandLink value="Print Back" styleClass="agencyButton" action="{!generateIdCardBack}" style="margin-right: 10px; float:right;" target="_blank" immediate="true" />
							</td>
						</tr>
					
					</table>
				</apex:form>
			</td>
		</tr>
	</table>
</apex:page>