<apex:page controller="tax_control" tabstyle="commissions__tab">
	<apex:include pageName="xStylePage" />
	<apex:include pageName="xCourseSearchStyle" />
	
	<style>
		.taxValue{
			border: 1px solid gray;
			width: 500px;
			border-spacing: 0;
		}
		
		.taxValue th {
		    background-color: #c1c1c1;
		    border-bottom: 1px solid gray;
		    border-top: 1px solid gray;
		    padding: 10px 0;
		    padding: 3px;
		}
		
		.taxValue td {
			padding: 3px;
		}
		
		.headerCity{
			font-weight: bold;
		}
		
		.taxValue tr.cityRow:nth-child(odd){ background-color:#f1f1f1;; }
		.taxValue tr.cityRow:nth-child(even){ background-color:#FFF; }
		
		
		
		
	</style>
	<table class="tbl_Details">
	<tr>					
		<td class="sidesColumn">					
			<c:menuCommissions selectedItem="taxControl" />
		</td>
	
		<td class="middleColumn bodyColumn">
			<div class="title" style="font-size:1.5em;">
				<span class="arrow-e" style="font-size: 1.5em;"></span>&nbsp;Confirm Commission
			</div>
			<br/>
			<apex:form id="taxList" >
				<table class="taxValue">
					<apex:repeat value="{!mapCountry}" var="mc">
						<tr>
							<th>{!mc}</th>
							<th>
								<apex:selectList value="{!selectedTax}" size="1" onchange="applyTaxName(this.value,'{!SUBSTITUTE(mc,' ','_')}');">
					                 <apex:SelectOptions value="{!getlistTax}" />
					             </apex:selectList>
							</th>
							<th><apex:inputText onkeyup="applyTax(this.value,'{!SUBSTITUTE(mc,' ','_')}');" /></th>
						</tr>	
						<tr class="headerCity">
							<td>City</td>
							<td>Tax Name</td>
							<td>Value (%)</td>
						</tr>		
						<apex:repeat value="{!mapCountry[mc]}" var="city">
							<tr class="cityRow">
								<td>
									{!city.Name}
								</td>
								<td>
									<apex:inputField value="{!city.Tax_Name__c}" styleClass="tax_{!SUBSTITUTE(mc,' ','_')}" onchange="showBtnSave('{!SUBSTITUTE(mc,' ','_')}')"/>
								</td>
								<td>
									<apex:inputField value="{!city.Tax_Rate__c}" styleClass="rate_{!SUBSTITUTE(mc,' ','_')}" onkeyup="showBtnSave('{!SUBSTITUTE(mc,' ','_')}')"/>
								</td>
							</tr>
						</apex:repeat>
						<tr class="btn_{!SUBSTITUTE(mc,' ','_')}" style="display: none">
							<td colspan="3" style="text-align: center; colspan; padding: 12px;">
								<apex:commandLink value="Save" action="{!saveTax}" styleClass="agencyButton" status="statusLoad" rerender="taxList" >
									<apex:param value="{!mc}" name="paramCountry" />
								</apex:commandLink>
							</td>
						</tr>
					</apex:repeat>
				</table>
			</apex:form>
		</td>
		</tr>
	</table>
	<script>
		function applyTax(value, paramClass){
			jQuery('.btn_'+paramClass).show();
			jQuery('.rate_'+paramClass).each(function () {
				jQuery(this).val(value);
			})
		}
		
		function applyTaxName(value, paramClass){
			jQuery('.btn_'+paramClass).show();
			jQuery('.tax_'+paramClass).each(function () {
				jQuery(this).val(value);
			})
		}
		
		function showBtnSave(paramClass){
			jQuery('.btn_'+paramClass).show();
		}
		
	</script>
</apex:page>