<apex:page showHeader="true" sidebar="false">
<apex:include pageName="xStylePageV2" />
<apex:include pageName="xCourseSearchStyle" />

<style>
	
	.box{	    
	    border-radius: 4px;
	    display: block;
	    float: left;
	    height: 150px;
	    margin-bottom: 20px;
	    margin-right: 10px;
	    margin-top: 10px;
	    width: 300px;
	    box-shadow: 1px 3px 10px #c1c1c1;
	    background-color: #f8f8f8;
	    margin-right: 13px;
	    margin-left:10px;
	}
	
	.box:hover{
		 background-color: white;
	}
	
	
	
	.icon {
	    align-items: center;
	    display: flex;
	    float: left;
	    height: 100%;
	    justify-content: flex-end;
	    width: 34%;
	    padding-right: 15px;
	}
	
	.reportTitle {
		align-items: center;
	    display: flex;
	    font-size: 1.5em;
	    font-weight: bold;
	    height: 100%;
	    justify-content: left;
    }

</style>

<div class="divHeader">
	Translations
</div>
<div class="divContent" style="overflow: hidden;">
	<div class="box agencyBorder" >
		<apex:outputLink value="showcasetranslations" style="font-size: 1.1em;text-decoration:none;">
			<div class="icon"> <apex:image title="Showcase Translations" url="{!URLFOR($Resource.translation_icons,'campuses.svg')}" style="width: 65px;" /></div>
			<div class="reportTitle title">Showcases</div>
		</apex:outputLink>		
	</div>
	
	<div class="box agencyBorder" >
		<apex:outputLink value="coursetranslations" style="font-size: 1.1em;text-decoration:none;">
			<div class="icon"> <apex:image title="Course Translations" url="{!URLFOR($Resource.translation_icons,'numbers2.svg')}" style="width: 65px;" /></div>
			<div class="reportTitle title">Courses</div>
		</apex:outputLink>		
	</div>
	
	<div class="box agencyBorder" >
		<apex:outputLink value="extrafeetranslation" style="font-size: 1.1em;text-decoration:none;">
			<div class="icon"> <apex:image title="Extra fee Translations" url="{!URLFOR($Resource.translation_icons,'best-price.svg')}" style="width: 65px;" /></div>
			<div class="reportTitle title">Extra Fees</div>
		</apex:outputLink>		
	</div>
	
	
	
	
</div>

</apex:page>