<apex:page controller="UpdatesFollowUp" sidebar="false" showHeader="{!$CurrentPage.parameters.searchopt = null}" >
		
	<apex:include pageName="xStylePageV2" />
	<apex:include pageName="xCourseSearchStyle" />
	
	<!-- Chosen -->
	<apex:styleSheet value="{!URLFOR($Resource.chosen,'chosen.css')}" />    
	<apex:includeScript value="{!URLFOR($Resource.chosen,'chosen.jquery.js')}" />
	
    <style>
        .divStyle{
            float: left;
            margin-right:10px;
        }
        
        .titleHeader {
            color: orangered;
            display: block;
            font-size: 1.5em;
            font-weight: bold;
            height: 26px;
            padding: 3px;
            text-align: center;
            width: 99.5%;
            z-index: 10;
        }
        
        .sticky-wrapper{
            width:100%;
            height:75px;
        }
        
        .fixedSchoolName {
            z-index: 100;
            width:100%;
            display: block;
            text-align: right;
            font-size:1.2em;
        }
        
        .filters{
            background-color: #EEEEEE;
            border: 1px solid #C0C0C0;
            display: block;
            padding: 6px 0 6px 3px;
            width: 100%;
        }
        
        .rowDetails{
            vertical-align:top !important;
            color:#666  !important;
        }
        
        table .tableUpdates tr:nth-child(odd) { background-color:#FFF; }
        table .tableUpdates tr:nth-child(even)    { background-color:#eee; }
    </style>
    
    <script>
                
       jQuery(document).ready(function() {
			jQuery('.chosen').chosen();
		});
    </script>
    
    <apex:actionStatus id="ipStatus" onstart="showLoading();" onstop="hideLoading();" />
    
    <apex:form >
        <div class="filters divStyle"> 
            <div class="divStyle">
                <apex:selectList value="{!destination}" size="1" style="width:180px;" styleclass="chosen">
                    <apex:SelectOptions value="{!listDestinations}"  />
                    <apex:actionSupport event="onchange"  action="{!refreshScools}" rerender="listCities, listSchools, listCampus" status="ipStatus" onComplete="jQuery('.rerenderChosen').chosen();"/>
                </apex:selectList> 
                <br /><apex:outputText value="Destination" />
                
            </div>
            <div class="divStyle">
                <apex:outputPanel id="listCities">
                    
                    <apex:outputPanel rendered="{!destination == 'selected'}">
                        <select style="width:140px;" size="1" class="chosen rerenderChosen">
                            <option selected="selected" value=""></option>
                        </select>
                    </apex:outputPanel> 
                    <apex:selectList value="{!destinationCity}" size="1"  rendered="{!destination != 'selected'}" style="width:180px;" styleclass="chosen rerenderChosen">
                        <apex:SelectOptions value="{!CityDestination[destination]}" />
                        <apex:actionSupport event="onchange" action="{!refreshScools}" rerender="listSchools, listCampus" status="ipStatus" onComplete="jQuery('.rerenderChosen').chosen();"/>
                    </apex:selectList>
                </apex:outputPanel>     
                <br /><apex:outputText value="Cities" />
            </div>
            <div class="divStyle">
                <apex:commandButton value="Search" action="{!search}" reRender="UpdateDetails" status="ipStatus" styleclass="agencyButton"/>             
            </div>
            <br/>
            <div class="divStyle" style="clear:both;">
                <apex:outputPanel id="listSchools" >
                    <apex:selectList value="{!selectedSchool}" size="1" style="width:330px;" styleclass="chosen rerenderChosen">
                        <apex:SelectOptions value="{!listSchools}" />
                        <apex:actionSupport event="onchange" action="{!refreshCampus}" rerender="listCampus" status="ipStatus" onComplete="jQuery('.campus').chosen();"/>
                    </apex:selectList>
                </apex:outputPanel>
                <br /><apex:outputText value="Schools" />
            </div>
            <div class="divStyle">
                <apex:outputPanel id="listCampus" >
                    <apex:selectList value="{!selectedCampus}" size="1" style="width:330px;" styleclass="chosen rerenderChosen campus">
                        <apex:SelectOptions value="{!listCampus}" />
                    </apex:selectList>
                </apex:outputPanel>
                <br /><apex:outputText value="Campus" />
            </div>
            
            
            <apex:outputPanel rendered="{!$CurrentPage.parameters.searchopt = null}" >
                <br />
                <table style="float:left; clear:left;margin-top: 15px;">
                    <tr>
                        <td>
                            <apex:outputPanel id="inputArea">
                                <apex:inputField value="{!newUpdate.Comments__c}" style=" width: 630px"/>
                                <br /><apex:outputText value="Comments" style="float:left; clear:left;"/>
                            </apex:outputPanel>
                        </td>
                        <td style="vertical-align:bottom;">
                            <apex:commandButton value="Add Update" action="{!addUpdateCourse}" reRender="UpdateDetails, inputArea" status="ipStatus" style="margin-bottom:15px;" styleclass="agencyButton"/>
                        </td>
                    </tr>
                </table>
            </apex:outputPanel>
            
        </div>
    
        <apex:pageBlock id="UpdateDetails">
            <apex:pageMessages />
            <apex:pageBlockTable value="{!listUpdates}" var="upItem" columnClasses="rowDetails" styleClass="tableUpdates" >
                <apex:column headerValue="Country/City">
                    <apex:outputText value="{!upItem.Country__c}" style="color: #444 !important; font-weight: bold;"/><br />
                    <apex:outputText value="{!upItem.City__c}" style="font-size: 0.85em;" />
                </apex:column> 
                <apex:column headerValue="School/Campus">
                    <apex:outputText value="{!upItem.School__r.Name}" style="color: #444 !important; font-weight: bold;"/><br />
                    <apex:outputText value="{!upItem.Campus__r.Name}" style="font-size: 0.85em;" />
                </apex:column>
                <apex:column headerValue="Last Updated">
                    <apex:outputField value="{!upItem.LastModifiedDate}" /> <br />
                    <apex:outputText value="by " rendered="{!$CurrentPage.parameters.searchopt = null}"/>
                    <apex:outputText value="{!upItem.LastModifiedBy.Name}" style="font-size: 0.8em;" rendered="{!$CurrentPage.parameters.searchopt = null}"/>
                </apex:column>
                <apex:column headerValue="Comments" width="width:630px;">
                    <apex:outputField value="{!upItem.Comments__c}" style="width:630px; color: #444 !important;" rendered="{!updateId != upItem.id}"/>
                    <apex:inputField value="{!upItem.Comments__c}" style="width:630px; color: #444 !important;" rendered="{!updateId = upItem.id}"/>
                </apex:column> 
                <apex:column rendered="{!$CurrentPage.parameters.searchopt = null}">
                    <apex:commandLink value="Edit" action="{!updateCourse}" rerender="UpdateDetails" rendered="{!updateId != upItem.id}" status="ipStatus">
                        <apex:param value="{!upItem.id}" name="updateId" />
                    </apex:commandLink>
                    &nbsp; &nbsp;
                    <apex:commandLink onclick="if(!confirm('Are you sure you want to delete?')) return false;" value="Delete" action="{!deleteFollowUp}" rerender="UpdateDetails" rendered="{!updateId != upItem.id && upItem.CreatedById == $User.Id}" status="ipStatus" >
                        <apex:param value="{!upItem.id}" name="deleteID" />
                    </apex:commandLink>
                    <apex:commandLink value="Save" action="{!saveUpdate}" rerender="UpdateDetails" rendered="{!updateId = upItem.id}" status="ipStatus">
                        <apex:param value="{!upItem.id}" name="updateId" />
                    </apex:commandLink>
                </apex:column>
                
            </apex:pageBlockTable>
            
            <div id="errorMsg" class="message warningM3" style="{!IF(listUpdates.size == limitBy, '', 'display:none;')} margin-top: 10px; width: 505px;" >
				<table cellspacing="0" cellpadding="0" border="0" class="messageTable">
					<tbody>
						<tr>
							<td class="messageCell">
								<div class="messageText">
									<apex:outputText value="Showing the first 200 results." escape="false" />
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		
        </apex:pageBlock>
       
        
        
    </apex:form>
</apex:page>