<apex:page docType="html-5.0"
	       showHeader="false" sidebar="false"
		   controller="visitsmobile" >

	<!-- <apex:stylesheet value="{!URLFOR($Resource.MobileSample_Resources_jQueryMobile, 'jquery.mobile-1.3.0.min.css')}"/>
	<apex:includeScript value="{!URLFOR($Resource.MobileSample_Resources_jQueryMobile, 'jquery-1.9.1.min.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.MobileSample_Resources_jQueryMobile, 'jquery.mobile-1.3.0.min.js')}"/> -->

	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <head>
		<title>Contacts</title>
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> -->

		<meta name="apple-mobile-web-app-capable" content="yes" />

		<script type="text/javascript">

		    var $j = jQuery.noConflict();
            var clientId;
			var fromFormDesk = false;

        	$j(document).on( 'pageinit',function(event){
				getUrlEmail();
	        	$j('.search-1').keydown(function(event) {
					  if (event.keyCode == '13') {
					     event.preventDefault();
					     getSearchEmail();
					   }
					});
			});
			
			function getUrlEmail() {                        	
				var vEmail = '{!$CurrentPage.parameters.email}';                        
				if ((vEmail != '') && (!fromFormDesk)){						
						document.getElementById('search-1').value = vEmail;
						fromFormDesk = true;                                        
						getSearchEmail();
				} 
			}
					   
            function getSearchEmail() {
           		var email = document.getElementById('search-1').value;
			    Visualforce.remoting.Manager.invokeAction(
			        '{!$RemoteAction.visitsmobile.searchEmail}',
			        email,
			        function(result, event){
			            if (event.status) {
			            	if(result != null && !result.hasVisits){
				            	$j('.hdDetail').html(result.firstName);
				            	clientId = result.id;
				            	$j(':mobile-pagecontainer').pagecontainer('change', '#detailpage', {
							        transition: 'pop',
							        changeHash: false,
							        reverse: true,
							        showLoadMsg: true
							    });

			            	}else if(result != null && result.hasVisits){
			            		$j.mobile.loading('hide');
			            		$j('#hasVisit').popup();
								$j('#hasVisit').popup('open', {
						            transition: 'pop'
						        });
			            		$j('#hasVisit .clientName').html(result.name);
			            	}else{
			            		$j.mobile.loading('hide');
			            		$j('#about').popup();
								$j('#about').popup('open', {
						            transition: 'pop'
						        });
						        $j('#about .emailcheck').html(email);

			            	}
			            } else {
			                alert('Sorry');
			            }
			        },
			        {escape: true}
			    );
			    	jQuery('.ui-loader').height(jQuery( document ).height());
			     	$j.mobile.loading('show', {theme:"b", text:"Please wait...", textVisible: true,  html: "<span class='ui-bar ui-shadow ui-overlay-d ui-corner-all' style='text-align:center;position:fixed; top:40%;left:35%;width:30%'><img src='{!URLFOR($Resource.ipadfiles,'/bigIpLogo.png')}'style='width: 100%;'/><br/><span class='title'>Loading...</span>"});
			}



			function openDpt(){
				var hasServices = false;

				$j('.servicesMobile input[type=checkbox]').each(function() {

					if($j(this).is(':checked') )
						hasServices = true;
				});

				if(hasServices){
				jQuery('.ui-loader').height(jQuery( document ).height());
				 	$j.mobile.loading('show', {theme:"b", text:"Please wait...", textVisible: true,  html: "<span class='ui-bar ui-shadow ui-overlay-d ui-corner-all' style='text-align:center;position:fixed; top:40%;left:35%;width:30%'><img src='{!URLFOR($Resource.ipadfiles,'/bigIpLogo.png')}'style='width: 100%;'/><br/><span class='title'>Loading...</span>"});
					refreshDepartments();
				}else{
            		$j('#noServices').popup();
					$j('#noServices').popup('open', {
			            transition: 'pop'
			        });
				}
			}





			function loadUsers(){
				$j.mobile.changePage('#departmentPage', {changeHash: false,  transition: "slideup", showLoadMsg: true});
				$j('.scUser').enhanceWithin();
				//jQuery('.footer-bar').toolbar( 'refresh');
			}


			var selectedStaff=[];



	function verifyServices(services){
		//alert(services);

		var totservices = services;
		totservices = totservices.replace('[','');
		totservices = totservices.replace(']','');

		var message = '';
		jQuery.each(totservices.split(','), function(index,value) {
			var sv = value;
			sv = sv.replace('/','');
			sv = sv.replace('&','');
			sv = sv.replace(':','');
			sv = sv.replace(/\s+/g,'');

			var hasStaffSelected = false;

			jQuery('div[class*=\''+sv+'\'] input[type=checkbox]').each(function(){
			    if(jQuery(this).is(':checked')){
			    	hasStaffSelected = true;
		    	}
		    });

		    if(!hasStaffSelected)
		    	message += ' - ' + value + ' <br/> ';
    	});

		//alert(message);
		if(message==null || message ==''){


			jQuery('.ui-loader').height(jQuery( document ).height());
			$j.mobile.loading('show', {theme:"b", text:"Please wait...", textVisible: true,  html: "<span class='ui-bar ui-shadow ui-overlay-d ui-corner-all' style='text-align:center;position:fixed; top:40%;left:35%;width:30%'><img src='{!URLFOR($Resource.ipadfiles,'/bigIpLogo.png')}'style='width: 100%;'/><br/><span class='title'>Loading...</span>"});
			createVisit(selectedStaff.toString(), clientId);

		}else{
			$j.mobile.loading('hide');
       		$j('#selectStaff').popup();
			$j('#selectStaff').popup('open', {
	            transition: 'pop'
	        });
	        $j('#selectStaff .staffNotSelected').html(message);
	        enableNextButton('selectedDepts');
		}
	}



	function verifyAction(){
		var setMin = 5000;
		if (fromFormDesk){			
			$j.mobile.changePage('#visitCreatedForm', {changeHash: false,  transition: "slideup", showLoadMsg: true});
			setMin = 28800000;	//8hs		
		}else{
			$j.mobile.changePage('#visitCreated', {changeHash: false,  transition: "slideup", showLoadMsg: true});
		}
		setTimeout(function () {

			$j('.hdDetail').html('Visit');
			$j('#search-1').val('');
			selectedStaff=[];
			$j('.servicesMobile input[type=checkbox]').each(function() {
				jQuery(this).prop("checked", false).checkboxradio("refresh");
				jQuery(this).checkboxradio( "enable" );
			});

		    $j(':mobile-pagecontainer').pagecontainer('change', '#listpage', {
		        transition: 'pop',
		        changeHash: false,
		        reverse: true,
		        showLoadMsg: true
		    });
		}, setMin);
	}

	function addStaff(ischecked, staff, deptName, service, dept){
		if(ischecked){
			selectedStaff.push(staff);

			var staffName = staff.split("!#");

			if(staffName[0]=='No Preference'){
				jQuery('.'+deptName + ' input[type=checkbox]').each(function() {
					var nameStaff = jQuery(this).attr('value');
					var ck = nameStaff.split("!#");

					if(ck[0] != 'No Preference'){
						//jQuery(this).attr("checked", false);
						//jQuery(this).attr("disabled", true);
						jQuery(this).checkboxradio( "disable" );
					}
				});
			}else{
				jQuery('.'+deptName + ' input[type=checkbox]').each(function() {
					var nameStaff = jQuery(this).attr('value');
					var ck = nameStaff.split("!#");

					if(ck[0] == 'No Preference'){
						//jQuery(this).attr("checked", false);
						//jQuery(this).attr("disabled", true);
						jQuery(this).checkboxradio( "disable" );
					}
				});
			}

			//jQuery('div[class*=\''+service+'\'] input[type=checkbox]').not('table[class*=\''+deptName+'\'] input[type=checkbox]').each(function(){
			jQuery('div[class*=\''+service+'\'] div').not(jQuery('div[class*=\''+dept+'\']')).not(jQuery('div[class*=\''+dept+'\']').find('*')).each(function(){
				jQuery(this).css( "display", "none" );
		    });

		}else{
			var staffInArray = jQuery.inArray(staff, selectedStaff);
			selectedStaff.splice(staffInArray,1)
			//alert(selectedStaff);

			var staffName = staff.split("!#");

			var totStaff = 0;

			if(staffName[0]=='No Preference'){
				jQuery('.'+deptName + ' input[type=checkbox]').each(function() {
					var nameStaff = jQuery(this).attr('value');
					var ck = nameStaff.split("!#");

					if(ck[0] != 'No Preference'){
						//jQuery(this).attr("disabled", false);
						jQuery(this).checkboxradio( "enable" );
					}
				});
			}else{
				jQuery('.'+deptName + ' input[type=checkbox]').each(function() {
					var nameStaff = jQuery(this).attr('value');
					var ck = nameStaff.split("!#");

					if(jQuery(this).prop('checked'))
						totStaff ++;

					if(ck[0] == 'No Preference' && totStaff < 1){
						//jQuery(this).attr("disabled", false);
						jQuery(this).checkboxradio( "enable" );
					}
				});
			}


			if(totStaff < 1){
				jQuery('div[class*=\''+service+'\'] div').not(jQuery('div[class*=\''+dept+'\']')).not(jQuery('div[class*=\''+dept+'\']').find('*')).each(function(){
					jQuery(this).css( "display", "" );
			    });
		    }
		}
	}

    function callQueueForm(){
               var pwd = document.getElementById('passwordQueue').value;
               Visualforce.remoting.Manager.invokeAction(
					'{!$RemoteAction.visitsmobile.verifyPassword}',
					pwd,
					function(result, event){
						if (event.status) { 
							if (result){   
								window.open('clientarrivalform','_self');
							}else{
								alert('Please try again!');
							} 
						}          
					},
					{escape: true}	
				);                
	   }
	   
	function disableNextButton(button){
		jQuery('.'+button).prop("disabled", "disabled");
	}

	function enableNextButton(button){
		jQuery('.'+button).removeProp("disabled");
	}

</script>

		<style>


			.ui-loading .ui-loader {
				 height: 100%;
   				 width: 100%;
    			 left: 0px;
   			     top: 0px !important;
   			     position: relative !important;
			}

			.ui-loader-textonly {
			    margin-left: 0;
			    padding:0;
			}

			.ui-loader-verbose {
			    margin-left: 0px;
			    margin-top: 0px;
			    opacity: 0.88;
			    padding: 0px;
			}


			body{
				text-shadow:0px !important;
			}
			.button-wrap {
			    margin-left: 5px;
			    margin-right: 5px;
			}


			.ui-header{
			    line-height: 46px;
			}

			.ui-header .ui-btn {
			    font-size: 20.5px;
			}

			.servicesMobile {
			    width: 100%;
			}

			.servicesMobile .ui-checkbox{
				font-size: 1.5em;
			}

			.user-department {
			    //float: left;
			    margin-left: 10px;
			    margin-bottom: 10px;
			}

			.user-department .ui-bar-a {
    			background-color: #DDD;
    			border-radius: 10px;
    			font-size: 2em;
				color:white;
    		}

			.boxDept{

			    border: 1px solid #233b76;
			    border-radius: 18px;
			    margin: 5px;
			    padding: 10px;
			 }

			 .ui-mobile label, div.ui-controlgroup-label {
			    font-size: 30px;
			}

			.ui-btn.ui-checkbox-off::after, .ui-btn.ui-checkbox-on::after, .ui-btn.ui-radio-off::after, .ui-btn.ui-radio-on::after {
			    display: block;
			    height: 40px;
			    margin: -20px 2px 0;
			    width: 40px;
			}

			 .close{
				background-color:#FFDD00 !important;
				border: 1.5px solid grey !important;
				font-size:1.5em;
			}

			 .close:hover{
				background-color: orange !important;
				border: 1.5px solid grey !important;
				font-size:1.5em;
			}

			.searchButton{
				background-color:#FFDD00 !important;
				border: 1.5px solid grey !important;
				font-size:2.5em;
			}

			 .searchButton:hover{
				background-color: orange !important;
				border: 1.5px solid grey !important;
				font-size:2.5em;
			}

    		.footer-bar{
    			height: 95px;
    		}

    		.ui-header-fixed .ui-btn, .ui-footer-fixed .ui-btn, .footer-bar .ui-btn, .ui-page-theme-a .ui-btn:active, html .ui-bar-a .ui-btn:active, html .ui-body-a .ui-btn:active, html body .ui-group-theme-a .ui-btn:active, html head + body .ui-btn.ui-btn-a:active{
			    background-color: #f7a034 !important;
			    color: #333;
			    font-size: 1.7em;
			}

			.ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head + body .ui-btn.ui-btn-a:hover {
			    background-color: #FFCC00 !important;
			    color: #333;
			    font-size: 1.7em;
			}

			.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
			    color: #333;
			    font-size: 1.7em;
			}


			.ui-btn-left{
				top: -12px;
			}

			.hdDetail{
				font-size: 2.8em !important;
				color: #f7a034;
			}

			.title{
				font-size: 2.8em !important;
				color: #f7a034;
			}

			.titleMessage{
				font-size: 2.8em !important;
				color: #f7a034;
			}


			.ui-header .ui-title, .ui-footer .ui-title {
			   	padding: 0;
			}


			.innerPages .ui-overlay-a, .innerPages .ui-page-theme-a, .innerPages .ui-page-theme-a .ui-panel-wrapper {
				background-image: none;
				background: transparent !important;
			}

			.innerPages{
				background-image: url("{!URLFOR($Resource.ipadfiles,'/background.jpg')}") !important;
				background-repeat: no-repeat;
				background-size: 100% auto;
			}

			.servicesHeader{
				background-image: url("{!URLFOR($Resource.ipadfiles,'/background.jpg')}") !important;
				background-repeat: no-repeat;
				background-size: 100% auto;
			}



			.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
				background-color:white;
				border:0px !important;
			}

			.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited {
			    border-color: grey;
		    }

		    .ui-body-a {
			    border:none;
			}
			
			.divFootBarForm{
                height: 150px;
                width: 100%;
                text-align: center;        
			}
					   
            .divForm{
                text-align: center;                                                                
            }

		</style>
	</head>

    <body>




        <div data-role="page" id="listpage">
            <!-- <div data-role="header" data-position="fixed">
                <h2 class="hdDetail">Visit</h2>
            </div> -->
            <div data-role="content" id="contactList">
            	<img src="{!URLFOR($Resource.ipadfiles,'/Ipad-01.jpg')}" alt="image" style="width: 100%;" />
            	<form>

					<div class="ui-grid-b" style="background-color:white;">
					    <div class="ui-block-a" style="width: 80%; padding: 0 10px;" ><input name="search-1" class="search-1" id="search-1" type="email" style="min-height: 2.8em;font-size:2em;" placeholder="Please type your email here"  /></div>
					    <div class="ui-block-b" style="width: 20%;" ><input class="ui-btn-user " value="Search" type="button" onclick="getSearchEmail();" /></div>
					</div>
				</form>
            </div>
            <!-- popup -->
            <div data-role="popup" id="about" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="min-width:550px;" class="ui-corner-all" data-history="false">
                <div data-role="header" class="ui-header ui-bar-c">
					<div class="ui-grid-a">
                        <div class="ui-block-a" style="width: 85%; padding: 12px 10px;font-size:1.8em;">
                        	<h1>Email not found</h1>
                        </div>
                    </div>
                </div>
                <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content" style="font-size:1.6em;background-color:white;">
                    <p>We could not find the email:
                        <br/>
                        <apex:outputtext styleclass="emailcheck" style="color:red;font-size:1.2em;"/>
                        <br/><br/>Please make sure you have typed it correctly.</p>

                        <a href="#" data-role="button" id="closePopup" data-iconpos="notext" data-rel="back" style="font-size:0.8em !important;" class="close">Close</a>
                </div>
            </div>
            <div data-role="popup" id="hasVisit" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width:550px;min-width:550px;" class="ui-corner-all" data-history="false">
                <div data-role="header" class="ui-header ui-bar-c">
					<div class="ui-grid-a">
                        <div class="ui-block-a" style="width: 85%; padding: 12px 10px;font-size:1.8em">
                        	<h1><apex:outputtext styleclass="clientName" /></h1>
                        </div>
                    </div>
                </div>
                <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content" style="padding: 12px 10px;font-size:2em;background-color:white;">
                    <p style="color:red;">You already have a pending visit!</p>

                   	<a href="#" data-role="button" id="closePopup" data-iconpos="notext" data-rel="back" style="font-size:0.8em !important;" class="close">Close</a>

                </div>
            </div>
        </div>





        <div data-role="page" id="detailpage" class="innerPages">
        	<div data-role="header" class="servicesHeader" data-position="fixed" style="width:100%; padding:5px;" data-tap-toggle="false">
                <div style="display:block; text-align: center;"><img src="{!URLFOR($Resource.ipadfiles,'/logo.png')}" alt="image" style="width: 45%;position: relative; top: 10px; left: 2px;margin-bottom: 30px;"/></div>
                <div style="display:block;text-indent: 19%;" ><apex:outputtext value="Hi" styleclass="title"/>&nbsp;&nbsp;<apex:outputtext styleclass="hdDetail"/><apex:outputtext value="!" styleclass="title"/></div>
                <div style="display:block;text-align:right;margin-right:10%;"  class="titleMessage"><h1>How can we help you today?</h1></div>
            </div>

            <div data-role="footer" data-position="fixed" class="footer-bar" data-tap-toggle="false">
                <a href='#listpage' id="back2ContactList" class='ui-btn-left' data-icon='arrow-l' data-direction="reverse" data-transition="flip">Back</a>
                <div class="ui-block-b ui-btn-right"><input class="ui-btn ui-btn-right" value="Next" type="button" data-icon='arrow-r' data-iconpos="right" data-transition="flip" onclick="openDpt();" /></div>
            </div>

			<apex:form >
				<apex:actionfunction name="createVisit" action="{!createVisitMobile}" status="statusLoad" rerender="form" onComplete="verifyAction();">
					<apex:param value="" name="paramStaff" />
					<apex:param value="" name="clientId" />
				</apex:actionfunction>
				<apex:actionFunction name="refreshDepartments" action="{!refreshItems}" rerender="pnlDpt, nextButtonService" oncomplete="loadUsers()" />
				<br/><br/>
				<apex:selectCheckboxes value="{!selectedServices}" layout="pageDirection" styleClass="servicesMobile">
		 	 	 	<apex:selectOptions value="{!agencyServices}"/>
		 	 	</apex:selectCheckboxes>

			</apex:form>

			<!-- PopUp -->
			<div data-role="popup" id="noServices" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width:550px;min-width:550px;" class="ui-corner-all" data-history="false">
                <div data-role="header" class="ui-header ui-bar-c">
					<div class="ui-grid-a">
                        <div class="ui-block-a" style="width: 85%; padding: 12px 10px;font-size:1.8em">
                        	<h1 style="color:red">No Services Selected</h1>
                        </div>
                    </div>
                </div>
                <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content" style="padding: 12px 10px;font-size:2em;background-color:white;">
                    <p>Please select the type of service you are looking for.</p>

                   	<a href="#" data-role="button" id="closePopup" data-iconpos="notext" data-rel="back" style="font-size:0.8em !important;" class="close">Close</a>

                </div>
            </div>

          </div>

         <div data-role="page" id="departmentPage" class="innerPages">
         	 <div data-role="header" class="servicesHeader" data-position="fixed" style="width:100%; padding:5px;" data-tap-toggle="false">
                <div style="display:block; text-align: center;"><img src="{!URLFOR($Resource.ipadfiles,'/logo.png')}" alt="image" style="width: 45%;position: relative; top: 10px; left: 2px;margin-bottom: 45px;"/></div>
                <div style="display:block;text-align:center;"  class="titleMessage"><h1>Who would you like to talk to?</h1></div>
            </div>
            <br/><br/><br/><br/>

	        <div role="main" class="ui-content">
				<apex:form id="pnlDpt">
					<apex:repeat value="{!selectedServices}" var="serviceDept">
						<!-- <apex:variable var="varService" value="{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(serviceDept,'/',''),'&', ''),' ','' )}" /> -->
						<apex:variable var="varService" value="{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(serviceDept,'/',''),'&', ''),' ','' ),':','')}" />

						<div class="ui-corner-all custom-corners user-department">
						  <div class="ui-bar ui-bar-a">
						    <h3><apex:outputText value="{!serviceDept}" /></h3>
						  </div>
						  <div class="ui-body ui-body-a {!varService}" style="background: transparent;">
						    <apex:outputpanel rendered="{!NOT(ISNULL(departments[serviceDept]))}" layout="none">
						    	<!-- <apex:variable value="{!0}" var="showRow" /> -->
								<table width="100%">
									<apex:repeat value="{!departments[serviceDept]}" var="dept">
										<!-- <apex:outputText value="<tr>" escape="false" rendered="{!showRow = 0}" /> -->
										<tr>
											<td style="vertical-align: top;">
												<apex:variable var="varDeptName" value="{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(dept.name,'/',''),'&', ''),' ','' ),':','')}" />
												<!-- <apex:variable var="varDeptName" value="{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(dept.name,'/',''),'&', ''),' ','' )}" /> -->
												<div  class="boxDept {!varDeptName}">
													<div style="width:100%;font-weight: bold;color: #f7a034;font-size: 2.5em;" >{!dept.name}</div>

													<apex:selectcheckboxes styleclass="{!varDeptName}{!varService} scUser" value="{!selectedUsers}" style="width: 100%;" layout="pageDirection" onclick="addStaff(this.checked, this.value, '{!varDeptName}{!varService}', '{!varService}', '{!varDeptName}' );">
														<apex:selectoptions value="{!dept.deptUsers}" />
													</apex:selectcheckboxes>
												</div>
											</td>
										</tr>
										<!-- <apex:outputText value="</tr>" escape="false" rendered="{!showRow = 1}" />
										<apex:variable value="{!showRow + 1}" var="showRow" />
										<apex:variable value="{!0}" var="showRow" rendered="{!showRow > 1}"/> -->
									</apex:repeat>
									<!-- <apex:outputText value="</tr>" escape="false" rendered="{!showRow = 1}" /> -->
								</table>
							</apex:outputpanel>
						  </div>
						</div>

					</apex:repeat>
				</apex:form>
			</div>
			<div data-role="footer" data-position="fixed" class="footer-bar" data-tap-toggle="false">
	                <a href='#detailpage' id="back2departmentPage" class='ui-btn-left' data-icon='arrow-l' data-direction="reverse" data-transition="flip">Back</a>
					<apex:outputpanel id="nextButtonService">
	                <div class="ui-block-b ui-btn-right"><input class="ui-btn ui-btn-right selectedDepts" value="Next" type="button" data-icon='arrow-r' data-iconpos="right" data-transition="flip" onclick="disableNextButton('selectedDepts');verifyServices('{!selectedServices}');" /></div>
                </apex:outputpanel>
            </div>

            <!-- PopUp -->
            <div data-role="popup" id="selectStaff" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width:550px;min-width:550px;" class="ui-corner-all" data-history="false">
                <div data-role="header" class="ui-header ui-bar-c">
					<div class="ui-grid-a">
                        <div class="ui-block-a" style="width: 85%; padding: 12px 10px;font-size:1.8em">
                        	<h1>Select Staff</h1>
                        </div>
                    </div>
                </div>
                <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content" style="padding: 12px 10px;font-size:2em;background-color:white;">
                   	<p>Please choose the staff you would like to talk for the services:</p>
                   	<apex:outputtext style="color:red; font-weight:bold;" styleclass="staffNotSelected" escape="false"/>

                   	<a href="#" data-role="button" id="closePopup" data-iconpos="notext" data-rel="back" style="font-size:0.8em !important;" class="close">Close</a>

                </div>
            </div>


          </div>
		  <div data-role="page" id="visitCreatedForm">
			<img src="{!URLFOR($Resource.ipadfiles,'/thankyou.jpg')}" alt="image" style="width: 100%;" />
			<div data-role="footer" data-position="fixed" class="divFootBarForm" data-tap-toggle="false">					
				<div class="divForm">
					<input style="margin-left:45%; width: 10%; border: 1px solid #cccbcb" name="password" id="passwordQueue" type="password"/>
					<input value="Queue" type="button" onclick="callQueueForm();" />
				</div>
			</div>				
		  </div>
         <div data-role="page" id="visitCreated">
            <img src="{!URLFOR($Resource.ipadfiles,'/thankyou.jpg')}" alt="image" style="width: 100%;" />
          </div>


    </body>
</apex:page>