<apex:page controller="xCourseSearchCustomFee" sidebar="false" showHeader="false" >
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script src="https://code.jquery.com/ui/1.8.24/jquery-ui.js"></script>
	<apex:includeScript value="{!$Resource.jquery}"/>	
	<apex:includeScript value="{!$Resource.jqueryBlockUI}" />
	<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet"/>
	<link href="https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet"/>
	
	<apex:include pageName="xCourseSearchStyle" />
	
	<style>
		.courseHeader {
			background-color: #999999;
			clear: both;
			color: #FFFFFF;
			font-weight: bold;
			margin: 0.2em 0.2em 0;
			padding-left: 0.6em;
		}
		
		.ExtraFeeNameClass tr td label {
			font-size: 0.85em !important;
			display: inline;
		}
		
		.ExtraFeeNameClass tr td input {
			margin: 3px 0 0 0 !important;
			vertical-align: top !important;			
		}
		
		.content {			
			overflow-y: auto;
			overflow-x: hidden;	
			border: 1px solid #AAA;
			border-radius: 3px;
		}
		
		.customFeePanel {
			padding: 1%;			
		}
		
		.categoryHeader {
			color: white;
			font-size: 1.3em !important;
			padding: 5px 0;
			background-color: #999999;
			clear: both;
			font-weight: bold;
		}
		.inputLabel {
			color:grey;
			font-style: italic;
			padding: 1px 4px 2px;
		}
		label {
			display: inline;
		}
		
		.redButton:hover {
			text-decoration: none;
			color: white;
		}
		
		.redButton {
			background: linear-gradient(to bottom, #E34A4C 0%, #DC2328 99%) repeat scroll 0 0 rgba(0, 0, 0, 0);
		    border-radius: 3px;			    
		    color: #FFFFFF !important;
		    cursor: pointer;
			padding: 5px 20px;
			font-size: 0.85em;
			font-weight: bold;
			text-decoration: none;
			position: relative;
			margin: 0 3px;
			text-transform: none;
			background: linear-gradient(to bottom, #e34a4c 0%,#dc2328 99%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(227,74,76,1)), color-stop(99%,rgba(220,35,40,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(227,74,76,1) 0%,rgba(220,35,40,1) 99%); /* Chrome10+,Safari5.1+ */
		}
		form {
			margin: 0px;
		}
		
		.prodListTable tr:nth-child(odd)		{ background-color:#eee; }
		.prodListTable tr:nth-child(even)		{ background-color:#FFF; }
		
		.headerRow {
			background: none repeat scroll 0 0 #F2F3F3;
		    border-color: #E0E3E5;
		    border-width: 0 0 1px 1px;
		    color: #000000;
		    font-size: 0.9em;
		    font-weight: bold;		    
		}
		
		.deleteAnchor{			
			display: block;
		    float: left;
		    margin-top: -2px;
		    text-decoration: none;
			cursor: pointer;
		}
	</style>
	
	<script>
		jQuery(document).ready(function(){		
			
			resizeContent();
		
		});
		
		function resizeContent(){			
			var maxHeight = 485;
			var contentHeight = maxHeight - jQuery('#header').height();
			jQuery('.content').css('height', contentHeight);			
		}
		
		function showLoading(msg) { 
	        jQuery.blockUI({ 
				message: '<H1>'+msg+'</H1>',
				css: { 
	            border: 'none', 
	            padding: '15px', 
	            backgroundColor: '#000', 
	            '-webkit-border-radius': '10px', 
	            '-moz-border-radius': '10px', 
	            opacity: .5, 
	            color: '#fff' 
	        } }); 
	 
	     }
			
		function hideLoading(){
			jQuery.unblockUI();
		}
				
		function selectAll(isChecked){			
			if(isChecked)
				jQuery('.ExtraFeeNameClass input:checkbox').attr('checked', 'checked');
			else
				jQuery('.ExtraFeeNameClass input:checkbox').removeAttr('checked');
		}
		
	</script>
	
	<apex:form >
		
		<apex:outputPanel id="addCustomFeePanel">
			<apex:outputPanel rendered="{!customFeesAdded}">
				<script>
					parent.refreshCart();
				</script>
			</apex:outputPanel>
		</apex:outputPanel>
		
		<apex:actionStatus id="statusUpdate" onstart="showLoading('Updating...');" onstop="hideLoading();" />
		
		<div id="header" >
			
			<apex:pageMessages id="errorMessage" />
			
			<div class="courseHeader">
				<apex:inputCheckbox onclick="selectAll(this.checked);" style="margin-top: -2px; margin-right: 2px;" />
				<apex:outputText value="Courses" />
			</div>
		
			<div id="courseList" style="border: 1px solid #AAAAAA; margin: 0 0.2em 0.2em; padding: 0.5em;" >
				<apex:selectCheckboxes value="{!selectedCourses}" style="width: 100%;" styleClass="ExtraFeeNameClass" >
					<apex:selectOptions value="{!courses}" />
	            </apex:selectCheckboxes>

				<script>
					//Script to add rows to selectCheckboxes
					var c = 0;
					var itemsPerLine = 2; //change here
					jQuery(".ExtraFeeNameClass tr td").each(function(){
					    c++;
					    if(c == itemsPerLine){
					        jQuery('<tr/>').append(jQuery(this).nextAll()).appendTo('.ExtraFeeNameClass');
					        c = 0;
					    }
					});
					jQuery(".ExtraFeeNameClass tr td:last-child").attr('colspan',itemsPerLine);
					//Script to add rows to selectCheckboxes
				</script>
				
			</div>
			
		</div>
		
		<div class="content" style="height: 350px; margin: 0.2em;">
			
			<div class="categoryHeader" style="font-size: 1em !important;"><span style="padding-left: 10px;">New Custom Fee</span></div>	
			
			<div style="padding: 0 1em; height: 90%">
			
				<apex:outputPanel id="newCustomFee" layout="block" styleClass="customFeePanel">
					
					<table width="100%" style="font-size: 0.9em; margin-top: 10px;">
						<tr>
							<td style="width: 375px;">
								<div class="SearchInput" >
									<apex:inputText value="{!newCustomFee.Name}" style="width: 350px;" />
								</div>
								<div class="SearchFooter">
									<apex:outputText value="Fee Name" styleClass="inputLabel" />
								</div>
							</td>
							
							<td style="width: 95px;">
								<div class="SearchInput">
									<apex:inputText value="{!newCustomFee.value}" style="width: 70px;" />
								</div>
								<div class="SearchFooter">
									<apex:outputText value="Value" styleClass="inputLabel" />
								</div>
							</td>
							
							<td style="width: 120px;">
								<div class="SearchInput">
									<apex:selectList value="{!newCustomFee.type}" size="1" style="width: 110px;">
										<apex:selectOptions value="{!typeOptions}" />
									</apex:selectList>
								</div>
								<div class="SearchFooter">
									<apex:outputText value="Type" styleClass="inputLabel" />
								</div>
							</td>
							
							<td style="width: 120px;">
								<div class="SearchInput">
									<apex:selectList value="{!newCustomFee.applyTo}" size="1" style="width: 110px;">
										<apex:selectOptions value="{!applyToOptions}" />
									</apex:selectList>
								</div>
								<div class="SearchFooter">
									<apex:outputText value="Apply To" styleClass="inputLabel" />
								</div>
							</td>
							
							<td valign="top">
								<apex:commandLink style="top: 5px;" action="{!addCustomFee}" value="Add/Subtract" status="statusUpdate" styleClass="agencyButton" reRender="errorMessage, listCustomFees, newCustomFee" oncomplete="resizeContent();"  />
							</td>
						</tr>
						
						
					</table>						
				
				</apex:outputPanel> <!-- customProductPanel -->
				
				
				<apex:outputPanel layout="block" id="listCustomFees" styleClass="customFeePanel">
					
					<!--<div class="categoryHeader" style="font-size: 1em !important; width: 100%">
						<span style="padding-left: 10px;">Custom Product List</span>
						<span style="float:right;">
							<apex:commandLink action="{!deleteCustomProducts}" value="Remove Selected" status="statusUpdate" styleClass="redButton" reRender="errorMessage, listCustomProducts, newCustomProduct" style="font-size: 0.8em;padding:3px 7px; "  />
						</span>	
					</div>-->
					
					<table class="prodListTable" width="100%" >
						<tr class="headerRow">
							<th class="headerRow" width="3%"></th>
							<th class="headerRow" width="30%">Name</th>
							<th class="headerRow" width="10%">Value</th>
							<th class="headerRow" width="10%">Apply To</th>
						</tr>
						<apex:repeat value="{!customFees}" var="cf">
							<tr>
								<td>
									<a class="deleteAnchor" >
			                            <apex:image title="Remove" url="{!URLFOR($Resource.icons,'icons/commons/bullet_delete.png')}" >
			                                <apex:actionSupport event="onclick" reRender="listCustomFees" action="{!deleteCustomFee}" status="statusUpdate" >
			                                    <apex:param name="cfid" value="{!cf.id}"/>
			                                </apex:actionSupport>
			                            </apex:image>
			                        </a>
								</td>
								<td>
									<apex:outputText value="{!cf.Name}" style="{!IF(cf.type == 'subtract', 'color:red;','')}"/>
								</td>
								<td>
									<apex:outputText value="-" style="{!IF(cf.type == 'subtract', 'color:red;',' display:none;')}" />
									<apex:outputText value="{0,number,currency}" style="{!IF(cf.type == 'subtract', 'color:red;','')}">
                                        <apex:param value="{!cf.value}" />
                                    </apex:outputText>
								</td>
								<td>
									<apex:outputText value="{!IF(cf.applyTo == 'extraFee', 'Extra Fees', 'Tuition')}" style="{!IF(cf.type == 'subtract', 'color:red;','')}"/>
								</td>
							</tr>
						</apex:repeat>
					</table>
					
				</apex:outputPanel>
			
			</div>
			
			
		</div>	
		
		<div style="text-align:center;width:100%;clear:both;padding-top:15px;bottom: 1px;position: fixed; background-color: #E1E1E1; height: 29px;" >
			<apex:commandLink action="{!saveCustomFees}" value="Save Custom Fees" status="statusUpdate" styleClass="agencyButton" reRender="errorMessage,addCustomFeePanel" oncomplete="resizeContent(); parent.refreshPage()" />
			<apex:commandLink onclick="parent.closeModalWindow(); return false;" value="Cancel" styleClass="agencyButton" />
			
		</div>	
		
	</apex:form>	
	
</apex:page>