<apex:page standardController="Web_Search__c" showHeader="false" sidebar="false" extensions="xcourse_overview" >
		
	<apex:stylesheet value="{!URLFOR($Resource.assets,'css/reset.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.assets,'fonts')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.assets,'css/global.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.assets,'css/style.css')}"/>
	
	<apex:include pageName="xCourseSearchStyle" />
	
	<apex:includeScript value="{!$Resource.jquery}"/> 
	
	
 <style>
        
        .pbSubheader {
        -moz-background-clip:border !important;
        -moz-background-inline-policy:continuous !important;
        -moz-background-origin:padding !important;
        background:#CCE0CC none repeat scroll 0 0 !important;
        height:13px;
        }
        
        .listViewport .x-grid3-row-over, .errorConsole .x-grid3-row-over, body .pbBody table.list tr.dataRow.highlight td, body .pbBody table.list tr.dataRow.highlight th {background-color: transparent;}
        

        .pbBody {margin:0px !important;}
        
        body {
	        font-family:Helvetica,Arial,sans-serif;
	        font-size:0.75em;
        }
        
        .yui-skin-sam .yui-calcontainer {
	        background-color:#CCE0CC;
	        border:1px solid #808080;
	        padding:10px;
        }

        .yui-skin-sam .yui-calcontainer.multi .groupcal {
	        background-color:transparent;
	        border:medium none;
	        font-size:0.8em;
	        margin:0;
	        padding:5px;
        }
        
        .yui-calendar .calheader {
	        color:red;
	        position:relative;
	        text-align:center;
	        width:100%;
        }
        
        
        body .bPageBlock{
	        background-color: #FFFFFF !important;
	        border: medium none !important;
        }
        
        
        .new{
            height: 30px !important;    
            font-weight: bold;
            font-size: 1em;
        }

      
		.rich-tab-inactive {
            background-color: #DDD;
			background-image:none !important;
			background-position: 0 -25px;
		}
		
		.rich-tab-active {
            background-image:none !important;
			background-position: 0 -63px;
		}
            
		.rich-panelbar-content {
			border: 1px solid #C0C0C0;
		}
		
       
        
        .toolHeader{            
			font-size:1.2em;
            font-weight: bold;
            border: 1px solid #C0C0C0;
            padding: 3px;
            color: #FFF;
            font-size: 1.6em;
            padding: 5px 7px;
        }
        

                
        .yui-skin-sam .yui-calcontainer {
            background-color: #FFFFFF !important;
        }
        
        
        /* <!-- Table Grey-zebra --> */
        
        table.grey-zebra { 
	        width:100%;
	        border-collapse: separate;
	        border: 0px; border-spacing: 0px;
	        -moz-border-radius: 4px;
	        -moz-box-shadow: #CCC 5px 5px 6px;
	        -webkit-border-radius: 4px;
	        -webkit-box-shadow: #CCC 5px 5px 6px;
	        border-radius: 4px; box-shadow: #CCC 5px 5px 6px; background: #ffffff;
   
        }

        table.grey-zebra tr td {background-color: #fff;}
        table.grey-zebra tr td:first-child {
        background-image:url({!URLFOR($Resource.icons,'icons/home_page/arrow_gray.png')});
        background-repeat:no-repeat;
        background-position:3px 8px;
        padding-left:17px;
        }
                                        
        table.grey-zebra thead tr td,
        table.grey-zebra tfoot tr td,
        table.grey-zebra th {background-image: none !important;}        
    
        table.grey-zebra th,table.grey-zebra tfoot td  {font-weight: bold; padding: 6px 6px 6px 6px; background-color: #f7f7f7; font-size: 14px; background-image:none;}
        
        table.grey-zebra tr.even td {background-color: #f3f3f3;}
        table.grey-zebra td {padding: 4px;} 
    
        table.grey-zebra tfoot td {text-align:right;}
        table.grey-zebra td.date {font-size: 11px; font-weight: bold; text-align: right}
        table.grey-zebra td.date-left {font-size: 11px; font-weight: bold; text-align: left}
        
        
        table.grey-zebra thead tr:hoved td {
        background: #ffffff !important;
        }

        .rich-panelbar-content-exterior { height:100% !important; }
		
			table.relatedFeeTable th{
			font-weight:bold !important;
			font-size: 0.85em !important;
			padding: 1px !important ;
			background-image:url('/resource/1367818070000/icons/icons/home_page/orangegradientlight.png') !important;
		}
		
		table.relatedFeeTable{
			width:100%; 
			border-spacing:0; 
			border: 1px solid #C0C0C0;
		}
		
		table.relatedFeeTable tr:nth-child(even)		{ background-color:#FFF !important; }
		
		table.list td.downborder{
			border-left: solid 1px gray !important;
			border-right: solid 1px gray !important;
			border-bottom: solid 1px gray !important;
			margin-bottom: 5px !important;
		}
		table.list td.upborder{
			border-top: solid 1px gray !important;
		}
	 
		.deal {
		    float: right;
		    padding-top: 18px;
	 		width: auto;
	 		font-size: 0.65em;
	 		clear: both;
		}
	 
		.subHeader{
	 		color: #A9A9A9 !important;
	 		padding-top: 15px;
	 		padding-bottom: 3px;
	 		border-bottom: 1px #E0E0E0 solid;
	 	}
	 
	 	.tdHeader {
			background-color: #e2f4ff;
			color: #777;
			border: 1px solid #FFFFFF;
			font-size: 1em;
			font-weight: bold;
			text-align: left;
		}
	 
	 	.priceDetails {
	 		width:100%;
	 		border-collapse: separate;
	 	}
	 	
	 
	 	.priceDetails td{
	 		padding: 7px;
	 	}
	 
	 	.values {
	 		text-align: right;
	 		padding-right: 3px;
	 	}
	 
	 	.description {
	 		padding-left: 5px;
	 	}
	 
	 	.related {
	 		padding-left: 15px;	 		
	 	}
	 
	 	.tax {
	 		font-size: 0.8em !important;
	 	}
	 
	 	.deal span {
	 		padding-right: 2px;
	 	}
	 	
	 	.deal strong {
	 		padding-right: 2px;
	 	}
	 
	 	.total {
	 		color: #ED891E !important;
		    font-size: 1.25em !important;
		    left: -121px;
		    position: absolute;
		    top: 29px;
	 	}
	 
		 .arrow {
		 	height: auto;
		    padding: 0 8px;
		    position: relative;
		    top: 2px;
		    width: 16px;
		 }
	 
	 
	 	.panelHeader {
	 		background-color: #C2C2C2;
		    background-image: none !important;		    
		    padding: 5px 0px;
	 		cursor: pointer;
	 
	 		-moz-user-select: none; 
	        -khtml-user-select: none; 
	        -webkit-user-select: none; 
	        -o-user-select: none; 
	 	}
	 	.panelTitle{
	 		color: #fff !important;
		    font-size: 1.4em;
	 		font-weight: bold;
	 		
	 	}
	 
	 	.panelContent {	 		
	 		padding: 5px;	 		
	 	}
	 
	 	
	 	.panelItem {
	 		clear:both;
	 		margin-bottom: 4px;
	 	}
	 
	 	.startDates {
			border: solid 2px #81b9dc;
	 		width: 98%;
	 		margin: 0 2%;
	 	}
	 	.startDateHeader {
	 		background-color: #DCDCDC;
	 		font-weight: bold;
	 		color: black;
	 		padding: 0 5px !important;	 		
	 	}
	 
	 	.groupedHeader {
			background-color: #81b9dc;
			clear: both;
			color: white;
			font-size: 0.9em !important;
			font-weight: bold;
			padding: 5px;
		}
	 
	 	.typeHeader {
	 		background-color: #E8E8E8;
	 		clear: both; 
	 		color: #4A4A56;
	 		font-size: 1em !important;
	 		font-weight: bold; 
	 		padding: 5px;
	 		border-bottom: 1px solid lightgrey;
	 	}
	 
	 	.attachment {
	 		height: 12px; 
	 		top:7px; 
	 		position:relative;
	 	}
	 
	 	.tooltip {
	 		margin-right: 3px;
		    position: relative;
		    top: 6px;
	 	}
		a.tooltip:hover{	        
	        text-decoration: none;
	        cursor: help;
	    }
	  
	    a.tooltip span {
	        padding:2px 3px; 
	        width:220px;
	    }
	    a.tooltip span{
	        display:inline; 
	        position:absolute; 
	        background-color: #C00000;
	        color: #FFFFFF;
	        font-weight: bold;
	        font-size: 13px;
	        font-family: "Trebuchet MS";
	        width: 220px;
	        border-radius: 3px;
	        padding: 4px;
	        text-align: left;
	        z-index: 1000;
	        -moz-border-radius: 10px 0 10px 10px;
	        filter: progid: DXImageTransform.Microsoft.Alpha(opacity=87);
	        -moz-opacity: .87;
	        -khtml-opacity: .87;
	        opacity: .87;
	    }
	 
	 	.innerWrapper {
	 		border: 1px solid lightgrey;
	 	}
	 	
	 	.typeGroup {
	 		padding: 5px;
			margin-bottom: 15px;
	 		display: none;
	 	}
	 
		.infoStyle {
		    color: #778899;
		    font-size: 0.9em;
		}
	 
	 	.feeStartDatesHeader{
	 		background-color: #81b9dc;
		    display: block;
		    font-weight: bold;	 		
	 		margin: 0 2%;
	 		padding: 3px 0;
	 		color:#000;
			width: 98%;
		}
	 	
	 	.info {
	 		border: 1px solid #C2C2C2;
	 		width: 100%;
	 	}	
	 	.info td {
	 		padding: 5px;
	 	}
	 
		.priceDetails tr td {
	    	border-bottom: 1px solid lightgrey;
	 		border-top: none;
		}
	 
	 	.agencyFont {
	 		font-weight: bold;
	 	}

	 	a.tooltip:hover{
			background:#ffffff; /*BG color is a must for IE6*/
			text-decoration: none;
			cursor: help;
		}
  	
		a.tooltip img {
			width: 13px;
			height: 13px;
			top: -4px;
			position: relative;
		}
			
		a.tooltip span {
			display:none; 
			padding:2px 3px; 
			width:220px;		
		}
		a.tooltip:hover span{
			display:inline; 
			position:absolute; 
			background-color: #C00000;
			color: #FFFFFF;
			font-weight: normal;
			font-size: 13px;
			font-family: "Trebuchet MS";
			width: 220px;
			border-radius: 3px;
			padding: 4px;
			text-align: left;
			z-index: 1000;
			-moz-border-radius: 10px 0 10px 10px;
			filter: progid: DXImageTransform.Microsoft.Alpha(opacity=87);
			-moz-opacity: .87;
			-khtml-opacity: .87;
			opacity: .87;
		}
		
		.relatedTable{
			border-left: 1px solid #C2C2C2
			border-right: 1px solid #C2C2C2
			border-bottom: 1px solid #C2C2C2
		
		}

		.panelContent p{
			color: black;
		}
		
		.nation {
			margin-top: 7px;
			display: block;
			font-size: 0.8em;
			width: max-content;
			padding: 3px;
			border: solid 1px 
			#c1c1c1;
			border-radius: 3px;
		}

		table.detailList tr th {
			color: #c1c1c1 !important;
		}

    </style>
    <script>
		var $ = jQuery.noConflict();
       	var effectTimer = 300;
		
		function togglePanel(panelID){
			
			$('.contentWrapper').slideUp();
			$('.arrowRight').show();
			$('.arrowDown').hide();
		
			var panel = $('#'+panelID);
			var panelContent = panel.find('.contentWrapper');
		
			if(panelContent.css('display') == 'none'){
				panelContent.slideDown(effectTimer);				
				panel.find('.arrowRight').hide();
				panel.find('.arrowDown').show();
			} else {
				panelContent.slideUp(effectTimer);
				panel.find('.arrowRight').show();
				panel.find('.arrowDown').hide();
				
			}
			
			
		}
		
		
    </script>
    
    <title>{!campusDetails.course__r.name} - {!campusDetails.campus__r.name}</title>
    <div class="toolHeader agencyBackground agencyFont">
        <apex:outputText style="font-size:1em;display:block;" value="{!campusDetails.course__r.Name}"/>
    </div>

    <div STYLE=" height: calc(100vh - 40px); width: 100%; overflow: auto; overflow-x: hidden; margin-top: 5px;">
        <apex:form >
			
			
			<!--  PRICE DETAILS -->
			<div id="priceDetailsPanel" class="panelItem" style="{!IF($CurrentPage.parameters.parent == 'compare', 'display:none', '')}" >
				<div class="panelHeader" onclick="togglePanel('priceDetailsPanel');">
					<img class="arrow arrowRight" src="{!URLFOR($Resource.assets,'images/arrow-right.png')}" style="display:none;" />
					<img class="arrow arrowDown" src="{!URLFOR($Resource.assets,'images/arrow-down.png')}" />
					<apex:outputText value="Price Details" styleClass="panelTitle" />
				</div>
				<div class="contentWrapper">
					<div class="panelContent" >
						
						
						<table class="priceDetails agencyFont">
			                <tr>
			                    <td class="tdHeader">Description</td>
								<td class="tdHeader">Price Per Unit</td>
			                    <td class="tdHeader">Quantity</td>
			                    <td class="tdHeader">Unit</td>
			                    <td class="tdHeader">Total Price</td>
			                </tr>
			                <tr>
			                    <td class="fee description agencyFont">
									<apex:outputText value="Tuition Fee" style="margin-left: 20px;"/>
								</td>
			                    <td class="values">
									<apex:outputText value="{0, number, currency}"  >
										<apex:param value="{!courseDetails.unitBasedCoursePrice}" />
									</apex:outputText>
									
								</td>
			                    <td class="values">
									<apex:outputText value=" {!CEILING(courseDetails.numberUnitsStudy)}"  rendered="{!courseDetails.bestpromotionDeal.quantity = 0}" /> 
	                                <apex:outputText value=" {!CEILING(courseDetails.numberUnitsStudy - courseDetails.bestpromotionDeal.quantity)}"  rendered="{!courseDetails.bestpromotionDeal.quantity > 0}" /> 
	                                <apex:outputText value=" + "  rendered="{!courseDetails.bestpromotionDeal.quantity > 0}" /> 
									<apex:outputText value="{!CEILING(courseDetails.bestpromotionDeal.quantity)} FREE" style="color:red;" rendered="{!courseDetails.bestpromotionDeal.quantity > 0}" />
									
								</td>
								<td class="values">
									{!courseDetails.courseUnitType}
								</td>
			                    <td class="values">
									<!--apex:outputText value="{0,number,currency}" rendered="{!NOT(courseDetails.onlySoldInBlocks)}">
										<apex:param value="{!courseDetails.unitBasedCoursePrice*courseDetails.numberUnitsStudy}" />
									</apex:outputText-->	
									<apex:outputText value="{0, number, currency}"  rendered="{!NOT(courseDetails.onlySoldInBlocks) && courseDetails.bestpromotionDeal.quantity = 0}" >
										<apex:param value="{!courseDetails.unitBasedCoursePrice*(courseDetails.numberUnitsStudy)}" />
									</apex:outputText>
	                                <apex:outputText value="{0, number, currency}"  rendered="{!NOT(courseDetails.onlySoldInBlocks) && courseDetails.bestpromotionDeal.quantity > 0}" >
										<apex:param value="{!courseDetails.unitBasedCoursePrice*(courseDetails.numberUnitsStudy - courseDetails.bestpromotionDeal.quantity)}" />
									</apex:outputText>	
									<apex:outputText value="{0,number,currency}" rendered="{!courseDetails.onlySoldInBlocks}">
										<apex:param value="{!courseDetails.unitBasedCoursePrice}" />
									</apex:outputText>	
								</td>
			                </tr>
							
							<apex:repeat value="{!courseDetails.validExtraFees}" var="validExtraFees">
				                <tr style="{!IF(NOT(ISNULL(courseDetails.validExtraFees[validExtraFees].extrafee.Value__c)), '', 'display:none;')}">
				                    <td class="fee description">
										<apex:outputPanel rendered="{!NOT(ISNULL(courseDetails.validExtraFees[validExtraFees].extraFeeDescription))}" >     
											<a class="tooltip" target="_blank">
												<apex:image url="{!URLFOR($Resource.assets,'images/transparent/i-iconSmall.png')}" styleclass="agencyBackground"/>
												<span class="agencyBackground"><apex:outputText value="{!courseDetails.validExtraFees[validExtraFees].extraFeeDescription}" escape="false" /></span>
											</a>
										</apex:outputPanel>
										<apex:outputText value="{!courseDetails.validExtraFees[validExtraFees].extrafee.product__r.name__c}" rendered="{!NOT(ISNULL(courseDetails.validExtraFees[validExtraFees].extraFeeDescription))}" />
										<apex:outputText value="{!courseDetails.validExtraFees[validExtraFees].extrafee.product__r.name__c}" rendered="{!ISNULL(courseDetails.validExtraFees[validExtraFees].extraFeeDescription)}" style="margin-left: 20px;" />
										
									</td>
				                    <td class="values">
										<apex:outputText value="{0, number, currency}" rendered="{!courseDetails.validExtraFees[validExtraFees].extrafee.Allow_change_units__c}">
											<apex:param value="{!courseDetails.validExtraFees[validExtraFees].extrafee.Value__c}" />
										</apex:outputText>	
										<apex:outputText value="" rendered="{!NOT(courseDetails.validExtraFees[validExtraFees].extrafee.Allow_change_units__c)}"/>
									</td>
				                    <td class="values">
										<apex:outputText value="{!courseDetails.validExtraFees[validExtraFees].extrafee.From__c}" rendered="{!courseDetails.validExtraFees[validExtraFees].extrafee.Allow_change_units__c}"/>
										<apex:outputText value="" rendered="{!NOT(courseDetails.validExtraFees[validExtraFees].extrafee.Allow_change_units__c)}"/>
									</td>
									<td class="values">
										<apex:outputText value="{!courseDetails.validExtraFees[validExtraFees].extrafee.ExtraFeeInterval__c}" rendered="{!courseDetails.validExtraFees[validExtraFees].extrafee.Allow_change_units__c}"/>
									</td>
				                    <td class="right values">
										<apex:outputText value="{0, number, currency}" rendered="{!courseDetails.validExtraFees[validExtraFees].extrafee.Allow_change_units__c}" >	
											<apex:param value="{!courseDetails.validExtraFees[validExtraFees].extrafee.Value__c * (courseDetails.validExtraFees[validExtraFees].extrafee.From__c)}" />
										</apex:outputText>
										<apex:outputText value="{0, number, currency}" rendered="{!NOT(courseDetails.validExtraFees[validExtraFees].extrafee.Allow_change_units__c)}">
											<apex:param value="{!courseDetails.validExtraFees[validExtraFees].extrafee.Value__c}" />
										</apex:outputText>	
									</td>
				                </tr>
								
								
								
								
								<apex:repeat value="{!courseDetails.validExtraFees[validExtraFees].relatedExtraFee}" var="relatedFee">
									<tr>
										<td class="fee description related"><apex:outputText style="color: #555;" value="{!relatedFee.product__r.Name__c}"/></td>
										<td class=" values"><apex:outputText value="{!relatedFee.Value__c}" style="color: #555;" /></td>
										<td class=" values"><!--<apex:outputText value="{!relatedFee.From__c}" style="color: #555;" />--></td>
										<td class="values"><!--<apex:outputText value="{!relatedFee.ExtraFeeInterval__c}" style="color: #555;" />--></td>
										<td class="values">
											<apex:outputText value="{0, number, currency}" style="color: #555;" >
												<apex:param value="{!relatedFee.Value__c}" />
											</apex:outputText>
											
										</td>
									</tr>
								</apex:repeat>
								
								
								
								<!--=============================== COMBINED FEES=========================================================-->
								<apex:outputPanel rendered="{!courseDetails.validExtraFees[validExtraFees].listCombinedFees != null}" layout="none">
									<!--===============  COMBINED FEES DETAILS  ==========================================-->
									<apex:repeat value="{!courseDetails.validExtraFees[validExtraFees].combinedFeesDetails}" var="combinedFee" >
										<apex:repeat value="{!courseDetails.validExtraFees[validExtraFees].combinedFeesDetails[combinedFee]}" var="selFee">
											<apex:outputPanel rendered="{!courseDetails.validExtraFees[validExtraFees].selectedCombinedFee == selFee.extrafee.product__c}" layout="none">
											<tr>
												<td class="description">
													
													<apex:outputPanel rendered="{!NOT(ISNULL(selFee.extrafee.Extra_info__c))}" >     
														<a class="tooltip" target="_blank">
															<apex:image url="{!URLFOR($Resource.assets,'images/transparent/i-iconSmall.png')}" styleclass="agencyBackground"/>
															<span class="agencyBackground"><apex:outputText value="{!selFee.extrafee.Extra_info__c}" escape="false" /></span>
														</a>
													</apex:outputPanel>
													<apex:outputText value="{!selFee.extrafee.product__r.name__c}" rendered="{!NOT(ISNULL(selFee.extrafee.Extra_info__c))}" />
													<apex:outputText value="{!selFee.extrafee.product__r.name__c}" rendered="{!ISNULL(selFee.extrafee.Extra_info__c)}" style="margin-left: 20px;" />
																
												</td>
												<td class="values"><apex:outputText value="{!selFee.extrafee.Value__c}" /></td>
												<td class="values"></td>
												<td class="values"></td>
												<td class="values">
													<apex:outputText value="{0, number, currency}" >
														<apex:param value="{!selFee.extrafee.Value__c}" />
													</apex:outputText>
													
												</td>
											</tr>
											<apex:repeat value="{!selFee.relatedExtraFee}" var="relatedFee">
												<tr>
													<td  class="description related">
														<strong style="display:block;text-align:left;">
															<apex:outputText value="{!relatedFee.product__r.Name__c}" style="color:#778899;font-size:0.9em;"/>
															<apex:outputPanel StyleClass="infoTitle" rendered="{!NOT(ISNULL(relatedFee.Details__c))}"  >
				                                                <apex:image url="{!URLFOR($Resource.icons,'icons/commons/info3.png')}"/>  
				                                                <span style="display: block;" class="infocontent"><apex:outputText value="{!relatedFee.Details__c}" escape="false"/></span>
				                                            </apex:outputPanel> 
														</strong>
													</td>
													<td class="values">&nbsp;</td>
													<td class="values"></td>
													<td class="values">&nbsp;</td>
													<td class="values">
														<apex:outputText value="{0, number, currency}" style="color:#778899;font-size:0.9em;">
															<apex:param value="{!relatedFee.Value__c}" />
														</apex:outputText>
														
													</td>
												</tr>
											</apex:repeat>
											</apex:outputPanel>
										</apex:repeat>
									</apex:repeat>

								</apex:outputPanel>
			               </apex:repeat>
						   
						  	
						   <apex:repeat value="{!courseDetails.promotionExtraFeeDiscount}" var="feeDiscount">
								<tr>
									<td class="fee description" >
										<apex:outputText value="{!courseDetails.promotionExtraFeeDiscount[feeDiscount].feeName} - {!courseDetails.promotionExtraFeeDiscount[feeDiscount].name} " style="color: red;" />
									</td>
									<td class="values">&nbsp;</td>
									<td class="values" >&nbsp;</td>
									<td class="values" >&nbsp;</td>
									<td class="values" style="color: red;">
										<apex:outputText value="-{0,number,currency}">
											<apex:param value="{!courseDetails.promotionExtraFeeDiscount[feeDiscount].value}" />
										</apex:outputText>
									</td>
								</tr>
								
							</apex:repeat>
							
							
			            </table>
			           
			           <div class="deal">
						   
			                 <apex:outputPanel rendered="{!courseDetails.bestpromotionDeal.quantity > 0 || courseDetails.totalExtraFeePromotions > 0}" styleClass="originalPrice" style="display:inline;">
								 
								<apex:outputText value="{!courseDetails.campusCurrency}" style="text-decoration:line-through;float:right;font-size:1em;" />
								 
	                            <apex:outputText value="{0,number,currency}" rendered="{!NOT(courseDetails.onlySoldInBlocks)}" style="text-decoration:line-through; font-size:1em;float:right; ">
	                            	<apex:param value="{!courseDetails.unitBasedCoursePrice*courseDetails.numberUnitsStudy+courseDetails.totalExtraFees}" />										
	                            </apex:outputText>  

	                            <apex:outputText value="{0,number,currency}" rendered="{!courseDetails.onlySoldInBlocks}" style="text-decoration:line-through; font-size:1em;float:right; ">
	                                <apex:param value="{!courseDetails.unitBasedCoursePrice+courseDetails.totalExtraFees+courseDetails.soldInBlocksDiscountValue}" />
	                            </apex:outputText>  
								
								
	                        </apex:outputPanel>


	                        <strong>  
								
	                            <apex:outputText value="Total: {0,number,currency}" >
	                                <apex:param value="{!courseDetails.totalValueCourse}" />
	                            </apex:outputText>
								<apex:outputText value="{!courseDetails.campusCurrency}" style="font-size: 0.8em; color: #ED891E; float:right; margin-left: 3px; position: relative; top: 4px;"  />
	                        </strong>
			                <small>
	                            (price for 
	                            <apex:outputText value=" {!CEILING(courseDetails.numberUnitsStudy)}"  rendered="{!courseDetails.bestpromotionDeal.quantity = 0}" /> 
	                            <apex:outputText value=" {!CEILING(courseDetails.numberUnitsStudy - courseDetails.bestpromotionDeal.quantity)}"  rendered="{!courseDetails.bestpromotionDeal.quantity > 0}" /> 
	                            <apex:outputText value=" + {!CEILING(courseDetails.bestpromotionDeal.quantity)} FREE"  rendered="{!courseDetails.bestpromotionDeal.quantity > 0}" />
	                            {!courseDetails.courseUnitType}{!IF(CEILING(courseDetails.bestpromotionDeal.quantity) > 1, 's','')})
	                            <!--============== OTHER EXTRA FREE WEEK PROMOTIOM ==================-->
	                            <apex:outputText value=" + extra {!CEILING(courseDetails.courseExtraFreeWeek)} {!courseDetails.courseUnitType}{!IF(courseDetails.courseExtraFreeWeek > 1, 's','')}"  style="font-size:1.2em;padding-top:3px;" rendered="{!courseDetails.courseExtraFreeWeek > 0}" /> 
	                        </small>
	                        <span class="tax" style="font-size: 1.2em !important;">(including taxes &amp; fees)</span>
			               
			            </div>
			            <i style="{!IF(courseDetails.bestpromotionDeal.quantity > 0 || courseDetails.courseExtraFreeWeek > 0,'','display:none;')}">&nbsp;</i>
						<div style="clear:both;"></div>
						
						
					</div>
				</div>	
			</div>
			<!--  END PRICE DETAILS -->
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			<!--  COURSE PRICES -->
			<div id="coursePricesPanel" class="panelItem"  >
				<div class="panelHeader" onclick="togglePanel('coursePricesPanel');">
					<img class="arrow arrowRight" src="{!URLFOR($Resource.assets,'images/arrow-right.png')}" style="{!IF($CurrentPage.parameters.parent == 'compare', 'display: none;', 'display:inline;')}" />
					<img class="arrow arrowDown" src="{!URLFOR($Resource.assets,'images/arrow-down.png')}" style="{!IF($CurrentPage.parameters.parent == 'compare', 'display: inline;', 'display:none;')}" />
					<apex:outputText value="Course Prices" styleClass="panelTitle" />
				</div>
				<div class="contentWrapper" style="{!IF($CurrentPage.parameters.parent == 'compare', 'display: block', 'display:none;')}">
					<div class="panelContent" >
						
						<apex:repeat value="{!CoursePrices}" var="mapPrices">
							
							<div class="groupedHeader">
                        		<apex:outputText value="{!mapPrices}" style="font-size: 1.2em; {!IF(CoursePrices[mapPrices][0].Price_valid_until__c < today(), 'color:red','')};"/>
							</div>
							
                            <table class="priceDetails agencyFont" style="border-left: 1px solid #e0e3e5; border-right: 1px solid #e0e3e5;">
				                <tr>									
				                    <td class="tdHeader" style="border-left: none; border-top: none;">Nationality Group</td>
									<td class="tdHeader" style="border-top: none;" >Number of <span style="color: #000; font-weight: bold;"> {!campusDetails.course__r.Course_Unit_Type__c}(s)</span></td>
				                    <td class="tdHeader" style="border-top: none;">Unit Price <span style="color: #000; font-weight: bold;"> ({!campusDetails.campus__r.account_currency_iso_code__c})</span></td>
									<td class="tdHeader" style="border-top: none;">Unit Desc</td>
									<td class="tdHeader" style="border-right: none; border-top: none;">File</td>
									<td class="tdHeader" style="border-right: none; border-top: none;">Notes</td>
				                </tr>
								<apex:repeat value="{!CoursePrices[mapPrices]}" var="p" >
					                <tr>										
					                    <td style="{!IF(p.Start_Date_Ranges__r.size > 0,'border-bottom: none;','')}" class="fee description" align="left">
											<apex:outputField value="{!p.Nationality__c}"/>
											<br/>
											<!-- <apex:outputText value="{!CASE(CEILING(p.Availability__c),1, 'Onshore', 2, 'Only Offshore', 3, 'Onshore & Offshore', '')}"/> -->
											<apex:outputText value="{!CASE(p.Availability__c,3,'OnShore & OffShore',1,'OnShore','OffShore')}" styleClass="nation" style="{!CASE(p.Availability__c,3,'',1,'color:red;','color:green')}"/>
										</td>
					                    <td style="{!IF(p.Start_Date_Ranges__r.size > 0,'border-bottom: none;','')}" align="left">
											<apex:outputText value="{0, number, 0}">
                                                <apex:param value="{!p.From__c}" />
                                            </apex:outputText>
                                            <apex:outputPanel rendered="{!p.Campus_Course__r.Course__r.Only_Sold_in_Blocks__c = false}">
                                                <apex:outputLabel value=" - " /> 
                                                <apex:outputText value="{0, number, 0}" rendered="{!p.To__c != 0}">
                                                    <apex:param value="{!p.To__c}" />
                                                </apex:outputText>
                                                <apex:outputLabel value="or more" rendered="{!p.To__c = 0}" /> 
                                            </apex:outputPanel>
										</td>
										<td style="{!IF(p.Start_Date_Ranges__r.size > 0,'border-bottom: none;','')}" align="left" >
											<apex:outputText value="{0, number, currency}">
                                                <apex:param value="{!p.Price_per_week__c}" />
                                            </apex:outputText>											
										</td>
										
										<td style="{!IF(p.Start_Date_Ranges__r.size > 0,'border-bottom: none;','')}" align="left">
											<apex:outputField value="{!p.unit_description__c}"/>
										</td>
										<td style="{!IF(p.Start_Date_Ranges__r.size > 0,'border-bottom: none;','')}" align="left">											
											<!--<apex:commandLink action="{!Preview_Link__c}" target="_blank" rendered="{!NOT(ISNULL(p.Account_Document_File__c))}" >
												<apex:image title="{!p.Account_Document_File__r.File_Name__c} ({!p.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment" />
												<apex:param value="{!p.Account_Document_File__c}" name="fileId" />						
											</apex:commandLink>-->
											
											<!-- <apex:outputLink value="{!p.Account_Document_File__r.Preview_Link__c}" target="_blank" rendered="{!NOT(ISNULL(p.Account_Document_File__c))}"> -->
											<apex:outputLink value="{!IF(contains(p.Account_Document_File__r.Preview_Link__c, '!#!'), LEFT(p.Account_Document_File__r.Preview_Link__c, Find('!#!', p.Account_Document_File__r.Preview_Link__c)-1), p.Account_Document_File__r.Preview_Link__c)}" target="_blank" rendered="{!NOT(ISNULL(p.Account_Document_File__c))}">
												<apex:image title="{!p.Account_Document_File__r.File_Name__c} ({!p.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment" />
											</apex:outputLink>
										</td>
										
										<td style="{!IF(p.Start_Date_Ranges__r.size > 0,'border-bottom: none;','')}  padding: 0px 5px;">
											<div class="extraInfo infoStyle">
												<apex:outputField value="{!p.Comments__c}"/>
											</div>
										</td>
					                </tr>
									
									<!-- <tr style="display:none;"><td></td></tr> -->
									<!-- <tr style="{!IF(NOT(ISBLANK(p.Comments__c)), '', 'display:none;')}">
										<td colspan="7" style="padding: 0px 5px;">
											<div class="extraInfo infoStyle">
												<apex:outputField value="{!p.Comments__c}"/>
											</div>
										</td>
									</tr> -->
									
									<apex:outputPanel layout="none" rendered="{!p.Start_Date_Ranges__r.size > 0}">
										<tr style="display:none;"><td></td></tr>
										<tr>
											
											<td colspan="6">												
												
												<div class="feeStartDatesHeader feeStartDatesHeader-{!p.id}" >
													<apex:commandLink onclick="$('.priceStartDates-{!p.id}').toggle(); $('.priceStartDatesMax-{!p.id}').toggle(); $('.priceStartDatesMin-{!p.id}').toggle(); return false;" style="margin: 5px;position: relative;
													top: 2px;">
														<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-max.png')}" styleClass="priceStartDatesMax-{!p.id}" />
														<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-min.png')}" styleClass="priceStartDatesMin-{!p.id}" style="display:none;"/>
													</apex:commandLink>
													<apex:outputText value="Special Start Date Prices" style="position: relative; top: -2px;" />
												</div>
												
												<table class="startDates priceStartDates-{!p.id}" style="display:none;">
													<tr>
														
														<td class="" style="font-weight: normal;">Start Date From</td>
														<td class="" style="font-weight: normal;">Start Date To</td>
														<td class="" style="font-weight: normal;">Start Date Value ({!campusDetails.campus__r.account_currency_iso_code__c})</td>
														<td class="" style="font-weight: normal;">Comments</td>
														<td class="" style="font-weight: normal;">File</td>
													</tr>
													<apex:repeat value="{!p.Start_Date_Ranges__r}" var="startDate">
														<tr>															
															<td align="left">
																<apex:outputField value="{!startDate.From_Date__c}" />
															</td>
															<td align="left">
																<apex:outputField value="{!startDate.To_Date__c}" />
															</td>
															<td align="left">
																<apex:outputText value="{0, number, currency}">
					                                                <apex:param value="{!startDate.Value__c}" />
					                                            </apex:outputText>
															</td>
															<td align="left">
																<apex:outputText value="{!startDate.Comments__c}" escape="false" />
															</td>
															<td align="left">
																<!--<apex:commandLink action="{!viewFile}" target="_blank" rendered="{!NOT(ISNULL(startDate.Account_Document_File__c))}" >
																	<apex:image title="{!startDate.Account_Document_File__r.File_Name__c} ({!startDate.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment"  style="top: 0px;" />
																	<apex:param value="{!startDate.Account_Document_File__c}" name="fileId" />						
																</apex:commandLink>-->
																
																<apex:outputLink value="{!startDate.Account_Document_File__r.Preview_Link__c}" target="_blank" rendered="{!NOT(ISNULL(startDate.Account_Document_File__c))}">
																	<apex:image title="{!startDate.Account_Document_File__r.File_Name__c} ({!startDate.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment" style="top: 0px;" />
																</apex:outputLink>
																
															</td>
														</tr>
													</apex:repeat>
												</table>
											</td>
										</tr>
									</apex:outputPanel>
									
								</apex:repeat>
							</table>   
						</apex:repeat>
						
						
						
					</div>
				</div>
					
			</div>
			<!--  END COURSE PRICES -->
			
			
			
			
			
			
			
			
			
			<!-- EXTRA FEES -->
			<div id="extraFeesPanel" class="panelItem" >
				<div class="panelHeader" onclick="togglePanel('extraFeesPanel');">
					<img class="arrow arrowRight" src="{!URLFOR($Resource.assets,'images/arrow-right.png')}"  />
					<img class="arrow arrowDown" src="{!URLFOR($Resource.assets,'images/arrow-down.png')}" style="display:none;" />
					<apex:outputText value="Extra Fees" styleClass="panelTitle" />
				</div>
				<div class="contentWrapper" style="display:none;">
					<div class="panelContent">
						
						<apex:repeat value="{!GroupedRequiredExtraFees}" var="type">
							
							<div class="typeHeader">
                        		<apex:commandLink onclick="$('.feetype-{!type}').toggle(); $('.feesMax-{!type}').toggle(); $('.feesMin-{!type}').toggle();return false;" style="margin-right: 10px;">
									<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-max.png')}" id="btnMax" styleClass="feesMax-{!type}" style="display:none;" />
									<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-min.png')}" id="btnMin" styleClass="feesMin-{!type}" />
								</apex:commandLink>	
								<apex:outputText value="{!type}" style="font-size: 1.2em;" escape="false"/>
							</div>
							
							<div class="typeGroup feetype-{!type}" style="display: block;">
							
								<apex:repeat value="{!GroupedRequiredExtraFees[type]}" var="ef">
									
									<div class="groupedHeader">
		                        		<apex:outputText value="{!GroupedRequiredExtraFees[type][ef].dateRange}" style="font-size: 1.2em;" escape="false"/>
									</div>
									
									<div class="innerWrapper">
										
										<apex:repeat value="{!GroupedRequiredExtraFees[type][ef].feesByName}" var="fee" >
											
											<div class="agencyBackground agencyFont" style="margin-top: 5px; font-weight: bold; padding: 5px; font-size: 1.1em; color: white;">
												<apex:outputText value="{!fee}" />
											</div>
											
											
											<table class="priceDetails agencyFont" >
								                <tr>													
								                    <td class="tdHeader" style="border-left: none; border-top: none;">Nationality Group</td>
													<td class="tdHeader" style="border-top: none;">From</td>
													<td class="tdHeader" style="border-top: none;">Value ({!campusDetails.campus__r.account_currency_iso_code__c})</td>
													<td class="tdHeader" style="border-top: none;">Combine Fees</td>
													<td class="tdHeader" style="border-right: none; border-top: none;">File</td>
													<td class="tdHeader" style="border-right: none; border-top: none;">Notes</td>
								                </tr>
												<apex:repeat value="{!GroupedRequiredExtraFees[type][ef].feesByName[fee].fees}" var="f">
													<tr>
														
														<td align="left">
															<apex:variable value="{!f.Product__r.Name__c}" var="feeName" />
															<apex:outputText value="{!f.Nationality__c}" /><br/>
															<!-- <apex:outputText value="{!CASE(f.Availability__c,3.0,'OnShore & OffShore',1.0,'OnShore','OffShore')}"  style="font-size: 0.8em; {!CASE(f.Availability__c,3.0,'',1.0,'color:red;','color:green')}"/> -->
															<apex:outputText value="{!CASE(f.Availability__c,3.0,'OnShore & OffShore',1.0,'OnShore','OffShore')}" styleClass="nation"  style="{!CASE(f.Availability__c,3.0,'',1.0,'color:red;','color:green')}"/>
														</td>
														<td align="left">
															<apex:outputText value="{!f.From__c}" />
															<apex:outputText value=" ({!f.ExtraFeeInterval__c})" style="font-size: 0.8em;" rendered="{!NOT(ISBLANK(f.ExtraFeeInterval__c))}" />
														</td>												
														
														<td align="left">
															<apex:outputText value="{0, number, currency}" >
																<apex:param value="{!f.Value__c}" />
															</apex:outputText>
														</td>
														<td align="left">
															<apex:outputField value="{!f.Combine_fees__c}" />
														</td>
														<td>
															
															<!--<apex:commandLink action="{!viewFile}" target="_blank" rendered="{!NOT(ISNULL(f.Account_Document_File__c))}" >
																<apex:image title="{!f.Account_Document_File__r.File_Name__c} ({!f.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment" />
																<apex:param value="{!f.Account_Document_File__c}" name="fileId" />						
															</apex:commandLink>-->
															
															<apex:outputLink value="{!f.Account_Document_File__r.Preview_Link__c}" target="_blank" rendered="{!NOT(ISNULL(f.Account_Document_File__c))}">
																<apex:image title="{!f.Account_Document_File__r.File_Name__c} ({!f.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment"  />
															</apex:outputLink>
															
														</td>
														<td style="padding: 0px 5px;">
															<div class="extraInfo infoStyle">
																<apex:outputField value="{!f.Extra_info__c}" />
															</div>
														</td>
													</tr>
													
													<tr style="display:none;"><td></td></tr>
													<!-- <tr style="{!IF(NOT(ISBLANK(f.Extra_info__c)), '', 'display:none;')}">
														<td colspan="7" style="padding: 0px 5px;">
															<div class="extraInfo infoStyle">
																<apex:outputField value="{!f.Extra_info__c}" />
															</div>
														</td>
													</tr> -->
													
													<apex:outputPanel layout="none" rendered="{!hasStartDates[f.id]}">
														<tr style="display:none;"><td></td></tr>
														<tr>
															<td colspan="7">
																
																<div class="feeStartDatesHeader feeStartDatesHeader-{!f.id}" >
																	<apex:commandLink onclick="$('.feeStartDates-{!f.id}').toggle(); $('.feeStartDatesMax-{!f.id}').toggle(); $('.feeStartDatesMin-{!f.id}').toggle(); return false;" style="margin-right: 10px;">
																		<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-max.png')}" styleClass="feeStartDatesMax-{!f.id}" />
																		<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-min.png')}" styleClass="feeStartDatesMin-{!f.id}" style="display:none;"/>
																	</apex:commandLink>
																	<apex:outputText value="Special Start Date Prices" style="position: relative; top: -2px;" />
																</div>
																	
																
																<table class="startDates feeStartDates-{!f.id}" style="display:none;">
																	<tr>																		
																		<td class="" style="font-weight: normal;">
																			Start Date From
																		</td>
																		<td class="" style="font-weight: normal;">
																			Start Date To
																		</td>
																		<td class="" style="font-weight: normal;">
																			Start Date Value ({!campusDetails.campus__r.account_currency_iso_code__c})
																		</td>
																		<td class="" style="font-weight: normal;">
																			Comments
																		</td>
																		<td class="" style="font-weight: normal;">
																			File
																		</td>
																	</tr>
																	<apex:repeat value="{!StartDates[f.id]}" var="startDate">
																		<tr>																			
																			<td align="left">
																				<apex:outputField value="{!startDate.From_Date__c}" />
																			</td>
																			<td align="left">
																				<apex:outputField value="{!startDate.To_Date__c}" />
																			</td>
																			<td align="left">
																				<apex:outputText value="{0, number, currency}">
									                                                <apex:param value="{!startDate.Value__c}" />
									                                            </apex:outputText>
																			</td>
																			<td align="left">
																				<apex:outputText value="{!startDate.Comments__c}" escape="false" />
																			</td>
																			<td align="left">
																				<!--<apex:commandLink action="{!viewFile}" target="_blank" rendered="{!NOT(ISNULL(startDate.Account_Document_File__c))}" >
																					<apex:image title="{!startDate.Account_Document_File__r.File_Name__c} ({!startDate.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment"  style="top: 0px;" />
																					<apex:param value="{!startDate.Account_Document_File__c}" name="fileId" />						
																				</apex:commandLink>-->
																				
																				<apex:outputLink value="{!startDate.Account_Document_File__r.Preview_Link__c}" target="_blank" rendered="{!NOT(ISNULL(startDate.Account_Document_File__c))}">
																					<apex:image title="{!startDate.Account_Document_File__r.File_Name__c} ({!startDate.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment"  />
																				</apex:outputLink>
																				
																			</td>
																		</tr>
																	</apex:repeat>
																</table>
															</td>
														</tr>
													</apex:outputPanel>
													
													
													
												</apex:repeat>
											</table>
											
										</apex:repeat>
										
									</div>
									
									<div style="clear:both; height: 10px;"></div>
									
								</apex:repeat>
							</div>
						
						</apex:repeat>
						
					</div>
				</div>
			</div>
			<!--  END EXTRA FEES -->
			
			
			
			
			
			<!-- OPTIONAL EXTRA FEES -->
			<apex:outputPanel rendered="{!totOptionalExtraFees > 0}">
				<div id="optionalExtraFeesPanel" class="panelItem" >
					<div class="panelHeader" onclick="togglePanel('optionalExtraFeesPanel');">
						<img class="arrow arrowRight" src="{!URLFOR($Resource.assets,'images/arrow-right.png')}"  />
						<img class="arrow arrowDown" src="{!URLFOR($Resource.assets,'images/arrow-down.png')}" style="display:none;" />
						<apex:outputText value="Optional Extra Fees" styleClass="panelTitle" />
					</div>
					<div class="contentWrapper" style="display:none;">
						<div class="panelContent">
							
							<apex:repeat value="{!groupedOptionalExtraFees}" var="type">
								
								
								<div class="typeHeader">
									<apex:commandLink onclick=" $('.optionalType-{!SUBSTITUTE(type, ' ', '')}').toggle(); $('.optionalFeesMax-{!SUBSTITUTE(type, ' ', '')}').toggle(); $('.optionalFeesMin-{!SUBSTITUTE(type, ' ', '')}').toggle();return false;" style="margin-right: 10px;">
										<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-max.png')}" id="btnMax" styleClass="optionalFeesMax-{!SUBSTITUTE(type, ' ', '')}" />
										<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-min.png')}" id="btnMin" styleClass="optionalFeesMin-{!SUBSTITUTE(type, ' ', '')}" style="display:none;" />
									</apex:commandLink>	
									<apex:outputText value="{!type}" style="font-size: 1.2em;" escape="false"/>
								</div>
								
								<div class="typeGroup optionalType-{!SUBSTITUTE(type, ' ', '')}">
							
									<apex:repeat value="{!groupedOptionalExtraFees[type]}" var="ef">
										
										<div class="groupedHeader">
											<apex:outputText value="{!groupedOptionalExtraFees[type][ef].dateRange}" style="font-size: 1.2em;" escape="false"/>
										</div>
										
										<div class="innerWrapper">
											
											<apex:repeat value="{!groupedOptionalExtraFees[type][ef].feesByName}" var="fee" >
												
												<div class="agencyBackground agencyFont" style="font-weight: bold; padding: 5px; font-size: 1.1em; color: white;">
													<apex:outputText value="{!fee}" />
												</div>
												
												
												<table class="priceDetails agencyFont" >
													<tr >													
														<td class="tdHeader" style="border-left: none; border-top: none;">Nationality Group</td>
														<td class="tdHeader" style="border-bottom: none;">From</td>							                    
														<td class="tdHeader" style="border-bottom: none;">Value ({!campusDetails.campus__r.account_currency_iso_code__c})</td>
														<td class="tdHeader" style="border-bottom: none;">Combine Fees</td>
														<td class="tdHeader" style="border-bottom: none; border-right: none;">File</td>
														<td class="tdHeader" style="border-bottom: none; border-right: none;">Notes</td>
													</tr>
													<apex:repeat value="{!groupedOptionalExtraFees[type][ef].feesByName[fee].fees}" var="f">
														<tr>														
															<td align="left">
																<apex:variable value="{!f.Product__r.Name__c}" var="feeName" />
																<apex:outputText value="{!f.Nationality__c}" /><br/>
																<!-- <apex:outputText value="{!CASE(f.Availability__c,3.0,'OnShore & OffShore',1.0,'OnShore','OffShore')}"  style="font-size: 0.8em; {!CASE(f.Availability__c,3.0,'',1.0,'color:red;','color:green')}"/> -->
																<apex:outputText value="{!CASE(f.Availability__c,3.0,'OnShore & OffShore',1.0,'OnShore','OffShore')}" styleClass="nation" style="{!CASE(f.Availability__c,3.0,'',1.0,'color:red;','color:green')}"/>
															</td>
															<td align="left">
																<apex:outputText value="{!f.From__c}" />
																<apex:outputText value=" ({!f.ExtraFeeInterval__c})" style="font-size: 0.8em;" rendered="{!NOT(ISBLANK(f.ExtraFeeInterval__c))}" />
															</td>
																												
															<td align="left">
																<apex:outputText value="{0, number, currency}" >
																	<apex:param value="{!f.Value__c}" />
																</apex:outputText>
																
															</td>
															<td align="left">
																<apex:outputField value="{!f.Combine_fees__c}" />
															</td>
															<td>															
																<!--<apex:commandLink action="{!viewFile}" target="_blank" rendered="{!NOT(ISNULL(f.Account_Document_File__c))}" >
																	<apex:image title="{!f.Account_Document_File__r.File_Name__c} ({!f.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment" />
																	<apex:param value="{!f.Account_Document_File__c}" name="fileId" />						
																</apex:commandLink>-->
																
																<apex:outputLink value="{!f.Account_Document_File__r.Preview_Link__c}" target="_blank" rendered="{!NOT(ISNULL(f.Account_Document_File__c))}">
																	<apex:image title="{!f.Account_Document_File__r.File_Name__c} ({!f.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment"  />
																</apex:outputLink>
																
															</td>
															<td style="padding: 0px 5px;">
																<div class="extraInfo infoStyle">
																	<apex:outputField value="{!f.Extra_info__c}" />
																</div>
															</td>
														</tr>
														
														<tr style="display:none;"><td></td></tr>
														<!-- <tr style="{!IF(NOT(ISBLANK(f.Extra_info__c)), '', 'display:none;')}">
															<td colspan="7" style="padding: 0px 5px;">
																<div class="extraInfo infoStyle">
																	<apex:outputField value="{!f.Extra_info__c}" />
																</div>
															</td>
														</tr> -->
														
														<apex:outputPanel layout="none" rendered="{!f.Start_Date_Ranges__r.size > 0}">
															<tr style="display:none;"><td></td></tr>
															<tr>															
																<td colspan="7">
																	
																	<div class="feeStartDatesHeader feeStartDatesHeader-{!f.id}" >
																		<apex:commandLink onclick="$('.optionalFeeStartDates-{!f.id}').toggle(); $('.optionalFeeStartDatesMax-{!f.id}').toggle(); $('.optionalFeeStartDatesMin-{!f.id}').toggle(); return false;" style="margin-right: 10px;">
																			<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-max.png')}" styleClass="optionalFeeStartDatesMax-{!f.id}" />
																			<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-min.png')}" styleClass="optionalFeeStartDatesMin-{!f.id}" style="display:none;"/>
																		</apex:commandLink>
																		<apex:outputText value="Special Start Date Prices" style="position: relative; top: -2px;" />
																	</div>
																	
																	<table class="startDates optionalFeeStartDates-{!f.id}" style="display:none;">
																		<tr>																		
																			<td class="" style="font-weight: normal;">Start Date From</td>
																			<td class="" style="font-weight: normal;">Start Date To</td>
																			<td class="" style="font-weight: normal;">Start Date Value ({!campusDetails.campus__r.account_currency_iso_code__c})</td>
																			<td class="" style="font-weight: normal;">Comments</td>
																			<td class="" style="font-weight: normal;">File</td>
																		</tr>
																		<apex:repeat value="{!f.Start_Date_Ranges__r}" var="startDate">
																			<tr>																			
																				<td align="left">
																					<apex:outputField value="{!startDate.From_Date__c}" />
																				</td>
																				<td align="left">
																					<apex:outputField value="{!startDate.To_Date__c}" />
																				</td>
																				<td align="left">
																					<apex:outputText value="{0, number, currency}">
																						<apex:param value="{!startDate.Value__c}" />
																					</apex:outputText>																			
																				</td>
																				<td align="left">
																					<apex:outputText value="{!startDate.Comments__c}" escape="false" />												
																				</td>
																				<td align="left">																				
																					<!--<apex:commandLink action="{!viewFile}" target="_blank" rendered="{!NOT(ISNULL(startDate.Account_Document_File__c))}" >
																						<apex:image title="{!startDate.Account_Document_File__r.File_Name__c} ({!startDate.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment"  style="top: 0px;" />
																						<apex:param value="{!startDate.Account_Document_File__c}" name="fileId" />						
																					</apex:commandLink>-->
																					<apex:outputLink value="{!startDate.Account_Document_File__r.Preview_Link__c}" target="_blank" rendered="{!NOT(ISNULL(startDate.Account_Document_File__c))}">
																						<apex:image title="{!startDate.Account_Document_File__r.File_Name__c} ({!startDate.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment" style="top: 0px;"  />
																					</apex:outputLink>
																				</td>
																			</tr>
																		</apex:repeat>
																	</table>
																</td>
															</tr>
														</apex:outputPanel>
														
														
														<apex:outputPanel layout="none" rendered="{!hasRelatedFees[f.id]}">
															<tr style="display:none;"><td></td></tr>
															<tr>
																<td colspan="7">
																	<table class="relatedTable" width="100%">
																		<tr>
																			<td class="tdHeader" width="8%"></td>
																			<td class="tdHeader">Related Extra Fees</td>
																			<td class="tdHeader">From</td>
																			<td class="tdHeader">Value ({!campusDetails.campus__r.account_currency_iso_code__c})</td>																	
																			<td class="tdHeader">Pay Date From</td>
																			<td class="tdHeader">Pay Date To</td>
																			<td class="tdHeader">Optional</td>
																			<td class="tdHeader">File</td>
																		</tr>
																		<apex:repeat value="{!relatedFees[f.id]}" var="relatedFee">
																			<tr>
																				<td align="left">
																					<a class="tooltip" target="_blank" style="{!IF(NOT(ISBLANK(relatedFee.Details__c)), '','display:none;')}" >
																						<apex:image url="{!URLFOR($Resource.assets,'images/transparent/i-iconSmall.png')}" styleclass="agencyBackground"/>
																						<span class="agencyBackground"><apex:outputText value="{!relatedFee.Details__c}" escape="false" /></span>
																					</a>
																					
																					<apex:commandLink onclick="$('.startDates-{!relatedFee.id}').toggle(); $('.relatedMax-{!relatedFee.id}').toggle(); $('.relatedMin-{!relatedFee.id}').toggle();return false;"
																								style="position:relative; top:4px; padding-left: 5px; {!IF(NOT(ISNULL(relatedFee.Start_Date_Ranges__r)) && relatedFee.Start_Date_Ranges__r.size > 0, '', 'display:none;')}">
																						<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-max.png')}" id="btnMax" styleClass="relatedMax-{!relatedFee.id}" />
																						<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-min.png')}" id="btnMin" styleClass="relatedMin-{!relatedFee.id}" style="display:none;" />
																					</apex:commandLink>	
																				</td>
																				<td align="left">
																					<apex:outputField value="{!relatedFee.Product__r.Name__c}" />
																				</td>
																				<td align="left">
																					<apex:outputField value="{!relatedFee.From__c}" />
																					<apex:outputText value=" ({!relatedFee.Extra_Fee_Interval__c})" style="font-size: 0.8em;" rendered="{!NOT(ISBLANK(relatedFee.Extra_Fee_Interval__c))}"/>
																				</td>																		
																				<td align="left">
																					<apex:outputText value="{0, number, currency}">
																						<apex:param value="{!relatedFee.Value__c}" />
																					</apex:outputText>																				
																				</td>
																				<td align="left">
																					<apex:outputField value="{!relatedFee.Date_Paid_From__c}" />
																				</td>
																				<td align="left">
																					<apex:outputField value="{!relatedFee.Date_Paid_To__c}" />
																				</td>																			
																				<td align="left">
																					<apex:outputField value="{!relatedFee.Optional__c}" />
																				</td>
																				
																				<td align="left">
																					
																					<!--<apex:commandLink action="{!viewFile}" target="_blank" rendered="{!NOT(ISNULL(relatedFee.Account_Document_File__c))}" >
																						<apex:image title="{!relatedFee.Account_Document_File__r.File_Name__c} ({!relatedFee.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment"  style="top: 0px;" />
																						<apex:param value="{!relatedFee.Account_Document_File__c}" name="fileId" />						
																					</apex:commandLink>-->
																					
																					<apex:outputLink value="{!relatedFee.Account_Document_File__r.Preview_Link__c}" target="_blank" rendered="{!NOT(ISNULL(relatedFee.Account_Document_File__c))}">
																						<apex:image title="{!relatedFee.Account_Document_File__r.File_Name__c} ({!relatedFee.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment" style="top: 0px;"  />
																					</apex:outputLink>
																					
																				</td>
																			</tr>
																			
																			
																			
																			
																			<tr style="display:none;"><td></td></tr>
																			<tr class="startDates-{!relatedFee.id}" style="display:none">
																				<td></td>
																				<td colspan="5">
																					<table class="startDates" style="border-top: 5px solid #C2C2C2; " >
																						<tr>
																							<td class=""></td>
																							<td class="">Start Date From</td>
																							<td class="">Start Date To</td>
																							<td class="">Start Date Value</td>																						
																							<td class="">File</td>
																						</tr>

																						<apex:repeat value="{!relatedFee.Start_Date_Ranges__r}" var="range">
																							<tr>
																								<td width="5%">
																									<a class="tooltip" target="_blank" style="{!IF(NOT(ISBLANK(range.Comments__c)), '','display:none;')} top: 0px;" >
																										<apex:image url="{!URLFOR($Resource.assets,'images/transparent/i-iconSmall.png')}" styleclass="agencyBackground"/>
																										<span class="agencyBackground"><apex:outputText value="{!range.Comments__c}" escape="false" /></span>
																									</a>																								
																									
																								</td>
																								<td align="left">
																									<apex:outputField value="{!range.From_Date__c}" />
																								</td>
																								<td align="left">
																									<span class="{!IF(NOT(ISNULL(range.To_Date__c)) && range.To_Date__c < TODAY(), 'expired', '')}" >
																										<apex:outputField value="{!range.To_Date__c}" />
																									</span>
																								</td>
																								<td align="left">
																									<apex:outputText value="$" />
																									<apex:outputField value="{!range.Value__c}" />
																								</td>
																								<td align="left">
																									<!--
																									<apex:commandLink action="{!viewFile}" target="_blank" rendered="{!NOT(ISNULL(range.Account_Document_File__c))}" >
																										<apex:image title="{!range.Account_Document_File__r.File_Name__c} ({!range.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment"  style="top: 0px;" />
																										<apex:param value="{!range.Account_Document_File__c}" name="fileId" />						
																									</apex:commandLink>-->
																									<apex:outputLink value="{!range.Account_Document_File__r.Preview_Link__c}" target="_blank" rendered="{!NOT(ISNULL(range.Account_Document_File__c))}">
																										<apex:image title="{!range.Account_Document_File__r.File_Name__c} ({!range.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment" style="top: 0px;"  />
																									</apex:outputLink>
																								</td>
																							</tr>
																						</apex:repeat>
																					</table>
																				</td>
																			</tr>
																				
																		</apex:repeat>
																	</table>
																</td>
															</tr>
														</apex:outputPanel>
														
														
													</apex:repeat>
												</table>
												
											</apex:repeat>
											
										</div>
										
										<div style="clear:both; height: 10px;"></div>
										
									</apex:repeat>
							
								</div>
								
							</apex:repeat>
						
						</div>
					</div>
				</div>
			</apex:outputPanel>
			<!--  END OPTIONAL EXTRA FEES -->
			
			
			
			
			
			
			
			
			
			
			<!--  PROMOTIONS -->	
			<div id="promotionsPanel" class="panelItem" style="{!IF(isGroupedFreeWeeksPromotionsEmpty && isGroupedExtraFeePromotionsEmpty, 'display:none;', '')}" >
				<div class="panelHeader" onclick="togglePanel('promotionsPanel');">
					<img class="arrow arrowRight" src="{!URLFOR($Resource.assets,'images/arrow-right.png')}"  />
					<img class="arrow arrowDown" src="{!URLFOR($Resource.assets,'images/arrow-down.png')}" style="display:none;" />
					<apex:outputText value="Promotions" styleClass="panelTitle" />
				</div>
				<div class="contentWrapper" style="display:none;">
					<div class="panelContent">
						
						<apex:outputPanel layout="none" >
							<div class="groupedHeader">
	                    		<apex:outputText value="Free {!campusDetails.course__r.Course_Unit_Type__c}s" style="font-size: 1.2em;" />
							</div>
							
							<div class="typeGroup" style="display:block;">
								<apex:repeat value="{!groupedFreeWeeksPromotions}" var="ef">
								
									
									<div class="groupedHeader">
			                    		<apex:outputText value="{!groupedFreeWeeksPromotions[ef].dateRange}" style="font-size: 1.2em;" escape="false"/>
									</div>
									
									
									<div class="innerWrapper">
										
										<table class="priceDetails" style="width: 99%; border: 1px solid #e0e3e5;" >
							                <tr>											
							                    <td class="tdHeader">Nationality Group</td>
												<td class="tdHeader">Promotion Name</td>
												<td class="tdHeader">Buy</td>
												<td class="tdHeader">Get Free</td>
												<td class="tdHeader">File</td>
							                </tr>
											
											<apex:repeat value="{!groupedFreeWeeksPromotions[ef].promotions}" var="f">
												<tr>												
													<td>
														<apex:outputText value="{!f.Nationality_Group__c}" /><br/>
														<!-- <apex:outputText value="{!CASE(f.Availability__c,3.0,'OnShore & OffShore',1.0,'OnShore','OffShore')}"  style="font-size: 0.8em; {!CASE(f.Availability__c,3.0,'',1.0,'color:red;','color:green')}"/> -->
														<apex:outputText value="{!CASE(f.Availability__c,3.0,'OnShore & OffShore',1.0,'OnShore','OffShore')}" styleClass="nation" style="{!CASE(f.Availability__c,3.0,'',1.0,'color:red;','color:green')}"/>
													</td>
													<td>
														<apex:outputText value="{!f.Promotion_Name__c}" />
													</td>
													<td>
														<apex:outputText value="{!f.Promotion_Weeks__c}" />
													</td>
													<td>
														<apex:outputText value="{!f.Number_of_Free_Weeks__c}" />
													</td>
													<td>
														<!--<apex:commandLink action="{!viewFile}" target="_blank" rendered="{!NOT(ISNULL(f.Account_Document_File__c))}" >
															<apex:image title="{!f.Account_Document_File__r.File_Name__c} ({!f.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment" />
															<apex:param value="{!f.Account_Document_File__c}" name="fileId" />						
														</apex:commandLink> -->
														
														<apex:outputLink value="{!f.Account_Document_File__r.Preview_Link__c}" target="_blank" rendered="{!NOT(ISNULL(f.Account_Document_File__c))}">
															<apex:image title="{!f.Account_Document_File__r.File_Name__c} ({!f.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment"  />
														</apex:outputLink>
														
													</td>
													<div class="extraInfo infoStyle">
														<apex:outputField value="{!f.comments__c}" />
													</div>
												</tr>
												
												<tr style="display:none;"><td></td></tr>
												<!-- <tr style="{!IF(NOT(ISBLANK(f.comments__c)), '', 'display:none;')}">
													<td colspan="7" style="padding: 0px 5px;">
														<div class="extraInfo infoStyle">
															<apex:outputField value="{!f.comments__c}" />
														</div>
													</td>
												</tr> -->
												
												
												<apex:outputPanel layout="none" rendered="{!promotionWithStartDates[f.id]}">
													<tr style="display:none;"><td></td></tr>
													<tr>													
														<td colspan="7">
															<div class="feeStartDatesHeader feeStartDatesHeader-{!f.id}" >
																<apex:commandLink onclick="$('.freeWeekStartDates-{!f.id}').toggle(); $('.freeWeekStartDatesMax-{!f.id}').toggle(); $('.freeWeekStartDatesMin-{!f.id}').toggle(); return false;" style="margin-right: 10px;">
																	<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-max.png')}" styleClass="freeWeekStartDatesMax-{!f.id}" />
																	<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-min.png')}" styleClass="freeWeekStartDatesMin-{!f.id}" style="display:none;"/>
																</apex:commandLink>
																<apex:outputText value="Special Start Date Prices" style="position: relative; top: -2px;" />
															</div>
																
															
															<table class="startDates freeWeekStartDates-{!f.id}" style="display:none;">
																<tr>																
																	<td class="" style="font-weight: normal;">Start Date From</td>
																	<td class="" style="font-weight: normal;">Start Date To</td>
																	<td class="" style="font-weight: normal;">Get Free</td>
																	<td class="" style="font-weight: normal;">Comments</td>
																	<td class="" style="font-weight: normal;">File</td>
																</tr>																
																<apex:repeat value="{!promotionStartDates[f.id]}" var="startDate">
																	<tr>																	
																		<td>
																			<apex:outputField value="{!startDate.From_Date__c}" />
																		</td>
																		<td>
																			<apex:outputField value="{!startDate.To_Date__c}" />
																		</td>
																		<td>
																			<apex:outputField value="{!startDate.Number_of_Free_Weeks__c}" />																	
																		</td>
																		<td>
																			<apex:outputText value="{!startDate.Comments__c}" escape="false" />
																		</td>
																		<td>																		
																			<!--<apex:commandLink action="{!viewFile}" target="_blank" rendered="{!NOT(ISNULL(startDate.Account_Document_File__c))}" >
																				<apex:image title="{!startDate.Account_Document_File__r.File_Name__c} ({!startDate.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment"  style="top: 0px;" />
																				<apex:param value="{!startDate.Account_Document_File__c}" name="fileId" />						
																			</apex:commandLink>-->
																			
																			<apex:outputLink value="{!startDate.Account_Document_File__r.Preview_Link__c}" target="_blank" rendered="{!NOT(ISNULL(startDate.Account_Document_File__c))}">
																				<apex:image title="{!startDate.Account_Document_File__r.File_Name__c} ({!startDate.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment" style="top: 0px;"  />
																			</apex:outputLink>
																		</td>
																	</tr>
																</apex:repeat>
															</table>
														</td>
													</tr>
												</apex:outputPanel>
												
												
											</apex:repeat>
											
										</table>
										
									</div>
									
								</apex:repeat>
							</div>
						</apex:outputPanel>
						
						
						
						
						
						
						<apex:outputPanel layout="none" rendered="{!NOT(isGroupedExtraFeePromotionsEmpty)}">
							
							
							<div class="groupedHeader">
	                    		<apex:outputText value="Extra Fees Discount" style="font-size: 1.2em;" />
							</div>
							
							<div class="typeGroup" style="display:block;">
							
								<apex:repeat value="{!groupedExtraFeePromotions}" var="ef">
									
									<div class="groupedHeader">
										<apex:outputText value="{!groupedExtraFeePromotions[ef].dateRange}" style="font-size: 1.2em;" escape="false"/>
									</div>
									
									<div class="innerWrapper">
										
										<table class="priceDetails" style="width: 99%; border: 1px solid #e0e3e5;" >
							                <tr>												
							                    <td class="tdHeader">Nationality Group</td>
												<td class="tdHeader">Extra Fee</td>
												<td class="tdHeader">Promotion Name</td>
												<td class="tdHeader">From</td>
												<td class="tdHeader">Value</td>
												<td class="tdHeader">File</td>
												<td class="tdHeader">Notes</td>
							                </tr>
											
											<apex:repeat value="{!groupedExtraFeePromotions[ef].promotions}" var="f">
												<tr>													
													<td>
														<apex:outputText value="{!f.Nationality_Group__c}" /><br/>
														<!-- <apex:outputText value="{!CASE(f.Availability__c,3.0,'OnShore & OffShore',1.0,'OnShore','OffShore')}"  style="font-size: 0.8em; {!CASE(f.Availability__c,3.0,'',1.0,'color:red;','color:green')}"/> -->
														<apex:outputText value="{!CASE(f.Availability__c,3.0,'OnShore & OffShore',1.0,'OnShore','OffShore')}" styleClass="nation" style="{!CASE(f.Availability__c,3.0,'',1.0,'color:red;','color:green')}"/>
													</td>
													<td>
														<apex:outputText value="{!f.Product__r.Name__c}" />
													</td>
													<td>
														<apex:outputText value="{!f.Promotion_Name__c}" />
													</td>												
													<td>
														<apex:outputText value="{!f.From__c}" />
													</td>
													<td>
														<apex:outputText value="$ " rendered="{!f.Extra_Fee_Type__c = 'Cash'}" />
														<apex:outputText value="{!f.Extra_Fee_Value__c}" />
														<apex:outputText value=" %" rendered="{!f.Extra_Fee_Type__c = 'Percentage'}" />
													</td>
													<td>														
														<!--<apex:commandLink action="{!viewFile}" target="_blank" rendered="{!NOT(ISNULL(f.Account_Document_File__c))}" >
															<apex:image title="{!f.Account_Document_File__r.File_Name__c} ({!f.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment" />
															<apex:param value="{!f.Account_Document_File__c}" name="fileId" />						
														</apex:commandLink>
														-->
														<apex:outputLink value="{!f.Account_Document_File__r.Preview_Link__c}" target="_blank" rendered="{!NOT(ISNULL(f.Account_Document_File__c))}">
															<apex:image title="{!f.Account_Document_File__r.File_Name__c} ({!f.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment" style="top: 0px;"  />
														</apex:outputLink>
													</td>
													<td colspan="7" style="padding: 0px 5px;">
														<div class="extraInfo infoStyle">
															<apex:outputField value="{!f.comments__c}" />
														</div>
													</td>
												</tr>
												
												<tr style="display:none;"><td></td></tr>
												<!-- <tr style="{!IF(NOT(ISBLANK(f.comments__c)), '', 'display:none;')}">
													<td colspan="7" style="padding: 0px 5px;">
														<div class="extraInfo infoStyle">
															<apex:outputField value="{!f.comments__c}" />
														</div>
													</td>
												</tr> -->
												
												
												<apex:outputPanel layout="none" rendered="{!promotionWithStartDates[f.id]}">
													<tr style="display:none;"><td></td></tr>
													<tr>														
														<td colspan="7">
															<div class="feeStartDatesHeader feeStartDatesHeader-{!f.id}" >
																<apex:commandLink onclick="$('.feePromotionStartDates-{!f.id}').toggle(); $('.feePromotionStartDatesMax-{!f.id}').toggle(); $('.feePromotionStartDatesMin-{!f.id}').toggle(); return false;" style="margin-right: 10px;">
																	<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-max.png')}" styleClass="feePromotionStartDatesMax-{!f.id}" />
																	<apex:image value="{!URLFOR($Resource.ShowCaseIcons,'button-min.png')}" styleClass="feePromotionStartDatesMin-{!f.id}" style="display:none;"/>
																</apex:commandLink>
																<apex:outputText value="Special Start Date Prices" style="position: relative; top: -2px;" />
															</div>
																
															
															<table class="startDates feePromotionStartDates-{!f.id}" style="display:none;">
																<tr>																	
																	<td class="" style="font-weight: normal;">Start Date From</td>
																	<td class="" style="font-weight: normal;">Start Date To</td>
																	<td class="" style="font-weight: normal;">Start Date Value</td>
																	<td class="" style="font-weight: normal;">Comments</td>
																	<td class="" style="font-weight: normal;">File</td>
																</tr>
																<apex:repeat value="{!promotionStartDates[f.id]}" var="startDate">
																	<tr>																		
																		<td align="left">
																			<apex:outputField value="{!startDate.From_Date__c}" />
																		</td>
																		<td align="left">
																			<apex:outputField value="{!startDate.To_Date__c}" />
																		</td>
																		<td align="left">
																			<apex:outputText value="$ " rendered="{!f.Extra_Fee_Type__c = 'Cash'}" />
																			<apex:outputField value="{!startDate.Value__c}" />			
																			<apex:outputText value=" %" rendered="{!f.Extra_Fee_Type__c = 'Percentage'}" />																			
																		</td>
																		<td>
																			<apex:outputText value="{!startDate.Comments__c}" escape="false" />
																		</td>
																		<td>																			
																			<!--<apex:commandLink action="{!viewFile}" target="_blank" rendered="{!NOT(ISNULL(startDate.Account_Document_File__c))}" >
																				<apex:image title="{!startDate.Account_Document_File__r.File_Name__c} ({!startDate.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment"  style="top: 0px;" />
																				<apex:param value="{!startDate.Account_Document_File__c}" name="fileId" />						
																			</apex:commandLink>-->
																			<apex:outputLink value="{!startDate.Account_Document_File__r.Preview_Link__c}" target="_blank" rendered="{!NOT(ISNULL(startDate.Account_Document_File__c))}">
																				<apex:image title="{!startDate.Account_Document_File__r.File_Name__c} ({!startDate.Account_Document_File__r.Description__c})" url="{!URLFOR($Resource.icons,'icons/commons/attach.png')}" styleClass="attachment" style="top: 0px;"  />
																			</apex:outputLink>
																		</td>
																	</tr>
																</apex:repeat>
															</table>
														</td>
													</tr>
												</apex:outputPanel>
												
												
											</apex:repeat>
											
										</table>
										
									</div>
									
								
								</apex:repeat>
							
							</div>
							
							
							
							
							
							
							
							
							
						</apex:outputPanel>
						
						
						
						
						
						
						
					</div>
				</div>
			</div>
			<!--  END PROMOTIONS -->	
			
			
			
			
			<!--  COURSE DETAILS -->	
			<div id="courseDetailsPanel" class="panelItem" >
				<div class="panelHeader" onclick="togglePanel('courseDetailsPanel');">
					<img class="arrow arrowRight" src="{!URLFOR($Resource.assets,'images/arrow-right.png')}"  />
					<img class="arrow arrowDown" src="{!URLFOR($Resource.assets,'images/arrow-down.png')}" style="display:none;" />
					<apex:outputText value="Course Details" styleClass="panelTitle" />
				</div>
				<div class="contentWrapper" style="display:none;">
					<div class="panelContent">
						<apex:pageBlock >
							<apex:pageblockSection columns="2" >
								 <apex:outputField value="{!campusDetails.course__r.School_Course_Name__c}" />
								 <apex:outputField value="{!campusDetails.course__r.Course_Code__c}" />	                           
	                            <apex:pageBlockSectionItem >
	                                <apex:outputLabel value="{!$ObjectType.Course__c.fields.Only_Sold_in_Blocks__c.label}"/>
	                                <apex:outputPanel >
	                                    <apex:outputText value="Yes" rendered="{!campusDetails.course__r.Only_Sold_in_Blocks__c}" />
	                                    <apex:outputText value="No" rendered="{!NOT(campusDetails.course__r.Only_Sold_in_Blocks__c)}" />
	                                </apex:outputPanel>
	                            </apex:pageBlockSectionItem>
	                            <apex:outputField value="{!campusDetails.course__r.Course_Country__c}" />
	                            <apex:outputField value="{!campusDetails.course__r.Form_of_Delivery__c}" />
	                            <apex:outputField value="{!campusDetails.course__r.Language__c}" />
	                            <apex:outputField value="{!campusDetails.Period__c}" />
	                            <apex:outputField value="{!campusDetails.Language_Level_Required__c}" /> 
	                            
	                            
	                            <apex:pageBlockSectionItem rendered="{!NOT(campusDetails.course__r.Only_Sold_in_Blocks__c)}">
	                                <apex:outputLabel value="Minimum Course Length"/>
	                                <apex:outputPanel >
	                                    <apex:outputField value="{!campusDetails.course__r.Minimum_length__c}" />
	                                    <apex:outputText value=" {!campusDetails.Course__r.Course_Unit_Type__c}"/>
	                                    <apex:outputText value="s" rendered="{!campusDetails.course__r.Minimum_length__c > 1}"/>
	                                </apex:outputPanel>
	                            </apex:pageBlockSectionItem>
	                            
	                            <apex:pageBlockSectionItem rendered="{!campusDetails.course__r.Only_Sold_in_Blocks__c}">
	                                <apex:outputLabel value="Minimum Course Length"/>
	                                <apex:outputText value="N/A"/>
	                            </apex:pageBlockSectionItem>
	                            
	                            <apex:outputField value="{!campusDetails.course__r.Course_Type__c}" />
	                            
	                            <apex:pageBlockSectionItem rendered="{!NOT(campusDetails.course__r.Only_Sold_in_Blocks__c)}">
	                                <apex:outputLabel value="Maximum Course Length"/>
	                                <apex:outputPanel >
	                                    <apex:outputField value="{!campusDetails.course__r.Maximum_length__c}" />
	                                    <apex:outputText value=" {!campusDetails.Course__r.Course_Unit_Type__c}"/>
	                                    <apex:outputText value="s" rendered="{!campusDetails.course__r.Maximum_length__c > 1}"/>
	                                </apex:outputPanel>
	                            </apex:pageBlockSectionItem>
	                            
	                            <apex:pageBlockSectionItem rendered="{!campusDetails.course__r.Only_Sold_in_Blocks__c}">
	                                <apex:outputLabel value="Maximum Course Length"/>
	                                <apex:outputText value="N/A"/>
	                            </apex:pageBlockSectionItem>
	                            
	                            <apex:outputField value="{!campusDetails.course__r.Type__c}" />
	                            <apex:outputField value="{!campusDetails.course__r.Minimum_age_requirement__c}" />                                   
	                            <apex:outputField value="{!campusDetails.course__r.Sub_Type__c}" />
	                            <!--<apex:outputField value="{!campusDetails.Average_Students_Class__c}" />-->
	                            <apex:outputField value="{!campusDetails.course__r.Course_Qualification__c}"/>
	                            <apex:outputField value="{!campusDetails.Length_of_each_Lesson__c}" />                                   
	                            <!--<apex:outputField value="{!campusDetails.Visa_Type__c}" />-->
	                            <apex:outputField value="{!campusDetails.Available_From__c}" />
	                        </apex:pageblockSection>
						</apex:pageBlock>
					</div>
				</div>
			</div>
			<!--  END COURSE DETAILS -->	
			
			
			
			
			
			
			
			<!--  IMPORTANT INFORMATION -->	
			<div id="importantInfoPanel" class="panelItem" style="{!IF(NOT(ISBLANK(campusDetails.course__r.Important_information__c)), '', 'display:none;')}" >
				<div class="panelHeader" onclick="togglePanel('importantInfoPanel');">
					<img class="arrow arrowRight" src="{!URLFOR($Resource.assets,'images/arrow-right.png')}"  />
					<img class="arrow arrowDown" src="{!URLFOR($Resource.assets,'images/arrow-down.png')}" style="display:none;" />
					<apex:outputText value="Important Information" styleClass="panelTitle" />
				</div>
				<div class="contentWrapper" style="display:none;">
					<div class="panelContent">						
						<table class="info">
							<apex:repeat value="{!importantInfoAsList}" var="s">
								<tr>
									<td>
										 <apex:outputText value="{!s}" escape="false" />
									</td>
								</tr>
							</apex:repeat>
						</table>
						<div style="clear:both;" />
					</div>
				</div>
			</div>
			<!--  END IMPORTANT INFORMATION -->
			
			
			
			
			
			
			
			
			<!--  ACADEMIC REQUIREMENTS -->	
			<div id="academicReqPanel" class="panelItem" style="{!IF(NOT(ISBLANK(campusDetails.course__r.Academic_requirements__c)), '', 'display:none;')}" >
				<div class="panelHeader" onclick="togglePanel('academicReqPanel');">
					<img class="arrow arrowRight" src="{!URLFOR($Resource.assets,'images/arrow-right.png')}"  />
					<img class="arrow arrowDown" src="{!URLFOR($Resource.assets,'images/arrow-down.png')}" style="display:none;" />
					<apex:outputText value="Academic Requirements" styleClass="panelTitle" />
				</div>
				<div class="contentWrapper" style="display:none;">
					<div class="panelContent">						
						<table class="info">
							<apex:repeat value="{!academicReqAsList}" var="s">
								<tr>
									<td>
										<apex:outputText value="{!s}" escape="false" />
									</td>
								</tr>
							</apex:repeat>
						</table>
						<div style="clear:both;" />
					</div>
				</div>
			</div>
			<!--  END ACADEMIC REQUIREMENTS -->
			
			
			
			
			
			<!--  Extra Requirements -->	
			<!--<div id="extraReqPanel" class="panelItem" style="{!IF(NOT(ISBLANK(campusDetails.course__r.Extra_requirements__c)), '', 'display:none;')}" >
				<div class="panelHeader" onclick="togglePanel('extraReqPanel');">
					<img class="arrow arrowRight" src="{!URLFOR($Resource.assets,'images/arrow-right.png')}"  />
					<img class="arrow arrowDown" src="{!URLFOR($Resource.assets,'images/arrow-down.png')}" style="display:none;" />
					<apex:outputText value="Extra Requirements" styleClass="panelTitle" />
				</div>
				<div class="contentWrapper" style="display:none;">
					<div class="panelContent">						
						<table class="info">
							<apex:repeat value="{!extraReqAsList}" var="s">
								<tr>
									<td>
										 {!s}
									</td>
								</tr>
							</apex:repeat>
						</table>
						<div style="clear:both;" />
					</div>
				</div>
			</div>-->
			<!--  END Extra Requirements -->
			
			
			
			
			
			<!--  Why To Choose This Course -->	
			<div id="whyChoosePanel" class="panelItem" style="{!IF(NOT(ISBLANK(campusDetails.course__r.Why_choose_this_course__c)), '', 'display:none;')}" >
				<div class="panelHeader" onclick="togglePanel('whyChoosePanel');">
					<img class="arrow arrowRight" src="{!URLFOR($Resource.assets,'images/arrow-right.png')}"  />
					<img class="arrow arrowDown" src="{!URLFOR($Resource.assets,'images/arrow-down.png')}" style="display:none;" />
					<apex:outputText value="Why To Choose This Course" styleClass="panelTitle" />
				</div>
				<div class="contentWrapper" style="display:none;">
					<div class="panelContent">						
						<table class="info">
							<apex:repeat value="{!whyAsList}" var="s">
								<tr>
									<td>
										<apex:outputText value="{!s}" escape="false" />
									</td>
								</tr>
							</apex:repeat>
						</table>
						<div style="clear:both;" />
					</div>
				</div>
			</div>
			<!--  END Why To Choose This Course -->
			
			
			
			<!--  Selling Points -->	
			<!--<div id="sellingptPanel" class="panelItem" style="{!IF(NOT(ISBLANK(campusDetails.course__r.IP_Tips__c)), '', 'display:none;')}" >
				<div class="panelHeader" onclick="togglePanel('sellingptPanel');">
					<img class="arrow arrowRight" src="{!URLFOR($Resource.assets,'images/arrow-right.png')}"  />
					<img class="arrow arrowDown" src="{!URLFOR($Resource.assets,'images/arrow-down.png')}" style="display:none;" />
					<apex:outputText value="Selling Points" styleClass="panelTitle" />
				</div>
				<div class="contentWrapper" style="display:none;">
					<div class="panelContent">						
						<table class="info">
							<apex:repeat value="{!tipsAsList}" var="s">
								<tr>
									<td>
										 {!s}
									</td>
								</tr>
							</apex:repeat>
						</table>
						<div style="clear:both;" />
					</div>
				</div>
			</div>-->
			<!--  END Selling Points -->
			
			
			
			<!--  Course Timetable -->	
			<div id="timetablePanel" class="panelItem" style="{!IF(NOT(ISBLANK(CampusCourse.Time_Table__c)), '', 'display:none;')}" >
				<div class="panelHeader" onclick="togglePanel('timetablePanel');">
					<img class="arrow arrowRight" src="{!URLFOR($Resource.assets,'images/arrow-right.png')}"  />
					<img class="arrow arrowDown" src="{!URLFOR($Resource.assets,'images/arrow-down.png')}" style="display:none;" />
					<apex:outputText value="Course Timetable" styleClass="panelTitle" />
				</div>
				<div class="contentWrapper" style="display:none;">
					<div class="panelContent">						
						<table class="info">							
							<tr>
								<td>
									<apex:outputField value="{!CampusCourse.Time_Table__c}"  />
								</td>
							</tr>							
						</table>
						<div style="clear:both;" />
					</div>
				</div>
			</div>
			<!--  END Course Timetable -->
			
			
			
			<!--  Forms of Payments -->	
			<div id="paymentsPanel" class="panelItem" style="{!IF(NOT(ISBLANK(campusDetails.course__r.Payment_Rules__c)), '', 'display:none;')}" >
				<div class="panelHeader" onclick="togglePanel('paymentsPanel');">
					<img class="arrow arrowRight" src="{!URLFOR($Resource.assets,'images/arrow-right.png')}"  />
					<img class="arrow arrowDown" src="{!URLFOR($Resource.assets,'images/arrow-down.png')}" style="display:none;" />
					<apex:outputText value="Forms of Payments" styleClass="panelTitle" />
				</div>
				<div class="contentWrapper" style="display:none;">
					<div class="panelContent">						
						<table class="info">							
							<apex:repeat value="{!formPaymentList.formPaymentAsList}" var="s">
								<tr>
									<td>
										<apex:outputText value="{!s}" escape="false" />
									</td>
								</tr>
							</apex:repeat>					
						</table>
						<p></p>
						<p>
							<apex:outputLink value="{!formPaymentList.courseDocuments.docUrl}" target="_blank">{!formPaymentList.courseDocuments.docName}</apex:outputLink>
						</p>
						<div style="clear:both;" />
					</div>
				</div>
			</div>
			<!--  END Forms of Payments -->
			
			
			
			<!--  Intake Dates -->	
			<div id="intakePanel" class="panelItem" >
				<div class="panelHeader" onclick="togglePanel('intakePanel');">
					<img class="arrow arrowRight" src="{!URLFOR($Resource.assets,'images/arrow-right.png')}"  />
					<img class="arrow arrowDown" src="{!URLFOR($Resource.assets,'images/arrow-down.png')}" style="display:none;" />
					<apex:outputText value="Intake Dates" styleClass="panelTitle" />
				</div>
				<div class="contentWrapper" style="display:none;">
					<div class="panelContent">
						<apex:pageBlock >
							<apex:pageblockSection columns="1">
	                            <table>
	                                <tr>
	                                    <td>
	                                        <div style="background-color:red;width:15px;height:15px;float:left;"/>&nbsp;Intake Dates
	                                    </td>
	                                    <td>&nbsp;&nbsp;</td>
	                                    <td>
	                                        <div style="background-color:#B3D4FF;width:15px;height:15px;float:left;"/>&nbsp;Public Holidays
	                                    </td>
	                                </tr>
	                            </table>
	                            <c:ccCalendar SelectedDatesList="{!SelectedDatesList}" dateCSV="{!SavedDatesStringList}" toSelectPastDates="true" id="calendars" toAccountID="{!campusDetails.campus__r.id}" ShowMenuSelectDateRange="false" readOnly="true" />
	                        </apex:pageblockSection>
						</apex:pageBlock>
						<div style="clear:both;" />
					</div>
				</div>
			</div>
			<!--  END Intake Dates -->
			
			
			
		</apex:form>
	</div>	
			
				
</apex:page>