<apex:page controller="xCourseSearchAddProducts" sidebar="false" showHeader="false" >

    
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/ui/1.8.24/jquery-ui.js"></script>
    <apex:includeScript value="{!$Resource.jquery}"/>   
    <apex:includeScript value="{!$Resource.jqueryBlockUI}" />
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet"/>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet"/>
    
    <apex:include pageName="xCourseSearchStyle" />
    
    <style>
        .apexp .bPageBlock.apexDefaultPageBlock .pbBody { margin: 0px; }
        .bPageBlock {
            border: 0px !important;
            background-color: white !important;
        }
        .productDescription {
            width:250px;
            height:45px;
            font-size: 0.9em;
        }
        
        select, textarea, input[type="text"], input[type="date"], input[type="url"]{
            margin-bottom: 1px;
        }
        
        .categoryHeader {
            color: white;
            font-size: 1.3em !important;
            padding: 5px 0;
            background-color: #999999;
            clear: both;
            font-weight: bold;
        }
        
        
        
        .content {          
            overflow-y: auto;
            overflow-x: hidden; 
            border: 1px solid #AAA;
            border-radius: 3px;
        }
        .bottom {
            text-align: center;
            line-height: 32px;
            background-color: #D2D2D2;
            margin-top: 1px;
        }
        
        .ui-tabs .ui-tabs-panel {
            padding: 1em 0.5em 0;
        }
        
        form {
            margin: 0px;
        }
        
        .theTabs {
            font-size: 0.8em;
        }
        
        .coursesTable {
            font-size: 0.8em;
        }
        
        .ui-tabs-hide { display: none !important; }
        .ui-widget-content { border: 0px !important; }
        
        .ui-tabs .ui-tabs-panel {
            padding: 5px 2px;
        }
        
        
        .customProductPanel {
            padding: 1%;
            //width: 48%;
            //float: left;
        }
        
        .inputLabel {
            color:grey;
            font-style: italic;
            padding: 1px 4px 2px;
        }
        
        .ExtraFeeNameClass tr td label {
            font-size: 0.85em !important;
            display: inline;
        }
        
        .ExtraFeeNameClass tr td input {
            margin: 3px 0 0 0 !important;
            vertical-align: top !important;         
        }
         
        .content input {
            font-size: 10px;
        }
        
        h4 {
            font-size: 1em;
            line-height: 10px;
            margin: 0;
        }
        
        .headerRow {
            background: none repeat scroll 0 0 #F2F3F3;
            border-color: #E0E3E5;
            border-width: 0 0 1px 1px;
            color: #000000;
            font-size: 0.9em;
            font-weight: bold;          
        }
        
        .prodListTable tr:nth-child(odd)        { background-color:#eee; }
        .prodListTable tr:nth-child(even)       { background-color:#FFF; }
        
        .deleteAnchor{          
            display: block;
            float: left;
            margin-top: -2px;
            text-decoration: none;
            cursor: pointer;
        }
        
        .courseHeader {
            background-color: #999999;
            clear: both;
            color: #FFFFFF;
            font-weight: bold;
            margin: 0.2em 0.2em 0;
            padding-left: 0.6em;
        }
        
        .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
            top: 1px !important;
        }
        
    </style>
    
    <script>        
        jQuery(document).ready(function(){      
            jQuery('#tabs').tabs();
            
            resizeContent();
        
        });
        
        function resizeContent(){
            if(!{!webSearch.Combine_Quotation__c}){
                var maxHeight = 435;
                var contentHeight = maxHeight - jQuery('#header').height();
                jQuery('.content').css('height', contentHeight);
            }
        }
        
        function showLoading(msg) { 
            jQuery.blockUI({ 
                message: '<H1>'+msg+'</H1>',
                css: { 
                border: 'none', 
                padding: '15px', 
                backgroundColor: '#000', 
                '-webkit-border-radius': '10px', 
                '-moz-border-radius': '10px', 
                opacity: .5, 
                color: '#fff' 
            } }); 
     
         }
            
        function hideLoading(){
            jQuery.unblockUI();
        }
                
        function selectAll(isChecked){
            
            if(isChecked)
                jQuery('.ExtraFeeNameClass input:checkbox').attr('checked', 'checked');
            else
                jQuery('.ExtraFeeNameClass input:checkbox').removeAttr('checked');
        }
        
    </script>
    
    <apex:form >
        
        <apex:outputPanel id="addProductPanel">
            <apex:outputPanel rendered="{!productsAdded}">
                <script>
                    parent.refreshCart();
                </script>
            </apex:outputPanel>
        </apex:outputPanel>
        
        <apex:actionStatus id="statusUpdate" onstart="showLoading('Updating...');" onstop="hideLoading();" />
        
        <apex:actionFunction name="getValue" action="{!getValue}" status="statusUpdate" reRender="price">
            <apex:param name="courseID" value="" />
            <apex:param name="productID" value="" />
            <apex:param name="category" value="" />
        </apex:actionFunction>
        
        <apex:pageMessages id="errorMessageCombine" rendered="{!webSearch.Combine_Quotation__c}" />
        
        <div id="header" style="{!IF(webSearch.Combine_Quotation__c, 'display:none','')}">
            
            <apex:pageMessages id="errorMessage" />
            
            <div class="courseHeader">
                <apex:inputCheckbox onclick="selectAll(this.checked);" style="margin-top: -2px; margin-right: 2px;" />
                <apex:outputText value="Courses" />
            </div>
        
            <div id="courseList" style="border: 1px solid #AAAAAA; margin: 0 0.2em 0.2em; padding: 0.5em;" >
                <apex:selectCheckboxes value="{!selectedCourses}" style="width: 100%;" styleClass="ExtraFeeNameClass" >
                    <apex:selectOptions value="{!courses}" />                
                </apex:selectCheckboxes>

                <script>
                    //Script to add rows to selectCheckboxes
                    var c = 0;
                    var itemsPerLine = 2; //change here
                    jQuery(".ExtraFeeNameClass tr td").each(function(){
                        c++;
                        if(c == itemsPerLine){
                            jQuery('<tr/>').append(jQuery(this).nextAll()).appendTo('.ExtraFeeNameClass');
                            c = 0;
                        }
                    });
                    jQuery(".ExtraFeeNameClass tr td:last-child").attr('colspan',itemsPerLine);
                    //Script to add rows to selectCheckboxes
                </script>
                
            </div>
            
        </div>
        
        <div id="tabs" class="tabs">
        
            <ul class="theTabs">
                <li><a href="#tabs-1" onclick="jQuery('.categories').show();">Add Products/Services</a></li>
                <li><a href="#tabs-2" onclick="jQuery('.categories').hide();">Add Custom Products/Services</a></li>
                <div style="float:right;" class="categories">
                    <apex:selectList value="{!selectedCategory}" size="1" styleClass="chosen" style="width:150px;" >
                        <apex:selectOptions value="{!productCategories}"/>
                        <apex:actionSupport event="onchange" action="{!filterProducts}" status="statusUpdate" rerender="products" />
                    </apex:selectList>
                </div>
            </ul>

            <div id="tabs-1" style="font-size: 0.7em;">
                <div class="content" style="{!IF(webSearch.Combine_Quotation__c, 'height: 445px;', 'height: 350px;')}">
                    <apex:pageBlock id="products" >             
                        <apex:repeat value="{!products}" var="p" >
                            <div class="categoryHeader"> <span style="padding-left: 10px;">{!p}</span> </div>
                            
                            <apex:pageBlockTable value="{!products[p]}" var="product" id="otherFees">
                                <apex:column width="4%">
                                    <apex:inputField value="{!product.Selected__c}" />
                                </apex:column>
                                
                                <apex:column headerValue="Name" value="{!product.Product_Name__c}" width="30%" />
                                
                                <apex:column headerValue="Quantity" width="7%">                                 
                                    
                                    <apex:selectList value="{!product.Quantity__c}" size="1" style="width:60px;" onchange="getValue('', '{!product.id}', '{!product.Category__c}');" rendered="{!product.Use_list_of_products__c && product.Quotation_list_products__r.size > 0}" >
                                        <apex:selectOptions value="{!prodQtdList[product.id]}" />
                                    </apex:selectList>
                                    
                                    <apex:selectList value="{!product.Quantity__c}" size="1" style="width:60px;" rendered="{!NOT(product.Use_list_of_products__c) || (product.Use_list_of_products__c && product.Quotation_list_products__r.size = 0)}"  >
                                        <apex:selectOptions value="{!UnitsRange}"/>
                                    </apex:selectList>
                                </apex:column>
                                
                                <apex:column headerValue="Price" width="10%" >
                                    <apex:outputPanel id="price">
                                        <apex:inputField value="{!product.Price__c}" style="width:50px;height: 18px;" />
                                    </apex:outputPanel>                                 
                                </apex:column>
                                
                                <apex:column headerValue="Unit Desc." value="{!product.Unit_description__c}" width="7%" />
                                
                                <apex:column headerValue="Description" width="20%">
                                    <apex:inputField value="{!product.Description__c}" styleClass="productDescription" />
                                </apex:column>
                                
                                <apex:column headerValue="Currency" width="20%" >
                                    <apex:selectList value="{!product.Currency__c}" size="1" style="width:180px;margin-right: 10px;">
                                        <apex:selectOptions value="{!Currencies}"/>
                                    </apex:selectList>
                                </apex:column>
                            
                            </apex:pageBlockTable>
                            <br/>
                        </apex:repeat>
                    </apex:pageBlock>
                </div>
                
                
            </div> <!-- tabs-1 -->
            
            
            <div id="tabs-2" >
                
                <div class="content" style="{!IF(webSearch.Combine_Quotation__c, 'height: 445px;', 'height: 350px;')}font-size: 0.8em;">
                    
                    <apex:outputPanel id="newCustomProduct" layout="block" styleClass="customProductPanel">
                        
                        <div class="categoryHeader" style="font-size: 1em !important;"><span style="padding-left: 10px;">New Custom Product</span></div>    
                        
                        
                        <table width="100%" style="font-size: 0.9em; margin-top: 10px;">
                            <tr>
                                <td>
                                    <div class="SearchInput">
                                        <apex:inputField value="{!customProduct.product.Name__c}" style="width: 350px;" />
                                    </div>
                                    <div class="SearchFooter">
                                        <apex:outputText value="Product Name" styleClass="inputLabel" />
                                    </div>
                                </td>
                                <td>
                                    <div class="SearchInput" >
                                        <apex:selectList value="{!customProduct.product.Quantity__c}" size="1" style="width:60px;">
                                            <apex:selectOptions value="{!UnitsRange}"/>
                                        </apex:selectList>
                                    </div>
                                    <div class="SearchFooter">
                                        <apex:outputText value="Quantity" styleClass="inputLabel" />
                                    </div>
                                </td>
                                <td>
                                    <div class="SearchInput">
                                        <apex:inputField value="{!customProduct.product.Price__c}" style="width: 70px;" />
                                    </div>
                                    <div class="SearchFooter">
                                        <apex:outputText value="Price" styleClass="inputLabel" />
                                    </div>
                                </td>
                                <td>
                                    <div class="SearchInput">
                                        <apex:selectList value="{!customProduct.product.Currency__c}" size="1" style="width:200px;">
                                            <apex:selectOptions value="{!Currencies}"/>
                                        </apex:selectList>
                                    </div>
                                    <div class="SearchFooter">
                                        <apex:outputText value="Currency" styleClass="inputLabel" />
                                        
                                    </div>
                                </td>
                                <td rowspan="2" width="15%">
                                    <apex:commandLink action="{!addCustomProduct}" value="Add Product" status="statusUpdate" styleClass="agencyButton" reRender="errorMessage, errorMessageCombine, listCustomProducts, newCustomProduct" oncomplete="resizeContent();"  />
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="4" style="padding-top: 10px;">
                                    <div class="SearchInput">
                                        <apex:inputField value="{!customProduct.product.Description__c}" style="width: 740px; height: 35px;" />
                                    </div>
                                    <div class="SearchFooter">
                                        <apex:outputText value="Description" styleClass="inputLabel" />
                                    </div>
                                </td>
                            </tr>
                            
                        </table>                        
                    
                    </apex:outputPanel> <!-- customProductPanel -->
                    
                    
                    <apex:outputPanel layout="block" id="listCustomProducts" styleClass="customProductPanel">
                        
                        <!--<div class="categoryHeader" style="font-size: 1em !important; width: 100%">
                            <span style="padding-left: 10px;">Custom Product List</span>
                            <span style="float:right;">
                                <apex:commandLink action="{!deleteCustomProducts}" value="Remove Selected" status="statusUpdate" styleClass="redButton" reRender="errorMessage, listCustomProducts, newCustomProduct" style="font-size: 0.8em;padding:3px 7px; "  />
                            </span> 
                        </div>-->
                        
                        <table class="prodListTable" width="100%" >
                            <tr class="headerRow">
                                <th class="headerRow" width="3%"></th>
                                <th class="headerRow" width="30%">Name</th>
                                <th class="headerRow" width="42%">Description</th>
                                <th class="headerRow" width="5%">Qty</th>
                                <th class="headerRow" width="10%">Price</th>
                                <th class="headerRow" width="10%">Total</th>
                            </tr>
                            <apex:repeat value="{!customProductList}" var="cp">
                                <tr>
                                    <td>
                                        <a class="deleteAnchor" >
                                            <apex:image title="Remove" url="{!URLFOR($Resource.icons,'icons/commons/bullet_delete.png')}" >
                                                <apex:actionSupport event="onclick" reRender="listCustomProducts" action="{!deleteCustomProduct}" status="statusUpdate" >
                                                    <apex:param name="cpid" value="{!cp.id}"/>
                                                </apex:actionSupport>
                                            </apex:image>
                                        </a>
                                    </td>
                                    <td>
                                        <apex:outputField value="{!cp.product.Name__c}" />
                                    </td>
                                    <td>
                                        <apex:outputField value="{!cp.product.Description__c}" />
                                    </td>
                                    <td>
                                        <apex:outputField value="{!cp.product.Quantity__c}" />
                                    </td>
                                    <td>
                                        $<apex:outputText value="{!cp.product.Price__c}" />
                                    </td>                                   
                                    <td>
                                        $<apex:outputText value="{!cp.product.Total__c}" />
                                        <apex:outputText value="{!cp.product.Currency__c}" style="font-size: 0.9em" />
                                    </td>
                                </tr>
                            </apex:repeat>
                        </table>
                        
                    </apex:outputPanel>
                    
                    
                </div><!-- content -->
                                
                
            </div> <!-- tabs-2 -->
            
        </div> <!-- tabs -->
        
        
        <div style="text-align:center;width:100%;clear:both;padding-top:15px;bottom: 1px;position: fixed; background-color: #E1E1E1; height: 29px;" >
            <apex:commandLink action="{!addProducts}" value="Add Products/Services" status="statusUpdate" styleClass="agencyButton" reRender="errorMessage, errorMessageCombine, products, addProductPanel"  />
            <apex:commandLink onclick="parent.closeModalWindow(); return false;" value="Cancel" styleClass="agencyButton" />
        </div>  
        
    </apex:form>
    
    
    
    
    
</apex:page>