<apex:page controller="xCourseSearch_OpenTemplate" showHeader="false" sidebar="false" >

	<apex:includeScript value="{!$Resource.jquery}"/> 
	<apex:includeScript value="{!$Resource.jquerytooltip}"/>

	<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet"/>
	<link href="https://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet"/>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="https://code.jquery.com/ui/1.8.24/jquery-ui.js"></script>
	<apex:includeScript value="{!$Resource.jqueryBlockUI}" />
	
	<apex:include pageName="xCourseSearchStyle" />
		
		 <script type="text/javascript">

			 function editMode(param){
			 	if(param == 'true'){
			 		jQuery('.readMode').css('display','none');
			 		jQuery('.writeMode').css('display','');
			 	}else{
			 		jQuery('.readMode').css('display','');
			 		jQuery('.writeMode').css('display','none');
			 	}
			 }
			 
			jQuery(document).ready(function(){
			 	jQuery(".infoTitle").tooltip({tooltipcontentclass:"infocontent"});
			 	jQuery(".sharedTooltip").tooltip({tooltipcontentclass:"infocontent"});
			 
			 	jQuery( "#tabs" ).tabs();
			});
			 
			 function showLoading(msg) { 
		        jQuery.blockUI({ 
					message: '<H1>'+msg+'</H1>',
					css: { 
		            border: 'none', 
		            padding: '15px', 
		            backgroundColor: '#000', 
		            '-webkit-border-radius': '10px', 
		            '-moz-border-radius': '10px', 
		            opacity: .5, 
		            color: '#fff' 
		        } }); 
		 
		     }
			
			function hideLoading(){
				jQuery.unblockUI();
			}
	</script>
	
	<style>
		
		.bPageBlock th.vfLabelColTextWrap {
		    white-space: nowrap;
		}
		
		body .bPageBlock .pbBody .labelCol, body .bPageBlock .pbBody .dataCol, body .bPageBlock .pbBody .data2Col {
		    padding-bottom: 2px;
		    padding-top: 2px;
		}
		
		.bPageBlock {
		   border: 0px !important;	
		   background-color: white !important;
		  }
				
		.apexp .bPageBlock.apexDefaultPageBlock .pbBody { margin: 0px; }
		
		
		.infoTitle{
			float: left;
			position: relative;
			left: -7px;
			top: 3px;
			z-index: 4;
		}
		
		.agencyButton {
			font-size: 0.9em; 
		}
		
		textarea{
			height: 50px;
		}
		
		.btnExtraDetails{
			font-weight: bold;
		    margin: 5px;
		    position: absolute;
		    right: 6px;
		}
		
				
		.feeBox{
			border: 1px solid #888888;
		    border-radius: 3px;
		    margin-bottom: 10px;
		    min-height: 54px;
		}
		
		.feeBoxTitle{
			background-color: #888;
		    border-radius: 3px 3px 0 0;
		    color: #FFFFFF;
		    display: block;
		    font-weight: bold;
		    height: 20px;
		    padding: 2px 5px;
		}
		
		label {
		    display: inline;
		    margin-le: none;
		    position: relative;
		    top: 3px;
		}
		.ui-tabs-hide { display: none !important; }
		.ui-widget-content { border: 0px !important; }
		.tabs { font-size: 0.9em !important; }
		
		.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
			top: 1px !important;
		}
		
		#NT {
			width: auto;
		}
		
	</style>
	<apex:actionStatus id="statusUpdate" onstart="showLoading('Please wait...');" onstop="hideLoading();" />
	<apex:form id="theForm">		
		<script>
			jQuery(".infoTitle").tooltip({tooltipcontentclass:"infocontent"});
			jQuery(".sharedTooltip").tooltip({tooltipcontentclass:"infocontent"});
			
			jQuery( "#tabs" ).tabs();
		</script>
		
		<div id="tabs" class="tabs">
			<ul>
				<li><a href="#tabs-1">My Templates</a></li>
				<li>
					<a href="#tabs-2">Shared Templates
						<apex:outputPanel StyleClass="sharedTooltip" >
		                    <apex:image url="{!URLFOR($Resource.assets,'images/i_11x11_Grey.png')}" width="11px" height="11px" style="cursor: pointer; padding: 3px 0 5px 5px;"/>  
		                    <span style="display: block;" class="infocontent"><apex:outputText value="Templates others shared in my agency." escape="false"/></span>
		                </apex:outputPanel>
					</a>
				</li>				
			</ul>

			<div id="tabs-1">
				<apex:outputPanel id="templatePnl">
					<apex:pageBlock >
						<div style="overflow-y: auto; max-height: 395px; height: 365px;">
							<apex:pageBlockTable value="{!Templates}" var="temp" >
								<apex:column width="20px" >
									<apex:inputField value="{!temp.isSelected__c}" />
								</apex:column>
								<apex:column headerValue="Name" >
									<apex:outputPanel layout="block" StyleClass="infoTitle" rendered="{!NOT(ISNULL(temp.Courses_Details__c))}"  >
					                    <apex:image url="{!URLFOR($Resource.assets,'images/i_11x11_Grey.png')}" width="11px" height="11px" style="cursor: pointer; padding: 3px 0 5px 5px;"/>  
					                    <span style="display: block;" class="infocontent">
											<apex:outputText value="{!temp.Courses_Details__c}" escape="false"/>
										</span>
					                </apex:outputPanel>
									<apex:outputText value="{!temp.Name__c}" styleClass="readMode" />
									<apex:inputField value="{!temp.Name__c}" style="display: none;" styleClass="writeMode" />
									<!--apex:outputPanel rendered="{!tempOption == 'shared'}">
										<br />
										<apex:outputText value="(Created By: {!temp.CreatedBy.Name})" style="font-size: 0.8em; color: gray;" />	
									</apex:outputPanel-->
									
								</apex:column>
								<apex:column headerValue="Description">
									<span class="readMode">
										<apex:outputField value="{!temp.Description__c}" />
									</span>
									<apex:inputField value="{!temp.Description__c}" style="display: none;" styleClass="writeMode" />
								</apex:column> 
								<apex:column headerValue="Shared" width="30px">
									<span class="readMode">
										<apex:outputField value="{!temp.Shared_with_Agency__c}" />
									</span>
									<apex:inputField value="{!temp.Shared_with_Agency__c}" style="display: none;" styleClass="writeMode" />
								</apex:column> 
								<apex:column width="150px" style="text-align: center;" >
									<apex:commandLink value="Add to Compare" styleClass="agencyButton readMode" onclick="parent.retrieveCoursesTemplate('{!temp.id}')" />
								</apex:column>
							</apex:pageBlockTable>
						</div>	
					</apex:pageBlock>
					<div style="background-color: rgb(225, 225, 225); bottom: 0px; position: fixed; padding: 8px; left: 0px; width: 98%; text-align: right">
						<apex:commandLink value="Delete Selected" action="{!deleteSelected}" styleClass="agencyButton deleteBtn" reRender="theForm" status="statusUpdate" onclick="if(!confirm('Deleting selected templates will also delete these templates from shared templates.'))return false;"  />
						<apex:commandLink value="Edit" styleClass="agencyButton readMode " onclick="editMode('true'); return false;"  />
						<apex:commandLink onclick="parent.closeModalWindow(); return false;" value="Cancel" styleClass="agencyButton readMode" />						
						<apex:commandLink value="Save" action="{!saveChanges}" styleClass="agencyButton writeMode" style="display:none;" reRender="theForm" status="statusUpdate" />
						<apex:commandLink value="Cancel" styleClass="agencyButton writeMode " style="display:none;" onclick="editMode('false'); return false;"  />
					</div>
				</apex:outputPanel>
			</div>
			<div id="tabs-2">
				<apex:pageBlock >
					<div style="overflow-y: auto; max-height: 395px">
						<apex:pageBlockTable value="{!TemplatesShared}" var="temp" >
							<apex:column headerValue="Name" >
								<apex:outputPanel layout="block" StyleClass="infoTitle" rendered="{!NOT(ISNULL(temp.Courses_Details__c))}"  >
				                    <apex:image url="{!URLFOR($Resource.assets,'images/i_11x11_Grey.png')}" width="11px" height="11px" style="cursor: pointer; padding: 3px 0 5px 5px;"/>  
				                    <span style="display: block;" class="infocontent">
										<apex:outputText value="{!temp.Courses_Details__c}" escape="false"/>
									</span>
				                </apex:outputPanel>
								<apex:outputText value="{!temp.Name__c}" styleClass="readMode" />
								<apex:inputField value="{!temp.Name__c}" style="display: none;" styleClass="writeMode" />
								<br />
								<apex:outputText value="(Created By: {!temp.CreatedBy.Name})" style="font-size: 0.8em; color: gray;" />	
								
							</apex:column>
							<apex:column headerValue="Description">
								<span class="readMode">
									<apex:outputField value="{!temp.Description__c}" />
								</span>
								<apex:inputField value="{!temp.Description__c}" style="display: none;" styleClass="writeMode" />
							</apex:column> 
							<apex:column headerValue="Shared">
								<span class="readMode">
									<apex:outputField value="{!temp.Shared_with_Agency__c}" />
								</span>
								<apex:inputField value="{!temp.Shared_with_Agency__c}" style="display: none;" styleClass="writeMode" />
							</apex:column> 
							<apex:column width="120px" >
								<apex:commandLink value="Add to Compare" styleClass="agencyButton readMode" onclick="parent.retrieveCoursesTemplate('{!temp.id}')" />
							</apex:column>
						</apex:pageBlockTable>
					</div>	
				</apex:pageBlock>
			</div>
		</div>
	</apex:form>
	
	
</apex:page>