<apex:page standardController="Web_Search__c" extensions="xcoursesearch_Reorder" showHeader="false" sidebar="false" >
	
	<apex:includeScript value="{!$Resource.jquery}"/> 
	<apex:includeScript value="{!URLFOR($Resource.jQueryUI,'jquery-ui.min.js')}" />
	<apex:stylesheet value="{!URLFOR($Resource.jQueryUI,'jquery-ui.css')}" />
	
	<apex:include pageName="xCourseSearchStyle" />
	
	<style>
		.sortableClientStage {
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 98%;
		}

		.sortableClientStage li {
			cursor: move;
		    color: #666666;
    		font-size: 1em;
		    height: 60px;;
		    margin: 0 3px 3px;
		    padding: 5px;
		    width: 100%;
		}

		
		.sortableClientStage li span {
			position: absolute;
		}
		
		
	</style>
	
	<script>
		 function showOrderClientStage(){
            var result = '';
            jQuery(".sortableClientStage").each(function(){
                result += jQuery(this).sortable('toArray')+',';
            });             
            reorderClientStageList(result);
        }
		
		 jQuery(function() {
            jQuery(".sortableClientStage").sortable({
                stop: function(event, ui) {
                    jQuery('#saveClientStageBtn').css('display','');
                }
            });
    
            jQuery(".sortableClientStage").disableSelection();
        });
	</script>
	
	<apex:form >
		<apex:actionFunction name="reorderClientStageList" action="{!saveReorderedCourses}" oncomplete="parent.reorderCoursesCart();">
			<apex:param value="" name="listtoOrder" />
		</apex:actionFunction>
	
		<div style="margin-bottom: 59px;">
			<ul class="sortableClientStage">
				<apex:repeat value="{!coursesOrdered}" var="cl">
					<li id="{!cl.id}" class="ui-state-default">
						<apex:outputPanel rendered="{!NOT(cl.isCustomCourse__c)}" layout="none">
							<apex:outputText value="{!cl.Campus_Course__r.Campus__r.Name}" style="font-weight:bold;" /> <br />
							<apex:outputText value="{!cl.Campus_Course__r.Course__r.Name}" /> 	<br />
							<apex:outputText value="{!cl.Number_of_Units__c} {!cl.Unit_Type__c}s" style="color:gray; font-size:0.8em;"/> <br />
							<apex:outputText value="({!cl.Campus_Course__r.Campus__r.BillingCountry} - {!cl.Campus_Course__r.Campus__r.BillingCity})" style="font-size:0.8em; color: #999;" /> 	
						</apex:outputPanel>
						<apex:outputPanel rendered="{!cl.isCustomCourse__c}" layout="none">
							<apex:outputText value="{!cl.Custom_Campus__c}" style="font-weight:bold;" /> <br />
							<apex:outputText value="{!cl.Custom_Course__c}" /> <br />
							<apex:outputText value="({!cl.Custom_Country__c} - {!cl.Custom_City__c})" style="font-size:0.8em; color: #999;" /> 	
						</apex:outputPanel>
						
					</li>
				</apex:repeat>
			</ul>
		</div>
		<div id="saveClientStageBtn" style="text-align:center;width:100%;clear:both;padding-top:15px;bottom: 1px;position: fixed; background-color: #E1E1E1; height: 29px;">
			<apex:outputLabel value="Save" onclick="showOrderClientStage();" styleClass="agencyButton" />
			<apex:commandLink onclick="parent.closeModalWindow(); return false;" value="Cancel" styleClass="agencyButton" />
		</div>
	</apex:form>
</apex:page>