<template>
    <lightning-card title={title} icon-name="custom:custom15">
        <div class="slds-m-around_medium">   
            <div if:true={showNoResult} class="slds-text-color_destructive slds-align_absolute-center">
                No result found
            </div>                  
            <canvas class="doch" lwc:dom="manual"></canvas>                    
        </div>
    </lightning-card>    
</template>