<template>         
    <template if:true={isInicial} class="slds-m-around_medium">    
        <lightning-card title="Students Queue" icon-name="standard:queue">
             <!--<div class="slds-clearfix slds-m-bottom_small" >  
                <div class="slds-align_absolute-center">                  
                   <lightning-input type="search" label="Agency" autocomplete="off"  class="slds-m-bottom_small"
                    onmouseover={handleExit} required={reqAgency} 
                    onblur={handleAgencyBlur} onfocus={handleAgencyFocus}  
                    onchange={handleAgencyChange} value={agencySelected} ></lightning-input>
                    <template if:true={isAgency} >             
                        <lightning-layout class="cls-layout">            
                            <lightning-layout-item padding="around-medium"> 
                                <div class="slds-m-around_medium">
                                    <div class="container-parents" onmouseleave={handleExit}>                                       
                                        <div for:each={crsAgency} key={naa.label} for:item="naa" class="itemParent">                            
                                            <div key={naa.label} data-item={naa.value} data-value={naa.label} class="itemVl cls-parent" onclick={handleAgencyClicked}>{naa.value}</div>                                                            
                                        </div> 
                                    </div>
                                </div>                   
                            </lightning-layout-item> 
                        </lightning-layout>                                      
                    </template>
                </div>                
            </div>  -->
            <div class="slds-clearfix slds-m-bottom_xx-large" >  
                <div class="slds-align_absolute-center">                  
                    <button class="slds-button slds-button_neutral" title="Refresh the Queue" onclick={handleRefresh}>
                        <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                          <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#refresh"></use>
                        </svg>Refresh
                    </button>
                </div>                
            </div>
            <!-- {agency} -->
            <div if:false={fromQueue}>                
                <div class="slds-m-around_medium slds-clearfix slds-m-bottom_xx-large" >  
                    <div class="slds-float_right">
                        <lightning-button label="New" variant="brand" icon-name="utility:new" class="slds-button" title="Open Form New client" onclick={handleNewForm}></lightning-button> 
                    </div>
                </div>
                <div style="height: 300px;" class="slds-m-around_medium">               
                    <lightning-datatable               
                        key-field="id"  
                        hide-checkbox-column="true"
                        data={wiredQueue.data}
                        columns={columns1}                            
                        onrowaction={handleRowAction}>
                    </lightning-datatable>                
                </div>  
            </div>           
            <div if:true={fromQueue} style="height: 300px;" class="slds-m-around_medium">                
                <lightning-datatable               
                    key-field="id"  
                    hide-checkbox-column="true"
                    data={wiredQueue.data}
                    columns={columns}                                            
                    onrowaction={handleRowAction}>
                </lightning-datatable>                
            </div>            
        </lightning-card>
    </template>    
    <template if:true={editForm}>           
        <c-front-desk-form rec-contact={contactRec} isnewstudent={isnewstudent} ></c-front-desk-form>        
    </template> 
    <template if:true={bShowModal} >        
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">                        
                    <h2 id="modal-heading-01" class="slds-text-heading_small slds-hyphenate">Delete Client from the Queue</h2>
                </header>
                <div class="slds-modal__content slds-p-around_small" id="modal-content-id-1">
                    <p style="font-weight: bolder; font-size: small" >Are you sure you want to delete?</p>  
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal}>Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={confirmModal}>Confirm</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>       
    </template> 
</template>