<template>
    
    <template if:true={toast}>               
        <c-toast-message vmsg={msgToast} vtype={typeToast} onclose={handleClose} ></c-toast-message>                   
    </template>
    <lightning-card title="Queue Password" icon-name="standard:password" >
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                <lightning-input name="password" label="Passwork" value={passwordSelected} onchange={handleFieldsChange} class="slds-m-bottom_x-small"></lightning-input>
            </div>
            <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12 slds-m-top_large slds-align_absolute-center">
                <div if:true={isPswChanged}>
                    <lightning-button label="save" variant="brand" icon-name="utility:save" title="Save" class="slds-button" onclick={handleSave}></lightning-button>
                </div>
            </div>
        </div>         
    </lightning-card>
    <div class="slds-m-top_small"></div>
    <lightning-card title="Settings" icon-name="utility:settings" >
        <div class="slds-m-around_medium ">
            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12" >
                    <lightning-input type="search" label="Type Client" autocomplete="off" onmouseover={handleExit} required={reqClient}  onfocus={handleClientFocus} onblur={handleClientBlur} 
                         onchange={handleClientChange} value={searchClient} class="slds-m-bottom_small"></lightning-input>
                    <template if:true={isClient} >             
                        <lightning-layout class="cls-layout" >            
                            <lightning-layout-item padding="around-medium"> 
                                <div class="slds-m-around_medium" >
                                    <div class="container-parents" onmouseleave={handleExit}>
                                        <div for:each={tpClient} key={naa.value} for:item="naa" class="itemParent">                            
                                            <div key={naa.value} data-item={naa.value} data-value={naa.label} 
                                            class="itemVl cls-parent" onclick={handleClientClicked}>{naa.label}</div>                                                            
                                        </div>   
                                    </div>
                                </div>                   
                            </lightning-layout-item> 
                        </lightning-layout>                                   
                    </template>
                </div>    
                <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                    <lightning-input type="search" label="Owner" autocomplete="off" onmouseover={handleExit} required={reqOwner}  
                    onblur={handleUserBlur} onfocus={handleUserFocus} onchange={handleUserChange} value={searchUser} class="slds-m-bottom_small"></lightning-input>
                    <template if:true={isUse} >             
                        <lightning-layout class="cls-layout">            
                            <lightning-layout-item padding="around-medium"> 
                                <div class="slds-m-around_medium">
                                    <div class="container-parents" onmouseleave={handleExit}>
                                        <div for:each={crsUser} key={naa.label} for:item="naa" class="itemParent">                            
                                            <div key={naa.label} data-item={naa.value} data-value={naa.label} class="itemVl cls-parent" onclick={handleUserClicked}>{naa.value}</div>                                                            
                                        </div>   
                                    </div>
                                </div>                   
                            </lightning-layout-item> 
                        </lightning-layout>                                   
                    </template>
                </div>
                <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">                    
                    <lightning-input type="search" label="Nationality" autocomplete="off" onmouseover={handleExit} required={reqNat} onblur={handleNatBlur} onfocus={handleNationalityFocus}  onchange={handleNationalityChange} value={searchNationality} class="slds-m-bottom_small" ></lightning-input>
                    <template if:true={isNat} >             
                        <lightning-layout class="cls-layout">            
                            <lightning-layout-item padding="around-medium"> 
                                <div class="slds-m-around_medium">
                                    <div class="container-parents" onmouseleave={handleExit}>
                                        <div for:each={crsNationality} key={naa} for:item="naa" class="itemParent">                            
                                            <div key={naa} data-item={naa} class="itemVl cls-parent" onclick={handleNationalityClicked}>{naa}</div>                                                            
                                        </div>   
                                    </div>
                                </div>                   
                            </lightning-layout-item> 
                        </lightning-layout>                                      
                    </template>               
                </div> 
                <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">                        
                    <lightning-input name="schVisa" type="search" autocomplete="off" onmouseover={handleExit} label="Visa type" required={reqVisa} onchange={handleVisaTypeChange}  
                    onfocus={handleTypeVisaFocus} value={searchVisaType} onblur={handleVisaBlur}  class="slds-m-bottom_small"></lightning-input>
                    <template if:true={isVisa}>
                        <lightning-layout class="cls-layout">            
                            <lightning-layout-item padding="around-medium"> 
                                <div class="slds-m-around_medium">
                                    <div class="container-parents" onmouseleave={handleExit}>
                                        <div for:each={crsTypeVisa} key={naa} for:item="naa" class="itemParent">                            
                                            <div key={naa} data-item={naa} class="itemVl cls-parent" onclick={handleVisaTypeClicked}>{naa}</div>                                                            
                                        </div>   
                                    </div>
                                </div>                   
                            </lightning-layout-item> 
                        </lightning-layout>
                    </template>  
                </div>  
                <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                    <lightning-input type="search" label="Email Sender" autocomplete="off" onmouseover={handleExit} required={reqSender} onblur={handleSenderBlur} onfocus={handleUserSenderFocus} onchange={handleUserSenderChange} value={searchUserSender} class="slds-m-bottom_small"></lightning-input>
                    <template if:true={isUserSender} >             
                        <lightning-layout class="cls-layout">            
                            <lightning-layout-item padding="around-medium"> 
                                <div class="slds-m-around_medium">
                                    <div class="container-parents" onmouseleave={handleExit}>
                                        <div for:each={crsUserSender} key={naa.label} for:item="naa" class="itemParent">                            
                                            <div key={naa.label} data-item={naa.value} data-value={naa.label} class="itemVl cls-parent" onclick={handleUserSenderClicked}>{naa.value}</div>                                                            
                                        </div>   
                                    </div>
                                </div>                   
                            </lightning-layout-item> 
                        </lightning-layout>                                   
                    </template>
                </div>
                <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12"></div>
                <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">                                               
                    <lightning-input type="search" label="Email Template (New Lead)" onmouseover={handleExit} autocomplete="off" disabled={isNewOrAll} required={reqNew} onblur={handleNewBlur} onfocus={handleTemplateFocus} onchange={handleTemplateChange} value={searchTemplate} class="slds-m-bottom_small" ></lightning-input>
                    <template if:true={isTem} >             
                        <lightning-layout class="cls-layout">            
                            <lightning-layout-item padding="around-medium"> 
                                <div class="slds-m-around_medium">
                                    <div class="container-parents" onmouseleave={handleExit}>
                                        <div for:each={crsTemplate} key={naa.label} for:item="naa" class="itemParent">                            
                                            <div key={naa.label} data-item={naa.value} data-value={naa.label} class="itemVl cls-parent" onclick={handleTemplateClicked}>{naa.value}</div>                                                            
                                        </div> 
                                    </div>
                                </div>                   
                            </lightning-layout-item> 
                        </lightning-layout>
                    </template>                    
                </div>
                
                <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">                    
                    <lightning-input type="search" label="Email Template (Existing Contacts - not clients)" onmouseover={handleExit} autocomplete="off" disabled={isExistingOrAll}  onblur={handleExistingBlur} required={reqExisting} onfocus={handleTemplateExistFocus} onchange={handleTemplateExistChange} value={searchTemplateExist} class="slds-m-bottom_small" ></lightning-input>
                    <template if:true={isTemExist} >             
                        <lightning-layout class="cls-layout">            
                            <lightning-layout-item padding="around-medium"> 
                                <div class="slds-m-around_medium">
                                    <div class="container-parents" onmouseleave={handleExit}>
                                        <div for:each={crsTemplateExist} key={naa.label} for:item="naa" class="itemParent">                            
                                            <div key={naa.label} data-item={naa.value} data-value={naa.label} class="itemVl cls-parent" onclick={handleTemplateExistClicked}>{naa.value}</div>                                                            
                                        </div> 
                                    </div>
                                </div>                   
                            </lightning-layout-item> 
                        </lightning-layout>
                    </template>                   
                </div>  
                
                <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">                    
                    <lightning-input type="search" label="Email Template (Offshore Arrival)" onmouseover={handleExit} autocomplete="off"   
                    onblur={handleOffshoreBlur} required={reqOffshore} value={searchTemplateOffshore} disabled={isOffshoreOrAll}
                    onfocus={handleTemplateOffshoreFocus} onchange={handleTemplateOffshoreChange}  class="slds-m-bottom_small" ></lightning-input>
                    <template if:true={isOffshore} >             
                        <lightning-layout class="cls-layout">            
                            <lightning-layout-item padding="around-medium"> 
                                <div class="slds-m-around_medium">
                                    <div class="container-parents" onmouseleave={handleExit}>
                                        <div for:each={crsTemplateOffshore} key={naa.label} for:item="naa" class="itemParent">                            
                                            <div key={naa.label} data-item={naa.value} data-value={naa.label} class="itemVl cls-parent" 
                                            onclick={handleTemplateOffshoreClicked}>{naa.value}</div>                                                            
                                        </div> 
                                    </div>
                                </div>                   
                            </lightning-layout-item> 
                        </lightning-layout>
                    </template>                   
                </div>    

                <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                    <lightning-input type="search" label="Client Stages" autocomplete="off" onmouseover={handleExit}  required={reqClientStages}                   
                    onfocus={handleClientStagesFocus} onblur={handleClientStagesBlur} disabled={isOffshoreOrAll} onchange={handleClientStagesChange} value={searchClientStages} class="slds-m-bottom_small"></lightning-input>
                    <template if:true={isClientStages} >             
                        <lightning-layout class="cls-layout">            
                            <lightning-layout-item padding="around-medium"> 
                                <div class="slds-m-around_medium">
                                    <div class="container-parents" onmouseleave={handleExit}>
                                        <div for:each={crsClientStages} key={naa.label} for:item="naa" class="itemParent">                            
                                            <div key={naa.label} data-item={naa.value} data-value={naa.label} class="itemVl cls-parent" 
                                            onclick={handleClientStagesClicked}>{naa.value}</div>                                                            
                                        </div>   
                                    </div>
                                </div>                   
                            </lightning-layout-item> 
                        </lightning-layout>                                   
                    </template>
                </div>

                <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                    <lightning-input type="search" label="Assigning Task To" autocomplete="off" onmouseover={handleExit} 
                    onfocus={handleAssigningFocus} onchange={handleAssigningChange} value={searchAssigning} class="slds-m-bottom_small"></lightning-input>
                    <template if:true={isAssigning} >             
                        <lightning-layout class="cls-layout">            
                            <lightning-layout-item padding="around-medium"> 
                                <div class="slds-m-around_medium">
                                    <div class="container-parents" onmouseleave={handleExit}>
                                        <div for:each={crsAssigning} key={naa.label} for:item="naa" class="itemParent">                            
                                            <div key={naa.label} data-item={naa.value} data-value={naa.label} class="itemVl cls-parent" 
                                            onclick={handleAssigningClicked}>{naa.value}</div>                                                            
                                        </div>   
                                    </div>
                                </div>                   
                            </lightning-layout-item> 
                        </lightning-layout>                                   
                    </template>
                </div>
                <div class="slds-col slds-p-horizontal_small slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12" >
                    <lightning-input type="number" value={duoDateSelected} onchange={handleDuoDateChange} label="Due Date" min="0" max="30" maxlength="2" ></lightning-input>
                </div>                 
            </div>
        </div>
        <div class="slds-align_absolute-center slds-m-around_medium" >
            <lightning-button label="Add" variant="brand" icon-name="utility:add" title="Add" class="slds-button" onclick={handleAdd}></lightning-button>               
        </div> 
        <div if:true={isChange} class="slds-align_absolute-center">     
            <lightning-button label="Cancel" variant="brand" title="Cancel" class="slds-button" onclick={handleCancelSettings}></lightning-button> 
            <lightning-button label="Save" variant="brand" icon-name="utility:save" title="Save" class="slds-button" onclick={handleSubmit}></lightning-button>         
        </div> 
        <div if:true={isTab} class="slds-m-around_medium">                            
            <template for:each={arrayParent} for:item="parent">
                <div key={parent.user.value}  class="cls-border-table slds-p-left_x-large slds-p-right_x-large">                                          
                    <table key={parent.user.value} class="slds-table slds-m-top_medium slds-m-bottom_medium slds-border_bottom">
                        <tr class="slds-border_bottom">
                            <th class="caption-th-label"> 
                                Type Client: 
                            </th>
                            <th class="caption-th">
                                {parent.tpclient.label}
                            </th>
                            <th></th>
                        </tr> 
                        <tr class="slds-border_bottom">
                            <th class="caption-th-label"> 
                                Owner: 
                            </th>
                            <th class="caption-th">
                                {parent.user.value}
                            </th>
                            <th></th>
                        </tr> 
                        <tr class="slds-border_bottom">
                            <th class="caption-th-label">
                                Template (New Lead): 
                            </th>
                            <th class="caption-th">
                                {parent.template.value}
                            </th>
                            <th></th> 
                        </tr>
                        <tr class="slds-border_bottom">
                            <th class="caption-th-label">
                                Template (Existing Contacts (not clients)): 
                            </th>
                            <th class="caption-th">
                                {parent.templateExist.value}
                            </th>
                            <th></th> 
                        </tr> 
                        <tr class="slds-border_bottom">
                            <th class="caption-th-label">
                                Template (Offshore Arrival):
                            </th>
                            <th class="caption-th">
                                {parent.templateOffshore.value}
                            </th>
                            <th></th> 
                        </tr>
                        <tr class="slds-border_bottom">
                            <th class="caption-th-label">
                                Email Sender: 
                            </th>
                            <th class="caption-th">
                                {parent.emailsender.value}
                            </th>
                            <th></th> 
                        </tr>
                        <tr class="slds-border_bottom">
                            <th class="caption-th-label">
                                Assigning To:
                            </th>
                            <th class="caption-th">
                                {parent.AssigningTo.value}
                            </th>
                            <th></th> 
                        </tr>  
                        <tr class="slds-border_bottom">
                            <th class="caption-th-label">
                                Due Date:
                            </th>
                            <th class="caption-th">
                                {parent.DuoDate}
                            </th>
                            <th></th> 
                        </tr>   
                        <tr class="slds-border_bottom">
                            <th class="caption-th-label">
                                Client Stages:
                            </th>
                            <th class="caption-th">
                                {parent.ClientStages.value}
                            </th>
                            <th></th> 
                        </tr>               
                        <tr class="slds-border_right slds-border_left">
                            <th class="caption-th-label">
                                Nationalities:
                            </th>    
                            <th></th> 
                            <th></th>                                            
                        </tr>                                                
                        <template for:each={parent.paises} for:item="pais">                            
                            <tr key={pais} class="slds-border_right slds-border_left">
                                <td></td>
                                <td class="caption-th">{pais}</td>
                                <td class="caption-th-button slds-text-align_left">
                                    <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right" value={pais} data-item={parent.user.value} onclick={handleDeleteNationality} title="Delete Nationality">
                                        <svg class="slds-button__icon slds-icon-text-light" aria-hidden="true">
                                            <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#ban"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Delete Nationality</span>                                
                                    </button>
                                </td>
                            </tr>                                
                        </template>
                        
                        <tr class="slds-border_right slds-border_left slds-border_top">
                            <th class="caption-th-label">
                                Visa Types:
                            </th>    
                            <th></th> 
                            <th></th>                                            
                        </tr>                                                
                        <template for:each={parent.visas} for:item="visa">                            
                            <tr key={visa} class="slds-border_right slds-border_left">
                                <td></td>
                                <td class="caption-th">{visa}</td>
                                <td class="caption-th-button slds-text-align_left">
                                    <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right" value={visa} data-item={parent.user.value} onclick={handleDeleteVisa} title="Delete Visa">
                                        <svg class="slds-button__icon slds-icon-text-light" aria-hidden="true">
                                            <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#ban"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Delete visa Type</span>                                
                                    </button>
                                </td>
                            </tr>                                
                        </template> 
                    </table>  
                </div>                                   
            </template>                                                     
        </div>
        <div if:true={isChange} class="slds-align_absolute-center" >     
            <lightning-button label="Cancel" variant="brand" title="Cancel" class="slds-button" onclick={handleCancelSettings}></lightning-button> 
            <lightning-button label="Save" variant="brand" icon-name="utility:save" title="Save" class="slds-button" onclick={handleSubmit}></lightning-button> 
        </div>                      
    </lightning-card> 
    <template if:true={bShowModal}>        
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">                        
                    <h2 id="modal-heading-01" class="slds-text-heading_small slds-hyphenate">Delete Owner Setting</h2>
                </header>
                <div class="slds-modal__content slds-p-around_small" id="modal-content-id-1">
                    <p style="font-weight: bolder; font-size: small" >Are you sure you want to delete the Owner Setting?</p>  
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal}>Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={confirmModal}>Confirm</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>       
    </template>    

</template>