<template>
    <div class="slds-grid slds-gutters">
        <div class="slds-col" style="align-content: flex-end" >                
            <lightning-input autocomplete="off" onmouseover={handleExit} type="search"
                    onchange={handleCriteriaChange} value={criteriaValue} name={seaName} 
                    data-item={eName} data-value={category}
                    onfocus={handleCriteriaFocus} class="iptLine"></lightning-input>
            <template if:true={isCriteria}>
                <lightning-layout class="cls-layout">            
                    <lightning-layout-item padding="around-medium"> 
                        <div class="slds-m-around_medium">
                            <div class="container-parents" onmouseleave={handleExit}>
                                <div for:each={crsCriteria} key={naa.label} for:item="naa" class="itemParent" >
                                    <div key={naa.label} data-value={naa.label} data-item={naa.value}  id={naa.label}
                                    class="itemVl cls-parent" onclick={handleCriteriaClicked}>{naa.value}</div>
                                </div>   
                            </div>
                        </div>                   
                    </lightning-layout-item> 
                </lightning-layout>
            </template>
        </div>
    </div>
</template>